{{ attach_library('delta_theme/homepage-video') }}


{% set bgimage_src_real = video_bg_url %}
{% set data_src = "" %}
{% if video_lazyload == 'lazy-load-on' %}  
  {% set bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
  {% set data_src = video_bg_url %}
{% endif %}

<div class="homepage_video video_wrapper {{ video_lazyload }}">
  <div class="overlay-container backgroundimage" style="background-image: url('{{ bgimage_src_real }}')" data-src="{{ data_src }}"  id="overlay-0f873857-22ff-4297-96bc-ebd237705902"></div>

  <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item home-panel-3-video video_panel" id="video-0f873857-22ff-4297-96bc-ebd237705902">
        
      </video>
  </div>

  <div id="video-title-0f873857-22ff-4297-96bc-ebd237705902" class="video-title-container text-center animated zoomIn" style="display: block;">
      <h2>{{video_title}}</h2>
      <h5>{{video_disc}}</h5>
      <button class="home-button_playback play_button_video" id="button-0f873857-22ff-4297-96bc-ebd237705902" data-src-mp4="{{video_url}}" data-src-webm="{{video_url_webm}}" style="display: inline-block;">
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: "play",
          icon_size: 100,
          hidden: true,
        } %}
      </button>
  </div>
</div>



