{% set video_src_base_class = video_src_base_class|default('video-with-src') %}

<div class="video-wrapper">
  <video {{ bem(video_src_base_class) }} controls preload="none" width="50%" controlslist="nodownload" poster="{{video_thumb_url}}">
   {% block video_content %}
    {% if video_url %}
      <source src="{{ video_url }}" type='video/mp4' />
    {% endif %}
    {% if video_url_webm %}
      <source src="{{ video_url_webm }}" type='video/webm' />
    {% endif %}
   {% endblock %}
  </video>
</div>
