{{ attach_library('delta_theme/video-on-click') }}

<div class="video-wrapper">
  <div class="video-image-wrapper" id="video-image-wrapper" style="background:url(' {{ poster_image }} ')">
    <div class="video-image">
    </div>
    <div class="video-button" id="play_button">
     {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: "play",
        icon_size: 100,
        hidden: true,
      } %}
    </div>
    {% if video_title %}
    <div class="video-title">
      {{ video_title }}
    </div>
    {% endif %}
  </div>

  <div class="video-block" id="video-block">

    {% include "@atoms/08-video/video.twig" %}

  </div>

</div>
