{% set pdp_prod_model_base_class = pdp_prod_model_class|default('product-model') %}
{% if pdp_model_name %}
 <div {{ bem(pdp_prod_model_base_class, (pdp_prod_model_modifiers), pdp_prod_model_blockname) }}>
   model#: {{ pdp_model_name }}
 </div>
{% endif %}
