.pull__quotes_wrapper {
  text-align: center;
  background: $gray-20 !important;
  color: $white;
  padding: 80px 64px;

  .quote__content {
    text-transform: unset;
    font-size: 32px;
    color: $white;
    font-family: $font-subheading;
    font-weight: normal;
    line-height: 40px;
    font-style: italic;
    letter-spacing: 0;
    max-width: 973px;
    margin: auto;
    width: 100%;

    p {
      margin: 0;
    }
  }

  .quote__author {
    font-size: 18px;
    font-family: $font-condensed;
    text-transform: uppercase;
    padding-top: 12px;
    border-top: 2px solid $gray-40;
    display: inline-block;
    line-height: 21px;
    margin: 25px 0 0;
    letter-spacing: 1.8px;
  }

  &.grey-10 {
    background-color: $gray-10;
  }

  &.grey-20 {
    background-color: $gray-20;
  }

  &.white {
    background-color: $white;
    color: $black;

    .quote__content {
      color: $black;
    }
  }

  &.align-left {
    text-align: left;

    .quote__content {
      max-width: none;
    }
  }

  @include maxbp($large) {
    .quote__content {
      font-size: 1.44rem;
    }
  }

  .link--cta-link {
    color: $white;
  }
}
