.video-banner {
  position: relative;

  .video {
    padding-top: 0;
    opacity: 0;
    z-index: -1;
  }

  &.is-playing .video {
    opacity: 1;
    z-index: 10;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-banner__play {
  padding: 0;
  border: 0;
  background: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  display: block;

  i {
    font-size: 90px;

    &::before {
      color: $white;
      opacity: 1;
      margin: 0;
    }

    @include maxbp($large) {
      font-size: 2.5vw;
    }
  }

  &:hover {
    .banner-play-icon {
      transform: scale(1.2);

      @include maxbp($medium) {
        transform: none;
      }
    }
  }
}

.thumbnail_video {
  i {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 6.25vw;

    &:hover {
      font-size: 10.25vw;
    }
  }
}

.video-banner__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  background-position: center;
  background-size: cover;
  padding-left: 24px;
  padding-right: 24px;

  .is-playing & {
    opacity: 0;
  }

  .video_content {
    position: absolute;
    padding-bottom: 4%;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.video-banner__title {
  font-family: $font-condensed;
  font-size: 4.25rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 1rem;
  line-height: 1;
}

.video-banner__subtitle {
  font-family: $font-heading;
  font-size: 2.488rem;
  line-height: 1;
  font-weight: italic;
  margin: 0;
}

body:not(.path-frontpage) .banner-play-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.banner-play-icon {
  width: 78px;
  height: 78px;
  transition: all 1s;
  transform-origin: 50% 50%;

  @include maxbp($medium) {
    width: 60px;
    height: 60px;
  }
}

@include maxbp($large) {
  .video-banner__title {
    font-size: 1.44rem;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .video-banner__subtitle {
    font-size: 1rem;
    line-height: 19px;
    margin-top: 5px;
  }
}

.embedded-video-wrapper {
  position: relative;

  iframe {
    width: 100%;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    &:focus {
      outline: 0;
    }

    @media (min-width: 1024px) {
      height: 400px;
    }

    @include maxbp($tab-min) {
      height: 300px;
    }
  }
}

.layout__region--content {
  .block {
    &:nth-of-type(2) {
      .video-banner-content {
        width: 100%;
      }
    }
  }
}

.video-banner-content {
  position: relative;
}

.embedded-play-icon {
  position: absolute;
  width: 96px;
  height: 96px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#embedded-video-iframe {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 0;
  overflow: hidden;

  &.hide-video-iframe {
    z-index: 0;
    padding-bottom: 56.25%;
  }
}

#embedded-video-iframe iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
