{{ attach_library('brizo_theme/video-banner') }}
{% set method_suffix = random() %}
<div class="embedded-video-wrapper" aria-hidden="false" id="video-picture-{{ method_suffix }}">
  <div class="video-banner-content">
    <img class="embedded-poster" src="{{ video_poster_url }}" alt="{{ 'Thumbnail image'|t }}"/>
    <img class="embedded-play-icon" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" alt="{{ 'Play icon'|t }}"/>
  </div>
  <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
</div>
{% if video_banner_title.0 is not empty%}
  <div class="video_content">
  {% if video_banner_title.0 is not empty %}
    <h1 class="video-banner__title">{{ video_banner_title }}</h1>
  {% endif %}
  {% if video_banner_subtitle.0 is not empty %}
    <p class="video-banner__subtitle">{{ video_banner_subtitle }}</p>
  {% endif %}
  </div>
{% endif %}

<script>
  var picture = document.getElementById("video-picture-{{ method_suffix }}");
  // You have to put focus on the atag (or any element that you want to have for you onkeydown event.
  picture.focus();
  // Now your event will work
  picture.onkeydown = function() {
    jQuery(picture).find('.video-banner-content').hide();
    myFunction{{ method_suffix }}();
  }
  picture.onclick = function() {
    if(jQuery('.embedded-video-wrapper').length > 1){
      jQuery(".video-banner-content").show();
      jQuery(this).find('.video-banner-content').hide();
      videoPlay{{ method_suffix }}();
    } else{
      jQuery(picture).find('.video-banner-content').hide();
      myFunction{{ method_suffix }}();
    }
    var $video = jQuery('#player');
    src = $video.attr('src');
    $video.attr('src', src + 'autoplay=1');
  }

  function myFunction{{ method_suffix }}() {
    //video-banner-content
    jQuery("#player").remove();
    document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'></div>";
    // This code loads the IFrame Player API code asynchronously.
    if (jQuery('script[src="https://www.youtube.com/iframe_api"]').length <= 0) {
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }
    onYouTubeIframeAPIReady();
  }

  var player;
  var autoplay = "{{ autoplay_video }}";
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      host: 'https://www.youtube.com',
      height: '480',
      width: '854',
      videoId: '{{ video_id }}',
      playerVars: { 'autoplay': 1, 'rel': 0 , 'origin' : window.location.href},
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    if(autoplay == 1){
      event.target.playVideo();
    }
  }
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }

  function videoPlay{{ method_suffix }}() {
    var siteLocation = window.location.href;
    jQuery("#playerNew").remove();
    document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = '<div id="playerNew"><iframe id="player" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="The Essential™ Shower Series: Linear Square" width="854" height="480" src="https://www.youtube.com/embed/{{video_id}}?"></iframe></div>';
  }
</script>