{% set method_suffix = random() %}
{% set is_mobile = data.is_mobile %}
{% if is_mobile %}
  {% if video_banner_src_mobile %}
    {% set video_banner_src = video_banner_src_mobile %}
  {% endif %}
  {% if video_banner_oembed_url_mobile %}
    {% set video_banner_oembed_url = video_banner_oembed_url_mobile %}
  {% endif %}
  {% if video_banner_thumbnail_mobile_alt %}
    {% set video_banner_thumbnail_alt = video_banner_thumbnail_mobile_alt %}
  {% endif %}
{% endif %}

{% if video_banner_autoplay == false %} 
<div class="play-icon" id="{% if video_banner_oembed_url is not empty %}youtube-play-{{method_suffix}}{% else %}thumbnail-icon-image-{{method_suffix}}{% endif %}">
  <div class="bt-container"><span class="btn play_button"></span></div>
</div>
{% endif %}

{% if video_banner_oembed_url is not empty %}
  {% if 'youtube' in video_banner_oembed_url|lower  %}
    {% set youtubeid = video_banner_oembed_url|split('=', 2)[1] %}
  {% endif %}
  {% if 'vimeo' in video_banner_oembed_url|lower  %}
    {% set vimeoid = video_banner_oembed_url|split('=', 2)[1] %}
  {% endif %}
  <div id="video-embed-container-{{ method_suffix }}" class="video-container youtube-player" data-id="{{ youtubeid }}" >
    {% if (video_banner_thumbnail or video_banner_thumbnail_mobile) %}
      <picture>
        <source srcset="{{ file_url(video_banner_thumbnail) }}" media="(min-width: 767px)">
        <source srcset="{{ file_url(video_banner_thumbnail) }}" media="(max-width: 766px)">
        <img id="video_banner_thumbnail" class="embed-thumbnail" src="{{ file_url(video_banner_thumbnail) }}" alt="{{ video_banner_thumbnail_alt }}" />
      </picture>
    {% endif %}
    {% if youtubeid  %}
      <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}" ></div>
    {% endif  %}
  </div>
{% else %}
  {% if video_banner_src %} 
    {% if (video_banner_thumbnail or video_banner_thumbnail_mobile) %}
      <picture id="pic{{ method_suffix }}">
        <source srcset="{{ file_url(video_banner_thumbnail) }}" media="(min-width: 767px)">
        <source srcset="{{ file_url(video_banner_thumbnail) }}" media="(max-width: 766px)">
        <img id="video_banner_thumbnail" class="embed-thumbnail" src="{{ file_url(video_banner_thumbnail) }}" alt="{{ video_banner_thumbnail_alt }}" />
      </picture>
    {% endif%}
    <video id="background-video-{{ method_suffix }}" class="hero-video" preload="" {{ video_banner_muted }} {% if video_banner_autoplay %} autoplay {% endif %} playsinline="" {% if video_banner_loop %} loop {% endif %}>
      <source src="{{ file_url(video_banner_src) }}" type="video/mp4"></source>
    </video>
  {% endif%}
{% endif%}

<div id="banner_video_controls-{{ method_suffix }}" class="banner_video_controls video_controls_{{ video_banner_controls }}">
  <button type="button" id="play_button-{{ method_suffix }}" class="btn play_button disable">PLAY</button>
  <button type="button" id="pause_button-{{ method_suffix }}" class="btn pause_button{% if video_banner_autoplay == false %} disable{% endif %}">PAUSE</button>
  {% if video_banner_modal %}
    <button id="background-video-modal-link-{{ method_suffix }}" class="modal-button">Open Modal</button>
  {% endif %}
</div>

{% if youtubeid  %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
<script>

  const video{{method_suffix}} = document.getElementById("background-video-{{ method_suffix }}");
  const videoModal{{method_suffix}} = document.getElementById("modal-background-video-{{ method_suffix }}");
  const thumbnailImage{{method_suffix}} = document.getElementById("thumbnail-icon-image-{{ method_suffix }}");
  const thumbnailButton{{method_suffix}} = document.getElementById("youtube-play-{{ method_suffix }}");
  const videoControls{{method_suffix}} = document.getElementById("banner_video_controls-{{ method_suffix }}");
  const playButton{{method_suffix}} = document.getElementById('play_button-{{ method_suffix }}');
  const pauseButton{{method_suffix}} = document.getElementById('pause_button-{{ method_suffix }}');

  const modalButton{{method_suffix}} = document.getElementById("background-video-modal-link-{{ method_suffix }}");
  const modalCloseButton{{method_suffix}} = document.getElementById("modal-close-video-{{ method_suffix }}");
  const modalBox{{method_suffix}} = document.getElementById("modal-video-{{ method_suffix }}");
  const picThumb{{ method_suffix }} = document.getElementById("pic{{ method_suffix }}");

  {% if (video_banner_thumbnail or video_banner_thumbnail_mobile) %}
    videoControls{{method_suffix}}.style.display = "none";
  {% endif %}

  if(video{{method_suffix}}){
    if((video{{method_suffix}}.querySelector('source').src) != ''){
      const link{{method_suffix}} = document.createElement('link');
      link{{method_suffix}}.href = video{{method_suffix}}.querySelector('source').src;
      link{{method_suffix}}.rel = 'prefetch';
      link{{method_suffix}}.as = 'document';
      document.getElementsByTagName('head')[0].appendChild(link{{method_suffix}});
    }
  }

  if(thumbnailImage{{method_suffix}} != null ){
    videoControls{{method_suffix}}.style.display = "none";
    thumbnailImage{{method_suffix}}.onclick = function() {
      videoControls{{method_suffix}}.style.display = "block";
      thumbnailImage{{method_suffix}}.style.display = "none";

      {% if youtubeid %}

      {% else %}
        {% if video_banner_modal %}
          videoModal{{method_suffix}}.play();
          thumbnailImage{{method_suffix}}.style.display = "block";
          videoControls{{method_suffix}}.style.display = "none";
          document.getElementById("background-video-modal-link-{{ method_suffix }}").addEventListener('click', event => {
            modalBox{{method_suffix}}.style.display = "block";
          });
          document.getElementById("background-video-modal-link-{{ method_suffix }}").click();
        {% else %}
          playButton{{method_suffix}}.classList.add("disable");
          pauseButton{{method_suffix}}.classList.remove("disable");
          jQuery(thumbnailImage{{method_suffix}}).hide();
          jQuery(picThumb{{ method_suffix }}).hide();
          jQuery(thumbnailImage{{method_suffix}}).find('picture').hide();
          video{{method_suffix}}.play();
        {% endif %}
      {% endif %}
    }
  }

  function togglePlay{{method_suffix}}() {
    jQuery(thumbnailImage{{method_suffix}}).hide();
    if (video{{method_suffix}}.paused || video{{method_suffix}}.ended) {
      playButton{{method_suffix}}.classList.add("disable");
      pauseButton{{method_suffix}}.classList.remove("disable");
      video{{method_suffix}}.play();
    } else {
      playButton{{method_suffix}}.classList.remove("disable");
      pauseButton{{method_suffix}}.classList.add("disable");
      video{{method_suffix}}.pause();
    }
  }

  function clickPause{{method_suffix}}() {
    jQuery(thumbnailImage{{method_suffix}}).hide();
    playButton{{method_suffix}}.classList.remove("disable");
    pauseButton{{method_suffix}}.classList.add("disable");
    video{{method_suffix}}.pause();
  }

  playButton{{method_suffix}}.addEventListener('click', togglePlay{{method_suffix}});
  pauseButton{{method_suffix}}.addEventListener('click', clickPause{{method_suffix}});

{% if youtubeid  %}
  videoControls{{method_suffix}}.style.display = "none";
  const footer{{method_suffix}} = videoControls{{method_suffix}}.parentElement;
  setTimeout(function(){
    jQuery(footer{{method_suffix}}).find('.banner__footer').hide();
  }, 2*1000);
  const youtubelink{{method_suffix}} = document.createElement('link');
  youtubelink{{method_suffix}}.href = 'https://www.youtube.com/embed/' + '{{ youtubeid }}';
  youtubelink{{method_suffix}}.rel = 'prefetch';
  youtubelink{{method_suffix}}.as = 'document';
  document.getElementsByTagName('head')[0].appendChild(youtubelink{{method_suffix}});

  var picture = document.getElementById("youtube-play-{{method_suffix}}");

  if(picture != null ){
    // You have to put focus on the atag (or any element that you want to have for you onkeydown event.
    picture.focus();
    // Now your event will work
    picture.onkeydown = function() {

      {% if video_banner_modal %}
        myFunction{{method_suffix}}();
      {% else %}
        jQuery(picture).hide();
        jQuery(picture).find('img').hide();
        jQuery(playButton{{method_suffix}}).hide();
        jQuery(pauseButton{{method_suffix}}).hide();
        myFunction{{method_suffix}}();
      {% endif %}
    }
    picture.onclick = function() {

      {% if video_banner_modal %}
        myFunction{{method_suffix}}();
      {% else %}
        jQuery(picture).hide();
        jQuery(picture).find('img').hide();
        jQuery(playButton{{method_suffix}}).hide();
        jQuery(pauseButton{{method_suffix}}).hide();
        myFunction{{method_suffix}}();
      {% endif %}
    }
  }

  if(thumbnailButton{{method_suffix}} != null ){

    thumbnailButton{{method_suffix}}.onclick = function() {
      jQuery(thumbnailButton{{method_suffix}}).hide();
      jQuery(playButton{{method_suffix}}).hide();
      jQuery(pauseButton{{method_suffix}}).hide();
      myFunction{{method_suffix}}();
      {% if video_banner_modal %}
        document.getElementById("background-video-modal-link-{{ method_suffix }}").click();
      {% endif %}
    }
  }

  function myFunction{{method_suffix}}() {
    //video-banner-content
    jQuery("#player{{ method_suffix }}").remove();
    document.getElementById("video-embed-container-{{method_suffix}}").innerHTML = "<div id='player{{ method_suffix }}'></div>";
    onYouTubeIframeAPIReady{{ method_suffix }}();
  }

  var player{{method_suffix}};
  var autoplay{{method_suffix}} = "1";

  function onYouTubeIframeAPIReady{{ method_suffix }}() {

    var player{{method_suffix}} = document.querySelector('[id*="player{{ method_suffix }}"]');
    var searchPlayer = player{{method_suffix}}.textContent || player{{method_suffix}}.innerText;
    {% if (video_banner_autoplay == true or searchPlayer == '') %} 

      var videoIframePre{{method_suffix}} = '<iframe id="player{{ method_suffix }}" loading="lazy" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="854" height="480" src="https://www.youtube.com/embed/{{ youtubeid }}?rel=0';

      var autoPlayMute = autoPlayMute2 = '&autoplay=1&mute=1';
      {% if video_banner_modal %}
        var autoPlayMute = '';
      {% endif %}

      var loopVideo = '';
      {% if video_banner_loop %}
        var loopVideo = '&version=3&loop=1&playlist={{ youtubeid }}';
      {% endif %}

      var videoIframe{{method_suffix}} = videoIframePre{{method_suffix}} + autoPlayMute + loopVideo + '&enablejsapi=1&widgetid=1"></iframe>';
      document.getElementById("video-embed-container-{{method_suffix}}").innerHTML = videoIframe{{method_suffix}};

      {% if video_banner_modal %}
        var videoIframeModal{{method_suffix}} = videoIframePre{{method_suffix}} + autoPlayMute2 + loopVideo + '&amp;enablejsapi=1&amp;widgetid=1"></iframe>';
        var modalBox{{method_suffix}} = document.getElementById("modal-video-{{ method_suffix }}");
        document.body.appendChild(modalBox{{method_suffix}});
        document.getElementById("modal-video-embed-container-{{ method_suffix }}").innerHTML = videoIframeModal{{method_suffix}};
      {% endif %}
    {% else %}
      if (jQuery('script[src="https://www.youtube.com/iframe_api"]').length <= 0) {
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      }

      player{{method_suffix}} = new YT.Player('player{{ method_suffix }}', {
        host: 'https://www.youtube.com',
        height: '480',
        width: '854',
        videoId: '{{ youtubeid }}',
        playerVars: { 'rel': 0 , 'origin' : window.location.href},
        events: {
          'onReady': onPlayerReady{{ method_suffix }},
          'onStateChange': onPlayerStateChange{{ method_suffix }}
        }
      });
    {% endif %}

  }

  function onPlayerReady{{ method_suffix }}(event) {
    if(autoplay{{method_suffix}} == 1){
      {% if video_banner_autoplay == true %} 
        event.target.mute();
      {% endif %}
      event.target.playVideo();
    }
  }
  var done = false;
  function onPlayerStateChange{{ method_suffix }}(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      done = true;
    }
  }
  function stopVideo() {
    player{{ method_suffix }}.stopVideo();
  }

  {% if video_banner_autoplay == true %}
    function loadVideo{{ method_suffix }}() {
      jQuery(playButton{{method_suffix}}).hide();
      jQuery(pauseButton{{method_suffix}}).hide();
      myFunction{{method_suffix}}();
    }
    window.onload = setTimeout(loadVideo{{ method_suffix }}, 100);

  {% endif %}

{% else %}
  video{{method_suffix}}.currentTime = 0;
  {% if video_banner_autoplay == true %}
    playButton{{method_suffix}}.classList.add("disable");
    pauseButton{{method_suffix}}.classList.remove("disable");
  {% else %}
    playButton{{method_suffix}}.classList.remove("disable");
    pauseButton{{method_suffix}}.classList.add("disable");
    video{{method_suffix}}.pause();
  {% endif %}

  video{{method_suffix}}.addEventListener('ended',videoFinishedHandler,false);
  function videoFinishedHandler(e) {
    playButton{{method_suffix}}.classList.remove("disable");
    pauseButton{{method_suffix}}.classList.add("disable");
  }
{% endif%}

</script>