.sys-breadcrumbs.col--no-padding {
  margin: 0 auto;
  float: none;
  padding: 0 35px;
  .breadcrumb {
	  padding: 10px 0px;
		a {
			text-decoration: none;
			color: #0199D0;
			font-size: 1rem;
		}
		li:first-child:before {
			content: "";
		}
		li:before {
			content: "/";
			color: #676b6e;
		}
	}
}
@media (max-width: 768px) {
	.sys-breadcrumbs.col--no-padding {
		padding: 0 30px;
	}
}