.hero-parallax {
	display: none;
	overflow: hidden;

	@media (min-width: 1150px) {
		position: relative;
		display: block;
		height: calc(100vh - 85px);
		pointer-events: none;
	}
}

.hero-parallax-background {
	padding: 0 0 83.177083333%;
	position: absolute;
	left: 0;
	top: -20%;
	bottom: -100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center top 15%;
	background-attachment: fixed;
	opacity: 0;
  transition: opacity 1s ease-in-out;
	background-size: 125% auto;

	&.is-loaded {
		opacity: 1;
	}
}

.hero-parallax-content {
	position: relative;
	-webkit-backface-visibility: hidden;
	transition: 0.3s ease-in-out;

	&.is-hidden {
		opacity: 0;
	}
}

.hero-cpt {
	position: fixed;
	left: 50%;
	top: 50vh;
	z-index: 1000;
	pointer-events: none;
	color: $white;
	text-align: center;
	transform: translate(-50%, 0);
	opacity: 0;

	p {
		margin: 0;
		font-size: 3.3vmax !important;
		line-height: 1.35;
	}
}

.hero-cpt--1 {
	opacity: 1;
}


#mission {
	position: relative;
	z-index: 1;
	box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.08);
}


.spacer-pin-disabled {
	padding: 0 !important;
	overflow: hidden !important;
}

.hero-fix-disabled {
	position: static !important;
}
