{{ attach_library('delta_theme/notifications') }}

{% set notifications_base_class = notifications_base_class|default('alert') %}
  
  {% if notifications %}
    <div {{ bem(notifications_base_class, (notifications_modifiers), notifications_blockname) }}>
        {{notifications}} <i class="icon-icon_filter-hide-small"></i>
      </div>
  {% endif %}



