<div class="grid our_Order_table our_Order_details">
  <table>
    <thead>
      <tr>
       {% for order_detail_title in order_detail_titles %}
          <th class="views-field views-field-nothing" scope="col">{{order_detail_title.title}}</th>
      {% endfor %}
      </tr>
    
    </thead>
    <tbody>
    {% for order_detail_content in order_detail_contents %}
      <tr>
            <td headers="view-nothing-table-column" class="views-field views-field-nothing product_info">
               <div class="img">
                  {% include "@atoms/04-images/00-image/_image.twig" with {
                    img_src: order_detail_content.src,
                    img_alt: order_detail_content.alt,
                    image_base_class: order_detail_content.class
                  } %}
              </div>
              <div class="cart-detail">
                <div class="title"><strong>{{order_detail_content.value}}</strong></div>
                <div class="model-name">
                  {% include "@atoms/order-details-page/order-model/order-model.twig" with {
                      order_name : order_detail_content.order_name,
                      order_number: order_detail_content.order_number,
                  }%}
                </div>
              </div>
            </td>
            <td class="check_order_status">{{order_detail_content.status}}</td>
            <td class="check_order_number">{{order_detail_content.number}}</td>
            <td class="check_order_count">{{order_detail_content.count}}</td>
            <td class="check_order_price">${{order_detail_content.price}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>