<div class="form-item form-item-textarea form-item--disabled">
  <label for="textarea" class="form-item__label form-item__label--textfield">Textarea</label>
  <div>
    <textarea class="form-item__textfield form-item__textarea" maxlength="250" disabled></textarea>
    


<i class="icon-resizer"></i>
    <div class="form-item__textarea-counter">0 / 250</div>
  </div>
</div>

<div class="form-item form-item-textarea">
  <label for="textarea" class="form-item__label form-item__label--textfield">Textarea</label>
  <div>
    <textarea class="form-item__textfield form-item__textarea" maxlength="250"></textarea>
     


<i class="icon-resizer"></i>
    <div class="form-item__textarea-counter">0 / 250</div>
  </div>
</div>

<div class="form-item form-item-textarea form-item--error">
  <label for="textarea" class="form-item__label form-item__label--textfield">Textarea</label>
  <div>
    <textarea class="form-item__textfield form-item__textarea" maxlength="250"></textarea>
     


<i class="icon-resizer"></i>
    <div class="form-item__textarea-counter">0 / 250</div>
  </div>
  <div class="form-item--error-message">
    Error helper text
  </div>
</div>
