{#
/**
 * Available variables:
 * - id – (mandatory) HTML id attribute
 * - tooltip_title - Title of the tooltip
 * - tooltip_content - Body copy of the tooltop
 * - tooltip_placement Placement of the tooltip in relation to toggle (right | top)
 */
#}

{{ attach_library('brizo_theme/tooltip') }}

<button class="tooltip-button js-tooltip" data-template="{{ id }}" data-tippy-placement="{{ tooltip_placement }}" aria-label="Open Info Popover">
  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: "icon-info",
  } %}
</button>

<template id="{{ id }}">
  <div class="tooltip">
    <header class="tooltip__header">
      {{ tooltip_title }}
    </header>

    <div class="tooltip__body">
      {{ tooltip_content }}    </div>
  </div>
</template>
