
<script data-name="reload" data-src="/dist/02-molecules/tooltip/tooltip.js"></script>

<button class="tooltip-button js-tooltip" data-template="info" data-tippy-placement="right" aria-label="Open Info Popover">
  


<i class="icon-info"></i>
</button>

<template id="info">
  <div class="tooltip">
    <header class="tooltip__header">
      Example Title
    </header>

    <div class="tooltip__body">
      Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.    </div>
  </div>
</template>
