<div class="image-with-link-block">
    <div class="img-link-image">
      <a href="{{img_link_main_url}}" title="{{ img_link_title }}" aria-label="{{ img_link_title }}">
        {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: img_link_image_url,
            img_alt: img_link_image_alt,
        } %}
      </a>
      <div class="image-with-link-icon">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_icon: "carrot-right",
          cta_link_icon_position: "right",
          cta_link_icon_size: "20px",
        } %}
      </div>
    </div>

    <div class="img-link-title">
      <a href="{{img_link_main_url}}">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 5,
          "heading": img_link_title,
        } %}
      </a>
    </div>
</div>
