<div class="featured-title-grid grid">
  {% for featured_title in featured_titles %}
    <div class="grid-col-sm-5th">
      {% include "@molecules/featured-innovation-tile/featured-innovation-tile.twig" with {
        "image_url": featured_title.image_url,
        "image_alt_text": featured_title.image_alt_text,
        "title": featured_title.title,
        "content": featured_title.content,
        "url": featured_title.url,
        "cta_link": featured_title.cta_link
      } %}
    </div>
  {% endfor %}
</div>
