<ul class="icons_demo">
        <li>
        


<i class="icon-arrow-2-medium-down"></i>
        <p>icon-arrow-2-medium-down</p>
      </li>
        <li>
        


<i class="icon-arrow-2-medium-right"></i>
        <p>icon-arrow-2-medium-right</p>
      </li>
        <li>
        


<i class="icon-calendar"></i>
        <p>icon-calendar</p>
      </li>
        <li>
        


<i class="icon-check-mark"></i>
        <p>icon-check-mark</p>
      </li>
        <li>
        


<i class="icon-cta-page-url"></i>
        <p>icon-cta-page-url</p>
      </li>
        <li>
        


<i class="icon-download-arrow"></i>
        <p>icon-download-arrow</p>
      </li>
        <li>
        


<i class="icon-email"></i>
        <p>icon-email</p>
      </li>
        <li>
        


<i class="icon-eye-closed"></i>
        <p>icon-eye-closed</p>
      </li>
        <li>
        


<i class="icon-eye-open"></i>
        <p>icon-eye-open</p>
      </li>
        <li>
        


<i class="icon-filter-add-show-small"></i>
        <p>icon-filter-add-show-small</p>
      </li>
        <li>
        


<i class="icon-filter-hide-small"></i>
        <p>icon-filter-hide-small</p>
      </li>
        <li>
        


<i class="icon-info"></i>
        <p>icon-info</p>
      </li>
        <li>
        


<i class="icon-location"></i>
        <p>icon-location</p>
      </li>
        <li>
        


<i class="icon-menu-close"></i>
        <p>icon-menu-close</p>
      </li>
        <li>
        


<i class="icon-menu-open"></i>
        <p>icon-menu-open</p>
      </li>
        <li>
        


<i class="icon-phone"></i>
        <p>icon-phone</p>
      </li>
        <li>
        


<i class="icon-play-path1 icon-play-path2"></i>
        <p>icon-play-path1 icon-play-path2</p>
      </li>
        <li>
        


<i class="icon-resizer"></i>
        <p>icon-resizer</p>
      </li>
        <li>
        


<i class="icon-search"></i>
        <p>icon-search</p>
      </li>
        <li>
        


<i class="icon-social-facebook"></i>
        <p>icon-social-facebook</p>
      </li>
        <li>
        


<i class="icon-social-houzz"></i>
        <p>icon-social-houzz</p>
      </li>
        <li>
        


<i class="icon-social-instagram"></i>
        <p>icon-social-instagram</p>
      </li>
        <li>
        


<i class="icon-social-twitter"></i>
        <p>icon-social-twitter</p>
      </li>
        <li>
        


<i class="icon-social-youtube"></i>
        <p>icon-social-youtube</p>
      </li>
  </ul>