<ul class="icons_demo">
  {% for icon in icons %}
      <li>
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: icon.icon_name,
        } %}
        <p>{{ icon.icon_name }}</p>
      </li>
  {% endfor %}
</ul>