{%  set theme_path = base_path ~ active_theme_path() %}
<div>
   <div>
      <img src="{{ theme_path }}/maintenance/peerless_logo.png" alt="Delta Faucet Company" class="img"/>
   </div>
   <div class="content-container">
      <div class="head-line secondary-text-color">
         Maintenance
      </div>
      <div class="subheader primary-text-color">
         PeerlessFaucet.com is<br>temporally unavailable.
      </div>
      <hr>
      <div class="clearfix"></div>
      <div class="context primary-text-color">
         {{ page.content | raw }}
      </div>
   </div>
</div>