{#
/**
* @file
* Theme override to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.primary_menu: Items for the primary menu region.
* - page.secondary_menu: Items for the secondary menu region.
* - page.highlighted: Items for the highlighted content region.
* - page.help: Dynamic help text, mostly for admin pages.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.footer: Items for the footer region.
* - page.breadcrumb: Items for the breadcrumb region.
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}
<div class="layout-container">
  <div class="bodywrapper">
    <header class="header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {{ page.top_navigation }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        {{ page.branding }}
                    </div>
                    <div class="col-sm-4">
                        <div class="search autocomplete-container clearfix">
                            {{ page.search }}
                            <div><p>&nbsp;</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="navbar-toggle collapsed header-nav-icon" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="glyphicon glyphicon-search header-search-icon"></span>
            <div class="container">
                {{ page.primary_menu }}
            </div>
        </header>

    {% if page.secondary_menu %}
    <section role="seconday-menu" id="seconday-menu">
        {{ page.secondary_menu }}
    </section>
    {% endif %}
    <section id="highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ page.breadcrumb }}

                    {{ page.highlighted }}

                    {{ page.help }}
                </div>
            </div>
        </div>
    </section>

    {{ page.help }}

    <main role="main">
      <div id="plp-wrapper">
      <div class="container">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {%  if page.page_title and not is_front %}
        {{ page.page_title }}
      {% endif %}
        <div class="row">
        {% if page.sidebar_first %}
          <div class="col-md-3">
            <div class="sidebar">
              <div class="sidebar--mobile-header">
                <span>Filters</span><i class="glyphicon glyphicon-plus-down"></i>
              </div>
              <div class="sidebar--container">
                <div class="sidebar--container-inner">
                  {{ page.sidebar_first }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col-md-9 plp--list">
          {{ page.content }}
        </div>{# /.layout-content #}
      </div>
      </div>

      </div>

      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </main>


<div class="footer--disclaimer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ page.footer_disclaimer }}
      </div>
    </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="container footer--container">
    <div class="row">
      <div class="footer-col footer-col-1">
        {{ page.footer_menu_one }}
      </div>
      <div class="footer-col footer-col-2">
         {{ page.footer_menu_two }}
      </div>
      <div class="footer-col footer-col-3">
        {{ page.footer_menu_three }}
      </div>
      <div class="footer-col footer-col-4">
        {{ page.footer_menu_four }}
      </div>
      <div class="footer-col footer-col-5">
        {{ page.footer_menu_five }}      
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer--copy">
        <p>{{ copyright_text }}</p>
          {{ page.bottom_menu }}
      </div>
    </div>
  </div>
  </footer>

  </div>
</div>{# /.layout-container #}
