{#
/**
 * Available variables:
 * - link_content - the content of the link (typically text)
 * - link_url - the url this link should poing to
 * - link_attributes - array of attribute,value pairs
 * - link_base_class - the base class name
 * - link_modifiers - array of modifiers to add to the base classname
 * - link_blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - link_content - used to replace the content of the link
 *     Example: to insert the image component
 */
#}
{% set link_base_class = link_base_class|default('link') %}
{% set link_rel_attributes = rel_attribute ? rel_attribute : '' %}

<a {% if link_rel_attributes|length %} rel="{{ link_rel_attributes }}" {% endif %}
  {{ bem(link_base_class, (link_modifiers), link_blockname) }}
  {% for attribute,value in link_attributes %}
    {{ attribute }}="{{ value | raw }}"
  {% endfor %}
  {% if link_url %} href="{{ link_url }}"{% endif %}
  {% if link_target %} target="{{ link_target }}"{% endif %}
  {% if link_id %} id="{{ link_id }}"{% endif %}
>
    {% block link_content %}
      {{ link_content | raw }}
    {% endblock %}
    {% if link_count %}
        <span class="count">({{ link_count }})</span>
      {% endif %}
</a>
