<div class="pl-button-list">
      

<a
  class="button button--primary"

      href="#"
        onclick="myfunction()"
        name="Primary Button"
     >
      Primary
  </a>
      

<a
  class="button button--primary button--disabled"

      href="#"
        onclick="myfunction()"
        name="Primary Button"
     >
      Primary Disabled
  </a>
      

<a
  class="button button--secondary"

      href="#"
          name="Secondary Button"
     >
      Secondary
  </a>
      

<a
  class="button button--secondary button--disabled"

      href="#"
          name="Secondary Button"
     >
      Secondary Disabled
  </a>
      

<a
  class="button button--tertiary"

      href="#"
          name="Tertiary Button"
     >
      Tertiary
  </a>
      

<a
  class="button button--tertiary button--disabled"

      href="#"
          name="Tertiary Button"
     >
      Tertiary Disabled
  </a>
  </div>
