.plp-filter {
  @include maxbp($r_1000) {
    &.active-mobile-filter {
      position: fixed;
      background: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;

      .plp-accordion--open {
        height: calc(100vh - 120px);
        overflow: auto;
      }
    }
  }
}

#container-na-facetFinish {
  display: none !important;
}

.page-node-type-plp .ajax-progress.ajax-progress-throbber {
  display: block;
  position: fixed;
}

.plp-wrapper {
  @include wrapper;

  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 0 80px 0;

  @include maxbp($medium) {
    margin-top: 0 !important;
  }

  .plp-data {
    float: right;
    width: calc(100% - 300px);

    @include maxbp($r_1000) {
      width: 100%;
      float: none;
    }

    @include maxbp($medium) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }

  .plp-filter {
    float: left;
    width: 250px;

    @include maxbp($r_1000) {
      width: 100%;
      float: none;
      margin: 0 0 25px;
    }
  }

  .plp-operation {
    display: block;
    overflow: hidden;
    margin: 0 0 32px;

    @include maxbp($r_600) {
      text-align: center;
    }

    .plp-results-detail {
      color: $gray-30;
      letter-spacing: 4px;

      @include maxbp($medium) {
        font-size: 1.375rem;
        letter-spacing: 4.4px;
      }
    }

    .selected-filter {
      @include breakpoint($large) {
        padding-top: 30px;
      }
    }
  }

  .plp-grid {
    @include maxbp($medium) {
      & > div:first-child .product_tile {
        margin: 0;
      }

      & > div:last-child .product_tile {
        border-bottom: 1px solid $gray-20;
        margin-bottom: 20px;
      }
    }

    margin: 25px -16px 0;

    .product_tile {
      width: 100%;
      margin: 0 0 32px;

      @include maxbp($medium) {
        margin: 0;
      }
    }
  }

  .plp-result {
    color: $gray-20;
    float: left;
    margin: 0;

    @include maxbp($large) {
      float: none;
      margin: 0 0 $space*2;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .plp-results-detail {
      font-size: 22.78px;
      margin: 0 0 0 5px;
      line-height: 27px;
    }

    .plp-results-count {
      font-size: 1.5rem;
      color: $gray-10;
      line-height: 2rem;
      font-family: $font-subheading;

      @include maxbp($medium) {
        font-size: 1.375rem;
      }

      span {
        font-size: 1.5rem;
        color: $gray-10;
        line-height: 2rem;
        font-family: $font-subheading;
        vertical-align: baseline;

        @include maxbp($medium) {
          font-size: 1.375rem;
        }
      }
    }
  }

  .plp-sorting {
    float: right;
    margin: 0 1rem 0 0;

    @include maxbp($r_600) {
      float: none;
      margin: auto;
    }

    #sort-by-select {
      padding: 1rem;
      width: 230px;
      font-size: 18px;
      outline: none;
      cursor: pointer;
      line-height: normal;
      height: auto;

      @include maxbp($r_600) {
        width: 100%;
        height: auto;
      }

      @media (min-width: $tab-min) and (max-width: $r_1000) and (orientation: portrait) {
        width: 100%;
      }
    }
  }
}

.plp-share-popup {
  display: none;

  &.active-plp-share-popup {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;

    .plp-share-data {
      top: 100px;
    }
  }

  .plp-share-data {
    max-width: 700px;
    background: white;
    width: 90%;
    margin: auto;
    padding: 50px 30px 20px;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    transition: all ease 1s;
  }

  .plpshareclosebutton {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: pointer;
    font-family: $font-icon;
  }

  .plpshareclosebutton::after {
    content: "+";
    color: $gray-10;
    line-height: 30px;
    font-size: 40px;
    display: inline-block;
    transform: rotate(45deg);
  }

  #plpshareinput {
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 15px 18px;
    border-radius: 5px;
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 22px;
  }

  .plpsharecopybutton {
    background: $gray-10;
    color: white;
    border: none;
    font-family: $font-condensed;
    text-transform: uppercase;
    padding: 10px 35px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2.2px;
    cursor: pointer;

    &:hover {
      background: $gray-20;
      transition: all ease 0.3s;
    }
  }
}

.page-node-type-plp {
  .plp-wrapper {
    margin-top: 20px;

    .plp-block {
      padding-top: 2rem;
    }

    .grid.vertical-align {
      .grid-col-lg-5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .grid-col-lg-7 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .page-comp-top {
      .card.intro-block {
        .card__desc {
          h2.text-align-center {
            font-family: $font-subheading;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0;
          }
        }
      }

      .card {
        .card__desc {
          p.text-align-center {
            span {
              line-height: 3rem;
              padding-bottom: 29px;
            }
          }
        }
      }
      & > .card ~ .products-list {
        padding-bottom: 2rem;
      }
    }
    .product-tiles {
      article {
        img {
          width: 60px;
          height: 60px;
          margin-bottom: 1rem;
          display: inline-block;
        }
      }
    }
  }

  .grid.vertical-align.system-component.system-details {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;

    &:before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgb(242, 242, 242) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, rgb(242, 242, 242) 100%);
      z-index: 0;
    }
  }

  .banner {
    .social_sharing {
      &.plp-share-link {
        display: block;

        a {
          @include maxbp($medium) {
            font-size: 1rem;
          }
        }
      }
    }

    .banner__title {
      font-size: 4rem;
      text-transform: uppercase;
      padding-bottom: 13px;
      font-family: $font-heading;
      letter-spacing: 8px;

      @include maxbp($medium) {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 0;
        padding-left: 16px;
        padding-right: 16px;
        letter-spacing: 5.76px;
      }
    }
  }

  @include maxbp($medium) {
    .main {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.products-sorting {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include breakpoint($large) {
    width: 100%;
    padding-top: 10px;
  }

  @media (min-width: $tab-min) and (max-width: $r_1000) and (orientation: portrait) {
    justify-content: space-around;
  }

  @include maxbp($main-menu-medium) {
    flex-direction: column;
  }

  .pager__items {
    @include breakpoint($large) {
      display: flex;
      align-items: flex-start;
      margin-left: auto;
    }

    @include maxbp($r-1000) {
      order: -2;
      position: relative;
    }
  }

  .select-full-border .form-item__select {
    border: 2px solid #e7e7e7 !important;
    height: auto;
    line-height: 27px !important;
  }

  .plp-items-per-page {
    @include maxbp($r-1000) {
      order: -1;
      max-width: 100%;
    }
  }

  .plp-sorting {
    @include maxbp($r_1000) {
      width: 100%;
      max-width: 100%;
    }
  }
}

.page-desktop-pagination.pagination {
  margin: 0;
  z-index: 1;

  @include breakpoint($large) {
    display: flex;

    .pager__link {
      border: 0;
      cursor: pointer;
      font-family: $font-condensed;
      font-size: 1.375rem;
      font-weight: normal;
      line-height: 1.375rem;

      &.is-active {
        color: $gray-10;
      }

      &.next,
      &.prev {
        color: transparent;
      }
    }
  }

  @include maxbp($large) {
    display: none;
  }

  .pagination-dots {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

.page-mobile-pagination {
  font-family: $font-subheading;
  letter-spacing: 1px;

  @include maxbp($large) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  @include breakpoint($large) {
    display: none;
  }

  .mobile_pagination {
    @include maxbp($large) {
      font-size: 1.125rem;
      padding-right: 5px;
      color: $gray-10;
      font-family: $font-body;

      strong {
        color: $gray-10;
      }

      &:nth-of-type(1) {
        padding-left: 5px;
      }

      &:nth-of-type(2) {
        padding-right: 20px;
      }
    }

    .totalpages {
      color: $gray-10;
    }
  }

  .pager__link {
    background-color: $white;
    padding: 8px 16px;
    border: 0;
    color: $black;
    font-size: 26px;
    cursor: pointer;

    &.is-active {
      background: $gray-10;
      color: $white;
    }

    @include maxbp($large) {
      background-color: $gray-10;
      color: $white;
    }

    &.prev {
      @include maxbp($tab-min) {
        position: absolute;
        left: 0;
      }
    }

    &.next {
      @include maxbp($tab-min) {
        position: absolute;
        right: 0;
      }
    }
  }
}

.pagination-bottom {
  @include breakpoint($large) {
    display: flex;
    justify-content: flex-end;
    //padding-right: 60px;
  }

  @media (min-width: $tab-min) and (max-width: $r_1000) and (orientation: portrait) {
    justify-content: center;
  }

  @include maxbp($large) {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.page-comp-top {
  & > .card {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .card__desc {
      p.text-align-center {
        display: block;

        span {
          padding-bottom: 1rem;
          display: inline-block !important;
          position: relative;

          &::after {
            background: $gray-30;
            width: 40%;
            left: 0;
            right: 0;
            position: absolute;
            bottom: 0;
            height: 2px;
            content: "";
            display: block;
            margin: auto;
          }
        }
        & ~ p.text-align-center {
          padding-top: 3rem;
        }
      }
    }

    & ~ .content-section {
      h2.intro-text {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
        font-family: $font-subheading;
        text-transform: none;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
        position: relative;

        &::after {
          background: $gray-30;
          width: 30%;
          left: 0;
          right: 0;
          position: absolute;
          bottom: 0;
          height: 2px;
          content: "";
          display: block;
          margin: auto;
        }
      }
    }
  }

  .products-list {
    & > div {
      max-width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;

      @include maxbp($medium) {
        flex-direction: column;
      }
    }

    .product-tiles {
      display: inline-block;
      width: 125px;
      text-align: center;
      margin: 0 20px 20px;
      vertical-align: top;
      font-family: $font-pfdinmono;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include maxbp($r_1000) {
        width: 24%;
        margin: 20px 0 0;
      }

      @include maxbp($large) {
        width: 32%;
      }

      @include maxbp($medium) {
        width: 49%;
      }
    }
  }

  .two-col-section.grid.vertical-align {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .list-components.custom-shower-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    li {
      width: 16%;

      .content {
        span {
          font-size: 14px;
          letter-spacing: -0.07px;
          line-height: 17px;
          font-family: $font-body;
          display: inline-block;
        }
      }

      img {
        width: auto;
        margin: 0 auto;
        padding-bottom: 10px;
      }
    }

    @include maxbp($medium) {
      flex-direction: column;

      li {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.page-node-type-landing-page {
  // .main {
  //   padding: 0 !important;
  //   margin: 0 !important;
  // }

  article .layout__region.layout__region--content {
    padding-left: 2rem;
    padding-right: 2rem;
    @include maxbp($large) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .two-col-section {
    .two-col-section-left, .two-col-section-right {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.design-gallery-page {
    article .layout__region.layout__region--content {
      padding: 0;
    }
  }
}

.path-frontpage.page-node-type-landing-page {
  article .layout__region.layout__region--content {
    padding-left: 0;
    padding-right: 0;
  }
}

.full-width-content {
  .main {
    padding: 0 !important;

    @include maxbp($large) {
      padding: 0 20px !important;
    }
  }

  .plp-block {
    @include breakpoint($large) {
      padding: 100px 60px 60px 60px;
    }
  }

  article .layout__region.layout__region--content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.content-section {
  h1 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem
  }
}

.shower-plp {
  .two-col-section {
    .two-col-section-left, .two-col-section-right {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.edit-icon-link{
  display: block;
  text-align: right;
  padding: 10px 15px;
  color: #000;
}
.edit-plp-img-icon{
   width: 15px;
   display: inline-block;
   vertical-align: middle;
}