<div class="aht-wrapper">
  <div class="aht-image-data">
    <div class="aht-image">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: aht_image_src,
        img_alt: aht_image_alt,
      } %}
    </div>
    <div class="aht-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": aht_title,
      } %}
    </div>
  </div>
  <div class="aht-text-data">
    <div class="aht-hover-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": aht_title,
      } %}
    </div>
    <div class="aht-hover-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: aht_hover_desc,
      } %}
    </div>
    <div class="aht-links-wrapper">
      {% if aht_watch_link_content %}
        {% set learn_more_about = aht_watch_link_content ~ ': ' ~ aht_title|striptags %}
        {% if aht_watch_link_attributes is null %}
          {% set aht_watch_link_attributes = {'aria-label': learn_more_about, 'title': learn_more_about } %}
        {% endif %}
        <div class="aht-link call-popup"  data-video="{{aht_video_url}}">
          {% include "@atoms/06-buttons/01-button.twig" with {
            "button_url": '#',
            "button_content": aht_watch_link_content,
            "button_modifiers": aht_watch_link_modifiers,
            "button_attributes": create_attribute(aht_watch_link_attributes),
          } %}
        </div>
      {% endif %}
      {% if aht_prod_link_content %}
        {% if 'learn more' in aht_prod_link_content|lower  %}
          {% set learn_more_about = 'Learn more about ' ~ aht_title|striptags %}
        {% else %}
          {% set learn_more_about = aht_prod_link_content ~ ': ' ~ aht_title|striptags %}
        {% endif %}
        {% if aht_prod_link_attributes is null %}
          {% set aht_prod_link_attributes = {'aria-label': learn_more_about, 'title': learn_more_about } %}
        {% endif %}
        <div class="aht-link">
          {% include "@atoms/06-buttons/01-button.twig" with {
            "button_url": aht_prod_link_src,
            "button_content": aht_prod_link_content,
            "button_modifiers": aht_prod_link_modifiers,
            "button_attributes": aht_prod_link_attributes ? create_attribute(aht_prod_link_attributes) : create_attribute({}),
          } %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
