.single-image-slider {
  max-width: $std_desktop;

  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &.slick-prev {
      left: $space-ten*3;
    }

    &.slick-next {
      right: $space-ten*3;
    }
  }

  .slider-img-block-wrapper {
    position: relative;

    .slider-img-title {
      h6.h6 {
        color: $white;
        text-transform: none;
        font-weight: normal;
        letter-spacing: normal;
        font-size: 25px;
        margin: 0 0 $space-ten;
        background: transparent;
      }
    }

    .slider-img-caption {
      position: absolute;
      bottom: $space-ten*7;
      color: $white;
      left: $space-ten*15;
      width: 100%;
      max-width: 500px;
      background-color: transparent;
    }

    .slider-img-link {
      a {
        text-transform: none;
        font-family: $font-body;
        letter-spacing: normal;
        padding: $space-ten/2 $space-ten*2 8px;
      }
    }
  }
  &.custom-slider{
    max-width: 100%;
    margin: 0 auto;
    .slider-img-block-wrapper{
      &.padding-10{
        padding: 10px;
        @include maxbp(550px){
          padding: 0px;
        }
      }
      .slider-img-caption{
        left: 80px;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        &.content-alignment-right{
          @include breakpoint($large){
            text-align: right;
            right: 80px;
            left: auto;
          }
          
        }
        &.content-alignment-center{
          text-align: center;
          right: 0px;
          left: 0px;
        } 
        &.content-alignment-top{
          @include breakpoint($large){
            text-align: center;
            right: 0px;
            left: 0px;
            top: 100px;
            bottom: auto;
          }
        }
        &.content-alignment-bottom{
          @include breakpoint($large){
            text-align: center;
            right: 0px;
            left: 0px;
            top: auto;
            bottom: 20px;
          }
          
        }
        /* @include maxbp($large){
          left: 70px;
          top: 35%;
          transform: translateY(-35%);
        } */
        @include maxbp($large){
          left: 0px;
          right: 0px;
          top: 35%;
          text-align: center;
          transform: translateY(-35%);
        }
        @include maxbp(340px){
          top: 25%;
        }
        
        /* @include maxbp($medium){
          left: 5px;
          top: 25%;
          transform: translateY(-25%);
          padding: 0px 10px;
        }
        
        @include maxbp(555px){
          left: 0px;
          padding: 0px 10px;
          top: 10%;
          transform: translateY(-10%);
        } */
        .slider-img-title{
          .h1{
            font-size: 66px;
            margin-bottom: 15px;
            letter-spacing: 0.01em;
            color: inherit;
            text-shadow: 0 10px 18px #18191d4d;
            @include maxbp(793px){
              font-size: 39px;
            }
          }
        }
        .slider-img-desc{
          margin-bottom: 15px;
          @include maxbp($small){
            margin-bottom: 10px;
          }
          .paragraph{
            display: none;
          }
          p{
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
      &.slick-slide{
        .slider-img-block{
          &.desktop{
            display: block;
            @include maxbp($small){
              display: none;
            }
          }
          &.mobile{
            display: none;
            @include maxbp($small){
              display: block;
            }
          }
        }
        img{
          width: 100%;
          @include maxbp(615px){
            height: 305px;
          }
          @include maxbp($small){
            height: auto;
          }
          
        }
      }
      .slider-img-link{
        a{
          padding: 12px 50px;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 2px;
          color: #fff;
          text-transform: uppercase;
          font-family: $font-bold;
        }
      }
    } 

    &.slider-dots{
      .slick-dots{
        position: relative;
        bottom: 0px;
        li{
          button{
            border-color: #000;
            border: 1px solid #000;
          }
        }

      }
    }
    
    .slick-dots{
      position: absolute;
      bottom: 5px;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style-type: none;
      padding-left: 0;
      @include breakpoint(790px){
        bottom: 47px;
      }
      button::after{
        width:1rem;
        height:1rem;
        border-color: white;
      }
      .slick-active{
        button{
          background-color: #aa3145;
          &::after{
            background-color: #aa3145;
          }
        }
      }
      li{
        button{
          cursor: pointer;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          overflow: hidden;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          font-size: 0;
          margin: 5px;
          background: transparent;
          border-color: #fff;
          border: 1px solid #fff;
          box-shadow: none;
        }
      } 
    }

    .slick-arrow{
      &.slick-prev{
        height: 48px;
        width: 48px;
        @include maxbp($small){
          left: 0px;
        }
      }
      &.slick-next{
        height: 48px;
        width: 48px;
        @include maxbp($small){
          right: 0px;
        }
      }
    }
  }
}

/* .views-field-field-banner-region-content{
  .single-image-slider{
    &.custom-slider{
      .slider-img-caption{
        display: flex;
        flex-direction: column;
        &.content-alignment-right{
          @include breakpoint($large){
            align-items: end;
            justify-content: center;
            right: 80px;
          }
        }
      }
    }
  }
} */
