

<div class="card-cover">
  <div class="card-cover-data">
    <a href=# aria-label="Link to Card Cover Title">
      <div class="card-cover-img">
        <picture>
          <source   data-src-desk="../../images/Voltaggia_Hero_1600x911.jpg"   srcset="../../images/Voltaggia_Hero_1600x911.jpg" media="(min-width: 768px)">
          <source    srcset="" >
          <img  data-src-desk="../../images/Voltaggia_Hero_1600x911.jpg"   src= "../../images/Voltaggia_Hero_1600x911.jpg" alt="Alternate Text" class="image" />
        </picture>
      </div>
    </a>
    <div class="cover-card-body-wrapper">
      
              
          <div class="cover-title-wrapper">
            
<h2 class="card-cover__title">
      Card Cover Title
  </h2>
          </div>
        
                                                                              <a class="cta-link" href="#" aria-label="Read More" title="Read More">
        Read More
    </a>
                </div>
  </div>
</div>
