
{% set page_title = "ORDER DETAILS"|t %}
{% set order_string = "Order #"|t %}
{% set order_date_string = "Order placed"|t %}

<div class="order_status_section">
    <h1 class="page-title {{ font_color_class }}">{{ page_title }}</h1>
    <div class="order_status_details">
        <div class="model-name">
            {% include "@atoms/order-details-page/order-model/order-model.twig" with {
                order_name : order_string,
                order_number: order_details['orderNo'],
            } %}
        </div>
        <div class="order-placed">
            {% include "@atoms/order-details-page/order-model/order-model.twig" with {
                order_name : order_date_string,
                order_number: order_details['orderPlaced'],
            } %}
        </div>
    </div>
    <div class="your_orders_details">

        {% include "@molecules/orders-list/orders-list.twig" with {
            order_detail_contents: order_details['orderItems'],
            order_detail_titles: order_details['tableTitles']
        } %}
        <div class="order_details_bottom_section">
            <div class="back_to_orders estimation">
                <div class="value">
                    {% set anchor_displayText = "Back to My Orders"|t %}
                    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                        cta_link_url: "/ecommerce/order-status",
                        cta_link_text: anchor_displayText,
                        cta_link_icon: "carrot-left",
                        cta_link_icon_position: "left",
                        cta_link_icon_size: 8
                    } %}
                </div>
            </div>
            {% set Subtotal = "Subtotal:"|t %}
            {% set Shipping = "Shipping:"|t %}
            {% set sales_tax = "Sales Tax:"|t %}
            {% set total = "Total"|t %}
            {% set price_info = "Prices are shown in US Dollars ($USD)."|t %}

            {% include "@molecules/price-details/price-details.twig" with {
                subtotal: Subtotal,
                subtotal_price: "$"~ order_details['orderSubTotal'],
                Shipping: Shipping,
                Shipping_price: "$"~ order_details['shippingCharge'],
                sales_tax : sales_tax,
                sales_tax_price : "$"~ order_details['tax'],
                total: total,
                total_price : "$"~ order_details['orderTotal'],
                price_info: price_info
            } %}

        </div>
    </div>
</div>
</div>