<section class="container-fluid">

 <div class="collection">
          <div class="row">
            <div class="col-md-12 comming-soon-section">
                {{ content.coll_lan_top}}
             </div>
         </div>
            <div class="row">
               <div class="col-md-12 comming-soon-section">
                    {{ content.coll_lan_middle}}
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 comming-soon-section">
                    {{ content.coll_lan_bottom}}
               </div>
            </div>
</div>

</section>
