<section class="container-fluid collection-vanity-page-section">
 <div class="collection collection-vanity-page">
          <div class="row">
            <div class="col-md-12 comming-soon-section">
                {{ content.coll_vanity_page_top}}
             </div>
          </div>
            <div class="row comingsoonmain">
              <div class="col-md-12">
                   <div class="col-md-6 comming-soon-section videoModule">
                        {{ content.coll_vanity_page_left}}
                   </div>
    	              <div class="col-md-6 comming-soon-section">
                        {{ content.coll_vanity_page_right}}
                   </div>
              </div>
            </div>
            <div class="row col-md-12">
               <div class="comming-soon-section bottomwarning">
                    {{ content.coll_vanity_page_bottom}}
               </div>
            </div>
</div>

</section>
