<section class="section--parallax plp-product-details" data-section-fade-up data-section-parallax>
    <div class="section__background--parallax" data-section-parallax-background style="background-image: url({{ bg_image }})"></div>
  <div class="section__foreground">
        <div class="padded-box padded-box--border-none padded-box--vertical-24">
            <div class="grid-container">
                <div class="row">
                    <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-hide col-sm-hide col-md-hide col--no-padding"></div>
                    <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding">
                        <div class="table-layout table-layout--full-width table-layout--sm-collapse table-layout--full-height">
                            <div class="table-layout__row">
                                <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
                                    <div class="v-list-4">
                                        <h2 class="h--theme-blue" data-section-fade-up-heading>{{ content.field_title }}</h2>
                                        <div data-section-fade-up-text>
                                            {% if content.field_sub_title %}
                                            <h3 class="h--theme-blue">{{ content.field_sub_title }}</h3>
                                            {% endif %}
                                            {% if content.field_description %}
                                            <div class="plp-product-details--description {{ content.field_paragraph_class['#items'].getString() }}">
                                                {{ content.field_description|raw }}
                                            </div>
                                            {% endif %}
                                            {% if field_facet_finish %}
                                                <div class="facet_finishes">
                                                    {% for key,finish in field_facet_finish %}
                                                        <div class="facet_finishes--each">
                                                            <div class="facet_finishes--img"><img src="{{ finish.img }}" class="responsive-img"></div>
                                                            <div class="facet_finishes--name">{{ finish.title }}</div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% if content.field_press_release['#items'].entity.uri.value %}
                                            <a class="plp-product-details--press_release" href="{{ file_url(content.field_press_release['#items'].entity.uri.value) }}" target="_blank">{{ "Read Press Release"|t }}</a>
                                            {% endif %}
                                            {% if content.field_learn_more %}
                                            <a href="{{ content.field_learn_more.0['#url'] }}" class="btn btn--blue btn--blue-solid">
                                                {{content.field_learn_more.0['#title'] }}
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="table-layout__cell table-layout__cell-8-12 table-layout__cell--valign-mid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-hide col-sm-hide col-md-hide col--no-padding"></div>
                </div>
            </div>
        </div>
    </div>
</section>
