<div class="pdp--slider-item">

  {% if content.field_video|render|trim is not empty %}
  <div class="slide-asset video">
    {{content.field_video}}
    {{content.field_large_image}}
  </div>
  {% else %}
  <div class="slide-asset image">
    {{content.field_large_image}}
  </div>
  {% endif %}

  <div class="slide-description">
  {{content.field_description}}
  </div>

  <div class="slide-thumbnail">
    {{content.field_thumbnail}}
  </div>

</div>
