{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'plp--future-products--each',
]
%}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}

    <div class="each--product" data-section-fade-up>

          <div class="ini">

               {% if comingSoon|length > 0  %}
                <div class="product--comingsoon" data-section-fade-up-heading>
                  {{ content.field_coming_soon_text }}
                </div>
              {% endif %}


                <div class="product--body" data-section-fade-up-text>

                  <div class="product--image">

                    {{ content.field_image }}

                  </div>

                  <div class="product--text">

                    <h2 class="product--title">
                      {{ content.field_title }}
                    </h2>



                    <div class="product--description">
                        {{ content.field_description }}

                        {% if content.field_press_release %}
                          <a class="plp-product-details--press_release" href="{{ file_url(content.field_press_release['#items'].entity.uri.value) }}">
                            Read Press Release
                          </a>
                        {% endif %}

                        {% if content.field_button.0['#url'] %}
                          <a href="{{ content.field_button.0['#url'] }}" class="btn btn--blue btn--blue-solid">
                            {{content.field_button.0['#title'] }}
                          </a>
                        {% endif %}

                    </div>

                  </div>

                </div>

          </div>


      </div>
      <div>


    </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
