{% block paragraph %}
    <div class="pdp-support-body">
        {% if content.field_support_image %}
        <div class="pdp-support-right">
            {{content.field_support_image}}
        </div>
      {% endif %}
        <div class="pdp-support-left">
          {% if content.field_support_head %}
          <h3>{{content.field_support_head}}</h3>
          {% endif %}
          {% if content.field_support_description %}
          <p>{{content.field_support_description}}</p>
          {% endif %}
          {% if content.field_support_link %}
             {% if content.field_support_link.0['#url'].toString() %}
                <div class="insider fade-up" data-section-fade-up-heading="">
                  <a class="btn btn--primary pdp-product-buy-now button" href="{{ content.field_support_link.0['#url'].toString() }}">{{ content.field_support_link.0['#title'] }}</a>
                </div>
             {% endif %}
          {% endif %}
        </div>
    </div>
{% endblock paragraph %}
