{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<section class="pdp--howitworks">
    <div class="container-a">
        <div class="insider">
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}  data-section-fade-up>
    {% block content %}
{{ content|without('field_title','field_description','field_test_position','field_imagenew', 'field_facet_finish') }}
      <div class="pdp--howitworks-item align-tiem-{{content.field_test_position|render|striptags|trim}}" >
        <div class="inner" >

          <div  data-section-fade-up-heading class="image" style="background-image: url('{{ file_url(content.field_imagenew['#items'].entity.uri.value) }}');">
            <div class="img">{{content.field_imagenew}}</div>
            {% if content.field_video %}
              <div class="vid">{{content.field_video	}}</div>
            {% endif %}
          </div>

          <div class="content" data-section-fade-up-text>
            <h2>{{content.field_title}}</h2>
            <p >{{content.field_description}}</p>
            {% if content.field_facet_finish %}
              <div class="facets">{{content.field_facet_finish}}</div>
            {% endif %}
          </div>

        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
</div>
</div>
</section>
