{% set id = '' %}
{% if region == 'mission' %}
    {% set id = 'alexa' %}
{% endif %}
{% if region == 'about' %}
    {% set id = 'lab' %}
{% endif %}
  
<section class="section--parallax" id="{{id}}" data-section-parallax data-section-fade-up>

      <div class="section__background--parallax" data-section-parallax-background style="background-image: url({{bg_image}})"></div>
     
      <div class="section__foreground">
        <div class="padded-box padded-box--border-none padded-box--vertical-24">
          <div class="grid-container">
            <div class="row">
              <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
              <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-10 col-sm-12 col--no-padding">
                <div class="table-layout table-layout--full-width table-layout--sm-collapse table-layout--full-height">
                  <div class="table-layout__row">
                    <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
                      <div class="v-list-4">
<h2 class="h--theme-blue" data-section-fade-up-heading>{{content.field_title}}</h2>
{% if region == 'mission' %}
                        <p>{{content.field_description}}</p>
                        {% endif %}
                        {% if region == 'about' %}
                        <p data-section-fade-up-text>{{content.field_description}}</p>
                        {% endif %}                            </div>
                    </div>
                    <div class="table-layout__cell table-layout__cell-8-12 table-layout__cell--valign-mid"></div>
                  </div>
                </div>
              </div>
              <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
            </div>
          </div>
        </div>
      </div>
       </section>