.qidl-block {
  p {
    margin: 0;
    font-size: 1.125rem;
  }

  .qidl-quote {
    p {
      font-size: 25px;
      color: $gray-10;
      line-height: 27px;
      margin: 0 0 5px;

      @include maxbp($grid-md) {
        font-size: 1.25rem;
      }
    }
  }

  .qidl-img {
    margin: 0 0 $space-ten;
  }

  .qidl-link {
    margin: $space-ten*2 0 0;

    a {
      padding: $space-ten/2 $space-ten*5;
      text-transform: none;
    }
  }
}
