<div class="qidl-block">
  <div class="qidl-quote field_card_heading">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: qidl_quote
    } %}
  </div>
  {% if qidl_image_src != '/' %}
    <div class="qidl-img">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: qidl_image_src,
        img_alt: qidl_image_alt,
      } %}
    </div>
  {% endif %}
  <div class="qidl-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: qidl_desc
    } %}
  </div>
  {% if qidl_more_content %}
    {% set link_options = qidl_more_attributes %}

    {% if link_options['aria-label'] is null %}
      {% set learn_more_about = 'Link to ' ~ qidl_quote|lower|striptags %}
      {% if 'learn more' in qidl_more_content|lower  %}
        {% set learn_more_about = 'Learn more about ' ~ qidl_quote|lower|striptags %}
      {% endif %}
      {% if 'download' in qidl_more_content|lower  %}
        {% set learn_more_about = 'Download ' ~ qidl_quote|lower|striptags %}
      {% endif %}
      {% set link_options = {'aria-label': learn_more_about, 'title': learn_more_about } %}
    {% endif %}

    {% if link_options['target'] == '_blank' %}
      {% set link_options = link_options|merge({'rel': link_options['rel'] ~ ' noopener'}) %}
    {% endif %}

    <div class="qidl-link">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": qidl_more_url,
        "button_content": qidl_more_content,
        "button_modifiers": qidl_more_modifiers,
        "button_attributes": link_options ? create_attribute(link_options) : create_attribute({}),
      } %}
    </div>
  {% endif %}
</div>
