
<div class="pull__quotes_wrapper {{text_position}}" style="background:{{pull__quotes_bg}}; color:{{pull__quotes_color}}">
    {% if pull__quotes %}
      <h3 class="h3 quote__content" style="color:{{pull__quotes_color}}">
        {{pull__quotes|raw}}
      </h3>

    {% endif %}

    {% if quote__author.content |render|striptags|trim %}
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": quote__author.content,
        "paragraph_base_class": content_base_class|default('quote__author'),
      } %}
    {% endif %}
  </div>
