{#
/**
 * Available variables:
 * - star_rating_value - number (1,,2, 3, 4, 5 | 1-5, 2-5, 3-5, 4-5)
 *
 * Please note: Regular SVG icon intentionally isn't used in this component to avoid
 * bloating the HTML payload, as ratings can appear several times on the same page.
 * Instead, it's being handled with a separate SVG file used as a background.
 *
 */
#}

{# removing the for pattern lab element since it is showing in PDP page above drupal ratings#}
{# for Drupal #}
 <div data-bv-show="rating_summary" data-bv-productId="{{ data_model }}"></div>


 {% if star_rating_value %}
   {% set star_rating_base_class = icon_base_class|default('star-rating') %}
   {% set star_rating_value_class = "star-rating--#{star_rating_value}" %}
   {# for Pattern Lab #}
   <div {{ bem(star_rating_base_class, (star_rating_modifiers), star_rating_blockname, [star_rating_value_class]) }}></div>
   {# for Drupal #}
    <div data-bv-show="rating_summary" data-bv-productId="{{ data_model }}"></div>
  {% endif %}
