.h5p-image-hotspot.h5p-image-hotspot-plus {
  width: 30px;
  height: 30px;
  background-color: #ac0535;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11 11V4h2v7h7v2h-7v7h-2v-7H4v-2z'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.h5p-image-hotspot.h5p-image-hotspot-plus::before {
  content: '';
  display: none;
}

.h5p-image-hotspot-popup {
  background: #fff;
  margin-left: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.h5p-image-hotspot-popup-body {
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 24px 7%;
  grid-template-areas:
    "sidebar main"
    "sidebar secondary";
}

.h5p-image-hotspot-popup-body .h5p-image:first-child {
  grid-area: sidebar;
}

.h5p-image-hotspot-popup-body .h5p-image:first-child img {
  width: auto !important;
  height: auto!important;
  margin-left: auto;
  margin-right: auto;
}

.h5p-image-hotspot-popup-body .h5p-text {
  grid-area: main;
  line-height: 1.35;
}

.h5p-image-hotspot-popup-body .h5p-text a {
  color: #ac0535;
  text-decoration: none;
  font-size: 18px;
}

.h5p-image-hotspot-popup-body .h5p-text hr {
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.h5p-image-hotspot-popup-body .h5p-image:last-child {
  grid-area: secondary;
}

.h5p-image-hotspot-popup-body .h5p-image:last-child img {
  width: auto;
  height: auto;
  max-width: 400px;
}

.h5p-content-controls,
.h5p-actions {
  display: none;
}

.h5p-image-hotspots-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
}





.hotspot-banner__content {
  font-size: 1.125rem;
  position: absolute;
  top: 36%;
  left: 90px;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  color: #fff;
  z-index: 1;
}

.hotspot-banner__title {
  margin-bottom: 12px;
  font-size: 2.565625rem;
  color: inherit;
}

.hotspot-banner__caption {
  margin: 24px 0;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px;
  padding: .75rem 3.125rem;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}
.button--primary {
  background-color: #ac0535;
  color: #fff;
}

.button--lg {
  font-size: 1.125rem;
  padding: 1.25rem 3.72rem;
}