<div class="faq-block-wrapper grid">
  <div class="faq-category-list menu-list grid-col-sm-3">

    <div class="faq-category-list-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": faq_category_list_title,
      } %}
    </div>

    <div class="faq-category-list-desc">
      <ul>
        {% for faq_category_list in faq_category_lists %}
          <li>
            {% include "@atoms/01-links/link-level/link-level.twig" with {
                'sidebar_link': faq_category_list,
            } %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>



  <div class="faq-list grid-col-sm-9">
    <div class="faq-list-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": faq_category_list_title,
      } %}
    </div>

    <div class="faq-list-desc">
      {% include "@molecules/faq-listing/faq-listing.twig" with {
      "faq_question": faq_question,
      "faq_answer": faq_answer,
      "faqlink": faqlink,
      "faq_helpfull_anstext": faq_helpfull_anstext,
      "faq_helpfull_url": faq_helpfull_url,
      "faq_need_help_text": faq_need_help_text,
      "faq_need_help_url": faq_need_help_url,
      "faq_print_answer": faq_print_answer,
      "faq_print_url": faq_print_url,
      } %}
    </div>
  </div>
</div>
