<div class="faq-cat-listing">

  <div class="faq-cat-listing-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 6,
      "heading": faq_cat_listing_title,
    } %}
  </div>
    <ul>
    {% for faq_cat_listing in faq_cat_listings %}
      <li>
        {% include "@atoms/01-links/link-level/link-level.twig" with {
            'sidebar_link': faq_cat_listing,
        } %}
      </li>
    {% endfor %}
  </ul>
</div>
