<div class="design-innovation-page">
  <div class="inner-banner">
    {% include "@organisms/01-banners/banner-title--md/banner-title--md.twig" %}
  </div>

  <div class="di-welcome-text">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: di_welcome_text
    } %}
  </div>

  <div class="di-inspired-living">
    <div class="di-inspired-living-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": di_inspired_living_title,
      } %}
    </div>
    <div class="di-inspired-living-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: di_inspired_living_desc
      } %}
    </div>
    <div class="di-inspired-living-link">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": di_inspired_living_link_url,
        "button_content": di_inspired_living_link_content,
        "button_modifiers": di_inspired_living_link_modifiers,
      } %}
    </div>
  </div>

  <div class="di-three-blocks-wrapper">
    <div class="di-three-blocks-list grid">
      <div class="di-three-block-left grid-col-sm-8">
        <div class="di-three-block">
          {% include "@atoms/04-images/image-with-caption-link/image-with-caption-link.twig" with {
            "img_cap_image_src": di_l_img_cap_image_src,
            "img_cap_image_alt": di_l_img_cap_image_alt,
            "img_cap_link_url": di_l_img_cap_link_url,
            "img_cap_link_content": di_l_img_cap_link_content,
            "img_cap_title": di_l_img_cap_title,
          }%}
        </div>
      </div>
      <div class="di-three-block-right grid-col-sm-4">
        <div class="di-three-block">
          {% include "@atoms/04-images/image-with-caption-link/image-with-caption-link.twig" with {
            "img_cap_image_src": di_ru_img_cap_image_src,
            "img_cap_image_alt": di_ru_img_cap_image_alt,
            "img_cap_link_url": di_ru_img_cap_link_url,
            "img_cap_link_content": di_ru_img_cap_link_content,
            "img_cap_title": di_ru_img_cap_title,
          }%}
        </div>
        <div class="di-three-block">
          {% include "@atoms/04-images/image-with-caption-link/image-with-caption-link.twig" with {
            "img_cap_image_src": di_rb_img_cap_image_src,
            "img_cap_image_alt": di_rb_img_cap_image_alt,
            "img_cap_link_url": di_rb_img_cap_link_url,
            "img_cap_link_content": di_rb_img_cap_link_content,
            "img_cap_title": di_rb_img_cap_title,
          }%}
        </div>
      </div>
    </div>
  </div>


  <div class="di-slider">
    {% include "@molecules/single-image-slider/single-image-slider.twig" %}
  </div>

</div>
