

<div class="thumbnail-gallery">
    {% if header is not empty %}
        <h3 class="heading">{{ header }}</h3>
    {% endif %}
    <div class="row advice_support">
    {% if items|length %}
        {% for key, item in items %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="thumbnail">
                    <a class="thumbnail-link" href="{{ item.action_link }}"> 
                        {% if item.image is not empty %}
                            <div class="svg-container text-center">
                                <img class="img-responsive" src="{{ item.image.src }}" alt="{{ item.image.alt }}" />
                            </div>
                        {% endif %}
                        {% if item.heading_txt is not empty %}
                            <div class="caption">
                                <h5 class="heading">{{ item.heading_txt }}</h5>
                            </div>
                        {% else %}
                            <div class="caption">
                                <h5 class="heading">{{ item.action_link_txt }}</h5>
                            </div>
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>


