<div id="carousel-home-carousel" class="carousel carousel-home slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
    {% for key, item in items %}
        <div class="item">
            {% if item.image is not empty %}
                <img src="{{ item.image }}" alt="{{ item.image }}" />
            {% endif %}
            <div class="carousel-caption {{ item.content_alignment }}">
                <div class="hero-text grid_12 {{ item.text_align }} ">
                    {% if item.pre_heading_text is not empty %}
                        <p>{{ item.pre_heading_text }}</p>
                    {% endif %}
                    {% if item.heading_text is not empty %}
                        <h1>{{ item.heading_text }}</h1>
                    {% endif %}
                    {% if  item.link_video_flag == 'v' %}
                        <div class="img-comp-none video">
                            <div type="button" class="button button--video button-modal-homeVideo" data-toggle="modal" data-video="{{ item.action_link }}" data-target="#videoSliderModal-homeVideo">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="play-circle-outline">
                                            <path d="M204,369.75L357,255L204,140.25V369.75z M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255    S395.25,0,255,0z M255,459c-112.2,0-204-91.8-204-204S142.8,51,255,51s204,91.8,204,204S367.2,459,255,459z" fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </span>
                                <span class="txt">
                                    {{ item.action_link_txt }}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <a class="button button--link" href="{{ item.action_link }}">{{ item.action_link_txt }}</a>
                        {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <ol class="carousel-indicators">
    {% for key, item in items %}
        <li data-target="#carousel-home-carousel" data-slide-to="{{ key }}" class="">{{ key + 1 }}</li>
    {% endfor %}
    </ol>
    </div>
    <a class="left carousel-control" href="#carousel-home-carousel" role="button" data-slide="prev">
            <svg viewBox="0 0 28.667 56.565"><polygon points="2.414,27.698 26.598,3.514 27.305,4.221 3.121,28.405 27.477,52.76 26.77,53.467 1.707,28.405"></polygon></svg>
            <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home-carousel" role="button" data-slide="next">
        <svg viewBox="0 0 28.667 56.565"><polygon points="26.77,27.698 2.586,3.514 1.879,4.221 26.062,28.405 1.707,52.76 2.414,53.467 27.477,28.405"></polygon></svg>
        <span class="sr-only">Next</span>
        </a>

</div>

<div class="modal fade modal--video" id="videoSliderModal-homeVideo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="video-responsive-other">
                <iframe title="Video container" width="560" height="315" src="" id="nofocusvideo-homeVideo" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

