<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div class="row pad-tt">
        {% for key, item in items %}
            <div class="col-md-6">
                <a href="{{ item.action_link }}">
                    <div class="collection--listing-each">
                        <div class="collection--listing-each-in smallblock"
                             style="background-image:url({{ item.image }})">
                            <div class="collection--listing-each-in--img">
                                {% if item.image is not empty %}
                                    <img class="img-responsive" src="{{ item.image }}" alt="{{ item.image }}"/>
                                {% endif %}
                            </div>
                            <div class="collection--listing-each-in--overlay"></div>

                            <div class="collection--listing-each-in--text">
                                {% if item.heading_text is not empty %}
                                    <div  class="collection--listing-each-in--title">
                                        <h2 {{ title_attributes }}> {{ item.heading_text }}</h2>
                                    </div>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ title_suffix }}
</div>