<div class="container text-center">
    <div class="home-menu-1">
        {% for key, item in items %}
            <div class="home-menu-item-1 col-sm-6">
                <a class="d-block" href="{{ item.action_link }}">
                    {% if item.image is not empty %}
                        <img class="img-responsive" src="{{ item.image }}" alt="{{ item.image }}"/>
                    {% endif %}
                    {% if item.image is empty %}
                        {% if item.heading_text is not empty %}
                            <div class="content"><h2>{{ item.heading_text }}</h2></div>
                        {% else %}
                            <div class="content"><h2>{{ item.action_link_txt }}</h2></div>
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>