{% for key, item in items %}



<div class="collection--listing-each">
  <div class="collection--listing-each-in smallblock" style="background-image:url('/files/live/sites/peerless/files/Kitchen/collections/Xander/peerless-xander-kitchen-collection-grid-mobile.jpg');">
    <div class="collection--listing-each-in--img">
      <img src="{{ item.imageUrl }}" class="img-responsive">
    </div>
    <div class="collection--listing-each-in--overlay"></div>

    <div class="collection--listing-each-in--category {{ item.isNew }}">
      New
    </div>

    <div class="collection--listing-each-in--text">

      <div class="collection--listing-each-in--title">
        XANDER<sup>TM</sup>
      </div>

    </div>

  </div>
</div>
{% endfor %}
