
<div class="find-parts">
    <h2 class="heading">Find Replacement Parts</h2>
    <div class="simple-product-search">
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        {{ form.search }}
        <svg class="form-control-feedback" viewBox="0 0 104.333 92"> <path d="M99.688,76.776L80.618,62.573c3.494-5.872,5.501-12.664,5.501-19.91c0-22.217-18.78-40.228-41.949-40.228 S2.221,20.446,2.221,42.663c0,22.223,18.78,40.234,41.949,40.234c9.973,0,19.127-3.343,26.325-8.916l-0.147,0.17l18.964,14.1 c2.93,2.436,7.397,2.13,9.937-0.678l1.147-1.275C102.935,83.49,102.617,79.205,99.688,76.776z M44.701,67.944 c-14.563,0-26.367-11.322-26.367-25.281c0-13.965,11.804-25.287,26.367-25.287c14.557,0,26.36,11.322,26.36,25.287 C71.062,56.622,59.258,67.944,44.701,67.944z"></path> </svg>
    </div>
</div>


