{#
/**
 * Available variables:
 * - attributes: Array of html attributes for the element (checked, disabled, id, etc.)
 * - label: Label text
 * - id: (mandatory) HTML id of the checkbox.
 * - finish: (optional) Finish color for rendering a finish thumbnail
 * - feature_icon_url: (optional) URL To an icon indicating a feature about the product
 * - tooltip: (optional): Hash containing title and content for a tooltip, will render a tooltip when specified
 *   - title: Tooltip title
 *   - content: Tooltip body copy
 */
#}

{% set finish_class = finish ? "custom-input--finish" : "" %}
{% set feature_class = feature_icon_url ? "custom-input--feature-icon" : "" %}

<div class="custom-input custom-input--checkbox {{ finish_class }} {{ feature_class }}">
  <input class="custom-input__native" type="checkbox"

  {% for attribute,value in attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  >

  <label class="custom-input__label" for="{{ attributes.id }}">
    {% if finish %}
      {% include "@atoms/finish-thumbnail/_finish-thumbnail.twig" with {
        finish: finish
      } %}
    {% endif %}

    {% if feature_icon_url %}
      {% include "@atoms/feature-icon/_feature-icon.twig" with {
        icon_url: feature_icon_url
      } %}
    {% endif %}

    {{ label }}

    {% if tooltip %}
      {% include "@molecules/tooltip/tooltip.twig" with {
        id: "tooltip-#{attributes.id}",
        tooltip_title: tooltip.title,
        tooltip_content: tooltip.content,
        tooltip_placement: tooltip.placement
      } %}
    {% endif %}
  </label>
</div>
