/*
---
name: Horizontal List
category: Layout
---

TODO 
*/
@media screen and (min-width: $screen-wide-min) { 
	@for $i from 1 through 25 {
		.h-list-#{$i} { 
			> * {
				margin-right: $grid-unit * $i;
				margin-left: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	@for $i from 1 through 25 {
		.h-list-#{$i} { 
			> * {
				margin-right: $grid-unit * $i * 0.75;
				margin-left: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) { 
	@for $i from 1 through 25 {
		.h-list-#{$i} { 
			> * {
				margin-right: $grid-unit * $i * 0.5;
				margin-left: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
	@for $i from 1 through 25 {
		.h-list-#{$i} { 
			> * {
				margin-right: $grid-unit * $i * 0.375;
				margin-left: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
@media screen and (max-width: $screen-sm-max) { 
	@for $i from 1 through 25 {
		.h-list-#{$i} { 
			> * {
				margin-right: $grid-unit * $i * 0.25;
				margin-left: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

@for $i from 1 through 25 {
	.h-list-#{$i}--all {
		> * {
			margin-right: $grid-unit * $i;
			margin-left: 0;
		}
	}
}

@for $i from 1 through 25 {
	.h-list-#{$i}--left {
		> * {
			margin-right: 0 !important;
			margin-left: $grid-unit * $i;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}