/*
---
name: Padded Box
category: Layout
---

Padded Box can be used on `<div>` elements to add padding and borders

```padded-box-basic-example.html
<div class="padded-box">
	<h4 class="h--no-margin">Heading 4 inside a Padded Box</h4>
</div>
```

## Sizing
Adjust the size of padding for a padded box with the class `padded-box--{SIZE_NUMBER}`

`{SIZE_NUMBER}` can be any number in the range of 1-25

```padded-box-sizes-example.html
<div class="padded-box padded-box--1">
	<h4 class="h--no-margin">Heading 4 inside a Padded Box with size 1</h4>
</div>
<div class="padded-box padded-box--6">
	<h2 class="h--section">Section Heading inside a Padded Box with size 6</h2>
</div>
```

## Borders
Adjust the border color of the padded box with class `padded-box--border-{COLOR_NAME}`

`{COLOR_NAME}` options:
- `none`: Remove the border
- `theme-gray`: Theme Gray
- `theme-blue`: Theme Blue
- `black`: Black
- `white`: White

```padded-box-colors-example.html
<div class="padded-box padded-box--border-none">
	<h4 class="h--no-margin">Heading 4 inside a Padded Box with no border</h4>
</div>
<div class="padded-box padded-box--border-theme-blue">
	<h2 class="h--section">Section Heading inside a Padded Box with Theme Blue border</h2>
</div>
```

## Backgrounds
Adjust the background color of the padded box with class `padded-box--bg-{COLOR_NAME}`

`{COLOR_NAME}` options:
- `theme-gray`: Theme Gray
- `theme-blue`: Theme Blue
- `black`: Black
- `white`: White

```padded-box-background-example.html
<div class="padded-box padded-box--border-none padded-box--bg-theme-gray">
	<h4 class="h--no-margin">Heading 4 inside a Padded Box with Theme Gray background</h4>
</div>
<div class="padded-box padded-box--border-none padded-box--bg-theme-blue">
	<h2 class="h--section">Section Heading inside a Padded Box with Theme Blue background</h2>
</div>
```
*/
.padded-box {
	border  : 1px solid $black;
	padding : $grid-unit * 2;
}

.padded-box--relative {
	position: relative;
}

/**
* sizes
*/
@media screen and (min-width: $screen-wide-min) { 
	@for $i from 1 through 25 {
		.padded-box--#{$i} { 
			padding: $grid-unit * $i;
		}
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	@for $i from 1 through 25 {
		.padded-box--#{$i} { 
			padding: $grid-unit * $i * 0.75;
		}
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) { 
	@for $i from 1 through 25 {
		.padded-box--#{$i} { 
			padding: $grid-unit * $i * 0.5;
		}
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
	@for $i from 1 through 25 {
		.padded-box--#{$i} { 
			padding: $grid-unit * $i * 0.375;
		}
	}
}
@media screen and (max-width: $screen-sm-max) { 
	@for $i from 1 through 25 {
		.padded-box--#{$i} { 
			padding: $grid-unit * $i * 0.25;
		}
	}
}

/**
* vertical-only sizes
*/
@media screen and (min-width: $screen-wide-min) { 
	@for $i from 1 through 25 {
		.padded-box--vertical-#{$i} { 
			padding: ($grid-unit * $i) 0 ($grid-unit * $i) 0;
		}
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	@for $i from 1 through 25 {
		.padded-box--vertical-#{$i} { 
			padding: ($grid-unit * $i * 0.75) 0 ($grid-unit * $i * 0.75) 0;
		}
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) { 
	@for $i from 1 through 25 {
		.padded-box--vertical-#{$i} { 
			padding: ($grid-unit * $i * 0.5) 0 ($grid-unit * $i * 0.5) 0;
		}
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
	@for $i from 1 through 25 {
		.padded-box--vertical-#{$i} { 
			padding: ($grid-unit * $i * 0.375) 0 ($grid-unit * $i * 0.375) 0;
		}
	}
}
@media screen and (max-width: $screen-sm-max) { 
	@for $i from 1 through 25 {
		.padded-box--vertical-#{$i} { 
			padding: ($grid-unit * $i * 0.25) 0 ($grid-unit * $i * 0.25) 0;
		}
	}
}

/**
* colors
*/
.padded-box--border-none {
	border: 0 !important;
}

.padded-box--border-theme-blue {
	border-color: $theme-blue;
}

.padded-box--border-theme-gray {
	border-color: $theme-gray;
}

.padded-box--border-black {
	border-color: $black;
}

.padded-box--border-white {
	border-color: $white;
}

/**
* backgrounds
*/
.padded-box--bg-theme-blue {
	background-color: $theme-blue;
}

.padded-box--bg-theme-gray {
	background-color: $theme-gray;
}

.padded-box--bg-black {
	background-color: $black;
}

.padded-box--bg-white {
	background-color: $white;
}