/*
---
name: Page Section
category: Layout
---

TODO Page Section documentation
*/
.section {
	position: relative;
}

.section--full-height {
	min-height: 768px;
}

.section--parallax {
	position: relative;
	overflow: hidden;

	@media screen and (min-width: $screen-md-min) {
		padding: 0 0 55%;
	}
}

/*
* break down the parallax background sections on mobile
*/
@media screen and (max-width: $screen-sm-max) {
	.section--parallax {
		// background-color: $background-gray;
		height: auto;
		min-height: 0;

		.section__foreground {
			position: relative;
			height: auto;

			/* switch the white body text to gray in this instance */
			.p--white {
				color: $theme-gray;
			}
		}
	}
}

.section__background--parallax {
	background-position: center center;
	background-repeat: no-repeat;
  position: relative;

	@media screen and (max-width: $screen-sm-max) {
    transform: none !important;
  }

	@media screen and (min-width: $screen-md-min) {
	  // background-size: cover;
		// position: absolute;
		// top: -20%;
		// right: 0;
		// bottom: -20%;
    // left: 0;
    // transform: none !important;


    background-size: cover;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: -20%;
    left: 0;

	}
}

/*
* responsive sizing of parallax background
*/
//@media screen and (min-width: $screen-wide-min) {
//	.section__background--parallax {
//		background-size: 100% auto;
//		height: 135%;
//		top: -50%;
//	}
//}
//@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
//	.section__background--parallax {
//		background-size: 125% auto;
//		height: 135%;
//		top: -50%;
//	}
//}
//@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
//	.section__background--parallax {
//    	background-size: 125% auto;
//
//		height: 135%;
//		top: -50%;
//	}
//}
//@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//	.section__background--parallax {
//		background-size: auto 95%;
//	    height: 100%;
//	    top: -25%;
//	}
//}
/*
* break down the parallax background sections on mobile
*/
@media screen and (max-width: $screen-sm-max) {
	.section__background--parallax {
		background-size: cover;
	    height: 350px;
	}
}

.section__background {
    background-repeat: no-repeat;
    background-size: 100% auto;

    height: 100%;
}

.section__background--bottom {
	background-position: bottom center;
}

.section__foreground {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
}

/*
* responsive show/hide for page sections
*/
@media screen and (min-width: $screen-wide-min) {
	.section--wide-hide {
		display: none;
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.section--xlg-hide {
		display: none;
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.section--lg-hide {
		display: none;
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.section--md-hide {
		display: none;
	}
}
@media screen and (max-width: $screen-sm-max) {
	.section--sm-hide {
		display: none;
	}
}
