/*
---
name: Table Layout
category: Layout
---

TODO 
*/
.table-layout {
	display: table;
}

.table-layout--full-width {
	width: 100%;
}

.table-layout--full-height {
	height: 100%;
}

.table-layout--relative {
	position: relative;
}

/*
* responsive table collapse to block elements
*/
@media screen and (min-width: $screen-wide-min) {
	.table-layout--wide-collapse {
		display: block;

		> .table-layout__row {
			display: block;

			> .table-layout__cell {
				display: block;
				width: 100%;

				&:not(:last-child) {
					margin-bottom: $grid-unit;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.table-layout--xlg-collapse {
		display: block;

		> .table-layout__row {
			display: block;

			> .table-layout__cell {
				display: block;
				width: 100%;

				&:not(:last-child) {
					margin-bottom: $grid-unit;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.table-layout--lg-collapse {
		display: block;

		> .table-layout__row {
			display: block;

			> .table-layout__cell {
				display: block;
				width: 100%;

				&:not(:last-child) {
					margin-bottom: $grid-unit;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.table-layout--md-collapse {
		display: block;

		> .table-layout__row {
			display: block;

			> .table-layout__cell {
				display: block;
				width: 100%;

				&:not(:last-child) {
					margin-bottom: $grid-unit;
				}
			}
		}
	}
}
@media screen and (max-width: $screen-sm-max) {
	.table-layout--sm-collapse {
		display: block;

		> .table-layout__row {
			display: block;

			> .table-layout__cell {
				display: block;
				width: 100%;

				&:not(:last-child) {
					margin-bottom: $grid-unit;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-xs-max) {
	.table-layout--xs-collapse {
		display: block;

		> .table-layout__row {
			display: block;

			> .table-layout__cell {
				display: block;
				width: 100%;

				&:not(:last-child) {
					margin-bottom: $grid-unit;
				}
			}
		}
	}
}

/*
* table row
*/
.table-layout__row {
	display: table-row;
}

/*
* table row horizontal list
*/
@for $i from 1 through 10 {
	.table-layout__row--h-list-#{$i} {
		> .table-layout__cell {
			padding-right: $grid-unit * $i;
			
			&:last-child {
				padding-right : 0;
			}
		}
	}
}

/*
* Table cell styles
*/
.table-layout__cell {
	display: table-cell;
}

.table-layout__cell--relative {
	position: relative;
}

/*
* Table cell widths split into 1/2s
*/
.table-layout__cell-1-2 {
	width: 50%;
}

/*
* Table cell widths split into 1/8s
*/
$one-eighth: 12.5%;
@for $i from 1 through 8 {
	.table-layout__cell-#{$i}-8 { 
		width: $one-eighth * $i;
	}
}

/*
* Table cell widths split into 1/12s, standard grid size
*/
@for $i from 1 through 12 {
	.table-layout__cell-#{$i}-12 { 
		width: $col-unit * $i;
	}
}

/*
* Table cell widths split into 1/16s
*/
$one-sixteen: 6.25%;
@for $i from 1 through 16 {
	.table-layout__cell-#{$i}-16 { 
		width: $one-sixteen * $i;
	}
}

/*
* responsive cell hiding
*/
@media screen and (min-width: $screen-wide-min) {
	.table-layout__cell-wide-hide {
		display: none;
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.table-layout__cell-xlg-hide {
		display: none;
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.table-layout__cell-lg-hide {
		display: none;
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.table-layout__cell-md-hide {
		display: none;
	}
}
@media screen and (max-width: $screen-sm-max) {
	.table-layout__cell-sm-hide {
		display: none;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.table-layout__cell-xs-hide {
		display: none;
	}
}

/*
* Table cell content alignment
*/
.table-layout__cell--halign-center {
	text-align : center;
	
	> * {
		margin-left: auto;
		margin-right: auto;
	}
}

.table-layout__cell--halign-left {
	text-align: left;
}

.table-layout__cell--halign-right {
	text-align: right;
}

.table-layout__cell--valign-mid {
	vertical-align: middle;
}

.table-layout__cell--valign-bot {
	vertical-align: bottom;
}

.table-layout__cell--valign-top {
	vertical-align: top;
}