/*
---
name: Vertical List
category: Layout
---

TODO 
*/
@media screen and (min-width: $screen-wide-min) { 
	@for $i from 1 through 25 {
		.v-list-#{$i} { 
			> * {
				margin-bottom: $grid-unit * $i;
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	@for $i from 1 through 25 {
		.v-list-#{$i} { 
			> * {
				margin-bottom: $grid-unit * $i * 0.75;
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) { 
	@for $i from 1 through 25 {
		.v-list-#{$i} { 
			> * {
				margin-bottom: $grid-unit * $i * 0.5;
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
	@for $i from 1 through 25 {
		.v-list-#{$i} { 
			> * {
				margin-bottom: $grid-unit * $i * 0.375;
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media screen and (max-width: $screen-sm-max) { 
	@for $i from 1 through 25 {
		.v-list-#{$i} { 
			> * {
				margin-bottom: $grid-unit * $i * 0.25;
				margin-top: 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/**
* ### Vertical List - All Children
*
* Use the `.v-list--all` class to add spacing to all child elements inclusive of the last element in the list
*
*   @example
*   ul.v-list--all
*      li.light-grey-1-bg
*         p.p--no-margin List item 1
*      li.light-grey-1-bg
*         p.p--no-margin List item 2
*      li.light-grey-1-bg
*         p.p--no-margin List item 3
*/
@for $i from 1 through 25 {
	.v-list-#{$i}--all {
		> * {
			margin-bottom: $grid-unit * $i;
			margin-top: 0;
		}
	}
}

/**
* ### Vertical List - Top Spacing
*
* Reverse the child spacing from bottom margin to top margin by using the `.v-list--top` class on the parent element
*
*   @example
*   ul.v-list--top
*      li.dark-gold-1-bg
*         p.p--no-margin List item 1
*      li.dark-gold-1-bg
*         p.p--no-margin List item 2
*      li.dark-gold-1-bg
*         p.p--no-margin List item 3
*/
@for $i from 1 through 25 {
	.v-list-#{$i}--top {
		> * {
			margin-bottom: 0 !important;
			margin-top: $grid-unit * $i;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}