{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <div style="margin-top: 100px;">{# THIS IS JUST FOR POSITIONING IN PATTERNLAB. IGNORE. #}


      {% include "@organisms/01-banners/03-banner-title--large/banner.twig" with banner %}

      <nav class="innovation-navigation">
        <ul class="tabs__nav">
          <li rel="January">
            <a href="/" class="tabs__link tabs__link--local-tasks is-active">January</a>
          </li>

          <li rel="July">
            <a href="/" class="tabs__link tabs__link--local-tasks">July</a>
          </li>
          <li rel="September">
            <a href="/" class="tabs__link tabs__link--local-tasks">September</a>
          </li>
        </ul>
      </nav>

      {# {% include "05-pages/innovation-details/innovation-secondary-banner/innovation-secondary-banner.twig" with secondary_banner %} #}

      {# {% include "@pages/innovation-details/innovation-secondary-banner/innovation-secondary-banner.twig" with  secondary_banner %} #}

      <section class="innovation-section">
        <div class="grid-container grid-container--medium">
          <div class="innovation-product-features">
            <img class="innovation-product-features__image" src="{{ features.image_url }}" alt="{{ features.image_alt_text }}" />
            <div class="innovation-product-features__content">
              {% include "@atoms/02-text/00-headings/_heading.twig" with {
                "heading_level": 3,
                "heading": "Product Features",
              } %}

              <ul>
                {% for item in features.content %}
                  <li class="list-item">{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>


      <div class="grid-container">
        <div class="innovation-image-grid">
          {% for image in image_grid %}
            <img  class="innovation-image-grid__item" src="{{ image.src }}" alt="{{ image.alt }}" />
          {% endfor %}
        </div>
      </div>

      <section class="innovation-section">
        <div class="grid-container">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": "Frequently Asked Questions",
          } %}

          <div class="innovation-faq">
            {% include "@organisms/faq-grid/faq-grid.twig" with faq %}

            <figure class="innovation-faq__img">
              <img src="{{ faq_img }}" alt="{{ faq_alt_text }}" />
            </figure>
          </div>
        </div>

      </section>


      <section class="innovation-section">
        <div class="grid-container">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": "Products Featuring Diamond Seal Technology",
          } %}

          {% include "@organisms/product-tile-slider/product-tile-slider.twig" with product_tiles %}

          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 5,
            "heading": "Click below to browse products using Diamond TECHNOLOGY",
          } %}

          <div class="innovation-related-links">
            {% include "@atoms/06-buttons/01-button.twig" with {
              "button_url": "/",
              "button_content": "View Kitchen Faucets",
              "button_modifiers": ["primary", "lg"]
            } %}

            {% include "@atoms/06-buttons/01-button.twig" with {
              "button_url": "/",
              "button_content": "View Bathroom Faucets",
              "button_modifiers": ["primary", "lg"]
            } %}
          </div>
        </div>
      </section>

    </div>

  {% endblock %}

{% endembed %}
