<div class="product-tile product-tile--repair">
  <figure class="product-tile__image">
    <img src="../../images/product-tile-sample.jpg" srcset="../../images/product-tile-sample@2x.jpg"  alt="{{ 'Product tile repair image' |t }}" />
  </figure>

  <div class="product-tile__body">
    <p class="paragraph">Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing</p>
    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      cta_link_text: "View Link here",
      cta_link_url: collection_url,
      cta_link_icon: "carrot-right",
      cta_link_icon_position: "right",
      cta_link_icon_size: "8"
    } %}
  </div>
</div>

