<div class="product-tile {{ partlist_class }}">
  <a class="no-line product-action-link" data="{{ model_number }}" href="{{view_details_link}}">
    <figure class="product-tile__image">
      {{ img_src }}
      {% include "@atoms/04-images/00-image/_image.twig" with {
        'img_src': model_image,
        'img_alt' : description
      } %}
    </figure>
  </a>
  <div class="product-tile__body">
    {% if product_tile_flag_text %}
      {% include "@atoms/13-flag/flag.twig" with {
        "flag_text": product_tile_flag_text,
        "flag_modifiers": product_tile_flag_modifiers,
      } %}
    {% endif %}
      {% if refurbishedProduct == 1 %}
        <a class="no-line product-action-link" data="{{ model_number }}" href="{{view_details_link}}">
          <h6 class="h6 product-tile__title">{{ collection_name | raw }}</h6>
        </a>
        <a class="no-line product-action-link" data="{{ model_number }}" href="{{view_details_link}}">
          <p>{{ description | raw }}</p>
        </a>
      {% else %}
        {% if collection_name|trim is not empty %}
          <a class="no-line product-action-link" data="{{ model_number }}" href="{{view_details_link}}">
            <h6 class="h6 product-tile__title">{{ collection_name | raw }}</h6>
          </a>
        {% endif %}
        <a class="no-line product-action-link" data="{{ model_number }}" href="{{view_details_link}}">
          <p class="paragraph">{{ description | raw }}</p>
        </a>
      {% endif %}
    {% if refurbishedProduct == 1 %}
      {% if strikePrice is not empty %}
        <span class="product-tile__price discount-list-price">List Price*: <span class="pdp-box-prod-price">{{ strikePrice|number_format(2, '.', ',') }}</span></span>
      {% endif %}
      <span class="product-tile__price sale_price">Sale Price*: <span class="pdp-box-prod-price"><span class="price-weight">{{ list_price }}</span></span></span>
    {% endif %}

    {% if refurbishedProduct == 0 %}
      {% if not hide_ratings %}
        <div class=" u-hidden-lg">
          {% include "@molecules/star-rating/_star-rating.twig" with {
            star_rating_value: 4
          } %}
        </div>
      {% endif %}
    {% endif %}
    {% if finish_options|length %}
      <div class="prod-finishes">
        {% for finish_option in finish_options %}
          {% set setActiveClass = 'in-active finish-class' %}
          {% if finish_option.facetFinish == defaultFinish|lower %}
            {% set setActiveClass = 'active finish-class' %}
          {% endif %}
          {% if finish_option.facetFinish|lower != 'na' and finish_option.facetFinish|lower != 'notapplicable' %}
            <a class="product-action-link" data="{{ model_number }}" href="/product-detail/{{ finish_option.modelNumber }}" >
              <img src="{{ finish_option.facetFinishIcon }}"  alt="{{ finish_option.facetFinish }}" title="{{ finish_option.finish|title }}" class="{{ setActiveClass }}" />
            </a>
          {% endif %}

        {% endfor %}
      </div>
    {% endif %}
     <span class="product-tile__sku">
      <a class="no-line product-action-link" data="{{ model_number }}" href="{{view_details_link}}">{{ model_number }}</a>
    </span>
    {# {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      cta_link_modifiers: { 1: "sm" },
      cta_link_text: "Add to Compare",
      cta_link_icon: "filter-add-show-small",
      cta_link_icon_position: "left",
    } %} #}
  </div>
</div>
