<div class="product-tile product-tile--collection">
  <figure class="product-tile__image">
    <img src="../../images/product-tile-sample.jpg" srcset="../../images/product-tile-sample@2x.jpg" alt="{{ 'Product tile collection image' |t }}" />
  </figure>

  <div class="product-tile__body">
    <h6 class="h6 product-tile__title">Collection</h6>
  </div>


  <div class="product-tile__overlay">
    <div class="product-tile__innovations">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": "Featured Innovations",
      } %}

      <ul class="product-tile__innovation-list">
        <li><a href="">Innovation title 1</a></li>
        <li><a href="">Innovation title 2</a></li>
        <li><a href="">Innovation title 3</a></li>
        <li><a href="">Innovation title 4</a></li>
        <li><a href="">Innovation title 5</a></li>
        <li><a href="">Innovation title 6</a></li>
        <li><a href="">Innovation title 7</a></li>
        <li><a href="">Innovation title 8</a></li>
        <li><a href="">Innovation title 9</a></li>
        <li><a href="">Innovation title 10</a></li>
        <li><a href="">Innovation title 11</a></li>
        <li><a href="">Innovation title 12</a></li>
        <li><a href="">Innovation title 13</a></li>
        <li><a href="">Innovation title 14</a></li>
        <li><a href="">Innovation title 15</a></li>
        <li><a href="">Innovation title 16</a></li>
        <li><a href="">Innovation title 17</a></li>
        <li><a href="">Innovation title 18</a></li>
      </ul>
    </div>

    <div class="product-tile__cta">
      {% include "@atoms/06-buttons/01-button.twig" with {
        button_url: "#",
        button_content: "View Collection",
        button_modifiers: {1: "primary", 2: "sm"},
      } %}
    </div>
  </div>
</div>
