/*
 * @file
 * Provides the layout styles for three-column layout section.
 */

@media screen and (min-width: 768px) {
  .layout--threecol-section--33-33-33 {
    width: 100%;
  }

  .layout--threecol-section--33-33-33 > .layout__region {
    flex: 0 1 33.33% !important;
    padding: 0;
  }
}
.product-api-details {
 background: #000;
 color: #fff;
}
.cke_combopanel{
  width: 335px !important;
}