
<div class="grid-container grid-container--medium ">
    <header class="list-grid-header no-sort-label">
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        <div style="display:none;">
            {{ form.sort_by }}
        </div>
        {{ form.sort_order }}
        {{ form.actions }}
        <button type="button" class="list-grid-toggle list-view">
            List View
        </button>
    </header>
</div>
