{{ attach_library('delta_theme/notifications') }}
<div class="user_register_block">
    <p><br>{{ "New to Delta Faucet? Create an account to save your project&nbsp;ideas, register your products, expedite customer service and more"|t }}<br>
        <br>
        <span style="font-weight: 800 !important;">{{ "Are you a Trade Professional"|t }}?</span>&nbsp;<span class="red-600"><a href="https://user.deltafaucet.com/UserApplication/user/selectUserRelation.action" style="text-decoration-line: underline;color: #ac0535;">{{ "Register a Pro Account"|t }}</a></span>
        &nbsp;</p>
    <p class="notes"><span>{{ "Please note"|t }}:</span> {{ "All fields marked with an asterisk are mandatory"|t }}.</p>
    <p class="heading ng-binding">{{ "About You"|t }}</p>
    <div class="global-user-register-err"></div>
</div>
<div class="user_registration">
    {{ attach_library('delta_theme/floating-labels') }}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.firstname }}
{{ form.lastname }}
{{ form.email }}
<div class="user_pass">
{{ form.password }}
{{ form.retypepassword }}
</div>
<div class="user-notification">
{{ form.notification }}
</div>
{{ form.captcha }}
{{ form.hdn_captcha }}
{{ form.registerproduct }}
</div>
