{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('delta_theme/floating-labels') }}
<div class="forgot-password">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <h1 class="h1 title-h1 checkout_login-title">{{ "Forgot My Password"|t }}</h1>
    <div class="forgot-password-desc">
        <span>{{ "Please provide the information below and instructions on how to reset your password will be emailed to you"|t }}.</span>
    </div>
    <div class="forgot-pass-form-section">
        {{ form.forgotPassEmail }}
        {{ form.submit }}
    </div>
    <div class="forgot-pass-professional">
        <a href="{{ form.forgot_password }}" class="bold red">{{ "I have a professional account"|t }}.</a>
    </div>
</div>
