<div class="user_login">
    <h1 class="h1 title-h1">{{ "PRO ACCOUNT SIGN IN "|t }}</h1>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="user-login-error"></div>
    <div class="popup-user-login">
      {{ form.username }}
      <div class="pass">
        {{ form.password }}
      </div>
      <div class="rememberme custom-input custom-input--checkbox">
          {{ form.persistent_login }}
      </div>
      <a href="/password-reset" class="forgot_pass">{{ "Forgot password"|t }}?</a>
       {{ form.actions }}

       {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: "Register for a pro account",
              cta_link_icon: "carrot-right",
              cta_link_icon_position: "right",
              cta_link_url: form.path['#default_value'],
              cta_link_icon_size: 8
          } %}
      </a>
    </div>
</div>
