
{{ attach_library('delta_theme/floating-labels') }}

{% set page_title = "Order Status"|t %}
{% set Icon_box_title = "Track Your Order"|t %}
{% set Paragraph_content = "If you created an account when you placed your order, please to view your full order history."|t %}
{% set well_box_Subtitle_One = "1-800-345-DELTA (3358)" %}
{% set well_box_Content_One = "If you don't have this information available but want to track your order, please contact Customer Support using the above customer service hotline."|t %}
{% set well_box_Content_Two = "If you need to make a return, please see our Return Policy."|t %}
{% set well_box_Subtitle_Two = "Returns"|t %}
{% set well_box_Title = "Customer Service"|t %}
{{ drupal_block('system_breadcrumb_block') }}
<div class="order_status_section">
    <h1 class="page-title {{ font_color_class }}">{{ page_title }}</h1>
    <div class="errMsg">
    </div>
    <div class="order-status-results">
    </div>
    <div class="grid">
        <div class="track_order grid-col-sm-12 grid-col-md-5">
            <h1 data-drupal-selector="order-status-form" class="iconbox_title order-status-form">{{ Icon_box_title }}</h1>
            <p>{{ "If you created an account when you placed your order, please"|t }} <a href="/user-login" class="utility-menu-nav__link use-ajax" data-dialog-options="{&quot;width&quot;:800, &quot;dialogClass&quot;:&quot;login_popup&quot;}" data-dialog-type="modal" data-drupal-link-system-path="user-login">{{ "Sign in"|t }}</a>  {{ "to view your full order history"|t }}.</p>
            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}
            {{ form.render }}
            {{ form.ordernumber }}
            {{ form.email }}
            {{ form.zipcode }}
            {{ form.submit }}
            {{ form.actions }}
        </div>
        <div class="customer-service grid-col-sm-12 grid-col-md-4">
            <div>
                <div class="textbox_container">
                    <h2 class="textbox_title order-status-form">
                        {{ "Customer Service"|t }}
                    </h2>
                    <h5 class="textbox_subtitle">
                        1-800-345-{{ "DELTA"|t }} (3358)
                    </h5>
                    <div class="textbox__content">
                        <p class="paragraph">
                            {{ "If you don't have this information available but want to track your order, please contact Customer Support using the above customer service hotline."|t }}
                        </p>
                    </div>
                    <hr class="divider">
                    <h5 class="textbox_subtitle">
                        {{ "Returns"|t }}
                    </h5>
                    <div class="textbox__content">
                        <p class="paragraph">
                            {{ "If you need to make a return, please see our"|t }} <a class="red-color" href="/ecommerce/return-policy">{{ "Return Policy"|t }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

