<div class="user_login">
  <h2>{{ "Login"|t }}</h2>
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  <div class="user-login-error"></div>
  <div class="popup-user-login">
    {{ form.username }}
    {{ form.password }}

    {{ form.actions }}

    <div class="form-intro__copy"><span>Or login using one of these</span></div>
    {{ form.google_link }}
    {{ form.facebook_link }}
  </div>
</div>
