{% set path = url('<current>') %}
{% if 'newsletter' in path|render|render %}
		{{ form.elements.markup }}
		{{ form.elements.container.first_name }}
		{{ form.elements.container.last_name }}
		{{ form.elements.email_address }}
		{{ form.elements.actions }}
{% else %}
	<div>
		{{ form.elements.need_help_text }}
	</div>
	<div class="grid">
		<div class="grid-col-md-3">
			{{ form.elements.container.first_name }}
		</div>
		<div class="grid-col-md-3">
			{{ form.elements.container.last_name }}
		</div>
		<div class="grid-col-md-3">
			{{ form.elements.email_address }}
		</div>
		<div class="grid-col-md-3">
			{{ form.elements.actions }}
		</div>
	</div>
{% endif %} 