

<div class="order_status_section">
  <h1 class="page-title {{ font_color_class }}">{{ page_title }}</h1>
  <div class="order_status_details">
    <div class="model-name">
      {% include "@atoms/order-details-page/order-model/order-model.twig" %}
    </div>
    <div class="order-placed">
      {% include "@atoms/order-details-page/order-model/order-model.twig" with {
        order_name : order_placed,
        order_number: order_date,
     } %}
    </div>
  </div>
    <div class="your_orders_details">

      {% include "@molecules/orders-list/orders-list.twig" with {

      } %}
    <div class="order_details_bottom_section">
        <div class="back_to_orders estimation">
          <div class="value">{% include "@atoms/01-links/cta-link/cta-link.twig" with {

          } %}</div>
        </div>
        {% include "@molecules/price-details/price-details.twig" with {

        } %}

      </div>
    </div>
   </div>
</div>
