.user-logged-in header.header {
  position: static;

  &.sticky-header {
    height: 105px;
  }
}

header.header {
  background: $black;
  position: fixed;
  width: 100%;
  //margin: 50px 0 0;
  height: 105px;
  top: 0;
  z-index: 100;
  left: 0;

  @include breakpoint($main-menu-medium) {
    &.sticky-header {
      height: 60px;
      padding: 5px 0 5px;
      z-index: 10000;

      .primary-header {
        .header-search-wrapper {
          padding: 0;
          transition: all ease 0.5s;
        }
      }
    }
  }

  @include maxbp($main-menu-medium) {
    height: 56px;
  }

  .header-wrapper {
    @include wrapper;

    padding-left: 64px !important;
    padding-right: 64px !important;
    height: 100%;

    @include maxbp($main-menu-medium) {
      height: 56px;
      padding-left: 24px !important;
      padding-right: 24px !important;
    }

    @include maxbp($medium) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }

  .header-utility {
    .utility-nav {
      @include maxbp($main-menu-medium) {
        display: none;
      }
    }
  }

  .primary-header {
    padding-top: $space;
    //padding-bottom: $space+25;

    @include maxbp($main-menu-medium) {
      padding: 12px 0 0;
    }

    > div {
      display: inline-block;
      vertical-align: top;

      &.mobile-version {
        display: none;

        @include maxbp($r_1000) {
          display: inline-block;
        }
      }
    }

    .logo-wrapper {
      width: 215px;

      @include maxbp($r_1200) {
        width: 170px;
      }

      @include maxbp($r_1000) {
        width: calc(100% - 100px);
      }

      img {
        width: 135px;

        @include maxbp($r_1000) {
          margin: auto;
        }

        @include maxbp($medium) {
          width: 124px;
        }
      }
    }

    .mainmenu-wrapper {
      width: auto;
      padding-top: 2px;
    }

    .header-search-wrapper {
      width: auto;
      text-align: right;
      padding: 0;

      @include maxbp($r_1000) {
        display: none;
      }

      .search-input-wrapper {
        color: white;
        position: relative;

        .js-form-item.form-item {
          margin: 0 !important;
        }

        &::after {
          display: none;
        }

        &::before {
          font-family: $font-icon;
          content: "\e914";
          font-size: 14px;
          position: absolute;
          left: 0;
          color: $gray-20;
          opacity: 0;
          transition: all ease 0.1s;
        }

        .icon-menu-close {
          position: absolute;
          top: 5px;
          right: 0;
          color: $white;
          cursor: pointer;
          display: none;
          background: $black;
          width: 20px;
        }

        &.active-search-input-wrapper {
          &::before {
            opacity: 1;
            transition: all ease 2s;
          }

          .icon-menu-close {
            display: block;
          }
        }

        .search-label {
          border-bottom: 2px solid transparent;
          transition: all ease 0.8s;
          font-family: $font-din1451-engschrift;
          text-transform: uppercase;
          font-size: 1.25rem;
          line-height: 1.5rem;
          letter-spacing: 0.15rem;
          cursor: pointer;
          padding: 0 0 2px;
          position: relative;
          margin: 2px 0 0;

          &:hover {
            border-bottom: 2px solid $gray-30;
          }

          @include maxbp($r_1000) {
            display: none;
          }

          &::after {
            font-family: $font-icon;
            content: "\e914";
            font-size: 15px;
            padding: 0;
          }
        }
      }

      .header-serch-input.search-input {
        background: none;
        border: none;
        border-bottom: 2px solid $black;
        color: $white;
        width: 0;
        transition: width ease 0.8s;
        padding: 0;
        opacity: 0;
        outline: 0;

        &.active-header-serch-input {
          width: 100%;
          max-width: 370px;
          opacity: 1;
          border-bottom: 2px solid $white;
          padding: 0 5px 5px 20px;
          line-height: 1rem;

          @include maxbp($r_1300) {
            max-width: 310px;
          }

          @include maxbp($r_1200) {
            max-width: 320px;
          }

          @include maxbp($r_1100) {
            max-width: 230px;
          }
        }

        &::placeholder {
          color: $gray-40;
          opacity: 1; /* Firefox */
        }

        &::-webkit-input-placeholder {
          color: $gray-40;
          opacity: 1; /* Firefox */
        }

        &::-moz-placeholder {
          color: $gray-40;
          opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder {
          color: $gray-40;
          opacity: 1; /* Firefox */
        }
      }

      @include maxbp($r_1000) {
        &.mobile-search-active {
          display: block;
          position: absolute;
          top: 60px;
          width: 100%;
          left: 0;

          .search-label {
            display: none !important;
          }

          .search-input-wrapper {
            &::before {
              opacity: 1;
              top: 13px;
              left: 13px;
              font-size: 20px;
              z-index: 1;
            }

            @include maxbp($r_1000) {
              .icon-menu-close {
                right: 20px;
                display: block;
                top: 2px;
                font-size: 22px;
                width: 40px;
                background: #000;
                z-index: 100;
                bottom: 0;
                margin: auto;
                height: 50px;
                line-height: 50px;
              }
            }

            .form-item {
              max-width: none;
            }
          }

          .header-serch-input.search-input {
            display: block !important;
            opacity: 1;
            width: 100%;
            background: $black;
            border-top: 1px solid #b2b2b2;
            padding: $space+5 $space+25 $space+5 $space*5;
            border-radius: 0;
            -webkit-appearance: none;
            line-height: 1.5rem;
          }
        }
      }
    }

    .mobile-search-icon {
      color: white;
      width: 30px;
      text-align: right;
      cursor: pointer;
      font-size: 25px;
      padding: 3px 0 0;
      margin: 0 0 0 2px;
      position: relative;
      top: 0;
    }

    .mobile-menu-toggle {
      width: 50px;
      text-align: left;
    }
  }
}
