{{ attach_library('brizo_theme/header-search') }}

<header class="header">
  {% block header_content %}
    <div class="header-wrapper">

    <div class="header-utility">
      <div class="utility-block">
        <div class="utility-nav">
          {% include "@molecules/utility-header/utility-header.twig" %}
        </div>
        <div class="showroom-wrapper">
          {% include "@molecules/showroom-popup/showroom-popup.twig" %}
        </div>
      </div>
    </div>

      <div class="primary-header">

        <div class="mobile-version mobile-menu-toggle">
          <a href="#" id="toggle-expand-id-{{ random() }}" class="toggle-expand" aria-label="Toggle expand button">
            <span class="toggle-expand__open">
              <div class="toggle-bar1"></div>
              <div class="toggle-bar2"></div>
              <div class="toggle-bar3"></div>
            </span>
          </a>
        </div>

        <div class="logo-wrapper">
          {% include "@atoms/04-images/00-image/figure.twig" with {
            img_src: '../../images/brizo-logo.png',
            img_alt: 'Logo',
            img_url: logo_link_url|default('/'),
            image_figure_base_class: 'logo',
            image_link_blockname: 'logo',
          } %}
        </div>

        <div class="mainmenu-wrapper">
          {% include "@molecules/menus/main-menu/main-menu.twig" %}

          <div class="utility-mobile">
            <div class="utility-block">
              <div class="utility-nav">
                {% include "@molecules/utility-header/utility-header.twig" %}
              </div>
            </div>
          </div>

        </div>

        <div class="header-search-wrapper">
          {% include "@molecules/search/serach.twig" %}
        </div>

        <div class="mobile-version mobile-search-icon">
          <i class="icon-search"></i>
        </div>

      </div>
    </div>
  {% endblock %}
</header>
