<div class="medium-grid-struture">
  <div class="grid">
    <div class="grid-col-md-12">
      grid-col-md-12
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-6">
      grid-col-md-6
    </div>
    <div class="grid-col-md-6">
      grid-col-md-6
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-4">
      grid-col-md-4
    </div>
    <div class="grid-col-md-4">
      grid-col-md-4
    </div>
    <div class="grid-col-md-4">
      grid-col-md-4
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-2">
      grid-col-md-2
    </div>
    <div class="grid-col-md-2">
      grid-col-md-2
    </div>
    <div class="grid-col-md-2">
      grid-col-md-2
    </div>
    <div class="grid-col-md-2">
      grid-col-md-2
    </div>
    <div class="grid-col-md-2">
      grid-col-md-2
    </div>
    <div class="grid-col-md-2">
      grid-col-md-2
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-5">
      grid-col-md-5
    </div>
    <div class="grid-col-md-7">
      grid-col-md-7
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-7">
      grid-col-md-7
    </div>
    <div class="grid-col-md-5">
      grid-col-md-5
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
    <div class="grid-col-md-6">
      grid-col-md-6
    </div>
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
  </div>

  <div class="grid">
    <div class="grid-col-md-5">
      grid-col-md-5
    </div>
    <div class="grid-col-md-4">
      grid-col-md-4
    </div>
    <div class="grid-col-md-3">
      grid-col-md-3
    </div>
  </div>

</div>
