{#
/**
 * @file
 *
 * Default product related template.
 *
 * Available variables:
 * - product: The rendered prducts related.
 *
 *
 * @ingroup themeable
 */
#}

<div class="related_product recently_viewed">
<h2 class="h2">{{pdp_recently_viewed_title}}</h2>
  <div class="grid recently_viewed_slider">
   {% for product in  recently_viewed_products %}
   {% set title = '' %}
   {% for pas in product.product_as_shown  %}
    {% set title =  title ~ '<p class="sub-title"> ' ~  pas.title ~ '</p>' %}
    {% set title =  title ~ '<span class="product-modelno"><p class = "paragraph"> ' ~  pas.sku ~ '</p></span>' %}
    {% set title = title | replace({'®': '<sup>®</sup>', '™': "<sup>™</sup>", '<sup>®</sup>': '<sup>®</sup>', '<sup>™</sup>' : '<sup>™</sup>'}) %}
   {% endfor %}
   <div class="grid-col-12 grid-col-sm-12 grid-col-md-12 grid-col-lg-2 recently_viewed__slide">
   {% include "@molecules/product-tile/product-tile.twig" with {
         "product_img_src" : product.heroImageSmall,
         "product_img_alt" : product.title,
         "product_link" : product.path,
         "product_title" : product.collection_name,
         "product_desc" : title,
   } %}
   </div>
   {% endfor %}
  </div>
</div>
