
{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('brizo_pdp/pdp-details') }}

{% set data = product_details.output['#data'] %}
{% if data %}
{% set sliderImage = [] %}
{% if data.heroImage %}
  {% if data.assets.images.heroImageFileName != 'no-image-md.png' %}
  {% set sliderImage = sliderImage|merge({0 : {pdp_label_img: data.heroImage,pdp_label_alt: data.assets.images.heroImageFileName,pdp_srcset: data.heroImage}}) %}
  {% set heroImageAlt = data.assets.images.heroImageFileName %}
  {% set heroImageUrl = data.heroImage %}
{% endif %}
{% else %}
  {% set sliderImage = sliderImage|merge({0 : {pdp_label_img: data.assets.images.url,pdp_label_alt: data.assets.images.heroImageFileName,pdp_srcset: data.assets.images.url}}) %}
  {% set heroImageUrl = data.assets.images.url%}
  {% set heroImageAlt = data.assets.images.heroImageFileName %}
{% endif %}
{% if data.assets.images %}
  {% for image in data.assets.images %}
    {% if image.mediaType == 'video' %}
      {% set sliderImage = sliderImage|merge({(loop.index0) : {pdp_label_img: image.url,pdp_label_alt: image.filename, pdp_srcset: '/themes/custom/brizo_theme/images/icons/src/icon-video-play.svg' }}) %}
    {% elseif image.mediaType == 'image' %}
      {% set sliderImage = sliderImage|merge({(loop.index0) : {pdp_label_img: image.url,pdp_label_alt: image.filename, pdp_srcset: image.smallUrl}}) %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if data.ribbonText %}
  {% set ribbontext = data.ribbonText %}
  {% set ribboncol = [] %}
  {% set ribboncol = [data.ribboncolor]  %}
{% endif %}
{% if(data.disclaimer) %}
  {% set disclaimertext = data.disclaimerText %}
  {% set disclamierlink = data.disclaimerLink %}
{% endif %}
{% if data.watersense %}
  {% set watersenseImg = data.watersense['#data'].icon %}
  {% set watersenseLabel = data.watersense['#data'].text %}
  {% if watersenseImg is empty %}
    {% set watersenseLabel = watersenseLabel %}
  {% endif %}
{% endif %}
{% if data.finishOptions %}
  {% set finishOptions = [] %}
  {% set selectedFinish = data.finish %}
  {% if selectedFinish != "Not Applicable" %}
    {% for finish in data.finishOptions %}
      {% if finish.modelNumber == data.model %}
        {% set finish_selected_class = "finish-selected" %}
      {% else %}
        {% set finish_selected_class = '' %}
      {% endif %}
      {% set finishOptions = finishOptions|merge({(loop.index0) : {finish_product_url: finish.productUrl,finish: finish.finish,finish_product_icon:finish.productIcon['#data'].icon, finish_model_number: finish.modelNumber, selected_class: finish_selected_class }}) %}
    {% endfor %}
  {% endif %}
{% endif %}

{% if data.collections and data.viewAllCollectionLink != '#' %}
  {% set collectionLink = ("View Full "~data.values.Collection~"  " ~data.basecategory~" Collection")|trans %}
  {% set collectionUrl = data.viewAllCollectionLink %}
{% endif %}
{% set primaryBtnModifiers = ['primary'] %}
{% set secondaryBtnModifiers = ['secondary'] %}
{% if data.features %}
  {% set featureproductdetails = [] %}
  {% set featuredHeading = "Featured Accessories" %}
  {% set featureproductdetails = data.features  %}
{% endif %}

  {% if data.handle_Accent %}
    {% set handleaccent = [] %}
    {% set hadleaccentheading = data.handle_or_accent_text %}
    {% set handleaccent = data.handle_Accent %}
  {% endif %}
  {% if data.rough_valve %}
    {% set roughvalve = [] %}
    {% set roughvalveheading = data.rough_valve_text %}
    {% set roughvalve = data.rough_valve %}
  {% endif %}
<div class="pdp-content">
<div class="pdp-data-block">
{% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
  "breadcrumb": data.breadcrumb
} %}


 {% set download__img = {"link_content":' Download Image', "cta_icon_name":"icon-download-arrow", "link_url":"#", "cta_link_icon_position": "right"} %}

<div class="grid">
  <div class="grid-col-12 grid-col-sm-12  grid-col-lg-6 pdp-thumb-wrapper">
    <div class="mobile-thumb-img product_details">
      <h1 class="text-uppercase product_title">{{data.collections | raw }}</h1>
      <h3 class="text-uppercase product_subtitle h3 h3--serif">{{data.description | raw}}</h3>
    </div>
    <div class="pdp-slider-section">
    {% if data.ribbontext != '' %}
      {%  set ribbon_class = data.ribbontext|lower|replace({' ' : '-'})  %}
    {% else %}
      {%  set ribbon_class = ''  %}
    {% endif %}
    {% include "@molecules/product-thumbnail-slider/product-thumbnail-slider.twig" with {
      "slider_img_flag_text": data.ribbontext,
      "slider_img_flag_modifiers": ribboncol,
      "slider_thumb_imgs": sliderImage,
      "download__img" : download__img,
      "slider_img_flag_modifiers" : { 0 : ribbon_class },
      } %}
    </div>
  </div>

  <div class="grid-col-12 grid-col-sm-12  grid-col-lg-6 product_details pdp-detail-wrapper">
  <div class="pdp-data-wrapper">
    <div class="desktop-thumb-img">
      <h1 class="text-uppercase product_title">{{data.collections | raw }}</h1>
      <h3 class="text-uppercase product_subtitle">{{data.description | raw}}</h3>
    </div>
    <div class="consumer-copy"><p>{{data.ConsumerCopy | replace({'®': '<sup>®</sup>', '™': "<sup>™</sup>", '<sup>®</sup>': '<sup>®</sup>', '<sup>™</sup>' : '<sup>™</sup>'})| raw }}</p></div>
    <div class="collection-links">
      {% if data.viewAllCollectionLink != '#'%}
          {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          "link_content": data.view_collection_link_label ,
          "link_modifiers": { 3: "view-collection" },
          "link_url": data.viewAllCollectionLink,
           } %}
      <br/>
      {% endif %}
      {% if data.collection_pdf_link_avail == 1 and domain_show_price %}
        <a href= "{{data.collection_pdf_link}}"  download="{{data.collection_file_name}}" alt="{{data.collection_file_name}}" class="cta-link download-collection-file accent"> {{ data.download_collection_pdf_label }} </a>
      {% endif %}

    </div>
    <div class="share-opt">
      {{ drupal_entity('block', 'addtoanybuttons') }}
    </div>
    <div class="divider"></div>

    <div class="prd-as-shown">
      {% set product_shown = data.product_as_shown %}
      <h6>{{ data.product_as_shown_title }}</h6>
      {% for product_as_shown in product_shown %}
        <div class="row {{product_as_shown.optionLabel ~ "_PAS"}}">
         <div class="col-sm">{{ product_as_shown.title| replace({'®': '<sup>®</sup>', '™': "<sup>™</sup>", '<sup>®</sup>': '<sup>®</sup>', '<sup>™</sup>' : '<sup>™</sup>'})| raw }}
          <span>{{product_as_shown.sku}}</span>
         </div>
         {% if domain_show_price %}
          <div class="prd-as-shown-price">{{ '$' ~ product_as_shown.price}}</div>
         {% else %}
          <div class="prd-as-shown-price ca">{{ '$' ~ product_as_shown.caprice}}</div>
         {% endif %}
        </div>
      {% endfor %}
      {% if domain_show_price %}
        <div class="row listPrice">
          <div class="col-sm">{{ data.product_as_shown_list_price_title}}</div>
          <div class="prd-as-shown-price">{{'$' ~ data.listPrice}}</div>
        </div>
       {% else %}
        
          <div class="row calistPrice">
            <div class="col-sm">{{ data.product_as_shown_list_price_title}}</div>
            <div class="prd-as-shown-price">{{'$' ~ data.caprice}}</div>
          </div>
       
      {% endif %}
    </div>

    <div class="divider"></div>

    <div class="finish">
      <h6>{{ data.finish_title }} <span>{{data.finish}}</span></h6>
      {% set finishOpst = data.finishOptions %}
      <ul>
        {% set finish_loop = 0 %}
        {% for finishOps in finishOpst %}

          {% if finishOps.productIcon['#data']['icon'] != '' %}
           <li class="{{finishOps.active_class }}">
            <a href="{{finishOps.productUrl}}" title="{{finishOps.finish}}">
            {% include "@atoms/04-images/finish-icon/finish-icon.twig" with {
              "finish_prod_icon": finishOps.productIcon['#data']['icon'],
              "finish_prod_title": finishOps.finish,
            } %}
            </a>

          </li>
          {% endif %}
          {# <a href="{{finishOps.productUrl}}">{{ finishOps.finish }}</a>#}
        {% endfor %}
      </ul>
    </div>

  <div class="divider pdp-mobile-hide"> </div>
  </div>

    {# handle accent #}

    {% if data.config_options_avail == 1 %}
    <div class="parts-section">

    {# body Assembly #}
    {% if data.config_options.Body_Assembly|length > 0 %}
    <h6>{{ data.body_assembly_title }}</h6>
    <div class="grid">
      {% for body_assembly in data.config_options.Body_Assembly %}

        {% if domain_show_price %} {# US #}
          {% set body_assembly_price =  body_assembly.price %}
         {% else %}
          {% set body_assembly_price =  body_assembly.caprice %}          
         {% endif %}
         
      {% if body_assembly.configOptionsProducts| length > 0 %}
        {% set refConfigID =  body_assembly.modalNo ~ "-PRD" %}

      {% else %}
        {% set refConfigID =  "PRD" %}
      {% endif %}
      <div class="grid-col-lg-3 grid-col-md-4 grid-col-sm-6 grid-col-6 pdp-thumb-wrapper">
        <div class="part-products product_tile" data-url="{{ body_assembly.productImageurl}}" data-ref-part="{{refConfigID}}" data-thumb-url = "{{ body_assembly.productThumbImageurl}}" data-price = "{{body_assembly_price}}" data-target="Body_Assembly_PAS"  data-type = 'body_assembly' data-modalno = "{{ body_assembly.modalNo }}" data-index= "{{loop.index}}" >
          <div class="product-image">
            {% include "@atoms/04-images/00-image/_image.twig" with {
              "img_src": body_assembly.imageUrl,
              "img_alt": body_assembly.title,
              "img_title": body_assembly.title,
            } %}
          </div>
          <div class="product-data">
            <div class="product-desc">
              <div class="product-detail part-titles">
                {{ body_assembly.title | raw}}
              </div>
              <div class="product-modelno part-modalno">
                {{ body_assembly.modalNo }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {# handle accent #}
      {% if data.config_options.Handle_or_Accent|length > 0 %}
      <h6>{{ data.handle_accsent_title}}</h6>
      <div class="grid">
        {% for handle_accent in data.config_options.Handle_or_Accent %}
          {% if handle_accent.configOptionsProducts| length > 0 %}
            {% set refConfigID =  handle_accent.modalNo ~ "-PRD" %}
          {% else %}
            {% set refConfigID =  "PRD" %}
          {% endif %}

          {% if domain_show_price %} {# US #}
            {% set handle_accent_price =  handle_accent.price %}
          {% else %}
            {% set handle_accent_price =  handle_accent.caprice %}
          {% endif %}
         
         <div class="grid-col-lg-3 grid-col-md-4 grid-col-sm-6 grid-col-6">
          <div class="part-products product_tile" data-url="{{ handle_accent.productImageurl }}" data-ref-part="{{refConfigID}}" data-thumb-url="{{ handle_accent.productThumbImageurl}}" data-target="Handle_or_Accent_PAS" data-price="{{handle_accent_price}}" data-type="handle_accent" data-modalno="{{ handle_accent.modalNo }}" data-index="{{loop.index}}" >
            <div class="product-image">
              {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src": handle_accent.imageUrl,
                "img_alt": handle_accent.title,
                "img_title": handle_accent.title,
              } %}
            </div>
            <div class="product-data">
              <div class="product-desc">
                <div class="product-detail part-titles">
                  {{ handle_accent.title | raw}}
                </div>
                <div class="product-modelno part-modalno">
                  {{ handle_accent.modalNo }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {# riser union #}
      {% if data.config_options.Riser_Union|length > 0 %}
      <h6>{{ data.riser_union_title}}</h6>
      <div class="grid">
        {% for riser_union in data.config_options.Riser_Union %}
        {% if riser_union.configOptionsProducts| length > 0 %}
          {% set refConfigID =  riser_union.modalNo ~ "-PRD" %}
        {% else %}
          {% set refConfigID =  "PRD" %}
        {% endif %}
        <div class="grid-col-lg-3 grid-col-md-4 grid-col-sm-6 grid-col-6">
          <div class="part-products product_tile" data-url="{{ riser_union.productImageurl }}" data-ref-part="{{refConfigID}}" data-thumb-url="{{ riser_union.productThumbImageurl}}" data-target="Riser_Union_PAS" data-price="{{riser_union.price}}" data-type="riser_union" data-modalno="{{ riser_union.modalNo }}" data-index="{{loop.index}}">
            <div class="product-image">
              {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src": riser_union.imageUrl,
                "img_alt": riser_union.title,
                "img_title": riser_union.title,
              } %}
            </div>
            <div class="product-data">
              <div class="product-desc">
                <div class="product-detail part-titles">
                  {{ riser_union.title | raw}}
                </div>
                <div class="product-modelno part-modalno">
                  {{ riser_union.modalNo }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {# Rough Valve #}
      {# riser union #}
      {% if data.config_options.Rough_Valve|length > 0 %}
      <h6>{{ data.rough_valve_title}}</h6>
      <div class="grid">
        {% for rough_valve in data.config_options.Rough_Valve %}
        {% if rough_valve.configOptionsProducts| length > 0 %}
          {% set refConfigID =  rough_valve.modalNo ~ "-PRD" %}
        {% else %}
          {% set refConfigID =  "PRD" %}
        {% endif %}
        {% if domain_show_price %} {# US #}
          {% set rough_valve_price =  rough_valve.price %}
        {% else %}
          {% set rough_valve_price =  rough_valve.caprice %}
        {% endif %}
        <div class="grid-col-lg-3 grid-col-md-4 grid-col-sm-6 grid-col-6">
          <div class="part-products product_tile" data-url="{{ rough_valve.productImageurl }}" data-ref-part="{{refConfigID}}" data-thumb-url="{{ rough_valve.productThumbImageurl}}" data-target="Rough_Valve_PAS" data-price="{{rough_valve_price}}" data-type="rough_valve" data-modalno="{{ rough_valve.modalNo }}" data-index="{{loop.index}}">
            <div class="product-image">
              {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src": rough_valve.imageUrl,
                "img_alt": rough_valve.title,
                "img_title": rough_valve.title,
              } %}
            </div>
            <div class="product-data">
              <div class="product-desc">
                <div class="product-detail part-titles">
                  {{ rough_valve.title | raw}}
                </div>
                <div class="product-modelno part-modalno">
                  {{ rough_valve.modalNo }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {# sub items #}
      {% for configOptions in data.config_options %}
        {% for key, parts_list in configOptions %}
          {% if parts_list.optionLabel|length > 0 %}
           <h6>{{parts_list.optionLabel}}</h6>
          {% endif %}
          {% set className = parts_list.modalNo %}
            {% if parts_list.configOptionsProducts|length > 0 %}
          <div class="{{ className ~ '-PRD sub-part-area' }} hidden" >
            {% for key , sub_items in parts_list.configOptionsProducts %}
            <h6>{{ key | replace({'_': ' '}) }}</h6>
            <div class="grid">
              {% for values in sub_items %}
                {% if domain_show_price %} {# US #}
                  {% set values_price =  values.price %}
                {% else %}
                  {% set values_price =  values.caprice %}
                {% endif %}
              <div class="grid-col-lg-3 grid-col-md-4 grid-col-sm-6 grid-col-6">
              <div class="part-products product_tile" data-url="{{ values.productImageurl }}" data-thumb-url="{{ values.productThumbImageurl}}" data-target="{{key}}_PAS" data-price = "{{values_price}}"  data-ref-part="PRD-SUB" data-label="{{ key ~ '_PAS'}}" data-type="{{ key|lower }}" data-modalno="{{  values.modalNo }}" data-index="{{loop.index}}">
                <div class="product-image">
                  {% include "@atoms/04-images/00-image/_image.twig" with {
                    "img_src": values.imageUrl,
                    "img_alt": values.title,
                    "img_title": values.title,
                  } %}
                </div>
                <div class="product-data">
                  <div class="product-desc">
                    <div class="product-detail part-titles">
                      {{ values.title | raw}}
                    </div>
                    <div class="product-modelno part-modalno">
                      {{ values.modalNo }}
                    </div>
                  </div>
                </div>
              </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        {% endif %}
        {% endfor %}
      {% endfor %}



    </div> {# end part#}
    {% endif %}

  </div>
   </div>
</div>
<div class="linear_gradient pdp-mobile-hide"></div>
<div class="prod-content-list-wrapper pdp-data-block">
<div class="grid product_content_list">

{% if data.technical_spec_avail == 1 or  data.technical_spec_attr_avail == 1 %}
  <div class="grid-col-12 grid-col-sm-12 grid-col-lg-8 text-long tech-spec">
    <h4 class="h4">{{data.technical_spec_title}}</h4>
    <div class="content-list-data">
    <div class="grid">
    {% if data.technical_spec_avail == 1 %}
    <div class="grid-col-lg-8">
      {% for technical_spec in data.technical_spec_file %}
              {% include "@atoms/04-images/00-image/_image.twig" with {
          "img_src": technical_spec.file_url,
          "img_alt": technical_spec.file_name,
          "img_title": technical_spec.file_name,
        } %}
      {% endfor %}
    </div>
  {% endif %}
    <div class="grid-col-lg-4">
    {% if data.technical_spec_attr_avail == 1 %}
        <ul>
          {% for tech_spec_attr in data.tech_spec_attr %}
                <li>
                  <span> {{ tech_spec_attr.label }}</span>
                  <span> {{ tech_spec_attr.values }}</span>
                </li>
          {% endfor %}
          {% if data.shower_image_avail %}
          {% include "@atoms/04-images/00-image/_image.twig" with {
            "img_src": data.shower_image,
            "img_alt": data.shower_img_alt,
            "img_title": data.shower_img_alt,
          } %}
          {% endif %}
        </ul>
    {% endif %}
    </div>
    </div>
    </div>
  </div>


{% endif %}
 {% if data.faturesBenefits %}
  <div class="grid-col-12 grid-col-sm-12 grid-col-lg-4 text-long featuresList">
  <h4 class="h4">{{data.features_title}}</h4>
  <div class="content-list-data">
    {% set featuresList = [] %}
    <ul class="bullet_list">
    {% for features in data.faturesBenefits %}
      {% set featuresList = featuresList|merge({(loop.index0) : {content: features }}) %}
      <li>{{ features | raw }}</li>
    {% endfor %}
    </ul>
    {% set faturesBenefits = data.faturesBenefits %}
    </div>
  </div>
  {% endif %}
</div>



<div class="grid product_content_list">
  {% if data.technical_documents_avail == 1 %}
  <div class="grid-col-12 grid-col-sm-12 grid-col-lg-4 document_list">
  <h4 class="h4">{{data.technical_doc_title}}</h4>
    <div class="content-list-data">
   <ul>
      {% for technical_documents in data.technical_documents %}
        {% if technical_documents.file_url != '' %}
          <li>{{ technical_documents.title}}
            <ul>
              {% set downloadExtension =  technical_documents.file_name | url_encode %}
              {% set downloadLink = technical_documents.file_url|replace({ (technical_documents.file_name) : downloadExtension}) %}
            <li><a class="link accent" href= "{{technical_documents.file_url }}" target="_blank" > {{ data.view_file_label }} </a> </li>
            <li> <a class="download-tech-file link" href="{{downloadLink}}"  download="{{technical_documents.file_name}}" class="download-tech-file accent" alt="{{technical_documents.file_name}}"> {{ data.download_file_label |t }} </a> </li>
            </ul>
          </li>
        {% endif %}
    {% endfor %}
    {% if data.bimsmith.status and  data.bimsmith.status  == true %}
    <li>Design Files
      <ul class="design-file-ul">

        <li class="design-file-li"><a class="link accent design-file-link" href="javascript:void(0)" data-market-product-id="{{ data.bimsmith.id }}" > Explore </a> </li>
      </ul>
    </li>
    {% endif %}
   </ul>
   </div>
  </div>
{% endif %}
</div>
</div>
<div class="linear_gradient"></div>
<div class="pdp-data-block">
{% if data.related_prd_avail == 1%}
  <div class="related_product">
  <h2 class="h2">{{data.related_products_title}}</h2>
  {% include directory ~ '/templates/product/commerce-product-related.html.twig'  with {
    "related_products" : data.related_products,
    }
   %}
  </div>
{% endif %}

{% if data.recently_viewed_avail == 1 %}
    {% include directory ~ '/templates/product/commerce-product-recently-viewed.html.twig'  with {
      "pdp_recently_viewed_title" : data.pdp_recently_viewed_title,
      "recently_viewed_products" : product_details.output['#recently_viewed'],
      }
    %}
{% endif %}

{# no data found #}
{% else %}
  {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
    "breadcrumb": product_details['#breadcrumb'],
  } %}
  {{ product_details['#no-data-content'] |raw }}
  {% if product_details['#recently_viewed'].recently_viewed_avail == 1 %}
      {% include directory ~ '/templates/product/commerce-product-recently-viewed.html.twig'  with {
        "pdp_recently_viewed_title" : product_details['#recently_viewed'].pdp_recently_viewed_title,
        "recently_viewed_products" : product_details['#recently_viewed'].recently_viewed_products,
        }
      %}
  {% endif %}
{% endif %}

<div class="download_handlr" style="display:none">
{{  product_details.output['#download_form']}}
</div>
</div>
</div>
{% if data.bimsmith.status  == true %}
  <script src="https://bimsmith.com/market-inject.js"></script>
{% endif %}
