{#
/**
 * @file
 *
 * Default product related template.
 *
 * Available variables:
 * - product: The rendered prducts related.
 *
 *
 * @ingroup themeable
 */
#}

{% if related_products %}
  {% for related_product in related_products %}
    {% if related_product.products|length > 0 %}
    <h4 class="h5">{{related_product.title}}</h4>
    <div id = "output-{{ random() }}" class="related_product_list grid">
    {% for product in related_product.products %}
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">
    {% include "@molecules/product-tile/product-tile.twig" with {
          "product_img_src" : product.heroImageSmall,
          "product_img_alt" : product.title,
          "product_link" : product.path,
          "product_title" : product.title,
    } %}
    </div>
    {% endfor %}
    </div>
  {% endif %}
  {% endfor %}
{% endif %}
