
{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<div class="product-404-content-area">

  {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
    "breadcrumb": breadcrumb
  } %}


  <div class="content-reg">
  {{ content | raw}}
  </div>

  {% if recently_viewed.recently_viewed_avail == 1 %}
      {% include directory ~ '/templates/product/commerce-product-recently-viewed.html.twig'  with {
        "pdp_recently_viewed_title" : recently_viewed.pdp_recently_viewed_title,
        "recently_viewed_products" : recently_viewed.recently_viewed_products,
        }
      %}
  {% endif %}

</div>
