<div class="pdp-top-section grid">

  <div class="prod-slider-wrapper grid-col-sm-6">
    <div class="mobile-pdp-prod-info-hdr">
      {% include "@molecules/pdp-product-info-header/pdp-product-info-header.twig" with {
        "collection_name": pdp_collection,
      }%}
      <div class="pdp-collection-link-wrapper">
        {% include "@atoms/pdp-page/pdp-collection-link/pdp-collection-link.twig" %}
      </div>
    </div>
    {% if data.unconfigured %}
    <div class="pdp-handle-accent-big-image">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: heroImageUrl,
        img_alt: pdp_prod_name | striptags ,
      } %}
      {% if slider_img_flag_text %}
        <div class="slider_flag">
          {% include "@atoms/13-flag/flag.twig" with {
            "flag_text": slider_img_flag_text,
            "flag_modifiers": slider_img_flag_modifiers
          } %}
        </div>
      {% endif %}
    </div>
  {% else %}
      {% include "@molecules/product-thumbnail-slider/product-thumbnail-slider.twig" %}
  {% endif %}

  </div>

  <div class="prod-detail-wrapper grid-col-sm-6">
    {% include "@molecules/pdp-product-detail/pdp-product-detail.twig" %}
  </div>

</div>
