{{ attach_library('delta_theme/tippy') }}
{{ attach_library('delta_theme/tooltip') }}

<div class="pdp-tab-block">
  <div class="pdp-tab-featurs">
    <div class="pdp-fea-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: pdp_prod_more_desc
      } %}
    </div>
    <div class="pdp-fealist-wrapper grid">
      {% if pdp_fea_list is not empty %}
        <div class="pdp-fealist grid-col-sm-7">
          {% include "@atoms/03-lists/00-ul.twig" with {
            ul_items: pdp_fea_list
          } %}
        </div>
      {% endif %}
      <div class="pdp-fea-img-wrapper grid-col-sm-5">
        {% if pdp_fea_img_title is not empty %}
          <div class="pdp-fea-img-block">
            <div class="pdp-fea-img-title">
              {% include "@atoms/02-text/00-headings/_heading.twig" with {
                "heading_level": 6,
                heading: pdp_fea_img_title
              } %}
            </div>
            <div class="pdp-fea-img-desc">
              {% block list_content %}
                {% for pdp_img_list in pdp_img_lists %}
                  {% set tooltipId = pdp_img_list.pdp_tooltip_id %}
                  <div class="pdp-fea-img-list">
                    {% if pdp_img_list.pdp_link_content %}
                      <a href={{ pdp_img_list.pdp_link_content }} target="_blank">
                    {% endif %}
                        {% include "@atoms/04-images/00-image/_image.twig" with {
                          "img_src": pdp_img_list.pdp_label_img,
                          "img_alt": pdp_img_list.pdp_fea_img_name|replace({'<sup>&trade;</sup>':'™', '<sup>&reg;</sup>':'®','<sup>®</sup>':'®','<sup>™</sup>':'™'})|raw,
                        } %}

                        <div class="pdp-fea-img-name">
                          {% include "@atoms/02-text/00-headings/_heading.twig" with {
                            "heading_level": 6,
                            "heading": pdp_img_list.pdp_fea_img_name,
                          } %}
                        </div>
                    {% if pdp_img_list.pdp_link_content %}
                      </a>
                    {% endif %}
                    <div class="pdp-tooltip">
                      {% set templateId = "tooltip-"~ tooltipId %}
                      {% include "@molecules/tooltip/tooltip.twig" with {
                        id: templateId,
                        tooltip_title: pdp_img_list.pdp_tooltip_title,
                        tooltip_content: pdp_img_list.pdp_tooltip_content,
                        tooltip_placement: "right",
                      } %}
                    </div>
                  </div>
                  
                {% endfor %}
              {% endblock %}
            </div>
          </div>
        {% endif %}
        {% if pdp_spc_img_title is not empty %}
          <div class="pdp-fea-img-block">
            <div class="pdp-fea-img-title">
              {% include "@atoms/02-text/00-headings/_heading.twig" with {
                "heading_level": 6,
                heading: pdp_spc_img_title
              } %}
            </div>
            <div class="pdp-fea-img-desc">
              {% block list_content_special %}
                {% for pdp_special_feature in pdp_special_features_lists %}
                  <div class="pdp-fea-img-list" >
                    {% if pdp_special_feature.pdp_link_content %}
                      <a href={{ pdp_special_feature.pdp_link_content }} target="_blank">
                    {% endif %}
                        <div class="pdp-fea-img">
                          {% include "@atoms/04-images/00-image/_image.twig" with {
                            "img_src": pdp_special_feature.pdp_label_img,
                            "img_alt": pdp_special_feature.pdp_fea_img_name|replace({'<sup>&trade;</sup>':'™', '<sup>&reg;</sup>':'®','<sup>®</sup>':'®','<sup>™</sup>':'™'})|raw,
                          } %}
                        </div>

                        <div class="pdp-fea-img-name">
                          {% include "@atoms/02-text/00-headings/_heading.twig" with {
                            "heading_level": 6,
                            "heading": pdp_special_feature.pdp_fea_img_name,
                          } %}
                        </div>
                    {% if pdp_special_feature.pdp_link_content %}
                      </a>
                    {% endif %}
                    <div class="pdp-tooltip">
                      {% include "@molecules/tooltip/tooltip.twig" with {
                        id: pdp_special_feature.pdp_tooltip_id,
                        tooltip_title: pdp_special_feature.pdp_tooltip_title,
                        tooltip_content: pdp_special_feature.pdp_tooltip_content,
                        tooltip_placement: "right"
                      } %}
                    </div>
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          </div>
        {% endif %}
        {% if pdp_warning %}
          <div class="pdp-prop-warning">
            {% include "@atoms/pdp-page/pdp-warning/pdp-warning.twig" %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
