.hp-card {
  .no-marg {
    margin: 0;
  }

  .no-marg a {
    text-decoration: none;
    font-size: 1.42375rem;
    letter-spacing: -0.2px;
    line-height: 1rem;
  }

  img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  &:hover {
    .u-text-xl.u-text-bold {
      text-decoration: underline;
    }
  }
}

.cta-container.centered.hp-card {
  padding: 30px 0 0 0;
  margin-bottom: 10px;
}
