<div class="hp-card{% if sfcc_lazy_load %} lazy-load-on{% endif %}">
    <a href="{{ hp_card_link }}">
      {% if hp_card_img_alt == false %}{% set hp_card_img_alt = hp_card_title %}{% endif %}
      {% if sfcc_lazy_load %}
        <img class="lazyload" alt="{{ hp_card_img_alt }}" src="" data-src="{{ hp_card_img_src }}" />
      {% else %}
        <img alt="{{ hp_card_img_alt }}" src="{{ hp_card_img_src }}" />
      {% endif %}
    </a>
    <p class="no-marg u-text-xl u-text-bold"><a href="{{ hp_card_link }}">{{ hp_card_title }}</a></p>
  <p class="no-marg">{{ hp_card_sub_title }}</p>
  {% if hp_card_cta is not empty %}
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "xs" },
          cta_link_icon: "carrot-right",
          cta_link_icon_position: "right",
          cta_link_icon_size: "10px",
          cta_link_text: hp_card_cta,
          cta_link_url: hp_card_link,
        } %}
    {% endif %}
</div>