<div class="designbeyond">
  <div class="qidl-wrapper grid">
    {% for qidl_block in qidl_blocks %}
      <div class="grid-col-md-3">
        {% include "@molecules/quote-image-desc-link/quote-image-desc-link.twig" with {
          "qidl_quote": qidl_block.qidl_quote,
          "qidl_image_src": qidl_block.qidl_image_src,
          "qidl_image_alt": qidl_block.qidl_image_alt,
          "qidl_desc": qidl_block.qidl_desc,
          "qidl_more_url": qidl_block.qidl_more_url,
          "qidl_more_content": qidl_block.qidl_more_content,
          "qidl_more_modifiers": qidl_block.qidl_more_modifiers,
        } %}
      </div>
    {% endfor %}
  </div>

  <div class="iwlt-wrapper">
    <div class="iwlt-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": iwlt_title,
      } %}
    </div>
    <div class="iwlt-desc grid">
      {% for iwlt_block in iwlt_blocks %}
        <div class="grid-col-md-3">
          {% include "@molecules/image-with-link-title/image-with-link-title.twig" with {
            "iwlt_image_src": iwlt_block.iwlt_image_src,
            "iwlt_image_alt": iwlt_block.iwlt_image_alt,
            "iwlt_link_text": iwlt_block.iwlt_link_text,
            "iwlt_link_url": iwlt_block.iwlt_link_url,
          } %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
