$space-ten: 10px;

.sg-pattern-example {
  .thumb-img-wrapper-list {
    width: 50%;

    @include maxbp($large) {
      width: 100%;
    }
  }
}

.thumb-img-wrapper-list {
  .thumb-img-wrapper {
    padding: 0 $space-ten * 2;

    div.thumb-img-block {
      cursor: pointer;
      text-align: center;
      outline: none;
      padding: 4px 3px;
      border: 2px solid transparent;

      &.active-thumbnail img {
        box-sizing: border-box;
        border: 3px solid $gray-10;
        padding: 5px;
      }

      i {
        position: absolute;
        font-size: 43px;
        left: 72%;
        top: 32%;

        &::before {
          color: $white;
          opacity: 1;
        }
      }
    }

    .thumb-img-block {
      img {
        width: 100px;
        display: inline-block;
        //height: 73.55px;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        vertical-align: middle;
      }

      & + .thumb-img-block {
        img {
          width: 100%;
        }
      }
    }

    .slick-list {
      margin: -4px;
    }
  }

  .prod-big-img {
    margin: 0 0 $space-ten * 3;
    position: relative;
    overflow: hidden;

    .slider_flag {
      position: absolute;
      top: 0;
    }

    img {
      margin: auto;

      @include breakpoint($large) {
        width: auto;
        height: fit-content;
      }
    }
  }

  .prod-big-container {
    width: 719px;
    height: 607px;
    display: flex;

    @include maxbp(1600px) {
      width: 100%;
    }
  }
}

.desktop-thumb-img {
  display: block;

  @include maxbp($large) {
    display: none;
  }

  .slick-arrow {
    height: 14px !important;
    width: 15px !important;
    top: 37px !important;

    &::before {
      font-size: 16px;
    }

    &.slick-next {
      top: 35px !important;
    }
  }
}

.mobile-thumb-img {
  position: relative;
  overflow: hidden;
  display: none;

  .slick-list.draggable {
    &.fixheight {
      min-height: 350px;
    }

    video {
      min-height: 350px;
    }

    @include maxbp(600px) {
      &.fixheight {
        min-height: 300px;
      }

      video {
        min-height: 300px;
      }
    }

    @include maxbp($small) {
      &.fixheight {
        min-height: 250px;
      }

      video {
        min-height: 250px;
      }
    }
  }

  @include maxbp($large) {
    display: block;
    margin: 15px;
  }

  .slider_flag {
    position: absolute;
    top: 0;
    z-index: 2;

    .flag {
      @include maxbp($medium) {
        min-width: 160px;
        transform: translate(-66px, -19px) rotate(-45deg);
        transform-origin: 100% 0;
      }
    }

    @media (max-width: 1023px) {
      display: block !important;
    }
  }

  .thumb-img-block.slick-slide {
    text-align: center;

    img {
      margin: auto;
    }
  }

  .slick-dots {
    text-align: right;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    z-index: 99;
    margin: 16px auto auto;
    overflow: hidden;
    width: 93%;
    padding: 0;

    li {
      display: block;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 61px;
      width: 100%;

      & + li {
        margin-left: 10px;
      }
    }

    button {
      background-color: $gray-60;
      width: 100%;
      height: 4px;
      display: block;
      border: 0;
      text-indent: -9999px;
      border-radius: 2px;
      cursor: pointer;

      &:focus,
      &:active {
        outline: none;
      }
    }

    li.slick-active button {
      background-color: $gray-10;
    }
  }
}

.slider-nav {
  .slick-list {
    width: 90%;
    margin: auto;
  }

  img {
    height: 80px;
    padding: $space-ten/2;
  }
}

.prod-slider {
  width: 100%;
  max-width: 550px;
}

.slick-arrow {
  font-size: 0;
  background: none;
  border: none;
  top: 40px;
  bottom: auto;
  margin: auto;
  position: absolute;
  z-index: 15;
  cursor: pointer;
  font-family: $font-icon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: $gray-10;

  &::before {
    content: "\e901";
    font-size: 25px;
  }

  &:focus {
    outline: none;
  }

  @include maxbp($large) {
    top: 0;
    bottom: 0;
  }

  &.slick-disabled {
    color: $gray-60;
  }

  &.slick-prev {
    height: 20px;
    width: 20px;
    left: 0;
    top: 47px;
    transform: rotateZ(180deg);
  }

  &.slick-next {
    height: 20px;
    width: 20px;
    right: 0;
  }
}

.slider-video-wrapper {
  position: relative;

  video {
    position: absolute;
  }
}

.prod-big-img {
  .download__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: $font-condensed;

    a {
      margin-right: 10px;
      text-decoration-color: transparent;
      margin-top: 5px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.4px;

      i {
        padding: 0 0 0 5px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
