{{ attach_library('brizo_theme/product-thumb-slider')}}

<div class="thumb-img-wrapper-list desktop-thumb-img">
  <div class="prod-big-img">
    <div class="prod-big-container">

    {% include "@atoms/04-images/00-image/_image.twig" with {
      img_src: "",
      img_alt: pdp_label_alt ?? heroImageAlt,
    } %}

    <div class="slider_flag">
      {% include "@atoms/flag/flag.twig" with {
        "flag_text": slider_img_flag_text,
        "flag_modifiers": slider_img_flag_modifiers
      } %}
    </div>

    </div>
    {% if  download__img %}
      <div class="download__img-wrapper">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          link_content: download__img.link_content,
          cta_icon_name: download__img.cta_icon_name,
          link_url: download__img.link_url,
          cta_link_icon_position: download__img.cta_link_icon_position,
          cta_link_base_class : "accent",
          cta_link_id: 'js-hi-res-download'

        } %}
     </div>
    {% endif %}

  </div>

  <div class="thumb-img-wrapper slider multiple-items" data-slick='{"slidesToShow": 7, "slidesToScroll": 7, "adaptiveHeight": true , "infinite": false, "variableWidth": false}' >
    {% block thub_img_content %}
      {% for slider_thumb_img in slider_thumb_imgs %}
        <div class="thumb-img-block {{slider_thumb_img.video_thambnail}}">
          {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: slider_thumb_img.pdp_label_img,
            img_alt: slider_thumb_img.pdp_label_alt,
            img_srcset: slider_thumb_img.pdp_srcset,
          } %}
          {% if  slider_thumb_img.video_thambnail %}
          {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_name: slider_thumb_img.video_thambnail.icon_name,
            } %}
          {% endif %}
        </div>

      {% endfor %}
    {% endblock %}
  </div>
</div>

<div class="thumb-img-wrapper-list mobile-thumb-img">
  <div class="slider_flag">
    {% include "@atoms/flag/flag.twig" with {
      "flag_text": slider_img_flag_text,
      "flag_modifiers": slider_img_flag_modifiers
    } %}
  </div>
  <div class="thumb-img-wrapper1 slider multiple-items" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "arrows": false, "adaptiveHeight": true, "swipeToSlide": true}' >
    {% block thub_img_content_mobile %}
      {% for slider_thumb_img in slider_thumb_imgs %}
        <div class="thumb-img-block">
          {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: slider_thumb_img.pdp_label_img,
            img_alt: slider_thumb_img.pdp_label_alt,
            img_srcset: slider_thumb_img.pdp_srcset,
          } %}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
</div>
