{% if form.erroroncheckout %}
    {{ form.erroroncheckout }}
{% endif %}
<div class="checkout-pages checkout-billing">

    <div class="padded-box padded-box--border-none padded-box--vertical-4 padded-box--bg-white">
        <div class="error-on-paymetric"></div>

        <div class="grid-container">
            <div class="row">
                <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-10 col-sm-12 col--no-padding">
                    <div class="table-layout table-layout--full-width table-layout--full-height table-layout--sm-collapse">
                        <div class="table-layout__row table-layout__row--h-list-6">

                            <div class="table-layout__cell table-layout__cell-7-12 table-layout__cell--valign-top">


                                {{ form.form_build_id }}
                                {{ form.form_token }}
                                {{ form.form_id }}
                                <ul class="checkout-steps">
                                    <li class="previous">
                                        <span>01</span>
                                        Shipping
                                    </li>
                                    <li class="active">
                                        <span>02</span>
                                        Payment & Order Review
                                    </li>
                                </ul>
                                <div class="checkout-section-header">
                                    <h2>Payment Information</h2>
                                    <p>
                                        <span>Please Note:</span>
                                        All fields are required unless marked as
                                        <b>optional</b>
                                    </p>
                                </div>
                                {{ form.card_info }}
                                {{ form.hidden }}
                                {{ form.render }}
                                {{ form.payment_billing_info }}
                                {{ form.payment_info }}
                                {{ form.accesstokenXml }}
                                {{ form.accept_order_details }}
                                {{ form.actions }}
                                {{ form.submit }}

                            </div>

                            <div class="table-layout__cell table-layout__cell-5-12 table-layout__cell--valign-top">

                                <div class="checkout-rightside">
                                    <div class="layout-region layout-region-checkout-secondary">
                                        <h3>Your Order</h3>
                                        <div class="product-each">
                                            <div class="ini">

                                                <div class="product-image">
                                                    <img src="{{ form.ship_response['#items']['orderItems'][0]['imageUrl'] }}">
                                                </div>
                                                <div class="product-details">
                                                    <div class="order-prd-title-wrapper">
                                                        <span class="order-prd-title">{{ form.ship_response['#items']['orderItems'][0]['title'] }}</span>
                                                    </div>
                                                    <div class="order-prd-desc-wrapper">
                                                        <span class="order-prd-des-sku">Product #:
                                                            {{form.ship_response['#items']['orderItems'][0]['sku'] }}
                                                        </span>
                                                        <span class="order-prd-price">Price:
                                                            ${{ form.ship_response['#items']['orderItems'][0]['unitPrice'] }}
                                                        </span>
                                                        <span class="order-prd-qty-total">Qty:
                                                            {{ form.ship_response['#items']['orderItems'][0]['qty'] }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <span class="order-prd-price-total">
                                                        ${{ form.ship_response['#items']['orderItems'][0]['unitPrice'] }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-subtotal">
                                            <div class="ini">
                                                <div class="order-total-line order-total-line__subtotal">
                                                    <span class="order-total-line-label">
                                                        Subtotal:
                                                    </span>
                                                    <span class="order-total-line-value">
                                                        ${{ form.ship_response['#items']['orderSubTotal'] }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section-total">
                                            <div class="ini">
                                                <div class="order-total-line order-total-line__total">
                                                    <span class="order-total-line-label">
                                                        Total:
                                                    </span>
                                                    <span class="order-total-line-value">
                                                        ${{ form.ship_response['#items']['orderTotal'] }}
                                                    </span>
                                                </div>
                                                <div class="order-total-line">
                                                    <span class="pricesareshowtext">
                                                        Prices are shown in
                                                        <br>US Dollars ($USD)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="section-shipping-information">
                                            <h3>Shipping Information</h3>
                                            <div class="view-content">
                                                <span class="shipping-head">Shipping Option
                                                </span>
                                                <span class="shipping-option-value">{{ form.ship_response['#items']['shippingAddress'][0]['fullName'] }}</span>
                                            </div>
                                            <div class="order-total-line order-total-line__subtotal">
                                                <span class="shipping-head">Shipping Address
                                                </span>
                                                <span class="shipping-address-value">{{ form.ship_response['#items']['shippingAddress'][0]['fullName'] }}</span>
                                                <span class="shipping-address-value">{{ form.ship_response['#items']['shippingAddress'][0]['address1'] }}{{ form.ship_response['#items']['shippingAddress'][0]['address2'] }}</span>
                                                <span class="shipping-address-value">{{ form.ship_response['#items']['shippingAddress'][0]['city'] }}{{ form.ship_response['#items']['shippingAddress'][0]['state'] }}{{ form.ship_response['#items']['shippingAddress'][0]['zip5'] }}</span>
                                            </div>
                                            <div class="order-total-line order-total-line__total">
                                                <span class="shipping-head">Contact Information
                                                </span>
                                                <span class="contact-info-value">{{ form.ship_response['#items']['phone'] }}</span>
                                                <span class="contact-info-value">{{ form.ship_response['#items']['email'] }}</span>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
