{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<article{{attributes.addClass(classes)}}>
    {% if erroronproduct %}
        {{ erroronproduct }}
    {% endif %}
    <div class="pdp-info-section">

        <div class="container-a">
            <div class="pdp-section-1">
                <div class="pdp-left">
                    <div class="mobile-pdp-titles">
                        <div class="pdp-cat">{{ "First wave" }}</div>
                        <h1 class="pdp-title">{{ productDetails.title }}</h1>
                        <div class=" pdp-model">
                            <span>{{ "Model"|t }} #:</span>
                            {{ productDetails.productId }}
                        </div>
                    </div>
                    <section class="pdp-slider-section">
                        <div class="product-slider">
                            {{ product.field_image_url }}
                        </div>
                    </section>
                </div>
                <div class="pdp-right">
                    <section class="pdp-section-data">
                        <div class="">
                            <div class="insider">
                                <div class="pdp-cat">{{ productDetails.brand }}</div>
                                <h1 class="pdp-title">{{ productDetails.title }}</h1>
                                <div class=" pdp-model">
                                    <span>{{ "Model"|t }} #:</span>
                                    {{ productDetails.productId }}
                                </div>
                              {% if productDetails.description %}
                              <div class="pdp-description">
                                {% if productDetails.description %}
                                  <ul>
                                      {% for description in productDetails.description %}
                                          <li><p>{{ description }}</p></li>
                                      {% endfor %}
                                  </ul>
                                {% endif %}
                                </div>
                              {% endif %}
                              {% if productDetails.finishOptions|length > 0 %}
                                <div class="pdp-finishes">
                                    <div class="pdp-finishes-title">{{ "Finishes"|t }}:
                                        <span> {{ productDetails.facetFinish }} </span>
                                    </div>
                                    <div class="pdp-finishes-list">
                                      {% for finish in productDetails.finishOptions %}
                                          {% set finishClass="finish-class" %}
                                          {% if productDetails.productId == finish['#data']['prdUrl'] %}
                                            {% set finishClass="active finish-class" %}
                                        {% endif %}
                                        <a href="/products/product-detail/modelNumber/{{ finish['#data']['prdUrl'] }}" class="{{ finishClass }}" id="{{ finish.prdUrl }}"
                                            <span class="align-middle">
                                                <img src="{{ finish['#data']['icon'] }}" alt="{{ finish['#data']['iconalt'] }}"/>
                                            </span>
                                        </a>
                                      {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="pdp-price">
                                    <span>Price:</span>$
                                    {{ productDetails.price }}</div>
                                <div class="pdp-availability">
                                    <span>{{ "Availability"|t }}:</span>
                                    {% if productDetails.productAvailable %}
                                        {{ "IN-STOCK"|t }}
                                    {% else %}
                                        {{ "OUT-OF-STOCK" }}
                                    {% endif %}
                                </div>
                                <div class="pdp-product-buy-now">
                                    {% if productDetails.productAvailable %}
                                        {{ product.variations }}
                                    {% endif %}
                                    {% if product.field_product_support %}
                                      {{ product.field_product_support }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    {{ product.field_page_components_top }}
    <div class="pdp--highlights">
      <h1>{{ product.field_feature_highlights|field_label }}</h1>
      {{ product.field_feature_highlights }}
    </div>
    {{ product.field_page_components }}
    <h1 class="how-it-works-title">{{ product.field_how_it_works|field_label }}</h1>
    {{ product.field_how_it_works }}
    {% if product.field_enable_review['#items'].getString() == 'yes'  %}
    {{ product.field_submit_review }}
    {% endif %}
    {#
    <section class="pdp--productsupport">
        <div class="container-a">
            <div class="insider">
                <h1>{{ product.field_product_support|field_label }}</h1>
                {{ product.field_product_support }}
            </div>
        </div>
    </section>
    #}
    <section class="pdp--technical-documents" id="product-support">
      <div class="insider">
        {{ product.field_technical_documents }}
      </div>
    </section>
</article>
