{{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="order-status-header">
      <h2>{{ "Order Status"|t }}</h2>
    </div>
    <div class="order-status">
    <div class="order-status-head">
        <h3>{{ "Track Your Order" }}</h3>
        <span>{{ "To track specific order, Enter your order number, Email address, Zip Code associated with your purchase."|t }}</span>
    </div>
    {{ form.render }}
    <div class="order-form">
      {{ form.ordernumber }}
      {{ form.email }}
      {{ form.zipcode }}
    </div>
    <div class="order-status-button">
      {{ form.submit }}
      {{ form.actions }}
    </div>


<div class="order-status-footer">
    <p>{{ "if you don't have this information but want to track your order, please contact "|t }}<strong>{{ "Customer Support at 877-711-WAVE."|t }}</strong></p>
    <p>{{ "if need you make a return, please see our "|t }}<a href="/return-policy"><strong>{{ "Return Policy"|t }}</strong></a></p>
</div>
</div>
