<div class="checkout-pages checkout-confirmation">
    <div class="top-confirm">
        <div class="grid-container">
            <div class="row">
                <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-10 col-sm-12 col--no-padding">
                    <div class="table-layout table-layout--full-width table-layout--full-height table-layout--sm-collapse">
                        <div class="table-layout__row table-layout__row--h-list-6">
                            <div class="table-layout__cell table-layout__cell-12-12 table-layout__cell--valign-top">
                                <div class="order-conform-name">{{ "Thank you"|t }} {{ order_conformation['#items']['shippingAddress'][0]['fullName'] }}</div>
                                <h1 class="order-conform-h1">{{ "Your Order is Confirmed"|t }}!</h1>
                                <div class="confirm-ordernumber">{{ "Your Order"|t }} # {{ "is"|t }}
                                    <span class="order-conform-nameorder-no">{{ order_conformation['#items']['orderNumber'] }}</span>
                                </div>
                                <div class="order-desc">{{ "You will receive and e-mail confirmation shortly"|t }}.</div>
                                <input class="button btn btn--primary" data-orderno="{{ order_conformation['#items']['orderNumber'] }}" data-email="{{ order_conformation['#items']['email'] }}" data-zip="{{ order_conformation['#items']['shippingAddress'][0]['zip5'] }}" data-drupal-selector="edit-checkout" id="order-status" name="order-status" type="button" value="Check Order Status">
                                <div class="continue-browsing">
                                    <a href="/products">{{ "Continue Browsing"|t }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-confirm">
        <div class="grid-container">
            <div class="row">
                <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-10 col-sm-12 col--no-padding">
                    <div class="table-layout table-layout--full-width table-layout--full-height table-layout--sm-collapse">
                        <div class="table-layout__row table-layout__row--h-list-6">
                            <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
                                <div class="shipping_address">
                                    <div class="shipping-address-wrap">
                                        <h3 class="ship-to-address bold text-uppercase">{{ "Shipping Information"|t }}</h3>
                                        <div class="name">
                                            <h4>{{ "Shipping Option"|t }}</h4>
                                            {% if order_conformation['#items']['shippingServiceLevel'] == 'CGR' %}
                                                <span>{{ "Ground"|t }} (${{ order_conformation['#items']['shippingCharge'] }})</span>
                                            {% else %}
                                                <span>{{ "Priority"|t }} (${{ order_conformation['#items']['shippingCharge'] }})</span>
                                            {% endif %}
                                        </div>
                                        <div class="shipping-address">
                                            <h4>{{ "Shipping Address"|t }}</h4>
                                            <div><span>{{ order_conformation['#items']['shippingAddress'][0]['fullName'] }}</span></div>
                                            <div><span>{{ order_conformation['#items']['shippingAddress'][0]['address1'] }}</span></div>
                                            <div><span>{{ order_conformation['#items']['shippingAddress'][0]['address2'] }}</span></div>
                                            <div>
                                                <span>{{ order_conformation['#items']['shippingAddress'][0]['city'] }},</span>
                                                <span>{{ order_conformation['#items']['shippingAddress'][0]['state'] }}</span>
                                                <span>{{ order_conformation['#items']['shippingAddress'][0]['zip5'] }}</span>
                                            </div>
                                        </div>
                                        <div class="contact-info">
                                            <h4>{{ "Contact Information"|t }}</h4>
                                            <div>{{ order_conformation['#items']['phone'] }}</div>
                                            <div>{{ order_conformation['#items']['email'] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
                                <div class="billing_address">
                                    <div class="billing-address-wrap">
                                        <h3 class="bill-to-address bold text-uppercase">{{ "Payment Information"|t }}</h3>
                                        <div class="name">
                                            <h4>{{ "Credit Card Information"|t }}</h4>
                                            <div>{{ order_conformation['#items']['ccType'] }}</div>
                                            <div>{{ "****************" }}</div>
                                            <div>{{ "Expires"|t }}:
                                                {{ order_conformation['#items']['ccExpireMonth'] }}{{ "/" }}{{ order_conformation['#items']['ccExpireYear'] }}
                                            </div>
                                        </div>
                                        <div class="billing-address">
                                            <h4>{{ "Billing Address"|t }}</h4>
                                            {% if order_conformation['#items']['billingAddress'][0]['fullName'] is not empty %}
                                                <div>{{ order_conformation['#items']['billingAddress'][0]['fullName'] }}</div>
                                                <div>{{ order_conformation['#items']['billingAddress'][0]['address1'] }}</div>
                                                <div>{{ order_conformation['#items']['billingAddress'][0]['address2'] }}</div>
                                                <div>
                                                    <span>{{ order_conformation['#items']['billingAddress'][0]['city'] }},</span>
                                                    <span>{{ order_conformation['#items']['billingAddress'][0]['state'] }}</span>
                                                    <span>{{ order_conformation['#items']['billingAddress'][0]['zip5'] }}</span>
                                                </div>
                                            {% else %}
                                                <div><span>{{ order_conformation['#items']['shippingAddress'][0]['fullName'] }}</span></div>
                                                <div><span>{{ order_conformation['#items']['shippingAddress'][0]['address1'] }}</span></div>
                                                <div><span>{{ order_conformation['#items']['shippingAddress'][0]['address2'] }}</span></div>
                                                <div>
                                                    <span>{{ order_conformation['#items']['shippingAddress'][0]['city'] }},</span>
                                                    <span>{{ order_conformation['#items']['shippingAddress'][0]['state'] }}</span>
                                                    <span>{{ order_conformation['#items']['shippingAddress'][0]['zip5'] }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
                                <div id="order-review">
                                    <div class="order-status-table">
                                        <h3>{{ "Your Order"|t }}</h3>
                                        <div class="product-info">
                                            <div class="product-each">
                                                <div class="ini">
                                                    <div class="product-image">
                                                        <img src="{{ order_conformation['#items']['orderItems'][0]['imageUrl'] }}">
                                                    </div>
                                                    <div class="product-details">
                                                        <div class="order-prd-title-wrapper">
                                                            <span class="order-prd-title">{{ order_conformation['#items']['orderItems'][0]['title'] }}</span>
                                                        </div>
                                                        <div class="order-prd-desc-wrapper">
                                                            <span class="order-prd-des-sku">{{ "Product"|t }} #:
                                                                {{order_conformation['#items']['orderItems'][0]['sku'] }}
                                                            </span>
                                                            <span class="order-prd-price">{{ "Price"|t }}:
                                                                ${{ order_conformation['#items']['orderItems'][0]['unitPrice'] }}
                                                            </span>
                                                            <span class="order-prd-qty-total">{{ "Qty"|t }}:
                                                                {{ order_conformation['#items']['orderItems'][0]['qty'] }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="order-prd-price-total">
                                                            ${{ order_conformation['#items']['orderItems'][0]['unitPrice'] }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="section-subtotal">
                                                <div class="ini">
                                                    <div class="order-total-line order-total-line__subtotal">
                                                        <span class="order-total-line-label">
                                                            {{ "Subtotal"|t }}:
                                                        </span>
                                                        <span class="order-total-line-value">
                                                            ${{ (order_conformation['#items']['orderSubTotal'])|number_format(2, '.', '') }}
                                                        </span>
                                                    </div>

                                                    <div class="order-total-line order-total-line__subtotal">
                                                        <span class="order-total-line-label">{{ "Shipping"|t }}:</span>
                                                        <span class="order-total-line-value">${{ order_conformation['#items']['shippingCharge'] }}</span>
                                                    </div>
                                                    <div class="order-total-line order-total-line__subtotal">
                                                        <span class="order-total-line-label">{{ "Sales Tax"|t }}:</span>
                                                        {# <span class="order-total-line-value">{{ order_conformation['#items']['orderItems'][0]['qty'] }}</span> #}
                                                        <span class="order-total-line-value">${{ order_conformation['#items']['tax'] }}</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="section-total">
                                                <div class="ini">
                                                    <div class="order-total-line order-total-line__total">
                                                        <span class="order-total-line-label">
                                                            {{ "Total"|t }}:
                                                        </span>
                                                        <span class="order-total-line-value">
                                                            ${{ order_conformation['#items']['orderTotal'] }}
                                                        </span>
                                                    </div>
                                                    <div class="order-total-line">
                                                        <span class="pricesareshowtext">
                                                            {{ "Prices are shown in"|t }}
                                                            <br>{{ "US Dollars"|t }} ($USD)
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
