{% if form.orderStatusError %}
    <div class="orderStatusErrMsg">
        {{ form.orderStatusError }}
    </div>
{% endif %}

<div class="orderStatusDetails">
  <div class="orderDetails">
      <h1>{{ "Order Details"|t }}</h1>
      <div>
          <div class="orderStatusMain">
              <span>{{ "Order #:"|t }}   {{ orderStatusInfo['orderNo'] }}</span>
          </div>
          <div class="orderStatusMain">
              <span>{{ "Order Placed:"|t }}   {{ orderStatusInfo['orderPlaced'] }}</span>
          </div>
      </div>

      <div class="desktopView">
        <div class="orderInfo">
          <div class="orderimg">{{ "Item"|t }}</div>
          <div class="orderhead">
            <div>{{ "Order Status"|t }}</div>
            <div>{{ "Tracking Number"|t }}</div>
            <div>{{ "Quantity"|t }}</div>
            <div>{{ "Price"|t }}</div>
          </div>
        </div>

        <div class="orderInfo1">
          <div class="orderimg">
            <img src="{{ orderStatusInfo['productImg'] }}">
            <span>{{ orderStatusInfo['ProductName'] }}</span>
            <span class="productNum">{{ "Product Number: "|t }}{{ orderStatusInfo['productCode'] }}</span>
          </div>

          <div class="orderhead">
            <div>
              {{ orderStatusInfo['orderStatus'] }}
            </div>

            <div>
              {{ orderStatusInfo['trackingNumber'] }}
            </div>

            <div>
              {{ orderStatusInfo['orderQty'] }}
            </div>

            <div>
              <strong>${{ orderStatusInfo['productPrice'] }}</strong>
            </div>
          </div>

        </div>
      </div>
  </div>

    <div class="mobileView">
      <div class="prodImg">
        <div>{{ "Item"|t }}</div>
        <div class="mobileorder">
            <div class="imgdesc">
            <div class="productDesc">
              <img src="{{ orderStatusInfo['productImg'] }}">
              <div class="productdetails">
                <span>{{ orderStatusInfo['ProductName'] }}</span>
                <span class="productNum">{{ "Product Number: "|t }}{{ orderStatusInfo['productCode'] }}</span>
                <div>{{ "Price"|t }}:{{ orderStatusInfo['productPrice'] }}</div>
                <div>{{ "Quantity"|t }}:{{ orderStatusInfo['orderQty'] }}</div>
              </div>
            </div>

            </div>

            <div class="itemprice">
                <div>{{ orderStatusInfo['productPrice'] }}</div>
            </div>
        </div>
      </div>

      <div class="ordersts">
        <div>{{ "Order Status"|t }}</div>
        <div>{{ orderStatusInfo['orderStatus'] }}</div>
      </div>

      <div class="ordersts">
        <div>{{ "Tracking Number"|t }}</div>
        <div>{{ orderStatusInfo['trackingNumber'] }}</div>
      </div>
      {#
        <div class="ordersts">
          <div>{{ "Quantity"|t }}</div>
          <div>{{ orderStatusInfo['orderQty'] }}</div>
        </div>

        <div class="ordersts">
          <div>{{ "Price"|t }}</div>
          <div>{{ orderStatusInfo['productPrice'] }}</div>
        </div>
      #}
  </div>

  </div>

  <div class="back-order-status-form">
  <div class="arrowimg">
    <img src="/themes/custom/innovation/img/arrow.svg" class="arrow">
    <a href="/order-status">{{ "Track Order Status"|t }}</a></img>
  </div>

      <div class="pricedetails">
          <p>{{ "Subtotal:  "|t }}<span>${{ orderStatusInfo['subTotal'] }}</span></p>
          <p>{{ "Shipping:  "|t }}<span>${{ orderStatusInfo['shipCharge'] }}</span></p>
          <p class="salesTaxdesc">{{ "Sales Tax:  "|t }}<span>${{ orderStatusInfo['salesTax'] }}</span></p>
          <p class="ordertotal">{{ "TOTAL"|t }}: <span>${{ orderStatusInfo['orderTotal'] }}</span></p>
          <p>{{ "Prices are shown in US Dollars($USD)" }}</p>
      </div>
  </div>
</div>
