<script data-name="reload" data-src="/dist/02-molecules/product-thumbnail-slider/product-thumbnail-slider.js"></script>

<div class="thumb-img-wrapper-list desktop-thumb-img">
  <div class="prod-big-img">
    <div class="prod-big-container">
        
    
<img
  class="img"
      src=""
      alt="big img alt"
    />

    <div class="slider_flag">
      
<div class="flag flag--gray-30">
  Discountinued
</div>
    </div>

    </div>
          <div class="download__img-wrapper">
        <a class="accent" href="#" id="js-hi-res-download">
        Download Image
        


<i class="icon-download-arrow"></i>
  </a>
     </div>
    
  </div>

  <div class="thumb-img-wrapper slider multiple-items" data-slick='{"slidesToShow": 7, "slidesToScroll": 7, "adaptiveHeight": true , "infinite": false, "variableWidth": false}' >
                  <div class="thumb-img-block ">
          
<img
  class="img"
      srcset="../../images/pdp-prod-slider/prod1.png"
      src="https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg"
      alt="Product1"
    />
                  </div>

              <div class="thumb-img-block Array">
          
<img
  class="img"
      srcset="../../images/pdp-prod-slider/prod2.jpg"
      src="../../images/pdp-prod-slider/prod2.jpg"
      alt="Product2"
    />
                    


<i class="icon-play-path1 icon-play-path2"></i>
                  </div>

              <div class="thumb-img-block ">
          
<img
  class="img"
      srcset="../../images/pdp-prod-slider/prod3.jpg"
      src="https://cdn.pixabay.com/photo/2018/06/30/09/31/background-image-3507320__340.jpg"
      alt="Product3"
    />
                  </div>

              <div class="thumb-img-block ">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod4.jpg"
      alt="Product4"
    />
                  </div>

              <div class="thumb-img-block ">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod5.jpg"
      alt="Product5"
    />
                  </div>

              <div class="thumb-img-block Array">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod6.jpg"
      alt="Product6"
    />
                    


<i class="icon-play-path1 icon-play-path2"></i>
                  </div>

              <div class="thumb-img-block ">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod7.jpg"
      alt="Product7"
    />
                  </div>

            </div>
</div>

<div class="thumb-img-wrapper-list mobile-thumb-img">
  <div class="slider_flag">
    
<div class="flag flag--gray-30">
  Discountinued
</div>
  </div>
  <div class="thumb-img-wrapper1 slider multiple-items" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "arrows": false, "adaptiveHeight": true, "swipeToSlide": true}' >
                  <div class="thumb-img-block">
          
<img
  class="img"
      srcset="../../images/pdp-prod-slider/prod1.png"
      src="https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg"
      alt="Product1"
    />
        </div>
              <div class="thumb-img-block">
          
<img
  class="img"
      srcset="../../images/pdp-prod-slider/prod2.jpg"
      src="../../images/pdp-prod-slider/prod2.jpg"
      alt="Product2"
    />
        </div>
              <div class="thumb-img-block">
          
<img
  class="img"
      srcset="../../images/pdp-prod-slider/prod3.jpg"
      src="https://cdn.pixabay.com/photo/2018/06/30/09/31/background-image-3507320__340.jpg"
      alt="Product3"
    />
        </div>
              <div class="thumb-img-block">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod4.jpg"
      alt="Product4"
    />
        </div>
              <div class="thumb-img-block">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod5.jpg"
      alt="Product5"
    />
        </div>
              <div class="thumb-img-block">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod6.jpg"
      alt="Product6"
    />
        </div>
              <div class="thumb-img-block">
          
<img
  class="img"
      src="../../images/pdp-prod-slider/prod7.jpg"
      alt="Product7"
    />
        </div>
            </div>
</div>
