<div class="grid-container">
  <h4 style="margin-top: 40px;">V2 - Margin @24px / Gutter @24px</h4>
  <div class="grid grid-example">
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-2"></div>
    <div class="grid-col-sm-2"></div>
    <div class="grid-col-sm-2"></div>
    <div class="grid-col-sm-2"></div>
    <div class="grid-col-sm-2"></div>
    <div class="grid-col-sm-2"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-5th"></div>
    <div class="grid-col-sm-5th"></div>
    <div class="grid-col-sm-5th"></div>
    <div class="grid-col-sm-5th"></div>
    <div class="grid-col-sm-5th"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-5th"></div>
    <div class="grid-col"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-3"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-9"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-4"></div>
    <div class="grid-col-sm-4"></div>
    <div class="grid-col-sm-4"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-6"></div>
    <div class="grid-col-sm-6"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-12"></div>
  </div>
</div>

<div class="grid-container grid-container--medium">
  <h4>V3 - Margin @96px / Gutter @40px</h4>
  <div class="grid grid-example">
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
    <div class="grid-col-3 grid-col-md-4 grid-col-lg-1"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-3"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-3"></div>
    <div class="grid-col-sm-9"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-4"></div>
    <div class="grid-col-sm-4"></div>
    <div class="grid-col-sm-4"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-6"></div>
    <div class="grid-col-sm-6"></div>
  </div>

  <div class="grid grid-example">
    <div class="grid-col-sm-12"></div>
  </div>
</div>


<div class="grid-container grid-container--small">
  <h4>V4 - Margin @264px / Gutter @0</h4>

  <div class="grid grid-example">
    <div class="grid-col-sm-12"></div>
  </div>
</div>
