<div class="grid-container">
  <h4 style="margin-top: 40px;">Tablet</h4>

  <div class="grid grid-example">
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
    <div class="grid-col-6 grid-col-sm-3 grid-col-md-8th"></div>
  </div>

  <h4>Mobile</h4>
  <div class="grid grid-example">
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
    <div class="grid-col-3"></div>
  </div>
</div>
