{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
    {{ title_suffix.contextual_links }}
    {% if content %}
        <a target="_blank" href="{{ content.field_document.0 }}">{{ name }}</a>
    {% endif %}
</article>
