{#
/**
 * Available variables:
 * - button_base_class - the base class name
 * - button_modifiers - array of modifiers to add to the base classname
 * - button_blockname - blockname prepended to the base classname
 * - button_attributes - array of attribute,value pairs
 * - button_url - the url this button should poing to
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}
{% set tag = button_url ? "a" : "button" %}

{% set button_link_classes = ["has-icon--left","#{button_link_classes}"] %}
{% if icon == "cta-share" %}
  {% set button_link_classes = ["has-icon--left"] %}
{% endif %}

<{{tag}} {{ bem(button_base_class, (button_modifiers), button_blockname, button_link_classes) }}{% if button_url %} href="{{ button_url }}"{% endif %}{% if button_name %} name="{{ button_name }}"{% endif %}{% if button_target %} target="{{ button_target }}"{% endif %}{{ button_attributes}}
>
  {% if icon %}
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: icon,
      hidden: true,
    } %}
  {% endif %}
  {% if banner_button_icon %}
    {% include "@atoms/04-images/00-image/_image.twig" with {
      img_src: banner_button_icon,
      img_alt: '',
    } %}
  {% endif %}
  {% block button_content %}
    {{ button_content | raw }}
  {% endblock %}
</{{tag}}>
