//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//

$color-heading: $gray-10;

@mixin heading($font-family: $font-heading, $font-size: 2rem, $line-height: 1.4, $color: $color-heading, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;
  text-transform: uppercase;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.h1 {
  @include heading($font-heading, 40px, 48px, $color-heading, $color-heading, $color-heading, normal, 0 0 12px);

  letter-spacing: 8px;

  // @include breakpoint($large) {
  //   margin: 0 0 20px !important;
  // }

  sup {
    top: -0.75em;
    font-size: 0.5em;
  }

  @include maxbp($r_1000) {
    letter-spacing: 5.76px;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 $space;
  }
}

.h2 {
  @include heading($font-heading, 32px, 40px, $color-heading, $color-heading, $color-heading, normal, 0 0 10px);

  letter-spacing: 5.76px;

  @include maxbp($r_1000) {
    letter-spacing: 1.15px;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 $space;
  }

  sup {
    top: -0.75em;
    font-size: 0.5em;
  }
}

.h3 {
  @include heading($font-heading, 24px, 32px, $color-heading, $color-heading, $color-heading, normal, 0 0 8px);

  letter-spacing: 1.15px;

  @include maxbp($r_1000) {
    letter-spacing: 2.2px;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 $space;
  }
}

.h4 {
  @include heading($font-heading, 22px, 30px, $color-heading, $color-heading, $color-heading, normal, 0 0 6px);

  letter-spacing: 2.2px;

  @include maxbp($r_1000) {
    letter-spacing: 0.8px;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 $space;
  }
}

.h5 {
  @include heading($font-heading, 20px, 28px, $color-heading, $color-heading, $color-heading, normal, 0 4px);

  letter-spacing: 0.8px;

  @include maxbp($r_1000) {
    letter-spacing: 0.65px;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 $space;
  }
}

.h6 {
  @include heading($font-heading, 18px, 26px, $color-heading, $color-heading, $color-heading, normal, 0 0 2px);

  letter-spacing: 0.65px;

  @include maxbp($r_1000) {
    letter-spacing: 0.65px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 $space;
  }
}

.mega1 {
  @include heading($font-heading, 96px, 104px, $color-heading, $color-heading, $color-heading, normal, 0 0 16px);

  letter-spacing: 18.43px;

  @include maxbp($r_1000) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5.76px;
    margin: 0 0 $space;
  }
}

.mega2 {
  @include heading($font-heading, 72px, 80px, $color-heading, $color-heading, $color-heading, normal, 0 0 14px);

  letter-spacing: 10.37px;

  @include maxbp($r_1000) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5.76px;
    margin: 0 0 $space;
  }
}

.mega3 {
  @include heading($font-heading, 64px, 72px, $color-heading, $color-heading, $color-heading, normal, 0 0 12px);

  letter-spacing: 8.19px;

  @include maxbp($r_1000) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5.76px;
    margin: 0 0 $space;
  }
}

.mega4 {
  @include heading($font-heading, 56px, 64px, $color-heading, $color-heading, $color-heading, normal, 0 0 10px);

  letter-spacing: 6.27px;

  @include maxbp($r_1000) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5.76px;
    margin: 0 0 $space;
  }
}

// TODO: BEM selectors should be applied to wysiwyg-created content

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5 {
  @extend .h5;
}

h6 {
  @extend .h6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.mega1,
.mega2,
.mega3,
.mega4 {
  font-family: $font-heading;
  text-transform: uppercase;
  font-weight: normal;

  &--serif {
    font-family: $font-subheading;
    text-transform: none;
    letter-spacing: 0;
  }

  &--sans-serif {
    font-family: $font-heading;
    text-transform: uppercase;
  }
}
