<div class="cartridge-wrapper">
  {% for cartridge_block in cartridge_blocks %}
    {% include "@molecules/cartridge-block/cartridge-block.twig" with {
      "cartridge_org_img_url": cartridge_block.cartridge_org_img_url,
      "cartridge_org_img_alt": cartridge_block.cartridge_org_img_alt,
      "cartridge_hover_img_url": cartridge_block.cartridge_hover_img_url,
      "cartridge_hover_img_alt": cartridge_block.cartridge_hover_img_alt,
      "cartridge_title": cartridge_block.cartridge_title,
      "cartridge_block_link": cartridge_block.cartridge_block_link,
      "cartridge_desc": cartridge_block.cartridge_desc
    } %}
  {% endfor %}
<div>
