{% if finish_icons %}
  <div class="finish-icon">
    {% for finish_icon in finish_icons %}
      {% include "@atoms/04-images/finish-icon/finish-icon.twig" with {
        "finish_prod_icon": finish_icon.finish_prod_icon,
        "finish_prod_title": finish_icon.finish_prod_title,
      } %}
    {% endfor %}
  </div>
{% endif %}
