<div class="grid innovation-secondary-banner" style="background-image: url({{ desktop_image_url }})">
  <picture class="isb__image innovation-banner-image-mobile">
    {#<source srcset="{{ desktop_image_url }}" media="(min-width: 920px)">
    <source srcset="{{ mobile_image_url }}" media="(max-width: 919px)">#}
    <img src="{{ desktop_image_url }}" alt="{{ desktop_image_alt }}" />
  </picture>

  {% if vot_tabs  %}
    {% include "@atoms/08-video/video-on-tabs/video-on-tabs.twig" with {
      vot_tabs: vot_tabs
    } %}
  {% endif %}
  <div class="isb__content">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      heading_level: 3,
      heading: title,
      heading_modifiers: ["regular"]
    } %}

    <p>{{ content|raw }}</p>

    <hr>
    {% if video.video_exist  %}
      {% include "@molecules/video-card/video-card.twig" with {
        video_title: video.video_title,
        video_thumbnail_src: video.video_thumbnail_src,
        video_content: video.video_content
      } %}
    {% endif %}
  </div>
</div>
