<div class="pr-left-block">

  <div class="pr-search-block">
    <div class="pr-search-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": pr_search_title,
      } %}
    </div>
    <div class="pr-serach-desc">
      {% include "@molecules/press-releae-search/press-releae-search.twig" with {
        "search_radios": search_radios,
      } %}
    </div>
  </div>

  <div class="pr-side-menu">
    {% include "@atoms/01-links/two-level-links/two-level-links.twig" with {
      "sidebar_linsk": sidebar_links,
    } %}
  </div>

  <div class="pr-contact">
    <div class="pr-contact-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 5,
        "heading": pr_contact_title,
      } %}
    </div>
    <div class="pr-contact-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: pr_contact_desc
      } %}
    </div>
    <div class="pr-contact-block">
      <div class='pr-contact-name'>
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: pr_contact_name
        } %}
      </div>
      <div class='pr-contact-org'>
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: pr_contact_org
        } %}
      </div>
      <div class='pr-contact-mobile'>
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: pr_contact_mobile
        } %}
      </div>
      <div class="pr-contact-email">
        {% include "@atoms/01-links/link/link.twig" with {
          "link_content": pr_contact_email_text,
          "link_url": pr_contact_email_url,
          "link_base_class": inline_base_class|default('link'),
        } %}
      </div>
    </div>

    <div class="pr-canada-detail">
      <div class="pr-canada-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 5,
          "heading": pr_canada_title,
        } %}
      </div>
      <div class="pr-contact-block">
        <div class='pr-contact-name'>
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: pr_contact_name1
          } %}
        </div>
        <div class='pr-contact-mobile'>
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: pr_contact_mobile1
          } %}
        </div>
        <div class="pr-contact-email">
          {% include "@atoms/01-links/link/link.twig" with {
            "link_content": pr_contact_email_text1,
            "link_url": pr_contact_email_url1,
            "link_base_class": inline_base_class|default('link'),
          } %}
        </div>
      </div>
    </div>
  </div>

</div>
