.hero-scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  width: 58px;
  height: 107px;
  background-image: url("../img/scroll.svg");
  opacity: 0;
  //animation: pulse 1.5s infinite ease-in; // TODO: Animation conflicting with transition
  transition: opacity 0.4s ease-in-out;

  @media (max-width: 1023px) {
    transform: translate(-50%) scale(0.7);
    bottom: 20px;
  }

  .is-initial-state & {
    opacity: 1;
  }

  .can-play.is-initial-state & {
    opacity: 0;
  }

  //.is-final-state:not(.can-play) & {
  //  opacity: 1;
  //}

  &.is-hidden {
    opacity: 0 !important;
    animation: none;
    transform: translate(-50%, -50px);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
}
