.hero-spinner {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: contain;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);

  .is-loading & {
    opacity: 1;
  }
}

.hero-spinner div {
	position: absolute;
	border: 2px solid rgba($theme-gray, 0.3);
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.hero-spinner div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
