// Animated Captions

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  text-align: center;
  opacity: 0;
  color: #fff;

	p {
		margin: 0;
  	font-size: 2.8vmin !important;
  	line-height: 1.35;
	}
}

.hero-caption--3 {
  max-width: 500px;
  color: #82878B;
  text-shadow: 0 1px 1px #fff;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;

  .is-initial-state & {
    transition: opacity 0.2s linear, transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-final-state & {

		> * {
    	opacity: 0;
			transition: opacity 1s linear, transform 1s cubic-bezier(0.4, 0, 0.2, 1);
		}
    //transform: translate(-50%, 50%);
  }
}

.hero-caption--1.animate,
.hero-caption--2.animate {
  animation: caption-show-hide 3.5s ease-in-out;
  animation-fill-mode: forwards;
}

.hero-caption--3.animate {
  animation: caption-show 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
