@keyframes caption-show-hide {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translate(-50%, calc(-50% - 5vmin));
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes caption-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes caption-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
