.hero-video {
  display: none;
  position: fixed;
  top: 85px;
  height: calc(100vh - 85px);
  margin-left: 50%;
  transform: translate(-50%);
  transition: opacity 2s ease-out;

	@media (min-width: 1024px) {
		display: block;
	}

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .is-final-state & {
    display: none;
  }
}
