.hero-logo {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 243px;
  width: 14vmin;
  opacity: 0;
  will-change: transform;
  transition: opacity 0.3s linear;

  &.is-hidden {
    transition: opacity 0.3s linear;
    opacity: 0 !important;
  }

  .is-loading & {
    opacity: 0;
  }

  .is-initial-state & {
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }

  .is-final-state & {
    transition: opacity 1.2s 0.4s cubic-bezier(0.4, 0, 0.2, 1), transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    //transform: translate(-50%, -100%);
  }

  .is-playing & {
    opacity: 1;
  }
}
