.hero-replay {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: #82878B;
  transform: translate(-50%);
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #afb6bc;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
	font-family: $font-stack-fs-joey;
	font-size: 18px !important;
	outline: none;

  &:hover {
    opacity: 0.7;
  }

  .can-play.is-final-state & {
    opacity: 1;
  }

	.is-playing & {
		opacity: 0 !important;
		pointer-events: none;
	}
}
