body {
	.js &.should-play {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: scroll;
	}
}

.hero {
	height: calc(100vh - 85px);
	overflow-x: hidden;
	display: none;

	@media (min-width: 1150px) {
		display: block;
	}
}

.hero-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.hero-mobile {
	position: relative;
	display: block;

	img {
		width: 100%;
	}

	@media (min-width: 1150px) {
		display: none;
	}
}

.hero-mobile-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;

	p {
		transform: translate(-2%);
		font-size: 24px;
		line-height: 1.5;

		@media (min-width: 400px) {
			font-size: 28px;
		}

		@media (min-width: 700px) {
			font-size: 5vmin;
		}
	}

	span:first-of-type{
		margin-left: -2ch;
	}

	span:last-child {
		margin-left: 0;
	}
}


@import "hero-animations";
@import "hero-logo";
@import "hero-video";
@import "hero-captions";
@import "hero-scroll";
@import "hero-replay";
@import "hero-spinner";
