<script data-name="reload" data-src="/dist/01-atoms/global-notifications/notifications.js"></script>

  
      <div class="alert alert--success">
        Global success message here <i class="icon-filter-hide-small"></i>
      </div>
  


