.cta-link,
.link--cta-link {
  color: $gray-10;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-family: $font-din1451-engschrift;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  display: inline-block;
  width: -webkit-fill-available;

  @include maxbp($large) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
  }

  &::after {
    content: "\e901";
    font-family: $font-icon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 13px;
    opacity: 1;
    padding-left: 1px;
    position: relative;
    top: -1px;
    margin-right: -24px;

    @include maxbp($large) {
      font-size: 10px;
    }
  }

  &:hover {
    color: $gray-30;
    transition: all ease 0.3s;
    border-bottom: 0 !important;

    &::after {
      color: $gray-30;
      transition: all ease 0.3s;
    }
  }

  i {
    font-size: 1.15rem;
  }

  &--x-large {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2.2px;

    &::after {
      font-size: 15px;
      top: -2px;
    }

    @include maxbp($large) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 2px;

      &::after {
        font-size: 13px;
      }
    }
  }

  &--large {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;

    &::after {
      font-size: 14px;
      top: -1px;
    }

    @include maxbp($large) {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.8px;

      &::after {
        font-size: 11px;
      }
    }
  }

  &--medium {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;

    &::after {
      font-size: 13px;
      top: -1px;
    }

    @include maxbp($large) {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.6px;

      &::after {
        font-size: 11px;
      }
    }
  }

  &--small {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;

    &::after {
      font-size: 11px;
      top: -1px;
    }

    @include maxbp($large) {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1.4px;

      &::after {
        font-size: 10px;
      }
    }
  }

  &--x-small {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.4px;

    &::after {
      font-size: 10px;
      top: -1px;
    }

    @include maxbp($large) {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.2px;

      &::after {
        font-size: 8px;
      }
    }
  }

  &--xx-small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;

    &::after {
      font-size: 8px;
      top: -1px;
    }

    @include maxbp($large) {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;

      &::after {
        font-size: 7px;
      }
    }
  }

  &--xxx-small {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;

    &::after {
      font-size: 7px;
      top: -1px;
    }
  }
}

#atoms-cta-link-left-icon,
#atoms-cta-link-right-icon {
  .cta-link {
    &::after {
      display: none;
    }
  }
}

.dark-theme {
  .cta-link,
  .link--cta-link {
    color: $white;

    &::after {
      content: "\e901";
      color: $white;
    }

    &:hover {
      color: $gray-30;

      &::after {
        color: $gray-30;
      }
    }
  }
}
