{#
  sub-menu-active is actgive class
#}

<div class="sub-menu-wrapper">
  <ul class="sub-menu">
    {% for sub_menu_item in sub_menu_items %}
      <li>
        {% include "@atoms/01-links/link/link.twig" with {
          "link_content": sub_menu_item.sub_menu_item_link,
          "link_url": sub_menu_item.sub_menu_item_url,
        } %}
      </li>
    {% endfor %}
  </ul>
</div>
