{% if data.searchTerm or data.collection or data.queryCategory %}
  <div class="ajax-progress ajax-progress-throbber">
    <div class="throbber">&nbsp;</div>
  </div>
  <div class="search-result-text-wrapper">
    <span id="grand_total"></span>
    results for <span class="search-text">"{{ data.searchTerm|striptags|raw}}  {{ data.collection|striptags('<sup>')|replace({'®': '<sup>®</sup>' })|raw }} {{ data.queryCategory }}"</span>
  </div>
  {{ attach_library('brizo_theme/tabs') }}
  <div class="tabs product-resource-tab">
    <ul class="tab-block">
      <li class="specTab tab-link tab-title-active" rel="Tab 1">

        <a class="link" href="#">
          {%- trans -%}
            Specifications & Technical Documents
          {%- endtrans %}
          <span class="product-count-tab pr-count" id="product-count">
          </span>
        </a>
      </li>
    </ul>

    <div class="tab-desc tab-data-active">
      <div class="specTab tab-accordion-title tab-accordion-active">
        {%- trans -%}
          Specifications & Technical Documents
        {%- endtrans %}
        <span class="product-count-tab pr-count" id="product-count"></span>
      </div>
      <div class="specTab tab-data tab-data-active">
        <div class="pagination products-pager"></div>
        <div class="grid" id="products-tab"></div>
        <div class="pagination products-pager"></div>
      </div>
      <div class="cadTab tab-accordion-title">
        {%- trans -%}
          CAD Files
        {%- endtrans %}
        <span class="pr-count cad-count" id="cad-count">
      </span>
      </div>
      <div class="cadTab tab-data">
        <div class="pagination cad-pager"></div>
        <div id="cad-tab" class="grid"></div>
        <div class="pagination cad-pager"></div>
      </div>
      <div class="imgTab tab-accordion-title">
        {%- trans -%}Images{%- endtrans %}
        <span class="pr-count images-count" id="images-count">
        </span>
      </div>
      <div class="imgTab tab-data">
        <div class="pagination images-pager"></div>
        <div id="images-tab" class="grid"></div>
        <div class="pagination images-pager"></div>
      </div>
      <div class="imgTab tab-data">
        <div id="images-tab"></div>
      </div>
    </div>
  </div>


  <script type="text/template" id="full-content-output"></script>
  <div id="full-contents-tab"></div>


  <script type="text/template" id="product">
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
      <div class="product_tile product_tile--plp-prod-tile">

        <div class="product-image">
          <a href="<%- url %>">

            <img
              class="img"
              src="<%- heroImage %>"
              alt="<%= title %>"
            />
          </a>
        </div>

        <div class="product-data">

          <div class="product-flag">
            <% if(ribbonText){ %>
            <div class="flag flag--gray-30">
              Discontinued
            </div>
            <% } %>
          </div>

          <div class="product-title">
            <a href="<%- url %>">

              <h3 class="h3">
                <%= collectionName %>
              </h3>
            </a>
          </div>

          <div class="product-desc pr-desc-block">
            <div class="product-detail">

              <p class="paragraph">
                <%= title %>
              </p>
            </div>

            <div class="product-modelno">

              <p class="paragraph">
                <%- sku %>
              </p>
            </div>

          </div>



          <% if(specSheet){ %>
            <div class="product-link">
              <a class="link" target="_blank" href="<%- specSheet %>">
                PRODUCT SPECIFICATIONS
              </a>
            </div>
          <% } %>
          <% if(MandI){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- MandI %>">
              Maintenance And Installation
            </a>
          </div>
          <% } %>
          <% if(PartsDiagram){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- PartsDiagram %>">
              Parts Diagram
            </a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="product-pagination">
    <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
      <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
    </div>
  </script>

  <script type="text/template" id="cad-tiles">
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
      <div class="product_tile product_tile--plp-prod-tile">

        <div class="product-image">
          <a href="<%- url %>">

            <img
              class="img"
              src="<%- heroImage %>"
              alt="<%= title %>"
            />
          </a>
        </div>

        <div class="product-data">

          <div class="product-flag">
            <% if(ribbonText){ %>
            <div class="flag flag--gray-30">
              Discontinued
            </div>
            <% } %>
          </div>

          <div class="product-title">
            <a href="<%- url %>">

              <h3 class="h3">
                <%= collectionName %>
              </h3>
            </a>
          </div>

          <div class="product-desc pr-desc-block">
            <div class="product-detail">

              <p class="paragraph">
                <%= title %>
              </p>
            </div>
            <div class="product-modelno">

              <p class="paragraph">
                <%- sku %>
              </p>
            </div>

          </div>





          <% _.each(SKP, function(link){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- link %>">
              SKETCHUP (.skp)
            </a>
          </div>
          <% }); %>
          <% _.each(DXF, function(link){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- link %>">DXF File (.dxf)</a>
          </div>
          <% }); %>
          <% _.each(RFA, function(link){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- link %>">Revit File (.rfa)</a>
          </div>
          <% }); %>
          <% _.each(DWG, function(link){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- link %>">Dwg File (.dwg)</a>
          </div>
          <% }); %>
          <% _.each(VWX, function(link){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- link %>">Vwx File (.vwx)</a>
          </div>
          <% }); %>
          <% _.each(GSM, function(link){ %>
          <div class="product-link">
            <a class="link" target="_blank" href="<%- link %>">gsm File (.gsm)</a>
          </div>
          <% }); %>

        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="cad-pagination">
    <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
      <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
    </div>
  </script>

  <script type="text/template" id="image-tiles">
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
      <div class="product_tile product_tile--plp-prod-tile">

        <div class="product-image">
            <img
              class="img"
              src="<%- heroImage %>"
              alt="<%= title %>"
            />
        </div>

        <div class="product-data">

          <div class="product-flag">
            <% if(ribbonText){ %>
            <div class="flag flag--gray-30">
              Discontinued
            </div>
            <% } %>
          </div>

          <div class="product-title">
              <h3 class="h3">
                <%= collectionName %>
              </h3>
          </div>

          <div class="product-desc pr-desc-block">
            <div class="product-detail">

              <p class="paragraph">
                <%= title %>
              </p>
            </div>

            <div class="product-modelno prod-res-model">

              <p class="paragraph">
                <%- sku %>
              </p>
              <a href="/get-image/<%- sku %>" class="use-ajax prod-res-viewall"
                 id="img<%- sku %>"
                 data-dialog-type="modal"
                 data-dialog-options="{&quot;width&quot;:1200,&quot;height&quot;:500, &quot;dialogClass&quot;: &quot;image-resource-popup&quot;}">
                View All Images
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="images-pagination">
    <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
      <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
    </div>
  </script>
{% endif %}
