<div class="grid product-resource-form" id="product-resource-search-wrapper">
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">
    <h4 class="h4 section-title">
      Search By Model Number OR Keyword
    </h4>
    <div class="search-field">
      <div class="search-field-block">
        {{ form.model_or_keyword }}
        <div class="prod-res-search-btn prod-res-search-icon">
          {{ form.submit }}
        </div>
      </div>
    </div>
  </div>

  <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">
    <h4 class="h4 section-title">
      Search By Collection Name
    </h4>
    <div class="search-field">
      {{ form.collection }}
      <div class="prod-res-search-btn">
        {{ form.submit_1 }}
      </div>
    </div>
  </div>

  <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">
    <h4 class="h4 section-title">
      Search By Product Type
    </h4>

    <div class="search-field">
      {{ form.room }}
      {{ form.model_wrapper }}
      {{ form.sub_cat_wrapper }}
      {#<div id="replace_model_div">
      </div>
      <div id="replace_sub_cat">
      </div>#}
      <div class="prod-res-search-btn">
        {{ form.submit_2 }}
      </div>
    </div>
  </div>
</div>
