{{ attach_library('brizo_theme/product-thumb-slider')}}
{% set sliderImage = [] %}
{% if data.product.hero_img %}
  {% set sliderImage = sliderImage|merge({0 : {pdp_label_img: data.product.hero_img,pdp_label_alt: data.assets.images.heroImageFileName,pdp_srcset: data.product.hero_img}}) %}
  {% set heroImageAlt = data.assets.images.heroImageFileName %}
  {% set heroImageUrl = data.heroImage %}
{% else %}
  {% set sliderImage = sliderImage|merge({0 : {pdp_label_img: data.assets.images.url,pdp_label_alt: data.assets.images.heroImageFileName,pdp_srcset: data.assets.images.url}}) %}
  {% set heroImageUrl = data.assets.images.url%}
  {% set heroImageAlt = data.assets.images.heroImageFileName %}
{% endif %}
{% if data.assets.images %}
  {% for image in data.assets.images %}
    {% if image.mediaType == 'video' %}
      {% set sliderImage = sliderImage|merge({(loop.index0) : {pdp_label_img: image.url,pdp_label_alt: image.filename, pdp_srcset: data.video_thump}}) %}
    {% elseif image.mediaType == 'image' %}
      {% set sliderImage = sliderImage|merge({(loop.index0) : {pdp_label_img: image.url,pdp_label_alt: image.filename, pdp_srcset: image.smallUrl}}) %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="image-resources-modal grid">
  <div class="grid-col-12 grid-col-sm-12 grid-col-md-6 grid-col-lg-6">
    <div class="pdp-slider-section">
      {% include "@molecules/product-thumbnail-slider/product-thumbnail-slider.twig" with {
        "slider_img_flag_text": ribbontext,
        "slider_img_flag_modifiers": ribboncol,
        "slider_thumb_imgs": sliderImage
      } %}
    </div>
  </div>
  <div class="grid-col-12 grid-col-sm-12  grid-col-lg-6 product_details">
    <div class="desktop-thumb-img">
      <h1 class="text-uppercase product_title">{{ data.collection|raw }}</h1>
      <h3 class="text-uppercase product_subtitle">{{ data.product.title|raw }}</h3>
    </div>
    <div class="download-section">
      <div>
        <a href="" target="_blank" id="dl-small">Download Small Image</a>
      </div>
      <div>
        <a href="" target="_blank" id="dl-medium">Download Medium Image</a>
      </div>
      <div>
        <a href="" target="_blank" id="dl-large">Download Large Image</a>
      </div>
    </div>

  </div>



</div>
