
.wob-header{
  position: relative;
  
  p, h1, h2, h3, h4, h5, h6{
    margin: 0 auto;
    width: 90%;
    @include maxbp($medium) {
      width: 80%;
    }
  }
  picture{
    margin-bottom: 75px;
    @include maxbp($medium) {
      margin-bottom: 35px;
    }
  }

  h1, h2, h3, h4, h5, h6 {  
    font-family: $font-subheading;
    text-transform:none;
    letter-spacing: 0;
    color: #141415;
  }

  h1 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0px;
    @include maxbp($medium) {
      font-size: 34px;
      line-height: 42px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 15px;
    }
  }

  .wob-header-top-category {
    padding: 50px 0;
    font-family: $font-condensed;
    text-transform: uppercase;
    color: #827E7C;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2.2px;
    text-align: center;
  }
  @include maxbp($medium) {
    .wob-header-top-category {
      padding: 50px 0px 15px 0px;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1.6px;
    }
  }
  .back-link,
  .back-link.term-right{
    font-size: 20px;
    line-height: 24px;
    font-family: $font-condensed;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    position: absolute;
    @include maxbp($medium) {
      /*width: 100px !important;*/
    }
  }
  .back-link.term-right{
    @include maxbp($medium) {
      flex-wrap: wrap-reverse;
      direction: rtl;
      justify-content: flex-end;
    }
  }
  .back-link{
    float:left;
    padding-left:20px;
  }
  .back-link.term-right {
    float: right;
    right: 0;
    padding-right: 20px;
    padding-left: unset;
  }
  hr{
    margin: 45px 0 40px 0;
    border: 1px solid #DDDBDA;
    @include maxbp($medium) {
      margin: 0 0 25px 0;
    }
  }
  @include maxbp($medium) {
    .wob-navigation{
      display: grid;
    }
    .back-link {
      margin: 0 auto;
      display: block;
      width: fit-content;
      margin-bottom: 20px;
      position: relative;
    }
    .back-link.term-right {
      position: relative;
      display: block;
      text-align: right;
    }
  }
  .wob-header-body{
    font-size: 32px;
    text-decoration: none;
    line-height: 40px;
    transition: all ease .5s;
    font-family: $font-subheading !important;
    letter-spacing: 0px;
    color: #141415;
    padding-bottom: 50px;
    text-align: center;
    @include maxbp($medium) {
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 32px;
    }
    .wob-header-date-byline {
      padding: 36px 0 0;
      font-size: 18px;
      line-height: 24px;
      font-family: $font-domaine-text-regular;
      color: #383434;
      @include maxbp($medium) {
        padding: 32px 0 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .wob-tags {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      padding-top: 10px;
      font-family: $font-domaine-text-regular;
      font-size: 16px;
      line-height: 24px;
      color: #827E7C;
      @include maxbp($medium) {
        display: -webkit-box;
      }
      .wob-tags-label {
        color: #141415;
      }
      .wob-tags-label, .wob-tags-link {
        padding: 0 5px;
      }
      .wob-tags-link {
        a {
          color: #827E7C;
        }
        span {
          position: absolute;
        }
      }
    }
    @include maxbp($medium) {
      .wob-tags {
        width: 100%;
        justify-content: center;
        padding-top: 0;
        display: inline-flex;
      }
    }
    .wob-subheader-uppercase{
      text-transform: uppercase;
      color: #827e7c;
      font-size: 14px;
      text-decoration: none;
      line-height: 28px;
      transition: all ease .5s;
      font-family: $font-heading !important;
      letter-spacing: 2.88px;
      text-transform: uppercase;
      text-align: center;
      @include maxbp($medium) {
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
  .arrow-prev, .arrow-next{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99;
    border: solid 1px #000;
    border-width: 0 2px 2px 0;
    background: transparent;
    cursor: pointer;
    color: transparent;
    outline: none;
    opacity: 1;
    transition: opacity 1000ms;
    left: 0px;
    bottom: 6px;
    transform-origin: 50% 50%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    font-family: "icomoon";
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: .5;
    -webkit-font-smoothing: antialiased;
    @include maxbp($medium) {
      /*bottom: 30px;*/
    }
  }
  .arrow-next {
    right: 0px;
    border-width: 2px 0px 0px 2px;
    left: unset;
  }

  .wob-page-component{
    .wob-text-content,
    .wob-image-content,
    .wob-content{
      h1 {
        text-align:left;
      }
      h3 {
        font-size: 24px;
        letter-spacing: 3.6px;
        font-family: "din1451-mittelschrift";
        line-height: 32px;
        margin-bottom: 17px;
      }
      a,
      a:link,
      a:hover {
        color: $gray-30;
        text-decoration-color: $gray-30;
      }
      p{
        font-size: 22px;
        line-height: 44px;
        margin-bottom: 40px;
        letter-spacing: 0px;
        color: #383434;
        @include maxbp($medium) {
          width: 85%;
          margin: 0 auto;
          font-size: 18px;
          line-height: 36px;
        }
      }
      picture{
        margin-bottom: 0;
      }

      display: inline-block;
      width: 100%;

      .right-column,
      .left-column{
        width:45%;
        margin: 0 2%;
        p{
          margin: 0 0 40px 0;
          width: 100%;
          @include maxbp($medium) {
            width: 95%;
            margin: 0 auto;
          }
        }
      }
      .left-column{
        float: left;
        margin: 0 16px 0 0;
        h2 {
          padding-right: 90px;
          text-align: right;
        }
      }
      .right-column{
        float: right;
        h2 {
          padding-left: 90px;
          text-align: left;
        }
      }
    }
    .wob-image-content{
      width: 85%;
      display: flow-root;
      // margin:75px auto;
      margin:0 auto;
      padding:75px 0;
      @include maxbp($medium) {
        width: 100%;
        /* margin-bottom: 40px;
        margin-top: 55px;
        margin:35px auto; */
        margin:0 auto;
        padding:35px 0;
      }
      .image-caption{
        position: inherit;
        p {
          text-transform: uppercase;
          margin: 20px 0 0;
        }
      }
      .right-column,
      .left-column{
        width:49%;
        margin: 0;
        @include maxbp($medium) {
          width: 47.2%;
        }
        .wob-video-article {
          position: relative;
          .play-icon {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 99;
            .play_button {
              filter: brightness(0) invert(1);
              background-image: url(../images/icons/src/play-button-1x.png);
              background-repeat: no-repeat;
              width: 100px;
              height: 60px;
              background-size: contain;
              display: inline-block;
            }
          }
          .banner_video_controls {
            position: absolute;
            z-index: 2 !important;
            width: 100%;
            bottom: 0px;
            padding: 20px 20px 20px 25px;
            .btn {
              background-color: transparent;
              background-repeat: no-repeat;
              border: none;
              padding: 0;
              cursor: pointer;
              display: inline-block;
              width: auto;
              height: 25px;
              color: white;
              margin-right: 15px;
              font-size: 18px;
              font-family: "din1451-engschrift";
              text-transform: uppercase;
              text-decoration: underline;
              &.disable {
                color: #827E7C;
              }
            }
          }
          video {
            width: 100%;
            margin-bottom: 0px;
          }
          .video-container{
            min-height: 300px;
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 56.2%;
            margin-bottom: 20px;
            iframe {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            picture{
              img {
                width: 100%;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
              }
            }
          }
        }
        .wob-media_img{
          margin-bottom:22px;
          @include maxbp($medium) {
            margin-bottom:14px;
          }
          picture{
            margin-bottom:15px;
          }
        }
        &.wob-right-top {
          padding-top: 150px;
        }
        &.wob-left-top {
          padding-top: 150px;
        }
        @include maxbp($medium) {
          &.wob-right-top {
            padding-top: 42px;
          }
          &.wob-left-top {
            padding-top: 42px;
          }
        }
        p {
          font-size: 10px;
          letter-spacing: 2px;
          line-height: 14px;
          font-family: $font-pfdinmono;
          @include maxbp($medium) {
            width: 100%;
          }
        }
      }
      &.fit {
        width: 85%;
        margin: 0 auto;
        display: flow-root;
        margin-bottom: 70px;
        @include maxbp($small) {
          display: grid;
          margin-bottom: 40px;
        }
      }
      
    }
    .wob-text-content{
      // width: 81.6%;
      width: 100%;
      margin: 0 auto;
      display: flow-root;
      h3, h2 {
        width: 100%;
      }
      h2 {
        font-size: 40px;
        line-height: 48px;
        padding: 36px 0;
      }
      @include maxbp($medium) {
        display: inline-block;
        width: 100%;
      }

      .right-column,
      .left-column{
        width: 50%;
        margin: 0;
        max-width: 593px;
      }
      .left-column{
        float: left;
      }
      .right-column{
        float: right;
      }
    }
    .single-text-body{
      // margin: 75px auto;
      margin:0 auto;
      padding:75px 0;
      @include maxbp($medium) {
        width: 95%;
        // margin: 35px auto !important;
        margin:0 auto !important;
        padding:35px 0;
      }
      p{
        margin-bottom: 0;
        @include maxbp($medium) {
          font-size: 18px;
          line-height: 36px;
        }
      }
      .single-text-body-container{
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        @include maxbp($medium) {
          width: 95%;
          padding: 0;
        }

        p{
          width: 100%;
        }
      }
      .wob-video-article,
      .wob-media_img{
        margin: 0 auto;
        max-width: 1218px;
        @include maxbp($large) {
          width: 100%;
        }
      }
      .wob-video-article,
      picture{
        margin-bottom: 22px;
      }
      .image-caption{
        margin: 0 auto;
        max-width: 1218px;
        p {
          width: 100%;
          margin: 20px 0 0;
          letter-spacing: 2px;
          color: #383434;
          text-transform: uppercase;
          font-size: 10px;
          line-height: 14px;
          font-family: $font-pfdinmono;
          @include maxbp($medium) {
            font-size: 8px;
            line-height: 12px;
          }
        }
      }
      .wob-video-article {
        position: relative;
        .play-icon {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 99;
          .play_button {
            filter: brightness(0) invert(1);
            background-image: url(../images/icons/src/play-button-1x.png);
            background-repeat: no-repeat;
            width: 100px;
            height: 60px;
            background-size: contain;
            display: inline-block;
          }
        }
        .banner_video_controls {
          position: absolute;
          z-index: 2 !important;
          width: 100%;
          bottom: 0px;
          padding: 20px 20px 20px 25px;
          .btn {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            padding: 0;
            cursor: pointer;
            display: inline-block;
            width: auto;
            height: 25px;
            color: white;
            margin-right: 15px;
            font-size: 18px;
            font-family: "din1451-engschrift";
            text-transform: uppercase;
            text-decoration: underline;
            &.disable {
              color: #827E7C;
            }
          }
        }
        video {
          width: 100%;
          margin-bottom: 0px;
        }
        .video-container{
          min-height: 300px;
          position: relative;
          height: 0;
          overflow: hidden;
          padding-bottom: 56.2%;
          margin-bottom: 20px;
          iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          picture{
            img {
              width: 100%;
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
          }
        }
      }
    }
    .text-box{
      // margin: 75px auto;
      margin:0 auto;
      padding:75px 0;
      max-width: 1218px;
      @include maxbp($medium) {
        padding:35px 0;
      }
    }
    @include maxbp($medium) {
      /*.wob-image-content,*/
      .wob-text-content{
        @include maxbp($medium) {
          display: inline-block;
          width: 100%;
        }
        .right-column,
        .left-column{
          width: 100%;
        }
        .left-column{
          margin-bottom: 70px;
          @include maxbp($medium) {
            margin-bottom: 0;
            h2 {
              padding-top: 0;
              padding-right: 0;
              text-align: inherit;
              font-size: 26px;
              line-height: 34px;
              color: #141415;
              font-family: $font-domaine-display-narrow-regular;
            }
          }
        }
        .right-column{
          @include maxbp($medium) {
            h2 {
              padding-bottom: 0;
              padding-left: 0;
              text-align: inherit;
              font-size: 26px;
              line-height: 34px;
              color: #141415;
              font-family: $font-domaine-display-narrow-regular;
            }
          }
        }
      }
      .single-text-body,
      .wob-text-content{
        p {
          width: 95%;
        }
        h1, h2, h3, h4, h5, h6 {
          width: 95%;
        }
      }
    }
    .wob-quote {
      p {
        width: 100%;
      }
    }
    .wob-quote.excerpt {
      width: 65%;
      font-size: 22px;
      line-height: 44px;
      font-family: $font-domaine-text-regular-italic;
      border-left: 2px solid #B5B3B1;
      padding: 0 45px;
      margin: 75px auto;
      .wob-quote-cta {
        font-family :$font-din1451-engschrift;
        font-size: 18px;
        font-style: normal;
        line-height: 22px;
        color: #141415;
        letter-spacing: 1.8px;
        margin-top: 40px;
        display: block;
      }
    }
    .wob-quote.black {
      width: 75%;
      font-size: 40px;
      line-height: 48px;
      font-family: $font-domaine-display-narrow-web-regular-italic;
      text-align: center;
      // margin: 75px auto;
      padding: 75px 0;
      margin: 0 auto;
      @include maxbp($medium) {
        padding: 35px 0;
        margin: 0 auto;
      }
      p {
        font-size: 40px;
        line-height: 48px;
        font-family: $font-domaine-display-narrow-web-regular-italic;
      }
      .wob-quote-cta {
        text-align: center;
        font-family :$font-din1451-engschrift;
        font-size: 18px;
        font-style: normal;
        line-height: 22px;
        color: #141415;
        letter-spacing: 1.8px;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        border-top: 2px solid #B5B3B1;
        padding-top: 12px;
        width: fit-content;
        margin-top: 25px;
        p {
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.8px;
          @include maxbp($medium) {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 1.4px;
          }
          font-family: inherit;
          text-transform: uppercase;
          
        }
      }
    }
    .wob-quote.quote-campaign {
      font-family: $font-din1451-mittelschrift;
      font-size: 32px;
      line-height: 45px;
      letter-spacing: 4.8px;
      width: 100%;
      margin: 0 auto;
      padding-top: 75px;
      padding-bottom: 75px;
      display: inline-block;
      .quote-container {
        border-top: 0.25px solid #FFF;
        border-bottom: 0.25px solid #FFF;
        padding: 0 10%;
        .wob-quote {
          text-align: center;
          p {
            font-size: 32px;
            line-height: 45px;
            letter-spacing: 4.8px;
          }
        }
        .wob-quote::before {
          content: open-quote;
          margin: 0 auto;
          display: block;
          text-align: center;
          font-size: 120px;
          padding-top: 21px;
          height: 35px;
          font-family: $font-body;
          padding-top: 130px;
          padding-bottom: 53px;
        }
        .wob-quote-cta {
          font-size: 18px;
          line-height: 45px;
          letter-spacing: 3.87px;
          color: #999999;
          margin-top: 70px;
          margin-bottom: 130px;
          text-align: center;
        }
      }
    }
    .two-column-text-visual {
      margin-top: 75px;
      margin-bottom: 75px;
      display: inline-flex;
      @include maxbp($medium) {
        margin:35px auto;
      }
      h2 {
        font-size: 40px;
        line-height: 48px;
      }
      p {
        font-size: 22px;
        line-height: 44px;
      }
      .wob-quote.excerpt {
        width: 90%;
        padding: 0 45px;
        margin-top: 65px;
        margin-bottom: 0;
      }
      .wob-quote.black {
        width: 90%;
        font-size: 32px;
        line-height: 40px;
        margin-top: 65px;
        // padding-left: 33px;
        padding: 0 0 0 33px;
        margin-bottom: 0;
        text-align: inherit;
        p {
          font-size: 32px;
          line-height: 40px;
        }
        .wob-quote-cta {
          margin: 0;
          margin-top: 25px;
          p {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 1.8px;
          }
        }
      }
      picture {
        margin-bottom: 22px;
      }
      .wob-visual-copy {
        p {
          width: 100%;
          font-size: 10px;
          line-height: 14px;
          letter-spacing: 2px;
          margin: 20px 0 0;
          font-family: $font-pfdinmono;
        }
      }
      .wob-video-article {
        position: relative;
        .play-icon {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 99;
          .play_button {
            filter: brightness(0) invert(1);
            background-image: url(../images/icons/src/play-button-1x.png);
            background-repeat: no-repeat;
            width: 100px;
            height: 60px;
            background-size: contain;
            display: inline-block;
          }
        }
        .banner_video_controls {
          position: absolute;
          z-index: 2 !important;
          width: 100%;
          bottom: 0px;
          padding: 20px 20px 20px 25px;
          .btn {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            padding: 0;
            cursor: pointer;
            display: inline-block;
            width: auto;
            height: 25px;
            color: white;
            margin-right: 15px;
            font-size: 18px;
            font-family: "din1451-engschrift";
            text-transform: uppercase;
            text-decoration: underline;
            &.disable {
              color: #827E7C;
            }
          }
        }
        video {
          width: 100%;
          margin-bottom: 0px;
        }
        picture{
          img {
            width: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }
        .video-container{
          min-height: 300px;
          position: relative;
          height: 0;
          overflow: hidden;
          padding-bottom: 56.2%;
          margin-bottom: 20px;
          iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }
      }
      
      @include maxbp($medium) {
        margin-bottom: 54px;
        picture {
          margin-bottom: 17px;
        }
        .wob-visual-copy {
          p {
            width: 100%;
            font-size: 8px;
            line-height: 12px;
            letter-spacing: 1.6px;
          }
        }
        .wob-video-article {
          margin-top: 54px;
        }
        h2 {
          width: 100%;
          font-size: 26px;
          line-height: 34px;
        }
        p {
          width: 100%;
          font-size: 18px;
          line-height: 36px;
        }
        .wob-quote.excerpt {
          width: 100%;
          padding: 25px 30px;
          margin-top: 45px;
          margin-bottom: 45px;
        }
        .wob-quote.black {
          width: 95%;
          padding-left: 0;
          margin-top: 45px;
          margin-bottom: 54px;
          p {
            font-size: 26px;
            line-height: 34px;
          }
          .wob-quote-cta {
            margin: 0;
            margin-top: 28px;
            p {
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 1.4px;
            }
          }
        }
      }
    }
    @include maxbp($medium) {
      .wob-quote.excerpt {
        width: 97%;
        margin: 0 0 0 10px;
        font-size: 18px;
        line-height: 36px;
        font-family: $font-domaine-text-regular-italic;
        padding: 0px 0px 0px 19px;
        // margin-bottom: 55px;
        .wob-quote-cta {
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 1.4px;
          margin-top: 33px;
        }
      }
      .wob-quote.black {
        width: 97%;
        margin: 0 auto;
        font-size: 26px;
        line-height: 34px;
        text-align: inherit;
        p {
          font-size: 26px;
          line-height: 34px;
        }
        .wob-quote-cta {
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 1.4px;
          margin: 0;
          margin-top: 28px;
        }
      }
    }

    .wob-columns{
      display: flow-root;
      @include maxbp($medium) {
        display: inline-block;
      }
      .wob-column{
        float: left;
        /* padding: 0 32px;
        margin:75px 0; */
        margin:0 auto;
        padding:75px 16px;
        width: 100%;
        @include maxbp($medium) {
          /* padding: 0 10px;
          margin:30px 0; */
          margin:0 auto;
          padding:35px 10px;
        }
        .image-caption{
          position: relative;
          p {
            margin: 20px 0 0;
          }
        }
        .wob-video-article {
          position: relative;
          .play-icon {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 99;
            .play_button {
              filter: brightness(0) invert(1);
              background-image: url(../images/icons/src/play-button-1x.png);
              background-repeat: no-repeat;
              width: 100px;
              height: 60px;
              background-size: contain;
              display: inline-block;
            }
          }
          .banner_video_controls {
            position: absolute;
            z-index: 2 !important;
            width: 100%;
            bottom: 0px;
            padding: 20px 20px 20px 25px;
            .btn {
              background-color: transparent;
              background-repeat: no-repeat;
              border: none;
              padding: 0;
              cursor: pointer;
              display: inline-block;
              width: auto;
              height: 25px;
              color: white;
              margin-right: 15px;
              font-size: 18px;
              font-family: "din1451-engschrift";
              text-transform: uppercase;
              text-decoration: underline;
              &.disable {
                color: #827E7C;
              }
            }
          }
          video {
            width: 100%;
            margin-bottom: 0px;
          }
          .video-container{
            min-height: 280px;
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 56.2%;
            margin-bottom: 20px;
            width: -webkit-fill-available;
            @include maxbp($large) {
              min-height: unset !important;
            }
            @include maxbp($medium) {
              min-height: unset !important;
            }
            @include maxbp($small) {
              min-height: unset !important;
            }
            iframe {
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            picture{
              img {
                width: 100%;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
              }
            }
            div[id^="embedded-video-iframe"]{
              width: -webkit-fill-available;
            }
          }
        }
        .wob-media_img{
          margin-bottom:22px;
          picture{
            margin-bottom:15px;
          }
        }
        p{
          width: 100%;
          margin: 0;
          letter-spacing: 1.6px;
          color: #383434;
          text-transform: uppercase;
          font-size: 10px;
          line-height: 14px;
          font-family: $font-pfdinmono;
          @include maxbp($medium) {
            font-size: 8px;
            line-height: 12px;
          }
        }
      }
      .fix-video-column{
        .wob-video-article{
        background-color: black;
          .hero-video{
            background: #000;
            height: 100%;
            width: 100%;
          }
          .video-container{
            padding-bottom: 0;
          }
        }
      }
      .hide-item-column{
        display: none;
      }
    }

    .one-image-column-container{
      display: flow-root;
      .one-image-column{
        width: 100%;
        .wob-video-article,
        .image-caption,
        .wob-media_img{
          width: 718px;
          margin: 0 auto;
          @include maxbp($large) {
            width: 80%;
          }
          @include maxbp($medium) {
            padding: 0;
            margin-bottom:31px;
            width: 80%;
          }
          p{
            text-align: left;
          }
          picture{
            img{
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            @include maxbp($medium) {
              padding: 0;
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    .wob-columns-text-all{
      display: flow-root;
      // margin:75px auto;
      margin:0 auto;
      padding:75px 0;
      max-width: 1218px;
      @include maxbp($medium) {
        // margin:30px auto;
        margin:0 auto;
        width: 95%;
        // padding: 0;
        padding: 35px 0;
      }
      .wob-column{
        padding: 0;
        // max-width: 532px;
        max-width: 593px;
        @include maxbp($medium) {
          padding: 0;
          margin-top: 0 !important;
        }
        h2{
          max-width: 532px;
        }
        h5, h2, p {
          width: 100%;
          margin: 0;
          padding: 0;
        }
        h5{
          font-family: "din1451-mittelschrift";
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 3px;
          color: #141415;
          text-transform: uppercase;
          padding-bottom: 31px;
          @include maxbp($medium) {
            font-size: 20px;
            line-height: 28px;
          }
        }
        p{
          text-align: left;
          font-family: $font-body;
          font-size: 22px;
          line-height: 44px;
          letter-spacing: 0px;
          color: #141415;
          @include maxbp($medium) {
            font-size: 18px;
            line-height: 36px;
          }
        }
        h2{
          font-size: 40px;
          line-height: 48px;
          margin:63px 0 0;
          padding: 0;
          @include maxbp($medium) {
            font-size: 26px;
            line-height: 34px;
            margin-top: 50px !important;
          }
        }
      }
      .first-item{
        // padding: 0 16px;
        padding: 0 16px 0 0;
        @include maxbp($large) {
          margin-bottom: 72px;
        }
        @include maxbp($medium) {
          margin-bottom:  36px;
          padding: 0;
        }
      }
      .right-item{
        float:  right;
      }
      .left-item{
        float: left;
      }
      .one-column{
        float: inherit;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
      }
    }
  }
}

hr{
  margin-top: 25px;
  margin-bottom: 75px;
  border: 2px solid #DDDBDA;
}

.h2, h2{
  font-family: $font-subheading;
  text-transform:none;
  letter-spacing: 0;
  font-size: 36px;
  padding: 30px 0;
} 

.wob-related-stories {
  header {
    width: 100%;
    .line {
      border-top: 2px solid #DDDBDA;
      padding-bottom: 33px;
    }
  }
  .grid.grid-space {
    margin-bottom: 130px;
    margin-left: 0;
    margin-right: 0;
    header{
      .grid-col-lg-12{
        padding: 0;
      }
    }
    .grid-col-sm-6 {
      padding-right: 16px;
      padding-left: 0;
    }
    .grid-col-sm-6:last-child {
      padding-right: 0;
      padding-left: 16px;
    }
  }
  .h2 {
    text-align: center;
    font-family: "din1451-mittelschrift";
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 8px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    padding-bottom: 34px;
    margin-bottom: 0;
  }
  .views-field-field-wob-teaser-image-wide {
    display: block;
  }
  .views-field-field-wob-teaser-image-wide-1 {
    display: none;
  }
  .views-field-title {
      h2 {
      font-family: $font-subheading;
      text-decoration: none;
      text-align: left;
      letter-spacing: 0;
      line-height: 48px;
      font-size: 40px;
      padding: 11px 0 0px 0;
      a {
        text-decoration: none;
        text-transform: none;
      }
    }
  }
  .views-field-field-wob-category {
    padding: 33px 0px 0px 0px;
    font-family: "din1451-engschrift";
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 24px;
    a {
      color: #827e7c;
      text-decoration: none;
    }
  }
  @include maxbp($medium) {
    .views-row {
      margin-bottom: 40px;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .h2 {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 3px;
      padding-bottom: 28px;
    }
    .views-field-field-wob-teaser-image-wide {
      display: none;
    }
    .views-field-field-wob-teaser-image-wide-1 {
      display: block;
    }
    .views-field-title {
      h2 {
        font-size: 20px;
        line-height: 26px;
        padding: 5px 0 0 0;
      }
    }
    .views-field-field-wob-category {
      padding: 15px 0px 0px 0px;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1.6px;
    }
  }
}

div[id^="block-views-block-wob-credits-view-credits-block"]{
  margin:0;
  padding:75px 16px;
  display: inline-block;
  width: 100%;
  .grid {
    .views-row{
      padding: 0;
      margin-bottom: 40px;
      @include maxbp($medium) {
        margin: 30px 0 0;
      }
    }
  }
  @include maxbp($medium) {
    width: 95%;
    float: none;
    margin:0;
    padding:35px 16px;
  }
}

div[id^="block-views-block-related-stories-block-1"]{
  position: inherit;
  display: inline-block;
  width: -webkit-fill-available;
}

.page-node-type-wob-article{
  .status--status {
    width: -webkit-fill-available;
    display: flow-root;
  }
  .breadcrumb .breadcrumb__item {
    padding: 6px 0 6px 6px;
    .breadcrumb__link{
      color: #B5B3B1;
    }
  }
  .breadcrumb .breadcrumb__item:last-child {
    color: #B5B3B1;
  }
  .breadcrumb .breadcrumb__item::after {
    font-variant: contextual;
    font-weight: lighter;
  }
}

div[id^="block-views-block-wob-credits-view-credits-block"],
div[id^="block-views-block-wob-featured-products-with-images-wob-featured-products-with-images-block"]{
  h2 {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: $font-din1451-mittelschrift;
    letter-spacing: 4.4px;
    color: #141415;
    border-bottom: 1px solid #141415;
    padding: 18px 0;
    width: 100%;
    @include maxbp($medium) {
      padding: 15px 0;
    }
  }

  .grid {
    margin: 50px 0;
    @include maxbp($medium) {
      margin: 0;
    }
    .views-row{
      padding-left: 0;
      .credit-name{
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #141415;
        font-family: "domaine-display-narrow-regular";
      }
      .credit-title{
        font-family: "din1451-mittelschrift";
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        color: #827E7C;
        text-transform: uppercase;
      }
      .product_tile {
        padding: 16px 16px 24px;
        margin: 0 10px 0 0;
        width: auto;
        @include maxbp($medium) {
          border-top: 0;
          padding: 0px 16px 24px;
          margin: 40px 10px 0 0;
        }
        @include maxbp($small) {
          .product-image{
            a{
              img {
                width: 108px;
              }
            }
          }
        }

        .product-data{
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0px;
          color: #383434;
          @include maxbp($medium) {
            width: calc(100% - 134px);
          }
          .product-title {
            h4 {
              text-transform: uppercase;
              font-size: 22px;
              line-height: 26px;
              letter-spacing: 2.2px;
              color: #141415;
              @include maxbp($medium) {
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 2px;
                text-transform: uppercase;
              }
            }
          }
        }
        .product-desc{
          .product-image-download{
            a{
              cursor: pointer;
            }
          }
          .product-detail p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;

            &.sub-title {
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0;
            }
          }
          .product-modelno {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 2.4px;
            color: #827E7C;
            font-family: $font-pfdinmono;
            display: block;
            margin: 0 0 5px;
            color: $gray-30;

            @include maxbp($medium) {
              margin-left: 134px;
            }

            p {
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 2.4px;
              font-family: $font-pfdinmono;
              color: $gray-30;
              margin: 3px 0 0 0;
            }
          }
          .product-image-download{
            padding-top: 20px;
            a{
              text-decoration: none;
              font-size: 14px;
              line-height: 18px;
              float: left;
              text-decoration:none;
              font-family: $font-din1451-engschrift;
              text-transform: uppercase;
              letter-spacing: 1.4px;
              color: #141415;
              width: 100%;
              margin-bottom: 12px;

              i.download-icon{
                width: 11px;
                height: 9px;
                background-image: url('../images/download-icon.png');
                display: inline-block;
                background-size: contain;
              }
              img.hidden-downloaded-image{
                opacity: 0;
                display: none;
              }
            }
            @include maxbp($medium) {
              margin-left: 134px;
              display: table;
            }
          }
        }
      }
    }
  }
}
div[id^="block-views-block-wob-credits-view-credits-block-1"]{
  .grid {
    .views-row{
      padding: 0;
      margin-bottom: 40px;
      @include maxbp($medium) {
        margin: 30px 0 0;
      }
    }
  }
  @include maxbp($medium) {
    margin-bottom: 35px;
    display: block;
  }
}

.credits-featured-products-align-left {
  float: left;
  width: 100%;
  @include maxbp($large) {
    padding: 30px 0;
  }
}

div[id^="block-views-block-wob-featured-products-with-images-wob-featured-products-with-images-block"] {
  float: left;
  width: 100%;
  margin:0 auto;
  padding:75px 16px;
  @include maxbp($large) {
    float: none;
    max-width: unset;
  }
  @include maxbp($medium) {
    padding: 30px 16px;
  }
}

div[id*="block-views-block-wob-featured-products-with-images-wob-featured-products-with-images-block"].credits-featured-products-align-left {
  @include maxbp($large) {
    max-width: unset;
    width: auto;
    display: flow-root;
  }
  @include maxbp($medium) {
    float: none;
    padding: 30px 16px;
    width: 100%;
  }
}

ol.breadcrumb{
  margin: 0;
  width: auto;
}