{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if page.sidebar|render %} {# this may or may not correctly filter sidebar #}
  {% set sidebar = TRUE %}
{% endif %}

{% extends "@templates/_default.twig" %}
  {% block page_header %}
    {% if page.header %}
      {{ page.header }}
    {% endif %}
  {% endblock %}

  {% block page_banner %}
  <div class="page-banner-wrapper">{{ page.banner }}</div>
  {% endblock %}

  {% block page_system %}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    {{ messages }}
  {% endblock %}

  {% block page_sidebar %}
    {{ page.sidebar }}
  {% endblock %}

  {% block page_content %}
    <div class="wob-header">
      <div class="wob-edit-options-data">
        {{ page.content.brizo_theme_local_tasks }}
      </div>

      {% if node.field_wob_category.0.entity.label %}
        <p class="wob-header-top-category">{{ node.field_wob_category.0.entity.label }}</p>
      {% endif%}
      {% if node.title.0.value %}
        <h1>{{ node.field_wob_display_title.0.value|striptags('<em> <sup> <sub> <strong>')|raw  }}</h1>
      {% endif%}
      <div class="wob-header-body">
      {% if node.body.0.value %}
          {{ node.body.0.value|raw }}
      {% endif%}
        <div class="wob-header-date-byline">
          {% if node.field_wob_header_date.0.value %}
            Published on {{ node.field_wob_header_date.0.value|date("F j, Y") }}
          {% endif%}

          {% if node.field_wob_article_tags[0] %}
            <div class="wob-tags">
              <div class="wob-tags-label">Tags:</div>

              {% for key, item in node.field_wob_article_tags %}
                {% set tag = drupal_entity('taxonomy_term', item.target_id) %}
                <div class="wob-tags-link">
                  <a href="/search?searchTerm={{ tag['#taxonomy_term'].name.value|raw }}#articles">{{ tag['#taxonomy_term'].name.value|raw }}</a>
                  {{ not loop.last ? "<span>, </span>" }}
                </div>
              {% endfor%}
            </div>
          {% endif %}

        </div>
      </div>

      <div class="wob-navigation">
        <a class="back-link" href="/world-of-brizo" title="Back to World of Brizo"><span class="arrow-prev"></span> Back to World of Brizo</a>
        {% if node.field_wob_category.0.entity.label %}
          <a class="back-link term-right" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_wob_category.entity.tid.value}) }}" title="More {{ node.field_wob_category.0.entity.label }}">More {{ node.field_wob_category.0.entity.label }} <span class="arrow-next"></span></a>
        {% endif%}
      </div>
      <hr />

      {% set wideFirstImg = node.field_wob_teaser_image_wide.0.entity.field_media_image %}
      {% set wideFirstImgSrc = wideFirstImg.entity.getFileUri() %}
      {% set wideFirstImgMobile = node.field_wob_teaser_image_mobile.0.entity.field_media_image %}
      {% set wideFirstImgSrcMobile = wideFirstImgMobile.entity.getFileUri() %}

      {% if (wideFirstImgSrc or wideFirstImgSrcMobile) %}
        <picture>
          <source srcset="{{ node.field_wob_teaser_image_wide | file_uri | image_style('1464_x_621') }}" media="(min-width: 767px)">
          <source srcset="{{ node.field_wob_teaser_image_mobile | file_uri | image_style('wob_featured_stories_narrow') }}" media="(max-width: 766px)">
          <img src="{{ node.field_wob_teaser_image_wide | file_uri | image_style('1464_x_621') }}" alt="{{ wideFirstImg.0.alt }}" />
        </picture>
      {% endif%}

      {% if node.field_wob_blog_body_components.0 %}
        <div class="wob-page-component">
        {% for item in node.field_wob_blog_body_components %}
          {% set thisitem = drupal_entity('paragraph', item.target_id) %}
          {% if thisitem['#paragraph'].field_wob_single_text_body %}
             <div class="wob-content single-text-body">
                <div class="single-text-body-container">
                  {{ thisitem['#paragraph'].field_wob_single_text_body.0.value|raw }}
                </div>
             </div>
          {% endif%}

          {% if (thisitem['#paragraph'].field_wob_left_text_box or thisitem['#paragraph'].field_wob_right_text_box) %}
            <div class="wob-text-content text-box">
              <div class="left-column">
                {{ thisitem['#paragraph'].field_wob_left_text_box.0.value|raw }}
              </div>
              <div class="right-column">
                {{ thisitem['#paragraph'].field_wob_right_text_box.0.value|raw }}
              </div>
            </div>
          {% endif%}

          {% if ((thisitem['#paragraph'].field_wob_left_teaser_image or thisitem['#paragraph'].field_wob_right_teaser_image) 
              or (thisitem['#paragraph'].field_wob_left_caption or thisitem['#paragraph'].field_wob_right_caption)) %}
            {% if (thisitem['#paragraph'].field_wob_fit_layout_images.value) %}
              {% set layoutImg = 'fit' %}
            {% else %}
              {% set layoutImg = 'wide' %}
            {% endif %}

            {% set valignClass = '' %}
            {% if (thisitem['#paragraph'].field_wob_valign_selector) %}
              {% set valignClass = thisitem['#paragraph'].field_wob_valign_selector.0.value %}
            {% endif %}
            <div class="wob-image-content {{ layoutImg }}">
              {% set valignClassLeft = '' %}
              {% set leftVideo = '' %}
              {% set rightVideo = '' %}
              
              {% if ('left' in valignClass or 'equal' in valignClass) %}
                 {% set valignClassLeft = 'wob-' ~ valignClass|replace({'_':'-'}) %}
              {% endif %}
              <div class="left-column {{ valignClassLeft }}">
                {% set video_oembed_uri = '' %}
                {% set leftImg = thisitem['#paragraph'].field_wob_left_teaser_image.0.entity.field_media_image.0 %}
                {% set leftImgALt = leftImg.alt %}
                {% set leftImgSrc = leftImg.entity.uri.0.value %}
                {% set leftImgSrcMobile = leftImg.entity.uri.0.value %}
                {% if thisitem['#paragraph'].field_wob_left_teaser_image.0.entity.field_media_video_file %}
                  {% set leftVideo = thisitem['#paragraph'].field_wob_left_teaser_image.0.entity.field_media_video_file.0 %}
                {% elseif thisitem['#paragraph'].field_wob_left_teaser_image.0.entity.field_media_oembed_video.0.value %}
                  {% set video_oembed_uri = thisitem['#paragraph'].field_wob_left_teaser_image.0.entity.field_media_oembed_video.0.value %}
                {% endif %}

                {% if (leftImgSrc or leftImgSrcMobile or leftVideo or video_oembed_uri) %}
                  {% if leftVideo.entity.uri.0.value is not null or video_oembed_uri != '' %}
                    <div class="wob-video-article">
                      {% set video_oembed_thumbnail = '' %}
                      {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                      {% set video_controls = true %}
                      {% if thisitem['#paragraph'].field_wob_video_muted.0.value %}
                        {% set video_banner_muted = 'muted' %}
                      {% else %}
                        {% set video_banner_muted = '' %}
                      {% endif %}
                      {% set video_banner_loop = thisitem['#paragraph'].field_wob_video_loop.0.value %}
                      {% if video_oembed_uri %}
                        {% set video_id = video_oembed_uri|split('=')[1]  %}
                        {% set video_oembed_thumbnail = 'https://img.youtube.com/vi/'~ video_id ~'/default.jpg' %}
                        {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                        {% set video_controls = false %}
                      {% endif %}
                      {% include "@organisms/video-banner/video-banner-background-wob.twig" with {
                        "video_banner_src": leftVideo.entity.uri.0.value,
                        "video_banner_oembed_url": video_oembed_uri,
                        "video_banner_autoplay": video_autoplay,
                        "video_banner_controls": video_controls,
                        "video_banner_thumbnail": video_oembed_thumbnail,
                        "video_banner_muted": video_banner_muted,
                        "video_banner_loop": video_banner_loop,
                      } %}
                  {% else %}
                    <div class="wob-media_img">
                      <picture>
                        <source srcset="{{ leftImgSrc| image_style('wob_offset_images') }}" media="(min-width: 767px)">
                        <source srcset="{{ leftImgSrc| image_style('wob_offset_images_mobile') }}" media="(max-width: 766px)">
                        <img src="{{ leftImgSrc| image_style('wob_offset_images') }}" alt="{{ leftImgALt }}" />
                      </picture>
                  {% endif %}
                    </div>
                {% endif %}
                {% if thisitem['#paragraph'].field_wob_left_caption.0 %}
                  <div class="image-caption">
                    {{ thisitem['#paragraph'].field_wob_left_caption.0.value|raw }}
                  </div>
                {% endif %}
              </div>
              {% set valignClassRight = '' %}
              {% if ('right' in valignClass or 'equal' in valignClass) %}
                 {% set valignClassRight = 'wob-' ~ valignClass|replace({'_':'-'}) %}
              {% endif %}
              <div class="right-column {{ valignClassRight }}">
                {% set video_oembed_uri = '' %}
                {% set rightImg = thisitem['#paragraph'].field_wob_right_teaser_image.0.entity.field_media_image.0 %}
                {% set rightImgALt = rightImg.0.alt %}
                {% set rightImgSrc = rightImg.entity.uri.0.value %}
                {% set rightImgSrcMobile = rightImg.entity.uri.0.value %}
                {% if thisitem['#paragraph'].field_wob_right_teaser_image.0.entity.field_media_video_file %}
                  {% set rightVideo = thisitem['#paragraph'].field_wob_right_teaser_image.0.entity.field_media_video_file.0 %}
                {% elseif thisitem['#paragraph'].field_wob_right_teaser_image.0.entity.field_media_oembed_video.0.value %}
                  {% set video_oembed_uri = thisitem['#paragraph'].field_wob_right_teaser_image.0.entity.field_media_oembed_video.0.value %}
                {% endif %}

                {% if (rightImgSrc or rightImgSrcMobile or rightVideo or video_oembed_uri) %}
                  {% if rightVideo.entity.uri.0.value is not null or video_oembed_uri != '' %}
                    <div class="wob-video-article">
                      {% set video_oembed_thumbnail = '' %}
                      {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay_right.0.value %}
                      {% set video_controls = true %}
                      {% if thisitem['#paragraph'].field_wob_video_muted_right.0.value %}
                        {% set video_banner_muted = 'muted' %}
                      {% else %}
                        {% set video_banner_muted = '' %}
                      {% endif %}
                      {% set video_banner_loop = thisitem['#paragraph'].field_wob_video_loop_right.0.value %}
                      {% if video_oembed_uri %}
                        {% set video_id = video_oembed_uri|split('=')[1]  %}
                        {% set video_oembed_thumbnail = 'https://img.youtube.com/vi/'~ video_id ~'/default.jpg' %}
                        {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay_right.0.value %}
                        {% set video_controls = false %}
                      {% endif %}
                      {% include "@organisms/video-banner/video-banner-background-wob.twig" with {
                        "video_banner_src": rightVideo.entity.uri.0.value,
                        "video_banner_oembed_url": video_oembed_uri,
                        "video_banner_autoplay": video_autoplay,
                        "video_banner_controls": video_controls,
                        "video_banner_thumbnail": video_oembed_thumbnail,
                        "video_banner_muted": video_banner_muted,
                        "video_banner_loop": video_banner_loop,
                      } %}
                  {% else %}
                    <div class="wob-media_img">
                      <picture>
                        <source srcset="{{ rightImgSrc| image_style('wob_offset_images') }}" media="(min-width: 767px)">
                        <source srcset="{{ rightImgSrc| image_style('wob_offset_images_mobile') }}" media="(max-width: 766px)">
                        <img src="{{ rightImgSrc| image_style('wob_offset_images') }}" alt="{{ rightImgALt }}" />
                      </picture>
                  {% endif %}
                    </div>
                {% endif %}
                {% if thisitem['#paragraph'].field_wob_right_caption.0 %}
                  <div class="image-caption">
                    {{ thisitem['#paragraph'].field_wob_right_caption.0.value|raw }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif%}

          {% if thisitem['#paragraph'].field_wob_medium_centered_image %}
             <div class="wob-content single-text-body">
                {% set video_oembed_uri = '' %}
                {% set wideImg = thisitem['#paragraph'].field_wob_medium_centered_image.0.entity.field_media_image.0 %}
                {% set wideImgALt = wideImg.alt %}
                {% set wideImgSrc = wideImg.entity.uri.0.value %}
                {% set wideImgSrcMobile = wideImg.entity.uri.0.value %}

                {% if thisitem['#paragraph'].field_wob_medium_centered_image.0.entity.field_media_video_file %}
                  {% set mediaVideo = thisitem['#paragraph'].field_wob_medium_centered_image.0.entity.field_media_video_file.0 %}
                {% elseif thisitem['#paragraph'].field_wob_medium_centered_image.0.entity.field_media_oembed_video.0.value %}
                  {% set video_oembed_uri = thisitem['#paragraph'].field_wob_medium_centered_image.0.entity.field_media_oembed_video.0.value %}
                {% endif %}

                {% if (mediaVideo.entity.uri.0.value or video_oembed_uri) %}
                  <div class="wob-video-article">
                    {% set video_oembed_thumbnail = '' %}
                    {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                    {% set video_controls = true %}
                      {% if thisitem['#paragraph'].field_wob_video_muted.0.value %}
                        {% set video_banner_muted = 'muted' %}
                      {% else %}
                        {% set video_banner_muted = '' %}
                      {% endif %}
                      {% set video_banner_loop = thisitem['#paragraph'].field_wob_video_loop.0.value %}
                    {% if video_oembed_uri %}
                      {% set video_id = video_oembed_uri|split('=')[1]  %}
                      {% set video_oembed_thumbnail = 'https://img.youtube.com/vi/'~ video_id ~'/default.jpg' %}
                      {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                      {% set video_controls = false %}
                    {% endif %}
                    {% include "@organisms/video-banner/video-banner-background-wob.twig" with {
                      "video_banner_src": mediaVideo.entity.uri.0.value,
                      "video_banner_oembed_url": video_oembed_uri,
                      "video_banner_autoplay": video_autoplay,
                      "video_banner_controls": video_controls,
                      "video_banner_thumbnail": video_oembed_thumbnail,
                      "video_banner_muted": video_banner_muted,
                      "video_banner_loop": video_banner_loop,
                    } %}
                {% else %}
                  <div class="wob-media_img">
                    <picture>
                      <source srcset="{{ wideImgSrc| image_style('wob_medium_center_image') }}" media="(min-width: 767px)">
                      <source srcset="{{ wideImgSrc| image_style('wob_medium_center_image_mobile') }}" media="(max-width: 766px)">
                      <img src="{{ wideImgSrc| image_style('wob_medium_center_image') }}" alt="{{ wideImgALt }}" />
                    </picture>
                {% endif %}
              </div>
                {% if thisitem['#paragraph'].field_wob_image_caption.0 %}
                  <div class="image-caption">
                    {{ thisitem['#paragraph'].field_wob_image_caption.0.value|raw }}
                  </div>
                {% endif %}
             </div>
          {% endif%}

          {% if (thisitem['#paragraph'].field_wob_copy_column or thisitem['#paragraph'].field_wob_image_blog_article) %} 
            <div class="grid grid-space two-column-text-visual">
              {% set quote = drupal_entity('paragraph', thisitem['#paragraph'].field_wob_quote.0.target_id) %}
              {% if thisitem['#paragraph'].field_wob_visual_position.value == 'right' %}
                <div class="grid-col-lg-7">
                  {{ thisitem['#paragraph'].field_wob_copy_column.0.value|raw }}
                  <div class="wob-quote {{ quote["#paragraph"].field_wob_quotation_type.0.value }}">
                    <div class="wob-quote">
                      {{ quote["#paragraph"].field_quotation.0.value|raw }}
                    </div>
                    <div class="wob-quote-cta">
                      {{ quote["#paragraph"].field_wob_quotation_cta.0.value|raw }}
                    </div>
                  </div>
                </div>
                <div class="grid-col-lg-5">
                  {% if thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_video_file or thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_oembed_video %}
                    {% if thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_video_file.0.target_id %}
                      {% set video_element = drupal_entity('file', thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_video_file.0.target_id) %}
                      {% set video_uri = video_element["#file"].uri.0.value %}
                    {% elseif thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_oembed_video.0.value %}
                      {% set video_oembed_uri = thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_oembed_video.0.value %}
                    {% endif %}
                    <div class="wob-video-article">
                      {% set video_oembed_thumbnail = '' %}
                      {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                      {% set video_controls = true %}
                      {% if thisitem['#paragraph'].field_wob_video_muted.0.value %}
                        {% set video_banner_muted = 'muted' %}
                      {% else %}
                        {% set video_banner_muted = '' %}
                      {% endif %}
                      {% set video_banner_loop = thisitem['#paragraph'].field_wob_video_loop.0.value %}
                      {% if video_oembed_uri %}
                        {% set video_id = video_oembed_uri|split('=')[1]  %}
                        {% set video_oembed_thumbnail = 'https://img.youtube.com/vi/'~ video_id ~'/default.jpg' %}
                        {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                        {% set video_controls = false %}
                      {% endif %}
                      {% include "@organisms/video-banner/video-banner-background-wob.twig" with {
                        "video_banner_src": video_uri,
                        "video_banner_oembed_url": video_oembed_uri,
                        "video_banner_autoplay": video_autoplay,
                        "video_banner_controls": video_controls,
                        "video_banner_thumbnail": video_oembed_thumbnail,
                        "video_banner_muted": video_banner_muted,
                        "video_banner_loop": video_banner_loop,
                      } %}
                    </div>
                  {% elseif thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_image %}
                    {% set img_element = thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_image.0 %}
                    {% set img_src = img_element.entity.uri.0.value %}
                    <picture>
                      <source srcset="{{ img_src | image_style('wob_2_column_visual') }}" media="(min-width: 767px)">
                      <source srcset="{{ img_src | image_style('wob_2_column_visual_mobile') }}" media="(max-width: 766px)">
                      <img src="{{ img_src | image_style('wob_2_column_visual') }}" alt="{{ img_element.alt }}" />
                    </picture>
                  {% endif %}
                  <div class="wob-visual-copy">
                    {{ thisitem["#paragraph"].field_wob_copy_visual_element.0.value|raw }}
                  </div>
                </div>
              {% else %}
                <div class="grid-col-lg-5">
                  {% if thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_video_file or thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_oembed_video %}
                    {% if thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_video_file.0.target_id %}
                      {% set video_element = drupal_entity('file', thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_video_file.0.target_id) %}
                      {% set video_uri = video_element["#file"].uri.0.value %}
                    {% elseif thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_oembed_video.0.value %}
                      {% set video_oembed_uri = thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_oembed_video.0.value %}
                    {% endif %}
                    <div class="wob-video-article">
                      {% set video_oembed_thumbnail = '' %}
                      {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                      {% set video_controls = true %}
                      {% if thisitem['#paragraph'].field_wob_video_muted.0.value %}
                        {% set video_banner_muted = 'muted' %}
                      {% else %}
                        {% set video_banner_muted = '' %}
                      {% endif %}
                      {% set video_banner_loop = thisitem['#paragraph'].field_wob_video_loop.0.value %}
                      {% if video_oembed_uri %}
                        {% set video_id = video_oembed_uri|split('=')[1]  %}
                        {% set video_oembed_thumbnail = 'https://img.youtube.com/vi/'~ video_id ~'/default.jpg' %}
                        {% set video_autoplay = thisitem['#paragraph'].field_video_autoplay.0.value %}
                        {% set video_controls = false %}
                      {% endif %}
                      {% include "@organisms/video-banner/video-banner-background-wob.twig" with {
                        "video_banner_src": video_uri,
                        "video_banner_oembed_url": video_oembed_uri,
                        "video_banner_autoplay": video_autoplay,
                        "video_banner_controls": video_controls,
                        "video_banner_thumbnail": video_oembed_thumbnail,
                        "video_banner_muted": video_banner_muted,
                        "video_banner_loop": video_banner_loop,
                      } %}
                    </div>
                  {% elseif thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_image %}
                    {% set img_element = thisitem['#paragraph'].field_wob_image_blog_article.0.entity.field_media_image.0 %}
                    {% set img_src = img_element.entity.uri.0.value %}
                     <picture>
                      <source srcset="{{ img_src | image_style('wob_2_column_visual') }}" media="(min-width: 767px)">
                      <source srcset="{{ img_src | image_style('wob_2_column_visual_mobile') }}" media="(max-width: 766px)">
                      <img src="{{ img_src | image_style('wob_2_column_visual') }}" alt="{{ img_element.alt }}" />
                    </picture>
                  {% endif %}
                  <div class="wob-visual-copy">
                    {{ thisitem["#paragraph"].field_wob_copy_visual_element.0.value|raw }}
                  </div>
                </div>
                <div class="grid-col-lg-7">
                  {{ thisitem['#paragraph'].field_wob_copy_column.0.value|raw }}
                  <div class="wob-quote {{ quote["#paragraph"].field_wob_quotation_type.0.value }}">
                    <div class="wob-quote">
                      {{ quote["#paragraph"].field_quotation.0.value|raw }}
                    </div>
                    <div class="wob-quote-cta">
                      {{ quote["#paragraph"].field_wob_quotation_cta.0.value|raw }}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if thisitem['#paragraph'].field_quotation %}
            {% set quotetype = '' %}
            {% if thisitem["#paragraph"].field_wob_quote_bg_color.0.value.color or thisitem["#paragraph"].field_wob_quote_font_color.0.value.color %}
              {% set quotetype = 'quote-campaign' %}
            {% endif %}
            <div class="wob-quote {{ quotetype }} {{ thisitem["#paragraph"].field_wob_quotation_type.0.value }}" style="background-color:{{ thisitem["#paragraph"].field_wob_quote_bg_color.0.value.color }}; color:{{ thisitem["#paragraph"].field_wob_quote_font_color.0.value.color }}">
              <div class="quote-container">
                <div class="wob-quote">
                  {{ thisitem["#paragraph"].field_quotation.0.value|raw }}
                </div>
                <div class="wob-quote-cta">
                  {{ thisitem["#paragraph"].field_wob_quotation_cta.0.value|raw }}
                </div>
              </div>
            </div>
          {% endif %}

          {% if thisitem['#paragraph'].field_wob_credit_item %}
            {{ drupal_block('views_block:wob_credits-view_credits_block_1', {view_id: thisitem['#paragraph'].id.0.value}) }}
          {% endif%}

          {% if thisitem['#paragraph'].field_wob_featured_product %}
            {{ drupal_block('views_block:wob_featured_products_with_images-wob_featured_products_with_images_block_1', {view_id: thisitem['#paragraph'].id.0.value}) }}
          {% endif%}

          {% if thisitem['#paragraph'].field_wob_images_row %}
              {% set itemsLength = thisitem['#paragraph'].field_wob_images_row|length %}
              {% if (itemsLength == 1) %}
                {% set witdhClass = 'one-image-column' %}
              {% elseif (itemsLength < 3) %}
                {% set witdhClass = 'grid-col-6 grid-col-md-6 grid-col-lg-6' %}
              {% elseif (itemsLength < 4) %}
                {% set witdhClass = 'grid-col-6 grid-col-md-6 grid-col-lg-4' %}
              {% else %}
                {% set witdhClass = 'grid-col-6 grid-col-md-6 grid-col-lg-3' %}
              {% endif %}
            <div class="wob-columns {% if (itemsLength == 1) %}{{ witdhClass }}-container{% endif %}">
              {% set items_number = thisitem['#paragraph'].field_wob_images_row|length %}
              {% if (itemsLength >= 2) %}
              <div class="wob-column {{ witdhClass }} hide-item-column">
                <div class="wob-media_img">
                  <picture>
                    <source srcset="/themes/custom/brizo_theme/images/default_image_column_mobile.png" media="(min-width: 767px)">
                    <source srcset="/themes/custom/brizo_theme/images/default_image_column_mobile.png" media="(max-width: 766px)">
                    <img src="/themes/custom/brizo_theme/images/default_image_column_mobile.png" alt="Image for {{itemsLength}} columns">
                  </picture>
                </div>
                <div class="image-caption">
                  <p></p>
                </div>
              </div>
              {% endif %}
              {% for itemImage in thisitem['#paragraph'].field_wob_images_row %}
                {% set item = itemImage.entity %}
                <div class="wob-column {{ witdhClass }}">
                  {% set mediaVideo = '' %}
                  {% set video_oembed_uri = '' %}
                  {% set mediaImg = '' %}
                  {% if item.field_wob_image.0.entity.field_media_video_file.0 %}
                    {% set mediaVideo = item.field_wob_image.0.entity.field_media_video_file.0 %}
                  {% elseif item.field_wob_image.0.entity.field_media_oembed_video.0.value %}
                    {% set video_oembed_uri = item.field_wob_image.0.entity.field_media_oembed_video.0.value %}
                  {% else %}
                    {% set mediaImg = item.field_wob_image.0.entity.field_media_image.0 %}
                    {% set mediaImgAlt = mediaImg.alt %}
                    {% set mediaImgSrc = mediaImg.entity.uri.0.value %}
                  {% endif %}

                    {% if (mediaVideo.entity.uri.0.value or video_oembed_uri) %}
                      <div class="wob-video-article">
                        {% set video_oembed_thumbnail = '' %}
                        {% set video_autoplay = item.field_video_autoplay.0.value %}
                        {% set video_controls = true %}
                        {% if item.field_wob_video_muted.0.value %}
                          {% set video_banner_muted = 'muted' %}
                        {% else %}
                          {% set video_banner_muted = '' %}
                        {% endif %}
                        {% set video_banner_loop = item.field_wob_video_loop.0.value %}
                        {% if video_oembed_uri %}
                          {% set video_id = video_oembed_uri|split('=')[1]  %}
                          {% set video_oembed_thumbnail = 'https://img.youtube.com/vi/'~ video_id ~'/default.jpg' %}
                          {% set video_autoplay = item.field_video_autoplay.0.value %}
                          {% set video_controls = false %}
                        {% endif %}
                        {% include "@organisms/video-banner/video-banner-background-wob.twig" with {
                          "video_banner_src": mediaVideo.entity.uri.0.value,
                          "video_banner_oembed_url": video_oembed_uri,
                          "video_banner_autoplay": video_autoplay,
                          "video_banner_controls": video_controls,
                          "video_banner_thumbnail": video_oembed_thumbnail,
                          "video_banner_muted": video_banner_muted,
                          "video_banner_loop": video_banner_loop,
                        } %}
                    {% elseif mediaImgSrc %}
                      <div class="wob-media_img">
                        <picture>
                          {% if itemsLength == 1 %}
                            {% set mobileImageStyle = mediaImgSrc| image_style('wob_image_column_'~itemsLength~'_mobile') %}
                          {% else %}
                            {% set mobileImageStyle = mediaImgSrc| image_style('wob_offset_images_mobile') %}
                          {% endif %}

                          {% set ImageStyle = mediaImgSrc| image_style('wob_image_column_'~itemsLength) %}
                          {% if itemsLength > 4 %}
                            {% set ImageStyle = mediaImgSrc| image_style('wob_image_column_4') %}
                          {% endif %}
                          <source srcset="{{ ImageStyle }}" media="(min-width: 767px)">
                          <source srcset="{{ mobileImageStyle }}" media="(max-width: 766px)">
                          <img src="{{ ImageStyle }}" alt="{{ mediaImgAlt }}" />
                        </picture>
                    {% endif %}
                    {% if (mediaVideo.entity.uri.0.value or video_oembed_uri or mediaImgSrc) %}
                      </div>
                    {% endif %}
                    <div class="image-caption">
                      <p>
                      {% if item.field_wob_image_caption.0 %}
                        {{ item.field_wob_image_caption.0.value|raw }}
                      {% endif %}
                      </p>
                    </div>
                </div>
              {% endfor %}
            </div>
          {% endif%}

          {% if thisitem['#paragraph'].field_wob_text_row %}
            <div class="wob-columns-text-all">
              {% set item_length = thisitem['#paragraph'].field_wob_text_row|length %}
              {% set witdhClassFirst = '' %}
              {% if item_length > 1 %}
                {% set witdhClass = 'grid-col-12 grid-col-md-12 grid-col-lg-6' %}
              {% else %}
                {% set witdhClass = 'grid-col-12 grid-col-md-12 grid-col-lg-12 one-column' %}
              {% endif %}
              {% for itemImage in thisitem['#paragraph'].field_wob_text_row %}
                {% if (loop.index == 1) %}
                  {% set witdhClassFirst = 'left-item first-item' %}
                {% else %}
                  {% set witdhClassFirst = 'right-item' %}
                {% endif %}
                {% set item = itemImage.entity %}
                {% set valign = '' %}
                {% if item.field_wob_vertical_alignment.0.value %}
                  {% set valign = item.field_wob_vertical_alignment.0.value %}
                {% endif %}
                <div class="wob-column {{ valignClass }} {{ witdhClass }} {{ valign }} {{ witdhClassFirst }}">
                  {% if item.field_wob_header_section.0 %}
                    <h5>{{ item.field_wob_header_section.0.value|raw }}</h5>
                  {% endif %}
                  {% if item.field_wob_paragraph_text %}
                    <div>{{ item.field_wob_paragraph_text.0.value|raw }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif%}
        {% endfor %}
        
        </div>
      {% endif%}
    </div>
    {% set page = page|merge({
      content: page.content | filter((v, k) => k != 'brizo_theme_local_tasks')
    }) %}
    {{ page.content }}
    
  {% endblock %}

  {% block page_footer %}
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  {% endblock %}
