<a class="innovation-card" href="{{ url }}" name="{{ title | striptags }}" title="{{ title | striptags }}" aria-label="{{ title | striptags }}">
  {% if img_url %}
  <img class="innovation-card__img" src="{{ img_url }}" alt="{{ img_alt_text | html_entities | raw }}" />
  {% endif %}
  <h6 class="innovation-card__title" aria-hidden="true">
    <span>
      {{ title | html_entities |raw }}
    </span>

    <span class="innovation-card__plus-icon">
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: "plus",
        icon_color: "gray-60",
        icon_size: 20,
        hidden: true,
      } %}
    </span>
  </h6>

  <div class="innovation-card__overlay">
    <div class="innovation-card__inverse-arrow" aria-hidden="true"></div>
    <div class="innovation-card__overlay__content">
      <h6 class="innovation-card__title">
        <span>
          {{ title | html_entities |raw }}
        </span>
      </h6>
      <div aria-hidden="true">
        {{ content | raw }}
      </div>
    </div>
  </div>
</a>
