{% set subtitle = 'Sign Up' %}
{% if(items.contact == 'TRUE') %}
{%  set subtitle = '' %}
{% endif %}
<div>
  <h2 class="signup_block--title">{{ subtitle }}</h2>
  <div class="signup_block--sub">
    <p>Be the first to know when we build something cool.</p>
  </div>
</div>
<div>
<form id="contact-us-form" class="contact-form" action="" method="post">
  <div id="success-message">Subscribed sucessfully. You'll receive a confirmation shortly.</div>
  <div class="v-list-9">
    <div class="form-row">
      <fieldset class="form-group field-firsname"><input type="text" id="first-name"
                                                       name="first_name" title="First Name"
                                                       value=""
                                                       class="form-control required"
                                                       placeholder="First Name"/>
        <div class="message"></div>
      </fieldset>
      <fieldset class="form-group field-lastname"><input type="text" id="last-name"
                                                       name="last_name" title="Last Name"
                                                       value=""
                                                       class="form-control required"
                                                       placeholder="Last Name"/>
        <div class="message"></div>
      </fieldset>
    </div>
    <fieldset class="form-group field-email"><input type="text" id="email" name="email"
                                                     title="Email Address" value=""
                                                     class="form-control  required"
                                                     placeholder="Email"/>
      <div class="message"></div>
    </fieldset>
    <fieldset class="form-group" style="display: none;"><input type="checkbox" checked
                                                               id="opt-in"
                                                               name="opt-in"
                                                               value="true" title="Opt In"
                                                               class="checkbox "/>
      <div class="message"></div>
    </fieldset>
    <div class="text-center">
    <input class="btn btn--primary" id="save-contact" type="submit" value="Submit">
           </div>
  </div>
</form>
</div>
