<footer class="footer">
      <div class="footer--inner">

        <div class="footer--top">
          <div class="footer--title">
            {{ items.title }}
          </div>
          <div class="footer--subtitle">
            {{ items.subtitle }}
          </div>
        </div>
        <div class="footer--address">
          {{ items.address | raw}}
        </div>
        <div class="footer-order-status">
          <a href="{{ items.order_status_url | raw}}"> {{ items.order_status_url_text |raw }}</a>
        </div>
      </div>
      <div class="footer--copyright">
        <div class="footer-menu">
         {{ drupal_block('system_menu_block:footer') }}
        </div>
        {{ items.copyright }}
     </div>
</footer>
