{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<div class="site-header" data-site-header>
  <div class="grid-container grid-container--full-height">
    <div class="row">
      <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
      <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding">
        <div class="table-layout table-layout--full-width table-layout--full-height">
          <div class="table-layout__row">
            <div class="table-layout__cell table-layout__cell-1-12 table-layout__cell--valign-mid">
              <a href="/" class="site-header__logo_a">
                <img class="site-header__logo" src="/{{ image_path }}/logo.svg" alt="First Wave">
              </a>
            </div>
            <div class="table-layout__cell table-layout__cell-5-12 table-layout__cell-sm-hide table-layout__cell--valign-mid">
              <h1 class="site-header__description p--small p--no-margin"><span class="p--theme-blue">{{site_name}}</span><span class="p--theme-gray"> {{site_slogan}}</span></h1>
            </div>
            <div class="table-layout__cell table-layout__cell-6-12 table-layout__cell--valign-mid">
              <span class="mobile-button--wrapper"><button class="site-header__nav-button"><span class="shnb-inner"></span></button></span>

    <div class="site-header__nav">
    {{ menus.menu_links(items, attributes, 0) }}
    {% macro menu_links(items, attributes, menu_level) %}
      {% import _self as menus %}
      {% if items %}
        {% if menu_level == 0 %}
          <ul class="header__nav--prime">
        {% else %}
          <ul class="header__nav--sub">
        {% endif %}

            {% for item in items %}
            <li>
                {%
                  set classes = [
                  'link',
                  'link--nav',
                  item.url.getOption('attributes')['class'],
                  item.is_expanded ? 'expanded',
                  item.is_collapsed ? 'collapsed',
                  item.in_active_trail ? 'active',
                ]
                %}

                {{ link(item.title, item.url,  { 'class':classes} ) }}
                {% if item.below %}
                  {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}

                </li>
            {% endfor %}

        {% if menu_level == 0 %}
          </ul>
        {% else %}
          </ul>
        {% endif %}
      {% endif %}
      {% endmacro %}
      </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
    </div>
  </div>
</div>
<div class="site-header__spacer"></div>
