{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'pdp',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article {{attributes.addClass(classes)}}>
    {{ title_prefix }}
    {{ title_suffix }}

    <div{{content_attributes.addClass('node__content')}}>
        <section class="pdp--intro" data-section-fade-up>
            <div class="container-b">
                <div class="insider" data-section-fade-up-heading>
                    <h1>{{ node.label }}</h1>
                    <div>{{ content.body }}</div>
                </div>
            </div>
        </section>

        {% if node.field_show_slider.0.value == 1 %}
            <section class="pdp--slider" data-section-fade-up>
                <div class="container-a">
                    <div class="insider" data-section-fade-up-heading>
                        <div class="left_nav_slider">
                            <div class="arrow"></div>
                            <div class="img"></div>
                        </div>
                        <div class="slider-main">
                            {{ content.field_product_slider }}
                        </div>
                        <div class="right_nav_slider">
                            <div class="img"></div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if content.field_product_support_link[0]['#url'] is not empty %}
            <section class="pdp--getupdates" data-section-fade-up>
                <div class="container-a">
                    <div class="insider" data-section-fade-up-heading>
                        <a class="scroll btn btn--blue" href="{{ content.field_product_support_link[0]['#url'] }}">{{ content.field_product_support_link[0]['#title'] }}</a>
                    </div>
                </div>
            </section>
        {% endif %}
        {% if node.field_show_featured_highlights.value == 1 %}
          <div class="pdp--highlights">
            <h1>{{ content.field_title }}</h1>
            {{ content.field_feature_highlights }}
          </div>
        {% endif %}

        <h1 class="how-it-works-title">{{ content.field_how_it_works_title }}</h1>
        {{ content.field_how_it_works }}
        {% if content.field_enable_review['#items'].getString() == 'yes' %}
          {{ content.field_submit_review }}
        {% endif %}

    </div>
</article>
