<video class="fullscreen" preload="none" poster="{{items.thumbnailUrl}}" id="full_vid" playsinline autoplay muted loop>
{# video needs to be muted, since Chrome 66+ will not autoplay video with sound. #}
  <source src="{{ items.url }}" type='video/mp4' />
</video>

{#
{% if(items.thumbnail != 'FALSE') %}
<img src="{{ items.thumbnailUrl }}" height="300" width="300">
{% endif %}
#}
