{{ attach_library('delta_theme/video-on-tabs') }}

<div class="video-on-tab-wrapper">

  <div class="vot-video-wrapper">
    {%  for vot_tab in vot_tabs %}
    <div class="vot-video-block {% if loop.index0 == 0 %} active-vot-video-block {% endif %}">
      <video loop preload="none" width="50%" controlslist="nodownload" id={{vot_tab.vot_tab_content}}>
       {% block video_content %}
        {% if vot_tab.video_url %}
          <source src="{{ vot_tab.video_url }}" type='video/mp4' />
        {% endif %}
        {% if vot_tab.video_url_webm %}
          <source src="{{ vot_tab.video_url_webm }}" type='video/webm' />
        {% endif %}
       {% endblock %}
      </video>
    </div>
    {% endfor %}
  </div>

  <div class="vot-tabs-wrapper">
    {% for vot_tab in vot_tabs %}
      <div class="vot-tab-block {% if loop.index0 == 0 %} active-vot-tab-block {% endif %}">
        {% include "@atoms/01-links/link/link.twig" with {
          "link_content": vot_tab.vot_tab_content,
          "link_url": vot_tab.vot_tab_url
        } %}
      </div>
    {% endfor %}
  </div>

  <div class="vot-tab-desc-wrapper">
    {% for vot_tab in vot_tabs %}
      <div class="vot-tab-desc {% if loop.index0 == 0 %} active-vot-tab-desc {% endif %}">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: vot_tab.vot_tab_desc,
        } %}
      </div>
    {% endfor %}
  </div>

</div>
