<div class="service-parts-support-page">
  <div class="sps-search">
    <div class="sps-search-title sps_page-title">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: sps_search_title
      } %}
    </div>
    <div class="sps-search-desc">
      <div class="search-input">
        <input type="text" name="" value="" placeholder="Search" class="sps_search_input" />
      </div>
    </div>
  </div>

  <div class="sps-repair-section">
    <div class="sps-repair-title sps_page-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": sps_repair_title,
      } %}
    </div>
    <div class="sps-repair-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: sps_repair_desc
      } %}
    </div>
  </div>

  <div class="sps-halpful-links">
    <div class="sps-helpful-title sps_page-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": sps_helpful_title,
      } %}
    </div>
    <div class="sps-helpful-desc grid">
      <ul class="grid-col-md-6">
        <span class="sps-helpful-desc-title">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 6,
            "heading": sps_helpful_desc_title,
          } %}
        </span>

        {% for sps_helpful_desc in sps_helpful_desc_list %}
          <li>
            {% include "@atoms/01-links/link/link.twig" with {
              "link_content": sps_helpful_desc.sps_helpful_desc_link,
              "link_url": sps_helpful_desc.sps_helpful_desc_url,
            } %}
          </li>
        {% endfor %}
      </ul>

      <ul class="grid-col-md-6">
        <span class="sps-helpful-desc-title">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 6,
            "heading": sps_helpful_desc_title1,
          } %}
        </span>

        {% for sps_helpful_desc in sps_helpful_desc_list1 %}
          <li>
            {% include "@atoms/01-links/link/link.twig" with {
              "link_content": sps_helpful_desc.sps_helpful_desc_link,
              "link_url": sps_helpful_desc.sps_helpful_desc_url,
            } %}
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div class="sps-prod-identification">
    <div class="sps-repair-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": sps_prod_idc_title,
      } %}
    </div>
    <div class="sps-repair-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: sps_prod_idc_desc,
      } %}
      {% include "@organisms/service-part-tabs/service-part-tabs.twig" with {
        "sp_tab_data_title_step1": sp_tab_data_title_step1,
        "sp_ftab_imgs": sp_ftab_imgs,
        "sp_tab_data_title_step2": sp_tab_data_title_step2,
        "sp_stab_imgs": sp_stab_imgs,
        "sp_tab_data_title_step3": sp_tab_data_title_step3,
        "sp_ttab_imgs": sp_ttab_imgs,
        "sp_tstab_imgs": sp_tstab_imgs,

      } %}
    </div>
  </div>

  <div class="sps-contact-method">
    <div class="sps-contact-title sps_page-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": sps_contact_title,
      } %}
    </div>
    <div class="sps-contact-desc">
      <div class="sps-con-data">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: sps_contact_desc
        } %}
      </div>
      <div class="sps-con-data grid">
        <div class="sps-con-data-block sps-con-email grid-col-md-4">
          <div class="sps-con-data-title">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 6,
              "heading": sps_con_email_title
            } %}
          </div>
          <div class="sps-con-data-desc">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_con_email_desc
            } %}
          </div>
        </div>
        <div class="sps-con-data-block sps-con-phone grid-col-md-4">
          <div class="sps-con-data-title">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 6,
              "heading": sps_con_phone_title
            } %}
          </div>
          <div class="sps-con-data-desc">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_con_phone_desc,
              paragraph_base_class: "sps-con-phone-desc"
            } %}
            <div class="sps-help-line">
              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: sps_help_line_title,
              } %}
            </div>
            <div class="sps-help-line-no">
              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: sps_help_line_no1,
              } %}
              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: sps_help_line_no2,
              } %}
            </div>
          </div>
        </div>
        <div class="sps-con-data-block sps-con-press grid-col-md-4">
          <div class="sps-con-data-title">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_con_press_title,
            } %}
          </div>
          <div class="sps-con-data-desc">
            <div class="sps-press-data">
              <div class="sps-press-title">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_title_1,
                } %}
              </div>
              <div class="sps-press-desc">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_desc_1,
                } %}
              </div>
            </div>
            <div class="sps-press-data">
              <div class="sps-press-title">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_title_2,
                } %}
              </div>
              <div class="sps-press-desc">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_desc_2,
                } %}
              </div>
            </div>
            <div class="sps-press-data">
              <div class="sps-press-title">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_title_3,
                } %}
              </div>
              <div class="sps-press-desc">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_desc_3,
                } %}
              </div>
            </div>
            <div class="sps-press-data">
              <div class="sps-press-title">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_title_4,
                } %}
              </div>
              <div class="sps-press-desc">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: sps_press_desc_4,
                } %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
