<div class="press-release grid">
  <div class="pr-left-wrapper grid-col-sm-3">
    {% include "@molecules/press-releae-leftbar/press-releae-leftbar.twig" with {
      "pr_search_title": pr_search_title,
      "sidebar_links": sidebar_links,
      "pr_contact_title": pr_contact_title,
      "pr_contact_desc": pr_contact_desc,
      "pr_contact_name": pr_contact_name,
      "pr_contact_org": pr_contact_org,
      "pr_contact_mobile": pr_contact_mobile,
      "pr_contact_email_text": pr_contact_email_text,
      "pr_contact_email_url": pr_contact_email_url,
      "pr_canada_title": pr_canada_title,
      "pr_contact_name1": pr_contact_name1,
      "pr_contact_mobile1": pr_contact_mobile1,
      "pr_contact_email_text1": pr_contact_email_text1,
      "pr_contact_email_url1": pr_contact_email_url1,
    } %}
  </div>
  <div class="pr-right-wrapper grid-col-sm-9">
    <div class="pr-category-wrapper">
      <div class="pr-right-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 2,
          "heading": pr_right_title,
        } %}
      </div>
      <div class="pr-right-desc">
        {% for pr_category in pr_categories %}
          {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
            "img_link_image_url": pr_category.img_link_image_url,
            "img_link_image_alt": pr_category.img_link_image_alt,
            "img_link_title": pr_category.img_link_title,
            "img_link_main_url": pr_category.img_link_main_url,
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
