{% set grid_base_class = grid_base_class|default('grid') %}
<div class="grid-example">

  <div class="grid no-space">
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-12 grid-col-lg-12">Full Column Grid (grid-col-12 grid-col-sm-12 grid-col-md-12 grid-col-lg-12)</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-12 grid-col-lg-12">Column 12 (grid-col-12 grid-col-sm-12 grid-col-md-12 grid-col-lg-12)</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-11">Column 11</div>
    <div class="grid-col-1">Column 1</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-10">Column 10</div>
    <div class="grid-col-2">Column 2</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-9">Column 9</div>
    <div class="grid-col-3">Column 3</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-8">Column 8</div>
    <div class="grid-col-4">Column 4</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-7">Column 7</div>
    <div class="grid-col-5">Column 5</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-6">Column 6</div>
    <div class="grid-col-6">Column 6</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-5">Column 5</div>
    <div class="grid-col-7">Column 7</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-4">Column 4</div>
    <div class="grid-col-8">Column 8</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-3">Column 3</div>
    <div class="grid-col-9">Column 9</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-2">Column 2</div>
    <div class="grid-col-10">Column 10</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-1">Column 1</div>
    <div class="grid-col-11">Column 11</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-3">Column 3</div>
    <div class="grid-col-6">Column 6</div>
    <div class="grid-col-3">Column 3</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">Column 4</div>
    <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">Column 4</div>
    <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">Column 4</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-3">Column 3</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-3">Column 3</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-3">Column 3</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-3">Column 3</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-5th">Column 5</div>
    <div class="grid-col-5th">Column 5</div>
    <div class="grid-col-5th">Column 5</div>
    <div class="grid-col-5th">Column 5</div>
    <div class="grid-col-5th">Column 5</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-6 grid-col-lg-6">Column 2</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-6 grid-col-lg-6">Column 2</div>
  </div>


  <div class="grid grid-space">
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">Column 6</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">Column 6</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">Column 6</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">Column 6</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">Column 6</div>
    <div class="grid-col-12 grid-col-sm-6 grid-col-md-3 grid-col-lg-2">Column 6</div>
  </div>

  <div class="grid grid-space">
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
    <div class="grid-col-12 grid-col-sm-12 grid-col-md-4 grid-col-lg-1">Column 12</div>
  </div>

  <div class="grid grid-tablet">
    <div class="grid-col-6">Column 6</div>
    <div class="grid-col-6">Column 6</div>
  </div>

  <div class="grid grid-mobile">
    <div class="grid-col-12">Column 12</div>
  </div>
</div>
