<div class="pdp-tab-block">
  <div class="pdp-tab-doc-specs grid">
    {% if pdp_supp_descs %}
    <div class="pdp-supp grid-col-sm-6">
      <div class="pdp-doc-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": pdp_supp_title,
        } %}
      </div>
      <div class="pdp-supp-desc">
        <ul>
          {% block list_content %}
            {% for pdp_supp_desc in pdp_supp_descs %}
              <li>
                {% include "@atoms/01-links/link/link.twig" with {
                  "link_content": pdp_supp_desc.pdp_supp_link,
                  "link_url": pdp_supp_desc.pdp_supp_url,
                  "link_base_class": inline_base_class|default('link'),
                } %}
              </li>
            {% endfor %}
          {% endblock %}
        </ul>
      </div>
      {% if bmsmith_id != 0 %}
        <div class="pdp-tks-design">
          <div class="pdp-tks-doc-title pdp-tks-detail-title">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 6,
              heading: 'Resource'
            } %}
          </div>
          <div class="pdp-tks-design">
            <div class="pdp-tks-design-block">
              <a class="link"  href="javascript:void(0)" data-market-product-id="{{ bmsmith_id }}" >
              Design Files
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="pdp-install-info grid-col-sm-6">
      <div class="pdp-doc-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": pdp_install_info_title,
        } %}
      </div>
      <div class="pdp-install-info-desc">
        <div class="pdp-install-info-img-text">
          {% block list_content_indtall_img %}
            {% for pdp_install_img_list in pdp_install_img_lists %}
              <div class="pdp-install-img-list">

                {% if pdp_install_img_list.pdp_install_img %}
                  <div class="pdp-install-fea-img">
                    {% include "@atoms/04-images/00-image/_image.twig" with {
                      "img_src": pdp_install_img_list.pdp_install_img,
                      "img_alt": pdp_install_img_list.pdp_install_alt,
                    } %}
                  </div>
                {% endif %}

                <div class="pdp-install-img-name">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: pdp_install_img_list.pdp_install_img_name,
                  } %}
                </div>
              </div>
            {% endfor %}
          {% endblock %}
        </div>
        <div class="pdp-install-info-text">
          {% block install_info_desc %}
            {% for pdp_install_info_desc in pdp_install_info_descs %}

              <div class="pdp-install-block">
                <div class="pdp-install-block-title">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: pdp_install_info_desc.pdp_install_block_title,
                  } %}
                </div>
                <div class="pdp-install-block-desc">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: pdp_install_info_desc.pdp_install_block_desc,
                  } %}
                </div>
              </div>

            {% endfor %}
          {% endblock %}
        </div>
      </div>
    </div>

  </div>
</div>
