.product_tile,
.product-tile {
  width: 300px;
  padding: 16px 16px 24px;
  margin: $space;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: left;

  @include maxbp($medium) {
    width: 100%;
    display: block;
    overflow: hidden;
    box-shadow: none !important;
    border-top: 2px solid $gray-20;
    margin: 0;
    padding: 24px 0;
  }

  &:hover {
    box-shadow: 0 0 18px rgba(24, 25, 29, 0.2);

    .product-data {
      .product-finish {
        opacity: 1;
      }
    }
  }

  .product-image {
    border-bottom: 1px solid $gray-20;
    padding: 0 0 16px;
    margin: 0 0 15px;

    img {
      width: 100%;
    }

    @include maxbp($medium) {
      border: none;
      width: 100px;
      float: left;
      margin: 0;
      padding: 0;

      img {
        width: 80px;
      }
    }
  }

  .product-data {
    @include maxbp($medium) {
      float: right;
      width: calc(100% - 100px);
    }

    & > .product-link {
      margin-bottom: 5px;
    }

    .product-flag {
      @include maxbp($medium) {
        margin: 0 0 10px;
      }

      @include breakpoint($medium) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .product-title {
      margin: 0 0 8px;
      line-height: 27px;

      a {
        text-decoration: none;
      }

      h4 {
        font-family: $font-condensed;
        color: $gray-10;
        font-weight: normal;
        margin: 0;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2.2px;

        sup {
          top: -0.75em;
          font-size: 0.5em;
        }

        @include maxbp($large) {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 2px;
        }
      }
    }

    .product-desc {
      margin: 0 0 5px;
    }

    .product-detail {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      color: $gray-20;
      font-family: $font-body;

      p {
        margin: 0 0 5px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        color: $gray-20;
        font-family: $font-body;
      }
    }

    .product-modelno,
    .product-submodelno {
      font-family: $font-pfdinmono;
      font-size: 12px;
      line-height: 16px;
      color: $gray-30;
      letter-spacing: 2.4px;

      p {
        margin: 0;
      }
    }

    .product-link {
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .product-finish {
      margin: $space*2 0 0;
      opacity: 0;
      transition: all ease 0.7s;

      @include maxbp($medium) {
        opacity: 1;
      }

      .finish-thumbnail {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        margin: 0 $space+5 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &.product_tile--collection,
  &.product-tile--collection {
    .product-image {
      border: none;
    }

    .product-title {
      margin: $space 0;
      border-bottom: 1px solid $gray-10;
      padding: 0 0 $space;

      h3 {
        font-family: $font-subheading;
        font-size: 24px;
        line-height: 32px;
        text-transform: none;
        letter-spacing: 0;

        @include maxbp($medium) {
          font-size: 20px;
          margin-bottom: 0;
        }
      }
    }

    .product-data {
      .product-link {
        a {
          letter-spacing: 0.15rem;
          text-transform: uppercase;
        }
      }
    }

    &.product_tile--featured,
    &.product-tile--featured {
      box-shadow: none !important;
      border-bottom: 2px solid $gray-20;
      width: 100%;
      margin: 40px 0 0;
      padding: 0 0 40px;
      border-top: none;

      &:last-child {
        padding: 0 0 30px;
      }

      .product-link {
        margin: 24px 0 0;

        @include maxbp($r_600) {
          margin: 23px 0 0;
        }
      }

      .product-image {
        float: left;
        width: 23%;
        margin: 0;
        padding: 0;

        @include maxbp($r_600) {
          float: none;
          width: auto;

          img {
            width: auto;
          }
        }

        img {
          @include maxbp($large) {
            width: auto;
          }
          @include breakpoint($large) {
            max-height: 250px;
          }
        }
      }

      .product-data {
        float: left;
        padding: 0 0 0 33px;
        width: 28%;

        @include maxbp($large) {
          width: 75%;
        }

        @include maxbp($r_600) {
          float: none;
          padding: 0;
          width: auto;
        }

        .product-title {
          padding: 0 0 5px;
          font-size: 2rem;
          line-height: 2.5rem;
          letter-spacing: 0;
          text-transform: none;
          font-family: $font-subheading;

          h3 {
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: 0;
            text-transform: none;

            sup {
              top: -0.75em;
              font-size: 0.5em;
            }

            @include maxbp($r_1000) {
              font-size: 1.5rem;
              line-height: 2.25rem;
            }
          }
        }

        .product-finish {
          opacity: 1;
          font-family: $font-pfdinmono;
          font-size: 0.75rem;
          line-height: 1rem;
          letter-spacing: 0.2rem;
          color: $gray-30;
          text-transform: uppercase;

          .available-finishes {
            font-size: 12px;
            display: block;
            font-family: $font-pfdinmono;
            margin-bottom: 8px;
          }

          .finish-thumbnail {
            width: 32px;
            height: 32px;
            margin: 0;
          }
        }
      }

      .prod-collection-img {
        float: right;
        width: 45%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;

        @include maxbp($large) {
          display: none;
        }

        img {
          @include breakpoint($large) {
            height: 250px;
          }
        }
      }
    }
  }
}

.flag--brizo-teal,
.flag--ferguson,
.flag--coming-soon,
.flag--new,
.brizo-teal {
  background-color: $gray-20;
}
