<div class="form-item form-item--dropdown ">
  <label for="" class="form-item__label form-item__label--textfield ">
    <span></span>
  </label>
  

<select class="form-item__select"
    ><option value="Dropdown Label*">Dropdown Label*</option><option value="Pranali">Rakesh</option><option value="Canada">Canada</option><option value="Other">Other</option></select></div>
