@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include grid;

  &.no-space {
    > div {
      padding: 0;
    }
  }

  &.grid-mobile {
    margin-left: 314px;
    margin-right: 314px;
  }

  &.grid-tablet {
    margin-left: 189px;
    margin-right: 189px;
  }

  &.grid-space {
    margin-left: 48px;
    margin-right: 48px;

    @include maxbp($large) {
      margin-left: 8px;
      margin-right: 8px;
    }

    @include maxbp($medium) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.grid-container {
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

$grid-bps: ("sm": $small, "md": $medium, "lg": $large, "xl": $xl);

.grid-col {
  flex: 1 1 auto;
}

[class*=grid-col] {
  max-width: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  padding-right: 16px;
  padding-left: 16px;

  @include maxbp($r_1200) {
    padding-right: 16px;
    padding-left: 16px;
  }

  @include maxbp($r_1000) {
    padding-right: 12px;
    padding-left: 12px;
  }

  @include maxbp($medium) {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.grid-col-5th {
  flex: 0 0 20%;
  max-width: 20%;
  padding-right: 16px;
  padding-left: 16px;

  @include maxbp($large) {
    flex: 0 0 33%;
    max-width: 33%;
  }

  @include maxbp($medium) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @include maxbp($small) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    flex: 0 0 100% / (12 / $i);
    max-width: 100% / (12 / $i);
  }
}

@each $prefix, $bp in $grid-bps {
  @for $i from 1 through 12 {
    .grid-col-#{$prefix}-#{$i} {
      @include breakpoint($bp) {
        flex: 0 0 100% / (12 / $i);
        max-width: 100% / (12 / $i);
      }
    }
  }
}

// Unconventional fractional columns that don't fit into 12 column model
// .grid-col-sm-8th
// .grid-col-sm-5th
// etc.
$fractions: (5, 8);

@each $prefix, $bp in $grid-bps {
  @each $fraction in $fractions {
    .grid-col-#{$prefix}-#{$fraction}th {
      @include breakpoint($bp) {
        flex: 0 0 100% / $fraction;
        max-width: 100% / $fraction;
      }
    }
  }
}

.grid-example {
  [class*=grid-col] {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: content-box;
    height: 50px;
    margin-bottom: 24px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
  }
}
