//
// General Layout
//

$sidebar-width: 25%;
$gutter: $space;
$main-width: calc(100% - (#{$sidebar-width}));

$sidebar-width-mobile: 220px;
$main-width-mobile: calc(100% - (#{$sidebar-width-mobile} + #{$gutter}));
//
// Layout Using Flexbox (IE11+).
// Remove this and uncomment Grid code below to use CSS Grid.
//

.main {
  margin-bottom: 4em;

  @include wrapper;

  @include large {
    display: flex;
  }

  //max-width: 100%;
  background: $white;
  padding: 0 64px $space*5 !important;
  margin-top: 0 !important;

  @include maxbp($main-menu-medium) {
    padding: 0 24px $space*5 !important;
  }

  @include maxbp($medium) {
    padding: 0 16px $space*5 !important;
  }
}

body.user-logged-in .main {
  margin-top: 0 !important;
}

.no-padding {
  main {
    padding: 0 !important;
  }
}

body.no-side-padding {
  main {
    padding: 0 0 $space * 5 !important;
  }
}

.page-banner-wrapper {
  @include wrapper;

  //max-width: 100%;
  padding: 0;
  margin-top: 105px !important;

  @include large {
    padding: 0;
  }

  @include maxbp($container) {
    padding: 0;
  }

  @include maxbp($r_1000) {
    margin-top: 56px !important;
  }
}

.user-logged-in .page-banner-wrapper {
  margin-top: 0 !important;
}

.show-mobile-sidebar,
.page-node-type-media-room-article {
  .main-sidebar {
    @include maxbp($large) {
      display: block;
    }
  }
}

.main-sidebar {
  margin-bottom: $space-double;

  nav ul li sup {
    top: -0.75em;
    font-size: 0.5em;
  }

  @include large {
    order: 0;
    width: $sidebar-width;
    margin-bottom: 0;
  }

  @include maxbp($r_1100) {
    width: $sidebar-width-mobile;
  }

  @include maxbp($large) {
    display: none;
  }
}

.main-content {
  width: 100%;

  @include large {
    &--with-sidebar {
      //margin-right: $gutter;
      width: $main-width;
      margin: 0 0 0 33px;
    }
  }

  @include maxbp($r_1100) {
    &--with-sidebar {
      width: $main-width-mobile;
      margin: 0 0 0 50px;
    }
  }

  @include maxbp($large) {
    &--with-sidebar {
      width: 100%;
      margin: 0;
    }
  }
}

//
// Layout Using CSS Grid (NO IE11 support)
// Remove Flexbox code above and uncomment this section to use CSS Grid.
//

// .main {
//   &--with-sidebar {
//     @include large {
//       display: grid;
//       grid-gap: $gutter;
//       grid-template-areas: "content sidebar";
//       grid-template-columns: $main-width #{$sidebar-width};
//     }
//   }
// }
//
// .main-sidebar {
//   grid-area: sidebar;
//   margin-bottom: $space-double;
// }
//
// .main-content {
//   grid-area: content;
//   width: 100%;
// }

article {
  .text-long {
    h2 {
      margin-top: 45px;
    }
  }
}
