<div class="pdp-tks-detail grid">

  <div class="pdp-tks-doc-wrapper grid-col-sm-7">

    <div class="pdp-tks-doc">
      <div class="pdp-tks-doc-title pdp-tks-detail-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          heading: pdp_tks_doc_title
        } %}
      </div>
      <div class="pdp-tks-doc-desc">
        <ul>
          {% block list_content %}
            {% for pdp_tks_doc_list in pdp_tks_doc_lists %}
              <li>
                {% include "@atoms/01-links/link/link.twig" with {
                  "link_content": pdp_tks_doc_list.pdp_tks_doc_link,
                  "link_url": pdp_tks_doc_list.pdp_tks_doc_url,
                  "link_base_class": inline_base_class|default('link'),
                } %}
              </li>
            {% endfor %}
          {% endblock %}
        </ul>
      </div>
    </div>

    <div class="pdp-tks-design">
      <div class="pdp-tks-doc-title pdp-tks-detail-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          heading: pdp_tks_design_title
        } %}
      </div>
      <div class="pdp-tks-design">

        {% block design_list_content %}
          {% for pdp_tks_design_block in pdp_tks_design_blocks %}
            <div class="pdp-tks-design-block">
              {% include "@atoms/01-links/link/link.twig" with {
                "link_content": pdp_tks_design_block.pdp_tks_design_block_link,
                "link_url": pdp_tks_design_block.pdp_tks_design_block_url,
                "link_base_class": inline_base_class|default('link'),
                "link_target": link_target,
              } %}
            </div>
          {% endfor %}
        {% endblock %}
      </div>
    </div>

  </div>

  <div class="pdp-tks-doc-wrapper grid-col-sm-5">
    <div class="pdp-tks-buttons">
      <div class="pdp-tksbtn-reg">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_url": pdp_button_register_url,
          "button_content": pdp_button_register_content,
          "button_modifiers": pdp_button_register_modifiers,
        } %}
      </div>
      <div class="pdp-tksbtn-review">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_url": pdp_review_url,
          "button_content": pdp_review_content,
          "button_modifiers": pdp_review_modifiers,
        } %}
      </div>
       <div class="pdp-tksbtn-reg">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_url": '/service-parts/how-to-videos',
          "button_content": 'View How-To Videos',
          "button_modifiers": pdp_review_modifiers,
        } %}
      </div>
    </div>
  </div>

</div>
