<div class="pdp-list-ttl-wrapper">
  <div class="pdp-list-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 3,
      "heading": heading,
    } %}
  </div>
  <div class="pdp-coll-link">
    {% include "@atoms/01-links/link/link.twig" with {
      "link_content": coll_text_link,
      "link_url": coll_url,
      "link_base_class": inline_base_class|default('link'),
    } %}
    {% if collection_url %}
    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      cta_link_modifiers: { 1: "sm" },
      cta_link_text: "View Collection",
      cta_link_url: collection_url,
      cta_link_icon: "carrot-right",
      cta_link_icon_position: "right",
      cta_link_classes: "",
    } %}
    {% endif %}
  </div>
</div>
<div class="grid">
  {% for relatedproducts in relatedproductsdetails %}
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
      {% include "@organisms/product-tile/product-tile.twig" with {
        "collection_name": relatedproducts.type,
        "model_number": relatedproducts.modelNumber,
        "model_image": relatedproducts.image,
        "list_price": relatedproducts.listPrice,
        "description": relatedproducts.description,
        "view_details_link": relatedproducts.productUrl,
        "view_docs_link": relatedproducts.productUrl ~ '#specsTab',
        "hide_ratings": 1,
        "refurbishedProduct": relatedproducts.refurbishedProduct,
        "discountPrice": relatedproducts.discountPrice,
        "finish_options": relatedproducts.finishOptions,
        "finish": relatedproducts.finish,
        "defaultFinish": relatedproducts.defaultFacetFinish,
      } %}
    </div>
  {% endfor %}
</div>
