{{ attach_library('delta_theme/tabs') }}

<div class="tabs tabs--carousel no-js">
  <div class="tab-accordion-title active-tab-title">Coverage</div>

  <div class="tabs__tab is-active">
    <img class="tab--carousel__img" srcset="../../images/tabbed-carousel-1.png 2x" alt="{{ 'Tab carrousel image'| t }}" />
    <div class="tabs--carousel__copy--mobile">
      <p>Sed single-origin coffee anim eu. Bicycle rights Neutra Truffaut pop-up. Paleo hella irure meh Banksy, Wes
        Anderson typewriter VHS jean shorts yr. Eiusmod officia banjo Thundercats, odio laborum magna deep v cornhole
        nostrud kitsch.</p>
    </div>
  </div>

  <div class="tab-accordion-title">Warmth</div>

  <div class="tabs__tab">
    <img class="tab--carousel__img" src="http://placehold.it/439x677" alt="{{ 'Tab carrousel image'| t }}" />
    <div class="tabs--carousel__copy--mobile">
      <p>Doner biltong turducken leberkas. Rump swine pork loin ribeye ball tip meatloaf, pork chop ground round pig
        pancetta cow biltong brisket. Beef corned beef beef ribs, bacon pork belly sausage meatball boudin doner ham
        hock. Swine gro.</p>
    </div>
  </div>

  <div class="tab-accordion-title">Intensity</div>

  <div class="tabs__tab">
    <img class="tab--carousel__img" src="http://placehold.it/439x677/CCCCCC/000000" alt="{{ 'Tab carrousel image'| t }}" />
    <div class="tabs--carousel__copy--mobile">
      <p>Cupcake chupa chups pudding gummies. Unerdwear.com cupcake candy soufflé sesame snaps macaroon sesame snaps.
        Tart dragée muffin. Sweet roll gummi bears caramels fruitcake candy cake. Cotton candy carrot cake tart cotton
        candy. Jelly.</p>
    </div>
  </div>

  <ul class="tabs__nav">
    <li><a href="" class="tabs__link is-active">Coverage</a></li>
    <li><a href="" class="tabs__link">Warmth</a></li>
    <li><a href="" class="tabs__link">Intensity</a></li>
  </ul>

  <div class="tabs__secondary-content">
    <div class="tabs__tab is-active">
      <p>Sed single-origin coffee anim eu. Bicycle rights Neutra Truffaut pop-up. Paleo hella irure meh Banksy, Wes
        Anderson typewriter VHS jean shorts yr. Eiusmod officia banjo Thundercats, odio laborum magna deep v cornhole
        nostrud kitsch.</p>
    </div>
    <div class="tabs__tab">
      <p>Doner biltong turducken leberkas. Rump swine pork loin ribeye ball tip meatloaf, pork chop ground round pig
        pancetta cow biltong brisket. Beef corned beef beef ribs, bacon pork belly sausage meatball boudin doner ham
        hock. Swine gro.</p>
    </div>
    <div class="tabs__tab">
      <p>Cupcake chupa chups pudding gummies. Unerdwear.com cupcake candy soufflé sesame snaps macaroon sesame snaps.
        Tart dragée muffin. Sweet roll gummi bears caramels fruitcake candy cake. Cotton candy carrot cake tart cotton
        candy. Jelly.</p>
    </div>
  </div>
</div>


