.upload-wrapper {
  padding: 1.5rem;
  background-color: $gray-90;
}

.upload-input {
  position: relative;

  &:hover {
    .upload-input__label {
      &::before {
        background: $gray-20;
        cursor: pointer;
      }
    }
  }
}

.upload-input__native {
  position: absolute;
  opacity: 0;
}

.upload-input__label {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: $gray-60;

  &::before {
    display: inline-block;
    margin-right: 16px;
    padding: 8px 35px;
    color: $white;
    text-transform: uppercase;
    background-color: $gray-10;
    content: attr(data-label);
    font-family: $font-condensed;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 22px;
  }
}

.upload-input__status {
  font-weight: bolder;
  color: $gray-20;
}
