{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
        <div class="container">
            <div class="collection--landing--promoblock">
                <div class="collection--landing--promoblock-in">
                    <div class="collection--landing--promoblock--flex">
                        <div class="collection--landing--promoblock--flex-left">
                            <div class="collection--landing--promoblock--flex-left-in">
                                <div class="collection--landing--promoblock-title">
                                    {{ collection.coll_lan_desc_title_val }}
                                </div>
                                <div class="collection--landing--promoblock-description">
                                    <p>{{ collection.coll_lan_desc_pro_sub_title_val }}</p>
                                </div>
                                {% if collection.coll_lan_desc_explore_link_uri|length %}
                                    <div class="collection--landing--promoblock-button">
                                        <a class="btn btn-peerless"
                                           href="{{ collection.coll_lan_desc_explore_link_uri }}">
                                            {{ collection.coll_lan_desc_explore_link_title }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if collection.coll_lan_desc_image|length %}
                            <div class="collection--landing--promoblock--flex-right">
                                <img src="{{ file_url(collection.coll_lan_desc_image) }}" alt="{{ collection.coll_lan_desc_image_alt }}" title="{{ collection.coll_lan_desc_image_title }}" class="img-desktop img-responsive">
                            </div>
                        {% endif %}
                        {% if collection.coll_lan_desc_mobi_img_uri|length %}
                            <div class="collection--landing--promoblock--flex-right-mobile">
                                <img src="{{ file_url(collection.coll_lan_desc_mobi_img_uri) }}" alt="{{ collection.coll_lan_desc_mobi_img_alt }}" title="{{ collection.coll_lan_desc_mobi_img_title }}"  class="img-mobile img-responsive">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if collection.coll_lan_desc_banner_image|length or collection.coll_lan_desc_banner_mob_img_uri|length %}
                <div class="collection-landing-imageblock">
                    {% if collection.coll_lan_desc_banner_image|length %}
                        <div class="collection-landing-imageblock-img">
                            <img src="{{ file_url(collection.coll_lan_desc_banner_image) }}" alt="{{ collection.coll_lan_desc_banner_image_alt }}" title="{{ collection.coll_lan_desc_banner_image_title }}" class="img-desktop img-responsive">
                        </div>
                    {% endif %}
                    {% if collection.coll_lan_desc_banner_mob_img_uri|length %}
                        <div class="collection-landing-imageblock-img-mobile">
                            <img src="{{ file_url(collection.coll_lan_desc_banner_mob_img_uri) }}" alt="{{ collection.coll_lan_desc_banner_mob_img_alt }}" title="{{ collection.coll_lan_desc_banner_mob_img_title }}" class="img-mobile img-responsive">
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock paragraph %}
