{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="collection--landing--herobanner">
                <div class="collection--landing--herobanner-in">
                <picture>
                  <source srcset="{{ file_url(collection.coll_lan_banner_image) }}" media="(min-width: 451px)" alt="{{ collection.coll_lan_banner_image_alt }}" title="{{ collection.coll_lan_banner_image_title }}"  class="img-responsive collection_banner">
                  <img src="{{ file_url(collection.coll_lan_banner_image) }}" srcset="{{ file_url(collection.coll_lan_mob_banner_uri) }}"  alt="{{ collection.coll_lan_mob_banner_alt }}" title="{{ collection.coll_lan_mob_banner_title }}" class="img-responsive collection_banner">
                </picture>

                    <div class="collection--landing--herobanner-overlay">
                    </div>
                    <div class="collection--landing--herobanner-txt">
                        <div class="collection--landing--herobanner-txt-in">
                            {% if collection.coll_lan_banner_title|length %}
                                <div class="collection--landing--herobanner-txt--title">
                                    {{ collection.coll_lan_banner_title }}
                                </div>
                            {% endif %}
                            {% if collection.coll_lan_banner_leadtxt|length %}
                                <div class="collection--landing--herobanner-txt--description">
                                    {{ collection.coll_lan_banner_leadtxt }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="collection--landing--textblock">
                <div class="collection--landing--textblock-in">
                    {% if collection.coll_lan_banner_description|length %}
                        <div class="collection--landing--textblock-description">
                            {{ collection.coll_lan_banner_description|raw }}
                        </div>
                    {% endif %}
                    {% if collection.coll_lan_banner_link_uri|length %}
                        <div class="collection--landing--textblock-button">
                            <a class="btn btn-peerless" href="{{ collection.coll_lan_banner_link_uri }}">
                                {{ collection.coll_lan_banner_link_title }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}
