{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="container">
                <div class="collection--landing--producthighlight">
                    <div class="collection--landing--producthighlight-in">
                        <div class="collection--landing--producthighlight-toplayer">
                            {% if collection.coll_lan_pro_sub_title_val|length %}
                                <div class="collection--landing--producthighlight-introtitle">
                                    {{ collection.coll_lan_pro_sub_title_val }}
                                </div>
                            {% endif %}
                            {% if collection.coll_lan_pro_title_val|length %}
                                <div class="collection--landing--producthighlight-title">
                                    {{ collection.coll_lan_pro_title_val }}
                                </div>
                            {% endif %}
                            <div class="collection--landing--producthighlight-img">
                                {% if collection.coll_land_pro_img_val|length %}
                                    <div class="collection--landing--producthighlight-img-in">
                                        <a href="{{ collection.coll_lan_pro_link_uri }}">
                                            <img src="{{ file_url(collection.coll_land_pro_img_val) }}" alt="{{ collection.coll_land_pro_img_val_alt }}" title="{{ collection.coll_land_pro_img_val_title }}"  class="img img-responsive">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if collection.coll_lan_pro_link_uri|length and collection.coll_land_pro_mob_img_uri|length %}
                                    <div class="collection--landing--producthighlight-img-in-mobile">
                                        <a href="{{ collection.coll_lan_pro_link_uri }}">
                                            <img src="{{ file_url(collection.coll_land_pro_mob_img_uri) }}" alt="{{ collection.coll_land_pro_mob_img_alt }}" title="{{ collection.coll_land_pro_mob_img_title }}"  class="img-mobile img-responsive">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if collection.coll_lan_pro_link_uri|length and collection.coll_lan_pro_title_val|length %}

                                <div class="collection--landing--producthighlight-img-over">
                    <span>
                      <a href="{{ collection.coll_lan_pro_link_uri }}" target="_self"
                         title="{{ collection.coll_lan_pro_title_val }}">
                        <i></i>
                      </a>
                    </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="collection--landing--producthighlight-bottomlayer">
                            <div class="collection--landing--producthighlight-bottomlayer-in">
                                <div class="collection--landing--producthighlight-bottomlayer-one">
                                </div>
                                <div class="collection--landing--producthighlight-bottomlayer-two">
                                </div>
                                {% if collection.coll_lan_pro_portrait_img_val|length %}
                                    <div class="collection--landing--producthighlight-bottomlayer-three">
                                        <img src="{{ file_url(collection.coll_lan_pro_portrait_img_val) }}" alt="{{ collection.coll_lan_pro_portrait_img_alt }}" title="{{ collection.coll_lan_pro_portrait_img_title }}"    class="img-desktop img-responsive">
                                    </div>
                                {% endif %}
                                {% if collection.coll_lan_pro_mob_portrai_img_val|length %}
                                    <div class="collection--landing--producthighlight-bottomlayer-three-mobile">
                                        <img src="{{ file_url(collection.coll_lan_pro_mob_portrai_img_val) }}" alt="{{ collection.coll_lan_pro_mob_portrai_img_alt }}" title="{{ collection.coll_lan_pro_mob_portrai_img_title }}"  class="img-mobile img-responsive">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if collection.coll_lan_pro_video_thumb_uri|length %}
                <div class="video-wrapper">
                    <div class="collection--landing--videoblock youtube-video"
                         data-url="{{ file_url(collection.coll_lan_pro_video_url) }}">
                        <div class="collection--landing--videoblock-in">
                            <div class="collection--landing--videoblock-in-else">
                                {% if collection.coll_lan_pro_video_title_val|length %}
                                    <div class="collection--landing--videoblock-toplayer">
                                        <div class="collection--landing--videoblock-toplayer-in">
                                            <div class="collection--landing--videoblock-title">
                                                {{ collection.coll_lan_pro_video_title_val }}
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="collection--landing--videoblock-icon"></div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if collection.coll_lan_pro_video_thumb_uri|length or collection.coll_lan_pro_mob_video_thumb_uri|length %}
                                <div class="collection--landing--videoblock-img">
                                    {% if collection.coll_lan_pro_video_thumb_uri|length %}
                                        <div class="collection--landing--videoblock-img-in">
                                            <img src="{{ file_url(collection.coll_lan_pro_video_thumb_uri) }}" alt="{{ collection.coll_lan_pro_video_thumb_alt }}"  title="{{ collection.coll_lan_pro_video_thumb_title }}" class="img-desktop img-responsive">
                                        </div>
                                    {% endif %}
                                    {% if collection.coll_lan_pro_mob_video_thumb_uri|length %}
                                        <div class="collection--landing--videoblock-img-in-mobile">
                                            <img src="{{ file_url(collection.coll_lan_pro_mob_video_thumb_uri) }}" alt="{{ collection.coll_lan_pro_mob_video_thumb_alt }}"  title="{{ collection.coll_lan_pro_mob_video_thumb_title }}"  class="img-mobile img-responsive">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="video-responsive"></div>
                        </div>
                    </div>
                    <div class="youtube-closeBtn close"><span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock paragraph %}
