{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
    {% set land_page_link = '' %}
    {% if collection.landing_link|render|trim is not empty %}
        {% set land_page_link = collection.landing_link %}
    {% endif %}
    <a href="{{ land_page_link }}">
        <div class="collection--listing-each">
            <div class="collection--listing-each-in smallblock"
                 style="background-image: url('{{ file_url(collection.mob_img) }}') ">
                <div {{ attributes.addClass(classes) }}>
                    {% block content %}

                        {% if collection.img_uri %}
                            <div class="collection--listing-each-in--img">
                                <img src="{{ file_url(collection.img_uri) }}" alt="{{ collection.img_uri_alt }}" title="{{ collection.img_uri_title }}" class="img-responsive">
                            </div>
                        {% endif %}

                        <div class="collection--listing-each-in--overlay"></div>

                        {% if collection.new and collection.landing_link %}
                            <div class="collection--listing-each-in--category new">
                                {{ collection.new }}
                            </div>
                        {% endif %}
                        {% if collection.comingsoon %}
                            <div class="collection--listing-each-in--category new comingsoon">
                                {{ collection.comingsoon }}
                            </div>
                        {% endif %}

                        {% if collection.title and collection.landing_link %}
                            <div class="collection--listing-each-in--text">
                                <div class="collection--listing-each-in--title">
                                    {{ collection.title }}
                                </div>
                            </div>
                        {% elseif collection.title %}
                            <div class="collection--listing-each-in--text">
                                <div class="collection--listing-each-in--title">
                                    {{ collection.title }}
                                </div>
                            </div>
                        {% endif %}
                        {% if collection.desc|render|trim|striptags is not empty %}
                            <div class="desc">
                                {{ collection.desc|raw }}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </a>
{% endblock paragraph %}
