{{ attach_library('delta_theme/floating-labels') }}


<div class="order_status_section">
  <h1 class="page-title {{ font_color_class }}">{{ page_title }}</h1>

  <div class="your_orders">
    {% include "@atoms/02-text/text-fields/text-fields.twig" with {
        icon_box_title : "Your Orders"
     } %}

    {% include "@molecules/orders/orders.twig" with {

    } %}
   </div>
<div class="track_orders_wrap">
    <div class="grid">
      <div class="track_order grid-col-sm-12 grid-col-md-6">
        {% include "@atoms/02-text/text-fields/text-fields.twig" with {
        } %}

        <div class="form-item">
          <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Order Number</label>
          <input type="text" id="order-number" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
        </div>
        <div class="form-item">
          <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Email Address</label>
          <input type="text" id="email-id" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
        </div>
        <div class="form-item">
          <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Zip Code</label>
          <input type="text" id="zip-id" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
        </div>
        <div class="track__button">
          {% include "@atoms/06-buttons/01-button.twig" with {
              "button_url": track.button_url,
              "button_content": track.button_content,
              "button_modifiers": track.button_modifiers
            } %}
        </div>
      </div>
      <div class="customer-service grid-col-sm-12 grid-col-md-5">
        {% include "@organisms/well/well-var-4.twig" with {

          } %}
      </div>
    </div>
  </div>
</div>
