{{ attach_library('delta_theme/pdp-custom-js')}}

<div class="pdp-prod-block">
  <div class="desktop-pdp-prod-info-hdr">
    {% include "@molecules/pdp-product-info-header/pdp-product-info-header.twig" with {
        collection_name: pdp_collection,
      }%}
    <div class="pdp-collection-link-wrapper">
      {% include "@atoms/pdp-page/pdp-collection-link/pdp-collection-link.twig" %}
    </div>
  </div>



 <div class="pdp-rating-block {% if isRecomProduct %} pdp-recom{% endif%}">
    <div class="pdp-rating">
      {% include "@molecules/star-rating/_star-rating.twig" with {
        star_rating_value: rating_value,
        data_model : data_model,
      } %}
    </div>
    <div class="pdp-rating-value"><a href="" aria-label="{{ 'Link to rating' | t }}">{{rating_value}}</a></div>
    {#<div class="pdp-text-links">
      {% include "@atoms/01-links/link/link.twig" with {
        "link_content": review_text_link,
        "link_url": review_url,
        "link_base_class": inline_base_class|default('link'),
      } %}
      {% include "@atoms/01-links/link/link.twig" with {
        "link_content": question_text_link,
        "link_url": question_url,
        "link_base_class": inline_base_class|default('link'),
      } %}
    </div>#}
  </div>
  {% if ul_items %}
    <div class="pdp-prod-desc-list">
      {% include "@atoms/03-lists/00-ul.twig" %}
    </div>
  {% endif %}

  {% if isRecomProduct %}
    <div class="warranty-section">
      <div class="warranty-description">
        {{warranty_block|raw}}
      </div>
      <div class="warranty-logo">
        <img src="{{warranty_logo}}" />
      </div>
    </div>
  {% endif %}

  {% if pdp_label_img or pdp_label_text %}
    <div class="pdp-prod-label-wrapper">
      {% include "@atoms/pdp-page/pdp-label/pdp-label.twig" %}
    </div>
  {% endif %}

  <div class="color-option-btn-wrapper">
    <div class="selected-col-name">
      Finish:{% if selected_finish %} <span>{{ selected_finish }}</span>{% endif %}
    </div>
    {% if finish_options %}
    <div class="color-list">
      {% block list_content %}
        {% for btn in finish_options %}
          <a class="color-option-btn {{ btn.selected_class }}" href="{{ btn.finish_product_url }}" id="{{ btn.finish_model_number }}" title="{{ btn.finish }}">
              {% include "@atoms/finish-thumbnail/_finish-thumbnail.twig" with {
                "finish_prod_icon": btn.finish_product_icon,
              } %}
          </a>
        {% endfor %}
      {% endblock %}
    </div>
  </div>
{% endif %}
{% if pdp_prod_price %}
 <div class="pdp-prod-price-block">
      {% include "@atoms/pdp-page/pdp-product-price/pdp-product-price.twig" %}
    </div>
{% endif %}

  <div class="pdp-listing-block">
    {% if pdp_ha_lists %}
      {% include "@molecules/pdp-listing-variations/pdp-handle-or-accent/pdp-handle-or-accent.twig" with {
        "pdp_ha_lists": pdp_ha_lists,
        "pdp_handle_accent_title": pdp_handle_accent_title,
      } %}
    {% endif %}
    {% if pdp_rv_lists %}
      {% include "@molecules/pdp-listing-variations/pdp-rough-valve/pdp-rough-valve.twig" with {
        "pdp_rv_lists": pdp_rv_lists,
        "pdp_rough_value_title": pdp_rough_value_title,
      } %}
    {% endif %}
   {% if pdp_bp_lists %}
    {% include "@molecules/pdp-listing-variations/pdp-base-parts/pdp-base-parts.twig" with {
      "pdp_bp_lists": pdp_bp_lists,
      "pdp_base_part_title": pdp_base_part_title,
    } %}
    {% endif %}
    {% if pdp_cp_lists  %}
      {% include "@molecules/pdp-listing-variations/pdp-configurable-parts/pdp-configurable-parts.twig" with {
        "pdp_cp_lists": pdp_cp_lists,
        "pdp_configurable_part_title": pdp_configurable_part_title,
      } %}
    {% endif %}
  </div>

{#
  <div class="pdp-prod-quantity">
    {% include "@atoms/05-forms/numeric-input/numeric-input.twig" with {
      "value": pdp_qty_number,
      "min": pdp_qty_min,
      "max": pdp_qty_max
    } %}
  </div>
  #}

{% if pdp_prod_more_desc %}
  <div class="pdp-prod-more-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: pdp_prod_more_desc
    } %}
  </div>
{% endif %}
  <div class="pdp-prod-buttons">

  {% if quantity_text %}
    <div class="pdp-quantity-text">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: quantity_text
      } %}
    </div>
  {% endif %}
  {% if added_cart_button_content %}
    <div class="pdp-btn-added-cart" title="{{ 'Added to cart button'|t }}" aria-label="{{ 'Added to cart button'|t }}">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": added_cart_button_url,
        "button_content": added_cart_button_content,
        "button_modifiers": added_cart_button_modifiers,
        "icon": added_cart_icon,
        "button_attributes": added_button_attributes ? create_attribute(added_button_attributes) : create_attribute({})
      } %}
    </div>
  {% endif %}
  {% if add_button_content %}
      {% include "@atoms/06-buttons/01-button-add-to-cart-form.twig" with {
        "button_url": add_button_url,
        "button_content": add_button_content,
        "button_modifiers": add_button_modifiers,
      } %}
  {% endif %}
  {% if fi_button_content %}
   <!-- DDLT-2  Removed while we wait on Bazarvoice
    <div class="pdp-btn-find {{ hideButtons }}">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": fi_button_url,
        "button_content": fi_button_content,
        "button_modifiers": fi_button_modifiers,
        "button_link_classes": "find-local-dealers-wtb-button",
      } %}
    </div> -->
  {% endif %}
  {% if shop_button_content and discontinued is empty %}
    <div class="pdp-btn-shop {{ hideButtons }}">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": shop_button_url,
        "button_content": shop_button_content,
        "button_modifiers": shop_button_modifiers,
        "button_link_classes": "shop-online-wtb-button",
      } %}
    </div>
  {% endif %}
  {% if buy_button_content %}
    <div class="pdp-btn-buyonline">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": buy_button_url,
        "button_content": buy_button_content,
        "button_modifiers": buy_button_modifiers,
      } %}
    </div>
  {% endif %}
  {% if ql_button_content %}
    <div class="pdp-btn-quicklink">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": ql_button_url,
        "button_content": ql_button_content,
        "button_modifiers": ql_button_modifiers,
      } %}
    </div>
  {% endif %}
  </div>

  <div class="pdp-img-btn">

    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      cta_link_modifiers: { 1: "sm" },
      cta_link_text: "Print",
      cta_link_icon: "cta-print",
      cta_link_icon_position: "left",
      cta_link_url: "javascript:void(0)",
      cta_link_classes: "pdp-print",
    } %}
  </div>
  {% if pdp_rr_lists %}
  <div class="pdp-listing-block">
    {% include "@molecules/pdp-listing-variations/pdp-recommended-replacement/pdp-recommended-replacement.twig" with {
      "pdp_rr_lists": pdp_rr_lists,
      "pdp_recommended_replacement_title": pdp_recommended_replacement_title,
    } %}
    {% endif %}
  </div>
</div>
