<div class="grid our_Order_table">
  <table>
    <tbody>
      <tr>
      {% for order_list_content in order_list_contents %}
        <td><div class="title">{{order_list_content.title}}</div><div class="value">{{order_list_content.value}}</div></td>
        {% endfor %}
        <td><div class="title"></div>
          <div class="value">{% include "@atoms/01-links/cta-link/cta-link.twig" with {

          } %}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>