{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname) }}

{% macro menu_links(items, attributes, menu_level, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname) %}
  {% import _self as menus %}
  {% if items %}
    {# Set classes #}
    {% set menu_class = menu_class|default('menu') %}
    {% if not menu_modifiers %}
      {% set menu_modifiers = [] %}
    {% endif %}
    {% if menu_level > 0 %}
      {% set menu_modifiers = menu_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
    {% endif %}
    {# List #}
    {% for item in items %}
      {% if not item.below %}
        {% set item_content = item %}
      {% else %}
        {% set item_content = item.below %}
      {% endif %}
    {% endfor %}
    {% embed "@atoms/03-lists/00-ul.twig" with {
      list_item_content: items,
      ul_base_class: menu_class,
      ul_modifiers: menu_modifiers,
      ul_blockname: menu_blockname
    } %}
    {% block list_content %}
      {% for item in items %}
        {% include "@molecules/menus/mega-menu/_menu-item.twig" with {
          li_base_class: item_base_class,
          li_modifiers: item_modifiers,
          li_blockname: item_blockname,
        } %}
      {% endfor %}
    {% endblock %}
    {% endembed %}
  {% endif %}
{% endmacro %}
