{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}
{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}

  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}

{# below could maybe be done without a loop? #}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}

{% set item_lazy_class = '' %}
{% if menu_level == 0 %}
  {% set item_lazy_class = ' main-menu-level' %}
{% endif %}

{% set item_title_class = item.title|lower|replace({' ': '-', '&': ''}) %}

{% embed "@atoms/03-lists/_list-item.twig" with {
  "list_item_label": item_label,
  "li_base_class": item_base_class|default(menu_class ~ '__item'),
  "li_modifiers": item_modifiers,
  "li_blockname": item_blockname,
  "li_specific_class" : item.attributes.class ~ ' ' ~ item_title_class ~ ' ' ~ item_lazy_class,
} %}
  {% block list_item_content %}
    {# Any icons, etc. can go inside this set link_title statement. #}
    {% if item.content['#menu_link_content'].field_menu_custom_class.value|length != 0 %}
      {% set menu_extra_class = item.content['#menu_link_content'].field_menu_custom_class.value ~ " anchor-link" %}
    {% else %}
      {% set menu_extra_class = "anchor-link" %}
    {% endif %}
    {% set menu_custom_class = menu_extra_class %}
    {% set link_attributes = {
      class: bem(item_base_class|default(menu_class ~ '__link'), (item_modifiers)),
      class: menu_custom_class,
    } %}
    {% set menu_image = item.content['#menu_link_content'].field_menu_item_image.entity.uri.value %}
    {% if (menu_level == 1) %}
    {% if menu_custom_class is not empty %}
      <div class="menu-prod-title"><a href = "{{ item.url }}" class={{ menu_custom_class }}>{{ item.title | raw }}</a></div>
    {% else %}
      <div class="menu-prod-title"><a href = "{{ item.url }}">{{ item.title | raw }}</a></div>
    {% endif %}
      {% if (menu_image is not empty) or (menu_image is not null)  %}
       <a class="collection-image">
       {% include "@atoms/04-images/00-image/_lazy_image.twig" with {
         'img_src': menu_image | file_url,
         'img_alt': item.title | replace({'<sup>': '','</sup>': '', '<sub>': '','</sub>': ''})
        } %}
       </a>
       {% endif %}
    {% else %}
      {% if (menu_image is not empty) or (menu_image is not null)  %}
      <a href = "{{ item.url }}" class="nav-prod-img">
      {% include "@atoms/04-images/00-image/_lazy_image.twig" with {
        'img_src': menu_image | file_url,
        'img_alt': item.title | replace({'<sup>': '','</sup>': '', '<sub>': '','</sub>': ''})
      } %}
      </a>
    {% endif %}
      {{ link(item.title, item.url, add_attributes(link_attributes)) }}
    {% endif %}
    {% set menu_desc = item.content['#menu_link_content'].field_menu_description_text.value %}
    {% if menu_desc is not empty %}
     <div class="menu-prod-desc">
       {{ menu_desc|raw }}
     </div>
    {% endif %}
    {% set menu_cta = item.content['#menu_link_content'].field_menu_cta %}
    {% if menu_cta is not empty %}
        {% include "@atoms/01-links/inline-text/inline-text.twig" with {
          'inline_link_text': menu_cta.title,
          'inline_link_url': menu_cta.0.url,
          'inline_base_class': inline_base_class|default('link'),
          "link_attributes": '',
        }%}
      {% endif %}

    {# You can add other attributes (id, etc.) inside this link_attributes array. #}
    {% if item.below %}
      {% import "@molecules/menus/mega-menu/_menu.twig" as menus %}
      <span class="expand-sub"></span>
      {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname) }}
      {% else %}
        {% if menu_level == 0 %}
          <span class="expand-sub"></span>
           {{ item.content }}
        {% endif %}
      {% endif %}
  {% endblock %}
{% endembed %}
