{{ attach_library('delta_theme/mega-menu') }}

<nav class="mega-nav">
  <div id="mega-nav-wrapper" class="mega-nav-wrapper">
    {% include "@molecules/menus/mega-menu/_menu.twig" with {
      menu_class: "mega-menu-nav",
      items: menu_items,
    } %}
</div>
</nav>
