<div class="main-com-pop">
  <div class="main-com-block">
    {% for main_com_block2 in main_com_blocks2 %}
      <div class="main-com-title">
        <div class="compare-prod-image">
          <div class="compare-prod-share">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: main_com_block2.compare_prod_share_text,
              cta_link_url: main_com_block2.compare_prod_share_url,
              cta_link_icon: "cta-share",
              cta_link_icon_position: "right",
              cta_link_icon_size: "20"
            } %}
          </div>
          <div class="compare-prod-print">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: main_com_block2.compare_prod_print_text,
              cta_link_url: main_com_block2.compare_prod_print_url,
              cta_link_icon: "cta-print",
              cta_link_icon_position: "right",
              cta_link_icon_size: "20"
            } %}
          </div>
        </div>
      </div>
      {% if main_com_block2.main_com_desc_list2 %}
        <div class="main-com-desc grid">
          {% for main_com_block2 in main_com_block2.main_com_desc_list2 %}
            <div class="compare-prod-image">

              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: main_com_block2.try,
              } %}

              <div class="com-pop-img">
                {% include "@atoms/04-images/00-image/_image.twig" with {
                  "img_src": main_com_block2.compare_popup_image_url,
                  "img_alt": main_com_block2.compare_popup_image_alt,
                } %}

                <div class="slider_flag">
                  {% include "@atoms/13-flag/flag.twig" with {
                    "flag_text": main_com_block2.compare_pop_img_flag_text,
                    "flag_modifiers": main_com_block2.compare_pop_img_flag_modifiers,
                  } %}
                </div>
              </div>

              <div class="com_pop_title">
                  {% include "@atoms/02-text/00-headings/_heading.twig" with {
                    "heading_level": 6,
                    "heading": main_com_block2.compare_popup_prod_title,
                  } %}
                </div>

                <div class="com_pop_desc">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: main_com_block2.compare_popup_prod_desc,
                  } %}
                </div>

                <div class="com_pop_model">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: main_com_block2.compare_popup_prod_model,
                  } %}
                </div>



            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="main-com-block">
    {% for main_com_block in main_com_blocks %}
      <div class="main-com-title">
        <div class="compare-prod-price">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 6,
            "heading": main_com_block.mcompare_prod_price_title,
          } %}
        </div>
      </div>
      {% if main_com_block.main_com_desc_list %}
        <div class="main-com-desc grid">
          {% for main_com_block in main_com_block.main_com_desc_list %}
            <div class="compare-prod-price">
              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: main_com_block.mcompare_prod_price_desc,
              } %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="main-com-block">
    {% for main_com_block1 in main_com_blocks1 %}
      <div class="main-com-title">
        <div class="compare-prod-finish">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 6,
            "heading": main_com_block1.mcompare_prod_finish_title,
          } %}
        </div>
      </div>
      {% if main_com_block1.main_com_desc_list1 %}
        <div class="main-com-desc grid">
          {% for main_com_block1 in main_com_block1.main_com_desc_list1 %}
            <div class="compare-prod-finish">
              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: main_com_block1.mcompare_prod_finish_desc,
              } %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% endfor %}
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-finish-show">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_finish_show_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-finish-show">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_finish_show_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-handle">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_handle_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-handle">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_handle_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-holes">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_holes_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-holes">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_holes_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-features">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_features_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-features">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_features_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-innovation">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_innovation_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-innovation">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_innovation_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-pull">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_pull_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-pull">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_pull_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-escutcheon">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_escutcheon_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-escutcheon">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_escutcheon_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-flow">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_flow_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-flow">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_flow_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-height">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_height_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-height">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_height_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-length">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_length_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-length">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_length_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-line">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_line_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-line">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_line_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-fitting">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_fitting_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-fitting">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_fitting_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-aerator">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_aerator_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-aerator">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_aerator_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-thickness">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_thickness_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-thickness">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_thickness_desc,
        } %}
      </div>
    </div>
  </div>

  <div class="main-com-block">
    <div class="main-com-title">
      <div class="compare-prod-valve">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": mcompare_prod_valve_title,
        } %}
      </div>
    </div>
    <div class="main-com-desc grid">
      <div class="compare-prod-valve">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: mcompare_prod_valve_desc,
        } %}
      </div>
    </div>
  </div>



</div>
