<div class="showroom-professional">

  {% if label_hidden %}
    {% if multiple %}
      <div class="showroom-professional-list">
        {% for item in items %}
          <div class="showroom-list">{{ item.content }}</div>
        {% endfor %}
      </div>
    {% else %}
      {% for item in items %}
        <div{{ attributes }}>{{ item.content }}</div>
      {% endfor %}
    {% endif %}
  {% else %}
    <div{{ attributes }}>
      <div{{ title_attributes }} class="showroom-list-title">{{ label }}</div>
      {% if multiple %}
      <div>
        {% endif %}
        {% for item in items %}
          <div{{ item.attributes }}>{{ item.content }}</div>
        {% endfor %}
        {% if multiple %}
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>
