
{% if globalflag == 0 %}
  <a class="cart-icon" href="{{ url }}">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: 'cart',
      icon_base_class: icon.class,
      icon_size: 22,
    } %}
  </a>
  {% if cart_count_value  > 0 %}
    <span class="cart_count">{{ cart_count_value }}</span>
  {% endif %}
{% else %}
  <a class="cart-icon" href="{{ url }}">
    <img class="icon icon--cart cart--cart-block" src="/themes/custom/delta_theme/images/icons/src/cart_sfcc.svg" role="img" width="22" height="22" aria-labelledby="title-cart" alt="cart" />
  </a>
{% endif %}
