{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
     color__theme : dark_theme, white_theme
 */
#}
{% set suffix_id = random() %}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb-{{ suffix_id }}" class="{{color__theme}}">
    <h2 id="system-breadcrumb-{{ suffix_id }}" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item">
        {% if item.url %}
          <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
