<div class="hotspot-preview grid">
  {% if data.hero_image %}
    <div class="popup--left--content">
      {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: data.hero_image,
            img_alt: img_desc_image_alt,
          } %}
    </div>
  {% endif %}
  {% if data.body %}
    <div class="popup--right--content">
      {{ data.body }}
    </div>
  {% endif %}
</div>
