<div class="hotspot-view grid">

  <button type="button" class="modal__close" aria-label="Close the Sign up dialog" data-dialog-hide="">
      <svg class="icon icon--close" role="img" width="16" height="16" aria-labelledby="title-close">
            <title id="title-close">close</title>
        <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#close"></use>
      </svg>
  </button>
  {% if data.hero_image %}
    <div class="popup--left--content">
      {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: data.hero_image,
            img_alt: img_desc_image_alt,
          } %}
    </div>
  {% endif %}
  {% if data.body %}
    <div class="popup--right--content">
      {{ data.body }}
    </div>
  {% endif %}
</div>
