{{ attach_library('delta_theme/accordion') }}
{{ attach_library('delta_theme/product-filter') }}

<div class="product-filter">
  <header class="product-filter__mobile-header">
    <h3 class="product-filter__mobile-title">Filter By</h3>

    <div class="toggle-expand js-filter-toggle">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </header>

  <h3 class="product-filter__title h6">Filter By</h3>

  <div class="product-filter__body">
    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Type</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        {% for i in 0..4 %}
          {% include "@atoms/05-forms/_checkbox-element.twig" with {
            label: "Facet label here",
            attributes: {
              checked: "checked",
              id: i
            }
          } %}
        {% endfor %}
      </div>
    </section>

    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Collection</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        {% for i in 5..10 %}
          {% include "@atoms/05-forms/_checkbox-element.twig" with {
            label: "Facet label here",
            attributes: {
              id: i
            }
          } %}
        {% endfor %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          attributes: {
            disabled: "disabled",
            id: "demo-disabled"
          }
        } %}

        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text: "Show all collections",
          cta_link_icon: "filter-add-show-small",
          cta_link_icon_position: "left",
        } %}
      </div>
    </section>

    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Finish</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "chrome",
          attributes: {
            id: "demo-chrome"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "black-stainless",
          attributes: {
            id: "demo-black-stainless"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "champagnebronze",
          attributes: {
            id: "demo-champagnebronze"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "articstainless",
          attributes: {
            id: "demo-articstainless"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "matteblack",
          attributes: {
            id: "demo-matteblack"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "oilrubbedbronze",
          attributes: {
            id: "demo-oilrubbedbronze"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "polishednickel",
          attributes: {
            id: "demo-polishednickel",
            disabled: "disabled"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "spotshieldstainless",
          attributes: {
            id: "demo-spotshieldstainless"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "stainless",
          attributes: {
            id: "demo-stainless"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "venetianbronze",
          attributes: {
            id: "demo-venetianbronze"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          finish: "white",
          attributes: {
            id: "demo-white"
          }
        } %}


      </div>
    </section>

    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Style</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        {% for i in 16..18 %}
          {% include "@atoms/05-forms/_checkbox-element.twig" with {
            label: "Facet label here",
            attributes: {
              id: i
            }
          } %}
        {% endfor %}
      </div>
    </section>

    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Features</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          feature_icon_url: "/images/feature-icons/facet_WaterSenseCSAGroupHandShower.svg",
          tooltip: {
            title: "Example Title",
            content: "Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.",
            placement: "right"
          },
          attributes: {
            id: "demo-wsc"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          feature_icon_url: "/images/feature-icons/facet_H2OKineticTechnology.svg",
          tooltip: {
            title: "Example Title",
            content: "Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.",
            placement: "right"
          },
          attributes: {
            id: "demo-h2o"
          }
        } %}

        {% include "@atoms/05-forms/_checkbox-element.twig" with {
          label: "Facet label here",
          feature_icon_url: "/images/feature-icons/facet_light.svg",
          tooltip: {
            title: "Example Title",
            content: "Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.",
            placement: "right"
          },
          attributes: {
            id: "demo-light"
          }
        } %}
      </div>
    </section>

    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Price</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        {% for i in 19..21 %}
          {% include "@atoms/05-forms/_checkbox-element.twig" with {
            label: "Facet label here",
            attributes: {
              id: i
            }
          } %}
        {% endfor %}
      </div>
    </section>

    <section class="product-filter__section">
      <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">Advanced Filters</h4>
      </div>

      <div class="product-filter__section__body accordion-def">
        <h5 class="product-filter__section__subtitle">Subcategory title</h5>

        {% for i in 22..26 %}
          {% include "@atoms/05-forms/_checkbox-element.twig" with {
            label: "Facet label here",
            attributes: {
              id: i
            }
          } %}
        {% endfor %}

        <h5 class="product-filter__section__subtitle">Subcategory title</h5>

        {% for i in 22..26 %}
          {% include "@atoms/05-forms/_checkbox-element.twig" with {
            label: "Facet label here",
            attributes: {
              id: i
            }
          } %}
        {% endfor %}
      </div>
    </section>
  </div>

</div>

