<div class="large__form_field">
  <div class="form-item">
    <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Large</label>
    <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
  </div>
</div>

<div class="medium__form_field">
  <div class="form-item">
    <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Medium</label>
    <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
  </div>
</div>

<div class="small__form_field">
  <div class="form-item">
    <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Small</label>
    <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
  </div>
</div>
