{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
    required ? 'form-item__label--required',
    'form-item__label',
    attributes.hasClass('option') ? 'custom-input__label' : '',
  ]
%}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}><span>{{ title }}</span></label>
{%- endif %}
