<div class="custom-input custom-input--radio">
  <input class="custom-input__native" type="radio"

  {% if name %} name="{{name}}" {% endif %}

  {% for attribute,value in attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  >
  <label class="custom-input__label" for="{{ attributes.id }}">{{ label }}</label>
</div>
