{{ attach_library('delta_theme/floating-labels') }}

{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 * - modifiers: Modifier classes
 *
 * @see template_preprocess_select()
 */
#}

{% set select_base_class = select_base_class|default('form-item__select') %}

{% spaceless %}
  <select {% if select_id %}id="{{ select_id }}"{% endif %}{{ bem(select_base_class, (select_modifiers), select_blockname) }}
  {% for attribute,value in attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  >

    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endspaceless %}
