<div class="custom-input custom-input--switch">
  <input class="custom-input__native" type="checkbox"

  {% for attribute,value in attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  >
  <label class="custom-input__label" for="{{ attributes.id }}">{{ label }}</label>
</div>
