{{ attach_library('bartik/classy.node') }}
{{ attach_library('brizo_theme/accordion') }}

{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
] %}

  <div class="plp-share-popup">
    <div class="plp-share-data">
      <input type="text" value="" id="plpshareinput">
      <button class="plpsharecopybutton" onclick="PLPSharePopup()">Copy</button>
        <a aria-label="Close popup" role="button" tabindex="0" href="javascript:void(0);" class="plpshareclosebutton" onclick="PLPSharePopupClose()"></a>
    </div>
  </div>
{# PLP-operation start #}
<div class="plp-operation">
  <h3 class="plp-results-detail">{{ product_list_category|striptags }}</h3>
  {# PLP-result start #}
  <div class="plp-result">
    <span class="plp-results-count">0</span>
  </div>
  {# PLP-result end #}

  <div class="selected-filter">
    <a class="clear-filter" id="clear_filters" style="display: none;" role="link" tabindex="0"><i class="icon-filter-hide-small"></i> clear all filters </a>
  </div>

  <div class="products-sorting">
  {# PLP-sort start #}
  <div class="plp-sorting js-form-item form-item select-full-border">
    <label for="sort-by-select" class="visually-hidden"><span>Sort By</span></label>
    <select id="sort-by-select" name="sort-by" class="form-item__select form-item__select--sm form-item__textfield  form-select valid">
      <option value="sort_CollectionsTypeFunctionSubfunction=ASC">Sort By</option>
      <option value="sort_CollectionsTypeFunctionSubfunction=ASC">Collection A-Z</option>
      <option value="sort_CollectionsTypeFunctionSubfunction=DESC">Collection Z-A</option>
      <option value="sort_AvailableToShipDate=DESC">Most Recent</option>
    </select>
  </div>
  {# PLP-sort end #}
  {# Start of PLP Items per page #}
  {% if paginationOptions %}
  <div class="plp-items-per-page js-form-item form-item select-full-border">
    <label for="items-per-select" class="visually-hidden"><span>Items per page</span></label>
    <select id="items-per-select" name="items-per" class="form-item__select form-item__select--im form-item__textfield  form-select valid">
      {% for value,option in paginationOptions %}
      <option value={{ value }}>{{ option }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}
  {# PLP Items per page end #}

  <div class="pager__items js-pager__items plp-pagination-output"></div>
  </div>
</div>
{# PLP-operation end #}


<script type="text/template" id="output-node">
  {# grid div start #}
  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">

    {# prodcut tile start #}
    <div class="product_tile product_tile--plp-prod-tile">

      <div class="product-image">
        <a href="<%- pdp %>">
          <img src="<%- heroImage %>" srcset="<%- heroImage %>" alt="<%- title %>" class="img-responsive">
        </a>
      </div>

      {# prodcut data start #}
      <div class="product-data">
        <div class="product-flag">
          <% if(ribbonText){ %><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div><% } %>
        </div>

        <div class="product-title">
          <a href="<%- pdp %>">
          <h4 class="h4"><%= collectionName %></h4>
          </a>
        </div>

        <div class="product-desc">
          <div class="product-detail">
            <p class="paragraph">
              <%= title %>
            </p>
          </div>

          <div class="product-modelno">
            <p class="paragraph">
              <%- sku %>
            </p>
          </div>
        </div>

        <% if(shownWithDescription){ %>
          <% _.each(shownWithDescription, function(desc) { %>
            <div class="product-desc">
            <div class="product-detail">
            <p class="paragraph">
              <%= desc %>
            </p>
          </div>
          </div>
          <% }); %>
          <% } %>

        <div class="product-finish">
          <span class="available-finishes">{{ 'Available finishes:'|t }}</span>
          <% _.each(finishes, function(icon) { %>
            <div class="finish-thumbnail" style="background-image: url(<%= icon %>)" title=""></div>
          <% }); %>
        </div>

      </div>
     </div>
     {# product tile end #}

  </div>
  {# grid div #}
</script>

<div id="output" class="plp-grid"></div>
<div class="pager__items js-pager__items plp-pagination-output pagination-bottom"></div>

<script>
  function PLPSharePopup() {
    var copyText = document.getElementById("plpshareinput");
    copyText.select();
    copyText.focus();
    document.execCommand("copy");
  }
  function PLPSharePopupClose() {
    jQuery(".plp-share-popup").removeClass("active-plp-share-popup");
  }
</script>
<script type="text/template" id="plp-pagination">
  <% if(totalRecordset > 0) { %>
  <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
    <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
  </div>
  <% } %>
</script>
