<form method="post">
  <div class="showroom-data">
    <div class="icon-menu-close"></div>
    <div class="showroom-title">
      Find showrooms in the USA
    </div>
    <div class="showroom-input">
      <input type="text" />
    </div>
    <div class="showroom-links">
      <ul>
        {% for showroom_link in showroom_links %}
          <li>
            {% include "@atoms/01-links/link/link.twig" with {
              "link_url": showroom_link.showroom_url,
              "link_content": showroom_link.showroom_content,
              "link_base_class": showroom_link.showroom_content_class,
            } %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</form>
