<form method="post">
  <div class="showroom-data">
    <div class="icon-menu-close"></div>
    <div class="showroom-title">
      Find showrooms in the USA
    </div>
    <div class="showroom-input">
      <input type="text" />
    </div>
    <div class="showroom-links">
      <ul>
                  <li>
            
<a class="link"
  href="#">
      Change country
  </a>
          </li>
                  <li>
            
<a class="link"
  href="#">
      Use current location
  </a>
          </li>
              </ul>
    </div>
  </div>
</form>
