.footer {
  background: $gray-10;
  padding: $space*4 0;
  margin: 0;

  .footer-wrapper {
    @include wrapper;

    padding-left: 64px !important;
    padding-right: 64px !important;

    @include maxbp($main-menu-medium) {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }

    @include maxbp($medium) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }

    ul {
      &.inline-menu,
      &.footer-legal-menu,
      &.footer-social-menu {
        padding: 0;
        margin: 0;
        display: block;
        overflow: hidden;

        li {
          float: left;
          list-style: none;

          a {
            color: $white;
            font-family: $font-din1451-engschrift;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            font-size: 1rem;
            letter-spacing: 1px;

            @include maxbp($r_1000) {
              font-size: 1.125rem;
            }

            &:hover {
              color: $gray-30;
            }
          }
        }
      }
    }

    .footer-top {
      margin: 0 0 $space*5;

      @include maxbp($r_1000) {
        margin: 0 0 $space*6;
      }

      nav {
        > .inline-menu {
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          margin-left: -16px;
          margin-right: -16px;

          @include maxbp($r_1000) {
            display: block;
          }

          ul {
            > .sub-data {
              @include maxbp($r_1000) {
                margin: 0 0 24px;
              }
            }
          }

          > .sub-data {
            @include maxbp($r_1000) {
              margin: 0 0 24px;
            }

            > li {
              width: 33.3%;
              padding: 0 16px;
              margin: 0;

              .inline-menu.inline-menu--sub {
                @include breakpoint($r_1000) {
                  display: block !important;
                }

                @include maxbp($r_1000) {
                  //display: none;
                  //border-bottom: 1px solid $gray-60;
                  //margin: 0 0 18px;
                }
              }

              @include maxbp($r_1000) {
                width: 100%;
                float: none;

                .expand-sub {
                  display: none !important;
                  //display: block;
                }
              }

              > a {
                font-family: $font-domaine-display-narrow-regular;
                font-size: 21px;
                border-bottom: 1px solid $white;
                margin: 0 0 $space+7;
                padding: 0 0 $space+7;
                text-transform: none;

                @include maxbp($r_1000) {
                  font-size: 1.25rem;
                  margin: 0 0 18px;
                  padding: 0 40px 15px 0;
                }
              }

              li {
                width: 49%;
                display: inline-block;
                vertical-align: top;
                float: none;
                margin: 0 0 24px;

                @include maxbp($r_600) {
                  width: 100%;
                }

                a {
                  font-size: 16px;
                  padding: 0 15px 0 0;

                  @include maxbp($r_1000) {
                    font-size: 1.125rem;
                  }

                  @include maxbp($r_600) {
                    padding: 0;
                  }
                }
              }
            }
          }

          li {
            display: block;
          }
        }
      }
    }

    .footer-bottom {
      display: block;
      overflow: hidden;

      .footer-legal-menu {
        @include maxbp($r_1000) {
          margin: 0 0 $space+15;
        }

        > li {
          position: relative;
          line-height: 20px;

          @include maxbp($r_1000) {
            margin: 0 0 0 -4px;
          }

          &:last-child {
            a {
              &::after {
                display: none;
                padding: 0;
                margin: 0;
              }
            }
          }

          a {
            font-size: 14px;
            padding: 0 $space*2 0 0;
            margin: 0 $space*2 0 0;
            position: relative;

            @include maxbp($r_1000) {
              margin: 0 0 0 -4px;
              padding: 0 20px;
              font-size: 12px;
            }

            &.hide-pipe-lg {
              @include maxbp($large) {
                &::after {
                  display: none !important;
                }
              }
            }

            &.hide-pipe-sm {
              @include maxbp(430px) {
                &::after {
                  display: none !important;
                }
              }
            }

            &::after {
              background: $gray-20;
              content: "";
              width: 1px;
              display: block;
              position: absolute;
              height: 13px;
              top: 0;
              right: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
      }

      .footer-bottom-links {
        float: left;

        .text-long {
          color: $white;
          font-size: 12px;

          p {
            margin: 0.5rem 0 0;
            font-family: $font-pfdinmono;
            font-size: 10px;
            letter-spacing: 2px;
            color: $gray-30;
            text-transform: uppercase;
          }
        }
      }

      .footer-social {
        float: right;

        @include maxbp($r_1000) {
          margin: 0 0 $space+15;
        }

        .footer-social-menu {
          > li {
            margin: 0 0 0 $space+15;

            @include maxbp($r_1000) {
              margin: 0 $space;
            }

            a {
              font-size: 0;

              &::before {
                font-size: 25px;
              }
            }
          }
        }
      }

      @include maxbp($r_1000) {
        .footer-bottom-links,
        .footer-social {
          float: none;
          text-align: center;

          ul {
            li {
              float: none;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
