
{% set table_th_base_class = table_th_base_class|default('table__heading-cell') %}
{% set table_subth_base_class = table_subth_base_class|default('table__heading-subcell') %}

<div class="table-responsive">
<table class="table">
	<thead>
		<tr>
			{% for table_heading in table_headings %}
				<th {{ bem(table_th_base_class, (table_th_modifiers), table_th_blockname) }}>{{ table_heading }}</th>
			 {% endfor %}
		</tr>
		<tr>
			{% for table_subheading in table_subheadings %}
				<th {{ bem(table_subth_base_class, (table_subth_modifiers), table_subth_blockname) }}>{{ table_subheading }}</th>
			 {% endfor %}
		</tr>
	</thead>
	<tbody>
  	<tr class="table__row">
	  {% for cell_content in cell_contents %}
  		<td class="table__cell">{{ cell_content }}</td>
	   {% endfor %}
  	</tr>
  	<tr class="table__row">
	  {% for cell_content in cell_contents %}
      	<td class="table__cell">{{ cell_content }}</td>
  	  {% endfor %}
	</tr>
  	<tr class="table__row">
	  {% for cell_content in cell_contents %}
        <td class="table__cell">{{ cell_content }}</td>
	   {% endfor %}
	</tr>
  	<tr class="table__row">
	  {% for cell_content in cell_contents %}
      	<td class="table__cell">{{ cell_content }}</td>
	  {% endfor %}
	  </tr>
	</tbody>
</table>
</div>