{% set collection_name_base_class = collection_name_base_class|default('collection-name') %}
{% if collection_name %}
 <div {{ bem(collection_name_base_class, (collection_name_modifiers), collection_name_blockname) }}>
   {{ collection_name | raw }}
 </div>
 {% endif %}
