{#
/**
 * Available variables:
 * - img_url - (optional) URL for the image. When not supplied, an icon will be rendered instead
 * - title - Title of the item
 * - file_extension - (optional) File extension of the downloadable
 * - file_size - (optional )File size of the downloadable
 * - view_url - (optional) URL for viewing the file
 * - download_url - (optional) URL for downloading the file
 * - category_url - (optional) URL for category cards pointing to subpages
 * - show_icon: defaults to false.
 */
#}

{% set icon_name = file_extension == "pdf" ? "pdf-download" : "file-download" %}
{% set padding_modifier = "" %}
{% set downloadAttr = fileName ? fileName : title %}

{% if show_icon == false and not img_url %}
  {% set padding_modifier = "download-card--padded" %}
{% endif %}

<div class="download-card {{ padding_modifier }}">

  {% if img_url %}
    <figure class="download-card__figure">
      <img src="{{ img_url }}" alt="{{ img_alt }}" />
    </figure>
  {% elseif show_icon %}
    <figure class="download-card__figure download-card__figure--icon">
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: icon_name,
        icon_size: 100,
        icon_color: "delta-red",
        hidden: true,
      } %}
    </figure>
  {% endif %}

  <div class="download-card__body">
    {% if file_extension %}
      {% include "@atoms/download-badge/download-badge.twig" with {
        extension: file_extension,
      } %}
    {% endif %}

    <h5 class="download-card__title">
      {{ title }}
    </h5>

    {% if file_size %}
    <span class="download-card__size">
      {{ file_size }}
    </span>
    {% endif %}

    <div class="download-card__buttons">
      {% if category_url %}
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: category_url,
          button_content: "View All Design Files",
          button_modifiers: ["sm", "primary"]
        } %}
      {% endif %}

      {% if view_url %}
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: view_url,
          button_content: "View File",
          button_modifiers: ["sm", "primary"]
        } %}
      {% endif %}

      {% if download_url %}
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: download_url,
          button_content: "Download File",
          button_modifiers: ["sm", "primary", "download-btn"],
          button_attributes: create_attribute({
            download: downloadAttr
          })
        } %}
      {% endif %}
    </div>
  </div>

  <div class="download-card__overlay">
    <h5 class="download-card__title">
      {{ title }}
    </h5>

    <span class="download-card__size">
      {{ file_size }}
    </span>

    <div class="download-card__overlay__buttons">
      {% if category_url %}
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: category_url,
          button_content: "View All Design Files",
          button_modifiers: ["sm", "primary"]
        } %}
      {% endif %}

      {% if view_url %}
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: view_url,
          button_content: "View File",
          button_modifiers: ["sm", "primary"]
        } %}
      {% endif %}

      {% if download_url %}
      {% include "@atoms/06-buttons/01-button.twig" with {
        button_url: download_url,
        button_content: "Download File",
        button_modifiers: ["sm", "primary", "download-btn"],
        button_attributes: create_attribute({
          download: downloadAttr
        })
      } %}
      {% endif %}
    </div>
  </div>
</div>
