.form-item {
  color: $gray-10;
  margin-bottom: 1em;
  max-width: 32em;

  @include clearfix;
}

.form-item__label {
  display: block;
  color: $gray-20;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  font-family: $font-body;

  @include xs {
    display: block;
    margin-right: 2%;
  }
}

textarea.form-item__textfield {
  border-bottom: 3px solid $filter-background;

  &:focus,
  .is-filled & {
    border: 0 none;
    border-bottom: 3px solid $gray-10;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
  }
}

.form-item__textfield {
  border-bottom: 3px solid $filter-background;
  padding: 17px 0 15px;
  max-width: 100%;
  height: 59px;
  line-height: 22px;
  font-size: 18px;
  color: $gray-20;

  &::-webkit-input-placeholder {
    color: $gray-20;
  }

  &:-moz-placeholder {
    color: $gray-20;
  }

  &::-moz-placeholder {
    color: $gray-20;
  }

  &:-ms-input-placeholder {
    color: $gray-20;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}
