<div class="iwlt-block">
  <div class="iwlt-img">
    {% include "@atoms/04-images/00-image/_image.twig" with {
      img_src: iwlt_image_src,
      img_alt: iwlt_image_alt,
    } %}
  </div>
  <div class="iwlt-link">
    {% include "@atoms/01-links/link/link.twig" with {
      "link_content": iwlt_link_text,
      "link_url": iwlt_link_url,
    } %}
  </div>
</div>
