{{ attach_library('delta_theme/banner-carousel') }}

<div class="banner-carousel">
  {% for banner in banners %}
    <div class="banner-carousel__item">
      {% include "@organisms/01-banners/04-banner-featured/featured-banner.twig" with {
        feature_banner_modifiers: banner.feature_banner_modifiers,
        bgimage_src: banner.bgimage_src,
        title: banner.title,
        content: banner.content,
        buttons: banner.buttons,
      } %}
    </div>
  {% endfor %}
</div>
