


<div class="card">

            <div class="card-img-block">
        <picture>
          <source   srcset="" media="(min-width: 1000px)">
          <img    srcset="" alt="" class="image">
        </picture>
      </div>
      
  <div class="card__desc">

    
          
      
<h2 class="card__title">
      Subsection main Title
  </h2>
      
    
        
                  </div><!-- copy -->
</div>
