  <div>
    <a class="cta-link cta-link--x-large" href="#">
        CTA Link - x-large
    </a>
  </div>
  <div>
    <a class="cta-link cta-link--large" href="#">
        CTA Link - large
    </a>
  </div>
  <div>
    <a class="cta-link cta-link--medium" href="#">
        CTA Link - medium
    </a>
  </div>
  <div>
    <a class="cta-link cta-link--small" href="#">
        CTA Link - small
    </a>
  </div>
  <div>
    <a class="cta-link cta-link--x-small" href="#">
        CTA Link - x-small
    </a>
  </div>
  <div>
    <a class="cta-link cta-link--xx-small" href="#">
        CTA Link - xx-small
    </a>
  </div>
  <div>
    <a class="cta-link cta-link--xxx-small" href="#">
        CTA Link - xxx-small
    </a>
  </div>
