{% for link_item in link_items %}
  <div>
    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      "cta_link_modifiers": link_item.cta_link_modifiers,
      "link_content": link_item.cta_link_text,
      "link_url": link_item.cta_link_url,
    } %}
  </div>
{% endfor %}