{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying a Two Columns Uneven layout.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
 
{% set columnStyle = content.field_column_style.0  %}
{% set topSection = content.field_top_section.0  %}
{% set leftContent = content.field_left_section.0  %}
{% set rightContent =  content.field_right_section.0  %}
{% set bottomContent =  content.field_bottom_section.0  %}
{%  set cardLeftClass,cardRightClass = 6,6 %}
 {% if columnStyle|render == 'paragraph--style--66-33' %}
    {%  set cardLeftClass,cardRightClass = 8,4 %}
  {% elseif columnStyle|render == 'paragraph--style--33-66' %}
    {%  set cardLeftClass,cardRightClass = 4,8 %}
  {% elseif columnStyle|render == 'paragraph--style--50-50' %}
    {%  set cardLeftClass,cardRightClass = 6,6 %}
  {% elseif columnStyle|render == 'paragraph--style--75-25' %}
    {%  set cardLeftClass,cardRightClass = 9,3 %}
   {% elseif columnStyle|render == 'paragraph--style--25-75' %}
    {%  set cardLeftClass,cardRightClass = 3,9 %}
  {% endif %}

{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
	<div class="top-section">
		{{topSection}}
	</div>
	<div class="two-col-section grid vertical-align">
		<div class="two-col-section-left grid-col-lg-{{ cardLeftClass }} ">{{ leftContent }}</div> 
		<div  class="two-col-section-right grid-col-lg-{{ cardRightClass }} ">{{ rightContent }}</div>
	 
	</div>
	 <div class="two-col-section-bottom">
		{{ bottomContent|raw }}
	</div>
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %} 
