{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

  {% set banner_type = content.field_type.0 %}
  {% set background_type = content.field_banner_background_type.0 %}
  {% set content_container_bg = content.field_content_container_backgrou %}
  {% set banner_size = content.field_banner_size.0 %}
  {% set banner_content_alignment = content.field_content_container_alignmen.0 %}
  {% if banner_content_alignment|render == 'Bottom' %}
    {% set content_alignment = 'bottom' %}
  {% elseif banner_content_alignment|render == 'Left' %}
    {% set content_alignment = 'left' %}
  {% elseif banner_content_alignment|render == 'Right' %}
     {% set content_alignment = 'right' %}
  {% elseif banner_content_alignment|render == 'Top' %}
    {% set content_alignment = 'top' %}
  {% elseif banner_content_alignment|render == 'Center' %}
    {% set content_alignment = 'center' %}
  {% elseif banner_content_alignment|render == 'Bottom Right' %}
    {% set content_alignment = 'bottom-right' %}
  {% elseif banner_content_alignment|render == 'Top Right' %}
    {% set content_alignment = 'top-right' %}
  {% else %}
    {% set content_alignment = 'footer' %}
  {% endif %}

  {% set big_page_title = content.field_page_title.0 %}
  {% set banner_headline = content.field_banner_headline.0 %}
  {% set banner_sub_headline = content.field_sub_headline.0 %}
  {% set banner_page_title = content.field_page_title.0 %}
  {% set banner_transparent_overlay = content.field_banner_transparent_overlay.0 %}
  {% set banner_body = content.field_body.0 %}
  {% set footer_content_alignment = content.field_content_alignment.0 %}
  {% set footer_content_body = content.field_footer_content_body.0 %}
  {% set footer_content_link = content.field_footer_content_link.0 %}
  {% if content.field_breadcrumbs['#items'].value == '1' %}
    {% set breadcrumb = true %}
  {% endif %}
  {% if login_url %}
    {{ attach_library('brizo_general/elearning') }}
    {% set read_more = {
      'mascow_url': login_url
    } %}
   {% elseif mascow_url %}
     {{ attach_library('brizo_general/elearning') }}
     {% set read_more ={
       'mascow_url': mascow_url
     }  %}
    {% elseif button_1_style %}
      {% set read_more ={
        'link_url': content.field_banner_call_to_action.0['#url'],
        'link_content': content.field_banner_call_to_action.0['#title'],
        "link_modifiers": button_1_style}
      %}
   {% elseif content.field_banner_call_to_action.0['#url'] %}
    {% set read_more ={
      'link_url': content.field_banner_call_to_action.0['#url'],
      'link_content': content.field_banner_call_to_action.0['#title'],
      "link_modifiers": ["cta-link"]}
    %}
  {% endif %}

  {% if footer_content_alignment|render|lower == 'bottom' %}
      {% set footer_alignment = 'bottom' %}
  {% elseif footer_content_alignment|render|lower == 'Left' %}
      {% set footer_alignment = 'left' %}
  {% elseif footer_content_alignment|render|lower == 'right' %}
      {% set footer_alignment = 'right' %}
  {% elseif footer_content_alignment|render|lower == 'top' %}
      {% set footer_alignment = 'top' %}
  {% else %}
    {% set footer_alignment = 'footer' %}
  {% endif %}
  {% if content.field_footer_content_link.0['#title'] %}
    {% set callout_here ={
      "link_url" : content.field_footer_content_link.0['#url'],
      "link_content" : content.field_footer_content_link.0['#title'],
    } %}
  {% endif %}
  {% set font_color = content.field_font_color_scheme.0 %}
  {% set bgimage_src = file_url(content.field_banner_background_image_de[0]['#media'].field_media_image.entity.uri.value) %}

  {% set bgvideo_src = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_video.0.entity.field_media_video_file.entity.uri.value %}
  {% if bgvideo_src is not null %}
    {% set bgvideo_src = file_url(bgvideo_src) %}
  {% endif %}

  {% set bgvideo_oembed_url = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_video.0.entity.field_media_oembed_video.0.value %}
  {% if bgvideo_oembed_url is not null %}
    {% set bgvideo_src = bgvideo_oembed_url %}
  {% endif %}

  {% set bgvideo_oembed_url_mobile = content.field_banner_background_video_co.0["#paragraph"].field_mobile_video.0.entity.field_media_oembed_video.0.value %}
  {% if bgvideo_oembed_url_mobile is not null %}
    {% set bgvideo_src_mobile = bgvideo_oembed_url_mobile %}
  {% endif %}
  
  {% set bgvideo_src_mobile = content.field_banner_background_video_co.0["#paragraph"].field_mobile_video.0.entity.field_media_video_file.entity.uri.value %}
  {% if bgvideo_src_mobile is not null %}
    {% set bgvideo_src_mobile = file_url(bgvideo_src_mobile) %}
  {% endif %}

  {% set bgvideo_thumbnail = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_video_th.0.entity.field_media_image.entity.uri.value %}
  {% if bgvideo_thumbnail is not null %}
    {% set bgvideo_thumbnail = file_url(bgvideo_thumbnail) %}
  {% endif %}

  {% set bgvideo_thumbnail_mobile = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_image_mo.0.entity.field_media_image.entity.uri.value %}
  {% if bgvideo_thumbnail_mobile is not null %}
    {% set bgvideo_thumbnail_mobile = file_url(bgvideo_thumbnail_mobile) %}
  {% endif %}

  {% set bgvideo_autoplay = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_video_au.0.value %}
  {% set bgvideo_loop = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_video_lo.0.value %}
  {% set bgvideo_modal = content.field_banner_background_video_co.0["#paragraph"].field_open_modal.0.value %}
  {% set bgvideo_controls = content.field_banner_background_video_co.0["#paragraph"].field_control_settings.0.value %}
  {% set bgvideo_paragraph_class = content.field_banner_background_video_co.0["#paragraph"].paragraph_wrapper_class.0.value %}
  {% set bgvideo_paragraph_id = content.field_banner_background_video_co.0["#paragraph"].paragraph_wrapper_id.0.value %}

  {% set bgvideo_thumbnail_alt = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_video_th.0.entity.field_media_image.alt %}
  {% set bgvideo_thumbnail_mobile_alt = content.field_banner_background_video_co.0["#paragraph"].field_banner_background_image_mo.0.entity.field_media_image.alt %}

  {% set bgimage_alt = content.field_banner_background_image_de[0]['#media'].field_media_image.alt %}
  {% set mobimage_src = file_url(content.field_banner_background_image_mo[0]['#media'].field_media_image.entity.uri.value) %}
  {% set bg_color = content.field_background_color[0] %}
  {% if font_color|render == 'Bright' %}
    {% set font_color_class = 'dark-theme' %}
  {% else %}
    {% set font_color_class = 'light-theme' %}
  {% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
  {% if banner_type|render == 'PLP Banner' %}
      {% include "@organisms/banners/banner.twig" with {
        "page_title": banner_headline,
        "bg_banner_video_src": bgvideo_src,
        "bg_banner_video_src_mobile": bgvideo_src_mobile,
        "bg_banner_video_thumbnail": bgvideo_thumbnail,
        "bg_banner_video_thumbnail_mobile": bgvideo_thumbnail_mobile,
        "bg_banner_video_autoplay": bgvideo_autoplay,
        "bg_banner_video_loop": bgvideo_loop,
        "bg_banner_video_controls": bgvideo_controls,
        "bg_banner_video_modal": bgvideo_modal,
        "bg_banner_video_oembed": bgvideo_oembed_url,
        "bg_banner_video_oembed_mobile": bgvideo_oembed_url_mobile,
        "bg_banner_video_thumbnail_alt": bgvideo_thumbnail_alt,
        "bg_banner_video_thumbnail_mobile_alt": bgvideo_thumbnail_mobile_alt,
        "bg_banner_video_paragraph_class": bgvideo_paragraph_class,
        "bg_banner_video_paragraph_id": bgvideo_paragraph_id,
        "banner_image_src": bgimage_src,
        "mobile_banner_image_src": mobimage_src,
        "headline": banner_headline,
        "content_position": "bottom",
        "heading_base_class": page_title_base_class|default('banner__title'),
        "color_theme": font_color_class,
        "breadcrumb": breadcrumb,
        "bgimagealt": bgimage_alt,
      } %}
  {% endif %}
  {% if banner_transparent_overlay["#markup"] == 'On' %}
    {% set content_overlay = "overlay_bg" %}
  {% else %}
    {% set content_overlay = "" %}
  {% endif %}

  {% if banner_type|render == 'Title Banner' %}
      {% include "@organisms/banners/banner.twig" with {
        "page_title": banner_headline,
        "banner_image_src": bgimage_src,
        "bg_banner_video_src": bgvideo_src,
        "bg_banner_video_src_mobile": bgvideo_src_mobile,
        "bg_banner_video_thumbnail": bgvideo_thumbnail,
        "bg_banner_video_thumbnail_mobile": bgvideo_thumbnail_mobile,
        "bg_banner_video_autoplay": bgvideo_autoplay,
        "bg_banner_video_loop": bgvideo_loop,
        "bg_banner_video_controls": bgvideo_controls,
        "bg_banner_video_modal": bgvideo_modal,
        "bg_banner_video_oembed": bgvideo_oembed_url,
        "bg_banner_video_oembed_mobile": bgvideo_oembed_url_mobile,
        "bg_banner_video_thumbnail_alt": bgvideo_thumbnail_alt,
        "bg_banner_video_thumbnail_mobile_alt": bgvideo_thumbnail_mobile_alt,
        "bg_banner_video_paragraph_class": bgvideo_paragraph_class,
        "bg_banner_video_paragraph_id": bgvideo_paragraph_id,
        "mobile_banner_image_src": mobimage_src,
        "headline": banner_headline,
        "content_text": banner_body,
        "content_position": content_alignment,
        "overlay_bg":content_overlay,
        "read_more": read_more,
        "callout_here_title" : footer_content_body,
        "callout_here" : callout_here,
        "breadcrumb": breadcrumb,
        "color_theme": font_color_class,
        "bgimagealt": bgimage_alt,
      } %}

  {% endif %}
  {% if banner_type|render == 'Feature Banner' %}
      {% include "@organisms/banners/banner.twig" with {
        "big_title": big_page_title,
        "banner_image_src": bgimage_src,
        "bg_banner_video_src": bgvideo_src,
        "bg_banner_video_src_mobile": bgvideo_src_mobile,
        "bg_banner_video_thumbnail": bgvideo_thumbnail,
        "bg_banner_video_thumbnail_mobile": bgvideo_thumbnail_mobile,
        "bg_banner_video_autoplay": bgvideo_autoplay,
        "bg_banner_video_loop": bgvideo_loop,
        "bg_banner_video_controls": bgvideo_controls,
        "bg_banner_video_modal": bgvideo_modal,
        "bg_banner_video_oembed": bgvideo_oembed_url,
        "bg_banner_video_oembed_mobile": bgvideo_oembed_url_mobile,
        "bg_banner_video_thumbnail_alt": bgvideo_thumbnail_alt,
        "bg_banner_video_thumbnail_mobile_alt": bgvideo_thumbnail_mobile_alt,
        "bg_banner_video_paragraph_class": bgvideo_paragraph_class,
        "bg_banner_video_paragraph_id": bgvideo_paragraph_id,
        "mobile_banner_image_src": mobimage_src,
        "content_text": banner_body,
        "content_position": content_alignment,
        "overlay_bg":content_overlay,
        "read_more": read_more,
        "callout_here_title" : footer_content_body,
        "callout_here" : callout_here,
        "breadcrumb" : breadcrumb,
        "color_theme": font_color_class,
        "bgimagealt": bgimage_alt,
      } %}
  {% endif %}

  {% if banner_type|render == 'Category Title Banner' %}
      {% include "@organisms/banners/banner.twig" with {
        "banner_heading_title": big_page_title,
        "banner_image_src": bgimage_src,
        "bg_banner_video_src": bgvideo_src,
        "bg_banner_video_src_mobile": bgvideo_src_mobile,
        "bg_banner_video_thumbnail": bgvideo_thumbnail,
        "bg_banner_video_thumbnail_mobile": bgvideo_thumbnail_mobile,
        "bg_banner_video_autoplay": bgvideo_autoplay,
        "bg_banner_video_loop": bgvideo_loop,
        "bg_banner_video_controls": bgvideo_controls,
        "bg_banner_video_modal": bgvideo_modal,
        "bg_banner_video_oembed": bgvideo_oembed_url,
        "bg_banner_video_oembed_mobile": bgvideo_oembed_url_mobile,
        "bg_banner_video_thumbnail_alt": bgvideo_thumbnail_alt,
        "bg_banner_video_thumbnail_mobile_alt": bgvideo_thumbnail_mobile_alt,
        "bg_banner_video_paragraph_class": bgvideo_paragraph_class,
        "bg_banner_video_paragraph_id": bgvideo_paragraph_id,
        "mobile_banner_image_src": mobimage_src,
        "content_text": banner_body,
        "content_position": content_alignment,
        "overlay_bg":content_overlay,
        "read_more": read_more,
        "callout_here_title" : footer_content_body,
        "callout_here" : callout_here,
        "breadcrumb" : breadcrumb,
        "color_theme": font_color_class,
        "bgimagealt": bgimage_alt,
        "sub_title_banner": 'sub_title_banner',
      } %}
  {% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %}  
