{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *content.field_link.0["#url"]
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set leftContent = content.field_thumb_image %}
{% set centerContent = content.field_content_card %}
{% set collection_desc = content.field_content_card.0['#paragraph'].field_body.0.value|raw  %}
{% set linkText = content.field_content_card.0['#paragraph'].field_link.0.value['title'] %}
{% set full_link_url = content.field_content_card.0['#paragraph'].field_link.get(0).getUrl().toString() %}
{% set rightContent =  content.field_three_colulmn_banner_image %}
<div class="three-col-inline-card product_tile product_tile--collection product_tile--featured">
  <div class="three-col-inline-card-left product-image ">{{ leftContent|raw }}</div>
  <div class="three-col-inline-card-center product-data">
   <div class="product-title">
      {{ content.field_content_card.0['#paragraph'].field_headline.0.value|raw  }}
    </div>
  <div class="product-desc">
    <div class="product-detail">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": collection_desc,
      } %}
    </div>
  </div>
   <div class="product-link">
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        "link_url": full_link_url,
        "link_content": linkText,
        "cta_link_modifiers": ["small"],
      } %}
    </div>
  </div>
  <div  class="three-col-inline-card-right prod-collection-img">{{ rightContent|raw }}</div>
</div>
