{% set tdli_image = file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set tdli_image_alt = content.field_image[0]['#media'].field_media_image.alt %}
{% set tdli_more_url = content.field_cta_link.0["#url"] %}
{% set tdli_more_url_text = content.field_cta_link.0["#title"] %}
{% set cta_text = content.field_description.0 %}
<div class="sustanabilty-block {{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}">
  <div class="sustanabilty-img">
    <img alt="{{ tdli_image_alt }}"  src="{{ tdli_image }}">
  </div>
  <div class="sustanability-desc">
    <div class="sustanability-title">
      {% if tdli_more_url %}
        <a href="{{ tdli_more_url }}" target="">
      {% endif %}
        {% if tdli_more_url_text %}
          {{ tdli_more_url_text }}
        {% endif %}
      {% if tdli_more_url %}
        </a>
      {% endif %}
    </div>
    {% if tdli_more_url_text %}
      <div class="sustanability-data">
        {{ cta_text }}
      </div>
    {% endif %}
  </div>
</div>
