{% set video_src = file_url(content.field_video_file[0]['#media'].field_media_video_file.entity.uri.value) %}
{% set video_poster_image = file_url(content.field_poster_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set poster_image_alt = content.field_poster_image[0]['#media'].image.alt %}
{% set secondary_image = file_url(content.field_secondary_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set secondary_image_alt = content.field_secondary_image[0]['#media'].image.alt %}
{% set desc_bg_color = content.field_description_bg_color[0] %}
{% set desc_font_color = content.field_video_desc_font_color[0] %}
{% set video_desc = content.field_video_description.0 %}
{% set video_hint = content.field_video_hint.0 %}

<section class="video-section vc-wrapper--dark hero-banner">

<section class="hero-banner-section">
<div class="hero-banner-wrap">
<figure class="story-1-main"><img alt="vettisconcrete-hero" class="lazyload fade-on-load" data-src="{{ video_poster_image }}" /></figure>
</div>
<h1 class="hero-title"><img alt="The Beauty of Concrete" aria-hidden="true" class="rellax" data-rellax-speed="2" src="{{ secondary_image }}" /></h1>
</section>


<div class="vc-container">
<section class="video-holder" data-aos="fade-up-medium" data-aos-offset="-50">
<video class="vettis-video video lazyload" data-src="{{ video_src }}" id="js-video" muted="" preload="none" >&nbsp;</video>
<span class="closebtn">X</span>
<div class="video-details" id="js-video-details">
<button class="video-button" id="js-video-button"><span class="u-text-screenreader">Play</span></button>
{% if video_hint %}
  <div class="video-hint">
  <div data-aos="fade-in" data-aos-duration="1500" data-aos-easing="ease-out-quad" class="aos-init aos-animate">{{ video_hint }}</div>
  </div>
{% endif %}
</div>
</section>

{% if video_desc is not empty %}
  <div class="jason-wu-video-description hero-secondary-title aos-init aos-animate" style="background:{{desc_bg_color}}; color:{{desc_font_color}}">
    <p style="color:{{desc_font_color}}">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": video_desc,
        "paragraph_base_class": content_base_class|default('quote__author'),
      } %}
    </p>
  </div>
{% endif %}
  </div>
  </section>





