{% set bgcolor = content.field_content_background_color[0] %}
{% set fontcolor = content.field_content_font_color[0] %}
{% set headline = content.field_content_headline.0 %}
{% set subheadline = content.field_content_subheadline.0 %}

{% include "@atoms/Pull-quotes/Pull-quotes.twig" with {
  "pull__quotes":headline,
  "pull__quotes_bg":bgcolor,
  "quote__author":{"content":subheadline},
  "pull__quotes_color":fontcolor,
}
%}
