{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%  set cardLeftClass,cardRightClass = 6,6 %}
{% set imgName = content.field_image[0]['#media'].field_media_image.entity.uri.value %}
{% set imgSrc = file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set ImgAlt = content.field_image[0]['#media'].field_media_image.alt %}

<div class="grid vertical-align system-component system-details">
    <div class="grid-col-lg-{{ cardRightClass }} ">
     {% if imgName %}
      <picture>
        <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
        <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
      </picture>
    {% endif %}
    </div>
     <div class="grid-col-lg-{{ cardLeftClass }}">
     <div>
       <div> {{content.field_content_headline}} </div>
       <div class="clear content-section"> {{content.field_description}} </div>
     </div>
     <div>
    {% if data.product_items %}
     <div class="clear content-section">
      {{ data.product_required_title|raw }}
      {{ data.product_headline|raw }}
     </div>
      <ul class="list-inline list-components custom-shower-list">
      {% for product_item in data.product_items %}
        <li style="system-component-product">
          {% if product_item.link %}
            <a class="no-line product-tile-link" href="{{product_item.link}}">
              <img alt="{{product_item.imageAlt }}" class="img-responsive" src="{{product_item.imageSrc }}">
              <span class="content">
                <span class="font-light text-center font-sans-serif-condensed"> {{ product_item.title|striptags }}</span>
              </span>
            </a>
           {% else %} 
           <a class="no-line product-tile-link"  >
            <img alt="{{product_item.imageAlt }}" class="img-responsive" src="{{product_item.imageSrc }}">
              <span class="content">
                <span class="font-light text-center font-sans-serif-condensed"> {{ product_item.title|striptags }}</span>
              </span>
            </a>
          
          {% endif %} 
        </li>
      {% endfor %}
      </ul>
       </div>
    {% endif %}
     </div>
     <div class="clear content-section"> {{content.field_sub_headline}} </div>
</div>
