{% set tdli_title = content.field_headline[0]['#value'] %}
{% set tdli_image = file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set tdli_image_alt = content.field_image[0]['#media'].image.alt %}
{% set tdli_more_url = content.field_link.0["#url"] %}
{% set tdli_more_url_text = content.field_link.0["#title"] %}
{% set tdli_desc = content.field_body.0 %}
{% set cta_card_background = content.field_card_background.0 %}
{% set cta_card_bg = cta_card_background|render %}
{% set tdli_mobile_image = file_url (content.field_content_card_mobile[0]['#media'].field_media_image.entity.uri.value)%}
{% set tdli_variation = content.field_card_type.0 %}
{% set ll = content.field_lazy_load.0 %}
{% set lazy_load = 'lazy-load-off' %}
{% if ll|render == "true" %}
  {% set lazy_load = 'lazy-load-on' %}
{% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
{% if tdli_variation|render =="Big Title" %}
  {% include "@molecules/card/02-card-cover/card-cover.twig" with {
    "card_title_link": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "img_url" : tdli_more_url_text,
    "card_title_1":tdli_title,
    "card_button_content":tdli_more_url_text,
    "card_body": tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load,
    "cover_card_title_base_class": "mega3 mega3-sans-serif",
    "card_modifiers":[cta_card_bg],
  }
  %}
{% endif %}
{% if tdli_variation|render =="Card Cover" %}
  {% include "@molecules/card/02-card-cover/card-cover.twig" with {
    "card_title_link": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "img_url" : tdli_more_url_text,
    "card_title":tdli_title,
    "card_button_content":tdli_more_url_text,
    "card_body": tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load,
    "card_modifiers":[cta_card_bg],
  }
  %}
{% endif %}
{% if tdli_variation|render =="Default with Background" %}
  {% include "@molecules/card/01-card/card.twig" with {
    "card_base_class":"card card--bg",
    "card_link_url": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "img_url" : tdli_more_url_text,
    "card_title":tdli_title,
    "card_link_text":tdli_more_url_text,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load
  }
  %}
{% endif %}
{% if tdli_variation|render =="Default Card" %}

{% if content.field_grid_file_upload['#items'] %}
  {% for item in content.field_grid_file_upload['#items'] %}
  <div class="cdp-download  file--application-pdf card">
    <a class="link link--cta-link" target='_blank' href="{{ file_url(item.entity.uri.0.value) }}">{{ item.description }}</a>
  </div>
  {% endfor %}
{% endif %}
  {% include "@molecules/card/01-card/card.twig" with {
    "card_link_url": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "card_title":tdli_title,
    "card_link_text":tdli_more_url_text,
    "card_body":tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load
  }
  %}
{% endif %}
{% if tdli_variation|render =="Stacked Image Right" %}
  {% include "@molecules/card/02-card-cover/card-cover.twig" with {
    "card_cover_modifiers" : "stacked-right",
    "card_title_link": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "card_title":tdli_title,
    "card_button_content":tdli_more_url_text,
    "card_body":tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load,
    "card_modifiers":[cta_card_bg],
  }
  %}
{% endif %}
{% if tdli_variation|render =="Stacked Image Left" %}
  {% include "@molecules/card/02-card-cover/card-cover.twig" with {
    "card_cover_modifiers" : "stacked-left",
    "card_title_link": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "card_title":tdli_title,
    "card_button_content":tdli_more_url_text,
    "card_body":tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load,
    "card_modifiers":[cta_card_bg],
  }
  %}
{% endif %}
{% if tdli_variation|render =="Stacked Image Center" %}
  {% include "@molecules/card/02-card-cover/card-cover.twig" with {
    "card_cover_modifiers" : "stacked-center",
    "card_title_link": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "card_title":tdli_title,
    "card_button_content":tdli_more_url_text,
    "card_body":tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load,
    "card_modifiers":[cta_card_bg],
  }
  %}
{% endif %}
{% if tdli_variation|render =="Stacked Image Bottom" %}
   {% include "@molecules/card/02-card-cover/card-cover.twig" with {
    "card_cover_modifiers" : "stacked-bottom",
    "card_title_link": tdli_more_url,
    "card_img_src": tdli_image,
    "card_img_alt": tdli_image_alt,
    "img_url" : tdli_more_url_text,
    "card_title":tdli_title,
    "card_button_content":tdli_more_url_text,
    "card_body": tdli_desc,
    "card_img_mobile_src": tdli_mobile_image,
    "lazyload": lazy_load,
    "card_modifiers":[cta_card_bg],
  }
  %}
{% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %}
