<div class="grid">
  {% for item in gridItems %}
    <div class="grid-col-12 grid-col-sm-4 grid-col-md-4 grid-col-lg-4">
      <div class="three-grid-image">
        <picture>
          <source srcset="{{ item.imageSrc }}" media="(min-width: 768px)">
          <img srcset="{{ item.imageSrc }}" alt="{{ item.imageAlt }}">
        </picture>
      </div>
      <div class="three-grid-headline">
        {{ item.title|raw }}
      </div>
      <div class="three-grid-download">
        {% if item.download == 1 %}
          <a class="hover-underline" title="{{ item.imageAlt }}" href="{{ item.imageSrc }}">
            Download
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
