{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set img_src = file_url(data.image_uri) %}
{% set img_alt = data.image_alt %}
<div class="img_element {{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}">
  {% if content.field_grid_link_element.0['#url']!='' %}
    <div class='img-sec'><a class="" href="{{ content.field_grid_link_element.0['#url'] }}"><img src="{{img_src}}" href="{{ content.field_grid_link_element.0['#url'] }}" alt="{{ img_alt }}" class="grid-img" /></a></div>
    <div class="link-part"><a class="" href="{{ content.field_grid_link_element.0['#url'] }}">{{ content.field_grid_link_element.0['#title'] | raw }}</a></div>
  {% else %}
      <div class='img-sec'><img src="{{img_src}}" alt="{{ img_alt }}" class="grid-img" /></div>
  {% endif %}
</div>
