{% set video_title = content.field_video_headline %}
{% set video_subtitle = content.field_video_subheadline %}
{% set video_image = file_url(content.field_video_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set video_image_alt = content.field_video_image[0]['#media'].image.alt %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
	{% include "@organisms/video-banner/video-banner.twig" with {
		"video_poster_url": video_image,
		"video_banner_title": video_title,
		"video_banner_subtitle": video_subtitle,
		"video_id" : youtube_id,
		"autoplay_video" : autoplay_video,
		}
	%}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %}
