{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set countDownDate =  content.field_countdown_end_date['#items'].value|date('M d,Y H:i:s')  %}
<div class="timer_wrap"><ul id="timer"></ul></div>

<script>

var countDownDate = new Date("{{ countDownDate }}").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var interval = countDownDate - now;

  var days = Math.floor(interval / (1000 * 60 * 60 * 24));
  var hours = Math.floor((interval % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((interval % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((interval % (1000 * 60)) / 1000);

  document.getElementById("timer").innerHTML = "<li>" + days + "<span> days </span></li><li>" + hours + "<span> hours </span></li><li>" + minutes + "<span> minutes </span></li><li>" + seconds + "<span> seconds </span></li>";
    
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>