{% set title = content.field_content_subheadline[0]['#value'] ?? content.field_content_subheadline[0]['#text'] %}
{% set caption = content.field_content_headline[0]['#value'] ?? content.field_content_headline[0]['#text']%}
<div class="summary-card">
  <div class="summary-title">{{ title|raw }}</div>
  <div class="summary-caption">{{ caption|raw }}</div>
</div>
