{% set single_image_length = data.single_image_sliders|length %}
{% if single_image_length > 1 %}
  {% if data.autoplay == 1 %}
    {% set banner_carousel = "banner_carousel_noautopay" %}
  {% else %}
    {% set banner_carousel = "banner-carousel" %}
  {% endif %}
  {% set color_theme = "dark-theme" %}
{% else %}
  {% set content_position = data.single_image_sliders.0.content_position %}
  {% set color_theme = "dark-theme" %}
  {% set single_silder_image_url = data.single_image_sliders.0.single_silder_image_url %}
  {% set slider_link_url = data.single_image_sliders.0.slider_link_url %}
  {% set slider_link_content = data.single_image_sliders.0.slider_link_content %}
  {% set content_image = data.single_image_sliders.0.content_image %}
  {% set content_image_alt = data.single_image_sliders.0.content_image_alt %}
  {% set content = data.single_image_sliders.0.slider_image_desc %}
{% endif %}
{#
/**
 * Available variables:
 * - breadcrumb - List of breadcrumb links
 * - Image_src - URL for the image
 * - title - Title of the banner
 * - headline - Headline of the banner
 * - content - body copy (paragraph)
 * - disclaimer - (optional) disclaimer text
 * - buttons - (optional) array of buttons
 */
#}

{{ attach_library('brizo_theme/picturefill') }}

{% if banner_carousel %}
  {{ attach_library('brizo_theme/bannerCarousel') }}
{% endif %}

{% set banner_base_class = banner_base_class|default('banner ' ~ paragraphClass ) %}

<div {{ bem(banner_base_class, (banner_modifiers), banner_blockname) }} {% if paragraphId %}id="{{paragraphId}}"{% endif %}>

  {% if breadcrumb %}
    <div class="breadcrumb-block">
      {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
    </div>
  {% endif %}
  {% if banner_carousel %}
    <div class="{{banner_carousel}} single-image-slider nobanner__footer">
      {% for slide in data.single_image_sliders %}
        <div class="banner__wrapper {{color_theme}} {{slide.single_slider_video_paragraph_wrapper_class}}" {% if slide.single_slider_video_paragraph_wrapper_id %}id="{{slide.single_slider_video_paragraph_wrapper_id}}"{% endif %}>
          {% if slide.single_slider_video_uri is not null %}
          <div class="banner_video">
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": slide.single_slider_video_uri,
              "video_banner_src_mobile": slide.single_slider_video_uri_mobile,
              "video_banner_thumbnail": slide.single_slider_video_thumbnail,
              "video_banner_thumbnail_mobile": slide.single_slider_video_thumbnail_mobile,
              "video_banner_autoplay": slide.single_slider_video_autoplay,
              "video_banner_loop": slide.single_slider_video_loop,
              "video_banner_controls": slide.single_slider_video_controls,
              "video_banner_modal": slide.single_slider_video_modal,
              "video_banner_oembed_url": slide.single_slider_video_oembed_url,
              "video_banner_oembed_url_mobile": slide.single_slider_video_oembed_url_mobile,
              "video_banner_thumbnail_alt": slide.single_slider_video_thumbnail_alt,
              "video_banner_thumbnail_mobile_alt": slide.single_slider_video_thumbnail_mobile_alt,
            } %}
          {% else %}
          <div class="banner_img">
            <picture>
              <source srcset="{{ slide.single_silder_image_url }}" media="(min-width: 768px)">
              <img srcset="{{ slide.single_slider_mobile_url }}" alt="{{ slide.single_silder_image_alt }}">
            </picture>
          {% endif %}
          {% if slide.slider_image_desc is not empty and slide.content_position is empty %}
            <div class="banner__footer">
              {% if social_sharing %}
                <div class="social_sharing">
                  {% include "@atoms/01-links/link/link.twig" with {
                    "link_url": social_sharing.link_url,
                    "link_content": social_sharing.link_content,
                    "link_modifiers": social_sharing.link_modifiers,
                  } %}
                </div>
              {% endif %}

              {% if slide.slider_image_desc %}
                <div class="callout_here">
                  <h6>{{slide.slider_image_desc|raw}}</h6>
                  {% if callout_here.link_content %}
                    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                      "link_url": callout_here.link_url,
                      "link_content": callout_here.link_content,
                      "cta_link_modifiers": ["large"],
                    } %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
        {% endif %}
          {% if slide.content_position != "" %}
          <div class="grid-container banner__content">
            <div class="banner__content__flex {{slide.content_position}}">
              <div class="{{slide.overlay_bg}} banner__content_inner">
                {% if slide.page_title %}
                  <h1 class="banner__title">{{ slide.page_title }}</h1>
                {% endif %}
                {% if slide.slider_image_desc %}
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    "paragraph_content": slide.slider_image_desc,
                    "paragraph_base_class": content_base_class|default('banner__paragraph'),
                  } %}
                {% endif %}
                {% if slide.content_image %}
                  <div class="content_image_with_link">
                    <div class="content_image">
                      {% include "@atoms/04-images/00-image/responsive-image.twig" with {
                        "img_url": slide.slider_link_url|default(card_link_url),
                        "img_src": slide.content_image,
                        "img_alt": slide.content_image_alt,
                      } %}
                    </div>
                    {% if slide.slider_link_url %}
                      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                        "link_url": slide.slider_link_url,
                        "link_content": slide.slider_link_content,
                        "cta_link_modifiers": ["large"],
                      } %}
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="banner__wrapper {{color_theme}} {{slide.single_slider_video_paragraph_wrapper_class}}" {% if slide.single_slider_video_paragraph_wrapper_id %}id="{{slide.single_slider_video_paragraph_wrapper_id}}"{% endif %}>
      {% if slide.single_slider_video_uri is not null %}
        <div class="banner_video">
          {% include "@organisms/video-banner/video-background-banner.twig" with {
              "video_banner_src": slide.single_slider_video_uri,
              "video_banner_src_mobile": slide.single_slider_video_uri_mobile,
              "video_banner_thumbnail": slide.single_slider_video_thumbnail,
              "video_banner_thumbnail_mobile": slide.single_slider_video_thumbnail_mobile,
              "video_banner_autoplay": slide.single_slider_video_autoplay,
              "video_banner_loop": slide.single_slider_video_loop,
              "video_banner_controls": slide.single_slider_video_controls,
              "video_banner_modal": slide.single_slider_video_modal,
              "video_banner_oembed_url": slide.single_slider_video_oembed_url,
              "video_banner_oembed_url_mobile": slide.single_slider_video_oembed_url_mobile,
              "video_banner_thumbnail_alt": slide.single_slider_video_thumbnail_alt,
              "video_banner_thumbnail_mobile_alt": slide.single_slider_video_thumbnail_mobile_alt,
          } %}
      {% else %}
        <div class="banner_img">
          <picture>
            <source  srcset="{{ single_silder_image_url }}" media="(min-width: 768px)">
            <img srcset="{{ single_silder_image_url }}" alt="{{ content_image_alt }}">
          </picture>
      {% endif %}
      {% if content_position != "" %}
      <div class="grid-container banner__content">
        <div class="banner__content__flex {{content_position}}">
          <div class="{{overlay_bg}} banner__content_inner">
            {% if slider_link_url %}
              {% include "@atoms/01-links/link/link.twig" with {
                "link_url": slider_link_url,
                "link_content": slider_link_content,
                "link_modifiers": read_more.link_modifiers,
              } %}
            {% endif %}
            {% if content_image %}
              <div class="content_image_with_link">
                <div class="content_image">
                  {% include "@atoms/04-images/00-image/responsive-image.twig" with {
                    "img_url": slider_link_url|default(card_link_url),
                    "img_src": content_image,
                    "img_alt": content_image_alt,
                  } %}
                </div>
                {% if slider_link_url %}
                  {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                    "link_url": slider_link_url,
                    "link_content": slider_link_content,
                    "link_modifiers": content_image_link.link_modifiers,
                  } %}
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      </div>
    </div>
  {% endif %}
</div>
