{% set cta_card_image_position = content.field_image_position.0 %}
{% set cta_card_position = cta_card_image_position|render %}
{% set cta_card_title = content.field_card_headline %}
{% set cta_card_image = file_url(content.field_card_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set cta_card_image_alt = content.field_card_image[0]['#media'].image.alt %}
{% set cta_card_more_url = content.field_card_link.0["#url"] %}
{% set cta_card_more_url_text = content.field_card_link.0["#title"] %}
{% set cta_card_mobile_image = file_url (content.field_card_mobile_image[0]['#media'].field_media_image.entity.uri.value)%}
{% set cta_card_background = content.field_card_background.0 %}
{% set cta_card_bg = cta_card_background|render %}
{% set ll = content.field_lazy_load.0 %}
{% set lazy_load = 'lazy-load-off' %}
{% if ll|render == "true" %}
 {% set lazy_load = 'lazy-load-on' %}
{% endif %}

  {% include "@molecules/card/04-card-cta/card-cta.twig" with {
    "cta_card_position": cta_card_position,
    "card_img_src": cta_card_image,
    "card_img_alt": cta_card_image_alt,
    "card_cta_title":cta_card_title,
    "card_cta_link": cta_card_more_url,
    "card_cta_link_text":cta_card_more_url_text,
    "card_img_mobile_src": cta_card_mobile_image,
    "cta_card_bg": cta_card_bg,
    "cta_lazy_load": lazy_load
  }
  %}