{#
/**
 * @file
 * Default theme implementation to display a paragraph in Bootstrap Paragraphs.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('brizo_theme/youtube-view') }}
{{ attach_library('brizo_theme/youtube-player') }}


{# The template default set classes. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
VBP.bp_width_value.value
]
%}

{# No container by default. #}
{% set add_container = false %}

{# If gutter option were selected. #}
{% if VBP.bp_gutter.value %}
  {% set add_container = true %}
{% endif %}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'vbp-' ~ paragraph.id() %}

{# Sets Unique ID from Paragraph anchor ID if available. #}
{% set paragraph_id = 'vbp-' ~ paragraph.id() %}
{% if content.field_bp_anchor_id[0]['#context']['value'] %}
  {% set paragraph_id = content.field_bp_anchor_id[0]['#context']['value'] %}
{% endif %}

{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }}>
  {% if add_container %}<div class="container">{% endif %}
    <div class="row">
      <div class="{{- VBP.bp_width.value -}}">
        {% set attributes = attributes.removeClass('bg-edge2edge') %}

        {% set autoplay = (content.field_bp_video_autoplay.0['#markup']|trim != '') ? 1 : 0 %}
        {% set mute = (content.field_bp_video_muted.0['#markup']|trim != '') ? 1 : 0 %}
        {% set loop = (content.field_bp_video_loop.0['#markup']|trim != '') ? 1 : 0 %}
        {% set controls = (content.field_bp_video_show_controls.0['#markup']|trim != '') ? 1 : 0 %}
        {% set mute_button = (mute == 0) ? 'Mute' : 0 %}
        {% set text_class = '' %}

        <div class="video-desktop-display">
          {% if content.field_bp_video_desktop[0]['#media'].field_media_video_file.entity.uri.value %}
            {% set text_class = 'video-upload desktop-video-upload' %}
            <div class="video-desktop-upload">
              {% if autoplay != 1 %}  
                <img src="{{ base_path ~ directory }}/images/banner-video-play-icon.svg" class="video-upload-play-button" alt="Video Play" />             
              {% endif %}          
              <video
                poster={{ file_url(content.field_bp_video_desktop[0]['#media'].field_media_cover_image.entity.uri.value) }}
                {{ content.field_bp_video_autoplay.0['#markup']|trim }}
                {{ content.field_bp_video_loop.0['#markup']|trim }}
                {{ content.field_bp_video_muted.0['#markup']|trim }}
                {{ content.field_bp_video_show_controls.0['#markup']|trim }}
                playsinline
                preload="auto"
                >
                <source src={{ file_url(content.field_bp_video_desktop[0]['#media'].field_media_oembed_video.entity.uri.value) }} />
              </video>
            </div>
          {% else %}
            <div class="video-desktop-embed">
              {% if player_desktop == 'youtube' %}
                {% set text_class = 'video-embed-youtube desktop-video-embed-youtube' %}
                <div
                  id={{ "ytbg-desktop-" ~ paragraph_id }}
                  data-ytbg-muted={{mute}}
                  data-ytbg-autoplay={{autoplay}}
                  data-ytbg-loop={{loop}}
                  data-ytbg-controls={{controls}}
                  data-youtube={{content.field_bp_video_desktop.0['#media'].field_media_oembed_video.0.value}}
                >
                </div>
              {% else %}
                {% set text_class = 'video-embed-vimeo desktop-video-embed-vimeo' %}
                <div class="vimeo-wrapper">
                  <iframe
                    src={{content.field_bp_video_desktop.0['#media'].field_media_oembed_video.0.value ~ "?background=" ~ autoplay ~ "&autoplay=" ~ autoplay ~ "&loop=" ~ loop ~ "&playsinline=1&byline=0&title=0&controls=" ~ controls}}
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen>
                  </iframe>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="video-mobile-display">
          {% if content.field_bp_video_mobile[0]['#media'].field_media_oembed_video.entity.uri.value %}
          {% set text_class = text_class ~ ' mobile-video-upload' %}
            <div class="video-mobile-upload">
              {% if autoplay != 1 %}  
                <img src="{{ base_path ~ directory }}/images/banner-video-play-icon.svg" class="video-upload-play-button" alt="Video Play" />             
            {% endif %}               
              <video
                poster={{ file_url(content.field_bp_video_mobile[0]['#media'].field_media_cover_image.entity.uri.value) }}
                {{ content.field_bp_video_autoplay.0['#markup']|trim }}
                {{ content.field_bp_video_loop.0['#markup']|trim }}
                {{ content.field_bp_video_muted.0['#markup']|trim }}
                {{ content.field_bp_video_show_controls.0['#markup']|trim }}
                playsinline
                preload="auto"
                >
                <source src={{ file_url(content.field_bp_video_mobile[0]['#media'].field_media_oembed_video.entity.uri.value) }} />
              </video>
            </div>
          {% elseif content.field_bp_video_mobile.0 %}
            <div class="video-mobile-embed">
              {% if player_mobile == 'youtube' %}
                {% set text_class = text_class ~ ' mobile-video-embed-youtube' %}
                <div
                  id={{ "ytbg-mobile-" ~ paragraph_id }}
                  data-youtube={{content.field_bp_video_mobile.0['#media'].field_media_oembed_video.0.value}}
                  data-ytbg-muted={{mute}}
                  data-ytbg-autoplay=0
                  data-ytbg-loop={{loop}}
                  data-ytbg-controls={{controls}}
                  >
                </div>
              {% else %}
                {% set text_class = text_class ~ ' mobile-video-embed-vimeo' %}
                <div class="vimeo-wrapper">
                  <iframe
                    src={{content.field_bp_video_mobile.0['#media'].field_media_oembed_video.0.value ~ "?background=" ~ autoplay ~ "&autoplay=" ~ autoplay ~ "&loop=" ~ loop ~ "&playsinline=1&byline=0&title=0&controls=" ~ controls}}
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen>
                  </iframe>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        {% if content.field_bp_video_title.0 or content.field_bp_video_text.0 %}
          <div class="video-text-section {{ text_class }} ">
            <div class="video-text-section-contents">
              {% if content.field_bp_video_title.0 %}
                <p class="uppercase hs-line-7 h2 fg-{{ content.field_bp_background	.0 }}">{{ content.field_bp_video_title.0 }}</p>
              {% endif %}

              {% if content.field_bp_video_text.0 %}
                <div class="hs-line-8 fg-{{ content.field_bp_background	.0 }}">
                  {{ content.field_bp_video_text }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if paragraph.field_bp_scroll_down_icon.value == true %}
          <div class = "banner-scroll-down align-left">
            <span class="banner-scroll-down-bg"></span>
            <a class="fas fa-chevron-down banner-scroll-down-btn"></a>
          </div>
        {% endif %}
      </div>
    </div>
  {% if add_container %}</div>{% endif %}
</div>
