{% set imgPosition = content.field_section_image_position.0 %}
{% set imgName = content.field_section_image[0]['#media'].field_media_image.entity.uri.value %}
{% set imgSrc = file_url(content.field_section_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set ImgAlt = content.field_section_image[0]['#media'].field_media_image.alt %}
{% set cardContent = content.field_section_content.0  %}
{% set linkurl = content.field_call_to_actio.0['#url'] %}
{% set linktext = content.field_call_to_actio.0['#title'] %}
{% set CardType = content.field_alternate_card_type.0 %}
{% set contentfloat = content.field_content_float.0 %}
{% set method_suffix = random() %}
  {% if contentfloat|render == "Center"  %}
    {% set content_float = "align-center" %}
  {% elseif contentfloat|render == "Left" %}
    {% set content_float = "align-left" %}
  {% else %}
      {% set content_float = "align-right" %}
  {% endif %}
{% if CardType|render == 'Default' %}
  {% if imgPosition|render == 'Left' %}
    {%  set cardLeftClass,cardRightClass = 7,5 %}
  {% else %}
    {%  set cardLeftClass,cardRightClass = 5,7 %}
  {% endif %}
  <div class="grid vertical-align {{paragraphClass}}" {% if paragraphId %}id="{{paragraphId}}"{% endif %}>
      <div class="grid-col-lg-{{ cardLeftClass }} ">
        {% if cardLeftClass > cardRightClass %}
          {% if youtube_id %}
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_poster_url": video_image,
              "video_banner_title": video_title,
              "video_banner_subtitle": video_subtitle,
              "video_id" : youtube_id,
              "autoplay_video" : autoplay_video,
            }
            %}
          {% endif %}
          {% if video_url %}
            <div class="embedded-video-wrapper">
              <div class="video-banner-content">
                <img class="embedded-poster" src="{{ video_image }}" alt="{{ 'Thumbnail image'|t }}" />
                <img class="embedded-play-icon" alt="{{ 'Play icon'|t }}" onclick="myVideo{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" />
              </div>
              <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
            </div>
            <script>
              function myVideo{{ method_suffix }}() {
                //video-banner-content
                jQuery("#player").remove();
                document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'> <video width=\"854\" height=\"480\" controls>\n" +
                  "              <source src=\"{{ video_url }}\" type=\"video/mp4\">\n" +
                  "            </video></div>";
                jQuery(".video-banner-content").show();
              }
              </script>
          {% endif %}
          <!-- -->
          {% if youtube_idn or video_url_desktop %}
            <div class="video-alternate-card {{video_paragraph_wrapper_class}}" {% if video_paragraph_wrapper_id %}id="{{video_paragraph_wrapper_id}}"{% endif %}>
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": video_url_desktop,
              "video_banner_src_mobile": video_url_mobile,
              "video_banner_thumbnail": video_image,
              "video_banner_thumbnail_mobile": video_image_mobile,
              "video_banner_autoplay": autoplay_video,
              "video_banner_loop": loop_video,
              "video_banner_controls": video_controls,
              "video_banner_oembed_url": youtube_idn,
              "video_banner_modal": video_modal,
            } %}
            </div>
          {% endif %}
          <!-- -->
          {% if imgName %}
            <picture>
              <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
              <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
            </picture>
          {% endif %}
        {% else %}
          <div class="grid_card__content"> {{ cardContent|raw }} </div>
          {% if linkurl %}
            <a class="cta-link cta-link--large" href ="{{ linkurl }}" aria-label="{{ linktext }}" title="{{ linktext }}" >{{ linktext }}</a>
          {% endif %}
        {% endif %}
      </div>
      <div class="grid-col-lg-{{ cardRightClass }}">
        {% if cardLeftClass < cardRightClass %}
          {% if youtube_id %}
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_poster_url": video_image,
              "video_banner_title": video_title,
              "video_banner_subtitle": video_subtitle,
              "video_id" : youtube_id,
              "autoplay_video" : autoplay_video,
            }
            %}
          {% endif %}
          {% if video_url %}
            <div class="embedded-video-wrapper">
              <div class="video-banner-content">
                <img class="embedded-poster" src="{{ video_image }}" alt="{{ 'Thumbnail image'|t }}" />
                <img class="embedded-play-icon" alt="{{ 'Play icon'|t }}" onclick="myVideo{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" />
              </div>
              <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
            </div>
            <script>
              function myVideo{{ method_suffix }}() {
                //video-banner-content
                jQuery("#player").remove();
                document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'> <video width=\"854\" height=\"480\" controls>\n" +
                  "              <source src=\"{{ video_url }}\" type=\"video/mp4\">\n" +
                  "            </video></div>";
                jQuery(".video-banner-content").show();
              }
            </script>
          {% endif %}
          <!-- -->
          {% if youtube_idn or video_url_desktop %}
            <div class="video-alternate-card {{video_paragraph_wrapper_class}}" {% if video_paragraph_wrapper_id %}id="{{video_paragraph_wrapper_id}}"{% endif %}>
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": video_url_desktop,
              "video_banner_src_mobile": video_url_mobile,
              "video_banner_thumbnail": video_image,
              "video_banner_thumbnail_mobile": video_image_mobile,
              "video_banner_autoplay": autoplay_video,
              "video_banner_loop": loop_video,
              "video_banner_controls": video_controls,
              "video_banner_oembed_url": youtube_idn,
              "video_banner_modal": video_modal,
            } %}
            </div>
          {% endif %}
          <!-- -->
        {% if imgName %}
            <picture>
              <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
              <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
            </picture>
        {% endif %}
        {% else %}
          <div class="grid_card__content"> {{ cardContent|raw }} </div>
          {% if linkurl %}
            <a class="cta-link cta-link--large" href ="{{ linkurl }}" aria-label="{{ linktext }}" title="{{ linktext }}" >{{ linktext }}</a>
          {% endif %}
        {% endif %}
      </div>
  </div>
{% elseif CardType|render == 'Content Right' %}
<div class="grid {{paragraphClass}}" {% if paragraphId %}id="{{paragraphId}}"{% endif %}>
  <div class="grid-col-12 grid-col-lg-5 {{ desktop }}">
       {% if youtube_id %}
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_poster_url": video_image,
              "video_banner_title": video_title,
              "video_banner_subtitle": video_subtitle,
              "video_id" : youtube_id,
              "autoplay_video" : autoplay_video,
            }
            %}
       {% endif %}
      {% if video_url %}
        <div class="embedded-video-wrapper">
          <div class="video-banner-content">
            <img class="embedded-poster" src="{{ video_image }}" alt="{{ 'Thumbnail image'|t }}" />
            <img class="embedded-play-icon" alt="{{ 'Play icon'|t }}" onclick="myVideo{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" />
          </div>
          <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
        </div>
        <script>
          function myVideo{{ method_suffix }}() {
            //video-banner-content
            jQuery("#player").remove();
            document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'> <video width=\"854\" height=\"480\" controls>\n" +
              "              <source src=\"{{ video_url }}\" type=\"video/mp4\">\n" +
              "            </video></div>";
            jQuery(".video-banner-content").show();
          }
        </script>
      {% endif %}
        <!-- -->
          {% if youtube_idn or video_url_desktop %}
            <div class="video-alternate-card {{video_paragraph_wrapper_class}}" {% if video_paragraph_wrapper_id %}id="{{video_paragraph_wrapper_id}}"{% endif %}>
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": video_url_desktop,
              "video_banner_src_mobile": video_url_mobile,
              "video_banner_thumbnail": video_image,
              "video_banner_thumbnail_mobile": video_image_mobile,
              "video_banner_autoplay": autoplay_video,
              "video_banner_loop": loop_video,
              "video_banner_controls": video_controls,
              "video_banner_oembed_url": youtube_idn,
              "video_banner_modal": video_modal,
            } %}
            </div>
          {% endif %}
          <!-- -->
        {% if imgName %}
        <picture>
          <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
          <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
        </picture>
        {% endif %}
  </div>
  <div class="grid-col-12 grid-col-lg-7">
      {{ cardContent|raw }}
      {% if linkurl %}
        <a class="cta-link cta-link--large" href ="{{ linkurl }}" aria-label="{{ linktext }}" title="{{ linktext }}">{{ linktext }}</a>
      {% endif %}
    </div>
  </div>
{% elseif CardType|render == 'Content Left' %}
  <div class="grid {{paragraphClass}}"  {% if paragraphId %}id="{{paragraphId}}"{% endif %}>
    <div class="grid-col-12 grid-col-lg-7">
      {{ cardContent|raw }}

      {% if linkurl %}
      <a class="cta-link cta-link--large" href ="{{ linkurl }}" aria-label="{{ linktext }}" title="{{ linktext }}">{{ linktext }}</a>
      {% endif %}
    </div>
    <div class="grid-col-12 grid-col-lg-5 {{ dsktop }}">
      {% if youtube_id %}
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_poster_url": video_image,
              "video_banner_title": video_title,
              "video_banner_subtitle": video_subtitle,
              "video_id" : youtube_id,
              "autoplay_video" : autoplay_video,
            }
            %}
      {% endif %}
      {% if video_url %}
        <div class="embedded-video-wrapper">
          <div class="video-banner-content">
            <img class="embedded-poster" src="{{ video_image }}" alt="{{ 'Thumbnail image'|t }}" />
            <img class="embedded-play-icon" alt="{{ 'Play icon'|t }}" onclick="myVideo{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" />
          </div>
          <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
        </div>
        <script>
          function myVideo{{ method_suffix }}() {
            //video-banner-content
            jQuery("#player").remove();
            document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'> <video width=\"854\" height=\"480\" controls>\n" +
              "              <source src=\"{{ video_url }}\" type=\"video/mp4\">\n" +
              "            </video></div>";
            jQuery(".video-banner-content").show();
          }
        </script>
      {% endif %}
      <!-- -->
          {% if youtube_idn or video_url_desktop %}
            <div class="video-alternate-card {{video_paragraph_wrapper_class}}" {% if video_paragraph_wrapper_id %}id="{{video_paragraph_wrapper_id}}"{% endif %}>
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": video_url_desktop,
              "video_banner_src_mobile": video_url_mobile,
              "video_banner_thumbnail": video_image,
              "video_banner_thumbnail_mobile": video_image_mobile,
              "video_banner_autoplay": autoplay_video,
              "video_banner_loop": loop_video,
              "video_banner_controls": video_controls,
              "video_banner_oembed_url": youtube_idn,
              "video_banner_modal": video_modal,
            } %}
            </div>
          {% endif %}
          <!-- -->
      {% if imgName %}
        <picture>
          <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
          <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
        </picture>
      {% endif %}
    </div>
  </div>
{% elseif CardType|render == 'Equal Card' %}
  {% if imgPosition|render == 'Left' %}
    <div class="grid vertical-align {{paragraphClass}}" {% if paragraphId %}id="{{paragraphId}}"{% endif %}>
      <div class="grid-col-lg-6">
        {% if youtube_id %}
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_poster_url": video_image,
              "video_banner_title": video_title,
              "video_banner_subtitle": video_subtitle,
              "video_id" : youtube_id,
              "autoplay_video" : autoplay_video,
            }
            %}
        {% endif %}
        {% if video_url %}
          <div class="embedded-video-wrapper">
            <div class="video-banner-content">
              <img class="embedded-poster" src="{{ video_image }}" alt="{{ 'Thumbnail image'|t }}" />
              <img class="embedded-play-icon" alt="{{ 'Play icon'|t }}" onclick="myVideo{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" />
            </div>
            <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
          </div>
          <script>
            function myVideo{{ method_suffix }}() {
              //video-banner-content
              jQuery("#player").remove();
              document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'> <video width=\"854\" height=\"480\" controls>\n" +
                "              <source src=\"{{ video_url }}\" type=\"video/mp4\">\n" +
                "            </video></div>";
              jQuery(".video-banner-content").show();
            }
          </script>
        {% endif %}
          <!-- -->
          {% if youtube_idn or video_url_desktop %}
            <div class="video-alternate-card {{video_paragraph_wrapper_class}}" {% if video_paragraph_wrapper_id %}id="{{video_paragraph_wrapper_id}}"{% endif %}>
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": video_url_desktop,
              "video_banner_src_mobile": video_url_mobile,
              "video_banner_thumbnail": video_image,
              "video_banner_thumbnail_mobile": video_image_mobile,
              "video_banner_autoplay": autoplay_video,
              "video_banner_loop": loop_video,
              "video_banner_controls": video_controls,
              "video_banner_oembed_url": youtube_idn,
              "video_banner_modal": video_modal,
            } %}
            </div>
          {% endif %}
          <!-- -->
          {% if imgName %}
          <picture>
            <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
            <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
          </picture>
          {% endif %}
      </div>
      <div class="grid-col-lg-6 {{ content_float }} intro-content">
          {{ cardContent|raw }}
          {% if linkurl %}
            <a class="cta-link cta-link--large" href ="{{ linkurl }}" aria-label="{{ linktext }}" title="{{ linktext }}">{{ linktext }}</a>
          {% endif %}
      </div>
    </div>
  {% endif %}
  {% if imgPosition|render == 'Right' %}
    <div class="grid vertical-align {{paragraphClass}}" {% if paragraphId %}id="{{paragraphId}}"{% endif %}>
      <div class="grid-col-lg-6 {{ content_float }} intro-content">
        {{ cardContent|raw }}
        {% if linkurl %}
          <a class="cta-link cta-link--large" href ="{{ linkurl }}" aria-label="{{ linktext }}" title="{{ linktext }}">{{ linktext }}</a>
        {% endif %}
      </div>
      <div class="grid-col-lg-6">
        {% if youtube_id %}
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_poster_url": video_image,
              "video_banner_title": video_title,
              "video_banner_subtitle": video_subtitle,
              "video_id" : youtube_id,
              "autoplay_video" : autoplay_video,
            }
            %}
          {% endif %}
        {% if video_url %}
          <div class="embedded-video-wrapper">
            <div class="video-banner-content">
              <img class="embedded-poster" src="{{ video_image }}" alt="{{ 'Thumbnail image'|t }}" />
              <img class="embedded-play-icon" alt="{{ 'Play icon'|t }}" onclick="myVideo{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" />
            </div>
            <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
          </div>
          <script>
            function myVideo{{ method_suffix }}() {
              //video-banner-content
              jQuery("#player").remove();
              document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'> <video width=\"854\" height=\"480\" controls>\n" +
                "              <source src=\"{{ video_url }}\" type=\"video/mp4\">\n" +
                "            </video></div>";
              jQuery(".video-banner-content").show();
            }
          </script>
        {% endif %}
        <!-- -->
          {% if youtube_idn or video_url_desktop %}
            <div class="video-alternate-card {{video_paragraph_wrapper_class}}" {% if video_paragraph_wrapper_id %}id="{{video_paragraph_wrapper_id}}"{% endif %}>
            {% include "@organisms/video-banner/video-banner-background.twig" with {
              "video_banner_src": video_url_desktop,
              "video_banner_src_mobile": video_url_mobile,
              "video_banner_thumbnail": video_image,
              "video_banner_thumbnail_mobile": video_image_mobile,
              "video_banner_autoplay": autoplay_video,
              "video_banner_loop": loop_video,
              "video_banner_controls": video_controls,
              "video_banner_oembed_url": youtube_idn,
              "video_banner_modal": video_modal,
            } %}
            </div>
          {% endif %}
        <!-- -->
        {% if imgName %}
        <picture>
          <source srcset="{{ imgSrc }}" media="(min-width: 768px)">
          <img srcset="{{ imgSrc }}" alt="{{ ImgAlt }}">
        </picture>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
