<div class="form-item form-item--radio">
  <legend class="heading-3">Switches</legend>
  <ul class="form-item--radios">
          <li class="form-item--radio__item">
  <div class="custom-input custom-input--switch">
  <input class="custom-input__native" type="checkbox"

      id="demo-switch-off"
    >
  <label class="custom-input__label" for="demo-switch-off">Off</label>
</div>
</li>
          <li class="form-item--radio__item">
  <div class="custom-input custom-input--switch">
  <input class="custom-input__native" type="checkbox"

      id="demo-switch-on"
      checked="checked"
    >
  <label class="custom-input__label" for="demo-switch-on">On</label>
</div>
</li>
          <li class="form-item--radio__item">
  <div class="custom-input custom-input--switch">
  <input class="custom-input__native" type="checkbox"

      id="demo-disabled"
      disabled="1"
    >
  <label class="custom-input__label" for="demo-disabled">Disabled</label>
</div>
</li>
      </ul>
</div>
