<div class="pdp-listing-variation-wrapper">
  <div class="pdp-listing-variation pdp-base-part">
    <div class="pdp-listing-variation-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": pdp_base_part_title,
      } %}
    </div>

    <div class="pdp-listing-variation-desc-wrapper">
      {% block list_content %}
        {% for pdp_bp_list in pdp_bp_lists %}

          <div class="pdp-listing-variation-desc">
            <div class="pdp-listing-variation-img">
              {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src": pdp_bp_list.image,
                "img_alt": pdp_bp_list.description,
              } %}
            </div>
            <div class="pdp-listing-variation-block">
              {% include "@molecules/pdp-product-info-header/pdp-product-info-header.twig" with {
                "pdp_model_name": pdp_bp_list.modelnumber,
                "pdp_prod_name": pdp_bp_list.description,
              } %}
              <div class="pdp-listing-prod-price">
               {% include "@atoms/pdp-page/pdp-product-price/pdp-product-price.twig" with {
                "pdp_prod_price": pdp_bp_list.listPrice,
               } %}
             </div>
            </div>
          </div>

        {% endfor %}
      {% endblock %}
    </div>
  </div>
</div>
