<script data-name="reload" data-src="/components/js/video-banner.js"></script>

<div class="grid-col-12 grid-col-sm-6 grid-col-md-5 grid-col-lg-5">
<div class="video-banner paragraph-component thumbnail_video">
  <div class="video-banner__content" style="background-image: url(../../images/Smarttouch_VideoThumbnail_608x34.jpg)">

    <button class="video-banner__play">
      


<i class="icon-play-path1 icon-play-path2"></i>
    </button>
        
    
  </div>

  
<div class="video">
      <iframe width='1280' height='720' src='https://www.youtube.com/embed/zQ1uq7ly6_k' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
  </div>
</div>
</div>