{{ attach_library('brizo_theme/video-banner') }}

<div class="grid-col-12 grid-col-sm-6 grid-col-md-5 grid-col-lg-5">
<div class="video-banner paragraph-component thumbnail_video">
  <div class="video-banner__content" style="background-image: url({{ video_poster_url }})">

    <button class="video-banner__play">
      {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: "icon-play-path1 icon-play-path2",
        } %}
    </button>
    {% if video_banner_title %}
      <h1 class="video-banner__title">{{ video_banner_title }}</h1>
    {% endif %}
    {% if video_banner_subtitle %}
    <p class="video-banner__subtitle">{{ video_banner_subtitle }}</p>
    {% endif %}

    
  </div>

  {% include "@atoms/08-video/video.twig" %}
</div>
</div>