{{ attach_library('delta_theme/sorting') }}


<div class="find-height">
  <div class="height">Pranali</div>
  <div class="height">When calling .height(value), the value can be either a string (number and unit) or a number. If only a number is provided for the value, jQuery assumes a pixel unit. If a string is provided, however, a valid CSS measurement must be provided for the height (such as 100px, 50%, or auto). Note that in modern browsers, the CSS height property does not include padding, border, or margin.</div>
  <div class="height">Pranali</div>
  <div class="height">When calling .height(value), the value can be either a string (number and unit) or a number. If only a number is provided for the value, jQuery assumes a pixel unit. If a string is provided, however, a valid CSS measurement must be provided for the height (such as 100px, 50%, or auto). Note that in modern browsers, the CSS height property does not include padding, border, or margin.</div>
  <div class="height">Pranali</div>
</div>
<div class="more-height"> More </div>

<div class="product-filter__section__body">
  <div class="filter-container autosort">

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="4">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles">
        Forth
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="2">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles1" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles1">
        Second
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="3">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles2" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles2">
        Third
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="1">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles3" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles3">
        First
      </label>
    </div>

  </div>

  <div class="product-filter-more"> More </div>

</div>


<div class="product-filter__section__body">
  <div class="filter-container autosort">

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="4">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles">
        Forth
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="2">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles1" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles1">
        Second
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="3">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles2" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles2">
        Third
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="1">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles3" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles3">
        First
      </label>
    </div>

  </div>

  <div class="product-filter-more"> More </div>

</div>

<div class="product-filter__section__body">
  <div class="filter-container autosort">

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="4">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles">
        Forth
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="2">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles1" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles1">
        Second
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="3">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles2" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles2">
        Third
      </label>
    </div>

    <div class="custom-input custom-input--checkbox" id="container-twohandles" data-position="1">
      <input class="custom-input__native facets-checkbox" data-filter="facetHandle" type="checkbox" id="twohandles3" value="twohandles" weight="0">
      <label title="" class="custom-input__label" for="twohandles3">
        First
      </label>
    </div>

  </div>

  <div class="product-filter-more"> More </div>

</div>
