<ul class="sg-colors">
      <li>
      <div class="sg-colors__sample" style="background: #fff;"></div>
      <div class="sg-info">
        <span>#fff</span> <br/>
        <code>$white</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #000;"></div>
      <div class="sg-info">
        <span>#000</span> <br/>
        <code>$black</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #b00020;"></div>
      <div class="sg-info">
        <span>#b00020</span> <br/>
        <code>$notification-error</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #4e9051;"></div>
      <div class="sg-info">
        <span>#4e9051</span> <br/>
        <code>$notification-success</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #3d6cca;"></div>
      <div class="sg-info">
        <span>#3d6cca</span> <br/>
        <code>$notification-neutral</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #c38100;"></div>
      <div class="sg-info">
        <span>#c38100</span> <br/>
        <code>$notification-warning</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #ffe2e7;"></div>
      <div class="sg-info">
        <span>#ffe2e7</span> <br/>
        <code>$notification-error-light</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #d7ffd9;"></div>
      <div class="sg-info">
        <span>#d7ffd9</span> <br/>
        <code>$notification-success-light</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #dce8ff;"></div>
      <div class="sg-info">
        <span>#dce8ff</span> <br/>
        <code>$notification-neutral-light</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #fff1d5;"></div>
      <div class="sg-info">
        <span>#fff1d5</span> <br/>
        <code>$notification-warning-light</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #141415;"></div>
      <div class="sg-info">
        <span>#141415</span> <br/>
        <code>$gray-10</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #383434;"></div>
      <div class="sg-info">
        <span>#383434</span> <br/>
        <code>$gray-20</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #827e7c;"></div>
      <div class="sg-info">
        <span>#827e7c</span> <br/>
        <code>$gray-30</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #b5b3b1;"></div>
      <div class="sg-info">
        <span>#b5b3b1</span> <br/>
        <code>$gray-40</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #dddbda;"></div>
      <div class="sg-info">
        <span>#dddbda</span> <br/>
        <code>$gray-60</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #f2f2f2;"></div>
      <div class="sg-info">
        <span>#f2f2f2</span> <br/>
        <code>$gray-90</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #dddbda;"></div>
      <div class="sg-info">
        <span>#dddbda</span> <br/>
        <code>$filter-background</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #e7e7e7;"></div>
      <div class="sg-info">
        <span>#e7e7e7</span> <br/>
        <code>$input-border-color</code>
      </div>
    </li>
  </ul>
  <p> <small>To add to these items, use Sass variables that start with &lt;code&gt;$&lt;/code&gt; in &lt;code&gt;.//components/_patterns/00-base/global/01-colors/_color-vars.scss&lt;/code&gt;</small> </p>
