<div class="search-box-block">
  <div class="pr-search-input-wrapper">
    <input type="text" name="" value="" placeholder="Search" class="pr-search-input" />
  </div>
  <div class="search-radio-block">
    <div class="form-item form-item--radio">
      <ul class="form-item--radios">
        {% for search_radio in search_radios %}
          {% include "@atoms/05-forms/radio/_radio-item.twig" with {
            label: search_radio.sr_label,
            attributes: search_radio.sr_attribute,
            name: search_radio.sr_name,
          } %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
