.authorized-online-resellers-page {
  .grid {
    p {
      word-break: break-all;
    }

    > div {
      @include maxbp($large) {
        flex: 0 0 100%;
        max-width: 100%;

        .clear {
          display: none;
        }
      }
    }
  }
}
