.sustainability-full-text {
  margin: $space+15 0 0;

  .hr-light {
    margin: $space+35 0;
    border-width: 2px 0 0;
    color: $gray-10;
  }
}

.innovation-related-title {
  font-family: $font-heading;
  font-size: 40px;
  line-height: 48px;
  color: $gray-30;
  margin: 0 0 25px;
  text-transform: uppercase;
  letter-spacing: 8px;

  @include maxbp($large) {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 3.2px;
  }
}

.sustanabilty-block {
  display: block;

  .sustanabilty-img {
    margin: 0 0 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid $gray-20;

    img {
      width: 100%;
    }
  }

  .sustanability-title {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $gray-20;
    display: block;
    text-transform: uppercase;
    font-family: $font-body;

    a {
      font-size: 14px;
      line-height: 20px;
      color: $gray-20;
      display: block;
      text-transform: none;
      text-decoration: none;
      font-family: $font-body;

      &:hover {
        color: $gray-30;
      }
    }
  }

  .sustanability-data {
    margin: 12px 0 0;
    font-size: 14.22px;
    line-height: 17.78px;

    p {
      margin: 0;
      font-size: 14.22px;
      line-height: 17.78px;
    }
  }
}

/*
.sustainability-text,
.sustainability-image {
  padding: 0;

  @include maxbp($r_1000) {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    padding: 0 !important;
  }
}

.sustainability-image {
  max-width: 45%;
  flex: 0 0 45%;

  @include maxbp($r_1000) {
    img {
      width: 100%;
    }
  }
}

.sustainability-text {
  padding: 0 25px 0 0;
  max-width: 55%;
  flex: 0 0 55%;

  p {
    margin: 0 0 25px;
    line-height: 30px;
  }
}

.sustanabilty-block {
  > div {
    margin: 0 0 15px;

    @include maxbp($r_1000) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

.sustanabilty-left {
  width: 150px;
  display: inline-block;
  vertical-align: middle;

  @include maxbp(1360px) {
    vertical-align: top;
  }
}

.sustanability-body {
  width: calc(100% - 170px);
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 20px;

  h5 {
    margin: 0;

    a {
      p {
        font-weight: none;
        text-transform: none;

        &:first-child {
          font-weight: bold;
          text-transform: uppercase;

          @include maxbp(1360px) {
            margin: 5px 0;
          }
        }
      }
    }
  }

  a {
    color: $gray-20;
    font-family: $font-condensed;
    text-decoration: none;
    font-size: 17px;

    h5 {
      margin: 0 0 0;
      font-size: 20px;
    }
  }
}

.innovation-content,
.page-node-type-innovations {
  @include maxbp($large) {
    .layout--twocol-section.layout--twocol-section--50-50 .layout__region {
      flex: 0 0 100%;

      .sustanabilty-left.sustanability-middle {
        vertical-align: middle;
      }
    }
  }
}
*/
