.company-block-wrapper {
  > div {
    padding: 0;
  }

  .company-block {
    > div {
      padding: 0;
      border-right: 1px solid $gray-60;

      @include maxbp($r_1000) {
        max-width: 100%;
        flex: 0 0 100%;
        border: none;
        padding: 0 0 40px !important;
        border-bottom: 1px solid #e7e7e7 !important;
        margin: 0 0 40px;
      }

      &:nth-child(2n) {
        border: none;
        padding: 0 0 0 30px;
      }

      &:nth-child(2n+1) {
        padding: 0 30px 0 0;
      }

      h2 {
        font-family: $font-condensed;
        font-weight: 200;
      }

      a {
        font-family: $font-condensed;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0 0 25px;
      line-height: 30px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .hr-light {
    //margin: $space*5 0;
    margin: 50px 0;

    @include maxbp($r_1000) {
      display: none;
    }
  }
}
