.company-email-page {
  .h1.page-title {
    //font-size: 25px;
    //margin: 0 0 55px;
    //line-height: 35px;
    //border-bottom: 1px solid #bababa;
    //padding: 0 0 10px;
  }

  .roiformbody.grid {
    @include breakpoint($large) {
      margin: 0 -16px;
    }
  }

  .roiformbuttonbox input {
    margin: 0 10px 0 0;
  }
}
