.about-brizo {
  .grid {
    margin: 0 0 $space+15;
  }

  .content-left,
  .image-right,
  .content-right,
  .image-left {
    @include maxbp($r_1000) {
      max-width: 100% !important;
      flex: 0 0 100% !important;
      padding: 0 !important;
    }
  }

  .image-left {
    @include maxbp($r_1000) {
      display: none;
    }
  }

  .content-left,
  .image-left {
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0;
  }

  .image-right,
  .content-right {
    max-width: 52%;
    flex: 0 0 52%;
    padding: 0 0 0 50px;
  }

  .image-left,
  .image-right {
    img {
      width: 100%;
    }
  }

  .content-left,
  .content-right {
    p {
      margin: 0 0 24px;

      @include maxbp($large) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        color: $gray-20;
        font-family: $font-body;
      }
    }
  }
}
