.upload-input {
  display: block;
  padding: 10px 0;
  margin: 0 !important;
  min-height: 62px;

  .upload-input__label {
    padding: 0;
    top: 10px !important;
    left: 0 !important;

    span {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: $gray-30;
      font-family: $font-body;
    }
  }
}

.contact-us-pageblock {
  .webform-submission-contact-us-add-form {
    .date_format.form-select {
      border: none;
      border-bottom: 3px solid $filter-background;
    }

    .form-item__select {
      padding-bottom: 5px;
      padding-left: 0;
      border-bottom: 3px solid $filter-background;
      height: 59px;
    }
  }

  article {
    .text-long {
      & > p {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0;

        @include maxbp($large) {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0;
        }
      }

      li {
        @include maxbp($large) {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0;
        }
      }
    }
  }

  .button--disabled {
    display: none;
  }

  h1.h1 {
    margin: 0 0 20px 0;
  }

  h2.about-you {
    float: left;
    margin: 32px 0 0;
  }

  .required-field {
    float: right;
    margin: 32px 0 0;

    + hr {
      clear: both;
      display: none;
    }
  }

  .form-item--error .form-item__textfield,
  .form-item--error .form-text {
    border-bottom: 3px solid $notification-error !important;
  }

  .captcha-validate {
    height: 0;
    opacity: 0;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .captcha {
    padding-bottom: 0;
  }

  label[for=edit-recaptcha] {
    display: none;
  }

  .main-sidebar {
    .menu-item--active-trail {
      li {
        a {
          color: $gray-10;

          &.is-active {
            color: $gray-30;
          }
        }
      }
    }
  }
}

.hr-light.contact-us-border {
  margin: 40px 0 0;
}

.password-validation + .password-validation {
  display: none;
}

.webform-submission-contact-us-form {
  width: 100%;

  .form-item .container-inline {
    margin: 0;
  }

  @include large {
    width: 100%;
    max-width: 721px;
  }

  .captcha {
    padding-top: 50px;
  }

  .date_format {
    background: none;
  }

  .upload-input__native {
    opacity: 1;
    padding-left: 12px;
    position: relative;

    .button {
      padding: 8px 50px;
      position: absolute;
      left: 0;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      color: $white;
      font-family: $font-condensed;

      &:hover {
        background-color: $gray-20;
      }
    }

    .file--image {
      background-color: #f5f5f7;
      padding: 8px 12px;
      min-width: 138px;
      position: absolute;
      left: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 200px) !important;

      @include maxbp($medium) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
      }

      a {
        text-decoration: none;
        color: $gray-20;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        font-family: $font-body;
      }
    }

    .js-form-file {
      z-index: -1;
      opacity: 0;
    }

    .file-upload-js-error {
      display: block;
      font-size: 12px;
      margin-bottom: 10px;
      color: #b00020;
      position: relative;
      top: 52px;
      line-height: 20px;
      width: 100%;

      & + .js-form-file {
        top: -64px;
        z-index: 0;
        position: relative;
        left: -12px;

        @include maxbp($medium) {
          top: -40px;
        }
      }
    }
  }

  .upload-input {
    .form-item--error-message {
      font-size: 12px;
      position: relative;
      width: 100%;
      line-height: 1;
      top: 26px;
      left: 15px;
      font-weight: 200;
      padding-bottom: 10px;
    }
  }

  .form-item__label {
    //padding: 0.6em 0.6em 0 0.6em;
  }

  .form-item.has-focus {
    [for="edit-how-can-we-help-you-"] {
      left: 0;
    }
  }

  .form-item__select {
    background-position: right 24px;
  }

  @include large {
    .no-left-padding {
      padding-left: 0;

      & + .grid-col-lg-6 {
        padding-right: 0;
        padding-left: 16px;
      }
    }

    .form-actions {
      .button--primary {
        width: 154px;
        height: 60px;
      }
    }
  }

  @include maxbp($large) {
    .no-left-padding + .grid-col-lg-6,
    .no-left-padding {
      padding: 0;
    }
  }

  @include maxbp($medium) {
    .form-actions {
      .button--primary {
        width: 49%;
      }
    }
  }

  .form-item {
    width: 100%;
    margin: 0 0 32px;
  }

  span.field-prefix {
    position: static;
    font-family: $font-body;
    font-size: 16px;
  }

  .contact_heading_wrap {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    //border-top: 1px solid $gray-60;
    padding-top: 28px;

    .required-field {
      display: block;
      text-align: right;
      margin-top: -5px;
    }

    .contact-heading {
      h4 {
        margin: 0;
        font-size: 27.65px;
        letter-spacing: 0;
        line-height: 34.5px;
        color: $black;

        @include maxbp($medium) {
          font-size: 19px;
        }
      }
    }

    .form-item {
      margin-bottom: 19px;
    }
  }

  .product_information {
    font-family: $font-subheading;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    color: $gray-10;
    margin-bottom: 4px;
    text-transform: none;
  }
}

#ajax-wrapper,
#ajax-wrapper--2,
#ajax-wrapper--3 {
  .upload-input__native {
    display: block;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .webform-submission-contact-us-form {
    .upload-input__native .file--image {
      left: 200px;
    }

    textarea.form-item__textfield {
      margin-top: 93px;
    }
  }

  .form-item__textfield {
    padding: 30px 0 13px;
  }
}

.page-node-type-webform {
  .ajax-progress.ajax-progress-throbber {
    display: block;
    z-index: 100;
  }
}

.model-num-list {
  list-style: none;
  padding-left: 10px;
}

[for="edit-zip-postal"] {
  font-size: 15px;
  padding-right: 0;
  margin: 0;
}

.date_formate {
  padding: 0;
}

/* Common forms styles */

.vettis-registration,
.vettis-waitlist,
.newsletter,
.consumer-registration {
  .form-item__label {
    padding: 0;
    top: 22px;
  }

  .form-item__textfield,
  .form-text {
    line-height: 1;
  }
}

.photo-upload-wrapper {
  background-color: #f5f5f7;
  padding: 0 24px;

  @include maxbp($medium) {
    overflow-x: hidden;
  }

  & > div {
    padding: 14px 0;
    border-bottom: 1px solid $filter-background;

    &:last-child {
      border: 0 none;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  textarea.form-item__textfield {
    margin-top: 87px;
  }

  .form-item__textfield {
    padding: 30px 0 13px;
  }
}
