// CUstomer Registration Form
.consumer-registration {
  article {
    max-width: 66.66666667%;
    margin: 0 auto;

    .form-item {
      max-width: 100%;
      margin-bottom: 30px;
    }

    @include maxbp($large) {
      max-width: 100%;
    }
  }

  h3 {
    border-bottom: 1px solid $gray-60;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  .webform-button--submit[disabled] {
    background-color: $white;
    border-color: transparent;
    cursor: not-allowed;
  }

  .button--disabled[disabled] {
    opacity: 0.5;
    background-color: $white;
    border: 1px solid $gray-60;
    cursor: not-allowed;
  }

  .confirm-password + .confirm-password {
    display: none;
  }

  .form-item__select {
    background-position: right 24px;
  }

  .form-item--radio {
    .form-item__label {
      padding-left: 30px;
    }

    .form-item {
      margin-bottom: 30px;
    }
  }
}

.captcha {
  padding-bottom: 30px;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
