.shower {
  h2.card-cover__title {
    text-transform: capitalize;
    font-family: $font-subheading;
    letter-spacing: 5.76px;
    line-height: 48px;
  }

  .cover-card-body-wrapper {
    h2.card-cover__title {
      text-transform: capitalize;
      font-family: $font-condensed-bold;
      letter-spacing: 5.76px;
      line-height: 40px;

      .cta-link {
        font-size: 16px;
      }
    }
  }

  .page-comp-bottom {
    .cover-card-body-wrapper {
      @include breakpoint($large) {
        bottom: 64px;
      }

      h2.card-cover__title {
        text-transform: capitalize;
        font-family: $font-subheading;
        letter-spacing: 0;
        line-height: 40px;
      }

      .cta-link {
        font-size: 16px;
      }
    }
  }

  .layout.layout--onecol {
    .intro_section_text {
      @include breakpoint($large) {
        padding: 95px 0 150px 0;
      }

      @include maxbp($large) {
        padding: 40px 0 40px 0;
        margin: 0 auto;
      }

      p {
        font-family: $font-subheading;
        font-size: 24px;
        line-height: 32px;
        max-width: 975px;
        margin: 0 auto;
        position: relative;
      }
    }
  }

  .page-comp-top > .content-section {
    &.intro_section_text {
      position: relative;

      @include breakpoint($large) {
        padding: 95px 0 150px 0;
      }

      @include maxbp($large) {
        padding: 40px 0 40px 0;
        margin: 0 auto;
      }

      p {
        font-family: $font-domaine-text-regular;
        font-size: 20px;
        line-height: 32px;
        margin: 0 auto;
        position: relative;

        @include breakpoint($large) {
          max-width: 55%;
        }
      }

      h2.intro-text {
        font-family: $font-domaine-display-narrow-regular;
        font-size: 40px;
        line-height: 48px;
        color: $gray-10;
        margin: 0 0 1.5rem 0;
        text-transform: capitalize;
        letter-spacing: 0;
        position: relative;
        padding-bottom: 16px;

        &::after {
          background: $gray-30;
          width: 200px;
          left: 0;
          right: 0;
          position: absolute;
          bottom: 0;
          height: 2px;
          content: "";
          display: block;
          margin: auto;
        }
      }

      &::before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: transparent linear-gradient(180deg, #fff 0, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, #f2f2f2 100%);
        z-index: 0;
      }
    }
  }

  .card {
    .link--cta-link {
      &:after {
        content: "\e905";
        color: $gray-10;
      }
    }
  }

  .custom-shower-list {
    li {
      @include breakpoint($large) {
        a {
          display: block;
          position: relative;

          &:after {
            content: '+';
            display: flex;
            position: absolute;
            top: 26px;
            font-size: 25px;
            left: -16px;
          }
        }

        &:first-child {
          a {
            &:after {
              content: none;
            }
          }
        }

        &:nth-child(6) {
          a {
            &:after {
              content: none;
            }
          }
        }

        // &:nth-child(7) {
        //   a {
        //     &:after {
        //       content: none;
        //     }
        //   }
        // }

        @include maxbp($medium) {
          text-align: center;
        }
      }
    }
  }

  &.page-node-type-plp {
    .plp-wrapper {
      .grid.vertical-align {
        .grid-col-lg-7, .grid-col-lg-5 {
          h2 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 8px;

            & ~ p {
              font-size: 20px;
              line-height: 32px;
              letter-spacing: 0;
            }
          }
        }
        // .grid-col-lg-7 ~ .grid-col-lg-5 {
        //   padding-left: 32px;
        // }
        .grid_card__content {
          @include breakpoint($large) {
            padding: 0 65px 0 56px;
          }
        }
      }
    }

    .grid.vertical-align.system-component.system-details {
      // .grid-col-lg-7 ~ .grid-col-lg-5 {
      //   padding-left: 32px;
      // }
      z-index: 2;

      .grid-col-lg-6 {
        z-index: 1;

        &:first-child {
          @include breakpoint($large) {
            padding: 0 65px 0 45px;
          }
        }

        &:nth-child(2) {
          @include breakpoint($large) {
            padding: 0 65px 0 0;
          }

          @include maxbp($large) {
            img {
              margin: 0 auto;
            }
          }

          .content-section {
            &:nth-child(1) {
              @include breakpoint($large) {
                padding: 70px 0 0;
              }
            }

            p {
              margin-top: 22px;
              line-height: 26px;
            }
          }
        }
      }

      .grid-col-lg-6 ~ .content-section {
        @include breakpoint($large) {
          margin: 2rem 4rem 2rem 3rem;
          width: 100%;
        }

        .text-long {
          h3 {
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 2.2px;
            padding-bottom: 1rem;
            border-bottom: 2px solid $gray-10;
            margin-bottom: 30px;
          }
        }
      }

      .text-long, .content-section {
        h3 {
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 2.2px;
          text-transform: uppercase;
          color: $gray-10;
          padding-bottom: 1rem;
          border-bottom: 2px solid $gray-10;
        }
      }

      .list-components.cutom-shower-list {
        .content {
          span {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.07px;
            text-align: center;
            color: $gray-10;
          }
        }
      }
    }
  }

  .cdp-download {
    a {
      &:after {
        content: "\e905";
        color: #141415;
        font-size: 15px;
      }
    }

    @include breakpoint($large) {
      padding: 30px 0 0 64px;
      margin: 0;
      max-width: initial !important;
    }

    @include maxbp($large) {
      padding: 20px 0 40px 0;
      margin: 0;
    }
  }

  .listing-lazy-load {
    @include breakpoint($large) {
      padding: 0 64px 40px;
    }
    @include maxbp($large) {
      padding: 0 20px;
    }

    .views-field-field-shower-collection-summary {
      font-size: 14px;
      line-height: 20px;
    }

    .product_tile.product_tile--collection.product_tile--featured {
      border-bottom: 2px solid $gray-20;
      display: flex;
      justify-content: space-between;

      &:last-child {
        border: 0;
      }
    }
  }

  .page-comp-bottom {
    .content-section {
      h2.light-grey {
        color: $gray-30;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    .banner__title {
      text-transform: capitalize;
    }
  }

  .plp-wrapper {
    max-width: 100%;
    position: relative;
    padding: 0 0 80px 0;

    // &::after {
    //   position: absolute;
    //   background: #fff; /* Old browsers */
    //   background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    //   width: 100%;
    //   display: block;
    //   content: "";
    //   bottom: 0;
    //   height: 54px;
    //
    //   @include maxbp($main-menu-medium) {
    //     position: absolute;
    //     bottom: 0;
    //   }
    //
    //   @include maxbp($medium) {
    //     display: none;
    //   }
    // }
  }

  .page-comp-bottom,
  .page-comp-top {
    .content-section {
      h2.light-grey {
        color: $gray-30;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .cdp-block-title {
        @include breakpoint($large) {
          padding: 60px 0 !important;
          margin: 0 !important;
        }
      }
    }
  }

  .page-comp-top {
    .grid.vertical-align {
      &:last-child {
        padding-bottom: 64px;
      }
    }
  }

  h2.text-align-center:not(.underline) {
    text-align: center;
    margin: 96px 0 45px 0;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 8px;
    line-height: 48px;
    font-family: $font-heading;
    color: $gray-30;

    @include maxbp($large) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 5.76px;
      margin: 0 0 16px;
    }
  }

  h2.text-align-center {
    &.underline {
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $gray-30;
      display: inline-block;
      margin-top: 62px;
      color: $gray-30;

      & ~ p {
        margin-top: 6px;
        margin-bottom: 42px;
      }
    }
  }

  &.tempassure {
    .page-comp-top > .card ~ .content-section {
      &.intro_section_text {
        p {
          @include breakpoint($large) {
            max-width: 72%;
          }
        }
      }
    }
  }

  &.shower-packages {
    .page-comp-top > .content-section {
      &.intro_section_text {
        p {
          @include breakpoint($large) {
            max-width: 70%;
          }
        }
      }
    }
  }

  &.sensori {
    .page-comp-top > .card ~ .content-section {
      &.intro_section_text {
        p {
          @include breakpoint($large) {
            max-width: 79%;
          }
        }
      }
    }
  }

  .product_tile.product_tile--collection {
    .product-title {
      position: relative;
      border-bottom: 0;

      &::after {
        background: $gray-20;
        width: 92%;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        height: 1px;
        content: "";
        display: block;
        opacity: 1;
      }

      h3 {
        margin-bottom: 0;
      }
    }

    &.product_tile--featured {
      .product-data {
        .product-finish {
          .finish-thumbnail {
            @include breakpoint($large) {
              margin: -3px -3px 5px;
            }
          }
        }
      }
    }
  }

  &.shower-landing-page {
   .product_tile.product_tile--collection.product_tile--featured {
     &:last-child {
       border-bottom: 0;
     }
   }
  }

  &.essential-shower-series {
    .card__desc {
      padding: 70px 0 40px;
      margin: 0 auto;
      width: 85%;
    }

    .products-list {
      padding-bottom: 120px !important;

      .product-tiles {
        p {
          overflow-wrap: break-word;
        }
      }
    }

    .page-comp-top {
      .content-section {
        position: relative;
      }
    }
  }

  &.world-of-brizo {
    .banner_img img {
      border-bottom: 0;
    }

    .pull__quotes_wrapper {
      @include breakpoint($large) {
        padding: 60px;
      }

      & > p {
        max-width: 930px !important;
      }
    }
  }

  &.shower-collections-series-do-i-need-this {
    .layout__region--content > .block {
      &:first-child {
        .listing-lazy-load {
          padding-bottom: 0;

          .product_tile.product_tile--collection.product_tile--featured {
            border-bottom: 2px solid $gray-20;
          }
        }
      }
    }
  }

  &.spray-patterns {
    .intro_section_text {
      h2.text-align-center {
        font-family: $font-subheading;
        font-size: 40px;
        line-height: 48px;
        position: relative;
        letter-spacing: 0;
        text-transform: unset;
        color: $gray-10;
        padding-bottom: 16px;
        margin: 0 0 30px 0;

        &::after {
          background: $gray-30;
          width: 200px;
          left: 0;
          right: 0;
          position: absolute;
          bottom: 0;
          height: 2px;
          content: "";
          display: block;
          margin: auto;
        }
      }
    }
    .embedded-video-wrapper {
      iframe {
        @include breakpoint($large) {
          height: 780px;
        }
      }
    }
  }
}

.customshowers {
  .layout--threecol-section {
    .layout__region--first,
    .layout__region--second,
    .layout__region--third {
      flex: 0 1 33.33%;
      padding: 10px;

      @include maxbp($large) {
        flex: 0 1 100%;
        padding: 10px 0;
      }
    }
  }

  .card-cover {
    .cover-big-title-wrapper {
      h1.mega3-sans-serif {
        font-family: 'domaine-display-narrow-regular';
        text-transform: capitalize;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
        margin: 0 0 10px;
      }
    }
  }

  #block-brizo-theme-content {
    .card.intro-block {
      margin-top: 8rem;
      margin-bottom: 9rem;
    }

    .listing-lazy-load {
      @include breakpoint($large) {
        padding: 0 65px 80px 65px;
      }
    }

    .views-element-container {
      .views-col {
        .views-field-field-shower-collection-image ~ div {
          h3.h3 {
            font-family: 'domaine-display-narrow-regular';
            text-transform: capitalize;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0;
            padding-bottom: 1rem;
            border-bottom: 2px solid $gray-10;
          }
        }
      }
    }

    .layout--onecol {
      .content-section {
        text-align: center;
        &.left{
          text-align: left;
        }
        &.center{
          text-align: center;
        }

        a.shower-coll-explore.cta {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1.6px;
          color: $gray-10;
          text-decoration: none;
          position: relative;
          text-transform: uppercase;
          font-family: $font-condensed;
        }
      }

      h2.text-align-center:not(.underline) {
        text-align: center;
        margin: 96px 0 45px 0;
        font-weight: normal;
        font-size: 40px;
        letter-spacing: 8px;
        line-height: 48px;
        font-family: $font-heading;
        color: $gray-30;

        @include maxbp($large) {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: 5.76px;
          margin: 0 0 16px;
        }
      }

      h2.text-align-center {
        &.underline {
          padding-bottom: 0.5rem;
          border-bottom: 2px solid $gray-30;
          display: inline-block;
          margin-top: 96px;
          color: $gray-30;
          font-family: $font-heading;
          font-size: 40px;

          .cta-link {
            font-size: 20px;
            color: $gray-10;
          }

          & ~ p {
            margin-top: 6px;
            margin-bottom: 42px;
          }
        }
      }
    }
  }

  .layout--threecol-section.featured-cards {
    margin: 0 auto 80px;
    max-width: 1190px;
    padding: 0 20px;

    h2.card__title {
      a.card__title-link {
        font-family: $font-condensed;
        margin: 0;
        font-weight: normal;
        line-height: 26px;
        font-size: 22px;
        letter-spacing: 2.2px;
        color: $gray-10;
        text-transform: uppercase;

        strong {
          font-weight: normal;
        }

        sup {
          font-size: 0.5em;
          top: -0.75em;
        }
      }
    }

    .card__desc {
      p {
        font-size: 14px;
        line-height: 20px;
        margin: 8px 0 0;
        color: $gray-20;
        letter-spacing: $font-body;
      }

      a.card__link {
        @include no-underline;
        @include link;

        color: $gray-10;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        font-family: $font-condensed;
        display: inline-block;
        margin: 16px 0 0 -12px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.6px;

        &:hover {
          &::after {
            color: $gray-30;
          }
        }

        &::after {
          content: "\e901";
          font-family: $font-icon !important;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          font-size: 12px;
          transition: all ease 0.4s;
          color: $gray-10;
          padding-left: 5px;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  .card {
    text-align: center;

    .card__link {
      text-transform: uppercase;
      font-family: $font-condensed;
    }
  }

  .content-section {
    h2 {
      font-family: $font-condensed;
      font-weight: 200;
      font-size: 44px;
      margin-bottom: 15px;
      margin-top: 60px;
      line-height: 1.1;

      @include maxbp($large) {
        font-size: 38px;
      }

      a,
      u {
        text-decoration: none;
        border-bottom: 5px solid $gray-10;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    &.left{
      text-align: left;
    }
    &.center{
      text-align: center;
    }
  }

  .card-img-block {
    img {
      margin: 0 auto;
    }
  }

  .showering-components {
    h2 a,
    h2 u {
      color: $gray-20;
    }
  }
}

.custom-showers {
  article {
    width: 83.33333333%;
    margin: 0 auto;

    @include maxbp($large) {
      width: 100%;
    }
  }

  .layout--twocol-section {
    flex-wrap: inherit;

    @include maxbp($large) {
      flex-wrap: wrap;
    }

    .layout__region {
      padding: 15px;

      @include maxbp($large) {
        padding: 0;
        flex: 0 1 100%;
      }
    }
  }

  .list-components {
    display: table;

    li {
      vertical-align: top;
      display: table-cell;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;

      @include maxbp($medium) {
        display: inline-block;
        width: 48%;
        padding: 20px;

        .push-b {
          display: block;
          text-align: center;
        }
      }

      a {
        text-decoration: none;
        font-family: $font-condensed;
      }

      .plus {
        display: block;
        padding-top: 10px;
        font-size: 48px;
        font-weight: 200;
        color: $gray-60;
        font-family: $font-body;
      }
    }
  }

  .content-section {
    h3 {
      font-family: $font-condensed;
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 200;
    }

    a {
      font-family: $font-condensed;
    }

    h2 {
      font-family: $font-condensed;
      font-size: 29px;
      text-transform: uppercase;
      font-weight: 200;
      line-height: 1.2;

      strong {
        font-weight: bold;
      }
    }
  }
}

@include maxbp($medium) {
  .hidden-xs {
    display: none !important;
  }
}

.push-b {
  margin-bottom: 15px !important;
}

.shower-components {
  .content-section {
    .grid {
      margin-bottom: 20px;

      > div {
        padding: 0;

        @include maxbp($large) {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0 !important;
        }

        &:last-child {
          padding: 0 0 0 35px;
        }
      }

      h3 {
        font-family: $font-condensed;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  h1 {
    font-family: $font-condensed;
  }

  article {
    width: 83.33333333%;
    margin: 0 auto;

    @include maxbp($large) {
      width: 100%;
    }
  }
}

.custom-shower-middle {
  .grid-col-12 {
    margin: 0 auto;
    text-align: center;

    @include maxbp($large) {
      //padding: 0;
    }

    h2 {
      margin-top: 60px !important;
    }
  }

  .shower-text {
    font-family: $font-condensed;
    margin-top: 15px;
    text-transform: uppercase;
  }

  .shower-link {
    font-family: $font-condensed;
    text-transform: uppercase;
  }

  .shower-img {
    margin-top: 40px;

    img {
      margin: 0 auto;
    }
  }
}

.catalogs-and-brochures {
  .banner__content_inner {
    .banner__title {
      @include maxbp($large) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  .main {
    background: $gray-20;
  }

  .views-col {
    font-family: $font-condensed;
  }

  .views-field-title {
    text-transform: uppercase;
    font-family: $font-condensed;
    font-weight: 400;
    margin: 0 0 18.43px 0;
    word-break: break-word;
    color: $white;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;
  }

  .views-field-field-catalog-link {
    margin: 0 0 11px;
  }

  .views-field-field-catalog-link,
  .views-field-field-catalog-file {
    font-size: 16px;
    line-height: 19px;

    a {
      text-transform: uppercase;
      color: $white;
      text-decoration-color: transparent;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.6px;

      &::after {
        content: "\e901";
        font-family: $font-icon !important;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 11px;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        color: $white;
        padding-left: 5px;
      }

      &:hover {
        color: $gray-30;
        transition: all ease 0.3s;

        &::after {
          color: $gray-30;
        }
      }
    }
  }

  .views-field-field-catalog-thumbail,
  .views-field-field-catalog-file-1 {
    margin: 0 0 17.5px 0;
    align-items: center;
    display: flex;
  }

  .views-view-grid.horizontal {
    //padding: 20px 0;
    //padding: 20px 80px;
    margin: 0 -16px;

    .views-row {
      .views-col {
        @include maxbp($large) {
          width: 33.3%;
        }

        @include maxbp($medium) {
          width: 50% !important;
        }
      }
    }
  }

  .file--application-pdf {
    display: block;
    padding-top: 20px;
  }

  .catalog-title {
    margin: 0 auto;
    padding: 80px 0 40px;
    color: $white;
    display: block;
    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 39.81px;
    line-height: 48px;
    text-align: center;

    @include maxbp($medium) {
      font-size: 24px;
      line-height: 35px;
    }
  }

  &.advertising {
    h1.page-title {
      color: $white;
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
      padding: 70px 0 0;
      text-transform: none;
      font-family: $font-condensed;
      font-style: normal;
      line-height: 30px;

      @include maxbp($medium) {
        padding: 0;
      }
    }
  }

  .views-view-grid .views-col {
    width: 20%;
    padding: 0 16px 59px 16px;

    @include maxbp($medium) {
      padding: 0 16px 32px 16px;

      &:last-child,
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
  }

  &.logos {
    .catalog-logo {
      //height: 54px;
      //display: flex;
      //align-items: center;
    }

    .views-field-field-catalog-link {
      padding: 0;
      display: block;
      margin: 0;
    }
  }

  .views-view-grid .views-row {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0 0;

    @include maxbp($medium) {
      margin: 32px 0 0;
    }
  }

  .page-banner-wrapper {
    h1.banner__title {
      font-size: 64px;
      line-height: 72px;
      letter-spacing: 8.19px;
      font-family: $font-heading;
      text-transform: uppercase;

      @include maxbp($large) {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 5.76px;
        text-align: center;
      }
    }
  }
}

.shower-comp .main .layout--onecol img {
  border: 0px;
}

.world-of-brizo {
  &.page-node-type-landing-page {
    .layout--onecol {
      .pull__quotes_wrapper {
        h3.quote__content {
          p {
            font-family: $font-heading;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 8px;
            text-transform: uppercase;
          }
        }

        & > p {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
          font-family: $font-subheading;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0;
        }
      }
    }
  }

  .banner_img {
    img {
      border-bottom: 2px solid #fff;

      @include maxbp($tab-min) {
        border: 0 !important;
      }
    }
  }

  .main img {
    border: 2px solid $white;
    width: 100%;

    @include maxbp($large) {
      border: 0 !important;
    }
  }


  .layout--twocol-section--67-33 {
    @include breakpoint($r_1200) {
      &:last-child {
        .layout__region--first {
          border-left: 2px solid $white;
        }

        img {
          border-bottom: 3px solid $white;
        }
      }
    }

    .layout__region--first {
      flex: 0 1 58.4%;

      @include breakpoint($r_1200) {
        border-left: 1px solid $white;
      }

      @include maxbp($tab-min) {
        border: 0 !important;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 0 1 58%;
      }

      @include maxbp($large) {
        flex: 0 1 100%;
      }
    }

    .layout__region--second {
      flex: 0 0 41.6%;

      div {
        height: 100%;
      }

      @include maxbp($large) {
        flex: 0 1 100%;
      }
    }

    p {
      margin: 0;
      height: 100%;

      img {
        height: 100%;

        @include breakpoint($r_1200) {
          height: 100%;
          border-right: 3px solid $white;
        }
      }
    }
  }

  .layout--twocol-section--33-67 {
    .layout__region--first {
      flex: 0 0 41.65%;

      @include breakpoint($r_1200) {
        border-left: 1px solid $white;
      }

      @include maxbp($tab-min) {
        border: 0 !important;
      }

      @include maxbp($large) {
        flex: 0 1 100%;

        .card-cover-img {
          img {
            width: 100%;
          }
        }
      }

      .block,
      .card-cover,
      .card-cover-data,
      a,
      .card-cover-img,
      picture {
        height: 100%;

        @include breakpoint($r_1000) {
          width: 100%;
        }
      }

      @include breakpoint($r_1200) {
        img {
          height: 100%;
          border-left: 3px solid $white;
        }
      }
    }

    .layout__region--second {
      flex: 0 1 58.35%;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 0 1 58%;
      }

      @include maxbp($large) {
        flex: 0 1 100%;
      }

      img {
        @include breakpoint($r_1200) {
          border-right: 3px solid $white;
        }
      }
    }

    p {
      margin: 0;
    }
  }

  .card-cover {
    display: block;

    .cover-card-body-wrapper {
      & > a.cta-link {
        margin-top: 16px;

        &::after {
          content: "\e901";
          font-family: $font-icon !important;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          font-size: 11px;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
          color: $white;
        }

        &:hover {
          color: $gray-30;
          transition: all ease 0.3s;

          &::after {
            color: $gray-30;
          }
        }
      }
    }

    a {
      color: $white;
      font-family: $font-condensed;

      &.cover_card__button {
        //color: $gray-10;
        color: $white;
      }
    }

    &:hover {
      a {
        &.cover_card__button {
          color: $gray-10;
        }
      }
    }
  }

  .card-cover-img {
    //outline: 2px solid $white;
  }
}

.static-content-page {
  .main {
    padding: 45px !important;

    h1 {
      font-weight: 200;
      font-size: 37px;

      @include maxbp($large) {
        font-size: 29.6px;
      }
    }
  }

  .accent {
    color: $white;
  }

  .file--application-pdf {
    font-family: $font-condensed;
    text-decoration: none;
  }
}

.customshower-page {
  .main {
    padding: 0 !important;
  }

  .content-section h2 a {
    color: $black !important;
  }

  .layout__region.layout__region--content {
    padding: 0 !important;
  }

  .banner__title {
    p {
      margin: 0;
    }

    span {
      display: block;
      font-size: 20px;
      padding: 0 0 3px 15px;

      @include maxbp($large) {
        padding: 0 0 5px;
      }
    }
  }

  .cover-card-body-wrapper {
    h2.card-cover__title {
      font-size: 40px;
      line-height: 48px;
      font-family: $font-subheading;
      letter-spacing: 0;
    }
  }
}

.shower-components.custom-showers .content-section .custom-shower-middle .grid > div {
  padding: 0 !important;
}

.shower-components,
.pressure-balance-page,
.sensori-thermostatic-page,
.custom-showers-tempassure {
  .showering-components {
    h2 {
      text-decoration: none;
      color: #000;
      border-bottom: 5px solid #37c1cb;
      font-size: 32px;
      margin: 0;
      display: inline-block;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.pressure-balance-page,
.sensori-thermostatic-page,
.custom-showers-tempassure {
  article {
    width: 100%;
  }

  .content-section {
    h2 strong {
      font-weight: bold;
      display: inline-block;
    }

    ul {
      padding: 0 0 0 40px;

      li {
        margin: 0;
      }

      &.custom-shower-list {
        padding: 0;

        .push-b img {
          margin: 0 auto 10px;
        }

        @include maxbp($medium) {
          width: 100%;
          text-align: center;
        }

        span.content {
          color: #4c4c4c;

          a {
            color: #4c4c4c;
          }
        }
      }
    }
  }

  .custom-shower-middle {
    & > div {
      flex: 0 0 80%;
      max-width: 80%;
      padding: 0;
    }

    .shower-link {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.sensori-thermostatic-page {
  .cs-prod-req-desc {
    font-family: $font-condensed;

    span {
      font-style: italic;
      color: $gray-10;
    }
  }
}

.custom-showers-new-page .custom-shower-middle .grid .grid-col-12 {
  @include maxbp($large) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.shower-landing-page {
  .views-field-field-shower-collection-image {
    img {
      width: auto;
      height: 260px;
      object-fit: contain;
      margin-bottom: 1.5rem;
      @include maxbp($large) {
        height: auto;
      }
    }
  }
  .views-field-field-title-displayed- {
    h1 {
      text-align: center;
    }
  }
  .layout--threecol-section {
    justify-content: space-between;
    .card-img-block {
      picture {
        //max-height: 450px;
        //overflow-y: hidden;
        img {
          width: 100%;
          max-height: 342px;
        }
      }
    }
    .card__desc {
      padding: 1rem 2rem 2.5rem;
    }
  }
  .layout__region--content {
    .content-section {
      h2.text-align-center {
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
    }
    .views-view-grid.cols-4 {
      .views-row {
        .views-col {
          padding: 2rem;

          @include maxbp($medium) {
            width: 100% !important;
          }

          @include breakpoint($medium) {
            width: 50% !important;
          }

          @include breakpoint($r_1000) {
            width: 25% !important;
          }

          &:hover {
            box-shadow: 0 0 18px rgba(24, 25, 29, 0.2);
          }
        }
      }
    }
  }

  .triple-col-inline-card.layout--threecol-section--33-34-33 {
    //max-height: 510px;
    //overflow: hidden;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    .triple-col-inline-card-col1,
    .triple-col-inline-card-col2,
    .triple-col-inline-card-col3 {
      padding: 0;
    }

    .card-cover {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.layout__region.layout__region--content {
  .content-aligned {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.custom-shower-systems {
  .pull__quotes_wrapper {
    background-color: #FFF !important;

    h3.quote__content {
      p {
        font-family: $font-heading;
        color: $gray-10;
        font-style: normal;
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 10px;
      }
    }

    & > p {
      color: $gray-10;
      font-family: 'domaine-display-narrow-regular';
      font-size: 24px;
      line-height: 32px;
    }
  }

  .overlay_bg.banner__content_inner {
    h1.banner__title {
      p {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
        text-transform: capitalize;
      }
    }
  }
}

.pressure-balance {
  &.page-node-type-plp {
    .views-field-field-banner-region-content {
      h1.banner__title {
        p {
          max-width: 1100px;
        }
      }
    }
  }
}

.shower-system {
  .plp-block {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.shower-collection {
  .cdp-block-wrapper.shwr-collect-cnt-bkg-block {
    max-width: none;
    margin: 0;
    padding: 0;

    .cdp-content-background {
      padding: 0;
    }
  }

  .h2.cdp-block-title {
    @include breakpoint($large) {
      padding: 60px 0 40px;
      margin: 0 !important;
    }
  }

  .pull__quotes_wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 495px;

    h3 {
      font-family: $font-condensed-bold;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 8px;
      font-style: normal;
      max-width: none;
      margin: 0;
      padding-bottom: 53px;
    }

    .link--cta-link {
      font-family: $font-condensed-bold;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 3.6px;
      border-bottom: 1px solid $white;
      display: inline;
      padding-bottom: 15px;

      &:after {
        content: none;
      }
    }
  }

  .cdp-inspiration-block {
    .cdp-inspiration-text {
      padding-top: 20px;
    }
  }
}

.world-of-brizo {
  .pull__quotes_wrapper  {
    h3 {
      padding-bottom: 0;
    }
  }
}
