.design_gallery {
  &_list {
    margin-bottom: 40px;
  }

  &_title {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;
    margin-top: 8px;
    margin-bottom: 5px;
    color: $gray-10;
  }

  &_deisgned {
    display: block;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-family: $font-body;
    color: $gray-20;
  }

  &_link {
    color: $gray-20;
    text-decoration: none;
    font-family: $font-condensed;
    line-height: 21px;

    &:hover {
      .design_gallery_title {
        color: $gray-10;
      }
    }
  }

  &_img {
    height: 143px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#design-gallery-result {
  padding: 40px 0;

  .mobile-pagination {
    @include breakpoint($large) {
      display: none;
    }
  }

  @include maxbp($large) {
    padding: 32px 0;
  }

  .design-total {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    display: flex;
    align-items: center;
    font-family: $font-subheading;
    color: $gray-10;

    @include maxbp($large) {
      padding: 0;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0;
      color: $gray-20;
      text-align: center;
      font-family: $font-body;
    }

    @include maxbp(450px) {
      text-align: center;
      display: block;
      margin: 0 0 16px;
    }

    span {
      font-family: $font-subheading;
      font-size: 24px;
      letter-spacing: 0;
      line-height: 32px;
      margin-left: 10px;
    }
  }

  .pager-header,
  .pager-footer {
    display: inline-block;

    @include maxbp($large) {
      padding: 10px 0;
    }

    ul {
      list-style: none;
      display: inline-block;
      padding-left: 0;

      li {
        display: inline-block;
      }
    }

    .pagination-label {
      font-family: $font-condensed;
      font-weight: 400;
      padding: 0 6px 6px 0;
      font-size: 17px;
    }

    @include maxbp($large) {
      .pagination {
        > ul {
          display: none;
        }

        .pager__link.prev {
          background: url("../images/icons/src/white-arrow-left.svg") no-repeat center $gray-10 !important;
          width: 54px;
          height: 54px;
          transform: rotate(0);

          @include maxbp($r_400) {
            width: 40px;
            height: 40px;
          }
        }

        .pager__link.next {
          background: url("../images/icons/src/white-arrow-right.svg") no-repeat center $gray-10 !important;
          width: 54px;
          height: 54px;

          @include maxbp($r_400) {
            width: 40px;
            height: 40px;
          }
        }
      }

      > .mobile-pagination {
        margin: 0 0 0 5px;
      }

      .mobile-pagination {
        @include maxbp($large) {
          display: inline-block;
          line-height: 54px;
          font-size: 22.78px;
          font-family: $font-body;
          height: 54px;
          margin: 0;

          @include maxbp($r_400) {
            height: 40px;
            line-height: 40px;
          }
        }

        &.pager__link {
          width: inherit;
          margin: 0 30px;
        }

        span {
          font-size: 33.18px;
          font-family: $font-condensed;

          @include maxbp($r_600) {
            font-size: 28px;
          }
        }
      }
    }

    @include maxbp($r_1100) {
      .pagination {
        > ul {
          .pager__link {
            width: inherit;
            height: inherit;
          }
        }
      }
    }
  }

  .pager-header {
    .pagination {
      margin: 0;

      ul {
        margin: 0;
      }
    }
  }

  .pager-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      margin: 0;
    }

    @include maxbp($large) {
      display: block;
    }

    .pagination {
      margin: 10px 0;
    }
  }

  .narrow_result {
    margin-bottom: 48px;

    @include maxbp(450px) {
      display: block;
      text-align: center;
      margin-bottom: 32px;
    }
  }

  .pagination .pager__link.first,
  .pagination .pager__link.last,
  .pagination .pager__link.next,
  .pagination .pager__link.prev {
    text-indent: -99999px;
    font-size: inherit;
  }
}

.design-gallery-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin: 0 -64px;
  position: relative;
  background-color: $gray-90;

  @include maxbp($r_1100) {
    margin: 0 -64px;
    padding-left: 64px;
    padding-right: 64px;

    .design-gallery-title {
      padding: 0 10px 0 0;
    }
  }

  @include maxbp($large) {
    display: block;
    margin: 0 -24px;
    padding: 32px 24px 16px 24px;

    > div,
    > div.js-form-item.form-item {
      width: 100% !important;
      display: inline-block;
      padding: 0 !important;
      margin: 0 0 16px !important;

      @include maxbp($r_400) {
        //width: 100% !important;
        //padding: 0 20px !important;
      }
    }
  }

  @include maxbp($medium) {
    margin: 0 -16px;
    padding: 32px 16px 16px 16px;
  }

  .js-form-item.form-item {
    width: 248px;
    padding: 0;
    margin: 0 16px 16px;

    .form-item__select {
      height: 59px;
      border: 2px solid $gray-60;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      color: $gray-20;
      padding: 15px 40px 14px 16px;
      font-family: $font-body;
      text-transform: none;
    }
  }

  @include maxbp($medium) {
    flex-flow: wrap;
    justify-content: space-between;

    .form-item {
      flex: 0 0 50%;
    }
  }

  .design-gallery-title {
    margin-top: -15px;
    font-family: $font-heading;
    text-transform: uppercase;
    padding: 0 16px;
    font-size: 20px;
    color: $gray-10;
    line-height: 24px;
    letter-spacing: 4px;
    z-index: 1;

    @include maxbp($large) {
      padding: 0 18px !important;
    }
  }
}

.design-gallery {
  .banner {
    margin: 0;
  }
}

.back-to-top {
  float: right;

  &.button--disabled {
    padding: 10px 22px;
    font-size: 17px;
  }
}

.banner-text-br {
  .page-banner-wrapper {
    .grid-container.banner__content {
      right: 0;
      padding: 0 64px;
      max-width: none;

      @include maxbp($medium) {
        padding: 0;
      }

      .banner__content_inner {
        padding: 0;

        .banner__title-big {
          font-family: $font-heading;
          color: #fff;
          font-size: 64px;
          margin: 0 0 40px;
          line-height: 72px;
          letter-spacing: 8.19px;

          @include maxbp($medium) {
            margin: 0;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 5.76px;
          }

          p {
            color: white;
            margin: 0;
            font-family: $font-heading;
          }
        }
      }
    }
  }
}

.design-resources {
  @include maxbp($large) {
    .main {
      padding: 0 !important;
    }
  }
}

@include maxbp($large) {
  .company-block-wrapper:last-child .company-block > div:nth-child(2n) {
    border: none !important;
    padding: 0 !important;
    margin: 0;
  }

  .company-block-wrapper {
    hr {
      display: none;
    }
  }
}

.design-gallery-popup {
  overflow-x: hidden;
  overflow-y: auto;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0 none !important;
  background: transparent;
  width: 100% !important;

  .ui-dialog-content {
    overflow: auto;
    margin: 5% auto;
    width: 100% !important;
    height: auto !important;
    background: $white !important;
    max-width: 1221px;
    padding: 0;

    @include maxbp($large) {
      padding: 24px;
    }

    @include maxbp($medium) {
      padding: 16px;
    }
  }

  .ui-dialog-titlebar {
    position: absolute !important;
    margin: 6.2% auto;
    right: 0;
    z-index: 999;
    background: none;
    border: 0 none;
    max-width: 1221px;
    width: 100%;
    text-align: right;
    left: 0;
    padding: 0 24px;

    .ui-dialog-title {
      display: none;
    }

    button {
      color: $black;
      opacity: 1;
      padding: 3px 12px;
      margin: 0;
      font-size: 0;
      width: 34px;
      height: 34px;
      border: 0 none;
      text-indent: inherit;
      position: relative;
      background: no-repeat;
      top: -10px;

      @include maxbp($large) {
        top: 0;
      }

      &:focus {
        outline: none;
      }

      .ui-icon-closethick {
        background: none;
        font-family: $font-icon !important;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: inherit;
        width: 24px;
        height: 24px;

        &::after {
          content: "\e90e";
          font-size: 24px;
        }
      }
    }
  }

  .popup-image {
    padding: 64px 64px 39px;

    @include maxbp($large) {
      padding: 0;
    }

    .h3 {
      margin-bottom: 10px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
      color: $gray-10;
      font-family: $font-subheading;
      text-transform: none;

      @include maxbp($large) {
        margin-right: 40px;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .featured-products {
    a {
      display: block;
      line-height: 20px;
      text-transform: none;
      font-family: $font-body;
      text-decoration: none;
      color: $gray-20;
      font-size: 14px;
      letter-spacing: 0;

      p {
        border-top: 1px solid $gray-20;
        margin: 0;
        padding-top: 10px;
      }
    }

    img {
      //border: 1px solid $gray-60;
      width: 100%;
      display: block;
      margin: 0 auto 8px;
    }

    &.grid-col-12 {
      padding: 0;
    }

    .grid-5 {
      padding: 25px 15px;

      @include large {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }

    h2 {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 8px;
      color: $gray-30;
      font-family: $font-heading;
      margin-top: 45px;
      margin-bottom: 25px;

      @include maxbp($large) {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 3.2px;
      }
    }
  }

  h5 {
    font-family: $font-condensed;
  }

  .next_prev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 24px;
    padding: 0;
    height: 54px;
    margin-top: 16px;

    a {
      text-decoration: none;
      font-family: $font-condensed;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2.2px;
      color: $gray-10;

      @include maxbp($large) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;
      }
    }

    .prev {
      padding-left: 70px;

      &:hover {
        color: $gray-30;

        &::before {
          background-color: $gray-30;
        }
      }
    }

    .next {
      padding-right: 70px;
      text-align: right;

      &:hover {
        color: $gray-30;

        &::after {
          background-color: $gray-30;
        }
      }
    }

    .prev::before {
      font-family: $font-icon;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e901";
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      font-size: 18px;
      width: 54px;
      height: 54px;
      padding: 18px 20px;
      background: $gray-10;
      color: $white;
      margin-right: 16px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .next::after {
      font-family: $font-icon;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e901";
      font-size: 18px;
      width: 54px;
      height: 54px;
      padding: 18px 20px;
      background: $gray-10;
      color: $white;
      margin-left: 16px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .share-opt .a2a_dd.addtoany_share {
    font-family: $font-condensed;
    color: $gray-10;
    margin-bottom: 20px;
  }
}

.ui-widget-overlay {
  background: $black;
  opacity: 0.75;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.design-gallery-body {
  .ui-widget-content {
    background: transparent;
  }

  &.pop-open {
    overflow: hidden;
  }
}

.design-gallery-general-form {
  .grid.design_gallery {
    margin: 0 -16px;

    @include maxbp($large) {
      margin: 0 -8px;
    }
  }
}

.narrow_result {
  display: flex;
  justify-content: space-between;
}
