// Home page
.path-frontpage {
  .card-cover .cover_card_big_title {
    font-size: 4rem;

    @include maxbp($large) {
      font-size: 2rem;
    }
  }

  .card-cover .cover-title-wrapper {
    @include maxbp($large) {
      display: inline-block;
      text-align: center;
    }
  }

  .card-cover .cover-big-title-wrapper {
    border-bottom: 2px solid $white;
  }

  .layout--twocol-section.layout--twocol-section--50-50 {
    &:last-of-type {
      .card-cta-button {
        .cta-link {
          font-size: 16px;

          &::after {
            font-size: 11px;
          }

          @include maxbp(1045px) {
            font-size: 14px;

            &::after {
              font-size: 10px;
            }
          }

          @include maxbp(919px) {
            font-size: 16px;

            &::after {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  @include breakpoint($large) {
    .layout--twocol-section--67-33 {
      .layout__region--first {
        flex: 0 1 58.33333333%;
      }

      .layout__region--second {
        flex: 0 1 41.66666667%;
      }
    }
  }

  @include maxbp($large) {
    .layout--twocol-section--67-33,
    .layout--twocol-section--50-50 {
      .layout__region--first,
      .layout__region--second {
        flex: 0 1 100%;
      }
    }

    .video-banner__play i {
      font-size: 4.45rem;
    }

    .video-banner p {
      margin: 0;
    }
  }

  .footer {
    margin: 0;
  }

  .card-cover {
    display: block;

    .image {
      width: 100%;
    }
  }

  .main {
    padding: 0 !important;
    margin-top: 105px !important;

    @include maxbp($r_1000) {
      margin-top: 56px !important;
    }
  }

  @include maxbp($medium) {
    .slick-list {
      .banner__content {
        background: none;
      }
    }
  }

  @include maxbp(649px) {
    .slick-list {
      .banner__content {
        background: 0 0;
        width: 257px;
        right: 0;
        left: 0;
      }
    }
  }

  .video-banner__content {
    .video-banner__title {
      margin-top: 1rem;
    }

    div.text-long + p {
      display: none;
    }
  }

  .video-banner__title {
    @include maxbp($xl) {
      font-size: 3.25rem;
    }

    @include maxbp($large) {
      font-size: 1.44rem;
    }
  }

  .banner .slick-slide .banner__content_inner .content_image + .cta-link {
    padding: 0;
    color: $white;
    margin-top: 20px;
    display: inline-block;
    text-align: center;

    &:hover {
      color: $gray-30;

      &::after {
        color: $gray-30;
      }
    }

    &::after {
      color: $white;
    }
  }

  .cover-card-body-wrapper {
    .cta-link {
      color: $white;

      &:hover {
        color: $gray-30;

        &::after {
          color: $gray-30;
        }
      }

      &::after {
        color: $white;
      }
    }
  }

  .card-cover.stacked-bottom .card-cover-data .cover-card-body-wrapper {
    bottom: 15px;
  }

  .card-cta.card-cta-dark {
    .card-cta-desc {
      .card-cta-title {
        h4 {
          color: $white !important;
          border-bottom: 0;
        }
      }
    }

    .cta-link {
      color: $white;

      &:hover {
        color: $gray-30;
        transition: all ease 0.3s;
      }
    }
  }
}

.card-cover {
  &.stacked-left {
    .cover-card-body-wrapper {
      right: 68%;
    }
  }

  &.stacked-right {
    .cover-card-body-wrapper {
      left: 68%;
    }
  }

  &.stacked-bottom {
    @include maxbp($medium) {
      h2.cover_card__title {
        font-size: 15px;
        line-height: 1.2;
        padding-bottom: 10px;
        margin-bottom: 5px;
        text-transform: initial;
      }

      @include maxbp(400px) {
        .cover-card-body-wrapper {
          bottom: 10px !important;
        }

        .cover-title-wrapper {
          margin: 0 0 8px;

          .cover_card__title {
            padding-bottom: 4px;
            margin-bottom: 5px;
          }
        }
      }

      .cover_card__button {
        line-height: 1.3;
      }
    }
  }

  &.stacked-right,
  &.stacked-left {
    .cover-title-wrapper {
      border-bottom: 2px solid #444;
    }

    h2.cover_card__title {
      text-shadow: none;
      color: $gray-20;
      font-size: 21px;
      text-transform: none;

      @include maxbp($tablet) {
        //color: White;
      }

      &::after {
        background-color: $gray-20;
      }

      @include maxbp($medium) {
        font-size: 13.5px;
        line-height: 1.2;
      }
    }

    @include maxbp($medium) {
      .cover_card__button {
        font-size: 13.5px;
      }
    }

    .cover-card-body-wrapper {
      text-shadow: none;
      transform: translateY(-50%);
      top: 50%;
    }

    /*
    &:hover {
      h2.cover_card__title {
        color: $white;

        &::after {
          background-color: $white;
        }
      }

      .cover_card__button {
        color: $white;
      }
    }
    */
  }

  &.stacked-center {
    text-align: center;

    .cover_card__title::after {
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}

// video section

.video-banner__title {
  .text-long {
    p {
      margin: 0;
    }
  }
}

#block-brizo-theme-content {
  .layout--twocol-section--50-50 {
    &:last-child {
      .layout__region--first {
        & > div {
          height: 100%;
        }

        .card-cta-top-image {
          height: 100%;
        }
      }

      .layout__region--second {
        align-self: flex-end;

        & > div {
          &:first-child {
            align-self: flex-start;
          }

          &:last-child {
            align-self: flex-end;
          }
        }
      }
    }

    @include maxbp($large) {
      .card-cta-title {
        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .layout--twocol-section--67-33 {
    .cover-card-body-wrapper {
      text-align: center;

      .cta-link {
        font-size: 1rem;
      }

      .cta-link::after {
        font-size: 11px;
      }

      @include maxbp($large) {
        text-align: center;
      }
    }
  }
}
