.articulating-kitchen-faucet,
.banner-icon-center {
  .banner-play-icon,
  .embedded-play-icon {
    position: absolute !important;
    bottom: -60px !important;
    width: 90px !important;
    height: 90px !important;
    top: auto !important;
    left: 0;
    right: 0;
    margin: 0 auto !important;
  }

  .layout--twocol-section--33-67 a img {
    width: 100%;
  }
}

.articulating-kitchen-faucet {
  .mobile-hide img {
    width: 100%;
  }

  .mobile-hide + .block img {
    width: 100%;
  }

  @include maxbp($large) {
    .desktop-hide + .block {
      display: none;
    }

    .mobile-hide + .block {
      display: none;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .the-innovative-kitchen .layout--threecol-section--33-34-33 .layout__region.layout__region--second {
    flex: 0 1 27%;
  }
}

.brilliance-finishes-list {
  margin-left: -16px;
  margin-right: -16px;
  font-size: 15px;

  @include maxbp(1366px) {
    display: block;
  }

  @include maxbp(640px) {
    margin: 0;
  }

  & > div {
    margin: 15px 0 0;

    @include maxbp(1366px) {
      display: inline-block;
      max-width: none;
      width: 300px;
      vertical-align: middle;
    }

    @include maxbp(640px) {
      padding: 0;
    }
  }

  & > div img {
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.articulating-kitchen-faucet .mobile-hide + .block {
  display: block;
}

@media (min-width: 920px) {
  .articulating-kitchen-faucet .mobile-hide + .block {
    display: none;
  }
}
