.page-node-type-innovations {
  .mobile-hide img {
    width: 100%;
  }

  .layout--twocol-section--33-67 {
    .layout__region--first {
      flex: 0 0 40% !important;

      img {
        width: 100%;
      }

      @include maxbp($large) {
        flex: 0 0 100% !important;
      }
    }

    .layout__region--second {
      flex: 0 0 60% !important;
      padding: 0 0 0 30px;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        flex: 0 0 56% !important;
      }

      @include maxbp($large) {
        flex: 0 0 100% !important;
        padding: 0;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          flex: 0 0 100% !important;
        }
      }
    }
  }

  .layout__region--first,
  .layout__region--second {
    @include maxbp($large) {
      margin: 10px 0 0;
    }
  }

  .layout--twocol-section--67-33 {
    .layout__region--first {
      flex: 0 0 60% !important;

      img {
        width: 100%;
      }

      @include maxbp($large) {
        flex: 0 0 100% !important;
      }
    }

    .layout__region--second {
      flex: 0 0 40% !important;
      padding: 0 0 0 30px;

      @include maxbp($large) {
        flex: 0 0 100% !important;
        padding: 0;
      }
    }
  }

  .video-banner__content {
    padding: 0;
  }

  .innovation-subtext {
    color: $gray-10;
    font-weight: normal;
    font-family: $font-subheading;
    font-size: 32px;
    margin: 0 0 16px;
    display: block;
    line-height: 40px;
    letter-spacing: 0;
  }

  .text-long li a {
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  .layout--threecol-section.layout--threecol-section--33-34-33 {
    margin: 0 -16px;

    .layout__region {
      padding: 0 16px;

      @include breakpoint($large) {
        flex: 0 1 15%;

        .sustanabilty-img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.innovation-kitchen-bath {
  .main {
    padding: 0 0 20px !important;
  }

  .vertical-align {
    h2 {
      @include maxbp($medium) {
        font-size: 25px !important;
      }

      a {
        color: $black;

        &:hover {
          border-bottom: none;
        }
      }
    }

    a {
      text-transform: uppercase;

      &:hover {
        border-bottom: 1px solid $gray-10;
      }
    }

    p {
      @include maxbp($large) {
        line-height: 30px;
      }
    }
  }
}

.innovation-main-page .card-cover {
  display: block;

  .cta-link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;

    &::after {
      font-size: 11px;
    }
  }
}

.spray-patterns {
  .views-field-field-title-displayed- {
    h1.page-title {
      text-align: center;
    }
  }
  .views-view-grid.horizontal.cols-3 {
    .views-row {
      display: flex;
      flex-wrap: wrap;

      & > .views-col {
        padding: 3rem 1rem;
        text-align: center;

        @include maxbp($large) {
          width: 100% !important;
        }

        .views-field-field-spray-pattern-image {
          margin-bottom: 2rem;
        }
        .views-field.views-field-name,
        .views-field-field-spray-pattern-title {
          p {
            font-family: $font-condensed;
            font-size: 22px;
            line-height: 26px;
            color: $black;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 2.2px;
            text-decoration: none;
            &-link {
              @include link;
              @include no-underline;

              color: $black;

              &:hover {
                color: $gray-10;
              }
            }

            a {
              text-decoration: none;
            }
          }
        }
        .views-field-description__value {
          padding-left: 2rem;
          padding-right: 2rem;

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .main {
    .views-element-container {
      margin: 0 auto 80px;
      max-width: 1190px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
    }
  }

  .embedded-video-wrapper {
    @include breakpoint($large) {
      padding-bottom: 24px;
    }

    @include maxbp($large) {
      padding-bottom: 40px;
    }
  }
}
