.intropages.world-of-brizo {
  .vertical-align {
    .grid-col-lg-6 {
      padding: 0;

      img {
        width: 100%;
      }

      &.align-center {
        text-align: center;

        h2 {
          &::after {
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }

      .intro-block-wrapper {
        padding: 20px 50px;

        @include maxbp($large) {
          padding: 70px 50px;
          text-align: center;
        }

        @include maxbp($medium) {
          padding: 50px 35px;
        }

        @include maxbp($r_600) {
          p {
            font-size: 13px;
            line-height: 25px;
          }
        }
      }

      @include maxbp($large) {
        &.intro-content {
          order: 2;
        }

        img {
          width: 100%;
        }
      }
    }

    h2 {
      font-family: $font-condensed;
      font-weight: 200;
      font-size: 50px;
      margin: 0;
      position: relative;
      padding: 0 0 15px;

      @include maxbp($medium) {
        font-size: 30px;
      }

      &::after {
        content: "";
        display: block;
        background: #ccc;
        height: 1px;
        width: 150px;
        position: absolute;
        bottom: 0;

        @include maxbp($large) {
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      span {
        font-family: $font-heading;
        font-style: italic;
        font-weight: 700;
        font-size: 90px;
        display: block;
        margin: 20px 0 0;

        @include maxbp($r_1300) {
          font-size: 75px;
        }

        @include maxbp($r_1200) {
          font-size: 65px;
        }

        @include maxbp($medium) {
          font-size: 50px;
        }

        @include maxbp($r_600) {
          font-size: 35px;
        }
      }
    }
  }

  .invari-right.grid {
    margin: 0 0 $space*10;

    @include maxbp($large) {
      margin: $space*10 0;
    }

    @include maxbp($r_600) {
      margin: 45px 0 0;
    }
  }

  .invari-left.grid {
    @include maxbp($large) {
      margin: 0 0 $space*10;
    }

    @include maxbp($r_600) {
      margin: 0;
    }
  }

  .invari-right.grid,
  .invari-left.grid {
    align-items: center;
    text-align: center;

    @include maxbp($r_600) {
      .invari-image {
        order: 1;
        padding: 0;
        max-width: 100%;
        flex: 0 0 100%;
      }

      .invari-content {
        order: 2;
        margin: 25px 0;
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  .intro-finish-section {
    padding: 45px 30px;

    @include maxbp($large) {
      padding: 0 30px 45px;
    }

    h2 {
      position: relative;
      padding: 0 0 15px;

      &::after {
        content: "";
        display: block;
        background: #ccc;
        height: 1px;
        width: 150px;
        position: absolute;
        bottom: 0;
      }
    }

    .intro-finish-title {
      border-bottom: 1px solid;
      padding: 0 0 5px;
      font-weight: bold;
      font-size: 16px;
    }

    .grid {
      > div {
        > div {
          margin: 0 0 15px;
        }
      }

      img {
        vertical-align: middle;
        display: inline-block;
        max-width: 30px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 0 10px;
      }
    }
  }

  .block.intro-black {
    background: #221f20;
    color: white;

    .intro-block-wrapper h2 {
      color: white;
    }
  }

  .intro-gallery-title {
    margin: 70px 0 35px;
    font-family: $font-heading;
    font-style: italic;
    font-size: 35px;
  }

  .layout__region img {
    width: 100%;
  }

  &.invari-intro {
    .layout--twocol-section--75-25 {
      .layout__region--first {
        @include maxbp($r_1400) {
          flex: 0 0 65%;
        }

        @include maxbp($large) {
          flex: 0 0 100%;
        }
      }

      .layout__region--second {
        @include maxbp($r_1400) {
          flex: 0 0 35%;
        }

        @include maxbp($large) {
          flex: 0 0 100%;
        }
      }
    }

    .intro-finish-section {
      .grid > div {
        padding: 0;

        &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }
  }
}
