.blendout {
  .born-bread {
    display: none;
  }

  .main {
    background-image: url("../images/blendout-bg.jpg");
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
  }

  .timer_wrap {
    color: $white;
    padding: 223px 0 250px 0;
    font-size: 181px;
    line-height: 235px;
    letter-spacing: 5.79px;
    text-align: center;
    font-family: $font-domaine-display-narrow-medium-italic;

    @include maxbp($large) {
      padding: 20% 0 20% 0;
      font-size: 42px;
      line-height: 90px;
    }

    #timer {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;

      & li {
        position: relative;
        padding: 0 40px;
        width: 300px;

        @include maxbp($large) {
          padding: 0 20px;
        }

        &::after {
          border-right: 1px solid #787878;
          content: "";
          position: absolute;
          right: 0;
          transform: rotate(13deg);
          height: 100%;
        }

        &:last-child::after {
          border: 0 none;
        }
      }
    }

    span {
      color: #827e7c;
      font-size: 16px;
      position: absolute;
      text-transform: uppercase;
      bottom: 0;
      right: 54px;
      letter-spacing: 3.6px;
      line-height: 1;
      font-family: $font-pfdinmono;

      @include maxbp($large) {
        font-size: 10px;
        letter-spacing: 2.6px;
        color: $white;
        right: 20px;
      }
    }
  }

  .card {
    color: $white;

    picture {
      .image {
        display: none;
      }
    }
  }

  .new_version {
    text-align: center;
    padding-bottom: 166px;

    @include maxbp($large) {
      padding-bottom: 50px;
    }

    h6 {
      font-size: 58px;
      line-height: 88px;
      letter-spacing: 8.7px;
      text-transform: inherit;
      margin: 0;
      padding-bottom: 58px;
      font-family: $font-domaine-display-narrow-web-regular-italic;

      @include maxbp($large) {
        font-size: 30px;
        line-height: 47px;
        letter-spacing: 4.05px;
        padding-bottom: 40px;
      }

      span {
        font-family: $font-din1451-mittelschrift;
        letter-spacing: 13.05px;
      }

      &::after {
        height: 12px;
        content: "";
        width: 176px;
        background: #827e7c;
        display: block;
        text-align: center;
        margin: 52px auto 0;

        @include maxbp($large) {
          margin: 40px auto 0;
        }
      }
    }

    p {
      font-size: 42px;
      line-height: 63px;
      letter-spacing: 0.42px;
      margin: 0;
      font-family: $font-domaine-display-narrow-regular;

      @include maxbp($large) {
        font-size: 24px;
        line-height: 33px;
      }
    }
  }

  .reveal {
    text-align: center;

    h6 {
      font-size: 40px;
      letter-spacing: 10px;
      line-height: 78px;
      margin: 0;
      font-family: $font-din1451-mittelschrift;

      @include maxbp($large) {
        font-size: 24px;
        letter-spacing: 8px;
        line-height: 35px;
        margin-bottom: 20px;
        margin-top: 0;
      }
    }

    p {
      font-size: 24px;
      letter-spacing: 0.36px;
      color: #827e7c;
      margin: 0;
      font-family: $font-domaine-text-regular;
    }
  }

  &_form {
    max-width: 789px;
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 227px;

    @include maxbp($large) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .roiformbuttonbox {
      .submit,
      .reset {
        width: 136px;
        height: 50px;
        background-color: #959595;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 2.2px;
        color: $white;
        font-family: $font-din1451-engschrift;
      }

      .submit {
        background-color: #959595;
        margin-right: 17px;
        border: 0 none;
        padding: 4px;
        cursor: pointer;
      }

      .reset {
        border: 1px solid #707070;
        background-color: transparent;
        padding: 4px;
      }
    }

    .roiformbody {
      list-style: none;
      padding: 0;

      label {
        display: block;
        font-size: 16px;
        letter-spacing: 3.6px;
        line-height: 24px;
        color: #787878;
        font-family: $font-pfdinmono;
      }

      .roiforminput {
        border-top: none;
        border-left: none;
        border-right: none;
        max-width: 786px;
        padding: 8px 0;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 5.4px;
        color: $white;
        width: 100%;
        background: transparent;
        outline: none;
        font-family: $font-din1451-mittelschrift;
      }
    }
  }

  .views-row {
    display: none;
  }
}

.prelaunch-page {
  .breadcrumb {
    display: none;
  }

  .hero-banner {
    .video-holder {
      margin-top: 18%;

      @include maxbp($large) {
        margin-top: 12%;
      }
    }

    .hero-banner-section {
      padding: 0 0 56.125%;
      background: none;
      position: relative;
    }

    .hero-banner-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
    }
  }

  .vc-wrapper--dark {
    color: $white;
    background-color: $black;
  }

  .jason-wu-video-description {
    padding: 160px 0 60px;

    @include maxbp($large) {
      padding: 60px 16px 20px;
      text-align: center;
    }

    h3 {
      font-family: $font-din1451-mittelschrift;
      letter-spacing: 8.1px;
      font-size: 54px;
      line-height: 64px;
      margin-bottom: 28px;

      @include maxbp($large) {
        font-size: calc(23px + 19 * ((100vw - 320px) / 1280));
        letter-spacing: 4.1px;
        line-height: 1.5;
      }

      span {
        font-family: $font-domaine-display-narrow-web-regular-italic;
        text-transform: none;
      }
    }

    p {
      font-size: 42px;
      font-family: $font-domaine-display-narrow-regular;
      letter-spacing: 0.42px;
      line-height: 64px;

      @include maxbp($large) {
        font-size: calc(23px + 19 * ((100vw - 320px) / 1280));
        line-height: 1.5;
      }
    }
  }

  @include maxbp($large) {
    .hero-title {
      top: 40%;
      left: 27%;
      transform: translate(-20%, -40%);
    }
  }

  .h3.quote__content {
    font-family: $font-din1451-mittelschrift;
    font-size: 40px;
    line-height: 80px;
    letter-spacing: 8px;
    font-style: normal;
    text-transform: uppercase;

    span {
      font-family: $font-domaine-display-narrow-web-regular-italic;
      text-transform: none;
    }

    @include maxbp($large) {
      font-size: calc(23px + 19 * ((100vw - 320px) / 1280));
      line-height: 1.5;
      letter-spacing: 4px;
    }
  }

  @include breakpoint($medium) {
    .hero-title {
      top: 35%;
    }
  }

  .vettis-video {
    width: 100%;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  .views-row {
    display: none;
  }
}

.jason-wu {
  .blockquote {
    p {
      font-family: $font-din1451-mittelschrift;
      font-size: 32px;
      line-height: 45px;
      letter-spacing: 4.8px;
      font-style: normal;
    }

    &::before {
      content: "“";
      font-size: 148px;
      line-height: 45px;
      letter-spacing: 33.3px;
      font-family: $font-domaine-display-narrow-regular;
      font-style: normal;
      background: none;

      @include maxbp($large) {
        font-size: 65px;
        line-height: 20px;
      }
    }
  }

  .story-description {
    p {
      font-family: $font-domaine-text-regular;
      font-size: 18px;
      line-height: 32px;
      text-transform: none;
      letter-spacing: normal;
    }
  }

  .story-1-subtitle {
    font-size: 24px;
    font-family: $font-din1451-mittelschrift;
    letter-spacing: 4.32px;
  }

  .story-subtitle {
    background: none;
    font-family: $font-din1451-mittelschrift;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 4.32px;
  }

  @include maxbp($tab-min) {
    .vc-container .h1 {
      font-family: $font-domaine-display-narrow-web-regular-italic;
      text-transform: none;
      letter-spacing: 1px;
    }
  }

  @include breakpoint($medium) {
    .story-1 .story-1-subtitle {
      margin-bottom: 13px;
    }
  }
}
