.kitchen-bath {
  h2.card-cover__title {
    font-family: $font-subheading;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: $white;
    text-transform: none;

    @include maxbp($large) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .cover-card-body-wrapper {
    .cta-link {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.6px;
      color: $white;

      &::after {
        font-size: 11px;
      }

      &:hover {
        color: $gray-30;
        transition: all ease 0.3s;

        &::after {
          color: $gray-30;
          transition: all ease 0.3s;
        }
      }
    }
  }

  .layout--threecol-section {
    justify-content: center;
  }

  .layout--threecol-section--33-34-33 > .layout__region--first,
  .layout--threecol-section--33-34-33 > .layout__region--third {
    flex: 0 0 33.33%;

    @include maxbp($large) {
      flex: 0 1 100%;
    }
  }

  .layout--threecol-section--33-34-33 > .layout__region--second {
    flex: 0 0 33.33%;

    @include maxbp($large) {
      flex: 0 1 100%;
    }
  }

  .kitchen-bath-title-wrapper {
    text-align: center;
  }

  .kitchen-bath-title {
    color: $gray-30;
    padding: 80px 45px 0 25px;
    margin: 0 0 16px;
    position: relative;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 8px;
  }

  .content-section {
    a {
      text-decoration: none;
    }

    .view-all {
      margin-bottom: 50px;
      margin-top: 0;
      letter-spacing: 2px;

      a.cta-link {
        font-family: $font-condensed;
        color: $gray-10;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;

        @include maxbp($large) {
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 1.8px;
        }

        &::after {
          font-size: 14px;
        }

        &:hover {
          color: $gray-30;
          transition: all ease 0.3s;

          &::after {
            color: $gray-30;
            transition: all ease 0.3s;
          }
        }
      }
    }
  }

  .bath-collection,
  .kitchen-collection {
    .product-tile.product-tile--collection {
      width: auto;
    }

    .grid {
      list-style: none;
      padding: 50px 0 80px;
      margin: 0 -16px;
    }

    .product-link {
      margin-top: 20px;

      a {
        font-family: $font-condensed;
      }
    }

    .product-data {
      .h3 {
        //font-weight: normal;
        //font-size: 26px;
        //padding-bottom: 10px;
        //display: inline-block;
        //border-bottom: 1px solid;
      }
    }

    .product-detail {
      p {
        font-weight: 200;
        line-height: 1.6em;
        margin: 0;
      }
    }

    .product-image {
      margin-bottom: 0;
    }

    .product-link > a.no-line {
      color: $gray-10;
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      font-family: $font-din1451-engschrift;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      display: inline-block;
      width: -webkit-fill-available;

      @include maxbp($large) {
        font-size: 16px;
      }

      &::after {
        content: "\e901";
        font-family: $font-icon !important;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 0.6875rem;
        opacity: 1;
        padding-left: 1px;
        position: relative;
        top: -1px;
        margin-right: -24px;
      }

      &:hover {
        color: $gray-30;
        transition: all ease 0.3s;

        &::after {
          color: $gray-30;
          transition: all ease 0.3s;
        }
      }
    }
  }

  .card-cover {
    padding: 1px;
    display: block;

    .cover_card__title {
      font-family: $font-heading;
      font-size: 33.18px;
      line-height: 40px;
    }

    @include maxbp($large) {
      .card-cover-img {
        img {
          width: 100%;
        }
      }
    }
  }

  .main {
    padding: 0;
  }

  .footer {
    margin: 0;
  }

  article {
    .banner {
      margin: 0;
    }
  }

  @include maxbp($large) {
    .banner .left {
      padding-left: 0;
      align-items: start;
    }
  }
}

.no-line {
  text-decoration: none;
}

.callout_here {
  h6 {
    p {
      margin: 0;

      &:first-child {
        font-family: $font-subheading;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
      }
    }
  }
}

[aria-label="Error message"] ul {
  margin: 0;
}

#block-brizo-theme-content {
  .layout--onecol {
    &:first-child {
      .content-section {
        text-align: center;
        &.left{
          text-align: left;
        }
        &.center{
          text-align: center;
        }
      }

      .kitchen-bath-title-wrapper {
        text-align: center;
      }

      .kitchen-bath-title {
        color: $gray-30;
        padding: 60px 0 10px;
        margin: 0 0 16px;
        position: relative;
        border-bottom: 2px solid $gray-30;
        display: inline-block;

        @include maxbp($large) {
          font-size: 32px;
          line-height: 36px;
          letter-spacing: 3.2px;
        }
      }
    }
  }
}
