.masco-brands-page {
  #block-views-block-page-title-advanced-html-block-1 {
    margin: 100px 0 0;
  }

  .main {
    padding: 0 55px !important;
  }
}

.masco-brands {
  ul {
    margin: 0 -16px 120px;
    display: block;
    overflow: hidden;
    padding: 0 -16px;

    li {
      float: left;
      width: 25%;
      display: block;
      text-align: center;
      margin: $space*5 0 $space+15;
      padding: 0 16px;

      @include maxbp($r_1000) {
        width: 50%;
      }

      @include maxbp($medium) {
        width: 100%;
      }

      .views-field-field-link {
        a {
          font-size: 18px;
          text-align: center;
          color: black;
          text-transform: uppercase;
          font-family: $font-condensed;
          margin-top: 16px;
          display: block;

          &:hover {
            color: $gray-10;
          }
        }
      }

      a {
        text-decoration: none;
      }

      img {
        margin: 0 auto $space/2;
      }
    }
  }
}
