.media-room-row {
  display: flex;
  float: none !important;

  @include maxbp($medium) {
    display: block;
  }

  .media-room-column {
    float: none;
    flex: 0 0 33.3%;
    width: 100% !important;
    max-width: 33.3%;

    @include maxbp($medium) {
      max-width: none;
    }
  }
}

.media-room-article-grid {
  position: relative;
  font-family: $font-condensed;
  text-transform: uppercase;
  margin: 0 16px 32px;

  a {
    color: $white;
    text-decoration: none;
    font-size: 22.78px;
    line-height: 27px;
  }

  &:hover {
    a {
      color: $white;
    }
  }

  .views-field-field-article-image {
    //padding: 0 $space;

    img {
      width: 100%;
    }
  }

  .media-room-article-grid-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    margin: auto;
    z-index: 0;

    .views-field-field-article-image {
      img {
        width: 100%;
      }
    }

    .views-field-field-article-date {
      color: $white;
      font-size: 14.22px;
      line-height: 17.78px;
    }
  }
}

.media-pagination {
  .js-pager__items {
    text-align: right;

    li {
      display: inline-block;
      font-family: $font-condensed;
      line-height: 18px;

      a {
        text-decoration: none;
        padding: 5px;

        &:hover {
          background: $gray-60;
        }
      }

      &.media-prev {
        border-right: 1px solid $gray-60;
        margin: 0 2px 0 0;
        padding: 0 7px 0 0;

        a {
          color: $gray-60;
        }
      }
    }
  }
}

.media-room-document {
  margin: 10px 0 0;
}

.media-room-attachment {
  margin: 0 0 60px;
}

.page-node-type-media-room-article {
  .banner {
    margin: 0 0 40px;
  }
}
