.newsletter-content p {
  //text-transform: uppercase;
  margin-bottom: 32px;
  //letter-spacing: 0.15em;
}

.newsletter {
  .form-actions {
    margin-top: 50px;

    .webform-button--reset {
      margin-left: 25px;
    }
  }

  .h1.page-title {
    margin-bottom: 50px;
    font-family: $font-body;
    letter-spacing: 0.2em;
    font-size: 21px;
    border-bottom: 1px solid $gray-60;
  }

  .grid {
    .form-item:first-child {
      padding-left: 0;
    }

    .form-item:last-child {
      padding-left: 0;
    }

    @include maxbp($large) {
      .form-item {
        padding: 0;
      }
    }
  }

  .form-item__select {
    background-position: right 24px;
  }
}

.email-updates {
  margin-bottom: 50px;
  font-family: $font-body;
  font-size: 21px;

  .main {
    letter-spacing: 0.2em;
  }

  .h1.page-title {
    max-width: 1258px;
    margin: 0 auto;
    padding: 0 73px;

    @include maxbp($large) {
      padding: 0 15px;
    }
  }

  @include maxbp($large) {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
