.contact-form-newsletter {
  @include breakpoint($large) {
    width: 75%;
    margin: 0 0 0 33px;
  }

  .first-last-name-wrapper {
    @include breakpoint($large) {
      display: flex;
      justify-content: space-between;
    }
  }

  .js-form-item:nth-of-type(1) {
    @include breakpoint($large) {
      padding-right: 30px;
    }
  }
}
