.pagination {
  text-align: center;
  margin: $space*2 0;

  @include maxbp($medium) {
    display: block;
    overflow: hidden;
    margin: 0;
  }

  .mobile-pagination.pager__link {
    display: none;

    @include maxbp($medium) {
      display: inline-block;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      color: $gray-20;
      font-family: $font-body;
    }
  }

  .pager__link {
    background: none;
    border: none;
    color: $gray-30;
    text-align: center;
    cursor: pointer;
    font-family: $font-condensed;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px 22px;

    @include maxbp($medium) {
      display: none;
      width: inherit;

      &.prev,
      &.next {
        display: inline-block;
        vertical-align: top;
        width: 54px;
        background-color: $gray-10;
        height: 54px;

        @include maxbp($r_400) {
          width: 40px;
          height: 40px;
        }
      }
    }

    &.first,
    &.prev,
    &.next,
    &.last {
      font-size: 0;
    }

    &.first {
      //background: url("../images/icons/src/arrow-double.svg") no-repeat center;

      &:hover {
        opacity: 1;
      }

      @include breakpoint($medium) {
        //transform: rotate(180deg);
        opacity: 1;
      }
    }

    &.prev {
      background: url("../images/icons/src/arrow-single.svg") no-repeat center;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      @include breakpoint($medium) {
        transform: rotate(180deg);
      }

      @include maxbp($medium) {
        background: url("../images/icons/src/white-arrow-left.svg") no-repeat center $gray-10 !important;
        opacity: 1;
      }
    }

    &.next {
      background: url("../images/icons/src/arrow-single.svg") no-repeat center;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      @include maxbp($medium) {
        background: url("../images/icons/src/white-arrow-right.svg") no-repeat center $gray-10 !important;
        opacity: 1;
      }
    }

    &.last {
      //background: url("../images/icons/src/arrow-double.svg") no-repeat center;

      &:hover {
        opacity: 1;
      }

      @include maxbp($medium) {
        opacity: 1;
      }
    }

    &.is-active,
    &:hover {
      color: $gray-10;
    }

    &:hover {
      background-color: $gray-60;
    }
  }
}
