// Document list
.document_list {
  @include maxbp($large) {
    & > ul > li:last-child {
      border: none;
      padding: 16px 0 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 16px 0 18px;
      border-bottom: 1px solid $gray-10;
      font-size: 1.125rem;
      line-height: 1.375rem;
      letter-spacing: 0;
      margin: 0;
      color: $gray-20;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      a {
        text-transform: uppercase;
        font-family: $font-condensed;
        text-decoration: none;
        font-size: 1rem;
        color: $gray-10;

        &:hover {
          opacity: 0.7;
        }
      }

      ul {
        display: flex;
        justify-content: space-between;

        li {
          border: 0;
          padding: 0;
          &.design-file-li{
            width: 130px;
            &::after{
              content: "" !important;
            }
          }
          &:first-child::after {
            content: "|";
            padding: 0 10px;
            color: $gray-10;
          }
        }
      }
    }
  }

  & + .document_list {
    ul li {
      line-height: 1.375rem;
      font-size: 1.125rem;

      @include maxbp($large) {
        &:last-child {
          border: none;
        }
      }
    }
  }
}

.tech-spec {
  ul {
    padding: 0;

    li {
      border-bottom: 1px solid $gray-10;
      padding: 16px 0;
      line-height: 22.5px;
      font-size: 18px;

      &:last-child {
        border: none;
      }

      &::before {
        display: none;
      }
    }
  }
}

.featuresList,
.document_list,
.tech-spec {
  @include maxbp($medium) {
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .h4 {
    font-size: 1.5rem;
    border-bottom: 2px solid $gray-20;
    padding-bottom: 15px;
    font-weight: normal;
    line-height: 2rem;
    font-family: $font-subheading;
    margin: 0 0 16px;
    letter-spacing: 0;
    text-transform: none;

    @include maxbp($large) {
      background-color: $black;
      border-bottom: 0 none;
      color: $white;
      padding: 12px 16px;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0;
      margin-left: -10px;
      margin-right: -10px;
    }

    @include maxbp($medium) {
      margin: 0 0 16px;
    }
  }
}

.featuresList {
  ul li {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 22.5px;
    color: $gray-20;
  }

  h4 {
    @include maxbp($medium) {
      margin: 0 0 16px;
    }
  }
}

.product_content_list {
  padding: 20px 0;

  .content-list-data {
    @include maxbp($medium) {
      padding: 0 16px;

      ul {
        padding: 0;
      }

      & > div {
        & > div {
          padding: 0;
        }
      }
    }
  }
}

.finish {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    li {
      margin: 0 10px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    a {
      display: block;
      padding: 5px;

      .finish-thumbnail {
        max-width: 47px;
        margin: 0;
        width: 47px;
        height: 47px;
      }
    }
  }

  h6 {
    margin-bottom: 10px;
    letter-spacing: 0;
  }

  .active {
    a {
      border: 2px solid $gray-10;
    }
  }
}

// Product Details
.product_details {
  @include maxbp($large) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .divider {
    margin: 31.5px 0;
  }

  .product_title {
    text-transform: uppercase;
    font-weight: normal;
    line-height: 48px;
    font-size: 40px;
    letter-spacing: 8px;
    margin: 0;

    @include maxbp($large) {
      font-size: 32px;
      margin-bottom: 0;
      line-height: 36px;
      letter-spacing: 3.2px;
      text-transform: uppercase;
    }
  }

  .product_subtitle {
    font-size: 1.5rem;
    font-family: $font-subheading;
    font-weight: normal;
    line-height: 2rem;
    margin: 5px 0 0;
    text-transform: none;
    letter-spacing: 0;
    color: $gray-30;

    @include maxbp($large) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  .consumer-copy {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 16px;
    margin-bottom: 24px;
    color: $gray-20;

    @include maxbp($large) {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    p {
      margin: 0;
    }
  }

  .collection-links {
    margin: 5px 0 0;

    a {
      font-family: $font-condensed;
      font-size: 1rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }

    .cta-link {
      margin-bottom: 10px;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  .share-opt {
    .a2a_dd.addtoany_share {
      font-family: $font-condensed;
      font-size: 20.25px;
      line-height: 23px;

      .a2a_label.a2a_localize::after {
        font-size: 10px;
        height: 13px;
        line-height: 12px;
        top: -1px;
      }
    }
  }

  .prd-as-shown {
    .row {
      background-color: $gray-90;
      padding: 15.31px 15.07px 17.39px 15.93px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4.03px;

      .col-sm {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-right: 20px;

        @include maxbp($large) {
          &:first-child {
            padding-right: 0;
          }

          padding-right: 16px;
        }

        span {
          font-family: $font-pfdinmono;
          font-size: 0.875rem;
          color: $gray-20;
          display: block;
          letter-spacing: 2.8px;

          @include maxbp($large) {
            font-size: 0.75rem;
          }
        }
      }

      .prd-as-shown-price {
        display: flex;
        align-items: flex-end;
        font-family: $font-heading;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2.8px;
        color: $gray-30;
      }

      &.listPrice {
        background: none;
        margin-bottom: 0;
        padding: 5px 0 0;

        .col-sm {
          font-size: 14px;
          color: $gray-10;
          font-family: $font-heading;
          letter-spacing: 2px;
          line-height: 18px;
          text-transform: uppercase;

          @include maxbp($tablet) {
            letter-spacing: 1.8px;
          }
        }

        .prd-as-shown-price {
          font-weight: normal;
          padding-right: 15px;
          color: $gray-10;
          align-self: flex-start;
        }
      }
    }
  }

  .finish {
    ul {
      padding: 0;
      line-height: 1;

      @include maxbp($large) {
        margin: 0 0 24px;
      }
    }

    & + .divider {
      margin-bottom: 0;
    }
  }
}

.linear_gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
  height: 50px;
  display: block;
  width: 100%;
}

.related_product {
  h2 {
    font-size: 2.5rem;
    color: $gray-30;
    letter-spacing: 8px;
    line-height: 3rem;
    text-transform: uppercase;

    @include maxbp($large) {
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 3.2px;
    }
  }

  &:not(.recently_viewed) {
    .product-data .product-title .h3 {
      font-family: $font-body;
      font-size: 14.22px;
      line-height: 17.78px;
      text-transform: none;
      color: #444;
    }
  }

  .related_product_list.grid {
    .product_tile {
      .product-data {
        .product-title {
          h4 {
            font-family: $font-body;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            color: $gray-20;
            text-transform: none;
          }
        }
      }
    }
  }

  @include maxbp($large) {
    padding: 0 16px;

    .related_product_list {
      > div {
        padding: 0;
      }
    }
  }

  .grid {
    .product_tile {
      width: 100%;

      .product-data .product-title h3 {
        //font-size: 14.22px;
        //font-family: $font-body;
        //line-height: 17.78px;
        //text-transform: none;
      }
    }
  }

  .h5 {
    font-family: $font-subheading;
    font-size: 24px;
    margin-top: 20px;
    line-height: 32px;
    font-weight: normal;
    text-transform: inherit;
    letter-spacing: 0;
    color: $gray-10;
  }

  @include maxbp($medium) {
    .related_product_list {
      .product_tile {
        //padding: 15px;
        //border-bottom: 1px solid $gray-60;
      }
    }
  }
}

.part-products.pdp-product-active {
  //border-bottom: 1px solid $gray-60;
  //margin: 0 0 8px;
  //padding: 0 0 5px;
  border: 2px solid $gray-10 !important;
}

.parts-section {
  .part-titles {
    font-size: 12.64px;
    color: $gray-20;
    line-height: 15px;
    padding-bottom: 5px;
  }

  .part-modalno {
    font-size: 14.64px;
    color: $black;
    line-height: 17px;
    font-family: $font-condensed;
  }

  h6 {
    letter-spacing: 0;
    font-size: 18px;
    text-transform: none;
    margin: 25px 0 20px;
    font-family: $font-subheading;

    @include maxbp($large) {
      font-size: 16px;
    }
  }

  .part-products,
  .sub-part-products {
    cursor: pointer;

    &.product_tile {
      width: auto;
      padding: 8px 7px 16px;
      margin: 0;
      border: 2px solid $white;

      @include maxbp($medium) {
        .product-image {
          float: none;
          width: 100%;

          img {
            width: 100%;
          }
        }

        .product-data {
          float: none;
          width: 100%;
        }
      }
    }
  }
}

.recently_viewed_slider {
  margin: 0 auto;

  @include maxbp($large) {
    max-width: 1200px;
  }
}

.recently_viewed_slider .slick-list {
  padding-left: 0 !important;
}

.recently_viewed {
  margin: 60px 0 30px;

  @include maxbp($medium) {
    margin-left: 16px;
    margin-right: 0;
    padding: 0;

    .product_tile .product-data {
      float: left;
      width: 100%;
    }

    .product_tile {
      border: 0 none;
    }
  }

  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      background: $gray-10;
      height: 48px;
      width: 48px;
      top: 0;

      &::before {
        color: $white;
        font-size: 15px;
      }
    }

    &.slick-prev {
      /* left: -20px;
      display: none !important; */
      display: block !important;
      left: 0px;
      top: 86px;
      margin: 0;
      padding: 0;
      @include maxbp(720px){
        left: -18px;
      }
    }

    &.slick-next {
      right: 0;
      top: 85px !important;
      margin: 0;
      padding: 0;
    }
  }

  .product_tile .product-data .product-detail p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;

    &.sub-title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }

  .product_tile .product-data .product-modelno {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2.4px;
    font-family: $font-pfdinmono;
    display: block;
    margin: 0 0 5px;
    color: $gray-30;

    p {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2.4px;
      font-family: $font-pfdinmono;
      color: $gray-30;
    }
  }

  .grid .product_tile .product-data .product-title h3 {
    //font-size: 20px;
  }
}

.pdp-slider-section {
  .slider_flag {
    display: block;

    .flag--discontinued {
      background: $gray-40;
    }

    .flag--only-at-store-name {
      background: $gray-20;
    }

    .flag--comming-soon {
      background: $black;
    }
  }

  @media (max-width: 1023px) {
    display: block !important;
  }
}

.path-product {
  overflow-x: hidden;

  .main {
    padding: 0 !important;

    @include maxbp($medium) {
      overflow-x: hidden;
    }
  }

  .pdp-content {
    .linear_gradient {
      margin: 22px 0 56px;

      @include maxbp($medium) {
        margin: -40px 0 56px;
      }
    }
  }

  .pdp-data-block {
    & > nav {
      position: relative;
      z-index: 1;
    }

    nav {
      @include maxbp($medium) {
        padding: 0 10px;
      }

      .breadcrumb {
        @include breakpoint($medium) {
          z-index: 101;
        }
      }
    }
  }

  .pdp-data-block,
  .prod-content-list-wrapper {
    padding: 0 64px;

    @include maxbp($main-menu-medium) {
      padding: 0 24px;
    }

    @include maxbp($medium) {
      padding: 0;
    }

    .grid {
      margin-left: -16px;
      margin-right: -16px;

      @include maxbp($medium) {
        margin: 0 -4px;
      }
    }
  }
}

.recently_viewed__slide {
  .product-tile,
  .product_tile {
    .product-image {
      border-bottom: 1px solid $gray-10;
      padding: 0 0 5px;
      margin: 0 0 15px;
      width: auto;
      float: none;

      @include maxbp($large) {
        padding: 0 0 5px;
        margin: 0 0 5px;
      }

      img {
        width: auto;
      }
    }
  }
}

.product_details .prd-as-shown h6,
.finish h6 {
  text-transform: none;
  margin: 0 0 17.27px;
  font-family: $font-subheading;

  span {
    font-family: $font-subheading;
  }

  @include maxbp($large) {
    margin: 0 0 8px;
  }
}

@include maxbp($large) {
  .parts-section {
    padding: 0 16px 29px;
    background: $gray-90;
    margin-top: 24px;
    display: block;
    overflow: hidden;

    .grid > div {
      padding-left: 16px;
      padding-right: 16px;

      @include maxbp($large) {
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    h6 {
      margin: 24px 0 10px;
    }
  }

  .mobile-thumb-img.product_details {
    padding-left: 0;
    padding-right: 0;
    margin: 15px 16px;
  }

  .pdp-thumb-wrapper,
  .pdp-detail-wrapper {
    padding: 0;
  }

  .pdp-data-wrapper {
    padding: 0 16px;
  }

  .pdp-data-wrapper .divider {
    margin: 20px 0 24px;
  }

  .product_content_list {
    padding: 0;
  }

  .parts-section .part-products.product_tile,
  .parts-section .sub-part-products.product_tile {
    background: white;
    margin: 0 0 8.37px;

    .product-image {
      float: none;
      width: 100%;
      border-bottom: 1px solid $gray-10;
      margin: 0 0 8.64px;

      img {
        width: 100%;
        padding: 0 0 6.67px;
      }
    }
  }
}

.pdp-mobile-hide {
  @include maxbp($large) {
    display: none !important;
  }
}
