.privacy-policy {
  .main a {
    word-break: break-all;
  }

  h2 {
    font-size: 17px;
    line-height: 25px;
    margin: 30px 0 5px;
    color: $black;
  }

  .text-long {
    ul {
      li {
        span {
          font-weight: bold;
          font-style: italic;
          font-family: $font-condensed;
          color: $black;
        }
      }
    }
  }
}
