.search-form {
  position: relative;
  width: 100%;
  margin: 32px 0;

  @include maxbp($r_1000) {
    width: 100%;
  }

  .js-form-item.form-item {
    max-width: none;
  }

  .action-container {
    &::before {
      content: "\e914";
      font-family: $font-icon;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      color: $white;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: $gray-10;
      font-size: 29.5px;
    }

    &:hover {
      &::before {
        background-color: $gray-20;
        transition: all ease 0.3s;
      }
    }
  }

  .search-results {
    max-width: none;
    width: 100%;
    height: 60px;
    padding: 0 60px 0 10px;
    border: 2px solid $gray-60;
    font-size: 18px;
    color: $gray-20;
  }

  .search-results-submit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    background: none;
  }
}

.search-result-text-wrapper {
  font-family: $font-subheading;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 56px;
  text-align: center;
  color: $gray-10;

  @include maxbp($large) {
    margin: 0 0 36px;
  }

  #grand_total {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: $gray-10;
  }

  .search-text {
    text-transform: none;
    font-style: italic;
  }
}

.search-result-tabs {
  .count-span {
    color: $gray-30;
  }

  .tab-block {
    margin: 0 0 24px;
  }

  .tab-desc .tab-data {
    margin: 0;
  }

  .product_tile.product_tile--plp-prod-tile {
    width: 100%;
    margin: 0 0 32px;
  }

  .product-title {
    margin: 0 0 8px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2.2px;
    color: $gray-10;
    font-family: $font-condensed;

    a {
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2.2px;
      color: $gray-10;
      font-family: $font-condensed;

      h3 {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2.2px;
        color: $gray-10;
        font-family: $font-condensed;
      }
    }
  }

  .product-desc {
    margin: 0;
  }

  .product-link {
    color: $gray-30;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-family: $font-pfdinmono;

    a {
      color: $gray-30;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      font-family: $font-pfdinmono;
    }

    .product-detail {
      .paragraph {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        color: $gray-20;
        font-family: $font-body;
        text-transform: none;
      }
    }
  }

  #products-tab.grid {
    margin: 0 -16px;
  }

  strong {
    font-weight: normal;
  }

  .resultslistDesc strong {
    font-weight: bold;
  }

  &.tabs {
    .tab-link,
    .tab-accordion-title {
      //color: $black;

      .count-span {
        //color: $gray-30 !important;
      }

      &.tab-accordion-active {
        .count-span {
          color: white !important;

          span {
            color: white !important;
          }
        }
      }
    }

    .tab-desc .tab-data {
      @include maxbp($r_1000) {
        padding: 0 0 40px;
        border: none;
      }
    }
  }

  .product-filters.grid {
    //text-align: right;
    //display: block;
    //margin: 25px 0;
    justify-content: flex-end;
    margin: 0 -16px 55px;

    @include maxbp(1150px) {
      display: block;
      clear: both;
      overflow: hidden;
    }

    @include maxbp($tablet) {
      text-align: center;
    }

    /*
    .filterDiscontinued {
      position: relative;

      .custom-input__label {
        display: block !important;
        padding-left: 0;

        &::before,
        &::after {
          left: 20px;
        }

        @include maxbp($tablet) {
          margin-bottom: 20px;
        }
      }

      .custom-input__native {
        left: 22px;
      }
    } */

    .filterDiscontinued {
      margin: 17px 0 0;

      @include maxbp(1150px) {
        width: 300px;
        max-width: none;
        float: left;
      }

      @include maxbp($r_1000) {
        float: none;
        margin: 20px 16px 0;
        width: auto;
        padding: 0;
      }
    }

    .search-select-wrapper {
      text-align: right;

      @include maxbp(1150px) {
        width: calc(100% - 331px);
        max-width: none;
        float: right;
      }

      @include maxbp($r_1000) {
        width: 100%;
        float: none;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
      }

      .search-select {
        flex: 0 0 236px;
        max-width: 236px;
        padding: 0;
        margin: 0 0 0 24px;
        display: inline-block;

        @include maxbp($r_1000) {
          margin-top: 24px;
        }

        @include maxbp($r_600) {
          display: block;
          max-width: none;
          width: auto;
          margin: 24px 16px 0;
        }

        .select-full-border {
          margin: 0;
        }
      }
    }
  }
}

.search-pipe {
  position: relative;
  width: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;

  &::before {
    display: inline-block;
    content: "";
    height: 25px;
    width: 1px;
    background: $gray-20;
    position: absolute;
    top: -2px;
  }
}

#documents-tab,
#innovation-tab,
.artTab {
  max-width: 969px;
  margin: 0 auto !important;
}

#documents-tab,
#contents-tab,
#innovation-tab {
  margin: 40px auto 0 !important;
}

#contents-tab,
#innovation-tab {
  margin: 40px auto 0 !important;

  & > h4 {
    font-family: $font-subheading;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    color: $gray-10;
    text-transform: none;

    @include maxbp($large) {
      font-size: 24px;
      line-height: 32px;
    }

    a {
      font-family: $font-subheading;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
      color: $gray-10;
      text-transform: none;

      &:hover {
        text-decoration: underline;
      }

      @include maxbp($large) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .wob-search{
    display: inline-block;

    a.image-link{
      margin: 40px 40px 0 !important;
      float: left;
      img.wob-results-image {
        min-width:366px;
        min-height:347px;
        width: auto;
        height: auto;
        float:left;
        @include maxbp($medium) {
          display: none;
        }
      }
    }

    & > h4 {
      border-top: 1px solid $gray-20;
      font-family: $font-subheading;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
      color: $gray-10;
      text-transform: none;
      margin: 0 0 16px !important;
      padding: 80px 0 0 !important;

      @include maxbp($large) {
        font-size: 24px;
        line-height: 32px;
      }

      a {
        font-family: $font-subheading;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0;
        color: $gray-10;
        text-transform: none;

        &:hover {
          text-decoration: underline;
        }

        @include maxbp($large) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
}

.innTab,
.artTab {
  .contents-section {
    > h4:first-child {
      margin: 0 0 16px !important;
      padding: 0 !important;
      border: none !important;
    }
  }

  h4 {
    //margin: 0 0 16px;
    margin: 40px 0 16px;
    border-top: 1px solid $gray-20;
    padding: 40px 0 0;

    a {
      font-family: $font-condensed;
      font-size: 27.65px;
      line-height: 32px;
      color: black;
    }
  }

  .resultslistDesc {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    color: $gray-20;
    font-family: $font-body;
    //border-bottom: 1px solid $gray-60;
    //padding: 0 0 40px;
    //margin: 0 0 40px;

    &:last-child {
      //border: none;
      //padding: 0;
      //margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

#documents-tab {
  text-align: left;

  > div {
    > div {
      display: block;
      margin: 0 0 26px;
      overflow: hidden;
      clear: both;
      border-bottom: 1px solid $gray-20;
      padding-bottom: 27.7px;
    }

    &:last-child {
      > div {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    .document-name,
    .srp-resuls-list__link {
      width: 50%;
      display: block;
      text-decoration: none;
      float: left;
      letter-spacing: 0;
      color: $gray-20;
    }

    .document-name {
      font-size: 18px;
      line-height: 22px;
      font-family: $font-body;
      color: $gray-20;
      letter-spacing: 0;
    }

    .srp-resuls-list__link {
      text-align: right;
      font-family: $font-condensed;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: $gray-10;

      &:hover {
        color: $gray-30;
        transition: all ease 0.3s;
      }
    }

    @include maxbp($medium) {
      .document-name {
        width: 60%;
      }

      .srp-resuls-list__link {
        width: 40%;
        padding: 0 0 0 15px;
        display: flex;
        font-size: 16px;

        .search-pipe {
          margin-right: 7px;
        }
      }
    }
  }
}

.contents-section {
  text-align: left;

  h4 a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.search-empty {
  color: $notification-error;
  margin: 0 0 20px;
  font-style: italic;
  font-family: $font-heading;
  font-size: 24px;
}

.search-result-tabs .grid > div:last-child .product_tile {
  margin: 0;
}

.search-result-page {
  .srp-top-section {
    text-align: center;
    max-width: 1001px;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    > h1 {
      margin: 0;
    }
  }
}
