.product-resource-form {
  align-items: flex-start;
  padding: 80px 64px;
  margin: 0 -16px;
  //background: #e7e7e7;

  @include maxbp($r_1000) {
    display: block;
    margin: 0 0 40px;
    padding: 40px 24px;
  }

  @include maxbp($medium) {
    padding: 40px 16px;
  }

  > div {
    @include maxbp($r_1000) {
      padding: 0;
      max-width: 100% !important;
      margin: 0 0 40px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .section-title {
    font-family: $font-subheading;
    font-weight: normal;
    font-size: 22px;
    border-bottom: 1px solid $gray-20;
    padding: 0 0 13px;
    margin: 0 0 14px;
    line-height: 30px;
    letter-spacing: 0;
    color: $gray-10;
    text-transform: none;
  }

  .search-field {
    background: $gray-90;
    padding: 28px 20px 37px 20px;
  }

  .search-field-block {
    position: relative;

    .form-item {
      margin: 0;
    }
  }

  .prod-res-search-icon {
    position: absolute;
    width: 60px;
    height: 59px;
    background-color: $gray-10;
    text-align: center;
    line-height: 40px;
    right: 0;
    top: 0;

    .button {
      background: none;
      font-size: 0;
      padding: 0;
      height: 40px !important;
      width: 60px !important;
      line-height: 40px !important;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
    }

    &::before {
      content: "\e914";
      font-family: $font-icon;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      margin: revert;
      top: 0;
      bottom: 0;
      font-size: 29px;
      line-height: 55px;
    }

    &:hover {
      &::before {
        background-color: $gray-20;
        transition: all ease 0.3s;
      }
    }
  }

  .form-item {
    padding: 0;
    margin: 0 0 16px;

    input[type="text"],
    select {
      border: 2px solid $input-border-color;
      font-size: 18px;
      color: $gray-20;
    }

    input[type="text"] {
      padding: 11px 70px 9px 16px;
    }

    select {
      padding: 15px 40px 14px 16px;
    }
  }
}

.product-resources-page {
  &.pop-open {
    overflow: hidden;
  }

  .pr-count {
    color: $gray-30;

    @include maxbp($r_1000) {
      //color: $white;
    }
  }

  .tab-accordion-active {
    .pr-count {
      @include maxbp($r_1000) {
        color: $white;
      }
    }
  }

  .search-result-text-wrapper {
    //margin: 40px auto;
    margin: 0 0 56px;
  }

  .product-desc {
    &.pr-desc-block {
      margin: 0 0 16px;
    }
  }

  .product-modelno,
  .product-link {
    a {
      text-decoration: none;
    }
  }

  .prod-res-viewall {
    margin: 16px 0 0;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.4px;
    color: $gray-10;
    font-family: $font-condensed;
    text-transform: uppercase;

    &::after {
      content: "\e905";
      font-family: $font-icon !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 0.6875rem;
      opacity: 1;
      padding-left: 1px;
      position: relative;
      top: -1px;
      margin-right: -24px;
    }

    &:hover {
      color: $gray-30;
      transition: all ease 0.3s;

      &::after {
        color: $gray-30;
      }
    }
  }

  .tabs {
    max-width: 1480px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }

  .pagination {
    margin: 20px 0;
  }

  .ui-widget-overlay {
    background: $black;
    opacity: 0.8;
  }

  .product-title {
    h3 {
      font-family: $font-condensed;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2.2px;
      color: $gray-10;
    }
  }

  #products-tab,
  #cad-tab,
  #images-tab {
    .grid-col-xl-3 {
      @include breakpoint($large) {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0;

        .product_tile {
          width: 270px;
        }
      }
    }
  }
}

.image-resource-popup {
  //padding: 0;
  //width: 90% !important;
  //border: none !important;
  //top: 10vh !important;
  padding: 0;
  border: none !important;
  top: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  left: 0 !important;
  width: 100% !important;
  background: none;

  .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 0;
  }

  .ui-button-icon.ui-icon.ui-icon-closethick {
    background: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    display: block;
    margin: 0;
    text-indent: 0;
    font-size: 0;

    &::after {
      content: "\e90e";
      font-size: 40px;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      font-family: $font-icon !important;
    }
  }

  .ui-dialog-titlebar.ui-widget-header {
    background: none;
    border: none;
    width: 90% !important;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 1000;
    top: 100px;
  }

  .ui-dialog-content {
    height: auto !important;
    padding: 0;
    margin: 100px 5%;
    width: 90% !important;
    background: #fff !important;
    overflow: auto;
  }
}

.image-resources-modal.grid {
  display: block;
  padding: $space 0 $space*5;

  > div {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    padding: 0;

    .thumb-img-wrapper-list {
      &.desktop-thumb-img {
        display: block !important;
      }

      &.mobile-thumb-img {
        display: none !important;
      }

      .prod-big-img {
        width: 48%;
        display: inline-block;
        margin: 0;
        vertical-align: middle;

        @include maxbp($medium) {
          width: 100%;
        }
      }

      .product_details {
        width: 48%;
        display: inline-block;
        vertical-align: middle;

        @include maxbp($medium) {
          width: 100%;
        }

        .desktop-thumb-img {
          display: block;
          margin: 20px 0 0;
        }

        .product_title {
          font-size: 35px;
          margin: 0 0 10px;
          line-height: 40px;
        }

        .product_subtitle {
          font-style: italic;
          color: #7f7f7f;
          margin: 0 0 35px;
        }

        .download-section {
          a {
            color: #37c1cb;
            text-decoration: none;
            font-family: $font-condensed;
            font-weight: bold;
            font-size: 24px;
            margin: 0 0 7px;
            display: block;

            &:hover {
              color: #005e63;
            }
          }
        }
      }

      .thumb-img-wrapper {
        margin: 40px auto 0;
        padding: 0;
        width: 85%;

        .slick-arrow {
          font-family: $font-icon;
          font-size: 0;
          color: #ccc;
          top: 0;
          bottom: 0;

          &.slick-prev {
            font-family: $font-icon;
            left: -30px;

            &::before {
              content: "\e901";
              font-size: 25px;
            }
          }

          &.slick-next {
            font-family: $font-icon;
            transform: rotate(0);
            right: -30px;

            &::before {
              content: "\e901";
              font-size: 25px;
            }
          }
        }

        .slick-slide {
          float: none;
          display: inline-block !important;
        }

        img.img {
          width: auto;
          height: auto;
          vertical-align: bottom;
          padding: 0;
          border: none;
        }
      }
    }
  }
}

.product-resource-tab.tabs {
  @include maxbp($small) {
    .tab-data {
      padding: 0;
      border: none;
    }
  }

  @include maxbp($large) {
    .tab-desc.tab-data-active {
      margin: 0 0 30px;
    }
  }

  @include maxbp($medium) {
    .grid > div:last-child .product_tile {
      border: none;
      margin: 0;
    }
  }

  .product-link a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.4px;
    color: $gray-10;

    &::after {
      content: "\e905";
      font-family: $font-icon !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 0.6875rem;
      opacity: 1;
      padding-left: 1px;
      position: relative;
      top: -1px;
      margin-right: -24px;
    }

    &:hover {
      color: $gray-30;
      transition: all ease 0.3s;

      &::after {
        color: $gray-30;
      }
    }
  }

  .prod-res-model {
    //margin: 0 0 16px;
  }
}
