// Product Registration Form
.date_format {
  display: flex;
  width: 100%;
  margin: 0;

  .form-item {
    width: 33.33%;
    padding: 0 5px;
    margin: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  select + .form-item--error-message {
    display: none;
  }
}

.product-register {
  .form-item {
    a {
      font-family: $font-condensed;
      text-decoration: none;
    }
  }

  .custom-input--checkbox .custom-input__label {
    padding-left: 40px;
  }

  .date_format {
    background: transparent;
  }

  .auto-suggest {
    position: relative;
    background: $white;
    width: 100%;
    top: 0;
    z-index: 99;

    ul {
      list-style: none;
      padding: 0 10px;
    }
  }

  h2.about-you {
    float: left;
    margin: 32px 0 0;
  }

  .required-field {
    float: right;
    margin: 32px 0 0;

    + hr {
      clear: both;
      display: none;
    }
  }

  .email-updates {
    font-size: 16px;
  }
}

form {
  span.field-prefix {
    position: absolute;
    top: -16px;
    font-size: 18px;
    font-family: $font-condensed;
    z-index: 2;
  }

  .webform-button--submit[disabled] {
    background-color: $white;
    border-color: transparent;
    cursor: not-allowed;
  }

  .button--disabled[disabled] {
    opacity: 0.5;
    background-color: $white;
    border: 1px solid $gray-60;
    cursor: not-allowed;
  }

  .form-item--error .form-item__textfield,
  .form-item--error .form-text {
    background: transparent;
  }

  .form-item__textfield:focus {
    height: 60px;
  }

  .form-item--error .form-select {
    background: $white get-select-icon($gray-10) no-repeat right 0.75rem center;
    background-size: 20px 20px;
  }

  @include large {
    .grid {
      .grid-col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

      .grid-col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }

      .grid-col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
      }

      .grid-col-lg-4,
      .grid-col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        &.date_formate {
          max-width: 100%;
        }
      }

      .grid-col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
      }

      .grid-col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
      }
    }
  }
}

.webform-submission-product-registration-form {
  border-top: 1px solid #e7e7e7;
  margin: 32px 0 0;

  @include large {
    [class*="grid-col"] {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .grid-col-lg-6 {
      [class*="grid-col"] {
        &:first-child {
          padding-left: 0;
          padding-right: 10px;
        }

        &:last-child {
          padding-right: 0;
          padding-left: 10px;
        }
      }
    }
  }

  .form-item__select {
    background-position: right 24px;
  }

  @include maxbp($large) {
    .form-item {
      padding: 0;
    }

    .date_format .form-item {
      padding: 0 5px;
    }

    .date_format .form-item:first-child {
      padding-left: 0;
    }

    .date_format .form-item:last-child {
      padding-right: 0;
    }

    .form-wrapper[class*="grid-col"] {
      padding: 0;
    }
  }

  .prod-info-title.prod-reg-sub-title {
    font-family: $font-condensed;
    font-size: 19.2px;
    letter-spacing: 0;
    line-height: 22px;
    color: #000;
    margin: 0;
  }

  #product_upc_sku_date_table {
    position: relative;
    padding-left: 0;

    .form-item__label {
      display: block !important;

      .font-condensed {
        color: $gray-10;
      }
    }

    .parent_product_upc_sku_date_table_add {
      display: none;
    }

    .parent_product_upc_sku_date_table_remove {
      padding-bottom: 40px;

      input {
        width: 171px;
        padding: 0;
      }
    }

    .removecrossbutton {
      display: none;
    }

    .add-more-items {
      display: none;
    }

    .js-form-item {
      position: relative;
    }

    .webform-multiple-add {
      padding-bottom: 30px;
    }

    .purchase-date {
      display: flex;
      width: 100%;

      > div {
        @include breakpoint($large) {
          width: 33.33%;
          padding: 0 5px;
        }
      }
    }

    .purchase-day,
    .manufacture-day {
      width: 100%;
      padding: 0 5px;
    }

    .purchase-month,
    .manufacture-month {
      width: 100%;
      padding-right: 5px;
    }

    .purchase-year,
    .manufacture-year {
      width: 100%;
      padding-left: 5px;
    }

    .manufacture-date {
      position: relative;
      top: 40px;
      display: flex;
      padding-bottom: 30px;
      width: 100%;

      > div {
        @include breakpoint($large) {
          width: 33.33%;
          padding: 0 5px;
        }
      }
    }
  }

  .general-details {
    display: none;
  }

  #edit-prod-info {
    margin-bottom: 0;

    .prod-reg-title {
      margin-bottom: 0;
      font-family: $font-condensed;
      font-size: 19.2px;
      letter-spacing: 0;
      line-height: 22px;
      color: $black;
      padding-bottom: $space-double;
    }
  }

  .subscriber-optin {
    padding-top: 12px;
  }

  .js input.form-autocomplete.ui-autocomplete-loading {
    background-repeat: no-repeat !important;
  }

  .captcha-validate {
    height: 0;
    opacity: 0;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .captcha {
    padding-bottom: 0;
  }

  label[for=edit-recaptcha] {
    display: none;
  }
}

form .product-reg-wrapper {
  display: block;

  > .grid-col-lg-6 {
    max-width: 721px;
    width: 100%;

    @include maxbp($large) {
      max-width: none;
    }
  }

  .form-item {
    margin: 0 0 32px;

    &.date_formate {
      margin: 0;
    }

    [for="edit-zip-postal"] {
      font-size: 18px;
    }
  }

  span.field-prefix {
    position: static;
    font-family: $font-body;
    font-size: 18px;
  }
}
