#a2apage_dropdown {
  //display: block !important;
  //max-height: 0;
  //overflow: hidden;
  //transition: all ease 0.5s;
  //&.active-a2apage_dropdown {
  //max-height: 50px;
  //}
  border: none;

  &.a2a_menu {
    width: 200px !important;
    min-width: 10px !important;
    margin: $space/2 0;
    z-index: 1000;
    border-radius: 0;

    .a2a_mini_services {
      background: $gray-10 !important;
      display: block;
      overflow: hidden;
      border-radius: 0;

      a {
        font-size: 0;
        width: auto;
        border: none !important;
        padding: 8px !important;
        background: none !important;

        &:hover {
          background: $gray-10 !important;
        }
      }

      span {
        background: none !important;
        margin: 0 !important;

        path {
          fill: $white;
        }
      }
    }
  }
}

.share-opt {
  .a2a_dd.addtoany_share {
    padding: 0;
    font-size: 1.125rem;
  }

  .a2a_svg.a2a_s__default.a2a_s_a2a {
    width: auto !important;
    height: auto !important;
  }

  .a2a_kit.addtoany_list {
    display: block;
    line-height: normal !important;

    svg {
      display: none;
    }
  }

  .a2a_label.a2a_localize {
    font-family: $font-condensed;
    text-transform: uppercase;
    height: auto !important;
    width: auto !important;
    clip-path: unset !important;
    position: relative !important;
    padding: 0 20px 0 0;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.6px;
    color: $gray-10;

    &::after {
      //content: "+";
      padding: 0 8px;
      content: "\e909";
      font-family: $font-icon !important;
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      top: -2px;
      bottom: 0;
      margin: auto;
      height: 20px;
      color: $gray-10;
    }
  }
}

#a2apage_full,
#a2a_overlay {
  display: none !important;
}
