.showroom-professional-content {
  .showroom-professional-quick-links {
    padding-left: 64px;
    padding-right: 64px;

    @include maxbp($main-menu-medium) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include maxbp($medium) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.showroom-professional-quick-links {
  .content-grid-links {
    padding: 20px;

    @include maxbp($large) {
      padding: 20px 0;
    }

    > div:first-child {
      padding-bottom: 10px;
      display: inline-block;
      border-bottom: 5px solid $gray-10;
      font-family: $font-condensed;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .text-long {
      p {
        line-height: 175%;
        font-size: 14px;
      }
    }

    a {
      text-transform: uppercase;
      font-weight: 400;
      font-family: $font-condensed;
      text-decoration: none;
    }
  }

  & > div:first-child {
    text-align: center;
    font-family: $font-heading;
    font-size: 37px;
    color: $gray-30;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 45px 0;

    @include maxbp($large) {
      font-size: 29px;
      line-height: 1.3;
    }
  }

  &.pricing-sales-policies {
    .showroom-list {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 1 1 47% !important;
      }

      .file--application-pdf {
        display: block;
      }
    }

    .showroom-professional .showroom-professional-list {
      flex-wrap: wrap;

      .showroom-list {
        flex: 1 1 50%;

        @include maxbp($large) {
          flex: 1 1 100%;
          border-bottom: 1px solid $gray-60;
        }

        &:first-child {
          border-bottom: 1px solid $gray-60;

          .content-grid-links {
            border-right: 1px solid $gray-60;

            @include maxbp($large) {
              border-right: 0 none;
            }
          }
        }

        &:nth-child(3) {
          .content-grid-links {
            border-right: 1px solid $gray-60;

            @include maxbp($large) {
              border-right: 0 none;
            }
          }
        }

        &:nth-child(2) {
          border-bottom: 1px solid $gray-60;
        }
      }
    }
  }
}

.showroom-professionals {
  aside.main-sidebar {
    display: none;
  }

  .main-content--with-sidebar {
    width: 100%;
    margin: 0;
  }

  .ui-dialog.ui-front {
    max-width: 576px;
    margin: 16px auto;
    z-index: 999999;
    background: $white;
    opacity: 1;
    border-radius: 2px;
    padding: 32px 56px 30px 56px;

    @include maxbp($large) {
      width: auto !important;
      padding: 14px 12px;
      margin: 16px 16px 16px;
      overflow-y: scroll;
      max-height: 100%;
    }

    @include maxbp($small) {
      top: 50px !important;
    }

    .ui-widget-header {
      background: $white;
      border: 0 none;
      width: 22px;
      height: 22px;
      right: 20px;
      position: absolute !important;
      top: 10px;
      z-index: 101;
    }

    .ui-button {
      border: 0 none;
      background: no-repeat;
      width: 30px;
      height: 30px;

      .ui-icon {
        font-family: $font-icon;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-size: 30px;
        background: none;
        text-indent: initial;
        color: $black;
        width: 30px;
        height: 30px;

        &::before {
          content: "\e90e";
          display: block;
          text-indent: 0;
        }
      }
    }
  }

  @include maxbp($large) {
    &.no-padding main {
      padding: 20px !important;
    }

    .banner h1.banner__title-big,
    .page-banner-wrapper .banner h1.banner__title-big {
      font-size: 21px;
    }

    .banner .breadcrumb {
      padding: 0 8px;

      .breadcrumb__link {
        padding: 0;
      }
    }
  }

  .ui-dialog-content {
    max-height: 100% !important;
    padding: 0;
    height: auto !important;
  }

  .ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0.5em 1em;
    background: none;
    overflow: auto;
  }

  .ui-widget-overlay {
    z-index: 100001 !important;
    background-color: rgba(24, 25, 29, 0.8);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out 0s;
    transition: opacity 0.3s ease-in-out 0s;
  }

  main .showroom-professional-list {
    display: flex;

    @include maxbp($large) {
      flex-wrap: wrap;

      .showroom-list {
        flex: 1 1 100%;
        border-bottom: 1px solid $gray-60;
      }
    }

    .showroom-list {
      padding: 20px;

      @include maxbp($large) {
        padding: 20px 0;
      }

      &:first-child {
        //padding-left: 0;
      }

      &:last-child {
        //padding-right: 0;
        border-bottom: 0;
      }

      p {
        line-height: 175%;
        font-size: 13px;
      }
    }
  }

  #block-userloginwelcome {
    text-align: center;
    padding: 64px 19px 19px 19px;
    //background: $gray-90;

    .elearning-login {
      h3 {
        font-size: 40px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-family: $font-heading;
        color: $gray-10;
      }
    }

    & + nav {
      //background: $gray-90;
      text-align: center;
      min-height: 20px;
      padding: 0 19px;
      //margin-bottom: 20px;
      //border-bottom: 1px solid $gray-60;

      .menu {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 0 0 2rem;
        margin: 0;

        @include maxbp($r_600) {
          display: block;
        }

        .menu-item {
          margin: 0 20px;

          @include maxbp($r_600) {
            margin: 0 0 16px;
          }

          a {
            @extend .button;

            &:hover {
              background-color: $gray-30;
            }

            @include maxbp($r_600) {
              display: block;
              width: 250px;
              margin: auto;
            }
          }
        }
      }
    }
  }

  &.user-logged-in {
    .menu .menu-item:first-child {
      margin-right: 0 !important;
    }
  }
}

.popup-user-login {
  .form-action {
    display: flex;
    align-items: center;
  }

  .forgot {
    order: 2;

    a {
      text-transform: uppercase;
      font-family: $font-condensed;
      text-decoration: none;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 2.2px;
      color: $gray-10;

      @include maxbp($large) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;
      }
    }
  }

  .action {
    order: 1;
    padding-right: 20px;

    .checkout-login {
      min-width: 184px;
      padding-top: 18px;
      padding-bottom: 18px;
      text-transform: uppercase;
      font-family: $font-condensed;
      text-decoration: none;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2.2px;

      @include maxbp($large) {
        min-width: 140px;
      }
    }
  }

  .form-item__textfield {
    border-bottom: 3px solid $gray-60;
    padding: 0.2rem;
  }

  .form-item__textfield:focus,
  .is-filled .form-item__textfield {
    border-bottom: 3px solid $gray-10;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
  }

  .username,
  .pass {
    margin-top: 30px;

    .form-item__label {
      position: relative;
      padding: 0;
      left: 0;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      color: $gray-20;
      font-family: $font-body;
      top: 0;
    }
  }

  .rememberme {
    margin: 25px 0;

    .custom-input__label {
      left: 0;
      cursor: pointer;
      display: inline-block;
      top: 0;
    }
  }

  .form-item__pwd-toggle {
    display: none;
  }

  .form-item {
    margin-bottom: 15px;
  }
}

.user_login {
  h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    font-family: $font-subheading;
    text-transform: none;
    color: $gray-10;

    @include maxbp($large) {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
    }
  }

  .user-login-error {
    label {
      font-weight: 700;
      color: $notification-error;
    }
  }
}

.logged-user-name {
  font-size: 26px;
  font-family: $font-heading;
  text-transform: uppercase;
  color: $gray-10;
}

.user-login-form,
.user-pass {
  max-width: 576px;
  margin: 0 auto;

  .form-text {
    border-bottom: 3px solid $gray-60;
    padding: 0.2rem;
    width: 75%;
  }

  .form-item__label {
    padding: 0;
    font-size: 12.5px;
    position: relative;
    left: 0;
  }

  .form-item__description {
    font-family: $font-condensed;
    font-size: 16px;
  }

  .form-text:focus,
  .is-filled .form-text {
    border-bottom: 3px solid $gray-10;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
  }

  label.option {
    padding-left: 30px;
    font-family: $font-condensed;
    font-size: 18px;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      content: "";
    }

    &::before {
      //background: $gray-10;
      border: 2px solid $gray-60;
      transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }

    &::after {
      opacity: 0;
      transform: translate(0, -50%) scale(0.3);
      transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      background-size: 24px 24px;
      background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#fff' d='M8.93 18.65L4 13.72l1.77-1.76 3.07 3.07L17.96 5l1.85 1.68L8.93 18.65z'/%3E%3C/svg%3E"), "#", "%23");
    }
  }

  .form-checkbox {
    position: absolute;
    z-index: -1;
    left: 0;
    opacity: 0;
  }

  input.button {
    background: $gray-10;
  }
}

.user-login-page {
  .main-content {
    ul {
      list-style: none;
      padding: 0;
      text-align: left;
      max-width: 576px;
      margin: 0 auto 25px;

      li {
        display: inline-block;
        margin-right: 20px;
        background: no-repeat;

        a {
          text-decoration: none;
          color: $gray-20;
          text-transform: uppercase;
          font-family: $font-condensed;
          display: inline-block;
          font-size: 20px;
          padding: 0;

          &.is-active {
            border-bottom: 5px solid $gray-10;
          }
        }
      }
    }
  }
}

.user-pass {
  p {
    font-family: $font-condensed;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 35px;
  }

  .form-item {
    margin-bottom: 0;
  }
}

.e-learning.showroom-professionals.no-padding {
  .overlay_bg {
    @media (max-width: 999px) {
      padding: 30px 64px;
    }

    h1 {
      p {
        @media (max-width: 919px) {
          margin: 0;
        }
      }
    }

    a {
      text-transform: none;

      &:hover {
        color: $gray-10;
      }

      &:not(.use-ajax) {
        color: $white;
        font-family: $font-body;
        text-decoration: underline;
        display: inline-block;
        margin: 0 0 5px;

        @include maxbp($medium) {
          margin: 0 0 15px;
        }

        &:hover {
          color: $gray-10;
        }
      }

      &.use-ajax {
        text-transform: uppercase;
      }

      em {
        color: $white;
      }
    }
  }

  @include maxbp($large) {
    main {
      padding: 0 !important;
    }
  }
}

.showroom-locator-map-page {
  .main {
    padding: 0 !important;
  }
}

@include maxbp($main-menu-medium) {
  .showroom-locator-map-page {
    .main {
      .text-long {
        iframe {
          border: none;
          height: 1451px !important;
        }
      }
    }
  }
}

@include maxbp($medium) {
  .showroom-locator-map-page {
    .main {
      .text-long {
        iframe {
          border: none;
          height: 980px !important;
        }
      }
    }
  }
}

.showroom-prof-page .h1.page-title {
  @include maxbp(400px) {
    font-size: 32px;
    line-height: 40px;
  }
}
