// vettis registration page and  vettis-waitlist page
.vettis-registration,
.vettis-waitlist {
  article {
    max-width: 1258px;
    margin: 0 auto;
    padding-right: 73px;
    padding-left: 73px;

    @include maxbp($large) {
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      .form-actions {
        .form-submit {
          width: 100%;

          & + .form-submit {
            margin-top: 30px;
          }
        }
      }

      h2 {
        font-size: 14.6px;
      }
    }
  }

  h3 {
    border-bottom: 1px solid $gray-60;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  form {
    label {
      text-transform: uppercase;
      color: $black;
      font-weight: 700;
      letter-spacing: 0.2em;
      font-size: 14px;

      @include maxbp($large) {
        font-size: 11px;
      }
    }
  }

  .form-item__textfield,
  .form-item__select {
    text-transform: uppercase;
    color: $black;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 14px;
  }

  #edit-grid-three {
    .grid-col-md-4 {
      padding: 0;

      &:nth-child(2) {
        padding-right: 16px;
        padding-left: 16px;

        @include maxbp($medium) {
          padding: 0;
        }
      }
    }
  }

  .custom-input--checkbox .custom-input__label {
    padding-left: 60px;
  }

  .receive_mail {
    margin-left: 60px;
    margin-top: 20px;

    @include maxbp($large) {
      margin-left: 75px;
    }

    h4 {
      margin-top: 0;

      @include maxbp($large) {
        font-size: 12px;
      }
    }
  }

  .email-updates {
    margin-bottom: 0;
  }

  .form-item__select {
    background-position: right 24px;
  }
}

.captcha {
  padding-bottom: 30px;
}

form {
  .form-item {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.vettis_wrap {
  margin: 100px 0;
  align-items: center;
  justify-content: center;

  .vettis-concrete {
    padding-left: 8.5%;

    img + img {
      margin: 4.5% 0;
    }
  }

  .waitlist-hero-price {
    font-size: 34px;
    letter-spacing: 0.18em;
    color: $gray-60;
  }

  .limited-edition {
    h6 {
      font-family: $font-condensed;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 50px;
      font-size: 21px;
    }
  }

  @include maxbp($large) {
    .vettis-hero-image {
      order: 2;
    }

    .limited-edition {
      h6 {
        margin-bottom: 25px;
        font-size: 15px;
      }
    }
  }
}

.form-waitlist {
  margin-bottom: 150px;

  .form-waitlist-banner {
    color: $white;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: $gray-60;
    margin-bottom: 1.5625em;
    padding: 0.625em 0 0.5em;
    margin-top: 0;
    font-size: 32px;
    font-family: $font-body;
  }

  p {
    text-align: center;
    font-size: 14.5px;
    letter-spacing: 0.15em;
    line-height: 1.6675;
    text-transform: uppercase;
    color: $black;
  }

  @include maxbp($large) {
    margin-bottom: 85px;

    .waitlist-hero-price {
      font-size: 28px;
    }

    .form-waitlist-banner {
      font-size: 21px;
    }

    p {
      font-size: 12px;
    }
  }
}

p.vettis-content {
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 14px;
}
