.world-of-brizo-page {
  .page-banner-wrapper {
    background-color: #FFF;
    @include maxbp($large) {
      .banner__content {
        padding: 0;
      }
    }
  }
}

.world-of-brizo {
  .layout__region--content {
    .block {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      overflow: hidden;
    }
  }

  .vertical-align {
    align-items: center;
    // height: 635px;
    overflow-y: hidden;

    h2 {
      font-family: $font-heading;
      font-size: 40px;
      color: $gray-10;
      line-height: 48px;
      letter-spacing: 8px;

      strong {
        font-weight: bold;
      }

      @include maxbp($r_1000) {
        margin: 0;
      }
    }

    p {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0;
      color: $gray-20;

      @include maxbp($large) {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0;
      }
    }

    .grid-col-lg-5 {
      padding: 0 64px;

      h2 {
        font-family: $font-heading;
        font-size: 40px;
        color: $gray-10;
        line-height: 48px;
        letter-spacing: 8px;
        word-break: break-word;

        @include maxbp($large) {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: 5.76px;
        }

        strong {
          @include maxbp($medium) {
            word-break: normal;
          }
        }

        a {
          color: $gray-10;
          font-family: $font-heading;

          @media (min-width: 920px) and (max-width: 1060px) {
            font-size: 35px;
          }

          em {
            word-break: initial;
          }
        }
      }

      @include maxbp($r_1300) {
        padding: 20px 64px 0;
      }

      @include maxbp($r_1000) {
        padding: 40px 24px;
      }

      @include maxbp($medium) {
        padding: 40px 16px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        display: flex;
        padding: 20px 30px;
        flex-direction: column;
        justify-content: center;
      }
    }

    .grid-col-lg-7 {
      padding: 0;
      height: 100%;

      @include maxbp($large) {
        padding: 0;
      }

      .embedded-video-wrapper {
        height: 100%;
      }
    }

    @include maxbp($large) {
      .grid-col-lg-7 {
        padding: 0;
      }

      .video-banner__play i {
        font-size: 22.25vw;
      }

      .grid-col-lg-5 {
        order: 2;
      }
    }

    @include maxbp($tab-min) {
      .grid-col-lg-7 {
        padding: 0;
      }
    }
  }

  .pull__quotes_wrapper {
    padding: 42px;
    text-align: center;
  }

  .footer {
    margin: 0;
  }

  .banner {
    margin-bottom: 0;

    .overlay_bg h1 {
      //line-height: 1.3;
      //font-size: 30px;
    }

    .overlay_bg {
      h1.banner__title-big {
        font-size: 86px;

        @include maxbp($large) {
          font-size: 30px;
        }
      }
    }

    &__content {
      padding: 0;
    }

    .left {
      padding-left: 0;
    }
  }

  a {
    text-decoration: none;
    font-family: $font-condensed;
  }

  &.no-padding main {
    padding: 0 !important;
    margin-top: 0 !important;
  }

  &.design-resources {
    .vertical-align {
      .grid-col-lg-7 {
        @include maxbp($large) {
          padding: 0;
        }
      }
    }

    h2 strong {
      display: inline-block;
      padding: 0 13px 0 0;
    }

    .main .banner .banner__paragraph {
      @include maxbp($medium) {
        padding: 0 20px;
      }
    }
  }

  #block-brizo-theme-content {
    .layout--twocol-section--67-33 {
      .cover-card-body-wrapper {
        text-align: left;

        @include maxbp($large) {
          text-align: left;
        }
      }
    }
  }
}

.jason-wu {
  @include maxbp($large) {
    .banner__title-big {
      display: none;
    }

    .banner__content p {
      //font-size: 10px;
      //padding: 0 12px;
    }

    .banner__content h1 {
      //line-height: 1;
    }
  }
}

.the-innovative-kitchen {
  .layout--threecol-section--33-34-33 > .layout__region--first,
  .layout--threecol-section--33-34-33 > .layout__region--second,
  .layout--threecol-section--33-34-33 > .layout__region--third {
    padding: 0 15px;
  }

  .the-innovative-kitchen.world-of-brizo .vertical-align .grid-col-lg-7 {
    padding: 20px 0 0;

    @include maxbp($large) {
      padding: 0;
    }
  }

  @include maxbp($medium) {
    &.world-of-brizo .vertical-align .grid-col-lg-5 {
      padding: 0;
    }

    &.world-of-brizo .vertical-align .grid-col-lg-7 {
      //padding: 15px 0 0;
      padding: 0;
    }
  }
}

.padding-none {
  padding: 0 !important;
}

.st-jude .layout--twocol-section--33-67 > .layout__region {
  flex: initial;
}

.st-jude .layout--twocol-section--33-67 .layout__region--first {
  width: 42%;
  float: left;
}

.st-jude .layout--twocol-section--33-67 .layout__region--second {
  width: 58%;
  float: left;
}

.st-jude {
  .card-img-block {
    margin: 0;
  }

  .banner .callout_here {
    h6 {
      font-family: $font-condensed;
      font-size: 16px;

      p + p {
        color: $gray-40;
      }
    }
  }

  @include maxbp($large) {
    .layout--twocol-section {
      .layout__region {
        flex: 0 1 50%;
      }
    }

    .slick-dots {
      position: relative;
      padding-bottom: 20px;
      margin: 0;
      background: $black;
    }

    .banner .overlay_bg,
    .page-banner-wrapper .banner .overlay_bg {
      margin-bottom: 0;
    }
  }
}

.banner{
  .banner__wrapper {
    @include maxbp($medium) {
      .banner_img{
        picture{
         display: none;
        }
      }
    }
    .banner__content{
      right: 0;
      .banner__content__flex{
        .banner__content_inner{
          .heading-text-wrapper{
            background: #000;
            color: #ffffff;
            margin: 0 auto;
            width: 75%;
            text-align: center;
            @include maxbp($medium) {
              width: 86%;
            }
            h1{
              font-size: 44px;
              font-style: normal;
              line-height: 32px;
              text-transform: uppercase;
              margin-bottom: 44px;
              @include maxbp($medium) {
                font-size: 30px;
                margin-top:109px;
                margin-bottom: 58px;
              }
              .span-of{
                font-size: 32px;
                text-transform: none;
                font-style: italic;
                vertical-align: top;
                font-family: $font-domaine-display-narrow-web-regular-italic ; //$font-subheading;
              }
            }
            p{
              font-size: 20px;
              line-height: 24px;
              letter-spacing: 0px;
              @include maxbp($medium) {
                font-size: 18px;
                line-height: 28px;
              }
            }
          }
          @include maxbp($medium) {
            margin-bottom: 104px !important;
          }
        }
      }
    }
  }
}

.george-content {
  p {
    margin: 30px 0;

    strong {
      font-family: $font-condensed;
      color: $black;
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.5px;
    }
  }

  h2 {
    font-family: $font-heading;
    line-height: 1.3;

    em {
      font-family: $font-heading;
      font-style: italic;
    }
  }
}

.restaurant {
  p {
    line-height: 2;
  }

  .banner .overlay_bg,
  .page-banner-wrapper .banner .overlay_bg {
    padding: 1.5rem;
  }
}

.pad-aaa {
  padding: 45px;
}

.bon-appetit.world-of-brizo {
  .grid-col-lg-5 {
    margin: 20px 0;

    picture {
      width: 100%;
    }

    .video-banner__content {
      padding: 0;

      @include maxbp($large) {
        .video-banner__play i {
          font-size: 64px;
        }
      }
    }
  }

  .pull__quotes_wrapper {
    padding: 25px;
  }

  .bon-appetie-section1 {
    margin-top: 45px;
  }
}

.a-taste-for-reinvention {
  .vertical-align {
    .grid-col-lg-5 {
      h2 {
        font-weight: 100;
        font-size: 38px;
        margin-bottom: 0;

        & + p {
          margin-top: 0;
        }
      }
    }
  }
}

.george-mendes {
  .banner .overlay_bg h1 {
    //font-family: $font-heading-italic;
  }

  .banner .overlay_bg,
  .page-banner-wrapper .banner .overlay_bg {
    //max-width: 575px;
  }

  p {
    margin: 40px 0;
  }
}

.fashion-food {
  .grid-col-lg-7 {
    .video-banner + picture {
      display: none;
    }
  }
}

#block-views-block-world-of-brizo-category-titles-block-1,
#block-views-block-world-of-brizo-category-titles-block-1-2,
.wob-filtered-view{
  /**
   * Hide <select> and submit-button
   */
  #views-exposed-form-world-of-brizo-category-titles-block-1,
  #views-exposed-form-wob-filtered-view-block-1,
  #views-exposed-form-wob-filtered-view-page-1 {
    margin-bottom: 60px;
    .form-item .form-type-select {
      display: none;
    }
    .form-submit {
      display: none;
    }
    select.form-item__select {
      display: none;
    }
    .wob-tabs {
      padding: 20px 0 25px 0;
      background: #fff;
      @include maxbp($medium) {
        padding: 0 !important;
      }
    }
    .form-item{
      margin-bottom: 0;
    }
    hr{
      margin: 0;
      border:0;
      border-bottom: 1px solid #827E7C;
      @include maxbp($medium) {
        display: none;
      }
    }
    .wob-extended-line{
      display: flex;
      width: max-content;
      left: -64px;
      position: relative;
      @include maxbp($large) {
        left: -24px;
      }
      @include maxbp($medium) {
        left: -20px;
        display: none;
      }
    }
  }

  /**
   * Pure styling, should probably be put in your theme stylesheet
   * instead of in this module
   */
  .pop-list {
    display: block;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
  }
  .pop-list li {
    float: none;
    display: inline-block;
    margin: 5px 5px 5px 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .pop-list li a {
    padding: 0 0 4px 0;
    margin: 0 10px;
    line-height: 23px;
    text-decoration:none;
    font-family: $font-din1451-engschrift;
    text-transform: uppercase;
    color: #827e7c;
    letter-spacing: 1px;
    text-align: center;
    cursor:pointer;
  }
  .pop-list li a.active {
      color: #141415;
      border-bottom: 3px solid #B5B3B1;
  }
  .view-filter-articles .views-row{
      float: left;
      padding: 15px;
  }
  .space-mobile{
    display: none;
    @include maxbp($medium) {
      height: 60px;
      width: 100%;
      padding-bottom: 60px;
      margin-bottom: 60px;
    }
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    width: 100%;
    position: sticky;
    top: 0;
  }
  .remove-padding {
    padding: 10px 0 !important;
  }
  .mobile-sticky{
    position: fixed;
    left: 0;
  }
  .admin-sticky-bar{
    top: 0px !important;
    position: fixed;
    left: 0;
  }
}

#block-views-block-world-of-brizo-category-titles-block-1{
  text-align: center;
  .views-row{

  }
  .views-field-description__value{
    width: 60%;
    margin: 0 auto;
  }
}

@include maxbp($medium) {
  .wob-filtered-view{
    #views-exposed-form-wob-filtered-view-block-1,
    #views-exposed-form-wob-filtered-view-page-1 {
      select.form-item__select,
      .form-item .form-type-select {
        display: unset;
        font-family: $font-din1451-engschrift;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 2px solid #dddbda;
      }
      .pop-list {
        display: none;
      }
    }
    .sticky {
      .wob-tabs {
        padding: 0 !important;
      }
    }
  }
}

.wob-featured-stories {
  background-color: #fff;
  display: flow-root;
  h2.h2 {
    font-family: "din1451-mittelschrift" !important;
    font-size: 40px;
    color: #827e7c;
    line-height: 48px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 103px;
    margin-bottom: 74px;
    height: 40px;
  }
  .views-field.views-field-field-wob-category {
    margin-top: 35px;
    a {
      line-height: 26px;
      font-size: 22px;
      font-family: "din1451-engschrift";
      text-transform: uppercase;
      color: #827e7c;
      letter-spacing: 2.2px;
      text-decoration: none;
    }
  }
  .views-field-title {
    h2 {
      font-size: 40px;
      color: #827e7c;
      line-height: 40px;
      letter-spacing: 0;
      text-align: inherit;
      padding-top: 8px;
      text-transform: none;
      margin-top: 0;
      margin-bottom: 10px;
      height: fit-content;
      a {
        font-family: "domaine-display-narrow-regular";
        text-decoration: none;
      }
    }
  }
  .grid-col-sm-3 {
      .views-field-field-wob-teaser-image-wide {
        display: none;
      }
      .views-field.views-field-field-wob-category {
        margin-top: 35px;
        a {
          line-height: 22px;
          font-size: 18px;
          letter-spacing: 1.8px;
        }
      }
      .views-field-title {
        h2 {
          font-size: 24px;
          line-height: 32px;
          padding-top: 11px;
        }
      }
  }
  .grid-col-sm-6 {
      .views-field-field-wob-teaser-image-narrow {
        display: none;
      }
  }
}
.wob-featured-stories.slider {
  display: none;
}

.wob-featured-stories-footer {
  height: 54px;
  width: 100%;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;
  opacity: 0.93;
  margin-top: 80px;
  padding-bottom: 100px;
}

@include maxbp($medium) {
  .wob-featured-stories {
    display: none;
  }
  .wob-featured-stories.slider {
    img {
      min-height: unset;
    }
    display: block;
    .slick-slider {
      padding: 0 15px;
    }
    h2 {
      font-family: "din1451-mittelschrift" !important;
      font-size: 20px;
      color: #141415;
      line-height: 24px;
      letter-spacing: 4px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 65px;
      margin-bottom: 30px;
    }
    .views-field.views-field-field-wob-category {
      margin-top: 26px;
      a {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.6px;
      }
    }
    .views-field-title h2 {
      font-size: 20px;
      color: #827e7c;
      line-height: 26px;
      letter-spacing: 0;
      text-align: inherit;
      padding-top: 9px;
      text-transform: none;
      margin-bottom: 10px;
      margin-top: 0;
    }
    button {
      &.slick-arrow.slick-prev,
      &.slick-arrow.slick-next {
          display: block;
          background-color: #141415;
          width: 48px;
          height: 48px;
          top: -150px;
          &:hover {
            background-color: #DDDBDA;
          }
      }
      &::before {
          color:#fff;
          font-size: 18px;
      }
    }
    .slick-dots {
      transform: translate(50%, 0);
      bottom: 0;
      right: 50%;
      top: inherit;
      left: inherit;
      text-align: right;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      -ms-flex-pack: center;
      justify-content: center;
      display: flex;
      position: relative;
      z-index: 99;
      margin-top: 20px;
  
      li {
        display: block;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 61px;
        width: 100%;
  
        & + li {
          margin-left: 10px;
        }
      }
  
      button {
        background-color: #DDDBDA;
        width: 100%;
        height: 4px;
        display: block;
        border: 0;
        text-indent: -9999px;
        cursor: pointer;
  
        &:focus,
        &:active {
          outline: none;
        }
      }
  
      li.slick-active button {
        background-color: $gray-30;
      }
    }
  }
  .wob-featured-stories-footer {
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 65px;
  }
}



#block-views-block-world-of-brizo-category-titles-block-1,
.wob-titles{
  div {
    .contextual-region,
    div[class^="js-view-dom-id-"],
    div[class*="js-view-dom-id-"] {
      .views-row{
        div h2{
          font-family: $font-din1451-mittelschrift !important;;
          height: 40px;
          letter-spacing: 8px;
          color: #141415;
          text-transform: uppercase;
          padding: 0;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: 9.72px;
          font-weight: normal;
          display: contents;
          margin-bottom: 53px;
          @include maxbp($medium) {
            font-size: 20px;
            line-height: 24px;
          }
        }
        .views-field-description__value{
          .field-content{
            p{
              text-transform: uppercase;
              color: #827e7c;
              font-size: 16px;
              text-decoration: none;
              line-height: 28px;
              font-family: $font-din1451-mittelschrift;
              letter-spacing: 2px;
              letter-spacing: 2.88px;
              text-align: center;
              margin-bottom: 53px;
            }
          }
        }
      }
    }
  }
  .wob-all-articles{
    h2{
      font-family: $font-din1451-mittelschrift !important;;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 9.72px;
      color: #141415;
      text-transform: uppercase;
      padding: 0 0 30px 0;
      @include maxbp($medium) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 4px;
        padding: 0;
        margin-bottom: 48px;
        height: 40px;
      }
    }
  }
}

.world-of-brizo-page{
  .block{
    article {
      .layout{
        .layout__region--content {
          padding: 0;
          .wob-banner{
            width: max-content;
            bottom: -50px;
            left: -64px;
            position: relative;
            display: flex;
            .banner{
              display: contents;
            }

            @include maxbp($container) {
              left: -64px;
            }
            @include maxbp($xl) {
              left: -64px;
              width: 100%;
            }
            @include maxbp($r_1000) {
              left: -25px;
              width: 100%;
            }
            @include maxbp($large) {
              left: -25px;
              width: 100%;
            }
            @include maxbp($medium) {
              left: -16px;
              width: 100%;
            }
            @include maxbp($small) {
              left: -16px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.page-node-type-landing-page{
  #block-views-block-world-of-brizo-category-titles-block-1 {
    div div[class*="js-view-dom-id-"],
    div div[class^="js-view-dom-id-"] {
      .views-row {
        div h2{
          margin-bottom: 48px;
          display: block;
          font-size: 40px;
          line-height: 48px;
          @include maxbp($medium) {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 4px;
          }
        }
        .views-field-description__value {
          display:none;
        }
      }
    }
  }
}

.world-of-brizo-page .dialog-off-canvas-main-canvas .layout-container .page-banner-wrapper .banner {
  display: block !important;
}

.main-content{
  .views-element-container{
    .wob-row{
      display: flex;
      margin-bottom: 60px;
      @include maxbp($medium) {
        margin-bottom: 0px;
      }
      .views-row{
        float:left;
        .views-field{
          .field-content {
            font-size: 22px;
            line-height: 26px;
            font-family: $font-din1451-engschrift;
            text-transform: uppercase;
            letter-spacing: 2.2px;
            color: #827E7C;

            @include maxbp($medium) {
              line-height: 22px;
              font-size: 16px;
            }
          }
        }
        .media {
          margin-bottom: 30px;
          width: 100%;

          img{
            display: block;
            top: 0;
            left: 0;
          }
        }
        h2.wob-blog-title {
          font-family: "domaine-display-narrow-regular";
          font-size: 40px;
          padding: 10px 0;
          line-height: 52px;
          text-transform: none;
          letter-spacing: 1px;
          color: #141415;
          a{
            text-decoration: none;
          }

          @include maxbp($medium) {
            line-height: 26px !important;
            font-size: 20px !important;
            margin: 0;
            padding: 0;
          }
        }
        .views-field-field-wob-category{
          a{
            color: #827e7c;
            text-decoration: none;
          }
        }
      }
      .grid-col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .grid-col-lg-4{
        flex: 0 0 33%;
        max-width: 33%;
        float:left;
        .views-field{
          .field-content {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 2px;
          }
        }
        h2.wob-blog-title {
          font-size: 24px;
          padding: 15px 0;
          line-height: 36px;
        }
      }

      .grid-col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
        float:left;
        .views-field{
          .field-content {
            a{
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
        h2.wob-blog-title {
          font-size: 24px;
          padding: 15px 0;
          line-height: 36px;
        } 
      }

      @include maxbp($medium) {
        width: 100%;
        display: inline-block;
        .views-row{
          margin-bottom: 41px;
          .views-field{
            .field-content {
              a{
                font-size: 20px;
              }
            }
          }
          .media {
            margin-bottom: 26px;
          }
          h2.wob-blog-title {
            font-size: 26px;
            line-height: 36px;
          }
        }
        .grid-col-xs-12{
          width: 100%;
          .views-field-field-wob-category{
            a{
              @include maxbp($medium) {
                font-size: 16px !important;
                line-height: 22px;
              }
            }
          }
        }
        .grid-col-xs-6{
          width: 50%;

          .views-field{
            .field-content {
              a{
                line-height: 22px;
                font-size: 14px;
              }
            }
          }
          .views-field-field-wob-category{
            a{
              @include maxbp($medium) {
                font-size: 14px ;
                line-height: 22px ;
              }
            }
          }
          .media {
            margin-bottom: 26px;
          }

          h2.wob-blog-title {
            line-height: 22px !important;
            font-size: 16px !important;
            margin: 0;
            padding: 0;
          }
        }
      }

    }
  }
}