{#
/**
 * Available variables:
 * - flag_base_class - the base class name
 * - flag_modifiers - array of modifiers to add to the base classname
 * - flag_blockname - blockname prepended to the base classname
 * - flag_text - the text of the flag
#}
{% set flag_base_class = flag_base_class|default('flag') %}

<div {{ bem(flag_base_class, (flag_modifiers), flag_blockname) }}>
  {{ flag_text }}
</div>
