{% set list_view_modifier = list_view ? "list-view" : "" %}

<div class="download-card-grid grid {{ list_view_modifier }}">
  {% for download_card in download_cards %}
    <div class="download-card-grid__item grid-col-12 grid-col-md-6 grid-col-lg-4">
      {% include "@molecules/download-card/download-card.twig" with download_card %}
    </div>
  {% endfor %}
</div>
