{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}
    <div class="grid-container grid-container--small">
      <header class="clp-header">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc arcu, tempus vulputate ligula in, semper
          rutrum neque. Ut eget rutrum ipsum, eget accumsan mauris. Fusce laoreet odio id purus laoreet faucibus.</p>

        <p>Fusce et placerat ex hasellus lacinia vitae mi non suscipit.</p>

        <h2 class="clp_subtitle">Browse by product type</h2>
      </header>
    </div>

    <div class="grid-container grid-container--medium">
      <div class="catalog-grid">
        {% for i in 1..4 %}
          <div class="catalog-grid__item">
            {% include "@molecules/content-card/content-card.twig" with {
              content_card_title: "Title of Video Placed Here Title of Video Placed HereTitle of Video Placed Here Title of Video Placed Here",
              content_card_url: "/",
              content_card_thumbnail_url: "http://placehold.it/619x410"
            } %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="grid-container grid-container--medium grid-container--clp">
      <div class="grid">
        {% for i in 1..16 %}
          <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
            {% include "@organisms/product-tile/product-tile-collection.twig" %}
          </div>
        {% endfor %}
      </div>
    </div>

  {% endblock %}

{% endembed %}
