<div class='dropdown'>
{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}
{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}
{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
{% endif %}
{# below could maybe be done without a loop? #}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}
{% embed "@atoms/03-lists/_list-item.twig" with {
  "list_item_label": item_label,
  "li_base_class": item_base_class|default(menu_class ~ '__item'),
  "li_modifiers": item_modifiers,
  "li_blockname": item_blockname,
} %}
  {% block list_item_content %}
    {# Any icons, etc. can go inside this set link_title statement. #}
    {% set menu_cta = item.content['#menu_link_content'].field_menu_cta %}
    {% if menu_cta is not empty %}
      {% include "@atoms/01-links/link/link.twig" with {
        'link_url':menu_cta.uri,
        'link_content' : menu_cta.title,
        'link_base_class': menu_cta_class,
      } %}
    {% endif %}
    {{ item.content['#menu_link_content'].field_menu_description_text.value|raw }}
    {% set link_title %}{{ item.title }}{% endset %}
    {# You can add other attributes (id, etc.) inside this link_attributes array. #}
    {% set link_attributes = {
      class: bem(item_base_class|default(menu_class ~ '__link'), (item_modifiers)),
    } %}
    {% if item.url|render|trim == "/user/login" and user_display_name == '' %}
        {% set user_link_attributes = {
            class: bem(item_base_class|default(menu_class ~ '__link use-ajax'), (item_modifiers)),
            "data-dialog-options": ['{"width":800, "dialogClass":"login_popup"}'],
            "data-dialog-type": ['modal'],
            }
        %}
      <a href="/user-login" {{ add_attributes(user_link_attributes) }} data-drupal-link-system-path="user-login">{{ "Log in"|t }}</a>
    {% elseif item.url|render|trim == "/user" %}
      <a href="#" class="display-name">{{ 'Hello,' ~ user_display_name }}</a>
    {% elseif item.url|render|trim == "/user/logout" %}
      <a href="/user/logout" class="logout-lnk">{{ 'Logout' | t }}</a>
    {% elseif user_display_name == '' %}
      {{ link(link_title, item.url, add_attributes(link_attributes)) }}
    {% endif %}
    {% if item.below %}
      <div class='dropdown-content'>
      <span class="expand-sub"></span>
      {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname) }}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
</div>
