{{ attach_library('delta_theme/utility-menu') }}
{% set random_suffix_id = random() %}

<nav class="utility-nav">

  <div id="utility-nav-wrapper-{{ random_suffix_id }}" class="utility-nav-wrapper">
    {% include "@molecules/menus/utility-menu/_utility-menu.twig" with {
      menu_class: "utility-menu-nav",
      items: utility_items,
      user_display_name : user_display_name,
    } %}
</div>
</nav>
