{#
/**
 * @file
 * Default order total summary template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order_entity: The order entity.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: The adjustments:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - amount: The adjustment amount.
 *     - percentage: The decimal adjustment percentage, when available. For example, "0.2" for a 20% adjustment.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('delta_theme/tippy') }}
{{ attach_library('delta_theme/tooltip') }}

{{ attach_library('commerce_order/total_summary') }}

<div{{ attributes }} class="order-items">
    <div class="order-total-line order-total-line__subtotal shade">
        <span class="order-total-line-label">{{ 'Subtotal'|t }}: </span><span class="order-total-line-value">{{ totals.subtotal|commerce_price_format }}</span>
        <span class="text-left text-uppercase bl br bb border-dark">{{ "Shipping:"|t }}</span>
        <span class="text-right bb bold border-dark">
            {{ " TBD"|t }}
         <button class="tooltip-button js-tooltip" data-template="shipping_info"  aria-label="Open Info Popover">

              {% include "@atoms/04-images/icons/_icon.twig" with {
                icon_name: "info",
                icon_size: 24,
            } %}
         </button>
         <template id="shipping_info">
            <div class="tooltip">
                <header class="tooltip__header">
                Shipping Info
                </header>
                {% set tooltip_text = 'Shipping costs will be calculated during the checkout process.' %}
                <div class="tooltip__body">
                     {{tooltip_text}}
                  </div>
            </div>
        </template>
        </span>
        <span class="text-left text-uppercase bl br bb border-dark">{{ "Sales Tax:"|t }}</span>
        <span class="text-right bb bold border-dark">
        {{ " TBD"|t }}
        <button class="tooltip-button js-tooltip" data-template="sales_tax" aria-label="Open Info Popover">

            {% include "@atoms/04-images/icons/_icon.twig" with {
                icon_name: "info",
                icon_size: 24,
            } %}
        </button>
        </span>
        <template id="sales_tax">
            <div class="tooltip">
                <header class="tooltip__header">
                 Sales Tax
                </header>
                {% set tooltip_text = 'Sales tax will be calculated during the  process.' %}
                <div class="tooltip__body">
                     {{tooltip_text}}
                  </div>
            </div>
        </template>
    </div>
    {% for adjustment in totals.adjustments %}
        <div class="order-total-line order-total-line__adjustment order-total-line__adjustment--{{ adjustment.type|clean_class }}">
            <span class="order-total-line-label">{{ adjustment.label }} </span><span class="order-total-line-value">{{ adjustment.amount|commerce_price_format }}</span>
        </div>
    {% endfor %}
    <div class="order-total-line order-total-line__total">
        <span class="order-total-line-label">{{ 'Total'|t }} </span>
        <span class="order-total-line-value">
         {{ " TBD"|t }}
            <button class="tooltip-button js-tooltip" data-template="total_amount" aria-label="Open Info Popover">

                    {% include "@atoms/04-images/icons/_icon.twig" with {
                        icon_name: "info",
                        icon_size: 24,
                    } %}

            </button>
         </span>
        <template id="total_amount">
            <div class="tooltip">
                <header class="tooltip__header">
                    Total
                </header>
                {% set tooltip_text = 'The total cost will be calculated during the  process after shipping and sales tax have been calculated.' %}
                <div class="tooltip__body">
                     {{tooltip_text}}
                  </div>
            </div>
        </template>
        <p class="order-total-des">{{ "Prices are shown in US Dollars ($USD)" }}</p>
    </div>
</div>
