{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart__empty-page">

  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: 'cart-empty',
    icon_title: 'Cart Empty',
    icon_size: 120,
  } %}

  {% include "@atoms/02-text/00-headings/page-title.twig" with {
    page_title : 'Your cart is empty',
  } %}

  {% include "@atoms/06-buttons/01-button.twig" with {
    button_url : '/',
    button_content: 'continue shopping',
    button_modifiers: ['primary', 'lg'],
  } %}
  
</div>
