{% if patternlab %}
<div class="grid-container grid-container--medium">
{% endif %}

<div class="blog-grid">
  {% for card in cards %}
    {% set item_modifier_class = "large" in card.modifiers ? "blog-grid__item--large" %}

  <div class="blog-grid__item {{ item_modifier_class }}">
    {% include "@molecules/blog-card/blog-card.twig" with {
      blog_card_modifiers: card.modifiers,
      blog_card_url: card.url,
      blog_card_category: card.category,
      blog_card_content: card.content,
      blog_card_image_url: card.image_url,
    } %}
  </div>
  {% endfor %}
</div>

{% if patternlab %}
</div>
{% endif %}
