.card-img-block {
  margin: 0 0 $space+5;
}

.card-big-title {
  font-family: $font-condensed;
  text-transform: uppercase;
  color: $black;
  font-size: 48px;
  line-height: 45px;
  margin: 0 0 $space*2;

  &-bold,
  &-normal {
    display: inline-block;
    margin: 0;
  }

  &-bold {
    font-weight: bold;
  }
}

.card__title {
  font-family: $font-condensed;
  font-size: 18px;
  color: $black;
  text-transform: uppercase;
  margin: 0;

  &-link {
    @include link;
    @include no-underline;

    color: $black;

    &:hover {
      color: $gray-10;
    }
  }
}

.card__subtitle {
  color: $gray-20;
  margin: $space/2 0 $space;
  font-size: 15px;
  font-family: $font-condensed;
  line-height: 15px;

  &-link {
    @include no-underline;
    @include link;

    color: $gray-20;

    &:hover {
      color: $gray-10;
    }
  }
}

.card__body {
  color: $gray-20;
  font-size: 15px;
  margin: 0;
}

.card__link {
  @include link;
}

.card__button {
  @include no-underline;
  @include link;

  text-transform: uppercase;
  font-family: $font-condensed;
  display: inline-block;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "\e901";
    font-family: $font-icon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 12px;
    opacity: 0;
    transition: all ease 0.4s;
  }
}

// Variations
.card--bg {
  background-color: $gray-90;
  padding: 1em;
}

.card-example {
  .card {
    margin: 0 0 $space*8;
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 0 $space*2;
  }
}

.card--big-title-block {
  .card__body {
    font-size: 18px;
  }

  .card__button {
    font-size: 20px;
    margin: $space+15 0 0;
  }
}
