{% set team_card_base_class = 'team-card' %}

<div {{ bem(team_card_base_class, (team_card_modifiers), team_card_blockname) }}>
  {% block team_card_img %}
    {% if team_card_img_src %}
      {% include "@atoms/04-images/00-image/responsive-image.twig" with {
        "img_url": team_card_img_url|default(card_link_url),
        "img_src": team_card_img_src,
        "img_alt": team_card_img_alt,
        "image_link_blockname": team_card_base_class,
        "image_blockname": team_card_base_class,
        "output_image_tag": team_card_image_output_image_tag,
      } %}
    {% endif %}
  {% endblock %}

  <div {{ bem(team_card_body_base_class|default('team-card__body'), (team_card_body_modifiers), team_card_body_blockname) }}>
    {% if team_card_title %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 2,
        "heading": team_card_title,
        "heading_blockname": team_card_title_blockname,
        "heading_modifiers": team_card_title_modifiers,
        "heading_base_class": team_card_title_base_class|default('h6'),
      } %}
    {% endif %}

    {% if team_card_subtitle %}
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": team_card_subtitle,
        "paragraph_blockname": team_card_subtitle_blockname|default(team_card_base_class),
        "paragraph_base_class": team_card_subtitle_base_class|default('subtitle'),
      } %}
    {% endif %}

    {% if team_card_description %}
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      "paragraph_content": team_card_description,
      "paragraph_blockname": team_card_description_base_class|default(team_card_base_class),
      "paragraph_modifiers": team_card_description_modifiers,
      "paragraph_base_class": team_card_description_base_class|default('description'),
    } %}
    {% endif %}

    {% if team_card_link_url %}
      {% include "@atoms/01-links/link/link.twig" with {
        "link_content": team_card_link_text,
        "link_url": team_card_link_url,
        "link_base_class": team_card_link_base_class|default('sm-red-arrow-link'),
      } %}
    {% endif %}
  </div>
</div>
