<div class="image-desc-wrapper">
  <div class="id-image">
 
    {% if img_desc_prod_more_url|render %}
    <a href={{img_desc_prod_more_url}}>
    {% endif %}
      {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: img_desc_image_src,
        img_alt: img_desc_image_alt,
      } %}
    {% if img_desc_prod_more_url %}</a>{% endif %}
  </div>
  <div class="id-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 4,
      "heading": img_desc_title,
    } %}
  </div>
  <div class="id-prod-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 5,
      "heading": img_desc_prod_title,
    } %}
  </div>
  <div class="id-prod-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: img_desc_prod_desc,
    } %}
  </div>
  <div class="id-prod-more">
    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      cta_link_text: img_desc_prod_more_text,
      cta_link_url: img_desc_prod_more_url,
      cta_link_icon: "carrot-right",
      cta_link_icon_position: "right",
      cta_link_icon_size: "12",
    } %}
  </div>
</div>
