<div class="pdp-section pdp-ownership-toolkit-section">
  <div class="pdp-top-section pdp-advt-top-section">
    {% include "@molecules/pdp-advance-top/pdp-advance-top.twig" with {
      "adv_pdp_prod_img_src": adv_pdp_prod_img_src,
      "adv_pdp_prod_img_alt": adv_pdp_prod_img_alt,
      "adv_pdp_page_name": adv_pdp_page_name,
      "collection_name": collection_name,
      "pdp_model_name": pdp_model_name,
      "pdp_prod_name": pdp_prod_name,
      "rating_value": rating_value,
      "finish": finish,
    }%}

    <div class="toolkit-bottom-wrapper">
      {% include "@molecules/pdp-owernship-toolkit-bottom/pdp-owernship-toolkit-bottom.twig" %}
    </div>

  </div>



</div>
