{{ attach_library('brizo_theme/video-banner') }}
{% set method_suffix = random() %}
<div class="embedded-video-wrapper" aria-hidden="false" tabindex="0" id="video-picture-{{ method_suffix }}">
  <div class="video-banner-content">
      <img class="embedded-poster" src="{{ video_poster_url }}" alt="{{ 'Thumbnail image'|t }}" />
      <img class="embedded-play-icon" onclick="myFunction{{ method_suffix }}();return false;" src="/{{ directory }}/images/icons/src/icon-video-play.svg" style="cursor:pointer" alt="{{ 'Play icon'|t }}" />
  </div>
  <div id="embedded-video-iframe{{ method_suffix }}" class="embedded-video-iframe{{ method_suffix }}"></div>
</div>
{% if video_banner_title.0 is not empty%}
  <div class="video_content">
  {% if video_banner_title.0 is not empty %}
    <h1 class="video-banner__title">{{ video_banner_title }}</h1>
  {% endif %}
  {% if video_banner_subtitle.0 is not empty %}
    <p class="video-banner__subtitle">{{ video_banner_subtitle }}</p>
  {% endif %}
  </div>
{% endif %}

<script>
  function myFunction{{ method_suffix }}() {
    //video-banner-content
    jQuery("#player").remove();
    document.getElementById("embedded-video-iframe{{ method_suffix }}").innerHTML = "<div id='player'></div>";
    // This code loads the IFrame Player API code asynchronously.
    if (jQuery('script[src="https://www.youtube.com/iframe_api"]').length <= 0 || jQuery('script[src="https://www.youtube.com/iframe_api"]').length == 1) {
        if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            window.onYouTubePlayerAPIReady = function() {
                onYouTubeIframeAPIReady{{ method_suffix }}();
            };
        } else {
            onYouTubeIframeAPIReady{{ method_suffix }}();
        }
    }
    jQuery(".video-banner-content").show();
  }

    var player;
    var autoplay = "{{ autoplay_video }}";
    function onYouTubeIframeAPIReady{{ method_suffix }}() {
        player = new YT.Player('player', {
            host: 'https://www.youtube.com',
            height: '781',
            //width: '854',
            videoId: '{{ video_id }}',
            playerVars: { 'rel': 0 , 'origin' : window.location.href},
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        if(autoplay == 1){
          event.target.playVideo();
        }
    }
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
