<div class="bg-color-container">
  <div class="flex-img-container {{ section_class| default('') }}">
  	<div class="centered">
        <h3 class="outlets-new">{{ outlet_header }}</h3>
        {% if outlet_subheader is not empty %}
        <p class="subheader">{{ outlet_subheader|replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', 'xt':'<sub>xt</sub>' })|raw }}
      		<span>{% include "@atoms/01-links/link/link.twig" with {
            "link_content": outlet_subheader_link_text,
            "link_url": outlet_subheader_link,
            "link_base_class": "link",
        	} %}</span>
      	</p>
        {% endif %}
  	</div>

  	<div class="flex-img">
      {% for key, card in outlet_cards %}
    		{% include "@molecules/hp-card/hp-card.twig" with {
          "id": "tooltip-d",
          "hp_card_img_src": card.hp_card_img_src,
          "hp_card_img_alt": card.hp_card_img_alt,
          "hp_card_title": card.hp_card_title,
          "hp_card_link": card.hp_card_link,
          "hp_card_sub_title": card.hp_card_sub_title,
          "hp_card_cta": card.hp_card_cta,
          "sfcc_lazy_load": card.sfcc_lazy_load,
    		} %}
      {% endfor %}
  	</div>

    {% if outlet_link_text is not empty %}
      <div class="cta-container centered hp-card">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "lg" },
          cta_link_icon: "carrot-right",
          cta_link_icon_position: "right",
          cta_link_icon_size: "10px",
          cta_link_text: outlet_link_text,
          cta_link_url: outlet_link_url,
        } %}
      </div>
    {% endif %}
  </div>
</div>
