.cta-container.centered {
  text-align: center;
}

.gradient-background {
  background-image: linear-gradient(#f5f6f7, #fff);
}

.flex-img-container {
  padding: 60px 10px;

  .centered {
    text-align: center;

    span a {
      color: #ac0535;
      text-decoration: underline;
    }
  }

  .subheader {
    margin: 1em 0 2em 0;
    font-size: 1.125rem;
    padding: 0 16px;
  }

  .outlets-new {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-size: 3rem;

    .outlets-new-sup {
      position: absolute;
      top: -9px;
      font-size: 12.64px;
      letter-spacing: -0.2px;
      line-height: 18.96px;
      color: #ac0535;
      right: -10px;
      text-align: right;
    }
  }

  .flex-img {
    display: flex;
    margin: 0 auto;
    // max-width: 950px;
    max-width: 83.333%;
    justify-content: space-between;

    .hp-card {
      //width: calc(50% - 10px);
      flex: 1 1 0;
      margin: 0 10px;

      .cta-link {
        margin-top: 10px;
      }
    }
  }
  // @include maxbp($medium) {
  @media (max-width: 719px) {
    padding: 40px 0;

    .outlets-new {
      font-size: 2.280625rem;
    }

    .flex-img {
      flex-direction: column;
      max-width: none;
      padding: 0 16px;

      .hp-card {
        // width: 100%;
        margin: 0 0 30px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
