{{ attach_library('delta_theme/tabs') }}

{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <div style="margin-top: 100px;">{# THIS IS JUST FOR POSITIONING IN PATTERNLAB. IGNORE. #}
      {% include "@organisms/01-banners/04-banner-featured/featured-banner.twig" with banner %}

      <div class="grid-container">
        <header class="collection-details__page-header">
          <div class="collection-details__tabs">
            <div id="tabs" class="tabs">
              <ul class="tabs__nav">
                <li rel="November">
                  <a href="#" class="tabs__link tabs__link--local-tasks is-active">November
                  </a>
                </li>
                <li rel="July">
                  <a href="#" class="tabs__link tabs__link--local-tasks">July
                  </a>

                </li>
                <li rel="September">
                  <a href="#" class="tabs__link tabs__link--local-tasks">September
                  </a>
                </li>
              </ul>

              <div class="collection-details__dropdowns">
                {% include "@atoms/05-forms/select/select.twig" with {
                  label: "Sort By",
                  options: {
                    1: {
                      type: "option",
                      label: "Choose your finish",
                      value: ""
                    },
                    2: {
                      type: "option",
                      label: "Price: High to Low",
                      value: "price-high-to-low"
                    }
                  },
                  select_modifiers: ["sm"]
                } %}

                {% include "@atoms/05-forms/select/select.twig" with {
                  label: "Sort By",
                  options: {
                    1: {
                      type: "option",
                      label: "Sort By",
                      value: ""
                    },
                    2: {
                      type: "option",
                      label: "Price: High to Low",
                      value: "price-high-to-low"
                    }
                  },
                  select_modifiers: ["sm"]
                } %}
              </div>
            </div>
          </div>
        </header>

        <div class="tab-accordion-title active-tab-title">November</div>
        <div class="tabs__tab is-active">
          <div id="tab-0" class="tabs__content">
            <div class="grid">
              {% for i in 1..8 %}
                <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
                  {% include "@organisms/product-tile/product-tile.twig" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-accordion-title">July</div>
        <div class="tabs__tab">
          <div id="tab-1" class="tabs__content">
            <div class="grid">
              {% for i in 1..8 %}
                <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
                  {% include "@organisms/product-tile/product-tile.twig" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-accordion-title">September</div>
        <div class="tabs__tab">
          <div id="tab-2" class="tabs__content">
            <div class="grid">
              {% for i in 1..8 %}
                <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
                  {% include "@organisms/product-tile/product-tile.twig" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <section  class="collection-details__section">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 3,
            "heading": "Featured Innovations",
          } %}

          Carousel here
        </section>

        <section  class="collection-details__section">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 3,
            "heading": "Similar Collections",
          } %}

          <div class="grid">
            <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
              {% include "@organisms/product-tile/product-tile.twig" %}
            </div>
          </div>
        </section>

      </div>
    </div>

    {% embed "@organisms/modal/_modal.twig" with {
      modal_id: "collection-gallery-modal",
      modal_modifiers: ["collection-gallery"],
      modal_title: "Gallery",
    }%}
      {% block content %}
        {% include "@molecules/modal-gallery/modal-gallery.twig" with gallery_images %}
      {% endblock %}
    {% endembed %}

  {% endblock %}

{% endembed %}
