<div class="bodywrapper">
    <div>
        <h1>Professionals</h1>
    </div>
    <div>

        <div>
            <h3><span style="color: rgb(105, 105, 105);"><span style="font-size: 16px;">Our goal is to help professionals find things quickly so you can get back to your project. Please choose a section and enter a model number below. If you don't know the entire model number, you can enter a partial value and click search.</span></span>
            </h3>

        </div>
    </div>
    <div class="professional-search">
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        <h1>Find Product Information</h1>
        <h2>Step 1: Enter a Model Number</h2>
        {{ form.model_number }}
        <h2>Step 2: Please indicate the type of information you need</h2>
        {{ form.filter_type }}
        {{ form.submit }}
    </div>
</div>
