{{ attach_library('delta_theme/sprite') }}


<header class="srp-header">
  <h1 class="srp-title h1 title-h1">
    Search Results
  </h1>

  <p class="srp-header__description">Please enter a search keyword, model or part number to see search results displayed below.</p>

  <form class="srp-form" action="">
    <input type="text" placeholder="search value" value="{{ data.term }}" name="title" class="srp-form__field form-item__textfield" placeholder="Search Keyword, Model or Part #"/>
    <button class="srp-form__submit">
        {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_name: "search",
            icon_size: 24,
            icon_color: 'gray-10',
            hidden: true,
        } %}
    </button>
  </form>
</header>

<div class="srp-body">
  <div class="grid-container grid-container--medium">
    <header class="srp-body__header">
      <div class="srp-result-summary">
        <span class="srp-qty" id="grand_total"></span> total results for <span class="srp-search-term-highlight">"{{ data.term }}"</span>
      </div>
    </header>
    <div id="emptyResults" class="hide">
      <hr>
      <div class="no-results">
        <h4>{% trans %}Looking for Commercial Products?{% endtrans %}</h4>
        <p>{% trans %}Search for this product on our{% endtrans %}</p>
        <a class="button button--primary button--medium" target="_blank" href="http://deltacommercialfaucets.com/us/search/results.html?q={{ data.term }}">
          {% trans %}
            Delta faucet commercial website
          {% endtrans %}
        </a>
      </div>
    </div>

    <div class="u-text-center slp_tabs">
    {{ attach_library('delta_theme/tabs') }}
       <div id="tabs" class="tabs no-js">
         <ul class="tabs__nav">
           <li id="product-list" rel="Products" id="product-tab-link" >
             <a href="#tab-0" class="tabs__link tabs__link--local-tasks is-active">{% trans %}Products{% endtrans %}
               <span class="count product-count-tab">(0)</span>
             </a>
           </li>
           <li rel="content" id="content-list">
             <a href="#tab-1" id="content-tab-link" class="tabs__link tabs__link--local-tasks">{% trans %}Content{% endtrans %}
               <span class="count" id="content-count-tab">(0)</span>
             </a>
           </li>
           <li rel="Documents" id="document-list">
             <a href="#tab-2" id="document-tab-link"  class="tabs__link tabs__link--local-tasks">{% trans %}Documents{% endtrans %}
               <span class="count" id="doc-count-tab">(0)</span>
             </a>
           </li>
           <li rel="All" id="all-tab-link" >
             <a href="#tab-3" class="tabs__link tabs__link--local-tasks">{% trans %}All{% endtrans %}
               <span class="count" id="search-all-count-tab">(0)</span>
             </a>
           </li>
         </ul>
    </div>
    </div>
    <div class="tab-accordion-title productResult">Products</div>
    <div class="tabs__tab is-active productResult">
    <section class="srp-results tabs__content" id="tab-0">
      <header class="srp-results__header">
        <div class="srp-result-summary">
          <span class="srp-qty product-count">

          </span> Products
        </div>
        <div class="srp-result-dropdowns">

          <select class="form-item__select form-item__select--sm facetFinish" style="display: none;" id="facetFinish">
            <option value="">Choose your finish</option>
          </select>
          <div class="form-item form-item--dropdown">
            <label class="form-item__label form-item__label--textfield ">
              <span>Sort By</span>
            </label>
            <select class="form-item__select form-item__select--sm" id="sortProduct">
              <option value="">Sort By</option>
              <option value="sort_ListPrice=DESC">Price (High to Low)</option>
              <option value="sort_ListPrice=ASC">Price (Low to High)</option>
              <option value="sort_descriptionWithCollection=ASC">A-Z</option>
              <option value="sort_descriptionWithCollection=DESC">Z-A</option>
              <option value="sort_AvailableToShipDate=DESC">Newest</option>
              <option value="sort_bvStarRating=DESC">Rating</option></select>
          </div>

        </div>
      </header>

      <div class="srp-results__body">
        <div class="grid">
          <script type="text/template" id="output-node">
            <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">

              <section class="product-tile">
                <% if(ribbonText){ %><div class="slider_flag flag_position"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
                <figure class="product-tile__image">
                  <a class="plp_product_title_link no-line product-action-link" href="<%- url %>">
                    <img class="img" src="<%- heroImage %>">
                  </a>
                </figure>
                <div class="product-tile__body">
                  <% if(ribbonText){ %><div class="slider_flag flag_position flag-mobile"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
                  <h6 class="h6 product-tile__title">
                    <a class="plp_product_title_link product-action-link" href="<%- url %>">
                      <%= collectionName %>
                    </a>
                  </h6>
                  <p class="paragraph">
                    <a class="plp_product_title_link product-action-link" href="<%- url %>">
                      <%= title %>
                    </a>
                  </p>

                  <div class="prod-finishes">
                    <% _.each(finishOptions, function (finishIcon) { %>
                      <%= finishIcon %>
                    <% }); %>
                  </div>
                  <span class="product-tile__sku">
                    <a class="plp_product_title_link product-action-link" href="<%- url %>">
                      <%- sku %>
                    </a>
                  </span>
                  <div class="add-to-compare black-txt">
                  <a href="javascript:void(0)" class="cta-link cta-link--sm has-icon--left js-add-to-compare" name="<%- sku %>" data-model-number = "<%- sku %>" > <svg class="icon icon--filter-add-show-small" aria-hidden="true" role="img" width="16" height="16" aria-labelledby="title-filter-add-show-small">
                      <title id="title-filter-add-show-small">
                        {%- trans -%}
                          filter-add-show-small
                        {%- endtrans -%}
                      </title>
                      <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#filter-add-show-small"></use>
                    </svg>
                    {%- trans -%}
                      Add To Compare
                    {%- endtrans -%}
                  </a>
                 </div>
                </div>
              </section>
            </div>
          </script>

          {#<script type="text/template" id="output-node-1">
            <div class="col-xs-12 col-md-4 col-lg-3">

              <section class="product-cell">
                <div class="product-cell-inner ribbon-item">
                  <div class="product-thumb">
                    <% if (prodOutDated != ''){ %>
                    <div class="ribbon-container <%- prodOutDated %>">
                      <div class="ribbon">
                        <div class="ribbon-text">
                          <%- prodOutDated %>
                        </div>
                      </div>
                    </div>
                    <% } %>
                    <a href="<%- url %>" target="_self">
                      <img class="img-responsive center-block" src="<%- heroImage %>">
                    </a>
                  </div>
                  <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                      <h5>
                        <b><%- collectionName %></b>
                        <a class="prod-link" href="<%- url %>"><%- title %></a>
                      </h5>
                    </div>
                    <div class="product-info-inner">
                      <div class="product-info--model">
                        <%- sku %>
                      </div>
                      <div class="product-info--price">
                        <span class="txt">List Price:<sup>*</sup></span>
                        <span class="val">$<%- price %></span>
                      </div>
                    </div>
                  </div>

                </div>
              </section>
            </div>
          </script>#}



          <script type="text/template" id="content-output">
            <h4>
              <span class="sno"><%- searchSno %>. &nbsp;</span> <a href="<%- searchContentUrl %>"><%- searchContentTitle
                %></a>
            </h4>
            <div class="resultslistDesc">
              <%= searchContentBody %>
            </div>
          </script>

          <script type="text/template" id="full-content-output">
            <li class="srp-results-list__item">
              <div>
                <a class="srp-resuls-list__link" href="<%- searchContentUrl %>"><%- searchContentTitle %></a>
                <%= searchContentBody %>
              </div>
            </li>
          </script>

          <script type="text/template" id="pagination">
            <% if(totalRecordset > 0) { %>
            <div class="paging--results">
              <%- totalRecordset %> Results
            </div>
            <div class="filter-result__page-x-of-n pull-right">
              <% if (currentPage == 1) { %>
              <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
              <% } else { %>
              <input class="prev" type="button" value="<%- previousPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
              <span>Page <%- currentPage %> of <%- totalPager %></span>
              <% if (currentPage == totalPager) { %>
              <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
              <% } else { %>
              <input class="next" type="button" value="<%- nextPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

            </div>
            <% } %>
          </script>

          <script type="text/template" id="doc-pagination">
            <% if(totalRecordset > 0) { %>
            <div class="paging--results">
              <%- totalRecordset %> Results
            </div>
            <div class="filter-result__page-x-of-n pull-right">
              <% if (currentPage == 1) { %>
              <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
              <% } else { %>
              <input class="prev" type="button" value="<%- previousPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
              <span>Page <%- currentPage %> of <%- totalPager %></span>
              <% if (currentPage == totalPager) { %>
              <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
              <% } else { %>
              <input class="next" type="button" value="<%- nextPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

            </div>
            <% } %>
          </script>

          <script type="text/template" id="content-pagination">
            <% if(totalRecordset > 0) { %>
            <div class="filter-result__page-x-of-n pull-right content-page-results" data-currentpage="<%- currentPage %>">
              <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
            </div>
            <% } %>
          </script>

          <section class="container search-result-page">
            <div class="row" id="plp-wrapper">
              <div class="col-xs-12">
                <div class="tab-content">
                  <div class="tab-pane active fade in" id="all-tab">

                    <div id="output" class="grid"></div>


                  </div>
                  <div class="tab-pane fade" id="document-tab">
                    {#<div class="doc-pagination-output clearfix"></div>#}
                    <div class="row">

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </section>
  </div>
    <div class="tab-accordion-title contentResult">Content</div>
    <div class="tabs__tab contentResult">
      <section class="srp-results tabs__content" id="tab-1">
        <header class="srp-results__header">
          <div class="srp-result-content srp-result-summary"></div>
          <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
            <div class="pager__items js-pager__items content-pagination-output"></div>
          </nav>
        </header>
        <div class="srp-results__body">
          <ul id="fullcontentoutput" class="srp-results-list"></ul>
        </div>
        <header class="srp-results__header">
          <div class="srp-result-content srp-result-summary"></div>
          <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
              <div class="pager__items js-pager__items content-pagination-output"></div>
          </nav>
        </header>
      </section>
    </div>

    <div class="tab-accordion-title documentResult">Documents</div>
    <div class="tabs__tab documentResult">
      <section class="srp-results tabs__content" id="tab-2">
        <header class="srp-results__header">
          <div class="srp-result-doc srp-result-summary"></div>
          <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
            <div class="pager__items js-pager__items document-pagination-output"></div>
          </nav>
        </header>
        <ul class="srp-results-list">
          <div class="documentoutput"></div>
          <div class="paging-compare-bar">
            <div class="paging">
              <div class="paging--container">
                <div class="doc-pagination-output clearfix"></div>
                <div class="paging--pages">
                </div>
              </div>
            </div>
          </div>
        </ul>
        <header class="srp-results__header">
          <div class="srp-result-doc srp-result-summary"></div>
          <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
            <div class="pager__items js-pager__items document-pagination-output"></div>
          </nav>
        </header>
      </section>
    </div>


  <script type="text/template" id="document-output">

    <li class="srp-results-list__item">
    <a class="srp-resuls-list__link" target="_blank" href="<%- filePath %>">
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: "pdf-download",
        icon_title: "PDF Download",
        icon_size: 52,
        icon_color: "delta-red",
      } %}
    </a>

      <div>
          <a class="srp-resuls-list__link" target="_blank" href="<%- filePath %>">
            <% _.each(fileLinks, function(links){ %>
            <%- links %>
            <% }); %>
          </a>

          <% if (docType == 'MandI') { %>
          Maintenance & Installation Information - <%- fileName %>
          <% }%>
          <% if (docType == 'SpecSheet') { %>
          Specification Sheets - <%- fileName %>
          <% }%>
          <% if (docType == 'PartsDiagram') { %>
          Parts Information - <%- fileName %>
          <% }%>
        </div>
  </script>

  <div class="tab-accordion-title allResult">All</div>
  <div class="tabs__tab allResult">
    <section class="srp-results tabs__content" id="tab-3">
      <header class="srp-results__header">
        <div class="srp-result-summary">
          <span class="srp-qty product-count">

          </span> Products
        </div>
        <div>
          <a href="#tab-0" class="cta-link has-icon--right tabActivate" name="" data-model-number="">
            SEE ALL PRODUCTS
            <svg class="icon icon--carrot-right" aria-hidden="true" role="img" width="8" height="8" aria-labelledby="title-carrot-right">
              <title id="title-carrot-right">carrot-right</title>
              <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#carrot-right"></use>
            </svg>
          </a>
        </div>

      </header>
      <div class="srp-result-dropdowns all-tab-dropdown">

        <select class="form-item__select form-item__select--sm facetFinish" style="display: none;" id="facetFinishAll">
          <option value="">Choose your finish</option>
        </select>
        <div class="form-item form-item--dropdown">
          <label class="form-item__label form-item__label--textfield ">
            <span>Sort By</span>
          </label>
          <select class="form-item__select form-item__select--sm" id="sortProductAll">
            <option value="">Sort By</option>
            <option value="sort_ListPrice=DESC">Price (High to Low)</option>
            <option value="sort_ListPrice=ASC">Price (Low to High)</option>
            <option value="sort_descriptionWithCollection=ASC">A-Z</option>
            <option value="sort_descriptionWithCollection=DESC">Z-A</option>
            <option value="sort_AvailableToShipDate=DESC">Newest</option>
            <option value="sort_bvStarRating=DESC">Rating</option></select>
        </div>


      </div>

      <div class="srp-results__body">
        <div class="product-all-search-result grid"></div>
        <div class="grid">
          <div class="grid-col-sm-6">
            <div id="srp-result-content" class="srp-result-summary"></div>
          </div>
          <div class="grid-col-sm-6 align-right">
            <a href="#tab-1" class="cta-link has-icon--right tabActivate" name="" data-model-number="">
              SEE ALL CONTENTS
              <svg class="icon icon--carrot-right" aria-hidden="true" role="img" width="8" height="8" aria-labelledby="title-carrot-right">
                <title id="title-carrot-right">carrot-right</title>
                <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#carrot-right"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="content-all-search-result"></div>
        <div class="grid">
          <div class="srp-result-summary grid-col-sm-6">
            <span class="srp-qty" id="doc-count"></span> Documents
          </div>
          <div class="grid-col-sm-6 align-right">
            <a href="#tab-2" class="cta-link has-icon--right tabActivate" name="" data-model-number="">
              SEE ALL DOCUMENTS
              <svg class="icon icon--carrot-right" aria-hidden="true" role="img" width="8" height="8" aria-labelledby="title-carrot-right">
                <title id="title-carrot-right">carrot-right</title>
                <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#carrot-right"></use>
              </svg>
            </a>
          </div>
        </div>


        <div class="document-all-search-result"></div>

        <div class="grid">
          <script type="text/template" id="output-all-tab-prod">
            <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">

              <section class="product-tile">
                <figure class="product-tile__image">
                <a class="plp_product_title_link no-line" href="<%- url %>">
                  <img class="img" src="<%- heroImage %>">
                </a>
                </figure>
                <div class="product-tile__body">

                  <h6 class="h6 product-tile__title"><a class="plp_product_title_link" href="<%- viewAllCollectionLink %>"><%= collectionName %></a></h6>

                  <p class="paragraph">
                  <a class="plp_product_title_link" href="<%- url %>">
                    <%= title %>
                  </a>
                  </p>
                  <div class="prod-finishes">
                  <% _.each(finishOptions, function (finishIcon) { %>
                    <%= finishIcon %>
                  <% }); %>
                </div>

                  <span class="product-tile__sku">
                    <%- sku %>
                  </span>

                  <span class="product-tile__price u-hidden-lg">
                    {%- trans -%}
                      List Price*: <%- price %>
                    {%- endtrans %}
                  </span>
                </div>
                <div class="product-tile__overlay">
                  <h6 class="h6 product-tile__title"><a class="plp_product_title_link" href="<%- viewAllCollectionLink %>"><%= collectionName %></a></h6>

                  <p class="paragraph"><a class="plp_product_title_link" href="<%- url %>"><%= title %></a></p>

                  <span class="product-tile__sku">
                    <%- sku %>
                  </span>

                  <span class="product-tile__price">
                    {%- trans -%}List Price*: {%- endtrans -%} <%- price %>
                  </span>


                  <div class="product-tile__cta">
                    <a class="button button--primary button--sm" href="<%- url %>">
                      View Details
                    </a>

                    {#{% include "@atoms/06-buttons/01-button.twig" with {
                      button_url: view_docs_link,
                      button_content: "View Details",
                      button_modifiers: {1: "secondary", 2: "sm"},
                    } %}#}
                  </div>
                  <div class="product-tile__cta">
                    <a class="button button--secondary button--sm" href="<%- url %>#specsTab">
                      View Documents & Specs
                    </a>

                    {#{% include "@atoms/06-buttons/01-button.twig" with {
                      button_url: view_docs_link,
                      button_content: "View Documents & Specs",
                      button_modifiers: {1: "secondary", 2: "sm"},
                    } %}#}
                  </div>

                  {#{% include "@atoms/01-links/cta-link/cta-link.twig" with {
                    cta_link_modifiers: { 1: "sm" },
                    cta_link_text: "Add to Compare",
                    cta_link_icon: "filter-add-show-small",
                    cta_link_icon_position: "left",
                  } %}#}
                </div>
              </section>
            </div>
          </script>

          <script type="text/template" id="output-node-1">
            <div class="col-xs-12 col-md-4 col-lg-3">

              <section class="product-cell">
                <div class="product-cell-inner ribbon-item">
                  <div class="product-thumb">
                    <% if (prodOutDated != ''){ %>
                    <div class="ribbon-container <%- prodOutDated %>">
                      <div class="ribbon">
                        <div class="ribbon-text">
                          <%- prodOutDated %>
                        </div>
                      </div>
                    </div>
                    <% } %>
                    <a href="<%- url %>" target="_self">
                      <img class="img-responsive center-block" src="<%- heroImage %>">
                    </a>
                  </div>
                  <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                      <h5>
                        <b><%- collectionName %></b>
                        <a class="prod-link" href="<%- url %>"><%- title %></a>
                      </h5>
                    </div>
                    <div class="product-info-inner">
                      <div class="product-info--model">
                        <%- sku %>
                      </div>
                      <div class="product-info--price">
                        <span class="txt">List Price:<sup>*</sup></span>
                        <span class="val">$<%- price %></span>
                      </div>
                    </div>
                  </div>

                </div>
              </section>
            </div>
          </script>



          <script type="text/template" id="content-output">
            <h4>
              <span class="sno"><%- searchSno %>. &nbsp;</span> <a href="<%- searchContentUrl %>"><%- searchContentTitle
                %></a>
            </h4>
            <div class="resultslistDesc">
              <%= searchContentBody %>
            </div>
          </script>

          <script type="text/template" id="full-content-output">
            <li class="srp-results-list__item">
              <div>
                <a class="srp-resuls-list__link" href="<%- searchContentUrl %>"><%- searchContentTitle %></a>
                <%= searchContentBody %>
              </div>
            </li>
          </script>

          <script type="text/template" id="pagination">
            <% if(totalRecordset > 0) { %>
            <div class="paging--results">
              <%- totalRecordset %> Results
            </div>
            <div class="filter-result__page-x-of-n pull-right">
              <% if (currentPage == 1) { %>
              <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
              <% } else { %>
              <input class="prev" type="button" value="<%- previousPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
              <span>Page <%- currentPage %> of <%- totalPager %></span>
              <% if (currentPage == totalPager) { %>
              <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
              <% } else { %>
              <input class="next" type="button" value="<%- nextPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

            </div>
            <% } %>
          </script>

          <script type="text/template" id="doc-pagination">
            <% if(totalRecordset > 0) { %>
            <div class="paging--results">
              <%- totalRecordset %> Results
            </div>
            <div class="filter-result__page-x-of-n pull-right">
              <% if (currentPage == 1) { %>
              <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
              <% } else { %>
              <input class="prev" type="button" value="<%- previousPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
              <span>Page <%- currentPage %> of <%- totalPager %></span>
              <% if (currentPage == totalPager) { %>
              <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
              <% } else { %>
              <input class="next" type="button" value="<%- nextPage %>">
              <% } %>
              <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

            </div>
            <% } %>
          </script>

          <script type="text/template" id="content-pagination">
            <% if(totalRecordset > 0) { %>
            <div class="filter-result__page-x-of-n pull-right content-page-results" data-currentpage="<%- currentPage %>">
              <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
            </div>
            <% } %>
          </script>
          <script type="text/template" id="document-pagination">
            <% if(totalRecordset > 0) { %>
            <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
              <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
            </div>
            <% } %>
          </script>
        </div>
      </div>
    </section>
      {#<section class="srp-results tabs__content" id="tab-3">
        <header class="srp-results__header">
          <div id="srp-result-content" class="srp-result-summary"></div>
          <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
            <div class="pager__items js-pager__items content-pagination-output"></div>
          </nav>
        </header>
        <div class="srp-results__body">
          <ul id="fullcontentoutput" class="srp-results-list"></ul>
        </div>
      </section>#}
  </div>

</div>
</div>
{% if cloudKey and siteId and siteEnvironment and siteLocale %}
  <script async src="https://apps.bazaarvoice.com/deployments/{{ cloudKey }}/{{ siteId }}/{{ siteEnvironment }}/{{ siteLocale }}/bv.js"></script>
{% endif %}
