<div class="row">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="col-sm-3">
        <p id="searchResultsTotal" class="search-results-summary">Results for</p>
    </div>
    <div class="col-sm-6">
        {{ form.name }}
    </div>
    <div class="col-sm-3">
        <div>{{ form.submit }}</div>

    </div>
</div>
