<div class="as-view">
  <a class="cta-link cta-link--sm has-icon--right" href="{{ data.viewAll }}" data-model-number="">View all
    <script data-name="reload" data-src="/components/js/svgxuse.min.js"></script>
    <svg class="icon  icon--carrot-right " aria-hidden="true" role="img" width="8px" height="8px" aria-labelledby="title-carrot-right">
      <title id="title-carrot-right">carrot-right</title>
      <use xlink:href="../../../../dist/img/sprite/sprite.svg#carrot-right"></use>
    </svg>
  </a>
</div>
