{{ attach_library('delta_theme/list-grid-toggle') }}
{{ attach_library('delta_theme/accordion') }}

{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <div style="margin-top: 100px;">{# THIS IS JUST FOR POSITIONING IN PATTERNLAB. IGNORE. #}
      <div class="grid-container grid-container--medium">
        <header class="list-grid-header">
          {% include "@atoms/05-forms/select/select.twig" with {
            label: "Sort By",
            options: {
               1: {
                type: "option",
                label: "Newest First",
                value: "newest"
              },
               2: {
                type: "option",
                label: "Oldest First",
                value: "oldest"
              }
            },
            select_modifiers: ["sm"]
          } %}

          <button class="list-grid-toggle list-view">
            List View
          </button>
        </header>


        <div class="grid">
          <div class="grid-col-md-9">
            <div class="accordion-term download-card-mobile-accordion">All</div>
            <div class="accordion-def">
              {% include "@organisms/download-card-grid/download-card-grid.twig" with {
                download_cards: download_cards,
                list_view: list_view
              } %}
            </div>
          </div>

          <aside class="grid-col-md-3">
            {% include "@molecules/sidebar-navigation/sidebar-navigation.twig" with navigation %}
          </aside>
        </div>

      </div>
    </div>

  {% endblock %}

{% endembed %}
