{{ attach_library('delta_theme/commonparts') }}

{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <div class="commonparts" style="margin-top: 100px;">
      <div class="grid-container grid-container--medium">
        <h1>Where is your Delta product located?</h1>
        {% include "@molecules/catalog-listing-grid/catalog-listing_grid.twig" with {
          items: items
        } %}

        <div class="commonparts-preview">
          <div class="commonparts-preview__item is-active">
            <h2 class="h4">Kitchen Repairs</h2>

            <div class="commonparts-preview__body">
              <figure class="commonparts__figure">
                <figcaption>Leaks</figcaption>
                <img src="http://placehold.it/283x280" alt="{{ 'Common parts image of kitchen repairs' |t }}" />
              </figure>

              <div class="commonparts-preview__grid">
                <h6 class="commonparts-preview__title h6 h6--regular">Common repair parts for leaks:</h6>
                <div>
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                </div>
              </div>
            </div>
          </div>

          <div class="commonparts-preview__item">
            <h2 class="h4">Bathroom Repairs</h2>

            <div class="commonparts-preview__body">
              <figure class="commonparts__figure">
                <figcaption>Leaks</figcaption>
                <img src="http://placehold.it/283x280" alt="{{ 'Common parts image of bathroom repairs' |t }}" />
              </figure>


              <div class="commonparts-preview__grid">
                <h6 class="commonparts-preview__title h6 h6--regular">Common repair parts for leaks:</h6>
                <div>
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                </div>
              </div>
            </div>
          </div>

          <div class="commonparts-preview__item">
            <h2 class="h4">Tub/Shower Repairs</h2>

            <div class="commonparts-preview__body">
              <figure class="commonparts__figure">
                <figcaption>Leaks</figcaption>
                <img src="http://placehold.it/283x280" alt="{{ 'Common parts image of tub/shower repairs' |t }}" />
              </figure>


              <div class="commonparts-preview__grid">
                <h6 class="commonparts-preview__title h6 h6--regular">Common repair parts for leaks:</h6>
                <div>
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                </div>
              </div>
            </div>
          </div>

          <div class="commonparts-preview__item">
            <h2 class="h4">Shower Components Repairs</h2>

            <div class="commonparts-preview__body">
              <figure class="commonparts__figure">
                <figcaption>Leaks</figcaption>
                <img src="http://placehold.it/283x280" alt="{{ 'Common parts image of shower components repairs' |t }}" />
              </figure>

              <div class="commonparts-preview__grid">
                <h6 class="commonparts-preview__title h6 h6--regular">Common repair parts for leaks:</h6>
                <div>
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                  {% include "@organisms/product-tile/product-tile-repair.twig"  %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endblock %}

{% endembed %}
