<div class="review-slider-wrapper">
  <div class="review-slider grid">
    <div class="rs-left-section grid-col-md-7">
      <div class="rs-left-top-block grid">
        <div class="rs-rating grid-col-md-3">
          {% include "@molecules/star-rating/_star-rating.twig" with {
            star_rating_value: rs_rating,
          } %}
        </div>
        <div class="rs-author-data grid-col-md-6">
          <div class="rs-author">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: rs_author,
            } %}
          </div>
          <div class="rs-source-link">
            {% include "@atoms/01-links/link/link.twig" with {
                link_url: rs_source_link_url,
                link_content : rs_source_link_content,
            } %}
          </div>
        </div>
        <div class="rs-date grid-col-md-3">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: rs_date,
          } %}
        </div>
      </div>

      <div class="rs-left-bottom-block">
        <div class="rs-title">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 4,
            "heading": rs_title,
          } %}
        </div>
        <div class="rs-desc">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: rs_desc,
          } %}
        </div>
        <div class="rs-all-review-link">
          {% include "@atoms/06-buttons/01-button.twig" with {
            button_url: rs_all_review_link_url,
            button_content: rs_all_review_link_content,
            button_modifiers: {1: "primary", 2: "sm"},
          } %}
        </div>
      </div>
    </div>
    <div class="rs-right-section grid-col-md-5">
      <div class="rs-prod-image">
        <a href={{rs_prod_link_url}} >
          {% include "@atoms/04-images/00-image/_image.twig" with {
            "img_src": rs_prod_image_url,
            "img_alt": rs_prod_image_alt,
          } %}
        </a>
      </div>
      <div class="rs-prod-data">
        <div class="rs-prod-title">
          <h4>{{ rs_prod_title|raw }}</h4>
        </div>
        <div class="rs-prod-desc">
          <p class="paragraph">
            {{rs_prod_desc|raw}}
          </p>
        </div>
        <div class="rs-prod-link">
          {% include "@atoms/01-links/link/link.twig" with {
              link_url: rs_prod_link_url,
              link_content : rs_prod_link_content,
          } %}
        </div>
      </div>
    </div>
  </div>
</div>
