
.tooltip-button {
  display: inline-block;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  appearance: none;
  outline: none; // TODO: Remove after taboutline is implemented

  > svg {
    display: block;
  }
}

.tooltip {
  min-width: 300px;
  color: $gray-10;
  border: solid 1px #e6e6e8;
  background-color: $white;
  box-shadow: 5px 5px 20px 0 rgba(24, 25, 29, 0.2);
}

.tooltip__header {
  padding: 0.5rem 1rem;
  background-color: $gray-10;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
}

.tooltip__body {
  padding: 0.75rem 1rem;
}

.tippy-tooltip {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  box-shadow: 8px 7px 20px 0 rgba(24, 25, 29, 0.07);
  border-radius: 2px;
  text-align: left;
}

.tippy-tooltip.dark-theme[x-placement^='top'] .tippy-arrow {
  border-top-color: $white;
}

.tippy-tooltip.dark-theme[x-placement^='bottom'] .tippy-arrow {
  border-bottom-color: $white;
}

.tippy-tooltip.dark-theme[x-placement^='left'] .tippy-arrow {
  border-left-color: $white;
}

.tippy-tooltip.dark-theme[x-placement^='right'] .tippy-arrow {
  border: 0 !important;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;

  &::after,
  &::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    left: -8px;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 8px;
    margin-top: -8px;
  }

  &::before {
    left: -10px;
    border-color: rgba(255, 0, 0, 0);
    border-right-color: $gray-40;
    border-width: 9px;
    margin-top: -9px;
  }
}

.tooltip_list {
  &_wrap {
    width: 25%;
    float: left;
    text-align: center;
  }
}
