<div class="pdp-prod-info-hdr">
  <div class="collection-name-wrapper">
    {% include "@atoms/pdp-page/pdp-collection/pdp-collection.twig" %}
  </div>

  <div class="pdp-prod-title">
    {% include "@atoms/pdp-page/pdp-product-name/pdp-product-name.twig" %}
  </div>

  <div class="model-name">
    {% include "@atoms/pdp-page/pdp-model/pdp-model.twig" %}
  </div>
</div>
