<div class="pdp-prod-info-hdr">
  <div class="pdp-prod-title">
    {% include "@atoms/pdp-page/pdp-product-name/pdp-product-name.twig" %}
  </div>
  <div class="collection-name-wrapper">
    {% include "@atoms/pdp-page/pdp-collection/pdp-collection.twig" %}
  </div>

  <div class="model-name">
    {% set pdp_prod_model_base_class = pdp_prod_model_class|default('product-model') %}
    {% if pdp_model_name %}
    <div {{ bem(pdp_prod_model_base_class, (pdp_prod_model_modifiers), pdp_prod_model_blockname) }}>
      sku#: {% include "@atoms/01-links/link/link.twig" with {
                "link_url":  pdp_rr_list.view_details_link,
                "link_content": pdp_model_name,
              }
              %}
    </div>
    {% endif %}
  </div>
</div>
