{% spaceless %}
    {%
    set classes = [
      '',
    ]
  %}
    {% block input %}

        <label>
            <input{{attributes.addClass(classes)}}/>
            <span class="fake-box"></span>
            {{ children }}
        </label>

    {% endblock %}
{% endspaceless %}
