{% spaceless %}
    {%
    set classes = [
      '',
    ]
  %}
    {% block input %}

        <label class="checkbox-container">
            <input{{attributes.addClass(classes)}}/>
            <span class="checkmark"></span>
            {{ children }}
        </label>

    {% endblock %}
{% endspaceless %}
