<div class="image-caption-link-wrapper">
  <div class="img-cap-image">
    {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: img_cap_image_src,
        img_alt: img_cap_image_alt,
    } %}
  </div>
  <div class="img-cap-text-wrapper">
    <div class="img-cap-link">
      {% include "@atoms/01-links/link/link.twig" with {
         'link_url': img_cap_link_url,
         'link_content' : img_cap_link_content,
     } %}
    </div>
    <div class="img-cap-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 5,
        "heading": img_cap_title,
      } %}
    </div>
  </div>
</div>
