{#
/**
 * Available variables:
 * - modal_base_class - the base class name
 * - modal_modifiers - array of modifiers to add to the base classname
 * - modal_blockname - blockname prepended to the base classname
 * - modal_title - Title of the modal
 * - modal_title__modifiers - Modifiers for modal title
 * - modal_copy - (optional) Single paragraph copy
 * - content - block content for the modal (when used as an embed, see login-modal example)
 */
#}

{{ attach_library('delta_theme/modal') }}
{% set random_suffix_id = random() %}
{% set modal_base_class = 'modal' %}

<div class="modal-container" id="{{ modal_id }}" data-dialog>
  <div {{ bem(modal_base_class, (modal_modifiers), modal_blockname) }} aria-labelledby="dialog-title-{{ random_suffix_id }}" role="dialog">

    <span id="dialog-title-{{ random_suffix_id }}" class="visually-hidden">
      {% if modal_title %}
        {{ modal_title }}
      {% else %}
        {{ 'Modal container'|t  }}
      {% endif %}
    </span>

    <header {{ bem(modal_header_base_class|default('modal_header'), (modal_header_modifiers)) }}>
      <button type="button" class="modal__close" aria-label="Close the Sign up dialog" data-dialog-hide>
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: 'close',
        } %}
      </button>
      {% if modal_title %}
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 3,
          "heading": modal_title,
          "heading_blockname": modal_title_blockname,
          "heading_modifiers": modal_title_modifiers,
          "heading_base_class": modal_title_base_class|default('h3'),
        } %}
      {% endif %}
    </header>

    <div class="modal__body">
      {% block content %}
      {% if modal_copy %}
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": modal_copy,
          "paragraph_blockname": modal_copy_base_class|default(team_card_base_class),
          "paragraph_modifiers": modal_copy_modifiers,
          "paragraph_base_class": modal_copy_base_class|default('description'),
        } %}
      {% endif %}
      {% endblock %}
    </div>

    {% if modal_button_url %}
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_content": modal_button_content,
        "button_url": modal_button_url,
        "button_base_class": modal_button_base_class|default('button'),
        
        "button_modifiers": modal_button_modifiers,
        "button_blockname": modal_blockname|default(card_base_class),
      } %}
    {% endif %}
  </div>

  <div class="modal__backdrop" tabindex="-1" data-dialog-hide></div>
</div>
