<button class="button" data-dialog-show="{{modal_id}}">Open modal</button>

{% embed "@organisms/modal/_modal.twig" with {
  modal_id: modal_id,
  modal_title: modal_title,
  modal_title_modifiers: modal_title_modifiers,
  modal_copy: modal_copy
}%}
{% endembed %}
