{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
{% set utility_links = [] %}
{% set country_dd_links = [] %}


{% macro menu_links(items, attributes, menu_level, classes, dropdown_classes) %}
  {% if items %}
{% set utility_menu = {} %}
    <ul{{ attributes.addClass(menu_level == 0 ? classes : dropdown_classes) }}>
    {% for item in items %}
      {%
        set item_classes = item.url.getOption('container_attributes').class.0 | split(" ")
      %}
      {% set link_attr = item.url.getOption('attributes').class.0  %}


      {%
        set item_classes = [
          item.is_expanded and item.below ? 'expanded dropdown',
          item.in_active_trail ? 'active active-trail',
          loop.first ? 'first',
          loop.last ? 'last',
        ]
      %}

        {% set link_title = item.title %}
        {% set link_attributes = item.link_attributes %}
        {% if menu_level == 0 and item.is_expanded and item.below %}
          {% set link_title %}{{ link_title }} <span class="caret"></span>{% endset %}
          {% set link_attributes = link_attributes.addClass('dropdown-toggle').setAttribute('data-toggle', 'dropdown') %}
        {% endif %}
        {% if item.url == '' %}
         {% set href = '#' %}
         {% else %}
           {% set href = item.url %}
        {% endif %}
          {% if loop.first %}
            {% set utility_menu = {(loop.first): {'utility_content': link_title, 'utility_class' : link_attr , 'utility_url' : href } } %}
          {% else %}
            {% set utility_menu = utility_menu|merge({(loop.index) : {'utility_content': link_title, 'utility_class': link_attr, 'utility_url': href } }) %}
          {% endif %}
    {% endfor %}

    </ul>

  {% endif %}
{% include "@molecules/utility-header/utility-header.twig" with {
  utility_links : utility_menu,
} %}


{% endmacro %}


{#
  Invoke the custom macro defined above. If classes were provided, use them.
  This allows the template to be extended without having to also duplicate the
  code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ _self.menu_links(items, attributes, 0, classes ?: ['menu', 'menu--' ~ menu_name|clean_class, 'nav'], dropdown_classes ?: ['dropdown-menu']) }}
