{#
/**
* @file
* Default theme implementation to display a menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*   - is_expanded: TRUE if the link has visible children within the current
*     menu tree.
*   - is_collapsed: TRUE if the link has children within the current menu tree
*     that are not currently visible.
*   - in_active_trail: TRUE if the link is in the active trail.
*
* @ingroup themeable
*/
#}
{% import _self as menus %}
{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
{% import _self as menus %}
<div class="utility-country-dropdown">
  {% if items %}
    <div class="country-dd-title">
      <div class="active-country-title"></div>
    </div>
    <div class="country-dd-desc">
      <ul>
        {% for item in items %}
          <li{{ item.attributes }}>
            {% set display_title = item.country_content %}
            <a href="{{ item.country_url }}" target="_blank" aria-label="Link to {{ display_title|raw }}"
            {% for attribute,value in item.country_attributes %} {{ attribute }}="{{ value|join(' ') }}"{% endfor %}>{{ display_title|raw }}</a>
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
{% endmacro %}
