{% for link_item in link_items %}
  <div>
    {% include "@atoms/01-links/link/link.twig" with {
      "link_url": link_item.link_url,
      "link_content": link_item.link_content,
      "link_modifiers": link_item.link_modifiers,
    } %}
  </div>
{% endfor %}
