  <div>
    
<a class="link link--primary"
  href="#">
      Primary
  </a>
  </div>
  <div>
    
<a class="link link--secondary"
  href="#">
      Secondary
  </a>
  </div>
  <div>
    
<a class="link link--black"
  href="#">
      Black
  </a>
  </div>
  <div>
    
<a class="link link--disable"
  href="#">
      Disabled
  </a>
  </div>
  <div>
    
<a class="link link--white"
  href="#">
      White
  </a>
  </div>
  <div>
    
<a class="link"
  href="#">
      Basic link
  </a>
  </div>
