<div class="form-item">
  <label for="edit-pass" class="form-item__label form-item__label--required form-item__label--textfield">Password</label>
  <input type="password" id="edit-pass" name="pass" class="form-item__textfield form-item__textfield--password form-item__textfield--required" required="required" aria-required="true">

  <button class="form-item__pwd-toggle" aria-label="Show Password">
    


<i class="icon-eye-closed"></i>
    


<i class="icon-eye-open"></i>
  </button>
</div>

<div class="form-item">
  <label for="demo-date" class="form-item__label form-item__label--textfield">Purchase Date</label>
  <input type="text" id="demo-date" name="name" value="" class="form-item__textfield form-item__textfield--date" required="required" aria-required="true" />

  


<i class="icon-calendar"></i>
</div>
