{{ attach_library('delta_theme/summary-card-carousel') }}

<div class="summary-card-carousel" data-slick='{"arrows": true, "dots": true, "autoplay": true}'>
  {% for summary_card in summary_cards %}
    <div class="summary-card-carousel__item">
      {% include "@molecules/summary-card/summary-card.twig" with summary_card %}
    </div>
  {% endfor %}
</div>
