{% set icon_box_title_base_class = icon_box_title_base_class|default('iconbox_title') %}
{% if icon_box_title %}
 <h1 {{ bem(icon_box_title_base_class, (icon_box_title_modifiers), icon_box_title_blockname) }}>
   {{ icon_box_title }}
 </h1>
 {% endif %}

 {% if paragraph_content %}
<p {{ bem(paragraph_base_class, (paragraph_modifiers), paragraph_blockname) }}>
  {% block paragraph_content %}
    {{ paragraph_content }}
  {% endblock %}
</p>
 {% endif %}



