<div class="form-item form-item--dropdown form-item--disabled">
  <label for="" class="form-item__label form-item__label--textfield ">
    <span></span>
  </label>
  

<select class="form-item__select"
      disabled="disabled"
    ><option value="Dropdown Label*">Dropdown Label*</option><option value="United States">United States</option><option value="Canada">Canada</option><option value="Other">Other</option></select></div>
