{#
/**
 * Available variables:
 * - img_url – URL of the image
 * - img_alt_text – Alt text of the image
 * - heading - (optional) Title of the card, accepts everything from `@atoms/02-text/00-headings/_heading.twig`
 * - buttons - (optional) An array of CTA buttons
 * - cta_links - (optional) An array of CTA links
 * - copy - Single paragraph body copy
 * - block_content: Arbitrary HTML content via embed
 */
#}

<div class="summary-card">
  <img class="summary-card__img" src="{{ img_url }}" alt="{{ img_alt_text }}" />

  <div class="summary-card__content">
    {% if heading %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": heading,
      }%}
    {% endif %}

    {% if copy %}
      <p>{{ copy }}</p>
    {% endif %}

    {% block block_content %}
    {% endblock %}
    {% for cta_link in cta_links %}
      {% include "@atoms/01-links/cta-link/cta-link.twig" with cta_link %}
    {% endfor %}
    {% if button_url %}
      {% include "@atoms/06-buttons/01-button.twig" with {
          button_content: "Read More",
          button_url: button_url,
          button_modifiers: ['primary']
        } %}
    {% endif %}
  </div>
</div>
