{% embed "@molecules/summary-card/summary-card.twig" with {
  img_url: "http://placehold.it/410x330"
} %}
  {% block block_content %}
    <ul>
      <li>Proin a felis vel libero gravida semper idse</li>
      <li>Proin a felis vel libero gravida semper idse</li>
      <li>Proin a felis vel libero gravida semper idse</li>
      <li>Proin a felis vel libero gravida semper idse</li>
    </ul>

    {% include "@atoms/06-buttons/01-button.twig" with {
      button_content: "Medium text",
      button_url: "/",
      button_modifiers: ["primary"]
    } %}
  {% endblock %}
{% endembed %}
