{#
/**
 * Available variables:
 * - img_url – URL of the image
 * - img_alt_text – Alt text of the image
 * - heading - (optional) Title of the card, accepts everything from `@atoms/02-text/00-headings/_heading.twig`
 * - buttons - (optional) An array of CTA buttons
 * - cta_links - (optional) An array of CTA links
 * - copy - Single paragraph body copy
 * - block_content: Arbitrary HTML content via embed
 */
#}

{% set img_alt_text = heading %}
{% if img_alt_text == img_alt_text | split(' ')[0] %}
  {% set img_alt_text = 'Thumbnail image of ' ~ img_alt_text |t %}
{% endif %}

<div class="summary-card">
  <img class="summary-card__img" src="{{ img_url }}" alt="{{ img_alt_text | raw  }}" />

  <div class="summary-card__content">
    {% if heading %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": heading,
      }%}
    {% endif %}

    {% if copy %}
      <p>{{ copy }}</p>
    {% endif %}

    {% block block_content %}
    {% endblock %}
    {% for cta_link in cta_links %}
      {% include "@atoms/01-links/cta-link/cta-link.twig" with cta_link %}
    {% endfor %}
    {% if button_url %}
      {% set text_button = "Read More" %}
      {% set text_label_button = text_button ~ ' about ' ~  heading %}
      {% include "@atoms/06-buttons/01-button.twig" with {
          button_content: text_button,
          button_url: button_url,
          button_modifiers: ['primary'],
          button_attributes: create_attribute({'title': text_label_button, 'aria-label': text_label_button})
        } %}
    {% endif %}
  </div>
</div>

