{% set icon_box_title_base_class = icon_box_title_base_class|default('page-title') %}
{% set paragraph_base_class = paragraph_base_class|default('banner-desc') %}
{% set font_color_class = font_color_class|default('dark-theme') %}
{% set background_type = background_type|default('Image') %}
{% set bg_color = bg_color|default('#f3f3f3') %}
{% set bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
{% set data_src = bgimage_src %}
{% if lazyload == 'lazy-load-off' %}
  {% set bgimage_src_real = bgimage_src %}
  {% set data_src = '' %}
{% endif %}
{% set featured_banner_base_class = featured_banner_base_class|default('title-banner') %}
{% set share_text_link = share_text_link|default('Share'|t) %}
{% set sharethis_text_link = sharethis_text_link|default('Share this page'|t) %}

<div class="paragraph-component {{ lazyload }}">
<div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname, [font_color_class]) }} >

  {# Set Background #}

  {% if background_type|render == 'Image' %}
  <div class="banner-block image banner-block-medium only-destop" style="background-image: url('{{ bgimage_src_real }}')" {% if data_src is not empty %} data-src="{{ data_src }}" {% endif %} >
  {% elseif background_type|render == 'Solid Color' %}
  <div class="banner-block banner-block-medium only-destop" style="background: {{ bg_color }};">
  {% else %}
  <div class="banner-block only-destop">
  {% endif %}

    <div class="grid-container" style="max-width: {{ content_max_width }}%">
        {% if breadcrumb %}
          <div class="breadcrumb-block">
           {% if pattern_lab %}
            {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
           {% else %}
            {{ drupal_block('system_breadcrumb_block') }}
           {% endif %}
          </div>
        {% endif %}

      {% if page_title %}
        {% include "@atoms/02-text/00-headings/page-title.twig" with {
          "page_title": page_title,
        } %}
      {% endif %}

      {% if subtitle %}
        <h2 class="blog_subtitle">
          {{ subtitle }}
        </h2>
      {% endif %}

      {% if headline %}
      <h3 class="subheader-content">{{ headline }}</h3>
    <div class="button-content">
      {% if buttons is not empty %}
        <div class="banner__button-group">
          {% for button in buttons %}
            {% if button.content is not empty %}
              {% include "@atoms/06-buttons/01-button.twig" with {
                button_url: button.url,
                button_attributes: button.attributes,
                button_content: button.content,
                button_modifiers: button.modifiers,
                icon: button.icon
              } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {{ modal_button }}
      <div class="banner-content">{{ content }}</div>
    </div>
  {% else %}
    <div class="banner-content">{{ content }}</div>
    {% if buttons is not empty %}
      <div class="banner__button-group">
        {% for button in buttons %}
          {% if button.content is not empty %}
            {% include "@atoms/06-buttons/01-button.twig" with {
              button_url: button.url,
              button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
              button_content: button.content,
              button_modifiers: button.modifiers,
              icon: button.icon
            } %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {{ modal_button }}
  {% endif %}

      {% if social_sharing %}
      <div class="banner__footer">
      <div class="plp-share-link">
      </div>
			</div>
      {% endif %}
    </div>
  </div>


{% set mobile_banner_img = (mb_bgimage_src) ? mb_bgimage_src : bgimage_src %}

  {% if background_type|render == 'Image' %}
  <div class="banner-block image banner-block-medium only-mobile" style="background-image: url('{{ mobile_banner_img }}');">
  {% elseif background_type|render == 'Solid Color' %}
  <div class="banner-block banner-block-medium only-mobile" style="background: {{ bg_color }};">
  {% else %}
  <div class="banner-block only-mobile">
  {% endif %}

    <div class="grid-container">
        {% if breadcrumb %}
          <div class="breadcrumb-block">
           {% if pattern_lab %}
            {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
           {% else %}
            {{ drupal_block('system_breadcrumb_block') }}
           {% endif %}
          </div>
        {% endif %}


      {% include "@atoms/02-text/00-headings/page-title.twig" with {
        "page_title": page_title,
      } %}

      {% if headline %}
      <h3 class="subheader-content">{{ headline }}</h3>
    <div class="button-content">
      {% if buttons is not empty %}
        <div class="banner__button-group">
          {% for button in buttons %}
            {% if button.content is not empty %}
              {% include "@atoms/06-buttons/01-button.twig" with {
                button_url: button.url,
                button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
                button_content: button.content,
                button_modifiers: button.modifiers,
                icon: button.icon
              } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {{ modal_button }}
      <div class="banner-content">{{ content }}</div>
    </div>
  {% else %}
    <div class="banner-content">{{ content }}</div>
    {% if buttons is not empty %}
      <div class="banner__button-group">
        {% for button in buttons %}
          {% if button.content is not empty %}
            {% include "@atoms/06-buttons/01-button.twig" with {
              button_url: button.url,
              button_content: button.content,
              button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
              button_modifiers: button.modifiers,
              icon: button.icon
            } %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {{ modal_button }}
  {% endif %}

      {% if social_sharing %}
      <div class="banner__footer">
      <div class="">
      </div>
			</div>
      {% endif %}
    </div>
  </div>
</div>
</div>
