<div id="design-gallery-result">

{% if data %}
  <div class="narrow_result">
    <div id="total_items" class="design-total">{{ data.totalitems }} <span>Results</span></div>
      <div id="pager_items" class="pager-header">
      <div class="pagination products-pager">
      {# Desktop #}
      <ul>
        {% if data.page_value != 0 %}
          <li><a href="javascript:void(0)" class="pager__link first" data-load ="{{ data.0 }}">{{ "<<" }}</a></li>
          <li><a href="javascript:void(0)" class="pager__link prev" data-load ="{{ data.page_value-1 }}">{{ "<" }}</a></li>
        {% endif %}
        {% if data.tot_pages != 0 %}
          {% for i in 1..data.tot_pages %}
            {% set pagevalue = data.page_value+1 %}
            {% if pagevalue == i %}
            <li class=" is-active"><a href="javascript:void(0)" class="pager__link is-active" data-load ="{{ i-1 }}">{{ i }}</a></li>
            {% else %}
              <li><a href="javascript:void(0)" class="pager__link" data-load ="{{ i-1 }}">{{ i }}</a></li>
            {% endif %}

          {% endfor %}
          {% if data.page_value+1 != data.tot_pages %}
          <li><a href="javascript:void(0)" class="pager__link next" data-load ="{{ data.page_value+1 }}">{{ ">" }}</a></li>
          <li><a href="javascript:void(0)" class="pager__link last" data-load ="{{ data.tot_pages-1 }}">{{ ">>" }}</a></li>
          {% endif %}
        {% endif %}
      </ul>

      {# Mobile #}
      <div class="mobile-pagination">
      <ul>
      {% if data.page_value != 0 %}
        <li><a href="javascript:void(0)" class="pager__link prev" data-load ="{{ data.page_value-1 }}">{{ "<" }}</a></li>
      {% endif %}

    {% if data.tot_pages != 0 %}
        {% for i in 1..data.tot_pages %}
          {% set pagevalue = data.page_value+1 %}
          {% if pagevalue == i %}
            <li><div class="mobile-pagination pager__link">Page <span>{{ i }}</span> of <span>{{ data.tot_pages }}</span></div></li>
          {% endif %}
        {% endfor %}
        {% if data.page_value+1 != data.tot_pages %}
          <li><a href="javascript:void(0)" class="pager__link next" data-load ="{{ data.page_value+1 }}">{{ ">" }}</a></li>
          {% endif %}
        {% endif %}
        </ul>
      </div>
      </div>
    </div>
    </div>
    <div class="grid design_gallery">
    {% for designgallery in data.design_data %}
      <div class="grid-col-6 grid-col-sm-6 grid-col-md-6 grid-col-lg-3 design_gallery_list">
        <a href="javascript:void(0)" id = "design_gallery_{{ designgallery.id }}" class="design_gallery_link" data-id = "{{ designgallery.id }}" data-image="{{ designgallery.webURLLarge }}" data-desc="{{ designgallery.contributor }}" data-prev="{{ designgallery.prevId }}" data-next="{{ designgallery.nextId }}">
           <div class="design_gallery_img" style="background-image:url('{{ designgallery.webURLSmall }}')"></div>
          <p class="design_gallery_title">{{ designgallery.title|replace({'®': '<sup>®</sup>' })|raw }}</p>
        </a>
        <p class="design_gallery_deisgned">{{ "Designed By" }} {{ designgallery.contributor }} </p>
        {% if designgallery.contributor  is empty%}
          {% set contributor = "NA" %}
        {% else %}
          {% set contributor = designgallery.contributor %}
        {% endif %}
        <a href="/design-gallery-modal/{{ contributor }}/{{ designgallery.webURLLarge }}/{{ designgallery.nextId }}/{{ designgallery.prevId }}/{{ designgallery.feature_products }}" class="design_gallery_popup use-ajax hide" style="display:none"
           data-dialog-type="modal"
           data-dialog-options="{&quot;width&quot;:1200,&quot;height&quot;:500, &quot;dialogClass&quot;: &quot;design-gallery-popup&quot;}"
           id="gallery_popup_{{ designgallery.id }}">
          brzo
        </a>
      </div>
    {% endfor %}
    </div>
    <div id="pager_items_footer" class="pager-footer">
    <div class="pagination products-pager">
    {# Desktop #}
    <ul>
      {% if data.page_value != 0 %}
        <li><a href="javascript:void(0)" class="pager__link first" data-load ="{{ data.0 }}">{{ "<<" }}</a></li>
        <li><a href="javascript:void(0)" class="pager__link prev" data-load ="{{ data.page_value-1 }}">{{ "<" }}</a></li>
      {% endif %}
      {% if data.tot_pages != 0 %}
        {% for i in 1..data.tot_pages %}
          {% set pagevalue = data.page_value+1 %}
          {% if pagevalue == i %}
          <li class=" is-active"><a href="javascript:void(0)" class="pager__link is-active" data-load ="{{ i-1 }}">{{ i }}</a></li>
          {% else %}
            <li><a href="javascript:void(0)" class="pager__link" data-load ="{{ i-1 }}">{{ i }}</a></li>
          {% endif %}

        {% endfor %}
        {% if data.page_value+1 != data.tot_pages %}
         <li><a href="javascript:void(0)" class="pager__link next" data-load ="{{ data.page_value+1 }}">{{ ">" }}</a></li>
         <li><a href="javascript:void(0)" class="pager__link last" data-load ="{{ data.tot_pages-1 }}">{{ ">>" }}</a></li>
        {% endif %}
      {% endif %}
    </ul>

    {# Mobile #}
    <div class="mobile-pagination">
    <ul>
    {% if data.page_value != 0 %}
      <li><a href="javascript:void(0)" class="pager__link prev" data-load ="{{ data.page_value-1 }}">{{ "<" }}</a></li>
    {% endif %}

   {% if data.tot_pages != 0 %}
      {% for i in 1..data.tot_pages %}
        {% set pagevalue = data.page_value+1 %}
        {% if pagevalue == i %}
          <li><div class="mobile-pagination pager__link">Page <span>{{ i }}</span> of <span>{{ data.tot_pages }}</span></div></li>
        {% endif %}
      {% endfor %}
      {% if data.page_value+1 != data.tot_pages %}
         <li><a href="javascript:void(0)" class="pager__link next" data-load ="{{ data.page_value+1 }}">{{ ">" }}</a></li>
        {% endif %}
      {% endif %}
      </ul>
    </div>
  </div>
  </div>
 <!-- <a href="/design-gallery-modal" class="design_gallery_popup use-ajax hide" style="display:none"
     data-dialog-type="modal"
     data-dialog-options="{&quot;width&quot;:1200,&quot;height&quot;:500, &quot;dialogClass&quot;: &quot;design-gallery-popup&quot;}"
     id="gallery_popup">
    <div class="modal-popup" >
      <div class="popup-image" ><img src="#"/></div>
    </div>
  </a>-->
{% endif %}
</div>
