
<div class="popup-image">
{% if data %}
  {% set description = data.description %}
  {% if description == "NA" %}
    {% set popupdesc = "" %}
   {% else %}
     {% set popupdesc = description %}
   {% endif %}
  <h3 class="h3">Designed By {{ popupdesc }}</h3>
  <div class="share-opt">
  {{ drupal_entity('block', 'addtoanybuttons') }}
  </div>
  <img src="https://media.deltafaucet.com/elvis/InContext/lg/{{ data.designgalleryimage }}" alt="{{ popupdesc }} " />
  <div class="grid">
    <div class="grid-col-12 grid-col-sm-12 next_prev">
       <a href="javascript:void(0)" class="prev prev_id_{{ data.previd }}" data-target-prev ="{{ data.previd }}">Previous Design</a>
       <a href="javascript:void(0)" class=" next next_id_{{ data.nextid }}" data-target-next ="{{ data.nextid }}">Next Design</a>
    </div>
    <div class="grid-col-12 grid-col-sm-12 featured-products">
    <h2 class="text-uppercase">Featured Products</h2>
    <div class="grid">
     {% for featureproducts in data.fp_products %}
       <div class="grid-col-6 grid-col-sm-6 grid-col-md-4 grid-col-lg-3 grid-5">
          <a href="{{ featureproducts.fpa_link }}" target="_blank"> <img src ="{{ featureproducts.fpa_image }}" alt="{{ featureproducts.fpa_title|raw }}"/> <p> {{ featureproducts.fpa_title|raw }} </p></a>
       </div>
     {% endfor %}
    </div>
  </div>
  </div>
{% endif %}
</div>
