<div class="cdp-wrapper">
  <div class="ajax-progress ajax-progress-throbber">
    <div class="throbber">&nbsp;</div>
  </div>

  <div class="cdp-block">
    <div class="cdp-filter">
      <script data-name="reload" data-src="/dist/02-molecules/accordion-item/accordion-item.js"></script>
<script data-name="reload" data-src="/dist/02-molecules/product-filter/product-filter.js"></script>
<script data-name="reload" data-src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<div class="cdp-filter-mobile">
  <div class="filter-mobile-title">
    Filter By
  </div>
  <div class="filter-bars">
  <a href="#" id="filter-expand" class="filter-expand" aria-label="Filter expand button">
    <span class="toggle-expand__open">
      <div class="toggle-bar1"></div>
      <div class="toggle-bar2"></div>
      <div class="toggle-bar3"></div>
    </span>
  </a>
  </div>
</div>

<div class="product-filter">
  <div class="filter-desktop-title">
    Filter By
  </div>
  <div class="accordion cdp-accordion">

    <div class="accordion-block accordion-block-active">
      <div class="accordion-title accordion-title-active">
        Filter Group Title
      </div>
      <div class="accordion-desc accordion-desc-active" data-min="3" data-max="10">
        <div class="cdp-filter-wrapper">

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox1">
              <label class="custom-input__label" for="demo-checkbox1">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox2">
              <label class="custom-input__label" for="demo-checkbox2">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox3">
              <label class="custom-input__label" for="demo-checkbox3">
                Facet Label in multiple line with icon
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox4">
              <label class="custom-input__label" for="demo-checkbox4">
                Facet Label  in multiple line with icon
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox6">
              <label class="custom-input__label" for="demo-checkbox6">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox7">
              <label class="custom-input__label" for="demo-checkbox7">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

        </div>

        <div class="cdp-filer-operations">
          <div class="cdp-filter-view-all">
            View All
            <i class="icon-arrow-2-medium-down"></i>
          </div>
          <div class="cdp-filter-view-less">
            Show Less
            <i class="icon-arrow-2-medium-down"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-block accordion-block-active">
      <div class="accordion-title accordion-title-active">
        Filter Group Title
      </div>
      <div class="accordion-desc accordion-desc-active" data-min="4" data-max="4">
        <div class="cdp-filter-wrapper">

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox8">
              <label class="custom-input__label" for="demo-checkbox8">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox9">
              <label class="custom-input__label" for="demo-checkbox9">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox10">
              <label class="custom-input__label" for="demo-checkbox10">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox11">
              <label class="custom-input__label" for="demo-checkbox11">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="accordion-block accordion-block-active">
      <div class="accordion-title accordion-title-active">
        Filter Group Title
      </div>
      <div class="accordion-desc accordion-desc-active" data-min="3" data-max="6">
        <div class="cdp-filter-wrapper">

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox12">
              <label class="custom-input__label" for="demo-checkbox12">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox13">
              <label class="custom-input__label" for="demo-checkbox13">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox14">
              <label class="custom-input__label" for="demo-checkbox14">
                Facet Label in multiple line with icon
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox15">
              <label class="custom-input__label" for="demo-checkbox15">
                Facet Label  in multiple line with icon
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox16">
              <label class="custom-input__label" for="demo-checkbox16">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

          <div class="cdp-filter-block">
            <div class="custom-input custom-input--checkbox">
              <input class="custom-input__native" type="checkbox" id="demo-checkbox17">
              <label class="custom-input__label" for="demo-checkbox17">
                Facet Label
              </label>
            </div>
            <div class="filter-icon">
              <img src="https://dev2.brizo.com/sites/brizo/files/2020-03/13.jpg">
            </div>
          </div>

        </div>

        <div class="cdp-filer-operations">
          <div class="cdp-filter-view-all">
            View All
            <i class="icon-arrow-2-medium-down"></i>
          </div>
          <div class="cdp-filter-view-less">
            Show Less
            <i class="icon-arrow-2-medium-down"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="mobile-clear-filter">
  <a class="clear-filter"> Clear All </a>
  <a class="done-filter"> Done </a>
</div>
    </div>

    <div class="cdp-data">

      <div class="cdp-selected-filter">
  <a class="cdp-filter-chip"> Default filter faucet chip 1 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip"> Default filter faucet chip 2 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip"> Default filter faucet chip 3 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip"> Default filter faucet chip 4 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip cdp-clear-filter"><i class="icon-filter-hide-small"></i> clear all filters </a>
</div>

      <div class="cdp-grid grid">
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

          <div class="product-flag">
        
<div class="flag flag--gray-30">
  Discontinued
</div>
      </div>
    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

          <div class="product-flag">
        
<div class="flag flag--gray-30">
  Discontinued
</div>
      </div>
    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

          <div class="product-flag">
        
<div class="flag flag--gray-30">
  Discontinued
</div>
      </div>
    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

          <div class="product-flag">
        
<div class="flag flag--gray-30">
  Discontinued
</div>
      </div>
    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
                  <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          
<div class="product_tile product_tile--cdp-prod-tile">

      <div class="product-image">
      <a href="" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

    
          <div class="product-title">
        <a href="">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
    
  </div>

  </div>
          </div>
              </div>
    </div>

  </div>
</div>
