{{ attach_library('brizo_theme/accordion') }}

{% set accordion_base_class = accordion_base_class|default('accordion') %}

<div {{ bem(accordion_base_class, (accordion_modifiers), accordion_blockname) }}>

  {% for accordion_item in accordion_items %}
    {% include "@molecules/accordion-item/_accordion.twig" with {
      "accordion_title": accordion_item.accordion_title,
      "accordion_desc": accordion_item.accordion_desc,
    } %}
  {% endfor %}

</div>
