<div class="card-cta card-cta-left-image card-cta-light ">
  <div class="card-cta-img">
    <a class="card-cta-link" href="#" style="background-image:url(/themes/custom/brizo_theme/images/lazyload.png)"  data-src="../../images/Voltaggia_Hero_1600x911.jpg"  aria-label="Link to Alternate Text">
      <picture>
        <source  data-src-desk="../../images/Voltaggia_Hero_1600x911.jpg"   srcset="/themes/custom/brizo_theme/images/lazyload.png" media="(min-width: 768px)">
        <img   srcset="/themes/custom/brizo_theme/images/lazyload.png" alt="Thumbnail image of Alternate Text" class="image">
      </picture>
    </a>
  </div>
  <div class="card-cta-desc">
    <a class="card-cta-link" href="#">
      <div class="card-cta-title">
        
<h4 class="h4">
      A Fitting Collaboration
  </h4>
      </div>
    </a>
    <div class="card-cta-button">
      <a class="cta-link" href="#">
        Jason wu
    </a>
    </div>
  </div>
</div>
