{% set resulttodal_base_class = resulttodal_base_class|default('result__total') %}


<p {{ bem(resulttodal_base_class, (resulttodal_modifiers), resulttodal_blockname) }}>
  <b>{{product_category_count}}</b><span>{{product_category}}<span>
</p>

<p {{ bem(resulttodal_base_class, (resulttodal_modifiers), resulttodal_blockname) }}>
  <b>{{product_count}}</b><span>{{total_result_label}}</span><i>"{{search_term}}"</i>
</p>
