{{ attach_library('brizo_theme/brizo_plp_product_listing') }}

{% if page.sidebar|render %} {# this may or may not correctly filter sidebar #}
  {% set sidebar = TRUE %}
{% endif %}
<div class="layout-container">
  {% block page_header %}
    {% if page.header %}
     <div class="global_header">
      {{ page.secondary_header }}
      <div class="fullwidth_header" id="fullwidth-header">
          <div id="header-wrapper" class="header-wrapper">
          {{ page.site_branding }}
          {{ page.header }}
          </div>
      </div>
    </div>
    {% endif %}
  {% endblock %}
  {% block page_system %}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    {{ messages }}
  {% endblock %}
</div>
{% block page_banner %}
 <div class="page-banner-wrapper">{{ page.banner }}</div>
 {% endblock %}
  {% block page_content %}
  <main role="main" class="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="main-content">
    {{ page.content.views_block__banner_region_block_block_1 }}
    {# PLP -wrapper start #}
    {% if node.field_show_bottom_gradient.value  %}
      <div class="plp-wrapper bottom-gradient">
    {% else %}
       <div class="plp-wrapper">
    {% endif %}

      <div class="ajax-progress ajax-progress-throbber">
        <div class="throbber">&nbsp;</div>
      </div>
      <div class="page-comp-top">
        {% for item in node.field_page_component_top %}
          {{ drupal_entity('paragraph', item.target_id) }}
        {% endfor %}
      </div>
      {# PLP-block start #}
      <div class="plp-block">

        {# PLP-filter start #}
        <div class="plp-filter">
          <div class="plp-filter-mobile">
            <div class="filter-mobile-title">
              Filter By
            </div>
            <div class="filter-bars">
            <a href="#" id="filter-expand" class="filter-expand" aria-label="Filter expand button">
              <span class="toggle-expand__open">
                <div class="toggle-bar1"></div>
                <div class="toggle-bar2"></div>
                <div class="toggle-bar3"></div>
              </span>
            </a>
            </div>
          </div>
        <div class="product-filter">
        <div class="filter-desktop-title">
            Filter By
          </div>
          {% block page_sidebar %}
              <div class="accordion plp-accordion">
                  {{ page.sidebar }}
              </div>
          {% endblock %}
        </div>
        <div class="mobile-clear-filter">
          <a id="mobile_clear_filters" class="clear-filter" tabindex="0" role="link"> Clear All </a>
          <a class="done-filter" tabindex="0" role="link"> Done </a>
        </div>
        </div>
        {# PLP-filter end #}

        {# PLP-data start #}
        <div class="plp-data">
         {{ page.content|without('views_block__banner_region_block_block_1','page_component_bottom','page_component_top') }}
        </div>
        {# PLP-data end #}

      </div>
      {# PLP-block end #}


    </div>
    {# PLP -wrapper end #}

    <div class="page-comp-bottom">
      {% for item in node.field_page_component_bottom %}
       {{ drupal_entity('paragraph', item.target_id) }}
      {% endfor %}
    </div>


    </div>
  </main>
  {% endblock %}
{{ page.footer }}
