{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends "@organisms/site/site-header/site-header.twig" %}

{% block header_content %}
  <div class="header-wrapper">

    <div class="header-utility">
      <div class="utility-block">
        <div class="utility-nav">
          {{ elements.utilitymenu_2}}
          <div class="country-link">
           {{ elements.countries }}
          </div>
        </div>
        <div class="showroom-wrapper">
          {{ elements.showroomlocatorcustomblock }}
        </div>
      </div>
    </div>


    <div class="primary-header">
      <div class="mobile-version mobile-menu-toggle">
        <a href="#" id="toggle-expand-id-{{ random() }}" class="toggle-expand" aria-label="Toggle expand button">
          <span class="toggle-expand__open">
            <div class="toggle-bar1"></div>
            <div class="toggle-bar2"></div>
            <div class="toggle-bar3"></div>
          </span>
        </a>
      </div>


      <div class="logo-wrapper">
        {{ elements.brizo_theme_branding }}
      </div>
      <div class="mainmenu-wrapper">
        {{ elements.brizo_theme_main_menu }}
        <div class="utility-mobile">
          <div class="utility-block">
            <div class="utility-nav">
            {{ elements.utilitymenu_2}}
             <div class="country-link mobile-country">
              {{ elements.countries }}
             </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search-wrapper">
        {{ elements.globalsearchblock }}
      </div>

      <div class="mobile-version mobile-search-icon">
        <i class="icon-search"></i>
      </div>

    </div>
  </div>
{% endblock %}
