{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends "@organisms/site/site-footer/site-footer.twig" %}

{% block footer_content %}
<div class="footer-wrapper">
    <div class="footer-top">
      {{ elements.secondarynavigationmenu }}
    </div>
    <div class="footer-bottom">
      <div class="footer-social">
        {{ elements.footersocialmenu }}
      </div>
      <div class="footer-bottom-links">
        {{ elements.brizo_theme_footer }}
        {{ elements.copyrightblock }}
      </div>
    </div>
  </div>
{% endblock %}
