{{ attach_library('product_details/product_details') }}
{{ attach_library('delta_theme/node') }}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
] %}
<div class="plp-wrapper">
<div class="ajax-progress ajax-progress-throbber">
  <div class="throbber">&nbsp;</div>
</div>

  <div style="display:none;" class="plp-results">
    <div class="plp-results__header">
      <div class="plp-results__header__primary">
        <div class="plp-results__qty-wrap">
          <span class="plp-results__qty product-count">0</span>
          {% include "@atoms/02-text/00-headings/_row-heading-title.twig" with {
            "row_heading_content": product_list_category,
            "row_heading_level": 6,
            "row_heading_modifiers": ["light"]
          } %}
        </div>

      </div>

      <div class="plp-results__filters">

        <a href="javascript:void(0);" class="cta-link cta-link--xs has-icon--left" style="display: none;" id="clear_filters">


          <svg class="icon icon--filter-hide-small" aria-hidden="true" role="img" width="16" height="16" aria-labelledby="title-filter-hide-small">
            <title id="title-filter-hide-small">filter-hide-small</title>


            <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#filter-hide-small"></use>
          </svg>

          Clear all filters

        </a>
      </div>


      <div class="plp-share-popup">
        <div class="plp-share-data">
          <input type="text" value="" id="plpshareinput">
          <button class="plpsharecopybutton" onclick="PLPSharePopup()">Copy</button>
            <a href="javascript:void(0);" class="plpshareclosebutton" onclick="PLPSharePopupClose()"></a>
        </div>
      </div>


      <div class="sort_elements">

      {% include "@atoms/05-forms/select/select.twig" with {
        label: "Sort By"|trans,
        options: {
          0: {
            type: "option",
            label: "Sort By"|trans,
            value: "sort_AvailableToShipDate=DESC&sort_ListPrice=DESC"|trans
          },
          1: {
            type: "option",
            label: "Price (High to Low)"|trans,
            value: "sort_ListPrice=DESC"|trans
          },
          2: {
            type: "option",
            label: "Price (Low to High)"|trans,
            value: "sort_ListPrice=ASC"|trans
          },
          3: {
            type: "option",
            label: "A-Z"|trans,
            value: "sort_descriptionWithCollection=ASC&sort_ListPrice=DESC"|trans
          },
          4: {
            type: "option",
            label: "Z-A"|trans,
            value: "sort_descriptionWithCollection=DESC&sort_ListPrice=DESC"|trans
          },
          5: {
            type: "option",
            label: "Newest"|trans,
            value: "sort_AvailableToShipDate=DESC&sort_ListPrice=DESC"|trans
          },
          6: {
            type: "option",
            label: "Rating"|trans,
            value: "sort_bvStarRating=DESC&sort_ListPrice=DESC"|trans
          }
        },
        select_modifiers: ["sm"]
      } %}
      {% include "@atoms/05-forms/select/select.twig" with {
        label : 'Items Per Page'|trans,
        options: paginationOptions,
        select_modifiers: ["im"]
      } %}
      <div class="pager__items js-pager__items plp-pagination-output"></div>
      </div>
    </div>

      <script type="text/template" id="output-node">
          <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">

            <div class="product-tile">
              <% if(ribbonText){ %><div class="slider_flag flag_position"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
              <figure class="product-tile__image">
              <a href="<%- pdp %>" class="product-action-link">
                  <img src="<%- heroImage %>" srcset="<%- heroImage %>" alt="<%= title %>" class="img-responsive" />
                {#<img src="<%- heroImage %>" srcset="../../images/product-tile-sample@2x.jpg"  alt="" />#}
                </a>
              </figure>

              <div class="product-tile__body">
                <% if(ribbonText){ %><div class="slider_flag flag_position flag-mobile"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>

                {% if product_tile_flag_text %}
                  {% include "@atoms/13-flag/flag.twig" with {
                    "flag_text": product_tile_flag_text,
                    "flag_modifiers": product_tile_flag_modifiers,
                  } %}
                {% endif %}
                <h6 class="h6 product-tile__title"><a href="<%- pdp %>" class="no-line product-action-link"> <%= collectionName %></a> </h6>
                <p class="paragraph">
                  <a href="<%- pdp %>" class="no-line product-action-link"><%= title %></a>
                </p>

                 <% if(refurbished === 1){ %>
                    <% if(listprice !== ""){ %>
                       <span class="price-strike-out product-tile__price discount-list-price">List Price*: $<%- listprice %></span>
                    <% } %>
                    <span class="product-tile__price">Sale Price*:  <span class="price-weight">$<%- price %></span></span>
                   <% } %>
                   <div class="prod-finishes">
                     <% _.each(finishOptions, function (finishIcon) { %>
                       <%= finishIcon %>
                     <% }); %>
                   </div>
                   <span class="product-tile__sku">
                     <a href="/product-detail/<%- sku %>" class="no-line product-action-link" name="<%- sku %>" data-model-number="<%- sku %>">
                       <%- sku %>
                     </a>
                   </span>
                   <div class="add-to-compare black-txt">
                   <a href="javascript:void(0);" class="cta-link cta-link--sm has-icon--left js-add-to-compare" name="<%- sku %>" data-model-number="<%- sku %>"> <svg class="icon icon--filter-add-show-small" aria-hidden="true" role="img" width="16" height="16" aria-labelledby="title-filter-add-show-small">
                         <title id="title-filter-add-show-small">filter-add-show-small</title>
                         <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#filter-add-show-small"></use>
                       </svg>Add To Compare</a>

                   </div>

              </div>

            </div>

          </div>

      </script>
      <div id="output" class="testing-node"></div>

      <div class="pager__items js-pager__items plp-pagination-output pagination-bottom"></div>
  </div>
</div>

{% if cloudKey and siteId and siteEnvironment and siteLocale %}
  <script async src="https://apps.bazaarvoice.com/deployments/{{ cloudKey }}/{{ siteId }}/{{ siteEnvironment }}/{{ siteLocale }}/bv.js"></script>
{% endif %}
<script>
  function PLPSharePopup() {
    var copyText = document.getElementById("plpshareinput");
    copyText.select();
    copyText.focus();
    document.execCommand("copy");
  }
  function PLPSharePopupClose() {
    jQuery(".plp-share-popup").removeClass("active-plp-share-popup");
  }
</script>
<script type="text/template" id="plp-pagination">
  <% if(totalRecordset > 0) { %>
  <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
    <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
  </div>
  <% } %>
</script>
