<section class="hero-mobile"><img src="themes/innovation/img/hero-mobile-bg.jpg">
	      <div class="hero-mobile-content">
	        <p>First Wave.<br><span>the Innovation Lab</span><br><span>at Delta Faucet.</span></p>
	      </div>
	    </section>
    <section class="hero-parallax">
      <div class="hero-parallax-background" style="background-image: url('themes/custom/innovation/img/hero-static.jpg')"></div>
      <div class="hero-parallax-content is-hidden">
        <!--img.hero-logo(src='img/first-wave-logo.svg', alt='')-->
        <div class="hero-cpt hero-cpt--1">
          <p>Ideas are fluid.</p>
        </div>
        <div class="hero-cpt hero-cpt--2">
          <p>Fascinating and<br><span style="margin-left: 4ch;">ever evolving</span>.</p>
        </div>
        <div class="hero-cpt hero-cpt--3">
          <p>We help them<br> take shape.</p>
        </div>
        <div class="hero-cpt hero-cpt--4">
          <p>This is First Wave, the Innovation Lab <br> at Delta Faucet Company.</p>
        </div>
      </div>
    </section>
    <!--include partials/hero.pug-->