{% set subtitle = 'Sign Up' %}
{% if(items.contact == 'TRUE') %}
{%  set subtitle = '' %}
{% endif %}
<h2>{{ subtitle }}</h2>
<div class="contact contact--description">
  Sign up for our emails and be the first to know when we build something cool.

</div>
<form id="formRoiWebCapture" class="contact-form" action=""><input type="hidden" id="hiddenRoiToken"
                                                                   name="Token"
                                                                   value="SZeEq26P9iH8jOMc+F+6riIQRTXGRUEpFOH5nE0qKlswaQmGBgP0Nu/RtCHjWkpCpMjQpwIC6T0="/>
  <input type="hidden" id="hiddenRoiDeduplicateKeys" name="DeduplicateKeys" value="contacts.email"/>
  <input type="hidden" id="hiddenRoiSuccessMessage" name="SuccessMessage"
         value="Subscribed sucessfully. You'll receive a confirmation shortly."/>
  <input type="hidden" id="hiddenRoiErrorMessage" name="ErrorMessage" value=""/>
  <input type="hidden" id="hiddenROISourceContentId" name="ROISourceContentId" value=""/>
  <input type="hidden" id="hiddenROISourceFormId" name="ROISourceFormId" value="1537"/>
  <input type="hidden" id="hiddenRoiContactsID" name="Contacts.ID" value=""/>
  <input type="hidden" id="hiddenRoiTriggerExternalId" name="TriggerExternalId"
         value="b32e7337-e519-48ee-8bca-75f4483d4eb0"/>
  <div id="success-message">Subscribed sucessfully. You'll receive a confirmation shortly.</div>
  <div class="v-list-9">
    <div class="form-row">
      <fieldset class="form-group roiformfield"><input type="text" id="inputRoi0"
                                                       name="Contacts.FirstName" title="First Name"
                                                       value=""
                                                       class="form-control roiforminput required"
                                                       placeholder="First Name"/>
        <div class="roiforminstructions"></div>
      </fieldset>
      <fieldset class="form-group roiformfield"><input type="text" id="inputRoi1"
                                                       name="Contacts.LastName" title="Last Name"
                                                       value=""
                                                       class="form-control roiforminput required"
                                                       placeholder="Last Name"/>
        <div class="roiforminstructions"></div>
      </fieldset>
    </div>
    <fieldset class="form-group roiformfield"><input type="text" id="inputRoi2" name="contacts.email"
                                                     title="Email Address" value=""
                                                     class="form-control roiforminput required"
                                                     placeholder="Email"/>
      <div class="roiforminstructions"></div>
    </fieldset>
    <fieldset class="form-group" style="display: none;"><input type="checkbox" checked
                                                               id="inputRoi3Option0"
                                                               name="Contacts.InnovationEmailOptIn"
                                                               value="true" title="Opt In"
                                                               class="roiforminputcheckbox roibitfield"/>
      <div class="roiforminstructions"></div>
    </fieldset>
    <input class="btn btn--primary" id="buttonSaveFormROI" type="submit" value="Submit"
           onclick="this.disabled=true;SaveFormROI(this.form.id);">
  </div>
</form>
