<footer class="footer" data-site-header>
  <div class="grid-container">
    <div class="row">
      {{ items.title }}
      {{ items.subtitle }}
      {{ items.address }}
      {{ items.copyright }}
    </div>
  </div>
</footer>
