<div class="one-column">
  <div class="innovation-video">
    {{ content.innovation_video }}
  </div>
  <div class="innovation-mission">
    {{ content.innovation_mission }}
  </div>
  <div class="innovation-about-us">
    {{ content.innovation_about_us }}
  </div>
  <div class="innovation-process">
    {{ content.innovation_process }}
  </div>
  <div class="innovation-news">
    {{ content.innovation_news }}
  </div>
  <div class="innovation-contact">
    {{ content.innovation_contact }}
  </div>
</div>