<div class="site-header" data-site-header>
      <div class="grid-container grid-container--full-height">
        <div class="row">
          <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
          <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding">
            <div class="table-layout table-layout--full-width table-layout--full-height">
              <div class="table-layout__row">
                  <div class="table-layout__cell table-layout__cell-1-12 table-layout__cell--valign-mid"><a href="/"><img class="site-header__logo" src="{{items.logoPath}}" alt="First Wave"></a></div>
                <div class="table-layout__cell table-layout__cell-5-12 table-layout__cell-sm-hide table-layout__cell--valign-mid">
                  <h1 class="site-header__description p--small p--no-margin"><span class="p--theme-blue">{{items.site_name}}</span><span class="p--theme-gray"> {{items.site_slogan}}</span></h1>
                </div>
                <div class="table-layout__cell table-layout__cell-6-12 table-layout__cell--valign-mid">
                  <button class="site-header__nav-button"><span class="shnb-inner"></span></button>
                  <nav class="site-header__nav"><a class="link link--nav" href="#mission" data-site-header-scroll-link>Mission</a><a class="link link--nav" href="#about" data-site-header-scroll-link>About</a><a class="link link--nav" href="#process" data-site-header-scroll-link>Process</a><a class="link link--nav" href="#news" data-site-header-scroll-link>News</a><a class="link link--nav" href="#contact" data-site-header-scroll-link>Contact</a>{% if items.admin|length != 0%} <a class="link link--nav" href="/admin" data-site-header-scroll-link>Admin</a> {%endif%}
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
        </div>
      </div>
    </div>
    <div class="site-header__spacer"></div>
