<div class="proof-of-concept">
{% if items.textAlignment == 'right'%}
    <div class="poc-right-image">
        <img src="{{items.imageUrl}}" >
    </div>
    <div class="poc-right-desc">
        {{items.description|raw}}
    </div>
    {% endif %}
{% if items.textAlignment == 'left'%}
    <div class="poc-left-image">
        <img src="{{items.imageUrl}}" >
    </div>
    <div class="poc-left-desc">
        {{items.description|raw}}
    </div>
    {% endif %}
    </div>
    
    <section class="section--parallax" data-section-parallax>
      <div class="section__background--parallax" data-section-parallax-background style="background-image: url('img/alexa-bg.png')"></div>
      <div class="section__foreground">
        <div class="padded-box padded-box--border-none padded-box--vertical-24">
          <div class="grid-container">
            <div class="row">
              <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col--no-padding"></div>
              <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-10 col-sm-12 col--no-padding">
                <div class="table-layout table-layout--full-width table-layout--sm-collapse table-layout--full-height">
                  <div class="table-layout__row">
                    <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
                      <div class="v-list-4">
                        <h2 class="h--no-margin h--theme-blue">"What if?"<br/>It's our favorite question.</h2>
                        <p>In 2018, we unveiled a faucet that pairs with Amazon Alexa. It was our first big idea, and it changed the marketplace. More innovations are coming soon.</p>
                      </div>
                    </div>
                    <div class="table-layout__cell table-layout__cell-8-12 table-layout__cell--valign-mid"></div>
                  </div>
                </div>
              </div>
              <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col--no-padding"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    