<video width="100%" controls preload="none" poster="{{items.thumbnailUrl}}">
  <source src="{{ items.url }}" type='video/mp4' />
</video>

{% if(items.thumbnail != 'FALSE') %}
<img src="{{ items.thumbnailUrl }}" height="300" width="300">
{% endif %}
