<main role="main">
  <div class="container {{ collectionlanding }}">
    {% if node.field_content_in_grey_box.value == 1 %}
      <div class="shadow-box-secondary">
        {% if page.page_title and not is_front %}
          <section id="page-title">
           <div class="container">
             <div class="row">
              {% if node.field_content_in_grey_box.value == 1 %}
                <div class="col-md-9">
                  {% if node.field_static_page_logo.isEmpty %}
                    {{ page.page_title }}
                  {% else %}
                    <img src="{{ file_url(node.field_static_page_logo.entity.uri.value) }}">
                  {% endif %}
                </div>
              {% endif %}
          {% endif %}
        </div>
      </div>
           </section>
           {% endif %}
                <div class="row">
                    <a id="main-content" tabindex="-1"></a>
                    {{ get_page }}
                    {% if node.field_content_in_grey_box.value == 0 %}
                    {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}
                        {% if has_sidebar_first %}
                            <div class="col-sm-4 col-lg-3 sidebar-support-menu" role="complementary">
                                <aside class="sidebar">
                                    <div class="nav nav-list">
                                        <div class="sidebar--mobile-header">
                                            <span>Support Menu</span><i class="glyphicon glyphicon-plus-down"></i>
                                        </div>
                                        <div class="sidebar--container">
                                            <div class="sidebar--container-inner">
                                              <div class="list-group">
                                                <h3 class="support-title">Support</h3>
                                                  {{ page.sidebar_first }}
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <div class="push-t push-b">
                                    {{ page.sidebar_first_special }}
                                    <div class="clear"></div>
                                </div>
                            </div>
                        {% endif %}
                        {% else %}
                        {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}
                        {% if has_sidebar_first %}
                            <div class="col-sm-4 col-lg-3 sidebar-support-menu" role="complementary">
                                <aside class="sidebar">
                                    <div class="nav nav-list">
                                        <div class="sidebar--container">
                                            <div class="sidebar--container-inner">
                                                  {{ page.sidebar_first }}
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <div class="push-t push-b">
                                    {{ page.sidebar_first_special }}
                                    <div class="clear"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if page.content %}
                        {% set col_sm_no = 8  %}
                          {% set col_lg_no = 9 %}
                           {% set support_main = 'support-main-content' %}
                            {% if page.sidebar_first|render|striptags|trim is empty %}
                            {% set col_sm_no = 12  %}
                            {% set col_lg_no = 12 %}
                             {% set support_main = '' %}
                        {% endif %}
                        <div class="col-sm-{{col_sm_no}} col-lg-{{col_lg_no}} {{support_main}}">
                        {% if node.field_content_in_grey_box.value == 1 %}
                          <div class="shadow-box-content content-well">
                        {% else %}
                            <div class="shadow-box-content-1">
                        {% endif %}
                                {{ page.content }}
                            </div>
                        </div>
                    {% endif %}

                    {% if page.sidebar_second %}
                        <div class="layout-sidebar-second {{ sidebarsecond }}" role="complementary">
                            {{ page.sidebar_second }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if node.field_content_in_grey_box.value == 1 %}
            </div>
            {% endif %}
        </main>