{% if content %}
  <div {{ attributes.addClass('two-column') }}>
  {% if content.main %}
    <div class="main-content main-content--with-sidebar" {{ region_attributes.main.addClass('main-region') }}>
      {{ content.main }}
    </div>
  {% endif %}
  {% if content.sidebar %}
    <aside class="main-sidebar" role="complementary" {{ region_attributes.sidebar.addClass('sidebar-region') }}>
    <section>
      {{ content.sidebar }}
    </section>
    </aside>
  {% endif %}
  </div>
{% endif %}
  