<div class="grid-container">
  <div class="grid">
    {% for i in 1..8 %}
      <div class="grid-col-sm-6 grid-col-lg-4  grid-col-xl-3">
        {% include "@molecules/video-thumbnail/_video-thumbnail.twig" with {
          video_title: "Title of Video Placed Here",
          video_url: "/",
          video_thumbnail_url: "http://placehold.it/448x252"
        } %}
      </div>
    {% endfor %}
  </div>
</div>
