<div class="elearning-login">
{% if user.uid %}

  <h3 class="welcome">{{ 'Welcome back' | t }}</h3>
  <div class="logged-user-name">{{ user.name }}</div>

  <form method="POST" action="{{ user.postUrl }}" id="LMSForm" target="_blank">
    <input type="hidden" name="key" value="{{ user.key }}" />
    <input type="hidden" name="ouid" value="{{ user.ouid }}" />
  </form>

{% else %}

  <h3 class="welcome">{{ 'Welcome' | t }}</h3>
  <p class="intro-text">{{ 'Please log in or create an account to view content exclusive to showroom professionals.' | t }}</p>

{% endif %}
</div>