<script data-name="reload" data-src="/dist/01-atoms/global-notifications/notifications.js"></script>

  
      <div class="alert alert--neutral">
        Global neutral message <i class="icon-filter-hide-small"></i>
      </div>
  


