<div class="cartridge-block">
  <div class="cartridge-img-wrapper">
    <a href={{ cartridge_block_link }}>
      <div class="cartridge-img-block">
        <div class="cartridge-org-img">
          {% include "@atoms/04-images/00-image/_image.twig" with {
              img_src: cartridge_org_img_url,
              img_alt: cartridge_org_img_alt,
          } %}
        </div>
        <div class="cartridge-hover-img">
          {% include "@atoms/04-images/00-image/_image.twig" with {
              img_src: cartridge_hover_img_url,
              img_alt: cartridge_hover_img_alt,
          } %}
        </div>
      </div>
      <div class="cartridge-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 3,
          "heading": cartridge_title,
        } %}
      </div>
    </a>
  </div>
  <div class="cartridge-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: cartridge_desc
    } %}
  </div>
</div>
