<div class="professional">

  <div class="pro-text-button-box">
    {% for tbb_block in tbb_blocks %}
      {% include "@molecules/text-button-box/text-button-box.twig" with {
        "tbb_text": tbb_block.tbb_text,
        "tbb_button_content": tbb_block.tbb_button_content,
        "tbb_button_url": tbb_block.tbb_button_url,
      } %}
    {% endfor %}
  </div>

  <div class="pro-dropdown">
    <div class="pro-dropdown-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": pro_dropdown_title,
      } %}
    </div>

    <div class="pro-dropdown-desc">
      {% include "@atoms/05-forms/select/select.twig" with {
        options: {
          1: {
            type: "option",
            label: "",
            value: ""
          },
          2: {
            type: "option",
            label: "Price: High to Low",
            value: "price-high-to-low"
          },
          3: {
            type: "option",
            label: "Price: High to Low",
            value: "price-high-to-low"
          }
        },
        select_modifiers: ["sm"]
      } %}
    </div>
  </div>

  <div class="pro-fea-ins grid">
    <div class="pro-fea-prod grid-col-md-8">
      {% include "@molecules/image-desc-block/image-desc-block.twig" with {
        "img_desc_image_src": img_desc_image_src,
        "img_desc_image_alt": img_desc_image_alt,
        "img_desc_title": img_desc_title,
        "img_desc_prod_title": img_desc_prod_title,
        "img_desc_prod_desc": img_desc_prod_desc,
        "img_desc_prod_more_text": img_desc_prod_more_text,
        "img_desc_prod_more_url": img_desc_prod_more_url,
      } %}
    </div>

    <div class="pro-ins-pro grid-col-md-4">
      {% for pro_ins_pro_desc in pro_ins_pro_descs %}
        {% include "@molecules/title-image-desc-block/title-image-desc-block.twig" with {
          "text_img_block_title": pro_ins_pro_desc.text_img_block_title,
          "text_img_block_image_src": pro_ins_pro_desc.text_img_block_image_src,
          "text_img_block_image_alt": pro_ins_pro_desc.text_img_block_image_alt,
          "text_img_block_desc": pro_ins_pro_desc.text_img_block_desc,
          "text_img_block_cta_more_content": pro_ins_pro_desc.text_img_block_cta_more_content,
          "text_img_block_more_url": pro_ins_pro_desc.text_img_block_more_url,
        } %}
      {% endfor %}
    </div>
  </div>

  <div class="pro-tools">
    <div class="pro-tool-ttl">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": pro_tool_title,
      } %}
    </div>
    <div class="pro-tool-desc grid">
      {% for pro_tool_desc in pro_tool_descs %}
        <div class="pro-tool-desc-block grid-col-md-3">
          {% include "@atoms/catalog-listing/catalog-listing.twig" with {
            "content_card_title": pro_tool_desc.content_card_title,
            "content_card_url": pro_tool_desc.content_card_url,
            "content_card_img_url": pro_tool_desc.content_card_img_url,
            "content_card_img_alt_text": pro_tool_desc.content_card_img_alt_text,
          } %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="pro-featured">
    <div class="pro-featured-ttl">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": pro_featured_title,
      } %}
    </div>
    <div class="pro-featured-desc">
      {% include "@molecules/product-slider/product-slider.twig" with {
        "slider_thumb_imgs": pro_featured_descs,
      } %}
    </div>
  </div>

  <div class="pro-coverage">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: pro_coverage
    } %}
  </div>
</div>
