
<div class="product_tile product_tile--collection product_tile--featured">

      <div class="product-image">
      <a href="#" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

    
          <div class="product-title">
        <a href="#">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                </div>

          <div class="product-finish">
        <span class="available-finishes">Available finishes:</span>
                  <div class="finish-thumbnail" style="background-image: url('https://www.deltafaucet.com/sites/delta/files/2019-09/finish_articstainless.png')" title="" alt=""></div>
                  <div class="finish-thumbnail" style="background-image: url('https://www.deltafaucet.com/sites/delta/files/2019-09/finish_chrome.png')" title="" alt=""></div>
                  <div class="finish-thumbnail" style="background-image: url('https://www.deltafaucet.com/sites/delta/files/2019-09/finish_polishednickel.png')" title="" alt=""></div>
              </div>
    
          <div class="product-link">
        <a class="cta-link" href="#">
        View Collection
    </a>
      </div>
    
  </div>

      <div class="prod-collection-img">
      
<img
  class="img"
      src="https://www.brizo.com/files/live/sites/brizo/images/site/kitchen/collections/artesso/Artesso_64025LF-PN_1-2-image_700x252.jpg"
      alt="Alternate Image"
    />
    </div>
  </div>
