{% for item in items %}
  <div class="featured-innoslider-video">
    <div class="video">
      <iframe title="{{ 'Video container' | t }}" width='1280' height='720' src={{ item.content }}></iframe>
    </div>
  </div>
{% endfor %}

