{% if data.productReferences %}
<h2 class="home_h2_car">{{ 'Featured Products' | t }}</h2>
<div class="container">
	<div class="product-slider">
		{% for rel in data.productReferences %}
		<div class="product-slider__list">
			<div class="product-cell">
				<div class="product-cell-inner ">
					<div class="product-thumb">
						<a href="{{ rel.productUrl }}" target="_self" title="Go to {{ rel.modelNumber }} Product Page">
							<img class="img-responsive center-block" src="{{ rel.image }}" title="Go to {{ rel.modelNumber }} Product Page" alt="{{ rel.description }}">
						</a>
					</div>
					<div class="product-info">
						<a href="{{ rel.productUrl }}" target="_self" title="Go to {{ rel.modelNumber }} Product Page">
							<div class="product-heading" style="padding-bottom: 0;">
								<div class="carousel--product-collection">
									{{ rel.type }}
								</div>
								<h5>{{ rel.description }}</h5>
							</div>
							<div class="product-info-inner">
								<div class="product-info-inner-border" style="border-bottom: none;">
									<div class="dl-horizontal">
										<!--<dt>Model:</dt>-->
										<div class="model_container">
											{{ rel.modelNumber }}
										</div>
										<div class="price_container">
											<span class="price_txt">
												{{ 'List Price' | t }}<sup>*</sup>:
											</span>
											<span class="price_value">${{ rel.listPrice }}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
