<div class="page-content pdp-content pdp-details-container">
  <div class="product-detail pdp">
    <div class="pdp--section-one">
      <div class="container">
      	{{ data }}
      </div>
    </div>
  </div>
</div>
