<script async src="https://apps.bazaarvoice.com/deployments/{{ data.bazaarvoice.cloudKey }}/{{ data.bazaarvoice.siteId }}/{{ data.bazaarvoice.siteEnvironment }}/{{ data.bazaarvoice.siteLocale }}/bv.js"></script>
<div class="page-content pdp-content pdp-details-container">
  <div class="product-detail pdp">
    <div class="pdp--section-one">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="pdp--leftside">
              <div class="pdp--naming pdp--naming-left visible-xs">
                <div class="pdp--collection">{{ data.collections }}</div>
                <h1 class="pdp--title">{{ data.name }}</h1>
                <div class="pdp--model">Model:<span class="itemprop">{{ data.model}}</span></div>
              </div>
            </div>
            <div class="pdp-img">
              {% if data.ribbonText %}
                <div class="ribbon-container">
                  <div class="ribbon">
                    <div class="ribbon-text ribbon-{{ data.ribbonTextColor }}">
                      {{ data.ribbonText }}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if data.assets.noimage == 1 %}
                <div class="product-img">
                  <div class="item">
                    <img class="img-responsive"  src="{{ data.assets.url }}" alt="{{ data.assets.altTag }}" title="{{ data.assets.altTag }}" />
                  </div>
                </div>
              {% endif %}
              {% if data.assets.images %}
                <div class="product-img">
                  {% for largeImg in data.assets.images %}
                    <div class="item">
                      {% if largeImg.mediaType == 'video' %}
                        <video style="width:100%" controls preload="none">
                          <source src="{{ largeImg.url }}" type='video/mp4'/>
                        </video>
                      {% else %}
                        <img class="img-responsive" src="{{ largeImg.url }}" alt="{{ largeImg.altTag }}" title="{{ largeImg.altTag }}" />
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                <div class="product-img__nav">
                  {% for smallImg in data.assets.images %}
                    {% set video_thumb_img =  smallImg.smallUrl | replace({'/md/':'/sm/'}) %}
                    <div class="thumbnails">
                      <img class="img-responsive" src="{{ video_thumb_img }}" alt="{{ smallImg.altTag }}" title="{{ smallImg.altTag }}"  />
                      {% if smallImg.mediaType == 'video' %}
                        {% if smallImg.videoThumbDefault == 1 %}
                          {% set def_video_thumb_class = "class=default-video-thumb" %}
                        {% else %}
                          {% set def_video_thumb_class = "" %}
                        {% endif %}
                        <svg {{ def_video_thumb_class }} xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                         id="Capa_1" x="0px" y="0px" width="512px" height="512px"
                                                         viewBox="0 0 314.068 314.068"
                                                         style="enable-background:new 0 0 314.068 314.068;"
                                                         xml:space="preserve"> <path
                            d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z"
                            fill="#FFFFFF"></path> </svg>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pdp--rightside">
              <input type="hidden" name="product_sku" value="{{ data.model }}"/>
              <div class="pdp--naming pdp--naming-right hidden-xs">
                <div class="pdp--collection">{{ data.collections }}</div>
                <h1 class="pdp--title">{{ data.name }}</h1>
                <div class="pdp--model">Model: <span data-name="itemprop">{{ data.model }}</span></div>
              </div>
              <div class="pdp--reviewbox">
                <div data-bv-show="rating_summary" data-bv-productId="{{ data.model }}"></div>
              </div>
              <div class="pdp--finish">
                <div class="pdp--finish-heading">
                  Finish: <strong>{{ data.finishOptions.0.finish }}</strong>
                </div>
                <div class="pdp--finish-body">
                  {% for finish in data.finishOptions %}
                    {% set class = "" %}
                    {% if (finish.modelNumber == data.model) %}
                      {% set class = "active" %}
                    {% endif %}
                    {% if finish.finish != 'Not Applicable' %}
                      <a href="{{ finish.productUrl }}" id="{{ finish.modelNumber }}"
                         class="{{ finish.facetFinish }} {{ class }}" title="{{ finish.finish }}">
                        <span class="facet-thumb facetfinish">{{ finish.productIcon }}</span>
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% if data.listPrice is not empty %}
                <div class="pdp--price">
                  {{ 'List Price'|t }}*: <span class="value">${{ data.listPrice }}</span>
                </div>
              {% endif %}
              {% if data.comingSoonFlag == 0 %}
                <div class="pdp--buy">
                  <a class="btn btn-buy" href="{{ data.buyUrl }}"
                     title="Where To Buy">{{ 'Where To Buy' | t }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pdp--section-two">
      <div class="container">
        <div class="tabs--desktop" role="tabpanel">
          <ul class="nav nav-tabs">
            <li class="active" id="details_tab">
              <a href="#product-features-and-support" data-toggle="tab" aria-expanded="true">
                <span>FEATURES & SUPPORT</span>
              </a>
            </li>
            <li class="best-reviews" id="reviews_tab">
              <a href="#reviews" data-toggle="tab" aria-expanded="false">
                <span>REVIEWS</span>
              </a>
            </li>
            <li class="best-customer-qa" id="questions_tab">
              <a href="#questions" data-toggle="tab" aria-expanded="false">
                <span>CUSTOMER Q&A</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="product-features-and-support">
              <div class="row">
                <div class="col-sm-6 leftSide">
                  <div class="tab-content--block">
                    <h3>{{ 'Product Features & Benefits' | t }}</h3>
                    {% if data.faturesBenefits %}
                      {{ data.faturesBenefits }}
                    {% endif %}

                    {% if data.facetFeature %}
                      {{ data.facetFeature }}
                    {% endif %}
                  </div>
                  <div class="tab-content--block">
                    <h3>{{ 'Product Details' | t }}</h3>
                    <div>
                      {% if data.productDetails %}
                        {{ data.productDetails }}
                      {% endif %}

                      {% if data.productCertification %}
                        {{ data.productCertification }}
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 rightSide">
                  <div class="tab-content--block partsAndSpecs">
                    <h3>{{ 'Support, Repair Parts & Technical Specs' | t }}</h3>
                    {% if data.assets.installation %}
                      <h4>{{ 'Maintenance & Installation Sheet' | t }}</h4>
                      <p><a href="{{ data.assets.installation.0.url }}"
                            target="_blank">{{ 'View/Download/Print' | t }}</a></p>
                    {% endif %}
                    {% if data.assets.specsheet %}
                      <h4>{{ 'Technical Specifications' | t }}</h4>
                      <p><a href="{{ data.assets.specsheet.0.url }}"
                            target="_blank">{{ 'View/Download/Print' | t }}</a></p>
                    {% endif %}
                    {% if data.assets.diagram %}
                      <h4>{{ 'Parts & Accessories Diagram' | t }}</h4>
                      <p><a href="{{ data.assets.diagram.0.url }}"
                            target="_blank">{{ 'View/Download/Print' | t }}</a></p>
                    {% endif %}
                    {% if data.bimsmith.status and  data.bimsmith.status  == true %}
                      <h4>{{ 'Resource' | t }}</h4>
                      <p><a href="javascript:void(0)"
                            data-market-product-id="{{ data.bimsmith.id }}">{{ 'Design Files' | t }}</a></p>
                    {% endif %}
                  </div>
                  {% if data.holes4installation %}
                    <div class="tab-content--block">
                      <h3>{{ 'Holes for Installation' | t }}</h3>
                      <p>{{ data.holes4installation }}</p>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="reviews">
              <div data-bv-show="reviews" data-bv-productId="{{ data.model }}"></div>
            </div>
            <div class="tab-pane fade" id="questions">
              <div data-bv-show="questions" data-bv-productId="{{ data.model }}"></div>
            </div>
          </div>
        </div>
        {% if data.productReferences %}
          <section id="related-product-section">
            <div class="container">
              <div class="collection--landing--featuredproducts">
                <div class="collection--landing--featuredproducts-in">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="home_h2_car">{{ 'Related Products' | t }}</h2>
                    </div>
                  </div>
                  <div class="product-slider">
                    {% for rel in data.productReferences %}
                      <div class="product-slider__list">
                        <div class="product-cell">
                          <div class="product-cell-inner ">
                            <div class="product-thumb">
                              <a href="{{ rel.productUrl }}" target="_self"
                                 title="Go to {{ rel.modelNumber }} Product Page">
                                <img class="img-responsive center-block" src="{{ rel.image }}" alt="Go to {{ rel.modelNumber }} Product Page"  title="Go to {{ rel.modelNumber }} Product Page" />
                              </a>
                            </div>
                            <div class="product-info">
                              <a href="{{ rel.productUrl }}" target="_self"
                                 title="Go to {{ rel.modelNumber }} Product Page">
                                <div class="product-heading" style="padding-bottom: 0;">
                                  <div class="carousel--product-collection">
                                    {{ rel.type }}
                                  </div>
                                  <h5>{{ rel.description }}</h5>
                                </div>
                                <div class="product-info-inner">
                                  <div class="product-info-inner-border"
                                       style="border-bottom: none;">
                                    <div class="dl-horizontal">
                                      <!--<dt>Model:</dt>-->
                                      <div class="model_container">
                                        {{ rel.modelNumber }}
                                      </div>
                                      <div class="price_container">
                                                                        <span class="price_txt">
                                                                            {{ 'List Price' | t }}<sup>*</sup>:
                                                                        </span>
                                        <span class="price_value">${{ rel.listPrice }}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </section>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if data.bimsmith.status  == true %}
  <script src="https://bimsmith.com/market-inject.js"></script>
{% endif %}
