<div class="col-xs-12">
    <div class="row">
        <div class="col-md-12">
            {% if data.heroImage|length %}
                <div class="product-detail pdp where-to-buy-detail">
                    <div class="pdp--section-one">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pdp--leftside">
                                        <div class="pdp--naming pdp--naming-left visible-xs">

                                            <div class="pdp--collection">
                                                {{ data.collections }}
                                            </div>

                                            <h1 class="pdp--title">{{ data.name }}</h1>
                                            <div class="pdp--model">
                                                Model :
                                                <span itemprop="name">{{ data.model }}</span>
                                            </div>
                                        </div>

                                        <div class="pdp--video"></div>
                                        <div class="pdp--image">

                                            <div class="ribbon-item ">

                                                <img class="img-responsive pdp--image-main center-block"  src="{{ data.heroImage }}" alt="{{ data.model }}"  title="{{ data.name }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //pdp-rightside -->
                                </div>

                                <div class="col-sm-6">
                                    <div class="pdp--rightside">
                                        <div class="pdp--naming pdp--naming-right hidden-xs">

                                            <div class="pdp--collection">
                                                {% if data.collectionsUrl|length %}
                                                    <a href="{{ data.collectionsUrl }}">{{ data.collections }}</a>
                                                {% else %}
                                                    {{ data.collections }}
                                                {% endif %}
                                            </div>

                                            <h1 class="pdp--title">{{ data.name }}</h1>
                                            <div class="pdp--model">
                                                Model : <span class="itemprop">{{ data.model }}</span>
                                            </div>
                                        </div>
                                        <div class="pdp--finish where-to-buy-finish">
                                            <div class="pdp--finish-heading">
                                                Finish : <strong>{{ data.finishOptions.0.finish }}</strong>
                                            </div>
                                            <div class="pdp--finish-body">
                                                {% for finish in data.finishOptions %} {% set class = "" %} {% if (finish.modelNumber == data.model) %} {% set class = "active" %} {% endif %}
                                                    {% if finish.finish != 'Not Applicable' %}
                                                        <a href="/where-to-buy?modelNumber={{ finish.modelNumber }}"
                                                           id="{{ finish.modelNumber }}"
                                                           class="{{ finish.facetFinish }} {{ class }}"
                                                           title="{{ finish.finish }}">
                                    <span class="facet-thumb facetfinish"
                                          style="width: 37px;height: 37px;">{{ finish.productIcon }}</span>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // pdp-rightside  -->

                                </div>
                                <!-- // col-sm-6  -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="iframe-container">
                    <iframe title="Main content" id="wheretobuy" src="{{ url }}" scrolling="no"
                            style="border: none;">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
