

<div class="card">

            <div class="card-img-block">
        <picture>
          <source  data-src-desk="https://thumbs.dreamstime.com/b/autumn-oak-leaf-fantastic-beautiful-spray-bubbles-blue-background-magic-autumn-blue-background-yellow-oak-leaf-158238643.jpg"   srcset="https://thumbs.dreamstime.com/b/autumn-oak-leaf-fantastic-beautiful-spray-bubbles-blue-background-magic-autumn-blue-background-yellow-oak-leaf-158238643.jpg" media="(min-width: 1000px)">
          <img    srcset="" alt="This is the card image&#039;s alt text" class="image">
        </picture>
      </div>
      
  <div class="card__desc">

          <div class="card-big-title">
        
  <p class="card-big-title-bold">
          Big
      </p>

        
  <p class="card-big-title-normal">
          Title
      </p>

      </div>
    
          
      
<h2 class="card__title card__title--no-space">
      
<a class="card__title-link"
  href="#">
      This is a card title
  </a>
  </h2>
      
    
        
          
<h3 class="card__subtitle card__subtitle--no-space">
      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
  </h3>
              
  <p class="card__body">
          Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
      </p>

              
<a class="card__link"
  href="#">
      Read more about this card
  </a>
          </div><!-- copy -->
</div>
