{#
/**
 * Available variables:
 * - content_card_title - Title of the content card
 * - content_card_url - URL of the content card
 * - content_card_img_url - URL of the thumbnail
 * - content_card_img_alt_text - Alt text of the thumbnail
 * - attributes: Any optional HTML attributes
 */
#}

{% set tag = content_card_url ? "a" : "div" %}

<{{ tag }} class="content-card" href="{{ content_card_url }}"
{% if content_card_url %}
  href="{{ content_card_url }}"
{% endif %}

{{ attributes }}
>
<img class="content-card__image" src="{{ content_card_img_url }}" alt="{{ content_card_img_alt_text }}" />

{% if content_card_title %}
  <div class="content-card__title">
    {{ content_card_title }}
  </div>
{% endif %}
</{{ tag }}>


