 <h6>Desktop and Mobile</h6>
 
 {% include "@atoms/02-text/result-totals/result-totals.twig" with {
    "product_count": resultCount.product_count,
    "product_category":resultCount.product_category,
    "product_category_count": resultCount.product_category_count,
    "total_result_label": resultCount.total_result_label,
    "search_term": resultCount.search_term
 } %}