  <div class="finish-icon">
          <div class="finish-thumbnail" style="background-image: url('https://www.deltafaucet.com/sites/delta/files/2019-09/finish_articstainless.png')" title="articstainless" alt="articstainless"></div>
          <div class="finish-thumbnail" style="background-image: url('https://www.deltafaucet.com/sites/delta/files/2019-09/finish_chrome.png')" title="chrome" alt="chrome"></div>
          <div class="finish-thumbnail" style="background-image: url('https://www.deltafaucet.com/sites/delta/files/2019-09/finish_polishednickel.png')" title="polishednickel" alt="polishednickel"></div>
      </div>
