.countrymenu-wrapper .countrymenu span.little-flag,
.countries-menu-wrapper .countries-menu span.little-flag {
    width: 23px;
    height: 15px;
    background-size: contain;
    display: inline-flex;
    margin: 0px 10px 0px 10px;
}
.countrymenu-wrapper .countrymenu.US span.little-flag,
.countries-menu-wrapper .countries-menu .US span.little-flag {
    background-image: url(/themes/custom/brizo_theme/images/icons/src/icon-flag-usa.png);
}
.countrymenu-wrapper .countrymenu.CA span.little-flag,
.countries-menu-wrapper .countries-menu .CA span.little-flag  {
    background-image: url(/themes/custom/brizo_theme/images/icons/src/icon-flag-canada.png);
}
.countrymenu-wrapper .arrow {
    border: solid #827e7c;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 7px;
    margin-right: 2px;
}
.countrymenu-wrapper .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: 1px;
}
.countrymenu-wrapper .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.countries-menu-wrapper .countries-menu ul li i {
    right: -20px;
    top: 5px;
    position: relative;
}
.countries-menu-wrapper .countries-menu ul {
    padding: 0;
}
.active-countries-menu-wrapper {
    visibility: visible !important;
    opacity: 1 !important;
}
.countries-menu-wrapper {
    position: absolute;
    right: 0;
    max-width: 1600px;
    left: 0;
    margin: 5px auto 0;
    opacity: 0;
    -webkit-transition: opacity ease .2s;
    transition: opacity ease .2s;
    z-index: 200;
    visibility: hidden;
}


@media (min-width: 1000px) {

    /*.header-utility {
        overflow: visible !important;
    }*/
    .utility-nav {
        display: flex;
        justify-content: flex-end;
    }
    .countrymenu-wrapper {
        margin-top: 4px;
    }
    .countrymenu-wrapper .countrymenu {
        margin-left: 25px;
    }
    .countrymenu-wrapper .countrymenu .name-country {
        display: none;
    }
    .countries-menu-wrapper .countries-menu .name-country {
        color: #827e7c;
        font-size: 12px;
        text-decoration: none;
        line-height: 16px;
        -webkit-transition: all ease .5s;
        transition: all ease .5s;
        font-family: 'domaine-text-regular';
        letter-spacing: 2px;
        text-transform: uppercase;
        display: none;
    }
    .countries-menu-wrapper .countries-menu span.little-flag {
        width: 23px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .countries-menu-wrapper .countries-menu {
        display: block;
        background: #383434;
        color: #dddbda;
        max-width: 423px;
        width: auto;
        padding: 0;
        font-family: din1451-engschrift;
        font-size: 16px;
        position: absolute;
        right: -10px;
    }
    .countries-menu-wrapper .countries-menu ul li i {
        display: none;
    }
    .countries-menu-wrapper .countries-menu ul li.selected i {
        display: block;
        right: 10px;
        top: 15px;
        position: absolute;
    }
    .countries-menu-wrapper .countries-menu .name-country {
        color: #fff;
        display: inline-flex;
        margin-top: 5px;
        position: absolute;
        text-transform: capitalize;
    }
    /* .countries-menu-wrapper .countries-menu .name-country {
        color: #fff;
        display: inline-block;
    } */
    .countries-menu-wrapper .countries-menu ul li {
        display: flex !important;
        width: 170px;
        height: 50px;
        margin: 0 !important;
        border-bottom: 1px solid black;
        padding-top:10px;
        padding-left: 10px;
        position: relative;
    }
}



@media (max-width: 999px) {
    .countrymenu-wrapper {
        border-bottom: 1px solid rgba(178,178,180,.3);
    }
    .countrymenu-wrapper.selected {
        background-color: #383434;
        border-bottom: 1px solid #383434;
    }
    .countrymenu-wrapper .countrymenu {
        margin-left: 10px;
        display: inline-flex;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 10px;
    }
    .countrymenu-wrapper .countrymenu .name-country {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        line-height: 16px;
        -webkit-transition: all ease .5s;
        transition: all ease .5s;
        font-family: din1451-mittelschrift;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
    }
    /*.countries-menu {
        display: block;
    }*/
    .countries-menu ul li i {
        display: none;
    }
    .countries-menu-wrapper .countries-menu ul li i {
        right: -140px;
        top: 5px;
        position: absolute;
    }
    .countries-menu ul li.selected i {
        display: block;
    }
    .countries-menu-wrapper .countries-menu span.little-flag {
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .countries-menu {
        background: #383434;
        color: #dddbda;
        width: 100%;
        padding: 0;
        font-family: din1451-engschrift;
        font-size: 16px;
        position: relative;
        padding-left: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .countries-menu .name-country {
        color: #fff;
        position: absolute;
        display: inline-flex;
        text-transform: capitalize;
        font-family: 'domaine-text-regular';
        margin-top: 4px;
        width: max-content;
    }
    /*.countries-menu-wrapper .countries-menu {
        position: absolute;
        right: 0;
    }*/
    .countries-menu-wrapper {
        margin: 0;
    }
    /* .countries-menu .name-country {
        color: #fff;
        display: inline-block;
    } */
    .countries-menu-wrapper .countries-menu ul li {
        display: flex !important;
        width: 100%;
        height: 45px;
        margin: 0 !important;
        border-bottom: 0 !important;
        padding-top: 10px !important;
        padding-left: 10px !important;
        padding-bottom: 10px !important;
    }
}