{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}


{% set tabs_base_class = accordion_base_class|default('tabs') %}

<div {{ bem(tabs_base_class, (tabs_modifiers), tabs_blockname) }}>
  <ul>
    <li class="tab-link {% if loop.first %}active{% endif %}">
      {% include "@atoms/01-links/link/link.twig" with {
        "link_url": tab_url,
        "link_content": tab_title,
        "link_modifiers": tab_modifiers,
      } %}
    </li>
  </ul>
  <div class="tab-desc">
    <div class="tab-data">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": tab_data
      } %}
    </div>
  </div>
</div>
