


<div class="tabs">
  <ul>
    <li class="tab-link ">
      
<a class="link"
  href="#">
      Tab 1
  </a>
    </li>
  </ul>
  <div class="tab-desc">
    <div class="tab-data">
      
  <p class="paragraph">
          Tab data
      </p>

    </div>
  </div>
</div>
