{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}


<div class="blocktabs">{{ queryParams }}</div>
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="{{ test }} visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul>{{ secondary }}</ul>
{% endif %}

{# PL Specific (javascript version) #}
{% if not primary %}
{{ attach_library('delta_theme/tabs') }}
  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav {{ tab.title }}">
          {% for tab in tabs %}
      {% include "@atoms/09-menu/tab/tab.twig" with {
        tab_link: "#" ~ tab.id,
        tab_text: tab.title,
        tab_count: collectionsTabCount[tab.id],
        key: loop.index0
      } %}
      {% endfor %}

    </ul>
    {% for tab in tabs %}
    <div class="tab-accordion-title">{{ tab.title }}</div>
    <div class="tabs__tab{% if loop.index0 == 0 %} is-active{% endif %}">
      <div id="tab-{{ tab.id }}-{{ loop.index0 }}" class="tabs__content">
        <p>{{ tab.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}