{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% if showLocalDealers == 'true' %}
  {% for item in tabs %}
    {% if loop.first %}
      <ul class="tabs__nav">
        {% include "@atoms/09-menu/tab/tab.twig" with {
                tab_link: "#" ~ item.id,
                tab_text: item.title,
              } %}
      </ul> 
      <div class="tab-accordion-title">{{ item.title }}</div>
      <div class="tabs__tab is-active">
        <div id="tab-{{ item.id }}-" class="tabs__content">
          <p>{{ item.content }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  {% if primary %}
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
  {% endif %}
  {% if secondary %}
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul>{{ secondary }}</ul>
  {% endif %}


{% for item in tabs %}
  {% if item.title == 'ONLINE SHOPPING'%}
  {% set tabContent %}
    {% include directory ~ '/templates/block/shop-online.html.twig' with{
      content: item.content,
    } %}
  {% endset %}
  {% else %}
  {% set tabContent = item.content %}
  {% endif %}
{% endfor %}


  {# PL Specific (javascript version) #}
  {% if not primary %}
  {{ attach_library('delta_theme/tabs') }}
    <div id="tabs" class="tabs no-js">
      <ul class="tabs__nav">
        {% for tab in tabs %}
          {% include "@atoms/09-menu/tab/tab.twig" with {
            tab_link: "#" ~ tab.id,
            tab_text: tab.title,
            key: loop.index0,
          } %}
        {% endfor %}
      </ul>
        {% for tab in tabs %}
          {% if tab.title == 'ONLINE SHOPPING'%}
            {% set tabContent %}
              {% include directory ~ '/templates/block/shop-online.html.twig' with{
                content: tab.content,
              } %}
            {% endset %}
          {% else %}
            {% set tabContent = tab.content %}
          {% endif %}
          <div class="tab-accordion-title">{{ tab.title }}</div>
          <div class="tabs__tab{% if loop.first %} is-active{% endif %}">
            <div id="tab-{{ tab.id }}" class="tabs__content">
              <p>{{ tabContent }}</p>
            </div>
          </div>
        {% endfor %}
    </div>
  {% endif %}
{% endif %}