<div id="wheretobuy-shoponline">
{% if label %}
  <h1 class="h1 title-h1">{{ label }}</h1>
{% endif %}
{% include directory ~ '/templates/block/shop-online.html.twig' with{
  content: content,
} %}
</div>
