{% set header_logo = header_logo|default('/themes/custom/delta_theme/logo.svg') %}
<div class="checkout-header-main grid">
    <div class="checkout-header-text grid-col-sm-4">
        <h1>{{ "Checkout" }}</h1>
    </div>
    <div class="checkout-header-logo grid-col-sm-6">
        {% include "@atoms/04-images/00-image/_image.twig" with {
            'img_src': header_logo,
            'img_alt': "Delta",
        } %}
    </div>
</div>