{# Does not extend "block.html.twig" #}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    {% include "@atoms/04-images/00-image/figure.twig" with {
	      img_src: site_logo,
	      img_alt: 'Logo',
	      img_url: logo_link_url|default('/'),
	      image_figure_base_class: 'logo',
	      image_link_blockname: 'logo',
	    } %}
  {% endif %}
  {% if site_name %}
    <div class="site-name visually-hidden">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan visually-hidden">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
