{# Does not extends "block.html.twig" #}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
<div {{ bem('block') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('h2') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
	{% block content %}
	     {% include "@atoms/04-images/00-image/figure.twig" with {
	      img_src: site_logo,
	      img_alt: 'Logo',
	      img_url: logo_link_url|default('/'),
	      image_figure_base_class: 'logo',
	      image_link_blockname: 'logo',
	    } %}
	{% endblock %}
</div>


