{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('delta_theme/tabs') }}
 <div class="grid product_design_files">
    <div class="grid-col-md-9">
            <div id="tabs" class="tabs">
                <ul class="tabs__nav">
                    {% for tab in tabs %}
                        {% set tabTitle = tab.title|striptags|trim %}
                        {% include "@atoms/09-menu/tab/tab.twig" with {
                            tab_link: "#" ~ tab.id,
                            tab_text: tabTitle,
                            key: loop.index0
                        } %}
                    {% endfor %}
                </ul>
                {% for tab in tabs %}
                    <div class="tab-accordion-title">{{ tab.title|striptags|trim }}</div>
                    <div class="tabs__tab {% if loop.index0 == 0 %} is-active active-tab-title {% endif %}">
                        <div id="{{ tab.id }}" class="tabs__content">
                            {{ tab.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
    <aside class="grid-col-md-3">
        {{ drupal_view('design_files', 'design_file_sidebar_menus') }}
    </aside>
</div>

