{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div class="user_register_block">
<p><br>{{ "New to Delta Faucet? Create an account to save your project&nbsp;ideas, register your products, expedite customer service and more"|t }}<br>
    <br>
    <span style="font-weight: 800 !important;">{{ "Are you a Trade Professional"|t }}?</span>&nbsp;<span class="red-600"><a href="https://user.deltafaucet.com/UserApplication/user/selectUserRelation.action" style="text-decoration-line: underline;color: #ac0535;">{{ "Register a Pro Account"|t }}</a></span>
    &nbsp;</p>
<p class="notes"><span>Please note:</span> All fields marked with an asterisk are mandatory.</p>
<p class="heading ng-binding">{{ "About You"|t }}</p>
{% include "@molecules/_block.twig" %}
</div>
