<section class="product-filter__section" id="narrow">
    <div class="accordion-term accordion-term--light is-active">
        <h4 class="product-filter__section__title">NARROW RESULTS</h4>
    </div>
    <div class="product-filter__section__body accordion-def">
        <div class="custom-input custom-input--checkbox">
            <input class="custom-input__native facets-checkbox" data-filter="or_MaterialStatus=30&or_MaterialStatus=40" type="checkbox" id="includediscontinued" value="Include Discontinued">
            <label class="custom-input__label" for="includediscontinued">Include Discontinued Products</label>
        </div>
        <div class="custom-input custom-input--checkbox">
            <input class="custom-input__native facets-checkbox" data-filter="or_MaterialStatus=30&or_MaterialStatus=40&or_MaterialStatus=60" type="checkbox" id="hideretail" value="Hide Retail">
            <label class="custom-input__label" for="hideretail">Hide Retail Exclusive Products</label>
        </div>
    </div>
</section>