<div class="pr-search-block">
    <div class="pr-search-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 4,
            "heading": 'Search Media Room',
        } %}
    </div>
    <div class="pr-serach-desc">
        <div class="search-box-block">
            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}
            <div class="pr-search-input-wrapper">
                {{ form.search_input }}
            </div>
            <div class="search-radio-block">
                <div class="form-item form-item--radio">
                    {{ form.filter_option }}
                </div>
            </div>
            <div class="media-search-submit">
                {{ form.submit }}
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="content-pagination">
    <% if(totalRecordset > 0) { %>
    <div class="filter-result__page-x-of-n pull-right content-page-results" data-currentpage="<%- currentPage %>">
        <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
    </div>
    <% } %>
</script>
<script type="text/template" id="content-output">
    <h4>
        <span class="sno"><%- searchSno %>. &nbsp;</span> <a href="<%- searchContentUrl %>"><%- searchContentTitle
            %></a>
    </h4>
    <div class="resultslistDesc">
        <%= searchContentBody %>
    </div>
</script>

<script type="text/template" id="full-content-output">
    <% if(searchPage  == 'in-the-news') {  %>
        <li>
            <div>
                <strong>
                    <a href="<%- searchContentUrl %>"><%- searchContentTitle %></a>
                </strong>
            </div>
        </li>
    <% } else { %>
        <li class="srp-results-list__item">
            <div>
                <a class="srp-resuls-list__link" href="<%- searchContentUrl %>"><%- searchContentTitle %></a>
                <%= searchContentBody %>
            </div>
        </li>
    <% } %>
</script>