{{ attach_library('delta_theme/search-block') }}
<div class="autocomplete-container--suggestions" id="search-block-suggestion-result"></div>

<div class="search-wrapper" id="search-wrapper">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="search-input-block">
        <div class="autocomplete-container--inner">
            <i class="input-loader hide"></i>
            <i class="input-close hide"></i>
            <div class="search-submit-block"><span class="glyphicon glyphicon-search"></span></div>
            {{ form.search_input }}
        </div>
    </div>
</div>