{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div class="grid-container grid-container--medium grid-container--wtb">
      <div class="grid">
        <div class="grid-col-lg-7">
          <section class="wtb-section">
            <h3 class="h3 h3--light">{{ content.field_online_retailers_title }}</h3>
            <p class="u-text-lg">{{ content.field_retailers_description }}</p>
            <div class="wtb-logo-grid">
               {{ content.field_brands|raw }}
            </div>
          </section>

          <section class="wtb-section">
            <h3 class="h3 h3--light">{{ content.field_authoriized_dealers_headin }}</h3>
            <p class="u-text-lg">{{ content.field_authoriized_dealers_desc }}</p>

            <ul class="wtb-list">
            {{ content.field_online_retailers }}              
            </ul>
          </section>
        </div>

        <div class="grid-col-lg-5">
          <div class="wtb-sidebar textbox_container">
            <h3 class="h6">{{ content.field_replacement_parts_heading }}</h3>
            <h4 class="wtb-sidebar-subtitle">{{ content.field_replacement_parts_sub_head }}</h4>
            <p>{{ content.field_replacement_parts_descript }}</p>
            {% include "@atoms/06-buttons/01-button.twig" with {
              button_url: content.field_replacement_parts_link.0['#url'],
              button_content: content.field_replacement_parts_link.0['#title'],
              button_modifiers: ["primary", "wtb-sidebar-cta"],
            } %}

            <hr class="divider">

            <h4 class="wtb-sidebar-subtitle">{{ content.field_shop_faucet_heading }}</h4>
            <p>{{ content.field_shop_faucet_description.0|raw }}</p>
            {{ content.field_shop_faucet_logo|raw }}
          </div>
        </div>
      </div>
    </div>