$breadcrumb-active: #bbb;

.main {
  .breadcrumb {
    background: none;
  }
}

.path-product .main .breadcrumb {
  padding: 20px 0;
}

.page-banner-wrapper {
  .banner {
    .breadcrumb {
      background: none;
    }
  }
}

.breadcrumb .breadcrumb__item:first-child .breadcrumb__link,
.banner .breadcrumb .breadcrumb__item:first-child .breadcrumb__link {
  padding-left: 0;
}

.dark-breadcrumbs .breadcrumb .breadcrumb__item .breadcrumb__link {
  color: $gray-30 !important;

  &:hover {
    color: $white !important;
  }
}

.dark-breadcrumbs .breadcrumb .breadcrumb__item::after {
  color: $gray-30 !important;
}

.dark-breadcrumbs .breadcrumb .breadcrumb__item {
  color: $gray-30 !important;
}

.light-breadcrumbs .breadcrumb .breadcrumb__item .breadcrumb__link {
  color: $gray-40 !important;

  &:hover {
    color: $gray-10 !important;
  }
}

.light-breadcrumbs .breadcrumb .breadcrumb__item::after {
  color: $gray-40 !important;
}

.light-breadcrumbs .breadcrumb .breadcrumb__item {
  color: $gray-40 !important;
}

.breadcrumb {
  @include list-reset;

  margin: 0;
  background: white;
  display: block;
  overflow: hidden;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $gray-30;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2.4px;
  font-family: $font-din1451-mittelschrift;

  .breadcrumb__link {
    &:hover {
      color: $gray-10;
      text-decoration: none;
    }
  }
}

.dark_theme,
.dark-theme {
  .breadcrumb__item,
  .breadcrumb__link,
  .breadcrumb__link:link,
  .breadcrumb__link:visited,
  .breadcrumb__link:focus {
    color: $gray-40;
    font-family: $font-din1451-mittelschrift;
  }

  .breadcrumb__link {
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .breadcrumb__item {
    &:last-child {
      color: $gray-40;
    }
  }
}

.white_theme {
  .breadcrumb__item,
  .breadcrumb__link,
  .breadcrumb__link:link,
  .breadcrumb__link:visited,
  .breadcrumb__link:focus {
    color: $gray-30;
  }
}

.white_theme .breadcrumb__link {
  &:hover {
    color: $gray-10;
    text-decoration: none;
  }
}

.breadcrumb__item {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: $font-din1451-mittelschrift;
  float: left;
  padding: 6px 0 6px 6px;

  &::after {
    content: "/";
    margin: 0;
  }

  &:last-child {
    color: $gray-30;

    &::after {
      content: "";
    }
  }
}

.breadcrumb_link:active {
  color: $gray-30;
}

#molecules-breadcrumbs-dark-theme .sg-pattern-example {
  background-color: $black;
}
