{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
  {% set fileExtension = file_url(content.field_document['#items'].entity.uri.value)|split('.') %}
    <a href="{{ file_url(content.field_document['#items'].entity.uri.value) }}" title="{{ content.name.0 }}" data-extension="{{ fileExtension[1] }}" class="download-ga-link" target="_blank">{{ content.name.0 }}</a>
  {% endif %}
</article>
