@use '_colors-used' as *;

// These styles only affect the colors "Usage" page in the component library
.sg-colors {
  padding: 1rem;
}

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem;
  padding: 0;
}

.sg-colors__list {
  list-style: none;
  padding: 1rem 2rem;
  transition: all 0.4s;
  flex: 1 1 20%;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
}
