// Main Colors
$white: #fff;
$black: #000;

$notification-error: #b00020;
$notification-success: #4e9051;
$notification-neutral: #3d6cca;
$notification-warning: #c38100;

$notification-error-light: #ffe2e7;
$notification-success-light: #d7ffd9;
$notification-neutral-light: #dce8ff;
$notification-warning-light: #fff1d5;

// Grayscale
$gray-10: #141415;
$gray-20: #383434;
$gray-30: #827e7c;
$gray-40: #b5b3b1;
$gray-60: #dddbda;
$gray-90: #f2f2f2;

$filter-background: #dddbda;
$input-border-color: #e7e7e7;
