<ul class="sg-colors">
  {% for item in items %}
    <li class="sg-colors__list" style="background: {{item.value}}; box-shadow: 0px 0px 10px {{item.value}};">
      <div class="sg-colors__sample" style="background: {{item.value}};">
        <div class="sg-info">
          <span>{{item.value}}</span> <br/>
          <code>{{item.name}}</code>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
