<div class="press-release grid">
  <div class="pr-left-wrapper grid-col-sm-3">
    {% include "@molecules/press-releae-leftbar/press-releae-leftbar.twig" with {
      "pr_search_title": pr_search_title,
      "sidebar_links": sidebar_links,
      "pr_contact_title": pr_contact_title,
      "pr_contact_desc": pr_contact_desc,
      "pr_contact_name": pr_contact_name,
      "pr_contact_org": pr_contact_org,
      "pr_contact_mobile": pr_contact_mobile,
      "pr_contact_email_text": pr_contact_email_text,
      "pr_contact_email_url": pr_contact_email_url,
      "pr_canada_title": pr_canada_title,
      "pr_contact_name1": pr_contact_name1,
      "pr_contact_mobile1": pr_contact_mobile1,
      "pr_contact_email_text1": pr_contact_email_text1,
      "pr_contact_email_url1": pr_contact_email_url1,
      "search_radios": search_radios,
    } %}
  </div>
  <div class="pr-right-wrapper grid-col-sm-9">
    <div class="pr-category-wrapper">
      <div class="pr-right-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 2,
          "heading": pr_right_title,
        } %}
      </div>
      <div class="pr-right-desc">
        {% for pr_category_dtl in pr_category_dtls %}
          {% include "@molecules/title-image-desc-block/title-image-desc-block.twig" with {
            "text_img_block_title": pr_category_dtl.text_img_block_title,
            "text_img_block_image_src": pr_category_dtl.text_img_block_image_src,
            "text_img_block_image_alt": pr_category_dtl.text_img_block_image_alt,
            "text_img_block_desc": pr_category_dtl.text_img_block_desc,
            "text_img_block_more_url": pr_category_dtl.text_img_block_more_url,
            "text_img_block_more_content": pr_category_dtl.text_img_block_more_content,
            "text_img_block_more_modifiers": pr_category_dtl.text_img_block_more_modifiers,
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
