
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- This makes attach_library work wherever it is in the document flow. -->
  <script src="../../js/cleave.js"></script>
  <script src="../../js/popper.min.js"></script>
  <script src="../../js/tippy.all.min.js"></script>
  <script src="../../js/jquery-3.4.1.min.js"></script>
  <script src="../../js/slick.min.js"></script>
  <script src="../../js/tabby.polyfills.min.js"></script>
  <script src="../../js/reload-scripts.js"></script>
  <screen src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.js"></script>

  </body>
</html>
