{#
/**
 * Available variables:
 * - extension - extension of the downloadable file. The appropriate icon will be
 *               rendered based on this as well.
#}


{% set icon_name = extension == "pdf" ? "pdf" : "cta-document-copy" %}

<div class="download-badge">
  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: icon_name,
    icon_size: 16,
    icon_color: 'gray-10',
    hidden: true,
  } %}
  .{{ extension }}
</div>
