.alert {
  color: $gray-20;
  line-height: 21px;
  font-size: 0.88875rem;
  padding: 0.313em 1em;
  border-radius: 2px;
  position: relative;
  font-weight: bold;

  @include medium {
    padding: 0.563em 1em;
  }

  & i {
    font-size: 1.188em;
    position: absolute;
    right: 8px;
    top: 22%;
    cursor: pointer;
    padding: 3px;
  }

  &--error {
    background-color: $notification-error-light;
    border: 2px solid $notification-error;
  }

  &--success {
    background-color: $notification-success-light;
    border: 2px solid $notification-success;
  }

  &--warning {
    background-color: $notification-warning-light;
    border: 2px solid $notification-warning;
  }

  &--neutral {
    background-color: $notification-neutral-light;
    border: 2px solid $notification-neutral;
  }
}
