.aboutus-video{
  padding: 40px 0 40px 0;

  @media screen and (max-width: $screen-sm-max) {

    padding: 15px 0 30px 0;

  }

}

.page-node-71{

  @media screen and(min-width: $screen-lg-min){

    .section__foreground{
      display: flex;
      align-items: center;
    }

  }
}


@media screen and (max-width: $screen-sm-max) {

  .table-layout--sm-collapse > .table-layout__row > .table-layout__cell{
    padding-right: 0;
    text-align: center;

    .h5,
    article,
    p{
      text-align: left;
    }

  }

  .h2{
    font-size: 30px;
    line-height: 1.47;
    font-family: $font-stack-fs-joey;
    font-weight: normal;
  }
  .hover-accordion__bullet{
    padding: 20px 0 0 0;
    font-size: 30px;
    line-height: 1.47;
    font-family: $font-stack-fs-joey;
    font-weight: normal;

  }


  .h--section.h--inline.h--border-bottom.h--no-margin{
    display: inline-block;
    line-height: 1.33;
    font-size: 30px;
    margin: 0 0 30px 0 !important;
  }


  .section__foreground:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #E5E4E3;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -18px;
    left: 50%;
    margin: 0 0 0 -9px;
  }
}



.about{

  &-block{
    padding: 100px;
  }

  &--header-title{
  }

  &--video-header-container{
    text-align: center;
    margin: 0 auto -300px auto;
    max-height: 800px;
    max-width: 1280px;
    z-index: 4;
    position: relative;

    @media screen and (max-width: $screen-sm-max) {
      margin: 0;
      padding: 80px 0 70px;
    }
  }
  &--video-header{
    display: inline-block;
    margin: 0 auto;

    h2{
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 30px;

      @media screen and (max-width: $screen-sm-max) {
        font-size: 42px;
      }
    }

    p{
      font-family: Roboto;
      font-size: 28px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-bottom: 10px;

      @media screen and (max-width: $screen-sm-max) {
        font-size: 22px;
      }

    }

    .aboutus-video{
      width: 100%;
      max-width: 1018px;
      margin: 0 auto;
      display: inline-block;
    }
  }
}




  #block-whatwedo{

    margin: 362px auto 0;
    max-width: 1140px;
    text-align: center;
    padding: 0 2% 100px;


    @media screen and (max-width: $screen-sm-max) {
      margin:0;
      padding: 60px 20px 40px;
    }

    h2{
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #0199d0;

      @media screen and (max-width: $screen-sm-max) {
        color: #676b6e;
        font-size: 40px;
      }

    }


  }
.section-2{

  &-hader{
    display: block;
    text-align: center;
    margin-bottom: 100px;

    @media screen and (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }

  }

  &-title{
    font-family: 'FS Joey';
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #676b6e;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 40px;
      color: #676b6e;
    }

  }
  &-intro{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: center;
    color: #676b6e;
    max-width: 1000px;
    margin:0 auto;
    display: inline-block;
  }

}

#block-process-2{
  background-color: #f8f8f8;
  background-image: url('../img/zep/firstwave-about-process-2.jpg');
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 115px 0;

  @media screen and (max-width: $screen-sm-max) {
    margin:0;
    padding: 40px 20px 40px;
  }

}

.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline > .time-bar {
    top: 300px;
    bottom: 0;
//    bottom: 250px;
    position: absolute;
    width: 5px;
    background: #d9d9d9;
    left: 50%;
    margin-left: -2.5px;
    transition: all 2s ease 0s;

    @media screen and (max-width: $screen-md-max) {
      bottom: 250px;
    }

    &.done-scroll{
      bottom: 250px;

    }

    @media screen and (max-width: $screen-md-max) {
      top:0;
    }

}
.timeline > li {
    margin-bottom: 100px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    padding: 0 40px 0 0;

    @media screen and (max-width: $screen-md-max) {
      padding:0 !important;
    }

    &.li-3{
      margin-bottom: 0;
    }

    &.clearfix.no-float{
      padding: 0;
      margin: 0;
      height: 1px ;
    }

}

.timeline > li{
  &:before {
    content:" ";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 50%;
    float: right;
    position: absolute;
    right:-15px;
    top:50%;
    margin-top:-20px;
    transition: all 0.5s ease;
  }

  &.active{

    &:before {
      width: 50px;
      height: 50px;
      right:-25px;
      margin-top:-30px;
      background-color: #0199d0 !important;
    }
  }

  @media screen and (max-width: $screen-md-max) {

    &:before {

      content:" ";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #d9d9d9;
      border-radius: 50%;
      float: none;
      position: relative;
      right:auto;
      left:50%;
      top:0;
      margin:-20px 0 20px -15px;
    }

    &.active{

      &:before {
        right:auto;
        width: 40px;
        height:40px;
        left:50%;
        top:0;
        margin:-20px 0 20px -19px;
        background-color: #0199d0 !important;
      }
    }


  }
}

.timeline > li.timeline-inverted
{
  padding: 0 0 0 40px;

  &:before {
    float: left;
    position: absolute;
    right:auto;
    left:-15px;
  }

  &.active{

    &:before {
      left:-25px;
    }
  }

  @media screen and (max-width: $screen-md-max) {
    padding:0 !important;
  }



  @media screen and (max-width: $screen-md-max) {

    &:before {

      content:" ";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #d9d9d9;
      border-radius: 50%;
      float: none;
      position: relative;
      right:auto;
      left:50%;
      top:0;
      margin:-20px 0 20px -15px;
    }

    &.active{

      &:before {
        right:auto;
        width: 40px;
        height:40px;
        left:50%;
        top:0;
        margin:-20px 0 20px -19px;
        background-color: #0199d0 !important;
      }
    }


  }


}

.timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    position: relative;
    box-shadow: 10px 10px 30px 0 rgba(16, 29, 56, 0.1);
    border: solid 1px #d9d9d9;
    background-color: #ffffff;
    padding: 50px 50px;
    min-height: 480px;

    p{
      padding: 0;
      margin:0;
    }

    @media screen and (max-width: $screen-md-max) {
      margin:0 0 100px 0;
    }
    @media screen and (max-width: $screen-md-max) {
      padding:20px;
      p{
        padding: 0;
      }
    }

}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top:-20px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";

    @media screen and (max-width: $screen-md-max) {
      top:0 !important;
      margin:-15px 0 0 -15px !important;
      right:auto !important;
      left: 50% !important;
      border-top:none !important;
      border-right: 15px solid transparent!important;
      border-left: 15px solid transparent !important;
      border-bottom: 15px solid #dcdcdc !important;
    }
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 50%;
    right: -14px;
    margin-top:-19px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";

    @media screen and (max-width: $screen-md-max) {
      top:0 !important;
      margin:-14px 0 0 -15px !important;
      right:auto !important;
      left: 50% !important;
      border-top:none !important;
      border-right: 15px solid transparent!important;
      border-left: 15px solid transparent !important;
      border-bottom: 15px solid #fff !important;
    }
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    box-shadow: -10px 10px 30px 0 rgba(16, 29, 56, 0.1);
  }
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(3) {
    margin-top: 250px;
    @media screen and (max-width: $screen-md-max) {
      margin-top: 0;
    }
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media screen and (max-width: $screen-md-max) {

    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: 100%;
    }
    ul.timeline > li > .timeline-panel {
        float: none;
    }
}



.rings{
  text-align: center;
  position: relative;
  padding: 20px 20px 20px 0;

  span{
    border:7px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cir-1{
    height: 20px;
    width: 20px;
  }

  .cir-2{
    height: 45px;
    width: 45px;
  }

  .cir-3{
    height: 70px;
    width: 70px;
  }

  .cir-4{
    height: 95px;
    width: 95px;
  }


  &-count-0{
    .cir-1{
      border-color: #0199d0;
    }
  }

  &-count-1{
    .cir-2,
    .cir-1{
      border-color: #0199d0;
    }
  }

  &-count-2{
    .cir-3,
    .cir-2,
      .cir-1{
      border-color: #0199d0;
    }
  }

  &-count-3{
    .cir-4,
    .cir-3,
    .cir-2,
    .cir-1{
      border-color: #0199d0;
    }
  }
  @media screen and (max-width: $screen-md-max) {
    span{
      border:4px solid #d9d9d9;
    }

    .cir-1{
      height: 14px;
      width: 14px;
    }

    .cir-2{
      height: 34px;
      width: 34px;
    }

    .cir-3{
      height: 54px;
      width: 54px;
    }

    .cir-4{
      height: 74px;
      width: 74px;
    }
  }
}

.header-flex{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &-left{
  }
  &-right{
    padding:0 0 0 40px;
    border-left:2px solid #979797;
    @media screen and (max-width: $screen-md-max) {
      padding:0 0 0 20px;

    }
    span{
      display: block;
    }
    span.count{
      font-family: 'FS Joey';
      font-size: 100px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #676b6e;

      @media screen and (max-width: $screen-md-max) {
        font-size: 60px;
      }
    }

    span.title{
      font-family: 'FS Joey';
      font-size: 40px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.1;
      letter-spacing: normal;
      color: #0199d0;

      @media screen and (max-width: $screen-md-max) {
        font-size: 32px;
      }
    }
  }
}


#block-learnmoreaboutourinnovativeproducts{
  text-align: center;
  padding: 100px 0 120px 0;

  @media screen and (max-width: $screen-sm-max) {
    padding: 30px 40px 50px;

    h2{
      font-size: 30px;
    }
  }

  a{
    width: 258px;
    height: 47px;
    background-color: #0199d0;
    display: inline-block;
    font-family: 'FS Joey';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    line-height: 47px;
    text-decoration: none;
  }
}


#block-process-2{
  padding-bottom: 0;
  .section__foreground{
    padding: 0 0 300px;


    @media screen and (max-width: $screen-sm-max) {
      padding: 0 0 100px;

      .section-2-intro{
        padding:0 20px;
      }

      .grid-container{
        padding:0;
      }

    }
  }
}
