body.path-checkout{
  padding-top:0 !important;

  &.admin{
    padding-top: 80px !important;
  }

  .table-layout--sm-collapse > .table-layout__row > .table-layout__cell{
    text-align: left;
  }

  .checkout-header + main .messages.messages--status {
    display: none;
  }

  .bill-ship-edit {
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 0;
      color: $theme-blue;
      font-family: 'FS Joey', sans-serif;
      font-size: 20px;
      text-transform: uppercase;
  }

  #block-breadcrumbs {
      display: none;
  }

  .error-on-paymetric {
      text-align: center;
  }

}

.checkout-header{
  border-top:10px solid $theme-blue;
  height:110px;
  border-bottom: 1px solid #e4e3e3;
  @media screen and (max-width: $screen-sm-max) {
    height:auto;
  }

  .site-header__logo-checkout{
    height: 48px;

    @media screen and (max-width: $screen-sm-max) {
      height: 42px;
    }

  }
  .checkout-header-title{
    font-size: 41px;
    font-family: $font-stack-fs-joey;
    padding: 25px 0;
    @media screen and (max-width: $screen-sm-max) {
      font-size: 32.4px;
      padding: 20px 0 0 30px;
      text-align: left;
    }
  }
  .checkout-header-logo{
    padding: 20px 0;

    @media screen and (max-width: $screen-sm-max) {
      padding: 15px 0;
    }

  }

  @media screen and (max-width: $screen-sm-max) {

    .table-layout--sm-collapse > .table-layout__row{
      display: flex !important;

      >div:first-child{
        order: 2;
      }

      >div:last-child{
        order: 1;
        flex: 0 0 80px;
      }
    }


  }

}
.checkout-pages{
  padding:20px 0  100px;

  @media screen and (max-width: $screen-sm-max) {
    .grid-container .row{
      .table-layout--sm-collapse > .table-layout__row{
        display: flex;
        flex-wrap: wrap;

        .table-layout__cell.table-layout__cell-7-12.table-layout__cell--valign-top{
          order: 2;
          flex:0 0 100%;
        }
        .table-layout__cell.table-layout__cell-5-12.table-layout__cell--valign-top{
          flex:0 0 100%;
        }
      }
    }
  }


  .form-actions{
    padding: 60px 0 0 0;
    display: flex;

    @media (max-width: $screen-sm-max) {
      .cancel-form {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        order: 1;
      }
    }

    .btn--primary[value="Continue"]{
      background-color: $theme-blue;
      color: #fff;
      margin-left: 20px;
      @media screen and (max-width: $screen-sm-max) {
        margin-left:0;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 0 0 0;

      input{
        flex:0 0 100%;

        &:first-child{
          order: 2;
          border: 0;

        }

      }



    }

  }


}

.checkout-steps{
  display: block;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 -20px;
    text-align: center;
  }


  li{
    border-bottom:  1px solid #e4e3e3;
    flex: 0 0 50%;
    padding: 10px 0 15px 10%;
    font-family: $font-stack-fs-joey;
    font-size: 18px;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 16px;
      padding: 0 0 15px;

    }

    span{
      color: #676b6e;
      font-weight: bold;
      display: inline-block;
      margin-right:10px;
      @media screen and (max-width: $screen-sm-max) {
        display: block;
        padding: 0 0 4px 0;
      }
    }
    &.active{
      font-weight: bold;
      padding: 10px 0 12px 10%;
      color: $theme-blue;
      border-bottom:4px solid $theme-blue;

      @media screen and (max-width: $screen-sm-max) {
        padding: 0 0 12px 0;
      }

    }

    &.previous{
      font-weight: bold;
      padding: 10px 0 12px 10%;
      border-bottom:4px solid #e4e3e3;

      @media screen and (max-width: $screen-sm-max) {
        padding: 0 0 12px 0;
      }
    }
  }
}

.checkout-section-header{

  margin: 60px 0  50px 0;

  @media screen and (max-width: $screen-sm-max) {
    margin: 30px 0  50px 0;
  }


  h2{
    font-size:36px;
    text-transform: capitalize;
    margin: 0 0 20px 0;
    padding: 0;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 28px;
    }

  }

  p{
    font-family: $font-stack-fs-roboto;
    font-size: 16px;
    margin: 0;
    padding: 0;

    span{
      font-weight: bold;
      text-transform: uppercase;
    }
    @media screen and (max-width: $screen-sm-max) {
      font-size: 16px;
    }

  }
}
#edit-payment-info,
.shipping_details{

  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;

  .form-type-textfield,
  .form-item-fullname,
  .form-item-address-line,
  .form-item-address-line-optional,
  .form-item-shipping-address{
    flex: 0 0 100%;
  }

  .form-item-payment-city,
  .form-item-city{
    flex: 0 0 44%;
    margin-right:4%;

    @media screen and (max-width: $screen-sm-max) {
      flex: 0 0 100%;
      margin-right:0;
    }
  }

  .form-item-payment-state,
  .form-item-state{
    flex: 0 0 23%;
    // overflow: hidden;
    margin-right:4%;
    @media screen and (max-width: $screen-sm-max) {
      flex: 0 0 48%;
    }
  }

  .form-item-payment-zipcode,
  .form-item-zip{
    flex: 0 0 23%;
    @media screen and (max-width: $screen-sm-max) {
      flex: 0 0 42%;
    }
  }
}

#edit-payment-info{
  padding-bottom: 20px;
}



#edit-shipping-option--wrapper{

  legend{
    font-family: $font-stack-fs-joey;
    margin: 0 0 20px 0;
    font-size: 20px;

    span{
      &:after{
        display: none !important;
        content: '';
      }
    }
  }



}

.js-form-type-radio{
  font-family: $font-stack-fs-roboto;
  font-size: 18px;
  color:#676b6e;
  margin-bottom: 20px !important;

  label.option{
    font-weight: 300;
  }
}



.shipping_details{

  margin: 50px 0 0 ;

  #edit-shipping-address{
    font-family: $font-stack-fs-joey;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

}

#edit-card-info,
#edit-additional-info-des{
  margin-top:60px;
  font-family: $font-stack-fs-joey;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
}

#edit-additional-info-des{
  padding-top: 40px;
  padding-bottom: 10px;
}
label[for="edit-payment-state"]{
  display: none;
}

.path-checkout{
  .shipping-details-form {
    .validation {
      position: absolute;
    }
}
  .form-control{
    border-bottom: 3px solid #d0cfd1;
  }

  .js-form-item{
    margin-bottom: 20px;
  }

  .form-type-textfield{

    label{
      font-family: $font-stack-fs-roboto;
      font-size: 18px;
      font-weight: 300;

      &:after{
        display: none;
      }
    }
  }



  .js-form-type-email,
  .js-form-item-phone-number,
  .js-form-type-number,
  .js-form-type-textfield {
    border-bottom: solid 2px #d0cfd1;
    box-sizing: border-box;
    padding: 0;
    position: relative;

    input {
      border: none;
      font-size: 18px;
      outline: 0;
      padding: 8px 0 8px 5px;
      width: 100%;
    }

    label {
      font-size: 18px;
      position: absolute;
      font-family: $font-stack-fs-roboto;
      font-size: 18px;
      font-weight: 300;
      top: 15px;
      left: 5px;

      &:after{
        display: none;
      }
    }

    /** active label */
    &.active {

      label {
        //move the x coordinate and reduce size
        // transform: translate(0, -22px) scale(0.75);
        display: none;
      }
    }
  }

  .js-form-type-select.form-item-state {
    &:after {
      top: 35px !important;
    }
  }

  .js-form-type-select.form-item-state,
  .js-form-type-select.form-item-payment-state {
    overflow: visible;

    label:first-child {
    //   font-size: 18px;
    //   position: absolute;
    //   transform-origin: top left;
    //   transform: translate(0, -22px) scale(0.75);
    //   transition: all .1s ease-in-out;  //speed
    //   font-family: $font-stack-fs-roboto;
    //   font-size: 18px;
    //   font-weight: 300;
    display: none;

      &:after{
        display: none;
      }
    }

    select {
      font-weight: 200;
      line-height: 42px;
      padding: 6px 26px 8px 5px;
    }
  }

  .form-item-city {
      width: 50%;

      input {
        height: 68px;
      }

      label {
        top: 30px;
      }
  }

  @media (max-width: $screen-sm-max) {
    .form-item-state {
        width: 100%;
        flex: 0 0 100%;
    }
  }
@media (min-width: $screen-lg-min) {
  .form-item-state {
      width: 25%;
  }


    .form-item-zipcode {
      width: 25%;
      flex: 0 0 23%;

      input {
        height: 68px;
      }

      label {
        top: 30px;
      }
    }
  }
}

#edit-contact-info{
  font-family: $font-stack-fs-joey;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.98;

}

#edit-contact-info-desc{
  font-family: $font-stack-fs-roboto;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px;
  line-height: 1.6;
}

.contact_details{
  #edit-email{
    margin-top: 30px;
  }
}



.checkout-rightside{

  background-color: #f8f8f8;
  padding: 25px 25px 120px;
  font-weight: 300;
  font-family: $font-stack-fs-roboto;

  @media screen and (max-width: $screen-sm-max) {

    margin: 0 -20px 30px;
    padding: 15px 20px;
    border-top:1px solid #e4e3e3;
    border-bottom:1px solid #e4e3e3;
  }

  .minicart-mobile-header{
    display: none;

    @media screen and (max-width: $screen-sm-max) {
      display: block;

      >.ini{
        display: flex;

        .left{
          position: relative;
          flex: 0 100%;

          &:after{
            content:'';
            height:9px;
            width: 9px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            padding: 0 0 2px;
            border-left: 1px solid #676b6e;
            border-bottom: 1px solid #676b6e;
            position: absolute;
            pointer-events: none;
            z-index: 2;
            margin: 5px 0 0 20px;
          }
        }
        .right{
          text-align: right;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .layout-region-checkout-secondary{
      display:none;
      margin: 30px 0 ;
    }
    .showcheckout {
      display: block;
    }
    .left.changeArrow {
      &:after {
        content: '';
        transform: rotate(136deg) !important;
      }
    }

  }

  h3{
    font-family: $font-stack-fs-joey;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #676b6e;
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 10px;
    border-bottom:1px solid #e4e3e3;
  }

  .product-each{
    padding: 20px 0;

    .ini{
      display: flex;

      .product-image{
        flex: 0 0 25%;

        img{
          width: 100%;
          height:auto;
        }
      }

      .product-details{
        flex: 0 0 50%;
        padding: 0 20px;
        font-size: 14px;
        span{
          display: block;
        }
      }

      .order-prd-price-total{
        font-size: 18px;
      }
      .order-prd-title{
        font-size: 20px;
        font-family: $font-stack-fs-joey;
        padding-bottom: 5px;
      }

    }
  }



  .section-total,
  .section-subtotal{
    padding: 20px 0;
    border-top:1px solid #e4e3e3;

    .order-total-line{
      display: flex;
      font-size: 16px;
      font-family: $font-stack-fs-roboto;

      .order-total-line-label{
        flex: 0 0 75%;
      }

      .order-total-line-value{
        flex: 0 0 25%;
      }
    }

    .order-total-line__total{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
    }

    .pricesareshowtext{
      display: inline-block;
      max-width: 150px;
      font-size: 14px;
      padding: 10px 0 0 0;
    }
  }


  .section-total{
  }


  .section-shipping-information{
    margin: 60px 0 0 0;
    font-size: 18px;
    font-family: $font-stack-fs-roboto;
    position: relative;

    span{
      display: block;
      padding: 5px 0;

    }
    .shipping-head{
      font-size: 20px;
      font-family: $font-stack-fs-joey;
      font-weight: bold;
      display: block;
      margin: 20px 0 0 0;
    }
  }
}


label[for="edit-accept-order-details"]{
  font-size: 18px;
  line-height: 1.42;
  font-weight: 300;
  font-family: $font-stack-fs-roboto;
}

.checkout-pages.checkout-billing {
    .form-item-accept-order-details {
        margin-bottom: 80px;
    }
    #edit-actions {
        display: inline-block;
        position: relative;
        padding: 0;

        input {
            padding: 14px 20px;
            border: 0 none;
        }

        &:before {
            content: " ";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 9px 7.5px 0;
            border-color: transparent $theme-blue transparent transparent;
            position: absolute;
            top: calc(50% - 7.5px);
            left: -9px;
            z-index: 2;
        }
    }
}


.top-confirm{
  font-family: $font-stack-fs-roboto;
  text-align: center;
  padding: 30px 0 50px;

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;

  }

  .order-conform-name{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
  }

  h1{
    font-family: $font-stack-fs-joey;
    font-size: 58px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.13;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 41.1px;
      line-height: 1.12;
    }

  }

  .confirm-ordernumber{
    font-family: $font-stack-fs-joey;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: $theme-blue;
    margin: 10px 0;
  }

  .order-desc{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
  }

  .btn--primary{
    margin: 20px 0;
    width: 100%;
    max-width: 345px;
    background-color: $theme-blue;
    color: #fff;
    @media screen and (max-width: $screen-sm-max) {
      max-width: none;

    }
  }
  .continue-browsing{
    a{
      color:$theme-blue;
      font-family: $font-stack-fs-joey;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.51px;
      text-align: center;
      color: $theme-blue;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

}

.bottom-confirm{
  padding: 60px 0 20px 0;
  background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));

  font-family: $font-stack-fs-roboto;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #676b6e;
  @media screen and (max-width: $screen-sm-max) {
    padding: 0 0 20px 0;

  }

  @media screen and (max-width: $screen-sm-max) {

    .table-layout--sm-collapse > .table-layout__row > .table-layout__cell{
      text-align: left;
    }

  }


  h3{
    font-family: $font-stack-fs-joey;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #676b6e;
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 10px;
    border-bottom:1px solid #e4e3e3;

    @media screen and (max-width: $screen-sm-max) {
      line-height: 1.98;
      font-size: 20px;
      margin: 40px 0 0 0;
    }

  }

  h4{
    font-family: $font-stack-fs-joey;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #676b6e;
    margin: 0;
    padding: 20px 0 10px;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 18px;
      padding: 10px 0 5px;

    }

  }


  .product-each{
    padding: 20px 0;

    .ini{
      display: flex;

      .product-image{
        flex: 0 0 25%;

        img{
          width: 100%;
          height:auto;
        }
      }

      .product-details{
        flex: 0 0 50%;
        padding: 0 20px;
        font-size: 14px;
        span{
          display: block;
        }
      }

      .order-prd-price-total{
        font-size: 18px;
      }
      .order-prd-title{
        font-size: 20px;
        font-family: $font-stack-fs-joey;
        padding-bottom: 5px;
      }

    }
  }


  .section-total,
  .section-subtotal{
    padding: 20px 0;
    border-top:1px solid #e4e3e3;

    .order-total-line{
      display: flex;
      font-size: 16px;
      font-family: $font-stack-fs-roboto;
      margin: 5px 0;

      .order-total-line-label{
        flex: 0 0 75%;
      }

      .order-total-line-value{
        flex: 0 0 25%;
      }
    }

    .order-total-line__total{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
    }

    .pricesareshowtext{
      display: inline-block;
      max-width: 150px;
      font-size: 14px;
      padding: 10px 0 0 0;
    }
  }


  .section-total{
  }

}

#order-review{


}

.path-checkout {
  .messages__status {
    display: none !important;
  }
}

#payment-submit-button {
  background-color: #0199D0;
  color: #fff;
  margin-left: 20px;
}

#payment-iframe {
    iframe {
        height: 370px;
        width: 100%;
    }
}

#form-action-buttons {
    @media screen and (max-width: $screen-lg-max) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        #payment-submit-button {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}

.continue-browsing a:after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 9px;
    border-color: transparent transparent transparent $theme-blue;
    position: absolute;
    margin: 4px 0 0 10px;
    z-index: 2;
}

  .messages--error {
    display: none;
  }

  .path-checkout {
    .ajax-progress {
      display: inline;
      padding: 1px 5px 2px;
      position: absolute;
      top:-30px;
      left:0px;
      width:100%;
      background: transparent url(../../../images/core/throbber-active.gif) no-repeat 0 center;
    }
  }

  .messages__item {
    color: #bd2222;
    margin-top: 9px;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }

  .errorcheckout {
    font-family: $font-stack-fs-roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    color: #bd2222;
    padding-top: 20px;
  }

//   #edit-payment-info {
//   .js-form-item-payment-state {
//     height: 75px;
//   }
//   #edit-payment-state {
//     height: auto;
//   }
// }
