.contactus{
  max-width: 100%;

  @media screen and (max-width: $screen-sm-max) {

    .table-layout__row--h-list-6 > .table-layout__cell{
      padding: 0;
      text-align: center;

      h2{
        font-size: 30px;
      }
    }
  }
  .signup_block--title{
    display: none;
  }

  .contactusform {
    padding: 0;
  }

  .signup_block--sub{
    text-align: left;
    margin-top:0;
    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
    }

    p{
      margin-top:0;
      padding-top:0;
    }
  }

  .signup_block-inner.contact-page textarea {
    margin: 0;
  }

  .text-center{
    text-align: left;

    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
    }

  }

  .form-row {
    margin: 0;
    flex-wrap: nowrap;
  }

  @media (min-width: $screen-lg-min) {
    .table-layout--full-height {
      display: inline-flex;

      .table-layout__row {
        display: inline-flex;
      }

      .table-layout__cell-4-12 {
        display: inline-flex;

        .h--section {
          display: table;
        }
      }

      .table-layout__cell-8-12 {
        display: inline-flex;

        .v-list-3 {
          width: 100%;
        }
      }
    }
  }
}
