.node__meta{
  display: none
}

.video{

  &--container{
    position: relative;
    display: block;
    min-height: 670px;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: $screen-sm-max) {
      height: 550px;
      min-height: auto;
    }

    video.fullscreen {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
    }

  }

  &--container-text{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

      &--inner{

        &-center{
        }

      }

      &--top{
        position: relative;
        font-family: $font-stack-fs-joey;

        span.banner-title{
          font-size: 100px;
          font-weight: normal;
          display: block;

          @media screen and (max-width: $screen-sm-max) {
            font-size: 80px;
          }

        }

        span.banner-sub{
          font-size: 60px;
          font-weight: normal;
          line-height: 1;

          @media screen and (max-width: $screen-sm-max) {
            font-size: 42px;
            line-height: 1.24;
            padding: 0 20px;
          }
        }

      }

      &--bottom{
        font-family: $font-stack-fs-roboto;
        padding: 60px 0 0 0;
        position: relative;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.57;
        max-width: 384px;
        margin: auto;

        @media screen and (max-width: $screen-sm-max) {
          font-size: 22px;
          line-height: 1.45;
          padding: 40px 20px 0;
        }
      }

  }

  &--container--introtext{
    background-color:$theme-blue;
    padding: 85px 0;

    @media screen and (max-width: $screen-sm-max) {
      padding: 55px 0 75px 0;
    }

    text-align: center;
    color: #ffffff;

    &-inner{
    }

    &-text{
      margin: 0 auto 60px;
      max-width: $max-inner-wdith;

      /*

      p{
        font-family: $font-stack-fs-roboto;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.73;
        text-align: center;
        letter-spacing: normal;
        margin:0;
        color:inherit;
      }
      */

    }

    &-button{
      .btn.btn--primary{

      }
    }

  }


}


.plp-product-details {

    padding:0px;
    height: 800px;


    @media screen and (min-width: $screen-xlg-min) {
      height: 1024px;
    }

    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
      height: auto;
    }

    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      height: 582px;
    }

    &-header{
      font-family: $font-stack-fs-joey;
      font-size: 60px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color:$theme-gray;
      padding: 90px 0 40px;

      @media screen and (max-width: $screen-lg-max) {
        font-size: 40px;
        line-height: 1.25;
        padding: 34px 0 30px;
      }

      @media screen and (max-width: $screen-md-max) {
        font-size: 40px;
        line-height: 1.25;
        padding: 34px 0 30px;

      }

      @media screen and (max-width: $screen-sm-max) {
        font-size: 40px;
        line-height: 1.25;
        padding: 45px 0 25px 0;
      }

    }


    .padded-box--vertical-24{

      @media screen and (min-width: $screen-xlg-min) {
        padding: 300px 0 0;
      }
      @media screen and (max-width: $screen-lg-max) {
        padding: 150px 0 0;
      }

      @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        padding: 87px 60px;
      }

    }



    @media screen and (max-width: $screen-md-max) {

      .section__foreground{

        &:before{
          content:"";
          width: 0;
          height: 0;
          border-left: 18px solid transparent;
          border-right: 18px solid transparent;
          border-bottom: 18px solid #ffffff;
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: -18px;
          left: 50%;
          margin: 0 0 0 -9px;
        }
      }

      .padded-box--vertical-24{
        padding: 30px 20px 40px;
      }

      // h2{
      //   text-align: left;
      // }
    }


    &--description{
      /*
      p{
        font-family: $font-stack-fs-roboto;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.73;
        letter-spacing: normal;
        color: $theme-gray;
      }
      */
     text-align: left;
    }

    &--press_release{
      font-family: $font-stack-fs-joey;
      font-size: 20px;
      letter-spacing: 0.5px;
      color: #0199d0;
      display: block;
      clear: both;
      margin: 25px 0 25px;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      line-height: 1.28;

      &:hover{
        color: #007AA6;

      }


      &:after{
        content:"";
        width: 0;
        height: 0;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        border-left: 8px solid $theme-blue;
        font-size: 0;
        line-height: 0;
        margin: 0 0 0 15px;
        position:absolute;
        top: 4px;
      }

      &:hover{
        &:after{
          border-left: 8px solid #007AA6;
        }
      }

      @media screen and (min-width: $screen-lg-min) and (max-width: 1400px) {
        font-size: 18px;
        margin:15px 0  25px 0;


        &:after {
            content: "";
            width: 0;
            height: 0;
            border-bottom: 6px solid transparent;
            border-top: 6px solid transparent;
            border-left: 6px solid #0199D0;
            font-size: 0;
            line-height: 0;
            margin: 0 0 0 10px;
            position: absolute;
            top: 5px;
        }

      }

      @media screen and (max-width: $screen-sm-max) {
        font-size: 18px;
        margin:15px 0  25px -5px;

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-bottom: 6px solid transparent;
          border-top: 6px solid transparent;
          border-left: 6px solid #0199D0;
          font-size: 0;
          line-height: 0;
          margin: 0 0 0 10px;
          position: absolute;
          top: 5px;
        }


      }



    }



}

.section--parallax.plp-product-details{
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .section__background--parallax{
      background-position: 0 center;
      transform: none !important;
    }
  }
  @media (min-width: $screen-lg-min) {
    .section__background--parallax{
      top: -9%;
    }
  }
}
.plp-product-details {
  .table-layout__cell-8-12 {
    @media (max-width: $screen-sm-max) {
      display: none !important;
    }
  }
  .table-layout__cell-4-12{
    @media screen and (min-width: $screen-wide-min){
      width: 40%;
    }

    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      width: 60%;
    }


    .plp-product-details--press_release{
      margin-bottom: 53px;

      @media screen and (max-width: $screen-sm-max) {
        margin-bottom:20px;
      }
    }
  }
}


.plp--future-products{

    &-inner{

      @media screen and (min-width: $screen-lg-min) {
        display: flex;
      }

    }

    &--each{
      flex: 50%;
      padding: 0;

      //background-image: linear-gradient(34deg, rgba(0, 0, 0, 0.1), #ffffff 65%, #ffffff 70%, rgba(0, 0, 0, 0.1));

      background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));

      @media screen and (max-width: $screen-sm-max) {
        padding: 0;

        .grid-container{
          margin: 0px;
          padding: 0px;
        }
      }


    }



    .each--product{

      padding: 50px 50px;



      @media screen and (max-width: $screen-sm-max) {
        margin: 20px 0 0 0;
        padding: 0px;
      }


      @media screen  and (min-width: $screen-md-min) and  (max-width: $screen-md-max){
        padding: 50px 80px;

      }

      @media screen  and (min-width: $screen-lg-min) and  (max-width: $screen-lg-max){
          padding: 50px 50px;

      }

      @media screen and (min-width: $screen-wide-min){
        padding: 60px 75px;
      }


      .product--body{
        @media screen  and (min-width: $screen-xlg-min) {
          display: flex;
        }

        @media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-max){
          display: flex;
        }

      }



      .product--comingsoon{
        background-color: transparent;
        background-image: url('../img/icon-flag.svg');
        background-position: center left;
        background-size: cover;
        font-family: $font-stack-fs-joey;
        font-size: 16px;
        text-align: center;
        color: #676b6e;
        display: inline-block;
        text-transform: uppercase;
        padding: 8px 33px 8px 24px;
        position: absolute;
        z-index: 5;
        float: left;

        /*
        &:after{
          content:"";
          width: 0;
          height: 0;
          border-bottom: 16px solid transparent;
          border-top: 16px solid transparent;
          border-right: 16px solid #ffffff;
          font-size: 0;
          line-height: 0;
          float: right;
          position: absolute;
          top:0;
          right: 0;
        }
        */


        /*
        @media screen and (min-width: $screen-lg-min)  and (max-width: 1400px) {
          font-size: 12px;
          padding: 4px 16px 4px 12px;

          &:after{
            content:"";
            width: 0;
            height: 0;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-right: 8px solid #ffffff;
            font-size: 0;
            line-height: 0;
            float: right;
            position: absolute;
            top:0;
            right: 0;
          }


        }
        */


      }

      .product--title{
        margin: 80px 0 0 0;
        color:$theme-blue;

        @media screen and (max-width: $screen-sm-max){
          margin:0;
          text-align: center;
        }

        // @media screen  and (min-width: $screen-lg-min) and (max-width: 1400px) {
        //   margin: 50px 0 0 0;

        // }

      }

      .product--description{
        p{
          text-align: left;
        }
      }

      .product--text{
        @media screen  and (min-width: $screen-xlg-min) {
          order: 1;
          flex: 55%;
        }

        @media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-max){
          order: 1;
          flex: 55%;
        }
        //padding-right: 20px

        @media screen and (max-width: $screen-sm-max) {
          text-align: center;
          padding: 30px 20px 40px;
          background-color: #fff;
          position: relative;



          &:before{
            content:"";
            width: 0;
            height: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 18px solid #ffffff;
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: -18px;
            left: 50%;
            margin: 0 0 0 -18px;
          }


        }

      }

      .product--image{
        text-align: center;

        align-items: center;
        justify-content: center;
        display: flex;

        @media screen  and (min-width: $screen-xlg-min) {
          order: 2;
          flex: 45%;
        }

        @media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-max){
          order: 2;
          flex: 45%;
        }

        @media screen and (max-width: $screen-sm-max) {
          padding: 20px;
          background-image: linear-gradient(34deg, rgba(0, 0, 0, 0.1), #ffffff 65%, #ffffff 70%, rgba(0, 0, 0, 0.1));

        }

        img{
          width: 100%;
          height: auto;
          display: inline-block;
        }


      }

    }


}




.signup_block{
  background: #f8f8f8;
  max-width: 100%;
  padding: 0;
  .form-row {
    margin: 0;
    flex-wrap: nowrap;
  }
  @media screen and (max-width: $screen-sm-max) {
    background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));
    background: $white;
    padding: 40px 0 60px;
    margin: 0 0 0 0;
  }

  .confirmation-message{
    border-radius:3px;
    font-size: 20px;
    font-weight: normal;
    background-color: #a1ebbb;
    padding: 20px;
    border:1px solid darkgreen;
    text-align: center;
    color: $black;
    opacity: 0.3;
  }

  .form-item input.error,
  // .form-item textarea.error,
  .form-item select.error{

    border: 0;
    border-bottom: 2px solid red;

  }


  &-inner{
    padding: 60px 20px 120px;
    max-width: $max-inner-wdith;
    margin: 0 auto;

    @media screen and (max-width: $screen-sm-max) {
      padding: 40px 20px;
    }


    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding: 20px 45px 50px;
    }


    &.contact-page{
      padding: 0;


      textarea{
        margin: 85px 0 0 0;
      }

      .form-actions{
        margin: 0 !important;
      }
    }

  }

  &--title{
    text-align: center;
    color: $theme-blue;
  }

  &--sub{
    margin:25px 0 40px 0;
    text-align: center;
  }

  .form-row{

    //width: calc(50% - 8px);
    @media screen and (min-width: $screen-md-min) {
      display: flex;

      .form-group:nth-child(1){
        padding-right: 10px;
      }

      .form-group:nth-child(2){
        padding-left: 10px;
      }

    }

  }

    .form-fields{
      padding: 0 0 70px 0;
    }


    .field{
      &-firsname{
        display: inline-block;
        width: 49%;
      }
      &-lastname{
        float: right;
        display: inline-block;
        width: 49%;
      }
      &-email{
      }
    }

    @media screen and (max-width: $screen-sm-max) {

      .field{
        &-firsname{
          display: block;
          width: 100%;
        }
        &-lastname{
          float:none;
          display: block;
          width: 100%;
          margin: 40px 0 0 0;
        }
        &-email{
          margin: 40px 0 70px 0;

        }
      }
    }
    .btn.btn--primary{
      margin: 0 auto;
    }

    .form-item--error-message {
      text-align: left;
      strong {
        color: #bd2222;
        margin-top: 3px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: .5px;
      }
      &:before {
        display: none;
      }
    }
}
.plp-product-details {
  .product--comingsoon {
    background-color: transparent;
    background-image: url('../img/icon-flag.svg');
    background-position: center left;
    background-size: cover;
    font-family: $font-stack-fs-joey;
    font-size: 16px;
    text-align: center;
    color: #676b6e;
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 33px 8px 24px;
    position: absolute;
    z-index: 5;
    float: left;
  }
}

.block-views-blockfront-page-news-front-page-news-block-slider {
  text-align: center;
  background: #f7f7f7;
  @media (min-width: $screen-lg-min) {
    padding-bottom: 100px;
  }
  > div {
    overflow: hidden;
    height: 451px;
  }
  .front-page-news-block {
    max-width: 1280px;
    margin: auto;
  }

  .slick-slider.view-content {
    border-radius: 1.5px;
    border: solid 2px #d0cfd1;
    padding: 50px 20px 60px;
  }

  h2 {
    font-family: "FS Joey", Arial, sans-serif;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #676b6e;
    padding: 90px 0 0;
    margin-top: 0;
  }

  .title {
    font-size: 41px;
    text-transform: none;
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      color: #0199d0;
      text-decoration: none;

      :after {
        content: " ";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-image: url('../img/article-blue-outline.svg');
        background-size: 30px 30px;
      }
    }

    &:after {
      margin-top: 20px;
      content: " ";
      display: block;
      height: 2px;
      width: 120px;
      background-color: #b9b8ba;
    }
  }

  .news-slick-date {
    font-size: 18px;
    b {
      margin-right: 10px;
    }
  }

  .slick-prev, .slick-next {
    width: 51px;
    height: 112px;
    background-image: url('../img/arrow-button-r.svg');
    background-size: 51px 112px;

    &:before {
      content: " ";
    }
  }

  .slick-prev {
    left: -53px;
  }

  .slick-next {
    right: -53px;
    transform: rotate(-180deg);
    top: calc(50% - 56px);
  }

  .slick-dots {
    bottom: -55px;

    li {
      button {
        &:before {
          content: " ";
          opacity: 1;
          border-radius: 50%;
          border: 1px solid #676b6e;
        }
      }

      &.slick-active {
        button {
          &:before {
            background: #676b6e;
          }

        }
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .slick-prev,.slick-next {
      display: none !important;
    }
    .slick-slider.view-content {
      background-color: $white;
      border: 1px solid $theme-gray-light;
      border-radius: 0;
    }
    .front-page-news-block {
      margin: 0 16px;
    }
    .title {
      font-size: 32.4px;
    }
    .slick-slide {
      text-align: center;
    }
  }
}



.page-node-type-home-page {
  .field--name-field-home-page-product-details {
    .section--parallax.plp-product-details:nth-child(odd) {
      .section__foreground {
        .plp-product-details--press_release {
          margin-right: 25px;
        }

        .table-layout__row {
          text-align: left;
          //  flex-direction: row-reverse;


          .plp-product-details--description {
            text-align: left;
            p {
              @media (max-width: $screen-sm-max) {
                text-align: left;
              }
            }
          }
        }
      }
    }

    p {
      @media (min-width: $screen-lg-min) {
        line-height: 28px;
      }
    }
  }
  .ajax-progress {
     position: relative;
     top: -42px;
     left: -107px;
  }

  .section--parallax:nth-child(1) {
    h2 {
      margin: 0;
    }

    h3 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      line-height: 23px;
    }

    .btn {
      @media (min-width: 1024px) {
        margin-top: 70px;
      }
    }

    .plp-product-details--description {
      @media (min-width: 1024px) {
        width: 84%;

        p {
          margin-top: 10px;
          line-height: 28px;
        }
      }
    }
  }

  .signup_block {
    background: $white;
  }

  .video {
    padding-bottom: 0 !important;
  }

  .btn--blue {
    @media (max-width: $screen-sm-max) {
      padding: 12px 15px;
      width: 100%;
    }
  }
}


  .footer {
    .footer-order-status {
      a {
        font-family: $font-stack-fs-joey;
        color: $white;
        text-decoration: none;
        border-bottom: 2px solid $white;
        padding-bottom: 5px;
        font-size: 22px;
      }
    }
    .footer--copyright {
      .footer-menu {
        h2 {
          display: none;
        }
        .menu {
          text-align: center;
          .menu-item {
            display: inline-block;
            border-right: 1px solid;
            padding: 0 20px;
            margin-bottom: 10px;
            letter-spacing: 2px;
            a {
              text-decoration: none;
              color: $white;
              text-transform: uppercase;
              font-size: 12px;
            }
          }
          .menu-item:last-child{
            border-right: 0;
          }
        }
      }
    }
  }

body {
  position: relative;
  height: 100%;
}


  .validation {
    color: #bd2222;
    margin-top: 9px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
    //  font-family: $font-stack-fs-roboto;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: sans-serif;
  }
