#block-inthenews{
  background-color: #0199d0;
  color:#fff;
  text-align: center;
  padding: 100px 0 80px;
  @media screen and (max-width: $screen-md-max) {
    padding: 60px 20px 60px;
  }

  h2{
    font-family: 'FS Joey';
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $screen-md-max) {
      font-size: 46.2px;
      padding: 0 0 10px 0;
    }


  }

  p{
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    @media screen and (max-width: $screen-md-max) {
      font-size: 22.8px;
    }

  }
}


.news--banner{


  &-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $screen-md-max) {
      display: block
    }
    &-left{
      flex:50%;

      img{
        width: 100%;;
      }
    }

    &-right{
      flex:50%;
      padding: 40px 80px;
      @media screen and (max-width: $screen-md-max) {
        padding: 10px 20px 40px 20px;

        &:before{
          content: '';
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #fff;
          position: relative;
          top:-46px;
          left:50%;
          margin:-50px 0 0 -25px;
        }
      }
    }

  }

  .feat-article{
    background-color: #e4e3e3;
    width: 150px;
    height: 34px;
    line-height: 34px;
    font-family: 'FS Joey';
    font-size: 16px;
    text-align: center;
    color: #676b6e;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    @media screen and (max-width: $screen-md-max) {
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after{
      border-top:17px solid #e4e3e3 ;
      border-right:17px solid transparent;
      border-left:17px solid #e4e3e3;
      border-bottom:17px solid #e4e3e3 ;
      content: '';
      position: absolute;
      right:-17px;
      height: 34px;
      width: 34px;
      z-index: 1;
    }
  }

  .date{
    font-family: 'FS Joey';
    font-size: 18px;
    color: #676b6e;
    padding:0;
    margin: 0 0 15px 0;
  }

  .title{
    font-family: 'FS Joey';
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    position: relative;
    margin: 0 0 60px 0;
    @media screen and (max-width: $screen-md-max) {
      font-size: 32.4px;
    }
    &:after{
      content:'';
      height: 1px;
      background-color: #b9b8ba;
      width: 65px;
      bottom: -30px;
      left: 0;
      position: absolute;
      @media screen and (max-width: $screen-md-max) {
        width: 46px;
      }
    }

    a{
      color: #0199d0;
      text-decoration: none;
      text-transform: capitalize;
    }

    .text-icon--article-cta {
      position: relative;
      display: inline-block;
      background: url('../img/article_blue-outline.svg') center center;
      background-size: 100%;
      margin: 0 0 -1px 15px;
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      @media screen and (max-width: $screen-md-max) {
        width: 25px;
        height: 25px;
      }
    }
  }
}

section.news{
  background-color: #f8f8f8;
  padding: 80px 0;

  @media screen and (max-width: $screen-md-max) {
    padding: 30px 0;

    .grid-container{
      padding:0 20px;
    }
  }

  .news-logo{
    max-width: 70px;
    width: 100%;
    margin: 20px 0 0 0;
    height: 80px;

    img{
      max-width: 100%;
    }
  }


  .date{
    font-family: 'FS Joey';
    font-size: 18px;
    color: #676b6e;
    padding:0;
    margin: 0 0 15px 0;


    @media screen and (max-width: $screen-md-max) {
      font-size: 16px;
    }

  }

  .title{
    font-family: 'FS Joey';
    font-size: 32.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    position: relative;
    margin: 0 0 40px 0;


    &:after{
      content:'';
      height: 1px;
      background-color: #b9b8ba;
      width: 54px;
      bottom: -20px;
      left: 0;
      position: absolute;
    }

    a{
      color: #0199d0;
      text-decoration: none;
      text-transform: capitalize;
    }

    .text-icon--article-cta {
      position: relative;
      display: inline-block;
      background: url('../img/article_blue-outline.svg') center center;
      background-size: 100%;
      margin: 0 0 -1px 15px;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
    }
  }
}
.news-container {
	margin: 1%;
	box-sizing: border-box;
	display: block;
	flex-flow: column wrap;
	align-content: space-between;

  .news-item *{
    box-sizing: inherit;
  }

  @media screen and (max-width: $screen-md-max) {
    margin: 0;
    position: relative;
  }
  @media screen and (max-width: $screen-sm-max) {
    height: auto!important;
  }
  .news-item {
    width: 100%;
    margin-right: 40px;
    margin-bottom: 40px;
    border: solid 1px #d9d9d9;
    background-color: #ffffff;
    padding: 40px 40px 40px 30px;



    &:hover{
      box-shadow: 0 0 30px 0 rgba(16, 29, 56, 0.1);
    }
    p{
      margin: 0;
      padding:0;
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: normal;
      color: #676b6e;
    }

    @media screen and (max-width: $screen-md-max) {
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 25px;
    }

  }
}

.news-container[data-columns="2"]{
	.news-item:nth-of-type(2n+1){order:1;}
	.news-item:nth-of-type(2n){margin-right:0;order:2;}
}

.news-container[data-columns="3"]{
	.news-item:nth-of-type(3n+1){order:1;}
	.news-item:nth-of-type(3n+2){order:2;}
	.news-item:nth-of-type(3n){margin-right:0;order:3;}
}

.news-container[data-columns="4"]{
	.news-item:nth-of-type(4n+1){order:1;}
	.news-item:nth-of-type(4n+2){order:2;}
	.news-item:nth-of-type(4n+3){order:3;}
	.news-item:nth-of-type(4n){margin-right:0;order:4;}
}

.news-container[data-columns="5"]{
	.news-item:nth-of-type(5n+1){order:1;}
	.news-item:nth-of-type(5n+2){order:2;}
	.news-item:nth-of-type(5n+3){order:3;}
	.news-item:nth-of-type(5n+4){order:4;}
	.news-item:nth-of-type(5n){margin-right:0;order:5;}
}

@media screen and (min-width: $screen-md-min) {
	.news-container {
		display: flex;
	}
	.news-container[data-columns="2"]{
		.news-item {
			width: 49%;
		}
	}
	.news-container[data-columns="3"]{
		.news-item {
			width: 32%;
		}
	}
	.news-container[data-columns="4"]{
		.news-item {
			width: 24%;
		}
	}
	.news-container[data-columns="5"]{
		.news-item {
			width: 20%;
		}
	}
}

.news-container .news-item.break {
	flex-basis: 100%;
	width: 0;
	margin: 0;
	padding: 0;
}
