.path-order-status {
  .order-status-header {
    text-align: center;
    h2 {
      margin-top: 0px;
      border-bottom: 2px solid $theme-blue;
      display: inline-block;
      line-height: 1.12;
    }
  }
  .order-status-head {
    h3 {
      margin-top: 0px;
      text-transform: capitalize;
      line-height: 1.23;
      margin-bottom: 20px;
    }
    span {
      font-family: $font-stack-fs-roboto;
      font-weight: 300;
      color: $theme-gray;
    }
  }
  .order-form {
    input[type="text"],input[type="email"],input[type="number"] {
      font-family: $font-stack-fs-roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.42;
      color: $theme-gray;
      border-bottom: 3px solid $theme-gray-shade;
    }
    .form-item {
      margin-bottom: 36px;
    }
  }
  .order-status-btn {
    background-color: $theme-blue;
    color: $white;
    letter-spacing: 0.51px;
    font-size: 20.3px;
  }
  .order-status-footer {
    margin-top: 60px;
    a {
      text-decoration: none;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
      color: $theme-gray;
      margin: 0 0 10.4px 0;
      letter-spacing: 0.2px;
    }
    p:last-child {

      strong {
        color:$theme-blue;
      }
    }
  }

  @media(min-width: 1025px) {
    .order-status-header {
      h2 {
        font-size: 41.1px;
      }
    }
    .order-status-head {
      h3 {
        font-size: 32.4px;
      }
      span {
        font-size: 18px;
        line-height: 1.42;
      }
    }
    .order-status-form {
      display: flex;
      margin-top: 62px;
    }
    .order-status-header {
      width: 30%;
    }
    .order-form {
      width: 493px;
    }
    .order-status-footer {
      p:last-child {
        padding-bottom: 139px;
      }
    }
  }
  @media(max-width: 1024px) {
    .order-status-header {
      h2 {
        font-size: 32.4px;
      }
    }
    .order-status-head {
      h3 {
        font-size: 22.8px;
      }
      span {
        font-size: 16px;
        line-height: 1.6;
      }
    }
    .order-status-form {
      margin-top: 45.2px;
    }
    .order-form {
      width: 100%;
    }
    .order-status {
      padding: 16px;
    }
    .order-status-button {
      text-align: center;
    }
    .order-status-footer {
      p:last-child {
        padding-bottom: 90px;
      }
    }
  }
}
