.path-order-status-results {

  .orderStatusMain {
    display: inline-block;
    font-family: $font-stack-fs-joey;
    font-size: 22.8px;
  }
  @media (min-width: $screen-md-min) {
    .orderStatusDetails {
      padding: 60px 56px 30px;
    }
    .orderStatusMain:first-child {
      padding-right: 35px;
    }
    .orderStatusMain {
      display: inline-block;
      margin-bottom: 30px;
      font-family: $font-stack-fs-joey;
      font-size: 22.8px;
    }
    .orderDetails {
      h1 {
        font-size: 41.1px;
        margin: 0 0 14px 0;;
      }
    }
    .mobileView {
      display: none;
    }

    .orderInfo,.orderInfo1 {
      display: flex;
      width: 100%;
      border-bottom: 1px solid $theme-gray-light;
      .orderimg {
        width: 40%;
        img {
          width: 164px;
          height: 136px;
          float: left;
        }
      }
      span {
        font-family: $font-stack-fs-joey;
        line-height: 1.23;
        font-size: 32.4px;
        display: inline-block;
        padding: 10px 0 0 20px;
      }
      .productNum {
        padding: 26px 0;
        font-family: $font-stack-fs-roboto;
        font-weight: 300;
        font-size: 16px;
        display: flex;
        padding-left: 20px;
      }
    }
    .orderhead {
      display: flex;
      justify-content: space-between;
      width: 60%;
      > div {
        width: 25%;
      }
    }
    .orderInfo {
      padding-bottom: 10px;
    }
    .orderInfo1 {
      padding: 25px 0;
    }
    .back-order-status-form {
      padding-top: 28px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 56px 55px;
      a {
        font-family: $font-stack-fs-joey;
        font-size: 20.3px;
        text-decoration: none;
        text-transform: uppercase;
        color: $theme-blue;
        letter-spacing: 0.51px;
        padding-left: 12px;
      }
      > div {
        display: inline-block;
        width: 330px;
        p {
          font-family: $font-stack-fs-roboto;
          font-size: 16px;
          font-weight: 300;
          margin: 0 0 10px 0;
          span {
            padding-left: 82px;
          }
        }
        p:last-child {
          width: 125px;
          line-height: 1.42;
          font-size: 14.2px;
        }
      }
      .salesTaxdesc {
        border-bottom: 1px solid $theme-gray-light;
        padding-bottom: 22px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .desktopView {
      display: none;
    }
    .orderStatusDetails {
      padding: 0 10px;
    }
    .prodImg {
      > div {
        border-bottom: 1px solid $theme-gray-shade;
        padding-bottom: 10px;
        margin-bottom: 13px;
      }
      .productDesc {
        display: flex;
        img {
          width: 80px;
          height: 66px;
        }
      }
      .mobileorder {
        display: flex;
        padding-bottom: 14px;
      }
      .productNum {
        font-size: 14.2px;
        line-height: 1.42;
        font-family: $font-stack-fs-roboto;
        font-weight: 300;
      }
      .itemprice {
        padding-right: 29px;
      }
      .productdetails {
        padding-left: 12px;
        span:first-child {
          font-family: $font-stack-fs-joey;
          font-size: 20.3px;
          display: inline-block;
          padding-bottom: 8px;
        }
        div {
          font-size: 14.2px;
          line-height: 1.42;
          font-family: $font-stack-fs-roboto;
          font-weight: 300;
        }
      }
    }
    .ordersts {
      padding-bottom: 20px;
      div:first-child {
        font-family: $font-stack-fs-joey;
        font-size: 18px;
        font-weight: bold;
      }
      div {
        font-family: $font-stack-fs-roboto;
        font-size: 14.2px;
        font-weight: 300;
      }
    }
    .ordersts:last-child {
      border-bottom: 1px solid $theme-gray-shade;
    }
    .orderDetails {
      text-align: center;
      padding-bottom: 30px;
      h1 {
        font-size: 32.4px;
        display: inline-block;
        border-bottom: 3px solid $theme-blue;
      }
      .orderStatusMain {
        line-height: 1.76;
      }
    }
    .back-order-status-form {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      width: 100%;
      > div {
        width: 100%;
        padding-top: 20px;
        display: inline-block;
        p {
          display: flex;
          justify-content: space-between;
          font-family: $font-stack-fs-roboto;
          font-size: 16px;
          font-weight: 300;
          margin: 0 !important;
          span {
            padding-right: 12.5px;
          }
        }
        p:last-child {
          width: 125px;
          line-height: 1.42;
          font-size: 14.2px;
        }
      }
      .arrowimg {
        display: flex;
        order: 1;
        padding: 60px 0;
        justify-content: center;
      }
      .ordertotal {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        font-weight: bold;
      }
      a {
        font-family: $font-stack-fs-joey;
        font-size: 20.3px;
        text-decoration: none;
        text-transform: uppercase;
        color: $theme-blue;
        letter-spacing: 0.51px;
        padding-left: 12px;
      }
      .salesTaxdesc {
        border-bottom: 1px solid $theme-gray-light;
        padding-bottom: 22px;
      }
    }
  }
}
