$joey-font: 'FS Joey';
$dark-gray: #676b6e;
$title-blue: #0199d0;
$light-blue: #0199d0;
.page-node-type-support hr {
	display: none;
}

.headers {
	.header {
		text-align: center;
		color: #676b6e;
		padding: 0 20px;
		&.header_large {
			font-size: 46.2px;
			line-height: 1.13;
			font-family: $joey-font;
		}
		&.header_medium {
			font-family: $joey-font;
			font-size: 32.4px;
			line-height: 1.23;
		}
		&.paragraph {
			font-size: 22.8px;
			line-height: 1.6;
			font-weight: 300;
		}
	}
}

.video {
	margin: 0 auto;
	padding: 0 20px;
}

.light-blue {
	background: $light-blue;
	.header.paragraph {
		max-width: 100%;
		text-align: left;
		margin: 0;
		color: white;
	}
}
// .paragraph--type--_-column {
// 	padding: 50px 0;
// 	margin: 50px 0;
// }
.paragraph--type--faq-module {
	background: #f8f8f8;
	padding: 40px 0;
	.view-content {
		.views-row {
			margin: 20px;
		}
	}

	.header.header_large {
		margin-top: 0;
		margin-bottom: 20px !important;
	}
}
.faq-item {
	padding: 30px;
	border: solid 1px #d9d9d9;
	background-color: #ffffff;
	.question {
		font-family: $joey-font;
		font-size: 32.4px;
		line-height: 1.12;
		color: #0199d0;
		margin: 0;
		position: relative;
		margin: 0 0 20px 0;
		padding-bottom: 20px;
		&:after {
			content: "";
			width: 50px;
			position: absolute;
			border-bottom: 2px solid #b9b8ba;
			bottom: 0px;
			left: 0;
		}
	}
	.answer {
		font-size: 18px;
		font-weight: 300;
		line-height: 1.42;
		color: #676b6e;
	}
}
.field.field--name-field-modules.field--type-entity-reference-revisions.field--label-hidden.field__items {
	.header.header_medium {
		font-family: 'FS Joey';
		font-size: 32.4px;
		line-height: 1.23;
		text-align: center;
		a {
			font-weight: bold;
			color: #0199d0;
			text-decoration: none;
			white-space: nowrap;
		}
	}
	.support-col1 .header.header_medium {
		color: white;
		text-align: left;
	}
}


.video:not(.field--name-field-hp-banner) {
	max-width: 1280px;
	margin: auto;
	padding-bottom: 100px;

	@media screen and (min-width: $screen-wide-min) {
		width: 68%;
	}

	@media screen and (max-width: $screen-xlg-max) {
		padding: 0 50px;
	}

	@media screen and (max-width: $screen-sm-max) {
		padding: 0 20px;
	}
}


@media (max-width: 768px) {
	.paragraph--type--_-column {
		padding: 60px 0;
		.support-col1,
		.support-col2 {
			p.header {
				padding-left: 0px;
			}
		}
		.support-col1 {
			p.header.header_large {
				margin: 0 !important;
			}
		}
	}
}
.paragraph--type--_-column {
	img {
		max-width: 100%;
	}
	.support-col1 {
		padding: 0 20px;
		.header.header_large {
			font-family: $joey-font;
			font-size: 58.5px;
			line-height: 1.13;
			color: #0199d0;
			text-align: left;
			margin-bottom: 2rem;
		}
		.header.header_medium {
			padding: 0;
			font-family: 'FS Joey';
			font-size: 41.1px;
			line-height: 1.12;
		}
		.header.paragraph {
			font-size: 22.8px;
			line-height: 1.6;
			max-width: none;
			padding: 0;
			text-align: left;
		}
		.paragraph.paragraph--type--cta-link.paragraph--view-mode--default {
			display: inline;
		}
	}
	.support-col2 {
		img {
			margin: 0 auto;
			display: block;
		}
		.gray-bg {
			background: #f8f8f8;
			margin-left: 20px;
			margin-right: 20px;
			padding: 20px;
			.header.header_small {
				text-align: left;
				font-family: 'FS Joey';
				font-size: 28.8px;
				line-height: 1.27;
				color: #676b6e;
			}
			.download-link {
				font-family: 'FS Joey';
				font-size: 20.3px;
				letter-spacing: 0.51px;
				color: #0199d0;
				text-decoration: none;
				position: relative;
				padding: 20px;
				padding-left: 30px;
				display: block;
				text-transform: uppercase;
				&:before {
					content: " ";
					left: 0;
					position: absolute;
					background-image: url('../img/download-outline.svg');
					background-size: 20px 20px;
					width: 20px;
					height: 20px;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0px;
					width: 100%;
					left: 0;
					border-top: 1px solid #e4e3e3;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.headers {
		.header {
			padding: 0;
			&.header_large {
				font-size: 58.5px;
			}
			&.header_medium {
				font-size: 41.1px;
				line-height: 1.12;

			}
			&.paragraph {
				font-size: 28.8px;
				line-height: 1.42;
				max-width: 60%;
				margin: 0 auto;
			}
		}
	}
	.video {
		padding: 0;
	}
	.paragraph--type--_-column {
		padding: 70px 0;
		display: flex;
		.support-col1 {
			padding: 0 60px;
		}
		.support-col2 {
			.gray-bg {
				max-width: 500px;
				padding: 10px 40px 20px;
				margin: 0 auto;

				@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
					margin: 0 10px 0 auto;
				}
			}
		}
		.support-col1,
		.support-col2 {
			width: 50%;
		}
	}
	.paragraph--type--faq-module {
		padding: 40px 0;
		.view-content {
			columns: 3;
			column-gap: 20px;
			padding: 20px;
			.views-row {
				margin: 0 0 20px;
				display: inline-block;
			}
		}
	}

	.faq-item {
		.question {
			&:after {
				position: absolute;
				border-bottom: 2px solid #b9b8ba;
			}
		}
	}
	.field.field--name-field-modules.field--type-entity-reference-revisions.field--label-hidden.field__items {
		.header.header_medium {
			font-size: 41.1px;
			line-height: 1.12;
		}
	}
}
// How it Works title
.how-it-works-title {
	text-align: center;
}

//Chroma Shower Producs

.thumbnail-videos {
	text-align: center;
	.field__items {
		padding: 100px 20px 100px 20px;
	}

	.container-b {
		padding: 0;

		p {
			iframe {
				@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
					width: 95%;
					padding: 0 40px;
				}

				@media (max-width: $screen-sm-max) {
					width: 100%;
					padding: 0 40px;
				}

				@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
					width: 95%;
				}
			}
		}
	}

	&.three-col {
		@media (min-width: $screen-lg-min) {
			.field__items {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			.pdp--highlights-section {
				width: 33.33%;
			}
		}
	}

	&.two-col {
		@media (min-width: 768px) {
			.field__items {
				display: flex;
				flex-wrap: wrap;
			}

			.pdp--highlights-section {
				width: 50%;
			}
		}
	}

	&.one-col {
		@media (min-width: 768px) {
			.field__items {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			.pdp--highlights-section {
				width: 100%;
			}
		}
	}

	&.four-col {
		@media (min-width: 768px) {
			.field__items {
				display: flex;
				flex-wrap: wrap;
			}

			.pdp--highlights-section {
				width: 50%;
			}
		}
	}

	p {
		margin: 0;
		padding: 0;
	}

	p:nth-child(2) {
		color: $white;
		text-align: center;
		font-weight: 500;
		font-family: 'FS Joey';
		letter-spacing: 3px;
		font-size: 19px;
	}
}

.bilt {
	.paragraph--type--_-column {
		@media (min-width: $screen-xlg-min) {
			padding: 70px 100px;
			justify-content: space-between;
		}

		@media (max-width: $screen-lg-max) {
			padding: 70px 60px;
		}

		.support-col1 {
			padding: 0 60px 0 0;
			.paragraph--type--media-module {
				width: 250px;
			}

			.paragraph--type--cta-module {
				padding-top: 40px;

				@media (max-width: $screen-sm-max) {
					padding-bottom: 50px;
				}
			}
		}
	}
}

.register-chromashower {
	text-align: center;
	padding: 120px 0;
	background: #e4e3e3;

	.header {
		&.header_large {
			margin: 0 !important;
			max-width: none;
		}

		&.paragraph {
			@media (min-width: $screen-lg-min) {
				width: 47%;
				padding-top: 20px;
				padding-bottom: 40px;
			}

			@media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
				width: 90%;
			}
		}
	}

	.registerbtn {
		text-align: center;
		padding-top: 50px;

		@media (min-width: 1025px) {
			width: 48%;
			margin: 0 auto;
			padding-top: 0;
		}
		.btn--blue {
			padding: 12px 65px;

			@media (max-width: $screen-sm-max) {
				padding: 15px 65px;
			}

			@media (min-width: $screen-xlg-min) {
				padding: 12px 65px;
			}

			@media (min-width: $screen-md-min) and (max-width: $screen-lg-min ){
				padding: 14px 65px;
			}
		}

		.btn--primary {
			background: transparent;
			&:hover {
				color: $white;
				background: $theme-blue;
			}
		}
		.btn {
			@media (min-width: 1025px) {
				width: 40%;
			}

			@media (max-width: $screen-sm-max) {
				width: 90%;
				margin-bottom: 20px;
			}
		}

		// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		// 	width: 40%;
		// 	margin-bottom: 20px;
		// }


		.btn--primary {
			@media (min-width: 1025px) {
				padding: 11px 65px;
				margin-left: 20px;
			}
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				padding: 11px 65px;
				margin-left: 20px;
			}
		}
	}
}

.complete-set-up-video {
	.header {
		&.header_large {
			margin-bottom: 20px !important;
		}

		&.paragraph {
			@media (min-width: 1025px) {
				max-width: 900px;
				margin: 0 auto;
				margin-bottom: 50px;
			}

			@media (max-width: $screen-sm-max) {
				margin-bottom: 0 !important;
			}
		}
	}
}

.video {
	position: relative;
	z-index: 2;
	padding-bottom: 100px !important;
}

.field__items {
	position: relative;
}

.half-tone-background {
	&.paragraph--type--media-module {
		height: 100%;
		position: relative;
		&::after {
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: $theme-gray-transparent;
			height: 50%;
			z-index: 0;
			content: "";
			display: block;
			position: absolute;

			@media (max-width: $screen-lg-min) {
				height: 63%;
			}
		}
	}
}

#edit-preview {
	display: none;
}
