.pdp {
	.field__label {
		display: none;
	}
	&--intro {
    text-align: center;

    @media screen and (min-width: $screen-lg-min) {
      padding: 70px 0 20px;
    }
  }
	&--slider {
    padding: 0 100px;

    @media screen and (min-width: $screen-xlg-min) {
      padding: 0 200px;
    }
    @media screen and (max-width: $screen-md-max) {
      padding:0;
    }

		.container-a {
			display: block;
			max-width: 1240px;
			.insider {
				position: relative;
      }

      @media screen and (max-width: $screen-md-max) {
        padding:0;
      }

		}
		.right_nav_slider,
		.left_nav_slider {
			cursor: pointer;
			position: absolute;
			z-index: 3;
			top: 35%;
			margin-left: -105px;
      box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      background-color: $white;

      @media screen and (max-width: $screen-md-max) {
        display: none !important;
      }

      &:hover{
        .arrow{
          background-color: #007AA6;
        }
      }
      .img{
        width: 190px;
        height: 145px;
        background-size: cover;
        background-position: center;


        // @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
        //   width: 130px;
        //   height: 105px;
        // }


      }

      .arrow{
        position: relative;
        width: 60px;
        height: 145px;
        background-color: $theme-blue;

        // @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
        //   width: 46px;
        //   height: 105px;
        // }

        &:after{
          content: '';
          width: 0;
          height: 0;
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 50%;
          margin-top:-18px;
          left: 50%;
          margin-left:-9px;

          // @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
          //   margin-top:-12px;
          //   margin-left:-6px;
          // }

        }


      }
		}
    .left_nav_slider {
      .arrow{
        &:after{
          border-bottom: 18px solid transparent;
          border-top: 18px solid transparent;
          border-right: 18px solid $white;


          // @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
          //   border-bottom: 12px solid transparent;
          //   border-top: 12px solid transparent;
          //   border-right: 12px solid $white;
          // }

        }
      }
    }

    .right_nav_slider {
			margin-left: auto;
      right: -105px;
      .arrow{
        &:after{
          border-bottom: 18px solid transparent;
          border-top: 18px solid transparent;
          border-left: 18px solid $white;


          // @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
          //   border-bottom: 12px solid transparent;
          //   border-top: 12px solid transparent;
          //   border-left: 12px solid $white;
          // }

        }
      }
    }


		.slick-dots li button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 7px;
			cursor: pointer;
			border: 1px solid $theme-gray;
			border-radius: 50%;
			&:before {
				display: none;
			}
		}
		.slick-dots {
			padding: 10px 0 40px;
			position: relative;
			.slick-active {
				background-color: $theme-gray;
				border-radius: 50%;
			}
		}
		.pdp--slider-item {
			position: relative;
			&.slick-slide {}
			&.slick-current,
			&.slick-center,
			&.slick-active {}
			.slide-asset {
				.video--container {
					display: none;
				}
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.slide-description {
				background-color: #676b6e;
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.8;

        @media screen and (max-width: $screen-md-max) {
          display: none;
        }

				p {
          margin: 0;
          margin-bottom: 0 !important;
					padding: 15px;
					text-align: center;
					font-family: $font-stack-fs-roboto;
					font-size: 22px;
					font-weight: 300;
          line-height: 1.73;
				}
			}
			.slide-thumbnail {
				display: none;
			}
		}
  }

  &--getupdates{

    text-align: center;
    padding: 0 0 100px 0;

    @media screen and (max-width: $screen-md-max) {
      padding: 0 0 60px 0;
    }

    .btn{
      padding: 20px 60px
    }

		.container-a {
			padding: 0;
		}
  }

	&--highlights {
		background-color: $theme-blue;
		padding: 100px 0 160px;

		@media screen and (max-width: $screen-md-max) {
			padding: 50px 0 80px;
		}

		@media screen and (max-width: $screen-sm-max) {
			padding: 30px 0 40px;
		}

		.container-b {
			width: 100%;

			@media screen and (max-width: 1439px) {
				padding: 0;
			}
		}

		h1 {
			text-align: center;
			color: $white;
		}
		.field__items {
			display: flex;

			@media screen and (max-width: $screen-sm-max) {
				padding: 0 20px;
				flex-wrap: wrap;
			}

			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min){
				padding: 0 50px;
				flex-wrap: wrap;
			}

			@media screen and (min-width: $screen-wide-min) {
				width: 68%;
				margin: 0 auto;
			}

			@media screen and (min-width: $screen-lg-min) and (max-width: $screen-xlg-max) {
				padding: 0 50px;
			}
		}

		.pdp--highlights-section {
			text-align: center;
			background-color: #fff;
			flex: 1;
			margin: 0 20px 20px 0;
			border-radius: 5px;

			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				display: inline-block;
				width: calc(50% - 13px);
				margin: 0 0 40px;
				flex: 0 46%;

				&:last-child{
					margin-left:0;
				}
			}
			&:nth-child(odd) {
				@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
					margin-right: 43px;
				}
			}
			@media screen and (max-width: $screen-sm-max) {
				flex: 1 0 46%;
				margin: 0 20px 20px 0;
			}
			&:nth-child(even) {
				@media screen and (max-width: $screen-md-max) {
					margin-right: 0;
				}
			}

			.field--name-name {
				display: none;
			}

			p {
				margin: 0;
				font-family: $font-stack-fs-joey;
				font-size: 24px;
				padding: 15px;

				@media screen and (min-width: $screen-xlg-min) {
					padding: 20px 25px 25px;
					font-size: 28px;
				}
				@media screen and (max-width: $screen-sm-max) {
					font-size: 18px;
				}

			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&--howitworks {
		background-color: $white !important;
		color: $theme-gray !important;
    h1{
      padding: 40px 0 20px;
      text-align: center;
    }

    .container-a{
      @media screen and (max-width: $screen-md-max) {
        padding: 0;
      }
    }
    .media--view-mode- .field--label-above{
      display: none;
    }


    .pdp--howitworks-item{

      margin: 0 0 60px 0;

      @media screen and (max-width: $screen-md-max) {
        margin: 0;
      }

      >.inner{
        display: flex;

        @media screen and (max-width: $screen-md-max) {
          display: block;
        }
      }


      .image{
        flex: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
				height: 500px;
				width: 100%;

        @media screen and (max-width: $screen-md-max) {
          height: 400px;
        }

        .img{
          display: none;
        }

        img{
          width: 100%;
          height: auto;
        }
      }
      .content{
        flex: 50%;
        padding:70px 80px 100px;
        position: relative;

        @media screen and (max-width:$screen-md-max) {
          &:before {
              content: "";
              width: 0;
              height: 0;
              border-left: 18px solid transparent;
              border-right: 18px solid transparent;
              border-bottom: 18px solid #ffffff;
              font-size: 0;
              line-height: 0;
              position: absolute;
              top: -18px;
              left: 50%;
              margin: 0 0 0 -9px;
          }

          padding:30px 80px 20px;
        }

        @media screen and (max-width: $screen-sm-max) {
          padding: 30px 20px 40px;
					text-align: left;
          &:before{
            content: "";
            width: 0;
            height: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 18px solid #ffffff;
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: -18px;
            left: 50%;
            margin-left: -18px;
          }

        }

        h2{
          color: $theme-blue;
          max-width: 350px;

          @media screen and (max-width: $screen-md-max) {
            max-width: 100%;
            text-align: center;
          }
        }

        .field--name-field-facet-finish{
          display: flex;

          @media screen and (max-width: $screen-md-max) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }

          > article{
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            font-family: $font-stack-fs-joey;

            &:first-child{
              margin:0 20px 0 0;
            }
          }

          .field--label-above{
            display: block;
          }
        }


      }


      &.align-tiem{


        &-Left{

          .image{
           order: 1;
          }

          .content{
            order: 2;
          }

        }

        &-Right{

          .image{
            order: 2;
           }

          .content{
            order: 1;
          }

        }

      }

    }


  }
}

.page-node-type-product-detail-page {
	.signup_block {
		max-width: 100%;
	  padding: 0;
		background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));

		.form-row {
	    margin: 0;
			flex-wrap: nowrap;
	  }
	}
}

.pdp-info-section{
  @media screen and (max-width:$screen-md-max) {
    .container-a{
      padding: 0;
    }
  }

  .pdp--slider .slick-dots{
    padding: 0 0 25px;
    position: relative;
  }

}

.pdp{

  &-section-1{
    display: flex;
    padding: 60px 0;
    font-family: $font-stack-fs-joey;

    @media screen and (max-width:$screen-md-max) {
      display: block;
      padding: 30px 0;

      .container-a{
        padding: 0;
      }
    }

    .pdp-cat{
      font-size: 23px;
      line-height: 1;
      color: $theme-blue;
      text-transform: uppercase;

      @media screen and (max-width:$screen-md-max) {
        font-size: 22px;
        padding-left: 20px;

      }
    }
    .pdp-title{
      font-size: 46px;
      line-height: 1;
      letter-spacing: normal;
      margin: 0;
      padding: 10px 0;

      @media screen and (max-width:$screen-md-max) {
        font-size: 36px;
        padding-left: 20px;
      }

    }
    .pdp-model{
      font-size: 18px;
      line-height: 1;
      font-weight:100;

      @media screen and (max-width:$screen-md-max) {
        padding-left: 20px;
        padding-bottom: 25px;

      }
    }

    .pdp-finishes-title{
      font-size: 22px;
      margin: 0 0 10px 0;

      span{
        text-transform: uppercase;
        display: inline-block;
        padding-left: 5px;
      }
    }
    .pdp-finishes {

      &-list{
        display: flex;

				.active.finish-class {
					padding-right: 20px;
					img {
						border: 2px solid #0199D0;
				    border-radius: 100%;
				    padding: 2px;
					}
				}
      }

        &-finish{
          font-size: 22px;
          display: inline-block;
          padding: 15px;
          margin: 3px 13px 3px 3px;

            .name{
              display: none;
            }

          &.active{
            margin: 0 10px 0 0;
            border-radius: 4px;
            box-shadow: 10px 10px 30px 0 rgba(16, 29, 56, 0.1);
            border: solid 3px #d9d9d9;
            background-color: #ffffff;
          }
      }


    }


		.pdp-description {
			padding: 25px 0;
			margin: 25px 0;
			border-top:1px solid #b9b8ba;
			border-bottom:1px solid #b9b8ba;

			@media screen and (max-width:$screen-md-max) {
				border-top: 0;
				margin-top:0;
				padding-top:0;
			}

			ul {
				display: block;
				font-family: $font-stack-fs-roboto;
				font-size: 18px;
				line-height:1;
				@media (min-width: $screen-lg-min) {
					padding-left: 10px;
				}
				li {
					margin: 0 0 10px;
					color: $theme-blue;
					padding-left: 20px;
					p {
						display: inline-block;
						margin: 0 !important;
						color: $theme-gray;
						vertical-align: text-top;
						text-indent: -1.3em;
						&:before {
							display: inline-block;
					    height: 9px;
					    width: 9px;
					    border-radius: 50%;
					    background-color: #0199D0;
					    margin: 0 15px 0 0;
							content: '';
						}
						@media (min-width:  $screen-lg-min + 1) {
							vertical-align: text-top;
					    position: relative;
					    top: -3px;
						}
					}
				}
			}
		}

    .pdp-price{
      font-family: $font-stack-fs-joey;
      margin: 25px 0;
      font-size: 32px;

        span{
          display: block;
          font-size: 22px;
        }
    }

    .pdp-availability{
      font-size: 22px;
      line-height:1;
      margin: 25px 0;
      font-weight:100;

      span{
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }

  }


  &-right{
    flex:0 50%;
    text-align: left;
    padding-left:65px;

    @media screen and (max-width:$screen-md-max) {
      padding-left: 0;
      padding: 0 20px 20px;

      .pdp-title,
      .pdp-model,
      .pdp-cat{
        display: none;
      }

    }
  }

}


.button--add-to-cart{
  background-color: $theme-blue;
  color: #fff;
  display: block;
  width:100%;
  margin: 0 0 10px 0;
}

.pdp-product-buy-now{
  max-width: 400px;

	.form-actions {
		margin: 0;
	}
  .button{
    display: block;
    width: 100%;
    text-align: center;
  }

	.button--add-to-cart {
		margin-bottom: 0;
	}
}

// .pdp-fluid{
//   width: 100%;
//   max-width: 100%;
//   height: auto;
// }

.pdp-left {
    width: 50%;
    @media screen and (max-width:$screen-md-max) {
        width: auto;
    }
}

.product-slider {
    max-width: 100%;
}


.pdp-primary-image{
  margin: 0 0 10px 0;
  width: 100%;
  height: 100%;
    .slick-dots li button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 7px;
        cursor: pointer;
        border: 1px solid $theme-gray;
        border-radius: 50%;
        &:before {
            display: none;
        }
    }
		.slick-slide {
			//height: auto;
		}
    .slick-dots {
        padding: 10px 0 40px;
        position: relative;
        .slick-active {
            background-color: $theme-gray;
            border-radius: 50%;
        }
    }

		.iframeHeight {
			height: 500px !important;

			@media (max-width: $screen-sm-max) {
				height: 233px !important;
			}
		}

		iframe {
			height: 500px;

			@media (max-width: $screen-sm-max) {
				height: 233px;
			}
		}
}

.pdp-primary-image-reel{
  display: flex;

  @media screen and (max-width:$screen-md-max) {
    display: none;
  }

  & > div {
    // flex: 0 140px;
    // max-height: 140px;
		flex: 0 140px;
    max-height: 90px;
    margin: 0 10px 0 0;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
			height: 100%;
			width: 100%;
			object-fit: cover;
    }
  }
}

.pdp--howitworks-item  .field__label{
  display: none;
}

.pdp--productsupport{
  background-color: $theme-blue;
  padding: 100px 0;
  color:#fff;

  @media screen and (max-width:$screen-md-max) {
    padding: 60px 0;

  }

  h1{
    text-align: center;
    padding: 0 0 50px 0;
    margin: 0;

    @media screen and (max-width:$screen-md-max) {
      padding: 0 0 30px 0;
    }


  }
  @media screen and (max-width:$screen-md-max) {

    .container-a{
      padding: 0
    }
  }
}


.pdp-support-body{
  display: flex;
  align-items: center;
  @media screen and (max-width:$screen-md-max) {
    display: block;
  }
}

.pdp-support-left{
  padding-right: 90px;
  order: 1;
  @media screen and (max-width:$screen-md-max) {
    padding: 0;
  }

  a{
    display:inline-block;
    text-transform: uppercase;
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    font-size: 20px;
    line-height: 1;
    margin: 10px 0 0 0;
  }

  h3{
    font-size: 41px;
    line-height: 1.12;
    text-transform: capitalize;
    max-width: 300px;
    @media screen and (max-width:$screen-md-max) {
      font-size: 32px;
      text-align: center;
      max-width: 100%;
    }
  }

  p{
    font-size: 22px;

    @media screen and (max-width:$screen-md-max) {

      font-size:18px;
      padding: 0 20px;

      &:last-child{
        text-align: center;

      }
    }

  }

}


.pdp-support-right{
  order: 2;

  img{
    width: 100%;
    height:auto;
  }
  @media screen and (max-width:$screen-md-max) {

    position: relative;

    &:before{
      content: "";
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 18px solid $theme-blue;
      font-size: 0;
      line-height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -18px;
    }
  }



}

.pdp-commerce{
  display: none;

  @media screen and (max-width:$screen-md-max) {
    display: block
  }
}

.mobile-pdp-titles{
  display: none;
  @media screen and (max-width:$screen-md-max) {
    display: block
  }
}

.path-product {
	.signup_block {
		max-width: 100%;
	  padding: 0;
		background: #f8f8f8;
		.webform-submission-form {
			label {
				visibility: hidden;
			}
		}
		.js-form-item {
			padding-right: 20px;
		}

		.form-row {
	    margin: 0;
			flex-wrap: nowrap;
	  }
	}

	.pdp-support-body {
		.pdp-support-left {
			width: 100%;
			padding-right: 0;
			p {
				margin: 0;
			}

			h3 {
				margin: 0;
			}
		}

		.btn--primary {
			border-color: #0199D0;
    	color: #0199D0;

			@media (min-width: 1025px) {
				&:hover {
					background: #0199D0;
					border: 1px solid #fff;
					color: #fff;
					cursor: pointer;
				}
			}

			// @media (max-width: 1024px) {
			// 	&:hover {
			// 		border-color: $white !important;
    	// 		color: $white !important;
			// 	}
			// }
		}

		.pdp-support-right {
			&:before {
				content: none;
			}
		}
	}

	.pdp--highlights {
		margin-bottom: 80px;
	}

	.headers {
		.header {
			max-width: 767px;
    	margin: 0 auto 60px auto;
		}
	}
}

.headers .header.header_large.videoheader {
	max-width: 750px;
	margin: 0px auto;
	padding: 60px 0 40px
}

.comment-section {
	display: flex;

	@media (max-width: 767px) {
		display: block;
	}

	.comment-left-side {
		background-color: #0199D0;
		color: $white;

		@media (min-width: 767px) {
			width: 40%;
		}

		.comment-description {
			text-transform: inherit;
			padding-bottom: 100px;
			font-family: $font-stack-fs-roboto;
			font-weight: 100;
			margin: 0;
			line-height: 41px;

			a {
				color: $white;
			}
		}

		h1 {
			margin-bottom: 110px;
		}

		.left-inner-section {
	    margin: 0 auto;
	    text-align: left;
	    padding: 80px 20px 100px;

			@media (min-width: 1025px) {
				width: 69%;
			}

			.btn--primary {
				@media (min-width: 768px) and (max-width: 1023px) {
					padding: 14px 53px;
				}
			}
		}
	}

	.comment-right-side {
		background: $theme-gray-light;

		@media (min-width: 767px) {
			width: 60%;
		}

		.inner-right-section {
			width: 69%;
			position: relative;

			@media (max-width: 767px) {
				width: 100%;
				padding: 120px 20px;
			}

			@media (min-width: 768px) {
				margin: 125px auto;
			}

			.fivestar-summary-average-count {
				display: none;
			}

			.views-field-name {
				color: #0199D0;
		    text-transform: capitalize;
		    font-size: 40px;
		    font-weight: 500;
		    font-family: Roboto;
		    letter-spacing: 0px;
			}

			.pager__items {
				display: flex;
				justify-content: space-between;

				a {
					color: #767a7c;
    			text-decoration: none;
				}
			}

			.views-field-field-your-recommendation {
				.field-content {
					font-size: 27px;
			    line-height: 41px;
			    letter-spacing: .5px;
			    font-family: Roboto,sans-serif;
			    text-transform: capitalize;
			    padding: 32px 0 70px;
			    font-weight: 100;
					position: relative;

					&:before {
						top: 5px;
				    left: 0px;
				    height: 25px;
				    width: 25px;
				    content: "";
				    display: inline-block;
				    background-color: #0199D0;
				    border-radius: 50%;
				    position: relative;
				    margin-right: 20px;
					}

					&:after {
						left: 10px;
				    top: -27px;
				    width: 7px;
				    height: 13px;
				    border: solid #fff;
				    border-width: 0 3px 3px 0;
				    -webkit-transform: rotate(45deg);
				    transform: rotate(45deg);
				    content: "";
				    position: relative;
				    display: block;
					}

					@media (max-width: 1024px) {
						&:after {
							top: -68px;
						}
					}
				}
			}

			.views-field-subject {
				display: none;
			}

			.views-field-field-your-comments {
				.field-content {
					font-size: 21px;
			    line-height: 34px;
			    letter-spacing: .5px;
			    font-family: Roboto,sans-serif;
			    text-transform: inherit;
			    font-weight: 100;
					min-height: 250px;
					overflow-wrap: break-word;
				}
			}

			.fivestar- {
				position: absolute;
				right: 0;
				top: 19px;

				@media (max-width: 767px) {
					top: 95px;
    			right: 15px;
				}

				@media (min-width: 768px) and (max-width: 1023px){
					top: -25px;
    			right: 0;
				}
			}

			.views-field-created {
				span {
					text-transform: uppercase;
			    letter-spacing: 2px;
			    padding: 3px 0;
			    display: block;
			    color: #676b6ed1;
					padding-bottom: 40px;
				}
			}
		}
	}
}

.review-form {
	display: none;
	background: $white;
  padding: 1px 20px;
}

.path-comment {
	.comment-form {
		display: block;
	}
}

.comment-form {
	display: none;
	max-width: 560px;
	margin: 0 auto;
	padding: 0 20px;

	label:not(.option) {
		visibility: hidden;
		padding-left: 27px;
	}

	.field--name-subject {
		display: none;
	}

	.description {
		font-size: 15px !important;
		padding-top: 10px;
	}

	.form-radios {
		label {
			visibility: visible;
		}
	}

	.field--type-fivestar {
		label {
			visibility: visible;
		}
	}

	.star.on {
		color: $theme-blue;
	}
}

// .field--type-entity-reference-revisions {
// 	.paragraph--type--text-module > .header.header_large {
// 		color: #0199D0;
// 		max-width: 1000px;
// 		margin: 62px auto;
// 		font-size: 62px;
// 	}
// }

.numeric-stepper {
	display: flex;
	position: relative;
	width: 35%;

	#edit-quantity-wrapper {
		width: 100%;
		input {
			text-align: center;

			&::-ms-clear {
				display: none;
			}
		}

		input[disabled=disabled] {
			color: #676b6e !important;
			-webkit-text-fill-color: #676b6e;
			opacity: 1;
		}
	}

	.btn-decrement {
		display: inline-flex;
    align-items: center;
    width: 17px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 100;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    /* background-color: #d7d7d9; */
    border-radius: 2px;
    border: 0;
    color: #18191d;
    position: absolute;
    bottom: 22px;
    cursor: pointer;
    z-index: 2;
	}

	.btn-increment {
		display: inline-flex;
    align-items: center;
    width: 17px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 100;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    /* background-color: #d7d7d9; */
    border-radius: 2px;
    border: 0;
    color: #18191d;
    position: absolute;
		right: 0;
    bottom: 22px;
    cursor: pointer;
    z-index: 2;
	}
}

.removecrossbutton {
	display: none;
}

.submit-review {
	@media (max-width: 1024px) {
		&:hover {
			border-color: $white !important;
			color: $theme-blue !important;
			background: $white;
		}
	}
}
