.page-node-86{

  .section__foreground{
    background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));
  }
}
.page-node-type-product-listing-page{


  .plp-product-details-header{
    display: none;
  }


  .signup_block{
    max-width: 100%;
    padding: 0;
    .form-row {
      margin: 0;
      flex-wrap: nowrap;
    }

    @media screen and (max-width: $screen-sm-max) {
      background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));
    }

    @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

      .signup_block-inner{
        padding: 50px 0;
        max-width: 620px;
      }
    }

    @media screen and (min-width: $screen-wide-min) {
      background-image: linear-gradient(to top, #ffffff, rgba(231, 231, 231, 0.3));
    }


  }


    .plp--future-products{

      @extend .grid-container;

      padding: 70px 40px;

      @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        padding: 70px 0 0;
      }

      @media screen  and (max-width: $screen-md-max) {
        padding: 0;
      }

        .plp--future-products--each{

          @extend .plp--future-products--each;
          //padding: 60px;
          position: relative;

          &:nth-child(1){
            margin: 0;

            @media screen and (min-width: $screen-lg-min) {
              margin: 0 7.5px 0 0;
            }
          }

          &:nth-child(2){
            margin: 0;
            @media screen and (min-width: $screen-lg-min) {
              margin: 0 0 0 7.5px;
            }
          }

          @media screen  and (max-width: $screen-sm-max) {
            padding: 0;
          }

          @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            &:nth-child(2){
              margin: 25px 0 0 0;
            }
          }



          .col-wide-1{
            display: none;
          }
          .grid-container{
            padding: 0;
          }

          .col-wide-10{
            width: 100%;
          }

          @media screen and (min-width: $screen-wide-min ) {
            .each--product{
              padding: 55px 60px;
            }
          }


          .each--product .product--image{
            flex: 45%;
          }
          .each--product .product--text{
            flex: 55%
          }

          .each--product .product--title{
            margin: 0;
          }

          .each--product .product--comingsoon{
            top: 0;

            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max ) {
              position: relative;
              float:none;
              margin: 0 0 20px;
            }
          }
        }


    }



    .plp-banner{
      background-color: $theme-blue;
      color: #fff;
      text-align: center;
      padding: 100px 50px 100px;
      @media screen  and (max-width: $screen-sm-max) {
        padding: 70px 20px;
      }
      h1{
        @extend .h1;
        margin-top: 0;
        padding-top:0;
      }

      p{
        max-width: 1010px;
        margin: 0 auto;
        line-height: 1.57;
        font-size: 28px;
        font-family: $font-stack-fs-roboto;
        font-weight: 300;

        @media screen  and (max-width: $screen-sm-max) {
          font-size: 22px;
          line-height: 1.45;
        }
      }
    }


    @media screen  and (max-width: $screen-md-max) {
      .section--parallax .section__foreground {
          position: relative;
          height: auto;
      }
      .plp-product-details {
        height: auto;
    }
    .plp-product-details .table-layout__cell-4-12{
    width: 100%;
    text-align: center;
  }
  .facet_finishes{
      justify-content: center;
      padding: 0px 0 25px 0
  }

  .col-md-10{

  }

      .plp-product-details .padded-box--vertical-24 {
        padding: 30px 20px 40px;
    }

      .section__background--parallax{
        position: relative;
        left:auto;
        top: auto;
        right:auto;
        bottom:auto;
        display: block;
        height: 330px;
        width: 100%;
      }
    }
    @media screen  and (min-width: $screen-lg-min) {
      .section--parallax.plp-product-details{
        display: flex;
      }

      .section__background--parallax{
        position: relative;
        left:auto;
        top: auto;
        right:auto;
        bottom:auto;
        display: flex;
        height: 100%;
        width: 50%;
      }

      .section__foreground {
        position: relative;
        top: auto;
        top: auto;
        height: 100%;
        width: 100%;
        display: flex;
        height: 100%;
        width: 50%;

        .padded-box--vertical-24{
          padding: 90px 0 0;

          .table-layout__cell-4-12{
            width: 100%;
          }
        }

      }

    }

    .section__foreground ul {
      @extend .p;
      list-style-type: disc;
      margin: 0 0 0 20px;
      color: $theme-gray;
    }


}


.facet_finishes{
  display: flex;
  padding: 40px 0 25px 0;
  flex-wrap: wrap;
  @media screen  and (max-width: $screen-sm-max) {
    text-align: center;
    justify-content: center;
  }

  .facet_finishes--each{
    display: block;
    margin: 0 20px 0 0;

    .facet_finishes--img{
      text-align: center;
      img{
        width: auto;
        height: 50px;
      }

    }
    .facet_finishes--name{
      padding: 10px;
      font-size: 16px;
      font-family: $font-stack-fs-joey;
      color: $theme-gray;
      text-transform: uppercase;
      text-align: center;
    }
  }

}
