.captcha+.form-item label {
  display: none;
}

.form-textarea-wrapper {
  padding-top: 10px;
}

.captcha-validate {
  height: 0;
  opacity: 0;
  margin: 0;
  border: 0;
  padding: 0;
}

input, select {
  padding-left: 15px;
}

.product-registration-form {
  .js-form-type-select {
    &.form-item-state {
      &::after {
        top: 55px;
      }

      select {
        height: 50px;
        border-bottom: 1px solid #676b6e;
      }
    }
  }
  .statedependent {
    margin-top: 0;

    &:focus {
      outline: none;
    }
  }

  .countrydependent {
    border: 1px solid #676b6e;
    border-radius: 0;
    -webkit-appearance: none;
    background: $white;
  }

  .model-purchase-date-header{
    font-size: 20px;
  }

  #product_sku_purchase_date_table {
    .webform-multiple-add {
      input {
        width: 298px;
        padding: 14px 50px;

        @media (max-width: 1023px) {
          width: auto !important;
        }
      }
    }

    input {
      width: 100%;
      height: 50px;
    }

    .parent_product_sku_purchase_date_table_add {
      display: none;
    }

    .js-form-type-number {
      display: none;
    }

    .product-purchase-date {
      position: relative;

      input {
        border: 1px solid #676b6e;
      }

      .ui-datepicker-trigger {
        position: absolute;
        right: 18px;
        top: 17px;
      }
    }

    .product-model-number {
      margin-top: 15px;

      input {
        border: 1px solid #676b6e;
      }
    }

    .product-purchase-date-label {
      padding-top: 30px;
    }
  }

  .parent_product_sku_purchase_date_table_remove {
    width: 298px;
    padding: 0 16px;
    margin-bottom: 20px;
    background: #0199D0;
    font-size: 20px;
    letter-spacing: .5px;
    padding: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    white-space: nowrap!important;

    @media (max-width: 1024px) {
      width: 298px;
    }

    input {
      color: white;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .product-reg-submit {
    padding: 14px 50px;
    width: 298px;

    // @media (min-width: 1024px) {
    //       width: 298px;
    // }
  }
}

.product-model-number-label {
  position: relative;
  .auto-suggest {
    .model-num-list {
      border: 1px solid;
      border-top: 0;

      li.row-sku {
        padding: 2px 6px;
        font-size: 12px;
        &:hover {
          color: $black;
          cursor: pointer;
        }
      }
    }
  }
}
