//Camo Showerheads
.camo-Showerheads {
  .pdp--howitworks-item {
    .content {
      @media (max-width: $screen-md-max) {
        text-align: left;
        padding: 30px 20px 40px;
      }
    }
  }

  .camoheads_instructions {
    padding-left: 20px;
  }
}

//KBIS page
.page-KBIS {
  .btn--blue {
    padding: 11px 0;
  }
  .KBIS-innovation {
    h3 {
      text-transform: capitalize;
      text-align: left;
      line-height: 56px;
      @media (max-width: $screen-md-max) {
        line-height: 27px;
      }
    }
    h3:nth-child(2) {
      line-height: 1.5;
    }
    .firstwave-booth {
      color: $theme-blue;
    }
  }
  .pdp--howitworks {
     background-color: $theme-blue !important;
     color: $white !important;
  }
  .container-b {
    p img {
      width: 100%;
    }
  }
  .content {
    .fade-up {
      p:nth-child(2),p:nth-child(3) {
        @media (max-width: $screen-md-max) {
          text-align: center;
        }
      }
    }
  }
}

//Talk and Tap Faucet
.opt_section.one-column {
  .row_opt {
    display: flex;
    justify-content: center;
    @media (max-width: $screen-md-max) {
      text-align: center;
    }
    p:not(:first-child), h2 {
      text-align: left;
    }
  }
  .column_opt {
    @media (min-width: $screen-lg-min) {
      width: 33.3%;
    }
  }
}
