.returnPolicyMain {
  .layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .return-left-block {
    h2 {
      border-bottom: 3px solid $theme-blue;
    }
    p {
      width: 240px;
      height: 47px;
      background: $theme-blue;
      margin-top: 90px;
      a {
        border: 1px solid $theme-blue;
        background: $theme-blue;
        color: #fff;
        font-family: $font-stack-fs-joey;
        text-decoration: none;
        display: flex;
        justify-content: center;
        font-size: 20.3px;
        letter-spacing: 0.51px;
        text-transform: uppercase;
        line-height: 2.3;
      }
    }
  }
  .return-right-block {
    p {
      font-family: $font-stack-fs-roboto;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.42;
      color: #676b6e;
    }

    ul {
      li {
        display: flex;
        font-family: $font-stack-fs-roboto;
        font-size: 18px;
        font-weight: 300;
        &:before {
          content: "•";
          color: #0199D0;
          top: -14px;
          font-size: 44px;
          position: relative;
          padding-top: 0;
          margin-right: 22px;
          top: -14px;
        }
      }
    }
  }
  @media (min-width: $screen-lg-min) {
    main {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      display: flex;
      padding: 65px 0 155px;
      width: 100%;
      justify-content: space-between;
      max-width: 1550px;
      margin: 0 auto;
    }
    .return-left-block {
      h2 {
        margin-top: 0 !important;
      }
      p {
        margin-top: 90px;
        a {
          border: 1px solid $theme-blue;
          background: $theme-blue;
          color: #fff;
          font-family: $font-stack-fs-joey;
          text-decoration: none;
          display: flex;
          justify-content: center;
          font-size: 20.3px;
          letter-spacing: 0.51px;
          text-transform: uppercase;
          line-height: 2.3;
        }
      }
    }
    .layout-sidebar-second {
      width: 80%;
      padding-left: 30px;
    }
    #main-content,.layout-content {
      display: none;
    }
  }
  @media (max-width: $screen-md-min) {
    .return-left-block {
      text-align: center;
      h2 {
        display: inline-block;
      }
      p {
        display: inline-block;
        margin-top: 40px;
        a {
          border: 1px solid $theme-blue;
          background: $theme-blue;
          color: #fff;
          font-family: $font-stack-fs-joey;
          text-decoration: none;
          display: flex;
          justify-content: center;
          font-size: 20.3px;
          letter-spacing: 0.51px;
          text-transform: uppercase;
          line-height: 2.3;
        }
      }
    }
    .return-right-block {
      padding-bottom: 75px;
    }
    main {
      padding: 0 16px;
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    .return-left-block {
      text-align: center;
      p {
        display: block;
      }
    }
  }
}
