<ul class="header-search-list list-unstyled">
    {% for key, item in data %}
    {% if item.value is empty %}
    <li class="item heading">{{ item.label }}</li>
    {% else %}
    <li class="item record" data-index="{{ key }}" tabindex="{{ key }}" data-item-value="{{ item.value }}">{{ item.label }}</li>
    {% endif %}
    {% endfor %}
</ul>