.divider {
  border-bottom: 2px solid $gray-20;
  box-sizing: border-box;
  margin: 2em 0;

  &--dark {
    border: 1px solid $gray-60;
  }

  &--darker {
    border: 1px solid $gray-10;
  }

  &--darkest {
    border: 1px solid $black;
  }

  &--teal-1 {
    border: 3px solid $white;
    max-width: 375px;
  }

  &--black {
    border: 3px solid $black;
    max-width: 375px;
  }

  &--white {
    border: 3px solid $white;
    max-width: 375px;
  }
}
