.part-item {
  display: flex;
  flex-direction: column;

  @include maxbp($grid-md) {
    flex-direction: row;
  }

  .part-item__img-wrapper {
    text-align: center;
    padding: 2rem;
    min-height: 279px;
    max-height: 279px;

    @include maxbp($grid-md) {
      padding: 2rem 1rem 2rem  0;
      min-height: 174px;
      max-height: 174px;
      max-width: 142px;
      min-width: 142px;
    }
  }

  .part-item__img-link {
    display: inline-block;
  }

  .part-item__img {
    min-height: 215px;
    max-height: 215px;
    object-fit: contain;

    @include maxbp($grid-md) {
      min-height: 110px !important;
      max-height: 110px !important;
      max-width: 110px !important;
      min-width: 110px !important;
    }
  }

  .part-item__description-wrapper {
    @include maxbp($grid-md) {
      margin: 24px 0;
    }

    .text-long {
      p {
        margin-bottom: 0;
      }
    }
  }
}

.part-sku-link {
  text-decoration: none;

  @include maxbp($grid-md) {
    font-size: 0.88875rem;
  }
}
