{{ attach_library('delta_theme/part-item') }}
{% set aria_label_text = part_title[0]["#context"]['value'] %}
{% set part_number = 'PART#: ' ~ part_number["#context"]['value'] %}
{% if aria_label_text is null %}
  {% set aria_label_text = part_number %}
{% endif %}
<div class="part-item">
  <div class="part-item__img-wrapper">
    <a class="part-item__img-link" href="{{ part_img_url }}" title="{{ aria_label_text }}" aria-label="{{ aria_label_text }}">
      <img class="part-item__img" src="{{ part_img_src }}" alt="{{ part_img_alt }}" hover-img="{{ part_img_hover_src }}" />
    </a>
  </div>
  <div class="part-item__description-wrapper">
    <div class="part-item__number"><p class="paragraph"><strong>
      <a class="part-sku-link" href="{{ part_img_url }}" aria-label="{{ part_number }}" title="{{ part_number }}">{{ part_number }}</a>
    </strong></p></div>
    <div class="part-item__title"><p class="paragraph">{{ part_title }}</p></div>
    <div class="part-item__description"><p class="paragraph"><small>{{ part_description }}</small></p></div>
    <div class="part-item__link">
      <p class="paragraph"><small>
      {% if part_link_title %}
        {% include "@atoms/01-links/link/link.twig" with {
          "link_content": part_link_title,
          "link_url": part_link_url,
          "link_attributes": {'title': part_link_title,'aria-label': part_link_title},
        } %}
      {% endif %}
      </small></p>
    </div>
  </div>
</div>
