.pager {
    margin: 2em 0;
  }
  
  .pager__items {
    @include list-reset;
  
    text-align: center;
  }
  
  .pager__item {
    display: inline-block;
    margin: 0 0.7em;
  
    background: none;
    border: none;
    color: #827e7c;
      text-align: center;
      cursor: pointer;
      font-family: "din1451-engschrift";
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 1px;
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
      border-radius: 0;
      -webkit-appearance: none;
      padding: 15px 22px;
    
      a:link{
        text-decoration: none;
      }
  
    @include large {
      margin: 0;
    }
  }
  
  .pager__link,
  .pager__link:link,
  .pager__link:visited {
    a{
      color: $gray-90;
      font-weight: 600;
      text-decoration: none;
  
      &.is-active,
      &:hover {
        color: $gray-10;
      }
    }
  }
  
  .pager__link--next,
  .pager__link--prev {
    display: block;
  
    span {
      display: none;
    }
  
    &::before {
      border: 8px solid $gray-90;
      border-bottom: 6px solid transparent;
      border-right: 7px solid transparent;
      border-top: 6px solid transparent;
      content: "";
      display: block;
      position: relative;
      top: 1px;
    }
  
    &:hover {
      &::before {
        border-left-color: $gray-10;
      }
    }
  }
  
  .pager__link--prev {
    &::before {
      border-left-color: transparent;
      border-right-color: $gray-90;
    }
  
    &:hover {
      &::before {
        border-left-color: transparent;
        border-right-color: $gray-10;
      }
    }
  }
  