.filter-desktop-title {
  font-family: $font-heading;
  font-size: 22px;
  line-height: 26px;
  color: $gray-10;
  text-transform: uppercase;
  margin: 0 0 24px;
  letter-spacing: 4.4px;

  @include maxbp($r_1000) {
    display: none;
  }
}

.plp-accordion {
  width: 250px;

  @include maxbp($r_1000) {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all ease 0.5s;
    opacity: 0;

    &--open {
      max-height: 100000px;
      visibility: visible;
      opacity: 1;
    }
  }

  .accordion-block {
    border-bottom: none;
    margin: 0 0 24px;
    //padding: 0 0 $space+5;

    @include maxbp($r_1000) {
      margin: 0;
    }

    &:not(.accordion-block-active) {
      padding: 0 0 16px;
      border-bottom: 2px solid $gray-20;
    }
  }

  .accordion-title {
    background: none !important;
    color: $gray-10;
    font-size: 18px;
    position: relative;
    padding: 0;
    font-family: $font-subheading;
    text-transform: none;

    @include breakpoint($large) {
      &:hover {
        color: $gray-10 !important;

        &::before {
          color: $gray-10;
        }
      }
    }

    @include maxbp($r_1000) {
      padding: 16px 20px 0;
      margin-bottom: 0;
    }

    &::before {
      color: $black;
      position: absolute;
      right: 0;
      margin: 0;
      font-size: 16px;

      @include maxbp($r_1000) {
        right: 16px;
      }
    }

    &.accordion-title-active {
      &::before {
        background: $black !important;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 16px;
        height: 2px;
        right: 0;

        @include maxbp($r_1000) {
          right: 16px;
        }
      }

      @include breakpoint($large) {
        &:hover {
          &::before {
            background: $gray-10 !important;
          }
        }
      }
    }
  }

  .accordion-desc {
    display: block;
    margin: $space+5 0 0;
    border-bottom: 2px solid $gray-20;
    padding: 0 0 24px;

    @include maxbp($r_1000) {
      padding: 0 20px 20px;
    }

    &.load-more-filters {
      .plp-filter-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    &:not(.load-more-filters) {
      .plp-filter-wrapper {
        @include breakpoint($r_1000) {
          .mCSB_inside > .mCSB_container {
            top: 0 !important;
          }

          .mCSB_scrollTools {
            //display: none !important;
            opacity: 0;
          }
        }
      }
    }
  }

  .plp-filter-wrapper {
    display: block;
    overflow: hidden;

    .mCSB_scrollTools {
      //display: none !important;
      opacity: 1;
    }

    @include maxbp($r_1000) {
      height: auto !important;
    }
  }

  .plp-filter-block {
    &.not-applicable-wrapper {
      display: none;
    }

    label[for="notapplicable"] {
      display: none;
    }

    .filter-icon {
      width: 24px;

      img {
        width: 24px;
      }
    }

    .custom-input {
      width: calc(100% - 40px);
      margin: 0 0 8px;
      padding: 0 10px 0 0;

      &__label {
        color: $gray-20;
        cursor: pointer;
        font-size: 0.875rem;

        p {
          margin: 0;
        }

        &::before {
          border: 1px solid $gray-10;
        }
      }
    }

    .custom-input,
    .filter-icon {
      display: inline-block;
      vertical-align: top;
    }
  }

  .plp-filer-operations {
    margin: $space/2 0 0;

    @include maxbp($r_1000) {
      display: none;
    }

    > div {
      color: $gray-10;
      font-size: 14px;
      font-family: $font-condensed;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      padding: 0 $space+4 0 0;
      cursor: pointer;
      letter-spacing: 1.4px;

      i {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        font-size: 11px;
        line-height: 23px;
        transform: rotate(0deg);
      }

      &.plp-filter-view-less {
        padding: 0 18px 0 0;

        i {
          transform: rotate(180deg);
          line-height: 25px;
        }
      }
    }

    .plp-filter-view-less {
      display: none;
    }
  }
}

.plp-filter-mobile {
  display: none;

  @include maxbp($r_1000) {
    display: block;
    overflow: hidden;
    background: $gray-10;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 20px;
    line-height: 26px;
    height: 60px;
    padding: 0 $space*2;
    border-top: 1px solid $white;
    letter-spacing: 4px;

    .filter-mobile-title {
      float: left;
      margin-top: 1rem;
    }

    .filter-bars {
      float: right;
      line-height: 70px;
    }
  }
}

.mobile-clear-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  height: 60px;

  &.active-mobile-clear-filter {
    display: block;

    a {
      display: inline-block !important;
    }
  }

  > a {
    background: $gray-10;
    color: $white;
    display: block;
    font-family: $font-condensed;
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
    padding: 0 $space*2;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    width: 50%;
    float: left;
    letter-spacing: 2px;

    &.clear-filter {
      background: $white;
      color: $gray-10;
      letter-spacing: 2px;
      border-top: 2px solid $gray-10;
    }
  }
}
