{% set link_base_class = link_base_class|default('social-link') %}
{% set lazy_load = true %}

 {% set social_icon = social_link.content['#menu_link_content'].field_social_icon_path.value %}
{% set item_target = social_link.url.getOption('attributes')['target'] %}
    <a rel="noopener noreferrer"

    {{ bem(link_base_class, (link_modifiers), link_blockname) }}
    {% for attribute,value in link_attributes %}
        {{ attribute }}="{{ value }}"
    {% endfor %}
    href="{{ social_link.url }}"
    target="{{ item_target }}"
    >
        {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: social_icon,
            img_alt: social_link.title,
            lazyload: lazy_load,
        } %}
 {% set social_attributes = social_link.attributes %}
 {% if item_target %}
    {% set social_attributes = social_attributes|merge({'target': item_target }) %}
 {% endif%}
 {% if social_attributes['target'] == '_blank' %}
    {% set social_attributes = social_attributes|merge({'rel': social_attributes['rel'] ~ ' noopener noreferrer'}) %}
 {% endif %}
 {% include "@atoms/01-links/footer-link/footer-link.twig" with {
    'link_url': social_link.url,
    'link_content' : social_link.title,
    'link_attributes': social_attributes
} %}

    </a>
