<div class="cdp-lead-wrapper">
  {% if cdp_section_title %}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 2,
        "heading": cdp_section_title,
        "heading_base_class":"h2 cdp-block-title cdp-title-line cdp-summary-title-text",
      } %}
  {% endif %}

  {% if cdp_section_content %}
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      "paragraph_content": cdp_section_content,
      "paragraph_base_class": content_base_class|default('cdp-summary-data'),
    } %}
  {% endif %}
</div>
