{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}
{% set base_path = url('<front>') %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{% import _self as menus %}
  {% if items %}
    {% for item in items %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}

      {% if (item.url.getOption('attributes')).class.0 == "search-icon" %}
        {% set random_suffix_id = random() %}
          <div class="site-search account-menu-item" data-search-component="container">
            <button type="button" for="siteSearch-{{ random_suffix_id }}" class="header__utility-anchor search-icon header__search-trigger link hover-color flex flex-justify-center cursor--pointer" data-toggle='{"target": ".site-search__form", "allowEscClose": true, "targetFocus": "[data-search-component=input]"}' data-header-component="focus-manager" data-search-component="trigger" aria-label="Toggle search bar" role="button" title="Toggle search bar">
              <svg id="nav--search--svg" class="header-svg-icon site-search__trigger-icon site-search__trigger-search icon fluid-type--deka-hecto" viewBox="0 0 24 24">
                <path d="M23.8 22.9l-7.2-7.2c1.5-1.7 2.3-3.8 2.3-6.2 0-5.2-4.2-9.5-9.5-9.5C4.2 0 0 4.2 0 9.5 0 14.7 4.2 19 9.5 19c2.4 0 4.6-.9 6.2-2.3l7.2 7.2c.1.1.3.2.4.2.2 0 .3-.1.4-.2s.2-.3.2-.4c.1-.3 0-.5-.1-.6zM9.5 17.7C5 17.7 1.3 14 1.3 9.5 1.3 5 5 1.3 9.5 1.3c4.5 0 8.2 3.7 8.2 8.2 0 4.5-3.7 8.2-8.2 8.2z"></path>
              </svg>
              <svg id="icon--close--svg" class="search-svg-close header-svg-icon site-search__trigger-icon site-search__trigger-close icon fluid-type--deka-hecto" viewBox="0 0 24 24">
                <path d="M13 12L23.8 1.2c.3-.3.3-.7 0-1-.3-.3-.7-.3-1 0L12 11 1.2.2C.9-.1.5-.1.2.2c-.3.3-.3.7 0 1L11 12 .2 22.8c-.3.3-.3.7 0 1 .3.3.7.3 1 0L12 13l10.8 10.8c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.7 0-1L13 12z"></path>
              </svg>
            </button>
            <div class="site-search__overlay"></div>
            <form role="search" action="/search-results" method="get" name="simpleSearch" class="site-search__form" data-search-component="form">
                <div class="search-bar-wrapper">
                  <label for="siteSearch-{{ random_suffix_id }}" class="form-control-label sr-only hidden">Search</label>
                  <input class="site-search__field"
                        type="search"
                        id="siteSearch-{{ random_suffix_id }}"
                        name="q"
                        value=""
                        data-search-component="input"
                        placeholder="Search Delta"
                        autocomplete="off" />
                  <button type="submit" class="site-search__button link flex flex-justify-center flex-align-center submit-button search-popup-icon" data-search-component="button" title="Toggle search bar" aria-label="Toggle search bar">
                      <img src="/themes/custom/delta_theme/images/icons/src/search-icon.svg" alt="Search icon" />
                  </button>
                  <button class="clear-button" title="Clear button" aria-label="Clear button">Clear</button>
                  <button class="search-clear__button cta-link cta-link--xs" type="reset" data-toggle-close title="Close search bar" aria-label="Close search bar">
                    <svg id="icon--close-mobile" class="search-svg-close header-svg-icon icon--close-mobile" viewBox="0 0 24 24">
                      <path d="M13 12L23.8 1.2c.3-.3.3-.7 0-1-.3-.3-.7-.3-1 0L12 11 1.2.2C.9-.1.5-.1.2.2c-.3.3-.3.7 0 1L11 12 .2 22.8c-.3.3-.3.7 0 1 .3.3.7.3 1 0L12 13l10.8 10.8c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.7 0-1L13 12z"></path>
                    </svg>
                  </button>
                </div>
                <div class="site-search__suggestions-container set--invisible" data-search-component="suggestions-container" data-suggestions-url="/search-suggestions" data-scrollable></div>
                <input type="hidden" value="en_US" name="lang">
                <div class="ajax-progress ajax-progress-throbber">
                  <div class="throbber">&nbsp;</div>
                </div>
            </form>
          </div>
        {% elseif (item.url.getOption('attributes')).class.0 == "hide-account" and usertype == 'registered' %}
          <a class="header__utility-item header__utility-anchor hide-account header-flyout__secondary-link link hover-color flex display--small-up account-menu-item" href="{{ item.url|render|trim }}" title="My Account" aria-label="My Account" data-auth-required="true">
            <svg class="icon fluid-type--deka-hecto header-svg-icon" viewBox="0 0 24 24"> <path d="M19.78 15.22a11 11 0 00-4.18-2.62 6.36 6.36 0 10-7.2 0A11 11 0 001 23h1.72a9.28 9.28 0 0118.56 0H23a10.93 10.93 0 00-3.22-7.78zM12 12a4.64 4.64 0 114.64-4.64A4.65 4.65 0 0112 12z"></path> </svg>
            <span class="header__utility-label icon--set-right display--small-only">My Account</span>
          </a>
        {% elseif (item.url.getOption('attributes')).class.0 == "user-icon" and usertype != 'registered' %}
          <a class="header__utility-item header__utility-anchor hide-account header-flyout__secondary-link link hover-color flex display--small-up account-menu-item" href="{{ item.url|render|trim }}" title="Login" aria-label="Login" data-auth-required="true">
            <svg class="icon fluid-type--deka-hecto header-svg-icon" viewBox="0 0 24 24"> <path d="M19.78 15.22a11 11 0 00-4.18-2.62 6.36 6.36 0 10-7.2 0A11 11 0 001 23h1.72a9.28 9.28 0 0118.56 0H23a10.93 10.93 0 00-3.22-7.78zM12 12a4.64 4.64 0 114.64-4.64A4.65 4.65 0 0112 12z"></path> </svg>
            <span class="header__utility-label icon--set-right display--small-only">Login</span>
          </a>
        {% elseif (item.url.getOption('attributes')).class.0 == "wishlist-icon" %}
          <a class="header__utility-item header__utility-anchor wishlist-icon header-flyout__secondary-link link hover-color flex display--small-up account-menu-item" href="{{ item.url|render|trim }}" title="Wishlist" aria-label="My Wishlist">
            <svg class="icon fluid-type--deka-hecto header-svg-icon" viewBox="0 0 24 24"> <path d="M12 23.4c-.1 0-.2 0-.3-.1C11.2 23 0 16.7 0 7.6 0 4.3 1.8.7 5.7.7c3.1 0 5.4 1.7 6.3 2.6.9-.9 3.2-2.6 6.3-2.6C22.2.7 24 4.3 24 7.6c0 9.1-11.2 15.4-11.7 15.7-.1 0-.2.1-.3.1zM5.7 1.9c-3.5 0-4.4 3.7-4.4 5.7 0 7.6 9 13.3 10.7 14.4 1.8-1.1 10.7-6.9 10.7-14.4 0-2-.9-5.7-4.4-5.7-3.4 0-5.8 2.6-5.8 2.6-.2.3-.7.3-.9 0-.1 0-2.5-2.6-5.9-2.6z"></path> </svg>
            <span class="header__utility-label icon--set-right display--small-only">My Wishlist</span>
          </a>
        {% elseif (item.url.getOption('attributes')).class.0 == "cart-icon" %}
          <div class="account-menu-item header__minicart header__utility-item header__utility-item--badged flex" data-minicart-component="container">
            <a class="header__utility-anchor cart-icon-header header__utility-anchor--no-items flex link hover-color body-type--milli" href="/cart" title="Cart" aria-label="Cart" role="button">
              <svg id="nav--cart--svg" class="minicart-img header-svg-icon header__minicart-icon icon fluid-type--deka-hecto" viewBox="0 0 24 24">
                <path d="M6.3 14.6V17c0 .3.3.6.6.6h15.2c.3 0 .6-.3.6-.6s-.3-.6-.6-.6H7.6V15l14.6-2.4c.3 0 .5-.3.5-.5L24 4.5c0-.2 0-.4-.1-.5-.1-.1-.3-.2-.5-.2H4.9L3.8.4C3.7.2 3.4 0 3.2 0H.6C.3 0 0 .3 0 .6c0 .4.3.7.6.7h2.1l1.1 3.3 2.5 10zm16.3-9.5l-1.1 6.4-14.1 2.3-2.2-8.7h17.4zM6.3 18.9c-1.4 0-2.5 1.1-2.5 2.5S4.9 24 6.3 24s2.5-1.1 2.5-2.5-1.1-2.6-2.5-2.6zm0 3.8c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3 1.3.6 1.3 1.3-.6 1.3-1.3 1.3zM21.5 18.9c-1.4 0-2.5 1.1-2.5 2.5s1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5-1.1-2.5-2.5-2.5zm0 3.8c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3 1.3.6 1.3 1.3-.6 1.3-1.3 1.3z"></path>
              </svg>
              <span class="cart-count"></span>
            </a>
            <a class="header__utility-anchor cart-icon-header header__utility-anchor--has-items flex link body-type--milli" data-toggle='{"target": "[data-minicart-component=overlay]", "targetFocus": true, "allowEscClose": true, "focusTrap": true}' href="{{ item.url|render|trim }}" title="View Cart" data-minicart-component="trigger" data-header-component="focus-manager" data-action-url="/minicart" aria-label="Shopping cart" role="button">
            <img class="header__minicart-icon icon fluid-type--deka-hecto" src="/themes/custom/delta_theme/images/icons/src/cart-icon.svg" alt="Cart icon" />
              <span class="header__utility-badge flex flex-justify-center cart-count--number" data-minicart-component="qty"></span>
            </a>
            <div class="header__minicart-overlay utility-overlay" data-minicart-component="overlay" tabindex="-1" role="dialog" aria-modal="true"></div>
          </div>
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
    {% endfor %}
  {% endif %}
