{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <nav class="utility-nav">
      <div id="utility-nav-wrapper" class="utility-nav-wrapper">
        {% if menu_level == 0 %}
          <ul{{ attributes.addClass("utility-menu-nav") }}>
        {% else %}
          <ul>
        {% endif %}
        {% for item in items %}
          {% if (item.url.getOption('attributes')).class.0 == "wishlist-icon" %}
            <li{{ item.attributes.addClass("utility-menu-nav__item") }}>
              <a class="header__utility-item header__utility-anchor wishlist-icon header-flyout__secondary-link link hover-color flex account-menu-item" href="{{ item.url|render|trim }}" title="My Favorites" aria-label="My Favorites">
                <svg class="icon fluid-type--deka-hecto header-svg-icon" viewBox="0 0 24 24"> <path d="M12 23.4c-.1 0-.2 0-.3-.1C11.2 23 0 16.7 0 7.6 0 4.3 1.8.7 5.7.7c3.1 0 5.4 1.7 6.3 2.6.9-.9 3.2-2.6 6.3-2.6C22.2.7 24 4.3 24 7.6c0 9.1-11.2 15.4-11.7 15.7-.1 0-.2.1-.3.1zM5.7 1.9c-3.5 0-4.4 3.7-4.4 5.7 0 7.6 9 13.3 10.7 14.4 1.8-1.1 10.7-6.9 10.7-14.4 0-2-.9-5.7-4.4-5.7-3.4 0-5.8 2.6-5.8 2.6-.2.3-.7.3-.9 0-.1 0-2.5-2.6-5.9-2.6z"></path> </svg>
                <span class="header__utility-label icon--set-right ">{{ 'My Favorites'|t }}</span>
              </a>
            </li>
          {% elseif (item.url.getOption('attributes')).class.0 == "hide-account" %}
            <li{{ item.attributes.addClass("utility-menu-nav__item") }} data-usertype="auth">
              <a class="header__utility-item hide-account header__utility-anchor header-flyout__secondary-link link hover-color flex account-menu-item" href="{{ item.url|render|trim }}" title="My Account" aria-label="My Account" data-auth-required="true">
                <svg class="icon fluid-type--deka-hecto header-svg-icon" viewBox="0 0 24 24"> <path d="M19.78 15.22a11 11 0 00-4.18-2.62 6.36 6.36 0 10-7.2 0A11 11 0 001 23h1.72a9.28 9.28 0 0118.56 0H23a10.93 10.93 0 00-3.22-7.78zM12 12a4.64 4.64 0 114.64-4.64A4.65 4.65 0 0112 12z"></path> </svg>
                <span class="header__utility-label icon--set-right ">{{ 'My Account'|t }}</span>
              </a>
            </li>
          {% elseif (item.url.getOption('attributes')).class.0 == "user-icon" %}
            <li{{ item.attributes.addClass("utility-menu-nav__item") }} data-usertype="guest">
              <a class="header__utility-item user-icon header__utility-anchor header-flyout__secondary-link link hover-color flex account-menu-item" href="{{ item.url|render|trim }}" title="Login" aria-label="Login" data-auth-required="true">
                <svg class="icon fluid-type--deka-hecto header-svg-icon" viewBox="0 0 24 24"> <path d="M19.78 15.22a11 11 0 00-4.18-2.62 6.36 6.36 0 10-7.2 0A11 11 0 001 23h1.72a9.28 9.28 0 0118.56 0H23a10.93 10.93 0 00-3.22-7.78zM12 12a4.64 4.64 0 114.64-4.64A4.65 4.65 0 0112 12z"></path> </svg>
                <span class="header__utility-label icon--set-right ">{{ 'Login'|t }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </nav>
  {% endif %}
{% endmacro %}
