<div class="content">
{% import _self as sitemap %}
{{ sitemap.menus(items, 'sitemap-menu') }}
</div>

{% macro menus(items, ul_class) %}
    <ul class="{{ ul_class }}">
        {% for item in items %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% if item.below %}
          {{ sitemap.menus(item.below, ul_class)}}
          {% endif %}
        {% endfor %}
    </ul>
{% endmacro%}
