{#
/**
 * @file
 * Default theme implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <ul class="mega-menu-nav--sub mega-menu-nav--sub-1">
    <li class="mega-menu-nav__item--sub mega-menu-nav__item--with-sub">
      {{ content }}
    </li>
  </ul>
{% endif %}