<div class="press-release grid">
  <div class="pr-left-wrapper grid-col-sm-3">
    {% include "@molecules/press-releae-leftbar/press-releae-leftbar.twig" with {
      "pr_search_title": pr_search_title,
      "sidebar_links": sidebar_links,
      "pr_contact_title": pr_contact_title,
      "pr_contact_desc": pr_contact_desc,
      "pr_contact_name": pr_contact_name,
      "pr_contact_org": pr_contact_org,
      "pr_contact_mobile": pr_contact_mobile,
      "pr_contact_email_text": pr_contact_email_text,
      "pr_contact_email_url": pr_contact_email_url,
      "pr_canada_title": pr_canada_title,
      "pr_contact_name1": pr_contact_name1,
      "pr_contact_mobile1": pr_contact_mobile1,
      "pr_contact_email_text1": pr_contact_email_text1,
      "pr_contact_email_url1": pr_contact_email_url1,
      "search_radios": search_radios,
    } %}
  </div>
  <div class="pr-right-wrapper grid-col-sm-9">
    <div class="pr-category-wrapper pr-cat-collection-wrapper">
      <div class="pr-right-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 2,
          "heading": pr_right_title,
        } %}
      </div>
      <div class="pr-right-desc">
        <div class="pr-cat-collection">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: pr_cat_collection,
          } %}
        </div>
        <div class="pr-caat-coll-share">
          {% include "@atoms/01-links/cta-link/cta-link.twig" with {
            cta_link_modifiers: { 1: "sm" },
            cta_link_text: "Share",
            cta_link_icon: "cta-share",
            cta_link_icon_position: "right",
          } %}
        </div>
      </div>
    </div>
  </div>
</div>
