<div class="menu-list">
    <ul>
    {% for sidebar_link in sidebar_links %}
    <li>
        {% include "@atoms/01-links/link/link.twig" with {
            'link_url': sidebar_link.url,
            'link_content' : sidebar_link.content,
            'link_base_class': 'sidebarlink',
            'link_modifiers' : sidebar_link.modifiers,
        } %}
    </li>
    {% endfor %}
    </ul>
</div>