
{% include "@atoms/01-links/link/link.twig" with {
    'link_url': sidebar_link.url,
    'link_content' : sidebar_link.content,
    'link_base_class': 'sidebarlink',
    'link_modifiers' : sidebar_link.modifiers,
} %}
