<script data-name="reload" data-src="/components/js/video-banner.js"></script>
<div class="embedded-video-wrapper" aria-hidden="false" tabindex="0" id="video-picture-224247821">
  <div class="video-banner-content">
      <img class="embedded-poster" src="../../images/video-background-img.jpg" alt="Thumbnail image" />
      <img class="embedded-play-icon" onclick="myFunction224247821();return false;" src="//images/icons/src/icon-video-play.svg" style="cursor:pointer" alt="Play icon" />
  </div>
  <div id="embedded-video-iframe224247821" class="embedded-video-iframe224247821"></div>
</div>

<script>
  function myFunction224247821() {
    //video-banner-content
    jQuery("#player").remove();
    document.getElementById("embedded-video-iframe224247821").innerHTML = "<div id='player'></div>";
    // This code loads the IFrame Player API code asynchronously.
    if (jQuery('script[src="https://www.youtube.com/iframe_api"]').length <= 0 || jQuery('script[src="https://www.youtube.com/iframe_api"]').length == 1) {
        if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            window.onYouTubePlayerAPIReady = function() {
                onYouTubeIframeAPIReady224247821();
            };
        } else {
            onYouTubeIframeAPIReady224247821();
        }
    }
    jQuery(".video-banner-content").show();
  }

    var player;
    var autoplay = "";
    function onYouTubeIframeAPIReady224247821() {
        player = new YT.Player('player', {
            host: 'https://www.youtube.com',
            height: '781',
            //width: '854',
            videoId: '',
            playerVars: { 'rel': 0 , 'origin' : window.location.href},
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        if(autoplay == 1){
          event.target.playVideo();
        }
    }
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
