<div class="user_login">
    <h2>{{ "Log in"|t }}</h2>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="user-login-error"></div>
    <div class="popup-user-login">
        <div class="username">
          {{ form.username }}
        </div>
        <div class="pass">
            {{ form.password }}
        </div>
        <div class="rememberme custom-input custom-input--checkbox">
            {{ form.persistent_login }}
        </div>
        <div class="form-action">
          <div class="forgot">
            <a href="{{ form.forgot_password }}" target="_blank" class="forgot_pass_link">{{ "Forgot password"|t }}?</a>
          </div>
          <div class="action">
            {{ form.actions }}
          </div>
        </div>
    </div>
</div>
