.footer {
  clear: both;
  padding: 0;
  background: $gray-80;

  &__wrapper {
    max-width: 1440px;
    padding: $space-ten * 3 0;
    margin: 0 auto;

    @include medium {
      display: flex;
    }

    > ul {
      list-style: none;
      padding-bottom: 1em;
      padding-top: 1em;
      padding-left: 25px;
      margin: 0;

      li {
        clear: both;

        a {
          &.social-link,
          &.footer-link {
            float: left;
            font-size: 0.889rem;
          }

          &.social-link {
            margin: 0 5px 10px 0 !important;
            width: 30px;

            & + .footer-link {
              float: left;
              width: calc(100% - 35px);
              line-height: 20px;

              @include maxbp($medium) {
                width: auto;
              }
            }
          }

          &:hover {
            color: $delta-red;
          }
        }
      }

      h2 {
        font-size: 0.889rem;
        font-family: $font-bold2;
        letter-spacing: normal;
        color: $gray-30;
        margin: 0;
        text-transform: none;
        line-height: 2;
      }

      @include medium {
        display: inline-flex;
        width: 20%;
        flex-direction: column;
      }

      h4 {
        margin: 0;
      }
    }

    > div {
      padding-bottom: 2em;
      padding-top: 1em;
      margin: 0;
      width: 100%;
      padding-left: 25px;
      -ms-flex-direction: column;

      ul {
        margin: 0;
        padding-left: 0;

        li {
          clear: both;

          h2 {
            font-size: 0.889rem;
            font-family: $font-bold2;
            letter-spacing: normal;
            color: $gray-30;
            margin: 0;
            text-transform: none;
            line-height: 2;
          }

          .delta-outlet-custom-link {
            cursor: unset;
            font-size: 0.889rem;
            font-family: $font-bold2;
            letter-spacing: normal;
            color: $gray-30;
            margin: 19px 0 0 0;
            text-transform: none;
            line-height: 2;

            @include maxbp($medium) {
              margin: 24px 0 0;
            }
          }

          a {
            &.social-link,
            &.footer-link {
              float: left;
              font-size: 0.889rem;
            }

            &.social-link {
              margin: 0 5px 10px 0 !important;
              width: 30px;

              & + .footer-link {
                float: left;
                width: calc(100% - 35px);
                line-height: 20px;

                @include maxbp($medium) {
                  width: auto;
                }
              }
            }

            &:hover {
              color: $delta-red;
            }
          }
        }
      }

      @include medium {
        display: inline-flex;
        width: 20%;
        flex-direction: column;
      }
    }
  }

  &_secondary {
    #copyright-block {
      p {
        margin-top: 10px;
        margin-bottom: 16px;
      }
    }
  }

  .footer__wrapper {
    ul {
      .delta-outlet-custom-link {
        cursor: unset;
        font-size: 0.889rem;
        font-family: $font-bold2;
        letter-spacing: normal;
        color: $gray-30;
        margin: 19px 0 0 0;
        text-transform: none;
        line-height: 2;

        @include maxbp($medium) {
          margin: 24px 0 0;
        }
      }

      @include maxbp($grid-md) {
        h2 {
          text-align: left;
        }
      }

      &:not(:first-child) {
        @include maxbp($grid-md) {
          h2 {
            margin-top: 24px;
          }
        }
      }
    }
  }
}

.commerce-footer-block {
  background: $gray-90;
  text-align: center;
  padding: $space-ten * 2 0;

  .copyright {
    p {
      margin: 0;
      text-align: center;
    }
  }
}

#block-deltaoutlet {
  clear: both;

  @include medium {
    margin-top: 20px;
  }
}

.sliding-popup-bottom {
  .eu-cookie-compliance-banner {
    z-index: 100;
    position: fixed;
    width: calc(100% - 2.5rem);
    max-width: 47.9375rem;
    bottom: 1.25rem;
    left: 0;
    right: 0;
    border: 1px solid $gray-10;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    color: $gray-10;
    background-color: $white;
    text-align: left;
  }

  .cookie-consent-close-icon {
    border: none;

    &::before {
      content: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%23252525' d='M13 12L23.8 1.2c.3-.3.3-.7 0-1-.3-.3-.7-.3-1 0L12 11 1.2.2C.9-.1.5-.1.2.2c-.3.3-.3.7 0 1L11 12 .2 22.8c-.3.3-.3.7 0 1 .3.3.7.3 1 0L12 13l10.8 10.8c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.7 0-1L13 12z' /%3E%3C/svg%3E");
      height: 0.875rem;
      width: 0.875rem;
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }

  .popup-content.eu-cookie-compliance-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;

    @include maxbp($medium) {
      flex-direction: column;
    }
  }

  #popup-text.eu-cookie-compliance-message {
    float: none;
    margin: 0;
    max-width: 75%;
    padding: 0;

    @include maxbp($medium) {
      width: 100%;
      max-width: 100%;
    }

    h2 {
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      line-height: 1.75;
      font-size: 1.5rem;
      font-weight: 300;
      color: $gray-10;
      margin: 0 0 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }

    p {
      font-family: $font-body;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6rem;
      color: $gray-10;
    }
  }

  .eu-cookie-compliance-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.25rem 0;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    float: none;
    width: 25%;
    max-width: 25%;

    @include maxbp($medium) {
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      justify-content: space-between;
    }

    button {
      display: inline-block;
      background-color: $delta-red;
      color: $white;
      align-items: center;
      cursor: pointer;
      font-weight: 400;
      vertical-align: middle;
      letter-spacing: 0.125rem;
      line-height: 2rem;
      font-size: 1rem;
      font-family: $font-bold;
      text-transform: uppercase;
      padding: 0.75rem 2.125rem;
      border-radius: 0.125rem;
      border: 1px solid transparent;
      box-shadow: none;
      outline: none;

      @include maxbp($medium) {
        padding: 0.75rem 4.75rem;
      }

      &.decline-button.eu-cookie-compliance-default-button {
        background-color: transparent;
        background-image: none;
        color: $gray-10;
        display: none;
      }
    }
  }
}

.eu-cookie-compliance-message {
  h1 {
    color: #18191d;
  }
}
