{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <div style="margin-top: 100px;">{# THIS IS JUST FOR POSITIONING IN PATTERNLAB. IGNORE. #}



      <nav class="innovation-navigation">
        <ul class="tabs__nav">
          <li rel="January">
            <a href="/" class="tabs__link tabs__link--local-tasks is-active">January</a>
          </li>


          <li rel="July">
            <a href="/" class="tabs__link tabs__link--local-tasks">July</a>
          </li>
          <li rel="September">
            <a href="/" class="tabs__link tabs__link--local-tasks">September</a>
          </li>
        </ul>
      </nav>


      <div class="grid-container">
        <section class="innovation-section">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": "Featured Innovations",
          } %}

          {% include "@organisms/featured-innovations-slider/featured-innovations-slider.twig" with slider_items %}
        </section>
      </div>

      <section class="innovation-section">
        <div class="grid-container grid-container--medium">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": "Advanced Innovations",
          } %}

          <div class="innovation-card-grid">
            {% for card in cards %}
              {% include "@molecules/innovation-card/innovation-card.twig" with card %}
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="innovation-section">
        <div class="grid-container">
          {% include "@atoms/08-video/video.twig" with {
            video_content: video_content,
          } %}
        </div>
      </section>

      <section class="innovation-section">
        <div class="grid-container grid-container--medium">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": "Advanced Innovations",
          } %}

          <div class="innovation-card-grid">
            {% for card in cards %}
              {% include "@molecules/innovation-card/innovation-card.twig" with card %}
            {% endfor %}
          </div>
        </div>
      </section>
    </div>

  {% endblock %}

{% endembed %}
