<div class="cdp-selected-filter">
  <a class="cdp-filter-chip"> Default filter faucet chip 1 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip"> Default filter faucet chip 2 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip"> Default filter faucet chip 3 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip"> Default filter faucet chip 4 <i class="icon-filter-hide-small"></i></a>
  <a class="cdp-filter-chip cdp-clear-filter"><i class="icon-filter-hide-small"></i> clear all filters </a>
</div>
