<div class="custom-scroll">
    <ul class="list-group">
        <li class="list-group-item-heading clear-all">
            <span class="clear-all--link">
						clear all
					</span>
        </li>

    </ul>
</div>
