<div class="header-mega-menu__sub-menu__container">
    {% for weight, items_nxt in items %}
        {% for item in items_nxt %}
            <div class="header-mega-menu__sub-menu__list">
                {% if(item.topMenu|length != 0) %}
                    <div class="menu-item--toplink menu-weight-{{ weight }}">
                        <a href="{{ item.url }}"
                            {% if item.attributes %}
                                {% for attribute,value in item.attributes %}{% if value %} {{attribute}}="{{ value }}"{% endif %}{% endfor %}
                            {% else %}
                                 title="{{ item.title }}"
                            {% endif %}
                        >{{ item.title }}</a>
                    </div>
                    <div class="menu-item--image" style="height: 150px;">
                        <a href="{{ item.url }}"
                            {% if item.attributes %}
                                {% for attribute,value in item.attributes %}{% if value %} {{attribute}}="{{ value }}"{% endif %}{% endfor %}
                            {% else %}
                                 title="{{ item.title }}"
                            {% endif %}
                        ><img alt="{{ item.title }}" src="{{ item.imgUri }}" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
                <div class="menu-item--links" style="height: 100px;">
                    {% for sibling in item.siblings %}
                        {% if(sibling.class) %}
                            {% set icon = '<span class="see-all-arrow"><svg enable-background="new 0 0 31.49 31.49" viewBox="0 0 31.49 31.49" xmlns="http://www.w3.org/2000/svg"><path d="m21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047h-26.554c-.619.001-1.111.493-1.111 1.112s.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571z" fill="#007377"></path></svg></span>' %}
                        {% endif %}
                        <a href=" {{ sibling.url }}"
                            {% if sibling.class %}
                                class="{{ sibling.class }}"
                            {% endif %}
                            {% if sibling.attributes %}
                                {% for attribute,value in sibling.attributes %}{% if value %} {{attribute}}="{{ value }}"{% endif %}{% endfor %}
                            {% endif %}
                        >{{ sibling.title }} {{ icon | raw }}
                            {% if sibling.new %}
                                <span class="label new">{{ sibling.new }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

