<div class="custom-scroll">
    <ul class="plp-facets-list" id="narrow-results">
        <li class="facet-item">
            <input data-facet-attr="includeObsolete" id="includeObsolete" type="checkbox" class="facets-checkbox" value="true" name="includeObsolete" />
            <label for="includeObsolete"><span class="facet-item__value">Include Discontinued Products</span></label></li>
        <li class="facet-item">
            <input data-facet-attr="availableToTrade" id="availableToTrade" type="checkbox" class="facets-checkbox" value="true" name="availableToTrade" />
            <label for="availableToTrade"><span class="facet-item__value">Hide Retail Exclusive Products</span></label></li>

    </ul>
</div>
