<div class="product__compare__wrap">
    <div class="container mobile-hide">
        <h1 class="product__compare__heading">Compare kitchen Products</h1>
        <p>
            Key differences are highlighted in red.
        </p>
        <div class="product__compare__table">
            <div class="product__compare__grid product__compare__cart">
                <div class="row">
                    <div class="col-xs-3 grid-col">
                        <div class="product__compare__title">
                        </div>
                    </div>
                    <div class="col-xs-9 grid-col product-slide product-slides-images">
                        <div class="row">
                            {% for item in items %}
                                {% set chkLenItems = 3 %}
                                {% if items|length == 2 %}
                                    {% set chkLenItems = 6 %}
                                {% endif %}
                                <div class="col-xs-{{ chkLenItems }} grid-col">
                                    <div class="product__compare__section">
                                        <div class="product-comparison">
                                            <a href="/{{ item.category.path }}/product/{{ item.sku.sku }}">
											<span class="product-comparison-image"><img src="{{ item.image.path }}"
                                                                                        alt="{{ item.name.name }}"></span>
                                                <span class="product-comparison-description">{{ item.description.desc }}</span>
                                                <span class="product-comparison-name">({{ item.name.name }})</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% for i,compareItem in compareItems %}
                    {% set parentKey = i %}
                    <div class="entireRow">
                        {% for j,compareVal in compareItem %}
                            {% set currentIndex = loop.index %}
                            {% if currentIndex == 1 %}
                                <div class="col-xs-3 grid-col">
                                    <div class="product-comparison {{ i }}">
                                        {# evaluates to true if the foo variable is iterable #}
                                        {% if compareItems[i][j] is iterable %}
                                            {% for productLabel in compareItems[i][j] %}
                                                {% if productLabel == 'dp' or productLabel == 'ndp'  %}
                                                    <div class="{{ productLabel }}"></div>
                                                {% else %}
                                                    <div class="complabel">{{ productLabel }}</div>
                                                {% endif %}

                                            {% endfor %}
                                        {% else %}
                                            {# foo is probably a string #}
                                            {{ compareItems[i][j] }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-xs-9 grid-col product-slide product-sub-info">
                            <div class="row">
                                {% for j,compareVal in compareItem %}
                                    {% set getColNo  = (( compareItem|length - 1 )  ) %}
                                    {% set colMd  =     12 / getColNo %}
                                    {% set colSplitNum = colMd|round %}
                                    {% set currentIndex = loop.index %}
                                    {% if currentIndex != 1 %}
                                        {% if items|length == 2 %}
                                            {% set colSplitNum = 6 %}
                                        {% endif %}
                                        <div class="col-xs-{{ colSplitNum }} grid-col">
                                            <div class="product-comparison {{ i }}">
                                                {# evaluates to true if the foo variable is iterable #}
                                                {% if compareItems[i][j] is iterable %}
                                                    {% for key,productLabel in compareItems[i][j] %}
                                                        {% if productLabel == 'dp' %}
                                                            <div class="{{ productLabel }}"></div>
                                                        {% else %}
                                                            {% if 'finishOptions' in i %}
                                                                <a href="{{ productLabel['url'] }}"
                                                                   title="{{ productLabel['text'] }}">
                                                                <span class="facet-thumb facetfinish"
                                                                      style="background: url({{ productLabel['icon'] }}) no-repeat;width: 37px;height: 37px;">

                                                                    </span>
                                                                </a>
                                                            {% else %}
                                                                <div class="complabel">{{ productLabel }}</div>
                                                            {% endif %}

                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {# foo is probably a string #}
                                                    {{ compareItems[i][j] }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="goBack">
            <a class="btn btn-primary back" title="Return to Results">Return to Results</a>
        </div>
    </div>
</div>