{# empty Twig template #}
<script type="text/template" id="output-node">
    <div class="col-xs-6 col-md-4 col-lg-3">

        <section class="product-cell">
            <div class="product-cell-inner ribbon-item">
                <div class="product-thumb">
                    <a href="<%- url %>" target="_self">
                        <img class="img-responsive center-block" alt="<%- title %>" src="<%- heroImage %>">
                    </a>
                </div>
                <% if (prodOutDated != ''){ %>
                <div class="ribbon-container <%- prodOutDated %>">
                    <div class="ribbon">
                        <div class="ribbon-text">
                            <%- prodOutDated %>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                        <h5>
                            <b><%- collectionName %></b>
                            <a class="prod-link" href="<%- url %>"><%- title %></a>
                        </h5>
                    </div>
                    <div class="product-info-inner">
                        <div class="product-info--model">
                            <%- sku %>
                        </div>
                        <% if (prodOutDated == ''){ %>
                        <div class="product-info--price">
                            <span class="txt">List Price:<sup>*</sup></span>
                            <span class="val">$<%- price %></span>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="add-to-compare">
                    <div class="checkbox">
                        <label class="checkbox-container">
                            <input type="checkbox" id="<%- sku %>" value="<%- sku %>" name="modelNumber">
                            <span class="checkmark"></span>
                            Compare
                        </label>
                    </div>
                </div>

            </div>
        </section>
    </div>
</script>
<script type="text/template" id="pagination">
    <% if(totalRecordset > 0) { %>
    <div class="paging--results">
        <%- totalRecordset %> Results
    </div>
    <div class="filter-result__page-x-of-n pull-right">
        <% if (currentPage == 1) { %>
        <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
        <% } else { %>
        <input class="prev" type="button" value="<%- previousPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        <span>Page <%- currentPage %> of <%- totalPager %></span>
        <% if (currentPage == totalPager) { %>
        <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
        <% } else { %>
        <input class="next" type="button" value="<%- nextPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

    </div>
    <% } %>
</script>
<script type="text/template" id="facets-view">

          </script>
<div id="facets"></div>

<div class="paging-compare-bar">
    <div class="paging">
        <div class="paging--container">
            <div class="pagination-output clearfix"></div>
            <div class="paging--pages">
            </div>
        </div>
    </div>
    <div class="compare-button--container" style="display:none;">
        <a class="btn-compare" href="/compare">
            Compare Selected Products
        </a>
        <input class="selectedCheckboxes" type="hidden" name="selectedCheckboxes">
    </div>
    <div class="compare-info" style="display: none;">
        <h1>Please select upto 4 products for compare</h1>
    </div>
</div>
<div class="row">
    <div id="output"></div>
</div>
<div class="paging-compare-bar paging-compare-bar--bottom">
    <div class="paging">
        <div class="paging--container">
            <div class="pagination-output clearfix"></div>
            <div class="paging--pages">
            </div>
        </div>
    </div>
</div>