@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800&display=swap");
html {
  scroll-behavior: smooth;
  min-height: 100%;
  min-width: 100%;
  width: 100%; }

main {
  display: block;
  padding-top: 139px; }
  @media (max-width: 1023px) {
    main {
      padding-top: 85px; } }

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #1A1818;
  margin: 0; }
  body.stickyBody {
    padding-top: 64px; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  text-transform: capitalize; }

h2 {
  font-size: 42px; }

img {
  max-width: 100%;
  height: auto; }

h3 {
  font-size: 32px; }

ul {
  padding: 0;
  margin: 0; }

p {
  font-size: 20px; }

a {
  text-decoration: none;
  color: #1A1818; }

.desktop_image {
  display: none; }
  @media (min-width: 1024px) {
    .desktop_image {
      display: block; } }

.mobile_image {
  display: block; }
  @media (min-width: 1024px) {
    .mobile_image {
      display: none; } }

.branding img {
  width: 180px;
  margin-top: 5px; }
  @media (min-width: 1024px) {
    .branding img {
      width: 250px; } }

header[role="banner"] {
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #d7d7d9; }
  header[role="banner"] > div {
    display: flex;
    padding: 10px 24px; }
    @media (min-width: 1024px) {
      header[role="banner"] > div {
        padding: 10px 20px;
        margin: auto;
        max-width: 1160px; } }
    header[role="banner"] > div .main-navigation-menu {
      flex-grow: 1;
      align-self: center; }
  header[role="banner"].sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
  header[role="banner"] .mobile-menu {
    display: inline-block;
    background: transparent;
    border: 0;
    align-self: center;
    text-align: right;
    vertical-align: middle;
    width: 32px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
    margin-right: 24px; }
    header[role="banner"] .mobile-menu:focus {
      outline: 0; }
    header[role="banner"] .mobile-menu.open span {
      background: #fff; }
    header[role="banner"] .mobile-menu span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #1A1818;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
    @media (min-width: 1024px) {
      header[role="banner"] .mobile-menu {
        display: none; } }
  header[role="banner"] .mobile-menu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header[role="banner"] .mobile-menu span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header[role="banner"] .mobile-menu span:nth-child(3) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header[role="banner"] .mobile-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
    left: 5px; }
  header[role="banner"] .mobile-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  header[role="banner"] .mobile-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 23px;
    left: 5px; }
  header[role="banner"] .branding {
    justify-content: center;
    display: inline-block;
    vertical-align: middle;
    transform: translate(-50%, -31%);
    position: absolute;
    left: 50%; }
    @media (min-width: 1024px) {
      header[role="banner"] .branding {
        position: relative;
        left: inherit;
        transform: none; } }
  header[role="banner"] nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #000;
    padding-top: 70px;
    z-index: 999; }
    @media (min-width: 1024px) {
      header[role="banner"] nav {
        padding-top: 0px;
        flex-grow: 1;
        align-self: center;
        text-align: right;
        position: static;
        width: auto;
        height: auto;
        display: block !important;
        background-color: transparent; } }
    @media (max-width: 1023px) {
      header[role="banner"] nav {
        overflow-y: scroll; }
        header[role="banner"] nav .mainmenu {
          padding-bottom: 60px; } }
    header[role="banner"] nav li {
      display: block;
      border: none;
      margin: 20px 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #FD9200; }
      header[role="banner"] nav li:last-child {
        margin-right: 0;
        border: 0; }
      @media (min-width: 1024px) {
        header[role="banner"] nav li {
          display: inline-block;
          border: 0;
          padding: 0;
          margin: 0px 10px; } }
  @media only screen and (min-width: 1024px) and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    header[role="banner"] nav li {
      margin: 0px 10px !important; } }
      header[role="banner"] nav li a {
        color: #fff;
        font-size: 16px;
        text-decoration: none; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          header[role="banner"] nav li a {
            font-size: 17px; } }
        @media (min-width: 1024px) {
          header[role="banner"] nav li a {
            font-size: 17px;
            color: #011930; } }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
          header[role="banner"] nav li a {
            font-size: 16px;
            color: #011930; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          header[role="banner"] nav li a {
            font-size: 16px; } }
        header[role="banner"] nav li a:hover {
          text-decoration: none; }

.banner-block {
  background-color: #011930;
  color: #fff; }
  .banner-block .banner-content {
    max-width: 1160px;
    margin: auto;
    padding: 20px; }
    @media (min-width: 1024px) {
      .banner-block .banner-content {
        padding: 0 20px; } }
    .banner-block .banner-content .col-2 {
      box-sizing: border-box;
      display: block; }
      @media (min-width: 1024px) {
        .banner-block .banner-content .col-2 {
          display: flex;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
      .banner-block .banner-content .col-2 .text-wrap {
        padding-right: 0;
        font-size: 21px;
        line-height: 35px; }
        @media (min-width: 1024px) {
          .banner-block .banner-content .col-2 .text-wrap {
            padding-right: 50px; } }
      @media (min-width: 1024px) {
        .banner-block .banner-content .col-2 .col {
          flex-basis: 41.66666667%;
          max-width: 41.66666667%; } }
      @media (min-width: 1024px) {
        .banner-block .banner-content .col-2 .col + .col {
          flex-basis: 58.33333333%;
          max-width: 58.33333333%; } }
    .banner-block .banner-content .counter {
      margin-top: 50px; }
      .banner-block .banner-content .counter .counter-content {
        text-align: center; }
        @media (min-width: 1024px) {
          .banner-block .banner-content .counter .counter-content {
            display: flex;
            justify-content: space-between; } }
        .banner-block .banner-content .counter .counter-content .counter-number {
          font-size: 30px;
          line-height: normal; }
          @media (min-width: 1024px) {
            .banner-block .banner-content .counter .counter-content .counter-number {
              font-size: 60px;
              line-height: normal; } }
      @media (min-width: 1024px) {
        .banner-block .banner-content .counter .col {
          width: 25%; } }
      .banner-block .banner-content .counter .col h3 {
        color: #FD9200; }
  .banner-block h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px; }
    @media (min-width: 1024px) {
      .banner-block h1 {
        font-size: 101px;
        line-height: 138px; } }
    .banner-block h1 span {
      color: #34b7c3; }

.home .banner-block h1 {
  text-align: center; }

.home .alternate-block .alternate-content {
  padding-top: 30px; }

.alternate-block .alternate-content {
  max-width: 1160px;
  margin: auto;
  box-sizing: border-box; }
  @media (min-width: 1024px) {
    .alternate-block .alternate-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 32px 0px; } }
  .alternate-block .alternate-content .text-wrap {
    padding-right: 0;
    font-size: 21px;
    line-height: 35px;
    color: #fff; }
    @media (min-width: 1024px) {
      .alternate-block .alternate-content .text-wrap {
        padding-right: 50px; } }
  @media (min-width: 1024px) {
    .alternate-block .alternate-content .col {
      flex-basis: 41.66666667%;
      max-width: 41.66666667%; } }
  .alternate-block .alternate-content.change-order .col {
    order: 2; }
  .alternate-block .alternate-content.change-order .col + .col {
    order: 1; }
  .alternate-block .alternate-content.change-order .text-wrap {
    padding-left: 0;
    padding-right: 0; }
    @media (min-width: 1024px) {
      .alternate-block .alternate-content.change-order .text-wrap {
        padding-right: 50px; } }
  @media (min-width: 1024px) {
    .alternate-block .alternate-content .col + .col {
      flex-basis: 58.33333333%;
      max-width: 58.33333333%; } }

.brand-content {
  padding: 20px;
  max-width: 1160px;
  margin: auto; }
  @media (min-width: 1024px) {
    .brand-content {
      padding: 50px 20px; } }
  .brand-content h2 {
    margin-bottom: 20px; }
  .brand-content ul {
    padding: 0 33px;
    list-style: none; }
    @media (min-width: 600px) {
      .brand-content ul {
        display: flex;
        padding: 0;
        justify-content: space-between; } }
    .brand-content ul li {
      text-align: center;
      margin-bottom: 49px; }
      @media (min-width: 600px) {
        .brand-content ul li {
          width: 25%;
          padding: 1%; } }
    .brand-content ul p {
      margin: 0;
      font-size: 17px;
      line-height: 24px; }

footer {
  background-color: #f6f6f6;
  color: #011930;
  box-sizing: border-box;
  padding: 40px 20px; }
  footer > div {
    display: block;
    line-height: 1.2; }
    @media (min-width: 1024px) {
      footer > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1160px;
        margin: auto; } }
    footer > div ul {
      list-style-type: none; }
      footer > div ul li {
        font-size: 15px;
        margin-bottom: 10px; }
        footer > div ul li a {
          color: #011930;
          text-decoration: underline; }
          footer > div ul li a:hover {
            text-decoration: none; }
    footer > div h2 {
      font-size: 15px;
      font-weight: 700;
      color: #011930;
      margin-bottom: 10px; }
    footer > div nav {
      display: block;
      margin-bottom: 20px; }
      @media (min-width: 1024px) {
        footer > div nav {
          flex: 1; } }
      footer > div nav .col {
        margin-bottom: 20px; }
        @media (min-width: 1024px) {
          footer > div nav .col {
            flex: 1;
            margin-bottom: 0; } }
    footer > div > .col {
      margin-top: 20px; }
      @media (min-width: 1024px) {
        footer > div > .col {
          flex: 1;
          margin-top: 0;
          border-left: 1px solid #707070;
          padding-left: 70px; } }
      footer > div > .col ul li:last-child {
        margin-top: 20px; }

body.story main {
  max-width: 725px;
  margin: auto;
  padding: 20px 40px; }
  body.story main h1 {
    font-size: 30px; }
    @media (min-width: 1024px) {
      body.story main h1 {
        font-size: 50px; } }
  body.story main ul,
  body.story main ol {
    padding-left: 40px;
    font-size: 16px;
    line-height: 26px; }
  body.story main p {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 26px; }

.about-banner .banner-inner {
  max-width: 1160px;
  padding: 35px 20px;
  color: #fff;
  margin: auto; }
  .about-banner .banner-inner.light {
    color: #1A1818; }
    .about-banner .banner-inner.light h2 {
      font-size: 43px;
      line-height: 46px; }
  .about-banner .banner-inner.change-order .col {
    order: 2; }
  .about-banner .banner-inner.change-order .col + .col {
    order: 1; }
  .about-banner .banner-inner.change-order .text-wrap {
    padding-left: 0px;
    padding-right: 0; }
    @media (min-width: 1024px) {
      .about-banner .banner-inner.change-order .text-wrap {
        padding-left: 50px;
        padding-right: 0; } }
  @media (min-width: 1024px) {
    .about-banner .banner-inner .row {
      display: flex; } }
  @media (min-width: 1024px) {
    .about-banner .banner-inner .row .col {
      flex: 2 1 0; }
      .about-banner .banner-inner .row .col .text-wrap {
        padding-right: 0; } }
    @media (min-width: 1024px) and (min-width: 1024px) {
      .about-banner .banner-inner .row .col .text-wrap {
        padding-right: 50px; } }
  .about-banner .banner-inner h1 {
    font-size: 43px;
    line-height: 46px; }
    @media (min-width: 1024px) {
      .about-banner .banner-inner h1 {
        font-size: 75px;
        line-height: 80px; } }
  .about-banner .banner-inner h2 {
    font-size: 23px;
    line-height: 30px; }
    @media (min-width: 1024px) {
      .about-banner .banner-inner h2 {
        font-size: 46px;
        line-height: 58px; } }
  .about-banner .banner-inner p {
    font-size: 20px;
    line-height: 34px; }

body.bio .bio-page {
  max-width: 1160px;
  padding: 35px 20px;
  color: #1A1818;
  margin: auto; }
  body.bio .bio-page .row {
    margin-top: 50px; }
    @media (min-width: 1024px) {
      body.bio .bio-page .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; } }
    @media (min-width: 1024px) {
      body.bio .bio-page .row .doublecol {
        flex: 2;
        padding-left: 5%; } }
    body.bio .bio-page .row .col img {
      border: 1px solid #ccc; }
    @media (min-width: 1024px) {
      body.bio .bio-page .row .col {
        flex: 1; } }
  body.bio .bio-page h1 {
    font-size: 45px;
    line-height: 45px; }
    @media (min-width: 1024px) {
      body.bio .bio-page h1 {
        font-size: 75px;
        line-height: 79px;
        font-weight: 800; } }
  body.bio .bio-page h2 {
    font-size: 33px;
    line-height: 36px;
    font-style: italic;
    font-weight: normal;
    margin-top: 12px; }
    @media (min-width: 1024px) {
      body.bio .bio-page h2 {
        font-size: 43px;
        line-height: 46px; } }
  body.bio .bio-page p {
    font-size: 20px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 20px; }

.hr-img {
  margin-bottom: 30px; }

.our-peple {
  margin-top: 30px; }
  .our-peple .our-people-content {
    max-width: 1160px;
    margin: auto;
    padding: 0 20px; }
    @media (min-width: 1024px) {
      .our-peple .our-people-content {
        padding: 0; } }
    .our-peple .our-people-content .row {
      margin-top: 50px; }
      @media (min-width: 1024px) {
        .our-peple .our-people-content .row {
          display: flex;
          justify-content: space-between; } }
      .our-peple .our-people-content .row .col {
        font-size: 0;
        margin-bottom: 20px; }
        @media (min-width: 1024px) {
          .our-peple .our-people-content .row .col {
            width: 31.5%;
            margin-bottom: 0; } }
        .our-peple .our-people-content .row .col img {
          border: 1px solid #ccc;
          box-sizing: border-box; }
        .our-peple .our-people-content .row .col .text {
          color: #fff;
          padding: 30px; }
    .our-peple .our-people-content h2 {
      font-size: 43px;
      line-height: 46px; }
      @media (min-width: 1024px) {
        .our-peple .our-people-content h2 {
          font-size: 43px;
          line-height: 46px; } }
    .our-peple .our-people-content p {
      font-size: 20px;
      line-height: 26px; }

.blog-block .more-link {
  width: 100%;
  text-align: center; }
  .blog-block .more-link a {
    background-color: #FD9200;
    border-radius: 18px;
    font-size: 21px;
    color: #fff;
    display: inline;
    text-decoration: none;
    line-height: 54px;
    padding: 20px; }

@media (min-width: 1024px) {
  #block-company-theme-page-title h1 {
    font-size: 75px; } }

@media (max-width: 1023px) {
  #block-company-theme-page-title h1 {
    font-size: 43px;
    text-align: center; } }

.blog-block.blog-view-more {
  margin: auto; }
  @media (min-width: 1024px) {
    .blog-block.blog-view-more {
      max-width: 1160px;
      padding: 0 20px; } }
  @media (max-width: 1023px) {
    .blog-block.blog-view-more {
      padding: 0 25px; } }
  .blog-block.blog-view-more header {
    margin: auto;
    padding-bottom: 25px;
    font-size: 20px; }
    @media (min-width: 1024px) {
      .blog-block.blog-view-more header {
        max-width: 1160px; } }
    @media (max-width: 1023px) {
      .blog-block.blog-view-more header {
        text-align: center; } }
  @media (min-width: 1024px) {
    .blog-block.blog-view-more > div .blog-block {
      display: flex;
      flex-wrap: wrap; } }
  .blog-block.blog-view-more > div .blog-block .col {
    margin-bottom: 4%;
    color: #fff; }
    @media (min-width: 1024px) {
      .blog-block.blog-view-more > div .blog-block .col {
        flex: 0 30%;
        margin-right: 50px; } }
    @media (min-width: 1024px) {
      .blog-block.blog-view-more > div .blog-block .col:nth-child(3n + 3) {
        margin-right: 0; } }
    .blog-block.blog-view-more > div .blog-block .col .grid-blog {
      background-color: #fff !important; }
    @media (max-width: 1023px) {
      .blog-block.blog-view-more > div .blog-block .col {
        margin-bottom: 41px; } }
    .blog-block.blog-view-more > div .blog-block .col a {
      color: #fff;
      text-decoration: underline; }
    .blog-block.blog-view-more > div .blog-block .col .views-field {
      color: #000; }
      .blog-block.blog-view-more > div .blog-block .col .views-field.views-field-name {
        padding-top: 7px; }
        .blog-block.blog-view-more > div .blog-block .col .views-field.views-field-name h1 {
          font-size: 23px;
          letter-spacing: 0.21px; }
      .blog-block.blog-view-more > div .blog-block .col .views-field.views-field-description__value p {
        margin: 0;
        font-size: 16px;
        color: #464646;
        padding-top: 5px;
        letter-spacing: 0.14px; }
      .blog-block.blog-view-more > div .blog-block .col .views-field.views-field-field-cta-link {
        padding-bottom: 20px; }
      .blog-block.blog-view-more > div .blog-block .col .views-field.views-field-field-teaser-image {
        padding: 0; }
        .blog-block.blog-view-more > div .blog-block .col .views-field.views-field-field-teaser-image img {
          box-sizing: border-box; }

#block-views-block-blog-blog-block {
  padding-top: 40px; }
  #block-views-block-blog-blog-block h2 {
    margin: auto;
    padding: 40px 20px; }
    @media (min-width: 1024px) {
      #block-views-block-blog-blog-block h2 {
        max-width: 1160px; } }
  #block-views-block-blog-blog-block .blog-block.blog-view-more {
    padding: 0; }
  #block-views-block-blog-blog-block > div {
    margin: auto;
    padding: 0 20px; }
    @media (min-width: 1024px) {
      #block-views-block-blog-blog-block > div {
        max-width: 1160px; } }
    @media (min-width: 1024px) {
      #block-views-block-blog-blog-block > div .blog-block {
        display: flex;
        flex-wrap: wrap; } }
    #block-views-block-blog-blog-block > div .blog-block .col {
      margin-bottom: 4%;
      background-color: #011930;
      color: #fff; }
      @media (min-width: 1024px) {
        #block-views-block-blog-blog-block > div .blog-block .col {
          flex: 0 32%;
          margin-right: 2%; } }
      @media (min-width: 1024px) {
        #block-views-block-blog-blog-block > div .blog-block .col:nth-child(3n + 3) {
          margin-right: 0; } }
      #block-views-block-blog-blog-block > div .blog-block .col a {
        color: #fff;
        text-decoration: underline; }
      #block-views-block-blog-blog-block > div .blog-block .col .views-field {
        padding: 0 30px; }
        #block-views-block-blog-blog-block > div .blog-block .col .views-field.views-field-field-title {
          padding-top: 20px; }
          #block-views-block-blog-blog-block > div .blog-block .col .views-field.views-field-field-title a {
            text-decoration: none !important; }
        #block-views-block-blog-blog-block > div .blog-block .col .views-field.views-field-field-cta-link {
          padding-bottom: 20px; }
        #block-views-block-blog-blog-block > div .blog-block .col .views-field.views-field-field-teaser-image {
          padding: 0; }
          #block-views-block-blog-blog-block > div .blog-block .col .views-field.views-field-field-teaser-image img {
            box-sizing: border-box; }

#block-views-block-leadership-leadership h2 {
  margin: auto;
  padding: 40px 20px; }
  @media (min-width: 1024px) {
    #block-views-block-leadership-leadership h2 {
      max-width: 1160px; } }

#block-views-block-leadership-leadership > div {
  margin: auto;
  padding: 0 20px; }
  @media (min-width: 1024px) {
    #block-views-block-leadership-leadership > div {
      max-width: 1160px; } }
  @media (min-width: 1024px) {
    #block-views-block-leadership-leadership > div .leadership {
      display: flex;
      flex-wrap: wrap; } }
  #block-views-block-leadership-leadership > div .leadership .views-field-field-title p {
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px; }
  #block-views-block-leadership-leadership > div .leadership .col {
    margin-bottom: 4%;
    background-color: #011930;
    color: #fff; }
    @media (min-width: 1024px) {
      #block-views-block-leadership-leadership > div .leadership .col {
        flex: 0 23%;
        margin-right: 2%; } }
    @media (min-width: 1024px) {
      #block-views-block-leadership-leadership > div .leadership .col:nth-child(4n + 4) {
        margin-right: 0; } }
    #block-views-block-leadership-leadership > div .leadership .col a {
      color: #fff;
      text-decoration: underline; }
    #block-views-block-leadership-leadership > div .leadership .col .views-field {
      padding: 0 30px; }
      #block-views-block-leadership-leadership > div .leadership .col .views-field.views-field-field-first-name {
        padding-top: 20px; }
      #block-views-block-leadership-leadership > div .leadership .col .views-field.views-field-field-cta-link {
        padding-bottom: 20px; }
      #block-views-block-leadership-leadership > div .leadership .col .views-field.views-field-field-image {
        padding: 0; }
        #block-views-block-leadership-leadership > div .leadership .col .views-field.views-field-field-image img {
          border: 1px solid #ccc;
          box-sizing: border-box; }

.join-team {
  margin: 50px 0; }
  .join-team .join-content {
    max-width: 1160px;
    margin: auto;
    text-align: center; }

.join-team .join-content a {
  background-color: #fd9200;
  border-radius: 18px;
  font-size: 21px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 54px;
  padding: 0 20px; }

.blog-block .views-field-field-background-color {
  display: none; }

.blog-block .views-field-field-cta-link a {
  text-decoration: none !important; }

.home .home-page {
  display: none; }

.paragraph--type--slider-img-video-image-descripti .hr-img .media-oembed-content {
  width: 100% !important;
  height: 480px !important; }

.paragraph--type--slider-img-video-image-descripti .hr-img video {
  width: 100% !important;
  height: 480px !important; }

.parent-company .parent-content {
  margin: auto;
  padding: 0 20px; }
  @media (min-width: 1024px) {
    .parent-company .parent-content {
      max-width: 1160px;
      padding: 0 20px !important; } }
  .parent-company .parent-content h2 {
    font-size: 33px;
    line-height: 36px; }
    @media (min-width: 1024px) {
      .parent-company .parent-content h2 {
        font-size: 43px;
        line-height: 46px; } }
  .parent-company .parent-content .col-2 {
    margin-top: 30px;
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .parent-company .parent-content .col-2 {
        display: flex; } }
    .parent-company .parent-content .col-2 .col {
      float: left; }
      .parent-company .parent-content .col-2 .col img {
        margin-bottom: 10px; }
        @media (min-width: 1024px) {
          .parent-company .parent-content .col-2 .col img {
            margin-bottom: 0; } }
      .parent-company .parent-content .col-2 .col:first-child {
        margin-right: 20px; }
  .parent-company .parent-content p {
    margin-top: 0;
    color: #2c2c2c; }
  .parent-company .parent-content h4 {
    font-size: 25px;
    line-height: 46px;
    color: #011930;
    margin-bottom: 0;
    clear: both; }

.timeline_block .timeline_content {
  margin: auto;
  padding: 0 20px;
  position: relative; }
  @media (min-width: 1024px) {
    .timeline_block .timeline_content::after {
      content: "";
      position: absolute;
      width: 220px;
      background-color: #00a1ed;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -110px; } }
  .timeline_block .timeline_content h2 {
    font-size: 75px;
    line-height: 79px;
    color: #011930; }
  .timeline_block .timeline_content h3 {
    font-size: 43px;
    line-height: 46px;
    color: #011930;
    margin-top: 30px; }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content h3 {
        margin-top: 0px; } }
  @media (min-width: 1024px) {
    .timeline_block .timeline_content h3,
    .timeline_block .timeline_content .timeline-body,
    .timeline_block .timeline_content .col-2 {
      padding-right: 50px; } }
  .timeline_block .timeline_content p {
    color: #2c2c2c; }
  .timeline_block .timeline_content .col-2 {
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .col-2 {
        margin-top: -100px; } }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .col-2 {
        display: flex; } }
    .timeline_block .timeline_content .col-2 h4 {
      color: #00a1ed;
      line-height: 32px;
      font-size: 22px; }
    .timeline_block .timeline_content .col-2 p {
      color: #00a1ed;
      margin: 0; }
    .timeline_block .timeline_content .col-2 .col {
      float: left;
      width: 70%; }
      @media (min-width: 1024px) {
        .timeline_block .timeline_content .col-2 .col {
          width: auto; } }
      .timeline_block .timeline_content .col-2 .col img {
        width: 62px;
        margin-bottom: 10px; }
        @media (min-width: 1024px) {
          .timeline_block .timeline_content .col-2 .col img {
            margin-bottom: 0;
            width: 132px; } }
      .timeline_block .timeline_content .col-2 .col:first-child {
        margin-right: 20px;
        width: 19%; }
        @media (min-width: 1024px) {
          .timeline_block .timeline_content .col-2 .col:first-child {
            width: auto; } }
  .timeline_block .timeline_content .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative; }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px; } }
    .timeline_block .timeline_content .timeline > li {
      margin-bottom: 20px;
      position: relative; }
      .timeline_block .timeline_content .timeline > li:before {
        content: " ";
        display: table;
        content: " ";
        display: table; }
      .timeline_block .timeline_content .timeline > li:after {
        content: " ";
        display: table;
        clear: both;
        content: " ";
        display: table;
        clear: both; }
      .timeline_block .timeline_content .timeline > li > .timeline-panel {
        padding: 0;
        position: relative;
        box-sizing: border-box; }
        @media (min-width: 1024px) {
          .timeline_block .timeline_content .timeline > li > .timeline-panel {
            width: 40.5%;
            float: left; } }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .timeline > li.timeline-inverted h3,
      .timeline_block .timeline_content .timeline > li.timeline-inverted .timeline-body,
      .timeline_block .timeline_content .timeline > li.timeline-inverted .col-2 {
        margin-left: 50px; } }
    .timeline_block .timeline_content .timeline > li.timeline-inverted .timeline-heading::before {
      right: 100%;
      left: 0; }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .timeline > li.timeline-inverted .timeline-badge {
        left: -195px;
        right: auto; } }
    .timeline_block .timeline_content .timeline > li.timeline-inverted > .timeline-panel {
      float: right; }
      .timeline_block .timeline_content .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline_block .timeline_content .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
  .timeline_block .timeline_content .timeline-heading {
    padding-top: 30px;
    position: relative;
    clear: both; }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .timeline-heading {
        clear: none;
        border-top: 1px solid #ccc; } }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .timeline-heading::before {
        content: "";
        position: absolute;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: #011930;
        border-radius: 50%;
        top: -5px; } }
  .timeline_block .timeline_content .timeline-badge {
    line-height: 50px;
    font-size: 75px;
    font-weight: 700; }
    @media (min-width: 1024px) {
      .timeline_block .timeline_content .timeline-badge {
        text-align: center;
        color: #fff;
        position: absolute;
        top: -30px;
        right: -195px;
        z-index: 100;
        font-size: 75px; } }
  .timeline_block .timeline_content .timeline-title {
    margin-top: 0;
    color: inherit; }
  .timeline_block .timeline_content .timeline-body > p {
    margin-bottom: 0; }
    .timeline_block .timeline_content .timeline-body > p + p {
      margin-top: 5px; }
  .timeline_block .timeline_content .timeline-body > ul {
    margin-bottom: 0; }
  @media (min-width: 1024px) {
    .timeline_block .timeline_content {
      max-width: 1160px;
      padding: 0; } }

.banner-content.light,
.banner-content.light .text-wrap {
  color: #000; }

.banner-content.light img {
  border: 1px solid #ccc; }

@media (min-width: 1024px) {
  .alternate-block .alternate-content.change-order .text-wrap {
    padding-left: 50px;
    padding-right: 0; } }

.border-null {
  padding-right: 50px; }

.paragraph--type--counter-component .counter {
  padding: 0 0 50px 0; }
  .paragraph--type--counter-component .counter .counter-number {
    font-size: 30px;
    line-height: normal; }
    @media (min-width: 1024px) {
      .paragraph--type--counter-component .counter .counter-number {
        font-size: 60px;
        line-height: normal; } }

.paragraph--type--counter-component .counter-content {
  margin: auto;
  padding: 0 20px;
  color: #fff; }
  @media (min-width: 1024px) {
    .paragraph--type--counter-component .counter-content {
      max-width: 1160px;
      padding: 0; } }
  .paragraph--type--counter-component .counter-content > div {
    text-align: center; }
    @media (min-width: 600px) {
      .paragraph--type--counter-component .counter-content > div {
        display: flex;
        justify-content: space-between; } }
    .paragraph--type--counter-component .counter-content > div p {
      margin-top: 0; }
    @media (min-width: 1024px) {
      .paragraph--type--counter-component .counter-content > div > div {
        width: 25%; } }
    .paragraph--type--counter-component .counter-content > div > div h3 {
      color: #FD9200; }
  .paragraph--type--counter-component .counter-content .counter-row:nth-child(2) {
    padding-left: 25px;
    padding-right: 25px; }
    @media (max-width: 599px) {
      .paragraph--type--counter-component .counter-content .counter-row:nth-child(2) {
        padding-left: 0;
        padding-right: 0; } }
  .paragraph--type--counter-component .counter-content .counter-row {
    padding-top: 30px; }

.button-transparant {
  font-size: 21px;
  color: #fff;
  display: inline-block;
  text-decoration: none; }

.button-color {
  background-color: #FD9200;
  border-radius: 18px;
  font-size: 21px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 54px;
  padding: 0 20px; }

#toolbar-administration,
#toolbar-administration * {
  z-index: 9999; }

body.toolbar-fixed main {
  padding: 40px 0; }

body.toolbar-fixed .layout-content {
  max-width: 1160px;
  margin: auto;
  min-height: calc(100vh - 265px); }
  body.toolbar-fixed .layout-content #block-company-theme-local-tasks {
    padding: 10px 0;
    margin: 20px 0; }
    body.toolbar-fixed .layout-content #block-company-theme-local-tasks .contextual.open {
      display: block; }
    body.toolbar-fixed .layout-content #block-company-theme-local-tasks ul {
      list-style-type: none;
      padding: 0;
      margin: 0 -5px;
      overflow: hidden;
      height: auto;
      margin: 0;
      padding: 0 3px;
      white-space: nowrap;
      border: none;
      border-collapse: collapse;
      border-bottom: 1px solid #ccc;
      line-height: normal; }
      body.toolbar-fixed .layout-content #block-company-theme-local-tasks ul li {
        display: block;
        float: left;
        margin: 0 5px 0 0; }
        body.toolbar-fixed .layout-content #block-company-theme-local-tasks ul li.block-configure a {
          border: 0;
          color: #000;
          text-decoration: none; }
        body.toolbar-fixed .layout-content #block-company-theme-local-tasks ul li a {
          float: left;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          display: block;
          height: 1.8em;
          padding: 0 10px 3px;
          color: #000;
          border-width: 1px;
          border-style: solid solid none solid;
          border-color: #bbb;
          background-color: #ededed;
          text-shadow: 0 1px 0 #fff;
          font-size: 0.929em;
          line-height: 1.9;
          text-decoration: none; }
          body.toolbar-fixed .layout-content #block-company-theme-local-tasks ul li a.is-active {
            background-color: #fff; }

#block-company-theme-local-tasks {
  padding: 0 20px 20px; }
  #block-company-theme-local-tasks ul {
    list-style-type: none;
    padding: 0;
    margin: 0 -5px;
    overflow: hidden;
    height: auto;
    margin: 0;
    padding: 0 3px;
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    line-height: normal; }
    #block-company-theme-local-tasks ul li {
      display: block;
      float: left;
      margin: 0 5px 0 0; }
      #block-company-theme-local-tasks ul li.block-configure a {
        border: 0;
        color: #000;
        text-decoration: none; }
      #block-company-theme-local-tasks ul li a {
        float: left;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: block;
        height: 1.8em;
        padding: 0 10px 3px;
        color: #000;
        border-width: 1px;
        border-style: solid solid none solid;
        border-color: #bbb;
        background-color: #ededed;
        text-shadow: 0 1px 0 #fff;
        font-size: 0.929em;
        line-height: 1.9;
        text-decoration: none; }
        #block-company-theme-local-tasks ul li a.is-active {
          background-color: #fff; }

@media (min-width: 1024px) {
  #block-company-theme-page-title,
  #block-company-theme-local-tasks {
    max-width: 1160px;
    margin: auto; } }

#block-company-theme-page-title,
#block-company-theme-page-title {
  padding: 0 20px 20px; }

#user-login-form,
#user-pass {
  max-width: 1160px;
  margin: auto;
  padding: 20px;
  min-height: calc(100vh - 120px); }
  #user-login-form .form-item,
  #user-pass .form-item {
    display: block;
    margin-bottom: 15px; }
    #user-login-form .form-item label,
    #user-pass .form-item label {
      display: block;
      font-weight: 700;
      margin-bottom: 10px; }
  #user-login-form .description,
  #user-pass .description {
    font-style: italic;
    color: #666;
    font-size: 14px; }
  #user-login-form input,
  #user-pass input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 18px;
    color: #2C2C2C;
    background-color: #fff; }
  #user-login-form #edit-actions,
  #user-pass #edit-actions {
    text-align: left; }
  #user-login-form #edit-submit,
  #user-pass #edit-submit {
    background-color: #FD9200;
    border: 0;
    padding: 15px 85px;
    font-size: 17px;
    font-weight: 700;
    color: #1A1818;
    cursor: pointer;
    display: inline-block;
    width: auto; }

body.bio .blog-page {
  max-width: 725px;
  margin: auto;
  padding: 20px 40px; }

body.bio .bio-page-heading div {
  display: inline-block; }
  body.bio .bio-page-heading div:first-child {
    margin-right: 5px; }

@media (min-width: 1024px) {
  footer > div nav:last-child {
    border-left: 1px solid #707070;
    padding-left: 90px; } }

footer .copyright {
  font-size: 15px;
  margin-top: 20px; }
  footer .copyright p {
    font-size: 15px;
    margin-top: 20px; }

body.basic-page #block-company-theme-page-title {
  padding: 0; }

body.basic-page main {
  max-width: 1160px;
  margin: auto;
  padding: 20px; }
  body.basic-page main h1 {
    font-size: 30px; }
    @media (min-width: 1024px) {
      body.basic-page main h1 {
        font-size: 50px; } }
  body.basic-page main ul,
  body.basic-page main ol {
    padding-left: 40px;
    font-size: 16px;
    line-height: 26px; }
  body.basic-page main p {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 26px; }

#block-connectwithus ul li a.linkdin {
  background: url(../images/linkedin.png) no-repeat left center;
  background-size: 14px;
  padding-left: 20px; }

#block-connectwithus ul li a.glassdoor {
  background: url(../images/glassdoor.jpg) no-repeat left center;
  background-size: 14px;
  padding-left: 20px; }

header[role="banner"] nav li a.btn {
  background-color: #fd9200;
  border-radius: 18px;
  font-size: 17px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 54px;
  padding: 0 20px; }

header[role="banner"] nav .dropdown {
  position: relative; }
  header[role="banner"] nav .dropdown:hover ul {
    display: block;
    z-index: 1; }
  @media (min-width: 1024px) {
    header[role="banner"] nav .dropdown ul {
      position: absolute;
      text-align: left;
      background: #fff;
      box-shadow: 1px 0px 3px #ccc;
      padding: 15px 20px;
      min-width: 170px;
      top: 22px;
      display: none;
      left: 0; } }
  header[role="banner"] nav .dropdown ul li {
    margin: 0;
    display: block;
    margin-bottom: 10px;
    border: 0;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 0;
    position: relative; }
    @media (min-width: 1024px) {
      header[role="banner"] nav .dropdown ul li {
        padding-left: 0;
        margin-top: 0; } }
    header[role="banner"] nav .dropdown ul li:last-child {
      margin-bottom: 0; }
    header[role="banner"] nav .dropdown ul li a {
      font-weight: 500; }

.img-float-left {
  width: 130px;
  float: none;
  display: block;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    .img-float-left {
      width: 150px;
      margin-bottom: 180px;
      margin-right: 40px;
      margin-top: 10px;
      float: left; } }

ul {
  list-style-position: inside; }

.timeline_block .timeline_content .col-2 {
  margin-top: 0; }

.paragraph--type--title-subtitle-description-image .col-2 p img {
  width: 130px;
  float: none;
  display: block;
  margin-bottom: 20px; }

@media (min-width: 600px) {
  .paragraph--type--title-subtitle-description-image .col-2 p img {
    width: 150px;
    margin-bottom: 110px;
    margin-right: 40px;
    margin-top: 10px;
    float: left; } }

.our-people-blog {
  max-width: 1160px;
  margin: auto;
  padding: 40px 20px 0; }

.our-people #block-views-block-blog-blog-block {
  padding-top: 0; }

.head-with-cta-link {
  max-width: 1160px;
  margin: 60px auto;
  text-align: center; }

.timeline_content img {
  width: 100%;
  height: auto;
  max-width: inherit; }

.toolbar-fixed header[role="banner"] {
  position: relative; }

@media (min-width: 1024px) {
  .mainmenu .menu-item--active-trail {
    border-bottom: 3px solid #34B7C3;
    padding-bottom: 10px; } }
