@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800&display=swap");

html {
  scroll-behavior: smooth;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

main {
  display: block;
  padding-top: 139px;

  @include for-desktop-down {
    padding-top: 85px;
  }
}

body {
  font-family: $open-sans;
  font-weight: 400;
  color: $dark-color;
  margin: 0;

  &.stickyBody {
    padding-top: 64px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  text-transform: capitalize;
}

h2 {
  font-size: $font-42;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: $font-32;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-size: $font-20;
}

a {
  text-decoration: none;
  color: $dark-color;
}

.desktop_image {
  display: none;

  @include for-desktop-up {
    display: block;
  }
}

.mobile_image {
  display: block;

  @include for-desktop-up {
    display: none;
  }
}

// Header Block Common
.branding img {
  width: 180px;
  margin-top: 5px;

  @include for-desktop-up {
    width: 250px;
  }
}

header[role="banner"] {
  background-color: $light-color;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #d7d7d9;

  > div {
    display: flex;
    padding: 10px 24px;

    @include for-desktop-up {
      padding: 10px 20px;
      margin: auto;
      max-width: $max-width;
    }

    .main-navigation-menu {
      flex-grow: 1;
      align-self: center;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .mobile-menu {
    display: inline-block;
    background: transparent;
    border: 0;
    align-self: center;
    text-align: right;
    vertical-align: middle;
    width: 32px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
    margin-right: 24px;

    &:focus {
      outline: 0;
    }

    &.open {
      span {
        background: $light-color;
      }
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $dark-color;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    @include for-desktop-up {
      display: none;
    }
  }

  .mobile-menu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .mobile-menu span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .mobile-menu span:nth-child(3) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .mobile-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
    left: 5px;
  }

  .mobile-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .mobile-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 23px;
    left: 5px;
  }

  .branding {
    justify-content: center;
    display: inline-block;
    vertical-align: middle;
    transform: translate(-50%, -31%);
    position: absolute;
    left: 50%;

    @include for-desktop-up {
      position: relative;
      left: inherit;
      transform: none;
    }
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #000;
    padding-top: 70px;
    z-index: 999;

    @include for-desktop-up {
      padding-top: 0px;
      flex-grow: 1;
      align-self: center;
      text-align: right;
      position: static;
      width: auto;
      height: auto;
      display: block !important;
      background-color: transparent;
    }

    @include for-desktop-down {
      overflow-y: scroll;
      .mainmenu {
        padding-bottom: 60px;
      }
    }

    li {
      display: block;
      border: none;
      margin: 20px 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $heading-color;

      &:last-child {
        margin-right: 0;
        border: 0;
      }

      @include for-desktop-up {
        display: inline-block;
        border: 0;
        padding: 0;
        margin: 0px 10px;

        @include for-tablet-landscape-up {
          margin: 0px 10px !important;
        }
      }

      a {
        color: $light-color;
        font-size: 16px;
        text-decoration: none;

        @include ipadOnly {
          font-size: 17px;
        }

        @include for-desktop-up {
          //text-decoration: underline;
          font-size: 17px;
          color: $dark-blue;
        }

        @include for-tablet-landscape-up {
          font-size: 16px;
          color: $dark-blue;
        }

        @include ipadOnly {
          font-size: 16px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Home Page Banner Block
.banner-block {
  background-color: $dark-blue;
  color: $light-color;

  .banner-content {
    max-width: $max-width;
    margin: auto;
    padding: 20px;

    @include for-desktop-up {
      padding: 0 20px;
    }

    .col-2 {
      box-sizing: border-box;
      display: block;

      @include for-desktop-up {
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      .text-wrap {
        padding-right: 0;
        font-size: 21px;
        line-height: 35px;

        @include for-desktop-up {
          padding-right: 50px;
        }
      }

      .col {
        @include for-desktop-up {
          flex-basis: 41.66666667%;
          max-width: 41.66666667%;
        }
      }

      .col + .col {
        @include for-desktop-up {
          flex-basis: 58.33333333%;
          max-width: 58.33333333%;
        }
      }
    }

    .counter {
      margin-top: 50px;

      .counter-content {
        text-align: center;

        @include for-desktop-up {
          display: flex;
          justify-content: space-between;
        }

        .counter-number {
          font-size: 30px;
          line-height: normal;

          @include for-desktop-up {
            font-size: 60px;
            line-height: normal;
          }
        }
      }

      .col {
        @include for-desktop-up {
          width: 25%;
        }

        h3 {
          color: $heading-color;
        }
      }
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;

    @include for-desktop-up {
      font-size: 101px;
      line-height: 138px;
    }

    span {
      color: #34b7c3;
    }
  }
}

.home {
  .banner-block h1 {
    text-align: center;
  }
  .alternate-block .alternate-content {
    padding-top: 30px;
  }
}

// Alternate Block Section
.alternate-block {
  .alternate-content {
    max-width: $max-width;
    margin: auto;
    box-sizing: border-box;

    @include for-desktop-up {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 32px 0px;
    }

    .text-wrap {
      padding-right: 0;
      font-size: 21px;
      line-height: 35px;
      color: $light-color;

      @include for-desktop-up {
        padding-right: 50px;
      }
    }

    .col {
      @include for-desktop-up {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
      }
    }

    &.change-order {
      .col {
        order: 2;
      }

      .col + .col {
        order: 1;
      }

      .text-wrap {
        padding-left: 0;
        padding-right: 0;

        @include for-desktop-up {
          padding-right: 50px;
        }
      }
    }

    .col + .col {
      @include for-desktop-up {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
      }
    }
  }
}

// Home Brand Section
.brand-content {
  padding: 20px;
  max-width: $max-width;
  margin: auto;

  @include for-desktop-up {
    padding: 50px 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  ul {
    padding: 0 33px;
    list-style: none;

    @include for-tablet-portrait-up {
      display: flex;
      padding: 0;
      justify-content: space-between;
    }

    li {
      text-align: center;
      margin-bottom: 49px;

      @include for-tablet-portrait-up {
        width: 25%;
        padding: 1%;
      }
    }

    p {
      margin: 0;
      font-size: 17px;
      line-height: 24px;
    }
  }
}

// Footer
footer {
  background-color: #f6f6f6;
  color: $dark-blue;
  box-sizing: border-box;
  padding: 40px 20px;

  > div {
    display: block;
    line-height: 1.2;

    @include for-desktop-up {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: $max-width;
      margin: auto;
    }

    ul {
      list-style-type: none;

      li {
        font-size: 15px;
        margin-bottom: 10px;

        a {
          color: $dark-blue;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    h2 {
      font-size: 15px;
      font-weight: 700;
      color: $dark-blue;
      margin-bottom: 10px;
    }

    nav {
      display: block;
      margin-bottom: 20px;

      @include for-desktop-up {
        flex: 1;
      }

      .col {
        margin-bottom: 20px;

        @include for-desktop-up {
          flex: 1;
          margin-bottom: 0;
        }
      }
    }

    & > .col {
      margin-top: 20px;

      @include for-desktop-up {
        flex: 1;
        margin-top: 0;
        border-left: 1px solid #707070;
        padding-left: 70px;
      }

      ul {
        li {
          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

// Story Page
body.story {
  main {
    max-width: 725px;
    margin: auto;
    padding: 20px 40px;

    h1 {
      font-size: 30px;

      @include for-desktop-up {
        font-size: 50px;
      }
    }

    ul,
    ol {
      padding-left: 40px;
      font-size: 16px;
      line-height: 26px;
    }

    p {
      word-wrap: break-word;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

// About Us Page
.about-banner {
  .banner-inner {
    max-width: $max-width;
    padding: 35px 20px;
    color: $light-color;
    margin: auto;

    &.light {
      color: $dark-color;

      h2 {
        font-size: 43px;
        line-height: 46px;
      }
    }

    &.change-order {
      .col {
        order: 2;
      }

      & .col + .col {
        order: 1;
      }

      .text-wrap {
        padding-left: 0px;
        padding-right: 0;

        @include for-desktop-up {
          padding-left: 50px;
          padding-right: 0;
        }
      }
    }

    .row {
      @include for-desktop-up {
        display: flex;
      }

      .col {
        @include for-desktop-up {
          flex: 2 1 0;

          .text-wrap {
            padding-right: 0;

            @include for-desktop-up {
              padding-right: 50px;
            }
          }
        }
      }
    }

    h1 {
      font-size: 43px;
      line-height: 46px;

      @include for-desktop-up {
        font-size: 75px;
        line-height: 80px;
      }
    }

    h2 {
      font-size: 23px;
      line-height: 30px;

      @include for-desktop-up {
        font-size: 46px;
        line-height: 58px;
      }
    }

    p {
      font-size: 20px;
      line-height: 34px;
    }
  }
}

// Bio Page
body.bio {
  .bio-page {
    max-width: $max-width;
    padding: 35px 20px;
    color: $dark-color;
    margin: auto;

    .row {
      margin-top: 50px;

      @include for-desktop-up {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      .doublecol {
        @include for-desktop-up {
          flex: 2;
          padding-left: 5%;
        }
      }

      .col {
        img {
          border: 1px solid #ccc;
        }

        @include for-desktop-up {
          flex: 1;
        }
      }
    }

    h1 {
      font-size: 45px;
      line-height: 45px;

      @include for-desktop-up {
        font-size: 75px;
        line-height: 79px;
        font-weight: 800;
      }
    }

    h2 {
      font-size: 33px;
      line-height: 36px;
      font-style: italic;
      font-weight: normal;
      margin-top: 12px;

      @include for-desktop-up {
        font-size: 43px;
        line-height: 46px;
      }
    }

    p {
      font-size: 20px;
      line-height: 34px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.hr-img {
  margin-bottom: 30px;
}

.our-peple {
  margin-top: 30px;

  .our-people-content {
    max-width: $max-width;
    margin: auto;
    padding: 0 20px;

    @include for-desktop-up {
      padding: 0;
    }

    .row {
      margin-top: 50px;

      @include for-desktop-up {
        display: flex;
        justify-content: space-between;
      }

      .col {
        font-size: 0;
        margin-bottom: 20px;

        @include for-desktop-up {
          width: 31.5%;
          margin-bottom: 0;
        }

        img {
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        .text {
          color: $light-color;
          padding: 30px;
        }
      }
    }

    h2 {
      font-size: 43px;
      line-height: 46px;

      @include for-desktop-up {
        font-size: 43px;
        line-height: 46px;
      }
    }

    p {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.blog-block {
  .more-link {
    width: 100%;
    text-align: center;

    a {
      background-color: #FD9200;
      border-radius: 18px;
      font-size: 21px;
      color: #fff;
      display: inline;
      text-decoration: none;
      line-height: 54px;
      padding: 20px;
    }
  }
}


//Culture block
#block-company-theme-page-title {
  h1 {
    @include for-desktop-up {
      font-size: 75px;
    }

    @include for-desktop-down {
      font-size: 43px;
      text-align: center;
    }
  }
}

.blog-block.blog-view-more {
  margin: auto;

  @include for-desktop-up {
    max-width: $max-width;
    padding: 0 20px;
  }

  @include for-desktop-down {
    padding: 0 25px;
  }

  header {
    margin: auto;
    padding-bottom: 25px;
    font-size: 20px;

    @include for-desktop-up {
      max-width: $max-width;
    }

    @include for-desktop-down {
      text-align: center;
    }
  }

  & > div {

    .blog-block {
      @include for-desktop-up {
        display: flex;
        flex-wrap: wrap;
      }

      .col {
        @include for-desktop-up {
          flex: 0 30%;
          margin-right: 50px;
        }

        &:nth-child(3n + 3) {
          @include for-desktop-up {
            margin-right: 0;
          }
        }

        .grid-blog {
          background-color: #fff !important;
        }

        margin-bottom: 4%;
        color: #fff;

        @include for-desktop-down {
          margin-bottom: 41px;
        }

        a {
          //color: #fff;
          //text-decoration: underline;
        }

        .views-field {
          color: #000;

          &.views-field-name {
            padding-top: 7px;

            h1 {
              font-size: 23px;
              letter-spacing: 0.21px;
            }
          }

          &.views-field-description__value {
            p {
              margin: 0;
              font-size: 16px;
              color: #464646;
              padding-top: 5px;
              letter-spacing: 0.14px;
            }
          }

          &.views-field-field-cta-link {
            padding-bottom: 20px;
          }

          &.views-field-field-teaser-image {
            padding: 0;

            img {
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

// Leadership new
#block-views-block-blog-blog-block {
  padding-top: 40px;

  h2 {
    margin: auto;
    padding: 40px 20px;

    @include for-desktop-up {
      max-width: $max-width;
    }
  }

  .blog-block.blog-view-more {
    padding: 0;
  }

  & > div {
    margin: auto;
    padding: 0 20px;

    @include for-desktop-up {
      max-width: $max-width;
    }

    .blog-block {
      @include for-desktop-up {
        display: flex;
        flex-wrap: wrap;
      }

      .col {
        @include for-desktop-up {
          flex: 0 32%;
          margin-right: 2%;
        }

        &:nth-child(3n + 3) {
          @include for-desktop-up {
            margin-right: 0;
          }
        }

        margin-bottom: 4%;
        background-color: #011930;
        color: #fff;

        a {
          color: #fff;
          text-decoration: underline;
        }

        .views-field {
          padding: 0 30px;

          &.views-field-field-title {
            padding-top: 20px;

            a {
              text-decoration: none !important;
            }
          }

          &.views-field-field-cta-link {
            padding-bottom: 20px;
          }

          &.views-field-field-teaser-image {
            padding: 0;

            img {
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

#block-views-block-leadership-leadership {
  h2 {
    margin: auto;
    padding: 40px 20px;

    @include for-desktop-up {
      max-width: $max-width;
    }
  }

  & > div {
    margin: auto;
    padding: 0 20px;

    @include for-desktop-up {
      max-width: $max-width;
    }

    .leadership {
      @include for-desktop-up {
        display: flex;
        flex-wrap: wrap;
      }

      .views-field-field-title {
        p {
          font-style: italic;
          color: #ffffff;
          font-size: 20px;
          line-height: 28px;
        }
      }

      .col {
        @include for-desktop-up {
          flex: 0 23%;
          margin-right: 2%;
        }

        &:nth-child(4n + 4) {
          @include for-desktop-up {
            margin-right: 0;
          }
        }

        margin-bottom: 4%;

        background-color: #011930;
        color: #fff;

        a {
          color: #fff;
          text-decoration: underline;
        }

        .views-field {
          padding: 0 30px;

          &.views-field-field-first-name {
            padding-top: 20px;
          }

          &.views-field-field-cta-link {
            padding-bottom: 20px;
          }

          &.views-field-field-image {
            padding: 0;

            img {
              border: 1px solid #ccc;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.join-team {
  margin: 50px 0;

  .join-content {
    max-width: $max-width;
    margin: auto;
    text-align: center;
  }
}

.join-team .join-content a {
  background-color: #fd9200;
  border-radius: 18px;
  font-size: 21px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 54px;
  padding: 0 20px;
}

.blog-block .views-field-field-background-color {
  display: none;
}

.blog-block .views-field-field-cta-link a {
  text-decoration: none !important;
}

.home .home-page {
  display: none;
}

.paragraph--type--slider-img-video-image-descripti .hr-img .media-oembed-content {
  width: 100% !important;
  height: 480px !important;
}

.paragraph--type--slider-img-video-image-descripti .hr-img video {
  width: 100% !important;
  height: 480px !important;
}

// Our Brands
.parent-company {
  .parent-content {
    margin: auto;
    padding: 0 20px;

    @include for-desktop-up {
      max-width: $max-width;
      padding: 0 20px !important;
    }

    h2 {
      font-size: 33px;
      line-height: 36px;

      @include for-desktop-up {
        font-size: 43px;
        line-height: 46px;
      }
    }

    .col-2 {
      margin-top: 30px;
      margin-bottom: 30px;

      @include for-desktop-up {
        display: flex;
      }

      .col {
        float: left;

        img {
          margin-bottom: 10px;

          @include for-desktop-up {
            margin-bottom: 0;
          }
        }

        &:first-child {
          margin-right: 20px;
        }
      }
    }

    p {
      margin-top: 0;
      color: #2c2c2c;
    }

    h4 {
      font-size: 25px;
      line-height: 46px;
      color: $dark-blue;
      margin-bottom: 0;
      clear: both;
    }
  }
}

// History Page
.timeline_block {
  .timeline_content {
    margin: auto;
    padding: 0 20px;
    position: relative;

    &::after {
      @include for-desktop-up {
        content: "";
        position: absolute;
        width: 220px;
        background-color: #00a1ed;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -110px;
      }
    }

    h2 {
      font-size: 75px;
      line-height: 79px;
      color: $dark-blue;
    }

    h3 {
      font-size: 43px;
      line-height: 46px;
      color: $dark-blue;
      margin-top: 30px;

      @include for-desktop-up {
        margin-top: 0px;
      }
    }

    h3,
    .timeline-body,
    .col-2 {
      @include for-desktop-up {
        padding-right: 50px;
      }
    }

    p {
      color: #2c2c2c;
    }

    .col-2 {
      @include for-desktop-up {
        margin-top: -100px;
      }

      margin-bottom: 30px;

      @include for-desktop-up {
        display: flex;
      }

      h4 {
        color: #00a1ed;
        line-height: 32px;
        font-size: 22px;
      }

      p {
        color: #00a1ed;
        margin: 0;
      }

      .col {
        float: left;
        width: 70%;

        @include for-desktop-up {
          width: auto;
        }

        img {
          width: 62px;
          margin-bottom: 10px;

          @include for-desktop-up {
            margin-bottom: 0;
            width: 132px;
          }
        }

        &:first-child {
          margin-right: 20px;
          width: 19%;

          @include for-desktop-up {
            width: auto;
          }
        }
      }
    }

    //
    .timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;

      &:before {
        @include for-desktop-up {
          top: 0;
          bottom: 0;
          position: absolute;
          content: " ";
          width: 3px;
          background-color: #eeeeee;
          left: 50%;
          margin-left: -1.5px;
        }
      }

      > li {
        margin-bottom: 20px;
        position: relative;

        &:before {
          content: " ";
          display: table;
          content: " ";
          display: table;
        }

        &:after {
          content: " ";
          display: table;
          clear: both;
          content: " ";
          display: table;
          clear: both;
        }

        > .timeline-panel {
          padding: 0;
          position: relative;
          box-sizing: border-box;

          @include for-desktop-up {
            width: 40.5%;
            float: left;
          }
        }
      }

      > li.timeline-inverted {
        h3,
        .timeline-body,
        .col-2 {
          @include for-desktop-up {
            margin-left: 50px;
          }
        }

        .timeline-heading::before {
          right: 100%;
          left: 0;
        }

        .timeline-badge {
          @include for-desktop-up {
            left: -195px;
            right: auto;
          }
        }

        > .timeline-panel {
          float: right;

          &:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
          }

          &:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
          }
        }
      }
    }

    .timeline-heading {
      padding-top: 30px;
      position: relative;
      clear: both;

      @include for-desktop-up {
        clear: none;
        border-top: 1px solid #ccc;
      }

      &::before {
        @include for-desktop-up {
          content: "";
          position: absolute;
          right: 0;
          width: 10px;
          height: 10px;
          background-color: $dark-blue;
          border-radius: 50%;
          top: -5px;
        }
      }
    }

    .timeline-badge {
      line-height: 50px;
      font-size: 75px;
      font-weight: 700;

      @include for-desktop-up {
        text-align: center;
        color: #fff;
        position: absolute;
        top: -30px;
        right: -195px;
        z-index: 100;
        font-size: 75px;
      }
    }

    .timeline-title {
      margin-top: 0;
      color: inherit;
    }

    .timeline-body {
      > p {
        margin-bottom: 0;

        + {
          p {
            margin-top: 5px;
          }
        }
      }

      > ul {
        margin-bottom: 0;
      }
    }

    @include for-desktop-up {
      max-width: $max-width;
      padding: 0;
    }
  }
}

.banner-content.light,
.banner-content.light .text-wrap {
  color: #000;
}

.banner-content.light img {
  border: 1px solid #ccc;
}

.alternate-block .alternate-content.change-order .text-wrap {
  @include for-desktop-up {
    padding-left: 50px;
    padding-right: 0;
  }
}

.border-null {
  padding-right: 50px;
}

.paragraph--type--counter-component {
  .counter {
    padding: 0 0 50px 0;

    .counter-number {
      font-size: 30px;
      line-height: normal;

      @include for-desktop-up {
        font-size: 60px;
        line-height: normal;
      }
    }
  }

  .counter-content {
    margin: auto;
    padding: 0 20px;
    color: #fff;

    @include for-desktop-up {
      max-width: $max-width;
      padding: 0;
    }

    & > div {
      text-align: center;

      @include for-tablet-portrait-up {
        display: flex;
        justify-content: space-between;
      }

      p {
        margin-top: 0;
      }

      & > div {
        @include for-desktop-up {
          width: 25%;
        }

        h3 {
          color: $heading-color;
        }
      }
    }
    .counter-row:nth-child(2) {
      padding-left: 25px;
      padding-right: 25px;
      @include for-phone-only {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .counter-row {
      padding-top: 30px;
    }
  }
}

.button-transparant {
  font-size: 21px;
  color: $light-color;
  display: inline-block;
  text-decoration: none;
}

.button-color {
  background-color: $heading-color;
  border-radius: 18px;
  font-size: 21px;
  color: $light-color;
  display: inline-block;
  text-decoration: none;
  line-height: 54px;
  padding: 0 20px;
}

// Admin
#toolbar-administration,
#toolbar-administration * {
  z-index: 9999;
}

body.toolbar-fixed {
  main {
    padding: 40px 0;
  }

  .layout-content {
    max-width: $max-width;
    margin: auto;
    min-height: calc(100vh - 265px);

    #block-company-theme-local-tasks {
      padding: 10px 0;
      margin: 20px 0;

      .contextual.open {
        display: block;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0 -5px;

        overflow: hidden;
        height: auto;
        margin: 0;
        padding: 0 3px;
        white-space: nowrap;
        border: none;
        border-collapse: collapse;
        border-bottom: 1px solid #ccc;
        line-height: normal;

        li {
          display: block;
          float: left;
          margin: 0 5px 0 0;

          &.block-configure {
            a {
              border: 0;
              color: #000;
              text-decoration: none;
            }
          }

          a {
            float: left;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            display: block;
            height: 1.8em;
            padding: 0 10px 3px;
            color: #000;
            border-width: 1px;
            border-style: solid solid none solid;
            border-color: #bbb;
            background-color: #ededed;
            text-shadow: 0 1px 0 #fff;
            font-size: 0.929em;
            line-height: 1.9;
            text-decoration: none;

            &.is-active {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

// Login
#block-company-theme-local-tasks {
  padding: 0 20px 20px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 -5px;

    overflow: hidden;
    height: auto;
    margin: 0;
    padding: 0 3px;
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    line-height: normal;

    li {
      display: block;
      float: left;
      margin: 0 5px 0 0;

      &.block-configure {
        a {
          border: 0;
          color: #000;
          text-decoration: none;
        }
      }

      a {
        float: left;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: block;
        height: 1.8em;
        padding: 0 10px 3px;
        color: #000;
        border-width: 1px;
        border-style: solid solid none solid;
        border-color: #bbb;
        background-color: #ededed;
        text-shadow: 0 1px 0 #fff;
        font-size: 0.929em;
        line-height: 1.9;
        text-decoration: none;

        &.is-active {
          background-color: #fff;
        }
      }
    }
  }
}

#block-company-theme-page-title,
#block-company-theme-local-tasks {
  @include for-desktop-up {
    max-width: $max-width;
    margin: auto;
  }
}

#block-company-theme-page-title,
#block-company-theme-page-title {
  padding: 0 20px 20px;
}

#user-login-form,
#user-pass {
  max-width: $max-width;
  margin: auto;
  padding: 20px;
  min-height: calc(100vh - 120px);

  .form-item {
    display: block;
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .description {
    font-style: italic;
    color: #666;
    font-size: 14px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 18px;
    color: $input-color;
    background-color: $light-color;
  }

  #edit-actions {
    text-align: left;
  }

  #edit-submit {
    background-color: $heading-color;
    border: 0;
    padding: 15px 85px;
    font-size: 17px;
    font-weight: 700;
    color: $dark-color;
    cursor: pointer;
    display: inline-block;
    width: auto;
  }
}

body.bio {
  .blog-page {
    max-width: 725px;
    margin: auto;
    padding: 20px 40px;
  }

  .bio-page {
    &-heading {
      div {
        display: inline-block;
        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}

footer > div nav:last-child {
  @include for-desktop-up {
    border-left: 1px solid #707070;
    padding-left: 90px;
  }
}

footer .copyright {
  font-size: 15px;
  margin-top: 20px;
  p {
    font-size: 15px;
    margin-top: 20px;
  }
}

body.basic-page {
  #block-company-theme-page-title {
    padding: 0;
  }

  main {
    max-width: $max-width;
    margin: auto;
    padding: 20px;

    h1 {
      font-size: 30px;

      @include for-desktop-up {
        font-size: 50px;
      }
    }

    ul,
    ol {
      padding-left: 40px;
      font-size: 16px;
      line-height: 26px;
    }

    p {
      word-wrap: break-word;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

#block-connectwithus {
  ul {
    li {
      a.linkdin {
        background: url(../images/linkedin.png) no-repeat left center;
        background-size: 14px;
        padding-left: 20px;
      }

      a.glassdoor {
        background: url(../images/glassdoor.jpg) no-repeat left center;
        background-size: 14px;
        padding-left: 20px;
      }
    }
  }
}

//
header[role="banner"] nav li a.btn {
  background-color: #fd9200;
  border-radius: 18px;
  font-size: 17px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 54px;
  padding: 0 20px;
}

// DropDown
header[role="banner"] nav .dropdown {
  position: relative;

  &:hover {
    ul {
      display: block;
      z-index: 1;
    }
  }

  ul {
    @include for-desktop-up {
      position: absolute;
      text-align: left;
      background: #fff;
      box-shadow: 1px 0px 3px #ccc;
      padding: 15px 20px;
      min-width: 170px;
      top: 22px;
      display: none;
      left: 0;
    }

    li {
      margin: 0;
      display: block;
      margin-bottom: 10px;
      border: 0;
      padding-left: 20px;
      margin-top: 10px;
      padding-bottom: 0;
      position: relative;

      @include for-desktop-up {
        padding-left: 0;
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.img-float-left {
  width: 130px;
  float: none;
  display: block;
  margin-bottom: 20px;
  @include for-tablet-portrait-up {
    width: 150px;
    margin-bottom: 180px;
    margin-right: 40px;
    margin-top: 10px;
    float: left;
  }
}

ul {
  list-style-position: inside;
}

.timeline_block .timeline_content .col-2 {
  margin-top: 0;
}
.paragraph--type--title-subtitle-description-image .col-2 p img {
  width: 130px;
  float: none;
  display: block;
  margin-bottom: 20px;
}
@include for-tablet-portrait-up {
  .paragraph--type--title-subtitle-description-image .col-2 p img {
    width: 150px;
    margin-bottom: 110px;
    margin-right: 40px;
    margin-top: 10px;
    float: left;
  }
}

.our-people-blog {
  max-width: 1160px;
  margin: auto;
  padding: 40px 20px 0;
}

.our-people {
  #block-views-block-blog-blog-block {
    padding-top: 0;
  }
}

.head-with-cta-link {
  max-width: 1160px;
  margin: 60px auto;
  text-align: center;
}

.timeline_content img {
  width:100%;
  height: auto;
  max-width: inherit;
}

.toolbar-fixed {
  header[role="banner"] {
    position: relative;
  }
}

.mainmenu .menu-item--active-trail {
  @include for-desktop-up {
    border-bottom: 3px solid #34B7C3;
    padding-bottom: 10px;
  }
}
