{% set product_tile_base_class = product_tile_base_class|default('product_tile') %}

<div {{ bem(product_tile_base_class, (product_tile_modifiers), product_tile_blockname) }}>

  {% if product_img_src %}
    <div class="product-image">
      <a href="{{product_link}}" aria-label="Link to {{ product_title|striptags }}">
        {% include "@atoms/04-images/00-image/_image.twig" with {
          "img_src": product_img_src,
          "img_alt": 'Thumbnail image of '~ product_title|striptags,
          "image_base_class": product_img_class,
        } %}
      </a>
    </div>
  {% endif %}

  <div class="product-data">

    {% if product_flag_text %}
      <div class="product-flag">
        {% include "@atoms/flag/flag.twig" with {
          "flag_text": product_flag_text,
          "flag_modifiers": flag_modifiers
        } %}
      </div>
    {% endif %}

    {% if product_title %}
      <div class="product-title">
        <a href="{{product_link}}">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 4,
            "heading": product_title,
          } %}
        </a>
      </div>
    {% endif %}

    <div class="product-desc">
      {% if product_desc %}
        <div class="product-detail">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            "paragraph_content": product_desc,
          } %}
        </div>
      {% endif %}
      {% if product_modelno %}
        <div class="product-modelno">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            "paragraph_content": product_modelno,
          } %}
        </div>
      {% endif %}
    </div>

    {% if finish_icons %}
      <div class="product-finish">
        <span class="available-finishes">{{ 'Available finishes:'|t }}</span>
        {% for finish_icon in finish_icons %}
          {% include "@atoms/04-images/finish-icon/finish-icon.twig" with {
            "finish_prod_icon": finish_icon.finish_prod_icon,
          } %}
        {% endfor %}
      </div>
    {% endif %}

    {% if product_link_content %}
      <div class="product-link">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          "link_url": product_link_url,
          "link_content": product_link_content,
        } %}
      </div>
    {% endif %}

  </div>

  {% if product_collection_img_src %}
    <div class="prod-collection-img">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        "img_src": product_collection_img_src,
        "img_alt": product_collection_img_alt
      } %}
    </div>
  {% endif %}
</div>
