
<div class="product_tile product_tile--plp-prod-tile">

      <div class="product-image">
      <a href="#" aria-label="Link to Product title">
        
<img
  class="img"
      src="https://media.brizo.com/elvis/OnWhite/sm/63925LF-PC-B1.png"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

          <div class="product-flag">
        
<div class="flag flag--gray-30">
  Discontinued
</div>
      </div>
    
          <div class="product-title">
        <a href="#">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
              <div class="product-detail">
          
  <p class="paragraph">
          This is product description. Lorem Ipsum Dolor Sit Ame Consec Tetur Adipisicing Elit
      </p>

        </div>
                    <div class="product-modelno">
          
  <p class="paragraph">
          ABCD-1234-EFGH-5678
      </p>

        </div>
          </div>

    
          <div class="product-link">
        <a class="cta-link" href="#">
        Link Number
    </a>
      </div>
    
  </div>

  </div>
