{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('born_faq/faq_component') }}

{% if title %}
<div class="faq-list-title">
  <h6 class="h6">
    {{ title }}
  </h6>
</div>
{% endif %}

<div class="faq-list-desc">
  <div class="faq-wrapper" id="innovation-faq-wrapper">
    {% for row in rows %}
      {%
        set row_classes = [
        default_row_class ? 'views-row',
      ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        <div class="faq-block">
          {{- row.content -}}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<p>&nbsp;</p>
