.alt-img-tile {
  display: flex;
  background: $gray-100;
  align-items: center;

  .video iframe {
    width: 100%;
    height: 100%;
  }

  .video #alt-grid-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
  }

  .uppercase-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $gray-30;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: $font-bold;
  }

  .body-copy {
    margin: 20px 0;
  }

  .u-text-xxxl.u-text-bold {
    line-height: 2.5rem;
    font-size: 2rem !important;
  }

  > div {
    width: 50%;
  }

  .tile-text {
    padding: 20px 60px;
  }

  &.image-right {
    .img {
      order: 2;
    }
  }
}

@media (max-width: 767px) {
  .alt-img-tile {
    flex-direction: column;

    > div {
      width: 100%;
    }

    .u-text-xxxl.u-text-bold {
      font-size: 1.42rem !important;
      line-height: 1.8rem;
    }

    .tile-text {
      padding: 20px 15px;
      order: 2;
    }
  }
}

@media (min-width: 920px) {
  .alt-img-tile {
    .video-banner__content {
      padding-left: 0;
      padding-right: 0;
    }

    .video-banner__play .icon {
      width: 140px;
      height: 140px;
      transition: all 0.3s;

      &:hover {
        transition: all 0.3s;
        height: 180px;
        width: 180px;

        @media (prefers-reduced-motion: reduce) {
          /* Slow down the transition */
          transition: 0s !important;
        }
      }
    }
  }
}
