{{ attach_library('delta_theme/video-banner') }}
<div class="alt-img-tile {{ img_order }}{% if sfcc_lazy_load %} lazy-load-on{% endif %}">
  <div class="img">
  {% if media_type == 'image' %}
    {% if sfcc_lazy_load %}
      <img alt="{{ card_img_alt }}" class="lazyload" src="" data-src="{{ img_src }}" />
    {% else %}
      <img alt="{{ card_img_alt }}" src="{{ img_src }}" />
    {% endif %}
  {% elseif media_type == 'video' %}
    {% if embedded_video_src is not empty %}
      {% set video_iframe %}
        {% set ytregex1 = '/^(?:https?:\\/\\/)?(?:www\.)?(?:youtu\.be\\/|youtube\.com)(?:\\/embed\\/|\\/v\\/|\\/watch\\?v=||\\/watch\\\?.+&v=)/' %}
        {% set ytregexTrailingSlash = '/(\\/)$/' %}
        {% set ytregexTrailingVariables = '/(&+.*)/' %}
        {% set youtubeid = embedded_video_src | replace(ytregex1, '') | replace(ytregexTrailingSlash, '') | replace(ytregexTrailingVariables, '') %}
        <iframe title="embedded-video" id="ytplayer" type="text/html" width="540" height="305" src="https://www.youtube.com/embed/{{ youtubeid }}" frameborder="0" allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
      {% endset %}
    {% endif %}
    {% if uploaded_video_src|render is not empty %}
        {% set video_iframe %}
          <video id="alt-grid-video" controls="true"><source src="{{ uploaded_video_src }}" type="video/mp4"></video>
        {% endset %}
    {% endif %}
      <div class="video-banner paragraph-component">
        <div class="video-banner__content" style="background-image:url(' {{ poster_image }} ')">
          <button class="video-banner__play" title="{{ ada_title }}">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_name: "play",
              icon_size: 80,
              icon_color: 'white',
              hidden: true,
            } %}
          </button>
        </div>
        {% include "@atoms/08-video/video.twig" with {
          video_content: video_iframe
        } %}
      </div>
      {% endif %}
	</div>
	<div class="tile-text">
    <p class="uppercase-title">{{ uppercase_title|replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', 'xt':'<sub>xt</sub>' })|raw  }}</p>
    <p class="u-text-xxxl u-text-bold">{{ main_title|replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', 'xt':'<sub>xt</sub>' })|raw }}</p>
    <p class="body-copy">{{ body_copy|replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', 'xt':'<sub>xt</sub>' })|raw  }}</p>
        <div class="cta-container">
         {% set arr_attributes = cta_url.options.attributes %}
         {% if arr_attributes['target'] == '_blank' %}
           {% set arr_attributes = arr_attributes|merge({'rel': arr_attributes['rel'] ~ ' noopener'}) %}
         {% endif %}
         {% include "@atoms/01-links/cta-link/cta-link.twig" with {
           cta_link_modifiers: { 1: "lg" },
           cta_link_icon: "carrot-right",
           cta_link_icon_position: "right",
           cta_link_icon_size: "10px",
           cta_link_text: cta_text,
           cta_link_url: cta_url,
           cta_link_attributes: arr_attributes
         } %}
        </div>
	</div>
</div>
