{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% if configuration.view_id %}
  {% set view_id = configuration.view_id %}
{% endif %}
{% set display = 'grid-col-12 grid-col-md-12 grid-col-lg-12' %}
{% set method_suffix = random() %}
<div id="block-{{ plugin_id|replace({'_': "-", ":" : "-"}) }}-{{method_suffix}}" {{ bem('block','','',[display]) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('h2') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% set view = content.view_build %}
    {% set items = content.view_build['#rows'] %}
    {% set values = [] %}
    {% set rows_view = content.view_build['#rows'] %}
    {% for view in rows_view %}
      {% for row in view['#rows'] %}
        {% if row['#row']._relationship_entities["field_wob_featured_product"].parent_id[0].value == view_id %}
          {% set values = values|merge([row]) %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if values %}
      {% set item = items.0 %}
      {% set item = item|merge({"#rows": values}) %}
      {% set row_this = [item] %}
      {% set view = view|merge({"#rows": row_this}) %}
      {% set content = content|merge({'view_build': view}) %}
    {% endif %}
    {{ content }}
  {% endblock %}
</div>
