{% if form.erroroncheckout %}
    {{ form.erroroncheckout }}
{% endif %}

<div class="error-on-paymetric">

</div>

{{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <ol class="row ecommerce-steps">
        <li class="next"><div class="">Shipping</div></li>
        <li class="active">Payment & Order Review</li>
    </ol>
    {{ form.card_info }}
    {{ form.hidden }}
    {{ form.render }}
    {{ form.payment_billing_info }}
    {{ form.payment_info }}
    {{ form.accesstokenXml }}
    {{ form.accept_order_details }}
{{ form.actions }}
{{ form.submit }}

<div class="layout-region layout-region-checkout-secondary">
    <h3>Your Order</h3>
    <div class="view-content">
        <div class="order-prd-img">
            <img src="{{ form.response['#items']['orderItems'][0]['imageUrl'] }}">
        </div>
        <div class="order-prd-title-wrapper">
            <span class="order-prd-title">{{ form.ship_response['#items']['orderItems'][0]['title'] }}</span>
            <span class="order-prd-price">{{ form.ship_response['#items']['orderItems'][0]['unitprice'] }}</span>
        </div>
        <div class="order-prd-desc-wrapper">
            <span class="order-prd-des-sku">Product #: </span><span class="order-prd-title">{{ form.ship_response['#items']['orderItems'][0]['sku'] }}</span>
            <span class="order-prd-des-price">Price: </span><span class="order-prd-price">{{ form.ship_response['#items']['orderItems'][0]['unitPrice'] }}</span>
            <span class="order-prd-des-qty">Qty: </span><span class="order-prd-price">{{ form.ship_response['#items']['orderItems'][0]['qty'] }}</span>
        </div>
    </div>
    <div class="view-footer">
        <div>
            <div class="order-total-line order-total-line__subtotal">
                <span class="order-total-line-label">Subtotal </span><span class="order-total-line-value">{{ form.ship_response['#items']['orderSubTotal'] }}</span>
            </div>
            <div class="order-total-line order-total-line__total">
                <span class="order-total-line-label">Total </span><span class="order-total-line-value">{{ form.ship_response['#items']['orderTotal'] }}</span>
            </div>
        </div>
    </div>
</div>
<div class="layout-region layout-region-checkout-secondary">
    <h3>Shipping Information</h3>
    <div class="view-content">
        <span class="shipping-option-head">Shipping Option </span>
        <span class="shipping-option-value">{{ form.ship_response['#items']['shippingAddress'][0]['fullName'] }}</span>
    </div>
    <div class="order-total-line order-total-line__subtotal">
        <span class="shipping-address-head">Shipping Address </span>
        <span class="shipping-address-value">{{ form.ship_response['#items']['shippingAddress'][0]['fullName'] }}</span>
        <span class="shipping-address-value">{{ form.ship_response['#items']['shippingAddress'][0]['address1'] }}{{ form.ship_response['#items']['shippingAddress'][0]['address2'] }}</span>
        <span class="shipping-address-value">{{ form.ship_response['#items']['shippingAddress'][0]['city'] }}{{ form.ship_response['#items']['shippingAddress'][0]['state'] }}{{ form.ship_response['#items']['shippingAddress'][0]['zip5'] }}</span>
    </div>
    <div class="order-total-line order-total-line__total">
        <span class="contact-info-head">Contact Information </span>
        <span class="contact-info-value">{{ form.ship_response['#items']['phone'] }}</span>
        <span class="contact-info-value">{{ form.ship_response['#items']['email'] }}</span>
    </div>
</div>
