{{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <h2>{{ "Order Status"|t }}</h2>
    <div class="order-status-head">
        <h3>{{ "Track Your Order" }}</h3>
        <span>{{ "To track specific order, Enter your order number, Email address, Zip Code associated with your purchase."|t }}</span>
    </div>
    {{ form.render }}
    {{ form.ordernumber }}
    {{ form.email }}
    {{ form.zipcode }}
{{ form.submit }}
{{ form.actions }}

<div class="order-status-footer">
    <span>{{ "if you don't have this information but want to track your order, please contact "|t }}<strong>{{ "Customer Support at 1-123-456-7890."|t }}</strong></span>
    <span>{{ "if need you make a return, please see our "|t }}<strong>{{ "Return Policy"|t }}</strong></span>
</div>

