{% if form.erroroncheckout %}
    {{ form.erroroncheckout }}
{% endif %}
{{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <ol class="row ecommerce-steps">
        <li class="active"><div class="">Shipping</div></li>
        <li class="next">Payment & Order Review</li>
    </ol>
    {{ form.previous_url }}
    {{ form.shipping_option }}
    {{ form.shipping_details }}
    {{ form.contact_details }}
{{ form.actions }}

<div class="layout-region layout-region-checkout-secondary">
   <h3>Your Order</h3>
   <div class="view-content">
      <div class="order-prd-img">
         <img src="{{ form.response['#items']['orderItems'][0]['imageUrl'] }}">
      </div>
      <div class="order-prd-title-wrapper">
         <span class="order-prd-title">{{ form.response['#items']['orderItems'][0]['title'] }}</span>
         <span class="order-prd-price">{{ form.response['#items']['orderItems'][0]['unitprice'] }}</span>
      </div>
      <div class="order-prd-desc-wrapper">
         <span class="order-prd-des-sku">Product #: </span><span class="order-prd-title">{{ form.response['#items']['orderItems'][0]['sku'] }}</span>
         <span class="order-prd-des-price">Price: </span><span class="order-prd-price">{{ form.response['#items']['orderItems'][0]['unitPrice'] }}</span>
         <span class="order-prd-des-qty">Qty: </span><span class="order-prd-price">{{ form.response['#items']['orderItems'][0]['qty'] }}</span>
      </div>
   </div>
   <div class="view-footer">
      <div>
         <div class="order-total-line order-total-line__subtotal">
            <span class="order-total-line-label">Subtotal </span><span class="order-total-line-value">{{ form.response['#items']['orderSubTotal'] }}</span>
         </div>
         <div class="order-total-line order-total-line__total">
            <span class="order-total-line-label">Total </span><span class="order-total-line-value">{{ form.response['#items']['orderTotal'] }}</span>
         </div>
      </div>
   </div>
</div>
