<div class="container">
    <div class="region region-content">
            <h1> Your Order is Confirmed!</h1>
            <div class="bold text-uppercase">Your Order # <span class="order-no">{{ order_conformation['#items']['orderNumber'] }}</span></div>
            <div class="order-desc">You will receive and email conformation shortly.</div>
            <input data-drupal-selector="edit-checkout" type="button" id="order-status" name="order-status" value="Check Order Status" class="button btn btn--primary">
            <div class="continue-browsing"><a href="#">Continue Browsing</a></div>

            <div class="shipping_address">
                <div class="shipping-address-wrap">
                    <div class="ship-to-address bold text-uppercase">Shipping Information</div>
                    <div class="name"><strong> Shipping Option: </strong>
                    {% if order_conformation['#items']['shippingServiceLevel'] == 'CGR' %}
                        <span>Ground ($ {{ order_conformation['#items']['shippingCharge'] }})</span>
                    {% else %}
                        <span>Priority ($ {{ order_conformation['#items']['shippingCharge'] }})</span>
                    {% endif %}
                    </div>
                    <div class="shipping-address"><strong>Shipping Address</strong>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['fullName'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['address1'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['address2'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['city'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['state'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['zip5'] }}</span>
                    </div>
                    <div class="contact-info"><strong> Contact Information </strong>
                        <span>{{ order_conformation['#items']['phone'] }}</span>
                        <span>{{ order_conformation['#items']['email'] }}</span>
                    </div>
                </div>
            </div>
        <div class="billing_address">
            <div class="billing-address-wrap">
                <div class="bill-to-address bold text-uppercase">Payment Information:</div>
                <div class="name"><strong> Credit Card Information: </strong>
                    <span>{{ order_conformation['#items']['ccType'] }}</span>
                    <span>{{ "****************" }}</span>
                    <span>Expires: {{ order_conformation['#items']['ccExpireMonth'] }}{{ "/" }}{{ order_conformation['#items']['ccExpireYear'] }} </span>
                </div>
                <div class="billing-address"><strong>Billing Address</strong>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['fullName'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['address1'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['address2'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['city'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['state'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['zip5'] }}</span>
                </div>
            </div>
        </div>
        <div id="order-review">
            <div class="order-status-table"><strong>Your Order</strong>
                <div class="product-info">
                    <img src="{{ order_conformation['#items']['orderItems'][0]['imageUrl'] }}">
                    <h3>{{ order_conformation['#items']['orderItems'][0]['title'] }}</h3>
                    <span>${{ order_conformation['#items']['orderItems'][0]['unitPrice'] }}</span>
                    <div>Product #:<span>{{ order_conformation['#items']['orderItems'][0]['sku'] }}</span></div>
                    <div>Price: $<span>{{ order_conformation['#items']['orderItems'][0]['unitPrice'] }}</span></div>
                    <div>Qty: <span>{{ order_conformation['#items']['orderItems'][0]['qty'] }}</span></div>
                </div>
                <div class="product-price-info">
                    <div>Subtotal:<span>{{ order_conformation['#items']['orderSubTotal']}}</span></div>
                    <div>Shipping: $<span>{{ order_conformation['#items']['shippingCharge'] }}</span></div>
                    <div>Sales Tax: <span>{{ order_conformation['#items']['orderItems'][0]['qty'] }}</span></div>
                </div>
                <div class="product-price-info">
                    <div>Subtotal:<span>${{ order_conformation['#items']['orderTotal']}}</span></div>
                    <div>prices are shown in US Dollers ($USD)</div>
                </div>
            </div>
        </div>
    </div>
</div>
