<div class="container">
    <div class="region region-content">
            <h1>Order # <span class="order-no">{{ order_conformation['#items']['orderNumber'] }}</span></h1>

            <div class="shipping_address">
                <div class="shipping-address-wrap">
                    <div class="ship-to-address bold text-uppercase"><strong> Shipping Information: </strong></div>
                    <div class="name"><strong> Shipping Option </strong>
                    {% if order_conformation['#items']['shippingServiceLevel'] == 'CGR' %}
                        <span>Ground ($ {{ order_conformation['#items']['shippingCharge'] }})</span>
                    {% else %}
                        <span>Priority ($ {{ order_conformation['#items']['shippingCharge'] }})</span>
                    {% endif %}
                    </div>
                    <div class="shipping-address"><strong>Shipping Address</strong>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['fullName'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['address1'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['address2'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['city'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['state'] }}</span>
                        <span>{{ order_conformation['#items']['shippingAddress'][0]['zip5'] }}</span>
                    </div>
                    <div class="contact-info"><strong> Contact Information </strong>
                        <span>{{ order_conformation['#items']['phone'] }}</span>
                        <span>{{ order_conformation['#items']['email'] }}</span>
                    </div>
                </div>
            </div>
        <div class="billing_address">
            <div class="billing-address-wrap">
                <div class="billing-address"><strong>Billing Address</strong>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['fullName'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['address1'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['address2'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['city'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['state'] }}</span>
                    <span>{{ order_conformation['#items']['billingAddress'][0]['zip5'] }}</span>
                </div>
            </div>
        </div>
        <div id="order-review">
            <div class="order-status-table"><strong>Order Details</strong>
                <div class="product-info">
                    <img src="{{ order_conformation['#items']['orderItems'][0]['imageUrl'] }}" width="100" />
                    <h3>{{ order_conformation['#items']['orderItems'][0]['title'] }}</h3>
                    <span>${{ order_conformation['#items']['orderItems'][0]['unitPrice'] }}</span>
                    <div>Product #:<span>{{ order_conformation['#items']['orderItems'][0]['sku'] }}</span></div>
                    <div>Price: $<span>{{ order_conformation['#items']['orderItems'][0]['unitPrice'] }}</span></div>
                    <div>Qty: <span>{{ order_conformation['#items']['orderItems'][0]['qty'] }}</span></div>
                </div>
                <div class="product-price-info">
                    <div>Subtotal:<span>{{ order_conformation['#items']['orderSubTotal']}}</span></div>
                    <div>Shipping: $<span>{{ order_conformation['#items']['shippingCharge'] }}</span></div>
                    <div>Sales Tax: <span>{{ order_conformation['#items']['orderItems'][0]['qty'] }}</span></div>
                </div>
                <div class="product-price-info">
                    <div>Subtotal:<span>${{ order_conformation['#items']['orderTotal']}}</span></div>
                    <div>Prices are shown in US Dollars ($USD)</div>
                </div>
            </div>
        </div>
    </div>
</div>
