{% if form.orderStatusError %}
    <div class="orderStatusErrMsg">
        {{ form.orderStatusError }}
    </div>
{% endif %}

<div class="orderDetails">
    <h1>{{ "Order Details"|t }}</h1>
    <div>
        <div>
            <span>{{ "Order #:"|t }}{{ orderStatusInfo['orderNo'] }}</span>
        </div>
        <div>
            <span>{{ "Order Placed:"|t }}{{ orderStatusInfo['orderPlaced'] }}</span>
        </div>
    </div>
    <table>
        <tr>
            <th>{{ "Item"|t }}</th>
            <th>{{ "Order Status"|t }}</th>
            <th>{{ "Tracking Number"|t }}</th>
            <th>{{ "Quantity"|t }}</th>
            <th>{{ "Price"|t }}</th>
        </tr>
        <tr>
            <td>
                <img src="{{ orderStatusInfo['productImg'] }}">
                <span>{{ orderStatusInfo['ProductName'] }}</span>
                <span>{{ "Product Number: "|t }}{{ orderStatusInfo['productCode'] }}</span>
            </td>
            <td>{{ orderStatusInfo['orderStatus'] }}</td>
            <td>{{ orderStatusInfo['trackingNumber'] }}</td>
            <td>{{ orderStatusInfo['orderQty'] }}</td>
            <td>{{ orderStatusInfo['productPrice'] }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <span>{{ "Subtotal:  $"|t }}{{ orderStatusInfo['subTotal'] }}</span>
                <span>{{ "Shipping:  $"|t }}{{ orderStatusInfo['shipCharge'] }}</span>
                <span>{{ "Sales Tax:  $"|t }}{{ orderStatusInfo['salesTax'] }}</span>
                <span><strong>{{ "TOTAL: $"|t }}{{ orderStatusInfo['orderTotal'] }}</strong></span>
                <span>{{ "Prices are shown in US Dollars($USD)" }}</span>
            </td>
        </tr>
    </table>
</div>

<div class="back-order-status-form">
    <a href="/order-status">{{ "Back To Order Form"|t }}</a>
</div>