<section class="innovation-section">
  <div class="grid-container grid-container--medium">
    <div class="innovation-product-features">
      <img class="innovation-product-features__image" src="{{ features.image_url }}" alt="{{ features.image_alt_text }}" />
      <div class="innovation-product-features__content">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 3,
          "heading": "Product Features",
        } %}

        <ul>
          {% for item in features.content %}
            <li class="list-item">{{ item.value }}</li>
          {% endfor %}
        </ul>
        {% if features.description %}
          <div class="innovation-product-features__footer">
            {{ features.description|raw }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
