{% set method_suffix = random() %}
<div class="alternative_image_copy_card">
  <div class="alternative-image-copy-card paragraph-component" id="">
    <div class="layout layout--onecol">
      <div class="layout__region layout__region--content"></div>
    </div>
    <div class="layout layout--alternative-image-copy-card layout--alternative-image-copy-card--50-50">
    	{% if image_position == 'left' %}
      <div class="layout__region layout__region--first left-img">
    		<div data-block-plugin-id="field_block:paragraph:alternative_image_copy_card:field_left_section" class="block">
          <div class="content">
            <div class="field-values-in field_left_section">
              <div class="promotion-banner impression-added">
                <div class="overlap_column alternative-image-olverlapping section-lead-in paragraph-component left" id="">
                  <div class="text-long">
                    <p id="broderick"> {% for finish_object_values in finish_object %} <img alt="{{finish_object_values.img_alt_text}}" class="finish-product-img" data-entity-type="" data-entity-uuid="" data-finish="{{finish_object_values.img_title_text}}" src="{{finish_object_values.img_url}}"> {% endfor %} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__region layout__region--second right-text">
        <div data-block-plugin-id="field_block:paragraph:alternative_image_copy_card:field_right_section" class="block">
          <div class="content">
            <div class="field-values-in field_right_section">
              <div class="promotion-banner impression-added">
                <div class="overlap_column copy alternative-image-olverlapping---copy-column section-lead-in paragraph-component left" id="">
                  <div class="text-long">
                    <h3>{{ heading|striptags('<sub><sup><u><s><span><strong>') | raw }}</h3>
                    <p>{{description|striptags('<sub><sup><u><s><span><strong>') | raw}}</p>
                    <p>
                      <a class="button-primary" href="{{cta_url}}">{{cta_label}}</a>
                    </p>
                    <div class="collection-swatches" id="collection-swatches-{{method_suffix}}">
                      <p>
                        <span>Finish:</span>
                        <span class="finish-name"></span>
                      </p>
                      <ul> {% for finish_object_values in finish_object %} <li>
                          <a class="finish-chip" data-finish-value="{{finish_object_values.finish_name}}" href="#" style="background-image: url('{{finish_object_values.finish_icon_uri}}') ">{{finish_object_values.finish_label}} </a>
                        </li> {% endfor %} </ul>
                    </div>
                    <!-- end  collection-swatches -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    	{% else %}
      <div class="layout__region layout__region--first left-text">
        <div data-block-plugin-id="field_block:paragraph:alternative_image_copy_card:field_left_section" class="block">
          <div class="content">
            <div class="field-values-in field_left_section">
              <div class="promotion-banner impression-added">
                <div class="overlap_column copy alternative-image-olverlapping---copy-column section-lead-in paragraph-component left" id="">
                  <div class="text-long">
                    <h3>{{heading|striptags('<sub><sup><u><s><span><strong>') | raw}}</h3>
                    <p>{{description|striptags('<sub><sup><u><s><span><strong>') | raw}}</p>
                    <p>
                      <a class="button-primary" href="{{cta_url}}">{{cta_label}}</a>
                    </p>
                    <div class="collection-swatches" id="collection-swatches-{{method_suffix}}">
                      <p>
                        <span>Finish:</span>
                        <span class="finish-name"></span>
                      </p>
                      <ul> {% for finish_object_values in finish_object %} <li>
                          <a class="finish-chip" data-finish-value="{{finish_object_values.finish_name}}" href="#" style="background-image: url('{{finish_object_values.finish_icon_uri}}') ">{{finish_object_values.finish_label}} </a>
                        </li> {% endfor %} </ul>
                    </div>
                    <!-- end  collection-swatches -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__region layout__region--second right-img">
        <div data-block-plugin-id="field_block:paragraph:alternative_image_copy_card:field_right_section" class="block">
            <div class="content">
              <div class="field-values-in field_right_section">
                <div class="promotion-banner impression-added">
                  <div class="overlap_column alternative-image-olverlapping section-lead-in paragraph-component left" id="">
                    <div class="text-long">
                      <p id="broderick"> {% for finish_object_values in finish_object %} <img alt="{{finish_object_values.img_alt_text}}" class="finish-product-img" data-entity-type="" data-entity-uuid="" data-finish="{{finish_object_values.img_title_text}}" src="{{finish_object_values.img_url}}"> {% endfor %} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    	{% endif %}
      {# <div class="layout__region layout__region--first"> #}
    </div>
  </div>
</div>

