{{ attach_library('delta_theme/single-image-slider')}}
{% if reviews.reviews|length > 0 %}
  <div class="di-prod-slider" style="background:url({{ reviews.bg_img }})">
    <div class="di-prod-slider-title">
      <h2 class="h2">{{ reviews.heading|raw }}</h2>
    </div>

    <div class="di-prod-slider-desc">
      <div class="review_slide slider single-item" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "autoplay": false}' >
        {% for review_slide in reviews.reviews %}
          {% include "@molecules/review-slide/review-slide.twig" with {
            "rs_rating": review_slide.rs_rating,
            "rs_author": review_slide.rs_author,
            "rs_source_link_url": review_slide.rs_source_link_url,
            "rs_source_link_content": review_slide.rs_source_link_content,
            "rs_date": review_slide.rs_date,
            "rs_title": review_slide.rs_title,
            "rs_desc": review_slide.rs_desc,
            "rs_all_review_link_url": review_slide.rs_all_review_link_url,
            "rs_all_review_link_content": review_slide.rs_all_review_link_content,
            "rs_prod_image_url": review_slide.rs_prod_image_url,
            "rs_prod_image_alt": review_slide.rs_prod_image_alt,
            "rs_prod_title": review_slide.rs_prod_title,
            "rs_prod_desc": review_slide.rs_prod_desc,
            "rs_prod_link_content": review_slide.rs_prod_link_content,
            "rs_prod_link_url": review_slide.rs_prod_link_url,
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
