{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  paragraph.bundle|clean_class
]
%}
{% if video_banner_data.video.video_type == 1 %}
  {% include "@pages/innovation-details/innovation-secondary-banner/innovation-secondary-banner.twig"
    with{
    "desktop_image_url" : video_banner_data.desktop_image_url,
    "title" : video_banner_data.title,
    "content" : video_banner_data.content,
    "vot_tabs" : video_banner_data.illustrate,
    "video" : {
      "video_title":video_banner_data.video.video_title,
      "video_thumbnail_src":video_banner_data.video.video_thumbnail_src,
      "video_content": video_banner_data.video.video_content,
      "video_exist" : video_banner_data.video.video_content
    }
  }
  %}
{% else %}
  {% include "@pages/innovation-details/innovation-video-secondary-banner/innovation-video-secondary-banner.twig"
    with{
    "desktop_image_url" : video_banner_data.desktop_image_url,
    "desktop_image_alt" : video_banner_data.desktop_image_alt,
    "title" : video_banner_data.title,
    "content" : video_banner_data.content,
      "video_title":video_banner_data.video.video_title,
      "video_thumbnail_src":video_banner_data.video.video_thumbnail_src,
      "video_source": video_banner_data.video.video_content,
      "video_exist" : video_banner_data.video.video_content,


  }
  %}
{% endif %}
