{{ attach_library('delta_theme/single-image-slider')}}

<div class="single-image-slider-out-caption slider single-item" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": false, "adaptiveHeight": true}' >
  {% block single_image_slider_content %}
    {% for single_image_slider in data.single_image_sliders %}
      {% set image_url = file_url(single_image_slider.single_silder_image_url) %}

      <div class="slider-img-block-wrapper">

        <div class="slider-img-block" style="background:url(' {{single_image_slider.single_silder_image_url}} ')">
          {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: image_url,
            img_alt: single_image_slider.single_silder_image_alt,
          } %}
        </div>

        <div class="slider-img-caption">
          {% if single_image_slider.slider_image_title %}
            <div class="slider-img-title">
              {% include "@atoms/02-text/00-headings/_heading.twig" with {
                "heading_level": 6,
                "heading": single_image_slider.slider_image_title,
              } %}
            </div>
          {% endif %}

          {% if single_image_slider.slider_image_desc %}
            <div class="slider-img-desc">
              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: single_image_slider.slider_image_desc,
              } %}
            </div>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  {% endblock %}
</div>
