{{ attach_library('delta_theme/single-image-slider')}}
<div class="single-image-slider custom-slider slider single-item {{ data.slidestoshow > 1 ? 'slider-dots' : '' }}" data-slick='{"slidesToShow": {{data.slidestoshow}}, "slidesToScroll": {{data.slidestoscroll}}, "speed": {{data.sliderSpeed}}, "autoplay": {{data.sliderAutoplay}}, "arrows": {{data.sliderArrows}}, "dots": {{data.sliderDots}}, "fade": {{data.sliderFade}}, "useCSS": {{data.sliderUseCss}}, "cssEase": "{{data.sliderAnimation}}", "adaptiveHeight": true, "responsive": [
{ "breakpoint": 900, "settings": { "slidesToShow": {{data.slidestoshow > 1 ? 2 : 1}} } }, { "breakpoint": 550, "settings": { "slidesToShow": 1 }}] }' >
    {% block single_image_slider_content %}
        {% for single_image_slider in data.single_image_sliders %}
            {% set image_url = file_url(single_image_slider.single_silder_image_url) %}
            {% set image_mobile_url = file_url(single_image_slider.single_silder_mobile_image_url) %}
            {% set slider_content_alignment = single_image_slider.slider_content_alignment %}
            {% set slider_content_max_width = single_image_slider.slider_content_max_width %}            
            <div class="slider-img-block-wrapper {{ data.slidestoshow > 1 ? 'padding-10' : '' }}">
                <div class="slider-img-block desktop">
                    {% include "@atoms/04-images/00-image/_image.twig" with {
                        img_src: image_url,
                        img_alt: single_image_slider.single_silder_image_alt,
                    } %}
                </div>
                <div class="slider-img-block mobile">
                    {% include "@atoms/04-images/00-image/_image.twig" with {
                        img_src: image_mobile_url,
                        img_alt: single_image_slider.single_silder_mobile_image_alt,
                    } %}
                </div>
                <div class="slider-img-caption {{ slider_content_alignment }}" style="max-width:{{ slider_content_max_width }}%">
                    {% if single_image_slider.slider_image_title %}
                        <div class="slider-img-title">
                            {% include "@atoms/02-text/00-headings/_heading.twig" with {
                                "heading_level": 1,
                                "heading": single_image_slider.slider_image_title|replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', '2':'<sub>2</sub>', 'xt':'<sub>xt</sub>' }),
                            } %}
                        </div>
                    {% endif %}

                    {% if single_image_slider.slider_image_desc %}
                        <div class="slider-img-desc">
                            {% include "@atoms/02-text/text/01-paragraph.twig" with {
                                paragraph_content: single_image_slider.slider_image_desc,
                            } %}
                        </div>
                    {% endif %}

                    {% if single_image_slider.slider_link_content %}
                        <div class="slider-img-link">
                            {% include "@atoms/06-buttons/01-button.twig" with {
                                "button_url": single_image_slider.slider_link_url,
                                "button_content": single_image_slider.slider_link_content|replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', '2':'<sub>2</sub>', 'xt':'<sub>xt</sub>' }),
                                "button_modifiers": ['primary'],
                                "button_attributes": single_image_slider.slider_link_attributes ? create_attribute(single_image_slider.slider_link_attributes) : create_attribute({})
                            } %}
                        </div>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    {% endblock %}
</div>
