<div class="designbeyond {{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
    <div class="qidl-wrapper grid">
        {% for qidl_block in data.catalog_four_grid %}
            {% set image_url = file_url(qidl_block.text_img_block_image_src) %}
            {% set get_cta_txt = qidl_block.text_img_block_cta_more_content %}
            {% set get_cta_link = qidl_block.text_img_block_more_url %}
            {% if get_cta_txt is empty and get_cta_link is not empty and image_url is not empty  %}
              <div class="grid-col-md-{{ data.number_of_cols }}">
                    {% include "@molecules/quote-image-desc-link-img-cta/quote-image-desc-link-img-cta.twig" with {
                        "qidl_quote": qidl_block.text_img_block_title,
                        "qidl_image_src": image_url,
                        "qidl_image_alt": qidl_block.text_img_block_image_alt,
                        "qidl_desc": qidl_block.text_img_block_desc,
                        "qidl_more_url": qidl_block.text_img_block_more_url,
                        "qidl_more_content": qidl_block.text_img_block_cta_more_content,
                        "qidl_more_modifiers": qidl_block.modifiers,
                        "qidl_more_attributes": qidl_block.attributes,
                    } %}
                </div>            
            {% else %} 
                <div class="grid-col-md-{{ data.number_of_cols }}">
                    {% include "@molecules/quote-image-desc-link/quote-image-desc-link.twig" with {
                        "qidl_quote": qidl_block.text_img_block_title,
                        "qidl_image_src": image_url,
                        "qidl_image_alt": qidl_block.text_img_block_image_alt,
                        "qidl_desc": qidl_block.text_img_block_desc,
                        "qidl_more_url": qidl_block.text_img_block_more_url,
                        "qidl_more_content": qidl_block.text_img_block_cta_more_content,
                        "qidl_more_modifiers": qidl_block.modifiers,
                        "qidl_more_attributes": qidl_block.attributes,
                    } %}
                </div>   

            {% endif %}
            
        {% endfor %}
    </div>
</div>
