<div class="designbeyond">
    <div class="iwlt-wrapper">
        <div class="iwlt-title">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
                "heading_level": 6,
                "heading": data.section_heading,
            } %}
        </div>
        <div class="iwlt-desc grid">
            {% for iwlt_block in data.link_title_below_image %}
                {% set image_url = file_url(iwlt_block.text_img_block_image_src) %}
                <div class="grid-col-md-3">
                    {% include "@molecules/image-with-link-title/image-with-link-title.twig" with {
                        "iwlt_image_src": image_url,
                        "iwlt_image_alt": iwlt_block.text_img_block_image_alt,
                        "iwlt_link_text": iwlt_block.text_img_block_cta_link_content,
                        "iwlt_link_url": iwlt_block.text_img_block_link_url,
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>