{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
  {% set base_url = render_var(url('<front>'))  %}
  {% set icon_box_title_base_class = icon_box_title_base_class|default('page-title') %}
  {% set paragraph_base_class = paragraph_base_class|default('banner-desc') %}

  {% set banner_type = content.field_type.0 %}
  {% set background_type = content.field_background_type.0 %}

  {% set content_container_bg = content.field_content_container_backgrou %}
  {% set banner_size = content.field_banner_size.0 %}


  {% if content.field_content_alignment.0|render == 'Center' %}
    {% set text_alignment = 'text-centered' %}
  {% elseif content.field_content_alignment.0|render == 'Right' %}
    {% set text_alignment = 'text-right' %}  
  {% elseif content.field_content_alignment.0|render == 'Top' %}
    {% set text_alignment = 'text-top' %}  
  {% elseif content.field_content_alignment.0|render == 'Bottom' %}
    {% set text_alignment = 'text-bottom' %}  
  {% elseif content.field_content_alignment.0|render == 'Left' %}
    {% set text_alignment = 'text-left' %}  
  {% endif %}

  {% if content.field_banner_cta.0['#title'] %}
    {% set link_title1 = content.field_banner_cta.0['#title'] %}
    {% set attributes1 = content.field_banner_cta.0['#options'].attributes %}

    {% if attributes1['target'] == '_blank' %}
      {% set attributes1 = attributes1|merge({'rel': attributes1['rel'] ~ ' noopener'}) %}
    {% endif %}

    {% if attributes1 %}
      {% set concatenate_label1 = '' %}
      {% if attributes1['aria-label'] %}
        {% set concatenate_label1 = ' - ' ~ attributes1['aria-label'] %}
      {% endif %}
      {% set attributes1 = attributes1|merge({'aria-label': link_title1 ~ concatenate_label1 }) %}
    {% endif %}

    {% set button1 = {
      'url': content.field_banner_cta.0['#url'],
      'attributes': attributes1 ,
      'content': link_title1,
      "modifiers": button_1_style}
    %}
  {% endif %}

  {% if content.field_banner_cta.1['#title'] %}
    {% set link_title2 = content.field_banner_cta.1['#title'] %}
    {% set attributes2 = content.field_banner_cta.1['#options'].attributes %}

    {% if attributes2['target'] == '_blank' %}
      {% set attributes2 = attributes2|merge({'rel': attributes2['rel'] ~ ' noopener'}) %}
    {% endif %}

    {% if attributes2 %}
      {% set concatenate_label2 = '' %}
      {% if attributes2['aria-label'] %}
        {% set concatenate_label2 = ' - ' ~ attributes2['aria-label'] %}
      {% endif %}
      {% set attributes2 = attributes2|merge({'aria-label': link_title2 ~ concatenate_label2  }) %}
    {% endif %}

    {% set button2 = {
      'url': content.field_banner_cta.1['#url'],
      'attributes': attributes2,
      'content': link_title2,
      "modifiers": button_2_style}
    %}
  {% endif %}

  {% if content.field_banner_cta.2['#title'] %}
    {% set link_title3 = content.field_banner_cta.2['#title'] %}
    {% set attributes3 = content.field_banner_cta.2['#options'].attributes %}

    {% if attributes3['target'] == '_blank' %}
      {% set attributes3 = attributes3|merge({'rel': attributes3['rel'] ~ ' noopener'}) %}
    {% endif %}

    {% if attributes3 %}
      {% set concatenate_label3 = '' %}
      {% if attributes3['aria-label'] %}
        {% set concatenate_label3 = ' - ' ~ attributes3['aria-label'] %}
      {% endif %}
      {% set attributes3 = attributes3|merge({'aria-label': link_title3 ~ concatenate_label3 }) %}
    {% endif %}

    {% set button3 = {
      'url': content.field_banner_cta.2['#url'],
      'attributes': attributes3,
      'content': link_title3,
      "modifiers": button_3_style}
    %}
  {% endif %}

  {% if (button1 or button2 or button3) %}
    {% set buttons = [button1, button2, button3] %}
  {% endif %}

  {% if content.field_content_container_alignmen.0|render == 'Center' %}
    {% set content_alignment = 'content-centered' %}  
  {% elseif content.field_content_container_alignmen.0|render == 'Right' %}
    {% set content_alignment = 'content-right' %}  
  {% elseif content.field_content_container_alignmen.0|render == 'Top' %}
    {% set content_alignment = 'content-top' %}  
  {% elseif content.field_content_container_alignmen.0|render == 'Bottom' %}
    {% set content_alignment = 'content-bottom' %}
  {% endif %}
  {% set ll = content.field_lazy_load.0 %}
  {% set lazy_load = 'lazy-load-off' %}
  {% if ll|render == "true" %}
    {% set lazy_load = 'lazy-load-on' %}
  {% endif %}
  {% set paragraph_content = content.field_body.0 %}
  {% set page_title = content.field_page_title_formatted.0 %}
  {% set banner_headline = content.field_headline.0 %}
  {% set font_color = content.field_font_color_scheme.0 %}
  {% set bgimage_src = content.field_background_image[0] %}
  {% set mobile_bgimage_src = content.field_mobile_background_image[0] %}
  {% set image_preload = content.field_bg_image_preload.0 %}
  {% set bg_color = content.field_background_color[0] %}
  {% set sub_headline = content.field_sub_headline[0] %}
  {% set sub_title = content.field_sub_title[0] %}
  {% set intro =  content.field_preface[0] %}
  {% set disclaimer =  content.field_postscript[0] %}
  {% if content.field_content_max_width.0 %}
  	{% set content_max_width =  content.field_content_max_width.0 %}
  {% endif %}
  
  {% if image_preload|render == 'On' %}
    <link rel="preload" href="{{ bgimage_src }}" as="image">
  {% endif %}

  {% if content.field_social_sharing['#items'].value == '1' %}
    {% set social_sharing = true %}
  {% endif %}

{% if content.field_breadcrumbs['#items'].value == '1' %}
  {% set breadcrumb = true %}
{% endif %}

  {% if font_color|render == 'Bright' %}
    {% set font_color_class = 'dark-theme' %}
  {% else %}
    {% set font_color_class = 'light-theme' %}
  {% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
  {% if banner_type|render == 'title_banner' %}

    {% if banner_size|render == 'Small' %}
      {% include "@organisms/01-banners/banner-title--sm/banner-title--sm.twig" with {
        "title": page_title,
        "subtitle": sub_headline,
        "bgimage_src": bgimage_src,
        "mb_bgimage_src": mobile_bgimage_src,
        "content": paragraph_content,
        "headline": banner_headline,
        "breadcrumb": breadcrumb,
        "banner_modifiers": [text_alignment, content_alignment],
        "lazyload": lazy_load,
				"mobile": data.is_mobile,
				"content_max_width": content_max_width,
				"modal_button": content.field_modal_box_button
      } %}
    {% elseif banner_size|render == 'Medium' %}
      {% include "@organisms/01-banners/banner-title--md/banner-title--md.twig" with {
        "title": page_title,
        "subtitle": sub_headline,
        "breadcrumb": breadcrumb,
        "bgimage_src": bgimage_src,
        "mb_bgimage_src": mobile_bgimage_src,
        "content": paragraph_content,
        "headline": banner_headline,
        "banner_modifiers": [text_alignment, content_alignment],
        "buttons": buttons,
        "lazyload": lazy_load,
				"mobile": data.is_mobile,
				"content_max_width": content_max_width,
				"modal_button": content.field_modal_box_button
      } %}
      {% elseif banner_size|render == 'Full Width' %}
        {% include "@organisms/01-banners/banner-title--fw/banner-title--fw.twig" with {
          "title": page_title,
          "breadcrumb": breadcrumb,
          "bgimage_src": bgimage_src,
          "mb_bgimage_src": mobile_bgimage_src,
          "content": paragraph_content,
          "headline": banner_headline,
          "banner_modifiers": [text_alignment, content_alignment],
          "buttons": [button1, button2, button3],
          "lazyload": lazy_load,
					"content_max_width": content_max_width,
					"modal_button": content.field_modal_box_button          
        } %}
    {% else %}
      {% include "@organisms/01-banners/03-banner-title--large/banner.twig" with {
        "title": page_title,
        "subtitle": sub_headline,
        "bgimage_src": bgimage_src,
        "mb_bgimage_src": mobile_bgimage_src,
        "breadcrumb": breadcrumb,
        "content": paragraph_content,
        "headline": banner_headline['#context']['value'],
        "disclaimer": disclaimer,
        "banner_modifiers": [text_alignment, content_alignment],
        "buttons": [button1, button2, button3],
        "lazyload": lazy_load,
				"content_max_width": content_max_width,
				"modal_button": content.field_modal_box_button                  
      } %}
    {% endif %}
  {% elseif banner_type|render == 'video_banner' %}
    {% include "@atoms/08-video/home-page-video.twig" with {
      "video_url": base_url~'sites/delta/files/video_content/TV_SPOT_2019_In2ition_AwakenYourAwesome_30.mp4',
      "video_bg_url": bgimage_src,
      "video_url_webm": base_url~'sites/delta/files/video_content/QDFC0509000H.webm',
      "video_title": 'Awaken Your Awesome',
      "video_disc": 'View Our Latest Commercial',
      "lazyload": lazy_load,
      "modal_button": content.field_modal_box_button
    } %}
  {% else %}
  {# This gets called for Video Background Banner #}
    {% include "@organisms/01-banners/04-banner-featured/featured-banner.twig" with {
      "title": page_title,
      "bgimage_src": bgimage_src,
      "mb_bgimage_src": mobile_bgimage_src,
      "content": paragraph_content|render|striptags('<sub><sup><u><s><span><strong>'),
      "subtitle": sub_headline,
      "intro": intro,
      "banner_modifiers": [text_alignment, content_alignment],
      "buttons": [button1, button2, button3],
      "desktop_video_url": data.background_video_file,
      "desktop_video_embed": data.background_video_embded,
      "embed_video_id": data.embed_video_id,
      "mobile_video_url": data.mobile_background_video_file,
      "mobile_video_embed": data.mobile_background_video_embded,
      "mobile_embed_video_id": data.mobile_embed_video_id,
      "desktop_poster_image_absolute_path": data.desktop_poster_image_absolute_path,
      "mobile_poster_image_absolute_path": data.mobile_poster_image_absolute_path,
      "lazyload": lazy_load,
      "content_max_width": content_max_width,
      "modal_button": content.field_modal_box_button                  
    } %}
  {% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %}
