{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% set link_options = content.field_paragraph_cta_link["#items"].0.options.attributes %}
{% if link_options['target'] == '_blank' %}
  {% set link_options = link_options|merge({'rel': link_options['rel'] ~ ' noopener'}) %}
{% endif %}

{% set link_text = content.field_paragraph_cta_link.0["#title"] %}
{% set link_url = content.field_paragraph_cta_link.0["#url"] %}
{% set style = content.field_button_style.0["#markup"] %}
{% set size = content.field_button_size.0["#markup"] %}

{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
	{% include "@atoms/06-buttons/01-button.twig" with {
	      button_content: link_text,
	      button_url: link_url,
	      button_modifiers: [style],
          button_attributes: link_options ? create_attribute(link_options) : create_attribute({}),
	} %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %}	    
