{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying a Modal.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('delta_theme/bootstrap-view') }}
{{ attach_library('delta_theme/modal-css') }}

{# Background color. #}
{% if content.field_bp_background|render %}
  {% set layout_background = content.field_bp_background['#items'].getString() %}
  {% set layout_background_classes = [ layout_background ] %}
{% endif %}

{# The template default set classes. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
VBP.bp_width_value.value,
content.field_bp_modal_show_always.0['#markup'],
content.field_bp_modal_show_on_load.0['#markup']
]
%}

{# Sets Unique ID for Modal from Paragraph ID. #}
{% set paragraph_id_modal = 'vbp-modal-' ~ paragraph.id() %}

{# No container by default. #}
{% set add_container = false %}

{# If there is BG image it's always edge to edge #}
{% if (VBP.background_image.url) %}
  {% set attributes = attributes.addClass('bg-edge2edge').addClass('background-style') %}
  {% set add_container = true %}
{% endif %}

{# If gutter option were selected. #}
{% if VBP.bp_gutter.value %}
  {% set add_container = true %}
{% endif %}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'vbp-' ~ paragraph.id() %}
{% if content.field_bp_anchor_id[0]['#context']['value'] %}
  {% set paragraph_id = content.field_bp_anchor_id[0]['#context']['value'] %}
{% endif %}

{# Sets paragraph title for paragraph. #}
{% set paragraph_title = content.field_bp_title[0]['#context']['value']|render %}

{# Sets paragraph title & intro status for paragraph. #}
{% set paragraph_title_status = true %}
{% if VBP.bp_title_status.value %}
  {% set paragraph_title_status = false %}
{% endif %}

{% set paragraph_intro_status = true %}
{% if VBP.bp_intro_status.value %}
  {% set paragraph_intro_status = false %}
{% endif %}

{# Prints div with classes, and button to trigger the modal. #}
<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} {% if VBP.background_image.url %} style="background-image:url({{- VBP.background_image.url -}});" {% endif %}>
  {% if add_container %}<div class="container">{% endif %}
    <div class="row">
      <div class="{{- VBP.bp_width.value -}}">
        {% if paragraph_title and paragraph_title_status %}
          {%
            set title_classes = [
              'component-title',
              'mb-20',
              'mb-xs-0',
              'text-center',
              'h2'
            ]
          %}
          {% set title_animation_attributes = (title_animation_attributes) ? title_animation_attributes : [] %}
          <p {{ create_attribute(title_animation_attributes).addClass(title_classes) }}>
            {% spaceless %}{{- paragraph_title|striptags -}}{% endspaceless %}
          </p>
        {% endif %}

        {% if paragraph_intro_status and content.field_bp_component_introduction.0 is not empty %}
          <div class="component-introduction">
            {{ content.field_bp_component_introduction }}
          </div>
        {% endif %}

        {% set link_attributes = create_attribute() %}

        {# Button trigger modal #}
        {% set link_classes = [
            content.field_bp_modal_show_on_load.0['#markup'] == 'show-popup-on-load' ? 'hide' : ''
          ]
        %}

        {% if content.field_bp_display_link_as_button.0['#markup'] == '1' and content.field_bp_links_link_color_type.0['#markup'] %}
          {% set link_attributes = link_attributes.addClass(link_classes).addClass(btn_classes).addClass(paragraph.paragraph_wrapper_class.value).setAttribute('id', paragraph.paragraph_wrapper_id.value) %}
          <button {{ link_attributes }} data-toggle="modal" data-target="#{{ paragraph_id_modal }}">
            {{ content.field_bp_modal_button_text.0|raw }}
          </button>
        {% else %}
          {% set link_attributes = link_attributes.addClass(link_classes).addClass(lnk_classes).addClass('button button--tertiary').addClass(paragraph.paragraph_wrapper_class.value).setAttribute('id', paragraph.paragraph_wrapper_id.value) %}
          <a {{ link_attributes }} href="#" data-toggle="modal" data-target="#{{ paragraph_id_modal }}">
            {{ content.field_bp_modal_button_text.0|raw }}
          </a>
        {% endif %}
      </div>
    </div>
  {% if add_container %}</div>{% endif %}
</div>

{# Modal markup with modal title, and loops for modal body and modal footer. #}
<div class="modal bootstrap-modal hide fade{{ content.field_bp_modal_size.0 }}" id="{{ paragraph_id_modal }}" tabindex="-1" role="dialog" aria-labelledby="{{ paragraph_id_modal }}-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <div class="modal-title" id="{{ paragraph_id_modal }}-label">
          {{ content.field_bp_modal_title }}
        </div>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% if content.field_bp_modal_body|render %}
          <div class="modal-body">
            {% for key, item in content.field_bp_modal_body if key|first != '#' %}
                {{ item }}
            {% endfor %}
          </div>
        {% endif %}
        {% if content.bp_modal_footer|render %}
          <div class="modal-footer">
            {% for key, item in content.bp_modal_footer if key|first != '#' %}
                {{ item }}
            {% endfor %}
          </div>
        {% endif %}
    </div>
  </div>
</div>
