<div class="catelog-four-grid grid">
    {% for catalog_four_grid_item in data.catalog_four_grid %}
        {% set image_url = file_url(catalog_four_grid_item.catalog_image_url) %}
        <div class="catelog-fg-block grid-col-md-3">
            {% include "@atoms/catalog-listing/catalog-listing.twig" with {
                "content_card_title": catalog_four_grid_item.catalog_title,
                "content_card_url": catalog_four_grid_item.catalog_link_url,
                "content_card_img_url": image_url,
                "content_card_img_alt_text": catalog_four_grid_item.catalog_image_alt,
            } %}
        </div>
    {% endfor %}
</div>
