{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set title = content.field_cta_link.0["#title"] %}
{% set img_src = file_url(content.field_category_image['#items'].entity.uri.value) %}
{% set img_url = content.field_cta_link.0["#url"] %}
{% set img_alt = content.field_category_image['#items'].alt %}
{% set attributes = content.field_cta_link.0['#options'].attributes %}

{% if attributes['target'] == '_blank' %}
  {% set attributes = attributes|merge({'rel': attributes['rel'] ~ ' noopener'}) %}
{% endif %}

{% if attributes %}
  {% set concatenate_label = '' %}
  {% if attributes['aria-label'] %}
    {% set concatenate_label = ' - ' ~ attributes['aria-label'] %}
  {% endif %}
  {% set new_label = title ~ concatenate_label %}
  {% set attributes = attributes|merge({'aria-label': new_label }) %}
{% endif %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	<div class="{{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
{% endif %}
	{% include "@atoms/catalog-listing/catalog-listing.twig" with {
		content_card_title: title,
		content_card_url: img_url,
		content_card_img_url: img_src,
		content_card_img_alt_text: img_alt,
		attributes: attributes ? create_attribute(attributes) : create_attribute({})
	} %}
{% if paragraph.paragraph_wrapper_class.value or paragraph.paragraph_wrapper_id.value %}
	</div>
{% endif %}
