{{ attach_library('delta_theme/summary-card-carousel') }}

<div class="summary-card-carousel" data-slick='{"arrows": true, "dots": true, "autoplay": false}'>
    {% for summary_card in data.single_image_sliders %}
        <div class="summary-card-carousel__item">
            {% include "@molecules/summary-card/summary-card.twig" with summary_card %}
        </div>
    {% endfor %}
</div>