<div class="banner-component" style="background: {{ data.bg_color }};">
  <div>
    <h1 class="banner-title">
      {{ data.title }}
    </h1>
    <div class="banner-content">{{ data.description }}</div>
    <div class="button-content">
      <div class="banner__button-group">
      <ul>
       {% for button in data.cta %}
         <li class="button button--primary has-icon--left ">
           <a href="{{ button.uri }}" class="{{ data.cta_class }}">{{ button.label }}</a>
         </li>
       {% endfor %}
       </ul>
      </div>
    </div>
  </div>
</div>
