{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}


{% set img_url = content.field_element_image_link.0["#url"] %}
{% set img_alt = content.field_element_image.alt %}
{% set img_caption = content.field_element_caption %}
{% set img_linkbtn_base_class = content.field_element_link_style.0["#markup"] %}
{% set img_src = file_url(content.field_element_image['#items'].entity.uri.value) %}
{% set img_alt = content.field_element_image['#items'].alt %}

<div class="img_element {{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}" >
  {% include "@atoms/04-images/00-image/figure.twig" with {
       'img_url': img_url,
       'img_src': img_src,
       'img_alt': img_alt,
       'img_caption': img_caption,
       'img_linkbtn_base_class':img_linkbtn_base_class
  } %}
</div>

