{% set title = content.field_headline %}
{% set description = content.field_description|raw %}
{% set image = file_url(center_block.imgSrc) %}
{% set link = content.field_link.0['#url'] %}
{% set link_text = content.field_link.0['#title'] %}
{% include "@molecules/dark-title-desc-img-link-block/dark-title-desc-img-link-block.twig" with {
  dtilb_title: title,
  dtilb_desc: description,
  dtilb_img_url: image,
  dtilb_img_alt: center_block.imgAlt,
  dtilb_cta_link_url: link,
  dtilb_cta_link_content: link_text,
  dtilb_cta_link_modifier: ['primary']
} %}
