{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set outlet_cards = [] %}
{% set lazy_load = false %}
{% if paragraph.field_lazy_load.0.value == "true" %}
  {% set lazy_load = true %}
{% endif %}
{% for card in content.field_outlet_cards['#items'] %}
  {% set outlet_cards = outlet_cards|merge({
    0: { hp_card_img_src: card.entity.field_outlet_card_image[0].entity.uri.value|image_style('hp_card_image'), hp_card_img_alt: card.entity.field_outlet_card_image[0].alt , hp_card_title: card.entity.field_outlet_card_image_caption.0.title, hp_card_link: file_url(card.entity.field_outlet_card_image_caption.0.uri|replace({'internal:': ""})), hp_card_sub_title: card.entity.field_outlet_card_image_desc.0.value|render|striptags, hp_card_cta: card.entity.field_cta_label.0.value|render|striptags, sfcc_lazy_load: lazy_load },
  }) %}
{% endfor %}

  {% include "@organisms/hp-card-container/hp-card-container.twig" with {
      "outlet_header": content.field_outlet_section_heading,
      "outlet_bg_color": content.field_background_color[0],
      "outlet_subheader": content.field_outlet_section_sub_heading|render|striptags|trim,
      "outlet_subheader_link_text": content.field_outlet_sub_header_link.0['#title'],
      "outlet_subheader_link": content.field_outlet_sub_header_link.0['#url'],
      "outlet_cards": outlet_cards,
      "outlet_link_text": content.field_outlet_section_cta.0['#title'],
      "outlet_link_url": content.field_outlet_section_cta.0['#url'],
   }
  %}