{% set header = content.field_alternate_section_header.0|render|striptags %}
{% set sub_header = content.field_alternate_section_sub_head.0|render|striptags %}
{% set text = content.field_alternate_section_text.0|render|striptags %}
{% set cta_url = content.field_alternate_section_cta.0["#url"] %}
{% set cta_text = content.field_alternate_section_cta.0["#title"] %}
{% set media_type = content.field_media_type.0 %}
{% set card_img_url = content.field_alternate_section_image['#items'].entity.uri.value %}
{% set card_img_src = file_url(card_img_url) %}
{% set card_img_alt = content.field_alternate_section_image['#items'].alt %}
{% set video_poster_image = file_url(content.field_alt_section_video_poster['#items'].entity.uri.value) %}
{% set card_embedded_video_src = content.field_alternate_section_video[0]['#media'].field_media_video_embed_field.0.value | split('/') | last %}
{% set video_file_uri = content.field_alternate_section_video[0]['#media'].field_media_video_file.0.entity.uri.value %}
{% if video_file_uri is not empty %}
  {% set video_file_src = file_url(content.field_alternate_section_video[0]['#media'].field_media_video_file.0.entity.uri.value) %}
{% endif %}
{% set alignment = content.field_image_video_alignment[0]['#markup'] %}

{% if alignment == 'Right' %}
  {% set img_position = 'image-right' %}
  {% set block_position = 'block-left' %}
{% else %}
  {% set img_position = 'image-left' %}
  {% set block_position = 'block-right' %}
{% endif %}
{% if media_type|render == 'Image' %}
  {% set media = 'image' %}
{% elseif media_type|render == 'Video' %}
{% set media = 'video' %}
{% endif %}

{% set lazy_load = false %}
{% if paragraph.field_lazy_load.0.value == "true" %}
  {% set lazy_load = true %}
{% endif %}

{% include "@organisms/alt-img-grid/alt-img-grid.twig" with {
    media_type: media,
    img_src: card_img_src,
    poster_image: video_poster_image,
    embedded_video_src: card_embedded_video_src,
    uploaded_video_src: video_file_src,
    card_img_alt: card_img_alt,
    uppercase_title: header,
    main_title: sub_header,
    body_copy: text,
    cta_text: cta_text,
    cta_url: cta_url,
    image_vide_position: img_position,
    text_block_position: block_position,
    sfcc_lazy_load: lazy_load,
    ada_title: header,
} %}
