{% set description = content.field_description.0 %}
{% set cta_url = content.field_cta_link.0["#url"] %}
{% set cta_text = content.field_cta_link.0["#title"] %}
{% set card_img_src = file_url(content.field_image[0]['#media'].image.entity.uri.value) %}
{% set card_img_alt = content.field_image[0]['#media'].image.alt %}
{% set logo_img_src = file_url(content.field_brand_logo[0]['#media'].image.entity.uri.value) %}
{% set logo_img_alt = content.field_brand_logo[0]['#media'].image.alt %}

{% set logo1_src = file_url(content.field_footer_logo[0]['#media'].image.entity.uri.value) %}
{% set logo1 = content.field_footer_logo[0]['#media'].image.entity.filename.value %}
{% set logo1_alt = content.field_footer_logo[0]['#media'].image.alt %}
{% set logo_cta_url = content.field_link.0["#url"] %}
{% set logo2_src = file_url(content.field_footer_logo_2[0]['#media'].image.entity.uri.value) %}
{% set logo2_alt = content.field_footer_logo_2[0]['#media'].image.alt %}
{% set logo2 = content.field_footer_logo_2[0]['#media'].image.entity.filename.value %}
{% set logo2_cta_url = content.field_category_link.0["#url"] %}
{% set alignment = content.field_image_alignment[0]['#markup'] %}
{% if alignment == 'Right' %}
  {% set img_position = 'ins-supp__image--right' %}
  {% set block_position = 'ins-supp__block-pos--right' %}
{% else %}
  {% set img_position = 'ins-supp__image--left' %}
  {% set block_position = 'ins-supp__block-pos--left' %}

{% endif %}

{% include "@molecules/installation-support/installation-support.twig" with {
    card_img_src: card_img_src,
    card_img_alt: card_img_alt,
    logo_img_src: logo_img_src,
    logo_img_alt: logo_img_alt,
    img_desc_prod_desc: description,
    card_button_url: cta_url,
    card_button_content: cta_text,
    card_button_modifiers: ['primary'],
    ins_supp_image_position: img_position,
    ins_supp_block_position: block_position,
    appstore_url: logo_cta_url,
    appstore_img_src: logo1_src,
    appstore_img_alt: logo1_alt,
    playstore_url: logo2_cta_url,
    playstore_img_src: logo2_src,
    playstore_img_alt: logo2_alt,
} %}