{% if data.token %}
  <form method="POST" action="https://masco.csod.com/AESSSODefault.aspx" id="LMSForm" target="_parent">
    <input type="hidden" name="key" value="{{ data.token }}">
    <input type="hidden" name="ouid" value="2">
  </form>
  <a id="LMSLink" class="button button--primary" href="javascript:$('#LMSForm').submit();">Take eLearning Classes</a>
{% else %}
  {% if logged_in %}
	  {{ drupal_block('Lms SSO button_block') }}
  {% else %}
  	<a class="button button--primary has-icon--left" href="/prouser/login">Please log in to access our eLearning Courses.</a>
  {% endif %}
{% endif %}
