<div class="blog-grid design-experience-three-image-section">
    {% for card in data.cards %}
        {% set link_options = card.attributes %}
        {% if link_options['target'] == '_blank' %}
            {% set link_options = link_options|merge({'rel': link_options['rel'] ~ ' noopener'}) %}
        {% endif %}
        {% set item_modifier_class = "large" in card.modifiers ? "blog-grid__item--large" %}
        {% set image_url = file_url(card.image_url) %}
        <div class="blog-grid__item {{ item_modifier_class }}">
            {% include "@molecules/blog-card/blog-card.twig" with {
                blog_card_modifiers: card.modifiers,
                blog_card_attributes: link_options,
                blog_card_url: card.url,
                blog_card_category: card.category,
                blog_card_content: card.content,
                blog_card_image_url: image_url,
                blog_card_image_alt: card.image_alt,
            } %}
        </div>
    {% endfor %}
</div>
