{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('delta_theme/image-tile-carousel') }}

{% set category_tabs = [] %}
{% set card_numbers = '' %}
{% set lazy_load = false %}
{% if paragraph.field_lazy_load.0.value == "true" %}
  {% set lazy_load = true %}
{% endif %}
{% for key, item in paragraph.field_category_section %}
  {% for card in item.entity.field_sub_category_card %}
    {% set card_numbers = loop.length %}
  {% endfor %}
    {% set content %}
    <div id="tab-{{ key }}" class="tabs__content {% if card_numbers < 6 %}centered{% endif %}">
    <div class="image-tile-carousel multiple-items" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "variableWidth": true, "responsive": [{"breakpoint":767, "settings":{"slidesToShow": 1, "arrows": false}}]}' >

    {% block image_tile_content %}
      {% for card in item.entity.field_sub_category_card %}
        {% set img_src = file_url(card.entity.field_category_image[0].entity.uri.value) %}
        {% set img_link = file_url(card.entity.field_cta_link.0.value.uri|replace({'internal:': ""})) %}
        {% set link_title = card.entity.field_cta_link[0].title %}
        {% set link_aria_label = '' %}

        <div class="image-tile-carousel-item">
          
        {% if link_title %}
          {% set concatenate_label = '' %}
          {% if card.entity.field_cta_link.0.value.options.attributes['aria-label'] %}
            {% set concatenate_label = ' - ' ~ card.entity.field_cta_link.0.value.options.attributes['aria-label'] %}
          {% endif %}
          {% set link_aria_label = link_title ~ concatenate_label %}
        {% endif %}

        {% include "@atoms/image-tile/image-tile.twig" with {
          "image_tile_src": img_src,
          "image_tile_alt": card.entity.field_category_image.alt,
          "image_tile_url": img_link,
          "image_tile_title": link_title,
          "lazyload": lazy_load,
          "link_attribute_id": card.entity.field_cta_link.0.value.options.attributes['id'],
          "link_attribute_class": card.entity.field_cta_link.0.value.options.attributes['class'],
          "link_attribute_rel": card.entity.field_cta_link.0.value.options.attributes['rel'],
          "link_attribute_target": card.entity.field_cta_link.0.value.options.attributes['target'],
          "link_attribute_name": card.entity.field_cta_link.0.value.options.attributes['name'],
          "link_attribute_title": card.entity.field_cta_link.0.value.options.attributes['title'],
          "link_attribute_label": link_aria_label,
          "link_attribute_accesskey": card.entity.field_cta_link.0.value.options.attributes['accesskey']
        } %}
        </div>
     {% endfor %}
  {% endblock %}
</div>
</div>
 {% endset %}

    {% set category_tabs = category_tabs|merge({
     0: { title: item.entity.field_tab_name.value, content: content, cta_link_text: item.entity.field_category_cta.0.title,  cta_link_url: file_url(item.entity.field_category_cta.0.uri|replace({'internal:': ""})) },
    }) %}
{% endfor %}

{{ attach_library('delta_theme/tabs') }}
<div id="tabs" class="tabs no-js img-tabs-container {% if lazy_load %} lazy-load-on{% endif %}">
  <ul class="tabs__nav img-tabs">
    <li>
      {% for key, tab in category_tabs %}
        {% include "@atoms/09-menu/tab/tab.twig" with {
            tab_link: "#tab-" ~ key,
            tab_text: tab.title,
            } %}
      {% endfor %}
    </li>
  </ul>
  {% for key, tab in category_tabs %}
	<div class="tabs__tab{% if key == 0 %} is-active{% endif %}">
      {{ tab.content }}
      <div class="cta-container">
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        cta_link_modifiers: { 1: "lg" },
        cta_link_icon: "carrot-right",
        cta_link_icon_position: "right",
        cta_link_icon_size: "10px",
        cta_link_text: tab.cta_link_text,
        cta_link_url: tab.cta_link_url,
      } %}
      </div>
    </div>
  {% endfor %}
</div>
