{% set tdli_title = content.field_headline %}
{% set tdli_image = file_url(content.field_image[0]['#media'].image.entity.uri.value) %}
{% set tdli_image_alt = content.field_image[0]['#media'].image.alt %}
{% set tdli_more_url = content.field_link.0["#url"] %}
{% set tdli_desc = content.field_body %}
{% set tdli_link_attributes = content.field_link.0['#options'].attributes %}

<div class="title-desc-link-image">
  <div class="tdli-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 3,
      "heading": tdli_title,
    } %}
  </div>
  {% if tdli_desc|length > 0 %}
    <div class="tdli-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: tdli_desc,
      } %}
    </div>
  {% endif %}
  {% if tdli_more_url %}
    <div class="tdli-more">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_content": tdli_more_content,
          "button_url": tdli_more_url,
          "button_modifiers": tdli_more_modifiers,
          "button_attributes": tdli_link_attributes ? create_attribute(tdli_link_attributes) : create_attribute({}),
        } %}
    </div>
  {% endif %}
  {% if tdli_image_src %}
    <div class="tdli-image">
      <a href={{tdli_more_url}}>
        {% include "@atoms/04-images/00-image/_image.twig" with {
          "img_src": tdli_image_src,
          "img_alt": tdli_image_alt,
        } %}
      </a>
    </div>
  {% endif %}
</div>
