{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('delta_theme/part-item') }}

{% set link_text = content.field_link.0["#title"] %}
{% set link_url = content.field_link.0["#url"] %}
{% set img_src = file_url(content.field_card_image['#items'].entity.uri.value) %}
{% set style_img_src = content.field_card_image['#items'].entity.uri.value | image_style('repair_parts_plp') %}
{% set img_alt = content.field_card_image['#items'].alt %}
{% set filename = content.field_card_image['#items'].entity.filename.value|replace({'/': ''}) %}
{% set hover_img_src = file_url(content.field_card_hover_image['#items'].entity.uri.value) %}
{% set style_hover_img_src = content.field_card_hover_image['#items'].entity.uri.value | image_style('repair_parts_plp') %}
{% set hover_img_alt = content.field_card_hover_image['#items'].alt %}
{% set hover_filename = content.field_card_hover_image['#items'].entity.filename.value|replace({'/': ''}) %}
{% set part = content.field_part.0 %}
{% set title = content.field_title %}
{% set description = content.field_description %}
<div class="grid-col-md-3 grid-item">
  {% include "@molecules/part-item/part-item.twig" with {
    "part_img_url": link_url,
    "part_img_src": style_img_src,
    "part_img_hover_src": style_hover_img_src,
    "part_img_alt": hover_img_alt,
    "part_img_caption": "item.part_img_caption",
    "part_number": part,
    "part_title": title,
    "part_description": description,
    "part_link_title": "",
    "part_link_url": ""
  } %}
</div>
