<div class="grid-container">
  <div class="innovation-image-grid">
    {% for image in image_grid %}
      <img  class="innovation-image-grid__item" src="{{ image.src }}" alt="{{ image.alt }}" />
    {% endfor %}
  </div>
</div>
