{% set ll = data.lazyload|render %}
{% set lazy_load = 'lazy-load-off' %}
{% if ll == 'true' %}
 {% set lazy_load = 'lazy-load-on' %}
{% endif %}
{% include "@molecules/homepage-intro-banner/homepage-intro-banner.twig" with {
  hib_link: data.link,
  hib_logo_src: data.banner_image_absolute_path,
  hib_logo_alt: 'Banner image ' ~ data.image_alt|trim('.svg'),
  hib_title: data.sub_heading,
  hib_desc: data.banner_description,
  hib_logo_bg: data.banner_background_image_absolute_path,
  hib_link_bg: data.single_image_absolute_path,
  hib_link_color: data.background_color,
  hib_video: data.background_video,
  hib_lazyload: lazy_load
} %}