{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  paragraph.bundle|clean_class, "paragraph-component"
]
%}

{% set bg_color = content.field_card_bg_color[0] %}

{#<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>#}
<div {% if bg_color is not empty %} style="background-color: {{ bg_color }}" {% endif %} {% if sliderCnt == 4 %} class="bg-color-padding" {% endif %}>
  <div class="productslider_heading">
    <h2  class="h2" >
      {{ heading|raw }}
    </h2>
    {{ content.field_cta_link_other_page }}
  </div>
  {% include "@organisms/product-tile-slider/product-tile-slider.twig"
    with
    {
      "product_tiles":products,
      cta_link_url: "javascript:void(0)",
      cta_link_classes: "js-add-to-compare",
      slidercount: sliderCnt,
    }
  %}
</div>
{#
<div class="grid">
  {% for product in products %}
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
      {% include "@organisms/product-tile/product-tile.twig"
        with {
          "collection_name" : product.collection,
          "model_image" : product.image,
          "description" : product.title,
          "list_price" : product.price,
          "model_number" : product.sku,
          "view_details_link" : product.pdp_path,
          "finish_options": product.finishOptions,
          "defaultFinish": product.facetFinish,
          "finish": product.finish
        }
      %}
    </div>
  {% endfor %}
</div>
#}
