{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set left_section = content.field_self_service_section['#items'].entity.field_left_section %}
{% set right_section = content.field_self_service_section['#items'].entity.field_right_section %}
{% set how_to_cards = [] %}

{% for card in right_section.entity.field_card_details %}
  {% set card_image = file_url(card.entity.field_card_icon.0.entity.field_media_image_1.0.entity.uri.0.value) %}
  {% set card_link = card.entity.field_link.0.uri|replace({'internal:': ""}) %}
  {% set how_to_cards = how_to_cards|merge({
      0: { how_to_img: card_image, how_to_title: card.entity.field_card_heading.0.value, how_to_img_alt: card.entity.field_card_icon.0.entity.field_media_image_1.0.alt, how_to_details: card.entity.field_card_description.0.value|render|striptags, card_cta: card_link },
  }) %}
{% endfor %}

{% include "@organisms/find-parts/find-parts.twig" with {
  background_img: '/themes/custom/delta_theme/images/inner-banner.png',
  part_title: left_section.entity.field_top_title_image_with_desc.entity.field_single_image_slider_title.0.value,
  part_details: left_section.entity.field_top_title_image_with_desc.entity.field_single_image_slider_desc.0.value|render|striptags,
  part_btn_text: left_section.entity.field_top_title_image_with_desc.entity.field_single_image_slider_cta.0.title,
  part_btn_url: left_section.entity.field_top_title_image_with_desc.entity.field_single_image_slider_cta.0.uri|replace({'internal:': ""}),
  how_to_cards: how_to_cards,
  }
%}
