{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  paragraph.bundle|clean_class,
  "paragraph-component",
  "innovation-faq"
]
%}
{% set faq_component = [] %}
{% for item in content.field_faq_component %}
  {% for item in item.field_faq_component %}
    {% set faq_component = faq_component|merge([{ 'answer' : item.entity.field_innovation_faq_answer.value, 'image_url' : item.entity.field_innovation_faq_image.entity.fileuri, 'image_alt_text' : item.entity.field_innovation_faq_image.alt, 'question' : item.entity.field_innovation_faq_question.value }]) %}
  {% endfor %}
{% endfor %}

{% set sectionImg = faq_section.faq_img %}
{% set sectionImgAlt = faq_section.faq_alt_text %}

<section class="innovation-section {{ paragraph.paragraph_wrapper_class.value }}" id="{{ paragraph.paragraph_wrapper_id.value }}">
  <div class="grid-container">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 2,
      "heading": "Frequently Asked Questions",
    } %}

    <div class="innovation-faq">
      {% include "@organisms/faq-grid/faq-grid.twig"
        with {
          "faq":faq_component
        }
      %}
      <figure class="innovation-faq__img">
        <img src="{{ faq_section.faq_img }}" alt="{{ faq_section.faq_alt_text }}" />
      </figure>
    </div>
  </div>

</section>
