<div class="auto-search-result">

  {% for auto_search_item in auto_search_items %}
    <div class="as-block">
      <div class="as-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 3,
          "heading": auto_search_item.as_title,
        } %}
      </div>
      <div class="as-desc">

        {% if auto_search_item.auto_search_result_item %}
          {% for auto_search_item1 in auto_search_item.auto_search_result_item %}
            <div class="as-desc-block">
              <a href={{auto_search_item1.as_desc_block_url}}>
                <div class="as-item">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: auto_search_item1.auto_search_item,
                  } %}
                </div>
                <div class="as-item-no">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: auto_search_item1.auto_search_item_no,
                  } %}
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}

      </div>

      <div class="as-view">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text:  auto_search_item.auto_search_item_link,
          cta_link_icon: auto_search_item.auto_search_item_url,
          cta_link_icon_position: "right",
          cta_link_icon: "carrot-right",
          cta_link_icon_size: "8px",
        } %}
      </div>
    </div>
  {% endfor %}

</div>
