{{ attach_library('delta_theme/product-thumb-slider')}}

<div class="product-slider multiple-items" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "responsive": [{"breakpoint":767, "settings":{"slidesToShow": 1}}]}' >
  {% block thub_img_content %}
    {% for slider_thumb_img in slider_thumb_imgs %}
      <div class="prod-block">
        {% include "@organisms/product-tile/product-tile.twig" with {
          "collection_name": slider_thumb_img.collection_name,
          "model_number": slider_thumb_img.model_number,
          "model_image": slider_thumb_img.model_image,
          "list_price": slider_thumb_img.list_price,
          "description": slider_thumb_img.description,
          "view_details_link": slider_thumb_img.view_details_link,
          "view_docs_link": slider_thumb_img.view_docs_link,
        } %}
      </div>
    {% endfor %}
  {% endblock %}
</div>
