{#
/**
 * @file
 * Theme override of a datetime form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the datetime form element.
 * - content: The datelist form element to be output.
 *
 * @see template_preprocess_datetime_form()
 */
#}
<div {{ attributes.addClass('manufacture-date') }}>
  <div class = "manufacture-month"> {{ content.month }} </div>
  <div class = "manufacture-day"> {{ content.day }} </div>
  <div class = "manufacture-year"> {{ content.year }} </div>
</div>
