{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="product-model-number">
<label class="visually-hidden form-item__label" for="product-number"><span class="visually-hidden">Product Model Number</span></label>
<input class="validate-modelnumber required" id="product-number" {{ attributes }} />{{ children }}
</div>
