{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="product-purchase-date">
<label style="display: none;" class="form-item__label" for="product-purchase-date"><span style="display: none;">Product Purchase Date</span></label>
<input{{ attributes }} />{{ children }}
</div>
