{#
/**
 * @file
 * Default theme implementation of a webform example composite.
 *
 * Available variables:
 * - content: The webform example composite to be output.

 * @see template_preprocess_product_sku_purchase_date()
 *
 * @ingroup themeable
 */
#}
{{ content }}

