.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.cdp-lead-wrapper {
  text-align: center;
}

.section_wrapper {
  &.left-align {
    .section__content {
      &::before {
        right: auto;
      }
    }
  }

  .section__content {
    font-weight: normal;
    color: $black;
    font-size: 19.2px;
    font-family: $font-heading;
    font-style: italic;
    position: relative;
    padding: 11px 0 0;
    line-height: 28.8px;
    margin: 0;

    @include maxbp($medium) {
      font-size: 16px;
      line-height: 20px;
    }

    &::before {
      content: "";
      display: block;
      width: 201px;
      height: 2px;
      background: $gray-60;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      top: 0;

      @include maxbp($medium) {
        width: 100px;
        height: 1px;
      }
    }
  }

  .button {
    margin: 24px 0 0;
    padding: 11px 25px 10px 26px;
  }

  .link--section_link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-condensed;
    font-size: 18px;
    color: $gray-10;
    display: inline-block;
    line-height: 21px;
    margin: 11px 0 0;
  }

  h2 {
    font-family: $font-heading;
    margin: 0 0 11px;
    display: block;
    overflow: hidden;

    @include maxbp($medium) {
      font-size: 27.65px;
      line-height: 34.5px;
    }
  }
}
