



<script type="text/template" id="document-output">
  <h4>
    <% _.each(fileLinks, function(links){ %>
    <a href="<%- filePath %>" target="_blank"><%- links %> </a>
    <% }); %>
  </h4>
  <div class="resultslistDesc">
    <% if (docType == 'MandI') { %>
    Maintenance & Installation Information - <%- fileName %>
    <% }%>
    <% if (docType == 'SpecSheet') { %>
    Specification Sheets - <%- fileName %>
    <% }%>
    <% if (docType == 'PartsDiagram') { %>
    Parts Information - <%- fileName %>
    <% }%>
  </div>
</script>



<script type="text/template" id="doc-pagination">
  <% if(totalRecordset > 0) { %>
  <div class="paging--results">
    <%- totalRecordset %> Results
  </div>
  <div class="filter-result__page-x-of-n pull-right">
    <% if (currentPage == 1) { %>
    <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
    <% } else { %>
    <input class="prev" type="button" value="<%- previousPage %>">
    <% } %>
    <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
    <span>Page <%- currentPage %> of <%- totalPager %></span>
    <% if (currentPage == totalPager) { %>
    <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
    <% } else { %>
    <input class="next" type="button" value="<%- nextPage %>">
    <% } %>
    <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

  </div>
  <% } %>
</script>


<section class="container search-result-page">
  <div class="row" id="plp-wrapper">
        <div class="tab-pane" id="document-tab">
          <div class="doc-pagination-output clearfix"></div>
          <div class="row">
            <h3><span id="search-document-title">Results (0)</span></h3>
            <div class="documentoutput"></div>
            <div class="paging-compare-bar">
              <div class="paging">
                <div class="paging--container">
                  <div class="doc-pagination-output clearfix"></div>
                  <div class="paging--pages">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>