<div class="searchautocomplete">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="support-highlight">
        <div>
            <div class="headline faq-support-form">
                <h3>Frequently asked questions</h3>
            </div>
            <div class="customer-support-form">
                <p>So we can give you the best customer support, please&nbsp;identify your product&nbsp;using one of the
                    methods below:</p>
            </div>
        </div>
                <div>

            {{ form.name }}
            {{ form.submit }}
</div>