<div class="searchautocomplete">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="support-highlight">
        <div>
            <div class="headline customer-support-form">
                <h3>Get Support &amp; Repair Parts for Your Product</h3>
            </div>
            <div class="customer-support-form">
                <p>So we can give you the best customer support, please&nbsp;identify your product&nbsp;using one of the
                    methods below:</p>
            </div>
        </div>
        <div class="customer-support-form">
            <label class="control-label blue-light" for="search-input-4f0f7a0e-00c8-4fa4-9226-18d714b9f697">Search by
                Model or Part Number:</label>
        </div>
        <div>

            {{ form.name }}
            {{ form.submit }}
        </div>
        <div class="customer-support-form">
                <h4>Or</h4>
        </div>
        <div class="customer-support-form">
            <div class="blue-light"></div>
			<div>Browse for your Product</div>
            <div class="form-group get-support">
                {{ form.product_type }}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>