<script type="text/template" id="output-node">
    <div class="col-xs-12 col-md-4 col-lg-3">

        <section class="product-cell">
            <div class="product-cell-inner ribbon-item">
                <div class="product-thumb">
                    <% if (prodOutDated != ''){ %>
                    <div class="ribbon-container <%- prodOutDated %>">
                        <div class="ribbon">
                            <div class="ribbon-text">
                                <%- prodOutDated %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <a href="<%- url %>" target="_self">
                        <img class="img-responsive center-block" src="<%- heroImage %>">
                    </a>
                </div>
                <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                        <h5>
                            <b><%= collectionName %></b>
                            <a class="prod-link" href="<%- url %>"><%= title %></a>
                        </h5>
                    </div>
                    <div class="product-info-inner">
                        <div class="product-info--model">
                            <%- sku %>
                        </div>
                        <div class="product-info--price">
                            <span class="txt">List Price:<sup>*</sup></span>
                            <span class="val">$<%- price %></span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</script>

<script type="text/template" id="output-node-1">
    <div class="col-xs-12 col-md-4 col-lg-3">

        <section class="product-cell">
            <div class="product-cell-inner ribbon-item">
                <div class="product-thumb">
                    <% if (prodOutDated != ''){ %>
                    <div class="ribbon-container <%- prodOutDated %>">
                        <div class="ribbon">
                            <div class="ribbon-text">
                                <%- prodOutDated %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <a href="<%- url %>" target="_self">
                        <img class="img-responsive center-block" src="<%- heroImage %>">
                    </a>
                </div>
                <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                        <h5>
                            <b><%- collectionName %></b>
                            <a class="prod-link" href="<%- url %>"><%- title %></a>
                        </h5>
                    </div>
                    <div class="product-info-inner">
                        <div class="product-info--model">
                            <%- sku %>
                        </div>
                        <div class="product-info--price">
                            <span class="txt">List Price:<sup>*</sup></span>
                            <span class="val">$<%- price %></span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</script>

<script type="text/template" id="document-output">
    <h4>
        <% _.each(fileLinks, function(links){ %>
        <a href="<%- filePath %>" target="_blank"><%- links %> </a>
        <% }); %>
    </h4>
    <div class="resultslistDesc">
        <% if (docType == 'MandI') { %>
        Maintenance & Installation Information - <%- fileName %>
        <% }%>
        <% if (docType == 'SpecSheet') { %>
        Specification Sheets - <%- fileName %>
        <% }%>
        <% if (docType == 'PartsDiagram') { %>
        Parts Information - <%- fileName %>
        <% }%>
    </div>
</script>

<script type="text/template" id="content-output">
    <h4>
        <span class="sno"><%- searchSno %>. &nbsp;</span> <a href="<%- searchContentUrl %>"><%- searchContentTitle
            %></a>
    </h4>
    <div class="resultslistDesc">
        <%= searchContentBody %>
    </div>
</script>

<script type="text/template" id="full-content-output">
    <h4>
        <span class="sno"><%- searchSno %>. &nbsp;</span><a href="<%- searchContentUrl %>"><%- searchContentTitle %></a>
    </h4>
    <div class="resultslistDesc">
        <%= searchContentBody %>
    </div>
</script>

<script type="text/template" id="pagination">
    <% if(totalRecordset > 0) { %>
    <div class="paging--results">
        <%- totalRecordset %> Results
    </div>
    <div class="filter-result__page-x-of-n pull-right">
        <% if (currentPage == 1) { %>
        <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
        <% } else { %>
        <input class="prev" type="button" value="<%- previousPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        <span>Page <%- currentPage %> of <%- totalPager %></span>
        <% if (currentPage == totalPager) { %>
        <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
        <% } else { %>
        <input class="next" type="button" value="<%- nextPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

    </div>
    <% } %>
</script>

<script type="text/template" id="doc-pagination">
    <% if(totalRecordset > 0) { %>
    <div class="paging--results">
        <%- totalRecordset %> Results
    </div>
    <div class="filter-result__page-x-of-n pull-right">
        <% if (currentPage == 1) { %>
        <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
        <% } else { %>
        <input class="prev" type="button" value="<%- previousPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        <span>Page <%- currentPage %> of <%- totalPager %></span>
        <% if (currentPage == totalPager) { %>
        <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
        <% } else { %>
        <input class="next" type="button" value="<%- nextPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

    </div>
    <% } %>
</script>

<script type="text/template" id="content-pagination">
    <% if(totalRecordset > 0) { %>
    <div class="paging--results">
        <%- totalRecordset %> Results
    </div>
    <div class="filter-result__page-x-of-n pull-right content-page-results" data-currentpage="<%- currentPage %>">
        <% if (currentPage == 1) { %>
        <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
        <% } else { %>
        <input class="prev" type="button" value="<%- previousPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        <span>Page <%- currentPage %> of <%- totalPager %></span>
        <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>
        <% if (currentPage == totalPager) { %>
        <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
        <% } else { %>
        <input class="next" type="button" value="<%- nextPage %>">
        <% } %>

    </div>
    <% } %>
</script>

<section class="container search-result-page">
    <div class="row" id="plp-wrapper">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active tab-all-cnt">
                    <a href="#all-tab" data-toggle="tab" id="allTabLink" aria-expanded="true"><span>All (0)</span></a>
                </li>
                <li class="product-cnt">
                    <a href="#product-tab" data-toggle="tab" id="productTabLink"
                       aria-expanded="false"><span>Products (0)</span></a>
                </li>
                <li class="content-cnt">
                    <a href="#content-tab" data-toggle="tab" id="contentTabLink"
                       aria-expanded="false"><span>Content (0)</span></a>
                </li>
                <li class="document-cnt">
                    <a href="#document-tab" data-toggle="tab" id="documentTabLink"
                       aria-expanded="false"><span>Documents (0)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="all-tab">
                    <div class="row">
                        <h3 id="all-tab-product-result-header" class="tab-content-title-prod">
                            <span id="search-product-title" data-product-cnt="0">Products (0)</span>
                            <span class="search-see-all">
                <a href="#product-tab" class="product-see-all" data-toggle="tab" aria-expanded="true">See All &gt;</a>
              </span>
                        </h3>
                        <div id="output"></div>
                    </div>
                    <div class="row">
                        <h3 id="all-tab-content-result-header" class="tab-content-title-cont">
                            <span id="search-content-title" data-content-cnt="0">Content (0)</span>
                            <span class="search-see-all">
                <a href="#content-tab" class="content-see-all" data-toggle="tab" aria-expanded="true">See All &gt;</a>
              </span>
                        </h3>
                        <ol>
                            <div class="contentoutput"></div>
                        </ol>
                    </div>
                    <div class="row">
                        <h3 id="all-tab-document-result-header" class="tab-content-title-doc">
                            <span id="search-document-title" data-document-cnt="0">Documents (0)</span>
                            <span class="search-see-all">
                <a href="#document-tab" class="document-see-all" data-toggle="tab" aria-expanded="true">See All &gt;</a>
              </span>
                        </h3>
                        <ol>
                            <div class="documentoutput docresults"></div>
                        </ol>
                    </div>
                </div>

                <div class="tab-pane fade" id="product-tab">
                    <div class="pagination-output clearfix"></div>
                    <div class="row">
                        <h3>Products:</h3>
                        <div id="output-1"></div>
                    </div>
                    <div class="paging-compare-bar">
                        <div class="paging">
                            <div class="paging--container">
                                <div class="pagination-output clearfix"></div>
                                <div class="paging--pages">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="document-tab">
                    <div class="doc-pagination-output clearfix"></div>
                    <div class="row">
                        <h3>Documents:</h3>
                        <div class="documentoutput"></div>
                        <div class="paging-compare-bar">
                            <div class="paging">
                                <div class="paging--container">
                                    <div class="doc-pagination-output clearfix"></div>
                                    <div class="paging--pages">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="content-tab">
                    <div class="content-pagination-output clearfix"></div>
                    <div class="row">
                        <h3>Content:</h3>
                        <div id="fullcontentoutput" class="contentoutputfull"></div>
                        <div class="paging-compare-bar">
                            <div class="paging">
                                <div class="paging--container">
                                    <div class="content-pagination-output clearfix"></div>
                                    <div class="paging--pages">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
