<div class="searchautocomplete">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="autocomplete-container--inner">
        <i class="input-loader hide"></i>
        <i class="input-close hide"></i>
        <span class="glyphicon glyphicon-search"></span>
        {{ form.name }}
        <div>{{ form.advanced_expand }}</div>
    </div>
</div>

<div class="autocomplete-container--suggestions" id="search-block-suggestion-result"></div>