<script type="text/template" id="output-node">
    <div class="col-xs-12 col-md-4 col-lg-3">

        <section class="product-cell">
            <div class="product-cell-inner ribbon-item">
                <div class="product-thumb">
                    <% if (prodOutDated != ''){ %>
                    <div class="ribbon-container <%- prodOutDated %>">
                        <div class="ribbon">
                            <div class="ribbon-text">
                                <%- prodOutDated %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <a href="<%- url %>" target="_self">
                        <img class="img-responsive center-block" src="<%- heroImage %>">
                    </a>
                </div>
                <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                        <h5>
                            <b><%- collectionName %></b>
                            <a class="prod-link" href="<%- url %>"><%- title %></a>
                        </h5>
                    </div>
                    <div class="product-info-inner">
                        <div class="product-info--model">
                            <%- sku %>
                        </div>
                        <div class="product-info--price">
                            <span class="txt">List Price:<sup>*</sup></span>
                            <span class="val">$<%- price %></span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</script>

<script type="text/template" id="output-node-1">
    <div class="col-xs-12 col-md-4 col-lg-3">

        <section class="product-cell">
            <div class="product-cell-inner ribbon-item">
                <div class="product-thumb">
                    <% if (prodOutDated != ''){ %>
                    <div class="ribbon-container <%- prodOutDated %>">
                        <div class="ribbon">
                            <div class="ribbon-text">
                                <%- prodOutDated %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <a href="<%- url %>" target="_self">
                        <img class="img-responsive center-block" src="<%- heroImage %>">
                    </a>
                </div>
                <div class="product-info" style="height: 154px;">
                    <div class="product-heading">
                        <h5>
                            <b><%- collectionName %></b>
                            <a class="prod-link" href="<%- url %>"><%- title %></a>
                        </h5>
                    </div>
                    <div class="product-info-inner">
                        <div class="product-info--model">
                            <%- sku %>
                        </div>
                        <div class="product-info--price">
                            <span class="txt">List Price:<sup>*</sup></span>
                            <span class="val">$<%- price %></span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</script>


<script type="text/template" id="document-output">
    <h4>
        <% _.each(fileLinks, function(links){ %>
        <a href="<%- filePath %>" target="_blank"><%- links %> </a>
        <% }); %>
    </h4>
    <div class="resultslistDesc">
        <% if (docType == 'MandI') { %>
        Maintenance & Installation Information - <%- fileName %>
        <% }%>
        <% if (docType == 'SpecSheet') { %>
        Specification Sheets - <%- fileName %>
        <% }%>
        <% if (docType == 'PartsDiagram') { %>
        Parts Information - <%- fileName %>
        <% }%>
    </div>
</script>

<script type="text/template" id="pagination">
    <% if(totalRecordset > 0) { %>
    <div class="paging--results">
        <%- totalRecordset %> Results
    </div>
    <div class="filter-result__page-x-of-n pull-right">
        <% if (currentPage == 1) { %>
        <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
        <% } else { %>
        <input class="prev" type="button" value="<%- previousPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        <span>Page <%- currentPage %> of <%- totalPager %></span>
        <% if (currentPage == totalPager) { %>
        <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
        <% } else { %>
        <input class="next" type="button" value="<%- nextPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

    </div>
    <% } %>
</script>

<script type="text/template" id="doc-pagination">
    <% if(totalRecordset > 0) { %>
    <div class="paging--results">
        <%- totalRecordset %> Results
    </div>
    <div class="filter-result__page-x-of-n pull-right">
        <% if (currentPage == 1) { %>
        <input disabled="disabled" type="button" class="pager-disabled prev" value="<%- previousPage %>">
        <% } else { %>
        <input class="prev" type="button" value="<%- previousPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        <span>Page <%- currentPage %> of <%- totalPager %></span>
        <% if (currentPage == totalPager) { %>
        <input disabled="disabled" type="button" class="pager-disabled next" value="<%- nextPage %>">
        <% } else { %>
        <input class="next" type="button" value="<%- nextPage %>">
        <% } %>
        <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>

    </div>
    <% } %>
</script>


<section class="container search-result-page support-search-result">
    <div class="row" id="plp-wrapper">
        <ul class="nav nav-tabs">
            <!-- <li class="active">
                 <a href="#all-tab" data-toggle="tab" id="allTabLink" aria-expanded="true"><span>All (0)</span></a>
             </li>            -->
            <li id="product-link">
                <a href="#product-tab" data-toggle="tab" id="productTabLink"
                   aria-expanded="false"><span>Products (0)</span></a>
            </li>
            <li id="document-link">
                <a href="#document-tab" data-toggle="tab" id="documentTabLink"
                   aria-expanded="false"><span>Documents (0)</span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="all-tab">
            </div>
            <div class="tab-pane fade" id="product-tab">
                <div class="pagination-output clearfix"></div>
                <div class="row">
                    <div id="output"></div>
                </div>
                <div class="paging-compare-bar">
                    <div class="paging">
                        <div class="paging--container">
                            <div class="pagination-output clearfix"></div>
                            <div class="paging--pages">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="document-tab">
                <div class="row">
                    <div class="doc-pagination-output clearfix"></div>
                    <div class="documentoutput"></div>
                    <div class="paging-compare-bar">
                        <div class="paging">
                            <div class="paging--container">
                                <div class="doc-pagination-output clearfix"></div>
                                <div class="paging--pages">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>