<div>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div>
        <div>
            <h1>Search Results</h1>
        </div>
       <div>
           <h3>Find Support Information</h3>
       </div>
        <div>
            <h4>You searched for <span id="searchPattern"></span></h4>
        </div>
        <div>
            <div>
                <div><b>New search</b></div>
                <div>{{ form.name }}</div>
            </div>
            {{ form.submit }}
        </div>
        <div class="clear"></div>
    </div>
</div>