<div class="view_all">
    <span>
        <a href="{{ data.viewAll }}">
            View All
            <svg enable-background="new 0 0 31.49 31.49" viewBox="0 0 31.49 31.49" xmlns="http://www.w3.org/2000/svg"><path
                d="m21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047h-26.554c-.619.001-1.111.493-1.111 1.112s.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571z"
                fill="#007377"></path>
            </svg>
        </a>
    </span>
</div>


