{#
/**
 * Available variables:
 * - id – (mandatory) HTML id attribute
 * - tooltip_title - Title of the tooltip
 * - tooltip_content - Body copy of the tooltop
 * - tooltip_placement Placement of the tooltip in relation to toggle (right | top)
 * - tooltip_content_extra - Additional Body copy of the tooltop
 */
#}

{{ attach_library('delta_theme/tooltip') }}

<button class="tooltip-button js-tooltip" data-template="{{ id }}" data-tippy-placement="{{ tooltip_placement }}" aria-label="Open Info Popover">
  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: "info",
    icon_size: 20,
    hidden: true,
  } %}
</button>

<template id="{{ id }}">
  <div class="tooltip tooltip_pdp">
    <div class="tooltip__body">
    <div class="tooltip__fullcontent">
      <div class="tooltip_image">
        <img src="/themes/custom/delta_theme/images/warning.svg" alt="{{ 'Warning image'|t }}" />
      </div>
      <div>
        <p class="title">{{ tooltip_title | raw }}</p>
        <p class="content">{{ tooltip_content | raw }}</p>
      </div>
    </div>
    </div>
  </div>
</template>
