{#
/**
 * Available variables:
 * - link_content - the content of the link (typically text)
 * - link_url - the url this link should poing to
 * - link_attributes - array of attribute,value pairs
 */
#}

<a {% if link_url %} href="{{ link_url }}"{% endif %}
  {% for attribute,value in link_attributes %}
    {{ attribute }}="{{ value | raw }}"
  {% endfor %}
>
    {% block link_content %}
      {{ link_content | raw }}
    {% endblock %}
</a>
