{{ attach_library('delta_theme/accordion') }}
{{ attach_library('delta_theme/issue-type-tool') }}

<div class="issue-type-tool-wrapper">
  <div class="issue-type-tool-content">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 4,
      "heading": title,
    } %}
    {{description|raw}}
    <div class="catelog-four-grid grid room-selection-catalog">
      {% for room_type in roomlist %}
        <div class="catelog-fg-block grid-col-md-3">
          {% include "@atoms/catalog-listing-with-data/catalog-listing-with-data.twig" with {
            "content_card_title": room_type.content_card_title,
            "content_card_url": "javascript:void(0)",
            "content_card_img_url": room_type.content_card_img_url,
            "content_card_img_alt_text": room_type.content_card_img_alt_text,
            "content_data_primary": room_type.content_data_primary,
            "content_data_secondary": room_type.content_data_secondary,
            "content_card_accordian_header": room_type.content_card_accordian_header,
          } %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="issue-header">
    <h4>
      <span id="issue-header-issue_room"> </span> {{ heading|raw }}
    </h4>
  </div>

  <div class="issue-wrapper">
  {% block list_content %}
    {% for issueroom in issuelists %}

      {% if issueroom.issue_room %}
        <div class="issue-block-{{ issueroom.issue_room }}">
          {% if issueroom.issue_desc %}
            {% for issuedesc in issueroom.issue_desc %}

              <div class="issue-block_container">
                {% include "@atoms/03-lists/_list-item-definition.twig" with {
                  dl_term_base_class: 'accordion-term issue_head',
                  dl_def_base_class: 'accordion-def issue_parts',
                  dl_term: issuedesc.issue_head,
                  dl_def: issuedesc.issue_parts
                } %}

                <div class="issue_parts-wrapper">

                  <div class="grid-col-md-2 issue_resource">

                    {% if issuedesc.issue_subhead %}
                    <h6 > {{ issuedesc.issue_subhead|raw }} </h6>
                    %}
                    {% endif %}

                    {% for issuelink in issuedesc.issue_resource_link_list %}

                      {% if issuelink.link.title %}
                      <p>
                        {% include "@atoms/01-links/link/link.twig" with {
                          "link_content": issuelink.link.title,
                          "link_url": issuelink.link.uri,
                          "link_attributes": issuelink.link.options,
                        } %}
                      </p>
                      {% endif %}

                      {% if issuelink.link_description %}
                        {{ issuelink.link_description|raw }}
                      {% endif %}

                    {% endfor %}

                    <ul>
                      {% if issuedesc.issue_resource_bulletin %}
                        <li> {{ issuedesc.issue_resource_bulletin }} </li>
                      {% endif %}
                    </ul>
                  </div>

                  <div class="grid-col-md-10 issue_parts-container">
                    {% if issuedesc.partslists %}
                      {% for issueparts in issuedesc.partslists %}

                        <div class="grid-col-md-3">
                        {% if issueparts.part_image_source %}
                          {% include "@atoms/04-images/00-image/_image.twig" with {
                              img_src: issueparts.part_image_source,
                              img_alt: issueparts.part_name,
                          } %}
                        {% endif %}

                          {% if issueparts.part_name %}
                              <p class="issue_parts-partsname">
                                {{ issueparts.part_name }}
                              </p>
                          {% endif %}

                          {% if issueparts.part_desc %} <p> {{issueparts.part_desc|striptags}} </p> {% endif %}

                          {% if issueparts.part_repair_link %}
                            <span class="issue_parts-viewlink">
                              <a class="cta-link cta-link--md" href="{{ issueparts.part_repair_link }}" >
                                <span class="issue_parts-viewlinkText">
                                  {{ issueparts.partLinkText }}
                                  <span class="itt_cta-arrow"></span>
                                </span>
                              </a>
                            </span>
                           {% endif %}
                        </div>

                      {% endfor %}
                    {% else %}
                      <h6 class="h6 u-color-gray-30" style="text-align: center;margin: auto;"> No records Found </h6>
                    {% endif %}
                  </div>

                </div>

              </div>

            {% endfor %}
          {% else %}
            <h6 class="h6 u-color-gray-30" style="text-align: center;margin: auto;"> No records Found </h6>
          {% endif %}
        </div>
      {% endif %}

    {% endfor %}
  {% endblock %}
  </div>
</div>
