{#
/**
 * Available variables:
 * - attributes - attributes for the <select> element
 * - options - options
 * - select_modifiers - modifier classes for the <select> element
 */
#}

{% set disabled_class = attributes.disabled == "disabled" ? "form-item--disabled" : ""  %}
{% set required_class = attributes.required == "disabled" ? "form-item__label--required" : ""  %}

<div class="select-full-border form-item form-item--dropdown {{ disabled_class }}">
  <label class="form-item__label form-item__label--textfield {{ required_class }}">
    <span>{{label}}</span>
  </label>
  {% include "@atoms/05-forms/_select-element.twig" with {
    options: options,
    attributes: attributes,
    modifiers: select_modifiers,
    select_id: select_id
  } %}
</div>
