{% if not attributes %}
  <div class="form-item form-item--radio">
    <ul class="form-item--radios">
    {% endif %}
        {% for radio in radios %}
          {% include "@atoms/05-forms/radio/_radio-item.twig" with {
            label: radio.label,
            attributes: radio.attributes,
            name: radio.name,
          } %}
        {% endfor %}
    {% if not attributes %}
    </ul>
  </div>
{% endif %}
