{% if not attributes %}
<div class="form-item form-item--radio">
  <legend class="heading-3">Options as Radio Buttons</legend>
  <ul class="form-item--radios">
{% endif %}
    {% for radio in radios %}
      {% include "@atoms/05-forms/radio/_radio-item.twig" with {
        label: radio.label,
        attributes: radio.attributes
      } %}
    {% endfor %}
{% if not attributes %}
  </ul>
</div>
{% endif %}
