{% if pdp_label_img %}
<div class="pdp-prod-label">
  {% include "@atoms/04-images/00-image/_image.twig" with {
    img_src: pdp_label_img,
    img_alt: pdp_label_text,
    img_title: pdp_label_text,
  } %}
</div>
{% endif %}
{% if pdp_label_text %}
<div class="pdp-prod-label-txt">
  {% include "@atoms/02-text/text/01-paragraph.twig" with {
    paragraph_content: pdp_label_text
  } %}
</div>
{% endif %}
