{% set image_base_class = image_base_class|default('img') %}
{% set img_src_splits = img_src|split("/") %}
{% set image_lazy_class = [] %}
{% if lazyload %}
  {% set image_lazy_class = image_lazy_class|merge(['lazy']) %}
{% endif %}

  <img {{ bem(image_base_class, (image_modifiers), image_blockname, image_lazy_class) }}
  {% if img_srcset %}
    srcset="{{ img_srcset }}"
  {% endif %}
  {% if img_sizes %}
    sizes="{{ img_sizes }}"
  {% endif %}
  {% if lazyload %}
    data-src="{{ img_src }}" src=""
  {% else %}
    src="{{ img_src }}"
  {% endif %}
  {% if img_alt %}
    alt="{{ img_alt }}"
  {% else %}
      alt="{{ img_src_splits|last }}"
  {% endif %}
  {% if img_title %}
    title="{{ img_title }}"
  {% endif %}
/>