{% set image_base_class = image_base_class|default('img') %}
{% set img_src_splits = img_src|split("/") %}

<img
  {{ bem(image_base_class, (image_modifiers), image_blockname) }}
  {% if img_srcset %}
    srcset="{{ img_srcset }}"
  {% endif %}
  {% if img_sizes %}
    sizes="{{ img_sizes }}"
  {% endif %}
  data-src="{{ img_src }}"
  src= "/themes/custom/delta_theme/images/lazyload.png"
  {% if img_alt %}
    alt="{{ img_alt }}"
  {% else %}
      alt="{{ img_src_splits|last }}"
  {% endif %}
  {% if img_title %}
    title="{{ img_title }}"
  {% endif %}
/>
