/* Static View-only Star Version */
.fivestar-basic div.fivestar-widget-static .star {
  background-image: url(star.png);
}

.fivestar-basic div.fivestar-widget-static .star span.on {
  background-image: url(star.png);
  color: #0199D0;
}

.fivestar-basic div.fivestar-widget-static .star span.off {
  background-image: url(star.png);
}

/* Javascript Star Version */
.field--name-field-ratings div.fivestar-widget .cancel,
.field--name-field-ratings div.fivestar-widget .cancel a {
  background-image: url(cancel.png);
}

.field--name-field-ratings div.fivestar-widget .star,
.field--name-field-ratings div.fivestar-widget .star a {
  background-image: url(star.png);
}

.field--name-field-ratings div.fivestar-widget .star, div.fivestar-widget .star a {
  background-image: url(star.png);
}

.field--name-field-ratings div.fivestar-widget div.hover a,
.field--name-field-ratings div.rating div a:hover {
  background-image: url(star.png);
}
