// Replace `$search` with `$replace` in `$string`
// Used on our SVG icon backgrounds for custom forms.
//
// @author Hugo Giraudel
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function get-select-icon($color) {
  @return str-replace(
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='#{$color}' d='M14 5.83L12.6 4.5 8 8.85 3.4 4.5 2 5.83l6 5.67 6-5.67z'/%3E%3C/svg%3E"),
    "#",
    "%23"
  );
}

.form-item--dropdown {
  .form-item__label > span {
    opacity: 0;
  }
}

.select-full-border {
  &.is-filled {
    .form-item__label {
      font-size: 12.64px;
      left: 16px;
      top: 18px;

      span {
        display: none;
      }
    }

    .form-item__select {
      padding: 9.5px 45px 9.5px 16px !important;
    }
  }

  .form-item__select {
    border: 2px solid $gray-60 !important;
    line-height: 27px !important;
    font-size: 18px;
    padding: 9.5px 45px 9.5px 16px;
    letter-spacing: 0;
  }
}

select.form-item__select {
  display: block;
  width: 100%;
  padding: 14.5px 45px 14.5px 16px;
  font-family: inherit;
  transition: border-bottom 0.15s ease-in-out;
  appearance: none;
  background: $white get-select-icon($gray-10) no-repeat right 0.75rem center;
  background-size: 20px 20px;
  height: auto;
  line-height: 27px !important;
  
  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    background: get-select-icon($gray-60) no-repeat right 0.75rem center;
    background-size: 20px 20px;
  }

  .form-item--error & {
    border-bottom: 3px solid $notification-error;
  }
}

.form-item__select--sm {
  height: 40px;
  line-height: 24px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

select::-ms-expand {
  display: none;
}

.product-register{
  .webform-submission-product-registration-form{
    .form-item__select{
      padding-left: 0px;
    }
  }
}
