.utility-mobile {
  display: none;

  @include breakpoint($main-menu-medium) {
    display: none !important;
  }

  &.active-utility-mobile {
    display: block;
  }

  &.hide-utility-mobile {
    display: none;
  }

  @include maxbp($main-menu-medium) {
    position: absolute;
    left: 0;
    top: 345px;
    z-index: 200;
    right: 0;

    .utility-block {
      padding: 0;

      .utility-nav {
        max-width: none;
        display: block;

        ul {
          padding: 0;

          li {
            display: block;
            text-align: left;
            border-bottom: 1px solid rgba(178, 178, 180, 0.3);
            padding: $space/2 $space*2 $space;
            margin: 0 0 5px;

            a {
              color: $white;
              font-size: 16px;
              position: relative;

              &:hover {
                color: $gray-10;
              }

              &::before {
                display: inline-block;
                font-size: 23px;
                width: 35px;
                vertical-align: middle;
              }
            }
          }
        }
        .utility-country-dropdown {
          padding: 5px 0 0 20px;

          &.active-utility-country-dropdown {
            background: #444;
            color: $white;
          }

          .country-dd-title {
            &:after {
              margin: 0 0 0 10px;
            }
          }

          .country-dd-desc {
            width: 100%;
            right: 0;

            ul {
              li {
                border: 1px solid rgba(178, 178, 180, 0.3);

                &:last-child {
                  border: none;
                }

                a {
                  border: none;
                  padding: 6px 0;
                  font-size: 16px;
                  color: $white;

                  &:hover {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
