.header-utility {
  height: 30px;
  padding: 10px 0 0;
  transition: height ease 0.1s;
  overflow: visible;

  &.onscroll-hide {
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  @include maxbp($r_1000) {
    padding: 0;
    height: 0;
  }
}

.utility-block {
  background: $black;

  @include maxbp($r_1000) {
    height: auto;
    padding: 0;
  }

  .utility-nav {
    max-width: $container;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

    ul {
      margin: 0;
      text-align: right;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 0 0 $space*3;

        .canada-only-link{
          display: none;
        }
        &:first-child {
          margin: 0;
        }

        a {
          color: $gray-30;
          font-size: 12px;
          text-decoration: none;
          line-height: 16px;
          -webkit-transition: all ease .5s;
          transition: all ease .5s;
          font-family: $font-din1451-mittelschrift!important;
          letter-spacing: 2px;
          text-transform: uppercase;

          &::before {
            display: none;
            font-family: $font-icon;
          }

          &:hover {
            color: #208188;
          }
        }
      }
    }
    .utility-country-dropdown {
      //padding: 0 0 0 35px;
      padding: 0px;
      position: relative;

      /* &.active-utility-country-dropdown {
        .country-dd-title {
          &::after {
            transform: rotate(90deg);
          }
        }
      } */
      &:hover{
        cursor: pointer;
        .country-dd-desc{
          display: block;
        }
        .country-dd-title {
          &::after {
            transform: rotate(90deg);
          }
        }
      }
      .country-dd-title {
        color: #827e7c;
        font-size: 12px;
        font-family: $font-din1451-mittelschrift!important;
        letter-spacing: 2px;
        .country-dd-title-img {
          display: inline-block;
        }

        &::after {
          content: "\e901";
          font-family: $font-icon;
          display: inline-block;
          transition: all ease 0.3s;
          position: absolute;
          top: 3px;
          right: -25px;
        }
        
      }

      .country-dd-desc {
        display: none;
        position: absolute;
        z-index: 1000;
        background: $gray-20;
        color: white;
        width: 170px;
        right: -29px;
        padding: 5px 0;
        transition: .2s ease;
        // margin-top: 5px;

        ul {
          text-align: left;

          li {
            display: block;
            margin: 0;

            &:last-child {
              a {
                margin: 0;
                border: none;
              }
            }

            a {
              color: white;
              background-size: 24px;
              background-repeat: no-repeat;
              display: block;
              border-bottom: 1px solid $black;
              padding: 15px 20px;
              position: relative;
              text-transform: none;
              //font-family: $font-body !important;
              font-family: $font-din1451-mittelschrift!important;
              font-size: 13px;
              line-height: 15px;
              text-align: center;

              &:after {
                background: url("../images/tik.png") no-repeat 97% center;
                background-size: 27px;
                content: "";
                display: block;
                width: 27px;
                height: 27px;
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                opacity: 0;
                transition: all ease 1s;
                filter: invert(100%);
              }

              &.active-country {
                &:after {
                  opacity: 1;
                }

              }

              .country-icon {
                display: inline-block;
                width: 24px;
                vertical-align: middle;
                margin: 0 5px 0 0;

                img {
                  width: 100%;
                }
              }

            }
          }
        }
      }
    }
  }

  .showroom-wrapper {
    position: absolute;
    right: 0;
    max-width: 1600px;
    left: 0;
    margin: 5px auto 0;
    opacity: 0;
    transition: opacity ease 0.2s;
    z-index: 200;
    visibility: hidden;

    @include maxbp($r_1000) {
      //top: 367px;
      //max-width: none;
      //width: 100%;

      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      position: fixed;
      z-index: 1000;
    }

    &.active-showroom-wrapper {
      opacity: 1;
      visibility: visible;
    }

    .showroom-data {
      position: absolute;
      right: 64px;

      @include maxbp($r_1000) {
        //left: 0;
        //max-width: none;
        //width: 100%;

        top: 30%;
        width: 90%;
        margin: auto;
        padding: 40px 20px;
        left: 0;
        right: 0;
        max-width: none;
      }
    }
  }
}

.brizo-com{
  .utility-block {
    .utility-nav{
      .utility-country-dropdown{
        padding: 3px 0px 0px 35px;;
      }
    }
  }
}

.brizofaucetca, .brizofaucet-ca{
  .utility-block {
    .utility-nav{
      li{
        .canada-only-link{
          display: block;
          &:hover{
            color: #827E7C;
            ~.country-dd-desc{
              display: block;
            }
          }
        }
      }
      .utility-country-dropdown{
        padding: 0px;
        &:hover{
          .country-dd-desc{  
            top: 22px;
          }
        }
        .country-dd-title{
          &::after{
            top: 3px;
          }
        }
      }
    } 
  }
}
