{{ attach_library('brizo_theme/header-showroom') }}
<div class="utility-block">
  <div class="utility-nav">
  <ul>
    {% for utility_link in utility_links %}
      <li>
        {% include "@atoms/01-links/link/link.twig" with {
          "link_url": utility_link.utility_url,
          "link_content": utility_link.utility_content,
          "link_base_class": utility_link.utility_class
        } %}
      </li>
    {% endfor %}
  </ul>
  {% if country_menu_enable %}
  <div class="utility-country-dropdown">
  <div class="country-dd-title">
      <div class="country-dd-title-img"></div>
  </div>
  <div class="country-dd-desc">
    <ul>
        {% for country_dd_link in country_dd_links %}
            <li>
            {% include "@atoms/01-links/link/link.twig" with {
                "link_url": country_dd_link.country_dd_url,
                "link_content": country_dd_link.country_dd_content,
                "extra1":  country_dd_link.country_dd_image,
                "link_base_class": country_dd_link.country_dd_class
            } %}
            </li>
      {% endfor %}
    </ul>
    </div>
  </div>
  {% endif %}
  </div>
</div>
