{% if not attributes %}
<div class="form-item form-item--radio">
  <legend class="heading-3">Switches</legend>
  <ul class="form-item--radios">
{% endif %}
    {% for switch in switches %}
      {% include "@atoms/05-forms/switch/_switch-item.twig" with {
        label: switch.label,
        attributes: switch.attributes
      } %}
    {% endfor %}
{% if not attributes %}
  </ul>
</div>
{% endif %}
