{#
/**
 * Available variables:
 * - icon_url – Keyword for the finish color (chrome, stainless, white, etc)
 */
#}

<img src="{{ icon_url }}" class="feature-icon" role="presentation" alt="feature" />
