/* normalize css start */

/* Schedule and Request Web form */
@font-face {
  font-family: 'tradegothicbold';
    src: url('../fonts/trade-gothic-bold-font-webfont.eot');
    src: url('../fonts/trade-gothic-bold-font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/trade-gothic-bold-font-webfont.woff') format('woff'),
         url('../fonts/trade-gothic-bold-font-webfont.ttf') format('truetype'),
         url('../fonts/trade-gothic-bold-font-webfont.svg#tradegothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'tradegothic-lt-light';
  src: url('../fonts/light/tradegothicltstd-light-webfont.woff2') format('woff2'),
       url('../fonts/light/tradegothicltstd-light-webfont.woff') format('woff'),
       url('../fonts/light/trade-gothic-lt-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.button:disabled,
.button[disabled] {
  background-color: #474747;
  border-color: #3a3a3a;
  cursor: not-allowed;
  opacity: .65;
  box-shadow: none;
}

.form-submit {
  margin: 40px 0;
  padding: 15px 30px;
}
.full-width-banner{padding-bottom: 20px; width: 100%;}
.full-width-banner img{width: 100%;}
.form-element {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.25;
    color: #5a5a5a;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.home-banner-image{text-align: center;}
.home-banner-image img {
  height: auto; width: 100%;
}
#brands{margin-top: 10px;}
.form-textarea {
  height: auto;
  width: 100%;
  resize: none;
}

.webform-submission-form label {
  font-weight: 700;
  color: black;
}

#block-brizodelta-theme-account-menu ul li {
  text-align: right;    border: 0;
}

ul {
  padding: 0;
  padding-left: 30px;
}
.form-item {
  padding: 10px 0;
  position: relative;
}

.ui-datepicker-trigger {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 60px;
}

/* Error */
.form-error {
  color: red;
}

.form-item--error-message {
  display: none !important;
}

.intl-tel-input.allow-dropdown .selected-flag {
  height: auto;
  top: 16px;
}

.form-actions {
  display: inline-block;
}

/*Reset Button*/
#edit-reset-submit {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

#edit-reset-submit:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #fff;
}
.hide-menus .main-navigation-menu {
  display: none;
}
.mainmenu{padding: 0;}
/* Mobile responsive menus */
@media(max-width: 1023px) {
  img{ height: auto;}
  .toggle-expand .bar1,.toggle-expand .bar2,.toggle-expand .bar3 {
    width: 24px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: .4s;
    transition: .4s;
  }

  main {
    padding-top: 0 !important;
  }
  header .mainmenu {
    display: none;
  }
  .mainmenu.megamenu-open {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d7d7d9;
    position: fixed;
    background: #fff;
    overflow-y: visible;
    overflow-x: hidden;
    height: 100vh;
    z-index: 999;
    left: 0;
    top:57px;
    padding-left: 0!important;
  }

/*MAY BE ERROR*/
  .mainmenu.megamenu-open li{ padding-left: 30px;}
  .toggle-expand.toggle-expand__open .bar1 {
    transform: rotate(-45deg) translate(-4px,6px);
  }
  .toggle-expand.toggle-expand__open .bar3 {
    transform: rotate(45deg) translate(-4px,-8px);
  }
  .toggle-expand.toggle-expand__open .bar2 {
    opacity: 0;
  }
}

/* Main Styles */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

#brands.img-responsive img{width: 100%;}
#brands.img-responsive .logo-content img{width: auto;}

/* @font-face {
	font-family: "tradegothic-lt-light";
	src: url('../fonts/trade-gothic-lt-light.eot');
	src: url('../fonts/trade-gothic-lt-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/trade-gothic-lt-light.svg#TradeGothic LT Light') format('svg'),
	url('../fonts/trade-gothic-lt-light.woff') format('woff'),
	url('../fonts/trade-gothic-lt-light.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
} */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'tradegothicbold', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #5a5f69;
}

label {
  color: #5a5f69;
  margin: 10px 0;
  display: block;
}

h2,
.h2 {
  font-size: 28px;
}
h4,
.h4 {
  font-size: 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* ol,
ul {
  list-style: none;
} */
.hide {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #fff;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}
html {
  background: #fff;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

body {
  font-family: "tradegothic-lt-light", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #19243f;
  background-color: #fff;
  margin: 0;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* clearfixes */
.clear:after {
  clear: both;
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
}


.clear:before {
  content: "";
  display: table;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-bottom: 20px;
}

a {
  color: #5a5f69;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
  color: #009fe3;
  text-decoration: underline;
}

/* normalize css End */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
  clear: both;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  margin: auto;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.logo-content {
  margin: 3.125em auto;
  text-align: center;
}
.img-responsive img {
  height: auto;
  display: block;
  margin: 0 auto;
}
.home-about-us {
  margin: 2.125em auto;
  text-align: center;
  color: #777777;
}
.query-section {
  background-color: #19243f;
  padding: 3.75em 1.57em;
  text-align: center;
}
.query-section .button {
  margin: 16px 0;
}
.button,
a.button,
a.button:link,
a.button:active,
a.button:visited {
  background: #777 none repeat scroll 0 0;
  text-decoration: none;
  border: 0;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
}

.button:hover {
  box-shadow: 0 0 10px 100px rgba(255, 255, 255, 0.15) inset;
}

.button a {
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  display: block;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 15px 0 15px 0;
  position: relative;
  width: 100%;
  background: #fff;
}
footer ul{padding-left: 0;}
header nav li {
  display: block;
  border: 1px solid #ebf0fa;
}
header nav + nav li {
  border: 0 none;
  text-align: right;
}
header nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #5a5f6a;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}



header nav li a:hover,
header nav li a:active,
header nav li a.active {
  text-decoration: none;
  color: #009fe3;
}

header nav + nav li a {
  white-space: nowrap;
  padding: 0 10px;
  border: 1px solid #5a5f69;
  transition: all 0.2s linear 0s;

}
header nav + nav li a:hover {
  background: #5a5f69;
  color: #fff;
  text-decoration: none;
}
article footer{
  display: none;
}

#block-brizodelta-theme-content {
  margin: 10px;
  margin-top: -20px;
}

body.back-color {
  background-color: #ebf0fa;
}
.center{
  text-align: center;
}

.events-title{
  font-size: 26px;
  text-transform: uppercase;
}
.events-title span{
  color: #009FE3;
}

.headerfixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  z-index: 999;
}

.header-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
footer ul {
  list-style-type: none;
}
@media (max-width: 767px) {

  .iframe-widget iframe {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .showroom__events {
    text-align: center;
  }
}

.full-width-image_widget {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .container {
    width: 740px;
  }
  main {width: auto;}
  header nav + nav li{text-align: right;}
  .layout-container {
    position: relative;
  }

  .header-component {
    padding: 0 30px;
  }

  header {
    background-color: white;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  header .main-navigation-menu {
    flex-grow: 1;
    align-self: center;
  }

  header nav:first-child ul {
    padding-left: 11%;
  }
  header .user-account-menu {
      text-align: center;
      align-self: center;
  }

  header .main-navigation-menu li {
    display: inline-block;
    border: none;
    padding: 0 12px;
  }

  .query-section .button {
    margin: 0 1.875em;
  }
  main {
    padding-top: 100px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  .home-page main {
    width: 100%;
  }

  #block-brizodelta-theme-footer ul li {
    display: inline-block;
    padding-right: 10px;
  }
  .mainmenu {text-align: right;}
}

@media (max-width: 1023px) {
  a {
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
  }
  .header-component {
    padding: 0 10px;
  }
  body.body-no_scroll {
    overflow: hidden;
  }
  .main-navigation-menu {
    order: -1;
    flex: 1 0 0px;
    cursor: pointer;

  }
  header .user-account-menu {
    flex: 1 0 0px;
  }
  #block-brizodelta-theme-branding {
    text-align: center;
    flex: 1 0 1px;
  }
  #block-brizodelta-theme-footer ul li {
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/* facebook_icon*/
.facebook_icon{
  width:50px;
  height:50px;
}
.toolbar-fixed header {
    background-color:
    white;
    z-index: 100;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
}

/*Login Page*/
@media (min-width: 1200px) {
  .path-loginPage #block-brizodelta-theme-content {
    width: 1160px;
    margin: 0 auto;
  }
}

.path-loginPage .brizodelta-login-form {
  margin-top: 20px;
}

.path-loginPage .user-login-btn {
  margin: 0px 0px;
}

.path-loginPage .brizodelta-login-form img {
  height: 100%;
}

.path-loginPage .brizodelta-login-form .user_login h2 {
  background: url(/themes/custom/brizodelta_theme/images/icons/src/login.png) no-repeat 0 50%;
  padding-left: 24px;
  line-height: 1.6em;
  margin: 0;
}

.path-loginPage .brizodelta-login-form .form-item__textfield {
  width: 95%;
  height: 33px;
}

.path-loginPage .brizodelta-login-form .rememberme .custom-input__label {
  display: inline-block;
}

.path-loginPage .brizodelta-login-form .login-error {
  color: red;
  display: block;
}

.path-loginPage .brizodelta-login-form .user-details {
  padding-bottom: 30px;
}

/* Resources */
.guest-profile,.questionnaire {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    background: #f2f2f2;
}

.guest-profile h4,.questionnaire h4 {
  margin-top: 0;
}

.questionnaire p {
  margin: 0;
}

/* captcha textfield hidden */
.captcha-validate {
    height: 0;
    opacity: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

.captcha+.form-item label {
    display: none;
}

/* Page not found styles */
.cta-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ac0535;
    font-family: Trade_Gothic_LT_Bold;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cta-link--sm {
    font-size: .88875rem;
}

/* error message remove in booking page */

.path-loginPage div[aria-label*="Error message"] {
  display: none;
}

body.back-color #block-brizodelta-theme-content {
  margin-top: 20px;
}

div[aria-label*="Error message"] {
  display: none;
}

/*MAY BE ERROR*/
#block-brizodelta-theme-account-menu a {
  padding: 0 20px;
  border: 1px solid #5a5f69;
}

#block-brizodelta-theme-account-menu a:hover{background: #5a5f69; color:#fff }
