{#
/**
 * This is strictly an exmaple file to demonstrate markup in Pattern Lab.
 * It is not intended to be included in any other component.
 */
#}

{% set sizes = ['XXXL', 'XXL', 'XL', 'LG', 'BASE', 'SM', 'XS'] %}

<div class="text">
  {% for size in sizes %}
    <p class="u-text-{{size|lower}}">3-Body/1-{{size}}/Gray-10</p>
  {% endfor %}
</div>

<div class="text">
  {% for size in sizes %}
    <p class="u-text-{{size|lower}} u-text-underline">3-Body/1-{{size}}/Gray-10/Underline</p>
  {% endfor %}
</div>

<div class="text">
  {% for size in sizes %}
    <p class="u-text-{{size|lower}} u-text-bold u-text-underline">3-Body/1-{{size}}/Gray-10/Bold</p>
  {% endfor %}
</div>

<div class="text">
  {% for size in sizes %}
    <p class="u-text-{{size|lower}} u-color-gray-30">3-Body/1-{{size}}/Gray-30</p>
  {% endfor %}
</div>

<div class="text">
  {% for size in sizes %}
    <p class="u-text-{{size|lower}} u-text-oblique u-color-gray-30">3-Body/1-{{size}}/Gray-30/Oblique</p>
  {% endfor %}
</div>

<div class="text">
  {% for size in sizes %}
    <p class="u-text-{{size|lower}} u-color-gray-50">3-Body/1-{{size}}/Gray-50</p>
  {% endfor %}
</div>

