// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph($margin: 0 0 1em) {
  margin: #{$margin};
}

@mixin body-copy {
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.5;
}

body {
  @include body-copy;
}

.paragraph {
  @include paragraph;

  &--bold {
    font-family: $font-bold2;
  }

  &--oblique {
    font-family: $font-oblique;
  }

  &--underline {
    text-decoration: underline;
  }
}

strong {
  font-family: $font-bold2;
  font-weight: 700;
}

em {
  font-family: $font-oblique;
  font-style: italic;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px $color-border;
  margin-left: 1em;
  padding-left: 1em;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}

.trade-gothic-lt-roman{
  font-family: $font-body;
}

.trade-gothic-lt-light{
  font-family: $font-light;
}

.trade-gothic-lt-bold{
  font-family: $font-bold;
}

.trade-gothic-lt-bold-2{
  font-family: $font-bold2;
}

.trade-gothic-lt-oblique{
  font-family: $font-oblique;
}

.tradegothic-lt-light{
  font-family: $font-heading-light;
}

.calluna-font{
  font-family: $font-calluna;
}

.calluna-font-light{
  font-family: $font-calluna-light;
}

.calluna-font-italic{
  font-family: $font-calluna-italic;
}

.calluna-font-bold{
  font-family: $font-calluna-bold;
}

.calluna-font-bold-italic{
  font-family: $font-calluna-bold-italic;
}
