.card-cover {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &-data {
    height: 100%;
  }

  a {
    cursor: pointer;
    display: block;
    outline: 0;
    pointer-events: auto;
    height: 100%;

    &[href=""] {
      cursor: auto;
    }
  }

  &.card-overlay-alt {
    .card-cover-img {
      @include maxbp($tablet) {
        &::after {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .card-cover-img {
    position: relative;
    height: 100%;

    &::after {
      background: rgba(24, 25, 29, 0.7);
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 0%;
      content: "";
      display: block;
      transition: all ease 0.5s;
      right: 0;
      bottom: 0;
      margin: auto;

      @include maxbp($tablet) {
        //width: 100%;
        //height: 100%;
      }
    }

    picture,img {
      height: 100%;
    }
  }

  /*
  &:hover {
    .card-cover-img {
      &::after {
        width: 100%;
        height: 100%;
      }
    }

    .cover-big-title-wrapper {
      display: block;
      border-bottom: 2px solid transparent;
    }

    .cover_card_big_title {
      display: block;

      &::after {
        width: 100%;
        opacity: 1;
      }
    }

    .cover-title-wrapper {
      display: block;
      border-bottom: 2px solid transparent;
    }

    .cover_card__title {
      width: 100%;

      &::after {
        width: 100%;
        opacity: 1;
      }
    }

    .cover_card__button {
      color: $gray-10;
    }
  }
*/

  .cover-big-title-wrapper {
    display: inline-block;
    border-bottom: 2px solid $gray-10;
    margin: 0 0 22px;
    padding: 0;

    @include maxbp($medium) {
      margin: 0 0 15px;
    }
  }

  .cover_card_big_title {
    position: relative;
    color: $white;
    display: inline-block;
    margin: 0;

    &::after {
      content: "";
      background: $white;
      height: 2px;
      left: 0;
      width: 100px;
      display: block;
      position: absolute;
      bottom: -2px;
      transition: width ease 0.5s;
      opacity: 0;
    }
  }

  .cover-title-wrapper {
    display: inline-block;
    border-bottom: 2px solid white;
    margin: 0 0 15px;

    @include maxbp($large) {
      display: inline-block;
    }

    & ~ p {
      margin-top: 0;
    }
  }

  .cover_card__title {
    text-transform: uppercase;
    font-weight: normal;
    color: $white;
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 0 0 13px;

    &::after {
      content: "";
      background: $white;
      height: 2px;
      left: 0;
      width: 50px;
      display: block;
      position: absolute;
      bottom: -2px;
      transition: width ease 0.8s;
      opacity: 0;
    }
  }

  .cover-card-desc {
    margin: 0 0 $space;
  }

  .cover_card__body {
    color: $white;
    margin: 0 0 $space;
  }

  .cover_card__button {
    @include no-underline;

    text-transform: uppercase;
    font-family: $font-condensed;
    color: $white;
    //transition: all ease 0.5s;

    &::after {
      content: "\e901";
      font-family: $font-icon !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 10px;
      opacity: 1;
      color: $white;
      position: relative;
      margin-top: -4px;
    }

    &:hover {
      color: $gray-30;
      //transition: all ease 0.1s;

      &::after {
        color: $gray-30;
      }
    }
  }

  .cover-card-body-wrapper {
    position: absolute;
    bottom: 140px;
    left: 64px;
    right: 64px;
    color: white;
    //text-shadow: 0 0 2px rgb(0, 0, 0);
    z-index: 1;

    @include breakpoint($large) {
      bottom: 64px;
    }

    @include maxbp($main-menu-medium) {
      bottom: 24px;
      left: 24px;
      right: 24px;
    }

    @include maxbp($medium) {
      bottom: 16px;
      left: 16px;
      right: 16px;

      & > a {
        text-decoration: none;
      }
    }

    & > a {
      text-decoration: none;
    }

    .card-cover__body {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      font-family: $font-body;
      margin-top: 0;
      text-decoration: none;
    }
  }

  .mega3-sans-serif--no-space {
    margin-bottom: 0;
    line-height: 64px;
  }
}

.cover-card--dark h1 {
  color: white;
}

.card-cover.card-cover--dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .mega1,
  .mega2,
  .mega3,
  .mega4 {
    color: $white;
  }

  .cta-link {
    color: $white;

    &::after {
      color: $white;
    }

    &:hover {
      color: $gray-30;
      transition: all ease 0.3s;

      &::after {
        color: $gray-30;
        transition: all ease 0.3s;
      }
    }
  }

  .cover-big-title-wrapper {
    border-bottom: 2px solid white;
    word-break: break-word;
  }

  .card-cover__body {
    color: $white;
  }
}
