{#
/**
 * Available variables:
 * - breadcrumb - List of breadcrumb links
 * - Image_src - URL for the image
 * - title - Title of the banner
 * - headline - Headline of the banner
 * - content - body copy (paragraph)
 * - disclaimer - (optional) disclaimer text
 * - buttons - (optional) array of buttons
 */
#}
{{ attach_library('brizo_general/elearning') }}
{{ attach_library('brizo_theme/picturefill') }}
{% if banner_carousel %}
  {{ attach_library('brizo_theme/bannerCarousel') }}
{% endif %}

{% set banner_base_class = banner_base_class|default('banner') %}

<div {{ bem(banner_base_class, (banner_modifiers), banner_blockname) }}>
      {% if breadcrumb %}
        <div class="breadcrumb-block {{ color_theme }}">
        {% if pattern_lab %}
          {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
        {% else %}
        {{ drupal_block('system_breadcrumb_block') }}
        {% endif %}
        </div>
      {% endif %}

{% if page_title %}
  {% set img_alt = page_title['#text']|striptags %}
{% else %}
  {% set img_alt = "Page Banner" %}
{% endif %}

  {% if banner_carousel %}
  <div class="{{banner_carousel}} single-image-slider">
  {% for slide in slides %}
  <div class="banner__wrapper {{color_theme}}">
    <picture>
      <source srcset="{{ slide.banner_image_src }}" media="(min-width: 767px)">
    {#  <source srcset="{{ slide.mobile_banner_image_src }}" media="(max-width: 767px)"> #}
      <img src="{{ slide.banner_image_src }}" alt="{{ bgimagealt }}" onerror="onError.call(this)" />
    </picture>
    <div class="grid-container banner__content">
      <div class="banner__content__flex {{slide.content_position}}">
        <div class="{{slide.overlay_bg}} banner__content_inner">
          {% if slide.page_title %}
            <h1 class="banner__title">{{ slide.page_title }}</h1>
          {% endif %}
          {% if content_text %}
           {% include "@atoms/02-text/text/01-paragraph.twig" with {
              "paragraph_content": slide.content_text,
              "paragraph_base_class": content_base_class|default('banner__paragraph'),
            } %}
          {% endif %}
          {% if slide.read_more %}
                {% include "@atoms/01-links/link/link.twig" with {
                "link_url": slide.read_more.link_url,
                "link_content": slide.read_more.link_content,
                "link_modifiers": slide.read_more.link_modifiers,
              } %}
          {% endif %}
          {% if slide.content_image %}
            <div class="content_image_with_link">
              <div class="content_image">
              {% include "@atoms/04-images/00-image/responsive-image.twig" with {
                "img_url": slide.content_image_url|default(card_link_url),
                "img_src": slide.content_image,
                "img_alt": slide.content_image_alt,
              } %}
              </div>
              {% if slide.content_image_link %}
                  {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                  "link_url": slide.content_image_link.link_url,
                  "link_content": slide.content_image_link.link_content,
                  "cta_link_modifiers": ["large"],
                } %}
              {% endif %}
            </div>
          {% endif %}
       </div>
      </div>
    </div>
    {% if slide.video_banner %}
      <div class="video_banner">
            {% include "@organisms/video-banner/video-banner.twig" with {
              "video_content": slide.video_banner.video_content,
              "video_poster_url": slide.video_banner.video_poster_url,
              "video_banner_title": slide.video_banner.video_banner_title,
              "video_banner_subtitle": slide.video_banner.video_banner_subtitle,
          } %}
      </div>
    {% endif %}
  </div>
  {% endfor %}
  </div>
  {% else %}
  <div class="banner__wrapper {{color_theme}}">
  <div class="banner_img">
    <picture>
      <source srcset="{{ banner_image_src }}" media="(min-width: 920px)">
      {# <source srcset="{{ mobile_banner_image_src }}" media="(max-width: 919px)"> #}
      <img src="{{ banner_image_src }}" alt="{{ img_alt }}" />
    </picture>
    <div class="banner__footer">
    <div class="plp-share-link social_sharing">
      <a class="share-this-page-plp" href="JavaScript:Void(0)">Copy & Share This Page Link</a>
    </div>
    {% if social_sharing %}
      <div class="social_sharing">
          {% include "@atoms/01-links/link/link.twig" with {
          "link_url": social_sharing.link_url,
          "link_content": social_sharing.link_content,
          "link_modifiers": social_sharing.link_modifiers,
        } %}
      </div>
    {% endif %}

    {% if callout_here %}
      <div class="callout_here">
          <h6>{{callout_here_title}}</h6>
          {% include "@atoms/01-links/cta-link/cta-link.twig" with {
            "link_url": callout_here.link_url,
            "link_content": callout_here.link_content,
            "cta_link_modifiers": ["small"],
          } %}
      </div>
    {% endif %}
  </div>
  </div>
    <div class="grid-container banner__content {{sub_title_banner}}">
      <div class="banner__content__flex {{content_position}}">

        {% if banner_heading_title %}
          <div class="banner_heading_title">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 1,
              "heading": banner_heading_title,
               "heading_base_class": banner_heading_title_base_class|default('banner_heading_title_text'),
            } %}
          </div>
        {% endif %}

        <div class="{{overlay_bg}} banner__content_inner">
          {% if big_title %}
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 1,
              "heading": big_title,
               "heading_base_class": big_title_base_class|default('banner__title-big'),
            } %}
          {% endif %}
          {% if page_title %}
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 1,
              "heading": page_title,
              "heading_base_class": page_title_base_class|default('banner__title'),
            } %}
          {% endif %}
          {% if content_text %}
           {% include "@atoms/02-text/text/01-paragraph.twig" with {
              "paragraph_content": content_text,
              "paragraph_base_class": content_base_class|default('banner__paragraph'),
            } %}
          {% endif %}
          {% if read_more %}
            {% if read_more.mascow_url %}
              {{ read_more.mascow_url|raw }}
            {% elseif read_more.link_url %}
              {% include "@atoms/01-links/link/link.twig" with {
                "link_url": read_more.link_url,
                "link_content": read_more.link_content,
                "link_modifiers": read_more.link_modifiers,
              } %}
            {% endif %}
          {% endif %}
          {% if content_image %}
            <div class="content_image_with_link">
              <div class="content_image">
              {% include "@atoms/04-images/00-image/responsive-image.twig" with {
                "img_url": content_image_url|default(card_link_url),
                "img_src": content_image,
                "img_alt": content_image_alt,
              } %}
              </div>
              {% if content_image_link %}
                  {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                  "link_url": content_image_link.link_url,
                  "link_content": content_image_link.link_content,
                } %}
              {% endif %}
            </div>
          {% endif %}
       </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
