
<script data-name="reload" data-src="/js/picturefill.js"></script>
  <script data-name="reload" data-src="/dist/03-organisms/banners/banner-carousel.js"></script>


<div class="banner">
              <div class="breadcrumb-block dark-theme">
                    <nav role="navigation" aria-labelledby="system-breadcrumb-1285743164" class="">
    <h2 id="system-breadcrumb-1285743164" class="visually-hidden">Breadcrumb</h2>
    <ol class="breadcrumb">
          <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="#">Home</a>
              </li>
          <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="#">2nd Level</a>
              </li>
          <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="#">3rd Level</a>
              </li>
          <li class="breadcrumb__item">
                  Current Page
              </li>
        </ol>
  </nav>
                </div>
      
  
    <div class="banner-carousel single-image-slider">
    <div class="banner__wrapper dark-theme">
    <picture>
      <source srcset="../../images/homepage-header_rook-kitchen_1600x911.jpg" media="(min-width: 767px)">
          <img src="../../images/homepage-header_rook-kitchen_1600x911.jpg" alt="" onerror="onError.call(this)" />
    </picture>
    <div class="grid-container banner__content">
      <div class="banner__content__flex center">
        <div class=" banner__content_inner">
                               

                                          <div class="content_image_with_link">
              <div class="content_image">
              
    <picture
    class="image"
  >
            
<img
  class="img"
      src="../../images/Deconstructed.png"
    />
  </picture>
              </div>
                          </div>
                 </div>
      </div>
    </div>
      </div>
    <div class="banner__wrapper dark-theme">
    <picture>
      <source srcset="../../images/homepage-header_rook-kitchen_1600x911.jpg" media="(min-width: 767px)">
          <img src="../../images/homepage-header_rook-kitchen_1600x911.jpg" alt="" onerror="onError.call(this)" />
    </picture>
    <div class="grid-container banner__content">
      <div class="banner__content__flex center">
        <div class="overlay_bg banner__content_inner">
                      <h1 class="banner__title">Page title placed here 2</h1>
                               
  <p class="banner__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </p>

                                    
<a class="link"
  href="">
      Link here
  </a>
                           </div>
      </div>
    </div>
      </div>
    <div class="banner__wrapper dark-theme">
    <picture>
      <source srcset="../../images/homepage-header_rook-kitchen_1600x911.jpg" media="(min-width: 767px)">
          <img src="../../images/homepage-header_rook-kitchen_1600x911.jpg" alt="" onerror="onError.call(this)" />
    </picture>
    <div class="grid-container banner__content">
      <div class="banner__content__flex bottom">
        <div class="overlay_bg banner__content_inner">
                      <h1 class="banner__title">Page title placed here 3</h1>
                               
  <p class="banner__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      </p>

                                    
<a class="link"
  href="">
      Link here
  </a>
                           </div>
      </div>
    </div>
      </div>
    <div class="banner__wrapper dark-theme">
    <picture>
      <source srcset="" media="(min-width: 767px)">
          <img src="" alt="" onerror="onError.call(this)" />
    </picture>
    <div class="grid-container banner__content">
      <div class="banner__content__flex ">
        <div class=" banner__content_inner">
                               

                                     </div>
      </div>
    </div>
          <div class="video_banner">
            <script data-name="reload" data-src="/components/js/video-banner.js"></script>
<div class="embedded-video-wrapper" aria-hidden="false" tabindex="0" id="video-picture-793106539">
  <div class="video-banner-content">
      <img class="embedded-poster" src="../../images/video-background-img.jpg" alt="Thumbnail image" />
      <img class="embedded-play-icon" onclick="myFunction793106539();return false;" src="//images/icons/src/icon-video-play.svg" style="cursor:pointer" alt="Play icon" />
  </div>
  <div id="embedded-video-iframe793106539" class="embedded-video-iframe793106539"></div>
</div>

<script>
  function myFunction793106539() {
    //video-banner-content
    jQuery("#player").remove();
    document.getElementById("embedded-video-iframe793106539").innerHTML = "<div id='player'></div>";
    // This code loads the IFrame Player API code asynchronously.
    if (jQuery('script[src="https://www.youtube.com/iframe_api"]').length <= 0 || jQuery('script[src="https://www.youtube.com/iframe_api"]').length == 1) {
        if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            window.onYouTubePlayerAPIReady = function() {
                onYouTubeIframeAPIReady793106539();
            };
        } else {
            onYouTubeIframeAPIReady793106539();
        }
    }
    jQuery(".video-banner-content").show();
  }

    var player;
    var autoplay = "";
    function onYouTubeIframeAPIReady793106539() {
        player = new YT.Player('player', {
            host: 'https://www.youtube.com',
            height: '781',
            //width: '854',
            videoId: '',
            playerVars: { 'rel': 0 , 'origin' : window.location.href},
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        if(autoplay == 1){
          event.target.playVideo();
        }
    }
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
      </div>
      </div>
    </div>
  
</div>
