{% set icon_box_title_base_class = icon_box_title_base_class|default('page-title') %}
{% set paragraph_base_class = paragraph_base_class|default('banner-desc') %}
{% set font_color_class = font_color_class|default('dark-theme') %}
{% set background_type = background_type|default('Image') %}
{% set bg_color = bg_color|default('#f3f3f3') %}
{% set share_text_link = share_text_link|default('Share'|t) %}
{% set sharethis_text_link = sharethis_text_link|default('Share this page'|t) %}

{% set bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
{% set data_src = bgimage_src %}
{% if lazyload == 'lazy-load-off' %}
  {% set bgimage_src_real = bgimage_src %}
  {% set data_src = '' %}
{% endif %}
{% set featured_banner_base_class = featured_banner_base_class|default('title-banner') %}
{% if not mobile %}

<div class="{{ font_color_class }} paragraph-component {{ lazyload }}">
<div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname) }} >
  {# Set Background #}
  {% if background_type|render == 'Image' %}
  <div class="banner-block image banner-block-small  only-destop" style="background-image: url('{{ bgimage_src_real }}')"  {% if data_src is not empty %} data-src="{{ data_src }}" {% endif %} >
  {% elseif background_type|render == 'Solid Color' %}
  <div class="banner-block banner-block-small only-destop" style="background: {{ bg_color }};">
  {% else %}
  <div class="banner-block banner-block-small only-destop">
  {% endif %}

    <div class="grid-container" style="max-width: {{ content_max_width }}%;">
        {% if breadcrumb %}
          <div class="breadcrumb-block">
           {% if pattern_lab %}
            {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
           {% else %}
            {{ drupal_block('system_breadcrumb_block') }}
           {% endif %}
          </div>
        {% endif %}

      {% include "@atoms/02-text/00-headings/page-title.twig" with {
        "page_title": page_title,
      } %}
      {% if subtitle %}
        <h2 class="blog_subtitle">
          {{ subtitle }}
        </h2>
      {% endif %}
      {% if content %}
        {{ content }}
      {% endif %}

      {% if social_sharing %}
      <div class="banner__footer">
      <div class="plp-share-link">
      </div>
			</div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endif %}

{% if mobile %}
{% set mobile_banner_img = (mb_bgimage_src) ? mb_bgimage_src : bgimage_src %}
<div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname) }} >
{# Set Background #}
{% if background_type|render == 'Image' %}
<div class="banner-block image banner-block-small only-mobile" style="background-image: url('{{ mobile_banner_img }}');">
{% elseif background_type|render == 'Solid Color' %}
<div class="banner-block banner-block-small only-mobile" style="background: {{ bg_color }};">
{% else %}
<div class="banner-block banner-block-small only-mobile">
{% endif %}

  <div class="grid-container">
      {% if breadcrumb %}
        <div class="breadcrumb-block">
         {% if pattern_lab %}
          {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
         {% else %}
          {{ drupal_block('system_breadcrumb_block') }}
         {% endif %}
        </div>
      {% endif %}

    {% include "@atoms/02-text/00-headings/page-title.twig" with {
      "page_title": page_title,
    } %}
    {# {{ modal_button }} #}
    {% if social_sharing %}
    <div class="banner__footer">
    <div class="">
    </div>
		</div>
    {% endif %}
  </div>
</div>
</div>
{% endif %}


