<div class="form-item form-item--radio">
  <legend class="heading-3">Options as Radio Buttons</legend>
  <ul class="form-item--radios">
          <li class="form-item--radio__item">
  <div class="custom-input custom-input--radio">
  <input class="custom-input__native" type="radio"

   name="Array" 
      id="demo-radio-active"
    >
  <label class="custom-input__label" for="demo-radio-active">Active</label>
</div>
</li>
          <li class="form-item--radio__item">
  <div class="custom-input custom-input--radio">
  <input class="custom-input__native" type="radio"

   name="Array" 
      id="demo-radio-selected"
      checked="checked"
    >
  <label class="custom-input__label" for="demo-radio-selected">Selected</label>
</div>
</li>
          <li class="form-item--radio__item">
  <div class="custom-input custom-input--radio">
  <input class="custom-input__native" type="radio"

   name="Array" 
      id="demo-radio-disabled"
      disabled="1"
    >
  <label class="custom-input__label" for="demo-radio-disabled">Disabled</label>
</div>
</li>
      </ul>
</div>
