{{ attach_library('delta_theme/video-banner') }}

<div class="video-banner paragraph-component">
  <div class="video-banner__content" style="background-image: url({{ video_poster_url }})">
    <h1 class="video-banner__title">{{ video_banner_title }}</h1>
    <p class="video-banner__subtitle">{{ video_banner_subtitle }}</p>

    <button class="video-banner__play">
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: "play",
        icon_size: 80,
        icon_color: 'white',
        hidden: true,
      } %}
    </button>
  </div>

  {% include "@atoms/08-video/video.twig" %}
</div>
