$table-gray: #f8f8f8;
$table-border: $gray-60;

.table {
  border: 0 none;
  border-spacing: 0;
  margin: 1em 0;
  width: 100%;
}

.table__heading-cell,
.table__cell {
  border: none;
  border-bottom: 1px solid $table-border;
  padding: 18px 0;

  @include maxbp($large) {
    font-size: 13px;
  }

  &:last-child {
    border-right: none;
  }
}

.table__heading-cell {
  color: $black;
  padding: 0 0 9px;
  text-align: left;
  font-family: $font-condensed;
  border-bottom: 4px solid $black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 27.65px;
  line-height: 32px;

  @include maxbp($large) {
    font-size: 15.5px;
    line-height: 20px;
  }
}

.table__row {
  &:nth-child(odd) {
    background-color: $white;
  }

  // Top Row - Non-BEM but always contained
  &:first-child {
    th:first-child,
    td:first-child {
      border-radius: 5px 0 0;
    }

    th:last-child,
    td:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  // Bottom Row - Non-BEM but always contained
  &:last-child {
    tbody & {
      th,
      td {
        border-bottom: none;
      }
    }

    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px;
    }
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: none;
  border-top: 1px solid $table-border;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}
