/*
---
name: Buttons
category: Forms
---

Buttons can be used with `<a>`, `<button>`, and `<input>`.  Add class `btn` to any of these elements.

Types of buttons:
- Primary: Primary button style, add class `btn--primary`
- Call to Action Icon: Add a CTA arrow icon to any button with class `btn--cta-icon`

```button-types.html
<a class="btn btn--primary">Primary Button</a>
<button class="btn btn--primary">Native Primary Button</button>
<input type="submit" class="btn btn--primary" text="Submit Primary Button" />
<a class="btn btn--primary btn--cta-icon">Primary Button with Icon <i class="btn__icon"></i></a>
```
*/
.btn {
	@extend .font--fs-joey;
	letter-spacing: 0.1px;
	border-radius : 0;
	margin        : 0;
	white-space   : inherit !important;
	-webkit-appearance: none;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}
}

/**
* Reset <a> styles for <a class="btn">
**/
a.btn {
	display         : inline-block;
	text-decoration : none;

	&:visited,
	&:hover,
	&:focus {
		text-decoration : none;
	}
}

/*
* responsive button sizes
*/

.btn {
	font-size: 20px;
	height        : $button-height;
	line-height   : #{$button-height - 1};
	padding       : 0 ($grid-unit * 2);
}

@media screen and (min-width: $screen-wide-min) {
	.btn-wide-hide {
		display: none !important;
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.btn-xlg-hide {
		display: none !important;
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.btn-lg-hide {
		display: none !important;
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.btn-md-hide {
		display: none !important;
	}
}
@media screen and (max-width: $screen-sm-max) {
	.btn-sm-hide {
		display: none !important;
	}

	.btn-sm-show {
		display: block;
	}
}

.btn--full-width {
	width: 100%;
}

/*
* primary button styles
*/
.btn--blue {
	background       : $theme-blue;
	background-color : $theme-blue;
	border           : 1px solid $white;
	color            : $white;
	text-transform: uppercase;
  font-family: $font-stack-fs-joey;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 12px 45px 12px;
  line-height: 1;
  height: auto;
  transition: all 0.5s ease;
  white-space: nowrap !important;

  &:hover{
    background-color: $white;
    color: $theme-blue;
    border:1px solid $white;
  }

  &-solid{
    border      : 1px solid $theme-blue;

  }
}

.btn--primary {
	background       : $white;
	background-color : $white;
	border           : 1px solid $theme-blue;
	color            : $theme-blue;
	text-transform: uppercase;
  padding: 14px 65px 14px;
  line-height: 1;
  height: auto;

	i.btn__icon {
		border-left-color: $theme-blue;
	}

	&:hover {
		background       : $theme-blue;
		background-color : $theme-blue;
		border-color          : $white;
		color            : $white;

		i.btn__icon {
			border-left-color: $white;
		}
	}

	@media (hover: none) {
		&:hover {
			background-color : transparent;
			border-color : $theme-blue;;
			color        : $theme-blue;

			i.btn__icon {
				border-left-color: $theme-blue;
			}
		}
	}

	&[disabled="disabled"] {
		cursor: initial;
		background       : $theme-gray;
		background-color : $theme-gray;
		border-color     : $theme-gray;
	}
}

/*
* CTA icon add-on
*/
.btn--cta-icon {
	position: relative;
	padding-right: ($grid-unit * 4.5);
}

i.btn__icon {
	position: absolute;

	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	top: 11px;
	right: 15px;
	border-width: 8px 0 8px 8px;
}
