/*
---
name: Input
category: Forms
---

For `<input>` elements within a `<form>`, surround each field/label pair with a `<fieldset>` element and add
the class `form-group`.  In each `<input>` element add a `form-control` class.

```form-input-types.html
<form>
	<fieldset class="form-group">
		<input type="text" class="form-control" placeholder="Name" />
	</fieldset>
</form>
```
*/
.form-group {
	border        : 0;
	margin-bottom : 0px;
	padding       : 0;
	position      : relative;

	::-ms-clear, ::-ms-reveal {
		display : none;
	}
}

fieldset.form-group {
	margin-left: 0; /* override user agent stylesheets */
	margin-right: 0; /* override user agent stylesheets */
}

/*
* Input placeholder
*/
@include placeholder() {
    /* EDIT: For some reason using @extend in this block kills the other
        styles @extending the same selector */
    font-family: $font-stack-fs-joey;
    font-weight: normal;
    color: $theme-gray !important;
}


/**
* Form field styles
**/
.form-control{
	@extend .font--fs-joey;
	background-color   : transparent;
	background-image   : none;
	border-top: 0;
	border-right: 0;
	border-bottom : 1px solid $theme-gray;
	border-left: 0;
	border-radius      : 0;
	box-shadow         : none;
	color              : $theme-gray;
	display            : block;
	padding-top        : $grid-unit;
	padding-right      : 0;
	padding-bottom     : $grid-unit;
	padding-left       : 0;
	text-indent        : 0.01px;
	text-overflow      : '';
	width              : 100%;

	&:focus {
		outline : 0;
	}

	-webkit-appearance : none;
	-moz-appearance    : none !important;
}

textarea {
	@extend .font--fs-joey;
	background-color   : transparent;
	background-image   : none;
	border : 1px solid $theme-gray;
	border-radius      : 0;
	box-shadow         : none;
	color              : $theme-gray;
	display            : block;
	padding: 20px;
	text-indent        : 0.01px;
	text-overflow      : '';
	width              : 100%;
  min-height: 200px !important;
	&:focus {
		outline : 0;
	}

	-webkit-appearance : none;
	-moz-appearance    : none !important;
}

label.form-control {
	border: 0;
	height: auto;
	padding: 0;
}

label.form-control--block,
.label--block {
	display        : block;
}

/*
* responsive form control font sizes
*/

.form-control,
textarea {
	font-size: 20px;
	height: $input-height * 1;
}

@media screen and (min-width: $screen-md-min) {
	.form-control,
	textarea {
		font-size: 20px;
		height: $input-height;
	}
}

.roiformerror:not(:empty) {
	display: block;
	@extend .font--fs-joey;
	margin-top: 16px;
	color: $theme-blue;
}

#divRoiMessage {
	@extend .font--fs-joey;
	font-size: 20px !important;
	font-weight: normal !important;
	background-color: transparent !important;
	padding: 20px !important;
	border-color: #a1ebbb !important;
}


//MODULE Variables - Fields


//MODULE Variables - Checkbox

//MODULE Radio
.form-type-radio {
  position: relative;
  margin: 5px 0;

  label {
      cursor: pointer;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      padding-left: 32px;
      position: relative;
  }

  input[type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;

      ~ .fake-box {
          background: #fff;
          border: 2px solid $theme-blue;
          border-radius: 50%;
          height: 20px;
          left: 0;
          position: absolute;
          top: 5px;
          width: 20px;

          &:after {
              background: $theme-blue;
              border-radius: 50%;
              content: '';
              height: 12px;
              left: 50%;
              margin-left: -6px;
              margin-top: -6px;
              position: absolute;
              top: 50%;
              visibility: hidden;
              width: 12px;
          }
      }

      &:checked {
          ~ .fake-box {
              &:after {
                  visibility: visible;
              }
          }
      }

      &:focus {
          ~ .fake-box {
              box-shadow: 0 0 8px $theme-blue;
          }
      }

      &:disabled {
          ~ .option,
          ~ .fake-box {
              opacity: .5;
              cursor: default;
          }
      }
  }


  label.option{
    height: auto;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
}



.form-item-payment-state,
.js-form-item.js-form-type-select.form-item-state {

  position: relative;

  &:after {
    content:'';
    height:9px;
    width: 9px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 14px;
    top: 20px;
    padding: 0 0 2px;
    border-left: 1px solid #676b6e;
    border-bottom: 1px solid #676b6e;
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }

  select::-ms-expand {
    display: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    font-family: $font-stack-fs-roboto;
    display: block;
    width: 100%;
    height: 54px;
    padding: 5px 14px;
    font-size: 18px;
    line-height: 52px;
    color: #676b6e;
    background-color: #fff;
    background-image: none;
    border-bottom: 2px solid #d0cfd1;
    word-break: normal;
  }

}



.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border:2px solid #d0cfd1;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

  }

  &:hover input ~ .checkmark {

  }

   input:checked ~ .checkmark {
    background-color:$theme-blue;
    border-color:$theme-blue;
  }



   input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
  }


}
