/*
---
name: Links
category: Typography
---

Link classes can be used with `<a>`, `<button>`, and `<input>` elements.  For each link element add a class `link`

Types of links:
- Navigation Link: Links found in the navigation sections.  Add class `link--nav`
- Link Text with Icon: Links with both text and an icon at the end.  Add class `link--text-icon`
- Icon-only Link: Links which are only images and no text.  Add class `link--icon`

```links-types.html
<div class="padded-box padded-box--border-none">
	<a class="link link--nav">Nav Item</a>
</div>
<div class="padded-box padded-box--border-none padded-box--bg-theme-blue">
	<a class="link link--text-icon">Read Article <i class="text-icon--article-cta"></i></a>
</div>
<div class="padded-box padded-box--border-none">
	<a class="link link--icon"><i class="icon--facebook"></i></a>
	<a class="link link--icon"><i class="icon--twitter"></i></a>
</div>
```
*/
.link {
	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}

	text-decoration: none;
}

.link--nav {
	@extend .font--fs-joey;

	text-transform: uppercase;
	background-color   : #FFFFFF;
	background-image   : none;
	padding             : $grid-unit 0;
	border-top          : 0;
	border-right        : 0;
	border-bottom       : 1px solid transparent;
	border-left         : 0;
	box-shadow          : none;
	color               : $theme-gray;
	display             : inline-block;



  /*
	&:hover {
		color: $theme-blue;
		border-bottom: 1px solid $theme-blue;
  }
  */



}

.link--text-icon {
	@extend .font--fs-joey;
  letter-spacing: 0.5px;
	//color: $white;
	text-transform: uppercase;
  font-size: 20px;

	.text-icon--article-cta {
		position: relative;
		display: inline-block;
		background: url('../img/article_blue-outline.svg') center center;
    background-size: 100%;
    margin: 0 0 -1px 15px;
	}

	&:hover {
		text-shadow: 0 0 1px #fff;
	}
}

/*
* responsive link font sizes
*/
@media screen and (min-width: $screen-wide-min) {
	.link--nav,
	.link--text-icon {
		font-size: 20px;
	}

	.text-icon--article-cta {
		height: 20px;
		width: 21px;
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.link--nav,
	.link--text-icon {
		font-size: 20px;
	}

	.text-icon--article-cta {
		height: 18px;
		width: 19px;
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.link--nav,
	.link--text-icon {
		font-size: 18px;
	}

	.text-icon--article-cta {
		height: 14px;
		width: 15px;
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.link--nav,
	.link--text-icon {
		font-size: 16px;
	}

	.text-icon--article-cta {
		height: 11px;
		width: 12px;
	}
}
@media screen and (max-width: $screen-sm-max) {
	.link--nav,
	.link--text-icon {
		font-size: 12px;
	}

	.text-icon--article-cta {
		height: 11px;
		width: 12px;
	}
}

.link--icon {
	.icon--facebook {
		display: inline-block;
		background: url('../img/facebook.png') center center;
		background-size: 100%;
	}

	.icon--twitter {
		display: inline-block;
		background: url('../img/twitter.png') center center;
		background-size: 100%;
	}

}

/*
* responsive icon sizes
*/

.link--icon {
	.icon--facebook {
		height: 30px;
		width: 30px;
		filter: grayscale(1);
		opacity: 0.9;
		transition: all 0.2s ease-in-out;
	}
	.icon--twitter {
		height: 29px;
		width: 36px;
		filter: grayscale(1);
		opacity: 0.9;
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		[class^="icon--"] {
			opacity: 1;
			filter: grayscale(0);
		}
	}
}

@media screen and (min-width: $screen-wide-min) {
	.link--icon {
		.icon--facebook {
			height: 40px;
			width: 40px;
		}
		.icon--twitter {
			height: 39px;
			width: 48px;
		}
	}
}

.link--p {
	@extend .p;
}

/*
* link colors
*/
.link--theme-gray {
	color: $theme-gray;

	&:hover,
	&:visited,
	&:link {
		color: $theme-gray;
	}
}

.link--theme-blue {
	color: $theme-blue;

	&:hover,
	&:visited,
	&:link {
		color: $theme-blue;
	}
}

.link--white {
	color: $white;

	&:hover,
	&:visited,
	&:link {
		color: $white;
	}
}

.link--black {
	color: $black;

	&:hover,
	&:visited,
	&:link {
		color: $black;
	}
}
