{% set row_heading_base_class = heading_base_class|default('h' ~ row_heading_level) %}

<h{{ row_heading_level }} {{ bem(row_heading_base_class, (row_heading_modifiers), row_heading_blockname) }}>
  {{ row_heading_content|striptags('<sub><sup>')|raw }}
</h{{ row_heading_level }}>
