{#
/**
 * This file is used only for Pattern Lab to display sample styles
 */
#}

{% set heading_base_class = heading_base_class|default('h' ~ heading_level) %}

<div class="sg-pattern sg-heading-box">
  <div class="sg-pattern">
    {% for i in 1..6 %}
      <h{{ i }} class="h{{ i }}">
        H{{ i }}: Heading Strong (Default) (.h{{ i }})
      </h{{ i }}>
    {% endfor %}
  </div>

  <div class="sg-pattern">
    {% for i in 1..6 %}
      <h{{ i }} class="h{{ i }} h{{ i }}--light">
        H{{ i }}: Heading Light (.h{{ i }}--light)
      </h{{ i }}>
    {% endfor %}
  </div>

  <div class="sg-pattern">
    {% for i in 1..1 %}
      <h{{ i }} class="h{{ i }} u-color-gray-30">
        H{{ i }}: Heading Strong / Gray-30 (.h{{ i }} .u-color-gray-30)
      </h{{ i }}>
    {% endfor %}
  </div>


  <div class="sg-pattern">
    {% for i in 2..2 %}
      <h{{ i }} class="h{{ i }} u-color-gray-50">
        H{{ i }}: Heading Strong / Gray-50 (.h{{ i }} .u-color-gray-50)
      </h{{ i }}>
    {% endfor %}
  </div>


  <div class="sg-pattern sg-heading-box--black">
    {% for i in 3..3 %}
      <h{{ i }} class="h{{ i }} h{{ i }}--light u-color-white">
        H{{ i }}: Heading Light / Gray-10 (.h{{ i }}--light .u-color-white)
      </h{{ i }}>
    {% endfor %}
  </div>


  <div class="sg-pattern sg-heading-box--black">
    {% for i in 4..4 %}
      <h{{ i }} class="h{{ i }} u-color-white">
        H{{ i }}: Heading Strong / White (.h{{ i }} .u-color-white)
      </h{{ i }}>
    {% endfor %}
  </div>
</div>
{% if meta %}
  <p><small>{{ meta.description }}</small></p>
{% endif %}

