{#
/**
 * This file is used to clean up page titles.  
 *
 * @TODO - move to Drupal instead of Patternlab
 */
#}
{% if page_title %}
<h1 class="h1 title-h1 page-title {{ font_color_class }} {{ text_alignment }}">
	{{ page_title|render|replace({'<p>': "", '</p>': "", 'amp;': "", '<sup>':"",'</sup>':"",'<sub>':"",'</sub>':"",'<strong>':"",'</strong>':"",'<h1>':"",'</h1>':""}) }}
</h1>
{% endif %}
