
.hotspot-banner div.imagepin {
  width: 30px;
  height: 30px;
  background-color: #ac0535;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11 11V4h2v7h7v2h-7v7h-2v-7H4v-2z'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hotspot-banner .imagepin-widgets .imagepin-widget,
.hotspot-banner .imagepin-widget.imagepin-overlay {
  width: 400px;
  z-index: 1003 !important;
}

.hotspot-banner .imagepin-widgets {
  opacity: 0.8;
  background-color: #2a2a2a;
}


.hotspot-banner__content .circle-red {
  position: absolute;
  top: 0;
  width: 22.5%;
  mix-blend-mode: multiply;
  height: 45%;
  margin-left: 15.5%;
  margin-top: 5.5%;
  text-align: center;
  background: #b11d3a;
  color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.9;
}




.hotspot-banner .circle-red-content {
  animation-duration: .25s;
  animation-delay: .75s;
  z-index: 300;
  position: absolute;
  opacity: 1;
}

.hotspot-banner.active {
  background: black;
  transition: all .2s;
}
.hotspot-banner.active .hotspot-banner__content .circle-red {
  background: transparent;
  transition: all .2s;
}

.hotspot-banner.active .hotspot-banner__content .circle-red-content,
.hotspot-banner.active .field-values-in.field_hotspot_title {
  opacity: .2;
  transition: all .2s;
}

.hotspot-banner.active .field-values-in.field_image_pin_section > img {
  opacity: .2;
  transition: all .2s;
}

.hotspot-banner .field-values-in.field_image_pin_section > img {
  width: 100%;
}


.hotspot-banner .imagepin-widget.imagepin-selected.imagepin-overlay {
  border: none;
  width: 80%;
  max-width: 800px;
  left: 0 !important;
  right: 0 !important;
  top: 50% !important;
  transform: translateY(-50%);
  margin: 0 auto;
}


@media (max-width: 767px) {
  .home-page .hotspot-banner .imagepin-widget.imagepin-selected.imagepin-overlay {
    position: fixed !important;
    top: 10px !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(0);
    outline: 0;
  }
}

@media (max-width: 767px) {
  .hotspot-banner .imagepin-widget-content {
    position: relative;
  }
}

.hotspot-banner .imagepin-widget-content {
  /*display: flex;
  padding: 50px;*/
  padding: 20px;
}

/*.hotspot-banner .popup--left--content,
.hotspot-banner .popup--right--content {
  width: 50%;
}*/

.hotspot-banner .popup--right--content a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d7d7d9;
  text-decoration: none;
  margin-bottom: 15px;
  color: #ac0535;
  border-color: gray;
  font-weight: bold;
  margin-top: 15px;
}

.hotspot-banner .field-values-in.field_hotspot_title {
  margin: 0;
  color: #fff;
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hotspot-banner {
  margin: 10px;
}

.hotspot-banner__content {
  display: none;
}

.hotspot-banner__content a {
  text-decoration: none;
}

.circle-red-content a{
  color: #ffffff;
}

@media (min-width: 768px) {
  .hotspot-banner .imagepin-widget-content {
    display: flex;
    padding: 50px;
  }

  .hotspot-banner .popup--left--content,
  .hotspot-banner .popup--right--content {
    width: 50%;
  }
}

@media (max-width: 919px) {
  .hotspot-banner__content {
    padding: 0px !important;
    height: 0px;
  }
  .hotspot-banner .circle-red-content {
    margin-top: 0% !important;
  }
}
@media (max-width: 919px) {
.hotspot-banner .circle-red-content {
    margin-top: 3% !important;
}
  .hotspot-banner__content .circle-red {
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 768px) {
.hotspot-banner__content .circle-red {
    width: 27.5%;
    height: 53%;
    margin-left: 12.5%;
    margin-top: 1.5%;
}
  .hotspot-banner__content .circle-red {
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 480px) {
  .hotspot-banner .circle-red-content {
    margin-top: 0 !important;
}
}
@media (max-width: 919px) {
  .hotspot-banner__content {
    padding: 0px !important;
    height: 0px;
  }
  .hotspot-banner .circle-red-content {
    margin-top: 0% !important;
  }
}
@media (max-width: 919px) {
.hotspot-banner .circle-red-content {
    margin-top: 3% !important;
}
  .hotspot-banner__content .circle-red {
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 768px) {
.hotspot-banner__content .circle-red {
    width: 27.5%;
    height: 53%;
    margin-left: 12.5%;
    margin-top: 1.5%;
}
  .hotspot-banner__content .circle-red {
    margin-top: 2.5%;
  }
}


.h5p-image-hotspot-popup.h5p-image-hotspot-has-header {
  margin-left: -10px;
}

@media screen and (max-width: 480px) {
    .hotspot-banner .circle-red-content {
      margin-top: 0 !important;
  }
}

.hotspot_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1002;
  background-color: #000;
  opacity: .75;

}

.hotspot-view .modal__close:focus{
  outline: none;
}




 @media (max-width: 919px) {
    .hotspot-banner .circle-red-content {
      margin-top: 0% !important;
    }
  }

.circle-red-data-block a.arrow-link {
    color: white;
}

@media (max-width: 919px) {
  .hotspot-banner__content {
    padding: 0px !important;
    height: 0px;
  }
  .hotspot-banner .circle-red-content {
    margin-top: 0% !important;
  }
}
@media (max-width: 919px) {
.hotspot-banner .circle-red-content {
    margin-top: 3% !important;
}
  .hotspot-banner__content .circle-red {
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 768px) {
.hotspot-banner__content .circle-red {
    width: 27.5%;
    height: 53%;
    margin-left: 12.5%;
    margin-top: 1.5%;
}
  .hotspot-banner__content .circle-red {
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 480px) {
  .hotspot-banner .circle-red-content {
    margin-top: 0 !important;
}
}

.hotspot-banner .imagepin-widgets{
  display: none;
}
