{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}
{% if not item_attributes %}
  {% set item_attributes = [] %}
{% endif %}
{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}
{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
{% endif %}
{# below could maybe be done without a loop? #}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}
{% if item["content"]["#menu_link_content"].link.0.options.attributes  %}
  {% set item_attributes = item["content"]["#menu_link_content"].link.0.options.attributes  %}
{% endif %}

{% embed "@atoms/03-lists/_list-item.twig" with {
  "list_item_label": item_label,
  "li_base_class": item.item_base_class|default(menu_class ~ '__item'),
  "li_modifiers": item.item_modifiers,
  "li_blockname": item_blockname,
} %}

  {% block list_item_content %}

    {% if item.menu_img_src %}
      <a href="{{item.url}}" class="menu-img-link">
        {% include "@atoms/04-images/00-image/_image.twig" with {
          "img_src": item.menu_img_src,
          "img_alt": item.menu_img_alt,
          "image_base_class": item.menu_img_class,
        } %}
      </a>
    {% endif %}
    {% if item.title %}
		  {% include "@atoms/01-links/link/link.twig" with {
		    "link_content": item.title,
		    "link_url": item.url,
		    "link_base_class": item_base_class|default(menu_class ~ '__link'),
		    "link_modifiers": item_modifiers,
		    "link_attributes": item_attributes is empty ? create_attribute({}) : create_attribute(item_attributes),
		    "extra1": item.col_menu_img_src,
		    "extra2": item.col_menu_img_alt,
		    "custom_attributes": custom_attributes,
		  } %}
		{% endif %}
    {% if item.menu_desc|raw %}
      <a href="{{item.url}}" class="menu-desc-block">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": item.menu_desc|raw,
          "paragraph_base_class": item.item_base_class|default(menu_class ~ '__desc'),
        } %}
      </a>
    {% endif %}

    <span class="menu-back"><i class="icon-arrow-2-medium-right"></i> Back</span>

    {% if item.below %}
      {% import "@molecules/menus/_menu.twig" as menus %}
      <span class="expand-sub"><i class="icon-arrow-2-medium-right"></i></span>
      {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname) }}
    {% endif %}
  {% endblock %}
{% endembed %}
