<div class="title-desc-link-image">
  <div class="tdli-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 3,
      "heading": tdli_title,
    } %}
  </div>
  <div class="tdli-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: tdli_desc,
    } %}
  </div>

  {% if tdli_more_content %}
    <div class="tdli-more">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_content": tdli_more_content,
        "button_url": tdli_more_url,
        "button_modifiers": tdli_more_modifiers,
      } %}
    </div>
  {% endif %}
  
  <div class="tdli-image">
    <a href={{tdli_image_src_link}}>
      {% include "@atoms/04-images/00-image/_image.twig" with {
        "img_src": tdli_image_src,
        "img_alt": tdli_image_alt,
      } %}
    </a>
  </div>
</div>
