.image-tile-carousel {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1140px) {
    max-width: 70%;
  }

  @media (max-width: 880px) {
    max-width: 66%;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }

  .image-tile-carousel-item {
    max-width: 240px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    height: 2.5rem;
    width: 2.5rem;
    top: 40%;

    @media (max-width: 1140px) {
      top: 20%;
    }

    @media (max-width: 880px) {
      top: 10%;
    }
  }

  .slick-arrow.slick-prev {
    left: -4rem;

    @media (max-width: 767px) {
      display: none !important;
    }
  }

  .slick-arrow.slick-next {
    right: -4rem;

    @media (max-width: 767px) {
      display: none !important;
    }
  }
}
