{{ attach_library('delta_theme/image-tile-carousel') }}

<div class="image-tile-carousel multiple-items" data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "responsive": [{"breakpoint":767, "settings":{"slidesToShow": 1}}]}' >
  {% block image_tile_content %}
    {% for image_tile in image_tiles %}
      <div class="image-tile-carousel-item">
        {% include "@atoms/image-tile/image-tile.twig" with {
          "image_tile_src": image_tile.image_tile_src,
          "image_tile_alt": image_tile.image_tile_alt,
          "image_tile_url": image_tile.image_tile_url,
          "image_tile_title": image_tile.image_tile_title,
          "lazy_load": lazy_load,
        } %}
      </div>
    {% endfor %}
  {% endblock %}
</div>