.fullwidth-banner .region-banner .views-element-container {
  max-width: none;
}

.banner-block {
  position: relative;
  background: url("../images/inner-banner.png");
  background-size: cover;
  // text-align: center;
  color: $gray-10;
  background-position: center;
  min-height: 300px;
  //max-width: 1600px;
  margin: 0 auto;

  &.banner-block-medium {
    height: 250px;
    min-height: none;

    @include maxbp($grid-md) {
      height: auto;
    }
  }

  &.banner-block-small {
    height: 200px;
    min-height: 300px;

    @include maxbp($grid-md) {
      height: auto;
    }
    &.only-destop{
      @include medium{
        display: flex;
      } 
      
    }
  }

  .grid-container {
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;

    @include medium {
      padding-top: 67px;
      padding-bottom: 60px;
    }
  }

  .page-title {
    margin: 0 0 $space-ten;
    background-color: transparent;

    // TODO: Temporarily hide qty inside Collection page title. Should be fixed with JS.
    span {
      display: none;
    }

    p {
      margin: 0;
      font-size: 50px;
    }

    &.title-h1 {
      font-size: 50px;
    }
  }

  .breadcrumb-block {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: left;
  }

  .banner-desc {
    font-size: 18px;
    line-height: 1.5;
    max-width: 1156px;
    margin: 10px auto 0;
    height: 110px;

    @include maxbp($mega-menu-mobile) {
      margin-top: 32px;
      height: auto;
    }

    @include maxbp($medium) {
      width: 90%;
    }

    p {
      text-overflow: ellipsis;
      height: 100px;
      overflow: hidden;

      &:only-child {
        margin-bottom: 0;
      }

      @include maxbp($mega-menu-mobile) {
        height: auto;
      }
    }
  }
}

.title-banner.title-banner--text-centered.title-banner--content-centered {
  .banner-block {
    text-align: center;
  }
}

.banner__footer {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  text-align: right;
  font-size: 13px;
  max-width: 1440px;
  margin: auto;
  width: 97%;

  @include maxbp($medium) {
    bottom: 48px;
    text-align: center;
  }

  a {
    margin: 0 0 0 $space-ten*2;

    @include maxbp($medium) {
      margin: 0 $space-ten;
    }
  }
}

.dark-theme {
  .banner-block {
    //background: url("/../../images/inner-banner-dark.jpg") no-repeat center center;
  }

  .banner-content {
    color: $white;
  }
}

.page-node-type-home-page {
  .iqimage {
    background: url("https://www.deltafaucet.com/themes/custom/delta_theme/images/hero-wave.svg") no-repeat center center #000 !important;
  }
}

.introtext {
  h1 {
    font-family: trade-gothic-next-compressed, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 0.65em;
    z-index: 10;
    width: 100%;

    .tech {
      color: #c51638;
      font-size: 1em;
    }

    span {
      font-size: 0.35em;
    }
  }

  h2 {
    font-family: trade-gothic-next-compressed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1;
    text-align: center;
    padding-right: 0;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    margin-left: -130px;
    color: #fff;
    text-transform: none;
  }
}

h1.dark-theme {
  color: $white;
}

h1.light-theme {
  color: $black;
}

.title-banner{
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  .grid-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-top: 70px;
    padding-bottom: 32px;
  }
}
.feature_banner{
  &.only-destop{
    display: none;
    @include large{
      display: block;
    }
  }
  &.only-mobile{
    display: block;
    @include large{
      display: none;
    }
  }
}

.banner, .title-banner, .featured-banner{
  .grid-container{
    @include maxbp($large){
      align-items: center;
      max-width: 100% !important;
      /* padding-top: 42px;
      padding-bottom: 60px; */
    }
    .field_modal_box_button{
      @include maxbp($large){
        text-align: center;
      }
    }
    .banner__button-group, .featured-banner__button-group{
      margin-bottom: 10px;
      display: inline-block;
      @include maxbp($large){
        text-align: center;
      }
    }
    .banner-content{
      @include maxbp($large){
        text-align: center;
      }
    }
  }
  &.banner, &.title-banner, &.featured-banner{
    @include large{
      /* &--text-left{
        .modal-pop-up-button{
          bottom: 20%;
          left: 25px;
        }
      } */
      &--text-centered{
        .grid-container{
          align-items: center;
          .banner-content{
            text-align: center;
          }
        }
        /* .modal-pop-up-button{
          bottom: 20%;
          left: 0;
          right: 0;
          text-align: center;
        } */
      }
      &--text-right{
        .grid-container{
          align-items: end;
          .banner-content{
            text-align: right;
          }
        }
        /* .modal-pop-up-button{
          bottom: 20%;
          right: 25px;
        } */
      }
      &--text-top{
        .grid-container{
          align-items: center;
          padding-top: 0px;
          justify-content: start;
          .banner-content{
            text-align: center;
          }
          /* .modal-pop-up-button{
            top: 40%;
            left: 0;
            right: 0;
            text-align: center;
          } */
        }
      }
      &--text-bottom{
        .grid-container{
          align-items: center;
          padding-bottom: 0px;
          justify-content: end;
          margin-bottom: 30px;
          .banner-content{
            text-align: center;
          }
        }
        /* .modal-pop-up-button{
          top: 40%;
          left: 0;
          right: 0;
          text-align: center;
        } */
      }
    }
  }
  /* .modal-pop-up-button{
    position: absolute;
    @include maxbp($large){
      left: 0px;
      right: 0px;
      text-align: center;
      bottom: 0px;
    }
  } */
  .button-inline{
    display: inline-block;
  }
}
