{#
/**
 * Available variables:
 * - breadcrumb - List of breadcrumb links
 * - bgImage_src - URL for the background image
 * - title - Title of the banner
 * - headline - Headline of the banner
 * - content - body copy (paragraph)
 * - disclaimer - (optional) disclaimer text
 * - buttons - (optional) array of buttons
 */
#}
{% set bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
{# {% set mb_bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %} #}
{% set background_type = background_type|default('Image') %}
{% set bg_color = bg_color|default('#f3f3f3') %}
{% set data_src = bgimage_src %}
{# {% set mb_data_src = mb_bgimage_src %} #}
{% if lazyload == 'lazy-load-off' %}
  {% set bgimage_src_real = bgimage_src %}
  {# {% set mb_bgimage_src_real = mb_bgimage_src %} #}
  {% set data_src = '' %}
  {# {% set mb_data_src = '' %} #}
{% endif %}
{% set featured_banner_base_class = featured_banner_base_class|default('banner') %}
{% set share_text_link = share_text_link|default('Share'|t) %}
{% set sharethis_text_link = sharethis_text_link|default('Share this page'|t) %}

<div class="paragraph-component {{ lazyload }}">
<div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname) }}>

    {% if background_type|render == 'Image' %}
    <div class="banner image banner-block-large only-destop" style="background-image: url('{{ bgimage_src_real }}')" {% if data_src is not empty %} data-src="{{ data_src }}" {% endif %} >
    {% elseif background_type|render == 'Solid Color' %}
    <div class="banner banner-block-large only-destop" style="background: {{ bg_color }};">
    {% else %}
    <div class="banner only-destop">
    {% endif %}

      <div class="grid-container" style="max-width: {{ content_max_width }}%">
            {% if breadcrumb %}
              <div class="breadcrumb-block">
              {% if pattern_lab %}
                {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
              {% else %}
                {{ drupal_block('system_breadcrumb_block') }}
              {% endif %}
              </div>
            {% endif %}

        <div class="banner-content">
        {% if title %}
          <h1 class="banner__title">{{ title|render|raw }}</h1>
        {% endif %}
        {% if subtitle %}
          <h2 class="blog_subtitle">
            {{ subtitle }}
          </h2>
        {% endif %}
          <h2 class="banner__headline">{{ headline | raw }}</h2>
          <p class="banner__paragraph">{{ content }}</p>
          <p class="banner__disclaimer">{{ disclaimer }}</p>
        </div>

        {% if buttons is not empty %}
          <div class="banner__button-group">

            {% for button in buttons %}

              {% if button.content is not empty %}
                {% include "@atoms/06-buttons/01-button.twig" with {
                  button_url: button.url,
                  button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
                  button_content: button.content,
                  button_modifiers: button.modifiers,
                  icon: button.icon
                } %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="modal-pop-up-button">
          {{ modal_button }}
        </div>
        {% if social_sharing %}
          <div class="banner__footer">
          <div class="">
          </div>
          </div>
          {% endif %}
      </div>
    </div>

  {% set mobile_banner_img = (mb_bgimage_src) ? mb_bgimage_src : bgimage_src %}

  {% if background_type|render == 'Image' %}
  <div class="banner image banner-block-large only-mobile" style="background-image: url('{{ mobile_banner_img }}');">
  {% elseif background_type|render == 'Solid Color' %}
  <div class="banner banner-block-large only-mobile" style="background: {{ bg_color }};">
  {% else %}
  <div class="banner only-mobile">
  {% endif %}

    <div class="grid-container" style="max-width: {{ content_max_width }}%">
      {% if breadcrumb %}
        <div class="breadcrumb-block">
        {% if pattern_lab %}
          {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
        {% else %}
          {{ drupal_block('system_breadcrumb_block') }}
        {% endif %}
        </div>
      {% endif %}

      <div class="banner-content">
        {% if title %}
          <h1 class="banner__title">{{ title|render|raw }}</h1>
        {% endif %}
        {% if subtitle %}
          <h2 class="blog_subtitle">
            {{ subtitle }}
          </h2>
        {% endif %}
        <h2 class="banner__headline">{{ headline | raw }}</h2>
        <p class="banner__paragraph">{{ content }}</p>
        <p class="banner__disclaimer">{{ disclaimer }}</p>
      </div>

      {% if buttons is not empty %}
        <div class="banner__button-group">

          {% for button in buttons %}

            {% if button.content is not empty %}
              {% include "@atoms/06-buttons/01-button.twig" with {
                button_url: button.url,
                button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
                button_content: button.content,
                button_modifiers: button.modifiers,
                icon: button.icon
              } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="modal-pop-up-button">
        {{ modal_button }}
      </div>
      {% if social_sharing %}
        <div class="banner__footer">
        <div class="">
        </div>
        </div>
      {% endif %}
    </div>
  </div>
  {# <div class="modal-pop-up-button">
    {{ modal_button }}
  </div> #}

</div>
</div>
