{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}

{% if tabitem_type == 'quicktabs' %}
<div class="quicktabs-wrapper sub-menu-wrapper" id="tabs no-js">
  <ul class="sub-menu quicktabs-tabs tabs__nav collections-quicktabs">
    {% for item in items %}
      {% if loop.first %}
        {% set link_class = "use-ajax quicktabs-loaded sub-menu-active" %}
      {% else %}
        {% set link_class = "use-ajax" %}
      {% endif %}

      <li>
        {% include "@atoms/01-links/link/link.twig" with {
          "link_content": item.value.0['#title'],
          "link_url": item.value.0['#url'],
          "link_id": item.value.0['#title'],
          "link_count": collectionsTabCount[item.value.0['#title']|render],
          "link_base_class": link_class,
        } %}
      </li>
      
    {% endfor %}    
  </ul>
  {% else %}
    {% if context.list_style %}
    {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
    {% endif %}
    {% if items or empty %}
    {%- if title is not empty -%}
      <h3>{{ title }}</h3>
    {%- endif -%}

    {%- if items -%}
      <{{ list_type }}{{ attributes }}>
        {%- for item in items -%}
          <li{{ item.attributes }}>{{ item.value }}</li>
        {%- endfor -%}
      </{{ list_type }}>
    {%- else -%}
      {{- empty -}}
    {%- endif -%}
  {%- endif %}
{% endif %}