<div class="main-com-pop">
  <div class="main-com-block">
    {% for main_com_block2 in main_com_blocks2 %}
      <div class="main-com-title">
        <div class="main-com-desc-block">
          <div class="compare-prod-share">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: main_com_block2.compare_prod_share_text,
              cta_link_url: main_com_block2.compare_prod_share_url,
              cta_link_icon: "cta-share",
              cta_link_icon_position: "right",
              cta_link_icon_size: "20"
            } %}
          </div>
          <div class="compare-prod-print">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: main_com_block2.compare_prod_print_text,
              cta_link_url: main_com_block2.compare_prod_print_url,
              cta_link_icon: "cta-print",
              cta_link_icon_position: "right",
              cta_link_icon_size: "20"
            } %}
          </div>
        </div>
      </div>
      {% if main_com_block2.main_com_desc_list2 %}
        <div class="main-com-desc">
          {% for main_com_block2 in main_com_block2.main_com_desc_list2 %}
            <div class="main-com-desc-block">

              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: main_com_block2.try,
              } %}

              <div class="com-pop-img">
                {% include "@atoms/04-images/00-image/_image.twig" with {
                  "img_src": main_com_block2.compare_popup_image_url,
                  "img_alt": main_com_block2.compare_popup_image_alt,
                } %}

                <div class="slider_flag">
                  {% include "@atoms/13-flag/flag.twig" with {
                    "flag_text": main_com_block2.compare_pop_img_flag_text,
                    "flag_modifiers": main_com_block2.compare_pop_img_flag_modifiers,
                  } %}
                </div>
              </div>

              <div class="com_pop_title">
                  {% include "@atoms/02-text/00-headings/_heading.twig" with {
                    "heading_level": 6,
                    "heading": main_com_block2.compare_popup_prod_title,
                  } %}
                </div>

                <div class="com_pop_desc">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: main_com_block2.compare_popup_prod_desc,
                  } %}
                </div>

                <div class="com_pop_model">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                    paragraph_content: main_com_block2.compare_popup_prod_model,
                  } %}
                </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% for main_com_block1 in main_com_blocks1 %}
    <div class="main-com-block">
      <div class="main-com-title">
        <div class="main-com-desc-block">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 6,
            "heading": main_com_block1.main_compare_title,
          } %}
        </div>
      </div>
      {% if main_com_block1.main_com_desc_list1 %}
        <div class="main-com-desc">
          {% for main_com_block1 in main_com_block1.main_com_desc_list1 %}

            {% if main_com_block1.main_compare_desc %}
              <div class="main-com-desc-block">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: main_com_block1.main_compare_desc,
                } %}
              </div>
            {% endif %}

            {% if main_com_block1.main_compare_add_button_content %}
              <div class="main-com-desc-block">
                {% include "@atoms/06-buttons/01-button.twig" with {
                  "button_url": main_com_block1.main_compare_add_button_url,
                  "button_content": main_com_block1.main_compare_add_button_content,
                  "button_modifiers": main_com_block1.main_compare_add_button_modifiers,
                } %}
              </div>
            {% endif %}

            {% if main_com_block1.main_compare_remove_button_content %}
              <div class="main-com-desc-block">
                {% include "@atoms/06-buttons/01-button.twig" with {
                  "button_url": main_com_block1.main_compare_remove_button_url,
                  "button_content": main_com_block1.main_compare_remove_button_content,
                  "button_modifiers": main_com_block1.main_compare_remove_button_modifiers,
                } %}
              </div>
            {% endif %}

            {% if main_com_block1.finish_icon %}
              <div class="main-com-desc-block">
                {% include "@atoms/finish-thumbnail/_finish-thumbnail.twig" with {
                  finish: main_com_block1.finish_icon,
                } %}
              </div>
            {% endif %}

          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}

</div>
