
<div class="section_wrapper center-align">
            
<h2 class="h2">
      Section lead Example
  </h2>
    
    
    
          

<button
  class="button"

         >
      Primary
  </button>
      </div>