
<div class="section_wrapper {{text_position}}">
    {% if section__title %}
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 2,
            "heading": section__title,
              "heading_base_class": big_title_base_class|default('h2'),
          } %}
    {% endif %}

    {% if section__content %}
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": section__content,
        "paragraph_base_class": content_base_class|default('section__content'),
      } %}
    {% endif %}

    {% if section__link %}
          {% include "@atoms/01-links/link/link.twig" with {
          "link_url": section__link.link_url,
          "link_content": section__link.link_content,
          "link_modifiers": section__link.link_modifiers,
        } %}
    {% endif %}

    {% if section__btn  %}
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_content": section__btn.button_content,
        "button_modifiers": section__btn.button_modifiers,
        "button_click": section__btn.button_click,
        "button_name": section__btn.button_name,
      }%}
    {% endif %}
  </div>