{#
/**
 * Available variables:
 * - button_base_class - the base class name
 * - button_modifiers - array of modifiers to add to the base classname
 * - button_blockname - blockname prepended to the base classname
 * - button_attributes - array of attribute,value pairs
 * - button_url - the url this button should poing to
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}
{% set tag = button_url ? "a" : "button" %}

<{{tag}}
  {{ bem(button_base_class, (button_modifiers), button_blockname, button_link_classes) }}

  {% if button_url %}
    href="{{ button_url }}"
  {% endif %}
  {% if button_click %}
    onclick="{{ button_click }}"
  {% endif %}
  {% if button_name %}
    name="{{ button_name }}"
  {% endif %}
 {% if button_target %}
    target="{{ button_target }}"
  {% endif %}
  {% for attribute,value in button_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
>
  {% block button_content %}
    {{ button_content | raw }}
  {% endblock %}
</{{tag}}>
