@mixin button($bg:$black, $color:$white, $hoverBg: $gray, $hoverColor: $white) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  padding: 12px $gutter+25;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: all ease 0.3s;
  font-family: $font-condensed;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2.2px;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
    color: $hoverColor;
  }
}

.button {
  @include button($gray-10, $white, $gray-20, $white);
}

.button--primary {
  @include button($gray-10, $white, $gray-20, $white);
}

.button--secondary {
  border: 1px solid $gray-10;

  @include button($white, $gray-10, $white, $gray-10);
}

.button--tertiary {
  @include button($black, $white, $gray-20, $white);

  padding: 8px $gutter+25;
  font-size: 22px;
  line-height: 26px;
}

.button--disabled {
  @include button($gray-60, $gray-40, $gray-60, $gray-40);
}

.button--small {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.8px;
}
