<div class="pl-button-list">
  {% for link_button in link_buttons %}
    {% include "@atoms/06-buttons/01-button.twig" with {
      "button_content": link_button.button_content,
      "button_url": link_button.button_url,
      "button_modifiers": link_button.button_modifiers,
      "button_click": link_button.button_click,
      "button_name": link_button.button_name,
    }%}
  {% endfor %}
</div>
