#block-footerdisclaimer {
  background-color: $gray-90;
  padding: 16px 0;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  color: $gray-10;

  .paragraph {
    margin: 0;
    color: $gray-10;
    background-color: inherit;
  }

  p {
    margin: 0;
    color: $gray-10;
    background-color: inherit;
  }
}
