.inline-text-link {
  font-family: $font-bold;
  color: $delta-red;
  transition: all 0.2s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    /* Slow down the transition */
    transition: 0s !important;
  }

  &:hover {
    color: $delta-merlot;
  }
}
