// Nav
.main-nav {
  display: none;
  background: $black;

  @include breakpoint($main-menu-medium) {
    display: block;
  }

  &--open {
    @include maxbp($main-menu-medium) {
      display: block;
      height: 100%;
      left: 0;
      //overflow-y: scroll;
      position: fixed;
      top: 56px;
      right: 0;
      width: 100%;
      z-index: 199;
      border-top: 1px solid $gray-20;
    }
  }
}

// UL
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  //position: relative;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
  }
}

//
// Sub Navigation
//

// UL (Nested)
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: $black;
  width: 100%;

  @include breakpoint($main-menu-medium) {
    background-color: $black;
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    font-size: 0.9rem;
  }

  &:hover {
    @include breakpoint($main-menu-medium) {
      opacity: 1;
      background-color: $black;
      transition: all 0.2s;

      .main-menu__link--sub {
        color: $white;

        &.active,
        &:active,
        &:hover {
          color: $white;
          background-color: $black;
        }
      }
    }
  }

  // See main-menu.js
  &-open {
    height: auto;
  }
}
