// LI
.main-menu__item {
  border-top: 1px solid;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    display: none;
  }

  @include breakpoint($main-menu-medium) {
    border-top: none;
    display: inline-block;
    margin: 0;

    &:not(.main-menu__item--sub) {
      & > .main-menu--sub {
        padding: 0;
        display: flex;

        &.open-main-menu {
          display: block;
        }
      }
    }
    // Only top level
    &:not(.main-menu__item--sub):hover {
      background-color: $black;
      transition: all 0.2s;
    }
  }

  &:hover {
    .main-menu__link::after {
      color: $gray-10;
    }
  }
}

// Expand Button
.expand-sub {
  background-color: $black;
  cursor: pointer;
  display: block;
  width: 30px;
  line-height: 30px;
  color: $white;
  position: relative;

  @include breakpoint($main-menu-medium) {
    display: none;
  }

  // See main-menu.js
  &--open {
    background-color: $black;
    color: $gray-90;

    &::after {
      border-top-color: transparent;
      border-bottom: 15px solid;
      margin-top: -20px;
    }
  }
}

//
// Sub Navigation
//
// LI (Nested)
.main-menu__item--sub {
  @include breakpoint($main-menu-medium) {
    display: block;
  }
}

// Collection Image on hover
@include breakpoint($r_1000) {
  .main-nav {
    .collection_image {
      position: relative;
      animation-name: example;
      animation-duration: 2s;
      display: flex;
      flex-direction: column;
      margin-left: auto;

      img {
        border-bottom: 2px solid $white;
        padding-bottom: 1rem;
        display: inline-block;
      }
    }

    .collection_name {
      margin: 5px 0 0 0;
      color: $white;
      font-size: 14px;
      font-family: $font-condensed;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }

    @keyframes example {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

@include breakpoint($r_1000) {
  .main-nav {
    .main-menu__item.main-menu__item--two-third-column {
      .open-main-menu > .sub-data > .main-menu__item:nth-child(2) .main-menu--sub-2 .sub-data {
        width: 80%;
      }
    }
  }
}
