// A
.main-menu__link {
  color: $white;
  display: block;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.125rem;
  padding: 0;
  text-decoration: none;
  font-family: $font-din1451-engschrift;
  text-transform: uppercase;
  outline: 0;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @include maxbp($r_1200) {
      //font-size: 15px;
    }

    @include maxbp($r_1000) {
      //font-size: 13px;
    }
  }

  &--with-sub {
    width: calc(100% - 30px);
  }

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
    color: $white;
    display: inline-block;
    padding: 0;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: $white;
    }
  }
}

//
// Sub Navigation Links
//
// A (Nested)
.main-menu__link--sub {
  color: $white;
  padding-left: $space-triple;
  font-weight: normal;

  @include breakpoint($main-menu-medium) {
    color: $gray-90;
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: $black;
  position: relative;
  display: block;
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
