// Toggle
.toggle-expand,
.filter-expand {
  @include link;

  background: $black;
  color: $white;
  height: 30px;
  outline: none;

  .toggle-bar1,
  .toggle-bar2,
  .toggle-bar3 {
    width: 24px;
    height: 2px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;
  }

  @include breakpoint($main-menu-medium) {
    display: none;
  }

  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.filter-expand {
  background: $gray-10;
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;

  .toggle-expand--open & {
    color: $white;
  }
}

// SVG icon
.toggle-expand__icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.toggle-expand__open {
  display: inline-block;
  text-align: center;

  .toggle-expand--open &,
  .filter-expand--open & {
    .toggle-bar1 {
      -webkit-transform: rotate(-45deg) translate(-7px, 6px);
      transform: rotate(-45deg) translate(-7px, 6px);
    }

    .toggle-bar2 {
      opacity: 0;
    }

    .toggle-bar3 {
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }
}
