.menu-back {
  display: none;
}

@include breakpoint($main-menu-medium) {
  .sticky-header .main-nav > .main-menu > .sub-data > li > ul.main-menu.main-menu--sub.main-menu--sub-1 {
    top: 60px;
  }
}

.main-nav {
  @include breakpoint($main-menu-medium) {
    > .main-menu {
      //padding: $space $space*2;

      .menu-back {
        display: none !important;
      }

      > .sub-data {
        > li {
          margin: 0 $space*4 0 0;
          position: static;

          @include maxbp($r_1200) {
            margin: 0 30px 0 0;
          }

          @include maxbp(1150px) {
            margin: 0 28px 0 0;
          }

          @include maxbp(1125px) {
            margin: 0 23px 0 0;
          }

          @include maxbp($r_1024) {
            margin: 0 15px 0 0;
          }

          &:last-child {
            margin: 0;
          }

          > a {
            &::after {
              background: $gray-30;
              height: 2px;
              width: 0;
              content: "";
              display: block;
              transition: all ease 0.3s;
              left: 0;
              right: 0;
              margin: 3px auto 0;
            }

            &.active-menu {
              &::after {
                width: 100%;
              }
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }
          }

          > ul.main-menu.main-menu--sub.main-menu--sub-1 {
            display: none;
            //opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height ease 1s;
            top: 105px;
            width: 100%;
            margin: auto;
            left: 0;
            right: 0;
            padding: 0;
            @include maxbp($medium) {
              margin-top: 48px;
            }

            > .sub-data {
              max-width: 1600px;
              margin: auto;
              padding: 32px 48px 0;

              > li {
                margin-bottom: 48px;
                @include maxbp($medium) {
                  margin-bottom: 0;
                }
              }
            }

            &.open-main-menu {
              //opacity: 1;
              display: block;
              max-height: 1000px;
              z-index: 10;

              > .sub-data {
                > .main-menu__item--menu-view-all {
                  a.menu-desc-block {
                    color: $white;
                    text-transform: uppercase;
                    text-align: right;
                    display: block;
                    font-family: $font-din1451-engschrift;
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                    border-bottom: 0;
                    p.main-menu__desc {
                      font-family: $font-din1451-engschrift;
                      font-size: 18px;
                      position: absolute;
                      top: -0.75rem;
                      right: 1rem;
                      letter-spacing: 0.125rem;
                    }
                  }
                }
                > li:first-of-type {
                  .menu-desc-block[href="/shower"] {
                    color: $white;
                    text-transform: uppercase;
                    text-align: right;
                    display: block;
                    font-family: $font-din1451-engschrift;
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                    border-bottom: 0;
                    p {
                      font-family: $font-din1451-engschrift;
                      font-size: 18px;
                      position: absolute;
                      top: -0.75rem;
                      right: 1rem;
                      letter-spacing: 0.125rem;
                    }
                  }
                }
              }
            }
          }

          &.main-menu__item--two-column {
            > ul {
              > .sub-data {
                > li {
                  width: 50%;
                  padding: 0 16px;

                  &:first-child {
                    > ul {
                      > .sub-data {
                        > li {
                          width: 33%;
                          padding: 0 15px 0 0;

                          .main-menu__desc {
                            //width: 70%;
                            max-width: 218px;
                            width: 100%;
                          }
                        }
                      }
                    }
                  }

                  img.img {
                    width: 100%;
                  }
                }
              }
            }
          }

          &.main-menu__item--three-column {
            > ul {
              > .sub-data {
                > li {
                  width: 33.3%;
                  padding: 0 16px;

                  > ul {
                    > .sub-data {
                      li {
                        width: 49%;
                      }

                      li.main-menu__item--wide-width-column {
                        display: block;
                        width: 100%;

                        .main-menu__link
                        .menu-desc-block{
                          width: 100%;
                        }
                        .main-menu__link {
                          margin: 16px 0 0;
                        }
                      }

                      li.main-menu__item--featured-stories{
                        display: block;
                        width: 100%;

                        img {
                          float:left;
                          width: 45%;
                          object-fit: cover;
                        }

                        .main-menu__link{
                          float:right;
                          width: 50%;
                          margin: 0;
                          position: absolute;
                          top: 47%;
                          right: 0;
                          transform: translate(0%, -50%);
                        }
                      }
                    }
                  }

                }
              }
            }
          }

          &.main-menu__item--third-two-column {
            > ul {
              > .sub-data {
                > li {
                  padding: 0 16px;

                  > ul.main-menu--sub-2 {
                    display: block;
                    //justify-content: space-between;

                    > .sub-data {
                      display: block;
                      //flex-wrap: nowrap;
                      //justify-content: space-between;

                      > li {
                        vertical-align: top;

                        a {
                          img {
                            //width: 218px;
                            //height: 206px;
                            //object-fit: cover;
                          }
                        }

                        > .main-menu__link.main-menu__link--sub-2 {
                          margin: $space+6 0 0;
                        }
                      }
                    }
                  }

                  &:first-child {
                    width: 66.5%;

                    > ul.main-menu--sub-2 {
                      > .sub-data {
                        margin-left: -16px;
                        margin-right: -16px;

                        > li {
                          //width: 23%;
                          //flex: 0 0 25%;
                          //max-width: 25%;
                          padding: 0 16px;
                          float: left;
                          width: 25%;
                        }
                      }
                    }
                  }

                  &:last-child {
                    width: 33.4%;

                    > ul.main-menu--sub-2 {
                      > .sub-data {
                        margin-left: -16px;
                        margin-right: -16px;

                        > li {
                          //width: 47.5%;
                          //flex: 0 0 50%;
                          //max-width: 50%;
                          padding: 0 16px;
                          float: left;
                          width: 50%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &.main-menu__item--two-third-column {
            > ul {
              > .sub-data {
                > li {
                  padding: 0 16px;

                  &:first-child {
                    width: 35%;

                    > ul.main-menu--sub-2 {
                      > .sub-data {
                        > li {
                          width: 49%;
                        }
                      }
                    }
                  }

                  &:last-child {
                    width: 65%;

                    > ul.main-menu--sub-2 {
                      > .sub-data {
                        column-count: 4;
                        column-gap: 1em;
                        pointer-events: auto;

                        > li {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          > ul {
            > .sub-data {
              > li {
                &:last-child {
                  > ul.main-menu--sub-2 {
                    > .sub-data {
                      > li {
                        > a {
                          display: inline-block;
                          vertical-align: middle;

                          &:last-child {
                            vertical-align: bottom;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .menu-faucet-image {
            margin: 0 10px 0 0;
          }

          > ul.main-menu--sub-1 {
            > .sub-data {
              > li {
                display: inline-block;
                vertical-align: top;
                float: left;

                > a {
                  font-family: $font-subheading;
                  font-size: 22px;
                  border-bottom: 1px solid $white;
                  padding: 0 0 20px;
                  margin: 0 0 20px;
                  text-transform: none;
                  letter-spacing: 0;
                }

                > ul.main-menu--sub-2 {
                  > .sub-data {
                    > li {
                      display: inline-block;
                      margin: 0 0 $space+5;
                      vertical-align: top;

                      &.main-menu__item--menu-gallery {
                        display: block;

                        img {
                          float: right;
                          width: 65%;
                          //height: 206px;
                          object-fit: cover;
                        }

                        .main-menu__link,
                        .menu-desc-block {
                          float: left;
                          width: 30%;
                        }

                        &.image-left {
                          img {
                            float: left;
                          }
                          .main-menu__link,
                          .menu-desc-block {
                            float: right;
                          }
                        }
                      }

                      &:hover {
                        > a {
                          color: $white;
                        }
                      }

                      > a {
                        font-size: 18px;
                        padding: 0;
                        display: block;
                        color: $white;
                        transition: all ease 0.5s;

                        &:hover {
                          color: $gray-30;
                        }

                        &.menu-desc-block {
                          font-size: 14px;
                          color: $gray-40;
                          text-decoration: none;
                          display: block;
                          margin: $space/2 0;
                          line-height: 20px;

                          p {
                            margin: 0;
                            font-family: $font-body;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ul.main-menu--sub.main-menu--sub-1.main-menu--sub-2 li {
    &.main-menu__item--menu-view-all {
      > a {
        &::after {
          content: "+";
          color: $white;
          font-size: 20px;
          transition: all ease 0.5s;
        }

        &:hover {
          &::after {
            color: $gray-30;
          }
        }
      }
    }
  }
}
