.main-nav {
  @include maxbp($main-menu-medium) {
    > ul > .sub-data > li > span.expand-sub,
    .main-menu__item.main-menu__item--disable-menu-link > span.expand-sub {
      position: absolute;
      right: 14px;
      width: 100%;
      background: no-repeat;
      text-align: right;
    }

    > .main-menu {
      border: none;

      .menu-desc-block,
      .menu-img-link {
        display: none !important;
      }

      .sub-data {
        > li {
          > a {
            font-size: 20px;
          }

          a {
            letter-spacing: 0.5px;

            &:hover,
            &:focus {
              color: $white;
            }
          }

          > ul {
            > .sub-data {
              > li.main-menu__item {
                > a {
                  //font-family: $font-heading;
                  font-size: 19px;
                  padding-top: 3px;
                }

                > ul {
                  &.main-menu--sub-open {
                    height: 92vh;
                    overflow: auto;
                  }

                  .sub-data {
                    li.main-menu__item {
                      > a {
                        font-size: 18px;
                        width: 100%;
                        display: block;
                        font-family: $font-condensed;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .menu-back {
        position: fixed;
        top: 65px;
        width: 100%;
        left: 0;
        padding: 0 15px 15px;
        display: none;
        color: $white;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 23px;
        font-family: $font-condensed;
        border-bottom: 1px solid rgba(178, 178, 180, 0.3);
        background: $black;
        height: 40px;

        .icon-arrow-2-medium-right {
          transform: rotate(180deg);
          display: inline-block;
          font-size: 15px;
          margin: 0 $space 0 0;
        }

        &.menu-back--active {
          display: block;
          z-index: 10;
        }

        &.menu-back--active-hide {
          display: none;
        }
      }

      .sub-menu-active {
        //right: -100%;
        //position: fixed;
      }

      .main-menu--sub {
        //right: -100%;
        position: fixed;

        &.sub-menu-active {
          //right: 0;
        }

        &.prev-menu-active {
          //right: -100%;

          &.main-menu--sub-2 {
            //height: 92vh;
          }
        }
      }

      .main-menu--sub-open {
        right: 0;
        transition: right ease 0.5s;
        height: 100vh;
        top: 65px;
        z-index: 8;
        overflow: visible;
        background: black;
        width: 100%;
        padding-top: 50px;

        &:not(.sub-menu-active) {
          //left: -100%;
        }
      }

      .main-menu__item {
        border-bottom: 1px solid rgba(178, 178, 180, 0.3);
        border-top: none;
        padding: 1rem 0;
        margin: 0;

        a {
          padding: 0 $space*2;
        }
      }
    }
  }
}
