{{ attach_library('brizo_theme/main-menu') }}

<div class="hide-block">
  <a href="#" id="toggle-expand-id-{{ random() }}" class="toggle-expand" aria-label="Toggle expand button">
    <span class="toggle-expand__open">
      <div class="toggle-bar1"></div>
      <div class="toggle-bar2"></div>
      <div class="toggle-bar3"></div>
    </span>
  </a>
</div>

<nav >
  <div id="main-nav" class="main-nav">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
</div>
</nav>
