{% set pdp_prod_name_base_class = pdp_prod_name_base_class|default('pdp-prod-name') %}
{% if pdp_prod_name %}
 <h1 {{ bem(pdp_prod_name_base_class, (pdp_prod_name_modifiers), pdp_prod_name_blockname) }}>
  {% if collection_name %}
   {{ collection_name | capitalize | raw }}
  {% endif %}
  {{ pdp_prod_name | raw }}
  {% if selected_finish %}
   In {{ selected_finish }}
  {% endif %}
 </h1>
{% endif %}
