{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set menuLinks = [] %}
{% for row in rows %}
    {% set menuName = view.style_plugin.getField(loop.index0, 'field_design_file_search_key')|striptags|trim %}
    {% set urlLink = "/for-professionals/product-resources/product-design-files/" ~ view.style_plugin.getField(loop.index0, 'field_design_file_search_key')|striptags|trim %}
    {% set name = view.style_plugin.getField(loop.index0, 'name')|striptags|trim %}
    {% set currentUrl = currentUrlAliasPath|split('/') %}
    {% set active = "" %}
    {% if currentUrl[4] == menuName %}
        {% set active = "is-active" %}
    {% endif %}
    {% set menuLinks = menuLinks|merge({0 : {text: name, url: urlLink, active: active}}) %}
{% endfor %}

<aside class="grid-col-md-12">
    {% include "@molecules/sidebar-navigation/sidebar-navigation.twig" with {
        navigation: menuLinks,
    } %}
</aside>
