{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}

  {% set slider_items = [] %}
  {% for row in rows %}
    {% set nid = view.style_plugin.getField(loop.index0, 'nid')|striptags|trim %}
    {% set url =  path('entity.node.canonical', {'node': nid}) %}
    {% set img = file_url(row['content']['#row']._entity.field_innovation_thumbnail_image.entity.fileuri) %}
    {% set image_alt_text = view.style_plugin.getField(loop.index0, 'title')|striptags %}
    {% if image_alt_text == image_alt_text | split(' ')[0] %}
      {% set image_alt_text = 'Thumbnail image of ' ~ image_alt_text |t %}
    {% endif %}

    {% set carouselImg = file_url(row['content']['#row']._entity.field_innovation_thumbnail_image.entity.fileuri) %}
    {% set image = view.style_plugin.getField(loop.index0, 'field_innovation_thumbnail_image')|striptags %}
    {% set title = view.style_plugin.getField(loop.index0, 'title')|striptags %}
    {% set summary = view.style_plugin.getField(loop.index0, 'field_innovation_article_summary') %}
    {% set video_url = view.style_plugin.getField(loop.index0, 'field_featured_innovation_video')|striptags|trim%}
    {% set slider_items = slider_items|merge({0 : {url: url, image_url: carouselImg,image_alt_text: image_alt_text, title: title, content: summary, video_url: video_url}}) %}
  {% endfor %}
  {% include "@organisms/featured-innovations-slider/featured-innovations-slider.twig" with {
    slider_items: slider_items
  } %}

