{#
/**
 * @file
 * Theme override for views to display rows in a grid.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping element.
 * - title: The title of this group of rows.
 * - view: The view object.
 * - rows: The rendered view results.
 * - options: The view plugin style options.
 *   - row_class_default: A flag indicating whether default classes should be
 *     used on rows.
 *   - col_class_default: A flag indicating whether default classes should be
 *     used on columns.
 * - items: A list of grid items. Each item contains a list of rows or columns.
 *   The order in what comes first (row or column) depends on which alignment
 *   type is chosen (horizontal or vertical).
 *   - attributes: HTML attributes for each row or column.
 *   - content: A list of columns or rows. Each row or column contains:
 *     - attributes: HTML attributes for each row or column.
 *     - content: The row or column contents.
 *
 * @see template_preprocess_views_view_grid()
 */
#}

{{ attach_library('delta_theme/grid-view') }}
{{ attach_library('delta_theme/accordion') }}

{% block page_content %}

    <div class="grid-container grid-container--medium">
        {% set parentLinks = [] %}
        {% set flag = 0 %}
        {% for key,row in items %}
            {% for key1,column in row.content %}
                {% set Title = view.style_plugin.getField(flag, 'name')|striptags|trim %}
                {% set urlLink = "/for-professionals/product-resources/product-design-files/" ~ view.style_plugin.getField(flag, 'field_design_file_search_key')|striptags|trim %}
                {% set parentLinks = parentLinks|merge({0 : {category_url: urlLink, file_extension: "Zip", title: Title}}) %}
                {% set flag = flag + 1 %}
            {% endfor %}
        {% endfor %}
        <div class="grid">
            <div class="grid-col-md-9">
                <div class="accordion-term download-card-mobile-accordion">All</div>
                <div class="accordion-def">
                    {% include "@organisms/download-card-grid/download-card-grid.twig" with {
                        download_cards: parentLinks
                    } %}
                </div>
            </div>
            <aside class="grid-col-md-3">
                {{ drupal_block('system_menu_block:product-resources') }}
            </aside>
        </div>
    </div>
{% endblock %}
