{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
  <div class="pro-dropdown">
    <div class="pro-dropdown-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 6,
        "heading": 'Highlights for',
      } %}
    </div>
    <div class="pro-dropdown-desc">
      {{ form }}
    </div>
  </div>