<section class="innovation-section">
  <div class="grid-container grid-container--medium">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 2,
      "heading": "Advanced Innovations",
    } %}

    <div class="innovation-card-grid">
      {% for row in rows %}
        {#{% set carouselLink = view.style_plugin.getField(loop.index0, 'view_taxonomy_term')|striptags %}#}
        {% set nid = view.style_plugin.getField(loop.index0, 'nid')|striptags|trim %}
        {% set url =  path('entity.node.canonical', {'node': nid}) %}
        {% set img = file_url(row['content']['#row']._entity.field_innovation_thumbnail_image.entity.fileuri) %}

        {% set carouselImg = file_url(row['content']['#row']._entity.field_innovation_thumbnail_image.entity.fileuri) %}
        {% set image = view.style_plugin.getField(loop.index0, 'field_innovation_thumbnail_image')|striptags %}
        {% set image_alt = view.style_plugin.getField(loop.index0, 'title')|striptags %}
        {% set title = view.style_plugin.getField(loop.index0, 'title')|striptags %}
        {% set summary = view.style_plugin.getField(loop.index0, 'field_innovation_article_summary') %}
        {% include "@molecules/innovation-card/innovation-card.twig"
          with {
            'url' : url,
            'img_url' : image,
            'img_alt_text' : 'Thumbnail image of ' ~  title,
            'title' : title,
            'content' : summary
        } %}
      {% endfor %}
    </div>
  </div>
</section>
