{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('delta_theme/list-grid-view') }}
{{ attach_library('delta_theme/accordion') }}

{% block page_content %}

    <div class="grid-container grid-container--medium">
        {% set downloadGrids = [] %}
        {% for row in rows %}
            {% set fileUrl = view.style_plugin.getField(loop.index0, 'uri')|striptags|trim %}
            {% set fileSize = view.style_plugin.getField(loop.index0, 'filesize')|striptags|trim %}
            {% set fileName = view.style_plugin.getField(loop.index0, 'field_file_title')|striptags|trim %}
            {% set Type = view.style_plugin.getField(loop.index0, 'extension')|striptags|trim %}
            {% set Name = view.style_plugin.getField(loop.index0, 'name')|striptags|trim %}
            {% set imgUrl = view.style_plugin.getField(loop.index0, 'field_thumb')|striptags|trim %}
            {% set imgAlt = view.style_plugin.getField(loop.index0, 'field_thumb_1') ? view.style_plugin.getField(loop.index0, 'field_thumb_1')|striptags|trim : Name %}
            {% set showIcon = (imgUrl) ? 'false' : 'true' %}
            {% set fileFullPath = fileUrl|split('/') %}
            {% set fileSplit = fileFullPath|length %}
            {% set fileFullName = fileFullPath[fileSplit-1] %}
            {% set downloadGrids = downloadGrids|merge({0 : {download_url: fileUrl, img_url: imgUrl, img_alt: imgAlt, file_size: fileSize, file_extension: Type, title: Name, view_url:fileUrl,show_icon: showIcon, fileName : fileFullName}}) %}
        {% endfor %}
        <div class="grid">
            <div class="grid-col-md-12">
                <div class="accordion-term download-card-mobile-accordion">All</div>
                <div class="accordion-def">
                    {% include "@organisms/download-card-grid/download-card-grid.twig" with {
                        download_cards: downloadGrids
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
