{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% set featuredImg = file_url(rows[0].content['#taxonomy_term'].field_featgured_image.entity.fileuri) %}
{% set featuredImgAlt = rows[0].content['#taxonomy_term'].field_featgured_image.0.alt %}
{% set imgHref = rows[0].content['#taxonomy_term'].field_featu.0.url %}
{% set readMoreText = rows[0].content['#taxonomy_term'].field_featu.0.title %}
{% set featuredHeadline = rows[0].content['#taxonomy_term'].field_featured_headline.0.value %}
{% set featuredContent = rows[0].content['#taxonomy_term'].field_featured_content.0.value %}

<div class="pro-fea-ins grid">
  <div class="pro-fea-prod grid-col-md-8">
{% include "@molecules/image-desc-block/image-desc-block.twig" with {
        'img_desc_prod_more_url': imgHref,
        'img_desc_image_src': featuredImg,
        'img_desc_image_alt': featuredImgAlt,
        'img_desc_title': 'Featured Product',
        'img_desc_prod_title': featuredHeadline,
        'img_desc_prod_desc': featuredContent,
        'img_desc_prod_more_text': readMoreText,
      } %}
  </div>
  <div class="pro-ins-pro grid-col-md-4">
     {% for row in rows[0].content['#taxonomy_term'].field_sidebar_blocks %}
       {% set sidebarDesc = row.entity.field_body.0.value %}
       {% set sidebarImg = file_url(row.entity.field_image.0.entity.image.entity.uri.value) %}
       {% set sidebarLinkUrl = row.entity.field_link.0.url %}
       {% set sidebarViewText = row.entity.field_link.0.title %}

       {% include "@molecules/title-image-desc-block/title-image-desc-block.twig" with {
          "text_img_block_title": row.entity.field_headline.0.value,
          "text_img_block_image_src": sidebarImg,
          "text_img_block_image_alt": pro_ins_pro_desc.text_img_block_image_alt,
          "text_img_block_desc": sidebarDesc,
          "text_img_block_cta_more_content": sidebarViewText,
          "text_img_block_more_url": sidebarLinkUrl,
       } %}
     {% endfor %}
  </div>
</div>
