{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
<div id="tabs" class="tabs product-innovation">

  <ul class="tabs__nav tabs__nav--local-tasks">
    {% for row in rows %}
      <li{{ row.attributes }}>
        <ul class="tabs__nav">
          <li class="tab-parent-active">
            {{- row.content -}}
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>

</div>
