{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<section  class="collection-details__section">
{% include "@atoms/02-text/00-headings/_heading.twig" with {
  "heading_level": 3,
  "heading": view_header,
} %}
<div class="grid">

{% for row in rows %}
  {% set collectionName = view.style_plugin.getField(loop.index0, 'name_1') %}
  {% set collectionCategory = view.style_plugin.getField(loop.index0, 'field_similar_collections_catego')|striptags|trim %}
  {% if collectionCategory == 'Bathroom' %}
    {% set tileHeroImg = view.style_plugin.getField(loop.index0, 'field_bathroom_collection_image') %}
    {% set innovationList = view.style_plugin.getField(loop.index0, 'field_bathroom_innovation_label') %}
    {% set viewLink = view.style_plugin.getField(loop.index0, 'field_bathroom_collection_url')|striptags|trim %}
    {% set tileButtonLink = "/bathroom/collections/" ~ viewLink %}
  {% elseif collectionCategory == 'Kitchen' or  collectionCategory == '' %}
    {% set tileHeroImg = view.style_plugin.getField(loop.index0, 'field_kitchen_collection_image') %}
    {% set innovationList = view.style_plugin.getField(loop.index0, 'field_kitchen_innovation_label') %}
    {% set viewLink = view.style_plugin.getField(loop.index0, 'field_kitchen_collection_url')|striptags|trim %}
    {% set tileButtonLink = "/kitchen/collections/" ~ viewLink %}
  {% endif %}

    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-4 similar-collection-section">
    <div class="product-tile product-tile--collection">
    <figure class="product-tile__image">
      <a href="{{ tileButtonLink }}">{{ tileHeroImg }}</a>
    </figure>
    <div class="product-tile__body">
      <h6 class="h6 product-tile__title"><a class="no-line" href="{{ tileButtonLink }}">{{ collectionName }}</a></h6>
    </div>
    <div class="product-tile__overlay">
      <div class="product-tile__innovations">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": "Featured Innovations",
        } %}
        <a class="no-line" href="{{ tileButtonLink }}">{{ innovationList }}</a>
    </div>
      <div class="product-tile__cta">
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: tileButtonLink,
          button_content: "View Collection",
          button_modifiers: {1: "primary", 2: "sm"},
        } %}
        </div>
    </div>
  </div>
  </div>
{% endfor %}
</div>
</section>
