{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="press-release grid">
  <div class="pr-right-wrapper grid-col-sm-12">
    <div class="pr-category-wrapper">
      <div class="pr-right-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 2,
          "heading": title,
        } %}
      </div>
      <div class="pr-right-desc">
        {% for row in rows %}

          {% set contentTitle = view.style_plugin.getField(loop.index0, 'title')|striptags |trim %}
          {% set contentImage = view.style_plugin.getField(loop.index0, 'field_press_release_image')|striptags|trim %}
          {% set longDesc = view.style_plugin.getField(loop.index0, 'field_short_description_formatte')|trim %}
          {% set contentLink = view.style_plugin.getField(loop.index0, 'view_node')|striptags|trim %}
          {% set btnText = "Learn More"|t  %}
          {% set htmlTitle = contentTitle | replace({'®': '<sup>®</sup>', 'TM': '<sup>TM</sup>', 'H2O':'H<sub>2</sub>O', 'xt':'<sub>xt</sub>' }) %}

          {% include "@molecules/title-image-desc-block/title-image-desc-block.twig" with {
            "text_img_block_title": htmlTitle,
            "text_img_block_image_src": contentImage,
            "text_img_block_image_alt": contentTitle,
            "text_img_block_desc": longDesc,
            "text_img_block_more_url": contentLink,
            "text_img_block_more_content": btnText,
            "text_img_block_more_url": contentLink,
            "text_img_block_more_modifiers": {1: "primary", 2: "lg"},
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
