{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="press-release grid">
  <div class="pr-right-wrapper grid-col-sm-9">
    <div class="pr-category-wrapper">
      <div class="pr-right-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 2,
          "heading": title,
        } %}
      </div>
      <div class="pr-right-desc">
        {% for row in rows %}

          {% set categoryName = view.style_plugin.getField(loop.index0, 'name')|striptags|trim %}
          {% set categoryUrl = view.style_plugin.getField(loop.index0, 'view_taxonomy_term')|striptags|trim %}
          {% set categoryImage = view.style_plugin.getField(loop.index0, 'field_category_image')|striptags|trim %}

          {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
            "img_link_image_url": categoryImage,
            "img_link_image_alt": categoryName,
            "img_link_title": categoryName,
            "img_link_main_url": categoryUrl,
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
