{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('delta_theme/tabs') }}

<script type="text/template" id="output-node">
  <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
    <div class="product-tile">
      <% if(ribbonText){ %><div class="slider_flag flag_position"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
      <figure class="product-tile__image">
        <a href="<%- pdp %>" class="product-action-link">
        <img src="<%- heroImage %>" srcset="<%- heroImage %>" alt="product" class="img-responsive" />
        </a>
      </figure>
      <div class="product-tile__body">
        <% if(ribbonText){ %><div class="slider_flag flag_position flag-mobile"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
      <h6 class="h6 product-tile__title"><a href="<%- pdp %>" class="no-line product-action-link"><%= collectionName %></a></h6>
      <p class="paragraph"><a href="<%- pdp %>" class="no-line product-action-link"><%= title %></a> </p>

      <div class="prod-finishes">
        <% _.each(finishOptions, function (finishIcon) { %>
          <%= finishIcon %>
        <% }); %>
      </div>
      <span class="product-tile__sku"><a class="product-action-link" href="<%- pdp %>"><%- sku %></a></span>
      {# <div class="add-to-compare black-txt">
        <a href="javascript:void(0);" class="cta-link cta-link--sm has-icon--left js-add-to-compare" name="<%- sku %>" data-model-number = "<%- sku %>" > <svg class="icon icon--filter-add-show-small" aria-hidden="true" role="img" width="16" height="16" aria-labelledby="title-filter-add-show-small">
            <title id="title-filter-add-show-small">
              {%- trans -%}
                filter-add-show-small
              {%- endtrans -%}
            </title>
            <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#filter-add-show-small"></use>
          </svg>
          {%- trans -%}
            Add To Compare
          {%- endtrans -%}
        </a>
      </div> #}
      </div>

    </div>
  </div>
</script>
{% set categoryTabs = [] %}
{% set tabValues = [] %}
{% set bannerParams = [] %}
{% set bannerButtons = [] %}
{% set gallery_images = [] %}
{% set banner = [] %}
{% set videoUrl = '' %}
{% for row in rows %}
  {#} Banner #}
  {% set bannerParams = row['content']['#row']._entity.field_bath_sink_col_banner %}
  {# Setting banner buttons #}
  {% for bannerParam in  bannerParams %}
    {% for button in bannerParam.entity.field_banner_buttons %}
      {% set buttonAttributes = '' %}
      {% if button.entity.field_banner_button_text.0.value == 'Gallery' %}
        {% set buttonAttributes = {"data-dialog-show": "collection-gallery-modal"} %}
      {% elseif button.entity.field_banner_button_text.0.value == 'Video' %}
        {% set buttonAttributes = {"data-dialog-show": "collection-video-modal"} %}
        {% set videoUrl = button.entity.field_banner_button_link.0.value %}
      {% else %}
        {% set buttonAttributes = '' %}
      {% endif %}
      {% set bannerButtons = bannerButtons|merge({
        (loop.index0): { url: button.entity.field_banner_button_link.0.value, content: button.entity.field_banner_button_text.0.value, modifiers: {0: "tertiary"}, icon: button.entity.field_button_icon_name.0.value, attributes: buttonAttributes },
      }) %}
    {% endfor %}
      {% if bannerParam.entity.field_social_sharing.0.value == '1' %}
        {% set bannerButtons = bannerButtons|merge({
          (loop.index0): { url: 'javascript:', content: "Share", modifiers: {0: "tertiary", 1: "sm" }, icon: "cta-share", attributes: buttonAttributes },
        }) %}
    {% endif %}
    {% if prdDesignUrl is not empty %}
      {% set bannerButtons = bannerButtons|merge({
        (loop.index0): { url: prdDesignUrl, content: "Product Design Files", modifiers: {0: "tertiary"}, icon: "cta-document-copy", attributes: buttonAttributes },
      }) %}
    {% endif %}

  {# Setting banner gallery images #}
    {% for galleryImg in bannerParam.entity.field_adv_banner_gallery_image %}
      {% set gallery_images = gallery_images|merge({
        (loop.index0): { src: file_url(galleryImg.entity.fileuri), alt_text: galleryImg.alt },
      }) %}
    {% endfor %}
    {% if bannerParam.entity.field_breadcrumbs.0.value == '1' %}
      {% set breadcrumb = true %}
    {% endif %}

    {% set bgmobile_img = bannerParam.entity.field_background_image_mobile.entity.fileuri %}
    {% if bgmobile_img is empty %}
      {% set bgmobile_img = bannerParam.entity.field_adv_banner_bg_image.entity.fileuri %}
    {% endif %}

    {% set bannerTitle =  bannerParam.entity.field_adv_banner_text_title.0.value|replace({'®':'<sup>®</sup>','™':'<sup>™</sup>'}) %}
    {% set bannerDesc =  bannerParam.entity.field_adv_banner_text_desc.0.value|striptags('<sup><sub>')|replace({'®':'<sup>®</sup>','™':'<sup>™</sup>'}) %}

    {% include "@organisms/01-banners/04-banner-featured/featured-banner-cdp.twig" with {
        banner_modifiers:{1: "dark"},
        bgimage_src: file_url(bannerParam.entity.field_adv_banner_bg_image.entity.fileuri),
        bgimage_src_mobile: file_url(bgmobile_img),
        title: bannerTitle,
        content: bannerDesc,
        buttons: bannerButtons,
        social_sharing: social_sharing,
    } %}
  {% endfor %}
  {# Tabs #}
    {% set tabValues = row['content']['#row']._entity.field_bathroom_sinks_tabs %}
    {% for tabvalue in  tabValues %}
      {% set categoryTabs = categoryTabs|merge({
        (loop.index0): { title: tabvalue.entity.name.0.value, id: tabvalue.entity.field_parameter_value.0.value, activeFlag: tabvalue.entity.field_set_active_on_page_load.0.value },
      }) %}
    {% endfor %}

  <div class="grid-container">
  <header class="collection-details__page-header">
  <div class="collection-details__tabs">
  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav">
      {% for tab in categoryTabs %}
        {% include "@atoms/09-menu/tab/tab.twig" with {
              tab_link: "#" ~ tab.id,
              tab_text: tab.title,
              key: loop.index0,
              tab_id: tab.id,
              is_active: tab.activeFlag,
        } %}
      {% endfor %}
      </ul>
      {% for tab in categoryTabs %}
        <div class="tab-accordion-title">{{ tab.title }}</div>
        <div class="tabs__tab{% if loop.first %} is-active{% endif %}">
        <div id="tab-{{ tab.id }}" class="tabs__content"></div>
        </div>
      {% endfor %}
{% endfor %}
</div>

{# Rendering Top marketing content#}
{% for target_id in top_marketing %}
	{{ drupal_entity('paragraph', target_id) }}
{% endfor %}

<div  class="collection-details__dropdowns">
<div id="finish-filters" class="form-item form-item--dropdown">
{% set text_label = "Choose your finish"|trans %}
{% include "@atoms/05-forms/select/select.twig" with {
          label: text_label,
          options: {
            0: {
              type: "option",
              label: text_label,
              value: ""
            },
            1: {
              type: "option",
              label: "All finishes"|trans,
              value: ""
            }
          },
          select_id: 'finishFilter',
          select_modifiers: ["sm"],
          attributtes: {'title': text_label, 'name': text_label, 'aria-label': text_label}
 }%}
</div>
{% set sort_text_label = "Sort By"|trans %}
{% include "@atoms/05-forms/select/select.twig" with {
          label: sort_text_label,
          options: {
            0: {
              type: "option",
              label: sort_text_label,
              value: ""
            },
            1: {
              type: "option",
              label: "Price (High to Low)"|trans,
              value: "sort_ListPrice=DESC"|trans
            },
            2: {
              type: "option",
              label: "Price (Low to High)"|trans,
              value: "sort_ListPrice=ASC"|trans
            },
            3: {
              type: "option",
              label: "A-Z"|trans,
              value: "sort_descriptionWithCollection=ASC&sort_ListPrice=DESC"|trans
            },
            4: {
              type: "option",
              label: "Z-A"|trans,
              value: "sort_descriptionWithCollection=DESC&sort_ListPrice=DESC"|trans
            },
            5: {
              type: "option",
              label: "Newest"|trans,
              value: "sort_AvailableToShipDate=DESC&sort_ListPrice=DESC"|trans
            },
            6: {
              type: "option",
              label: "Rating"|trans,
              value: "sort_bvStarRating=DESC&sort_ListPrice=DESC"|trans
            }
          },
          select_modifiers: ["sm"],
          select_id: 'priceFilter',
          attributtes: {'title': sort_text_label, 'name': sort_text_label, 'aria-label': sort_text_label}
        } %}
        {% set items_text_label = "Items Per Page"|trans %}
        {% include "@atoms/05-forms/select/select.twig" with {
          label: items_text_label,
          options: paginationOptions,
          select_id: 'itemsPerPage',
          select_modifiers: ["im"],
          attributtes: {'title': items_text_label, 'name': items_text_label, 'aria-label': items_text_label}
        } %}
        <div class="pagination__items">
          <div class="pager__items js-pager__items cdp-pagination-output"></div>
        </div>
      </div>
    </div>
  </header>
  </div>
<div class="output-wrapper">
    <div class="ajax-progress ajax-progress-throbber">
     <div class="throbber">&nbsp;</div>
    </div>
    <div id="output"></div>
  </div>
    {% embed "@organisms/modal/_modal.twig" with {
      modal_id: "collection-gallery-modal",
      modal_modifiers: ["collection-gallery"],
      modal_title: '',
    }%}
      {% block content %}
        {% include "@molecules/modal-gallery/modal-gallery.twig" with gallery_images %}
      {% endblock %}
    {% endembed %}

    {% embed "@organisms/modal/_modal.twig" with {
      modal_id: "collection-video-modal",
      modal_modifiers: ["collection-gallery"],
      modal_title: '',
      }
    %}
    {% block content %}
      {% if videoUrl is not empty %}
        {% include "@atoms/08-video/video.twig" with {
           video_content: "<iframe title='Video container' width='1280' height='720' frameborder='0' allowfullscreen='allowfullscreen' src='" ~ videoUrl ~ "'></iframe>",
          }
        %}
      {% endif %}
    {% endblock %}
    {% endembed %}
<script type="text/template" id="cdp-pagination">
  <% if(totalRecordset > 0) { %>
  <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
    <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
  </div>
  <% } %>
</script>
<div class="cdp-pagination-bottom"><div class="pager__items js-pager__items cdp-pagination-output pagination-bottom"></div></div>

{# Rendering bottom marketing content#}
{% for target_id in bottom_marketing %}
	{{ drupal_entity('paragraph', target_id) }}
{% endfor %}
