{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('delta_theme/list-grid-toggle') }}
{{ attach_library('delta_theme/accordion') }}

{% block page_content %}

    <div class="grid-container grid-container--medium">
        {% set downloadGrids = [] %}
        {% for row in rows %}
            {% set fileUrl = view.style_plugin.getField(loop.index0, 'field_document')|striptags|trim %}
            {% set fileSize = view.style_plugin.getField(loop.index0, 'filesize')|striptags|trim %}
            {% set fileName = view.style_plugin.getField(loop.index0, 'filename')|striptags|trim %}
            {% set Type = view.style_plugin.getField(loop.index0, 'filemime')|striptags|trim %}
            {% set fileType = Type|split('/') %}
            {% set downloadGrids = downloadGrids|merge({0 : {download_url: fileUrl,file_size: fileSize, file_extension: fileType[1], title: fileName, show_icon: true}}) %}
        {% endfor %}
        <div class="grid">
            <div class="grid-col-md-9">
                <div class="accordion-term download-card-mobile-accordion">All</div>
                <div class="accordion-def">
                    {% include "@organisms/download-card-grid/download-card-grid.twig" with {
                        download_cards: downloadGrids
                    } %}
                </div>
            </div>
            <aside class="grid-col-md-3">
                {{ drupal_block('system_menu_block:product-resources') }}
            </aside>
        </div>
    </div>
{% endblock %}
