{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<section  class="collection-details__section grid-container">
{% if heading %}
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    "heading_level": 3,
    "heading": view_header,
  } %}
{% endif %}
{% set innovationcarousel = [] %}
{% for row in rows %}
  {% set heading = [] %}
  {% set headingElement = [] %}
  {% set carouselImg = file_url(row['content']['#row']._entity.field_collection_highlight_image.entity.fileuri) %}
  {% set img_alt_text = row['content']['#row']._entity.field_collection_highlight_image.alt %}
  {% set carouselHeading = view.style_plugin.getField(loop.index0, 'field_collection_highlight_headi') %}
  {% set headingElement = headingElement|merge({(loop.index0) : {heading_level: 4,heading: carouselHeading, heading_modifiers: ['regular'] }}) %}
  {% set carouselDesc = view.style_plugin.getField(loop.index0, 'field_collection_highlight_desc') %}
  {% set carouselLink = view.style_plugin.getField(loop.index0, 'view_taxonomy_term')|striptags %}
  {% set button_url = row['content']['#row']._entity.field_facet_link.0.value.uri|replace({'internal:': ""}) %}
  {% set innovationcarousel = innovationcarousel|merge({(loop.index0) : {img_url: carouselImg,img_alt_text: img_alt_text,heading: carouselHeading, copy: carouselDesc, button_url: button_url} }) %}

{% endfor %}

{% include "@organisms/summary-card-carousel/summary-card-carousel.twig" with {
  summary_cards:innovationcarousel,
}%}
</section>
