


<div class="card">

            <div class="card-img-block">
        <picture>
          <source   srcset="" media="(min-width: 1000px)">
          <img    srcset="" alt="" class="image">
        </picture>
      </div>
      
  <div class="card__desc">

    
          
      
<h2 class="card__title">
      
<a class="card__title-link"
  href="#">
      Subsection main Title
  </a>
  </h2>
      
    
        
          
<h3 class="card__subtitle">
      
<a class="card__subtitle-link"
  href="#">
      Subsection sub Title
  </a>
  </h3>
              
  <p class="card__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ore et.
      </p>

                  

<a
  class="card__button"

      href="#"
         >
      Link Text
  </a>
      </div><!-- copy -->
</div>
