.cdp-filter {
  @include maxbp($r_1000) {
    &.active-mobile-filter {
      position: fixed;
      background: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;

      .cdp-accordion--open {
        height: calc(100vh - 120px);
        overflow: auto;
      }
    }
  }
}

.cdp-wrapper {
  display: block;
  overflow: hidden;
  margin: $space*4 0 !important;
  padding: 40px 0 0;

  @include maxbp($main-menu-medium) {
    position: relative;
  }

  @include maxbp($medium) {
    margin: 0 !important;
  }

  &::after {
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
    height: 54px;
    width: 100%;
    display: block;
    content: "";

    @include maxbp($main-menu-medium) {
      position: absolute;
      bottom: 0;
    }

    @include maxbp($medium) {
      display: none;
    }
  }

  .cdp-block {
    display: block;
    overflow: hidden;
    padding: 0 64px 38px;

    @include maxbp($main-menu-medium) {
      padding: 0;
    }

    @include maxbp($medium) {
      position: relative;

      &::after {
        background: #fff; /* Old browsers */
        background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
        height: 54px;
        width: 100%;
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
      }
    }
  }

  .cdp-data {
    float: right;
    width: calc(100% - 300px);

    @include maxbp($r_1000) {
      width: 100%;
      float: none;
      padding-left: 24px;
      padding-right: 24px;
    }

    @include maxbp($large) {
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      z-index: 2;

      .grid-col-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    // .cdp-selected-filter {
    //   @include maxbp($tab-min) {
    //     padding-bottom: 20px;
    //   }
    // }
  }

  .cdp-filter {
    float: left;
    width: 250px;

    @include maxbp($r_1000) {
      width: 100%;
      float: none;
      margin: 0 0 25px;
    }
  }

  .cdp-operation {
    display: block;
    overflow: hidden;
    margin: 0 0 $space*2;

    @include maxbp($r_600) {
      text-align: center;
    }
  }

  .cdp-grid {
    margin: $space+25 -16px 0;

    .product_tile {
      width: 100%;
      margin: 0;

      @include maxbp($large) {
        border-bottom: none;
        padding: 20px 0;
      }
    }
  }

  .cdp-result {
    color: $gray-20;
    float: left;
    padding-bottom: $space*2;

    @include maxbp($r_1000) {
      display: none !important;
    }

    @include maxbp($r_600) {
      float: none;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .cdp-results-detail {
      font-size: 23px;
      margin: 0 0 0 5px;
    }

    .cdp-results-count {
      font-size: 24px;
      color: $gray-10;
      line-height: 32px;
      font-family: $font-subheading;
      letter-spacing: 0;
      vertical-align: baseline;

      span {
        font-size: 24px;
        color: $gray-10;
        line-height: 32px;
        font-family: $font-subheading;
        letter-spacing: 0;
        vertical-align: baseline;
      }
    }
  }

  .cdp-sorting {
    float: right;

    @include maxbp($r_600) {
      float: none;
      margin: auto;
    }

    #sort-by-select {
      padding: 0 $space*4 0 0;
      width: 230px;
      font-size: 18px;
      outline: none;
      cursor: pointer;
      line-height: normal;
      height: 50px;

      @include maxbp($r_600) {
        width: 100%;
      }
    }
  }

  .cdp-block-title {
    color: $gray-30;
    font-family: $font-heading;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 8px;
    margin: 0 0 20px;
    width: auto;
    text-transform: uppercase;

    @include maxbp($large) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 5.76px;
    }
  }
}

.cdp-finish-wrapper {
  background: #fff; /* Old browsers */
  padding: 29px 64px 54px;
  text-align: center;
  position: relative;

  &::after {
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType=0); /* IE6-9 */
    content: "";
    display: block;
    height: 54px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include maxbp($main-menu-medium) {
    padding: 32px 24px 54px;
  }

  @include maxbp($medium) {
    padding: 32px 16px 54px;
  }
}

.path-kitchen,
.path-bath {
  .main {
    padding: 0 !important;
  }

  .pagination-bottom {
    @include breakpoint($large) {
      padding-right: 60px;
    }
  }
}

.cdp-secondarybanner.banner-footer-data-wrapper {
  .banner-footer-data {
    padding: 120px 0 150px;

    @include maxbp($r_1100) {
      padding: 120px 20px 150px;
    }

    p {
      font-size: 24px;

      @include maxbp($large) {
        font-size: 20px;
      }

      @include maxbp($r_600) {
        font-size: 18px;
      }
    }

    h4 {
      line-height: 50px;
      margin: 0 0 35px;
      font-style: normal;
      font-size: 60px;

      @include maxbp($r_1100) {
        font-size: 50px;
      }

      @include maxbp($large) {
        font-size: 30px;
        margin: 0 0 25px;
      }

      @include maxbp($r_600) {
        font-size: 25px;
      }
    }
  }
}

.cdp-block-wrapper + .banner .grid-container.banner__content {
  @include maxbp($tablet) {
    position: static;
    background: black;
    padding: 40px;
  }
}

.vettis-concrete-block {
  text-align: left;

  @include breakpoint($tablet) {
    position: absolute;
    right: 0;
    width: 480px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
  }

  @include maxbp($large) {
    width: 320px;
  }

  @include maxbp($tablet) {
    width: 100%;
  }

  p {
    margin: 0;

    img {
      margin: 0 0 45px;
    }

    a {
      font-size: 15px;
      font-family: $font-condensed;
      display: block;
      text-decoration: none;
      margin: 15px 0 0;
    }
  }
}

.collection-details__dropdowns {
  display: flex;
  justify-content: space-between;

  @include maxbp($r_1000) {
    flex-direction: column;
  }

  .form-item--dropdown {
    margin-bottom: 0;
  }

  .form-item {
    @include breakpoint($large) {
      width: 206px;
      margin-right: 40px;
    }

    @include maxbp($r_1000) {
      width: 100%;
      max-width: 100%;
    }
  }
}

.cdp-pagination-output {
  display: flex;
  align-items: center;
  position: relative;

  @include maxbp($r_1000) {
    order: -2;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .pager__link {
    background: $white;
    padding: 10px 14px;
    border: 0;
    color: $black;

    &.is-active {
      color: $gray-10;
    }

    @include maxbp($r_1000) {
      background: $gray-10;
      color: $white;
    }
  }
}
