<div class="cdp-wrapper">
  <div class="ajax-progress ajax-progress-throbber">
    <div class="throbber">&nbsp;</div>
  </div>

  <div class="cdp-block">
    <div class="cdp-filter">
      {% include "@molecules/product-filter/cdp-filters/cdp-filter.twig" %}
    </div>

    <div class="cdp-data">

      {% include "@molecules/product-filter/cdp-selected-filter/cdp-selected-filter.twig" %}

      <div class="cdp-grid grid">
        {% for cdp_item in cdp_items %}
          <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          {% include "@molecules/product-tile/product-tile.twig" with {
            "product_flag_text": cdp_item.product_flag_text,
            "flag_modifiers": cdp_item.flag_modifiers,
            "product_img_src": cdp_item.product_img_src,
            "product_img_alt": cdp_item.product_img_alt,
            "product_title": cdp_item.product_title,
            "product_desc": cdp_item.product_desc,
            "product_modelno": cdp_item.product_modelno,
            "product_link_url": cdp_item.product_link_url,
            "product_tile_modifiers": cdp_item.product_tile_modifiers,
            "finish_icons": cdp_item.finish_icons,
          } %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
