<div class="com-popup">

  <div class="com-title-wrapper">
    <div class="com-title-block">
      <div class="com-popup-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 4,
          "heading": compare_popup_title,
        } %}
      </div>
      <div class="com-popup-desc">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: compare_popup_desc,
        } %}
      </div>
    </div>

    <div class="com-popup-button">
      <div class="com-popup-button-compare">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_content": compare_pop_button_content,
          "button_modifiers": compare_pop_button_modifiers,
        } %}
      </div>
      <div class="com-popup-close">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_icon: "chevron-up",
          cta_link_icon_position: "right",
          cta_link_url: compare_popup_close_url,
          cta_link_icon_size: "30"
        } %}
      </div>
    </div>
  </div>

  <div class="com-pop-block-list">
    {% for com_pop_block in com_pop_blocks %}
      {% include "@molecules/compare-block/compare-block.twig" with {
        "compare_popup_image_url": com_pop_block.compare_popup_image_url,
        "compare_popup_image_alt": com_pop_block.compare_popup_image_alt,
        "compare_popup_prod_title": com_pop_block.compare_popup_prod_title,
        "compare_popup_prod_desc": com_pop_block.compare_popup_prod_desc,
        "compare_popup_prod_model": com_pop_block.compare_popup_prod_model,
        "compare_popup_prod_price": com_pop_block.compare_popup_prod_price,
        "compare_pop_remove_url": com_pop_block.compare_pop_remove_url,
        "compare_pop_remove_content": com_pop_block.compare_pop_remove_content,
        "compare_pop_remove_modifiers": com_pop_block.compare_pop_remove_modifiers,
        "compare_pop_img_flag_text": com_pop_block.compare_pop_img_flag_text,
        "compare_pop_img_flag_modifiers": com_pop_block.compare_pop_img_flag_modifiers,
        "compare_popup_empty_text": com_pop_block.compare_popup_empty_text,
        "compare_popup_empty_link": com_pop_block.compare_popup_empty_link,
        "compare_popup_empty_class": com_pop_block.compare_popup_empty_class,
      } %}
    {% endfor %}
  </div>
</div>
