{#
/**
 * Available variables:
 * - ul_base_class - the base classname
 * - ul_modifiers - array of modifiers to add to the base classname
 * - ul_blockname - blockname prepended to the base classname
 *
 * - listItems - TBD
 */
#}
{% set ul_base_class = ul_base_class|default('ul') %}

<ul {{ bem(ul_base_class, (ul_modifiers), ul_blockname) }}>
  {% block list_content %}
    {% for ul_item in ul_items %}
        {% include "@atoms/03-lists/_list-item.twig" with {
          "list_item_label": ul_item.label,
          "list_item_content": ul_item.content,
          "li_base_class": ul_item.li_base_class,
          "li_base_class": ul_item.li_base_class,
          "li_modifiers": ul_item.li_modifiers,
          "li_blockname": ul_item.li_blockname,
        } %}
    {% endfor %}
  {% endblock %}
</ul>
