// Fix Contact block spacing incosistencies.

.contact {
	@media screen and (max-width: $screen-lg-max) {
		.p--theme-blue {
			margin-bottom: 0 !important;
		}

		form {
			margin: 50px 0 60px;

			.btn {
				margin-top: 20px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	.form-row {
		display: flex;
		justify-content: space-between;

		.form-group {
			width: calc(50% - 8px);
		}
	}
}

.contact-form.is-hidden .v-list-9 {
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

#success-message {
	position: relative;
	top: 150px;
	font-family: $font-stack-fs-joey;
	font-size: 20px;
	text-align: center;
	color: $theme-gray;
	margin-bottom: 16px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out;
	height: 0;
	overflow: hidden;

	&.is-visible {
		height: auto;
		overflow: auto;
		pointer-events: auto;
		opacity: 1;
	}
}
