.js {
	@media (min-width: 1024px) {
		[data-section-fade-up-heading],
		[data-section-fade-up-text] {
			opacity: 0;
			transform: translate(0, 50px);
			transition: opacity 1.2s cubic-bezier(.25, .1, .25, 1), transform 1.2s cubic-bezier(.25, .1, .25, 1);

			&.fade-up {
				opacity: 1;
				transform: translate(0, 0);
			}
		}

		[data-section-fade-up-text] {
			transition-delay: 0.3s;
		}

		[data-section-fade-left-item] {
			opacity: 0;
			transform: translate(50px);
			transition: all 1.2s cubic-bezier(.25, .1, .25, 1);

			&.fade-left {
				opacity: 1;
				transform: translate(0);
			}
		}
	}
}
