.footer{
  background-color: #0199d0;
  text-align: center;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: normal;

  &--inner{
    padding: 26px;

    @media screen and (max-width: $screen-sm-max) {
      padding:40px 26px 40px;
    }
  }

  &--top{
    font-size: 20px;
    font-family: $font-stack-fs-joey;
  }
  &--title{
    font-size: 30px;
    font-weight: bold;
    font-family: inherit;


    @media screen and (max-width: $screen-sm-max) {
      font-size: 26px;
    }

  }
  &--subtitle{
    font-size: 20px;
    font-weight: normal;
    font-family: inherit;
  }

  &--address{
    font-family: $font-stack-fs-roboto;
    line-height: 1.29;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0 0 0;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &--copyright{
    font-family: $font-stack-fs-roboto;
    line-height: 1.29;
    font-size: 14px;
    font-weight: 300;
    background-color: #0080ae;
    padding: 13px 30px 10px;
  }

}
