/*
---
name: Hover Accordion
category: Modules
---


```hover-accordion-example.html
```
*/

.hover-accordion__bullet {
	display: block;
	margin-bottom: 4px;
}

.hover-accordion__item {
	border-bottom: 1px solid $theme-gray;

	&:first-child {
		border-top: 1px solid $theme-gray;
	}
}

.hover-accordion__item{
  p{
    margin: 0;
  }
}
/*
* responsive accordion item spacing
*/
@media screen and (min-width: $screen-wide-min) {
	.hover-accordion__item {
		padding: ($grid-unit * 6) 0 ($grid-unit * 6) 0;
	}
}

@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.hover-accordion__item {
		padding: ($grid-unit * 4.5) 0 ($grid-unit * 4.5) 0;
	}
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.hover-accordion__item {
		padding: ($grid-unit * 3) 0 ($grid-unit * 3) 0;
	}
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.hover-accordion__item {
		padding: ($grid-unit * 1.5) 0 ($grid-unit * 1.5) 0;
	}
}

@media screen and (max-width: $screen-sm-max) {
	.hover-accordion__item {
		padding: ($grid-unit * 1.5) 0 ($grid-unit * 1.5) 0;
	}
}

