// Addressing incostistencies of News block with global typograph

.news {

  article {
    border-top: 1px solid #676b6e;
    padding: 60px 0 60px;
    margin: 0;
  }

  h4{
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding:0px;
    line-height: normal;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }
	h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding:0px;
    margin-bottom: 10px;
    line-height: normal;

    @media screen and (max-width: $screen-sm-max) {
      font-size: 18px;
    }
	}

	.link {

		.text-icon--article-cta {
			width: 22px;
			height: 22px;
			background-repeat: no-repeat;
		}
	}

	@media screen and (max-width: $screen-lg-max) {
		header {
			margin-bottom: 50px;
		}

		.h2:first-child {
			margin-bottom: 8px !important;
		}

		.p--white {
			margin: 12px 0 !important;
		}
	}

	@media screen and (max-width: $screen-sm-max) {
		header,
		article {
			margin-bottom: 0;
      padding-bottom: 0;
      padding: 40px 0 ;

      .link--text-icon{
        font-size: 18px;
      }
      &:first-child {
        padding-right:50px;
      }

			&:not(:last-child) {
				border-bottom: 1px solid $white;
			}
		}

		header {
			padding-bottom: 5px;
		}
	}
}
