/* IFrame styles*/
#payment-iframe {
  iframe {
    height: 455px !important;
  }
}
#html-main-content {
  width: 100%;
  max-width:none;
  font-size: 18px;
  margin-top: -69px;

  #div{
    margin: 0 0 40px 0;
    position: relative;

    label {
        font-size: 18px;
        position: absolute;
        font-family: $font-stack-fs-roboto;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 300;
        top: 15px;
        left: 5px;
        transform-origin: top left;
        transform: translate(0, -22px) scale(0.75);
        white-space: nowrap;
    }

    input{
      border: none;
      border-bottom: solid 2px #d0cfd1;
      font-size: 18px;
      font-weight: 300;
      outline: 0;
      padding: 8px 0 8px 5px;
      width: 100%;
      height: 52px;
      color: $theme-gray;
    }

    &.credicardtype {
        width: 50%;

        @media screen and (max-width: $screen-sm-max) {
            width: 100%;
        }

        &:after {
            content:'';
            height:9px;
            width: 9px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 14px;
            top: 20px;
            padding: 0 0 2px;
            border-left: 1px solid #676b6e;
            border-bottom: 1px solid #676b6e;
            position: absolute;
            pointer-events: none;
            z-index: 2;
        }
    }

    &.credicardexp-month{
        width: 75%;
        float: left;

        #c-exmth {
            width: 47%;
            margin-right: 6%;
        }

        #c-exyr {
            width: 47%;
        }

        .valmsg {
            margin: 0;
            position: absolute;
            bottom: -35px;
        }
    }

    &:last-child {
        width: 21%;
        float: right;
        position: relative;
        top: 17px;
    }
  }

    select::-ms-expand {
        display: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        border: 0;
        font-family: $font-stack-fs-roboto;
        display: block;
        width: 100%;
        height: 54px;
        font-size: 18px;
        text-transform: capitalize;
        color: #676b6e;
        background-color: #fff;
        background-image: none;
        border-bottom: 2px solid #d0cfd1;
        word-break: normal;
        font-weight: 200;
        line-height: 42px;
        padding: 6px 0 8px 5px;
    }

  .credicardexp-date,
  .credicardexp-month{
    display: flex;
    label{
      display: none !important;
    }
  }

  .credicardtype{
    label{
      display: none !important;
    }

}


}

.valmsg {
  //margin-left: 130px;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #bd2222;
}

.valmsg-ac-type {
  margin-left: 35px;
  color: #c63b3b;
}

.valmsg-img {
  background-image: url("../Images/red-info.png");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.errorTooltip {
  background-color: white;
  border: 1px solid #626161;
  color: #c63b3b;
  border-radius: 7px;
}

.xiInputError {
  border: 1px solid #b94a48 !important;
  background-color: #fef5f5 !important;
}

.PaymentDetailHeader {
  text-align: center;
  width: 100%;
  background-color: rgb(232, 6, 6);
  color: white;
  height: 20px;
  padding-top: 2px;
  /*margin: 5px 0;*/
}

.cardIndicator {
  display: inline-flex;
  padding-top: 20px;
}

.mcIndicator {
  background-image: url("../Images/mc.png");
  width: 33px;
  height: 26px;
  vertical-align: middle;
  margin-left: 40px;
  opacity: .3;
}

.viIndicator {
  background-image: url("../Images/visa.png");
  width: 35px;
  height: 22px;
  vertical-align: middle;
  margin-left: 40px;
  opacity: .3;
}

.axIndicator {
  background-image: url("../Images/amex1.png");
  width: 27px;
  height: 25px;
  vertical-align: middle;
  margin-left: 40px;
  opacity: .3;
}

.customIndicator {
  background-image: url("../Images/red-info.png");
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 40px;
  opacity: .3;
}

.mcIndicator.selected {
  opacity: 1;
}

.viIndicator.selected {
  opacity: 1;
}

.axIndicator.selected {
  opacity: 1;
}

.customIndicator.selected {
  opacity: 1;
}
/*float labels*/
.floatLabelSection label {
  opacity: 0;
}

.inputdiv {
  position: relative;
  margin-left: 130px;
}

.inputdiv > input {
  height: 33px;
  padding-top: 12px;
  padding-left: 6px;
}

.inputdiv > label {
  opacity: 0;
  height: 0;
}

.inputdiv .valmsg {
  margin-left: 0;
}

.inputdiv input:valid + label, .inputdiv input:valid + span +label {
  opacity: 1;
  top: 100%;
  position: absolute;
  left: 3px;
  top: -12%;
  height: 24px;
  /*margin-left: -228px;
  margin-top: -40px;*/
  color: red;
  font-size: 10px;
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.expMonthRequiredDisplayNone {
  display: none;
}
