// Process section custom styling

#process {
	overflow: hidden;

	.section__foreground {
		position: relative;
		z-index: 2;
		padding-bottom: 20%;

		@media (max-width: $screen-sm-max) {
			padding-bottom: 45%;
		}
	}

	.section__background {
		position: absolute;
		height: 100%;
		left: 0;
		right: 0;

    @media (max-width: $screen-sm-max) {
			bottom: 0%;
		}
	}

}
