.site-header__nav-button {
	position: absolute;
	top: 50%;
  right: auto;
  left: 5px;
	display: block;
	width: 37px;
	height: 21px;
	transform: translate(0, -50%);
	background: transparent;
	appearance: none;
	-webkit-appearance: none;
	padding: 0;
	border: 0;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	z-index: 20;

	@media screen and (min-width: $screen-md-min) {
		display: none;
  }


}
@media screen and (max-width: $screen-sm-max) {

  .menu-is-active .site-header__nav-button {
    left: 35px;
  }

  .menu-is-active .site-header__nav > ul > li > ul > li .link--nav.active,
  .menu-is-active .site-header__nav > ul > li > ul > li .link--nav:hover{
    background-color: transparent;
  }

  body.admin.menu-is-active .site-header{
    top:0px;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .menu-is-active .mobile-button--wrapper{
    background-color: $theme-blue-dark;
    z-index: 19;
    display: block;
    left: -25px;
    right: -25px;
    top: 0;
    position: absolute;
    height: 80px;
    padding-left: 25px;
  }
}

.shnb-inner {
	//top: 50%;
	display: block;
	//transform: translate(0, -50%);
}

.shnb-inner,
.shnb-inner::before,
.shnb-inner::after {
	position: absolute;
	left: 0;
	width: 37px;
	height: 3px;
	background-color: #2996d3;
	transition: transform 0.15s ease;
}

.shnb-inner::before,
.shnb-inner::after {
	display: block;
	content: '';
}

.shnb-inner::before {
	top: -10px;
}

.shnb-inner::after {
	top: 10px;
}

.shnb-inner {
	top: 2px;
	transition: background-color 0s linear .13s
}

.shnb-inner:before {
	top: 10px;
	transition: background-color .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19)
}

.shnb-inner:after {
	top: 20px;
	transition: background-color .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19)
}

.is-active .shnb-inner {
	transition-delay: .22s;
	background-color: transparent
}

.is-active .shnb-inner:before {
	top: 0;
	transition: background-color .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
	transform: translate3d(0, 10px, 0) rotate(45deg);
	background-color: $white;
}

.is-active .shnb-inner:after {
	top: 0;
	transition: background-color .2s cubic-bezier(.33333, 0, .66667, .33333), top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
	transform: translate3d(0, 10px, 0) rotate(-45deg);
	background-color: $white;
}


.toolbar-oriented .toolbar-bar{
  position: fixed;
}
