/*
---
name: Site Header
category: Modules
---

The site header appears at the top of the page.

```site-header-example.html
```
*/
// ADMIN
.toolbar-loading #toolbar-administration {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999999;

  @media screen and (max-width: $screen-sm-max) {
    display: none;
  }
}

body{
  padding-top: 89px !important;

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 69px !important;
  }

  /*
  &.page-node-type-page{
    padding-top: 150px  !important;
  }
  */

  &.admin{
    padding-top: 130px !important;
  }
}

// Geeral
body.admin{
  .site-header {
     top: 39px;
  }
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	width: 100%;
	height: 90px;
	background-color: $white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.39);

  //left: 50%;
  //transform: translateX(-50%);
  //max-width: $max-wdith;

	@media screen and (min-width: $screen-lg-min) {
		height: 90px;
	}
	@media screen and (max-width: $screen-sm-max) {
    height: 73px
  }

	.table-layout {
		position: relative;
	}
}

.site-header__spacer {
	position: relative;
	width: 100%;
	height: 73px;

	@media screen and (min-width: $screen-lg-min) {
		height: 85px;
  }
  @media screen and (max-width: $screen-sm-max) {
    display: none;
  }

  display: none!important;
}

// Account for when the site is rendered within admin panel and push it down to show the toolbar.
/*
[class^='toolbar'] {
	.site-header {
		top: 39px;
	}

	@media (min-width: 976px) {
		top: 79px;
	}
}
*/



// Except for the front page where we hide the toolbar
.path-frontpage {

  /*
	.toolbar {
		display: none;
	}

	.site-header {
		top: 0 !important;
  }
  */
}

@media screen and (max-width: $screen-sm-max) {
  .site-header__logo_a{
    display: inline-block;
      position: absolute;
      left: 50%;
      margin: -25px 0 0 -20px;
      top: 50%;
  }
}

.site-header__logo {
	margin-top: 4px;
	height: 48px;

	@media screen and (min-width: $screen-lg-min) {
		height: 55px;
  }



}

.site-header__description {
  white-space: nowrap;
  font-family: $font-stack-fs-joey;
	@media screen and (min-width: $screen-md-min) and(max-width: $screen-md-max){
    span{
      display: block;
    }
  }

}

.site-header__nav {
  text-align: right;

  >ul{
    display: block;

    >li{
      display: inline-block;
      margin:0 10px;
      position: relative;



      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $theme-blue;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }

      > a.link--nav{
        display: block;
        color: $theme-gray;
        text-align: center;

        &:hover,
        &.active{
          color: $theme-blue;
        }
      }

      &:hover > a{
        color: $theme-blue;
      }


      >ul{
        display: none;
        width: 340px;
        margin: 0 0 0 -125px;

        >li{
          display: block;
          margin:0;
          &:first-child{
            margin: 26px 0 0 0;
          }

          .link--nav{
            display: block;
            color: white;
            text-align: center;

            @media screen and (min-width: $screen-md-min){
              background-color:$theme-blue-a;
            }
            padding: 30px 0;
            transition: background-color 0.5s ease;

            &.active,
            &:hover{
              background-color: $theme-blue-b;
              color: white;
            }
            &.new-product {
              &::after {
                color: $white;
                content: "NEW";
                right: 20px;
                margin-top: -10px;
                font-size: 14px;
                font-weight: bold;
                position: absolute;
                font-style: italic;
                top: 27px;
              }

              @media (max-width: 767px) {
                &::after {
                  top: 0;
                }
              }
            }
          }
        }
      }

      &:hover{
        >ul{
          display: block;
          position: absolute;
        }
      }

    }
  }

}



/*
* responsive nav item spacing
*/
@media screen and (min-width: $screen-wide-min) {
	.site-header__nav {
		> * {
			margin-left: $grid-unit * 4;
		}
	}
}

@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.site-header__nav {
		> * {
			margin-left: $grid-unit * 3;
		}
	}
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.site-header__nav {
		> * {
			margin-left: $grid-unit * 3;
		}
	}
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.site-header__nav {
		> * {
			margin-left: $grid-unit * 2;
		}
	}
}

.nav-social {
	display: none;
}

@media screen and (max-width: $screen-sm-max) {
	.site-header__nav {
		position: fixed;
		top: 0;
		left: 0;
    width: 100vw;
		height: 100vh;
		background-color: $theme-blue;
		text-align: left;
		opacity: 0;
		visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
    padding: 80px 0 0;

    a {
      color: #ffffff !important;

    }

		&.is-active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			transition: opacity 0.5s;

      >ul{
        display: block;
        position: relative;

        >li{
          display: block;
          text-align: left;
          margin:0;
          padding: 0;

          >a{
            color: #fff;
            text-align: left;
            padding: 25px 35px;
            margin: 0;
            border-top:1px solid $theme-blue-dark;
            display: block;
            width: 100%;
          }

          ul{
            position: relative;
            padding: 0;
            margin: 0;
            display: block;
            width: 100%;
            padding:0 35px;

            li{
              margin: 0px;
              padding: 0px;
              display: block;
              text-align: left;

              a{
                padding: 0;
                margin: 0;
                display: block;
                font-size: 20px;
                text-align: left;
                &:hover{
                  background-color: transparent !important;
                }
              }
            }

          }

        }
      }

			.link--nav,
			.nav-social {
				opacity: 1;
				//transform: translate(-50%, 0);
			}
		}

		.header__nav--prime .link--nav {
      width: auto;
      padding-bottom: 30px;
    }
    .nav-social {
      width: 200px;
    }
		.link--nav,.nav-social {
			display: block;
			color: $white;
			font-size: 28px;
			background-color: transparent;
			margin-left: 50%;
			opacity: 0.4;
			//transform: translate(-50%, -50%);
			//transition: transform 0.5s, opacity 0.5s;

			+ .link--nav,
			+ .nav-social {
				margin-top: 36px;
			}
		}
	}

	.nav-social {
		.link--icon {
			margin-right: 20px;
			filter: brightness(10);
		}
	}
}
