/*
---
name: Video Scroller
category: Modules
---

TODO

```video-scroller-example.html
```
*/
.video-scroller {
	position: relative;

	/* this can be any large number but will dictate the
		duration of the scrolling video, so override this with
		javascript if you need a custom duration */
	height: 13500px;
}

.video-scroller__video {
	margin-left: calc((175vh - 100vw) / -2);
}

.video-scroller__video,
.video-scroller__captions {
	position: absolute;

	height: 100vh;

	.video-scroller--scrolling & {
		position: fixed;
	}

	.video-scroller--end & {
		bottom: 0;
	}
}

.video-scroller__icon {
	position: absolute;
	width: 100%;

	> img {
		display: block;
		margin: 0 auto;
		width: 2.5%;
		min-width: 40px;
		height: auto;
	}

	.video-scroller--scrolling & {
		position: fixed;
		bottom: 5%;
	}

	.video-scroller--end & {
		bottom: 5%;
	}
}

.video-scroller__caption-item {
	transition: opacity 0.3s ease, visibility 0.3s 0.3s ease, visibility 0.3s 0.3s ease;
}

.video-scroller__caption-item--hidden {
	display: none;
}

.video-scroller__caption-trigger {
	position: absolute;
	height: 1px;
	width: 100%;
}
