{#
/**
 * Available variables:
 * - video_title - (optional) Title of the thumbnail
 * - video_url - URL to the video page
 * - video_thumbnail_url - URL to the thumbnail image
 */
#}


<a href="{{ video_url }}" class="video-thumbnail" name="{{ title }}" title="{{ title }}" aria-label="{{ title }}">
  <img class="video-thumbnail__img" src="{{ video_thumbnail_url }}" alt="Thumbnail image of {{ title }}" />

  {% if video_title %}
  <span class="video-thumbnail__title">{{ video_title|raw }}</span>
  {% endif %}

  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: "play",
    icon_size: '20%',
    hidden: true,
  } %}
</a>
