{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{%
  set link_classes = [
    is_active ? 'is-active',
    'tabs__link--local-tasks'
  ]
%}


{# if Pattern Lab atoms example, add ul wrapper #}
{% if not primary %}
<ul class="tabs__nav">
{% endif %}
<li{{ attributes }} rel="{{ tab_text }}" {% if is_active %}class="tab-parent-active"{% endif %}>
  {# Detect if Drupal #}
  {% if (attributes and (link['#url'] is not empty)) %}
    {{ link(link['#title'], link['#url'], { 'class' : link_classes }) }}
  {% else %}
    <a {% if tab_id %}name="{{ tab_id }}"{% endif %} href="{{ tab_link }}" class="tabs__link tabs__link--local-tasks{% if key == 0 %} is-active{% endif %}">{{ tab_text }}
      {% if tab_count %}
        <span class="count">({{ tab_count }})</span>
      {% endif %}
    </a>
  {% endif %}

</li>
{% if not primary %}
</ul>
{% endif %}
