{{ attach_library('delta_theme/sidebar-menu') }}

<div class="sidebar-wrapper">
<h6 class="section_title">{{section_title}}</h6>
<ul>
  {% for sidebar_menu_link in sidebar_menu_links %}
  <li>
    {% include "@atoms/01-links/link-level/link-level.twig" with {
        'sidebar_link': sidebar_menu_link,
    } %}
    <ul class="inner">
    {% for sidebar_menu_sublink in sidebar_menu_sublinks %}
      <li>
        {% include "@atoms/01-links/link-level/link-level.twig" with {
            'sidebar_link': sidebar_menu_sublink,
        } %}
      </li>
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</div>