{{ attach_library('delta_theme/product-thumb-slider')}}

<div class="pdp-listing-variation-wrapper">
  <div class="pdp-listing-variation pdp-handle-accent">
    <div class="pdp-listing-variation-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": pdp_handle_accent_title,
      } %}
    </div>

    <div class="pdp-listing-variation-desc-wrapper">
      {% block list_content %}
        {% for pdp_ha_list in pdp_ha_lists %}

          <div class="pdp-listing-variation-desc">
            <div class="pdp-listing-variation-img">
              {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src": pdp_ha_list.image,
                "img_alt": pdp_ha_list.description,
              } %}
            </div>
            <div class="pdp-listing-variation-block">
              {% include "@molecules/pdp-product-info-header/pdp-product-info-header.twig" with {
                "pdp_model_name": pdp_ha_list.modelnumber,
                "pdp_prod_name": pdp_ha_list.description,
              } %}
              <div class="pdp-listing-prod-price">
               {% include "@atoms/pdp-page/pdp-product-price/pdp-product-price.twig" with {
                "pdp_prod_price": pdp_ha_list.listPrice,
               } %}
             </div>
            </div>
          </div>

        {% endfor %}
      {% endblock %}
    </div>

    {% if pdp_ha_lists|length > 1 %}
    <div class="pdp-more-handle-accent">
      <div class="ha_show_opn">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text: "Show More option",
          cta_link_icon: "chevron-down",
          cta_link_url: "javascript:void(0)",
          cta_link_icon_position: "left",
        } %}
      </div>

      <div class="ha_hide_opn">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text: "Hide option",
          cta_link_icon: "chevron-up",
          cta_link_url: "javascript:void(0)",
          cta_link_icon_position: "left",
        } %}
      </div>
    </div>
    {% endif %}

  </div>
</div>
