.pdp-prop-warning {
  @include maxbp($old-desktop) {
    margin: 0 0 $space-ten*3;
  }
}

.pdp-warning {
  font-size: 18px;
}

.pdp-warning,
.pdp-warning-tooltip {
  display: inline-block;
  vertical-align: top;
}

.pdp-warning-tooltip {
  button {
    padding: 2px 0 0;
  }
}
