{{ attach_library('delta_theme/tooltip') }}

{% set pdp_warning_base_class = pdp_warning_base_class|default('pdp-warning') %}
{% if pdp_warning %}
 <div {{ bem(pdp_warning_base_class, (pdp_warning_modifiers), pdp_warning_blockname) }}>
   {{ pdp_warning }}
 </div>

 <div class="pdp-warning-tooltip">
   {% include "@molecules/tooltip/tooltip-pdp.twig" with {
     id: pdp_warning_id,
     tooltip_title: pdp_warning_title,
     tooltip_content: pdp_warning_content,
     tooltip_placement: "right"
   } %}
 </div>

{% endif %}
