.part-item-grid {
  border-left: none;
  border-top: 1px solid $gray-70;

  @include breakpoint($r-1100) {
    margin-left: -24px;
    margin-right: -24px;
  }

  .grid-item {
    border-right: 1px solid $gray-70;
    border-bottom: 1px solid $gray-70;
    padding: 24px;

    &:nth-child(4n) {
      border-right: none;
    }

    @include maxbp($grid-md) {
      padding: 0 24px;
    }
  }
}

.repair-plp-custom-block {
  .accordion-term.is-active {
    background: #e6e6e8;
    color: #18191d;
    font-weight: 500;
  }

  .accordion-term {
    font-weight: 500;
  }
}

.repair-plp-count {
  span {
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }
}
