<div class="part-item-grid__wrapper">
  <div class="part-item-grid grid">
    {% for item in items %}
      <div class="grid-col-md-3 grid-item">
        {% include "@molecules/part-item/part-item.twig" with {
          "part_img_url": item.part_img_url,
          "part_img_src": item.part_img_src,
          "part_img_hover_src": item.part_img_hover_src,
          "part_img_alt": item.part_img_alt,
          "part_img_caption": item.part_img_caption,
          "part_number": item.part_number,
          "part_title": item.part_title,
          "part_description": item.part_description,
          "part_link_title": item.part_link_title,
          "part_link_url": item.part_link_url
        } %}
      </div>
    {% endfor %}
  </div>
</div>