{{ attach_library('delta_theme/pl-popup') }}
{{ attach_library('delta_theme/animation-hover-popup-video') }}

<div class="grid shower-spray-blocks">
  {% for aht_image in aht_images %}
    <div class="grid-col-md-4">
      {% include "@molecules/animation-hover-text/animation-hover-text.twig" with {
        "aht_image_src": aht_image.aht_image_src,
        "aht_image_alt": aht_image.aht_image_alt,
        "aht_title": aht_image.aht_title,
        "aht_hover_desc": aht_image.aht_hover_desc,
        "aht_watch_link_src": aht_image.aht_watch_link_src,
        "aht_watch_link_content": aht_image.aht_watch_link_content,
        "aht_watch_link_modifiers": aht_image.aht_watch_link_modifiers,
        "aht_watch_link_attributes": aht_image.aht_watch_link_attributes,
        "aht_prod_link_src": aht_image.aht_prod_link_src,
        "aht_prod_link_content": aht_image.aht_prod_link_content,
        "aht_prod_link_modifiers": aht_image.aht_prod_link_modifiers,
        "aht_prod_link_attributes": aht_image.aht_prod_link_attributes,
        "aht_video_url": aht_image.aht_video_url,
      } %}
    </div>
  {% endfor %}
</div>

<div class="pl-popup-wrapper aht-popup-video">
  <div class="pl-popup-data aht-popup-data">
    <iframe title="Video container" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
