<div class="catelog-four-grid grid">
  {% for pro_tool_desc in pro_tool_descs %}
    <div class="catelog-fg-block grid-col-md-3">
      {% include "@atoms/catalog-listing/catalog-listing.twig" with {
        "content_card_title": pro_tool_desc.content_card_title,
        "content_card_url": pro_tool_desc.content_card_url,
        "content_card_img_url": pro_tool_desc.content_card_img_url,
        "content_card_img_alt_text": pro_tool_desc.content_card_img_alt_text,
      } %}
    </div>
  {% endfor %}
</div>
