{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 * This is Demo
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}

{% include "@pages/_html.twig"  with {
    "body_classes": body_classes,
    "userId": currentUserId,
    "groupDescription": currentUserGRPDescription,
    'currentPath': currentPath,
    "productOrderObject": productOrderObject,
    "orderDetails": orderDetails
} %}

<script>
    function enableBtn() {
      return new Promise(function(resolve, reject) {
        jQuery(".captcha-validate").addClass("valid");
        if(jQuery('.webform-submission-form .captcha').next().find('p.form-item--error-message')) {
        console.log("here");
         jQuery('.webform-submission-form .g-recaptcha').next('p.form-item--error-message').remove();
         jQuery('.webform-submission-form .g-recaptcha').parent().removeClass('form-item--error');
       }
        if(jQuery('.product-registration-sweepstakes-form .required').length === jQuery('.valid').length) {
            jQuery('.product-registration-sweepstakes-form .product-reg-submit').prop('disabled', false);
          }else {
            jQuery('.product-registration-sweepstakes-form .product-reg-submit').prop('disabled', true);
          }
      });
    }

    function captchaExpired() {
     jQuery('.webform-submission-form input[name = "hdn_captcha"]').val("0");
      grecaptcha.reset();
      jQuery('.webform-submission-form input[name = "hdn_captcha"]').val("0");
       if(jQuery('.webform-submission-form input[name = "hdn_captcha"]').val() == 0) {
         grecaptcha.reset();
       }
      jQuery('.product-registration-sweepstakes-form .product-reg-submit').attr("disabled", true);
    }
</script>
