{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}

<div class="sfcc-homepage">
{{ page }}
<div>

<script src="/themes/custom/delta_theme/dist/js/02-molecules/menus/tabs/tabs.js"></script>

<script src="/themes/custom/delta_theme/dist/js/01-atoms/08-video/video-on-click.js"></script>

<script src="/themes/custom/delta_theme/dist/js/03-organisms/video-banner/video-banner.js"></script>

<script src="/themes/custom/delta_theme/js/drupal-sfcc.js"></script>
