{{ attach_library('delta_theme/accordion') }}
{{ attach_library('delta_theme/product-filter') }}
{{ attach_library('delta_theme/delta_plp_product_listing') }}
{{ attach_library('delta_theme/tooltip') }}
{{ attach_library('delta_theme/tippy') }}
{{ attach_library('delta_theme/sorting') }}


{% if page.sidebar|render %} {# this may or may not correctly filter sidebar #}
  {% set sidebar = TRUE %}
{% endif %}
<div class="layout-container">
  {% block page_header %}
    {% if page.header %}
     <div class="global_header">
      {{ page.secondary_header }}
      <div class="fullwidth_header" id="fullwidth-header">
          <div id="header-wrapper" class="header-wrapper">
          {{ page.site_branding }}
          {{ page.header }}
          </div>
      </div>
    </div>
    {% endif %}
  {{ page.banner }}
  {% endblock %}
  {% block page_system %}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    {{ messages }}
  {% endblock %}
</div>
  {% block page_content %}
  <main role="main" class="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="main-content">

      <div class="plp-wrapper">
        <div class="product-filter">
          <header class="product-filter__mobile-header">
            <h3 class="product-filter__mobile-title">Filter By</h3>

            <div class="toggle-expand js-filter-toggle">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </header>

          {% block page_sidebar %}
            <aside class="plp-sidebar">
            <h3 class="product-filter__title h6">Filter By</h3>
              <div class="product-filter__body">
                  {{ page.sidebar }}

              </div>
            </aside>
          {% endblock %}
        </div>
        {{ page.content }}
      </div>
      {% if plpCustomBlockId|length %}
        <div class="plp-custom-block">
          {{ drupal_entity('block_content', plpCustomBlockId) }}
        </div>
      {% endif %}
    </div>
  </main>
  {% endblock %}

  {% block page_pre_footer %}
    {{ page.pre_footer }}
  {% endblock %}
  
{{ page.footer }}
