{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<header class="header" id="site-header">
  <div class="block-container flex flex-menu-align-center">
  {% block header_content %}
    {{ content }}
  {% endblock %}
  </div>
</header>
