{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<footer class="footer">
  <div class="footer__wrapper">
    {% for block_key, block in elements|without('copyrightblock','slimfootermenu') if block_key|first != '#' %}
      <div>
        {{ block }}
      </div>
    {% endfor %}
 </div>
{% set footer_logo = footer_logo|default('/themes/custom/delta_theme/images/logo-footer.svg') %}
{% set footer_base_class = footer_base_class|default('footer_secondary') %}

<div  {{ bem(footer_base_class, (footer_modifiers), footer_blockname) }}>
  <div class="footer-logo">
    {% include "@atoms/04-images/00-image/_image.twig" with {
      'img_src': footer_logo,
      'img_alt': 'Delta Faucet',
    } %}
  </div>
  <div class="copy-rights">{{ elements.copyrightblock }}</div>
    <ul class="footer_secondary__nav">
       {{ elements.slimfootermenu }}
    </ul>
  </div>
  {% if globalflag == 0 %}
    <a href="/compare-popup" class="compare_popup use-ajax hide"
       data-dialog-type="modal"
       data-dialog-options="{&quot;width&quot;:1200,&quot;height&quot;:500, &quot;dialogClass&quot;: &quot;compare-popup&quot;}"
       id="compare_popup">Compare Popup</a>
  {% endif %}
</footer>
