{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
	<section class="footer-info">
		<div class="block-container">
			{% block page_pre_footer %}
			{{ content }}
			{% endblock %}
		</div>
	</section>
{% endif %}



