
.video-banner-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;

  video[poster] {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  video {
    position: absolute;
    max-height: inherit;
  }

  .featured-banner {
    background: transparent !important;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;

    @include large {
      .grid-container {
        min-height: 600px;
      }
    }
  }

  .grid-container,
  .featured-banner-content {
    height: 100%;
  }

  @include maxbp($medium) {
    height: 400px;
  }
  @include maxbp(415px) {
    height: 500px;
  }
}

.vid-banner {
  width: 100%;

  &.mobile {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  &.desktop {
    display: none;
  }
}

@include large {
  .vid-bo {
    min-height: 700px;
  }

  .vid-banner {
    &.mobile {
      display: none;
    }

    &.desktop {
      display: block;
    }
  }
}

.featured-banner {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: $white;

  @include large {
    .grid-container {
      min-height: 700px;
    }
  }

  .grid-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    @include maxbp($large) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}

.featured-banner--light {
  color: $gray-10;
}

.featured-banner--dark {
  color: $white;
}

.featured-banner-content {
  font-size: $font-size-lg;
  text-align: center;

  .featured-banner__title {
    p {
      text-shadow: 0 10px 18px rgba(24, 25, 29, 0.3);
    }
  }

  .featured-banner__paragraph {
    text-shadow: 0 0 4px rgba(24, 25, 29, 0.3);
  }

  @include large {
    text-align: left;
    max-width: 1000px;
    padding: 0 16px;

    .featured-banner--text-centered & {
      text-align: center;

      .button {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .featured-banner--content-centered & {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include xl {
    margin-left: 56px;
  }
}

.path-bathroom,
.path-kitchen, 
.path-kitchen-sinks,
.path-bathroom-sinks {
  .banner-component_content {
    position: relative;
  }

  .featured-banner--dark + .featured-banner-content {
    @include breakpoint($old-desktop) {
      color: $white;
    }
  }

  .featured-banner--light + .featured-banner-content {
    @include breakpoint($old-desktop) {
      color: $black;
    }
  }

  .featured-banner-content {
    @include maxbp($old-desktop) {
      background: #e6e6e8;
      padding-top: 30px;
    }

    @include large {
      max-width: 100%;

      .featured-banner__title {
        max-width: 572px;
        text-shadow: 0 10px 18px rgba(24, 25, 29, 0.3);
      }

      .featured-banner__paragraph {
        max-width: 572px;
        text-shadow: 0 0 4px rgba(24, 25, 29, 0.3);
      }
    }
  }

  .featured-banner__button-group {
    padding: 0 0 115px;

    &:focus {
      outline: none;
    }

    @include maxbp($old-desktop) {
      padding: 0 0 50px;
    }
  }

  .views-element-container {
    .grid-container {
      @include maxbp($old-desktop) {
        margin-top: 40px;
        padding: 0;
      }
    }
  }
}

.featured-banner__intro {
  font-size: $font-size-xxxl;
  margin: 0 0 16px;
}

.featured-banner__title {
  margin-bottom: 35px;
  font-size: 2.565625rem;
  letter-spacing: 0.01em;
  color: inherit;
  text-shadow: 0 10px 18px rgba(24, 25, 29, 0.3);

  @include large {
    font-size: 3.653125rem;
  }

  @include maxbp($old-desktop) {
    margin-bottom: 10px;
    font-size: 1.875rem;
    text-shadow: none;
  }
}

.featured-banner--title-divider {
  .featured-banner__title {
    padding-bottom: 16px;

    &::after {
      position: relative;
      display: block;
      top: 17px;
      width: 33px;
      height: 3px;
      left: 50%;
      transform: translate(-50%);
      background-color: $delta-red;
      content: "";

      @include large {
        left: auto;
        transform: none;
        width: 64px;
      }
    }
  }
}

.featured-banner--title-divider.featured-banner--text-centered {
  .featured-banner__title {
    &::after {
      @include large {
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

.featured-banner__subtitle {
  font-size: $font-size-xxxl;
  color: inherit;
  letter-spacing: 0;
  text-transform: none;

  @include large {
    font-size: 2.565625rem;
  }
}

.featured-banner__paragraph {
  margin-bottom: 24px;

  @include large {
    margin-bottom: 22px;
  }
}

.featured-banner__button-group {
  @include large {
    display: flex;

    .button {
      margin-right: 4px;
    }

    .featured-banner--text-centered & {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include maxbp($large) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .button {
    justify-content: center;
    margin-top: 8px;
  }
}
