{#
/**
 * Available variables:
 * - banner_modifiers - array of modifiers ((light | dark) [, text-centered [, content-centered]])
 * - bgimage_src - URL for the background image
 * - title - Title of the banner
 * - content - body copy (paragraph)
 * - disclaimer - (optional) disclaimer text
 * - buttons - (optional) array of buttons
 */
#}

{% set featured_banner_base_class = featured_banner_base_class|default('featured-banner') %}
<div class="paragraph-component-structure">
<div class="banner-component_content">
  <div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname) }} >
      {% if breadcrumb %}
        <div class="breadcrumb-block">
          {% if pattern_lab %}
            {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
          {% else %}
          {{ drupal_block('system_breadcrumb_block') }}
          {% endif %}
        </div>
      {% endif %}


      <picture>
        <source srcset="{{ bgimage_src }}" media="(min-width: 451px)">
        <img src="{{ bgimage_src }}" srcset="{{ bgimage_src_mobile }}" alt="{{ bgimagealt }}" />
      </picture>

      </div>
    <div class="featured-banner-content">
      <div class="grid-container">
        {% if intro %}
        <p class="featured-banner__intro">{{ intro }}</p>
        {% endif %}

        <h1 class="featured-banner__title">{{ title|raw }}</h1>

        {% if subtitle %}
        <h2 class="featured-banner__subtitle">{{ subtitle }}</h2>
        {% endif %}

        <p class="featured-banner__paragraph">{{ content|raw }}</p>

        {% if buttons is not empty %}
        <div class="featured-banner__button-group">

          {% for button in buttons %}
          {% if button.content %}
          {% include "@atoms/06-buttons/01-button.twig" with {
            button_url: button.url,
            button_content: button.content,
            button_modifiers: button.modifiers,
            button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
            button_target: '_blank',
            icon: button.icon,
          } %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
</div>
</div>
