{#
/**
 * Available variables:
 * - banner_modifiers - array of modifiers ((light | dark) [, text-centered [, content-centered]])
 * - bgimage_src - URL for the background image
 * - title - Title of the banner
 * - content - body copy (paragraph)
 * - disclaimer - (optional) disclaimer text
 * - buttons - (optional) array of buttons
 */
#}

{% set featured_banner_base_class = featured_banner_base_class|default('featured-banner') %}
{% set bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
{% set data_src = bgimage_src %}
{% if lazyload == 'lazy-load-off' %}
  {% set bgimage_src_real = bgimage_src %}
  {% set data_src = '' %}
{% endif %}
<div class="paragraph-component {{ lazyload }}">

{% if(data.desktop_poster_image_absolute_path) %}
<script>
  setTimeout(function(){
    document.getElementsByClassName("vid-banner desktop")[0].play();
  }, 5000);
  </script>
{% endif %}
  {% if(data.mobile_poster_image_absolute_path) %}
  <script>
  setTimeout(function(){
    document.getElementsByClassName("vid-banner mobile")[0].play();
  }, 5000);
  </script>
  {% endif %}
{% if desktop_video_url is not empty %}
    <div class="video-banner-container">
        <video class="vid-banner desktop" muted {% if data.desktop_poster_image_absolute_path %}poster={{ data.desktop_poster_image_absolute_path }}{% else %} autoplay {% endif %} muted loop>
          <source src="{{ desktop_video_url }}" type="video/mp4">
        </video>
{% endif %}
{% if mobile_video_url is not empty %}
        <video class="vid-banner mobile" muted {% if data.mobile_poster_image_absolute_path %}poster={{ data.mobile_poster_image_absolute_path }}{% else %} autoplay {% endif %} muted loop>
          <source src="{{ mobile_video_url }}" type="video/mp4">
        </video>
{% endif %}
{% if desktop_video_embed %}
      <div class="video-background desktop">
        <iframe title="{{ 'Video container' | t }}" src="https://www.youtube.com/embed/{{ embed_video_id }} ?rel=0?version=3&autoplay=1&controls=0&showinfo=0&loop=1&mute=1&playlist={{embed_video_id }}"
        frameborder="0" allowfullscreen></iframe>
      </div>
{% endif %}
{% if mobile_video_embed %}
      <div class="video-background mobile">
        <iframe title="{{ 'Video container' | t }}" src="https://www.youtube.com/embed/{{ mobile_embed_video_id }} ?rel=0?version=3&autoplay=1&controls=0&showinfo=0&loop=1&mute=1&playlist={{mobile_embed_video_id }}"
        frameborder="0" allowfullscreen></iframe>
      </div>
{% endif %}

<div class="feature_banner only-destop">
  <div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname) }} style="background-image: url('{{ bgimage_src }}')" {% if data_src is not empty %} data-src="{{ data_src }}" {% endif %} >

      {% if breadcrumb %}
        <div class="breadcrumb-block">
        {% if pattern_lab %}
          {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
        {% else %}
        {{ drupal_block('system_breadcrumb_block') }}
        {% endif %}
        </div>
      {% endif %}
      <div class="featured-banner-content" style="max-width: {{ content_max_width }}%;">
        <div class="grid-container">
        {% if intro %}
        <p class="featured-banner__intro">{{ intro }}</p>
        {% endif %}

        {% if title %}
        <h1 class="featured-banner__title">{{ title }}</h1>
        {% endif %}

        {% if subtitle %}
        <h2 class="featured-banner__subtitle">{{ subtitle }}</h2>
        {% endif %}

        <p class="featured-banner__paragraph">{{ content|raw }}</p>

        {% if buttons is not empty %}
          <div class="featured-banner__button-group">

            {% for button in buttons %}
              {% if button.content %}
                {% include "@atoms/06-buttons/01-button.twig" with {
                  button_url: button.url,
                  button_content: button.content,
                  button_modifiers: button.modifiers,
                  button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
                  icon: button.icon,
                } %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {{ modal_button }}
      </div>
    </div>

    

  </div>
</div>

{# Start Mobile Version #}
{% set mobile_banner_img = (mb_bgimage_src) ? mb_bgimage_src : bgimage_src %}
<div class="feature_banner only-mobile">
  <div {{ bem(featured_banner_base_class, (banner_modifiers), featured_banner_blockname) }} style="background-image: url('{{ mobile_banner_img }}');">

        {% if breadcrumb %}
          <div class="breadcrumb-block">
          {% if pattern_lab %}
            {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
          {% else %}
          {{ drupal_block('system_breadcrumb_block') }}
          {% endif %}
          </div>
        {% endif %}
      <div class="featured-banner-content" style="max-width: {{ content_max_width }}%;">
        <div class="grid-container">
        {% if intro %}
        <p class="featured-banner__intro">{{ intro }}</p>
        {% endif %}

        {% if title %}
        <h1 class="featured-banner__title">{{ title }}</h1>
        {% endif %}

        {% if subtitle %}
        <h2 class="featured-banner__subtitle">{{ subtitle }}</h2>
        {% endif %}

        <p class="featured-banner__paragraph">{{ content|raw }}</p>

        {% if buttons is not empty %}
          <div class="featured-banner__button-group">

            {% for button in buttons %}
              {% if button.content %}
                {% include "@atoms/06-buttons/01-button.twig" with {
                  button_url: button.url,
                  button_content: button.content,
                  button_modifiers: button.modifiers,
                  button_attributes: button.attributes ? create_attribute(button.attributes) : create_attribute({}),
                  icon: button.icon,
                } %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {{ modal_button }}
      </div>
    </div>

    

  </div>
</div>
  
{# End Mobile Version #}

{% if desktop_video_url is not empty %}
  </div>
{% endif %}

</div>
