<div class="qidl-block">
  {% if qidl_quote %}
    <div class="qidl-quote field_card_heading">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: qidl_quote
      } %}
    </div>
  {% endif %}
  {% if qidl_image_src != '/' %}
    <div class="qidl-img">
      {% if qidl_more_url|render %}<a target="_blank" href="{{ qidl_more_url }}">{% endif %}
        {% include "@atoms/04-images/00-image/_image.twig" with {
          img_src: qidl_image_src,
          img_alt: qidl_image_alt,
        } %}
      {% if qidl_more_url|render %}</a>{% endif %}
    </div>
  {% endif %}
  <div class="qidl-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: qidl_desc
    } %}
  </div>
</div>
