.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  background: $gray-10;
  font-size: 16px;
  border: none;
  max-width: 375px;
  padding: $space 0;
  width: 100% !important;

  @include breakpoint($r_1000) {
    &.sticky-autosearch {
      top: 60px !important;
    }
  }

  @include maxbp($main-menu-medium) {
    max-width: none;

    &.mobile-active-list {
      display: block !important;
      position: fixed;
      overflow: scroll;
      height: calc(100vh - 115px);
      z-index: 1000;
      top: 116px !important;
      padding: 0 0 80px;
    }
  }

  li {
    > a {
      color: $gray-30;
      font-family: $font-heading;
      text-transform: uppercase;
      padding: 10px 15px;
      display: block;
      background: none;
      transition: all ease 0.5s;
      position: relative;
      cursor: default;
      letter-spacing: 2px;
      font-size: 0.875rem;

      a {
        color: $white;
        display: block;
        text-decoration: none;
        padding: 10px 15px;
        margin: -10px -15px !important;
        transition: all ease 0.5s;
        text-transform: none;
        font-family: $font-body;
        cursor: pointer;
        line-height: 19px;
        font-size: 1rem;
        letter-spacing: 0;
      }

      &.ui-state-active {
        border: none;
        margin: 0;

        a::before {
          content: "";
          display: block;
          background: $gray-20;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: -1;
        }
      }
    }

    .search-sku {
      color: $gray-30;
      margin: 1px 0 0;
      font-family: $font-pfdinmono;
      font-size: 0.875rem;
      letter-spacing: 2px;
    }

    .view_all {
      a.autocomplete-view-all {
        color: $white;
        font-family: $font-condensed;
        text-transform: uppercase;
        display: block;
        position: relative;
        padding: 10px 15px;

        &::before {
          display: none;
        }
      }
    }
  }
}

.search-wrapper {
  float: right;

  @include maxbp($r_1000) {
    float: none;
  }
}
