<form accept-charset="UTF-8" action="/" data-drupal-selector="global-search-form" id="global-search-form" method="post">

  <div class="search-wrapper" id="search-wrapper">
    <input autocomplete="off" data-drupal-selector="form-t-kxjmnnwjwzvatdopeu3c32vsydbh-ob1jsceen4a8" name="form_build_id" type="hidden" value="form-T_kXJmnNwJWzVatdopeu3C32VsYdBH-ob1JsceEn4a8" /> <input data-drupal-selector="edit-global-search-form" name="form_id" type="hidden" value="global_search_form" />
    <div class="search-input-block">
      <div class="autocomplete-container--inner">
      <div class="search-input-wrapper">
        <div class="search-label"> Search </div>
        <input autocomplete="off" class="header-serch-input search-input" data-autocomplete-path="/global-search-autocomplete?field_name=search_input&amp;count=4" data-drupal-selector="edit-search-input" id="edit-search-input" maxlength="128" name="search_input" placeholder="Enter Keyword or Model #" type="search" value="" /></div>
      </div>
    </div>
  </div>

</form>
