{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% block grid_content %}
  {% for row in rows %}
    {% set data = row.product_data[loop.index0] %}
    {% if data %}

    {% set bath_cat = ['showering component', 'lavatory', 'bath', 'tub / shower', 'bath hardware', 'tub filler', 'rough', 'cabinet hardware'] %}
    {% set kitchen_cat = ['dispenser / dish', 'kitchen', 'repair part'] %}
    {% set category = '' %}
    {% set data_collection = data.values.Collection|lower|striptags|raw|replace({'®':'', '™':'', ' ':'-'}) %}
    {% set data_cat = data.values.MasterSampleProgramID|lower %}
    {% if data_cat in bath_cat %}
        {% set category = 'bath' %}
    {% endif %}
    {% if data_cat in kitchen_cat %}
        {% set category = 'kitchen' %}
    {% endif %}
    <div class="{{ row.attributes.class.0 }} views-row" style="opacity: 1;" aria-hidden="true" tabindex="0">
        <div class="product_tile contextual-region">
            <div class="views-field views-field-nothing">
                <span class="field-content">
                    <div class="product-image">
                        <a href="/{{ category }}/product/{{ data.name }}" aria-label="Link to {{ data_collection }}" tabindex="-1">
                            <img class="img" src="{{ data.heroImageSmall }}" alt="Thumbnail image of {{ data.description }}">
                        </a>
                    </div>
                    <div class="product-data">
                    <div class="product-title">
                        <h4><a href="/{{ category }}/collection/{{ data_collection }}" hreflang="en" aria-label="Link to {{ data_collection }}">{{ data_collection }}</a></h4>
                    </div>
                    {{ data.description }}
                    </div>
                </span>
            </div>

            <div class="product-desc">
                {% if data.name %}
                <div class="product-modelno">
                <p>{{ data.name }}</p>
                </div>
                {% endif %}
                {% if row.hide_all_images == 0 %}
                    <div class="product-image-download">
                    {% set download = "Download Image <i class='download-icon'></i>" %}
                    {% if (row.enable_all_apis == 1 or row.featured_api_images[loop.index0] == 1) %}
                        {% if data.heroImage %}
                            <a class="download-imgicon" src="{{ data.heroImage }}" download aria-label="{{ download | striptags | raw }} of {{ data.description }}">{{ download | raw }}</a>
                        {% endif %}
                        {% if row.data_images %}
                            {% set api_images = row.data_images %}
                            {% for key, api_image in api_images %}
                                {% if  key == data.name and api_image %}
                                    {% for image in api_image %}
                                    {% if  row.limit_number[key] is null or loop.index < row.limit_number[key] %}
                                        <a class="download-imgicon" aria-label="{{ download | striptags |  raw }} of {{ data.description }} {{ image.id }}" src="{{ image.url }}" download >{{ download | raw }}</a>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    
                    {% if  row.product_custom_images[loop.index0] %}
                        {% set loaded_images = row.product_custom_images[loop.index0] %}
                        {% for image in loaded_images %}
                            {% if image.entity.uri %}
                                <a href="{{ file_url(image.entity.uri.0.value) }}" download aria-label="{{ download | striptags |  raw }} of {{ data.description }} {{ image.alt }}">{{ download | raw }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}