{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}


{% for row in rows %}
{% set collection_name = view.style_plugin.getField(loop.index0, 'name_2') %}
{% set collection_link = collection_name|striptags|lower|replace({'™': '', '®':'',' ':'-'}) %}
{% set product_link_url = "/bathroom-sinks/collection/" ~ collection_link %}
{% set collection_img = view.style_plugin.getField(loop.index0, 'field_bathroom_sinks_col_image') %}
{% set collection_img_alt = row['content']['#row']._entity.field_collection_image.alt %}
{% set collection_desc = row['content']['#row']._entity.field_bathroom_sinks_col_summary.0.value|striptags %}
{% set collection_banner_img = view.style_plugin.getField(loop.index0, 'field_bath_sinks_col_land_img') %}
{% set collection_name_alt = row['content']['#row']._entity.name_2.0.value %}
{% set view_collection = view.style_plugin.getField(loop.index0, 'name_1') %}
{% set loader_img =  '/themes/custom/brizo_theme/images/lazyload.png' %}
{% set kitch_col_img_alt = collection_name|striptags|trim|replace({'™': '', '®':''}) %}
  <div class="product_tile product_tile--collection product_tile--featured">
    <div class="product-image">
    <a href="/bathroom-sinks/collection/{{ collection_name|striptags|trim|lower|replace({'™': '', '®':''})}}"><img src="{{ loader_img }}" data-src="{{ kitch_col_img_src[loop.index0] }}"   alt="{{ kitch_col_img_alt }}" title="{{ kitch_col_img_alt }}" /></a>

    </div>
    <div class="product-data">
    <div class="product-title">
      {{ collection_name }}
    </div>
    <div class="product-desc">
      <div class="product-detail">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            "paragraph_content": collection_desc,
          } %}
        </div>
      </div>
      {% if row['content']['#row']._entity.field_bathroom_sinks_finish_icon | length > 0 %}
        <div class="product-finish">
          <span class="available-finishes">{{ 'Available finishes:'|t }}</span>
          {% for key, item in row['content']['#row']._entity.field_bathroom_sinks_finish_icon %}
            {% set finish_icon_url = row['content']['#row']._entity.field_bathroom_sinks_finish_icon[key].value %}
              {% include "@atoms/04-images/finish-icon/finish-icon.twig" with {
                "finish_prod_icon": finish_icon_url,
              } %}
          {% endfor %}
        </div>
      {% endif %}
    <div class="product-link">
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        "link_url": product_link_url,
        "link_content": "View Collection",
        "cta_link_modifiers": ["small"],
      } %}
    </div>
  </div>
  <div class="prod-collection-img">
   <img src="{{ loader_img }}" data-src="{{ kitch_col_land_img_src[loop.index0] }}" alt="{{ kitch_col_land_img_src[loop.index0]|split('/')|last }}" title="{{ kitch_col_land_img_src[loop.index0]|split('/')|last }}" />
  </div>
</div>
{% endfor %}
