{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% block grid_content %}
  {% for row in rows %}
    <div class="{{ row.attributes.class.0 }} views-row" style="opacity: 1;" aria-hidden="true" tabindex="0">
        <div class="product_tile contextual-region">
            {{ row.content }}
            
            <div class="product-desc">
                {% set data = row.custom_data %}
                {% if row.shown.0.sku %}
                <div class="product-modelno">        
                <p>{{ row.shown.0.sku }}</p>
                </div>
                {% endif %}
                <div class="product-image-download">
                {% set download = "Download Image <i class='download-icon'></i>" %}
                {% if data.heroImage %}
                    <a download="custom-filename.jpg" href="{{ data.heroImage }}" title="{{ download | raw }}" >{{ download | raw }}</a>
                {% endif %}

                {% if data.heroImageSmall %}
                    <a download="custom-filename.jpg" href="{{ data.heroImageSmall }}" title="{{ download | raw }}" >{{ download | raw }}</a>
                {% endif %}

                {% if data.heroImageLarge %}
                    <a download="custom-filename.jpg" href="{{ data.heroImageLarge }}" title="{{ download | raw }}" >{{ download | raw }}</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}
