{{ attach_library('brizo_theme/tabs') }}
{{ attach_library('brizo_theme/accordion') }}
{{ attach_library('brizo_theme/product-filter') }}
{{ attach_library('brizo_theme/customscrollbar') }}

{% set categoryTabs = [] %}
{% set categoryOptions = [] %}
{% set altCards,innoCards,gallerySlides,finishOptions = [],[],[],[] %}
{% set inpirationContent, summary, summaryTitle, inspirationImg,inspirationImgAlt
  = '', '','','','' %}
{% set gallery, galleryData, brochureUrl,filterMin,filterMax,layoutOption = '', '', '','','','' %}
{% set innoHeading, footer_content_body, footer_bg = '', '', '' %}
{% set hideProduct = 0 %}
{% set text_label = "Items Per Page"|trans %}
{% for row in rows %}

  {% set bannerParams = row['content']['#row']._entity.field_kitchen_collection_banner %}
  {% for bannerField in bannerParams %}
    {% set bannerData =  bannerField.entity %}
    {% set banner_headline = bannerData.field_banner_headline.0.value %}
    {% set font_color = bannerData.field_font_color_scheme.0.value %}
    {#% set big_page_title = bannerData.field_page_title.0.value %#}
    {% set banner_img_src = file_url(bannerData.field_banner_background_image_de.entity.field_media_image.entity.uri.value) %}
    {% set mbl_banner_img_src = file_url(bannerData.field_banner_background_image_mo.entity.field_media_image.entity.uri.value) %}
    {% set banner_img_alt = bannerData.field_banner_background_image_de.entity.field_media_image.alt %}
    {% set mbl_banner_img_alt = bannerData.field_banner_background_image_mo.entity.field_media_image.alt %}
    {% set banner_body = bannerData.field_body.0.value %}
    {% set footer_content_body = bannerData.field_footer_content_body.0.value %}
    {% set footer_bg = bannerData.field_background_color.0.value.color %}
    {% set bg_color = content.field_background_color[0] %}

    {% if font_color|render == 'bright' %}
      {% set font_color_class = 'dark-theme' %}
    {% else %}
      {% set font_color_class = 'light-theme' %}
    {% endif %}
    {% if bannerData.field_breadcrumbs.0.value == '1' %}
      {% set breadcrumb = true %}
    {% endif %}
    {% if bannerData.field_footer_content_link.0.title %}
      {% set callout_here ={
        "link_url" : bannerData.field_footer_content_link.0.url,
        "link_content" : bannerData.field_footer_content_link.0.title,
      } %}
    {% endif %}

    {% set banner_content_alignment = bannerData.field_content_container_alignmen.0.value %}
    {% if banner_content_alignment|render == 'bottom' %}
      {% set content_alignment = 'bottom' %}
    {% elseif banner_content_alignment|render == 'left' %}
      {% set content_alignment = 'left' %}
    {% elseif banner_content_alignment|render == 'right' %}
      {% set content_alignment = 'right' %}
    {% elseif banner_content_alignment|render == 'top' %}
      {% set content_alignment = 'top' %}
    {% elseif banner_content_alignment|render|lower == 'center' %}
      {% set content_alignment = 'center' %}
    {% else %}
      {% set content_alignment = 'footer' %}
    {% endif %}

    {% include "@organisms/banners/banner.twig" with {
      "page_title": banner_headline,
      "banner_image_src": banner_img_src,
      "mobile_banner_image_src": mbl_banner_img_src,
      "content_text": banner_body,
      "content_position": content_alignment,
      "read_more": read_more,
      "callout_here_title" : footer_content_body,
      "callout_here" : callout_here,
      "breadcrumb" : breadcrumb,
      "color_theme": font_color_class,
    } %}

  {% endfor %}

  {% set filterMin = row['content']['#row']._entity.field_minimum_filters.value %}
  {% set filterMax = row['content']['#row']._entity.field_maximum_filters.value %}
  {% set available = row['content']['#row']._entity.field_available_kitchen_finish %}
  {% set layoutOption = row['content']['#row']._entity.field_kitchen_layout_option.value %}

  {% for availFinish in available %}
    {% set finishData =  availFinish.entity %}
    {% set finishOptions = finishOptions|merge({
      (loop.index0): {
        label: finishData.field_facet_label.value,
        img: file_url(finishData.field_facet_icon.entity.field_media_image.entity.uri.value),
        imgAlt : finishData.field_facet_icon.entity.field_media_image.alt,
        name: finishData.name.value
      }
    }) %}
  {% endfor %}

  {% set hideProduct = row['content']['#row']._entity.field_hide_kitchen_products.value %}
  {% set tabValues = row['content']['#row']._entity.field_kitchen_tabs %}
  {% for tabvalue in  tabValues %}
    {% set categoryTabs = categoryTabs|merge({
      (loop.index0): {
        title: tabvalue.entity.name.0.value,
        id: tabvalue.entity.field_parameter_value.0.value,
        activeFlag: tabvalue.entity.field_set_active_on_page_load.0.value
      },
    }) %}
    {% set categoryOptions = categoryOptions|merge({
      (loop.index0): {
        type: 'option',
        label: tabvalue.entity.name.0.value,
        value: tabvalue.entity.field_parameter_value.0.value
      }
    }) %}

  {% endfor %}
  {% set inpirationContent = row['content']['#row']._entity.field_kitchen_inspiration.0.value %}
  {% set inspirationParams = row['content']['#row']._entity.field_kitchen_inspiration_image %}
  {% for inspirationBlock in inspirationParams %}
    {% set inspirationData =  inspirationBlock.entity %}
    {% set inspirationImg = file_url(inspirationData.field_center_image.entity.field_media_image.entity.uri.value) %}
    {% set inspirationImgAlt = inspirationData.field_center_image.entity.field_media_image.alt %}
  {% endfor %}

  {% set altCardParams = row['content']['#row']._entity.field_collection_alt_card %}
  {% for altCard in altCardParams %}
    {% set cardData =  altCard.entity %}
    {% set imgPosition = cardData.field_section_image_position.0.value %}
    {% set imgSrc = file_url(cardData.field_section_image.entity.field_media_image.entity.uri.value) %}
    {% set imgAlt = cardData.field_section_image.entity.field_media_image.alt %}
    {% set cardContent = cardData.field_section_content.0.value  %}
    {% if imgPosition == 'left' %}
      {%  set cardLeftClass,cardRightClass = 7,5 %}
    {% else %}
      {%  set cardLeftClass,cardRightClass = 5,7 %}
    {% endif %}
    {% set altCards = altCards|merge({
      (loop.index0): {
        cardLeftClass: cardLeftClass,
        cardRightClass:cardRightClass,
        cardImgSrc: imgSrc,
        cardImgAlt: imgAlt,
        cardContent: cardContent
      }
    }) %}
  {% endfor %}

  {% set innoHeading = row['content']['#row']._entity.field_kitchen_innovation_label.value %}
  {% set innoParams = row['content']['#row']._entity.field_kitchen_innovation %}
  {% for innoCard in innoParams %}
    {% set innocardData =  innoCard.entity %}
    {% set innoimgSrc = file_url(innocardData.field_image.entity.field_media_image.entity.uri.value) %}
    {% set innoimgAlt = innocardData.field_image.entity.field_media_image.alt %}
    {% set innoContent = innocardData.field_body.0.value  %}
    {% set innoTitle = innocardData.field_page_title.0.value  %}
    {% set link = innocardData.field_link.0.url %}
    {% if innoTitle %}
      {% set innoCards = innoCards|merge({
        (loop.index0): {
          innoimgSrc: innoimgSrc,
          innoimgAlt:innoimgAlt,
          innoContent: innoContent,
          innoTitle: innoTitle,
          link: link
        }
      }) %}
    {% endif %}
  {% endfor %}

  {%  set  gallery = view.style_plugin.getField(loop.index0, 'field_kitchen_gallery')  %}
  {% set galleryData = row['content']['#row']._entity.field_kitchen_gallery.0.value %}


  {% set summary = row['content']['#row']._entity.field_kitchen_summary.0.value %}
  {% set summaryTitle = row['content']['#row']._entity.field_kitchen_summary_title.0.value %}



  {% set brochure = row['content']['#row']._entity.field_kitchen_collection_pdf %}
  {% for file in brochure %}
    {% set brochureUrl = file_url(file.entity.fileuri) %}
  {% endfor %}

{% endfor %}
{% if footer_content_body %}
  <div class="banner-footer-data-wrapper" style="background:{{footer_bg}}">
    <div class="banner-footer-data">{{ footer_content_body|raw }}</div>
  </div>
{% endif %}
{#######################Summary Block#######################}

{#<div class="cdp-summary-block grid">
  <div class="grid-col-6 cdp-summary-title">
    {{ summaryTitle }}
  </div>
  <div class="grid-col-6 cdp-summary-desc">
    {{ summary|raw }}
  </div>
</div>#}
{#######################Summary Block#######################}

{#######################Products first condition Block#######################}
{% if layoutOption == "pf" %}
  {% if hideProduct != 1 %}
    {{ attach_library('brizo_theme/brizo_collection_detail') }}

    <div class="cdp-wrapper">
      <div class="ajax-progress ajax-progress-throbber">
        <div class="throbber">&nbsp;</div>
      </div>
      <h2 class="h2 cdp-block-title">
        Products
      </h2>

      <div class="cdp-block">
        <div class="cdp-filter">
          <div class="cdp-filter-mobile">
            <div class="filter-mobile-title">
              Filter By
            </div>
            <div class="filter-bars">
              <a href="#" id="filter-expand" class="filter-expand" aria-label="Filter expand button">
                  <span class="toggle-expand__open">
                     <div class="toggle-bar1"></div>
                     <div class="toggle-bar2"></div>
                     <div class="toggle-bar3"></div>
                  </span>
              </a>
            </div>
          </div>
          <div class="product-filter">
            <div class="filter-desktop-title">
              Filter By
            </div>
            <div class="accordion cdp-accordion">

              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Categories
                </div>
                <div class="accordion-desc accordion-desc-active" data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    {% for tab in categoryTabs %}
                      {% if tab.id %}
                        <div class="cdp-filter-block">
                          <div class="custom-input custom-input--checkbox">
                            <input class="custom-input__native catFilter" type="checkbox" data-filter="categories" id="categories-{{ tab.title|lower }}" categoryId="category~{{ loop.index }}" value="{{tab.id}}">
                            <label class="custom-input__label" for="categories-{{ tab.title|lower }}">
                              {{tab.title}}
                            </label>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="cdp-filer-operations">
                    <div class="cdp-filter-view-all">
                      View All
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                    <div class="cdp-filter-view-less">
                      Show Less
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Finishes
                </div>
                <div class="accordion-desc accordion-desc-active"  data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    {% for data in finishOptions %}
                      {% if data.name %}
                        <div class="cdp-filter-block">
                          <div class="custom-input custom-input--checkbox">
                            <input class="custom-input__native finishFilter" data-filter="facetFinish" type="checkbox" id="{{data.name}}">
                            <label class="custom-input__label" for="{{data.name}}">
                              {{ data.label|raw }}
                            </label>
                          </div>
                          <div class="filter-icon">
                            <img src="{{ data.img }}" alt="{{ data.imgAlt }}">
                          </div>
                        </div>

                      {% endif %}
                    {% endfor %}

                  </div>
                  <div class="cdp-filer-operations">
                    <div class="cdp-filter-view-all">
                      View All
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                    <div class="cdp-filter-view-less">
                      Show Less
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Narrow results
                </div>
                <div class="accordion-desc accordion-desc-active" data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    <div class="cdp-filter-block">
                      <div class="custom-input custom-input--checkbox">
                        <input class="custom-input__native facetNarrowResults" data-filter="facetNarrowResults" type="checkbox" id="Show Discontinued Products">
                        <label class="custom-input__label" for="Show Discontinued Products">
                          Include Discontinued Products
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-clear-filter">
            <a class="clear-filter"> Clear All </a>
            <a class="done-filter"> Done </a>
          </div>
        </div>
        <div class="cdp-data" id="">

          {# CDP-result start #}
          <div style="display:none;" class="cdp-result">
            <span class="cdp-results-count">0</span>
          </div>
          {# CDP-result end #}
          <div class="cdp-selected-filter">
            <a style="" class="clear-filter cdp-clear-filter" tabindex="0" role="link"><i class="icon-filter-hide-small"></i> clear all filters </a>
          </div>
          <div  class="collection-details__dropdowns">
            {% include "@atoms/05-forms/select/select.twig" with {
              label: text_label,
              options: paginationOptions,
              select_modifiers: ["im"],
              select_id: "itemsFilter",
              select_attributes: {'title': text_label, 'name': text_label, 'aria-label': text_label}
            } %}
            <div class="pager__items js-pager__items cdp-pagination-output"></div>
          </div>

          <div class="cdp-grid grid" id="output">

          </div>

        </div>

      </div>
      <div class="pager__items js-pager__items cdp-pagination-output pagination-bottom"></div>
    </div>

    <script type="text/template" id="finish-facets">

    </script>
    <script type="text/template" id="output-node">
      <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
        <div class="product_tile product_tile--cdp-prod-tile">
          <div class="product-image">
            <a href="<%- pdp %>">

              <img
                      class="img"
                      src="<%- heroImage %>"
                      alt="<%- title %>"
              />
            </a>
          </div>
          <div class="product-data">
            <div class="product-flag">
              <% if(ribbonText){ %>
              <div class="flag flag--<%- ribbonColor %>">
                <%- ribbonText %>
              </div>
              <% } %>
            </div>
            <div class="product-title">
              <a href="<%- pdp %>">
                <h4 class="h4">
                  <%= collectionName %>
                </h4>
              </a>
            </div>
            <div class="product-desc">
              <div class="product-detail">
                <p class="paragraph">
                  <%= title %>
                </p>
              </div>
              <div class="product-modelno">

                <p class="paragraph">
                  <%- sku %>
                </p>
              </div>
            </div>
            <% _.each(handle, function(key, value){ %>
            <div class="product-desc">
              <div class="product-detail">
                <p class="paragraph">
                  Shown With <%= key.name %>
                </p>
              </div>
              <div class="product-modelno">
                <p class="paragraph">
                  <%= key.sku %>
                </p>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </script>
  {% endif %}
{% endif %}
{####################### End of Product first condtion Block#######################}

<div class="cdp-finish-wrapper">
  {#######################Brochure Block#######################}
  
    <div class="cdp-download">
      {% if brochureUrl and domain != "brizofaucet.ca" %}
        <a class="link" target="_blank" href="{{ brochureUrl }}">Download Collection Brochure <i class="icon-download-arrow"></i></a>
      {% endif %}
    </div>

  {% if summaryTitle %}
    <h2 class="h2 cdp-block-title cdp-title-line cdp-summary-title-text">
      {{ summaryTitle }}
    </h2>
  {% endif %}
  {% if summary %}
    <div class="cdp-summary-data">
      {{ summary|raw }}
    </div>
  {% endif %}
  {% if hideProduct != 1 %}
    <div class="tabs category-tabs">
      <div class="finish-filter-tab">
        <ul id="finish-filters" class="collection-tab-block">
          {% for data in finishOptions %}
            <li class="tab-link">
              <span class="collection-tab-finish">
                <img src="{{ data.img }}" alt="{{ data.imgAlt }}">
              </span>
              <span class="collection-tab-finish-text">
              {{ data.label|raw }}
            </span>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  {% endif %}
  {#######################Brochure Block#######################}
</div>

{#######################Products Block#######################}
{% if layoutOption != 'pl' and  layoutOption != 'pf' %}
  {% if hideProduct != 1 %}
    {{ attach_library('brizo_theme/brizo_collection_detail') }}

    <div class="cdp-wrapper">
      <div class="ajax-progress ajax-progress-throbber">
        <div class="throbber">&nbsp;</div>
      </div>
      <h2 class="h2 cdp-block-title">
        Products
      </h2>

      <div class="cdp-block">
        <div class="cdp-filter">
          <div class="cdp-filter-mobile">
            <div class="filter-mobile-title">
              Filter By
            </div>
            <div class="filter-bars">
              <a href="#" id="filter-expand" class="filter-expand" aria-label="Filter expand button">
                  <span class="toggle-expand__open">
                     <div class="toggle-bar1"></div>
                     <div class="toggle-bar2"></div>
                     <div class="toggle-bar3"></div>
                  </span>
              </a>
            </div>
          </div>
          <div class="product-filter">
            <div class="filter-desktop-title">
              Filter By
            </div>
            <div class="accordion cdp-accordion">

              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Categories
                </div>
                <div class="accordion-desc accordion-desc-active" data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    {% for tab in categoryTabs %}
                      {% if tab.id %}
                        <div class="cdp-filter-block">
                          <div class="custom-input custom-input--checkbox">
                            <input class="custom-input__native catFilter" type="checkbox" data-filter="categories" id="categories-{{ tab.title|lower }}" categoryId="category~{{ loop.index }}" value="{{tab.id}}">
                            <label class="custom-input__label" for="categories-{{ tab.title|lower }}">
                              {{tab.title}}
                            </label>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="cdp-filer-operations">
                    <div class="cdp-filter-view-all">
                      View All
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                    <div class="cdp-filter-view-less">
                      Show Less
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Finishes
                </div>
                <div class="accordion-desc accordion-desc-active"  data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    {% for data in finishOptions %}
                      {% if data.name %}
                        <div class="cdp-filter-block">
                          <div class="custom-input custom-input--checkbox">
                            <input class="custom-input__native finishFilter" data-filter="facetFinish" type="checkbox" id="{{data.name}}">
                            <label class="custom-input__label" for="{{data.name}}">
                              {{ data.label|raw }}
                            </label>
                          </div>
                          <div class="filter-icon">
                            <img src="{{ data.img }}" alt="{{ data.imgAlt }}">
                          </div>
                        </div>

                      {% endif %}
                    {% endfor %}

                  </div>
                  <div class="cdp-filer-operations">
                    <div class="cdp-filter-view-all">
                      View All
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                    <div class="cdp-filter-view-less">
                      Show Less
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Narrow results
                </div>
                <div class="accordion-desc accordion-desc-active" data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    <div class="cdp-filter-block">
                      <div class="custom-input custom-input--checkbox">
                        <input class="custom-input__native facetNarrowResults" data-filter="facetNarrowResults" type="checkbox" id="Show Discontinued Products">
                        <label class="custom-input__label" for="Show Discontinued Products">
                          Include Discontinued Products
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-clear-filter">
            <a class="clear-filter"> Clear All </a>
            <a class="done-filter"> Done </a>
          </div>
        </div>
        <div class="cdp-data" id="">

          {# CDP-result start #}
          <div style="display:none;" class="cdp-result">
            <span class="cdp-results-count">0</span>
          </div>
          {# CDP-result end #}
        <div class="cdp-selected-filter">
          <a style="" class="clear-filter cdp-clear-filter" tabindex="0" role="link"><i class="icon-filter-hide-small"></i> clear all filters </a>
        </div>
        <div  class="collection-details__dropdowns">
          {% include "@atoms/05-forms/select/select.twig" with {
            label: text_label,
            options: paginationOptions,
            select_modifiers: ["im"],
            select_id: "itemsFilter",
            select_attributes: {'title': text_label, 'name': text_label, 'aria-label': text_label}
          } %}
          <div class="pager__items js-pager__items cdp-pagination-output"></div>
        </div>

          <div class="cdp-grid grid" id="output">

          </div>

        </div>

      </div>
      <div class="pager__items js-pager__items cdp-pagination-output pagination-bottom"></div>
    </div>

    <script type="text/template" id="finish-facets">

    </script>
    <script type="text/template" id="output-node">
      <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
        <div class="product_tile product_tile--cdp-prod-tile">
          <div class="product-image">
            <a href="<%- pdp %>">

              <img
                class="img"
                src="<%- heroImage %>"
                alt="<%- title %>"
              />
            </a>
          </div>
          <div class="product-data">
            <div class="product-flag">
              <% if(ribbonText){ %>
              <div class="flag flag--<%- ribbonColor %>">
                <%- ribbonText %>
              </div>
              <% } %>
            </div>
            <div class="product-title">
              <a href="<%- pdp %>">
                <h4 class="h4">
                  <%= collectionName %>
                </h4>
              </a>
            </div>
            <div class="product-desc">
              <div class="product-detail">
                <p class="paragraph">
                  <%= title %>
                </p>
              </div>
              <div class="product-modelno">

                <p class="paragraph">
                  <%- sku %>
                </p>
              </div>
            </div>
            <% _.each(handle, function(key, value){ %>
              <div class="product-desc">
                <div class="product-detail">
                  <p class="paragraph">
                    Shown With <%= key.name %>
                  </p>
                </div>
                <div class="product-modelno">
                  <p class="paragraph">
                    <%= key.sku %>
                  </p>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </script>
  {% endif %}
{% endif %}

{#######################Inspiration Block#######################}
{% if inpirationContent %}
  <div class="cdp-inspiration-block">
    <h2 class="cdp-title-line h2 cdp-block-title">Inspiration</h2>
    <div class="cdp-inspiration-text">{{ inpirationContent|raw }}</div>
  </div>
  <div class="cdp-inspiration-image">
    <picture>
      <source srcset="{{ inspirationImg }}" media="(min-width: 768px)">
      <img srcset="{{ inspirationImg }}" alt="{{ inspirationImgAlt }}">
    </picture>
  </div>
{% endif %}
{#######################Inspiration Block#######################}

{#######################Alternate card Block#######################}
<div class="collection-two-block">
  {% for card in altCards %}
    <div class="grid cdp-block-grid">
      <div class="grid-col-{{ card.cardLeftClass }}">
        {% if card.cardLeftClass > card.cardRightClass %}
          <picture>
            <source srcset="{{ card.cardImgSrc }}" media="(min-width: 768px)">
            <img srcset="{{ card.cardImgSrc }}" alt="{{ card.cardImgAlt }}">
          </picture>
        {% else %}
          {{ card.cardContent|raw }}
        {% endif %}
      </div>
      <div class="grid-col-{{ card.cardRightClass }}">
        {% if card.cardLeftClass < card.cardRightClass %}
          <picture>
            <source srcset="{{ card.cardImgSrc }}" media="(min-width: 768px)">
            <img srcset="{{ card.cardImgSrc }}" alt="{{ card.cardImgAlt }}">
          </picture>
        {% else %}
          {{ card.cardContent|raw }}
        {% endif %}
      </div>
    </div>
  {% endfor %}

</div>

{#######################Alternate card Block#######################}

{#######################Gallery Block#######################}
{% if galleryData %}
  <h2 class="h2 cdp-gallery-title cdp-block-title">
    Gallery
  </h2>
  <div class="cdp-gallery">
    {{ gallery }}
  </div>
{% endif %}
{#######################Gallery Block#######################}

{#######################Innovation Block#######################}
{% if innoCards|length > 0 %}
  <h2 class="h2 cdp-innovation-title cdp-block-title">
    {{ innoHeading|default('Featured Innovations') }}
  </h2>

  <div class="cdp-block-wrapper">
    {% set cardCount = innoCards|length %}
    {% for innocard in innoCards %}
      <div class="cdp-content-block cdp-block-col-{{ cardCount }}">
        <div class="cdp-img-block">
          <picture>
            <source srcset="{{ innocard.innoimgSrc }}" media="(min-width: 768px)">
            <img srcset="{{ innocard.innoimgSrc }}" alt="{{ innocard.innoimgAlt }}">
          </picture>
        </div>
        <div class="cpd-content-desc">
          <div class="cdp-content-title">
            {{ innocard.innoTitle|raw }}
          </div>

          <div class="cdp-content-data">
            {{ innocard.innoContent|raw }}
            {% if innocard.link %}
              <div class="cdp-content-link">
                <a aria-label="Learn more about {{ innocard.innoTitle|raw|striptags }}" class="cta-link cta-link--small" href="{{ innocard.link }}">Learn More</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
{#######################Innovation Block#######################}

{#######################Products last condition Block#######################}
{% if layoutOption == "pl" %}
  {% if hideProduct != 1 %}
    {{ attach_library('brizo_theme/brizo_collection_detail') }}

    <div class="cdp-wrapper">
      <div class="ajax-progress ajax-progress-throbber">
        <div class="throbber">&nbsp;</div>
      </div>
      <h2 class="h2 cdp-block-title">
        Products
      </h2>

      <div class="cdp-block">
        <div class="cdp-filter">
          <div class="cdp-filter-mobile">
            <div class="filter-mobile-title">
              Filter By
            </div>
            <div class="filter-bars">
              <a href="#" id="filter-expand" class="filter-expand" aria-label="Filter expand button">
                  <span class="toggle-expand__open">
                     <div class="toggle-bar1"></div>
                     <div class="toggle-bar2"></div>
                     <div class="toggle-bar3"></div>
                  </span>
              </a>
            </div>
          </div>
          <div class="product-filter">
            <div class="filter-desktop-title">
              Filter By
            </div>
            <div class="accordion cdp-accordion">

              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Categories
                </div>
                <div class="accordion-desc accordion-desc-active" data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    {% for tab in categoryTabs %}
                      {% if tab.id %}
                        <div class="cdp-filter-block">
                          <div class="custom-input custom-input--checkbox">
                            <input class="custom-input__native catFilter" type="checkbox" data-filter="categories" id="categories-{{ tab.title|lower }}" categoryId="category~{{ loop.index }}" value="{{tab.id}}">
                            <label class="custom-input__label" for="categories-{{ tab.title|lower }}">
                              {{tab.title}}
                            </label>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="cdp-filer-operations">
                    <div class="cdp-filter-view-all">
                      View All
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                    <div class="cdp-filter-view-less">
                      Show Less
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Finishes
                </div>
                <div class="accordion-desc accordion-desc-active"  data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    {% for data in finishOptions %}
                      {% if data.name %}
                        <div class="cdp-filter-block">
                          <div class="custom-input custom-input--checkbox">
                            <input class="custom-input__native finishFilter" data-filter="facetFinish" type="checkbox" id="{{data.name}}">
                            <label class="custom-input__label" for="{{data.name}}">
                              {{ data.label|raw }}
                            </label>
                          </div>
                          <div class="filter-icon">
                            <img src="{{ data.img }}" alt="{{ data.imgAlt }}">
                          </div>
                        </div>

                      {% endif %}
                    {% endfor %}

                  </div>
                  <div class="cdp-filer-operations">
                    <div class="cdp-filter-view-all">
                      View All
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                    <div class="cdp-filter-view-less">
                      Show Less
                      <i class="icon-arrow-2-medium-down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-block accordion-block-active">
                <div class="accordion-title accordion-title-active">
                  Narrow results
                </div>
                <div class="accordion-desc accordion-desc-active" data-min="{{ filterMin|default(5) }}" data-max="{{ filterMax|default(10) }}">
                  <div class="cdp-filter-wrapper">
                    <div class="cdp-filter-block">
                      <div class="custom-input custom-input--checkbox">
                        <input class="custom-input__native facetNarrowResults" data-filter="facetNarrowResults" type="checkbox" id="Show Discontinued Products">
                        <label class="custom-input__label" for="Show Discontinued Products">
                          Include Discontinued Products
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-clear-filter">
            <a class="clear-filter"> Clear All </a>
            <a class="done-filter"> Done </a>
          </div>
        </div>
        <div class="cdp-data" id="">

          {# CDP-result start #}
          <div style="display:none;" class="cdp-result">
            <span class="cdp-results-count">0</span>
          </div>
          {# CDP-result end #}
          <div class="cdp-selected-filter">
            <a style="" class="clear-filter cdp-clear-filter" tabindex="0" role="link"><i class="icon-filter-hide-small"></i> clear all filters </a>
          </div>
          <div  class="collection-details__dropdowns">
            {% include "@atoms/05-forms/select/select.twig" with {
              label: text_label,
              options: paginationOptions,
              select_modifiers: ["im"],
              select_id: "itemsFilter",
              select_attributes: {'title': text_label, 'name': text_label, 'aria-label': text_label}
            } %}
            <div class="pager__items js-pager__items cdp-pagination-output"></div>
          </div>

          <div class="cdp-grid grid" id="output">

          </div>

        </div>

      </div>
      <div class="pager__items js-pager__items cdp-pagination-output pagination-bottom"></div>
    </div>

    <script type="text/template" id="finish-facets">

    </script>
    <script type="text/template" id="output-node">
      <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
        <div class="product_tile product_tile--cdp-prod-tile">
          <div class="product-image">
            <a href="<%- pdp %>">

              <img
                      class="img"
                      src="<%- heroImage %>"
                      alt="<%- title %>"
              />
            </a>
          </div>
          <div class="product-data">
            <div class="product-flag">
              <% if(ribbonText){ %>
              <div class="flag flag--<%- ribbonColor %>">
                <%- ribbonText %>
              </div>
              <% } %>
            </div>
            <div class="product-title">
              <a href="<%- pdp %>">
                <h4 class="h4">
                  <%= collectionName %>
                </h4>
              </a>
            </div>
            <div class="product-desc">
              <div class="product-detail">
                <p class="paragraph">
                  <%= title %>
                </p>
              </div>
              <div class="product-modelno">

                <p class="paragraph">
                  <%- sku %>
                </p>
              </div>
            </div>
            <% _.each(handle, function(key, value){ %>
            <div class="product-desc">
              <div class="product-detail">
                <p class="paragraph">
                  Shown With <%= key.name %>
                </p>
              </div>
              <div class="product-modelno">
                <p class="paragraph">
                  <%= key.sku %>
                </p>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </script>
  {% endif %}
{% endif %}
{####################### End of Product last condtion Block#######################}


<script type="text/template" id="cdp-pagination">
  <% if(totalRecordset > 0) { %>
  <div class="filter-result__page-x-of-n pull-right document-page-results" data-currentpage="<%- currentPage %>">
    <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
  </div>
  <% } %>
</script>
