{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set download = "Download Image <i class='download-icon'></i>" %}

{% block grid_content %}
  {% for row in rows %}
    {% set data = row.custom_data %}
    <div class="{{ row.attributes.class.0 }} views-row" style="opacity: 1;" aria-hidden="true" tabindex="0">
        <div class="product_tile contextual-region">
            <div class="views-field views-field-nothing"><span class="field-content">    
              <div class="product-image">
                {% if data.heroimagesmall %}
                <a href="#" aria-label="Link to Baliza®" tabindex="-1">
                  <img class="img" src="{{ data.heroimagesmall }}" alt="Thumbnail image of {{ data.description }}">
                </a>
                {% endif %}
              </div>
              <div class="product-data">
                <div class="product-title">
                  {% if data.collection %}
                    <h4><a href="#" hreflang="en">{{ data.collection }}</a></h4>
                  {% endif %}
                </div>
                {% if data.description %}
                  {{ data.description }}
                {% endif %}
              </div>
            </div>
            
            <div class="product-desc">
              <div class="product-modelno">        
                <p>{% if data.name %}
                      {{ data.name }}
                    {% else %}
                      {{ row.content }}
                    {% endif %}</p>
              </div>
              <div class="product-image-download">
                {% for image in data.image %}
                  {% if image %}
                    <a href="{{ image.src }}" title="{{ download ~ ' ' ~ data.description | raw }} image" download="{{ image.filename }}" >{{ download | raw }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}
