{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% set suffix_id = random() %}  
<div class="media-pagination">
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="pagination-heading-{{ suffix_id }}">
    <h4 id="pagination-heading-{{ suffix_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="js-pager__items">
      {% if items.previous %}
        <li class="media-prev">
          <a href="{{ items.previous.href }}" title="{{ 'Previous'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous'|t }}</span>
            <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
          </a>
        </li>
      {% endif %}

      {% if items.next %}
        <li class="media-next">
          <a href="{{ items.next.href }}" title="{{ 'Next'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next'|t }}</span>
            <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>
