{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

  {% block grid_content %}

  {% if is_mobile() %}

    {# ---------- Mobile Display --------- #}

    {% set rowsPerColumn = (rows|length / 3)|round(0, 'ceil') %}
    <div class="space-mobile"></div>
    {% for row in rows|batch(3) %}
    
    {% set wide_items = row.rows_type %}
    {% set item_index = row.content['#row'].index %}
    {% set default_image = "/themes/custom/brizo_theme/images/default_image_thumbnail" %}
    {% set default_image_alt = " thumbnail image " ~ item_index %}

    <div class="wob-row">
      {% for item in row %}
        {% if loop.first %}
          <div class="grid-col-xs-12 views-row">
            {% set image_wide = item.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.entity.uri.value %}
            {% set image_wide_alt = item.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.alt %}
            <div class="media">
              <a title="Link to {{ item.content['#row']._entity.title.0.value }}" href="{{ path('entity.node.canonical', {'node': item.content['#row']._entity.nid.0.value}) }}">
              {% if image_wide is null %}
                {% set image_wide = default_image %}
                {% set image_wide_alt = "Wide" ~ default_image_alt %}
                <img src="{{ image_wide~'_wide.png' }}" alt="{{ image_wide_alt }}">
              {% else %}
                <img src="{{ file_url(image_wide | image_style('all_articles_mobile') )  }}" alt="{{ image_wide_alt }}">
              {% endif %}
        {% else %}
          <div class="grid-col-xs-6 views-row">
            {% set image_narrow = item.content['#row']._entity.fields.field_wob_teaser_image_narrow.0.entity.field_media_image.0.entity.uri.value %}
            {% set image_narrow_alt = item.content['#row']._entity.fields.field_wob_teaser_image_narrow.0.entity.field_media_image.0.alt %}
            {% if image_narrow is null %}
              {% set image_narrow = item.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.entity.uri.value %}
              {% set image_narrow_alt = item.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.alt %}
            {% endif %}
            <div class="media">
            <a title="Link to {{ item.content['#row']._entity.title.0.value }}" href="{{ path('entity.node.canonical', {'node': item.content['#row']._entity.nid.0.value}) }}">
            {% if image_narrow is null %}
              {% set image_narrow = default_image %}
              {% set image_narrow_alt = "Narrow" ~ default_image_alt %}
              <img src="{{ image_narrow ~'_narrow.png' }}" alt="{{ image_narrow_alt }}">
            {% else %}
              <img src="{{ file_url(image_narrow | image_style('all_articles_mobile_narrow') ) }}" alt="{{ image_narrow_alt }}">
            {% endif %}
        {% endif %}
            </a>
            </div>
          {{ item.content }}
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  {% else %}

    {# ---------- Display for WEB --------- #}

    {% for row in rows %}
      {% set wide_items = row.rows_type %}
      {% set item_index = row.content['#row'].index %}
      {% set default_image = "/themes/custom/brizo_theme/images/default_image_thumbnail" %}
      {% set default_image_alt = " thumbnail image " ~ item_index %}
      {% if item_index in wide_items %}
        <div class="wob-row">
      {% endif %}
        <div class="{{ row.attributes.class.0 }} views-row">
          <div class="media">
          <a title="Link to {{ row.content['#row']._entity.title.0.value }}" href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.nid.0.value}) }}">
          {% if '3' in row.attributes.class.0 %}
            {% set image_narrow = row.content['#row']._entity.fields.field_wob_teaser_image_narrow.0.entity.field_media_image.0.entity.uri.value %}
            {% set image_narrow_alt = row.content['#row']._entity.fields.field_wob_teaser_image_narrow.0.entity.field_media_image.0.alt %}
            {% if image_narrow is null %}
              {% set image_narrow = row.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.entity.uri.value %}
              {% set image_narrow_alt = row.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.alt %}
            {% endif %}
            {% if image_narrow is null %}
              {% set image_narrow = default_image %}
              {% set image_narrow_alt = "Narrow" ~ default_image_alt %}
              <img src="{{ image_narrow ~'_narrow.png' }}" alt="{{ image_narrow_alt }}">
            {% else %}
              <img src="{{ file_url(image_narrow | image_style('all_articles_narrow') ) }}" alt="{{ image_narrow_alt }}">
            {% endif %}
          {% elseif '4' in row.attributes.class.0 %}
            {% set image_narrow = row.content['#row']._entity.fields.field_wob_teaser_image_narrow.0.entity.field_media_image.0.entity.uri.value %}
            {% set image_narrow_alt = row.content['#row']._entity.fields.field_wob_teaser_image_narrow.0.entity.field_media_image.0.alt %}
            {% if image_narrow is null %}
              {% set image_narrow = row.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.entity.uri.value %}
              {% set image_narrow_alt = row.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.alt %}
            {% endif %}
            {% if image_narrow is null %}
              {% set image_narrow = default_image %}
              {% set image_narrow_alt = "Medium" ~ default_image_alt %}
              <img src="{{ image_narrow ~'_medium.png' }}" alt="{{ image_narrow_alt }}">
            {% else %}
              <img src="{{ file_url(image_narrow | image_style('all_articles_medium') ) }}" alt="{{ image_narrow_alt }}">
            {% endif %}
          {% else %}
            {% set image_wide = row.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.entity.uri.value %}
            {% set image_wide_alt = row.content['#row']._entity.fields.field_wob_teaser_image_wide.0.entity.field_media_image.0.alt %}
            {% if image_wide is null %}
              {% set image_wide = default_image %}
              {% set image_wide_alt = "Wide" ~ default_image_alt %}
              <img src="{{ image_wide~'_wide.png' }}" alt="{{ image_wide_alt }}">
            {% else %}
              <img src="{{ file_url(image_wide | image_style('all_articles_wide') )  }}" alt="{{ image_wide_alt }}">
            {% endif %}
          {% endif %}
          </a>
          </div>
          {{ row.content }}
        </div>
      {% if (item_index+1) in wide_items or loop.last == true %}
        </div>
      {% endif %}

    {% endfor %}
  {% endif %}
{% endblock %}
