


<div class="card">

            <div class="card-img-block">
        <picture>
          <source   srcset="" media="(min-width: 1000px)">
          <img    srcset="" alt="" class="image">
        </picture>
      </div>
      
  <div class="card__desc">

          <div class="card-big-title">
        
  <p class="card-big-title-bold">
          Section
      </p>

        
  <p class="card-big-title-normal">
          Title
      </p>

      </div>
    
          
      
<h2 class="card__title">
      Subsection main Title
  </h2>
      
    
        
                  </div><!-- copy -->
</div>
