<div class="iconbox_wrapper {{icon_position}}">
  <span class="icon-image">
    {% include "@atoms/04-images/icons/_icon-circle.twig" with {
      circle_icon_name: icon_name,
      circle_icon_size: icon_size,
      circle_icon_color: icon_bg_color,
      hidden: true,
    } %}
  </span>
  <div class="icon-box-desc">
    {% include "@atoms/02-text/text-fields/text-fields.twig" with {
      "icon_box_title": icon_box_heading,
      "paragraph_content": icon_box_content
    } %}
  </div>
</div>
