<div class="iconbox-top-list">
{% for iconbox in iconboxs %}
  <div class="iconbox_wrapper {{iconbox.icon_position}}">
    <span class="icon-image">
      {% include "@atoms/04-images/icons/_icon-circle.twig" with {
        circle_icon_name: iconbox.icon_name,
        circle_icon_size: iconbox.icon_size,
        circle_icon_color: iconbox.icon_bg_color,
        hidden: true,
      } %}
    </span>
    <div class="icon-box-desc">
      {% include "@atoms/02-text/text-fields/text-fields.twig" with {
        "icon_box_title": iconbox.icon_box_heading,
        "paragraph_content": iconbox.icon_box_content
      } %}
    </div>
  </div>
{% endfor %}
</div>
