{#
/**
 * Available variables:
 * - id – (mandatory) HTML id attribute
 * - tooltip_title - Title of the tooltip
 * - tooltip_content - Body copy of the tooltop
 * - tooltip_placement Placement of the tooltip in relation to toggle (right | top)
 */
#}

{{ attach_library('brizo_theme/tooltip') }}

<div class="tooltip_list">
{% for tooltipList in tooltipLists %}
  <div class="tooltip_list_wrap">
  <button class="tooltip-button js-tooltip" data-template="{{ tooltipList.id }}" data-tippy-placement="{{ tooltipList.tooltip_placement }}" aria-label="Open Info Popover">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: tooltipList.icon_name,
    } %}
  </button>

  <template id="{{ tooltipList.id }}">
    <div class="tooltip">
      <header class="tooltip__header">
        {{ tooltipList.tooltip_title }}
      </header>

      <div class="tooltip__body">
        {{ tooltipList.tooltip_content }}    </div>
    </div>
  </template>
  </div>
{% endfor %}

</div>