
<script data-name="reload" data-src="/dist/02-molecules/tooltip/tooltip.js"></script>

<div class="tooltip_list">
  <div class="tooltip_list_wrap">
  <button class="tooltip-button js-tooltip" data-template="right_content" data-tippy-placement="right" aria-label="Open Info Popover">
    


<i class="icon-info"></i>
  </button>

  <template id="right_content">
    <div class="tooltip">
      <header class="tooltip__header">
        Example Title
      </header>

      <div class="tooltip__body">
        Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.    </div>
    </div>
  </template>
  </div>
  <div class="tooltip_list_wrap">
  <button class="tooltip-button js-tooltip" data-template="left_content" data-tippy-placement="left" aria-label="Open Info Popover">
    


<i class="icon-info"></i>
  </button>

  <template id="left_content">
    <div class="tooltip">
      <header class="tooltip__header">
        Example Title
      </header>

      <div class="tooltip__body">
        Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.    </div>
    </div>
  </template>
  </div>
  <div class="tooltip_list_wrap">
  <button class="tooltip-button js-tooltip" data-template="top_content" data-tippy-placement="top" aria-label="Open Info Popover">
    


<i class="icon-info"></i>
  </button>

  <template id="top_content">
    <div class="tooltip">
      <header class="tooltip__header">
        Example Title
      </header>

      <div class="tooltip__body">
        Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.    </div>
    </div>
  </template>
  </div>
  <div class="tooltip_list_wrap">
  <button class="tooltip-button js-tooltip" data-template="bottom_content" data-tippy-placement="right" aria-label="Open Info Popover">
    


<i class="icon-info"></i>
  </button>

  <template id="bottom_content">
    <div class="tooltip">
      <header class="tooltip__header">
        Example Title
      </header>

      <div class="tooltip__body">
        Intro text lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, quam consequat faucibus accumsan, velit tellus imperdiet ex.    </div>
    </div>
  </template>
  </div>

</div>