


    
<div class="layout-container">
      <script data-name="reload" data-src="/dist/02-molecules/search/header-serach.js"></script>

<header class="header">
      <div class="header-wrapper">

    <div class="header-utility">
      <div class="utility-block">
        <div class="utility-nav">
          <script data-name="reload" data-src="/dist/02-molecules/utility-header/utility-header.js"></script>
<div class="utility-block">
  <div class="utility-nav">
  <ul>
      </ul>
  </div>
</div>
        </div>
        <div class="showroom-wrapper">
          <form method="post">
  <div class="showroom-data">
    <div class="icon-menu-close"></div>
    <div class="showroom-title">
      Find showrooms in the USA
    </div>
    <div class="showroom-input">
      <input type="text" />
    </div>
    <div class="showroom-links">
      <ul>
              </ul>
    </div>
  </div>
</form>
        </div>
      </div>
    </div>

      <div class="primary-header">

        <div class="mobile-version mobile-menu-toggle">
          <a href="#" id="toggle-expand-id-1401884045" class="toggle-expand" aria-label="Toggle expand button">
            <span class="toggle-expand__open">
              <div class="toggle-bar1"></div>
              <div class="toggle-bar2"></div>
              <div class="toggle-bar3"></div>
            </span>
          </a>
        </div>

        <div class="logo-wrapper">
          
<figure
  class="logo"
>
      <a class="logo__link" href="/">
                
    <a href="/">
  <picture
    class="logo__image"
  >
            
<img
  class="logo__img"
      src="../../images/brizo-logo.png"
      alt="Logo"
    />
  </picture></a>
            </a>
  
  </figure>
        </div>

        <div class="mainmenu-wrapper">
          <script data-name="reload" data-src="/dist/02-molecules/menus/main-menu-custom.js"></script>

<div class="hide-block">
  <a href="#" id="toggle-expand-id-976112453" class="toggle-expand" aria-label="Toggle expand button">
    <span class="toggle-expand__open">
      <div class="toggle-bar1"></div>
      <div class="toggle-bar2"></div>
      <div class="toggle-bar3"></div>
    </span>
  </a>
</div>

<nav >
  <div id="main-nav" class="main-nav">
    
    
                          
        
<ul class="main-menu">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--with-sub"
 Array href="../../patterns/04-templates-full-width/04-templates-full-width.html">
      Full Width
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-324899490"></i>
      <title id="arrow-id-324899490" class="visually-hidden">Arrow icon</title>
      Back
    </span>

                <span class="expand-sub">
        <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1541334726"></i>
        <title id="arrow-id-1541334726" class="visually-hidden">Arrow icon</title>
      </span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      Full Width Sub-Page
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1802618883"></i>
      <title id="arrow-id-1802618883" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                          

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub"
 Array href="#">
      Full Width Sub-Page 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1608227939"></i>
      <title id="arrow-id-1608227939" class="visually-hidden">Arrow icon</title>
      Back
    </span>

                <span class="expand-sub">
        <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1976654150"></i>
        <title id="arrow-id-1976654150" class="visually-hidden">Arrow icon</title>
      </span>
          
                          
        
<ul class="main-menu main-menu--sub main-menu--sub-1 main-menu--sub main-menu--sub-2">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-2"
 Array href="#">
      Full Width Sub-Sub-Page
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-340997263"></i>
      <title id="arrow-id-340997263" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-2"
 Array href="#">
      Full Width Sub-Sub-Page 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1293678738"></i>
      <title id="arrow-id-1293678738" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
              </div>
      </ul>
  
      </li>
              </div>
      </ul>
  
      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--with-sub"
 Array href="../../patterns/04-templates-with-sidebar/04-templates-with-sidebar.html">
      With Sidebar
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-521341131"></i>
      <title id="arrow-id-521341131" class="visually-hidden">Arrow icon</title>
      Back
    </span>

                <span class="expand-sub">
        <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-475764736"></i>
        <title id="arrow-id-475764736" class="visually-hidden">Arrow icon</title>
      </span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      With Sidebar Sub 1
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-155183797"></i>
      <title id="arrow-id-155183797" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      With Sidebar Sub 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-278942420"></i>
      <title id="arrow-id-278942420" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      With Sidebar Sub 3
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-2060131207"></i>
      <title id="arrow-id-2060131207" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
              </div>
      </ul>
  
      </li>
              </div>
      </ul>
  

</div>
</nav>

          <div class="utility-mobile">
            <div class="utility-block">
              <div class="utility-nav">
                <script data-name="reload" data-src="/dist/02-molecules/utility-header/utility-header.js"></script>
<div class="utility-block">
  <div class="utility-nav">
  <ul>
      </ul>
  </div>
</div>
              </div>
            </div>
          </div>

        </div>

        <div class="header-search-wrapper">
          <form accept-charset="UTF-8" action="/" data-drupal-selector="global-search-form" id="global-search-form" method="post">

  <div class="search-wrapper" id="search-wrapper">
    <input autocomplete="off" data-drupal-selector="form-t-kxjmnnwjwzvatdopeu3c32vsydbh-ob1jsceen4a8" name="form_build_id" type="hidden" value="form-T_kXJmnNwJWzVatdopeu3C32VsYdBH-ob1JsceEn4a8" /> <input data-drupal-selector="edit-global-search-form" name="form_id" type="hidden" value="global_search_form" />
    <div class="search-input-block">
      <div class="autocomplete-container--inner">
      <div class="search-input-wrapper">
        <div class="search-label"> Search </div>
        <input autocomplete="off" class="header-serch-input search-input" data-autocomplete-path="/global-search-autocomplete?field_name=search_input&amp;count=4" data-drupal-selector="edit-search-input" id="edit-search-input" maxlength="128" name="search_input" placeholder="Enter Keyword or Model #" type="search" value="" /></div>
      </div>
    </div>
  </div>

</form>
        </div>

        <div class="mobile-version mobile-search-icon">
          <i class="icon-search"></i>
        </div>

      </div>
    </div>
  </header>
  
    
    
  <main role="main" class="main main--with-sidebar">
    <a id="main-content" tabindex="-1"></a>
          <aside class="main-sidebar" role="complementary">
            <section class="pl-place-holder__content pl-place-holder ">
  Secondary Content
</section>
        </aside>
        <div class="main-content main-content--with-sidebar">
          <section class="pl-place-holder__content pl-place-holder ">
  Primary Content
</section>
      </div>

  </main>

      
  
      
  </div>
