/*
* Reset Styles
*/
ul {
	list-style-type : none;
	margin          : 0;
	padding         : 0;
}

ul.bullet-list {
	list-style-type : disc;
	margin          : 0;
	padding         : 0 0 0 20px;
}

* {
	box-sizing         : border-box;
	-moz-box-sizing    : border-box;
	-webkit-box-sizing : border-box;
}

*:before,
*:after {
	box-sizing         : border-box;
	-moz-box-sizing    : border-box;
	-webkit-box-sizing : border-box;
}

/*
* Accessibility Styles
*/

/*  Use .element-invisible for hiding an element
*   from the DOM while still making it readable
*   for screen readers
*/
.element-invisible {
	clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip     : rect(1px, 1px, 1px, 1px);
	height   : 1px;
	overflow : hidden;
	position : absolute !important;
	width    : 1px;
}

body {
	background-color           : $white;
	color                      : $theme-gray;
	height                     : auto;
	margin                     : 0;
	min-height                 : 100%;
	overflow-x                 : hidden;
	overflow-y                 : auto;
	-webkit-overflow-scrolling : touch;
	padding-right: 0 !important; /* overwrite the padding-right added when a modal is closed */

	/* Slightly lighter fonts on Mac OS X */
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
	height                     : 100%;
	margin                     : 0;
	min-height                 : 100%;
	-webkit-overflow-scrolling : touch;
}

.layout-container{
  //max-width: $max-wdith;
  display: block;
  margin: auto;
  //border:1px solid #eee;
}
/*
* full width images
*/
img.img--full-width {
	width: 100%;
	height: auto;
}

.text-center{
  text-align: center;
}
/*
* responsive show/hide <div>
*/
@media screen and (min-width: $screen-wide-min) {
	.div-wide-hide {
		display: none !important;
	}

	.div-wide-show {
		display: block !important;
	}
}
@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.div-xlg-hide {
		display: none !important;
	}

	.div-xlg-show {
		display: block !important;
	}
}
@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.div-lg-hide {
		display: none !important;
	}

	.div-lg-show {
		display: block !important;
	}
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.div-md-hide {
		display: none !important;
	}

	.div-md-show {
		display: block !important;
	}
}
@media screen and (max-width: $screen-sm-max) {
	.div-sm-hide {
		display: none !important;
	}

	.div-sm-show {
		display: block !important;
	}
}



.responsive{

  &-video{
    width: 100%;
    height: auto;
  }

}


.text{
  &-color{

    &--theme-blue{
      color: $theme-blue;
    }
  }
}


.container-a{

  max-width: 1540px;
  margin: 0 auto;

  @media screen and (max-width: $screen-xlg-max) {
    padding: 0 50px;
  }

  @media screen and (min-width: $screen-wide-min) {
    width: 78%;
  }


}

.container-b{
  max-width: 1280px;
  margin: auto;


  @media screen and (min-width: $screen-wide-min) {
    width: 68%;

  }

  @media screen and (max-width: $screen-xlg-max) {
    padding: 0 50px;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 0 20px;
  }

}

.container-c{
  max-width: 1080px;
  margin: auto;
  width: 58%;
}

.video-fluid {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}


.video-fluid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

p {
	img {
		@media (min-width: $screen-lg-min) {
			width: auto;
			height: 100%;
		}
		@media (max-width: $screen-sm-max) {
			width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.light-text {
		color: $white;
	}
}

.form-row {
  margin-left: -12px;
  margin-right: -12px;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    display: flex;
  }
}

[class^="form-col"] {
  padding-left: 12px;
  padding-right: 12px;
}

.form-col {
  flex: 0 0 100%;
  max-width: 100%;
}

.form-col--sm {
  @media (min-width: 1024px) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.form-col--md {
  @media (min-width: 1024px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.webform-submission-form {
	max-width: 1018px;
	margin: 0 auto;
	padding: 70px 0;

	@media (max-width: 1024px) {
		padding: 0 30px;
	}
}

select {
	width: 100%;
	height: 50px;
	margin-top: 15px;
}

label.option {
	line-height: 30px;
}

.messages--status {
	color: white;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-color: #0199D0;
  background-image: none;
  box-shadow: -8px 0 0 #77b259;
  text-align: center;
}

//Admin navigation
.region-primary-menu {
	.tabs {
		display: flex;
    flex-direction: row;
    justify-content: center;

		li {
			border-right: 2px solid #fff;
	    background: #e6e6e8;
	    position: relative;

			a {
				padding: 15px 45px;
				color: black;
				text-decoration: none;
				font-family: "FS Joey",Arial,sans-serif;
		    font-size: 19px;
		    font-weight: 500;
				text-transform: uppercase;
    		letter-spacing: 1px;

				&.is-active {
					background: $black;
    			color: $white;

					&:hover {
						background: $black;
	    			color: $white;
					}
				}

				&:hover {
					background-color: #0199D0;
					color: white;
				}
			}
		}
	}
}

.light-gray {
	color: $theme-gray-light;
}

.dark-blue {
	color: $theme-blue-dark !important;
}

h1.light-blue,h2.light-blue,h3.light-blue,p.light-blue {
	color: $theme-blue !important;
	background: transparent;
}

.headers {
	.header {
		&.dark-blue {
			color: $theme-blue;
		}
		&.dark-gray {
			color: $theme-gray;
		}
		&.white {
			color: $white;
		}
	}
}

.registerbtn {
	text-align: center;
	margin: 0 0 50px;
}

.skip-link {
	display: none;
}

.webform-confirmation .webform-confirmation__message {
  text-align: center;
}

.page-node-type-page {
	.node__content {
		width: 75%;
		margin: auto;
	}
}
