@font-face {
    font-family: 'FS Joey';
    src: url('FSJoeyWeb-Medium.eot');
    src: url('FSJoeyWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('FSJoeyWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FS Joey';
    src: url('FSJoeyWeb-Regular.eot');
    src: url('FSJoeyWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('FSJoeyWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}