/**
* Font includes - to be used as @extend
**/
.font--fs-joey {
	font-family: $font-stack-fs-joey;
	font-weight: normal;
}

.font--fs-joey-medium {
	font-family: $font-stack-fs-joey;
	font-weight: 500;
}

/*
---
name: Headings
category: Typography
---

Headings can be used with `<h>`, `<p>`, and `<span>` elements.

Types of headings:
- Section Heading: Section Headers Are All Caps.  Add class `h--section`
- Heading 1: Header 1 is used for all headlines. Add class `h1` or use `<h1>` tag.
- Heading 2: Header 2 is used for all subheads. Add class `h2` or use `<h2>` tag.
- Heading 3: Header 3 is used in all caps for news story titles and external links. Add class `h3` or use `<h3>` tag.
- Heading 4: Header 4 is used as the dateline for a news story. Add class `h4` or use `<h4>` tag.
- Heading 5: Header 5 is used for the small numbers in the process section 01, 02, 03, etc. Add class `h5` or use `<h5>` tag.

```types.html
<p class="h--section">Section Headers Are All Caps</p>
<p class="h1">Header 1 is used for all headlines.</p>
<h2>Header 2 is used for all subheads.</h2>
<span class="h3">Header 3 is used in all caps for news story titles and external links.</span>
<h4>Header 4 is used as the dateline for a news story.</h4>
<h5>Header 5 is used for the small numbers in the process section 01, 02, 03, etc.</h5>
```
*/
.h--section {
	@extend .font--fs-joey;
	text-transform: uppercase;
}

h1,
.h1 {
	@extend .font--fs-joey;
}

h2,
.h2 {
  @extend .font--fs-joey;
  line-height: 1.33;
}

h3,
.h3 {
	@extend .font--fs-joey;
	text-transform: uppercase;
}

h4,
.h4 {
	@extend .font--fs-joey;
}

h5,
.h5 {
	@extend .font--fs-joey-medium;
}

/*
---
name: Body
category: Typography
---

Body text can be used with `<h>`, `<p>`, and `<span>` elements.  Add class `p` or use the `<p>` tag.

Body text is used in every instance of body copy -- including captions on top of photos.

```types.html
<p>Body text is used in every instance of body copy -- including captions on top of photos.</p>
<h2 class="p">Example of body text in a header tag</h2>
<span class="p">Example of body text in a span tag</span>
```
*/
p,
.p,
.p--small {
 // @extend .font--fs-joey;
  font-family: $font-stack-fs-roboto;
  font-weight: 300;
  line-height: 1.73;
  letter-spacing: normal;
  color:inherit;

}

.p--small {
	text-transform: uppercase;
}


/* Responsive font sizes for Extra Large */
@media screen and (min-width: $screen-xlg-min) {
	.h--section {
		font-size: 36px;

	}

	h1,
	.h1 {
		font-size: 60px;
		line-height: 60px;

	}

	h2,
	.h2 {
		font-size: 40px;
    line-height: 1.33;
	}

	h3,
	.h3 {
		font-size: 32px;
		line-height: 32px;
		letter-spacing: 0.2px;
	}

	h4,
	.h4 {
		font-size: 24px;
		line-height: 32px;

	}

	h5,
	.h5 {
		font-size: 32px;
		line-height: 32px;
		letter-spacing: 0.2px;
	}

	p,
	.p {
		font-size: 22px;
		line-height: 36px;

	}

	.p--small {
		font-size: 14px;
	}
}

/* Responsive font sizes for Large */
// @media screen and (max-width: $screen-lg-max) {
// 	.h--section {
// 		margin-bottom: 16px;
// 		font-size: 21px;

// 	}

// 	h1,
// 	.h1 {
// 		font-size: 40px;
// 		line-height: 40px;
// 	}

// 	h2,
// 	.h2 {
// 		margin-bottom: 16px !important;
// 		font-size: 22px;
// 	}

// 	p.h2 {
// 		font-size: 25px;
// 		line-height: 30px;
// 	}

// 	h3,
// 	.h3 {
// 		font-size: 18px;
// 		line-height: 18px;

// 	}

// 	h4,
// 	.h4 {
// 		font-size: 18px;
// 		line-height: 24px;

// 	}

// 	h5,
// 	.h5 {
// 		font-size: 22px;
// 		line-height: 22px;

// 	}

// 	p,
// 	.p {
// 		font-size: 20px;
// 		line-height: 28px;
// 		margin-bottom: 1em !important;

// 	}

// 	.p--small {
// 		font-size: 12px;
// 	}
// }

@media screen and (max-width: $screen-lg-max) {
	.h--section {
		margin-bottom: 16px;
		font-size: 21px;

	}

	h1,
	.h1 {
		font-size: 40px;
		line-height: 40px;
	}

	h2,
	.h2 {
		margin-bottom: 16px !important;
		font-size: 30px;
	}

	p.h2 {
		font-size: 25px;
		line-height: 30px;
	}

	h3,
	.h3 {
		font-size: 18px;
		line-height: 18px;
	}

	h4,
	.h4 {
		font-size: 18px;
		line-height: 24px;
	}

	h5,
	.h5 {
		font-size: 22px;
		line-height: 22px;
	}

	p,
	.p {
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 1em !important;
	}

	.p--small {
		font-size: 12px;
	}
}


@media screen and (max-width: $screen-sm-max) {

	h2,
	.h2 {
		font-size: 30px;
	}

}



/*
---
name: Colors
category: Typography
---

Add text colors to `<h>`, `<p>`, and `<span>` elements.

Add the class `h--{COLOR_NAME}` or `p--{COLOR_NAME}` to give the `<h>`, `<p>`, or `<span>` text that color

`{COLOR_NAME}` options:
- `theme-gray`: Theme Gray
- `theme-blue`: Theme Blue
- `black`: Black
- `white`: White

```types.html
<h3 class="h--theme-blue">Theme Blue Heading</h3>
<p class="p--theme-gray">Theme Gray Body Text</p>
```
*/
.h--theme-gray,
.p--theme-gray {
	color: $theme-gray;
}

.h--theme-blue,
.p--theme-blue {
	color: $theme-blue;
}

.h--black,
.p--black {
	color: $black;
}

.h--white,
.p--white {
	color: $white;
}

/*
---
name: Position
category: Typography
---

Reset the position of `<h>`, `<p>`, and `<span>` elements.

Add the class `h--inline` or `p--inline` to make the `<h>` or `<p>` tag inline with adjacent elements

```types.html
<h1 class="h--inline">Inline header</h1>
<p class="p--inline">Inline body text</p>
```
*/
.h--inline,
.p--inline {
	display: inline-block;
}

/*
---
name: Margins
category: Typography
---

Reset the margin of `<h>`, `<p>`, and `<span>` elements.

Add the class `h--no-margin` or `p--no-margin` to clear any vertical spacing from the `<h>` or `<p>` tag

```types.html
<h1 class="h--no-margin">Heading with no margin</h1>
<p class="p--no-margin">Body text with no margin</p>
```

Add the class `h--less-margin` or `p--less-margin` to reduce vertical spacing from the `<h>` or `<p>` tag
```less-types.html
<h1 class="h--less-margin">Heading with less margin</h1>
<p class="p--less-margin">Body text with less margin</p>
```
*/
.h--no-margin,
.p--no-margin {
	margin: 0;
}

.h--less-margin {
	margin: ($grid-unit * 1) 0;
}

.p--less-margin {
	margin: 0 0 ($grid-unit * 1) 0;
}

/*
---
name: Borders
category: Typography
---

Add a border line to `<h>` elements.

Add the class `h--border-bottom` to a `<h>` tag for a bottom underline

```bottom-types.html
<h2 class="h--section h--border-bottom">Section heading with border</h2>
```

Add the class `h--border-{COLOR_NAME}` to add color to the border of an `<h>` tag

`{COLOR_NAME}` options:
- `theme-gray`: Theme Gray
- `theme-blue`: Theme Blue
- `black`: Black
- `white`: White

```border-color-types.html
<h2 class="h--section h--border-bottom h--border-theme-gray">Section heading with Theme Gray border</h2>
<h2 class="h--section h--border-bottom h--border-theme-blue">Section heading with Theme Blue border</h2>
```
*/
.h--border-bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/*
* responsive border spacing
*/
@media screen and (min-width: $screen-wide-min) {
	.h--border-bottom {
		padding-bottom: $grid-unit * 4;
	}
}

@media screen and (min-width: $screen-xlg-min) and (max-width: $screen-xlg-max) {
	.h--border-bottom {
		padding-bottom: $grid-unit * 3;
	}
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
	.h--border-bottom {
		padding-bottom: $grid-unit * 2;
	}
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.h--border-bottom {
		padding-bottom: $grid-unit;
	}
}

@media screen and (max-width: $screen-sm-max) {
	.h--border-bottom {
		padding-bottom: $grid-unit;
	}
}

.h--border-theme-gray {
	border-color: $theme-gray;
}

.h--border-theme-blue {
	border-color: $theme-blue;
}

.h--border-black {
	border-color: $black;
}

.h--border-white {
	border-color: $white;
}
