/**
* Breakpoints
**/
$screen-wide-min: 1440px;
$screen-xlg-max: ($screen-wide-min - 1);
$screen-xlg-min: 1280px;
$screen-lg-max: ($screen-xlg-min - 1);
$screen-lg-min: 1024px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 480px;
$screen-xs-max: ($screen-sm-min - 1);

$max-wdith: 1920px;
$max-inner-wdith: 1018px;

/**
 *
* Grid units
*
* All spacing/margins should be a multiplier of these units
*
**/
$grid-unit: 8px;
$col-unit: 8.33%;

/**
* Admin View Colors
**/
$background-gray: #E5E4E3;
$black: #000;
$theme-blue: #0199D0;
$theme-blue-dark: #0080ae;
$theme-blue-a: #007aa6;
$theme-blue-b: #006185;

$theme-blue-fade: rgba(1, 153, 208, 0.5);
$theme-blue-transparent: rgba(1, 153, 208, 0.2);



$theme-gray: #676b6e;
$theme-gray-light:#e4e3e3;
$theme-gray-shade:#d0cfd1;
$theme-gray-fade: rgba(130, 135, 139, 0.5);
$theme-gray-transparent: rgba(130, 135, 139, 0.2);
$white: #fff;

// fixed header
$header-height: 80px;

// forms
// $validation-icon-top: 17px;
// $validation-icon-right-text-input: 10px;
// $validation-icon-right-select-input: 35px;
// $checkbox-size: 24px;
// $radio-outer-radius: $checkbox-size;
// $radio-inner-radius: 14px;
// $radio-inner-offset-left: 5px;
// $radio-inner-offset-top: 7px;
$button-height: 40px;
$input-height: 50px;

/**
* Fonts
**/
$font-stack-fs-joey: 'FS Joey', Arial, sans-serif;
$font-stack-fs-roboto: 'Roboto', sans-serif;
