{{ attach_library('delta_theme/floating-labels') }}

{#
  This is a demo for reference.
  DO NOT IMPORT DIRECTLY. Use `@organisms/modal/_modal.twig` instead as shown below.
#}

<button class="button" data-dialog-show="demo-modal-login">Open login modal</button>

{% embed "@organisms/modal/_modal.twig" with {
  modal_id: "demo-modal-login",
  modal_modifiers: ["login"],
  modal_title: "Login",
  modal_title_modifiers: "login",
}%}
  {% block content %}
    <h4 class="modal--login__subtitle">Returning Customers</h4>

    <div class="form-item">
      <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
      <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
    </div>

    <div class="form-item">
      <label for="edit-pass" class="form-item__label form-item__label--required form-item__label--textfield">Password</label>
      <input type="password" id="edit-pass" name="pass" class="form-item__textfield form-item__textfield--password form-item__textfield--required" required="required" aria-required="true">

      <button class="form-item__pwd-toggle" aria-label="Show Password">
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: "eye-closed",
          hidden: true,
        } %}
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: "eye-open",
          hidden: true,
        } %}
      </button>
    </div>

    <div class="modal--login__options">
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig" with {
        label: "Remember me",
        attributes: {
          id: "remember-me"
        }
      } %}

      {% include "@atoms/01-links/link/link.twig" with {
        link_content: "Forgot Password?",
        link_url: "#",
      } %}
    </div>

    {% include "@atoms/06-buttons/01-button.twig" with {
      button_content: "Login",
      button_modifiers: ["primary", "lg", "block"],
      button_attributes: create_attribute({
        type: "submit",
      }),
    } %}

    <div class="u-text-center">
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        cta_link_text: "Register for an account",
        cta_link_icon: "carrot-right",
        cta_link_icon_position: "right",
        cta_link_icon_size: 8
      } %}
    </div>
  {% endblock %}
{% endembed %}