<div class="contact-info">
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  <div class="form-row">
    <div class="form-col">
      {{ form.name_title }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-col">
      {{ form.first_name }}
    </div>
  </div>
    <div class="form-row">
    <div class="form-col">
      {{ form.last_name }}
    </div>
  </div>  

  <div class="form-row">
    <div class="form-col">
      <div>{{ form.address1 }}</div>
      <div>{{ form.apt }}</div>
      <div>{{ form.city }}</div>
       <div>{{ form.state }}</div>
      <div>{{ form.postal_code }}</div>
    </div>
  </div> 

  <div class="form-row address-info-input">
    <div class="form-col">
      <div>{{ form.country }}</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-col">
      {{ form.email }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-col">
      {{ form.cnf_email }}
    </div>
  </div>  

  <div class="form-row">
    <div class="form-col">
      {{ form.phone }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-col">
      <div class="product-info-label custom-select-box">{{ form.model_number }}</div>

      <div id="info-bubble">
        <div id="info-bubble-uri">{{ form.image_info }}</div>

        <a href="{{ items }}" target="_blank">
          <p class="model-number-text">Where can I find the model number?
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_name: 'info',
              icon_size: 24
            } %}
          </p>
        </a>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-col">
      <div class="product-purchased-date">{{ form.purchased_date }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-col">
      <div class="product-store-name">{{ form.store_name }}</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-col custom-input--checkbox">
      <div>{{ form.newsletter }}</div>
    </div>
  </div>


  <div class="form-row">
    <div class="form-col">
      <div>{{ form.captcha }}</div>
      <div>{{ form.hdn_captcha }}</div>
    </div>
  </div>

  <div class="form-row">
   <div class="form-col">
      <div> 
      {{ form.submit }}
      {{ form.reset }}
      </div>
    </div>
   </div>
</div>
