
    <div class="textbox_container">
        {% include "@atoms/well-box/text-box-title.twig" with {
            text_box_title: well_box_title
        } %}

        {% include "@atoms/well-box/text-box-subtitle.twig" with {
            text_box_subtitle: well_box_subtitle
        } %}

        <div class="textbox__content">
          {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: well_box_content
          } %}
        </div>

        {% include "@atoms/well-box/textbox-div.twig" with {
        } %}

        {% include "@atoms/well-box/text-box-subtitle.twig" with {
            text_box_subtitle: well_box_subtitle
        } %}

        {% if textboxlinks %}
          <div class="textbox__links">
            <ul>
            {% for textboxlink in textboxlinks %}
            <li>
                {% include "@atoms/01-links/link/link.twig" with {
                    link_url: textboxlink.url,
                    link_content : textboxlink.content,
                    link_base_class: 'link',
                    link_modifiers : textboxlink.modifiers,
                } %}
            </li>
            {% endfor %}
            </ul>
          </div>
      {% endif %}

    </div>
