<div class="{{well_col}}">
  <div class="textbox_container">

  
    {% include "@atoms/well-box/text-box-title.twig" with {
        text_box_title: well_box_title
    } %}

    {% include "@atoms/well-box/text-box-subtitle.twig" with {
        text_box_subtitle: well_box_subtitle_one
    } %}

  <div class="textbox__content">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: well_box_content_one
    } %}
  </div>

  {% if textboxbtn %}
    <div class="textbox__button">
      {% include "@atoms/06-buttons/01-button.twig" with {
          "button_url": textboxbtn.button_url,
          "button_content": textboxbtn.button_content,
          "button_modifiers": textboxbtn.button_modifiers
        } %}
    </div>
  {% endif %}

  {% include "@atoms/well-box/textbox-div.twig" with {
  } %}

    {% include "@atoms/well-box/text-box-subtitle.twig" with {
        text_box_subtitle: well_box_subtitle_two
    } %}

  <div class="textbox__content">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: well_box_content_two
    } %}
  </div>

  {% if textbox_img %}
  <div class="textbox__image">
    {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: textbox_img.src,
        img_alt: textbox_img.alt
      } %}
  </div>
  {% endif %}


  </div>
</div>