{% set text_box_phone_number_base_class = text_box_phone_number_base_class|default('phone_number') %}


    <div class="textbox_container">
        {% include "@atoms/well-box/text-box-title.twig" with {
            text_box_title: well_box_title
        } %}

        {% include "@atoms/well-box/textbox-phone-number.twig" with {
            text_box_phone_number: well_box_phone_number
        } %}

        <div class="textbox__content">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: well_box_content
        } %}
      </div>

    </div>
