<div class="grid-col-sm-4">
  <div class="textbox_container">


  <div class="textbox__content-small">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: well_box_content
    } %}
  </div>

  <div class="textbox__cta">
    {% include "@atoms/01-links/cta-link/cta-link.twig" with {
      cta_link_text: cta_link_text,
      cta_link_icon_size: cta_link_icon_size

    } %}
  </div>

  </div>
</div>