<div class="grid-col-sm-4">
    <div class="textbox_container">
        {% include "@atoms/well-box/text-box-title.twig" with {
            text_box_title: well_box_title
        } %}

        {% if textboxicons %}
        <div class="textbox__iconbox">
            <ul>
            {% for textboxicon in textboxicons %}
                <li>
                {% include "@molecules/icon-boxes/icon-boxes.twig" with {
                        icon_name: textboxicon.circle_icon_name,
                        icon_size: textboxicon.circle_icon_size,
                        icon_bg_color: textboxicon.circle_icon_color,
                        icon_box_content: textboxicon.icon_box_content,
                        hidden: true,
                    } %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>