{{ attach_library('delta_theme/faq-grid') }}

<div class="faq-grid">
  {% for index,item in faq %}
    <div class="faq-card">
      <div class="faq-card__index">
        {{ '%02d'|format(index + 1) }}
      </div>

      <div class="faq-card__question">{{ item.question|raw }}</div>

      <div class="faq-card__answer hidden">{{ item.answer|raw }}</div>

      <img class="faq-card__img" src="{{ item.image_url|file_url }}" alt="{{ item.image_alt_text }}" />

      <button class="faq-card__button" data-dialog-show="faq-modal" title="{{ 'FAQ card button'|t }}" aria-label="{{ 'FAQ card button'|t }}" data-index=" {{ '%02d'|format(index + 1) }}">
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: "plus",
          icon_size: 24,
          icon_color: "red",
          hidden: true,
        } %}
      </button>
    </div>
  {% endfor %}
</div>

{% embed "@organisms/modal/_modal.twig" with {
  modal_id: "faq-modal",
  modal_modifiers: ["faq"],
} %}
  {% block content %}
    {# Content here will be populated via JS #}
  {% endblock %}
{% endembed %}
