{#
/**
 * Available variables:
 * - text:
 */
#}

<button class="filter-chip js-remove-filter">
  {{ text }}
  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: "filter-hide-small",
    icon_size: 12,
    hidden: true,
  } %}
</button>
