<div class="img_element">
  {% include "@atoms/04-images/00-image/figure.twig" with {
       'img_url': img_element.url,
       'img_src': img_element.src,
       'img_alt': img_element.alt,
       'img_caption': img_element.caption,
       'img_linkbtn_base_class':img_element.img_linkbtn_base_class,
       'img_linkbtn_modifiers':img_element.img_linkbtn_modifiers,
       'image_figure_modifiers': img_element.image_figure_modifiers
  } %}
</div>
