.selected-filter {
  clear: both;
  display: block;
  overflow: hidden;

  .filter-chip {
    float: left;
    font-size: 12px;
    color: $gray-20;
    background: $filter-background;
    padding: $space/2 $space+5;
    line-height: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 $space $space 0;

    .icon-filter-hide-small {
      font-size: 10px;
    }

    &:hover {
      background: $gray-10;
      color: $white;
    }
  }

  .clear-filter {
    background: none !important;
    font-family: $font-heading;
    font-size: 14px;
    text-transform: uppercase;
    color: $gray-10 !important;
    padding: 0;
    float: left;
    cursor: pointer;
    letter-spacing: 1.7px;
    padding-top: 3px;

    @include maxbp($medium) {
      width: 100%;
    }

    .icon-filter-hide-small {
      font-size: 13px;
    }
  }
}
