<div class="service-parts-support-page find-part-page">

  <div class="fp-search">
    <div class="fp-search-title">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: fp_search_title
      } %}
    </div>
    <div class="fp-search-desc">
      <div class="search-input">
        <input type="text" name="" value="" placeholder="Search" class="fp_search_input" />
      </div>
    </div>
  </div>

  <div class="fp-experience-text">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: fp_experience_text
    } %}
  </div>

  <div class="fp-prod-part-text">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: fp_prod_part_text
    } %}
  </div>

  <div class="fp-prod-award-text">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: fp_prod_award_text
    } %}
  </div>

  <div class="sps-prod-identification">
    <div class="sps-repair-desc">
      {% include "@organisms/service-part-tabs/service-part-tabs.twig" with {
        "sp_tab_data_title_step1": sp_tab_data_title_step1,
        "sp_ftab_imgs": sp_ftab_imgs,
        "sp_tab_data_title_step2": sp_tab_data_title_step2,
        "sp_stab_imgs": sp_stab_imgs,
        "sp_tab_data_title_step3": sp_tab_data_title_step3,
        "sp_ttab_imgs": sp_ttab_imgs,
        "sp_tstab_imgs": sp_tstab_imgs,
      } %}
    </div>
  </div>
</div>
