{% if not attributes %}
<div class="form-item form-item--checkbox">
  <legend class="heading-3">Options as Checkboxes</legend>
  <ul class="form-item--checkboxes">
{% endif %}
      {% for checkbox in checkboxes %}
        {% include "@atoms/05-forms/checkbox/_checkbox-item.twig" with {
          label: checkbox.label,
          attributes: checkbox.attributes
        } %}
      {% endfor %}
{% if not attributes %}
  </ul>
</div>
{% endif %}
