<div class="form-item form-item--checkbox">
  <legend class="heading-3">Options as Checkboxes</legend>
  <ul class="form-item--checkboxes">
              <li class="form-item--checkbox__item">
  

<div class="custom-input custom-input--checkbox  ">
  <input class="custom-input__native" type="checkbox"

      id="demo-checkbox-active"
    >

  <label class="custom-input__label" for="demo-checkbox-active">
    
    
    Active

      </label>
</div>
</li>
              <li class="form-item--checkbox__item">
  

<div class="custom-input custom-input--checkbox  ">
  <input class="custom-input__native" type="checkbox"

      id="demo-checkbox-selected"
      checked="checked"
    >

  <label class="custom-input__label" for="demo-checkbox-selected">
    
    
    Selected

      </label>
</div>
</li>
              <li class="form-item--checkbox__item">
  

<div class="custom-input custom-input--checkbox  ">
  <input class="custom-input__native" type="checkbox"

      id="demo-checkbox-disabled"
      disabled="1"
    >

  <label class="custom-input__label" for="demo-checkbox-disabled">
    
    
    Disabled

      </label>
</div>
</li>
        </ul>
</div>
