<div class="grid pdp-adv-top">

  <div class="adv-pdp-prod-img-wrapper  grid-col-sm-4 thumb-img-wrapper-list">
    <div class="mobile-pdp-prod-info-hdr">
      <div class="adv-pdp-page-name">
      {% if heading %}
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 5,
          "heading": adv_pdp_page_name,
        } %}
      {% endif %}
      </div>
      {% if collection_link %}
        <div class="adv-pop-coll-link">
       {% include "@atoms/pdp-page/pdp-collection-link/pdp-collection-link.twig" with {
          "collection_link": collection_name,
          "collection_url": collection_link,
        } %}
        </div>
      {% endif %}
      {% include "@molecules/pdp-product-info-header/pdp-product-info-header.twig" %}
    </div>

    <div class="adv-pdp-prod-img prod-big-img">
        {% include "@atoms/04-images/00-image/_image.twig" with {
          img_src: adv_pdp_prod_img_src,
          img_alt: adv_pdp_prod_img_alt,
        } %}
      {% if slider_img_flag_text %}
        <div class="slider_flag">
          {% include "@atoms/13-flag/flag.twig" with {
            "flag_text": slider_img_flag_text,
            "flag_modifiers": slider_img_flag_modifiers
          } %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="adv-pdp-prod-text grid-col-sm-8">

    <div class="desktop-pdp-prod-info-hdr">
      <div class="adv-pdp-page-name">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 5,
          "heading": adv_pdp_page_name,
        } %}
      </div>
      {% if collection_link %}
        <div class="adv-pop-coll-link">
        {% include "@atoms/pdp-page/pdp-collection-link/pdp-collection-link.twig" with {
          "collection_link": collection_name,
          "collection_url": collection_link,
        } %}
        </div>
      {% endif %}
      {% include "@molecules/pdp-product-info-header/pdp-product-info-header.twig" %}
    </div>

    <div class="pdp-rating-block">
      <div class="pdp-rating">
        {% include "@molecules/star-rating/_star-rating.twig" with {
          star_rating_value: rating_value,
          data_model: data_model,
        } %}
      </div>
    </div>

    <div class="color-option-btn-wrapper">
      <div class="selected-col-name">
        Finish: <span>{{ selected_finish }}</span>
      </div>
      {% if finish_options %}
      <div class="color-list">
        {% block list_content %}
          {% for btn in finish_options %}
            <a class="color-option-btn {{ btn.selected_class }}" href="{{ btn.finish_product_url }}" id="{{ btn.finish_model_number }}" title="{{ btn.finish }}">
                {% include "@atoms/finish-thumbnail/_finish-thumbnail.twig" with {
                  "finish_prod_icon": btn.finish_product_icon,
                } %}
            </a>
          {% endfor %}
        {% endblock %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
