{{ attach_library('delta_theme/accordion') }}

<div class="error-on-paymetric">

</div>
<div class="grid checkout_shipping checkout_billing">
<div class="grid-col-sm-12 grid-col-lg-6 grid-col-md-7">

    {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        <ol class="row ecommerce-steps">
            <li>
                {% include "@atoms/04-images/icons/_icon-circle.twig" with {
                    'circle_icon_name': "checkmark",
                    'circle_icon_size': 31,
                    'hidden': true,
                } %}
                {{ "Shipping"|t }}
            </li>
            <li class="active">
                <span>2</span>{{ "Payment & Order Review"|t }}
            </li>
        </ol>
    <div class="mobile_padding">
        <div id="payment-errors" class="bold red-txt mbl">
        </div>
        <h3 class="bold text-uppercase">{{ "Payment Information"|t }}</h3>
        <span class="small bold text-uppercase">{{ "Please complete all required fields"|t }}.</span>
        <h5 class="bold text-uppercase push-bbb">{{ "Credit Card Information"|t }}</h5>
        {{ form.card_info }}
        {{ form.hidden }}
        {{ form.render }}
        {{ form.paymentBillingInfo }}
        {{ form.paymentInfo }}
        {{ form.accesstokenXml }}
        {{ form.accept_order_details }}
        {{ form.accept_order_details_desc }}
        <div class="form_actions checkout-bill">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                "cta_link_url": '/ecommerce/shipping',
                "cta_link_text": 'back to shipping',
                "cta_link_icon": "carrot-left",
                "cta_link_icon_position": "left",
                "cta_link_icon_size": 8,
            } %}
        {{ form.actions }}
        {{ form.submit }}
        </div>
    </div>
</div>

<div class="grid-col-sm-12 grid-col-lg-4 grid-col-md-5">
    <div class="accordion">
        <div class="accordion-term">
             <h6>{{ "Show order summary"|t }}</h6>
            <span>${{ form.ship_response['orderTotal'] }}</span>
        </div>
        <div class="accordion-def">
            <div class="shipping_product">
                <h3 class="bold text-uppercase">{{ "Your Order"|t }}</h3>
                <div class="order-items">
                    {% for keys,items in form.ship_response['orderItems'] %}
                        {% if keys matches '/^\\d+$/' %}
                            <div class="shopping-cart-item  {% if items['recertified'] == 1 %} recertified-flag {% endif %}">
                                <div class="shipping_product_img">
                                    <img src="{{ items['imageFilename'] }}" class="img-responsive" />
                                </div>
                                <div class="shipping_product_details">
                                    {% if items['recertified'] == 1 %}
                                      <div class="slider_flag">
                                        <div class="flag flag--gray-30">{{ "Recertified"|t }}</div>
                                      </div>
                                    {% endif %}
                                    <h4 class="nopad nopush bold"><strong>{{ items['collection'] }} </strong>{{ items['description']|convert_encoding('UTF-8', 'HTML-ENTITIES') | raw }}</h4>
                                    <div class="sku">{{ items['skuCode'] }}</div>
                                    <div class="qty">{{ "Qty"|t }}: {{ items['quantity'] }}</div>
                                    <div class="price">{{ "Price"|t }}:
                                    {% if items['strikePrice'] != "" %}
                                      <span class="strikePrice"> ${{ items['strikePrice']|number_format(2, '.', ',') }}</span>
                                    {% endif %}
                                    ${{ items['unitPrice']|number_format(2, '.', ',') }}</div>
                                </div>
                                <div class="text-right">
                                    <span>${{ items['unitPrice']|number_format(2, '.', ',') }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="shade">
                        <span class="text-left text-uppercase bl br bb border-dark"><strong>{{ "Subtotal:"|t }}</strong></span>
                        <span class="tecart_ordersxt-right bb bold border-dark">${{ form.ship_response['orderSubTotal']|number_format(2, '.', ',') }}</span>
                        <span class="text-left text-uppercase bl br bb border-dark"><strong>{{ "Shipping:"|t }}</strong></span>
                        <span class="text-right bb bold border-dark">
                        {% if form.ship_response['shippingCharge'] != 0 %}
                          ${{ form.ship_response['shippingCharge']|number_format(2, '.', ',') }}
                        {% else %}
                          {{ "Free"|t }}
                        {% endif %}
                        </span>
                        <span class="text-left text-uppercase bl br bb border-dark"><strong>{{ "Sales Tax:"|t }}</strong></span>
                        <span class="text-right bb bold border-dark">${{ form.ship_response['tax']|number_format(2, '.', ',') }}</span>
                    </div>
                    <div class="shipping_total">
                        <span class="text-left white-content bk-bg text-uppercase bl br border-dark">
                            <strong>{{ "Total:"|t }}</strong>
                        </span>
                        <span class="text-right white-content bk-bg text-uppercase bold"><span>${{ form.ship_response['orderTotal']|number_format(2, '.', ',') }}</span></span>
                         <span class="order-total-des">{{ "Prices are shown in US Dollars ($USD)" }}</span>
                    </div>
                </div>
                <div class="shipping-infor-address">
                    <h3 class="bold text-uppercase checkout-bill-edit">{{ "Shipping Information"|t }}
                       {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                            "cta_link_url": '/ecommerce/shipping',
                            "cta_link_text": 'EDIT',
                            "cta_link_icon": "carrot-right",
                            "cta_link_icon_position": "right",
                            "cta_link_icon_size": 8,
                        } %}
                    </h3>
                    <div class="shipping-info">
                        <h6 class="block">{{ "Shipping Option"|t }}</h6>
                        <p class="block">{{ form.ship_response['shippingServiceLevel'] }}</p>
                    </div>
                    <div class="shipping-info">
                        <h6 class="block">{{ "Shipping Address"|t }}</h6>
                        <p class="block">{{ form.ship_response['shippingAddress']['fullName'] }}</p>
                        <p class="block">{{ form.ship_response['shippingAddress']['address1'] }}</p>
                        <p class="block">{{ form.ship_response['shippingAddress']['address2'] }}</p>
                        <p class="block">{{ form.ship_response['shippingAddress']['city'] }}, {{ form.ship_response['shippingAddress']['state'] }} {{ form.ship_response['shippingAddress']['zip5'] }}</p>
                    </div>
                    <div class="shipping-info">
                        <h6 class="block">{{ "Contact Information"|t }}</h6>
                        <p class="block">{{ form.ship_response['phone'] }}</p>
                        <p class="block">{{ form.ship_response['email'] }}</p>
                    </div>
                </div>
            </div>
            <div class="notice">
              <h4>{{ form.noticeHead }}</h4>
              <p>{{ form.noticeMsg }}</p>
            </div>
        </div>
    </div>
</div>
</div>
