{{ attach_library('delta_theme/accordion') }}

<div class="grid checkout_shipping">
    <div class="grid-col-sm-12 grid-col-lg-6 grid-col-md-7">
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        <ol class="row ecommerce-steps">
            <li class="active">
                <span>1</span>{{ "Shipping"|t }}
            </li>
            <li>
                <span>2</span>{{ "Payment & Order Review"|t }}
            </li>
        </ol>
        <div class="mobile_padding">
            <h3 class="bold text-uppercase">{{ "Shipping Information"|t }}</h3>
            <div class="small push-bb bold text-uppercase"> {{ "Please complete all required fields"|t }}.</div>
            <div class="shipping_option">
                {{ form.shipping_option }}
            </div>
            {{ form.selectedOption }}
            <div class="shipping_address-title">
                <div class="h2">{{ "Shipping Address"|t }}</div>
                <div class="ship-extra-notes">{{form.shipping_details.shipping_info}}</div>
            </div>
            <div class="shipping_address">
                {{form.shipping_details.fullname}}
                {{form.shipping_details.address_line}}
                {{form.shipping_details.address_line_optional}}
                <div class="grid">
                    <div class="grid-col-sm-6">
                        {{form.shipping_details.city}}
                    </div>
                    <div class="grid-col-sm-3">
                        {{form.shipping_details.state}}
                    </div>
                    <div class="grid-col-sm-3">
                        {{form.shipping_details.zipcode}}
                    </div>
                </div>
            </div>

            <h3 class="bold text-uppercase">{{ "Contact Information"|t }}</h3>
            <p class="push-bb">{{ "Please provide your phone number in case we have questions about your order. Your email address will be used to send order acknowledgments and tracking information."|t }}</p>
            <div class="contact_info">
                {{ form.contact_details }}
            </div>
            <div class="form_actions ship-back-btn">
                {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                    "cta_link_text": 'back to cart',
                    "cta_link_icon": "carrot-left",
                    "cta_link_icon_position": "left",
                    "cta_link_icon_size": 8,
                    "cta_link_url" :  path('commerce_cart.page'),
                } %}
                {{ form.actions }}
            </div>
        </div>
    </div>
    {#{% set cart_orders = form.cart_orders|json_decode %}#}
    <div class="grid-col-sm-12 grid-col-lg-4 grid-col-md-5">
        <div class="accordion">
            <div class="accordion-term">
                <h6>{{ "Show order summary"|t }}</h6>
                <span>${{ form.cart_orders['orderTotal'] }}</span>
            </div>
            <div class="accordion-def">
                <div class="shipping_product">
                    <h3 class="bold text-uppercase">{{ "Your Order"|t }}</h3>
                    <div class="order-items">
                        {% for keys, items in form.cart_orders['orderItems'] %}
                            {% if keys matches '/^\\d+$/' %}
                                <div class="shopping-cart-item {% if items['recertified'] == 1 %} recertified-flag {% endif %}">
                                    <div class="shipping_product_img">
                                        <img src="{{ items['imageFilename'] }}" class="img-responsive" />
                                    </div>
                                    <div class="shipping_product_details">
                                      {% if items['recertified'] == 1 %}
                                        <div class="slider_flag">
                                          <div class="flag flag--gray-30">{{ "Recertified"|t }}</div>
                                        </div>
                                      {% endif %}
                                      <h4><strong>{{ items['collection'] }} </strong>{% autoescape 'false' %}{{ items['description']|raw }}{% endautoescape %}</h4>
                                      <div class="sku">{{ items['skuCode'] }}</div>
                                      <div class="qty">{{ "Qty"|t }}: {{ items['quantity'] }}</div>
                                      <div class="price">{{ "Price"|t }}:
                                      {% if items['strikePrice'] != "" %}
                                        <span class="strikePrice"> ${{ items['strikePrice']|number_format(2, '.', ',') }}</span>
                                      {% endif %}
                                        ${{ items['unitPrice']|number_format(2, '.', ',') }}
                                      </div>
                                    </div>
                                    <div class="text-right">
                                        <span>${{ items['unitPrice']|number_format(2, '.', ',') }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="shade">
                            <span class="text-left text-uppercase bl br bb border-dark">{{ "Subtotal:"|t }}</span>
                            <span class="text-right bb bold border-dark form-order-subtotal">${{ form.cart_orders['orderSubTotal']|number_format(2, '.', ',') }}</span>
                            <span class="text-left text-uppercase bl br bb border-dark">{{ "Shipping:"|t }}</span>
                            <span class="text-right bb bold border-dark form-shipping-option">
                              {% if form.cart_orders['shippingCharge'] == 0 %}
                                {{ "Free"|t }}
                              {% else %}
                                ${{ form.cart_orders['shippingCharge']|number_format(2, '.', ',') }}
                              {% endif %}
                            </span>
                            <span class="text-left text-uppercase bl br bb border-dark">{{ "Sales Tax:"|t }}</span>
                            <span class="text-right bb bold border-dark">${{ form.cart_orders['tax']|number_format(2, '.', ',') }}</span>
                        </div>
                        <div class="shipping_total">
                            <span class="text-left white-content bk-bg text-uppercase bl br border-dark">
                                <strong>{{ "Total:"|t }}</strong>
                            </span>
                            <span class="text-right white-content bk-bg text-uppercase bold form-order-total-ship">${{ form.cart_orders['orderTotal']|number_format(2, '.', ',') }}</span>
                            <p class="order-total-des">{{ "Prices are shown in US Dollars ($USD)" }}</p>
                        </div>
                    </div>
                </div>
                <div class="notice">
                  <h4>{{ form.noticeHead }}</h4>
                  <p>{{ form.noticeMsg }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
