{{ attach_library('delta_theme/floating-labels') }}

<div class="checkout_login">
{{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <h3 class="checkout_login-title"><span class="glyphicon glyphicon-lock pad-r"></span>{{ "checkout"|t }}</h3>
    <div class="grid">
        <div class="checkout-user-login grid-col-sm-12 grid-col-md-6">
            <div class="login-error-msg"></div>
            <h6>{{ "Returning Customers"|t }}</h6>
            {{ form.username }}
            <div class="pass">
                {{ form.password }}
            </div>
            <div class="rememberme custom-input custom-input--checkbox">
            {{ form.persistent_login }}
            </div>
            <a href="/password-reset" class="forgot_pass">{{ "Forgot password"|t }}?</a>
            {{ form.actions }}
        </div>
        <div class="checkout-guest-order grid-col-sm-12 grid-col-md-6">
            <h6>{{ "Guest Checkout"|t }}</h6>
            <p>{{ "You can checkout without creating an account. You'll have a chance to create account later"|t }}.</p>
            {{ form.guestorder }}
        </div>
    </div>
</div>
