{% if order_conformation is not empty %}
    <div class="container">
        <div class="region region-content">
                <div class="order_info">
                    <p class="customer"> {{ "Thank you "|t }} {{ order_conformation['shippingAddress']['fullName'] }}!</p>
                    <h2> {{ "Your Order is Confirmed"|t }}!</h2>
                    <div class="bold text-uppercase">{{ "Your Order"|t }} # <span class="order-no">{{ order_conformation['orderNumber'] }}</span></div>
                    <div class="order-desc">{{ "You will receive e-mail confirmation shortly"|t }}.</div>
                    <a href="/ecommerce/order-details?orderNo={{ order_conformation['encodedOrderNo'] }}&companyNo={{ order_conformation['encodedCompanyNumber'] }}&docType={{ order_conformation['encodedDocType'] }}" class="button button--primary button--lg">{{ "Check Order Status"|t }}</a>
                    <div class="continue-browsing"><a class="cta-link has-icon--right" href="/">
                    {{ "Continue Browsing"|t }}
                    <svg class="icon icon--carrot-left" aria-hidden="true" role="img" width="8" height="8" aria-labelledby="title-carrot-left">
                    <title id="title-carrot-left">carrot-left</title>
                     <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#carrot-right"></use>
                    </svg></a></div>
                </div>
                <div class="order_details_wrap">
                    <div class="shipping_address order_details">
                        <div class="shipping-address-wrap">
                            <div class="order_details-title">{{ "Shipping Information"|t }}</div>
                            <div class="name"><strong> {{ "Shipping Option"|t }} </strong>
                              <span>{{ order_conformation['shippingOption'] }}</span>
                            </div>
                            <div class="shipping-address"><strong>{{ "Shipping Address"|t }}</strong>
                                <span>{{ order_conformation['shippingAddress']['fullName'] }}</span>
                                <span>{{ order_conformation['shippingAddress']['address1'] }}</span>
                                <span>{{ order_conformation['shippingAddress']['address2'] }}</span>
                                <span>{{ order_conformation['shippingAddress']['city'] }}, {{ order_conformation['shippingAddress']['state'] }} {{ order_conformation['shippingAddress']['zip5'] }}</span>
                            </div>
                            <div class="contact-info"><strong> {{ "Contact Information"|t }} </strong>
                                <span>{{ order_conformation['phone'] }}</span>
                                <span>{{ order_conformation['email'] }}</span>
                            </div>
                        </div>
                    </div>
                <div class="billing_address order_details">
                    <div class="billing-address-wrap">
                        <div class="order_details-title">{{ "Payment Information"|t }}</div>
                        <div class="name"><strong> {{ "Credit Card Information"|t }} </strong>
                            <span>{{ order_conformation['ccType'] }}</span>
                            <span>{{ "****************" }}</span>
                            <span>{{ "Expires"|t }}: {{ order_conformation['ccExpireMonth'] }}{{ "/" }}{{ order_conformation['ccExpireYear'] }} </span>
                        </div>
                        <div class="billing-address"><strong>{{ "Billing Address"|t }}</strong>
                            {% if order_conformation['billingAddress']['fullName'] is not empty %}
                                <span>{{ order_conformation['billingAddress']['fullName'] }}</span>
                                <span>{{ order_conformation['billingAddress']['address1'] }}</span>
                                <span>{{ order_conformation['billingAddress']['address2'] }}</span>
                                <span>{{ order_conformation['billingAddress']['city'] }}, {{ order_conformation['billingAddress']['state'] }} {{ order_conformation['billingAddress']['zip5'] }}</span>
                            {% else %}
                                <span>{{ order_conformation['shippingAddress']['fullName'] }}</span>
                                <span>{{ order_conformation['shippingAddress']['address1'] }}</span>
                                <span>{{ order_conformation['shippingAddress']['address2'] }}</span>
                                <span>{{ order_conformation['billingAddress']['city'] }}, {{ order_conformation['billingAddress']['state'] }} {{ order_conformation['billingAddress']['zip5'] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="order-review" class="order_details order-items">
                    <div class="order_details-title"><strong>{{ "Your Order"|t }}</strong></div>
                        <div class="product-info order-items">
                            {% for keys, items in order_conformation['orderItems'] %}
                                {% if keys matches '/^\\d+$/' %}
                                    <div class="shopping-cart-item {% if items['recertified'] == 1 %} recertified-flag {% endif %}">
                                        <div class="shipping_product_img">
                                            <img src="{{ items['imageFilename'] }}" />
                                        </div>
                                        <div class="shipping_product_details">
                                            {% if items['recertified'] == 1 %}
                                              <div class="slider_flag">
                                                <div class="flag flag--gray-30">{{ "Recertified"|t }}</div>
                                              </div>
                                            {% endif %}

                                            <h4><strong>{{ items['collection'] }} </strong>{{ items['description']|convert_encoding('UTF-8', 'HTML-ENTITIES') | raw }}</h4>
                                            <div class="sku"><span>{{ items['skuCode'] }}</span></div>
                                            <div class="qty">{{ "Qty"|t }}: <span>{{ items['quantity'] }}</span></div>
                                            <div class="price">{{ "Price"|t }}:
                                            {% if items['skulistprice'] != "" %}
                                              <span class="strikePrice"> ${{ items['skulistprice']|number_format(2, '.', ',') }}</span>
                                            {% endif %}

                                             $<span>{{ items['unitPrice']|number_format(2, '.', ',') }}</span></div>
                                        </div>
                                        <div class="text-right"><span>${{ items['unitPrice']|number_format(2, '.', ',') }}</span></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="product-price-info shade">
                            <span class="text-left text-uppercase bl br bb border-dark">{{ "Subtotal"|t }}:</span>
                            <span class="text-right bb bold border-dark">${{ order_conformation['orderSubTotal']|number_format(2, '.', ',') }}</span>
                            <span class="text-left text-uppercase bl br bb border-dark">{{ "Shipping"|t }}: </span>
                            <span class="text-right bb bold border-dark">
                              {% if order_conformation['shippingCharge'] != 0 %}
                                ${{ order_conformation['shippingCharge']|number_format(2, '.', ',') }}
                              {% else %}
                                {{ "Free"|t }}
                              {% endif %}
                            </span>
                            <span class="text-left text-uppercase bl br bb border-dark">{{ "Sales Tax"|t }}: </span>
                            <span class="text-right bb bold border-dark">${{ order_conformation['tax'] }}</span>
                        </div>
                        <div class="product-price-info shipping_total">
                            <span>{{ "Total"|t }}</span>
                            <span class="text-right white-content bk-bg text-uppercase bold">${{ order_conformation['orderTotal']|number_format(2, '.', ',') }}</span>
                            <p class="order-total-des">{{ "prices are shown in US Dollars"|t }} ($USD)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="">{{ "No Records Found"|t }}</div>
{% endif %}
