<div class="card-cta {{cta_card_position}} {{cta_card_bg}} {{ cta_lazy_load }}">
{% set bgimage_src_real =  '/themes/custom/brizo_theme/images/lazyload.png' %}
{% set bgimage_src_real_desk =  '/themes/custom/brizo_theme/images/lazyload.png' %}
{% set bgimage_src_real_mobi =  '/themes/custom/brizo_theme/images/lazyload.png' %}
{% set data_src_desk = card_img_src %}
{% set data_src_mobi = card_img_mobile_src %}
{% set data_src = card_img_src %}
{% if cta_lazy_load == 'lazy-load-off' %}
  {% set bgimage_src_real = card_img_src %}
  {% set data_src = '' %}
{% endif %}
{% if card_img_alt is null %}
  {% set card_img_alt = card_cta_title["#object"].field_card_headline.0.value %}
{% endif %}
  <div class="card-cta-img">
    <a class="card-cta-link" href="{{card_cta_link}}" style="background-image:url({{ bgimage_src_real }})" {% if data_src is not empty %} data-src="{{ data_src }}" {% endif %} aria-label="{{ 'Link to ' ~ card_img_alt }}">
      <picture>
        <source {% if data_src_desk is not empty %} data-src-desk="{{ data_src_desk }}" {% endif %}  srcset="{{ bgimage_src_real_desk }}" media="(min-width: 768px)">
        <img {% if data_src_mobi is not empty %} data-src-mobile="{{ data_src_mobi }}" {% endif %}  srcset="{{ bgimage_src_real_mobi }}" alt="{{ 'Thumbnail image of ' ~ card_img_alt }}" class="image">
      </picture>
    </a>
  </div>
  <div class="card-cta-desc">
    <a class="card-cta-link" href="{{card_cta_link}}">
      <div class="card-cta-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": card_cta_title,
        } %}
      </div>
    </a>
    <div class="card-cta-button">
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        "link_url": card_cta_link,
        "link_content": card_cta_link_text,
      } %}
    </div>
  </div>
</div>
