@mixin img {
  display: block;
  height: auto;
  max-width: 100%;
  //width: 100%;
}

img,
picture {
  @include img;

  @include maxbp($large) {
    width: 100%;
  }

  @include breakpoint($r_1100) {
    width: 100%;
  }
}

figure {
  margin: 0; //override normalize
}

.figure__caption {
  font-style: italic;
}

.field_card_details{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  &.image_grid{
    a{
      text-decoration: none;
      display: inline-block;
    }
    .img_element{
      margin: 0px 0px 10px;
    }
  }
}
