
.showroom-data {
  background: $gray-20;
  color: $gray-60;
  max-width: 423px;
  width: 100%;
  padding: $space*4 24px;
  font-family: $font-condensed;
  font-size: 16px;
  position: relative;

  .icon-menu-close {
    position: absolute;
    right: 16px;
    cursor: pointer;
    top: 16px;
    font-size: 24px;
    color: $white;
  }

  a {
    color: $gray-60;
  }

  .showroom-title {
    text-transform: none;
    position: relative;
    padding: 0 $space*2 0 0;
    font-size: 24px;
    line-height: 27px;
    font-family: $font-subheading;
    color: $white;
  }

  .showroom-input {
    margin: $space+5 0;

    .js-form-item.form-item {
      margin: 0;
    }

    label {
      font-size: 18px;
      font-family: $font-body;
      padding: 0 16px;
      line-height: 22.5px;
    }

    .form-item.has-focus .form-item__label,
    .form-item.is-filled .form-item__label {
      font-size: 12.64px;
      left: 16px;
      padding: 0;
      top: 5px;
      transform: translate(0);
    }

    input {
      width: 100%;
      border: none;
      font-family: $font-body;
      font-size: 18px;
      color: $gray-20;
      padding: 25.5px 16px 10.5px;
      height: 59px;
      line-height: 22.5px;
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
    }
  }

  .showroom-links {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        position: relative;
        padding: 0 $space+5 0 0;
        margin: 0 $space 0 0;
        text-transform: uppercase;

        &::before {
          display: none;
        }

        &::after {
          content: "";
          display: block;
          background: $gray-60;
          height: 100%;
          width: 1px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        a {
          text-decoration: none;
          padding: 12px 20px;
          outline: none;
          font-size: 18px;
          line-height: 23px;
          color: $white;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}
