{% set bgimage_src_real = hib_logo_bg %}
{% set data_src = '' %}
{% set img_data_src = '' %}
{% set img_src_real = hib_logo_src %}
{% if hib_lazyload == 'lazy-load-on' %}
  {% set bgimage_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
  {% set img_src_real =  '/themes/custom/delta_theme/images/lazyload.png' %}
  {% set data_src = hib_logo_bg %}
  {% set img_data_src = hib_logo_src %}
{% endif %}
<div class="home-intro-banner {{ hib_lazyload }}">
  {% if hib_link %}
    <a class="hib-content" {% if hib_link is not null %} href={{ hib_link }} {% endif %} style="{% if hib_link_bg %}background-image:url({{ hib_link_bg }}) {% endif %}; {% if hib_link_color %} background-color:{{ hib_link_color }}{% endif %}">
  {% else %}
    <div class="hib-content">
  {% endif %}
    <div class="home-intro-banner-wrapper">
    <div class="hib-logo voiceiq_banner_img" style="background-image: url('{{ bgimage_src_real }}')" {% if data_src is not empty %} data-src="{{ data_src }}" {% endif %} >
    <img src="{{ img_src_real }}"
    {% if img_data_src is not empty %} data-src="{{ img_data_src }}" {% endif %} alt="{{ hib_logo_alt }}" />
      {% if hib_video %}
        <video autoplay muted loop controls>
          <source src="{{ hib_video }}" type="video/mp4">
        </video>
      {% endif %}
    </div>
    <div class="hib-title">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: hib_title,
      } %}
    </div>
    <div class="hib-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: hib_desc,
      } %}
    </div>
  </div>
  {% if hib_link %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>