/// Mixin - list-reset
/// Reset list item defaults when no margin, padding, list styles needed
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 1em;

  li {
    margin: 0 0 $space/2;
  }
}

// TODO: BEM selectors should be applied to wysiwyg-created content

@mixin ul--colored-list {
  list-style: none;
  position: relative;
  padding: 0 0 0 $gutter+5;

  &::before {
    background: $gray-10;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    top: 8px;
  }
}

@mixin ol--colored-list {
  list-style: none;
  position: relative;
  padding: 0 0 0 35px;
  counter-increment: li;

  &::before {
    content: counter(li);
    color: $gray-10;
    position: absolute;
    left: 0;
    width: 25px;
    border-radius: 100%;
    top: -3px;
    text-align: right;
    font-family: $font-body;
    font-size: 20.25px;
    line-height: 27px;
    letter-spacing: 0;
    font-weight: normal;

    @include maxbp($large) {
      top: 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }

  &::after {
    position: absolute;
    color: $gray-10;
    left: 25px;
    content: ".";
    top: 0;
    font-family: $font-body;
    font-weight: normal;
    font-size: 20.25px;

    @include maxbp($large) {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }
}

.text-long {
  ul {
    padding: 0 0 0 10px;

    li {
      @include ul--colored-list;
    }

    &.ul--no-color,
    &.no-list-color {
      padding: 0 0 0 10px;
      list-style-type: disc;
      margin: 0 0 0 20px;

      li {
        list-style: disc;
        padding: 0 0 0 $space/2;

        &::before {
          display: none;
        }
      }
    }
  }

  ol {
    padding: 0 0 0 10px;

    li {
      @include ol--colored-list;
    }

    &.ol--no-color,
    &.no-list-color {
      list-style-type: decimal;
      padding: 0 0 0 10px;
      margin: 0 0 0 20px;

      li {
        list-style-type: decimal;
        padding: 0 0 0 $space/2;

        &::before {
          display: none;
        }
      }
    }
  }
}
