<div class="pdp-section pdp-where-to-buy-section">
  <div class="pdp-top-section pdp-advt-top-section">
    {% include "@molecules/pdp-advance-top/pdp-advance-top.twig" with {
      "adv_pdp_prod_img_src": adv_pdp_prod_img_src,
      "adv_pdp_prod_img_alt": adv_pdp_prod_img_alt,
      "adv_pdp_page_name": adv_pdp_page_name,
      "collection_name": collection_name,
      "pdp_model_name": pdp_model_name,
      "pdp_prod_name": pdp_prod_name,
      "rating_value": rating_value,
      "finish": finish,
    }%}
  </div>

  <div class="pdp-dealers-wrapper">
    <div class="pdp-dealers-block">
      Dealers API Integration
    </div>
    <div class="more-dealers">
      <div class="more-dealers-text">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": more_dealers_text
        } %}
      </div>
      <div class="more-dealers-text-link">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text: more_dealers_link_text,
          cta_link_icon: "carrot-right",
          cta_link_icon_position: "right",
          cta_link_url: more_dealers_link_url,
          cta_link_icon_size: "11px"
        } %}
      </div>
    </div>
  </div>

</div>
