.tabs {
  text-align: center;

  @include maxbp($r_1000) {
    text-align: left;
  }

  .tab-block {
    border-bottom: 1px solid $gray-10;
    font-family: $font-condensed;
    text-transform: uppercase;
    padding: 0;

    @include maxbp($r_1000) {
      display: none;
    }

    .tab-link {
      display: inline-block;
      padding: 0 12px 12px;
      position: relative;
      margin: 0 $space+2;

      &::after {
        background: $gray-30;
        height: 4px;
        position: absolute;
        content: "";
        display: block;
        left: 0;
        bottom: 0;
        width: 0;
        transition: all ease 0.7s;
      }

      &.tab-title-active {
        &::after {
          width: 100%;
        }
      }

      a {
        color: $gray-10;
        text-decoration: none;
        display: block;
        outline: 0;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }

  .tab-accordion-title {
    display: none;
    font-size: 20px;
    padding: 16px 35px 16px 16px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    background: $gray-90;
    color: black;
    line-height: 24px;
    font-family: $font-condensed;
    margin: 0 0 5px;
    letter-spacing: 2px;

    &::before {
      content: "\e909";
      font-family: $font-icon;
      font-size: 14px;
      margin: 0;
      position: absolute;
      right: 16px;
    }

    &:hover {
      background: $gray-60;
      color: $black;
    }

    &.tab-accordion-active {
      background: $gray-10;
      color: $white;

      &::before {
        background: $white;
        content: "";
        display: inline-block;
        height: 1px;
        width: 14px;
        font-family: $font-condensed;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:hover {
        background: $gray-10;
        color: $white;
      }
    }

    @include maxbp($r_1000) {
      display: block;
    }
  }

  .tab-desc {
    .tab-data {
      @include breakpoint($r_1000) {
        display: none !important;
        margin: 0 $space;

        &-active {
          display: block !important;
        }
      }

      @include maxbp($r_1000) {
        display: none;
        margin: $space 0 0;
        padding: 0 $space+25;
        border-bottom: 1px solid #e7e7e7;

        &-active {
          display: block;
        }
      }
    }
  }
}

.drupal-tabs {
  display: inline-block;
  padding: 0;
  position: relative;
  margin: 0 $space/2;
  font-family: $font-condensed;
  text-transform: uppercase;
  background: $gray-10;

  a {
    text-decoration: none;
    display: block;
    outline: 0;
    font-size: 18px;
    color: $white;
    padding: 2px 15px;
  }
}
