{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{{ attach_library('brizo_theme/tabs') }}

{% set tabs_base_class = accordion_base_class|default('tabs') %}

<div {{ bem(tabs_base_class, (tabs_modifiers), tabs_blockname) }}>
  <ul class="tab-block">
    {% for tabs_item in tabs_items %}
      <li class="tab-link {% if loop.first %}tab-title-active{% endif %}" rel="{{ tabs_item.tab_title }}">
        {% include "@atoms/01-links/link/link.twig" with {
          "link_url": tabs_item.tab_url,
          "link_content": tabs_item.tab_title,
          "link_modifiers": tabs_item.link_modifiers,
        } %}
      </li>
    {% endfor %}
  </ul>

  <div class="tab-desc">
    {% for tabs_item in tabs_items %}
      <div class="tab-accordion-title {% if loop.first %}tab-accordion-active{% endif %}">{{ tabs_item.tab_title }}</div>
      <div class="tab-data {% if loop.first %}tab-data-active{% endif %}">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": tabs_item.tab_data
        } %}
      </div>
    {% endfor %}
  </div>
</div>
