{% set pdp_prod_price_base_class = pdp_prod_price_base_class|default('pdp-prod-price') %}

{% if pdp_prod_sale_price and showSalePrice %}
<div class="sale-list-price">

{% if pdp_prod_sale_price and showSalePrice %}
<div class="list-price">
 <span>List Price{% if isRecomProduct == false %}*{% endif %}:</span>
 <div {{ bem(pdp_prod_price_base_class, (pdp_prod_price_modifiers), pdp_prod_price_blockname) }}>
   ${{ pdp_prod_sale_price}}
 </div>
</div>
 {% endif %}

{% if pdp_prod_price %}
<div class="sale-price">
  <span>Sale Price{% if isRecomProduct == false %}*{% endif %}:</span>
 <div {{ bem(pdp_prod_price_base_class, (pdp_prod_price_modifiers), pdp_prod_price_blockname) }}>
   ${{ pdp_prod_price }}
 </div>
</div>
{% endif %}

</div>
{% else %}
{% if pdp_prod_price %}
<div class="list-price">
 <span>List Price{% if isRecomProduct == false %}*{% endif %}:</span>
 <div {{ bem(pdp_prod_price_base_class, (pdp_prod_price_modifiers), pdp_prod_price_blockname) }}>
   ${{ pdp_prod_price }}
 </div>
</div>
 {% endif %}
{% endif %}
