{% set order_number_base_class = order_number_class|default('order_number') %}
{% if order_number %}
 <div {{ bem(order_number_base_class, (order_number_modifiers), order_number_blockname) }}>
   <span>{{ order_name }}: {{ order_number }}</span>
 </div>
{% endif %}
