@import url("https://use.typekit.net/suo7pel.css");

@font-face {
  font-family: 'akzidenzgroteskregular';
  src: url('../fonts/sans-serif/akzidenz-grotesk-roman-webfont.eot');
  src:
    url('../fonts/sans-serif/akzidenz-grotesk-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sans-serif/akzidenz-grotesk-roman-webfont.woff2') format('woff2'),
    url('../fonts/sans-serif/akzidenz-grotesk-roman-webfont.woff') format('woff'),
    url('../fonts/sans-serif/akzidenz-grotesk-roman-webfont.ttf') format('truetype'),
    url('../fonts/sans-serif/akzidenz-grotesk-roman-webfont.svg#akzidenzgroteskregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// akzidenz-grotesk-condensed-regular

@font-face {
  font-family: 'akzidenz-grotesk_stdRgCn';
  src: url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-regular/akzidenzgroteskstd-cn-webfont.eot');
  src:
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-regular/akzidenzgroteskstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-regular/akzidenzgroteskstd-cn-webfont.woff2') format('woff2'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-regular/akzidenzgroteskstd-cn-webfont.woff') format('woff'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-regular/akzidenzgroteskstd-cn-webfont.ttf') format('truetype'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-regular/akzidenzgroteskstd-cn-webfont.svg#akzidenz-grotesk_stdRgCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

// akzidenz-grotesk-condensed-bold

@font-face {
  font-family: 'akzidenz-grotesk_stdBdCn';
  src: url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-bold/akzidgrostdbolcnd-webfont.eot');
  src:
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-bold/akzidgrostdbolcnd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-bold/akzidgrostdbolcnd-webfont.woff2') format('woff2'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-bold/akzidgrostdbolcnd-webfont.woff') format('woff'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-bold/akzidgrostdbolcnd-webfont.ttf') format('truetype'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-bold/akzidgrostdbolcnd-webfont.svg#akzidenz-grotesk_stdBdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

// akzidenz-grotesk-condensed-italic

@font-face {
  font-family: 'akzidenz-grotesk_stdCnIt';
  src: url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-italic/akzidgrostdcndita-webfont.eot');
  src:
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-italic/akzidgrostdcndita-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-italic/akzidgrostdcndita-webfont.woff2') format('woff2'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-italic/akzidgrostdcndita-webfont.woff') format('woff'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-italic/akzidgrostdcndita-webfont.ttf') format('truetype'),
    url('../fonts/akzidenz-grotesk-condensed/akzidenz-grotesk-condensed-italic/akzidgrostdcndita-webfont.svg#akzidenz-grotesk_stdCnIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?11uqn');
  src:
    url('../fonts/icomoon/icomoon.eot?11uqn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?11uqn') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?11uqn') format('woff'),
    url('../fonts/icomoon/icomoon.svg?11uqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// DIN1451

@font-face {
  font-family: "din1451-engschrift";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/din1451/engschrift/7c3f8184-8a98-444a-822c-4e9a89edb99f.woff") format('woff');
  src: url("../fonts/din1451/engschrift/f4bdc42f-e58e-43ea-afec-ae4999e2fa73.woff2") format('woff2');
}

@font-face {
  font-family: "din1451-mittelschrift";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts//din1451/mittelschrift/92a9b2cd-dcf4-499c-9ee4-496fe331d251.woff") format('woff');
  src: url("../fonts/din1451/mittelschrift/47f85726-9844-4e03-9f22-c1f4126761f7.woff2") format('woff2');
}

// Domaine

@font-face {
  font-family: 'domaine-display-narrow-regular';
  src: url('../fonts/domaine/domaine-display-narrow-web-regular/domaine-display-narrow-web-regular.eot');
  src:
    url('../fonts/domaine/domaine-display-narrow-web-regular/domaine-display-narrow-web-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/domaine/domaine-display-narrow-web-regular/domaine-display-narrow-web-regular.woff2') format('woff2'),
    url('../fonts/domaine/domaine-display-narrow-web-regular/domaine-display-narrow-web-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'domaine-display-narrow-web-regular-italic';
  src: url('../fonts/domaine/domaine-display-narrow-web-regular-italic/domaine-display-narrow-web-regular-italic.eot');
  src:
    url('../fonts/domaine/domaine-display-narrow-web-regular-italic/domaine-display-narrow-web-regular-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/domaine/domaine-display-narrow-web-regular-italic/domaine-display-narrow-web-regular-italic.woff2') format('woff2'),
    url('../fonts/domaine/domaine-display-narrow-web-regular-italic/domaine-display-narrow-web-regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'domaine-text-regular';
  src: url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.eot');
  src:
    url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.woff2') format('woff2'),
    url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'domaine-text-bold';
  src: url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.eot');
  src:
    url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.woff2') format('woff2'),
    url('../fonts/domaine/domaine-text-web-regular/domaine-text-web-regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'domaine-display-narrow-web-medium-italic';
  src: url('../fonts/domaine/domaine-display-narrow-web-medium-italic/font.eot');
  src:
    url('../fonts/domaine/domaine-display-narrow-web-medium-italic/font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/domaine/domaine-display-narrow-web-medium-italic/font.woff2') format('woff2'),
    url('../fonts/domaine/domaine-display-narrow-web-medium-italic/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'domaine-text-regular-italic';
  src: url('../fonts/domaine/domaine-text-web-regular-italic/domaine-text-web-regular.eot');
  src:
    url('../fonts/domaine/domaine-text-web-regular-italic/domaine-text-web-regular-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/domaine/domaine-text-web-regular-italic/domaine-text-web-regular-italic.woff2') format('woff2'),
    url('../fonts/domaine/domaine-text-web-regular-italic/domaine-text-web-regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//pfdinmono

@font-face {
  font-family: 'pfdinmono-regular';
  src: url("../fonts//pfdinmono/pfdinmono-regular/font.woff") format('woff');
  src: url("../fonts/pfdinmono/pfdinmono-regular/font.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
