{{ attach_library('delta_theme/search-block') }}

<div class="search-wrapper" id="search-wrapper">
  <form class="srp-form" action="/search-results" id="gloabl-search-form" class="parts-search-results">
    <div class="search-input-block">
      <input type="text" id="global-search-text" placeholder="Enter model number here..." value="" name="title" class="srp-form__field form-item__textfield global-search-text"/>
    </div>
    <div class="search-submit-block">
      <button class="srp-form__submit parts-form-submit" name="Search submit button" title="Search submit button" aria-label="Search" >
          {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_name: "search",
              icon_size: 24,
              icon_color: 'white',
              hidden: true,
          } %}
      </button>
    </div>
  </form>
  <div class="search-block-suggestion-result-parts" id="search-block-suggestion-result-parts"></div>
</div>
