{{ attach_library('delta_theme/search-block') }}

<div class="search-wrapper" id="search-wrapper">
  <form class="srp-form" action="/search" id="gloabl-search-form">
    <div class="search-input-block">
      <input type="text" id="global-search-text" placeholder="search value" value="" name="title" class="srp-form__field form-item__textfield" />
    </div>
    <div class="search-submit-block">
      <button class="srp-form__submit" name="Search submit button" title="Search submit button" aria-label="Search" >
          {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_name: "search",
              icon_size: 24,
              icon_color: 'gray-10',
              hidden: true,
          } %}
      </button>
    </div>
  </form>
</div>
