{% if current_user_name is empty %}
  <div class="user_login">
      <h2>{{ "Login"|t }}</h2>
      {{ form.form_build_id }}
      {{ form.form_token }}
      {{ form.form_id }}
      <div class="user-login-error"></div>
      <div class="popup-user-login">
          {{ form.username }}
          <div class="pass">
              {{ form.password }}
              {{ form.previous_url }}
          </div>
          <div class="rememberme custom-input custom-input--checkbox">
              {{ form.persistent_login }}
          </div>
           {{ form.actions }}
      </div>
  </div>
{% else %}
<div class="user-details">
<div class="item-image item-imageright center">
    <img src="{{ base_path ~ directory }}/images/userbig.png" alt="" border="0">
</div>
  <h3>{{ "Logout"|t }}</h3>
  <span>{{ "Logged as"|t }}</span> {{ current_user_name }}
  <a href="/user/logout">{{ "Log Out"|t }}</a>
</div>
{% endif %}
