
<div class="section_wrapper center-align">
            
<h2 class="h2">
      Section lead Example
  </h2>
    
    
              
<a class="link link--section_link"
  href="#">
      Medium CTA link
  </a>
    
      </div>