<div class="case-study-card">
  <img class="case-study-card__img" src="{{ img_url }}" alt="{{ 'Case of study image'|t }}" />
  <a class="case-study-card__download" href="{{ url }}">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: "pdf-download",
      icon_size: 36,
      hidden: true,
    } %}
    <span class="case-study-card__download-size">({{ file_size }})</span>
  </a>
  <div class="case-study-card__title">{{ title }}</div>
</div>
