<div class="grid-container grid-container--medium">
  <div class="case-study-grid">
    {% for i in 1..8 %}
      {% include "@molecules/case-study-card/case-study-card.twig" with {
        file_size: "1.48 MB",
        img_url: "http://placehold.it/116x150",
        title: "Simon The Fashion Mall at Keystone",
        url: "/"
      } %}
    {% endfor %}
  </div>
</div>

