{{ attach_library('delta_theme/video-on-popup') }}

<div class="video-card">
  <a href="#" tabindex="0" role="link" class="video-card__thumbnail" data-dialog-show="innovation-video-modal" aria-label="{{ video_title|striptags }}" title="{{ video_title|striptags }}">
    <img class="video-card__thumbnail__img" src="{{ video_thumbnail_src }}" alt="{{ video_title }}" />
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: "play",
      icon_size: '30%',
      hidden: true,
    } %}
  </a>

  <div class="video-popup-wrapper">
    <div class="video-pop-data">
      <video id="video-src" class="video-popup-source" controls="true">
        <source src="{{ video_source }}" type="video/mp4">
        <source src="{{ video_source }}" type="video/webm">
      </video>
    </div>
  </div>
  
  <div class="video-card__title"><strong><em>{{ video_title }}</em></strong></div>
</div>
