
<script data-name="reload" data-src="/dist/02-molecules/menus/tabs.js"></script>


<div class="tabs">
  <ul class="tab-block">
          <li class="tab-link tab-title-active" rel="Tab 1">
        
<a class="link"
  href="#">
      Tab 1
  </a>
      </li>
          <li class="tab-link " rel="Tab 2">
        
<a class="link"
  href="#">
      Tab 2
  </a>
      </li>
          <li class="tab-link " rel="Tab 3">
        
<a class="link"
  href="#">
      Tab 3
  </a>
      </li>
          <li class="tab-link " rel="Tab 4">
        
<a class="link"
  href="#">
      Tab 4
  </a>
      </li>
      </ul>

  <div class="tab-desc">
          <div class="tab-accordion-title tab-accordion-active">Tab 1</div>
      <div class="tab-data tab-data-active">
        
  <p class="paragraph">
          This is Tab data 1. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>

      </div>
          <div class="tab-accordion-title ">Tab 2</div>
      <div class="tab-data ">
        
  <p class="paragraph">
          This is Tab data 2. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </p>

      </div>
          <div class="tab-accordion-title ">Tab 3</div>
      <div class="tab-data ">
        
  <p class="paragraph">
          Tab data 3
      </p>

      </div>
          <div class="tab-accordion-title ">Tab 4</div>
      <div class="tab-data ">
        
  <p class="paragraph">
          Tab data 4
      </p>

      </div>
      </div>
</div>
