<div class="text-long">
  
  <p class="paragraph">
          For WYSIWYG look we have to add text-long class as parent
      </p>


  
<ol class="ol">
      
<li class="list-item">
          OL - list 1
  </li>
      
<li class="list-item">
      <strong>This is the optional label</strong>     OL - list 2
  </li>
      
<li class="list-item">
          OL - list 3
  </li>
      
<li class="list-item">
          OL - list 4
  </li>
  </ol>
</div>
