<div class="text-long">
  {% include "@atoms/02-text/text/01-paragraph.twig" with {
    "paragraph_content": li_desc,
  } %}

  {% include "@atoms/03-lists/01-ol.twig" with {
    "ol_modifiers": ol_modifiers,
  } %}
</div>
