.flag {
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  font-family: $font-heading;
  line-height: 1rem;
  color: $white;
  text-align: center;
  white-space: nowrap;
  padding: 5px 20px;
  min-width: 140px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include medium {
    min-width: 160px;
    transform: translate(-66px, -19px) rotate(-45deg);
    transform-origin: 100% 0;
  }

  @include maxbp($medium) {
    min-width: auto;
    padding: 5px 10px;
  }

  &--gray-30 {
    background-color: $gray-30;
  }

  &--gray-60 {
    background-color: $gray-60;
  }

  &--delta-red {
    background-color: $notification-error;
  }
}

.flag-mobile {
  display: none;
}

.slider_flag {
  @include maxbp($medium) {
    display: none;

    &.flag-mobile {
      display: block;
      position: static;

      .flag {
        letter-spacing: 1px;
        padding: 5px 20px;
        min-width: 10px;
      }
    }
  }
}
