<div class="dtilb-wrapper">
  <div class="dtilb-data">
    <div class="dtilb-title">
      <a href="{{dtilb_cta_link_url}}" >
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 4,
          "heading": dtilb_title,
        } %}
      </a>
    </div>
    <div class="dtilb-desc">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: dtilb_desc,
      } %}
    </div>
    <div class="dtilb-image">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        "img_src": dtilb_img_url,
        "img_alt": dtilb_img_alt,
      } %}
    </div>
    <div class="dtilb-cta-link">
      {% include "@atoms/06-buttons/01-button.twig" with {
        button_content: dtilb_cta_link_content,
        button_url: dtilb_cta_link_url,
        button_modifiers: dtilb_cta_link_modifier,
      } %}
    </div>
  </div>
</div>
