{{ attach_library('delta_theme/service-part-tabs') }}
{{ attach_library('delta_theme/accordion') }}

<div class="service-part-tabs">
  <ol class="service-parts__tablist" data-tabs role="tablist">
    <li class="is-active"><a class="service-part-link" href="#room" role="tab" data-tabby-default aria-selected="true" >Room</a></li>
    <li><a class="service-part-link" href="#product-type" role="tab">Product Type</a></li>
    <li><a class="service-part-link" href="#product-description" role="tab">Product Description</a></li>
    <li><a class="service-part-link" href="#issue" role="tab">Issue</a></li>
  </ol>

  <div class="service-parts__tabpanel" id="room" role="tabpanel">
    <div class="sp-tab-data-wrapper">
      <div class="sp-tab-data-title-wrapper">
        <div class="sp-tab-data-title">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 3,
            "heading": sp_tab_data_title_step1,
          } %}
        </div>
      </div>
      <div class="sp-tab-data-desc">
        <div class="sp-first-tab-img sp-tab-img-block">
          {% for sp_ftab_img in sp_ftab_imgs %}
            {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
              "img_link_image_url": sp_ftab_img.img_link_image_url,
              "img_link_image_alt": sp_ftab_img.img_link_image_alt,
              "img_link_title": sp_ftab_img.img_link_title,
              "img_link_main_url": sp_ftab_img.img_link_main_url,
            } %}
          {% endfor %}
        </div>
      </div>

      <a class="sp-nav-link" href="#product-type" data-tab-link>Next</a>
    </div>
  </div>

  <div hidden="hidden" class="service-parts__tabpanel" id="product-type" role="tabpanel">
    <div class="sp-tab-data-wrapper">
      <div class="sp-tab-data-title-wrapper">
        <a class="sp-nav-link" href="#room" data-tab-link>Back</a>
        <div class="sp-tab-data-title">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 3,
            "heading": sp_tab_data_title_step2,
          } %}
        </div>
      </div>
      <div class="sp-tab-data-desc">
        <div class="sp-second-tab-img sp-tab-img-block">
          {% for sp_stab_img in sp_stab_imgs %}
            {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
              "img_link_image_url": sp_stab_img.img_link_image_url,
              "img_link_image_alt": sp_stab_img.img_link_image_alt,
              "img_link_title": sp_stab_img.img_link_title,
              "img_link_main_url": sp_stab_img.img_link_main_url,
            } %}
          {% endfor %}
        </div>
      </div>

      <a class="sp-nav-link" href="#product-description" data-tab-link>Next</a>
      <a class="sp-nav-link" href="#room" data-tab-link>Back</a>
    </div>
  </div>

  <div hidden="hidden" class="service-parts__tabpanel" id="product-description" role="tabpanel">
    <div class="sp-tab-data-wrapper">
      <div class="sp-tab-data-title-wrapper">

        <div class="sp-tab-data-title">
          <a class="sp-nav-link" href="#room" data-tab-link>Back</a>

          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 3,
            "heading": sp_tab_data_title_step3,
          } %}
        </div>
        <div class="sp-ttl-prod-wrapper">
          <div class="sp-ttl-prd-mach-no">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_ttl_prod_number,
              paragraph_base_class: "sps-ttl-prd-no"
            } %}
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_ttl_prod_number_text,
              paragraph_base_class: "sps-ttl-prod-no-text"
            } %}
          </div>
          <div class="sp-ttl-prd-view">
            {% include "@atoms/06-buttons/01-button.twig" with {
              "button_url": sp_ttl_view_maching_url,
              "button_content": sp_ttl_view_maching_content,
              "button_modifiers": sp_ttl_view_maching_modifiers,
            } %}
          </div>
        </div>
      </div>

      <div class="sp-tab-data-desc">
        <div class="accordion">

          <div class="accordion-term is-active">
            <div class="acc-title">Item 1</div>
            <div class="acc-ans"></div>
          </div>
          <div class="accordion-def">
            <div class="sp-third-tab-img sp-tab-img-block">
              {% for sp_ttab_img in sp_ttab_imgs %}
                {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
                  "img_link_image_url": sp_ttab_img.img_link_image_url,
                  "img_link_image_alt": sp_ttab_img.img_link_image_alt,
                  "img_link_title": sp_ttab_img.img_link_title,
                  "img_link_main_url": sp_ttab_img.img_link_main_url,
                } %}
              {% endfor %}
            </div>
          </div>

          <div class="accordion-term">
            <div class="acc-title">Item 2</div>
            <div class="acc-ans"></div>
          </div>
          <div class="accordion-def">
            <div class="sp-third-tab-img sp-tab-img-block">
              {% for sp_tstab_img in sp_tstab_imgs %}
                {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
                  "img_link_image_url": sp_tstab_img.img_link_image_url,
                  "img_link_image_alt": sp_tstab_img.img_link_image_alt,
                  "img_link_title": sp_tstab_img.img_link_title,
                  "img_link_main_url": sp_tstab_img.img_link_main_url,
                } %}
              {% endfor %}
            </div>
          </div>

          <div class="accordion-term">
            <div class="acc-title">Item 3</div>
            <div class="acc-ans"></div>
          </div>
          <div class="accordion-def">
            <div class="sp-third-tab-img sp-tab-img-block">
              {% for sp_tstab_img in sp_tstab_imgs %}
                {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
                  "img_link_image_url": sp_tstab_img.img_link_image_url,
                  "img_link_image_alt": sp_tstab_img.img_link_image_alt,
                  "img_link_title": sp_tstab_img.img_link_title,
                  "img_link_main_url": sp_tstab_img.img_link_main_url,
                } %}
              {% endfor %}
            </div>
          </div>

          <div class="accordion-term">
            <div class="acc-title">Item 4</div>
            <div class="acc-ans"></div>
          </div>
          <div class="accordion-def">
            <div class="sp-third-tab-img sp-tab-img-block">
              {% for sp_tstab_img in sp_tstab_imgs %}
                {% include "@atoms/04-images/image-with-link/image-with-link.twig" with {
                  "img_link_image_url": sp_tstab_img.img_link_image_url,
                  "img_link_image_alt": sp_tstab_img.img_link_image_alt,
                  "img_link_title": sp_tstab_img.img_link_title,
                  "img_link_main_url": sp_tstab_img.img_link_main_url,
                } %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="sp-matching-bottom">
        <a href="#issue" class="sp-nav-link" data-tab-link>Next</a>
        <a href="#product-type" class="sp-nav-link" data-tab-link>Back</a>

        <div class="sp-ttl-prod-wrapper">
          <div class="sp-ttl-prd-mach-no">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_ttl_prod_number,
              paragraph_base_class: "sps-ttl-prd-no"
            } %}
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sps_ttl_prod_number_text,
              paragraph_base_class: "sps-ttl-prod-no-text"
            } %}
          </div>
          <div class="sp-ttl-prd-view">
            {% include "@atoms/06-buttons/01-button.twig" with {
              "button_url": sp_ttl_view_maching_url,
              "button_content": sp_ttl_view_maching_content,
              "button_modifiers": sp_ttl_view_maching_modifiers,
            } %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div hidden="hidden" class="service-parts__tabpanel" id="issue" role="tabpanel">

    <div class="sp-tab-data-wrapper">
      <div class="sp-tab-data-title-wrapper">
        <a class="sp-nav-link" href="#room" data-tab-link>Back</a>
        <div class="sp-tab-data-title">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 3,
            "heading": sp_tab_data_title_step4_1,
          } %}

          <div class="sp-tab-data-txt">
            {% include "@atoms/02-text/text/01-paragraph.twig" with {
              paragraph_content: sp_tab_data_txt4_1,
            } %}
          </div>
        </div>
      </div>
      <div class="sp-tab-data-desc">
        <div class="sp-forth-tab-img sp-tab-img-block">
          <div class="grid">
            {% for maching_prod_result in maching_prod_results %}
              <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
                {% include "@organisms/product-tile/product-tile.twig" with {
                  "collection_name": maching_prod_result.type,
                  "model_number": maching_prod_result.modelNumber,
                  "model_image": maching_prod_result.image,
                  "description": maching_prod_result.description,
                  "view_details_link": maching_prod_result.productUrl
                } %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
