<script data-name="reload" data-src="/dist/01-atoms/global-notifications/notifications.js"></script>

  
      <div class="alert alert--warning">
        Global warning message <i class="icon-filter-hide-small"></i>
      </div>
  


