.accordion-term {
  border-top: 1px solid $gray-90;
  color: $gray-20;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 1em 0;

  &::before {
    content: "+";
    padding: 0.8em;
    top: 0.35em;
  }

  &:hover {
    color: $gray-10;
  }

  &.is-active {
    color: $gray-10;

    &::before {
      content: "-";
      top: 0.45em;
    }

    & + dd {
      height: auto;
      margin: 0 2em;
      overflow: visible;
      padding-bottom: 1em;
    }
  }
}

.accordion-def {
  margin: 0 2em;

  &.active {
    height: 0;
    margin: 0 2em;
    overflow: hidden;
  }
}

.accordion-wrapper {
  margin: 0 50px 0;
}

.accordion-block {
  border-bottom: 1px solid $gray-60;

  .accordion-title {
    font-size: 20.25px;
    padding: 16px 35px 16px 16px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    background: $gray-90;
    color: black;
    line-height: 23px;
    font-family: $font-condensed;
    margin: 0 0 5px;

    &::before {
      content: "\e909";
      font-family: $font-icon;
      font-size: 14px;
      margin: 0;
      position: absolute;
      right: 16px;
    }

    &:hover {
      background: $gray-60;
      color: $black;
    }

    &-active {
      color: $gray-10;
      margin: 0;

      &::before {
        background: $white;
        content: "";
        display: inline-block;
        height: 1px;
        width: 12px;
        font-family: $font-condensed;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:hover {
        color: $gray-10;
      }
    }
  }

  .accordion-desc {
    display: none;
    margin: $space $space+25;
  }
}
