{% set accordion_item_base_class = accordion_item_base_class|default('accordion-block') %}

<div {{ bem(accordion_item_base_class, (accordion_item_modifiers), accordion_item_blockname) }}>
  <div class="accordion-title">
    {{accordion_title}}
  </div>
  <div class="accordion-desc">
    {{accordion_desc}}
  </div>
</div>
