{{ attach_library('brizo_theme/accordion') }}

<div class="accordion">
  {% include "@molecules/accordion-item/_accordion.twig" with {
    "accordion_title": accordion_title,
    "accordion_desc": accordion_desc,
  } %}
</div>
