.card-cta {
  .card-cta-button {
    .card-cta-link {
      display: none;
    }
  }

  &.card-cta-dark {
    background: $gray-20;
    color: $white;

    .card-cta-desc {
      .card-cta-title {
        border-color: $white;

        h4 {
          color: $white;
        }
      }

      .card-cta-button {
        p {
          color: $white;
        }
      }
    }

    // &:hover {
    //   .card-cta-desc {
    //     .card-cta-button {
    //       p {
    //         color: $gray-30;
    //       }
    //     }
    //   }
    // }
  }

  &.card-cta-light {
    background: $white;
    color: $black;

    .card-cta-button {
      p {
        color: $gray-10;
      }
    }
  }

  &.card-cta-left-image,
  &.card-cta-right-image {
    display: flex;
    align-items: center;

    @include maxbp($r_600) {
      display: block;
    }

    .card-cta-img {
      max-width: 60%;
      flex: 0 1 60%;

      @include maxbp($r_600) {
        max-width: 100%;
      }

      .card-cta-link {
        height: 327px;
      }
    }

    .card-cta-desc {
      max-width: 40%;
      flex: 0 1 40%;

      @include maxbp($r_600) {
        max-width: 100%;
        padding: 17px 16px 15px !important;
      }
    }
  }

  &.card-cta-right-image {
    .card-cta-img {
      order: 2;
    }

    .card-cta-desc {
      order: 1;

      @include maxbp($r_1300) {
        padding: 48px 35px 47px;
      }

      @include maxbp($r_1200) {
        padding: 0 20px 0 30px;
      }
    }
  }

  &.card-cta-left-image {
    .card-cta-desc {
      @include maxbp($r_1200) {
        padding-left: 20px;
      }
    }
  }

  .card-cta-img {
    .card-cta-link {
      height: 479px;
      width: 100%;
      background-size: cover;
      display: block;
      background-position: center;

      @include maxbp($large) {
        background: none !important;
        height: auto !important;
      }
    }

    picture {
      display: none;

      @include maxbp($large) {
        display: block;
      }
    }

    img {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    outline: none;
  }

  .card-cta-desc {
    padding: 35px 64px;

    @include maxbp($large) {
      text-align: center;
      padding: 17px 16px 15px;
    }

    @include maxbp(1432px) {
      padding: 35px 44px;
    }

    @include maxbp(1292px) {
      padding: 35px 34px;
    }

    .card-cta-title {
      padding: 0 0 10px;
      border-bottom: 2px solid $black;
      margin: 0 0 10px;
      display: inline-block;

      h4 {
        font-family: $font-subheading;
        text-transform: none;
        font-size: 2rem;
        line-height: 2.25rem;
        transition: all ease 0.5s;
        letter-spacing: 0;
        border-bottom: none;
        margin: 0;

        @include maxbp($r_1000) {
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }

      @include maxbp($r_1000) {
        margin: 0 0 10px;
      }
    }

    .card-cta-link {
      font-size: 2rem;
      line-height: 2.25rem;

      @include maxbp($r_1000) {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}
