
<div class="section_wrapper center-align">
            
<h2 class="h2">
      Section lead Example
  </h2>
    
          
  <p class="section__content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

    
              
<a class="link link--section_link"
  href="#">
      Medium CTA link
  </a>
    
      </div>