{{ attach_library('delta_theme/accordion') }}

<div class="faq-wrapper">
{% block list_content %}
  {% for faq in faqlists %}
  <div class="faq-block">
    {% include "@atoms/03-lists/_list-item-definition.twig" with {
        dl_term_base_class: 'accordion-term accordion-term-left',
        dl_def_base_class: 'accordion-def',
        dl_term: faq.faq_question,
        dl_def: faq.faq_answer
    } %}

    <div class="faq-list-wrapper">
      <div class="faq-helpfull-ans">
        {% include "@atoms/01-links/link/link.twig" with {
          "link_content": faq.faq_helpfull_anstext,
          "link_url": faq.faq_helpfull_url
        } %}
      </div>

      <div class="faq-need-help">
        Still need help?
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text: faq.faq_need_help_text,
          cta_link_icon: "carrot-right",
          cta_link_icon_position: "right",
          cta_link_url: faq.faq_need_help_url,
          cta_link_icon_size: "9px"
        } %}
      </div>

      <div class="faq-print-ans">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_text: faq.faq_print_answer,
          cta_link_icon: "cta-print",
          cta_link_icon_position: "left",
          cta_link_url: faq.faq_print_url,
        } %}
      </div>

    </div>
  </div>

  {% endfor %}
{% endblock %}
</div>
