.product-filter__section__body1 {
  height: 85px;
  overflow: hidden !important;

  &.active-prod {
    height: auto;
  }
}

#block-views-block-kitchen-page-term-edit, #block-views-block-collection-detail-page-bathroom-page-term-edit{
  @include breakpoint(1024px){
    position: absolute;
    z-index: 99;
  }
}

.edit-icon-link{
  display: block;
  text-align: right;
  padding: 10px 15px;
  color: #000;
  @include breakpoint(1024px){
    margin-top: 20px;
  }
}

.edit-plp-img-icon{
   width: 15px;
   display: inline-block;
   vertical-align: middle;
}

.alternative-image-copy-card{
  display: flex;
  margin: 0px auto;
  @include breakpoint(750px){
    margin: 0 auto 50px;
  }
}

.layout--alternative-image-copy-card{
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(750px){
    align-items: center;
  }
  &.layout--alternative-image-copy-card--50-50{
    .layout__region--first {
      &.left-img{
        flex: 0 1 100%;
        width: 100%;
        @include breakpoint(750px){
          flex: 0 1 57%;
          width: 50%;
        }
      }
      &.left-text{
        flex: 0 1 100%;
        width: 100%;
        order: 2;
        @include breakpoint(750px){
          z-index: 10;
          flex: 0 1 43%;
          width: 45%;
          margin-right: -50px;
          order: 1;
        }
      }
    }

    .layout__region--second {
      &.right-img{
        flex: 0 1 100%;
        width: 100%;
        order: 1;
        @include breakpoint(750px){
          flex: 0 1 57%;
          width: 50%;
          order: 2;
        }
      }
      &.right-text{
        flex: 0 1 100%;
        width: 100%;
        @include breakpoint(750px){
          z-index: 10;
          flex: 0 1 43%;
          width: 45%;
          margin-left: -50px;
        }
      }
    }
    .finish-product-img{
      max-width: 100%;
      display: none;
      width: 100%;
      &.selected{
        display: block;
      }
    }
    .overlap_column{
      margin: 20px auto 0;
      p{
        margin: 0px;
      }
      &.copy{
        background: #fff;
        box-shadow: 10px 20px 40px #00000040;
        margin-top: 0px;
        padding: 50px;
        z-index: 99;
        text-align: left;
        @include breakpoint(750px){
          margin-left: 0px;
          margin-top: 0px;
          padding: 50px;
          padding: 8% 7%;
          align-self: flex-start;                   
        }
        h3{
          font-size: 1.75rem;
          @include breakpoint(750px){
            line-height: 1em;
            font-size: 3vw;
            & + p{
              font-size: 1.5vw;
            }
          }
          & + p{
            margin: 50px 0 50px;
            font-family: $font-calluna-light;
          }
        }
        .button-primary{
          display: block;
          text-decoration: none;
          text-align: center;
          background: #b52d3d;
          border: 2px solid #b52d3d;
          line-height: 4.25em;
          color: #fff;
          font-weight: bold;
          font-size: 0.75rem;
          text-transform: uppercase;
          margin: 0 auto 80px;
          transition: all 0.2s ease-in-out;
          @include breakpoint(750px){
            font-size: 1.25vw;
          }
          &:hover{
            background: #fff;
            color: #b52d3d;
          }
        }
      } 
      &.section-lead-in{
        @include breakpoint(750px){
          margin: 0px 0 0;
        }
      }     
    }
    
  }
}

.collection-swatches{
  span{
    font-weight: bold;
  }
  .finish-name{
    color: #b52d3d;
    display: inline-block;
  }
  ul{
    padding: 0px;
    margin: 0px;
    li{
      padding: 0;
      display: inline-block;
      list-style: none;
      margin-bottom: 0.2em;
    }
  }
  .finish-chip{
    border: 2px solid transparent;
    display: block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-size: 200%;
    font-size: 0;
    &.selected{
      border: 2px solid #b52d3d
    }
  }
}