{{ attach_library('delta_theme/plp-scrollTabs') }}

{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    {% if site_title %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 1,
        "heading": "Home",
        "heading_modifiers": ["margin"],
      } %}
    {% endif %}

    <div class="plp-wrapper">
      <aside class="plp-sidebar">
        {% include "@organisms/product-filter/product-filter.twig" %}
      </aside>

      <div class="plp-results">
        <header class="plp-results__header">
          <div class="plp-results__header__primary">
            <div class="plp-results__qty-wrap">
              <span class="plp-results__qty">100</span>
              {% include "@atoms/02-text/00-headings/_heading.twig" with {
                "heading_level": 6,
                "heading": "Product Category Total",
                "heading_modifiers": ["light"],
              } %}
            </div>

            {% include "@atoms/05-forms/select/select.twig" with {
              label: "Sort By",
              options: {
                1: {
                  type: "option",
                  label: "Sort By",
                  value: ""
                },
                2: {
                  type: "option",
                  label: "Price: High to Low",
                  value: "price-high-to-low"
                }
              },
              select_modifiers: ["sm"]
            } %}
          </div>

          <div class="plp-results__filters">
            {% include "@atoms/filter-chip/_filter-chip.twig" with {
              text: "Default filter facet chip"
            } %}

            {% include "@atoms/filter-chip/_filter-chip.twig" with {
              text: "Default filter facet chip"
            } %}

            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_modifiers: ["xs"],
              cta_link_text: "Clear all filters",
              cta_link_icon: "filter-hide-small",
              cta_link_icon_position: "left",
            } %}
          </div>
        </header>

        <div class="grid">
          {% for i in 1..16 %}
            <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
              {% include "@organisms/product-tile/product-tile.twig" %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endblock %}

{% endembed %}
