<div class="text-long">
  
  <p class="paragraph">
          For WYSIWYG look we have to add text-long class as parent
      </p>


  
<ul class="ul">
            
<li class="list-item">
          UL - list 1
  </li>
          
<li class="list-item">
      <strong>This is the optional label</strong>     UL - list 2
  </li>
          
<li class="list-item">
          UL - list 3
  </li>
          
<li class="list-item">
          UL - list 4
  </li>
      </ul>
</div>
