<div class="plp-wrapper">
  <div class="ajax-progress ajax-progress-throbber">
    <div class="throbber">&nbsp;</div>
  </div>

  <div class="plp-block">
    <div class="plp-filter">
      {% include "@molecules/product-filter/plp-filters/plp-filter.twig" %}
    </div>

    <div class="plp-data">
      <div class="plp-operation">

        <div class="plp-result">
            <span class="plp-results-count">100</span>
            <span class="plp-results-detail">Product Category</span>
        </div>

        <div class="plp-sorting js-form-item form-item select-full-border">
          <label for="sort-by-select" class="visually-hidden"><span>Sort By</span></label>
          <select id="sort-by-select" name="sort-by" class="form-item__select form-item__select form-item__textfield  form-select valid">
            <option value="sort_CollectionsTypeFunctionSubfunction=ASC">Collection A-Z</option>
            <option value="sort_CollectionsTypeFunctionSubfunction=DESC">Collection Z-A</option>
            <option value="sort_AvailableToShipDate=DESC">Most Recent</option>
          </select>
        </div>
      </div>

      {% include "@molecules/product-filter/plp-selected-filter/selected-filter.twig" %}

      <div class="plp-grid grid">
        {% for plp_item in plp_items %}
          <div class="grid-col-12 grid-col-md-4 grid-col-lg-3">
          {% include "@molecules/product-tile/product-tile.twig" with {
            "product_flag_text": plp_item.product_flag_text,
            "flag_modifiers": plp_item.flag_modifiers,
            "product_img_src": plp_item.product_img_src,
            "product_img_alt": plp_item.product_img_alt,
            "product_title": plp_item.product_title,
            "product_desc": plp_item.product_desc,
            "product_modelno": plp_item.product_modelno,
            "product_link_url": plp_item.product_link_url,
            "product_tile_modifiers": plp_item.product_tile_modifiers,
            "finish_icons": plp_item.finish_icons,
          } %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
