.flag {
  display: inline-block;
  font-family: $font-bold2;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: 1rem;
  color: $white;
  text-align: center;
  white-space: nowrap;
  padding: 0.375rem 0.75rem;
  min-width: 131px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;

  @media (min-width: $ipad-only) {
    min-width: 212px;
    font-size: 0.75rem;
    transform: translate(-77px, -31px) rotate(-44deg);
    transform-origin: 100% 0;

    &.banner-recertified {
      transform: translate(-102px, -46px) rotate(-44deg);
    }
  }

  &--gray-30 {
    background-color: $gray-30;
  }

  &--gray-50 {
    background-color: $gray-50;
  }

  &--delta-red {
    background-color: $delta-red;
  }
}

.flag-mobile {
  display: none;
}

.slider_flag {
  @include maxbp($grid-md) {
    left: 0;

    &.flag-mobile {
      display: block;
      position: static;

      .flag {
        letter-spacing: 1px;
        padding: 6px 20px;
        min-width: 131px;
      }
    }
  }

  .slider_flag {
    @include maxbp($grid-md) {
      left: 0;
    }
  }
}

@media (min-width: $ipad-only) {
  .site-search__suggestions-item .product-tile .slider_flag .flag {
    min-width: 170px;
  }
}

@media (max-width: 767px) {
  .output-wrapper .product-tile .slider_flag.flag_position {
    display: none;
  }

  .output-wrapper .product-tile .slider_flag.flag_position.flag-mobile {
    display: block;
  }
}
