<div class="upload-input">
  <input class="upload-input__native" id="upload-demo" type="file">
  <label class="upload-input__label" for="upload-demo" data-label="Choose File">
          No file selected
      </label>
</div>
