{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
    set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <div class="block-title-content">
            <h2{{ title_attributes }}>{{ label }}</h2>
        </div>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div class="bodywrapper" id="block-professionalssearchblock">
            <div class="professional-search">
                <form id="professionals_search_block_form" action="#" method="post">
                    <h1>{{ content['#block_content'].get('field_label').value }}</h1>
                    <h2>{{ content['#block_content'].get('field_step_1_label').value }}</h2>
                    <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-model-number form-item-model-number form-no-label">
                        <input data-drupal-selector="edit-model-number" type="text" id="edit-model-number" name="model_number" value="" size="60" maxlength="128" placeholder="model#" class="form-text">
                    </div>
                    <h2>{{ content['#block_content'].get('field_step_2_label').value }}</h2>
                    <div id="edit-filter-type" class="form-radios">
                        {% for key,item in content['#block_content'].field_filter_type.value %}
                            {% set block_filter_type = content['#block_content'].field_filter_type[key] %}
                            {% set filter_type_image = block_filter_type.entity.field_filter_type_image.entity.fileuri %}

                            <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-filter-type form-item-filter-type">
                                {% set filter_type_id = "edit-filter-type-"~ block_filter_type.entity.field_filter_type_key.value %}
                                <input data-drupal-selector="{{ filter_type_id }}" type="radio" id="{{ filter_type_id }}" name="filter_type" value="{{ block_filter_type.entity.field_filter_type_key.value }}" {{ (key == 0) ? 'checked' : '' }} class="form-radio">

                                {% if filter_type_image is not empty %}
                                    <label for="{{ filter_type_id }}" class="option" style="background-image: url({{ file_url(filter_type_image) }})">{{ block_filter_type.entity.field_filter_type_value.value }}</label>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <input class="btn btn-primary btn-md button js-form-submit form-submit professionals_search_block_submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="SEARCH">
            </div>
            </form>
        </div>
    {% endblock %}
</div>



