<div class="container text-center">
    <div class="home-menu">
        {% for key, item in items %}
            {% set title_attribute = '' %}
            {% if item.imagetitle|length %}
                {% set title_attribute = 'title="' ~ item.imagetitle ~ '"' %}
            {% endif %}
            <div class="home-menu-item col-sm-6">
                <a class="d-block" href="{{ item.action_link }}">
                    {% if item.image is not empty %}
                        {% if item.heading_text is not empty %}
                            <img class="img-responsive" src="{{ item.image }}" {{ title_attribute|raw }} alt="{{ item.imagealt }}"/>
                            <div class="overlay"></div>
                            <div class="content">
                                <h2>{{ item.heading_text }}</h2>
                                <div class="row"></div>
                            </div>
                        {% elseif item.action_link_txt is not empty %}
                            <img class="img-responsive" src="{{ item.image }}" {{ title_attribute|raw }} alt="{{ item.imagealt }}"/>
                            <div class="overlay"></div>
                            <div class="content">
                                <h2>{{ item.action_link_txt }}</h2>
                                <div class="row"></div>
                            </div>
                        {% else %}
                            <img class="img-responsive" src="{{ item.image }}" {{ title_attribute|raw }} alt="{{ item.imagealt }}"/>
                        {% endif %}
                    {% endif %}
                    {% if item.image is empty %}
                        {% if item.heading_text is not empty %}
                            <div class="content"><h2>{{ item.heading_text }}</h2></div>
                        {% else %}
                            <div class="content"><h2>{{ item.action_link_txt }}</h2></div>
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>