<div class="right">
	<div class="{{ items.home_page_banner_alignment }} home-page-banner__{{ items.home_page_banner_overlay }} ">
		<div class="home-page-banner__bg">
			<img src="{{ items.home_page_banner_image_url }}" alt="{{ items.home_page_banner_image_alt }}" class="lazyload" typeof="foaf:Image" />
		</div>
		<div class="home-page-banner__container container">
			<div class="home-page-banner__details">
				<div class="home-page-banner__title"><h2>{{ items.home_page_banner_title }}</h2></div>
				<div class="home-page-banner__desc">{{ items.home_page_banner_desc }}</div>
				<div class="home-page-banner__line"></div>
				<div class="projects-btn"><a class="button" href="{{ items.home_page_banner_more_link}}">{{ items.home_page_banner_more_txt }}</a></div>
			</div>
		</div>
	</div>
</div>

