{% if  items|length %}
    <h2 class="heading" style="text-align: center;">Price List</h2>
    <div class="container text-center">
        <ul class="filesList">
            {% for key, item in items %}
                <li>
                    <span class="icon {{ item.asset_type }}"></span>
                    <a class="d-block" target="_blank" href="{{ item.asset_link }}">
                        {% if item.asset_title is empty %}
                            <div class="content"><h2>{{ item.asset_link }}</h2></div>
                        {% else %}
                            <div class="content"><h2>{{ item.asset_title }}</h2></div>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}