<script data-name="reload" data-src="/js/brizo_collection_detail.js"></script>

<div class="cdp-block-wrapper">

  <div class="cdp-content-block">
    <div class="cdp-img-block">
      <img src="https://www.brizo.com/files/live/sites/brizo/images/site/bath/rook/Rook_ROOK_SENSORI_CUSTOM_SHOWER_88861-PC_T66T061-PC_T66661-PC_T84613-PC_SH84101-PC_H2OKINETIC_SPRAY_W_Technology-Specific_390x430.jpg" />
    </div>
    <div class="cpd-content-desc">
      <div class="cdp-content-title">
        Title
      </div>
      <div class="cdp-content-data">
        The articulating arm offers a larger range of movement than a traditional pull-down faucet—providing an entirely new level of control in the kitchen.
      </div>
      <div class='cdp-content-link'>
        <a href="link-text">
          link text
        </a>
      </div>
    </div>
  </div>

  <div class="cdp-content-block">
    <div class="cdp-img-block">
      <img src="https://www.brizo.com/files/live/sites/brizo/images/site/bath/rook/Rook_65960LF-NKBL-ECO_WATER_MODEL_01_Technology-Specific_390x430.jpg" />
    </div>
    <div class="cpd-content-desc">
      <div class="cdp-content-title">
        Title 2
      </div>
      <div class="cdp-content-desc">
        Activate water flow with a simple touch to the faucet body, spout or handle
      </div>
    </div>
  </div>


  <div class="cdp-content-block">
    <div class="cdp-img-block">
      <img src="https://www.brizo.com/files/live/sites/brizo/images/site/bath/rook/Rook_ROOK_SENSORI_CUSTOM_SHOWER_88861-PC_T66T061-PC_T66661-PC_T84613-PC_SH84101-PC_H2OKINETIC_SPRAY_W_Technology-Specific_390x430.jpg" />
    </div>
    <div class="cpd-content-desc">
      <div class="cdp-content-title">
        Title 3
      </div>
      <div class="cdp-content-data">
        The articulating arm offers a larger range of movement than a traditional pull-down faucet—providing an entirely new level of control in the kitchen.
      </div>
      <div class='cdp-content-link'>
        <a href="link-text">
          link text
        </a>
      </div>
    </div>
  </div>

</div>
