{#
/**
 * Available variables:
 * - url - URL for the link
 * - image_url - Image URL
 * - title - (optional) title/alt text for the logo
 */
#}

<a href="{{ url }}" class="wtb-logo-grid__item">
  <img src="{{ image_url }}"
    {% if alt %}
       alt="{{ alt }}"
    {% endif %}
    {% if title %}
       title="{{ title }}"
    {% endif %}
  />
</a>
