{{ attach_library('brizo_theme/header-showroom') }}
<div class="utility-block">
  <div class="utility-nav">
  <ul>
    {% for utility_link in utility_links %}
      <li>
        {% include "@atoms/01-links/link/link.twig" with {
          "link_url": utility_link.utility_url,
          "link_content": utility_link.utility_content,
          "link_base_class": utility_link.utility_class
        } %}
      </li>
    {% endfor %}
  </ul>
  </div>
</div>
