
{%
  set classes = [
    'video field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
  <div{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}


      <div class="video--container">

          <!--<video class="fullscreen"  preload="none" poster="{{item.content['#paragraph'].field_video.thumbnailUrl}}" id="full_vid" playsinline autoplay muted loop>
          {# video needs to be muted, since Chrome 66+ will not autoplay video with sound. #}
            <source class="video-source" src="" type='video/mp4' />
          </video>-->

		        <video class="fullscreen" data-desktopvideo="{{ file_url(item.content['#paragraph'].field_video.entity.uri.value) }}" data-mobilevideo="{{ file_url(item.content['#paragraph'].field_mobile_video.entity.uri.value) }}"  preload="auto" poster="{{item.content['#paragraph'].field_mobile_video.thumbnailUrl}}" id="full_vid" playsinline autoplay muted loop>
          {# video needs to be muted, since Chrome 66+ will not autoplay video with sound. #}
            <source id="video-source" src="{{ file_url(item.content['#paragraph'].field_video.entity.uri.value) }}" type='video/mp4' />
          </video>

          <div class="video--container-text">
            <div class="video--container-text--inner">
            <div class="video--container-text--inner-center">
              <div class="video--container-text--top">
                {{ item.content['#paragraph'].field_title.value | raw}}
              </div>
              <div class="video--container-text--bottom">
                {{ item.content['#paragraph'].field_sub_title.value | raw}}
              </div>
            </div>
          </div>
          </div>

      </div>

      <div class="video--container--introtext"  data-section-fade-up>
        <div class="video--container--introtext-inner">
          <div class="grid-container">
            <div class="row">
              <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-hide col-sm-hide col-md-hide col--no-padding"></div>
              <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding" >
                  <div class="video--container--introtext-text" data-section-fade-up-heading>
                    {{ item.content['#paragraph'].field_description.value | raw}}
                  </div>
                  <div class="video--container--introtext-button" data-section-fade-up-text>
                    {{ link(item.content['#paragraph'].field_learn_more.title, item.content['#paragraph'].field_learn_more.uri,  {'class':['btn','btn--blue']}) }}
                  </div>
              </div>
              <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-hide col-sm-hide col-md-hide col--no-padding"></div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
