{{ attach_library('delta_theme/product-tile-slider')}}

{% set slidercnt = slidercount %}
{% if slidercnt is empty %}
  {% set slidercnt = 3 %}
{% endif %}

<div class="product-tile-slider" data-slick='{"arrows": true, "dots": false, "autoplay": true, "infinite": true, "slidesToShow": {{ slidercnt }}, "slidesToScroll": 1, "responsive": [ { "breakpoint": 720, "settings": { "slidesToShow": 1, "arrows": true, "dots": false}}]}'>
  {% for key, tile in product_tiles %}
    <div class="product-tile-slider__item">
      {% include "@organisms/product-tile/product-tile.twig" with {
          "collection_name" : product_tiles[key]['collection_name'],
          "model_image" : product_tiles[key]['model_image'],
          "description" : product_tiles[key]['description'],
          "list_price" : product_tiles[key]['price'],
          "model_number" : product_tiles[key]['model_number'],
          "view_details_link" : product_tiles[key]['view_details_link'],
          "finish_options": product_tiles[key]['finishOptions'],
          "defaultFinish": product_tiles[key]['defaultFacetFinish'],
          "finish": product_tiles[key]['finish'],
          "refurbishedProduct": product_tiles[key]['refurbishedProduct'],
          "list_price":  product_tiles[key]['list_price'],
          "strikePrice":  product_tiles[key]['strikePrice'],
          "product_tile_flag_modifiers": product_tiles[key]['product_tile_flag_modifiers'],
          "product_tile_flag_text": product_tiles[key]['product_tile_flag_text'],
          "hide_ratings": 1,
        }
      %}
    </div>
  {% endfor %}
</div>
