{#
/**
 * Available variables:
 * - circle_icon_base_class - base class name
 * - circle_icon_modifiers - modifiers for icons (array)
 * - circle_icon_blockname - blockname prepended to the base classname
 * - circle_icon_name - the name of the icon
 * - circle_icon_size - size of the icon in pixels
 * - circle_icon_color - background-color of the circle
 * - circle_icon_role - a11y role
 * - circle_icon_title - a11y title
 * - circle_icon_desc - a11y description
 */
#}

{% set circle_icon_base_class = circle_icon_base_class|default('circle-icon') %}

<div {{ bem(circle_icon_base_class, (circle_icon_modifiers), circle_icon_blockname) }}

  style="{{"width: #{circle_icon_size}px; height: #{circle_icon_size}px"}}"

  {% if hidden %}
    aria-hidden="true"
  {% endif %}
>
  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: circle_icon_name,
    icon_role: circle_icon_role,
    icon_title: circle_icon_title,
    icon_desc: circle_icon_desc,
    icon_size: circle_icon_size * 0.75,
    icon_color: "white",
  } %}
  <p>{{ item.title }}</p>
</div>
