<div class="icons-demo" id="icons">
  {% for item in items %}
    <div>
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: item.name,
        icon_role: item.role,
        icon_title: item.title,
        icon_desc: item.desc,
        icon_size: item.size,
        icon_color: item.color,
      } %}
      <p>{{ item.title }}</p>
    </div>
  {% endfor %}
</div>
<br>

<div class="icons-demo" style="margin-top: 100px;">
  {% for icon in circle_icons %}
    <div>
      {% include "@atoms/04-images/icons/_icon-circle.twig" with {
        circle_icon_name: icon.name,
        circle_icon_size: icon.size,
        hidden: true,
      } %}
    </div>

  {% endfor %}
</div>


