<section class="container">
<div class="row">
<div class="col-xs-12">
 <div class="collection">
   <div class="collection--listing">
      <div class="row">
         <div class="col-md-6">
                {{ content.coll_left_top}}
         </div>
         <div class="col-md-6">
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-12">
                    {{ content.coll_left_bottom}}
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-12">
                    {{ content.coll_right_top}}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="collection">
   <div class="collection--listing">
      <div class="row">
         <div class="col-md-6">
                     {{ content.coll_right_middle}}
         </div>
         <div class="col-md-6">
                     {{ content.coll_right_bottom}}
         </div>
      </div>
   </div>
</div>

<div class="collection">
   <div class="collection--listing">
      <div class="row">
         <div class="col-md-12 comming-soon-section">
                {{ content.coll_bottom_full}}
         </div>
      </div>
   </div>
</div>

</div>
</div>
</div>