{{ attach_library('delta_theme/featured-innovations-slider') }}

<div class="featured-innoslider" data-slick='{
  "arrows": true,
  "dots": false,
  "autoplay": false,
  "infinite": true,
  "centerMode": true,
  "centerPadding": "0",
  "slidesToShow": 5,
  "slidesToScroll": 1,
  "responsive": [
    {
      "breakpoint": 1140,
      "settings": {
        "slidesToShow": 3,
        "arrows": true,
        "dots": false
      }
    },
    {
      "breakpoint": 700,
      "settings": {
        "slidesToShow": 1,
        "arrows": true,
        "dots": false
      }
    }
  ]
}'>


  {% for item in slider_items %}


    <div class="featured-innoslider__item" data-video-url="{{ item.video_url }}">
      <div class="featured-card">
        <a href="{{ item.url }}" name="{{ item.title|striptags }}" title="{{ item.title|striptags }}" aria-label="{{ item.title|striptags }}">
          <img src="{{ item.image_url }}" alt="{{ item.image_alt_text|striptags }}" /></a>
        <h3 class="featured-card__title">{{ item.title | html_entities |raw }}</h3>
        <div aria-hidden="true">
          {{ item.content | raw }}
        </div>
        {% set text_label_button = 'Learn more about ' ~ item.title | html_entities | raw %}
        <div class="u-text-center">
          {% include "@atoms/06-buttons/01-button.twig" with {
            "button_url": item.url,
            "button_content": "Learn more",
            "button_modifiers": ["primary", "sm"],
            "button_attributes": create_attribute({'title': text_label_button, 'aria-label': text_label_button})
          } %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="featured-innoslider-video">
  <div class="video">
      <iframe title="{{ 'Video container' | t }}" width='1280' height='720' src='{{ slider_items.0.video_url }}'></iframe>
  </div>
</div>
