// Menu Breakpoint
$main-menu-medium: 43em;

// Nav
.main-nav {
  display: none;

  @include breakpoint($main-menu-medium) {
    display: block;
  }

  @include maxbp($mega-menu-mobile) {
    &--open {
      background-color: $white;
      display: block;
      height: 85%;
      left: 0;
      overflow-y: scroll;
      position: fixed;
      top: 134px;
      right: 0;
      width: 100%;
    }
  }
}

// UL
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  position: relative;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
  }
}

//
// Sub Navigation
//

// UL (Nested)
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: $gray-90;
  width: 100%;

  @include breakpoint($main-menu-medium) {
    background-color: $gray-80;
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 55px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    opacity: 0.6;
  }

  &:hover {
    @include breakpoint($main-menu-medium) {
      opacity: 1;
      background-color: $black;
      transition: all 0.2s;

      .main-menu__link--sub {
        color: $gray-50;

        &.active,
        &:active,
        &:hover {
          color: $white;
          background-color: $black;
        }
      }
    }
  }

  // See main-menu.js
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include breakpoint($main-menu-medium) {
    display: none; // Never shown on large screens
  }
}

.display--small-only,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.site-search__form {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  max-width: 640px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.6875rem 2rem;
  background-color: $white;
}

.site-search__overlay {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
}

@media (max-width: 768px) {
  .site-search__overlay {
    top: 80px;
  }
}

.search-bar-wrapper {
  display: flex;

  .search-icon {
    img {
      display: inline-block;
      vertical-align: middle;
      height: 1.875rem;
      width: 1.625rem;
      max-width: none;
      position: relative;
      top: 0.375rem;
    }
  }

  .close-button {
    cursor: pointer;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}

.flex-align-center {
  display: flex;
}

.dr-align-center {
  position: relative;
  top: 15px;
}

.header {
  .block-container {
    display: flex;
  }
}

.site-search__suggestions-matches {
  display: flex;
  flex-wrap: wrap;
}

.site-search__field {
  width: 100%;
  padding: 0.75rem 2rem 0.75rem 2rem;
  border: none;
  outline: none;

  .toggle--active & {
    visibility: visible;
  }
}

.header__search-trigger {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.site-search__form.has-content {
  display: block;
  max-width: 625px;
  height: auto;
  max-height: calc(100vh - 7rem);
  padding: 0;

  .search-bar-wrapper {
    background-color: $gray-90;
  }

  .site-search__suggestions-category {
    font-family: $font-bold2;
  }

  .site-search__suggestions-parent-category {
    color: rgba(0, 0, 0, 0.5);
  }

  .search-popular-text {
    color: $gray-10;

    &:hover {
      text-decoration: underline;
    }
  }

  .clear-button {
    background-color: $gray-90;
    color: #a2042f;
    padding-right: 3.5rem;
  }

  .site-search__field {
    margin: 0.25rem 0 0 1.5rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    letter-spacing: -0.0125rem;
    padding-left: 2.5rem;
    background-color: $gray-90;
  }

  .search-clear__button {
    background-color: $gray-90;
    right: 1rem;
    position: relative;

    .header-svg-icon {
      stroke: $gray-10;
    }
  }

  .site-search__button {
    padding: 1rem;
    width: auto;
    left: 0.5rem;
    top: 0.125rem;
  }

  .site-search__suggestions-container {
    top: 100%;
    width: 100%;
    text-align: left;
    left: 0;
    background-color: #fff;
    position: static;
    padding-left: 0;
    border-top: solid 1px #e6e6e8;
    max-height: calc(94vh - 7.25rem);
    overflow-y: auto;

    @include breakpoint($ipad-only) {
      padding: 0 1rem 0 1.5rem;
    }

    @include maxbp($grid-md) {
      max-height: calc(100vh - 6.25rem);
    }

    .site-search__suggestions {
      padding-bottom: 0.5rem;

      .site-search__suggestions-popular {
        @include maxbp($grid-md) {
          padding: 0 16px;
        }
      }

      .site-search__suggestions-section-products {
        margin-top: 0;
        padding: 1rem 0;
        border-top: none;

        @include maxbp($grid-md) {
          padding-right: 0;
        }
      }

      .site-search__suggestions-matches {
        .site-search__suggestions-item {
          padding-left: 0;

          @include breakpoint($ipad-only) {
            padding-right: 0.5rem;
          }

          @include maxbp($grid-md) {
            padding: 0 16px !important;
          }
        }
      }

      .all-products {
        text-align: left;
        padding: 24px 0 5px 0;
        font-size: 12.64px;
        font-family: $font-bold2;

        @include maxbp($grid-md) {
          padding: 23px 0 10px 0;
          text-align: center;
        }

        &::after {
          border-style: solid;
          border-width: 4px 0 4px 4px;
          border-color: transparent transparent transparent $delta-red;
          content: "";
          display: inline-block;
          margin: 0 0 2px 6px;
        }
      }

      .site-search__suggestions-title {
        padding-bottom: 16px;
        font-family: $font-bold2;
        font-size: 22.78px;

        @include maxbp($grid-md) {
          padding: 0 16px;
        }
      }

      .search-popular-text-label {
        margin: 1rem 0 0.5rem 0;

        a {
          letter-spacing: 2px;
        }
      }

      .product-tile__title {
        font-size: 12px;
        margin-bottom: 2px;

        @include maxbp($grid-md) {
          font-size: 16px;
          margin-bottom: 4px;
        }
      }

      .product-tile__price {
        font-size: 12px;
        display: block;
        line-height: 20px;
        font-family: $font-bold2;

        @include maxbp($grid-md) {
          font-size: 14.22px;
          display: inline-block;
        }

        &.online-price {
          color: $gray-10;
        }
      }

      .product-tile_price_val {
        font-size: 14.22px;
        color: $gray-50;
        line-height: 17px;
        display: block;
        font-family: $font-bold2;
        padding-bottom: 14.33px;

        @include maxbp($grid-md) {
          display: inline-block;
          padding-left: 5px;
          padding-bottom: 0;
        }
      }

      .product-tile {
        @include breakpoint($ipad-only) {
          border: 1px solid $gray-80;
          margin-bottom: 10px;
          height: 100%;
        }

        @include maxbp($grid-md) {
          border-bottom: 1px solid $gray-80;
          padding-top: 0;
          margin-top: 26px;
        }

        .right-align-content {
          right: 13px;
          top: 13px;
        }

        .search-image-broken {
          height: auto;
          width: auto;
        }

        .search-wishlist-black {
          display: none;
          width: 22px;
        }

        .paragraph {
          padding-bottom: 6.33px;
          line-height: 17.78px;
          font-size: 14.22px;

          @include maxbp($grid-md) {
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 4px;
          }
        }

        .product-tile__image {
          @include maxbp($grid-md) {
            display: flex;
            align-self: baseline;
            padding: 1rem 0 0 0;
          }
        }

        .product-tile__promotion {
          text-transform: uppercase;
          font-size: 12.6px;
          line-height: 19px;
          color: #75000f;
          margin-bottom: 1rem;
          width: 90%;

          @include maxbp($grid-md) {
            letter-spacing: 0.35px;
            width: 60%;
            padding-top: 8px;
          }
        }

        .search-wishlist {
          width: 22px;
        }

        .flag_position {
          top: -3px;

          @include maxbp($grid-md) {
            top: -7px;
          }
        }

        .flag {
          transform: none;
          text-align: left;
          min-width: auto;
          font-size: 10.11px;
          font-family: $font-bold2;
          padding: 0.175rem 0.55rem;

          @include maxbp($grid-md) {
            display: inline-block;
            position: static;
            width: auto;
            font-size: 14.22px;
            padding: 2px 1rem;
            line-height: 21.33px;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

.site-search__suggestions-popular {
  .search-popular-text {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    text-decoration: none;
  }
}

.site-search__suggestions-section-products,
.site-search__suggestions-section {
  border-top: 2px solid $gray-80;
  margin-top: 1.5rem;
  padding-top: 2rem;
  text-align: left;

  .site-search__suggestions-title {
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 0.01rem;
    text-align: left;
  }

  .prd-variations {
    & > a {
      display: inline-block;
    }
  }

  .product-tile {
    border: none;

    &:hover {
      border: none;
      box-shadow: none;
      outline: none;
      transition: none;
    }
  }

  .product-tile__body {
    text-align: left;
    padding: 1rem 0;
  }

  .paragraph {
    font-size: 0.9rem;
    text-align: left;
  }

  & > a {
    text-transform: uppercase;
    text-decoration: none;
    color: $delta-red;
    font-size: 0.79rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    display: block;

    &::after {
      content: "\2192";
      padding-left: 0.3rem;
      font-size: 1rem;
    }
  }
}

.site-search__suggestions-list {
  width: 100%;
  max-height: 65vh;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 0 0 0.125rem 0.125rem;
  border-top: none;
  //background-color: $color-white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.site-search__suggestions-section {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.site-search__suggestions-title {
  margin-bottom: 0.5rem;
}

.site-search__suggestions-item {
  &:not(:last-child) {
    padding-left: 0;
  }
}

.site-search__suggestions-banner {
  margin-bottom: 0.5rem;
}

.sfmega-nav--wrapper,
.header--user--utility > * {
  float: left;
}

.header--user--utility {
  float: right;
}

.header__utility-item--badged {
  position: relative;

  &.set--has-items {
    .header__utility-anchor--no-items {
      display: none;
    }
  }

  &:not(.set--has-items) {
    .header__utility-anchor--has-items {
      display: none;
    }
  }
}

.header__utility-badge {
  position: absolute;
  top: 0;
  left: 72%;
  min-width: 1rem;
  height: 1rem;
  padding-right: 0.25em;
  padding-left: 0.25em;
  border-radius: 1rem;
  font-size: 0.5625rem; //Intentionally not using a variable.
}

.global_header {
  .fullwidth_header {
    z-index: 1;
  }

  #utility-wrapper {
    z-index: 301;
  }
}

.search-wishlist-black {
  display: none;
  width: 24px;
  height: 24px;
}

.basket-invalid {
  margin: 0 16px 14px 20px;
  color: #ff4949;
  font-size: 14px;
}

// Minicart Modal
.mini-cart-overlay {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 998;
}

.mini-cart {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  height: calc(100% - 1rem);
  z-index: 999;
  background-color: $white;
  max-width: 416px;
  display: none;
  font-family: $font-body;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  width: 85%;
  flex-direction: column;

  .minicart-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid $gray-60;

    .utility-overlay__header-title {
      text-transform: capitalize;
      background-color: transparent;
      margin: 0;
      letter-spacing: 1px;
      padding: 1rem 1.25rem;
      font-size: 1.5rem;

      .utility-overlay__header-anchor {
        font-size: 1.265625rem;
        font-family: $font-body;
        line-height: 30.38px;
        letter-spacing: -0.2px;

        &:hover {
          color: #77777a;
        }
      }
    }

    .close-button {
      display: inline-block;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;

      img {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }

  .shopping-cart-item {
    //padding-left: 1.25rem;
    //padding-right: 1.25rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    flex-direction: column;
    border: 0;
    flex-shrink: 1;

    &.row {
      border-bottom: 1px solid $gray-60;
      height: calc(100% - 16rem);
      overflow: auto;
      display: block;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .info-container {
    display: flex;
  }

  .image-container {
    width: 25%;
    //padding-top: 1.25rem;
    padding: 0 0.35rem;

    img {
      width: 100%;
    }
  }

  .product-info-section {
    width: 75%;
    //padding: 1.25rem .7rem;
    padding: 0 0.35rem;

    .sku {
      font-size: 12.64px;
      font-weight: bold;
      color: $gray-50;
      margin: 8px 0;
      text-transform: uppercase;
      line-height: 16px;
      font-family: "Trade_Gothic_LT_Bold", sans-serif;
      letter-spacing: 2px;
    }

    .instock {
      margin-bottom: 0.25em;
      font-size: 0.875rem;
    }

    .product-name {
      margin-bottom: 0.25rem;

      strong {
        text-transform: uppercase;
        font-size: 0.88875rem;
        font-family: "Trade_Gothic_LT_Bold", sans-serif;
        letter-spacing: 2px;
      }

      .product-item-name-link {
        font-family: "TradeGothic_LT_Light", sans-serif;
        letter-spacing: -0.2px;
        font-size: 0.88875rem;
        line-height: 21.33px;
        text-decoration: none;
        color: #18191d;

        &:hover {
          color: #77777a;
        }
      }
    }
  }

  .pricing-info {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 2rem;
    margin-top: 1rem;

    .label {
      font-size: 0.9rem;
      font-weight: bold;
      color: $gray-50;
      margin-bottom: 0.5rem;
    }

    select.form-control--select {
      padding-top: 0;
      padding-bottom: 0;
      width: auto;
      height: 2.5rem;
      min-width: 80px;
      display: inline-block;
      padding-left: 0.75rem;
      padding-right: 2rem;
      border-color: $gray-60;
      border-radius: 2px;
      background-size: 0.85em 0.85em;
      background-repeat: no-repeat;
      background-position: calc(100% - 0.5em) 50%;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23252525' d='M24 6.3c0 .2-.1.3-.2.4L12.4 18.1c-.2.2-.6.2-.9 0L.2 6.8c-.2-.2-.2-.6 0-.9.2-.2.6-.2.9 0L12 16.8 22.9 5.9c.2-.2.6-.2.9 0 .1.1.2.3.2.4z'/%3E%3C/svg%3E");
      -webkit-transition: color 107ms ease-in-out;
      transition: color 107ms ease-in-out;
      appearance: none;
      background-color: #fff;

      &:focus {
        outline: none;
      }
    }

    .total-price {
      .total-info {
        text-align: right;
        color: #66666a;
        font-weight: 600;
        font-size: 0.88875rem;
        padding-bottom: 2px;
      }
    }
  }

  .cart-item-action-links {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 0.25rem;
    margin-top: 1.25rem;

    .product-remove {
      margin-left: 1.5rem;
    }
  }

  .minicart-footer {
    padding: 1.25rem;
    width: 100%;
    //margin: -0.8rem 0 0;
    display: inline-block;
    background-color: #fff;

    .estimated-total-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .estimated-total-label {
      font-family: "Trade_Gothic_LT_Bold", sans-serif;
      font-size: 20.25px;
      letter-spacing: -0.2px;
      line-height: 30.38px;
    }

    .estimated-total-value {
      font-family: "Trade_Gothic_LT_Bold", sans-serif;
      font-size: 20.25px;
      letter-spacing: -0.2px;
      line-height: 30.38px;
    }

    .shipping-taxes-info {
      color: $gray-30;
      font-size: 16px;
      line-height: 24px;
      margin-top: 0.5475rem;
    }

    .checkout-button {
      background-color: $delta-red;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      color: $white;
      padding: 0.75rem 0;
      margin-top: 2rem;
      width: 100%;
      display: block;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      font-family: $font-bold;

      &:hover {
        opacity: 1;
        background-color: $delta-merlot;
      }
    }

    .disableCart {
      cursor: default;
      background-color: #d7d7d9 !important;
      pointer-events: none;
    }
  }

  .cart-item-container {
    position: relative;
    padding: 1.25rem 1rem;

    .inline-prompt {
      flex-direction: column;
      display: flex;
      text-align: center;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 100%, 0.95);
      color: #252525;
      white-space: normal;
      -webkit-transition: opacity 107ms ease-out, visibility 107ms ease-out;
      transition: opacity 107ms ease-out, visibility 107ms ease-out;
      align-items: center;
      justify-content: center;

      .inline-prompt__body {
        max-width: 20rem;
        font-size: 0.875rem;
        margin: 0;
        padding: 0;
        color: #666;
      }

      .inline-prompt__footer {
        display: flex;
        margin-top: 1rem;
        justify-content: center;

        .button--cancel {
          color: #18191d;
          background-color: #c2c2c2;
          width: 112px;
          justify-content: center;
          margin-right: 0.7rem;

          @media (max-width: 767px) {
            width: 85px;
          }
        }

        .button--primary {
          width: 112px;
          justify-content: center;

          @media (max-width: 767px) {
            width: 85px;
          }
        }
      }
    }
  }
}

.cart-count {
  position: absolute;
  top: -11px;
  left: 69%;
  min-width: 1rem;
  height: 1rem;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  background-color: $gray-10;
  border-radius: 1rem;
  color: $white;
  font-size: 0.5625rem;
  font-weight: 800;
  display: none;
}

.minicart-img {
  height: 24px;
  width: 24px;
}

.sale-total-val {
  text-decoration: line-through;
  opacity: 0.6;
}

.header-svg-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
}

.hover-color {
  &:hover {
    opacity: 0.7;
    color: $delta-red;
  }
}

.search-svg-close {
  display: none;
}

.search-clear__button {
  display: inline-block;
  background-color: $white;
  border: none;
  color: $black;
  outline: none;
  cursor: pointer;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (min-width: 1025px) {
  .site-search__form {
    top: 4.5rem;
  }
}

@media (max-width: 1024px) {
  .site-search__form {
    top: 3.5rem;
  }
}

.parent-mini {
  .ajax-progress-throbber {
    z-index: 1000;
    display: none;
  }
}

.search-popup-icon {
  position: absolute;
  top: 17px;
  left: 25px;
  width: 2.6rem;
  max-height: 100%;
  border: none;
  background: none;
  outline: none;
  display: block;

  @media (max-width: 1024px) {
    width: auto;
    height: auto;
    left: 15px;
  }
}

.product-tile__body {
  .prd-variations {
    a.search-swatch {
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      -webkit-box-flex: 0;
      flex: 0 0 1.5rem;
      overflow: hidden;
      border: 0;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      box-shadow: 0 0 0 0 transparent;
      border-radius: 50%;
      transition-property: box-shadow, -webkit-box-shadow;
      transition-duration: 213ms;
      transition-timing-function: ease-in-out;
      display: inline-block;
      background-color: transparent;

      &:hover {
        border: 2px solid #ac0535;
      }

      &::after {
        opacity: 1;
        content: "";
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.15rem #fff;
        position: absolute;
        top: -0.125rem;
        bottom: -0.125rem;
        right: -0.125rem;
        left: -0.125rem;
      }

      .search-swatch-img {
        position: absolute;
        border-radius: 50%;
        display: block;
        top: 0;
        left: -4px;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 200%;
        height: 200%;
        max-width: 200%;
        max-height: 200%;
      }
    }
  }
}

.site-search__form .right-align-content {
  position: absolute;
  left: auto;
  right: 0;
  float: right;
  padding-top: 10px;
}

.product-line-item__promotions .cart-discount {
  font-size: 0.825rem;
  color: #75000f;
  font-family: "Trade_Gothic_LT_Bold", sans-serif;
}

@media (max-width: 766px) {
  .site-search__form {
    .right-align-content {
      top: -15px;
      right: 0;
    }
  }
}

.site-search__suggestions-section-products {
  .site-search__suggestions-item {
    padding-left: 0 !important;
  }
}

.cart-item-container:not(:last-child) {
  border-bottom: solid 0.0625rem #434447;
  padding-bottom: 1.25rem;
  margin-top: auto;
}

.clear-button {
  font-family: "Trade_Gothic_LT_Bold", sans-serif;
  color: #ac0535;
  font-size: 12.64px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.mini-wishlist-black {
  height: 24px;
  width: 23px;
  display: none;
}

.popup-scroll {
  overflow-y: hidden;
}

.search-image-broken {
  height: 100px;
  width: 100px;
}

@media (max-width: 766px) {
  .search-image-broken {
    height: 100px;
    width: 90px;
  }
}

.text-line--large {
  line-height: 1.63;
}

.font-weight--semibold {
  font-weight: 600;
}

.site-search__suggestions {
  padding-bottom: 1.25rem;
}

div#block-contactusbanner h1.banner__title {
  color: #000;
}

.find-product-form .js-form-item.has-focus label.form-item__label {
  padding-left: 0;
  transform: none;
}

.find-product-form .js-form-item.has-focus span {
  color: #18191d;
  font-family: "Trade_Gothic_LT_Roman", sans-serif;
  font-weight: 100;
}

.product-tile__body .prd-variations a.search-swatch:hover::after {
  -webkit-box-shadow: inset 0 0 0 0.25rem #fff;
  box-shadow: inset 0 0 0 0.25rem #fff;
}

.product-tile__body .prd-variations a.search-swatch.selected-swatch::after {
  border-radius: 50%;
  border: 2px solid #ac0535;
  -webkit-box-shadow: inset 0 0 0 0.15rem #fff;
  box-shadow: inset 0 0 0 0.15rem #fff;
}

.product-tile__body .prd-variations a.search-swatch.selected-swatch {
  border-radius: 50%;
  border: 2px solid #ac0535;
}
