.banner,
.video-banner-modal,
.page-banner-wrapper .banner {
  position: relative;
  //margin: 0 0 $space * 2;
  overflow: hidden;

  .banner-carousel .slick-dots {
    padding: 0;
    width: 90%;
    margin: 0 auto 20px;
  }

  .overlay_bg.banner__content_inner {
    h1.banner__title {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;
      font-family: $font-subheading;
      text-transform: capitalize;

      & > p {
        margin: 0;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
        font-family: $font-subheading;
      }

      @include maxbp($large) {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        font-family: $font-subheading;

        p {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0;
          margin: 12px 0;
          font-family: $font-subheading;
        }
      }

      @include maxbp($medium) {
        font-size: 29.6px;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 40px;
      }
    }
  }

  .banner__content_inner {
    margin-bottom: 30px;
    h1.banner__title {
      p {
        @include breakpoint($r_1100) {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 96px;
          line-height: 104px;
          //letter-spacing: 18.43px;
          font-family: $font-heading;
        }
      }
    }

    .clp-banner-title {
      @include breakpoint($large) {
        letter-spacing: 18.43px;
        font-size: 96px;
        font-family: $font-condensed-bold;
      }
    }
  }


  .breadcrumb-block,
  #block-brizo-theme-breadcrumbs,
  .breadcrumb {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    z-index: 1;
    padding: 0 64px !important;

    @include maxbp($main-menu-medium) {
      padding: 0 24px !important;
    }

    @include maxbp($medium) {
      padding: 0 16px !important;
      top: 15px;
    }

    @include breakpoint($large) {
      z-index: 101;
    }

    &.breadcrumbactive {
      display: none !important;
    }
  }

  &__content__flex {
    display: -ms-flexbox;
    display: flex;
    height: 100%;

    @include maxbp($medium) {
      background: $black;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 0;

    &.sub_title_banner {
      position: relative;
      max-width: none;

      @include maxbp($medium) {
        background: $black;
      }

      .overlay_bg.banner__content_inner {
        margin-bottom: 227.49px;

        @include maxbp($r_1400) {
          margin-bottom: 100px;
        }

        @include maxbp($r_1100) {
          margin-bottom: 50px;
        }

        @include maxbp($large) {
          margin: 20px;
        }

        @include maxbp($tab-min) {
          margin: 0;
        }

        .link.link--cta-link {
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 1.8px;
          transition: none;
          margin-top: 16px;

          &::after {
            font-size: 13px;
          }

          &:hover {
            color: $gray-30;
            transition: all ease 0.3s;

            &::after {
              color: $gray-30;
              transition: all ease 0.3s;
            }
          }
        }
      }

      .banner__content__flex {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;

        @include maxbp($medium) {
          position: relative;
        }

        .banner_heading_title {
          max-width: 728px;
          padding: 0 64px;

          p {
            margin: 0;
            color: $white;
          }

          @include maxbp($main-menu-medium) {
            padding: 0 24px;
          }

          @include maxbp($medium) {
            padding: 24px 16px;
          }

          &_text {
            font-size: 64px;
            line-height: 72px;
            letter-spacing: 8.19px;
            margin: 0;

            @include maxbp($r_1000) {
              font-size: 32px;
              line-height: 40px;
              letter-spacing: 5.76px;

              p {
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 5.76px;
              }
            }
          }
        }

        .overlay_bg {
          margin-top: -13px;

          @include maxbp($medium) {
            padding: 0 16px 24px;

            &.banner__content_inner {
              background: black;
              text-align: center;
            }
          }

          .banner__title {
            font-family: $font-subheading;
            letter-spacing: 0;

            @include maxbp($medium) {
              margin: 0 0 16px;
              font-size: 24px;
              line-height: 32px;
              letter-spacing: 0;
            }
          }

          .banner__paragraph {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            color: $white;

            @include maxbp($medium) {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }

      .banner__paragraph {
        margin: 0;
      }

      @include maxbp($medium) {
        .banner_heading_title_text {
          text-align: center;
        }
      }
    }

    &_inner {
      padding: 0 64px;

      @include maxbp($main-menu-medium) {
        padding-left: 24px;
        padding-right: 24px;
      }

      @include maxbp($medium) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    @include maxbp($medium) {
      position: static;
      padding: 0;

      &_inner {
        padding: 0;
      }

      h1 {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 2.5rem;
      }
    }

    p {
      color: $white;
    }

    .banner__paragraph {
      color: $white;
      font-size: 16px;
      line-height: 24px;

      @include maxbp($large) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
  }

  &__title {
    font-family: $font-subheading;
    font-weight: normal;
    margin: 0 0 15px;
    letter-spacing: 0;
    text-transform: none;

    .clp-banner-title {
      font-size: 40px;
      font-size: 96px;
      line-height: 104px;
      letter-spacing: 18.43px;
      font-family: $font-heading;
      text-transform: uppercase;

      @include maxbp($large) {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 5.76px;
        text-align: center;
      }

      @include breakpoint($large) {
        font-size: 64px;
        line-height: 104px;
        letter-spacing: 5.76px;
      }

      @include breakpoint(1333px) {
        max-width: unset;
      }

      sup {
        top: -1.35em;
        font-size: 0.35em;
      }
    }
  }

  .banner__title {
    .clp-banner-title {
      @include maxbp($large) {
        margin-top: 16px;
      }
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 10;
  }

  .social_sharing,
  .plp-share-link {
    margin: 0 64px 25px 0;
    padding: 0 20px 0 0;
    position: relative;

    &.plp-share-link {
      display: none;
    }

    a,
    a.share-this-page-plp {
      font-family: $font-condensed;
      font-size: 1.25rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      letter-spacing: 1px;

      &:hover {
        color: $gray-30;
        transition: all ease 0.3s;

        &::after {
          color: $gray-30;
          transition: all ease 0.3s;
        }
      }
    }

    &:hover {
      color: $gray-30;
      transition: all ease 0.3s;

      &::after {
        color: $gray-30 !important;
        transition: all ease 0.3s;
      }
    }

    &::after {
      font-family: $font-icon !important;
      content: "\e904";
      color: $white !important;
      font-size: 11px;
      position: absolute;
      right: 0;
      top: 0;

      @include maxbp($medium) {
        right: initial;
        margin-left: 7px;
        color: $gray-10;
      }
    }
  }

  .overlay_bg {
    background-color: rgba(25, 25, 25, 0.7);
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 728px;
    padding: 40px 64px;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      font-family: $font-body;

      @include maxbp($large) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }

    @include maxbp($main-menu-medium) {
      padding: 0 24px 24px;
    }

    @include maxbp($medium) {
      padding: 0 16px 24px;
    }

    @include maxbp($medium) {
      margin-bottom: 0;
      text-align: center;
      margin-top: 0;
    }

    h1 {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0;
      font-family: $font-subheading;

      & > p {
        margin: 0;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
        font-family: $font-subheading;
      }

      @include maxbp($large) {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        font-family: $font-subheading;

        p {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0;
          margin: 12px 0;
          font-family: $font-subheading;
        }
      }

      @include maxbp($medium) {
        font-size: 29.6px;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 40px;
      }
    }

    a.link {
      display: inline-block;
      margin-top: 24px;

      &.link--cta-link {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.8px;

        &::after {
          font-size: 13px;
        }
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-condensed;
    }
  }

  .callout_here {
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    text-transform: capitalize;
    font-family: $font-condensed;

    @include maxbp($tab-min) {
      display: none;
    }

    h6 {
      font-size: 24px;
      margin: 0;
      color: $white;
      font-family: $font-subheading;
      line-height: 32px;
      letter-spacing: 0;
      text-transform: none;
    }
  }

  h1.banner__title-big {
    font-size: 3.8125rem;
    font-family: $font-heading;
    text-transform: uppercase;
    line-height: 1.1;

    @include maxbp($medium) {
      font-size: 29.6px;
      margin-top: 20px;
      margin-bottom: 10px;
      line-height: 40px;
    }
  }

  .slick-slide {
    .banner__content_inner {
      .content_image + .link {
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-family: $font-condensed;
        outline: none;
        display: table;
        font-weight: 200;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-top: 20px;

        &:hover {
          color: $gray-30;

          &::after {
            color: $gray-30;
          }
        }

        &::after {
          content: "\e901";
          font-family: $font-icon !important;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          font-size: 12px;
          transition: all ease 0.4s;
          color: $white;
          position: relative;
          top: -2px;
        }

        &--divider {
          border-top: 5px solid;
          padding-top: 12px;
        }

        @include maxbp(450px) {
          margin-top: 16px;
          font-size: 20px;
        }
      }
    }
  }

  .banner_img {
    position: relative;

    @include maxbp($tablet) {
      img {
        width: 100%;
      }
    }
  }
  .banner__content, .page-banner-wrapper .banner__content{
     z-index: 1;
  }

  .modal-content,
  .banner_video {

    video {
      width: 100%;
    }

    .hero-video {
      min-height: 300px;
      position: absolute;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    .btn {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none; /* Remove borders */
      padding: 0; /* Some padding */
      cursor: pointer; /* Mouse pointer on hover */
      display: inline-block;
      width: 24px;
      height: 25px;
      color: white;
      margin-right: 15px;
      font-size: 22px;
      font-family: $font-din1451-engschrift;
      text-transform: uppercase;
      text-decoration: underline;
    }

    .btn:hover {
      border-color: #827e7c;
      transition: all ease 0.3s;
    }

    .play-icon {
      cursor: pointer;
      position: absolute;
      top : 50%;
      left : 50%;
      transform: translate(-50%, -50%);
      z-index:99;

      .bt-container{

        .btn {
          width: 142px;
          height: 86px;
          background-size: contain;
        }
        .play_button{
          filter: brightness(0) invert(1);
          background-image: url("../images/icons/src/play-button-1x.png");
          background-repeat: no-repeat;
        }
      }
    }
    .embed-thumbnail{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .video-container iframe {
        position: absolute;

        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .modal-button,
    .video_controls_{
      display:none;
    }

    .video_controls_left_buttons,
    .video_controls_left_play_pause,
    .video_controls_right_play_pause,
    .video_controls_right_play{
      font-family: $font-icon;
      z-index:99 !important;

      .play_button{
        background-image: url("../images/icons/src/active_play.png");
      }
      .pause_button{
        background-image: url("../images/icons/src/active_pause.png");
      }
      .play_button,
      .pause_button {
        color: transparent;
        /*filter: brightness(0) invert(1);*/
      }
      .play_button.disable {
        background-image: url("../images/icons/src/inactive_play.png");
      }
      .pause_button.disable {
        background-image: url("../images/icons/src/inactive_pause.png");
      }
    }

    .video_controls_right_buttons_text,
    .video_controls_left_buttons_text,
    .video_controls_left_play_pause_text,
    .video_controls_right_play_pause_text,
    .video_controls_right_play_text {
      z-index:99 !important;

      .pause_button,
      .play_button {
        color: white;
      }
      .disable {
        color: #827e7c;
      }
    }

    .banner_video_controls{
      position: absolute;
      z-index: 2 !important;
      width: 100%;
      bottom: 0;
      padding: 64px 64px 44px 64px;
    }

    .video_controls_no_controls{
      display:none;
    }
    .video_controls_left_buttons_text,
    .video_controls_left_play_pause_text,
    .video_controls_left_play_pause{
      text-align: left;
    }
    .video_controls_right_buttons,
    .video_controls_right_buttons_text,
    .video_controls_right_play_pause_text,
    .video_controls_right_play_pause{
      text-align: right;
    }

    .video_controls_right_play_text,
    .video_controls_right_play{
      .play_button{
        float: right;
      }
    }
  }
  .banner_video {
    position: relative;
    min-height: 300px;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.2%;

    @include maxbp($medium) {
      .banner_video_controls{
         padding: 10px 0px 35px 15px;
      }
    }
  }

  .modal-content{
    position: relative;
    video{
      padding: 0 15px 10px 15px;
    }
    .banner_video_controls{
      padding:0;
      height: 100px;
      padding: 0px 60px 90px 75px;
    }
  }
  @include maxbp($medium) {
    .modal-content{
      .banner_video_controls{
        height: 50px;
        padding: 0px 10px 0px 30px;
      }
    }
  }

  .dark-theme {
    .banner__title-big {
      color: white;
    }

    .banner__title {
      color: $white;
    }
  }
}

@include maxbp($medium) {
  .page-banner-wrapper {
    .banner__content {
      padding: 0 16px;
    }
  }
}

.banner__wrapper.dark-theme .banner__title-big {
  color: white;
}

.slick-slider {
  .banner__content {
    @include maxbp($medium) {
      position: absolute;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.page-banner-wrapper .breadcrumb {
  padding: 30px 64px 30px;

  @include maxbp($main-menu-medium) {
    padding: 30px 24px 20px;
  }

  @include maxbp($medium) {
    padding: 30px 16px 20px;
  }
}

.bottom {
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.center {
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  justify-content: center;
}

.left {
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: row;
}

.right {
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.dark-theme {
  color: $white;

  .banner__title-big {
    color: $white;
  }

  .breadcrumb__item {
    color: $gray-40;
  }
}

@include maxbp($medium) {
  .banner {
    &__content {
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

@include maxbp($medium) {
  .bottom,
  .bottom-right,
  .top-right {
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .banner__footer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;

    .callout_here {
      text-align: center;
      width: 100%;
      padding: 12px 20px;
      background: $black;

      h6 {
        font-size: 1.125rem;
        text-transform: capitalize;
      }

      a {
        font-size: 0.88875rem;
        line-height: 1;
      }
    }
  }

  .banner {
    .breadcrumb-block,
    #block-brizo-theme-breadcrumbs,
    .breadcrumb {
      top: 10px;
    }

    .social_sharing {
      margin: 0 auto !important;
      position: absolute;
      top: -19px;
      right: 0;
      left: 0;
      text-align: center;
    }

    .banner__title,
    .overlay_bg h1 {
      @include maxbp($medium) {
        margin: 0 0 16px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
      }
    }

    .overlay_bg {
      background: none;
      padding: 0;
      margin: 0;
      line-height: 1.2;

      @include maxbp($large) {
        padding-left: 16px;
        padding-right: 16px;

        a.link.link--cta-link {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1.6px;
          margin-bottom: 20px;
        }
      }
    }

    .banner-carousel .slick-dots,
    .banner_carousel_noautopay .slick-dots {
      bottom: 4.25rem;
    }

    .right {
      padding-right: 0;
    }

    .left {
      padding-left: 0;
    }
  }

  .nobanner__footer.banner-carousel,
  .nobanner__footer.banner_carousel_noautopay {
    .slick-dots {
      bottom: 0;
    }
  }

  .slick-slide {
    .banner__content_inner {
      .content_image + .link {
        font-size: 1rem;
      }
    }
  }
}

.status--error {
  display: none;
}

@include maxbp($medium) {
  .banner__content.sub_title_banner,
  .page-banner-wrapper .banner__content.sub_title_banner {
    background: black;
  }

  .banner__content.sub_title_banner .overlay_bg.banner__content_inner,
  .page-banner-wrapper .banner__content.sub_title_banner .overlay_bg.banner__content_inner {
    margin: 0;
  }
}

.banner-bottom-link {
  margin: 10px 0 0;

  @include maxbp($medium) {
    margin: 15px 0 0;
  }
}

/* The Modal (background) */
.video-banner-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100001; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 67%; /* Could be more or less, depending on screen size */

    /* The Close Button */
    .close {
      color: #000;
      float: right;
      font-family: $font-icon !important;
      font-size: 37px;
      line-height: 0;
      font-weight: bold;
      padding: 30px 0;
      padding-right: 25px;
      font-weight: 400;
    }

    .close:hover,
    .close:focus {
      color: #aaa;
      text-decoration: none;
      cursor: pointer;
    }
    .video-container{
      padding: 5% 2% 2% 2%;
      text-align: center;
      iframe {
        width: 100%;
        min-height: 730px;
        height: auto;
        position: relative;
      }
    }
  }
}

.video-alternate-card {
  position: relative;
  overflow: hidden;
  min-height: auto;
  display: grid;
  .hero-video {
      /*position: absolute;*/
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
  }

  .btn {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      padding: 0;
      cursor: pointer;
      display: inline-block;
      width: 24px;
      height: 25px;
      color: white;
      margin-right: 15px;
      font-size: 22px;
      font-family: $font-din1451-engschrift;
      text-transform: uppercase;
      text-decoration: underline;
  }

  .btn:hover {
      border-color: #827e7c;
      transition: all ease 0.3s;
  }

  .play-icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;

      .bt-container {

          .btn {
              width: 142px;
              height: 86px;
              background-size: contain;
          }

          .play_button {
              filter: brightness(0) invert(1);
              background-image: url("../images/icons/src/play-button-1x.png");
              background-repeat: no-repeat;
          }
      }
  }

  .embed-thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
  }

  .video-container{
    min-height: 300px;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.2%;
    margin-bottom: 20px;
  }

  .video-container iframe {
      position: absolute;

      width: 100%;
      height: 100%;
      z-index: 1;
  }

  .modal-button,
  .video_controls_ {
      display: none;
  }

  .video_controls_left_buttons,
  .video_controls_left_play_pause,
  .video_controls_right_play_pause,
  .video_controls_right_play {
      font-family: $font-icon;
      z-index: 99 !important;

      .play_button{
        background-image: url("../images/icons/src/active_play.png");
      }
      .pause_button{
        background-image: url("../images/icons/src/active_pause.png");
      }
      .play_button,
      .pause_button {
        color: transparent;
        /*filter: brightness(0) invert(1);*/
      }
      .pause_button {
        margin-right: 0;
      }
      .play_button.disable {
        background-image: url("../images/icons/src/inactive_play.png");
      }
      .pause_button.disable {
        background-image: url("../images/icons/src/inactive_pause.png");
      }
  }

  .video_controls_right_buttons_text,
  .video_controls_left_buttons_text,
  .video_controls_left_play_pause_text,
  .video_controls_right_play_pause_text,
  .video_controls_right_play_text {
      z-index: 99 !important;

      .pause_button,
      .play_button {
        color: white;
      }
      .disable {
        color: #827e7c;
      }
  }

  .banner_video_controls {
      position: absolute;
      z-index: 2 !important;
      width: 100%;
      bottom: 0;
      padding: 64px 64px 44px 64px;
  }

  @include maxbp($medium) {
    .banner_video_controls{
       padding: 10px 15px 15px 15px;
    }
  }

  .video_controls_no_controls {
      display: none;
  }

  .video_controls_left_buttons_text,
  .video_controls_left_play_pause_text,
  .video_controls_left_play_pause {
      text-align: left;
  }
  .video_controls_right_buttons,
  .video_controls_right_buttons_text,
  .video_controls_right_play_pause_text,
  .video_controls_right_play_pause {
      text-align: right;
  }

  .video_controls_right_play_text,
  .video_controls_right_play {
      .play_button {
          float: right;
      }
  }

  .modal-content{
    position: relative;
    video{
      padding: 0 15px 10px 15px;
    }
    .banner_video_controls{
      padding:0;
      height: 100px;
      padding: 0px 60px 90px 75px;
    }
  }

  @include maxbp($medium) {
    .modal-content{
      .banner_video_controls{
        height: 50px;
        padding: 0px 10px 0px 30px;
      }
    }
  }
  
}

.banner__wrapper{
  .grid-container{
    &.banner__content{
      &.content-div{
        @include breakpoint($r_1100){
          top: auto;
          height: auto;
          bottom: 50px;
          .banner__content_inner{            
            width: 100%;
            background: #0000005c;
            box-shadow: 0px 0px 10px #fff;
            padding: 10px 64px;
          }
        }
        .banner__content_inner{            
          h1, h2, p{
            color: white;
          }
        }
      }      
    }
  }
}
