// Replace `$search` with `$replace` in `$string`
// Used on our SVG icon backgrounds for custom forms.
//
// @author Hugo Giraudel
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

.single-image-slider {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-initialized .slick-slide {
  display: block;
  position: relative;

  &:focus {
    outline: none;
  }
}

.single-image-slider .slider-img-block-wrapper {
  position: relative;
}

.banner-carousel,
.banner_carousel_noautopay {
  .slick-arrow {
    top: 50%;

    @include maxbp($large) {
      top: 0;
    }
  }

  .slick-arrow.slick-prev {
    left: 24px;
    transform-origin: 50% 50%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

    @include maxbp($large) {
      left: 8px;
    }
  }

  .slick-arrow.slick-next {
    right: 24px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    @include maxbp($large) {
      right: 8px;
    }
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    width: 23px;
    height: 23px;
    position: absolute;
    z-index: 99;
    border: solid 2px $white;
    border-width: 0 6px 6px 0;
    background: transparent;
    cursor: pointer;
    color: transparent;
    outline: none;
    opacity: 0;
    transition: opacity 1000ms;

    @include maxbp($r_1100) {
      opacity: 1;
      border-width: 0 4px 4px 0;
      height: 23px;
      width: 23px;
    }

    @include maxbp($large) {
      border-width: 0 3px 3px 0;
      height: 16px;
      width: 16px;
    }
  }

  &:hover {
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
      opacity: 1;

      &:hover {
        border-color: $gray-30;
        transition: all ease 0.3s;
      }
    }
  }

  .slick-dots {
    transform: translate(50%, 0);
    bottom: 1.25rem;
    right: 50%;
    top: inherit;
    left: inherit;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 99;

    li {
      display: block;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 61px;
      width: 100%;

      @include maxbp($medium) {
        max-width: 33.25px;
      }

      & + li {
        margin-left: 10px;
      }
    }

    button {
      background-color: $white;
      width: 100%;
      height: 4px;
      display: block;
      border: 0;
      text-indent: -9999px;
      cursor: pointer;

      @include maxbp($medium) {
        height: 2.34px;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    li.slick-active button {
      background-color: $gray-30;
    }
  }
}

.path-frontpage {
  .slick-list .banner__content {
    @include maxbp(650px) {
      background: 0 0;
      width: 257px;
      right: 0;
      left: 0;
    }
  }

  .banner__content .content_image .img {
    margin: auto;
  }

  .banner__content__flex,
  .page-banner-wrapper .banner__content__flex {
    @include maxbp($medium) {
      background: none;
    }
  }

  .banner-carousel.single-image-slider .slick-arrow {
    @include maxbp($medium) {
      height: 18px;
      width: 16px;
      margin: auto 15px;
    }
  }

  .banner__wrapper {
    .left {
      padding-left: 5.5%;
      padding-top: 8.5%;

      @include maxbp($r_600) {
        padding-left: 0;
        justify-content: center;
      }
    }

    .right {
      padding-right: 10.5%;

      @include maxbp($r_600) {
        padding-right: 0;
        justify-content: center;
      }
    }

    @include maxbp($r_450) {
      .content_image picture.image .img {
        width: 300px;
      }
    }

    @include maxbp($r_400) {
      .content_image picture.image .img {
        width: 280px;
      }
    }
  }
}
