
<div class="info-box">
  
<h3 class="info-box__title">
      
<a class="info-box__link"
  href="/stuff">
      Test Title that is fairly long for a reason
  </a>
  </h3>
  
  <p class="info-box__body">
          Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </p>

</div>
