{% set text_box_subtitle_base_class = text_box_subtitle_base_class|default('textbox_subtitle') %}


{% if text_box_subtitle %}
<h5 {{ bem(text_box_subtitle_base_class, (text_box_subtitle_modifiers), text_box_subtitle_blockname) }}>
  {{ text_box_subtitle }}
</h5>
{% endif %}




















