{% set text_box_title_base_class = text_box_title_base_class|default('textbox_title') %}

{% if text_box_title %}
  <h2 {{ bem(text_box_title_base_class, (text_box_title_modifiers), text_box_title_blockname) }}>
    {{ text_box_title }}
  </h2>
{% endif %}
