
{% set text_box_title_base_class = text_box_title_base_class|default('textbox_title') %}
{% set text_box_subtitle_base_class = text_box_subtitle_base_class|default('textbox_subtitle') %}
{% set text_box_phone_number_base_class = text_box_phone_number_base_class|default('phone_number') %}

<div class="textbox_container">

{% if text_box_title %}
  <h2 {{ bem(text_box_title_base_class, (text_box_title_modifiers), text_box_title_blockname) }}>
    {{ text_box_title }}
  </h2>
{% endif %}


{% if text_box_subtitle %}
<h5 {{ bem(text_box_subtitle_base_class, (text_box_subtitle_modifiers), text_box_subtitle_blockname) }}>
  {{ text_box_subtitle }}
</h5>
{% endif %}

{% if text_box_subtitle_one %}
<h5 {{ bem(text_box_subtitle_base_class, (text_box_subtitle_modifiers), text_box_subtitle_blockname) }}>
  {{ text_box_subtitle_one }}
</h5>
{% endif %}

{% if text_box_content %}
<p {{ bem(text_box_content_base_class, (text_box_content_modifiers), text_box_content_blockname) }}>
  {{ text_box_content }}
</p>
{% endif %}

{% if text_box_content_one %}
<p {{ bem(text_box_content_base_class, (text_box_content_modifiers), text_box_content_blockname) }}>
  {{ text_box_content_one }}
</p>
{% endif %}


{% if textboxlinks %}
<div class="textbox__links">
  <ul>
  {% for textboxlink in textboxlinks %}
  <li>
      {% include "@atoms/01-links/link/link.twig" with {
          link_url: textboxlink.url,
          link_content : textboxlink.content,
          link_base_class: 'link',
          link_modifiers : textboxlink.modifiers,
      } %}
  </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if text_box_phone_number %}
  <div class="textbox__phone__number">
    <h4 {{ bem(text_box_phone_number_base_class, (text_box_phone_number_modifiers), text_box_phone_number_blockname) }}>
      {{ text_box_phone_number }}
    </h4>
  </div>
{% endif %}

{% if textboxicons %}
<div class="textbox__iconbox">
 <ul>
  {% for textboxicon in textboxicons %}
  <li>
  {% include "@molecules/icon-boxes/icon-boxes.twig" with {
        icon_name: textboxicon.circle_icon_name,
        icon_size: textboxicon.circle_icon_size,
        icon_bg_color: textboxicon.circle_icon_color,
        icon_box_content: textboxicon.icon_box_content,
        hidden: true,
    } %}
  </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if textboxbtn %}
<div class="textbox__button">
  {% include "@atoms/06-buttons/01-button.twig" with {
      "button_url": textboxbtn.button_url,
      "button_content": textboxbtn.button_content,
      "button_modifiers": textboxbtn.button_modifiers
    } %}
</div>
{% endif %}

{% if textbox_img %}
<div class="textbox__image">
  {% include "@atoms/04-images/00-image/_image.twig" with {
      img_src: textbox_img.src,
      img_alt: textbox_img.alt
    } %}
</div>
{% endif %}


</div>



















