<div class="sg-header-styles">
  <div class="sg-pattern pl-heading-examples">
    <h3 class="sg-pattern-title">Headings</h3>
    <h1 class="mega1 mega1--san-serif">HEADING/SANSERIF/1-MEGA-96 ALL CAPS</h1>
    <h1 class="mega2 mega2--san-serif">HEADING/SANSERIF/2-MEGA-72 ALL CAPS</h1>
    <h1 class="mega3 mega3--san-serif">HEADING/SANSERIF/3-MEGA-64 ALL CAPS</h1>
    <h1 class="mega4 mega4--san-serif">HEADING/SANSERIF/3-MEGA-56 ALL CAPS</h1>
    <h1 class="h1 h1--san-serif">HEADING/SANSERIF/h1-40 ALL CAPS</h1>
    <h2 class="h2 h2--san-serif">HEADING/SANSERIF/h2-32 ALL CAPS</h1>
    <h3 class="h3 h3--san-serif">HEADING/SANSERIF/h3-24 ALL CAPS</h1>
    <h4 class="h4 h4--san-serif">HEADING/SANSERIF/h4-22 ALL CAPS</h1>
    <h5 class="h5 h5--san-serif">HEADING/SANSERIF/h5-20 ALL CAPS</h1>
    <h6 class="h6 h6--san-serif">HEADING/SANSERIF/h6-18 ALL CAPS</h1>
  </div>

  <div class="sg-pattern pl-heading-examples">
    <h3 class="sg-pattern-title">Sub-Headings</h3>
    <h1 class="mega1 mega1--serif">HEADING/SERIF/1-MEGA-96 ALL CAPS</h1>
    <h1 class="mega2 mega2--serif">HEADING/SERIF/2-MEGA-72 ALL CAPS</h1>
    <h1 class="mega3 mega3--serif">HEADING/SERIF/3-MEGA-64 ALL CAPS</h1>
    <h1 class="mega4 mega4--serif">HEADING/SERIF/3-MEGA-56 ALL CAPS</h1>
    <h1 class="h1 h1--serif">HEADING/SERIF/h1-40 ALL CAPS</h1>
    <h2 class="h2 h2--serif">HEADING/SERIF/h2-32 ALL CAPS</h1>
    <h3 class="h3 h3--serif">HEADING/SERIF/h3-24 ALL CAPS</h1>
    <h4 class="h4 h4--serif">HEADING/SERIF/h4-22 ALL CAPS</h1>
    <h5 class="h5 h5--serif">HEADING/SERIF/h5-20 ALL CAPS</h1>
    <h6 class="h6 h6--serif">HEADING/SERIF/h6-18 ALL CAPS</h1>
  </div>
</div>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
