{% set blog_card_base_class = blog_card_base_class|default('blog-card') %}

<a {{ bem(blog_card_base_class, (blog_card_modifiers), blog_card_blockname) }} href="{{ blog_card_url }}"
  {% for attribute,value in blog_card_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
>
  <img src="{{ blog_card_image_url }}" alt="{{ blog_card_image_alt }}" />
  <div class="blog-card__content">
    <h4 class="blog-card__category">{{ blog_card_category|raw }}</h4>
    <span class="blog-card__description">{{ blog_card_content|raw }}</span>
  </div>
</a>
