{{ attach_library('delta_theme/floating-labels') }}

<div class="form-item">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
  <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
</div>

<div class="form-item form-item--disabled">
  <label for="edit-name-disabled" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
  <input type="text" id="edit-name-disabled" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" disabled/>
</div>

<div class="form-item form-item--error">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
  <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />

  <div class="form-item--error-message">
    Error helper text
  </div>
</div>

<div class="form-item">
  <label for="edit-pass" class="form-item__label form-item__label--required form-item__label--textfield">Password</label>
  <input type="password" id="edit-pass" name="pass" class="form-item__textfield form-item__textfield--password form-item__textfield--required" required="required" aria-required="true">

  <button class="form-item__pwd-toggle" aria-label="Show Password">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: "eye-closed",
      hidden: true,
    } %}
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: "eye-open",
      hidden: true,
    } %}
  </button>
</div>

<div class="form-item">
  <label for="demo-date" class="form-item__label form-item__label--textfield">Purchase Date</label>
  <input type="text" id="demo-date" name="name" value="" class="form-item__textfield form-item__textfield--date" required="required" aria-required="true" />

  {% include "@atoms/04-images/icons/_icon.twig" with {
    icon_name: "calendar",
    icon_size: 24,
    hidden: true,
  } %}
</div>

<div class="form-item">
  <label for="textarea" class="form-item__label form-item__label--textfield">Textarea</label>
  <div>
    <textarea class="form-item__textfield form-item__textarea" maxlength="250"></textarea>
    <div class="form-item__textarea-counter">0 / 250</div>
  </div>
</div>

