.find-parts-container {
  background-size: cover;
  background-position: center;
}

.find-parts {
  display: flex;
  padding: 65px 15px;
  justify-content: space-between;

  .part-info {
    width: calc(33.3333% - 12px);
    text-align: center;
    padding: 25px;
    background: white;
    border-radius: 4px;

    // &:hover {
    //   cursor: pointer;
    //   border: 1px solid #e6e6e8;
    //   border-radius: 5px;
    //   -webkit-box-shadow: 5px 5px 25px #e6e6e8;
    //   box-shadow: 5px 5px 25px #e6e6e8;
    //   background-color: #fff;
    // }

    img {
      margin: 0 auto;
    }
  }

  .button {
    margin-top: 15px;
    white-space: unset;
  }

  .u-text-bold {
    margin-bottom: 15px;
  }

  .img-title {
    margin: 15px auto;
  }

  p {
    margin: 0;
    font-size: 1.125rem;
  }

  @media (max-width: 719px) {
    flex-direction: column;
    padding: 35px 15px 15px 15px;

    .part-info {
      width: 100%;
      margin-bottom: 20px;
    }

    .u-text-xxxl {
      font-size: 1.4145rem !important;
    }

    p {
      font-size: 1rem;
    }
  }
}
