<div class="find-parts-container" style="background-image: url('{{ background_img }}')">
  <div class="find-parts">
    <div class="part-info">
      <p class="u-text-xxxl u-text-bold">{{ part_title }}</p>
      <p>{{ part_details }}</p>
      <a class="button button--primary" href="{{ part_btn_url }}">{{ part_btn_text }}</a>
    </div>
    {% for card in how_to_cards %}
    <div class="part-info">
    {% if card.card_cta %}
      <a class="no-line" href="{{ card.card_cta }}">
    {% endif %}
    {% if card.how_to_img_alt %}
      <img alt="{{ card.how_to_img_alt }}" src="{{ card.how_to_img }}" />
    {% else %}
      <img alt="{{ card.how_to_title }}" src="{{ card.how_to_img }}" />
    {% endif %}
    <p class="u-text-xxxl u-text-bold img-title">{{ card.how_to_title }}</p>
    <p>{{ card.how_to_details }}</p>
    {% if card.card_cta %}
      </a>
    {% endif %}
    </div>
    {% endfor %}
  </div>
</div>