{#
/**
 * Available variables:
 * - card_title_link - Link Card Title
 * - card_img_src - Card image source URL
 * - card_img_alt - Card image Alternate text
 * - card_title - Card Title with normal Fonts
 * - card_body - Card Desciption
 * - card_button_content - Card Link content

 * - card_subtitle - Card subtitle content
 * - card_subtitle_link - Card subtitle link
 * - card_button_content - Card Link content
 * - card_button_url - Card Link URL
 * - card_modifiers - Card Modifier - use Array
 * - card_big_title_bold - Card Bold title variation
 * - card_big_title_normal - Card Light title variation
 */
#}

{% include "@molecules/card/01-card/card.twig" with {
  "card_img_src": card_img_src,
  "card_img_alt": card_img_alt,
  "card_title": card_title,
  "card_title_link": card_title_link,
  "card_subtitle": card_subtitle,
  "card_subtitle_link": card_subtitle_link,
  "card_body": card_body,
  "card_button_url": card_button_url,
  "card_button_content": card_button_content,
  "card_modifiers": card_modifiers,
  "card_big_title_bold": card_big_title_bold,
  "card_big_title_normal": card_big_title_normal,
} %}
