.node--type-awards {
  .banner-block {
    height: 254px;
    display: table;
    width: 100%;

    .grid-container {
      position: static;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.only-mobile {
      @include maxbp($large) {
        display: block;

        .breadcrumb {
          .breadcrumb__item {
            color: $white;
            background-color: transparent;
          }
        }
      }

      @include breakpoint($large) {
        display: none;
      }
    }

    &.only-destop {
      @include breakpoint($large) {
        display: block;
      }

      @include maxbp($large) {
        display: none;
      }
    }

    .page-title {
      p {
        margin: 50px 0;
      }
    }
  }

  .heading-image-description {
    @include maxbp($old-desktop) {
      &:nth-child(1) {
        h3 {
          sup {
            display: inline-block;
          }
        }
      }
    }
  }
}

.region-banner {
  .banner-block {
    .grid-container {
      position: static;
    }
  }
}
