.cartride-page-wrapper {
  .catalog-grid {
    display: block;

    .catalog-grid__item {
      width: 24.5%;
      display: inline-block;
      vertical-align: top;
      padding: 0 1%;

      @include maxbp($grid-md) {
        width: 100%;
      }

      .cartridge-block {
        width: auto;
      }
    }
  }
}
