.for-professionals-commercial-hospitality,
.for-professionals-commercial-multi-family {
  .section-lead-in,
  .designbeyond {
    margin-bottom: 40px;
  }

  .section-lead-in {
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    .section-lead-in {
      padding: 20px;
    }

    .qidl-wrapper > div {
      margin-bottom: 50px;
    }
  }
}
