{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}

{%
set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'node--type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730901/94557603-6403-4571-a92e-e7dfa6bb6375.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730901/e2ec6de9-6d7f-4b65-912b-4cbe6bb5d8f4.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730905/c2a3b2ef-57ea-4e6d-8d55-ed1feaea4fc2.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730905/c448579a-d3f8-418d-b474-7842bc9bd36e.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730909/b1979d94-a178-4b03-b43d-c8e46562f107.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730909/fd01e71e-6e70-4e12-b470-560c965b72b5.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730913/d3fc2ba4-9e4a-446c-afe0-071d42d280c5.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730913/77b10dc4-44ed-4ae5-91f8-e0e752a5a85d.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730917/f9be987b-0ea1-4c6e-9302-b14707c2a1a2.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730917/b27d3ee2-b9fb-47e7-8eab-f22f15953932.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730921/135abd30-1390-4f9c-b6a2-d843157c3468.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730921/c6cfada8-1703-4760-87e6-46e9ef91beb7.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730925/7669e328-4e42-49fe-adf8-f126f82f6052.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730925/7e073583-186a-4fe0-95a1-0d053591c503.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730932/62ef81ca-5909-4c60-98f8-f1f97b71a65c.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/5730932/9b248b3c-f0a0-4247-9a93-33987121c302.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/fonts/icomoon-fonts/icomoon.woff?6w8vme" as="font" crossorigin="anonymous">
  <link rel="preload" href="/themes/custom/delta_theme/dist/js/01-atoms/05-forms/floating-labels.js" as="script">

   <script>
       var dataLayer = dataLayer || [];
      </script>
  {% if userId %}
      <script>
      dataLayer.push({
        'userID': "{{ userId }}",
        'profession': "{{ groupDescription }}"
       });
     </script>
   {% endif %}
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    {% if userId %}
      {% if currentPath == '/where-to-buy-online' %}
        <script>
            window.dataLayer = window.dataLayer || []
            setTimeout(function () {
                var findItOnlineString = '';
                jQuery(".ps-online-seller").each( function() {
                    if(findItOnlineString.length > 0) findItOnlineString += ', ';
                    findItOnlineString += jQuery('img', this).attr('title');
                });
                dataLayer.push({
                    'findItOnline': findItOnlineString
                });
                dataLayer.push({'event': 'pageReady'});
            }, 3600);
        </script>
      {% endif %}
    {% endif %}
    <!-- Checkout Page -->
    {% if currentPath == '/ecommerce/checkout' %}
        <script>
            window.dataLayer = window.dataLayer || []
            {% if checkoutCartList %}
            dataLayer.push({
                'event': 'checkout',
                'ecommerce': {
                    'checkout': {
                        'actionField': {{ checkoutActionField|json_encode|raw }},
                        'products': {{ checkoutCartList|json_encode|raw }}
                    }
                }
            });
            {% endif %}
        </script>
    {% endif %}
        <!-- Shipping Page -->
    {% if currentPath == '/ecommerce/shipping' %}
        <script>
            window.dataLayer = window.dataLayer || []
            {% if cartList %}
            dataLayer.push({
                'event': 'checkout',
                'ecommerce': {
                    'checkout': {
                        'actionField': {{ actionField|json_encode|raw }},
                        'products': {{ cartList|json_encode|raw }}
                    }
                }
            });
            {% endif %}
        </script>
    {% endif %}
    <!-- Billing Page -->
    {% if currentPath == '/ecommerce/billing' %}
        <script>
            window.dataLayer = window.dataLayer || []
            {% if paymentCartList %}
            dataLayer.push({
                'event': 'checkout',
                'ecommerce': {
                    'checkout': {
                        'actionField': {{ paymentActionField|json_encode|raw }},
                        'products': {{ paymentCartList|json_encode|raw }}
                    }
                }
            });
            {% endif %}
        </script>
    {% endif %}
    <!--   start Omniconvert.com code -->
    <link rel="dns-prefetch" href="//app.omniconvert.com" />
    <script type="text/javascript">window._mktz=window._mktz||[];</script>
    <script src="//cdn-b.omniconvert.com/js/q553a22.js" async></script>
    <!--    end Omniconvert.com code -->
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  <a href="#main-content" class="visually-hidden focusable">
  {{ 'Skip to main content'|t }}
  </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <div class="mini-cart-overlay"></div>
    <div class="parent-mini">
      <div id="mini-cart" class="mini-cart">
      </div>
      <div class="ajax-progress ajax-progress-throbber"><div class="throbber">&nbsp;</div></div>
    </div>
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
