.news_letter {
  h2.text-align-center {
    font-size: 2rem;
    color: $gray-30;
    margin: 0.5em 0 0.25em 0;
  }
}

.webform-submission-newsletter-sign-up-form {
  max-width: 750px;
  margin: 0 auto;
}

.webform-submission-newsletter-sign-up-form h2 {
  text-transform: capitalize;
  font-weight: 700;
  padding-top: 20px;
  letter-spacing: 0;
  text-align: center;
}

.webform-submission-newsletter-sign-up-form #edit-markup {
  p {
    font-size: 20px;
    font-family: $font-roman;
    color: #434447;
  }
}
