.repair-parts-page {
  .section-lead-in {
    margin-bottom: 0;
    margin-top: 0;
  }

  .parts-title {
    color: $gray-10;
    background-color: transparent;
  }

  .issue-type-tool-wrapper {
    max-width: 100%;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      left: 0;
    }

    @include maxbp($old-desktop) {
      padding: 0 20px;
    }

    .issue-type-tool-content,
    .issue-wrapper {
      max-width: 1440px;
      margin: 0 auto;
    }

    .issue-header {
      max-width: 1440px;
      margin: 0 auto;

      h4 {
        margin: 24px 0;
      }
    }
  }

  .fp-prod-award-text {
    max-width: 1440px;
    margin: 0 auto !important;
    padding: 50px 0 0 10px !important;
  }

  .sps-prod-identification {
    max-width: 1440px;
    margin: 0 auto !important;
  }

  .product-identifier-tool-head {
    &::before {
      content: none !important;
    }
  }

  .region-banner {
    .title-banner--text-centered {
      .banner-block.banner-block-medium {
        height: auto;
        min-height: auto;
      }

      .grid-container {
        @include large {
          max-width: 940px;
        }

        @include maxbp($grid-lg) {
          padding-bottom: 30px;
        }

        h1 {
          @include maxbp($grid-lg) {
            font-size: 2.0275rem;
          }
        }
      }
    }
  }

  .service-parts-support-page {
    padding: 0 !important;
    max-width: 100%;
    position: relative;

    &::before {
      content: '';
      background: linear-gradient($gray-90, $white);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    &::after {
      content: '';
      background: linear-gradient($gray-90, $white);
      position: absolute;
      width: 100%;
    }

    @include maxbp($old-desktop) {
      padding: 0 20px !important;
    }

    div.fp-search {
      margin: 0 auto;
      padding: 50px 0;
      max-width: 1440px;

      @include maxbp($old-desktop) {
        padding: 0 20px;
      }
    }
  }

  .sp-tab-data-wrapper {
    background: none;
    padding: 20px 0 50px 0;

    @include maxbp($old-desktop) {
      .sp-first-tab-img.sp-tab-img-block {
        @include maxbp($grid-sm) {
          margin-top: 20px;
        }

        .image-with-link-block {
          padding: 0;
          margin: 0;

          @include maxbp($grid-sm) {
            margin-top: 30px;
            padding-top: 30px;

            &:last-of-type {
              padding-bottom: 0;

              @media (min-width: $grid-md) {
                padding-bottom: 60px;
              }
            }
          }
        }
      }
    }
  }

  .footer-info {
    background-color: $gray-90;
  }

  .footer {
    margin-top: 0;
  }

  .grey-gradient-background {
    &::before {
      width: 100%;
      left: 0;
    }
  }

  .main {
    padding: 0;
    max-width: 100%;
  }

  .card_component {
    padding: 15px 0;
  }

  .catelog-four-grid {
    padding: 0;
  }

  .outlet_card_section {
    padding: 80px 0;
    background: transparent !important;
    position: relative;

    @include maxbp($old-desktop) {
      padding: 0 20px;
    }

    .outlet_card_content {
      max-width: 1440px;
      margin: 0 auto;

      &::before {
        content: "";
        background: linear-gradient($gray-90, $white);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        padding: 50px 0;
        margin-top: -80px;
        color: inherit;
        left: 0;

        @include maxbp($grid-md) {
          margin-top: -35px;
          border-top: 1px solid $gray-70;
        }
      }
    }

    @include maxbp($grid-md) {
      padding-top: 0;
      padding-bottom: 20px;
      margin-top: 40px;
    }

    .field_card_details {
      padding-left: 0;
      padding-right: 0;
    }

    .field_title {
      position: relative;
      font-size: 2.28rem !important;
      color: $gray-10;
      background-color: transparent;

      @include maxbp($grid-md) {
        padding-bottom: 25px;
      }
    }
  }

  h4,
  .outlet_card_section .field_title {
    @include maxbp($old-desktop) {
      font-size: 1.601rem !important;
    }
  }
}
