.sfcc-footer-newsletter {
  // margin-bottom: -20px;
  margin-top: -47px;
}

@media (min-width: 64.0625rem) {
  .product-rec-container {
    margin-bottom: 0;
    margin-top: 0;
    background: white;
  }
}

@media (max-width: 64.0625rem) {
  .product-rec-container {
    margin-bottom: 0;
    margin-top: 0;
    background: white;
  }
}

.gray-bg-sfcc {
  background: #f2f2f2;
}

.sfcc-homepage footer.footer {
  margin-top: 0;
}

.sfcc-homepage.content-slot-top {
  margin-top: -47px;
}

@media (max-width: 787px) {
  .sfcc-homepage.content-slot-top {
    margin-top: -41px;
  }
}

.sfcc-homepage {
  .views-element-container {
    max-width: none;
    padding: 0;
  }

  .find-parts-container {
    .no-line {
      position: relative !important;
      opacity: 1 !important;
      text-decoration: none;
    }
  }

  .img-tabs-container,
  .alt-img-grid,
  .flex-img-container,
  .find-parts {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .alt-img-grid {
    .cta-link {
      color: #a30535;
    }
  }

  .product-rec-container__title h3 {
    margin-left: auto;
    margin-right: auto;
  }

  .icon.icon--carrot-right {
    width: 0.7rem;
  }

  .featured-banner {
    .button {
      font-size: 1.125rem;
    }
  }

  .featured-banner__title {
    font-size: 66px;
    margin-bottom: 15px;

    p {
      margin: 0;
    }
  }

  .featured-banner__paragraph {
    font-size: 1.45rem;
  }

  .tabs__nav li {
    border-right: none;
    background: none;
  }

  .tabs__nav li::before {
    border-radius: 2px 2px 0 0;
    background: none;
  }

  .tabs__link,
  .tabs__link--local-tasks {
    font-size: 1.125rem;
    background: $gray-80;

    &:hover {
      background-color: $delta-merlot;
      color: $white;
    }

    &::before {
      background: none;
    }

    &.is-active {
      background-color: $gray-10;
      color: $white;

      &::before {
        background: none;
      }
    }

    @media (min-width: 1450px) {
      .tabs_nv.img-tabs {
        margin-top: 1px;
      }
    }
  }

  @media (max-width: 787px) {
    &.content-slot-top {
      margin-top: 0;
    }

    .video-banner-container {
      height: 500px;
    }

    .featured-banner .grid-container {
      padding-top: 0;
    }

    .featured-banner__title {
      font-size: 41px;
      margin-top: 50px;
    }

    .views-element-container {
      padding: 0;
    }

    .icon.icon--play {
      width: 80px;
      height: 80px;
    }

    .cta-link.cta-link--lg {
      font-size: 1rem;
    }

    .tabs__content {
      padding: 0 16px;
    }

    .tabs__link,
    .tabs__link--local-tasks {
      font-size: 0.88rem;
    }
  }
}

.sfcc-homepage.product-rec-container {
  padding: 3.75rem 24px 3.25rem 24px;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;

  .product-list {
    margin: 0 3rem;
  }

  .slick-arrow {
    height: 2.5rem;
    width: 2.5rem;
    top: 50%;

    .icon {
      padding: 1.5rem;
      border-radius: 50%;

      &:hover {
        box-shadow: 1px 1px 10px #c2c2c2;
      }
    }
  }

  .slick-prev {
    left: -4rem;
  }

  .slick-next {
    right: -4rem;
  }

  .slick-disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  .product-tile__collection {
    font-size: 0.75rem;
    line-height: 14px;
    letter-spacing: 1.69px;
    min-height: auto;
  }

  .product-tile__name {
    font-size: 14.22px;
    line-height: 17.78px;
    letter-spacing: 0.2px;
    padding-right: 10px;
  }

  @media (min-width: 1025px) and (max-width: 1110px) {
    .slick-slide {
      .product-tile {
        .flag {
          right: -120px !important;
          top: -40px !important;
          min-width: 240px !important;
        }
      }
    }
  }

  @media (min-width: 1111px) and (max-width: 1200px) {
    .slick-slide {
      .product-tile {
        .flag {
          right: -120px !important;
          top: -10px !important;
          min-width: 240px !important;
        }
      }
    }
  }

  @media (min-width: 1201px) and (max-width: 1239px) {
    .slick-slide {
      .product-tile {
        .flag {
          right: -140px !important;
          top: -40px !important;
          min-width: 280px !important;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .product-list {
      margin: 0;
      padding: 0;
    }

    .product-rec-container .product-grid__item .value,
    .product-rec-container .product-grid__item .sale-value {
      display: block;
    }

    .product-rec-container .slick-slide {
      border: 1px solid #d7d7d9;
    }

    .product-rec-container .slick-slide .product-tile {
      .flag {
        min-width: 0;
      }

      .flag__mobile.display--small-up {
        display: block !important;

        .flag {
          display: block;
          transform: none;
          left: 0;
          right: inherit;
        }
      }
    }

    .slider_flag {
      left: 0;
    }

    .product-rec-container__title h3 {
      font-size: 2.280625rem;
    }
  }
}
