.sfcc-footer-newsletter {
  background: #f5f5f7;
  padding: 40px;
  text-align: center;

  &.success {
    background: #cfefc2;
    font-weight: bold;
  }

  .title {
    text-align: center;
    font-size: 1.8125rem !important;
    letter-spacing: 0;
    font-family: $font-roman;
    font-weight: 700;
  }

  .subtitle {
    margin: 10px 0 25px 0;
    letter-spacing: -0.18px;
  }

  form {
    max-width: 925px;
    margin: 0 auto;
  }

  form .col-sm-5 {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    flex-basis: 100%;
  }

  .input-group {
    display: flex;
  }

  input {
    letter-spacing: -0.2px;
  }

  .input-group input:first-child {
    margin-left: 0;
  }

  .input-group input:first-child,
  .input-group input:nth-child(2) {
    flex-basis: 66.66667%;
  }

  .input-group input:nth-child(3) {
    flex-basis: 92%;
  }

  .form-control {
    box-shadow: 0 0 0 1px #77777a inset;
    margin: 0 10px;

    &.is-invalid {
      box-shadow: 0 0 0 1px #ff4949 inset;
    }
  }

  .invalid-feedback.set--visible {
    display: none;
  }

  button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    // color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: $font-bold;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 2px;
    padding: 0.98rem 0;
    border: 1px solid transparent;
    // background-color: transparent;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #ac0535;
    color: #fff;
    width: 145px;
    display: inherit;
  }

  .email-signup-alert {
    padding-bottom: 10px;
  }

  .alert-danger {
    font-family: $font-bold2;
    font-size: 0.88875rem;
    color: #ff4949;
  }

  @media (max-width: 787px) {
    padding: 30px 15px;

    .title {
      font-size: 1.265818938605619rem !important;
    }

    .input-group {
      flex-direction: column;
    }

    .form-control {
      margin: 0 0 15px 0;
    }

    button {
      width: 100%;
      display: block;
    }
  }
}
