body.showroom {
  .text-long {
    text-align: center;
    margin: 40px 0;
  }

  .designbeyond {
    margin: 40px 0;
  }

  .designbeyond .qidl-link {
    margin-bottom: 20px;
  }
}

.reallifeshowroom {
  @include maxbp($r-1100) {
    .main {
      padding-top: 0;
    }
  }
}
