{{ attach_library('delta_theme/service-part-tabs') }}
{{ attach_library('delta_theme/accordion') }}
<div class="service-parts-support-page find-part-page">

    <div class="fp-prod-award-text">
    <h4 class="product-identifier-tool-head">
        {{ "product identifier tool"|t }}
    </h4>
      <p class="paragraph">
          {{ "Answer step-by-step questions to narrow down the results to your product model number resulting in a link to the product detail page containing a list of parts and a parts diagram."|t }}
      </p>
    </div>
    <div class="sps-prod-identification">
        <div class="sps-repair-desc">
            <div class="service-part-tabs">
                <ul role="tablist" class="service-parts__tablist" data-tabs="">
                    <li class="is-active" role="presentation"><a role="tab" class="product-identification-room-tab service-part-link" data="room" href="#room" data-tabby-default aria-selected="true" >{% trans %}Room{% endtrans %}</a></li>
                    <li role="presentation"><a role="tab" class="product-identification-product-type-tab service-part-link" data="product-type" href="#product-type">{% trans %}Product Type{% endtrans %}</a></li>
                    <li role="presentation"><a role="tab" class="product-identification-product-description-tab service-part-link" data="product-description" href="#product-description">{% trans %}Product Description{% endtrans %}</a></li>
                    <li role="presentation"><a role="tab" class="product-identification-issues-tab service-part-link" data="issues" href="#issue">{% trans %}Matching Results{% endtrans %}</a></li>
                </ul>

                <div class="service-parts__tabpanel" id="room" role="tabpanel">
                    <div class="sp-tab-data-wrapper">
                        <div class="sp-tab-data-title" id="room-question"></div>
                        <div class="sp-tab-data-desc">
                            <div class="sp-first-tab-img sp-tab-img-block" id="room-answers"></div>
                        </div>
                    </div>
                    <div class="ajax-progress ajax-progress-throbber">
                        <div class="throbber">&nbsp;</div>
                    </div>
                </div>
                <div hidden="hidden" class="service-parts__tabpanel" id="product-type" role="tabpanel">
                    <div class="sp-tab-data-wrapper">
                        <div class="sp-tab-data-title-wrapper">
                            <div class="sp-tab-data-title" id="product-type-question"></div>
                        </div>
                        <div class="sp-tab-data-desc">
                            <div class="sp-second-tab-img sp-tab-img-block" id="product-type-answers"></div>
                        </div>
                        <a class="sp-nav-link" href="#room" data-tab-link>Back</a>
                    </div>
                    <div class="ajax-progress ajax-progress-throbber">
                        <div class="throbber">&nbsp;</div>
                    </div>
                </div>
                <div hidden="hidden" class="service-parts__tabpanel" id="product-description" role="tabpanel">
                    <div class="sp-tab-data-wrapper">
                        <div class="sp-tab-data-title-wrapper">
                            <div class="sp-tab-data-title">
                                <a class="sp-nav-link" href="#product-type" data-tab-link>Back</a>
                                {% include "@atoms/02-text/00-headings/_heading.twig" with {
                                    "heading_level": 3,
                                    "heading": "Answer more detailed questions to narrow down matching products.",
                                } %}
                            </div>
                            <div class="sp-ttl-prod-wrapper">
                                <div class="sp-ttl-prd-mach-no">
                                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                                        paragraph_content: sps_ttl_prod_number,
                                        paragraph_base_class: "sps-ttl-prd-no"
                                    } %}
                                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                                        paragraph_content: "Matching Products",
                                        paragraph_base_class: "sps-ttl-prod-no-text"
                                    } %}
                                </div>
                                <div class="sp-ttl-prd-view">
                                    <a href="#issue" data-tab-link class="guided-search-viewMatchingLink js-viewMatchingLink btn btn-red btn-lg push-t button button--primary">View Matching Products</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-description-output sp-tab-data-desc clearfix"><div class="row accordion" id="product-description-data"></div></div>
                        <div class="sp-matching-bottom">
                            <a href="#product-type" class="sp-nav-link" data-tab-link>Back</a>
                            <div class="sp-ttl-prod-wrapper">
                                <div class="sp-ttl-prd-mach-no">
                                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                                        paragraph_content: sps_ttl_prod_number,
                                        paragraph_base_class: "sps-ttl-prd-no"
                                    } %}
                                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                                        paragraph_content: "Matching Products",
                                        paragraph_base_class: "sps-ttl-prod-no-text"
                                    } %}
                                </div>
                                <div class="sp-ttl-prd-view">
                                    <a href="#issue" data-tab-link class="guided-search-viewMatchingLink js-viewMatchingLink btn btn-red btn-lg push-t button button--primary">View Matching Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ajax-progress ajax-progress-throbber">
                        <div class="throbber">&nbsp;</div>
                    </div>
                </div>
                <div hidden="hidden" class="service-parts__tabpanel" id="issue" role="tabpanel">
                    <div class="sp-tab-data-wrapper">
                        <div class="sp-tab-data-title-wrapper">
                            <div class="sp-tab-data-title">
                                <a class="sp-nav-link" href="#product-description" data-tab-link>Back</a>

                                {% include "@atoms/02-text/00-headings/_heading.twig" with {
                                    "heading_level": 3,
                                    "heading": "Matching Product Results",
                                } %}

                                <div class="sp-tab-data-txt">
                                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                                        paragraph_content: "Please select your product from the best matches below:",
                                    } %}
                                </div>
                            </div>
                        </div>
                        <div class="sp-tab-data-desc">
                            <div class="sp-forth-tab-img sp-tab-img-block">
                                <div id="guided-search-output-product" class="grid">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="issues-troubleshoot"><section class="row" id="troubleshoot-question"></section><section class="row"><ul class="content-grid row" id="troubleshoot-answers"></ul></section><a href="#issue" class="troubleshoot-back">Back</a></div>
                    <div class="issues-repair"></div>-->
                    <div class="ajax-progress ajax-progress-throbber">
                        <div class="throbber">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="output-question-node">
    <h3 class="h3"><%- question %></h3>
</script>
<script type="text/template" id="output-answer-node">
    <div class="image-with-link-block">
        <div class="img-link-image">
            <a href="#<%- nextTab %>" nextStep="<%- nextStep %>" data="<%- nextTab %>" data-tab-link class="js-navLink gtm-link service-tab-trigger" data-gtm-category="Repair Parts Wizard" data-gtm-action="<%- tab %>" data-value="<%- value %>" data-next="" data-stepid="<%- stepId %>" data-match="<%- matchingproductcount %>">
                <img class="img" src="<%- thumbnail %>" alt="<%- value %>">
            </a>
        </div>
        <div class="img-link-title">
            <a href="#<%- nextTab %>" nextStep="<%- nextStep %>" data="<%- nextTab %>" data-tab-link class="js-navLink gtm-link service-tab-trigger" data-gtm-category="Repair Parts Wizard" data-gtm-action="<%- tab %>" data-value="<%- value %>" data-next="" data-stepid="<%- stepId %>" data-match="<%- matchingproductcount %>"><h5 class="h5"><%= title %></h5></a>
        </div>
    </div>
</script>
<script type="text/template" id="output-accordion-question">
    <div class="accordion-term <%- active %>">
        <div id="question<%- questionNumber %>" class="acc-title"><%- question %></div>
        <div class="acc-ans"></div>
    </div>
    <div class="accordion-def">
        <div id="answer<%- questionNumber %>" class="sp-third-tab-img sp-tab-img-block">

        </div>
    </div>
</script>
<script type="text/template" id="output-accordion-answers">
    <div class="image-with-link-block <%- matchingproductcount %>">
        <div class="img-link-image">
            <a href="#" data="<%- value %>">
                <img class="img" src="<%- thumbnail %>" alt="<%= title %>">
            </a>
        </div>
        <div class="img-link-title">
            <a href="#" question= "<%- questionNumber %>" data="<%- value %>"><h5 class="h5"><%= title %></h5></a>
        </div>
    </div>
</script>

<script type="text/template" id="output-product-node">
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">

        <section class="product-tile">
            <% if(ribbonText){ %><div class="slider_flag flag_position"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
            <a class="plp_product_title_link" href="<%- url %>">
                <figure class="product-tile__image">
                    <img class="img" src="<%- heroImage %>" alt="<%= title %>">
                </figure>
            </a>
            <div class="product-tile__body">
                <% if(ribbonText){ %><div class="slider_flag flag_position flag-mobile"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
                <h6 class="h6 product-tile__title">
                  <a class="plp_product_title_link" href="<%- url %>">
                    <%= collectionName %>
                  </a>
                </h6>
                <p class="paragraph">
                    <a class="plp_product_title_link" href="<%- url %>"><%= title %></a>
                </p>

             <div class="prod-finishes">
                <% _.each(finishOptions, function (finishIcon) { %>
                  <%= finishIcon %>
                <% }); %>
              </div>
                <span class="product-tile__sku">
                  <a class="plp_product_title_link" href="<%- url %>">
                    <%- sku %>
                  </a>
                </span>
                <div class="add-to-compare black-txt">
                    <a href="javascript:void(0);" class="cta-link cta-link--sm has-icon--left js-add-to-compare" name="<%- sku %>" data-model-number = "<%- sku %>" > <svg class="icon icon--filter-add-show-small" aria-hidden="true" role="img" width="16" height="16" aria-labelledby="title-filter-add-show-small">
                        <title id="title-filter-add-show-small">
                          {%- trans -%}
                            filter-add-show-small
                          {%- endtrans -%}
                        </title>
                        <use xlink:href="/themes/custom/delta_theme/dist/img/sprite/sprite.svg#filter-add-show-small"></use>
                      </svg>
                      {%- trans -%}
                        Add To Compare
                      {%- endtrans -%}
                    </a>
                  </div>
            </div>
        </section>
    </div>
</script>
<script type="text/template" id="troubleshoot-question-node">
    <h3><%- question %></h3>
</script>
<script type="text/template" id="troubleshoot-answer-node">
    <li class="content-cell col-md-6 ">
        <div class="content-thumbnail">
            <a href="#" nextStep="" data-tab-link class="js-navLink gtm-link troubleshoot-option-trigger" data-gtm-category="Repair Parts Wizard" data-value="<%- value %>" data-next="" data-stepid="<%- stepId %>" data-match="<%- matchingproductcount %>">
                <img class="img-responsive" src="<%- thumbnail %>" alt="<%- value %>">
            </a>
        </div>
        <div class="content-desc text-left">
            <h5><a href="#" nextStep="" data-tab-link class="js-navLink gtm-link troubleshoot-option-trigger" data-gtm-category="Repair Parts Wizard" data-value="<%- value %>" data-next="" data-stepid="<%- stepId %>" data-match="<%- matchingproductcount %>"><%= title %></a></h5>
        </div>
    </li>
</script>
{% if cloudKey and siteId and siteEnvironment and siteLocale %}
    <script async src="https://apps.bazaarvoice.com/deployments/{{ cloudKey }}/{{ siteId }}/{{ siteEnvironment }}/{{ siteLocale }}/bv.js"></script>
{% endif %}
