{{ attach_library('delta_theme/service-part-tabs') }}
{{ attach_library('global_search/search') }}
<div class="service-parts-support-page find-repair-parts-page search-parts-section">
  <div class="fp-search">
    <div class="fp-search-title">
      <h4 class="parts-title">Search</h4>
      <p class="parts-desc">If you know your product model number, enter it into the search box below to navigate to the product detail page listing out parts belonging to your product.</p>
    </div>
    <div class="fp-search-desc">
      {% include "@molecules/search-block/search-parts-block.twig" %}
    </div>
  </div>
</div>
