
<nav class="sidebar-navigation">
  <ul>
    {% for item in navigation %}
      {% set active_class = item.active ? "is-active" : "" %}
      <li>
        <a class="{{ active_class }}" href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
