<div class="pdp-list-ttl-wrapper">
  <div class="pdp-list-title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 3,
      "heading": heading,
    } %}
  </div>
</div>
<div class="grid">
  {% for featureproducts in featureproductdetails %}
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
      {% include "@organisms/product-tile/product-tile.twig" with{
        "collection_name": featureproducts.collection_name,
        "model_number": featureproducts.model_number,
        "model_image": featureproducts.model_image,
        "list_price": featureproducts.list_price,
        "description": featureproducts.description,
        "link": featureproducts.view_details_link,
        "view_details_link": featureproducts.view_details_link,
        "view_docs_link": featureproducts.view_details_link ~ '#specsTab',
        "hide_ratings": 1,
        "finish_options": featureproducts.finishOptions,
        "finish": featureproducts.finish,
        "defaultFinish": featureproducts.variant

      } %}
    </div>
  {% endfor %}
</div>
