{#
/**
 * Available variables:
 * - url - URL for the link
 * - display_url - Text of the link, e.g. website.com
 * - cta_title - right-hand title
 */
#}

<li class="wtb-list__item">
  <a href="{{ url }}" class="wtb-list__link">
    <span>{{ display_url }}</span>
    <span class="cta-link cta-link--sm cta-link--arrow">{{ cta_title }}</span>
  </a>
</li>
