.image-tile {
  flex: 0 0 auto;
  margin-left: 5px;
  position: relative;
  width: 45%;

  &::after {
    width: 100%;
    height: 20%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 1;
  }

  &__title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    text-transform: capitalize;
    color: white;
    margin: 0;
    font-weight: bold;
    z-index: 2;
  }

  img {
    width: 100%;
    border-radius: 4px;
  }

  &:first-child {
    margin-left: 0;
  }
}

.img-tabs-container {
  .tabs__content::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .tabs__content {
    display: flex;
    overflow-x: scroll;
    margin-top: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .cta-container {
    margin: 20px auto 64px auto;
    text-align: center;
  }

  .tabs__nav li:first-child {
    margin-right: 3px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

@media (max-width: 787px) {
  .img-tabs-container .tabs__content {
    padding: 0 16px;
  }

  .cta-container {
    margin: 20px auto 30px auto;
  }
}

@media (min-width: 787px) {
  .image-tile {
    margin-left: 20px;

    &__title {
      font-size: 1.125rem;
    }
  }

  .img-tabs-container {
    .tabs__content {
      &.centered {
        justify-content: center;
      }
    }
  }
}

.img-tabs {
  & > li {
    margin: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    &::before {
      content: none !important;
    }
  }
}
