{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{# Drupal Specific #}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul>{{ secondary }}</ul>
{% endif %}

{# PL Specific (javascript version) #}
{% if not primary %}
{{ attach_library('delta_theme/tabs') }}
  <div id="tabs" class="tabs no-js img-tabs-container">
    <ul class="tabs__nav img-tabs">
      {% for key, listItem in sub_menu_items %}
      {% include "@atoms/09-menu/tab/tab.twig" with {
        tab_link: "#tab-" ~ key,
        tab_text: listItem.sub_menu_item_link
      } %}
      {% endfor %}
    </ul>
    {% for key, listItem in sub_menu_items %}
	    <div class="tabs__tab{% if key == 0 %} is-active{% endif %}">
      <div id="tab-{{ key }}" class="tabs__content no-slider {% if listItem.img_tab_items|length < 6 %}centered{% endif %}">
      	{% for key, img_tile in listItem.img_tab_items %}
          <a href="{{ img_tile.tile_url }}" class="image-tile">
	      		<p class="image-tile__title">
	      			{{ img_tile.tab_title }}
	      		</p>
            {% if img_tile.sfcc_lazy_load %}
              <img alt="" class="lazyload" src="" data-src="{{ img_tile.img_src }}" />
            {% else %}
              <img alt="" src="{{ img_tile.img_src }}" />
            {% endif %}
	      	</a>
      	{% endfor %}
      </div>
      <div class="cta-container">
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        cta_link_modifiers: { 1: "lg" },
        cta_link_icon: "carrot-right",
        cta_link_icon_position: "right",
        cta_link_icon_size: "10px",
        cta_link_text: listItem.cta_link_text,
        cta_link_url: listItem.cta_link_url,
      } %}
    </div>
    </div>
    {% endfor %}
  </div>

{% endif %}
