
<div class="product_tile">

      <div class="product-image">
      <a href="#" aria-label="Link to Product title">
        
<img
  class="img"
      src="../../images/prod-img.jpg"
      alt="Thumbnail image of Product title"
    />
      </a>
    </div>
  
  <div class="product-data">

    
          <div class="product-title">
        <a href="#">
          
<h4 class="h4">
      Product title
  </h4>
        </a>
      </div>
    
    <div class="product-desc">
                </div>

    
    
  </div>

  </div>
