{#
/**
 *
 * Available variables
 * - label - (optional) for the input. Only use if no <label> element is used in conjuction with this input.
 * - value - (optional) value for the input (number)
 * - min - (optional) minimum value
 * - max - (optional) maximum value
 *
 */
#}

{{ attach_library('brizo_theme/numeric-input') }}

<div class="numeric-stepper">
  <button class="numeric-stepper__button js-numeric-decrement" aria-hidden="true">–</button>
  <input type="text" class="numeric-stepper__input"
    aria-label="{{ label }}"

    value="{{ value|default(0) }}"

    {% if not min is empty %}
      data-min="{{ min }}"
    {% endif %}

    {% if not max is empty %}
      data-max="{{ max }}"
    {% endif %}
  >
  <button class="numeric-stepper__button js-numeric-increment" aria-hidden="true">+</button>
</div>
