


<div class="numeric-stepper">
  <button class="numeric-stepper__button js-numeric-decrement" aria-hidden="true">–</button>
  <input type="text" class="numeric-stepper__input"
    aria-label="Select Quantity"

    value="2"

          data-min="0"
    
          data-max="20"
      >
  <button class="numeric-stepper__button js-numeric-increment" aria-hidden="true">+</button>
</div>
