<div class="selected-filter">
  <a class="filter-chip"> Default filter faucet chip 1 <i class="icon-filter-hide-small"></i></a>
  <a class="filter-chip"> Default filter faucet chip 2 <i class="icon-filter-hide-small"></i></a>
  <a class="filter-chip"> Default filter faucet chip 3 <i class="icon-filter-hide-small"></i></a>
  <a class="filter-chip"> Default filter faucet chip 4 <i class="icon-filter-hide-small"></i></a>
  <a class="filter-chip clear-filter"><i class="icon-filter-hide-small"></i> clear all filters </a>
</div>
