<script data-name="reload" data-src="/dist/02-molecules/menus/footer-sidebar-menu.js"></script>

<footer class="footer">
      
    
                          
        
<ul class="inline-menu">
        <div class="sub-data">
                      

<li class="inline-menu__item">
  
        
<a class="inline-menu__link"
 Array href="/">
      Test
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1342649053"></i>
      <title id="arrow-id-1342649053" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                      

<li class="inline-menu__item">
  
        
<a class="inline-menu__link"
 Array href="/test-2">
      Number 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-304120928"></i>
      <title id="arrow-id-304120928" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
              </div>
      </ul>
  

  </footer>
