{{ attach_library('brizo_theme/footer-inline-menu') }}

<footer class="footer">
  {% block footer_content %}
    {% include "@molecules/menus/inline-menu/inline-menu.twig" with {
      items: footer_menu_items
    } %}
  {% endblock %}
</footer>
