<div class="pl-button-list">
  {% for button in buttons %}
    {% include "@atoms/06-buttons/01-button.twig" with {
      "button_content": button.button_content,
      "button_modifiers": button.button_modifiers,
      "button_click": button.button_click,
      "button_name": button.button_name,
    }%}
  {% endfor %}
</div>
