<div class="pl-button-list">
      

<button
  class="button button--primary"

        onclick="myfunction()"
        name="Primary Button"
     >
      Primary
  </button>
      

<button
  class="button button--primary button--disabled"

        onclick="myfunction()"
        name="Primary Button"
     >
      Primary Disabled
  </button>
      

<button
  class="button button--secondary"

          name="Secondary Button"
     >
      Secondary
  </button>
      

<button
  class="button button--secondary button--disabled"

          name="Secondary Button"
     >
      Secondary Disabled
  </button>
      

<button
  class="button button--tertiary"

          name="Tertiary Button"
     >
      Tertiary
  </button>
      

<button
  class="button button--tertiary button--disabled"

          name="Tertiary Button"
     >
      Tertiary Disabled
  </button>
  </div>
