
<script data-name="reload" data-src="/js/picturefill.js"></script>


<div class="banner">
              <div class="breadcrumb-block dark-theme">
                    <nav role="navigation" aria-labelledby="system-breadcrumb-868964771" class="">
    <h2 id="system-breadcrumb-868964771" class="visually-hidden">Breadcrumb</h2>
    <ol class="breadcrumb">
          <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="#">Home</a>
              </li>
          <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="#">2nd Level</a>
              </li>
          <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="#">3rd Level</a>
              </li>
          <li class="breadcrumb__item">
                  Current Page
              </li>
        </ol>
  </nav>
                </div>
      
  
    <div class="banner__wrapper dark-theme">
  <div class="banner_img">
    <picture>
      <source srcset="../../images/homepage-header_rook-kitchen_1600x911.jpg" media="(min-width: 920px)">
            <img src="../../images/homepage-header_rook-kitchen_1600x911.jpg" alt="" />
    </picture>
    <div class="banner__footer">
    <div class="plp-share-link social_sharing">
      <a class="share-this-page-plp" href="JavaScript:Void(0)">Copy & Share This Page Link</a>
    </div>
          <div class="social_sharing">
          
<a class="link"
  href="">
      copy & share page link
  </a>
      </div>
    
      </div>
  </div>
    <div class="grid-container banner__content ">
      <div class="banner__content__flex bottom">

        
        <div class="overlay_bg banner__content_inner">
                                
<h1 class="banner__title">
      Page title with transparent background placed Here
  </h1>
                                               </div>
      </div>
    </div>
  </div>
  
</div>
