<div class="text-button-box">
  <div class="tbb-text">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: tbb_text,
    } %}
  </div>
  <div class="tbb-button">
    {% include "@atoms/06-buttons/01-button.twig" with {
      button_url: tbb_button_url,
      button_content: tbb_button_content,
      button_modifiers: {1: "primary"},
    } %}
  </div>
</div>
