{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
} %}

  {% block page_content %}

    {% if site_title %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 1,
        "heading": "Home",
      } %}
    {% endif %}

    <div class="grid-container grid-container--medium grid-container--wtb">
      <div class="grid">
        <div class="grid-col-lg-7">
          <section class="wtb-section">
            <h3 class="h3 h3--light">{{ section_1_title }}</h3>
            <p class="u-text-lg">{{ section_1_title }}</p>

            <div class="wtb-logo-grid">
              {% for logo in logos %}
                {% include "@atoms/where-to-buy/where-to-buy-logo/where-to-buy-logo.twig" with {
                  url: logo.url,
                  image_url: logo.image_url,
                  title: logo.title
                } %}
              {% endfor %}
            </div>
          </section>

          <section class="wtb-section">
            <h3 class="h3 h3--light">{{ section_2_title }}</h3>
            <p class="u-text-lg">{{ section_2_copy }}</p>

            <ul class="wtb-list">
              {% for link in links %}
                {% include "@atoms/where-to-buy/where-to-buy-list-item/where-to-buy-list-item.twig" with {
                  url: link.url,
                  display_url: link.display_url,
                  cta_title: link.cta_title
                } %}
              {% endfor %}
            </ul>
          </section>
        </div>

        <div class="grid-col-lg-5">
          <div class="wtb-sidebar textbox_container">
            <h3 class="h6">{{ sidebar_title }}</h3>
            <h4 class="wtb-sidebar-subtitle">{{ sidebar_section_1_subtitle }}</h4>

            <p>{{ sidebar_section_1_subtitle }}</p>

            {% include "@atoms/06-buttons/01-button.twig" with {
              button_url: sidebar_section_1_button_url,
              button_content: sidebar_section_1_button_text,
              button_modifiers: ["primary", "wtb-sidebar-cta"],
            } %}

            <hr class="divider">

            <h4 class="wtb-sidebar-subtitle">{{ sidebar_section_2_subtitle }}</h4>
            <p>{{ sidebar_section_2_copy }}</p>

            <a class="wtb-sidebar__logo" href="{{ sidebar_logo_url }}">
              <img src="{{ sidebar_logo_image_url }}" alt="{{ 'Sidebar logo'|t }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
