/* Scroll down icon */
@-webkit-keyframes scroll-down-anim
{
    0%
    {
        bottom: 5px;
    }
    50%
    {
        bottom: 10px;
    }
    100%
    {
        bottom: 5px;
    }
}

@keyframes scroll-down-anim
{
    0%
    {
        bottom: 5px;
    }
    50%
    {
        bottom: 10px;
    }
    100%
    {
        bottom: 5px;
    }
}

.text-align-center .banner-text-section
{
    justify-content: center;
    align-items: center;
}

.text-align-center .banner-text-section .banner-text-section-contents
{
    align-items: center;
}

.text-align-left .banner-text-section
{
    align-items: flex-start;
    justify-content: center;
}

.text-align-right .banner-text-section
{
    align-items: flex-end;
    justify-content: center;
}

.banner-box-position-left .banner-text-section-contents,
.banner-box-position-center .banner-text-section-contents,
.banner-box-position-right .banner-text-section-contents,
.banner-box-position-bottom-left .banner-text-section-contents,
.banner-box-position-bottom-right .banner-text-section-contents,
.banner-box-position-bottom-edge .banner-text-section-contents
{
    background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 991.98px)
{
    .banner-box-position-left .banner-text-section-contents,
    .banner-box-position-center .banner-text-section-contents,
    .banner-box-position-right .banner-text-section-contents,
    .banner-box-position-bottom-left .banner-text-section-contents,
    .banner-box-position-bottom-right .banner-text-section-contents,
    .banner-box-position-bottom-edge .banner-text-section-contents
    {
        width: 100%;
    }
    .banner-box-position-left .banner-text-section,
    .banner-box-position-center .banner-text-section,
    .banner-box-position-right .banner-text-section,
    .banner-box-position-bottom-left .banner-text-section,
    .banner-box-position-bottom-right .banner-text-section,
    .banner-box-position-bottom-edge .banner-text-section
    {
        left: 0 !important;
    }
}

@media (min-width: 992px)
{
    .banner-box-position-left .banner-text-section
    {
        align-items: flex-start;
        justify-content: center;
    }
    .banner-box-position-left.text-align-left .banner-text-section
    {
        padding-right: 16px;
        padding-left: 22px;

        text-align: left;
    }
    .banner-box-position-left.text-align-center .banner-text-section
    {
        left: 0;

        text-align: center;
    }
    .banner-box-position-left.text-align-right .banner-text-section
    {
        padding-right: 22px;
        padding-left: 16px;

        text-align: right;
    }
    .banner-box-position-center .banner-text-section
    {
        justify-content: center;
        align-items: center;
    }
    .banner-box-position-center.text-align-left .banner-text-section
    {
        left: 0;

        text-align: left;
    }
    .banner-box-position-center.text-align-center .banner-text-section
    {
        text-align: center;
    }
    .banner-box-position-center.text-align-right .banner-text-section
    {
        left: 0;

        text-align: right;
    }
    .banner-box-position-right .banner-text-section
    {
        align-items: flex-end;
        justify-content: center;
    }
    .banner-box-position-right.text-align-left .banner-text-section
    {
        padding-right: 16px;
        padding-left: 22px;

        text-align: left;
    }
    .banner-box-position-right.text-align-center .banner-text-section
    {
        text-align: center;
    }
    .banner-box-position-right.text-align-right .banner-text-section
    {
        padding-right: 22px;
        padding-left: 16px;

        text-align: right;
    }
    .banner-box-position-bottom-left .banner-text-section
    {
        align-items: flex-start;
        justify-content: flex-end;
    }
    .banner-box-position-bottom-left.text-align-left .banner-text-section
    {
        padding-right: 16px;
        padding-left: 22px;

        text-align: left;
    }
    .banner-box-position-bottom-left.text-align-center .banner-text-section
    {
        left: 0;

        text-align: center;
    }
    .banner-box-position-bottom-left.text-align-right .banner-text-section
    {
        padding-right: 22px;
        padding-left: 16px;

        text-align: right;
    }
    .banner-box-position-bottom-right .banner-text-section
    {
        align-items: flex-end;
        justify-content: flex-end;
    }
    .banner-box-position-bottom-right.text-align-left .banner-text-section
    {
        padding-right: 16px;
        padding-left: 22px;

        text-align: left;
    }
    .banner-box-position-bottom-right.text-align-center .banner-text-section
    {
        right: 0;
        left: 0;

        text-align: center;
    }
    .banner-box-position-bottom-right.text-align-right .banner-text-section
    {
        padding-right: 22px;
        padding-left: 16px;

        text-align: right;
    }
}

.banner-box-position-bottom-edge .banner-text-section
{
    justify-content: flex-end;
    align-items: center;
}

.banner-box-position-bottom-edge .banner-text-section .banner-text-section-contents
{
    width: 100%;

    align-items: center;
}

.banner-box-position-bottom-edge.text-align-left .banner-text-section,
.banner-box-position-bottom-edge.text-align-right .banner-text-section
{
    left: 0;

    text-align: center;
}

.banner-image-container .banner-img
{
    position: relative;
}

.banner-image-container .banner-img img
{
    width: 100%;
}

.banner-image-container .banner-text-section
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 0 16px;
}

.banner-image-container .banner-text-section .banner-text-section-contents
{
    display: flex;
    flex-direction: column;

    height: auto;
    padding: 20px 16px;

    justify-content: center;
}

@media (min-width: 992px)
{
    .banner-image-container .banner-text-section .banner-text-section-contents
    {
        padding: 20px 16px;
    }
}

.banner-image-container .banner-text-section .banner-text-section-contents .banner-text
{
    opacity: 1;
}

.banner-image-container .banner-text-section .banner-text-section-contents .banner-text p
{
    margin: 16px 0;
}

.banner-image-container .banner-text-section .banner-text-section-contents .banner-text p:last-child
{
    margin: 0;
}

.banner-image-container .banner-text-section .banner-text-section-contents.shadow-content
{
    background-color: rgba(0, 0, 0, .5);
}

.banner-image-container .banner-text-section .banner-text-section-contents h1
{
    margin: 7px 0 10px;
}

@media (max-width: 991.98px)
{
    .banner-image-container .banner-text-section .btn
    {
        width: calc(100% - 32px);
        max-width: 100%;
        margin-top: 8px;
    }
}

@media (max-width: 991.98px)
{
    .banner-image-container img
    {
        min-height: 496px;

        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
}

.banner-image-container h6,
.banner-image-container .h6
{
    font-weight: bold;
    line-height: 24px;

    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner-image-container h1,
.banner-image-container .h1
{
    letter-spacing: 0;
}

.banner-image-container h1,
.banner-image-container h2,
.banner-image-container .h1,
.banner-image-container .h2
{
    font-weight: normal;

    text-transform: uppercase;
}

@media (min-width: 768px)
{
    .banner-image-container h1,
    .banner-image-container h2,
    .banner-image-container .h1,
    .banner-image-container .h2,
    .banner-image-container h6,
    .banner-image-container .h6
    {
        padding: 0 16px;
    }
}

.text-align-left .banner-image-container h1,
.text-align-left .banner-image-container h2,
.text-align-left .banner-image-container .h1,
.text-align-left .banner-image-container .h2,
.text-align-left .banner-image-container h6,
.text-align-left .banner-image-container .h6
{
    padding: 0;
}

.banner-scroll-down
{
    position: absolute;
    bottom: 20px;
    left: 49%;

    width: 29px;
    height: 45px;
}

.banner-scroll-down a
{
    left: 0;
}

@media (max-width: 991.98px)
{
    .banner-scroll-down
    {
        bottom: 0;
    }
}

.banner-scroll-down span.banner-scroll-down-bg
{
    position: absolute;
    z-index: 8;
    bottom: 14px;
    left: 0;

    display: block;

    width: 22px;
    height: 22px;

    transform: rotate(45deg);

    background: #fff;
}

.banner-scroll-down span.banner-scroll-down-bg:hover
{
    cursor: pointer;
}

@media only screen and (max-width: 768px)
{
    .banner-scroll-down span.banner-scroll-down-bg
    {
        width: 12px;
        height: 12px;
    }
}

.banner-scroll-down a
{
    font-size: 13px;

    position: absolute;
    z-index: 9;
    bottom: 25px;

    padding: 9px 5px;

    -webkit-animation: scroll-down-anim 1s infinite;
            animation: scroll-down-anim 1s infinite;

    color: #061f5c;
}

.banner-scroll-down a::before
{
    transition: all 500ms cubic-bezier(.25, .46, .45, .94);
}

.banner-scroll-down a:hover
{
    cursor: pointer;
}

@media only screen and (max-width: 768px)
{
    .banner-scroll-down a
    {
        font-size: 8px;

        padding: 8px 3px;
    }
}

.text-align-center,
.video-text-align-center
{
    text-align: center;
}

.text-align-left,
.video-text-align-left
{
    text-align: left;
}

.text-align-right,
.video-text-align-right
{
    text-align: right;
}

.video-desktop-upload video
{
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.video-desktop-embed
{
    min-height: 180px;

    background-position: center;
    background-size: cover;
}

.video-desktop-embed .youtube-background
{
    position: relative !important;

    height: 0 !important;
    padding-bottom: 56.25% !important;
}

.video-desktop-embed .youtube-background iframe
{
    width: 100% !important;
    height: 100% !important;

    opacity: 1 !important;
}

@media only screen and (max-width: 768px)
{
    .video-mobile-embed,
    .video-mobile-upload
    {
        top: 0;

        display: block;

        background-position: center;
        background-size: cover;
    }
    .video-mobile-embed video,
    .video-mobile-upload video
    {
        width: 100%;
        height: 100%;
        max-height: 195px;
    }
    .video-mobile-embed .youtube-background,
    .video-mobile-upload .youtube-background
    {
        position: unset !important;
    }
    .video-mobile-embed .youtube-background iframe,
    .video-mobile-upload .youtube-background iframe
    {
        width: 100% !important;
        max-width: 100vw;

        transform: translateX(-50%) translateY(0%) !important;

        opacity: 1 !important;
    }
}

.video-mobile-upload img.video-upload-play-button
{
    display: none;
}

.video-mobile-upload video
{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px)
{
    .video-mobile-embed .youtube-background iframe
    {
        transform: translateX(-50%) translateY(-50%) !important;
    }
}

.video-text-section
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: table;

    width: 100%;
    height: 100%;
}

@media (max-width: 991.98px)
{
    .video-text-section
    {
        position: relative;

        height: auto;
        padding-top: 25px;
        padding-bottom: 50px;
    }
}

.video-text-section .video-text-section-contents
{
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 0 16px;

    justify-content: center;
}

@media (max-width: 991.98px)
{
    .video-text-section .video-text-section-contents
    {
        position: relative;

        padding: 16px;
    }
}

.video-text-section .video-text-section-contents a
{
    height: auto;
    padding: 8px 37px;

    text-decoration: none;

    border-radius: 2px;
    background: transparent;
}

.video-text-section .video-text-section-contents a:hover
{
    text-decoration: none;

    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 768px)
{
    .video-text-section.video-upload
    {
        position: absolute;
        top: 194px;

        height: auto;
    }
}

.vimeo-wrapper
{
    position: relative;

    float: none;
    clear: both;

    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.vimeo-wrapper iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

img.video-upload-play-button
{
    position: absolute;
    bottom: calc(50% - 35px);
    left: calc(50% - 35px);

    width: 70px;
    height: 70px;

    cursor: pointer;
}

img.video-upload-play-button:hover
{
    cursor: pointer;
}

@media only screen and (max-width: 768px)
{
    img.video-upload-play-button
    {
        top: 35%;
        left: 45%;

        width: 35px;
        height: 35px;
    }
}

video[poster]
{
    -o-object-fit: cover;
       object-fit: cover;
}

.clickToPlay
{
    display: none !important;
}

.paragraph--type--bp-video .banner-scroll-down
{
    bottom: 20px;
    left: 49%;

    width: 31px;
    height: 45px;
}

.paragraph--type--bp-video .banner-scroll-down .banner-scroll-down-bg,
.paragraph--type--bp-video .banner-scroll-down a
{
    left: 0;
}

.paragraph--type--bp-image.paragraph--view-mode--default .blazy img
{
    -o-object-fit: scale-down;
       object-fit: scale-down;
}

.welcome-text
{
    padding: 0 !important;
}
