//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and breakpoint related vars into
// components/_patterns/00-base/_breakpoints.scss

// Fonts
$font-body: "domaine-text-regular";
$font-body-bold: "domaine-text-bold";
$font-condensed: "din1451-engschrift";
$font-condensed-bold: "din1451-mittelschrift";
$font-condensed-italic: "din1451-mittelschrift";
$font-heading: "din1451-mittelschrift";
$font-subheading: "domaine-display-narrow-regular";

// DIN1451
$font-din1451-engschrift: "din1451-engschrift";
$font-din1451-mittelschrift: "din1451-mittelschrift";

//Domain
$font-domaine-display-narrow-regular: "domaine-display-narrow-regular";
$font-domaine-display-narrow-web-regular-italic: "domaine-display-narrow-web-regular-italic";
$font-domaine-display-narrow-medium-italic: "domaine-display-narrow-web-medium-italic";
$font-domaine-text-regular : "domaine-text-regular";
$font-domaine-text-regular-italic : "domaine-text-regular-italic";

//pfdinmono
$font-pfdinmono: "pfdinmono-regular";

$font-size: 18px;
$font-height: 22px;
$font-icon: "icomoon";

// Spacing
$space: 10px;

// times
$space-double: $space*2;
$space-triple: $space*3;
$space-quadruple: $space*4;
$space-quintuple: $space*5;
$space-sextuple: $space*6;
$space-septuple: $space*7;

// divided
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
