html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  background: $white;
  display: block; // Fix for IE weirdness
}

a {
  color: $gray-10;

  &:hover {
    color: $gray-10;
  }
}

sup {
  font-weight: normal;
}
