.ajax-progress.ajax-progress-throbber {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  left: 0;
  top: 0;
  display: none;

  .throbber {
    background: url("../images/icons/src/loader.gif");
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.outdated-element {
  display: none;
}

.dialog-off-canvas-main-canvas {
  &.no-scroll {
    overflow: hidden;
  }
}

.file-upload-url {
  margin: 0 10px 10px;
  color: $gray-40;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  font-family: $font-pfdinmono;
}

p:empty {
  margin: 0;
}

.padding-64 {
  padding: 64px;

  @include maxbp($main-menu-medium) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include maxbp($medium) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@include maxbp($large) {
  .desktop-hide {
    display: none;
  }
}

@include large {
  .mobile-hide {
    display: none;
  }
}

.allcaps {
  text-transform: uppercase;
}

.product-404-content-area {
  margin: 40px;

  @include maxbp($medium) {
    margin: 40px 20px;
  }
}

.font-condensed {
  font-family: $font-condensed;
}

.hide-block {
  display: none !important;
}

.width-70 {
  width: 70%;
  margin: 0 auto;
  padding: 0 $space;
}

.sub-text {
  font-style: italic;
  font-family: $font-condensed;
  font-size: 25px;
}

.text-center {
  text-align: center;
}

.magin-b10 {
  margin-bottom: 10px !important;
}

.magin-b20 {
  margin-bottom: 20px !important;
}

.magin-b30 {
  margin-bottom: 30px !important;
}

.magin-b40 {
  margin-bottom: 40px !important;
}

.magin-b50 {
  margin-bottom: 50px !important;
}

.magin-t10 {
  margin-top: 10px !important;
}

.magin-t20 {
  margin-top: 20px !important;
}

.magin-t30 {
  margin-top: 30px !important;
}

.magin-t40 {
  margin-top: 40px !important;
}

.magin-t50 {
  margin-top: 50px !important;
}

.no-underline {
  text-decoration: none !important;
}

.hover-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.hover-border-bottom {
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }
}

.arrow-hover {
  color: $gray-10;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-condensed;
  transition: all ease 0.3s;
  border: none;

  &::after {
    content: "\e901";
    font-family: $font-icon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 12px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: $gray-10;
    margin-top: -1px;
    margin-left: 4px;
  }

  &:hover {
    color: $gray-30;
    transition: all ease 0.3s;

    &::after {
      opacity: 1;
      color: $gray-30;
    }
  }
}

.bottom-gradient {
  position: relative;

  &:after {
    position: absolute;
    background: transparent linear-gradient(180deg,#fff 0,#f2f2f2 100%);
    width: 100%;
    display: block;
    content: "";
    bottom: 0;
    height: 54px;
  }
}

.top-gradient {
  position: relative;

  &:after {
    position: absolute;
    background: transparent linear-gradient(0deg,#fff 0,#f2f2f2 100%);
    width: 100%;
    display: block;
    content: "";
    top: 0;
    height: 54px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  sup {
    font-size: 0.5em;
    top: -0.75em;
  }
  sub {
    font-size: 0.5em;
  }
}

.sb-show-main {
  &.sb-main-padded{
    background: #ccc;
  }
}