{{ attach_library('delta_theme/product-thumb-slider')}}

<div class="thumb-img-wrapper-list desktop-thumb-img">
  <div class="prod-big-img">

    {% include "@atoms/04-images/00-image/_image.twig" with {
      img_src: "",
      img_alt: 'Main slider image of product: ' ~ pdp_prod_name['#markup']|striptags,
    } %}

    <div class="slider_flag">
      {% include "@atoms/13-flag/flag.twig" with {
        "flag_text": slider_img_flag_text,
        "flag_modifiers": slider_img_flag_modifiers
      } %}
    </div>
  </div>
  <div class="thumb-img-wrapper slider multiple-items" data-slick='{"slidesToShow": 5, "slidesToScroll": 5}' >
    {% block thub_img_content %}
      {% for slider_thumb_img in slider_thumb_imgs %}
        <div class="thumb-img-block">
          {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: slider_thumb_img.pdp_label_img,
            img_alt: 'Thumbnail image of product: ' ~ pdp_prod_name['#markup']|striptags,
            img_srcset: slider_thumb_img.pdp_srcset,
          } %}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
</div>

<div class="thumb-img-wrapper-list mobile-thumb-img">
  <div class="slider_flag">
    {% include "@atoms/13-flag/flag.twig" with {
      "flag_text": slider_img_flag_text,
      "flag_modifiers": slider_img_flag_modifiers
    } %}
  </div>
  <div class="thumb-img-wrapper1 slider multiple-items" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "arrows": false, "adaptiveHeight": true, "swipeToSlide": true}' >
    {% block thub_img_content_mobile %}
      {% for slider_thumb_img in slider_thumb_imgs %}
        <div class="thumb-img-block">
          {% include "@atoms/04-images/00-image/_image.twig" with {
            img_src: slider_thumb_img.pdp_label_img,
            img_alt: 'Thumbnail image of product: ' ~ pdp_prod_name['#markup']|striptags,
            img_srcset: slider_thumb_img.pdp_srcset,
          } %}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
</div>
