{{ attach_library('delta_theme/summary-card-carousel') }}

<div class="modal-gallery" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": false, "arrows": true, "adaptiveHeight": true, "cssEase": "ease-out"}' >
  {% for image in gallery_images %}
    <div class="modal-gallery__item">
      <img src="{{ image.src }}" alt="{{ image.alt_text }}" />
    </div>
  {% endfor %}
</div>
