{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
<section id="mission" data-section-fade-up>
      <div class="padded-box padded-box--border-none padded-box--vertical-16 padded-box--bg-white">
        <div class="grid-container">
          <div class="row">
            <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
            <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-10 col-sm-12 col--no-padding">
              <div class="table-layout table-layout--full-width table-layout--full-height table-layout--sm-collapse">
                <div class="table-layout__row table-layout__row--h-list-6">
                  <div class="table-layout__cell table-layout__cell-4-12 table-layout__cell--valign-top">
 <h2 class="h--section h--inline h--border-bottom h--border-theme-blue h--no-margin" data-section-fade-up-heading>{{label}}</h2>                  </div>
                  <div class="table-layout__cell table-layout__cell-8-12 table-layout__cell--valign-mid">
                    <div class="v-list-3" data-section-fade-up-text>
                      {{content.body}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
