{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}

<section class="signup_block" id="signupform" data-section-fade-up="">

    {% block content %}
        {{ content }}
    {% endblock %}

</section>
