{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div{{attributes.addClass(classes)}}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        <div class="news--banner">
            {% for newsItem in newsContent %}
                <article>
                    <div class="news--banner-flex">
                        <div class="news--banner-flex-left">
                            <img src="{{ newsItem.heroImage }}">
                        </div>
                        <div class="news--banner-flex-right">
                            <div class="feat-article">FEATURED ARTICLE</div>

                            <h4 class="date">
                                <b>Digital Trends  //</b>
                                {{newsItem.date}}</h4>

                            <h3 class="title">
                                <a href="{{newsItem.link}}" target="_blank">{{newsItem.title}}
                                    <i class="text-icon--article-cta"></i>
                                </a>
                            </h3>
                            <p>{{newsItem.description}}</p>
                            {% if newsItem.icon %}
                                <div class="news-logo"><img src="{{ newsItem.icon }}"></div>
                            {% endif %}

                        </div>
                    </div>

                </article>
                {%endfor%}
            </div>
        {% endblock %}
    </div>
