{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{attributes.addClass(classes)}}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}


        <section
            class="section" data-section-fade-left id="process">
            {# <div class="section__background section__background--bottom" style="background-image: url('themes/innovation/img/process-bg.jpg')"></div> #}
            <div class="section__background section__background--bottom"></div>
            <div class="section__foreground">

                <div class="grid-container">
                    <div class="row">
                        <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                        <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding">

                            <div class="section-2-hader">
                                <h2 class="h--section h--inline h--border-bottom h--border-theme-blue h--no-margin" data-section-fade-left-heading>{{label}}</h2>

                                <div class="section-2-title">{{subTitle|raw}}</div>
                                <div class="section-2-intro">{{content.body}}</div>
                            </div>
                            <ul class="timeline">
                                <div class="time-bar"></div>
                                {% for processItems in processSection|slice(0, 4) %}
                                    {% if loop.index0 % 2 == 0 %}
                                        <li class="timeline-noninverted li-{{loop.index0}}">
                                        {% else %}
                                            <li class="timeline-inverted li-{{loop.index0}}">
                                            {% endif %}
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">

                                                    <div class="header-flex">
                                                        <div class="header-flex-left">

                                                            <div class="rings rings-count-{{loop.index0}}">
                                                                <span class="cir-4">
                                                                    <span class="cir-3">
                                                                        <span class="cir-2">
                                                                            <span class="cir-1"></span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="header-flex-right">

                                                            <span class="count">{{processItems.serial}}</span>
                                                            <span class="title">{{processItems.title}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>{{processItems.description|raw}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        {%endfor%}

                                        <div class="clearfix no-float"></div>
                                    </ul>

                                </div>
                                <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                            </div>

                        </div>
                    </div>
                </section>
            {% endblock %}
        </div>
