{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{attributes.addClass(classes)}}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        <section data-section-fade-up id="about">
            <div class="padded-box padded-box--border-none padded-box--vertical-13 padded-box--bg-theme-blue">
                <div class="grid-container">
                    <div class="row">
                        <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                        <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding">

                            <div class="about--video-header-container">
                                <div class="about--video-header">
                                    <div class="v-list-3" data-section-fade-up-text>

                                        <h2 class="h--section h--inline h--white h--no-margin">{{ label }}</h2>
                                        <p class="p--white">{{ aboutBody|raw }}</p>

                                        {% if youtubeUrl|length > 0 %}
                                            <div class="aboutus-video">
                                                <div class="video-fluid" data-id="{{ youtubeUrl.id }}">
                                                    {{ youtubeUrl.embed | raw }}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if videoURL|length != 0 %}
                                            {% if mobilevideoURL|length != 0 %}

                                                <a class="btn btn--primary btn--cta-icon btn-wide-hide btn-xlg-hide btn-lg-hide btn-md-hide btn-sm-show" data-fancybox data-options='{"idleTime": "false"}' href="{{ mobilevideoURL }}">Watch
                                                    <span class="div-md-hide div-lg-hide">Brand</span>
                                                    Video<i class="btn__icon"></i>
                                                </a>

                                            {% endif %}


                                            <div class="video-container">
                                                <video class="responsive-video" controls controlslist="nofullscreen nodownload" height="240" poster="" preload="none" width="320">
                                                    <source src="{{ videoURL }}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
</div>
