{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div{{attributes.addClass(classes)}}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
        <section class="news" data-section-fade-up id="news">
            <div class="grid-container">
                <div class="row">
                    <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                    <div class="col-wide-10 col-xlg-10 col-lg-10 col-md-12 col-sm-12 col--no-padding">
                        <div class="news-container" data-columns="3">

                            {% for newsItem in newsContent %}
                                <div class="news-item">
                                    <h4 class="date">
                                        <b>CNET //</b>
                                        {{newsItem.date}}</h4>
                                    <h3 class="title">
                                        <a href="{{newsItem.link}}" target="_blank">{{newsItem.title}}
                                            <i class="text-icon--article-cta"></i>
                                        </a>
                                    </h3>
                                    <p class="">{{newsItem.description}}</p>
                                    {% if newsItem.icon %}
                                        <div class="news-logo">
                                            <img src="{{ newsItem.icon }}">
                                        </div>
                                    {% endif %}

                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-wide-1 col-xlg-1 col-lg-1 col-md-1 col-sm-hide col-md-hide col--no-padding"></div>
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>
