h2.cdp-block-title {
  text-align: center;
  margin: 0 0 $space*5;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 8px;
  line-height: 48px;
  font-family: $font-heading;
  color: $gray-30;

  @include maxbp($large) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5.76px;
    margin: 0 0 16px;
  }

  &.cdp-innovation-title {
    margin: 50px 0 40px;

    @include maxbp($medium) {
      margin: 40px 16px 16px !important;
    }
  }

  &.cdp-gallery-title {
    margin: 0 0 30px;

    @include maxbp($medium) {
      margin: 0 0 16px;
    }
  }

  &.cdp-title-line {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 0 10px;
    margin: 0 auto 15px;
    font-weight: normal;
    font-family: $font-heading;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $gray-30;

    @include maxbp($large) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 5.76px;
    }

    &::before {
      background: $gray-30;
      width: 70%;
      left: 0;
      right: 0;
      position: absolute;
      bottom: 0;
      height: 2px;
      content: "";
      display: block;
      margin: auto;
    }
  }

  &.cdp-summary-title-text.cdp-title-line {
    text-transform: capitalize;
    font-family: $font-subheading;
    margin: 0;
    padding: 0 0 20px;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    color: $gray-10;

    &::before {
      width: 70%;
      height: 2;
      color: $gray-30;
    }

    @include maxbp($medium) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0;
      padding: 0 0 15px;
      color: $gray-10;
    }
  }
}

.cdp-summary-data {
  max-width: 1020px;
  margin: 0 auto;
  padding: 33.72px 20px 30px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  font-family: $font-body;

  p {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;

    @include maxbp($large) {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
    }
  }

  @include maxbp($large) {
    padding-top: 18px;
    line-height: 22px;
    letter-spacing: 0;
  }

  .cdp-download {
    text-align: center;
  }
}

.cdp-download {
  text-transform: uppercase;
  font-family: $font-condensed;
  margin: 0 0 82px;
  text-align: left;
  padding: 0;

  @include maxbp($medium) {
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $gray-10;

    .icon-download-arrow::before {
      transition: all ease 0.3s;
    }

    &:hover {
      .icon-download-arrow::before {
        color: $gray-30;
      }
    }
  }
}

.cdp-summary-block {
  //display: block;
  width: 90%;
  display: none;
  margin: 50px auto 55px;

  @include maxbp($large) {
    width: 100%;
  }

  > div {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    padding: 5px 30px;

    @include maxbp($large) {
      width: 100%;
      display: block;
      max-width: none;
      padding: 0;
    }

    &.cdp-summary-desc {
      border-left: 1px solid #e5e5e5;
    }

    &.cdp-summary-title {
      font-family: $font-condensed;
      font-size: 50px;
      font-weight: 100;
      line-height: 50px;
      text-align: right;

      @include maxbp($large) {
        text-align: left;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}

.category-select {
  display: none;

  @include maxbp($r_1000) {
    display: block;
  }
}

.category-tabs {
  margin: 30.05px 0 24px;

  .tab-block {
    margin: 0 0 $space*6;
  }

  .collection-tab-block {
    padding: 0;
    text-align: center;

    @include maxbp($r_1000) {
      text-align: left;
    }

    .tab-link {
      display: inline-block;
      width: 125px;
      text-align: center;
      margin: 0 20px 20px;
      vertical-align: top;

      @include maxbp($r_1000) {
        width: 24%;
        margin: 20px 0 0;
      }

      @include maxbp($large) {
        width: 32%;
      }

      @include maxbp($medium) {
        width: 49%;
      }
    }

    .filterFinish {
      text-decoration: none;
    }

    .collection-tab-finish,
    .collection-tab-finish-text {
      display: block;
    }

    .collection-tab-finish-text {
      font-family: $font-pfdinmono;
      text-decoration: none;
      font-size: 14px;
      color: $gray-30;
      line-height: 16px;
      letter-spacing: 1px;
      font-style: normal;
      text-transform: uppercase;

      em {
        font-style: italic;
      }

      p {
        margin: 0;
        text-transform: uppercase;
      }
    }

    .collection-tab-finish {
      margin: 0 0 8px;

      img {
        margin: auto;

        @include maxbp($large) {
          width: auto;
        }

        @include breakpoint($large) {
          width: auto;
        }
      }
    }
  }
}

.cdp-inspiration-block {
  padding: 40px 0;
  text-align: center;

  @include maxbp($medium) {
    padding-top: 40px;
  }

  .cdp-inspiration-text {
    width: 100%;
    max-width: 1020px;
    padding: 0 20px;
    margin: 0 auto 40px;
    font-size: 20px;
    line-height: 32px;
    font-family: $font-body;
    font-style: normal;
    color: $gray-20;
    letter-spacing: 0;

    @include maxbp($medium) {
      width: 98%;
      font-size: 18px;
      line-height: 22px;
    }

    em {
      font-family: $font-body;
      font-style: normal;
    }

    p {
      margin: 0;
    }
  }
}

.cdp-inspiration-image {
  margin: 0 0 40px;

  @include maxbp($medium) {
    margin: 0 0 40px;
  }
}

.cdp-gallery {
  margin: 0;

  .breadcrumb {
    display: none;
  }

  .banner {
    margin: 0;
  }

  @include maxbp($r_600) {
    .banner .banner-carousel .slick-dots {
      padding: 0;
      width: 90%;
      margin: 0 auto 20px;

      li {
        width: 10px;
        background: white;

        &.slick-active {
          background: $white;
        }

        button {
          background: none !important;
        }
      }
    }
  }
}

.cdp-block-wrapper {
  margin: 0 auto 80px;
  max-width: 1190px;
  padding: 0 20px;

  @include maxbp($medium) {
    padding: 0;
    margin: 0 auto 40px;
  }
}

.collection-two-block {
  margin: 0 0 30px;

  @include maxbp($medium) {
    margin: 0;
  }

  .cdp-block-grid {
    align-items: center;

    & > div {
      //display: inline-block;
      //vertical-align: middle;
      padding: 0;
      //max-width: none;

      @include maxbp($r_1000) {
        width: 100% !important;
        flex: 0 0 100%;
        max-width: 100%;
      }

      &.grid-col-7 {
        //width: 60%;

        @include maxbp($r_1000) {
          order: 1;
        }

        img {
          width: 100%;
        }
      }

      &.grid-col-5 {
        //width: 40%;
        padding: 0 64px;

        @include maxbp($r_1000) {
          order: 2;
          padding: 45px;
        }

        h3 {
          font-family: $font-heading;
          font-weight: normal;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: 8px;
          margin: 0 0 20px;
          color: $black;

          @include maxbp($r_1000) {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 5.76px;
          }
        }
      }
    }
  }
}

.banner-footer-data-wrapper {
  .banner-footer-data {
    color: $white;
    font-family: $font-heading;
    font-style: italic;
    text-align: center;
    padding: 100px 20px;
    font-size: 50px;

    @include maxbp($large) {
      font-size: 25px;
      line-height: 30px;
      padding: 80px 20px;
    }

    p {
      margin: 0;
    }
  }
}
