.webform-request {

   

    color: $light-color;
    @include for-desktop-up{ display: flex;
        flex-wrap: wrap;}


    .form-item {
       
        flex: 1 1 40%;  
            margin: 10px;  
       
        margin-bottom: 15px;
        position: relative;
       
        label.js-form-required {
            color: #2C2C2C;
           font-size: 18px;
           font-weight: 300;
            display: block;
            
        }


        &#edit-processed-text {
            display: block;
            flex: none;
            

            @include for-desktop-up{width: 100%;}
        }
        &.form-item-phone{flex: none; 
            @include for-desktop-up{width: 100%;width:48.4%;}
        }
        &.checkboxes--wrapper {
            display: block;
            flex: none;
            width: 100%;
            margin-top: 30px;

            .form-item {
                display: inline-block;
                margin-left: 0;
            }

            .fieldset-legend {
                font-size: 18px;
                font-weight: 700;
                display: block;
                margin-bottom: 18px;
            }
        }
        select::-ms-expand {
            display: none;
          }
        select{-webkit-appearance:none; appearance:none; border-radius: 0; background: url(../assets/images/drop-down-arrow.png) no-repeat 98%; background-size: 17px 27px;
            option:not(:first-of-type) {
                color: black;
              }
        }
        input[type="text"],
        input[type="email"],
        select {
            width: 100%;
            box-sizing: border-box;
            padding: 10px 15px;
            font-size: 18px;
            color: $input-color;
            background-color: $light-color;
            &:focus{border: 2px solid $heading-color;
                
            }
        }

    }
}

#edit-actions {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

#edit-submit {
    background-color: $heading-color;
    border: 0;
    padding: 15px 85px;
    font-size: 17px;
    font-weight: 700;
    color: $dark-color;
    cursor: pointer;
    -webkit-appearance:none;
    &:disabled{ cursor: default; opacity: 0.8; background-color: gainsboro;}
}