// Fonts
$open-sans:  'Open Sans'; // Open Sans
$battery-park-regular : battery-park,sans-serif; // Battery Park Regular
$font-stack:    backspacer-round,sans-serif; // Backspacer OT Round

// Color system
$heading-color: #E5C469;
$dark-color: #000;
$light-color:#fff;
$input-color:#2C2C2C;

// Size
$font-20 : 20px;
$font-32 : 32px;
$font-42 : 42px;
$max-width: 1160px;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin ipadOnly {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {@content;}
  }
  @mixin for-tablet-landscape-up {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)
     { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1024px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }