@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800&display=swap");
.webform-request {
  color: #fff; }
  @media (min-width: 1024px) {
    .webform-request {
      display: flex;
      flex-wrap: wrap; } }
  .webform-request .form-item {
    flex: 1 1 40%;
    margin: 10px;
    margin-bottom: 15px;
    position: relative; }
    .webform-request .form-item label.js-form-required {
      color: #2C2C2C;
      font-size: 18px;
      font-weight: 300;
      display: block; }
    .webform-request .form-item#edit-processed-text {
      display: block;
      flex: none; }
      @media (min-width: 1024px) {
        .webform-request .form-item#edit-processed-text {
          width: 100%; } }
    .webform-request .form-item.form-item-phone {
      flex: none; }
      @media (min-width: 1024px) {
        .webform-request .form-item.form-item-phone {
          width: 100%;
          width: 48.4%; } }
    .webform-request .form-item.checkboxes--wrapper {
      display: block;
      flex: none;
      width: 100%;
      margin-top: 30px; }
      .webform-request .form-item.checkboxes--wrapper .form-item {
        display: inline-block;
        margin-left: 0; }
      .webform-request .form-item.checkboxes--wrapper .fieldset-legend {
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin-bottom: 18px; }
    .webform-request .form-item select::-ms-expand {
      display: none; }
    .webform-request .form-item select {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      background: url(../assets/images/drop-down-arrow.png) no-repeat 98%;
      background-size: 17px 27px; }
      .webform-request .form-item select option:not(:first-of-type) {
        color: black; }
    .webform-request .form-item input[type="text"],
    .webform-request .form-item input[type="email"],
    .webform-request .form-item select {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 15px;
      font-size: 18px;
      color: #2C2C2C;
      background-color: #fff; }
      .webform-request .form-item input[type="text"]:focus,
      .webform-request .form-item input[type="email"]:focus,
      .webform-request .form-item select:focus {
        border: 2px solid #E5C469; }

#edit-actions {
  text-align: center;
  width: 100%;
  margin-top: 30px; }

#edit-submit {
  background-color: #E5C469;
  border: 0;
  padding: 15px 85px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  -webkit-appearance: none; }
  #edit-submit:disabled {
    cursor: default;
    opacity: 0.8;
    background-color: gainsboro; }

html {
  scroll-behavior: smooth;
  min-height: 100%;
  min-width: 100%;
  width: 100%; }

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #000;
  margin: 0; }
  body.stickyBody {
    padding-top: 64px; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

h2 {
  font-size: 42px; }

img {
  width: 100%;
  height: auto; }

h3 {
  font-size: 32px; }

ul {
  padding: 0;
  margin: 0; }

p {
  font-size: 20px; }

a {
  text-decoration: none;
  color: #000; }

.paragraph--type--description-video {
  background-color: #000; }

#block-discover-theme-branding img {
  width: 250px;
  margin-top: 5px; }

header[role="banner"] {
  background-color: #000; }
  header[role="banner"] > div {
    display: flex;
    padding: 0 24px; }
    @media (min-width: 1024px) {
      header[role="banner"] > div {
        padding: 0 20px;
        margin: auto;
        max-width: 1160px; } }
    header[role="banner"] > div .main-navigation-menu {
      flex-grow: 1;
      align-self: center; }
  header[role="banner"].sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
  header[role="banner"] .mobile-menu {
    display: inline-block;
    background: transparent;
    border: 0;
    align-self: center;
    text-align: right;
    vertical-align: middle;
    width: 32px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
    margin-right: 24px; }
    header[role="banner"] .mobile-menu:focus {
      outline: 0; }
    header[role="banner"] .mobile-menu span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    @media (min-width: 1024px) {
      header[role="banner"] .mobile-menu {
        display: none; } }
  header[role="banner"] .mobile-menu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header[role="banner"] .mobile-menu span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header[role="banner"] .mobile-menu span:nth-child(3) {
    top: 22px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header[role="banner"] .mobile-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
    left: 5px; }
  header[role="banner"] .mobile-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  header[role="banner"] .mobile-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 23px;
    left: 5px; }
  header[role="banner"] .branding {
    justify-content: center;
    display: inline-block;
    vertical-align: middle; }
  header[role="banner"] nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #000;
    padding-top: 70px;
    z-index: 999; }
    @media (min-width: 1024px) {
      header[role="banner"] nav {
        padding-top: 0px;
        flex-grow: 1;
        align-self: center;
        text-align: right;
        position: static;
        width: auto;
        height: auto;
        display: block !important;
        background-color: transparent; } }
    header[role="banner"] nav ul {
      padding-left: 0; }
    header[role="banner"] nav li {
      display: block;
      border: none;
      margin: 20px 22px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E5C469; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        header[role="banner"] nav li {
          margin: 10px 15px !important; } }
      @media (min-width: 1024px) {
        header[role="banner"] nav li {
          display: inline-block;
          border: 0;
          padding: 0;
          margin: 0px 22px; } }
  @media only screen and (min-width: 1024px) and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    header[role="banner"] nav li {
      margin: 0px 15px !important; } }
      header[role="banner"] nav li a {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          header[role="banner"] nav li a {
            font-size: 17px; } }
        @media (min-width: 1024px) {
          header[role="banner"] nav li a {
            text-decoration: underline;
            font-size: 20px; } }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
          header[role="banner"] nav li a {
            font-size: 17px; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          header[role="banner"] nav li a {
            font-size: 17px; } }
        header[role="banner"] nav li a:hover {
          text-decoration: none; }

.paragraph--type--image-video-background {
  text-align: center;
  font-size: 0; }
  .paragraph--type--image-video-background img {
    width: 100%; }

.discover-block {
  max-width: 1160px;
  color: #fff;
  text-align: left;
  padding: 20px; }
  @media (min-width: 1024px) {
    .discover-block {
      padding: 50px 20px;
      margin: auto; } }
  .discover-block .discover-content {
    max-width: 1160px;
    margin: auto; }
  .discover-block h2 {
    font: normal 800 43px/43px "Open Sans"; }
    @media (min-width: 1024px) {
      .discover-block h2 {
        font-size: 68px;
        line-height: 68px; } }
  .discover-block h3 {
    font: normal 300 29px/36px "Open Sans";
    margin: 20px 0; }
    @media (min-width: 1024px) {
      .discover-block h3 {
        font-size: 44px;
        line-height: 73px; } }
  .discover-block p {
    font-size: 18px;
    line-height: 26px; }
    @media (min-width: 1024px) {
      .discover-block p {
        font-size: 20px;
        line-height: 38px; } }
    .discover-block p a {
      color: #fff;
      font-weight: 700;
      text-decoration: underline; }

@media (min-width: 1024px) {
  .gallery-block .desktop_image {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 1024px) {
  .gallery-block {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 1024px) {
  .gallery-block .col {
    flex: 1 1; } }

.col2-block {
  padding: 0; }
  @media (min-width: 1024px) {
    .col2-block img {
      min-width: 625px;
      max-width: 625px; } }
  @media (min-width: 1024px) {
    .col2-block {
      display: flex;
      padding: 0; } }
  .col2-block h3 {
    color: #E5C469;
    padding-top: 20px; }
    @media (min-width: 1024px) {
      .col2-block h3 {
        padding-top: 0; } }
  .col2-block p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 8px; }
    @media (min-width: 1024px) {
      .col2-block p {
        margin-top: 0;
        margin-bottom: 0; } }
  .col2-block .content {
    padding-left: 8%;
    padding-right: 40px; }
  @media (min-width: 1024px) {
    .col2-block.change-order .col {
      order: 2; } }
  @media (min-width: 1024px) {
    .col2-block.change-order .col.img {
      order: 1; } }
  @media (min-width: 1024px) {
    .col2-block .col {
      align-items: stretch;
      justify-content: center;
      align-self: center;
      box-sizing: border-box; } }

.location-block {
  padding: 20px;
  color: #fff; }
  .location-block .location-content {
    max-width: 1160px;
    margin: auto; }
  @media (min-width: 1024px) {
    .location-block {
      padding: 50px 20px; } }
  .location-block h2 {
    font-size: 42px;
    line-height: 42px;
    color: #E5C469; }
  .location-block h4 {
    color: #fff;
    font-size: 29px;
    line-height: 45px;
    font-weight: 300; }
    @media (min-width: 1024px) {
      .location-block h4 {
        font-size: 42px;
        line-height: 55px; } }
  .location-block h3 {
    font-size: 39px;
    color: #E5C469;
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .location-block h3 {
        font-size: 98px;
        line-height: 97px; } }
  .location-block p {
    font-size: 20px;
    line-height: 30px; }

@media (min-width: 1024px) {
  section.brand-block h2 {
    font-size: 42px;
    line-height: 42px; } }

section.brand-block p {
  font-size: 20px;
  line-height: 28px; }

section.brand-block .brand-content {
  padding: 20px;
  max-width: 1160px;
  margin: auto; }
  @media (min-width: 1024px) {
    section.brand-block .brand-content {
      padding: 50px 20px; } }
  section.brand-block .brand-content ul {
    padding: 0 33px;
    list-style: none; }
    @media (min-width: 600px) {
      section.brand-block .brand-content ul {
        display: flex;
        padding: 0;
        justify-content: space-between; } }
    section.brand-block .brand-content ul li {
      text-align: center;
      margin-bottom: 50px; }
      @media (min-width: 600px) {
        section.brand-block .brand-content ul li {
          width: 30%; } }
      @media (min-width: 1024px) {
        section.brand-block .brand-content ul li {
          width: 25%; } }
    section.brand-block .brand-content ul p {
      margin: 0;
      font-size: 20px;
      line-height: 28px; }

section.request-info {
  text-align: center;
  padding-bottom: 50px; }
  @media (min-width: 1024px) {
    section.request-info {
      padding-bottom: 100px; } }
  section.request-info h2 {
    font-size: 40px;
    line-height: 68px;
    text-transform: uppercase;
    margin: 0; }
  section.request-info a.btn {
    background-color: #E5C469;
    color: #000;
    font-size: 14px;
    line-height: 57px;
    padding: 0 26px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    zoom: 1; }
    @media (min-width: 1024px) {
      section.request-info a.btn {
        font-size: 17px; } }
  @media (min-width: 1024px) {
    section.request-info h2 {
      font-size: 76px;
      line-height: 100px; } }

footer {
  background-color: #000;
  padding: 20px;
  color: #fff; }
  @media (min-width: 1024px) {
    footer > div #block-discover-theme-footer {
      width: 75%; } }
  @media (min-width: 1024px) {
    footer > div {
      display: flex; } }
  footer ul {
    padding-left: 0 !important;
    list-style: none;
    justify-content: center; }
    footer ul li {
      display: block;
      margin-bottom: 20px; }
      @media (min-width: 1024px) {
        footer ul li {
          margin-bottom: 0; } }
      footer ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 15px; }
        @media (min-width: 1024px) {
          footer ul li a {
            line-height: 22px; } }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
          footer ul li a {
            font-size: 13px; } }
        footer ul li a:hover {
          text-decoration: underline; }
      @media (min-width: 1024px) {
        footer ul li {
          display: inline-block;
          padding: 10px 40px 10px 0; }
          footer ul li:first-child {
            padding-left: 0; }
          footer ul li:last-child {
            padding-right: 0; } }
      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        footer ul li {
          padding: 10px 18px 10px 0; } }
  footer #block-copyrightfooter {
    padding-top: 20px; }
    footer #block-copyrightfooter p {
      font-size: 15px;
      margin: 0; }
    @media (min-width: 1024px) {
      footer #block-copyrightfooter {
        flex-grow: 1;
        align-self: start;
        text-align: right;
        padding-top: 10px; } }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      footer #block-copyrightfooter {
        font-size: 13px; } }

.paragraph--type--description-image {
  max-width: 1160px;
  margin: auto; }
  @media (min-width: 1024px) {
    .paragraph--type--description-image {
      padding-bottom: 30px; } }

.desktop_image {
  display: none; }
  @media (min-width: 1024px) {
    .desktop_image {
      display: block;
      font-size: 0; } }

.mobile_image {
  display: block;
  font-size: 0; }
  @media (min-width: 1024px) {
    .mobile_image {
      display: none; } }

.path-body-request-information #block-discover-theme-content {
  background: black;
  padding: 20px;
  border-bottom: 1px solid #E5C469; }
  @media (min-width: 1024px) {
    .path-body-request-information #block-discover-theme-content {
      padding-top: 60px;
      padding-bottom: 100px;
      min-height: calc(100vh - 312px); } }
  .path-body-request-information #block-discover-theme-content form {
    max-width: 1160px;
    margin: auto; }
  .path-body-request-information #block-discover-theme-content h2 {
    font-size: 37px;
    line-height: 44px;
    color: #E5C469; }
    @media (min-width: 1024px) {
      .path-body-request-information #block-discover-theme-content h2 {
        font-size: 42px;
        line-height: 55px; } }
  .path-body-request-information #block-discover-theme-content p {
    font-size: 20px;
    line-height: 31px; }

.request-form-error {
  color: red;
  padding-top: 8px;
  display: none;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .request-form-error.active {
    display: block; }

.red-outline {
  border: 2px solid red; }

.webform-request .form-item.checkboxes--wrapper .fieldset-legend {
  color: #fff; }

.paragraph--type--image-title-description-button {
  text-align: center;
  background-color: #000;
  border-bottom: 1px solid #E5C469; }
  @media (min-width: 1024px) {
    .paragraph--type--image-title-description-button {
      min-height: calc(100vh - 151px); } }
  .paragraph--type--image-title-description-button .image-description-cta {
    padding: 0 20px; }
  .paragraph--type--image-title-description-button img {
    width: 80%;
    margin-top: 30px; }
    @media (min-width: 1024px) {
      .paragraph--type--image-title-description-button img {
        width: auto;
        margin-top: 70px; } }
  .paragraph--type--image-title-description-button p {
    font-size: 31px;
    line-height: 37px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px; }
    .paragraph--type--image-title-description-button p br {
      display: none; }
    @media (min-width: 1024px) {
      .paragraph--type--image-title-description-button p {
        font-size: 61px;
        line-height: 67px; }
        .paragraph--type--image-title-description-button p br {
          display: block; } }
  .paragraph--type--image-title-description-button p + p {
    font-size: 24px;
    font-style: italic;
    margin: 0; }
    @media (min-width: 1024px) {
      .paragraph--type--image-title-description-button p + p {
        font-size: 32px; } }

.paragraph--type--two-column-images {
  font-size: 0; }

#user-login-form {
  max-width: 1160px;
  margin: auto;
  padding: 20px;
  padding-top: 100px;
  min-height: calc(100vh - 120px); }
  #user-login-form .form-item {
    display: block;
    margin-bottom: 15px; }
    #user-login-form .form-item label {
      display: block;
      font-weight: 700;
      margin-bottom: 10px; }
  #user-login-form .description {
    font-style: italic;
    color: #666;
    font-size: 14px; }
  #user-login-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 18px;
    color: #2C2C2C;
    background-color: #fff; }
  #user-login-form #edit-actions {
    text-align: left; }
  #user-login-form #edit-submit {
    background-color: #E5C469;
    border: 0;
    padding: 15px 85px;
    font-size: 17px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    display: inline-block;
    width: auto; }

body main {
  max-width: 1160px;
  margin: auto; }

body.path-body-request-information {
  background-color: #000; }

body.path-body-request-information main,
body.success-page main,
body.home-page main {
  max-width: none;
  padding: 0; }
  @media (min-width: 1024px) {
    body.path-body-request-information main,
    body.success-page main,
    body.home-page main {
      padding: 0; } }
  body.path-body-request-information main a,
  body.success-page main a,
  body.home-page main a {
    text-decoration: none; }

body main {
  max-width: 1160px;
  box-sizing: border-box;
  margin: auto;
  padding: 20px 20px; }
  @media (min-width: 1024px) {
    body main {
      padding: 20px 40px; } }
  body main a {
    word-wrap: break-word;
    text-decoration: underline; }

body h1 {
  font-size: 30px; }
  @media (min-width: 1024px) {
    body h1 {
      font-size: 50px; } }

body ul {
  padding-left: 40px;
  font-size: 16px;
  line-height: 26px; }

body p {
  word-wrap: break-word;
  font-size: 16px;
  line-height: 26px; }

body.toolbar-fixed main {
  padding: 40px 0; }

body.toolbar-fixed .layout-content {
  max-width: 1160px;
  margin: auto;
  min-height: calc(100vh - 265px); }
  body.toolbar-fixed .layout-content #block-tabs {
    padding: 10px 0;
    margin: 20px 0; }
    body.toolbar-fixed .layout-content #block-tabs .contextual.open {
      display: block; }
    body.toolbar-fixed .layout-content #block-tabs ul {
      list-style-type: none;
      padding: 0;
      margin: 0 -5px;
      overflow: hidden;
      height: auto;
      margin: 0;
      padding: 0 3px;
      white-space: nowrap;
      border: none;
      border-collapse: collapse;
      border-bottom: 1px solid #ccc;
      line-height: normal; }
      body.toolbar-fixed .layout-content #block-tabs ul li {
        display: block;
        float: left;
        margin: 0 5px 0 0; }
        body.toolbar-fixed .layout-content #block-tabs ul li.block-configure a {
          border: 0;
          color: #000;
          text-decoration: none; }
        body.toolbar-fixed .layout-content #block-tabs ul li a {
          float: left;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          display: block;
          height: 1.8em;
          padding: 0 10px 3px;
          color: #000;
          border-width: 1px;
          border-style: solid solid none solid;
          border-color: #bbb;
          background-color: #ededed;
          text-shadow: 0 1px 0 #fff;
          font-size: 0.929em;
          line-height: 1.9;
          text-decoration: none; }
          body.toolbar-fixed .layout-content #block-tabs ul li a.is-active {
            background-color: #fff; }

body.success-page {
  background: #000; }

#toolbar-administration,
#toolbar-administration * {
  z-index: 9999; }

.media-oembed-content {
  width: 100% !important;
  height: 480px !important; }

.video-width {
  width: 100% !important; }
