@import "_variables";
@import "_form";



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800&display=swap');

html {
    scroll-behavior: smooth;
    min-height: 100%;
    min-width: 100%;
    width: 100%;

}

body {
    font-family: $open-sans;
    font-weight: 400;
    color: $dark-color;
    margin: 0;

    &.stickyBody {
        padding-top: 64px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h2 {
    font-size: $font-42;
}

img {
    width: 100%;
    height: auto;
}

h3 {
    font-size: $font-32;
}


ul {
    padding: 0;
    margin: 0;
}

p {
    font-size: $font-20;
}

a {
    text-decoration: none;
    color: $dark-color;
}

.paragraph--type--description-video {
    background-color: $dark-color;

}

#block-discover-theme-branding img {
    width: 250px;
    margin-top: 5px;
}

header[role="banner"] {
    background-color: $dark-color;

    >div {
        display: flex;
        padding: 0 24px;

        // 0 24px
        @include for-desktop-up {
            padding: 0 20px;
            margin: auto;
            max-width: $max-width;
        }

        .main-navigation-menu {
            flex-grow: 1;
            align-self: center;

        }
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .mobile-menu {
        display: inline-block;
        background: transparent;
        border: 0;
        align-self: center;
        text-align: right;
        vertical-align: middle;
        width: 32px;
        height: 25px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 9999;
        margin-right: 24px;

        &:focus {
            outline: 0;
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $light-color;
            border-radius: 4px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        @include for-desktop-up {
            display: none;
        }
    }

    .mobile-menu span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .mobile-menu span:nth-child(2) {
        top: 11px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .mobile-menu span:nth-child(3) {
        top: 22px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .mobile-menu.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 1px;
        left: 5px;
    }

    .mobile-menu.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .mobile-menu.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 23px;
        left: 5px;
    }

    .branding {
        justify-content: center;
        display: inline-block;
        vertical-align: middle;

        @include for-desktop-up {}
    }

    nav {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: none;
        background-color: $dark-color;
        padding-top: 70px;
        z-index: 999;

        @include for-desktop-up {
            padding-top: 0px;
            flex-grow: 1;
            align-self: center;
            text-align: right;
            position: static;
            width: auto;
            height: auto;
            display: block !important;
            background-color: transparent;
        }

        ul {
            padding-left: 0;
        }

        li {
            display: block;
            border: none;
            margin: 20px 22px;
            padding-bottom: 20px;
            border-bottom: 1px solid $heading-color;

            @include ipadOnly {
                margin: 10px 15px !important;
            }

            @include for-desktop-up {
                display: inline-block;
                border: 0;
                padding: 0;
                margin: 0px 22px;

                @include for-tablet-landscape-up {
                    margin: 0px 15px !important;
                }
            }

            a {
                color: $light-color;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;

                @include ipadOnly {
                    font-size: 17px;
                }

                @include for-desktop-up {
                    text-decoration: underline;
                    font-size: 20px;
                }

                @include for-tablet-landscape-up {
                    font-size: 17px;
                }

                @include ipadOnly {
                    font-size: 17px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.paragraph--type--image-video-background {
    text-align: center;
    font-size: 0;

    img {
        width: 100%;
    }
}

.discover-block {
    max-width: $max-width;
    color: $light-color;
    text-align: left;
    padding: 20px;


    @include for-desktop-up {
        padding: 50px 20px;
        margin: auto;
    }

    .discover-content {
        max-width: $max-width;
        margin: auto;
    }

    h2 {
        font: normal 800 43px/43px $open-sans;

        @include for-desktop-up {
            font-size: 68px;
            line-height: 68px;
        }
    }

    h3 {
        font: normal 300 29px/36px $open-sans;
        margin: 20px 0;

        @include for-desktop-up {
            font-size: 44px;
            line-height: 73px;
        }
    }

    p {
        font-size: 18px;
        line-height: 26px;

        @include for-desktop-up {
            font-size: 20px;
            line-height: 38px;
        }

        a {
            color: $light-color;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.gallery-block {
    .desktop_image {
        @include for-desktop-up {
            display: flex;
            flex-wrap: wrap;

        }
    }

    @include for-desktop-up {
        display: flex;
        flex-wrap: wrap;

    }

    .col {
        @include for-desktop-up {
            flex: 1 1;
        }

    }
}

.col2-block {

    padding: 0;

    img {
        @include for-desktop-up {
            min-width: 625px;
            max-width: 625px;
        }
    }

    @include for-desktop-up {
        display: flex;
        padding: 0;
    }

    h3 {
        color: $heading-color;
        padding-top: 20px;

        @include for-desktop-up {
            padding-top: 0
        }
    }

    p {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
        margin-top: 8px;

        @include for-desktop-up {
            margin-top: 0;
            margin-bottom: 0
        }
    }

    .content {
        padding-left: 8%;
        padding-right: 40px;
    }

    &.change-order {
        .col {

            @include for-desktop-up {
                order: 2;
            }

            &.img {
                @include for-desktop-up {
                    order: 1;
                }
            }
        }
    }

    .col {


        @include for-desktop-up {
            align-items: stretch;
            justify-content: center;
            align-self: center;
            box-sizing: border-box;
        }

    }
}

// Location Section
.location-block {
    padding: 20px;
    color: $light-color;

    .location-content {
        max-width: $max-width;
        margin: auto;
    }


    @include for-desktop-up {
        padding: 50px 20px;
    }

    h2 {
        font-size: 42px;
        line-height: 42px;
        color: $heading-color;

    }

    h4 {
        color: $light-color;
        font-size: 29px;
        line-height: 45px;
        font-weight: 300;

        @include for-desktop-up {
            font-size: 42px;
            line-height: 55px;
        }
    }

    h3 {
        font-size: 39px;
        color: $heading-color;
        margin-bottom: 30px;

        @include for-desktop-up {
            font-size: 98px;
            line-height: 97px;
        }


    }

    p {
        font-size: 20px;
        line-height: 30px;
    }
}

// Brabd Section
section.brand-block {

    h2 {
        @include for-desktop-up {
            font-size: 42px;
            line-height: 42px;
        }
    }

    p {
        font-size: 20px;
        line-height: 28px;
    }

    .brand-content {
        padding: 20px;
        max-width: $max-width;
        margin: auto;

        @include for-desktop-up {
            padding: 50px 20px;
        }

        ul {
            padding: 0 33px;
            list-style: none;

            @include for-tablet-portrait-up {
                display: flex;
                padding: 0;
                justify-content: space-between;

            }

            li {
                text-align: center;
                margin-bottom: 50px;

                @include for-tablet-portrait-up {
                    width: 30%;
                }

                @include for-desktop-up {
                    width: 25%;
                }
            }

            p {
                margin: 0;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}

//request-info
section.request-info {
    text-align: center;
    padding-bottom: 50px;

    @include for-desktop-up {
        padding-bottom: 100px;
    }

    h2 {
        font-size: 40px;
        line-height: 68px;
        text-transform: uppercase;
        margin: 0;
    }

    a.btn {
        background-color: $heading-color;
        color: $dark-color;
        font-size: 14px;
        line-height: 57px;
        padding: 0 26px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        zoom: 1;

        @include for-desktop-up {
            font-size: 17px;
        }

    }

    @include for-desktop-up {
        h2 {
            font-size: 76px;
            line-height: 100px;
        }
    }

}

// Footer
footer {
    >div {
        #block-discover-theme-footer {
            @include for-desktop-up {
                width: 75%;
            }
        }

        @include for-desktop-up {
            display: flex;
        }
    }

    background-color: $dark-color;
    padding: 20px;
    color: $light-color;

    ul {
        padding-left: 0 !important;
        list-style: none;
        justify-content: center;

        li {
            display: block;
            margin-bottom: 20px;

            @include for-desktop-up {
                margin-bottom: 0
            }

            a {
                color: $light-color;
                text-decoration: none;
                font-size: 15px;

                @include for-desktop-up {
                    line-height: 22px;
                }

                @include for-tablet-landscape-up {
                    font-size: 13px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            @include for-desktop-up {
                display: inline-block;
                padding: 10px 40px 10px 0;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            @include for-tablet-landscape-up {
                padding: 10px 18px 10px 0;
            }
        }
    }

    #block-copyrightfooter {
        p {
            font-size: 15px;
            margin: 0;

        }

        padding-top: 20px;

        @include for-desktop-up {
            flex-grow: 1;
            align-self: start;
            text-align: right;
            padding-top: 10px;
        }

        @include for-tablet-landscape-up {
            font-size: 13px;
        }
    }


}

.paragraph--type--description-image {
    max-width: $max-width;
    margin: auto;
    @media (min-width: 1024px) {
      padding-bottom: 30px;
    }
}

.desktop_image {
    display: none;

    @include for-desktop-up {
        display: block;
        font-size: 0;
    }
}


.mobile_image {
    display: block;
    font-size: 0;

    @include for-desktop-up {
        display: none;
    }
}


// Request Information page
.path-body-request-information {
    #block-discover-theme-content {
        background: black;
        padding: 20px;
        border-bottom: 1px solid $heading-color;

        @include for-desktop-up {
            padding-top: 60px;
            padding-bottom: 100px;
            min-height: calc(100vh - 312px);

        }

        form {
            max-width: $max-width;
            margin: auto;
        }

        h2 {
            font-size: 37px;
            line-height: 44px;
            color: $heading-color;

            @include for-desktop-up {
                font-size: 42px;
                line-height: 55px;
            }
        }

        p {
            font-size: 20px;
            line-height: 31px
        }
    }

}

.request-form-error {
    color: red;
    padding-top: 8px;
    display: none;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);

    &.active {
        display: block;
    }
}

.red-outline {
    border: 2px solid red;
}

// IE 11 Fixses
.webform-request .form-item.checkboxes--wrapper .fieldset-legend {
    color: $light-color;
}

.paragraph--type--image-title-description-button {

    text-align: center;
    background-color: $dark-color;

    @include for-desktop-up {min-height: calc(100vh - 151px);}
    border-bottom: 1px solid #E5C469;

    .image-description-cta {
        padding: 0 20px;
    }

    img {
        width: 80%;
        margin-top: 30px;

        @include for-desktop-up {

            width: auto;
            margin-top: 70px;

        }
    }

    p {
        font-size: 31px;
        line-height: 37px;
        color: $light-color;
        font-weight: 700;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;

        br {
            display: none;
        }

        @include for-desktop-up {
            font-size: 61px;
            line-height: 67px;

            br {
                display: block;
            }
        }
    }

    p+p {
        font-size: 24px;
        font-style: italic;
        margin: 0;

        @media (min-width: 1024px) {
            font-size: 32px;
        }
    }
}

.paragraph--type--two-column-images {
    font-size: 0;
}



#user-login-form {
    max-width: $max-width;
    margin: auto;
    padding: 20px;
    padding-top: 100px;
    min-height: calc(100vh - 120px);

    .form-item {
        display: block;
        margin-bottom: 15px;

        label {
            display: block;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }

    .description {
        font-style: italic;
        color: #666;
        font-size: 14px;
    }

    input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px;
        font-size: 18px;
        color: $input-color;
        background-color: $light-color;
    }

    #edit-actions {
        text-align: left;
    }

    #edit-submit {
        background-color: $heading-color;
        border: 0;
        padding: 15px 85px;
        font-size: 17px;
        font-weight: 700;
        color: $dark-color;
        cursor: pointer;
        display: inline-block;
        width: auto;
    }
}

body {
    main {
        max-width: $max-width;
        margin: auto;
    }
}

body.path-body-request-information {
    background-color: #000
}

body.path-body-request-information,
body.success-page,
body.home-page {
    main {
        max-width: none;
        padding: 0;

        @media (min-width: 1024px) {
            padding: 0;
        }
        a { text-decoration: none;}
    }
}

body {
    main {
        max-width: $max-width;
        box-sizing: border-box;
        margin: auto;
        padding: 20px 20px;

        @media (min-width: 1024px) {
            padding: 20px 40px;
        }

        a {
            word-wrap: break-word;
            text-decoration: underline;
        }
    }

    h1 {
        font-size: 30px;

        @include for-desktop-up {
            font-size: 50px;
        }
    }

    ul {
        padding-left: 40px;
        font-size: 16px;
        line-height: 26px;
    }

    p {
        word-wrap: break-word;
        font-size: 16px;
        line-height: 26px;
    }

}

body.toolbar-fixed {
    main {
        padding: 40px 0;
    }

    .layout-content {
        max-width: $max-width;
        margin: auto;
        min-height: calc(100vh - 265px);

        #block-tabs {
            padding: 10px 0;
            margin: 20px 0;

            .contextual.open {
                display: block;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0 -5px;

                overflow: hidden;
                height: auto;
                margin: 0;
                padding: 0 3px;
                white-space: nowrap;
                border: none;
                border-collapse: collapse;
                border-bottom: 1px solid #ccc;
                line-height: normal;

                li {
                    display: block;
                    float: left;
                    margin: 0 5px 0 0;

                    &.block-configure {
                        a {
                            border: 0;
                            color: #000;
                            text-decoration: none;
                        }
                    }

                    a {
                        float: left;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        display: block;
                        height: 1.8em;
                        padding: 0 10px 3px;
                        color: #000;
                        border-width: 1px;
                        border-style: solid solid none solid;
                        border-color: #bbb;
                        background-color: #ededed;
                        text-shadow: 0 1px 0 #fff;
                        font-size: 0.929em;
                        line-height: 1.9;
                        text-decoration: none;
                        &.is-active{ background-color: #fff;}
                    }
                }
            }
        }
    }
}


body.success-page {
    background: #000;
}

#toolbar-administration,
#toolbar-administration * {
    z-index: 9999;
}

.media-oembed-content {
  width: 100% !important;
  height: 480px !important;
}

.video-width {
  width: 100% !important;
}
