.sidebar-main {
  padding: 0;
  margin: 0;
  //width: 400px;

  ul {
    padding: 18.43px 0 0;

    ul {
      padding: $space+5 $space*3 1px;
    }
  }

  li {
    list-style: none;
    margin: 0;
    display: block;

    a {
      color: $gray-10;
      text-decoration: none;
      transition: all ease 0.5s;
      display: block;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.6px;
      font-family: $font-condensed;
      text-transform: uppercase;

      &:hover {
        color: $gray-30;
      }

      &.is-active {
        color: $gray-10;
      }
    }
  }

  > li {
    font-family: $font-subheading;
    font-size: 20px;
    text-transform: none;
    border-bottom: 2px solid $gray-10;
    padding: 1rem 0;
    color: $gray-10;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    > a {
      font-size: 18px;
      line-height: 26px;
      color: $gray-10;
      letter-spacing: 0;
      font-family: $font-subheading;
      text-transform: none;
    }

    li {
      font-family: $font-condensed;
      font-size: 16px;
      border: none;
      margin: 0 0 11.7px;
      text-transform: uppercase;

      &:last-child {
        margin: 0;
      }

      &.menu-item {
        &.sidebarlink {
          text-transform: uppercase;
          font-size: 1rem;
          font-family: $font-din1451-engschrift;
          letter-spacing: 1px;
        }
      }

      li {
        font-family: $font-body;
        font-size: 16px;
        text-transform: none;

        a {
          font-size: 16px;
          line-height: 19px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
