{#
/**
 * - has_cta - (bool - required) Decide whether the entire banner is clickable or contains a cta button
 * - url – URL of the banner
 */
#}

{% set tag = has_cta ? "div" : "a" %}

<{{tag}} class="intro-banner paragraph-component"
  {% if not has_cta %}
    href="{{ url }}"
  {% endif %}
>

      {% if pattern_lab %}
    <h1 class="intro-banner__logo">
    {% else %}  
   <h1 class="intro-banner__logo" style="background-image: url('/themes/custom/delta_theme/images/hero-wave.svg');">
    {% endif %}

  

      {% if pattern_lab %}
    <img src="/../../images/voiceIQ.svg" alt="VoiceIQ Technology Logo" />
    {% else %}  
    <img src="/themes/custom/delta_theme/images/VoiceIQ.svg" alt="VoiceIQ Technology Logo" />
    {% endif %}
  </h1>
  <span class="intro_banner__technology" aria-hidden="true">Technology</span>

  {% if not has_cta %}
    <h2 style="letter-spacing: 3px;" class="intro-banner__subtitle"><span class="bold">Command</span> <span class="normal">Your</span><span class="normal"> Kitchen</span></h2>

  {% else %}
    {% include "@atoms/06-buttons/01-button.twig" with {
      "button_url": url,
      "button_content": "Command Your Kitchen",
      "button_modifiers": ["primary", "lg"]
    } %}
  {% endif %}
</{{tag}}>
