<div class="pdp-listing-variation-wrapper">
  <div class="pdp-listing-variation pdp-recommended-replacement">
    <div class="pdp-listing-variation-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": pdp_recommended_replacement_title,
      } %}
    </div>

    <div class="pdp-listing-variation-desc-wrapper">
      {% block list_content %}
        {% for pdp_rr_list in pdp_rr_lists %}

          <div class="pdp-listing-variation-desc">
            <div class="pdp-listing-variation-img">
              {% include "@atoms/04-images/00-image/_image.twig" with {
                "img_src": pdp_rr_list.model_image,
                "img_alt": pdp_rr_list.description,
              } %}
            </div>
            <div class="pdp-listing-variation-block">
              {% include "@molecules/pdp-product-info-header/pdp-product-info-header-replacement.twig" with {
                "collection_name": pdp_rr_list.collection_name,
                "pdp_model_name": pdp_rr_list.model_number,
                "pdp_prod_name": pdp_rr_list.description,
              } %}
              <div class="pdp-listing-prod-price">
               List Price*: {{ pdp_rr_list.list_price }}
             </div>
            </div>
          </div>

        {% endfor %}
      {% endblock %}
    </div>
  </div>
</div>
