<div class="pdp-section">
  {% include "@organisms/pdp-sections/pdp-top-section.twig" with {
    "collection_name": collection_name,
    "pdp_model_name": pdp_model_name,
    "pdp_prod_name": pdp_prod_name,
    "rating_value": rating_value,
    "review_text_link": review_text_link,
    "review_url": review_url,
    "question_text_link": question_text_link,
    "question_url": question_url,
    "ul_items": ul_items,
    "pdp_prod_price": pdp_prod_price,
    "pdp_prod_more_desc": pdp_prod_more_desc,
    "buy_button_url": buy_button_url,
    "buy_button_content": buy_button_content,
    "buy_button_modifiers": buy_button_modifiers,
    "ql_button_url": ql_button_url,
    "ql_button_content": ql_button_content,
    "ql_button_modifiers": ql_button_modifiers,
    "shop_button_url": shop_button_url,
    "shop_button_content": shop_button_content,
    "shop_button_modifiers": shop_button_modifiers,
    "fi_button_url": fi_button_url,
    "fi_button_content": fi_button_content,
    "fi_button_modifiers": fi_button_modifiers,
    "btns": btns,
    "cta_link_text": cta_link_text,
    "cta_link_modifiers": cta_link_modifiers,
    "cta_link_icon": cta_link_icon,
    "cta_link_icon_position": cta_link_icon_position,
    "pdp_label_img": pdp_label_img,
    "pdp_label_alt": pdp_label_alt,
    "pdp_label_text": pdp_label_text,
    "slider_imgs": slider_imgs,
    "slider_thumb_imgs": slider_thumb_imgs,
    "pdp_ha_big_img_alt": pdp_ha_big_img_alt,

    "pdp_configurable_part_title": pdp_configurable_part_title,
    "pdp_configurable_part_img": pdp_configurable_part_img,
    "pdp_configurable_part_alt": pdp_configurable_part_alt,
    "cp_collection_name": cp_collection_name,
    "cp_pdp_model_name": cp_pdp_model_name,
    "cp_pdp_prod_name": cp_pdp_prod_name,
    "cp_pdp_prod_price": cp_pdp_prod_price,

    "pdp_base_part_title": pdp_base_part_title,
    "pdp_base_part_img": pdp_base_part_img,
    "ppdp_base_part_alt": pdp_base_part_alt,
    "bp_collection_name": bp_collection_name,
    "bp_pdp_model_name": bp_pdp_model_name,
    "bp_pdp_prod_name": bp_pdp_prod_name,
    "bp_pdp_prod_price": bp_pdp_prod_price,

    "pdp_handle_accent_title": pdp_handle_accent_title,
    "pdp_handle_accent_img": pdp_handle_accent_img,
    "pdp_handle_accent_alt": pdp_handle_accent_alt,
    "ha_collection_name": ha_collection_name,
    "ha_pdp_model_name": ha_pdp_model_name,
    "ha_pdp_prod_name": ha_pdp_prod_name,
    "ha_pdp_prod_price": ha_pdp_prod_price,

    "pdp_rough_value_title": pdp_rough_value_title,
    "pdp_rough_value_img": pdp_rough_value_img,
    "pdp_rough_value_alt": pdp_rough_value_alt,
    "rv_collection_name": rv_collection_name,
    "rv_pdp_model_name": rv_pdp_model_name,
    "rv_pdp_prod_name": rv_pdp_prod_name,
    "rv_pdp_prod_price": rv_pdp_prod_price,

    "pdp_recommended_replacement_title": pdp_recommended_replacement_title,
    "pdp_recommended_replacement_img": pdp_recommended_replacement_img,
    "pdp_recommended_replacement_alt": pdp_recommended_replacement_alt,
    "rr_collection_name": rr_collection_name,
    "rr_pdp_model_name": rr_pdp_model_name,
    "rr_pdp_prod_name": rr_pdp_prod_name,
    "rr_pdp_prod_price": rr_pdp_prod_price
  }%}

  <div class="pdp-tabs">
    <div class="no-redirection-tab">
      {% include "@molecules/menus/tabs/tabs.twig" %}
    </div>
  </div>

  <div class="pdp-prod-listing">
    {% include "@molecules/related-product/related-product.twig" %}
  </div>
</div>
