{#
/**
 * Available variables:
 * - card_title_link - Link URL of card
 * - card_img_src - Card image source URL
 * - card_img_alt - Card image Alternate text
 * - card_title_1 - Card Title with Big Fonts
 * - card_title - Card Title with normal Fonts
 * - card_body - Card Desciption
 * - card_button_content - Card Link content
 * - card_modifiers - Array of classes to add to the card
 */
#}

{% set card_base_class = 'card-cover' %}
{% set data_src_desk = card_img_src %}
{% set data_src_mobi = card_img_mobile_src %}

<div {{ bem(card_base_class, (card_modifiers), card_blockname) }}>
  <div class="card-cover-data">
    <a href={{card_title_link}} aria-label="Link to {{ card_title_1 ?? card_title }}">
      <div class="card-cover-img">
        <picture>
          <source  {% if data_src_desk is not empty %} data-src-desk="{{ data_src_desk }}" {% endif %}  srcset="{{ data_src_desk  }}" media="(min-width: 768px)">
          <source  {% if data_src_mobi is not empty %} data-src-mobile="{{ data_src_mobi }}" {% endif %}  srcset="{{ data_src_mobi }}" >
          <img {% if data_src_desk is not empty %} data-src-desk="{{ data_src_desk }}" {% endif %}  src= "{{ data_src_desk  }}" alt="{{ card_img_alt }}" class="image" />
        </picture>
      </div>
    </a>
    <div class="cover-card-body-wrapper">
      {% if card_title_1 %}
        {{ title_prefix }}
          <div class="cover-big-title-wrapper">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 1,
              "heading": card_title_1,
              "heading_link_base_class": cover_card_title_link_base_class|default('link'),
              "heading_link_blockname": cover_card_base_class,
              "heading_modifiers": card_title_modifiers,
              "heading_base_class": cover_card_title_base_class|default('mega3 mega3-sans-serif'),
            } %}
          </div>
        {{ title_suffix }}
      {% endif %}

      {% if card_title %}
        {{ title_prefix }}
          <div class="cover-title-wrapper">
            {% include "@atoms/02-text/00-headings/_heading.twig" with {
              "heading_level": 2,
              "heading": card_title,
              "heading_blockname": card_title_blockname|default(card_base_class),
              "heading_modifiers": card_title_modifiers,
              "heading_link_base_class": card_title_link_base_class|default('title-link'),
              "heading_link_blockname": card_base_class,
              "heading_base_class": card_title_base_class|default('title'),
            } %}
          </div>
        {{ title_suffix }}
      {% endif %}
      {% if card_body %}
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": card_body,
          "paragraph_blockname": card_body_base_class|default(card_base_class),
          "paragraph_modifiers": card_body_modifiers,
          "paragraph_base_class": card_body_base_class|default('body'),
        } %}
      {% endif %}
      {% if card_title_link %}
        {% if 'learn more' in card_button_content|lower  %}
          {% set learn_more_about = 'Learn more about ' ~ card_title|lower|striptags %}
        {% else %}
          {% set learn_more_about = card_button_content|striptags %}
        {% endif %}
        {% if card_cta_button_attributes is null %}
          {% set card_cta_button_attributes = {'aria-label': learn_more_about, 'title': learn_more_about } %}
        {% endif %}
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          "link_url": card_title_link,
          "link_content": card_button_content,
          "link_attributes": card_cta_button_attributes,
        } %}
      {% endif %}
      {# {% if card_title_link %}
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_content": card_button_content,
          "button_url": card_title_link,
          "button_base_class": card_button_base_class|default('button'),
          "button_attributes": card_button_attributes,
          "button_modifiers": card_button_modifiers,
          "button_blockname": card_blockname|default(card_base_class),
        } %}
      {% endif %} #}
    </div>
  </div>
</div>
