<div class="order-items">
        <div class="order-total-line order-total-line__subtotal shade">
          <span class="order-total-line-label text-left">{{subtotal}} </span>
          <span class="order-total-line-value text-right">{{subtotal_price}}</span>
          <span class="text-left">{{Shipping}}</span>
          <span class="text-right">  {{Shipping_price}} </span>
          <span class="text-left">{{sales_tax}}</span>
          <span class="text-right"> {{sales_tax_price}} </span>
      </div>
        <div class="order-total-line order-total-line__total">
        <span class="order-total-line-label">{{total}} </span><span class="order-total-line-value">  {{total_price}} </span>

          {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: price_info,
            paragraph_base_class : "order-total-des"
          } %}

    </div>
</div>