{#
/**
 * Available variables:
 * - cta_link_base_class - the base class name
 * - cta_link_modifiers - array of modifiers to add to the base classname
 * - cta_link_blockname - blockname prepended to the base classname
 * - cta_link_attributes - array of attribute,value pairs
 * - cta_link_icon - icon
 * - cta_link_icon_position - icon position (left|right)
 * - cta_link_url - the url this button should poing to
 * - cta_link_text - the text of the button (typically text)
 *
 */
#}
{% set cta_link_base_class = cta_link_base_class|default('cta-link') %}
{% set cta_link_classes = ["has-icon--#{cta_link_icon_position}","#{cta_link_classes}"] %}
{% if cta_link_icon == "cta-share" %}
  {% set cta_link_classes = ["has-icon--#{cta_link_icon_position}","addthis","addthis_button_compact"] %}
{% endif %}
<a {{ bem(cta_link_base_class, (cta_link_modifiers), cta_link_blockname) }}{% if link_url|render %} href="{{ link_url }}"{% endif %}{% if cta_link_id != ''%} id="{{ cta_link_id }}"{% endif %}{% for attribute,value in link_attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% if cta_icon_name and cta_link_icon_position == "left" %}
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: cta_icon_name,
    } %}
  {% endif %}
  {% block cta_link_text %}
    {{ link_content }}
  {% endblock %}
  {% if cta_icon_name and cta_link_icon_position == "right" %}
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: cta_icon_name,
    } %}
  {% endif %}
</a>
