<div class="search-wrapper" id="search-wrapper">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="search-input-block">
      <div class="autocomplete-container--inner">
        <div class="search-input-wrapper">
          <div class="search-label"> Search </div>
          {{ form.search_input }}
        </div>
      </div>
    </div>
</div>

<div class="autocomplete-container--suggestions" id="search-block-suggestion-result"></div>
