<div class="search-result-page">
  <div class="srp-top-section">
    <h1 class="h1">SEARCH RESULTS</h1>
    <div class="search-form">
      {{ form }}
    </div>
  </div>
<div class="search-empty" style="display: none;">
  Enter Keyword OR Model #
</div>
<div class="search-result-text-wrapper">
  <span id="grand_total"></span>
  results for <span class="search-text">"{{ form.form['#var']['searchterm'] }}"</span>
</div>
{{ attach_library('brizo_theme/tabs') }}
<div class="ajax-progress ajax-progress-throbber">
  <div class="throbber">&nbsp;</div>
</div>
<div class="tabs search-result-tabs">
  <ul class="tab-block">
    <li class="prodTab tab-link" rel="Tab 1">

      <a class="link" href="#">
        {%- trans -%}
          Products
        {%- endtrans %}
        <span class="count-span">(<span class="product-count-tab product-count"></span>)</span>
      </a>
    </li>
    <li class="innTab tab-link" rel="Tab 2">

      <a class="link" href="#">
        {%- trans -%}
          Innovations
        {%- endtrans %}
        <span class="count-span">(<span class="innovation-count" id="innovation-count-tab"></span>)</span>
      </a>
    </li>
    <li class="docTab tab-link" rel="Tab 3">

      <a class="link" href="#">
        {%- trans -%}
          Technical Documents
        {%- endtrans %}
        <span class="count-span">(<span class="document-count" id="document-count"></span>)</span>
      </a>
    </li>
    <li class="artTab tab-link" rel="Tab 4">

      <a class="link" href="#">
        {%- trans -%}
          Articles
        {%- endtrans %}
        <span class="count-span">(<span class="content-count" id="content-count-tab"></span>)</span>
      </a>
    </li>
  </ul>

  <div class="tab-desc tab-data-active">
    <div class="prodTab tab-accordion-title">
      {%- trans -%}
        Products
      {%- endtrans %}
      <span class="count-span">(<span class="product-count"></span>)</span>
    </div>
    <div class="prodTab tab-data">
      <div class="product-filters grid">
        <div class="grid-col-6 filterDiscontinued custom-input--checkbox">
          <input class="filter-discontinued custom-input__native" data-filter="facetNarrowResults" type="checkbox" id="include-discontinued-products" value="Include Discontinued Products">
          <label title="" class="custom-input__label" for="include-discontinued-products">Include Discontinued Products</label>
        </div>
        <div class="grid-col-6 search-select-wrapper">
          <div class="search-select">
            <div class="form-item form-item--dropdown js-form-item select-full-border">
              <label class="form-item__label--textfield form-item__label" for="facetFinish" style="display:none;"><span>Choose Your Finish</span></label>
              <select class="form-item__select facetFinish form-item__textfield  form-select valid"  id="facetFinish">
                <option value="">Choose Your Finish</option>
              </select>
            </div>
          </div>
          <div class="search-select">
            <div class="form-item form-item--dropdown js-form-item select-full-border">
              <label class="form-item__label form-item__label--textfield" for="sortProduct" style="display:none;">
                <span>Sort By</span>
              </label>
              <select class="form-item__select form-item__textfield form-select" id="sortProduct">
                <option value="">Sort By</option>
                <option value="sort_ListPrice=DESC">Price (High to Low)</option>
                <option value="sort_ListPrice=ASC">Price (Low to High)</option>
                <option value="sort_descriptionWithCollection=ASC">A-Z</option>
                <option value="sort_descriptionWithCollection=DESC">Z-A</option>
                <option value="sort_AvailableToShipDate=DESC">Newest</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="grid" id="products-tab"></div>
    </div>
    <div class="innTab tab-accordion-title">
      {%- trans -%}
        Innovations
      {%- endtrans %}
      <span class="count-span">(<span class="innovation-count"></span>)</span>
    </div>
    <div class="innTab tab-data">
      <div id="innovation-tab" class="contents-section"></div>
    </div>
    <div class="docTab tab-accordion-title">
      {%- trans -%}Technical Documents{%- endtrans %}
      <span class="count-span">(<span class="document-count"></span>)</span>
    </div>
    <div class="docTab tab-data">
      <div id="documents-tab"></div>
    </div>
    <div class="artTab tab-accordion-title">
      {%- trans -%}Articles{%- endtrans %}
      <span class="count-span">(<span class="content-count"></span>)</span>
    </div>
    <div class="artTab tab-data">
      <div id="contents-tab" class="contents-section"></div>
    </div>
  </div>
</div>


<script type="text/template" id="full-content-output"></script>
<div id="full-contents-tab"></div>


<script type="text/template" id="product">
  <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
    <div class="product_tile product_tile--plp-prod-tile">

      <div class="product-image">
        <a href="<%- url %>">

          <img
            class="img"
            src="<%- heroImage %>"
            alt="<%= title %>"
          />
        </a>
      </div>

      <div class="product-data">

        <div class="product-flag">
          <% if(ribbonText){ %>
          <div class="flag flag--<%= ribbonColor %>">
            <%= ribbonText %>
          </div>
          <% } %>
        </div>

        <div class="product-title">
          <a href="<%- url %>">

            <h3 class="h3">
              <%= collectionName %>
            </h3>
          </a>
        </div>

        <div class="product-desc">
          <div class="product-detail">

            <p class="paragraph">
              <%= title %>
            </p>
          </div>
          <div class="product-link">

            <a
              class="link"
              href="<%- url %>"
            >
              <%- sku %>
            </a>
          </div>

        </div>



        <% _.each(handle, function(key, value){ %>
        <div class="product-link">
          <div class="product-detail">
            <p class="paragraph">
              Shown With <%= key.name %>
            </p>
          </div>
          <div class="product-modelno">
            <a
              class="link"
              href="<%- url %>"
            >
              <%= key.sku %>
            </a>
          </div>
        </div>
        <% }); %>

      </div>
    </div>
  </div>
</script>

<script type="text/template" id="document-output">
  <div>
    <div>
      <span class="document-name"><%- fileName %> </span>
      <a class="srp-resuls-list__link" target="_blank" href="<%- filePath %>">
        {%- trans -%}
          View <span class="search-pipe"></span> Download
        {%- endtrans %}
      </a>
    </div>
  </div>
</script>
<script type="text/template" class="pagination" id="document-pagination">

</script>
<script type="text/template" id="content-output">
  <% if(searchContentType == 'Blog Article') { %>
  <div class="wob-search">
  <a class="image-link" title="Link to <%= searchContentTitle %>" href="<%- searchContentUrl %>">
    <img
      class="wob-results-image"
      src="<%- file_url(searchContentImage | image_style('all_articles_narrow')) %>"
      alt="Blog thumbnail image: <%= searchContentTitle %>"
    />
  </a>
  <% } %>
  <h4>
    <a href="<%- searchContentUrl %>">
      <%= searchContentTitle %>
    </a>
  </h4>
  <div class="resultslistDesc">
    <%= searchContentBody %>
  </div>
  <% if(searchContentType == 'Blog Article') { %>
  </div>
  <% } %>
</script>

<script type="text/template" id="innovation-output">
  <h4>
    <a href="<%- searchInnUrl %>">
      <%= searchInnTitle %>
    </a>
  </h4>
  <div class="resultslistDesc">
    <%= searchInnBody %>
  </div>
</script>
<script type="text/template" id="content-pagination">
  <div class="filter-result__page-x-of-n pull-right content-page-results" data-currentpage="<%- currentPage %>">
    <input class="pager__link <% if(pageNumber == currentPage) { %>  is-active <% } %>" type="button" value="<%- pageNumber %>">
  </div>
</script>
</div>
