{#
/**
 * Available variables:
 * - finish – Keyword for the finish color (chrome, stainless, white, etc)
 */
#}
<div class="finish-thumbnail" style="background-image: url('{{ finish_prod_icon }}')" title="{{ finish_prod_title }}" alt="{{finish_prod_title}}"></div>
