.cdp-block-wrapper {
  display: flex;
  margin: 0 0 $space*5;
  justify-content: center;

  @include maxbp($medium) {
    display: block;
  }

  .cdp-content-block {
    padding: 0 20px;
    text-align: center;
    width: 390px;

    @include maxbp($medium) {
      width: 100% !important;
      margin: 0 0 20px;
      padding: 0;
      max-width: none !important;
    }

    &.cdp-block-col-4 {
      width: 25%;
    }

    &.cdp-block-col-3 {
      width: 33.3%;
    }

    &.cdp-block-col-2 {
      //width: 50%;
    }

    &.cdp-block-col-1 {
      //max-width: 420px;
      margin: auto;
      width: 100%;
    }

    .cdp-img-block {
      img {
        width: 100%;
      }
    }

    .cpd-content-desc {
      margin: $space+6 0 0;

      @include maxbp($medium) {
        margin: 16px 16px 0;
      }

      .cdp-content-title {
        font-family: $font-condensed;
        text-transform: uppercase;
        color: $black;
        line-height: 21px;
        font-size: 18px;

        h4,
        p {
          font-family: $font-condensed;
          margin: 0;
          font-weight: normal;
          line-height: 26px;
          font-size: 22px;
          letter-spacing: 2.2px;
          color: $gray-10;
          text-transform: uppercase;

          strong {
            font-weight: normal;
          }

          sup {
            font-size: 0.5em;
            top: -0.75em;
          }
        }
      }

      .cdp-content-data {
        font-size: 14px;
        line-height: 20px;
        margin: 8px 0 0;
        color: $gray-20;
        letter-spacing: $font-body;

        p {
          margin: 0;
        }
      }

      .cdp-content-link {
        a {
          @include no-underline;
          @include link;

          color: $gray-10;
          text-decoration: none;
          position: relative;
          text-transform: uppercase;
          font-family: $font-condensed;
          display: inline-block;
          margin: 16px 0 0 -12px;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1.6px;

          &:hover {
            &::after {
              color: $gray-30;
            }
          }

          &::after {
            content: "\e901";
            font-family: $font-icon !important;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 12px;
            transition: all ease 0.4s;
            color: $gray-10;
            padding-left: 5px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
}
