<div class="installation-support-container {{ ins_supp_image_position }}">
  {% if card_img_src %}
    <div class="installation-support__block-left">
      <div class="ins-block-left__image {{ ins_block_image_position }}">
        {% include "@atoms/04-images/00-image/responsive-image.twig" with {
          "img_url": card_img_url|default(card_link_url),
          "img_src": card_img_src,
          "img_alt": card_img_alt,
        } %}
      </div>
    </div>
  {% endif %}
  <div class="installation-support__block-right {{ ins_supp_block_position }}">
    <div class="ins-block-right__image">
      {% include "@atoms/04-images/00-image/responsive-image.twig" with {
        "img_url": logo_img_url|default(logo_link_url),
        "img_src": logo_img_src,
        "img_alt": logo_img_alt,
      } %}
    </div>
    <div class="ins-block-right__text">
      {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: img_desc_prod_desc,
      } %}
    </div>
    {% if card_button_url %}
      <div class="ins-block-right__cta">
        {% include "@atoms/06-buttons/01-button.twig" with {
          button_url: card_button_url,
          button_content: card_button_content,
          button_modifiers: card_button_modifiers,
        } %}
      </div>
    {% endif %}
    {% if appstore_img_src and playstore_img_src %}
      <div class="ins-block-right__cta-image">
      {% if appstore_url %}
        <a href="{{ appstore_url }}" target="_blank" class="appstore__cta-image">
            {% include "@atoms/04-images/00-image/responsive-image.twig" with {
              "img_url": appstore_img_url|default(appstore_link_url),
              "img_src": appstore_img_src,
              "img_alt": appstore_img_alt,
            } %}
          {% include "@atoms/01-links/link/link.twig" with {
            'link_url': appstore_url,
            'link_target': appstore_target,
          } %}
        </a>
      {% endif %}
      {% if playstore_url %}
        <a href="{{ playstore_url }}" target="_blank" class="playstore__cta-image">
            {% include "@atoms/04-images/00-image/responsive-image.twig" with {
              "img_url": playstore_img_url|default(playstore_link_url),
              "img_src": playstore_img_src,
              "img_alt": playstore_img_alt,
            } %}
          {% include "@atoms/01-links/link/link.twig" with {
            'link_url': playstore_url,
            'link_target': playstore_target,
          } %}
        </a>
      {% endif %}
      </div>
    {% endif %}
  </div>
</div>