<div class="com-pop-block">

  {% if compare_popup_image_url %}
    <div class="com-pop-img">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        "img_src": compare_popup_image_url,
        "img_alt": compare_popup_image_alt,
      } %}

      {% if compare_pop_img_flag_text %}
        <div class="slider_flag">
          {% include "@atoms/13-flag/flag.twig" with {
            "flag_text": compare_pop_img_flag_text,
            "flag_modifiers": compare_pop_img_flag_modifiers,
          } %}
        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="com-pop-data">
    {% if compare_popup_prod_title %}
      <div class="com_pop_title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 6,
          "heading": compare_popup_prod_title,
        } %}
      </div>
    {% endif %}

    {% if compare_popup_prod_desc %}
      <div class="com_pop_desc">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: compare_popup_prod_desc,
        } %}
      </div>
    {% endif %}

    {% if compare_popup_prod_model %}
      <div class="com_pop_model">
      <a class="no-line" href="/product-detail/{{ compare_popup_prod_model }} ">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
            paragraph_content: compare_popup_prod_model,
        } %}
      </a>
      </div>
    {% endif %}

    {% if compare_popup_prod_price %}
      <div class="com_pop_price">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: compare_popup_prod_price,
        } %}
      </div>
    {% endif %}

    {% if compare_pop_remove_content %}
      <div class="com_pop_remove">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_url": compare_pop_remove_url,
          "button_content": compare_pop_remove_content,
          "button_modifiers": compare_pop_remove_modifiers,
          "button_base_class": "js_remove_compare button button--primary",
          "button_name": compare_popup_prod_model,
        } %}
      </div>
    {% endif %}

    {% if compare_popup_empty_text %}
      <div class="com-pop-block-empty">
        <a class={{ compare_popup_empty_class }} href={{ compare_popup_empty_link }} >
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: compare_popup_empty_text,
        } %}
        </a>
      </div>
    {% endif %}
  </div>
</div>
