<div class="upload-input">
  <input class="upload-input__native" id="upload-demo-active" type="file">
  <label class="upload-input__label" for="upload-demo-active" data-label="Choose File">
          <div class="upload-input__status">filename.jpg</div>
      </label>
</div>
