<div class="upload-input">
  <input class="upload-input__native" id="{{ upload_id }}" type="file">
  <label class="upload-input__label" for="{{ upload_id }}" data-label="{{ upload_label }}">
    {% if upload_status %}
      <div class="upload-input__status">{{ upload_status }}</div>
    {% else %}
      {{ upload_secondary_label }}
    {% endif %}
  </label>
</div>
