// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph($margin: 0 0 1em) {
  margin: #{$margin};
}

@mixin body-copy {
  font-family: $font-body;
  font-size: $font-size;
  line-height: $font-height;
}

body {
  color: $gray-20;
  background: $black;

  @include body-copy;

  &.user-logged-in,
  &.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders {
    background: $white !important;
  }

  @include maxbp($r_1000) {
    background: $white;
  }
}

.pl {
  body {
    background: $white;
  }
}

.paragraph {
  @include paragraph;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px $color-border;
  margin-left: 1em;
  padding-left: 1em;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

.hr-light {
  @extend .hr;

  color: $gray-20;
}

.hr-dark {
  @extend .hr;

  color: $gray-10;
}

.hr-darker {
  @extend .hr;

  color: $gray-10;
}

.hr-darkest {
  @extend .hr;

  color: $black;
}

.hr-teal {
  @extend .hr;

  color: $white;
  border-width: 3px 0 0;
}

.hr-black {
  @extend .hr;

  color: $black;
  border-width: 3px 0 0;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }

  .hr-light {
    @extend .hr-light;
  }

  .hr-dark {
    @extend .hr-dark;
  }

  .hr-darker {
    @extend .hr-darker;
  }

  .hr-darkest {
    @extend .hr-darkest;
  }

  .hr-teal {
    @extend .hr-teal;
  }

  .hr-black {
    @extend .hr-black;
  }
}

sup {
  top: -0.25em;
}
