<br />
<hr class="hr" />
<br />
<hr class="hr-light" />
<br />
<hr class="hr-dark" />
<br />
<hr class="hr-darker" />
<br />
<hr class="hr-darkest" />
<br />
<hr class="hr-teal" />
<br />
<hr class="hr-black" />
