{#
/**
* @file
* Default theme implementation to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
*   - attributes: The row's HTML attributes.
*   - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
*   used on rows.
*
* @see template_preprocess_views_view_unformatted()
*
* @ingroup themeable
*/
#}
<script type="text/template" id="output-node">
   <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
     <div class="product-tile">
       <% if(ribbonText){ %><div class="slider_flag flag_position"><div class="flag flag--<%- ribbonColor %>"><%- ribbonText %></div></div><% } %>
       <figure class="product-tile__image">
         <a href="<%- pdp %>" class="product-action-link">
         <img src="<%- heroImage %>" srcset="<%- heroImage %>" alt="product" class="img-responsive">
         </a>
       </figure>
       <div class="product-tile__body">
       <h6 class="h6 product-tile__title"><a class="product-action-link" href="<%- pdp %>"><%= collectionName %></a></h6>
       <p class="paragraph"><%= title %> </p>
       <p class="product-tile__sku"><%- sku %></p>
       <p class="product-tile__price u-hidden-lg">List Price:<sup>*</sup>  $<%- price %></p>
       </div>
     </div>
   </div>
</script>
{% set catValues = [] %}
{% set bannerParams = [] %}

{% for row in rows %}
{#} Start Banner Button #}
<div class="banner-buttons">
{% set bannerParams = row['content']['#row']._entity.field_bathroom_collection_banner %}
  {% for bannerParam in  bannerParams %}
  {#} Start Banner Title, Desc #}
  <div class="banner-title-desc">
   <div class="banner-title">
    {{ bannerParam.entity.field_banner_text_title.0.value|raw }}
   </div>
   <div class="banner-desc">
    {{ bannerParam.entity.field_banner_text_description.0.value|raw }}
   </div>
  </div>
  {#} Start Banner Title, Desc #}

  {#} Start Banner left image #}
  <div class="banner-img-row">
    <div class="banner-left-image">
    <div class="banner-image">
      <picture>
          <source srcset="{{ file_url(bannerParam.entity.field_banner_background_image.entity.fileuri) }}" media="(max-width: 1023px)" >
          <img src="{{ file_url(bannerParam.entity.field_banner_background_mob_img.entity.fileuri) }}" srcset="{{ file_url(bannerParam.entity.field_banner_background_image.entity.fileuri) }}" alt="{{ bannerParam.entity.field_banner_background_image.alt }}">
      </picture>
      </div>
    </div>
    <div class="banner-right-image">
       <div class="banner-collection-image">
          <div class="video-iframe">
            <div class="backgroundImage" style="background-image: url('{{ file_url(bannerParam.entity.field_video_preview_image.entity.fileuri) }}')">
          </div>

          <div class="embed-responsive embed-responsive-16by9">
            {% set videoUrl = bannerParam.entity.field_video_path.0.value %}
           {%  set video_content = "<iframe title='Video container' width='420' height='315' frameborder='0' allow='autoplay' allowfullscreen='allowfullscreen' src='" ~ videoUrl ~ "'></iframe>"
           %}
           {{ video_content|raw }}
          </div>

          <div class="home-button_playback play_button_video" id="button-0f873857-22ff-4297-96bc-ebd237705902" data-src-mp4="{{video_url}}" data-src-webm="{{video_url_webm}}" style="display: inline-block;">
            <img src="{{ file_url(bannerParam.entity.field_video_play_icon.entity.fileuri) }}" alt="Play icon">
          </div>
        </div>
      </div>
    </div>
  </div>
  {#} Start Banner left image #}

  <div class="gallary-share">
    {% for button in bannerParam.entity.field_banner_buttons %}
     {% set buttonAttributes = '' %}
      {% if button.entity.field_button_icon_name.0.value == 'cta-gallery' %}
      <div class="GalleryIcon">
      <img src="/sites/peerless/themes/custom/peerless/img/icon-cta-gallery.svg" alt="ViewImageGallery"></img>
      <div class="{{ button.entity.field_button_icon_name.0.value }}" > {{ button.entity.field_banner_button_text.0.value }} </div></div>
      {% endif %}
      {% if button.entity.field_button_icon_name.0.value == 'pdf' %}
      {% set get_fname = button.entity.field_banner_button_link.0.value|split('/')|last %}
        <div class="{{ button.entity.field_button_icon_name.0.value }}">
          <img src="/sites/peerless/themes/custom/peerless/img/icon-cta-collection-pdf.svg" alt=" Download Collection PDF "></img>
          <a target="_blank" href="{{ button.entity.field_banner_button_link.0.value }}" class="pdfDownload" download="{{ get_fname }}" > {{ button.entity.field_banner_button_text.0.value }} </a>
       </div>

      {% endif %}
    {% endfor %}
     {# Start banner gallery images #}
     <div id="myModal" class="modal">

     <div class="modal-container">
     <span class="close cursor"></span>
    <div class="modal-content">
      {% for galleryImg in bannerParam.entity.field_adv_banner_gallery_image %}
        <div class="collection-images collection-image-gallery-{{ loop.index0 }}">
          <img src="{{ file_url(galleryImg.entity.fileuri) }}" alt="{{ galleryImg.alt }}" />
        </div>
      {% endfor %}
        </div>
      </div>
    </div>
     {# End banner gallery images #}
  {% endfor %}


   <div class="">
    </div>



  </div>
{#} End Banner Button #}
</div>

{% endfor %}
<div class="grid-container">
   <header class="collection-details__page-header">
      <div class="collection-details__tabs">
       <p>Filter by: </p>
         <div  class="collection-details__dropdowns">
            <div id="finish-filters" class="form-item--dropdown">
              <label for="finishFilter" class="form-item__label form-item__label--textfield" class="visually-hidden">
                <span>Choose your finish</span>
              </label>
               <select id="finishFilter" class="form-item__select form-item__select--sm">
                  <option value="">Choose your finish</option>
                  <option value="all">All Finishes</option>
                  <option value="arcticstainless">Arctic Stainless</option>
                  <option value="chrome">Chrome</option>
                  <option value="venetianbronze">Venetian Bronze</option>
                  <option value="champagnebronze">Champagne Bronze</option>
                  <option value="stainless">Stainless</option>
                  <option value="matteblack">Matte Black</option>
               </select>
            </div>
            <label for="priceFilter" class="form-item__label form-item__label--textfield" class="visually-hidden">
              <span>Sort By</span>
            </label>
            <select id="priceFilter" class="form-item__select form-item__select--sm">
               <option value="">Sort By</option>
               <option value="sort_ListPrice=DESC">Price (High to Low)</option>
               <option value="sort_ListPrice=ASC">Price (Low to High)</option>
               <option value="sort_descriptionWithCollection=ASC&amp;sort_ListPrice=DESC">A-Z</option>
               <option value="sort_descriptionWithCollection=DESC&amp;sort_ListPrice=DESC">Z-A</option>
               <option value="sort_AvailableToShipDate=DESC&amp;sort_ListPrice=DESC">Newest</option>
               <option value="sort_bvStarRating=DESC&amp;sort_ListPrice=DESC">Rating</option>
            </select>
         </div>
      </div>
   </header>
</div>
<div class="output-wrapper">
   <div class="ajax-progress ajax-progress-throbber">
      <div class="throbber">&nbsp;</div>
   </div>
   <div id="output"></div>
</div>
