
{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <header class="srp-header">
      <h3 class="srp-title">
        Search Results
      </h3>

      <p class="srp-header__description">Please enter a search keyword, model or part number to see search results displayed below.</p>

      <form class="srp-form" action="">
        <input type="text" value="search value" class="srp-form__field form-item__textfield" placeholder="Search Keyword, Model or Part #"/>
        <button class="srp-form__submit">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_name: "search",
            icon_size: 24,
            icon_color: 'gray-10',
            hidden: true,
          } %}
        </button>
      </form>
    </header>

    <div class="srp-body">
      <div class="grid-container grid-container--medium">
        <header class="srp-body__header">
          <div class="srp-result-summary">
            <strong class="srp-qty">0</strong> total results for <span class="srp-search-term-highlight">“search term”</span>
          </div>
        </header>

        <div class="srp-cta">
          <h4 class="srp-cta__heading">Looking for commercial products?</h4>
          <p>Search for this product on our</p>
          {% include "@atoms/06-buttons/01-button.twig" with {
            "button_url": "/",
            "button_content": "Delta Faucet Commercial Website",
            "button_modifiers": ["primary"]
          } %}
        </div>

      </div>
    </div>

  {% endblock %}

{% endembed %}
