
{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <header class="srp-header">
      <h3 class="srp-title">
        Search Results
      </h3>

      <p class="srp-header__description">Please enter a search keyword, model or part number to see search results displayed below.</p>

      <form class="srp-form" action="">
        <input type="text" value="search value" class="srp-form__field form-item__textfield" placeholder="Search Keyword, Model or Part #"/>
        <button class="srp-form__submit">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_name: "search",
            icon_size: 24,
            icon_color: 'gray-10',
            hidden: true,
          } %}
        </button>
      </form>
    </header>

    <div class="srp-body">
      <div class="grid-container grid-container--medium">
        <header class="srp-body__header">
          <div class="srp-result-summary">
            <span class="srp-qty">90</span> total results for <span class="srp-search-term-highlight">“search term”</span>
          </div>
        </header>
        <div class="u-text-center">
          tabs here
          <hr>
        </div>

        <section class="srp-results">
          <header class="srp-results__header">
            <div class="srp-result-summary"><span class="srp-qty">30</span> Products</div>

            {% include "@molecules/pager/pager.twig" with {
              items: {
                pages: {
                  1: { href: "#" },
                  2: { href: "#" },
                  3: { href: "#" },
                  4: { href: "#" },
                },
                next: true,
              },
              current: 1
            } %}
          </header>

          <div class="srp-results__body">
            <ul class="srp-results-list">
              {% for i in 1..12 %}
              <li class="srp-results-list__item">
                {% include "@atoms/04-images/icons/_icon.twig" with {
                  icon_name: "pdf-download",
                  icon_size: 60,
                  hidden: true,
                } %}
                <div>
                  <a class="srp-resuls-list__link" href="/">55011-SS 57011 000000000000057011 000000000000055140 000000000000051140</a>
                  Parts Information - DPD-B-55011.pdf
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>

      </div>
    </div>

  {% endblock %}

{% endembed %}
