
{% embed "@templates/_default.twig" with {
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  main_base_class: " "
} %}

  {% block page_content %}
    <header class="srp-header">
      <h3 class="srp-title">
        Search Results
      </h3>

      <p class="srp-header__description">Please enter a search keyword, model or part number to see search results displayed below.</p>

      <form class="srp-form" action="">
        <input type="text" value="search value" class="srp-form__field form-item__textfield" placeholder="Search Keyword, Model or Part #"/>
        <button class="srp-form__submit">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_name: "search",
            icon_size: 24,
            icon_color: 'gray-10',
            hidden: true,
          } %}
        </button>
      </form>
    </header>

    <div class="srp-body">
      <div class="grid-container grid-container--medium">
        <header class="srp-body__header">
          <div class="srp-result-summary">
            <span class="srp-qty">90</span> total results for <span class="srp-search-term-highlight">“search term”</span>
          </div>
        </header>

        <div class="u-text-center">
          tabs here
          <hr>
        </div>

        <section class="srp-results">
          <header class="srp-results__header">
            <div class="srp-result-summary"><span class="srp-qty">30</span> Products</div>
            <div class="srp-result-dropdowns">
              {% include "@atoms/05-forms/select/select.twig" with {
                label: "Sort By",
                options: {
                  1: {
                    type: "option",
                    label: "Choose your finish",
                    value: ""
                  },
                  2: {
                    type: "option",
                    label: "Price: High to Low",
                    value: "price-high-to-low"
                  }
                },
                select_modifiers: ["sm"]
              } %}

              {% include "@atoms/05-forms/select/select.twig" with {
                label: "Sort By",
                options: {
                  1: {
                    type: "option",
                    label: "Sort By",
                    value: ""
                  },
                  2: {
                    type: "option",
                    label: "Price: High to Low",
                    value: "price-high-to-low"
                  }
                },
                select_modifiers: ["sm"]
              } %}
            </div>
          </header>

          <div class="srp-results__body">
            <div class="grid">
              {% for i in 1..16 %}
                <div class="grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3">
                  {% include "@organisms/product-tile/product-tile.twig" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </div>

  {% endblock %}

{% endembed %}
