.inline-menu {
  @include list-reset;
}

.inline-menu__item {
  margin: 0 1em 0.5em 0;

  @include large {
    display: inline;
    margin-bottom: 1em;
  }

  &:last-child {
    margin-right: 0;
  }

  // Below CSS is used in Footer section as well
  position: relative;

  .expand-sub {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    background: none;

    &::after {
      content: "\e909";
      font-family: $font-icon;
    }

    &.expand-inline-menu {
      transform: rotate(90deg);
      padding: 0 0 0 5px;
      height: 30px;
      line-height: 41px;

      &::after {
        content: "\e90a";
      }
    }

    i {
      display: none;
    }
  }
}

.inline-menu__link {
  @include link;
}
