{{ attach_library('delta_theme/video-banner') }}

<div class="alt-img-grid">
{% if media_type == 'video' %}
		{% include "@molecules/alternating-img-w-text/alt-img-text.twig" with {
            "embedded_video_src": embedded_video_src,
            "uploaded_video_src": uploaded_video_src,
            "uppercase_title": uppercase_title,
            "main_title": main_title,
            "body_copy": body_copy,
            "cta_text": cta_text,
            "video_src": video_src,
            "poster_image": poster_image,
            "img_order": image_vide_position,
						"ada_title": ada_title
		} %}
{% endif %}
{% if media_type == 'image' %}
		{% include "@molecules/alternating-img-w-text/alt-img-text.twig" with {
            "img_src": img_src,
            "uppercase_title": uppercase_title,
            "main_title": main_title,
            "body_copy": body_copy,
            "cta_text": cta_text,
            "img_order": image_vide_position,
		} %}

{% endif %}
</div>
