.image-tile-wrapper {
  max-width: 240px;
  flex: 0 0 auto;
  margin-left: 5px;
  position: relative;
  width: 100%;
  display: block;

  &::after {
    width: 100%;
    height: 20%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 1;
  }

  .image-tile-title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    text-transform: capitalize;
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.125rem;
    z-index: 2;
  }

  img {
    width: 100%;
    border-radius: 4px;
  }
}
