<a href="{{ image_tile_url }}" 
  {% if link_attribute_id %}
    id="{{ link_attribute_id }}"
  {% endif %}
  {% if link_attribute_class %}
    class="image-tile-wrapper {{ link_attribute_class|join(' ')  }}" 
  {% endif %}
  {% if link_attribute_rel %}
    rel="{{ link_attribute_rel }}"
  {% endif %}
  {% if link_attribute_name %}
    name="{{ link_attribute_name }}"
  {% endif %}
  {% if link_attribute_target %}
    target="{{ link_attribute_target }}"
  {% endif %}
  {% if link_attribute_label %}
    aria-label="{{ link_attribute_label}}"
  {% endif %}
  {% if link_attribute_title %}
    title="{{ link_attribute_title }}"
  {% endif %}
  {% if link_attribute_accesskey %}
    accesskey="{{ link_attribute_accesskey }}"
  {% endif %}
>
  <p class="image-tile-title">{{ image_tile_title }}</p>
  {% if lazyload %}
    <img alt="{{ image_tile_alt }}" class="lazyload" src="" data-src="{{ image_tile_src }}" />
  {% else %}
    <img alt="{{ image_tile_alt }}" src="{{ image_tile_src }}" />
  {% endif %}
</a>
