{#
/**
 * @file
 *
 * Default product related template.
 *
 * Available variables:
 * - product: The rendered prducts related.
 *
 *
 * @ingroup themeable
 */
#}
{% if data.productReferences %}
  {% set relatedproductsdetails = [] %}
  {% set relatedHeading = "Related products" %}
  {% set relatedproductdetails = data.productReferences  %}
{% endif %}
{% include "@molecules/related-product/related-product.twig" with{
      "heading": relatedHeading,
      "relatedproductsdetails": relatedproductdetails,
      "collection_url": data.viewAllCollectionLink,
      cta_link_url: "javascript:void(0)",
      cta_link_classes: "js-add-to-compare",
} %}