{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('product_details/pdp_js') }}
{{ attach_library('product_details/product_details') }}
{{ attach_library('delta_theme/numeric-input') }}

{% if data %}
    {% set sliderImage = [] %}
    {% if data.heroImage %}
        {% set sliderImage = sliderImage|merge({0 : {pdp_label_img: data.heroImage,pdp_label_alt: data.assets.images.heroImageFileName,pdp_srcset: data.heroImage}}) %}
    {% else %}
        {% set sliderImage = sliderImage|merge({0 : {pdp_label_img: data.assets.images.url,pdp_label_alt: data.assets.images.heroImageFileName,pdp_srcset: data.assets.images.url}}) %}
    {% endif %}
    {% if data.assets.images %}
        {% for image in data.assets.images %}
            {% if image.mediaType == 'video' %}
                {% set sliderImage = sliderImage|merge({(loop.index0) : {pdp_label_img: image.url,pdp_label_alt: image.filename, pdp_srcset: data.video_thump}}) %}
            {% elseif image.mediaType == 'image' %}
                {% set sliderImage = sliderImage|merge({(loop.index0) : {pdp_label_img: image.url,pdp_label_alt: image.filename, pdp_srcset: image.smallUrl}}) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
        {% set dataModel = data.model %}
    {% endif %}
    {% set prodDescription = [] %}
    {% if data.salientBullet03 or data.salientBullet02 or data.salientBullet01 %}
        {% set prodDescription = prodDescription|merge({(loop.index0) : {"content": data.salientBullet01} }) %}
    {% endif %}
    {% if data.salientBullet02 %}
        {% set prodDescription = prodDescription|merge({((loop.index0)+1) : {"content": data.salientBullet02} }) %}
    {% endif %}
    {% if data.salientBullet03 %}
        {% set prodDescription = prodDescription|merge({((loop.index0)+2) : {"content": data.salientBullet03} }) %}
    {% endif %}
    {% if data.Prop65WarningLabel %}
        {% set pdp_warning_id = "Pdp Warning" %}
        {% set prop65warninglabel = data.Prop65WarningLabel %}
        {% set prop65helptext =  data.Prop65HelpMessage %}
    {% endif %}
    {% if data.ribbonText %}
        {% set ribbontext = data.ribbonText %}
        {% set ribboncol = [] %}
        {% set ribboncol = [data.ribboncolor]  %}
    {% endif %}
    {% if(data.disclaimer) %}
        {% set disclaimertext = data.disclaimerText %}
        {% set disclamierlink = data.disclaimerLink %}
    {% endif %}
    {% if data.watersense %}
        {% set watersenseImg = data.watersense['#data'].icon %}
        {% set watersenseAlt = 'alt' %}
        {% set watersenseLabel = data.watersense['#data'].text %}
    {% endif %}
    {% if data.finishOptions %}
        {% set finishOptions = [] %}
        {% set selectedFinish = data.finish %}
        {% if selectedFinish != "Not Applicable" %}
            {% for finish in data.finishOptions %}
                {% if finish.modelNumber == data.model %}
                    {% set finish_selected_class = "finish-selected" %}
                {% else %}
                    {% set finish_selected_class = '' %}
                {% endif %}
                {% set finishOptions = finishOptions|merge({(loop.index0) : {finish_product_url: finish.productUrl,finish: finish.finish,finish_product_icon:finish.productIcon['#data'].icon, finish_model_number: finish.modelNumber, selected_class: finish_selected_class }}) %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if data.B2C == 'T' and data.faucetDirectPartsDeeplink == 'T' %}
        {% set add_to_cart = data.variations %}
        {% set quantity_text = "Quantity:" %}
    {% endif %}
    {% if(data.NonExclusiveDeepLinking) == 'T' and (data.priceSpiderDeepLink) == 'T' %}
        {% set whereToBuyUrl = ['/where-to-buy',data.model]|join('/') %}
        {% set whereToBuyText = 'Where To Buy' %}
        {% set whereToBuyDataValue = data.model %}
        {% set hideButtons = "btn-hide" %}
    {% endif %}
    {% if(data.NonExclusiveDeepLinking) == 'T' %}
        {% set localDealersUrl = path('product_details.where2buy', {'showLocalDealers': 'true'}) %}
        {% set localDealersText = data.localDealerButtonText %}
    {% endif %}
    {% if(data.priceSpiderDeepLink) == 'T' %}
        {% set shopOnlineUrl = ['/where-to-buy',data.model]|join('/') %}
        {% set shopOnlineText = 'Where To Buy' %}
    {% endif %}

    {% if data.collections and data.viewAllCollectionLink != '#' %}
        {% set collectionLink = ("View Full "~data.values.Collection~"  " ~data.basecategory~" Collection")|trans %}
        {% set collectionUrl = data.viewAllCollectionLink %}
    {% endif %}
    {% set primaryBtnModifiers = ['primary'] %}
    {% set secondaryBtnModifiers = ['secondary'] %}
    {% if data.features %}
        {% set featureproductdetails = [] %}
        {% set featuredHeading = "Featured Accessories" %}
        {% set featureproductdetails = data.features  %}
    {% endif %}
    {% if data.partlist_products %}
        {% set title = partlist_title %}
        {% set partListproductsdetails = [] %}
        {% set partListHeading = "Part List" %}
        {% set partListproductsdetails = data.partlist_products  %}
    {% endif %}
    {% if data.handle_Accent %}
        {% set handleaccent = [] %}
        {% set hadleaccentheading = data.handle_or_accent_text %}
        {% set handleaccent = data.handle_Accent %}
    {% endif %}
    {% if data.rough_valve %}
        {% set roughvalve = [] %}
        {% set roughvalveheading = data.rough_valve_text %}
        {% set roughvalve = data.rough_valve %}
    {% endif %}
    {% if data.configurationParts %}
        {% set configurationParts = [] %}
        {% set configurationPartsheading = data.configuration_part_text %}
        {% set configurationParts = data.configurationParts %}
    {% endif %}
    {% if data.baseparts %}
        {% set baseparts = [] %}
        {% set basepartheading = data.base_part_text %}
        {% set baseparts = data.baseparts %}
    {% endif %}
    {% if data.recommendedReplacementNum %}
        {% set recommendedlists = [] %}
        {% set recommendedheading = data.recommended_replacement_text %}
        {% set recommendedlists = data.recommendedReplacementNum  %}
    {% endif %}

    {% if data.back_to_results %}
        {% set searchbread = data.back_to_results %}
        <nav class="breadcrumb-block" role="navigation" aria-labelledby="system-breadcrumb">
            <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
            <ol class="breadcrumb">
                <li>
                    {% if searchbread.path %}
                        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
                            "cta_link_text": searchbread.label,
                            "cta_link_icon_position": "left",
                            "cta_link_modifiers": { 2: "xs" },
                            "cta_link_url": searchbread.path~"?title="~searchbread.title,
                        } %}
                        {% if searchbread.title %}
                            for <i><strong>"{{ searchbread.title }}"</strong></i>
                        {% endif %}
                    {% endif %}
                </li>
            </ol>
        </nav>
    {% elseif data.breadcrumb %}
        {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
            "breadcrumb": data.breadcrumb
        } %}
    {% endif %}

    <div class="pdp-section">
        {% include "@organisms/pdp-sections/pdp-top-section.twig" with {
            "pdp_collection": data.collections,
            "pdp_prod_name": data.name,
            "pdp_model_name": data.model,
            "data_model": data.model,
            "slider_img_flag_text": ribbontext,
            "slider_img_flag_modifiers": ribboncol,
            "slider_thumb_imgs": sliderImage,
            "ul_items": prodDescription,
            "pdp_label_img": watersenseImg,
            "pdp_label_alt": watersenseAlt,
            "pdp_label_text": watersenseLabel,
            "selected_finish": selectedFinish,
            "finish_options": finishOptions,
            "pdp_prod_price": data.listPrice,
            "add_button_content": add_to_cart,
            "quantity_text": quantity_text,
            "fi_button_url": localDealersUrl,
            "fi_button_content": localDealersText,
            "fi_button_modifiers": primaryBtnModifiers,
            "shop_button_url": shopOnlineUrl,
            "shop_button_content": shopOnlineText,
            "shop_button_modifiers": primaryBtnModifiers,
            "buy_button_url": whereToBuyUrl,
            "buy_button_content": whereToBuyText,
            "buy_button_modifiers": primaryBtnModifiers,
            "buy_data_value": whereToBuyDataValue,
            "pdp_prod_more_desc": disclaimertext,
            "ql_button_url": quickLinksUrl,
            "ql_button_content": quickLinksText,
            "ql_button_modifiers": secondaryBtnModifiers,
            "collection_link": collectionLink,
            "collection_url": collectionUrl,
            "pdp_handle_accent_title": hadleaccentheading,
            "pdp_ha_lists": handleaccent,
            "pdp_rv_lists": roughvalve,
            "pdp_rough_value_title": roughvalveheading,
            "pdp_cp_lists": configurationParts,
            "pdp_configurable_part_title": configurationPartsheading,
            "pdp_bp_lists": baseparts,
            "pdp_base_part_title": basepartheading,
            "pdp_rr_lists": recommendedlists,
            "pdp_recommended_replacement_title": recommendedheading,
            "model_number": data.model,
        }%}
    </div>
    {% set productFeatureTabContent %}
        {% if data.productcontentdetails %}
            {% set productDetails = data.productcontentdetails %}
        {% endif %}
        {% if data.faturesBenefits %}
            {% set featuresList = [] %}
            {% for features in data.faturesBenefits %}
                {% set featuresList = featuresList|merge({(loop.index0) : {content: features }}) %}
            {% endfor %}
            {% set faturesBenefits = data.faturesBenefits %}
        {% endif %}
        {% if data.facetinnovation and data.facetinnovation is not empty %}
            {% set facetInnovationList = [] %}
            {% for facetinnovation in data.facetinnovation %}
                {% if facetinnovation is not empty %}
                    {% set facetInnovationList = facetInnovationList|merge({(loop.index0) : {pdp_tooltip_id: loop.index0,pdp_label_img: facetinnovation.icon,pdp_fea_img_name: facetinnovation.text,pdp_tooltip_title: facetinnovation.text,pdp_tooltip_content:facetinnovation.helptext,pdp_link_content:facetinnovation.linktext}}) %}
                {% endif %}
            {% endfor %}
            {% if facetInnovationList is not empty %}
                {% set facetInnovationTitle = 'Technology' %}
            {% endif %}
        {% endif %}
        {% if data.facetspecialfeatures and data.facetspecialfeatures  != null %}
            {% set facetspecialfeaturesList = [] %}
            {% for facetfeatures in data.facetspecialfeatures %}
                {% if facetfeatures is not empty %}
                    {% set facetspecialfeaturesList = facetspecialfeaturesList|merge({(loop.index0) : {pdp_tooltip_id: loop.index0,pdp_label_img: facetfeatures.icon,pdp_fea_img_name: facetfeatures.text,pdp_tooltip_title: facetfeatures.text,pdp_tooltip_content:facetfeatures.helptext,pdp_link_content:facetfeatures.linktext}}) %}
                {% endif %}
            {% endfor %}
            {% if facetspecialfeaturesList is not empty %}
                {% set facetspecialfeaturesTitle = 'Special Features' %}
            {% endif %}
        {% endif %}
        {% include "@molecules/pdp-tabs/product-features/product-features.twig" with{
            "pdp_prod_more_desc": productDetails,
            "pdp_fea_list": featuresList,
            "pdp_fea_img_title": facetInnovationTitle,
            "pdp_spc_img_title": facetspecialfeaturesTitle,
            "pdp_img_lists": facetInnovationList,
            "pdp_special_features_lists": facetspecialfeaturesList,
            "pdp_warning": prop65warninglabel,
            "pdp_warning_id": pdp_warning_id,
            "pdp_warning_title": prop65warninglabel,
            "pdp_warning_content": prop65helptext,
        } %}
    {% endset %}

    {% set specsTabContent %}
        {% set installationassets = [] %}
        {% if data.assets.installation %}
            {% set installationassets = installationassets|merge({(loop.index0) : {"pdp_supp_url": data.assets.installation.0.url,"pdp_supp_link": data.assets.installation.label } }) %}
        {% endif %}
        {% if data.assets.specsheet %}
            {% set installationassets = installationassets|merge({(loop.index0)+1 : {"pdp_supp_url": data.assets.specsheet.0.url,"pdp_supp_link": data.assets.specsheet.label } }) %}
        {% endif %}
        {% if data.assets.diagram %}
            {% set installationassets = installationassets|merge({(loop.index0)+2 : {"pdp_supp_url": data.assets.diagram.0.url,"pdp_supp_link": data.assets.diagram.label } }) %}
        {% endif %}
        {% if data.holes4installation %}
            {% set installationInfo = [] %}
            {% set installationInfo = installationInfo|merge({(loop.index0) : {"pdp_install_img": data.holes4installation['#data'].icon,"pdp_install_alt": data.holes4installation['#data'].text,"pdp_install_img_name":data.holes4installation['#data'].text} }) %}
        {% endif %}
        {% if data.productDetails %}
            {% set prodDetailsInfo = [] %}
            {% for key,item in data.productDetails %}
                {% set prodDetailsInfo = prodDetailsInfo|merge({(loop.index0) : {"pdp_install_block_title": item.label,"pdp_install_block_desc": item.value} }) %}
            {% endfor %}
        {% endif %}
        {% if data.productCertification %}
            {% set productCertificationInfo = [] %}
            {% set productCertificationInfo = productCertificationInfo|merge({(loop.index0) : {"pdp_install_block_title": data.productCertification} }) %}
        {% endif %}
        {% if data.assets.cadAssets and data.bimsmith.status  == false %}
            {% set cadAssets = [] %}
            {% set set_bmsmith_id = 0 %}
            {% for cadAsset in data.assets.cadAssets %}
                {% set cadAssets = cadAssets|merge({(loop.index0) : {"pdp_tks_design_block_link": cadAsset.cadFileExtension,"pdp_tks_design_block_url": cadAsset.fileUrl } }) %}
            {% endfor %}
        {% endif %}

        {% if data.bimsmith.status  == true %}
          {% set cadAssets = [] %}
          {% set set_bmsmith_id = data.bimsmith.id %}
        {% endif %}

        {% include "@molecules/pdp-tabs/documents-specs/documents-specs.twig" with{
            "pdp_supp_title": 'Product Support, Repair Parts & Technical Specifications',
            "pdp_install_info_title": 'Installation Information',
            "pdp_supp_descs": installationassets,
            "pdp_install_img_lists":installationInfo,
            "pdp_install_info_descs": prodDetailsInfo,
            "pdp_tks_design_title": 'Design Files',
            "pdp_tks_design_blocks": cadAssets,
            "link_target": "_blank",
            "bmsmith_id": set_bmsmith_id,
        } %}
    {% endset %}

    {% set ReviewTabContent %}
        <div data-bv-show="reviews" data-bv-productId="{{ data.model }}"></div>
    {% endset %}

    {% set QaTabContent %}
        <div data-bv-show="questions" data-bv-productId="{{ data.model }}"></div>
    {% endset %}

    {% set PartListTabContent %}
        <div class="pdp-list-ttl-wrapper">
            <div class="pdp-list-title">
                {% include "@atoms/02-text/00-headings/_heading.twig" with {
                    "heading_level": 3,
                    "heading" : "Part List"
                } %}
            </div>
        </div>
        <div class="pager__items js-pager__items document-pagination-output"></div>

        <div class="pdp-list-desc">
        </div>

        <div class="pager__items js-pager__items document-pagination-output"></div>
    {% endset %}
    {% set pdpTabs = [] %}
    {% if data.productcontentdetails or data.faturesBenefits or data.facetinnovation or data.facetspecialfeatures %}
        {% set pdpTabs = pdpTabs|merge({
            0: { title: "Product features", content: productFeatureTabContent, anchorid: "product-features" },
        }) %}
    {% endif %}
    {% if installationassets or installationInfo or prodDetailsInfo or productCertificationInfo or cadAssets %}
        {% set pdpTabs = pdpTabs|merge({
            1: { title: "Documents & Specs", content: specsTabContent, anchorid: 'documents-and-specs' },
        }) %}
    {% endif %}

    {% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
        {% set pdpTabs = pdpTabs|merge({
            2: { title: "Reviews", content: ReviewTabContent, anchorid: 'reviews' },
            3: { title: "Q&A", content: QaTabContent, anchorid: 'questions-and-answers' },
        }) %}
    {% endif %}

    {% if data.partlist_products or data.Product_list %}
        {% set pdpTabs = pdpTabs|merge({
            4: { title: "Part List", content: PartListTabContent, anchorid: 'parts-list'},
        }) %}
    {% endif %}

    <div class="pdp-tabs">
    <div class="no-redirection-tab">
        {{ attach_library('delta_theme/tabs') }}
        <div id="tabs" class="tabs no-js">
            <ul class="tabs__nav {{ tab.title }}">
                {% for tab in pdpTabs %}
                    {% include "@atoms/09-menu/tab/tab.twig" with {
                        tab_link: "#" ~ tab.anchorid,
                        tab_text: tab.title,
                        key: loop.index0,
                        tab_id: tab.anchorid,
                    } %}
                {% endfor %}
            </ul>
            {% for tab in pdpTabs %}
                <div class="tab-accordion-title" {% if tab.anchorid %}name="{{ tab.anchorid }}"{% endif %}>{{ tab.title }}</div>
                <div class="tabs__tab{% if loop.first %} is-active{% endif %}">
                    <div id="tab-{{ tab.id }}-{{ loop.index0 }}" class="tabs__content">
                        <p>{{ tab.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>

    <div class="pdp-prod-listing pdp-fp">
    </div>
    <div class="pdp-prod-listing pdp-rp">
    </div>

    {% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
        <script async src="https://apps.bazaarvoice.com/deployments/{{ data.bazaarvoicecloudKey }}/{{ data.bazaarvoicesiteId }}/{{ data.bazaarvoicesiteEnvironment }}/{{ data.bazarvoicesiteLocale }}/bv.js"></script>
    {% endif %}
    {% if data.bimsmith.status  == true %}
      <script src="https://bimsmith.com/market-inject.js"></script>
    {% endif %}
{% endif %}
