{% if data.featureproductdetails %}
    {% set featureproductdetails = [] %}
    {% set featuredHeading = "Featured Accessories" %}
    {% set featureproductdetails = data.featureproductdetails  %}
  {% endif %}
      {% include "@molecules/featured-product/featured-product.twig" with{
      "heading": featuredHeading,
      "featureproductdetails": featureproductdetails,
      cta_link_url: "javascript:void(0)",
      cta_link_classes: "js-add-to-compare",
    } %}

