{#
/**
 * @file
 *
 * Default product parts template.
 *
 * Available variables:
 * - data: The rendered list of product parts.
 *
 * @ingroup themeable
 */
#}

<div class="grid">
  {% for partlist in data.partlist_products %}
    {% include "@organisms/product-tile/product-tile.twig" with{
      "partlist_class" : "grid-col-12 grid-col-md-6 grid-col-lg-4 grid-col-xl-3",
      "collection_name": partlist.Partlist_collection,
      "model_number": partlist.Partlist_model_number,
      "model_image":  partlist.Partlist_image,
      "list_price": partlist.Partlist_listprice,
      "description": partlist.Partlist_description,
      "link": partlist.Partlist_productLink,
      "view_details_link": partlist.Partlist_productLink,
      "view_docs_link": partlist.Partlist_productLink ~ '#specsTab',
      cta_link_url: "javascript:void(0)",
      cta_link_classes: "js-add-to-compare",
      "hide_ratings": 1,
      "finish_options": partlist.Partlist_finishOptions,
      "finish": partlist.Partlist_finish,
      "defaultFinish": partlist.Partlist_defaultFacetFinish
    } %}
  {% endfor %}
</div>

