{% if data %}
  {% set productOwnershipToolkitLabel = "Product Ownership ToolKit" %}
  {% if data.ribbonText %}
    {% set ribbontext = data.ribbonText %}
    {% set ribboncol = [] %}
    {% set ribboncol = [data.ribboncolor]  %}
  {% endif %}
  {% if data.finishOptions %}
    {% set finishOptions = [] %}
    {% set selectedFinish = data.finish %}
    {% if selectedFinish != "Not Applicable" %}
      {% for finish in data.finishOptions %}
        {% if finish.modelNumber == data.model %}
          {% set finish_selected_class = "finish-selected" %}
        {% else %}
          {% set finish_selected_class = '' %}
        {% endif %}
        {% set ownUrl = '/own/'~ finish.modelNumber %}
        {% if data.isRecomProduct == false %}
          {% set finishOptions = finishOptions|merge({(loop.index0) : {finish_product_url: ownUrl,finish: finish.finish,finish_product_icon:finish.productIcon['#data'].icon, finish_model_number: finish.modelNumber, selected_class: finish_selected_class }}) %}
        {% elseif data.isRecomProduct == true and finish.modelNumber == data.model %}
          {% set finishOptions = finishOptions|merge({(loop.index0) : {finish_product_url: ownUrl,finish: finish.finish,finish_product_icon:finish.productIcon['#data'].icon, finish_model_number: finish.modelNumber, selected_class: finish_selected_class }}) %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
  {% set dataModel = data.model %}
{% endif %}

{% set installationassets = [] %}
  {% if data.assets.installation %}
    {% set installationassets = installationassets|merge({(loop.index0) : {"pdp_tks_doc_url": data.assets.installation.0.url,"pdp_tks_doc_link": data.assets.installation.label } }) %}
  {% endif %}
  {% if data.assets.specsheet %}
    {% set installationassets = installationassets|merge({(loop.index0)+1 : {"pdp_tks_doc_url": data.assets.specsheet.0.url,"pdp_tks_doc_link": data.assets.specsheet.label } }) %}
  {% endif %}
  {% if data.assets.diagram %}
    {% set installationassets = installationassets|merge({(loop.index0)+2 : {"pdp_tks_doc_url": data.assets.diagram.0.url,"pdp_tks_doc_link": data.assets.diagram.label } }) %}
  {% endif %}
  {% if data.assets.installation or data.assets.specsheet or data.assets.diagram %}
    {% set documentsLabel = "Documents" %}
  {% endif %}
{% set registerButtonUrl = '/service-parts/product-registration?modelNumber='~data.modelNumber %}
{% set registerButtonContent = "Register Product" %}
{% set reviewButtonUrl = path('product_details.product_detail', {'sku': data.modelNumber}) %}
{% set reviewButtonContent = "Leave A Review" %}
{% if data.assets.cadAssets %}
  {% set designFileLabel = "Design Files" %}
  {% set cadAssets = [] %}
  {% for cadAsset in data.assets.cadAssets %}
    {% set cadAssets = cadAssets|merge({(loop.index0) : {"pdp_tks_design_block_link": cadAsset.cadFileExtension,"pdp_tks_design_block_url": cadAsset.fileUrl } }) %}
  {% endfor %}
{% endif %}

  <div class="pdp-section pdp-ownership-toolkit-section">
    <div class="pdp-top-section pdp-advt-top-section">
      {% include "@molecules/pdp-advance-top/pdp-advance-top.twig" with {
        "adv_pdp_prod_img_src": data.heroImage,
        "adv_pdp_prod_img_alt": data.assets.images.heroImageFileName,
        "adv_pdp_page_name": productOwnershipToolkitLabel,
        "collection_name": data.collections,
        "collection_link": data.viewAllCollectionLink,
        "pdp_model_name": data.model,
        "pdp_prod_name": data.name,
        "data_model": dataModel,
        "selected_finish": selectedFinish,
        "finish_options": finishOptions,
        "slider_img_flag_text": ribbontext,
        "slider_img_flag_modifiers": ribboncol
      }%}

      <div class="toolkit-bottom-wrapper">
        {% include "@molecules/pdp-owernship-toolkit-bottom/pdp-owernship-toolkit-bottom.twig" with{
          "pdp_tks_doc_title": documentsLabel,
          "pdp_tks_doc_lists": installationassets,
          "pdp_tks_design_title": designFileLabel,
          "pdp_tks_design_blocks": cadAssets,
          "pdp_button_register_url": registerButtonUrl,
          "pdp_button_register_content": registerButtonContent,
          "pdp_button_register_modifiers": ["primary"],
          "pdp_review_url": reviewButtonUrl ~ '#reviewTab',
          "pdp_review_content": reviewButtonContent,
          "pdp_review_modifiers": ["secondary"],
          "link_target": "_blank",
        }%}
      </div>
    </div>
  </div>

  {% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
<script async src="https://apps.bazaarvoice.com/deployments/{{ data.bazaarvoicecloudKey }}/{{ data.bazaarvoicesiteId }}/{{ data.bazaarvoicesiteEnvironment }}/{{ data.bazarvoicesiteLocale }}/bv.js"></script>
{% endif %}
{% endif %}
