
<script src="/{{ active_theme_path() }}/js/custom.js"></script>
<!-- Latest compiled and minified CSS -->
<div class="com-popup">

  <div class="com-title-wrapper">
    <div class="com-title-block">
      <div class="com-popup-title">
        {% include "@atoms/02-text/00-headings/_heading.twig" with {
          "heading_level": 4,
          "heading":  'Compare Products',
        } %}
      </div>
      <div class="com-popup-desc">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          paragraph_content: "Select up to 3 products to compare key specs, and features.",
        } %}
      </div>
    </div>

    <div class="com-popup-button">
      <div class="com-popup-button-compare">
        <a href="/product-comparison" class="compare_products use-ajax button button--primary"
           data-dialog-type="modal"
           data-dialog-options="{&quot;width&quot;:1200,&quot;height&quot;:500, &quot;dialogClass&quot;: &quot;compare-products&quot;}"
           id="compare_products">{{ 'Compare'|t }}</a>
      </div>
      <div class="com-popup-close">
        {% include "@atoms/01-links/cta-link/cta-link.twig" with {
          cta_link_modifiers: { 1: "sm" },
          cta_link_icon: "chevron-up",
          cta_link_icon_position: "right",
          cta_link_url: "javascript: void(0);",
          cta_link_attributes: {'aria-label': 'Close popup'},
          cta_link_icon_size: "35"
        } %}
      </div>
    </div>
  </div>
  <div class="com-pop-block-list">
    {% if data.0.sku %}
      {% set collection_title =  data.0.collection|replace({'®': '<sup>®</sup>' }) %}
      {% include "@molecules/compare-block/compare-block.twig" with {
        "compare_popup_image_url": data.0.image,
        "compare_popup_image_alt": data.0.name,
        "compare_popup_prod_title": collection_title,
        "compare_popup_prod_desc": data.0.description|raw,
        "compare_popup_prod_model": data.0.name,
        "compare_popup_prod_price": "$ "~data.0.price,
        "compare_pop_remove_url": "javascript: void(0);",
        "compare_pop_remove_content": "Remove",
        "compare_pop_img_flag_text": data.0.ribbontext,
        "compare_pop_img_flag_modifiers": { 1 : data.0.ribboncolor },
      } %}
      {% else %}
        {% include "@molecules/compare-block/compare-block.twig" with {
          "compare_popup_empty_text": "Find Another Product",
          "compare_popup_empty_link": "javascript: void(0);",
          "compare_popup_empty_class": "add_another_product",
        } %}
    {% endif %}
    {% if data.1.sku %}
      {% set collection_title =  data.1.collection|replace({'®': '<sup>®</sup>' }) %}
      {% include "@molecules/compare-block/compare-block.twig" with {
        "compare_popup_image_url": data.1.image,
        "compare_popup_image_alt": data.1.name,
        "compare_popup_prod_title": collection_title,
        "compare_popup_prod_desc": data.1.description|raw,
        "compare_popup_prod_model": data.1.name,
        "compare_popup_prod_price": "$ "~data.1.price,
        "compare_pop_remove_url": "javascript: void(0);",
        "compare_pop_remove_content": "Remove",
        "compare_pop_img_flag_text": data.1.ribbontext,
        "compare_pop_img_flag_modifiers": { 1 : data.1.ribboncolor },
      } %}
    {% else %}
      {% include "@molecules/compare-block/compare-block.twig" with {
        "compare_popup_empty_text": "Find Another Product",
        "compare_popup_empty_link": "javascript: void(0);",
        "compare_popup_empty_class": "add_another_product",
      } %}
    {% endif %}
    {% if data.2.sku %}
      {% set collection_title =  data.2.collection|replace({'®': '<sup>®</sup>' }) %}
      {% include "@molecules/compare-block/compare-block.twig" with {
        "compare_popup_image_url": data.2.image,
        "compare_popup_image_alt": data.2.name,
        "compare_popup_prod_title": collection_title,
        "compare_popup_prod_desc": data.2.description|raw,
        "compare_popup_prod_model": data.2.name,
        "compare_popup_prod_price": "$ "~data.2.price,
        "compare_pop_remove_url": "javascript: void(0);",
        "compare_pop_remove_content": "Remove",
        "compare_pop_img_flag_text": data.2.ribbontext,
        "compare_pop_img_flag_modifiers": { 1 : data.2.ribboncolor },
      } %}
    {% else %}
      {% include "@molecules/compare-block/compare-block.twig" with {
        "compare_popup_empty_text": "Find Another Product",
        "compare_popup_empty_link": "javascript: void(0);",
        "compare_popup_empty_class": "add_another_product",
      } %}
    {% endif %}
  </div>
</div>
