<script src="/{{ active_theme_path() }}/js/custom.js"></script>
{% set getkeys = items|keys %}
<div class="main-com-pop">
  <div class="main-com-block">
      <div class="main-com-title">
        <div class="main-com-desc-block">
          <div class="compare-prod-share">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: "Share",
              cta_link_url: "/product-comparison?modelNumber=" ~ getkeys|join('&modelNumber='),
              cta_link_icon: "cta-share",
              cta_link_icon_position: "right",
              cta_link_icon_size: "20"
            } %}
          </div>
          <div class="compare-prod-print">
            {% include "@atoms/01-links/cta-link/cta-link.twig" with {
              cta_link_text: "Print",
              cta_link_url: "javascript: void(0);",
              cta_link_icon: "cta-print",
              cta_link_icon_position: "right",
              cta_link_icon_size: "20",
              cta_link_classes: "product-compare-print",
            } %}
          </div>
          <div class="compare-prod-btn-action">
            <div class="compare-prod-btn-next">
              <button onclick="compareNextProd()"></button>
            </div>
            <div class="compare-prod-btn-prev">
              <button onclick="comparePrevProd()"></button>
            </div>
          </div>
        </div>
      </div>
        <div class="main-com-desc">
          {% for main_com_block2 in items %}
            <div class="main-com-desc-block compare-pop-prod-{{ items|length }}  {% if loop.index0 == 0 %} compare-prod-visible{% endif %}" >

              {% include "@atoms/02-text/text/01-paragraph.twig" with {
                paragraph_content: main_com_block2.try,
              } %}

              <div class="com-pop-img">
                {% include "@atoms/04-images/00-image/_image.twig" with {
                  "img_src": main_com_block2.image.path,
                  "img_alt": main_com_block2.name.name,
                } %}

                <div class="slider_flag">
                  {% include "@atoms/13-flag/flag.twig" with {
                    "flag_text": main_com_block2.ribbontext.ribbontext,
                    "flag_modifiers": { 1 : main_com_block2.ribboncolor.ribboncolor},
                  } %}
                </div>
              </div>

              {% set collection_title =  main_com_block2.collection.collection|replace({'®': '<sup>®</sup>' }) %}
              <div class="com_pop_title">
                {% include "@atoms/02-text/00-headings/_heading.twig" with {
                  "heading_level": 6,
                  "heading": collection_title,
                } %}
              </div>

              <div class="com_pop_desc">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: main_com_block2.description.desc|raw,
                } %}
              </div>

              <div class="com_pop_model">
                <a class="no-line" href="/product-detail/{{ main_com_block2.name.name }} ">
                  {% include "@atoms/02-text/text/01-paragraph.twig" with {
                      paragraph_content: main_com_block2.name.name,
                  } %}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
  </div>
  {% for key, value in compareItems %}
    <div class="main-com-block">
      <div class="main-com-title">
        <div class="main-com-desc-block">
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            heading_level: 6,
            heading: key,
          } %}
        </div>
      </div>
      {% if value %}
        <div class="main-com-desc">
          {% for main_com_block1 in value %}
            {% if key == "Available Features" %}
              <div class="main-com-desc-block compare-pop-prod-{{ items|length }} {% if loop.index0 == 0 %} compare-prod-visible{% endif %}">
                {% for avaliableFeatures in main_com_block1 %}
                  {% if avaliableFeatures is null %}
                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                      paragraph_content: "no data avaliable",
                    } %}
                  {% else %}
                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                      paragraph_content: avaliableFeatures["#data"]["text"],
                    } %}
                  {% endif %}
                {% endfor %}
              </div>
            {% elseif key == "Available Innovations" %}
              <div class="main-com-desc-block compare-pop-prod-{{ items|length }} {% if loop.index0 == 0 %} compare-prod-visible{% endif %}">
                {% for avaliableInnovations in main_com_block1 %}
                  {% if avaliableInnovations is null %}
                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                      paragraph_content: "no data avaliable",
                    } %}
                  {% else %}
                    {% include "@atoms/02-text/text/01-paragraph.twig" with {
                      paragraph_content: avaliableInnovations["#data"]["text"],
                    } %}
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
              <div class="main-com-desc-block compare-pop-prod-{{ items|length }} {% if loop.index0 == 0 %} compare-prod-visible{% endif %}">
                {% include "@atoms/02-text/text/01-paragraph.twig" with {
                  paragraph_content: main_com_block1,
                } %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  <div class="main-com-block">
    <div class="main-com-title">
    </div>
    <div class="main-com-desc">
      {% for main_com_block2 in items %}
      <div class="main-com-desc-block compare-pop-prod-{{ items|length }}">
        {% include "@atoms/06-buttons/01-button.twig" with {
          "button_url": "javascript: void(0);",
          "button_content": "Remove",
          "button_modifiers": { 1: "primary js_remove_compare"},
          "button_name": main_com_block2.name.name,
        } %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
