{{ attach_library('product_details/price_spider') }}
{{ attach_library('product_details/price_spider_utid') }}

{% if data %}
  {% if data.finishOptions %}
    {% set finishOptions = [] %}
    {% set selectedFinish = data.finish %}
    {% if selectedFinish != "Not Applicable" %}
      {% for finish in data.finishOptions %}
        {% if finish.modelNumber == data.model %}
          {% set finish_selected_class = "finish-selected" %}
        {% else %}
          {% set finish_selected_class = '' %}
        {% endif %}
        {% set finishOptions = finishOptions|merge({(loop.index0) : {finish_product_url: "/where-to-buy/" ~ finish.modelNumber,finish: finish.finish,finish_product_icon:finish.productIcon['#data'].icon, finish_model_number: finish.modelNumber, selected_class: finish_selected_class }}) %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
  {% set dataModel = data.model %}
{% endif %}
{% set findMoreDealersText = 'Find more Delta Faucet dealers.' %}
{% set findMoreDealersUrl = path('product_details.where2buy') %}

  <div class="pdp-section pdp-where-to-buy-section">
    <div class="pdp-top-section pdp-advt-top-section">
      {% include "@molecules/pdp-advance-top/pdp-advance-top.twig" with {
        "adv_pdp_prod_img_src": data.heroImage,
        "adv_pdp_prod_img_alt": data.assets.images.heroImageFileName,
        "adv_pdp_page_name": '',
        "collection_name": data.collections,
        "pdp_model_name": data.model,
        "pdp_prod_name": data.name,
        "data_model": dataModel,
        "selected_finish": selectedFinish,
        "finish_options": finishOptions,
      }%}
    </div>
  </div>
  {% if data.showLocation %}
    <div class="pdp-find-local-delears">
      <h1 class="h1 title-h1">Find Local Dealers</h1>
      <b>{{ data.locationDisclaimer }}</b><br/><br/>
      <iframe title="{{ 'Video container' | t }}" height="100%" id="findaLocationFrame" scrolling="no" src="{{ data.locationUrl }}" style="border:none;height: 800px;" width="100%"></iframe>
    </div>
  {% endif %}
<div class="pdp-dealers-wrapper">
  <h1 class="h1 title-h1">Shop Online</h1>
   <div class="pdp-dealers-block">
     <div class="ps-widget" ps-sku="{{ sku }}"></div>
   </div>
   <div class="more-dealers">
     <div class="more-dealers-text">
         {% include "@atoms/02-text/text/01-paragraph.twig" with {
         "paragraph_content": findMoreDealersText
       } %}
     </div>
     <div class="more-dealers-text-link">
       {% include "@atoms/01-links/cta-link/cta-link.twig" with {
         cta_link_modifiers: { 1: "sm" },
         cta_link_text: 'Search now',
         cta_link_icon: "carrot-right",
         cta_link_icon_position: "right",
         cta_link_url: findMoreDealersUrl,
         cta_link_icon_size: "11px"
       } %}
     </div>
   </div>
 </div>

  {% if data.bazaarvoicecloudKey and data.bazaarvoicesiteId and data.bazaarvoicesiteEnvironment and data.bazarvoicesiteLocale %}
<script async src="https://apps.bazaarvoice.com/deployments/{{ data.bazaarvoicecloudKey }}/{{ data.bazaarvoicesiteId }}/{{ data.bazaarvoicesiteEnvironment }}/{{ data.bazarvoicesiteLocale }}/bv.js"></script>
{% endif %}
{% endif %}
