.form-item {
  position: relative;
  color: $gray-10;
  margin-bottom: 24px;

  .icon-calendar {
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 24px;
  }

  &.has-focus {
    .form-item__label {
      span {
        position: relative;
        top: -25px;
        font-size: 14px;
        display: inline-block;
      }
    }

    .form-item__label--required::after {
      position: relative;
      top: -25px;
      font-size: 12px;
      display: inline;
    }
  }

  &.is-filled {
    .form-item__label {
      span {
        position: relative;
        top: -25px;
        font-size: 14px;
        display: inline-block;
      }
    }

    .form-item__label--required::after {
      position: relative;
      top: -25px;
      font-size: 12px;
      display: inline;
    }
  }

  &.is-filled.has-focus {
    .form-item__label {
      span {
        display: inline-block;
      }
    }

    .form-item__label--required::after {
      display: inline;
    }
  }
}

.form-item__label {
  position: absolute;
  display: block;
  line-height: 1.5rem;
  color: $gray-10;
  font-weight: normal;
  padding: 0 8px 0 0;
  background-color: transparent;
  cursor: text;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  user-select: none;
  top: 20px;

  .form-item--disabled & {
    background-color: transparent !important;
    color: $gray-40;
    cursor: not-allowed;
  }

  .form-item--dropdown.form-item--disabled & {
    opacity: 0 !important;
    z-index: -1;
  }

  &--required {
    &::after {
      margin-left: +0.35ch;
      content: "*";
    }
  }
  &.label-spacing{
    top: 16px;
    left: 5px;
  }
}

.form-item__textfield,
.form-text {
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  font-family: inherit;
  line-height: 1;
  transition: border-bottom 0.15s ease-in-out;
  appearance: none;
  border: 0 none;

  &:focus {
    outline: 0;
  }

  &:disabled {
    box-shadow: none;
    background: none;
    cursor: not-allowed;
    color: $gray-40;
  }

  .form-item--error & {
    border-bottom: 3px solid $notification-error;
    //background: $gray-90;
  }
}

.error-label::before {
  border-bottom: 3px solid $notification-error;
}

.form-item__textarea {
  height: 106px !important;
  resize: none;
}

.form-item__textarea-counter {
  text-align: right;
  color: $gray-40;
  line-height: 16px;
  letter-spacing: 0;
  font-size: 12px;
  padding: 4px 0 0;
  font-family: $font-pfdinmono;
}

.form-item--error-message,
.check--error-message {
  display: block;
  font-weight: 700;
  color: $notification-error;
  margin-top: 4px;
}

//
// Password toggle
//

.form-item__pwd-toggle {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  border: 0;
  background-color: transparent;
  padding: 16px;
  appearance: none;
  cursor: pointer;
  outline: 0; // TODO: remove when taboutline is implemented.

  .icon-eye-closed {
    display: block;
  }

  .icon-eye-open {
    display: none;
  }

  &.is-showing-password {
    .icon-eye-closed {
      display: none;
    }

    .icon-eye-open {
      display: block;
    }
  }

  i {
    font-size: 20px;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 1.5em;
  padding: 0;
}

.form-legend {
  display: block;
  border: 0;
  font-weight: 700;
  margin-bottom: 24px;
}

.user-login-form {
  label.form-item__label {
    position: unset;
  }

  input.button {
    margin-bottom: 20px;
    background-color: $notification-error;
    color: $white;
  }
}

.large__form_field .form-item {
  max-width: 66.66667%;
}

.small__form_field .form-item {
  max-width: 197px;
}

.form-item-textarea {
  position: relative;

  .form-item--error-message {
    position: absolute;
    bottom: 0;
    font-size: 12.64px;
    font-weight: bold;
    line-height: 15px;
  }

  .icon-resizer {
    position: absolute;
    right: 15px;
    bottom: 33px;
    font-size: 25px;
  }
}

.form-item--disabled {
  .form-item__textfield:disabled {
    //background: $gray-90;
  }
}

.sg-pattern-example .form-item {
  margin-bottom: 3em;
}
