<div class="form-item form-item--disabled">
  <label for="edit-name-disabled" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
  <input type="text" id="edit-name-disabled" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" disabled/>
</div>

<div class="form-item">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
  <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />
</div>

<div class="form-item form-item--error">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Field Label</label>
  <input type="text" id="edit-name" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" />

  <div class="form-item--error-message">
    Error helper text
  </div>
</div>
