{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
<ul class="menu menu-level-{{ items|first.menu_level }}">
{% for key, item in items if key|first != '#' %}
  {% set menu_item_classes = [
    'menu-item',
    item.is_expanded ? 'menu-item--expanded',
    item.is_collapsed ? 'menu-item--collapsed',
    item.in_active_trail ? 'menu-item--active-trail',
  ] %}
  <li{{ item.attributes.addClass(menu_item_classes) }}>
    {% set social_icon = item.content['#menu_link_content'].field_social_icon.entity.uri.value %}
    {% if social_icon is not empty %}
        {% set img_alt = item.content['#menu_link_content'].field_social_icon.alt %}
        {% set img_alt_info = item.title %}
        {% if img_alt is not empty %}
            {% set img_alt_info =  img_alt %}
        {% endif %}
        {% set img_title = item.content['#menu_link_content'].field_social_icon.title %}
        {% set img_title_info = item.title %}
        {% if img_title is not empty %}
            {% set img_title_info =  img_title %}
        {% endif %}
        {% set menu_att_target = item.original_link.getOptions().attributes.target %}
        {% set target_att = '' %}
        {% if menu_att_target is not empty %}
            {% set target_att = 'target=' ~ menu_att_target  %}
        {% endif %}
        <a href="{{ item.url }}" {{ target_att }} >
            <img src="{{ file_url(social_icon) }}" alt='{{ img_alt_info }}' title='{{ img_title_info }}' />
        </a>
    {% endif %}
    {{ link(item.title, item.url) }}
  </li>
{% endfor %}
</ul>
