{% if attributes.hasClass('dropdown-menu') %}
<li class="header-mega-menu__list header-mega-menu__list--dropddown">
    {% else %}
<li class="header-mega-menu__list {{ attribute(attributes, 'data-class') }}">
    {% endif %}
    {% if href is empty %}
        <span data-drupal-link-system-path="<front>" class="we-megamenu-nolink">{{ title }}</span>
    {% else %}
        {% set target_attribute = '_self' %}
        {% if attribute(attributes, 'data-target')|length %}
            {% set target_attribute = attribute(attributes, 'data-target') %}
        {% endif %}
        {% set anchor_title =  '' %}
        {% if attribute(attributes, 'description')|length %}
            {% set anchor_title = 'title="' ~  attribute(attributes, 'description') ~ '"' %}
        {% endif %}
        <a class="header-mega-menu__list__link"
                {{ anchor_title|raw }} href="{{ href }}"
           target="{{ target_attribute }}">
            {% if (attribute(attributes, 'data-icon') is defined and attribute(attributes, 'data-icon')|trim) %}
                <i class="{{ attribute(attributes, 'data-icon') }}"></i>
            {% endif %}
            {{ title|raw }}
            {% if (attribute(attributes, 'data-caption') is defined and attribute(attributes, 'data-caption')|trim) %}
                <span class="we-mega-menu-caption">{{ attribute(attributes, 'data-caption') }}</span>
            {% endif %}
        </a>
    {% endif %}
    {{ content }}
</li>
