.cdp-selected-filter {
  clear: both;
  display: block;
  overflow: hidden;

  .cdp-filter-chip {
    float: left;
    font-size: 12px;
    color: $gray-20;
    background: #e6e6e8;
    padding: $space/2 $space+5;
    line-height: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 $space $space 0;
    letter-spacing: 0;

    .icon-filter-hide-small {
      font-size: 10px;
    }

    &:hover {
      background: $gray-10;
      color: $white;
    }
  }

  .cdp-clear-filter {
    background: none !important;
    font-family: $font-heading;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: $gray-10 !important;
    padding: 0;
    float: left;
    cursor: pointer;

    @include maxbp($large) {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.6px;
      display: block;
      width: 100%;
      text-align: center;
    }

    .icon-filter-hide-small {
      font-size: 13px;
    }
  }
}
