{{ attach_library('delta_theme/accordion') }}

{% include "@atoms/03-lists/02-dl.twig" with {
  dl_modifiers: accordion_modifiers,
  dl_blockname: accordion_blockname,
  dl_base_class: 'accordion-left-icon',
  dl_items: accordion_list_left_icon
} %}
