<div class="innovation-secondary-banner" style="background-image: url({{ desktop_image_url }})">
  <picture class="isb__image">
    <source srcset="{{ desktop_image_url }}" media="(min-width: 920px)">
    <source srcset="{{ mobile_image_url }}" media="(max-width: 919px)">
    <img src="{{ desktop_image_url }}" alt="{{ desktop_image_alt }}" />
  </picture>

  <div class="isb__content">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      heading_level: 3,
      heading: title,
      heading_modifiers: ["regular"]
    } %}

    <p>{{ content|raw }}</p>

    <hr>
    {% if video_source  %}
      {% include "@atoms/08-video/video-on-popup/video-on-popup.twig" with {
        video_title: video_title,
        video_thumbnail_src: video_thumbnail_src,
        video_source: video_source
      } %}
    {% endif %}
  </div>
</div>

