<div class="featured-innoslider__item">
  <div class="featured-card">
      {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: image_url,
        img_alt: image_alt_text,
      } %}

    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 3,
      "heading": title,
      "heading_base_class": "featured-card__title",
    } %}

    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: content,
    } %}

    {% set text_label_button = 'Learn more about ' ~ title %}
    <div class="u-text-center">
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": url,
        "button_content": "Learn more",
        "button_modifiers": ["tertiary", "sm"],
        "button_attributes": create_attribute({'title': text_label_button, 'aria-label': text_label_button})
      } %}
    </div>
  </div>
</div>

