{% set modal_key = "innovation-video-modal"~random(50, 100) %}
<div class="video-card">
  <a href="#" tabindex="0" role="link" class="video-card__thumbnail" data-dialog-show="{{ modal_key }}" aria-label="{{ video_title|striptags|raw }}" title="{{ video_title|striptags|raw }}">
    <img class="video-card__thumbnail__img" src="{{ video_thumbnail_src }}" alt="{{ video_title|raw }}" />

    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_name: "play",
      icon_size: '30%',
      hidden: true,
    } %}
  </a>

  <div class="video-card__title"><a href="#" tabindex="0" role="link" class="video-card__thumbnail" data-dialog-show="{{ modal_key }}"><strong><em>{{ video_title|raw }}</em></strong></a></div>
</div>

{% embed "@organisms/modal/_modal.twig" with {
  modal_id: modal_key,
  modal_modifiers: ["video"],
}%}
  {% block content %}
    {{ video_content|raw }}
  {% endblock %}
{% endembed %}
