<div class="pagination">
  <input total="4" first="1" last="4" class="pager__link is-active" type="button" value="1">
  <input total="4" first="1" last="4" class="pager__link " type="button" value="2">
  <input total="4" first="1" last="4" class="pager__link " type="button" value="3">
  <input total="4" first="1" last="4" class="pager__link " type="button" value="4">
  <div class="mobile-pagination pager__link">Page <span>1</span> of <span>4</span></div>
  <input first="1" last="4" class="pager__link next" type="button" data="" value=">">
  <input total="4" class="pager__link last" type="button" data="" value=">>">
</div>
