{% if breadcrumb %}
  {% set suffix_id = random() %}
  <nav class="breadcrumb-block dark-breadcrumb" role="navigation" aria-labelledby="system-breadcrumb-{{ suffix_id }}">
    <h2 id="system-breadcrumb-{{ suffix_id }}" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item">
        {% if item.url %}
          <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
