.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(24,25,29,0.8);
    opacity: 1;
}
.modal{
    &.bootstrap-modal{
        &.hide{
            display: none;
        }
    }
}
.modal-open{
    overflow: hidden;
    .modal{
        &.bootstrap-modal{
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            z-index: 1620;;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100%;
            outline: 0;
            max-width: 100%;
            margin: 0 auto;
            background: transparent;
            padding: 32px 24px !important;
            transition: auto;
            @include breakpoint($medium){
                padding: 52px 64px 64px !important;
            }
            
            .modal-dialog{
                max-width: 70%;
                transition: transform .3s ease-out;
                margin: 1.75rem auto;
                position: relative;
                width: auto;
                pointer-events: none;
                @include maxbp($medium){
                    max-width: 100%;
                }
                .modal-content{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    pointer-events: auto;
                    outline: 0;
                    background-color: #fff;
                    background-clip: padding-box;
                    border-top: 5px solid #000000;
                    border-radius: 0 0 2px 2px;
                    box-shadow: 0 20px 40px 0 #17181a26;
                    
                }
            }
            .modal-header{
                display: flex;
                padding: 15px 26px 10px;
                border-bottom: 1px solid #000000;
                border-top-left-radius: calc(0.3rem - 1px);
                border-top-right-radius: calc(0.3rem - 1px);
                align-items: flex-start;
                justify-content: space-between;
                @include maxbp($medium){
                    padding: 23px 10px 0;;
                }
                .modal-title{
                    line-height: 1.5;
                    margin-bottom: 0;
                    font-weight: bold;
                    margin-top: 5px;
                    .field_bp_modal_title{
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 21px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: #000000;
                    }
                }
                .close{
                    background: transparent;
                    border: 0;
                    font-size: 24px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            .modal-body{
                position: relative;
                flex: 1 1 auto;
                padding: 0 24px 30px 24px;
                margin: 12px 0px;
                @include maxbp($medium){
                    padding: 0 10px 30px 10px;
                }
                .paragraph{
                    padding: 0;
                }
                .img_element{
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    .figure{
                        display: inline-block;
                    }
                    .figure__caption{
                        text-align: left;
                        margin-top: 20px;
                    }
                }
                .video-desktop-display{
                    margin-bottom: 20px;
                }
                .margin-top-0{
                    margin-top: 0px;
                }

                .video-mobile-embed .youtube-background{
                    position: relative !important;
                    height: 0 !important;
                    padding-bottom: 56.25% !important;
                }
            }
            .modal-footer{
                display: flex;
                text-align: left;
                padding: 12px 26px 12px 26px;
                border-top: 1px solid #ceced8;
                border-bottom-right-radius: calc(0.3rem - 1px);
                border-bottom-left-radius: calc(0.3rem - 1px);
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                .paragraph{
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                    padding: 10px;
                }
            }
            
        }
        
    }
}

