  <div class="signup_block-inner">

      {{ title_prefix }}
      <h1 class="signup_block--title">Sign Up</h1>
      {{ title_suffix }}

      <div class="signup_block--sub">
        <p>{{ element.elements.be_the_first_to_know_when_we_build_something_cool_ }}</p>
      </div>

        {% if element.confirmation['#webform'].settings.confirmation_message %}

          <div class="confirmation-message">{{ element.confirmation['#webform'].settings.confirmation_message | raw }} </div>

        {% endif %}

    <div class="">
      <form{{ attributes }}>

        <div class="form-fields">

          <div class="form-row">
              {{ element.elements.first_name }}
              {{ element.elements.last_name }}
          </div>


          <div class="form-row-full">
              {{ element.elements.email }}
          </div>
          {% if captcha_flag %}
            <div class="form-row-full"> 
                {{ element.elements.captcha }}
            </div>
          {% endif %}

        </div>

        {{ element.form_build_id }}
        {{ element.form_token }}
        {{ element.form_id }}

        <div class="text-center">
          {{ element.actions }}
        </div>

      </form>
    </div>


  </div>
