<div class="sidebar-level-menu">
  <ul class="sidebar-main">
    {% for sidebar_link in sidebar_links %}
      <li>
        {% include "@atoms/01-links/link/link.twig" with {
            'link_url': sidebar_link.url,
            'link_content' : sidebar_link.content,
            'link_base_class': 'sidebarlink',
        } %}

        {% if sidebar_link.submenu %}
          <ul class="sidebar-sub">
            {% for sidebar_link1 in sidebar_link.submenu %}
              <li>
                {% include "@atoms/01-links/link/link.twig" with {
                    'link_url': sidebar_link1.sub_url,
                    'link_content' : sidebar_link1.sub_content,
                    'link_base_class': 'sidebarlink',
                } %}

                {% if sidebar_link1.submenu %}
                  <ul class="sidebar-sub">
                    {% for sidebar_link2 in sidebar_link1.submenu %}
                      <li>
                        {% include "@atoms/01-links/link/link.twig" with {
                            'link_url': sidebar_link2.sub_url,
                            'link_content' : sidebar_link2.sub_content,
                            'link_base_class': 'sidebarlink',
                        } %}

                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
