<div class="sidebar-level-menu">
  <ul class="sidebar-main">
          <li>
        
<a class="sidebarlink"
  href="#">
      Section Title 1
  </a>

                  <ul class="sidebar-sub">
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 1
  </a>

                
              </li>
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 2
  </a>

                                  <ul class="sidebar-sub">
                                          <li>
                        
<a class="sidebarlink"
  href="#">
      Link Name 1
  </a>

                      </li>
                                          <li>
                        
<a class="sidebarlink"
  href="#">
      Link Name 2
  </a>

                      </li>
                                      </ul>
                
              </li>
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 3
  </a>

                
              </li>
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 4
  </a>

                
              </li>
                      </ul>
              </li>
          <li>
        
<a class="sidebarlink"
  href="#">
      Section Title 2
  </a>

                  <ul class="sidebar-sub">
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 1
  </a>

                
              </li>
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 2
  </a>

                
              </li>
                          <li>
                
<a class="sidebarlink"
  href="#">
      Link 3
  </a>

                
              </li>
                      </ul>
              </li>
          <li>
        
<a class="sidebarlink"
  href="#">
      Section Title 3
  </a>

              </li>
          <li>
        
<a class="sidebarlink"
  href="#">
      Section Title 4
  </a>

              </li>
      </ul>
</div>
