<div class="text-image-block">
  <div class="text-img-block-title">
    <a href="{{text_img_block_more_url}}">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 5,
        "heading": text_img_block_title,
      } %}
    </a>
  </div>
  <div class="text-img-block-image">
    {% if text_img_block_more_url|render %}<a href="{{text_img_block_more_url}}">{% endif %}
      {% include "@atoms/04-images/00-image/_image.twig" with {
        img_src: text_img_block_image_src,
        img_alt: text_img_block_image_alt,
      } %}
    {% if text_img_block_more_url|render %}</a>{% endif %}
  </div>
  <div class="text-img-block-desc">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
      paragraph_content: text_img_block_desc
    } %}
  </div>

  {% if text_img_block_more_content %}
    <div class="text-img-block-more">
      {% set text_link = text_img_block_more_content %}
      {% set text_label = text_img_block_more_content ~ ' - ' ~ text_img_block_title  %}
      {% include "@atoms/06-buttons/01-button.twig" with {
        "button_url": text_img_block_more_url,
        "button_content": text_link,
        "button_modifiers": text_img_block_more_modifiers,
        "button_attributes": create_attribute({'title': text_link, 'aria-label': text_label, 'name': text_label}),
      } %}
    </div>
  {% endif %}

  {% if text_img_block_cta_more_content %}
    <div class="text-img-block-cta-more">
      {% set text_cta_link = text_img_block_cta_more_content %}
      {% set text_cta_label = text_img_block_cta_more_content ~ ' - ' ~ text_img_block_title %}
      {% include "@atoms/01-links/cta-link/cta-link.twig" with {
        cta_link_text: text_cta_link,
        cta_link_url: text_img_block_more_url,
        cta_link_icon: "carrot-right",
        cta_link_icon_position: "right",
        cta_link_icon_size: "12",
        cta_link_attributes: {'title': text_cta_link, 'aria-label': text_cta_label, 'name': text_cta_label},
      } %}
    </div>
  {% endif %}
</div>
