/// Link
$color-link: $gray-10;
$color-link--hover: $gray-30;

@mixin link {
  color: $color-link;
  transition: all ease 0.3s;

  &:hover {
    color: $color-link--hover;
  }
}

.link {
  @include link;

  color: $gray-10;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-family: $font-din1451-engschrift;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    color: $gray-40;
  }

  &--primary,
  &--secondary,
  &--black,
  &--white,
  &--disable {
    text-decoration: none;

    &:hover {
      transition: all ease 0.5s;
    }
  }

  &--primary {
    color: $white;

    &:hover {
      color: $gray-10;
    }
  }

  &--secondary {
    color: $gray-10;

    &:hover {
      color: $gray-10;
    }
  }

  &--black {
    color: $black;

    &:hover {
      color: $gray-10;
    }
  }

  &--white {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &--disable {
    color: $gray-40;
    cursor: default;

    &:hover {
      color: $gray-40;
    }
  }
}
