{#
/**
 * Available variables:
 * - link_content - the content of the link (typically text)
 * - link_url - the url this link should poing to
 * - link_attributes - array of attribute,value pairs
 * - link_base_class - the base class name
 * - link_modifiers - array of modifiers to add to the base classname
 * - link_blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - link_content - used to replace the content of the link
 *     Example: to insert the image component
 */
#}
{% set link_base_class = link_base_class|default('link') %}

<a {{ bem(link_base_class, (link_modifiers), link_blockname) }}
 {{ link_attributes }} href="{{ link_url }}"{% if extra1 is not empty %} img-src="{{ extra1 }}"{% endif %}{% if extra2 is not empty %} img-alt="{{ extra2 }}"{% endif %}>
  {% block link_content %}
    {{ link_content|replace({'®': '<sup>®</sup>' })|raw }}
  {% endblock %}
</a>
