[class^="icon-"],
[class*=" icon-"] {
  font-family: $font-icon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-2-medium-down::before {
  content: "\e900";
}

.icon-arrow-2-medium-right::before {
  content: "\e901";
}

.icon-calendar::before {
  content: "\e902";
}

.icon-check-mark::before {
  content: "\e903";
}

.icon-cta-page-url::before {
  content: "\e904";
  color: $gray-10;
}

.icon-download-arrow::before {
  content: "\e905";
  color: $gray-10;
}

.icon-email::before {
  content: "\e906";
}

.icon-eye-closed::before {
  content: "\e907";
}

.icon-eye-open::before {
  content: "\e908";
}

.icon-filter-add-show-small::before {
  content: "\e909";
}

.icon-filter-collapse-small::before {
  content: "\e90a";
}

.icon-filter-hide-small::before {
  content: "\e90b";
}

.icon-info::before {
  content: "\e90c";
}

.icon-location::before {
  content: "\e90d";
}

.icon-menu-close::before {
  content: "\e90e";
}

.icon-menu-open::before {
  content: "\e90f";
}

.icon-phone::before {
  content: "\e910";
}

.icon-play-path1::before {
  content: "\e911";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

.icon-play-path2::before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-resizer::before {
  content: "\e913";
  color: #b2b2b4;
}

.icon-search::before {
  content: "\e914";
}

.icon-social-facebook::before {
  content: "\e915";
}

.icon-social-houzz::before {
  content: "\e916";
}

.icon-social-instagram::before {
  content: "\e917";
}

.icon-social-pinterest::before {
  content: "\e918";
}

.icon-social-twitter::before {
  content: "\e919";
}

.icon-social-youtube::before {
  content: "\e91a";
}

.icons_demo {
  list-style: none;

  li {
    width: 24%;
    display: inline-block;
    padding: 20px;
    text-align: center;

    [class*=" icon-"],
    [class^="icon-"] {
      font-size: 30px;
    }
  }
}
