
{% include "@organisms/01-banners/banner-title--md/banner-title--md.twig" %}

<div class="two-column-temp grid">

  <div class="two-temp-category grid-col-sm-2">
    <div class="two-temp-category-title">
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 4,
        "heading": two_temp_category_title,
      } %}
    </div>
    <div class="two-temp-category-desc">
      <ul>
        {% for two_temp_category in two_temp_categories %}
          <li>
            {% include "@atoms/01-links/link-level/link-level.twig" with {
                'sidebar_link': two_temp_category,
            } %}
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="two-temp-desc grid-col-sm-10">
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: two_temp_paragraph,
    } %}
  </div>
<div>
