


    
<div class="layout-container">
      <script data-name="reload" data-src="/dist/02-molecules/search/header-serach.js"></script>

<header class="header">
      <div class="header-wrapper">

    <div class="header-utility">
      <div class="utility-block">
        <div class="utility-nav">
          <script data-name="reload" data-src="/dist/02-molecules/utility-header/utility-header.js"></script>
<div class="utility-block">
  <div class="utility-nav">
  <ul>
      </ul>
  </div>
</div>
        </div>
        <div class="showroom-wrapper">
          <form method="post">
  <div class="showroom-data">
    <div class="icon-menu-close"></div>
    <div class="showroom-title">
      Find showrooms in the USA
    </div>
    <div class="showroom-input">
      <input type="text" />
    </div>
    <div class="showroom-links">
      <ul>
              </ul>
    </div>
  </div>
</form>
        </div>
      </div>
    </div>

      <div class="primary-header">

        <div class="mobile-version mobile-menu-toggle">
          <a href="#" id="toggle-expand-id-1991852991" class="toggle-expand" aria-label="Toggle expand button">
            <span class="toggle-expand__open">
              <div class="toggle-bar1"></div>
              <div class="toggle-bar2"></div>
              <div class="toggle-bar3"></div>
            </span>
          </a>
        </div>

        <div class="logo-wrapper">
          
<figure
  class="logo"
>
      <a class="logo__link" href="/">
                
    <a href="/">
  <picture
    class="logo__image"
  >
            
<img
  class="logo__img"
      src="../../images/brizo-logo.png"
      alt="Logo"
    />
  </picture></a>
            </a>
  
  </figure>
        </div>

        <div class="mainmenu-wrapper">
          <script data-name="reload" data-src="/dist/02-molecules/menus/main-menu-custom.js"></script>

<div class="hide-block">
  <a href="#" id="toggle-expand-id-1631119829" class="toggle-expand" aria-label="Toggle expand button">
    <span class="toggle-expand__open">
      <div class="toggle-bar1"></div>
      <div class="toggle-bar2"></div>
      <div class="toggle-bar3"></div>
    </span>
  </a>
</div>

<nav >
  <div id="main-nav" class="main-nav">
    
    
                          
        
<ul class="main-menu">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--with-sub"
 Array href="../../patterns/05-pages-home-home/05-pages-home-home.html">
      Home
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-530128593"></i>
      <title id="arrow-id-530128593" class="visually-hidden">Arrow icon</title>
      Back
    </span>

                <span class="expand-sub">
        <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1568633870"></i>
        <title id="arrow-id-1568633870" class="visually-hidden">Arrow icon</title>
      </span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      Home Sub-Page
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1390407263"></i>
      <title id="arrow-id-1390407263" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                          

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub"
 Array href="#">
      Home Sub-Page 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-988420349"></i>
      <title id="arrow-id-988420349" class="visually-hidden">Arrow icon</title>
      Back
    </span>

                <span class="expand-sub">
        <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1788602214"></i>
        <title id="arrow-id-1788602214" class="visually-hidden">Arrow icon</title>
      </span>
          
                          
        
<ul class="main-menu main-menu--sub main-menu--sub-1 main-menu--sub main-menu--sub-2">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-2"
 Array href="#">
      Home Sub-Sub-Page
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-328113084"></i>
      <title id="arrow-id-328113084" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-2"
 Array href="#">
      Home Sub-Sub-Page 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-294153403"></i>
      <title id="arrow-id-294153403" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
              </div>
      </ul>
  
      </li>
              </div>
      </ul>
  
      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--with-sub"
 Array href="../../patterns/05-pages-article-article/05-pages-article-article.html">
      Article
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1454906220"></i>
      <title id="arrow-id-1454906220" class="visually-hidden">Arrow icon</title>
      Back
    </span>

                <span class="expand-sub">
        <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-356186072"></i>
        <title id="arrow-id-356186072" class="visually-hidden">Arrow icon</title>
      </span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
        <div class="sub-data">
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      Article Sub 1
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-692068142"></i>
      <title id="arrow-id-692068142" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      Article Sub 2
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1523166069"></i>
      <title id="arrow-id-1523166069" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
                        

<li class="main-menu__item">
  
        
<a class="main-menu__link main-menu__link--sub main-menu__link--sub-1"
 Array href="#">
      Article Sub 3
  </a>

    
        <span class="menu-back">
      <i class="icon-arrow-2-medium-right" title="Arrow icon" alt="Arrow icon" aria-label="Arrow icon" aria-labelledby="arrow-id-1804402484"></i>
      <title id="arrow-id-1804402484" class="visually-hidden">Arrow icon</title>
      Back
    </span>

      </li>
              </div>
      </ul>
  
      </li>
              </div>
      </ul>
  

</div>
</nav>

          <div class="utility-mobile">
            <div class="utility-block">
              <div class="utility-nav">
                <script data-name="reload" data-src="/dist/02-molecules/utility-header/utility-header.js"></script>
<div class="utility-block">
  <div class="utility-nav">
  <ul>
      </ul>
  </div>
</div>
              </div>
            </div>
          </div>

        </div>

        <div class="header-search-wrapper">
          <form accept-charset="UTF-8" action="/" data-drupal-selector="global-search-form" id="global-search-form" method="post">

  <div class="search-wrapper" id="search-wrapper">
    <input autocomplete="off" data-drupal-selector="form-t-kxjmnnwjwzvatdopeu3c32vsydbh-ob1jsceen4a8" name="form_build_id" type="hidden" value="form-T_kXJmnNwJWzVatdopeu3C32VsYdBH-ob1JsceEn4a8" /> <input data-drupal-selector="edit-global-search-form" name="form_id" type="hidden" value="global_search_form" />
    <div class="search-input-block">
      <div class="autocomplete-container--inner">
      <div class="search-input-wrapper">
        <div class="search-label"> Search </div>
        <input autocomplete="off" class="header-serch-input search-input" data-autocomplete-path="/global-search-autocomplete?field_name=search_input&amp;count=4" data-drupal-selector="edit-search-input" id="edit-search-input" maxlength="128" name="search_input" placeholder="Enter Keyword or Model #" type="search" value="" /></div>
      </div>
    </div>
  </div>

</form>
        </div>

        <div class="mobile-version mobile-search-icon">
          <i class="icon-search"></i>
        </div>

      </div>
    </div>
  </header>
  
    
    
  <main role="main" class="main main--with-sidebar">
    <a id="main-content" tabindex="-1"></a>
          <aside class="main-sidebar" role="complementary">
            
<h2 class="h2 h2--margin">
      Sidebar Content
  </h2>
    
  <p class="paragraph">
          This is sidebar content ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </p>

        </aside>
        <div class="main-content main-content--with-sidebar">
          
<h1 class="h1 h1--margin h1--serif">
      This is a Real Article - serif
  </h1>

    
<h1 class="h1 h1--margin h1--sans-serif">
      This is a Real Article - sans-serif
  </h1>

    
  <p class="paragraph">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>

      </div>

  </main>

      
  
      
  </div>
