
<section class="result-grid">
    {% for item in items %}
    <h4>
        <a href="{{ item.path }}">{{ item.title }}</a>
    </h4>
        <div class="resultslistDesc">
            {{ item.name }}
        </div>
    {% endfor %}
</section>